[2018-06-29 20:50] gilbertohasnofb commented on #13
@wlbragg I don't remember what effect was being used but some aircraft do have this gauge glass effect, though most of those use a very strong and ugly setting. We need to investigate what's possible with FG at the moment -- perhaps starting by asking Thorsten? -- and then test to see how it would look. The aim should be a super subtle effect such as seen in https://github.com/c172p-team/c172p/iss

[2018-06-29 20:52] gilbertohasnofb commented on #741
@callahanp Just one more thing: from your message it is not clear to me if you plan to work on the feature of implementing the alternate static system or whether you were more generally talking about testing the aircraft and just happened to comment on this very issue here. Do let us know of your plans and if you need any help with anything.

[2018-06-29 21:31] wlbragg commented on #13
Well this took all of about 10 minutes to do using the existing interior glass reflection and adding the glass mesh in Blender.
Not bad for 10 minutes worth of work.
I'll push a new branch with it later on tonight if you think were still interested!
https://www.dropbox.com/home/Public/fg/c172p/videos?preview=2018-06-29+16-21-42.mp4

[2018-06-29 21:34] wlbragg commented on #13
I wasn't sure how this was going to work at the start so without any thought I made the glass from the recessed panel edges. I think I should instead make the glass fit the interior edge of the instrument case, would be a much better effect and more appropriate.

[2018-06-29 21:43] gilbertohasnofb commented on #13
@wlbragg That link is broken for me, can you double check it?

[2018-06-29 21:53] wlbragg commented on #13
OK, try it now.

[2018-06-29 22:38] #35 closed

[2018-06-29 22:38] #438 closed

[2018-06-29 22:38] #798 closed

[2018-06-29 22:38] #1069 closed

[2018-06-29 22:38] #1099 closed

[2018-06-29 22:38] #1100 closed

[2018-06-29 22:38] #1104 closed

[2018-06-29 22:38] #1111 closed

[2018-06-29 22:38] #1126 closed

[2018-06-29 22:38] #1127 closed

[2018-06-29 22:38] #1052 closed

[2018-06-29 22:38] #1077 closed

[2018-06-29 22:38] #1133 closed

[2018-06-29 22:39] gilbertohasnofb commented on #13
Looks fantastic. Do you think we can tone down the effect by like 30% of what you have now?

[2018-06-30 18:18] gilbertohasnofb commented on #1108
@wlbragg please check if I did not miss anything or if you want to re-word, add or remove anything

[2018-06-30 18:43] onox commented on #1108
I've simplified the list a bit

[2018-06-30 20:03] callahanp commented on #741
Gilberto,

I have no current plans to participate in aircraft developement unless it
aligns with my current project: building the first instrument for a C172P
cockpit or panel.
I do have a strong interest in the incredibly detailed work you and the
rest of the C172p-team are doing.  I hope to build on that to increase the
accuracy of what I'm trying to construct.

At this point I'm trying to under

[2018-06-30 20:45] gilbertohasnofb commented on #741
@callahanp Not a problem, the misunderstanding came from you commenting on an issue about the alt static source knob. I see that you are answering us by email, but in our interface your response appears as a comment in that specific issue.  See: https://github.com/c172p-team/c172p/issues/741
But no worries, all is clear now.

[2018-07-01 05:04] wlbragg commented on #929
Did this issue not close out for some reason?

[2018-07-01 05:08] wlbragg opened #1137 "Strobe lights dim or too weak"
Would someone like to verify if our strobe lights have gotten too dim? Is it just me or my system or are they dimmer than they used to be?

If they appear correct to everyone else we can close this. They really seem dim to me.

[2018-07-01 05:13] wlbragg commented on #782
@gilbertohasnofb, @onox, This one is really bugging me. I was testing the new lighting systems at night an was landing on the water. The wake was bright white because we don't have any lighting control. I want to do this now even if it is only to correct any existing particle effects day and night ambient light. Eventually it would be nice to add color to the different types of effects and conditi

[2018-07-01 07:14] wlbragg commented on #782
I answered my own question. This is fairly extensive on its own.

This initial implementation covers the available scene lighting and overall terrain type on all the particle effects requiring particle lighting control. Overall being water, land and snow.
I think the only thing I didn't look at yet is the exhaust. I don't know if it has the scene lighting accounted for.

Next stage would be to pos

[2018-07-01 10:33] gilbertohasnofb commented on #929
Closed via https://github.com/c172p-team/c172p/pull/1103

[2018-07-01 10:33] #929 closed

[2018-07-01 10:49] gilbertohasnofb commented on #1137
Looks fine to me:

![image](https://user-images.githubusercontent.com/5700795/42133596-c9dd199a-7d24-11e8-8d4e-fa934d30f098.png)

Do you see it too weak on some particular time of the day or weather perhaps?

[2018-07-01 13:45] wkitty42 commented on #1137
On 07/01/2018 01:08 AM, wlbragg wrote:

someone on the forums was talking about doing MP via machine1<->machine2 and
wanting to fly with their son... their problem was trying to locate each other
when it starts getting dark... i made a few suggestions they could use (CTRL-M
map, infrared filter) but i also did load the craft in the sim and look at the
exterior view... our beacons and strobes do se

[2018-07-01 15:39] wlbragg commented on #1137
@gilbertohasnofb yeah, it was after dark, clear skys. At first I questioned if I even had them on, then when I realized they were on after studying the wingtip for a couple seconds it seemed like they should be considerably brighter. The glare from the nav lights mostly drowned them out.
I don't think they can be made to appear brighter without changing their size though, can they?

[2018-07-01 15:40] callahanp commented on #741
By leaving that extended message attached to this particula/r issue, Is it likely that others in the group have even read it?  Should I address a new e-mail to the group, not in reply to any other e-mail?

[2018-07-01 15:58] gilbertohasnofb commented on #741
@callahanp It is likely that others read it, though sometimes people might skip a message if the thread is out of their area of expertise. Your best bet would be to create a new issue in our repository. Also as much as GitHub does work with email replies the absolutely best way to use it is through its web interface. Please open https://github.com/c172p-team/c172p/issues and create a New Issue (gr

[2018-07-01 16:00] gilbertohasnofb commented on #1137
@wlbragg I am not familiar with how the light system works. But if you find a way of increasing their brightness then feel free to tweak it to your liking. Also, the problem with MP that @wkitty42 describes above might be related not to the strength of the light itself but how quick the dimming curve is applied over distance. Is this dimming by distance configurable by us or hardcoded in ALS?

[2018-07-01 16:18] wlbragg commented on #1137
I am aware of that conversation as well and it may be related, but this is in single player at night I observed how weak the effect is.
Look at night from the front offset from center by 10-15 deg.

It is a better visual in the daylight. It's like the nav lights at night are merging with it and muffling the effect.

[2018-07-01 16:35] wlbragg commented on #741
@callahanp while most of the developers that work on this aircraft may know some of these concepts, what we do here doesn't directly relate to them as they have more to do with the  "rendering" process. Something you might see discussed more often and in greater detail on the developers mailing list.
https://sourceforge.net/p/flightgear/mailman/flightgear-devel/?limit=50&viewmonth=201807
I think y

[2018-07-01 17:16] gilbertohasnofb commented on #1137
@wlbragg I can still see the strobes during the day even at 150m away in helicopter view, but do feel free to increase the effect if you feel like. I do find it a bit weak as well.

Yes, that's how I see as well. We could try increasing the strobe light size and see how that looks.

[2018-07-01 17:46] wkitty42 opened #1139 "Attitude indicator updates"
i'm copying this from email since i can't find the discussion... i think it might have been part of a PR but i don't know and can't find it...

On 07/01/2018 12:32 PM, wkitty42@gmail.com wrote:

so, i've done this...

![20180701-c172p-attitude-indicator-reworked-colors-01](https://user-images.githubusercontent.com/4641713/42137105-9c94bf96-7d34-11e8-8614-29efd269569d.jpg)

![20180701-c172p-attitud

[2018-07-01 17:52] gilbertohasnofb commented on #1139
@wkitty42 Please do not ignore my messages and stop dragging this.

[2018-07-01 17:55] wkitty42 commented on #1139
i haven't been ignoring you... i'm not dragging this, either... i'm trying to contribute and fix a problem that others have raised... i've done no more than you and wlbragg do when you're going back and forth on an issue and working on it...  no sooner do i get it uploaded and noted where needed and suddenly it is invalid??i guess my work is not good enough? :man_shrugging:

[2018-07-01 18:06] gilbertohasnofb commented on #1139
I had replied to that off-topic discussion with the message I quote above. This has nothing to do with the quality of what you are accomplish, the problem is that the premise is wrong: our AI _is the correct model_ as I showed by providing five photos. I am not happy changing the model or colour or design unless there is a proper reason for it, and in this case I don't think there is.

[2018-07-01 18:08] wlbragg commented on #1137
@gilbertohasnofb I'll test a bit more and see if I still think something needs to be done. I'm hesitant to increase the size, But these strobes are suppose to get you attention. This is where the animated world physics don't mirror the real world.

[2018-07-01 18:15] wkitty42 commented on #741
On 07/01/2018 11:40 AM, Pat Callahan wrote:

you have to go to the github site and create new topics there... it would be a
new issue unless it was a comment on a pull request or a file diff...

i don't know of any way to start a new issue on github via email... this isn't
an email list ;)

[2018-07-01 18:31] wlbragg commented on #741
@callahanp @wkitty42

[snip]
 What I am looking for is an understanding of which of these the terms below apply when we look at the C172P's instrument panel in Cockpit right and left and the ifr training views.

I don't see any of this as "issue" pertaining to this development thread. That is why I am suggesting taking it over to the mailing list.

[2018-07-01 18:40] wkitty42 commented on #1139
On 07/01/2018 02:06 PM, Gilberto Agostinho wrote:

is it?

interesting how none of them have the "cage knob" on the bottom right like ours
is... every single one of them has it in the bottom center... but if you keep
looking, you do find other 172s with the blue/brown indicator... maybe they put
in a 3rd party one? maybe they replaced their old one with a new one? i dunno
but you do seem to be abs

[2018-07-01 18:51] wkitty42 commented on #741
On 07/01/2018 02:31 PM, wlbragg wrote:

i don't have any problems with that... i didn't understand what he was talking
about anyway... it just felt far deeper than what we go in the system when it
comes to creating an object and placing it in a scene view...

[2018-07-01 18:52] it0uchpods commented on #1139
Hi,
I can confirm by sitting in the real craft that the indicator does not look flat. You can see depth to it, you can see the oval piece is in front of the behind piece. The "old" indicator had this depth to it, and I am hoping you guys can add such depth to the new one.

In all the photos you linked, @gilbertohasnofb you can clearly see the oval piece with the markings on it in front of the behi

[2018-07-01 18:56] wlbragg commented on #1139
@it0uchpods please open a new issue for that exact change, I see it as well and I think I can fix it. But I want to do it in the appropriate place.
If we decide that we are going to consider a choice of background for the user then I suppose we could tackle both issues here.

[2018-07-01 18:57] it0uchpods commented on #1139
Hi, I'm not home, so I didn't realize this issue was not for the whole indicator when you deferred me here. I'll make a detailed on as soon as I can. Honestly, I think the colors just need to be lightened a bit, then they are fine.

J

[2018-07-01 18:57] wlbragg commented on #741
That is precisely my point and it isn't an issue or pertain to "development" in the context of this project.

[2018-07-01 19:21] wkitty42 commented on #1139
On 07/01/2018 02:57 PM, Joshua Davidson wrote:

AFAIC this issue can easily be used for the whole indicator... the issue title
can easily be changed... i created it because i thought you were on about the
colors and their locations...

that ""oval"" piece you're speaking of is simply a piece of glass or plastic
with the drawing of the craft representation on it... some have that and others
just us

[2018-07-01 19:56] it0uchpods commented on #1139
with the drawing of the craft representation on it... some have that and others
just use a dressed up post to hold the craft representation

No, that is WRONG. That oval is the pitch scale, and it moves up and down with the pitch. The craft symbol is separate from this.
This image shows perfectly what I mean: http://www.aeronautical.co.za/wp-content/uploads/2017/11/RCA22-15_large.jpg

J

[2018-07-01 21:36] gilbertohasnofb commented on #1139
@wlbragg Here is a good reference for the overall look of the AI from the distance of the pilot's eyesight:

![image](https://user-images.githubusercontent.com/5700795/42138945-8e030dae-7d7d-11e8-9367-770622265493.png)

* the oval shape is visible but barely
* we need to map the background behind the oval piece to a black blue horizon without white lines. I will use the left quadrant of the textur

[2018-07-01 21:38] gilbertohasnofb commented on #1139
We can also use a not fully transparent texture to simulate the plastic piece upon which the triangle on the top is drawn into. I will work on these textures soon.

[2018-07-01 21:58] it0uchpods commented on #1139
Hi @gilbertohasnofb I agree, ignore that previous model I posted.
The reason the oval is hard to see is because in that picture, it happens to be aligned with the part behind it, creating the appearance of one part :)

That last picture shows that when it goes away from that center position, it is much more visible. I also think adding moving slightly forward and a shadow may help the appearance?

[2018-07-01 22:13] gilbertohasnofb commented on #1139
@it0uchpods Most models are quite pronounced and the oval part is also curved which gives it a nice impression of depth, but that is not the case of this specific AI as you are noticing. But yes, I think that adding the oval plane a little forward from the back might really do the trick. Cheers!

[2018-07-01 22:15] it0uchpods commented on #1139
I agree, looking forward to see the improvements.

J

[2018-07-01 23:00] wkitty42 commented on #1139
On 07/01/2018 05:22 PM, Gilberto Agostinho wrote:

i never saw your message until later... as previously noted, i saw josh's
original post, responded and then went to work figuring out where our device was
located and then working on the colors /because/ that was what i thought he was
talking about...

maybe for the model being used right now but this issue has come up often enough
over the last y

[2018-07-01 23:18] wlbragg commented on #1139
@gilbertohasnofb @legoboyvdlp I am one step ahead of you. I have already done the mesh work to make the Pitch indicator "oval". I actually used the other reference

![ai](https://user-images.githubusercontent.com/11069680/42139683-3c15d000-7d58-11e8-9795-5bcefa08c6a5.png)

which is not an oval but the top and bottom edge is flattened. I also added a depth to that pitch plate so it will have an edg

[2018-07-01 23:38] it0uchpods commented on #1139
Neat. Sounds good.

Yep, exactly correct. I'm not sure how shadows work with ALS, but maybe there is another way to do it?

J

[2018-07-01 23:46] wlbragg commented on #1139
Here is what it looks like using only a material mapping for color difference. It is too obvious in some light conditions and not obvious at all in others. This is without the p"pitch" edge being mapped to a white texture.

Shows the pitch plate sandwiched between the roll plates.

![ai1](https://user-images.githubusercontent.com/11069680/42140008-eeef6f88-7d5d-11e8-939e-5824c325cbee.jpg)

Same as

[2018-07-01 23:48] it0uchpods commented on #1139
Looks nice, but I think it is slightly too tall.
Also, can you add the lines above the horizon like: https://i.ebayimg.com/thumbs/images/g/LlgAAOSwKBVZupBi/s-l225.jpg ?

J

[2018-07-01 23:52] gilbertohasnofb commented on #1139
Again, there is no issue. If some people think something is wrong it doesn't make it wrong. I posted five photos of the cockpit, I could have posted five hundred. There is no issue, reality is not up to popular vote. Your argument above is absolutely illogical.

What parts are you talking about? If you know of some problems please do let us know. But also do keep in mind that we make mistakes and

[2018-07-02 00:36] wlbragg commented on #1139
@gilbertohasnofb like I said, I was one step ahead. I had already done all this work prior to any of this discussion. I'll get it removed. I have a local branch called ai-upgrade I will push here shortly.

@wkitty42 I have GitHub pinned to the top of my browser. Anytime a tracked issue is commented on the pinned tap gets a glowing icon of sorts to let you know there is new content, then if you go

[2018-07-02 14:38] wkitty42 commented on #1139
On 07/01/2018 07:52 PM, Gilberto Agostinho wrote:

your definition of "an issue" is faulty... as i stated, if something is brought
up numerous times, it IS an issue of some kind, period... that you don't view it
that way is for you to deal with... that you or someone else may find 5000
pieces of evidence supporting your side does not negate the fact that there is
still "an issue" and apparently th

[2018-07-02 14:46] wkitty42 commented on #1139
On 07/01/2018 08:36 PM, wlbragg wrote:

that would have been astronomically more acceptable and "Invalid"... "Invalid"
made me feel like a piece of fecal material being scraped off the bottom of
someone's shoe... all i ask is that folks watch what they say and do and in
which order they say and do them... eg: this issue... you can see "Invalid" was
added first, then the issue was closed, lastly th

[2018-07-02 16:51] wlbragg commented on #1139
I hope no one minds, I renamed and reopened this issue for convenience to work the issues.
@gilbertohasnofb what was the cage knob and cage indicator for. Do you know why it its no longer needed or used?

I've posted a branch with the changes so far. I've done everything I can do to give the parts the appearance of depth.

@gilbertohasnofb don't forget to panel texture needs the AO removed from ca

[2018-07-02 17:34] wlbragg commented on #1139
Thanks @dany93 we're actually removing it as the model were using doesn't have it. I wonder if this model we are using now is electrical VS vacuum and maybe that is why it doesn't have it anymore.

@gilbertohasnofb that reminds me, I didn't do anything about the cage logic in the XML. I'll do that here shortly.

[2018-07-02 17:35] dany93 commented on #1139
Also:
(Caging)

[2018-07-02 17:37] wlbragg commented on #1139
It appears to never have been programmed to do anything in our system.

[2018-07-02 17:50] legoboyvdlp opened #1142 "Tooltip for the dome light is incorrect"
Issue slipped through:
![image](https://user-images.githubusercontent.com/10434911/42178548-bf9ecf6e-7e28-11e8-80f1-590700c046fd.png)

The _WHITE DOME LIGHT_ and _WHITE DOME INTENSITY_ positions should be reversed 😉

[2018-07-02 18:45] wkitty42 commented on #1139
On 07/02/2018 01:37 PM, wlbragg wrote:

really? if you click the button, there should be a little white arm pop out on
the top right maybe about the 25 or 30 degree mark... it holds the AI's moving
parts in place...

[2018-07-02 20:12] wlbragg commented on #1139
Right, but

that is all it does, it doesn't appear to do anything else.

Also anything that it does do apparently is done in the FG source and not in the local aircraft files or system.

So I guess the next question is, does the model we are simulating automatically "limit" the gyro from exceeding limits?

[2018-07-02 20:44] wlbragg commented on #1142
Duuu!, thanks @legoboyvdlp I'll fix it in the Glass panel effect PR.

[2018-07-02 20:47] wlbragg commented on #1142
Also the Wjite typo.

[2018-07-02 20:50] #782 closed

[2018-07-02 20:50] wlbragg commented on #1142
Done!

[2018-07-02 20:53] gilbertohasnofb commented on #1139
@wlbragg I will fix the texture and the lightmap now. About the cage button, this model of AI doesn't have one so we need to remove the cageing 3D knob as well as the xml code.

@wkitty42 In hindsight I could have acted differently both in the way of my responses as well as with the `won't fix` tag. My apologies.

[2018-07-02 21:00] wlbragg commented on #1139
I already removed the cage knob (that has been pushed). I'll remove the code after your done pushing your changes.

[2018-07-02 21:05] gilbertohasnofb commented on #1139
@wlbragg As for the lightmap, it's the panel lightmap that needs to be redone. That map does not have any manual improvement and so it might be worth it to simply re-bake it as it will be tricky to properly remove that knob from all colour channels. Is that too much trouble for you?

[2018-07-03 10:57] legoboyvdlp opened #1143 "Exterior Fuselage Shading Issue"
I noticed a few shading artifacts: notice the angular lines that I circled
![image](https://user-images.githubusercontent.com/10434911/42215954-08597800-7eb8-11e8-8e4f-b8a57a2af566.png)
![image](https://user-images.githubusercontent.com/10434911/42215988-27c8c3e4-7eb8-11e8-8ce1-ad5143799cda.png)

I'm not so sure about whether one of the things I circled is an issue or not, so I put a question mark

[2018-07-03 11:07] gilbertohasnofb commented on #1143
@legoboyvdlp I believe those are mesh problems, but @wlbragg did once mention these sort of things are _very_ tricky to fix. I will let him decide if there is anything to be done about it or not.

[2018-07-03 14:37] wkitty42 commented on #1139
On 07/02/2018 04:53 PM, Gilberto Agostinho wrote:

thank you, giliberto... i, too, apologize for my having ""popped a breaker"" so
fast...old ""electronics" ya know? ;) maybe we can work together
more/better/easier in the future than at odds with...

[2018-07-03 14:40] wkitty42 commented on #1139
On 07/03/2018 10:37 AM, wkitty42@gmail.com wrote:

my apologies, too, for misspelling your name... mea culpa...

[2018-07-03 16:57] wlbragg commented on #1108
I rearrange a couple things, like light maps and procedural glare out of 3d objects and into their own categories.

[2018-07-03 16:58] gilbertohasnofb commented on #1108
@wlbragg I just saw your message in the devel list, please do let us know here what 'deadline' you decide together with James so that we can finish all these new features by then. I would say 2-3 weeks should suffice and we will religiously stick to that. What you guys think?

[2018-07-03 17:00] gilbertohasnofb commented on #1139
@wkitty42 I really appreciate that.

Definitely. I can be a bit of a grump sometimes and I recognize it, let's just try to move on. Apologies again.

Don't worry at all, I'm living abroad for over a decade and if I had a penny for every time someone misspelt my name I would have a lot of pennies :smile:

[2018-07-03 17:04] wlbragg commented on #1139
We've seen it both ways now, cut off like I have it now, or oval.
Which do we want?

Also my question still stands?

[2018-07-03 17:08] gilbertohasnofb commented on #1143
@legoboyvdlp This is definitely due to mesh, see:

![image](https://user-images.githubusercontent.com/5700795/42234295-0957dc7c-7eec-11e8-97cd-e08159fc3130.png)
![image](https://user-images.githubusercontent.com/5700795/42234301-0bd07130-7eec-11e8-98f3-c896ecc057ea.png)

[2018-07-03 17:10] gilbertohasnofb commented on #1139
I frankly don't know and this info might be a bit tricky to find out there, but we can try.

[2018-07-03 17:11] gilbertohasnofb commented on #1139
@wlbragg The reference I had posted https://github.com/c172p-team/c172p/issues/1139#issuecomment-401634964 shows a straight cut on top of the oval part so I think that modelling-wise we are fine, your model looks very similar to that reference

[2018-07-03 17:16] #13 closed

[2018-07-03 17:16] #1139 closed

[2018-07-03 17:16] #1142 closed

[2018-07-03 17:16] wlbragg commented on #1143
Yes and it is so difficult to fix that and not mess something else up. I am pretty sure I actually worked on that area already and that was as good as I was going to get it. I'm taking another look at it now. I'll report back shortly.

[2018-07-03 17:18] legoboyvdlp commented on #1097
Working on this now.

[2018-07-03 17:22] wlbragg commented on #1143
I'm going to make more of a mess than solve if I start cutting mesh to try to remove the abnormalities. Maybe when I learn more I might be able to clean something like that up but not now. the baggage area is another area that is a mess.

[2018-07-03 17:23] gilbertohasnofb opened #1144 "OBS knob of HI should have different label"
Our model of HI only seldom has an OBS knob, but here is a photo of a model P sporting one:

![](http://imgproc.airliners.net/photos/airliners/0/6/9/0595960.jpg?v=v40)

But the label of the OBS knob is different than we have. It should be orange, labelled HDG and with a different symbol:

![](http://www.tghairportshop.com/v/vspfiles/photos/RCA11D-7-2T.jpg)

[2018-07-03 17:31] gilbertohasnofb commented on #1097
Thank you!! We really need this work done for the next release so I _really_ appreciate you doing this! Let us know if you need any help, but as far as I remember the tutorial system shouldn't be too difficult to understand

[2018-07-03 17:32] gilbertohasnofb commented on #1023
@wlbragg this could be our next project together with https://github.com/c172p-team/c172p/issues/802 and from there we finish with all other alterations necessary to finish the interior improvements.

My advice is for us to now select photos of each of the levers that we will use as reference. Our primer and carb heat are looking good now and I really like the throttle and mixture posted by lego a

[2018-07-03 17:35] wlbragg commented on #1108
That's fine with me, we already have enough for a nice, feature packed release. I guess we'll know more on timing when James gets back for vacation.

[2018-07-03 17:51] wkitty42 commented on #1097
On 07/03/2018 01:18 PM, Jonathan Redpath wrote:

yes, this is kinda important since the launcher is specifically adding support
for the c172p tutorials at PHTO... at least one specific support mechanism is
listing the location for the tutorial in the launcher's location history so they
can easily be selected and you start in the proper place for your chosen tutorial...

[2018-07-03 17:53] legoboyvdlp commented on #1097
It's a slow process, particularly since the position of each instrument changed, so I have to recalibrate all the tutorial markers.

[2018-07-03 18:04] wkitty42 commented on #1108
On 07/03/2018 01:35 PM, wlbragg wrote:

did you not see his response on the list?

personally, i'd say that as we get these things updated and applied to master,
we should also be pushing master to FGADDON...

in other words, the huge PR that was just done and advertised as available in
the forums could already be available in FGADDON... then this next one, when it
is completed and applied to mast

[2018-07-03 18:58] wlbragg commented on #1108
@wkitty42 we're not in fgaddon, only fgdata.

[2018-07-03 19:46] wkitty42 commented on #1108
On 07/03/2018 02:58 PM, wlbragg wrote:

OOPS! darned fingers... been typing FGADDON so much today... but yeah... maybe i
can get by the web interface and edit my post to correct that... if i can find
this issue :LOL:

thanks!

[2018-07-03 21:38] wkitty42 commented on #1097
On 07/03/2018 04:27 PM, Jonathan Redpath wrote:

this may be related to the launcher and how it feeds the parameters to the
sim... there's ongoing work in this area...

how are you selecting the lat/lon? in the launcher location tab or by entering
them in the additional settings or maybe on the command line?

where are you specifying the selected parking space??

are you building/using the latest

[2018-07-03 21:38] gilbertohasnofb commented on #1108
Great, but once we have a clear deadline let's state it here and make sure everyone knows about it so that we can also make a major release for our aircraft :smile:

[2018-07-03 21:41] gilbertohasnofb commented on #1097
Thanks for taking your time to do this, I forgot that the recent panel changes will have affected the cockpit positions.

What launcher do you use? I am still using FGRun. How exactly can I try to reproduce the problem?

[2018-07-03 22:16] wlbragg commented on #1108
Per James on the dev list.

So we have some time.

If at all possible, it would be really nice to include, tutorials, variants and previews, states and the current interior work. Of course the current interior work takes precedence over the previews. It needs to be completed before photos are taken.

[2018-07-03 22:45] legoboyvdlp commented on #1097
I use the standard launcher (QT).

Select a parking position, then try to start the taxiing tutorial. It didn't move the aircraft for me.

[2018-07-03 22:59] wkitty42 commented on #1097
On 07/03/2018 06:45 PM, Jonathan Redpath wrote:

i do, too...

can you give steps to recreate? what, exactly, did you set/select in the launcher?

are you starting with the craft secured?

which tutorial are you trying to use?

where does the tutorial expect you to be located?

[2018-07-03 23:40] legoboyvdlp commented on #1097
As I told you, I selected the general aviation ramp parking position at PHTO. It does not matter if the aircraft is secured, since the tutorial system handles that, setting the state correctly. When I select the taxiing tutorial or the preflight and startup tutorials too - though I did not test them, it should move me from the parking position to the specified lat / lon, but it did not.

[2018-07-04 00:08] wlbragg commented on #1097
@legoboyvdlp you may need to make a branch and upload your progress so we can test and follow along with you. Otherwise I have no way to duplicate your state.

[2018-07-04 13:47] wkitty42 commented on #1097
On 07/03/2018 07:40 PM, Jonathan Redpath wrote:

i must have missed that... sorry...

i forgot that it could move you like that... i thought you were saying you
couldn't move the craft like normal... like the craft was still tethered and the
wheel chocks were still set...

i just tested master and the taxi tutorial definitely moved me from KRDU to
PHTO... i also spawned in at PHTO Ga_Parking (not

[2018-07-04 14:29] legoboyvdlp commented on #1097
@wkitty42
Why would they move you to PHTO though? Were you using my tutorial files? The old ones were in Spain 😉 guessing you meant LELL.
I did make a branch, see PR #1146

[2018-07-04 15:56] wkitty42 commented on #1097
On 07/04/2018 10:29 AM, Jonathan Redpath wrote:

:LOL: you are right... i was not using your files... just what is already in
master...

LEBL or LELL, i got moved somewhere and i assumed it was PHTO... PHTO is like 6
hours behind me so still dark there when it is noon here... i was surprised to
see the tutorial adjusted the time of day so we were running it during daylight
hours... but i guess tha

[2018-07-04 16:05] wlbragg commented on #1097
It appears to work for me as well. Is there something specific your doing, like maybe starting at a particular parking position at PHTO VS some other airport? I tried starting at both a hanger and a parking spot at KEQU then turned on the tutorial and it took me somewhere els. I was trying the "taxi" tutorial and it did take me to what looked like PHTO lined up ion the runway.

[2018-07-04 16:06] wlbragg commented on #1097
Try clearing your c172p aircraft-data cache and see if it corrects your issue.

[2018-07-04 16:19] wlbragg commented on #1097
OK, I just tried starting at PHTO "General aviation" parking spot. I tried taxiing and it stayed where I was. I then tried "Takeoff" and it took me to the runway and lined me up.
So if that is the correct behavior then that is working for me.

However I just tried starting at KEQA and then started the taxiing tutorial and it put me on the runway at what appeared to be PHTO. So that wasn't correct.

[2018-07-04 16:30] wlbragg commented on #1097
It appears that if I select and airport and a start  location and then hit the back button, and select a different airport the location radios are blank, as in no default. Is this the same for others?

Does anyone have the latest fix for the launcher and is it still behave this way?

[2018-07-04 17:02] legoboyvdlp commented on #1097
That's exactly what happens. It should set you to the ramp, not the runway.

However... I did have a thought as to why. Let me check something quick...

[2018-07-04 17:04] legoboyvdlp commented on #1097
Does anyone have the latest fix for the launcher and is it still behave this way?

No - it had the runway radio selected, assuming I understood how you reproduced it correctly. My version of FlightGear is from 6/29/18.

[2018-07-04 17:12] legoboyvdlp commented on #1097
ok, so basically, I removed the <airport-id>PHTO</airport-id> from line 16 of the taxing tutorial. I then started at KMKE. I selected the taxing tutorial, I expected it to relocate me to

[code]

Instead, it sent me to 25L at KMKE. It seems that the tutorials ignore the lat / lon.

When I added <airport-id>PHTO</airport-id> back then it sent me to PHTO, but on runway 21 -> not the specified lat/ l

[2018-07-04 17:13] wkitty42 commented on #1097
On 07/04/2018 12:30 PM, wlbragg wrote:

i've seen similar in the last few days... i don't remember how it used to work,
though... i tend to move through the updates too fast to remember what it did
last week...

i will confirm that there is some oddities with the latest launcher code... i've
been testing lat/lon location entries and my starting altitude is no longer
being passed like it was... i c

[2018-07-04 17:16] #1144 closed

[2018-07-04 17:17] gilbertohasnofb commented on #1108
I think we are nearly there. As soon as we finish all major work I will take care of all previews and screenshots.

[2018-07-04 17:21] wkitty42 commented on #1097
On 07/04/2018 01:12 PM, Jonathan Redpath wrote:

did the tutorials ever work with lat/lon? or did they always have to be done
with an airport and a parking place?

there has been some recent work done in the lat/lon area with regard to the
various formats that can be used... we've had the HUD fixed up some time back
for lat/lon stuff there... now that code has been fixed up again so it can be
used

[2018-07-04 17:35] dany93 commented on #1097
@wlbragg wrote

Does anyone have the latest fix for the launcher and is it still behave this way?

Compilation from yesterday.

I tried several combinations (C172P):
- selected an airport, a runway, hit the back button,
selected another airport, a runway,
Fly ==> Battery, Avionic ON, radio frequencies appear (not blank)
- same by selecting a parking.

Was it the right thing to do?

[2018-07-04 18:08] gilbertohasnofb commented on #699
@wlbragg as a matter of fact, all our cubes could use a revamp.

[2018-07-04 18:14] gilbertohasnofb commented on #1109
@wlbragg can you confirm we can close this one? I believe you are done with remodelling the trim wheel right?

[2018-07-04 18:59] gilbertohasnofb commented on #906
@legoboyvdlp since you are working on the tutorials could you check the relevance of this issue?

[2018-07-04 19:07] gilbertohasnofb commented on #1108
@wlbragg Here is my personal list of what we could try to tackle for the next release in categories of importance:

Must solve issues
-----------------
https://github.com/c172p-team/c172p/issues/1097
https://github.com/c172p-team/c172p/issues/1035
https://github.com/c172p-team/c172p/issues/906
https://github.com/c172p-team/c172p/issues/967
https://github.com/c172p-team/c172p/issues/1137
https://gi

[2018-07-04 19:30] wlbragg commented on #1109
Yes, as far as I am  concerned, it's finished.

[2018-07-04 19:39] wlbragg commented on #1108
@gilbertohasnofb wow, thanks for the detail. Looking it over it looks good and much of it should go quickly.
I plan to work on variants after you start on the previews as there may be some specific previews we want for the variants.
I also feel like the "start up state" work is vary important because it is tied so closely with the simulators GUI mechanics now. I plan to dive into that at any time

[2018-07-04 19:50] #1109 closed

[2018-07-04 19:52] gilbertohasnofb commented on #1108
Great! Do feel free to add/remove anything from the list. We can just try to tackle as much. I also added https://github.com/c172p-team/c172p/issues/789 to the list.

[2018-07-04 20:42] legoboyvdlp commented on #1097
Yes, they did - that's how the taxiing tutorial worked. Years ago it worked at KHAF

[2018-07-04 20:47] legoboyvdlp commented on #906
This seems to be the issue I have currently:

Looks like the issue is longstanding...
Anyway, sure I can. Might take a while though.

[2018-07-04 23:09] wlbragg commented on #1097
@legoboyvdlp I've posted to the dev list, lets see where it lands.

[2018-07-04 23:17] legoboyvdlp commented on #1097
Thanks!

I can't check at the moment or post / reply, but the specific issue seems to be that the latitude and longitude in the <preset> tags of the tutorial are ignored.

I postdd a test case above, if nobody beats me to it, i'll copy it to the list in the morning. G'night!

[2018-07-05 03:35] wlbragg commented on #1097
<latitude-deg>19.71731272</latitude-deg>
<longitude-deg>-155.0597483</longitude-deg>
Instead, it sent me to 25L at KMKE. It seems that the tutorials ignore the lat / lon.

@legoboyvdlp I just tried it and it did place me at the above lat and lon. But before it works I have to make sure the QT Launcher radio buttons in the location tab are set to either Runway or Parking. If they are both unselecte

[2018-07-05 18:17] legoboyvdlp commented on #1097
@wkitty42 I just updated my FlightGear.

Didn't you or someone else show a new UI for the location page? I'm not seeing it, just seeing the usual page. I thought you posted a screenshot that had checkboxes for the airspeed, etc...

![image](https://user-images.githubusercontent.com/10434911/42340471-012e75ae-8088-11e8-8ffb-016bf904264c.png)

[2018-07-05 18:23] legoboyvdlp commented on #1097
I also still am unable to reproduce the radio button bug.
 - However - the build number is still 3037, so perhaps the nightlies are not being updated? What build are you all on?

[2018-07-05 19:02] wkitty42 commented on #1097
On 07/05/2018 02:17 PM, Jonathan Redpath wrote:

yes, i only see it when i use lat/lon in the location tab's search bar... after
you put them in and hit enter, the map screen comes up and they're there at the
bottom... heading, altitude, speed, offset, etc...

/me looks at your image...

hey, look at that! you have them at the bottom in the grey bar... can you tell
what your FG version info is fro

[2018-07-05 19:05] wkitty42 commented on #1097
On 07/05/2018 02:23 PM, Jonathan Redpath wrote:

i just updated for the h377 of it... i think i pulled 5 of more yesterday... my
location tab still looks the same as it did the other day when this feature was
refined... i'm guessing that some tabs will look slightly different on different
OSes...

********** 2018-07-05 14:58:09 -0400 **********
********** Total elapsed update and compile time is 0

[2018-07-05 23:07] legoboyvdlp commented on #1097
Actually, I think the Windows nightlies are not being updated, as the latest on Jenkins is 3048. Regardless, there is 10 days before James comes back. Meanwhile I can do the other tutorials.

I'll be leaving for about ten days myself on Monday - but I do plan to bring my laptop, and I will have internet access via mobile although I might not be able to pull or push to avoid a very expensive bill!

[2018-07-07 10:15] dany93 commented on #1130
After discussion, @bcoconni found and pushed the [82cc3893d commit ](https://github.com/JSBSim-Team/jsbsim/commit/82cc3893d70b625de0914796e73b0b9eea340828) in FG, which greatly improves (solves?) this behavior.
The aircraft holds up to 12 - 15 kt crosswind.

To be tested and observed more...

But please, pay attention: I've discovered and described a [bug in JSBSim](https://github.com/JSBSim-Team/

[2018-07-08 15:57] wlbragg commented on #1023
@gilbertohasnofb , yes, where do we start?  Do we have anything specific yet?

[2018-07-08 17:20] gilbertohasnofb commented on #1023
@wlbragg Let's start with remodelling and improving textures of the throttle and mixture levers. The models of these levers vary _a lot_ even within the model P range. This is a photo from the OH-CTL:

![image](https://user-images.githubusercontent.com/5700795/42422229-093ff232-82da-11e8-82a9-0068a7beeb80.png)

Using the OH-CTL photo as reference for our redesign, here is how I suggest our models

[2018-07-10 13:21] wlbragg commented on #802
Starting value of the
Throttle rod
0.09245 cm or 0.03639 in
Mixture rod
0.08757 cm 0.03447 in

[2018-07-10 13:43] gilbertohasnofb commented on #802
0.09 cm? That's the diameter of a grain of rice. Are you sure these dimensions are right?

[2018-07-11 00:55] wlbragg commented on #802
Wow, I'm just a dumb American Imperialist, ha!

Throttle rod
0.36407 - 0.27162
= 0.09245 m
Mixture rod
0.36382 - 0.27625
= 0.08757 m

If you want to verify my excellent math skills!
I was half asleep when I posted that this morning. My blender is set to meters so any measurements I get are meters, not cm.
Sorry about that.
I edited the original post/

[2018-07-11 00:57] wlbragg commented on #802
Those measurements are the "visible" rod. I didn't look at the xml to see what we do with it at startup. Whether we offset it or what.

[2018-07-11 20:08] algefaen commented on #1130
I think this is pretty good now. Tested using 64f3c1 of flightgear next and 63b66a of issue-1130.

Btw., I randomly hit the "90 degree crosswind" glitch you mentioned. Pretty annoying. But that's not triggered by the p_factor-changes, right?

[2018-07-11 21:55] algefaen commented on #1137
It's a bit strange that the white navlight is whiter than our strobes, strobes should have a very high color temperature I think. This is a shot from behind where you see the navlight as a very white dot and the strobes as slightly warmer and bigger:
![image](https://user-images.githubusercontent.com/12012409/42597735-0e627f3c-855a-11e8-93f8-135325a572fd.png) ... maybe that's because there's no "p

[2018-07-11 21:58] algefaen commented on #1137
(I believe we can use the "light-near", "light-far" etc. modifiers to reduce the visual size of the light even if we adjust up the size of the object..? To compensate so that it looks identical, just had a better range?)

[2018-07-11 22:10] dany93 commented on #1130
I hope that you had good holidays and pretty flights.

Good news. After maybe a bit more observation, if you find that the p-factor with this value of 60 (combined with propwash effect) is correct at takeoff and low speed, and at rest with 15 kt crosswind, we can consider asking for a merge. Letting (temporarily?) my `sin(angle)` idea in the fridge. Possibly for later if necessary.
OK?

I think th

[2018-07-11 23:12] gilbertohasnofb commented on #802
@wlbragg So it looks to me our measurements are spot on with what they are supposed to be, correct? If so we can close this issue.

[2018-07-11 23:13] gilbertohasnofb commented on #1023
@wlbragg what do you think about the modifications I suggested above?

[2018-07-12 00:32] wlbragg commented on #1137
While I was working on the "glare" procedural lights I noticed there is supports for the strobes as well. I'll see if I can hook that up and we can compare.

[2018-07-12 00:33] wlbragg commented on #1023
@gilbertohasnofb  looks good. I have a bit of a time conflict currently. Hopefully I can get on some of this during the next week or so.

[2018-07-12 07:38] gilbertohasnofb commented on #1023
@wlbragg no worries, we pick the work up when you have some time. I will take a look at that list of issues during the weekend and see if there is anything I can handle on my own.

[2018-07-12 17:00] wlbragg commented on #802
Yes, looks right.

[2018-07-12 17:04] wlbragg commented on #1023
@gilbertohasnofb mixture is pushed. To keep the "travel" correct I extended the knob closer to the pilot as the knob itself grew in length and slightly in circumference (the amount of the knobs).

[2018-07-12 17:13] wlbragg commented on #1023
@gilbertohasnofb I'm wondering if the ring part with the knobs on it is to "thick/wide". Maybe should be thinner?

[2018-07-12 17:13] wlbragg commented on #1023
Also the throttle looks as if it also has some knobs on it, but maybe not as pronounced?

[2018-07-12 19:19] gilbertohasnofb commented on #1023
They look really good, much better than before, but I have a couple of requests of improvements if you'd have the patience:

1) yellow: the mixture bumps need to be triangular and maybe a tiny bit taller but not as much as I've drawn. Also there should be six and not eight bumps, I am sorry for telling you wrongly before... they are 60 degrees apart (see photo reference from OH-CTL below) green: t

[2018-07-12 20:50] wlbragg commented on #1023
That is actually centered on the smaller ring. I think it is the ring behind it that gives it the appearance of being off-centered because of the white glare effect. So with that said, you have another suggestion. I can map the second ring differently, not using the white glare on it?

[2018-07-12 21:33] wlbragg commented on #1023
Pushed the next round, I don't like the mapping on the Mixture knob, the face where the "imitation glare" is.

[2018-07-12 22:41] gilbertohasnofb commented on #1009
@wlbragg could you give me a hand with this one? I am attempting to create some normal maps to the interior but I don't know how to implement the effect itself. I don't want to push my normal texture to the opened PR since I don't know if the effect will look good or not, so perhaps a new branch for this would be best. How much trouble would it be for you to help me with the effect files in a new

[2018-07-12 22:56] gilbertohasnofb commented on #1110
Here is a better picture:

![](https://cdn.airplane-pictures.net/images/uploaded-images/2017/8/18/949535.jpg)

[2018-07-13 00:10] onox commented on #1011
@wlbragg I've started working on refactoring the MP properties. If there are any effects missing in the list above, feel free to add it.

I've moved several properties from `/sim/model/c172p/securing` to `/aircraft/securing` because navigating to `/sim/model/c172p/` in the property dialog is just a big pain.

[2018-07-13 00:12] gilbertohasnofb commented on #544
@onox limiting the max position allowed at certain airspeeds is easy as one just need to use a multiplier proportional to the inverse of the airspeed within a certain range. But I don't understand what you wrote about using the PID controller to animate the oscillations of an open door in the wind. Isn't there any other way of implementing a smooth random fluctuation to a property?

[2018-07-13 06:03] wlbragg commented on #1023
Pushed the last changes you pointed out. The "glare" texture issue I think will need a texture edit, see below. I did correct the white on the back "hidden" side, the mapping was slightly off the texture and into the white.
I forgot to shorten the "closest to pilot" ring on the mixture you pointed out in the prior commit, so that is included in this one.
I still need to do the base upgrades for bo

[2018-07-13 06:11] wlbragg commented on #1009
@gilbertohasnofb sure, Let me set it up using this map and I'll push a new branch and we can see how effective (or not) it is!

[2018-07-13 18:05] gilbertohasnofb commented on #1023
@wlbragg Hmm, I think the bumps were looking better before. They are way too wide now. Compare what we have with this:

![](https://i.ytimg.com/vi/NGndkJ2JlnQ/maxresdefault.jpg)

Also, I just pushed a commit in which I removed those reflections. I also added a new texture which should be applied around the lever (where those triangular bumps are):

![image](https://user-images.githubusercontent.co

[2018-07-13 19:02] #1130 closed

[2018-07-14 04:14] wlbragg commented on #1023
@gilbertohasnofb

You know your killing me, right?
I'm trying to avoid making the knob from scratch. The prior way you thought was too thin was made that way because I also thought this last way was to fat when I originally tried it.

So now I split the difference, it is wider than the "too thin" one, but thinner than the to fat one! New mapping. Still need to do the base for both mixture and thro

[2018-07-14 12:04] gilbertohasnofb commented on #1023
I am so sorry for being picky on this one. On the plus side, your last push looks very good and I think we are done with the models! I also noticed the UV-mapping of the part containing the bumps seems to be ready, do you think you could bake a AOmap for it so that I can apply it to the textures? That will make the bumps more visible due to the shadows and stuff. Then I can also use that AOmap to

[2018-07-15 09:12] algefaen commented on #1128
Yeah, that code is a certainly not the easiest to dive into. There's a bit too many magic numbers and tables, so it feels like reading code that's written based on good sources (a book, a good article) but without having the source to make it understandable.

[2018-07-15 15:54] algefaen commented on #1128
I'll open a JSBSim ticket to get their input...

[2018-07-15 16:18] algefaen commented on #1128
JSBSim ticket: https://github.com/JSBSim-Team/jsbsim/issues/96

[2018-07-16 14:29] dany93 commented on #438
@gilbertohasnofb @wlbragg
I cannot get your very nice instrument lighting as in  [this message](https://github.com/c172p-team/c172p/issues/438#issuecomment-401042509) (28 june 2018). I guess this is what you call "post illumination"?
Only the Radio Lighting knob works, it makes the radio frequencies (as expected),  oil pressure/temp indicator and RPM illuminate (which is as expected if I understan

[2018-07-16 14:35] gilbertohasnofb commented on #438
@dany93 Before we try anything would you mind deleting your `c172p` folder inside the `aircraft-data` as to make sure this isn't caused by the cached properties? We had plenty of bugs that were caused by that when working on that branch so I just want to make sure. Once that's cleared out we can see if the problem persists and troubleshoot it, this issue you raise is of course of very high priorit

[2018-07-16 14:54] dany93 commented on #438
@gilbertohasnofb
Thank you for your quick response.

I removed (not deleted, but took it off its directory) c172p from `flightgear/fgdata/Aircraft`.
Do you think that's enough?
Is there something else that I can check or do to avoid useless work to you?

For these quick tests, useless to say that I use the Autostart, but it seems normal (dome-red = 0).

I hope that is not due to my graphics card (

[2018-07-16 14:57] gilbertohasnofb commented on #438
@dany93 oh we have a misunderstanding here, I did not mean for you to remove the aircraft folder, but rather the cache file. FlightGear has a hidden directory in which it keeps the parameters that need to be saved in between sessions (e.g. if you want to save the position of the switches, etc.). This directory on my Linux machine is located at `~/.fgfs/aircraft-data`. There you will see a `c172p.x

[2018-07-16 15:08] gilbertohasnofb commented on #438
Also, one more thing: the PANEL LT knob should _always_ do something if you raise its value. This is because there are three settings for the light it controls: gauges only (what we call post light), red dome light only, both post and red dome. As you see there is no 'off' function for that (which is controlled by a toggle located in the front part of the overhead panel). So twisting the PANEL LT

[2018-07-16 15:58] dany93 commented on #438
1-  I've moved the c172p.xml file from .fgfs/aircraft-data, at no avail.

(Default settings, my previous settings were lost, 160 hp etc...).
Autostart only, changing nothing else.
Lighting Mode = POST
White Dome light = OFF

2 - I rotate the **Radio LT, Panel LT knob.**
OK, No other one?
I see two roles (after the values):
- Instrument Lighting
 and
- Radio Lighting

Radio lighting has an effect,

[2018-07-16 16:02] gilbertohasnofb commented on #438
Ok, thanks for eliminating the possibility of this being a cache problem. By what you are describing you should definitely see the post lights and we need now to figure why that's the case. Do you have any problems seeing the light effects in other aircraft that use light maps?

My computer has both an Intel and an Nvidia cards. I will test these effects with the Nvidia later tonight and let you k

[2018-07-16 16:38] dany93 commented on #438
Not that I noticed.

On the c172p, I think having every external lights (beacon, strobe, red and green navlights), taxi, landing lights _on the aircraft_.
I also have the _runway illumination_ at night with taxi and/or landing lights "ON" _(although hard to see because of the upper edge of the dashboard) is high. Like IRL for me... Realistic !!)_.

[2018-07-16 16:44] gilbertohasnofb commented on #438
@dany93 the thing is that each of these type of lights use a different technique. The post and dome lights use light maps which is not used in any of the other ones you named. @wlbragg would you know some other aircraft that makes use of lightmaps so that Dany can test them?

[2018-07-16 16:51] dany93 commented on #438
Rembrandt?
Tested with the DR400 JSBSim, it works.

[2018-07-16 17:14] wlbragg commented on #438
As far as I know that GC should work fine. @dany93 can you run the shuttle? IF so do you get any interior lighting in it.
As far as I know we don't test for or support Rembrandt and it should be off.

As @gilbertohasnofb indicated, if the "instrument light" knob is at 100% and you have power to the buss, you should see something in the way of lighting on the panel no matter the configuration of th

[2018-07-16 17:14] wlbragg commented on #438
Are you saying that has light maps that worked?

[2018-07-16 17:23] gilbertohasnofb commented on #438
Rembrandt lights are yet another technique which is different than using light maps AFAIK.

[2018-07-16 17:54] HHS81 commented on #438
@wlbragg yes, the c182 uses lightmaps. We have for each of the three dome lights one lightmap,  one for the glareshield light,  and one for the center pedestal light. Just the instruments doesn't use lightmaps and that's o.k. for me.

[2018-07-16 18:17] gilbertohasnofb commented on #438
@dany93 please give the c182s a spin then and tell us what you can see. I will switch to my Nvidia card and test both the c172p and the c182s later tonight and let you know of what I can see.

[2018-07-16 20:37] gilbertohasnofb commented on #438
Just confirming that the light maps of both the c172p as well as the c182s work fine on my laptop regardless of the video card I use (tested with both a NVIDIA GeForce GTX 1050 and an Intel HD Graphics 630).

[2018-07-16 21:38] dany93 commented on #438
![image](https://user-images.githubusercontent.com/11994061/42784848-b7c9af10-8950-11e8-8238-c57645f1e1ba.png)
c182s from FGAddon, this day
I guess that the three or four instruments with no illumination are those with light maps?

[2018-07-16 21:41] gilbertohasnofb commented on #438
@dany93 could you try turning the GLARESHIELD knob (bottom knob, rotate the inner part) all the way to 100% and post an image?

[2018-07-16 21:49] dany93 commented on #438
![image](https://user-images.githubusercontent.com/11994061/42785427-bda65fa8-8952-11e8-9f1c-f6ed089e2bc3.png)
With Glare shield Lights 100%

[2018-07-16 21:55] gilbertohasnofb commented on #438
@dany93 Yeah, the light map is definitely broken for you. You should see something like this:

![](http://wiki.flightgear.org/images/e/eb/C182-cockpit-at-night.jpg)

Since this happens with aircraft from both projects I suspect this issue is related to your video card and/or to the implementation of the light maps in the source code rather than anything we did here locally. Maybe we could raise th

[2018-07-16 22:16] wlbragg commented on #438
@dany93 can you also post your log using loglevel = debug

[2018-07-16 22:31] dany93 commented on #438
[fgfs.log](https://github.com/c172p-team/c172p/files/2199536/fgfs.log)

[2018-07-16 22:58] wlbragg commented on #438
@gilbertohasnofb I wonder if we shouldn't include an option in the GUI to use integral lighting (material animation) instead of post lighting (light maps) for those with weaker GPU's.

I know this is probably the 3rd time I have suggested this and we keep deciding against it. But I am concerned that we are going to catch flack from the dev list folks if we get very many reports of the light maps n

[2018-07-16 23:15] gilbertohasnofb commented on #438
Surely we can consider doing that in this case if you want to go through the trouble, but personallyI would rather focus on developing more interesting things for the major upcoming release. Our aircraft is already quite heavy so that folks on _very_ low end PCs might not be able to fly it any longer (though they have the option of reverting to any old state of our master if that's the case). We n

[2018-07-16 23:17] gilbertohasnofb commented on #438
I wholeheartedly disagree with this suggestion. We haven't seen a single model P having that and I would find it sad that we would compromise a proper simulations just to hack our way around a graphic bug. This would also teach people that the RADIO LT would control all panel lights and that PANEL LT would do nothing, which is unrealistic. IMO that's a big no no.

[2018-07-17 07:57] dany93 commented on #438
Some more info about my config, in case Thorsten would ask for it.

[code]

[2018-07-17 17:16] dany93 commented on #438
[My first fgfs.log](https://github.com/c172p-team/c172p/issues/438#issuecomment-405401664) was not at debug level.

Here is one at debug level.
[fgfs.log](https://github.com/c172p-team/c172p/files/2202654/fgfs.log)

Sorry.

[2018-07-18 16:42] wlbragg commented on #438
@dany93 still nothing noticeable or wrong that I expected to see in the logs, thanks.
Would you mind posting your specs to the Dev list and ask the question there about that card and it is known to have a problem with light map shader. Make sure you generalize it and attribute the problem to more aircraft than only the c172p. More eyes on it the more likely we'll get answers.

I looked up some det

[2018-07-18 16:51] gilbertohasnofb commented on #438
This. Agreed 100%. So let's see what comes out from the mailing list and from Dany's tests and then we see what to do. I sympathize as well with avoiding future negative critiques, but let's keep in mind that this is a problem with the light map system not our aircraft. So let's wait for some more information and then we decide how to proceed -- I would be happy to help if we decide to implement t

[2018-07-18 17:35] dany93 commented on #438
@wlbragg
model-interior-ALS-detailed.frag
model-interior-ALS-detailed.vert
#version 110 or 400 changes nothing.
_(Changed it back on 120)_

[2018-07-19 16:10] wlbragg commented on #1097
@legoboyvdlp in case you haven't seen this yet.

?Is that acceptable?

James

	/sim/presets/airport-requested
	/sim/presets/runway-requested
	/sim/presets/parking-requested
.. all of which are bool and should be set if the corresponding property contains valid data for the next reposition.

[2018-07-19 17:32] wlbragg commented on #1023
@gilbertohasnofb check this AO map. The Carb Heat part is probably better than what you have as well. I baked it in two passes to get the overlapping parts correct. I redid the Mixture UV map (the new texture part) as the way I had it didn't give you a valid AO map. I can make any changes you need and I still have to do the base. I may have to bake the light map unless you can figure it out with t

[2018-07-19 22:14] gilbertohasnofb commented on #1023
@wlbragg thanks for the AOmap but I think we have a small problem. The knuckles of the mixture lever are not matching the AOmap. In the image below, the green lines mark the steep changes of angles in the lever (i.e. the regions that should have a fairly large change in lighting) while the purple marks the places where the lighting is effectively changing with the current AOmap you posted above. N

[2018-07-19 22:32] gilbertohasnofb commented on #1023
@wlbragg I just pushed some improved light maps for the EGT (which was pixelated with the white dome light) and for the panel with the new lever and knob positions.

[2018-07-20 03:25] wlbragg commented on #1023
@gilbertohasnofb Shoot, that's my fault. I re-UV-mapped the Mixture and forgot to push that also, It will line up once I push a new c172p.ac and Blend. I will push that tonight with the base for the Throttle and the Mixture levers. Sorry, I am a bit distracted as of late.

Hum, that's odd. Let me finish the throttle and mixture bases first and is there any other instruments, levers or any thing el

[2018-07-20 04:53] wlbragg commented on #1023
@gilbertohasnofb we need new textures for the throttle and mixture bases, see below:
Note, the NEW throttle hexagon nut is mapped to the avionics switch texture and needs its own texture. Both the throttle and mixture rectangle textures (for the bases) could be replaced with chrome circles instead of the rectangles they currently are mapped to.
I pushed the new mesh if you need to see it.

![mix](

[2018-07-20 05:01] wlbragg commented on #1023
@gilbertohasnofb I just noticed in my light map blander file (also used for the AO maps) that the knobs and bases for the knobs have issues as to their locations. It looks like I have the old base mesh in their old positions and the new base mesh in their new positions, so quit frankly I am not sure what that AO map is going to give you. That may be the "upside down" issue with the light maps as w

[2018-07-20 11:32] gilbertohasnofb commented on #1023
But was the AOmap for the correct model or for the old one? I will test your commits later tonight.

No rush. I think this is probably caused because we have been re-UV-mapping a lot these levers and perhaps the lightmap doesn't match it any longer. Later we can generate a new lightmap and AOmap for the panel_parts once all new models are ready and done and that should fix everything.

The models

[2018-07-20 16:38] legoboyvdlp commented on #1097
Great! Are those tags new in FG 2018?
Back home and back at work 😄

[2018-07-20 16:43] wlbragg commented on #1097
@legoboyvdlp
No, I guess we didn't know about them. I added those tags locally and they worked, you still need to add them to the repository files and test them on your end.
Welcome back! Hope you had a great vacation.

[2018-07-20 18:20] gilbertohasnofb commented on #1023
@wlbragg I love the new bases, I will make textures for them right now.

As for the AO map of the mixture lever, I am really not convinced about it. Here is how it looks like at the moment:

![image](https://user-images.githubusercontent.com/5700795/43018535-ebb0abea-8c51-11e8-8625-939288676e28.png)

The problem is that the dark and light parts still do not match at all with the bumps in the model

[2018-07-20 18:31] gilbertohasnofb commented on #1023
The bases are done, orange is for the throttle and purple is for the mixture:

![image](https://user-images.githubusercontent.com/5700795/43019034-7288171a-8c53-11e8-8cc1-fbff44a9b09a.png)

[2018-07-20 19:33] onox commented on #438
@wlbragg My potato is 5 years old. And it can run the c172p with the light maps just fine. Maybe not 60 fps (rather 20 to 25), but it's still flyable (as long as I avoid certain scenery). Do we really want to support videocards that are over a [decade old](https://forum.flightgear.org/viewtopic.php?f=37&t=34521) and have 6x less GFLOPS than my Intel card? I say those people can use the basic rende

[2018-07-20 19:40] gilbertohasnofb commented on #438
@onox I agree with you on this.

That could be useful, dany. If by any change the shuttle runs fine then the issue would be with how the light maps are implemented in the c172p and c182s, though I find that to be very unlikely to be the problem.

[2018-07-20 21:07] wlbragg commented on #1023
You're forcing me to learn a new technique of unwrapping seems :smile:.

Time passes...

OK I found a video that showed me somewhat how to unwrap it like you want.
This is what it would look like if I use that technique.

![mix2](https://user-images.githubusercontent.com/11069680/43024826-1798d9ca-8c35-11e8-92fd-34167d05eaa4.jpg)

Now, with that said, what I  originally did, that you used, was to

[2018-07-21 04:37] wlbragg commented on #1096
@gilbertohasnofb

First pass at the Low Voltage LED.
Needs texture for the base and the lamp.
![led2](https://user-images.githubusercontent.com/11069680/43032141-6dad50da-8c75-11e8-9d9e-c6a9a9315087.jpg)
![led1](https://user-images.githubusercontent.com/11069680/43032142-6f6c3e04-8c75-11e8-9865-8e132cc904af.jpg)
![led](https://user-images.githubusercontent.com/11069680/43032149-94de5a0a-8c75-11e8-

[2018-07-21 06:39] wlbragg commented on #1110
@gilbertohasnofb
First pass for the sun visors.
Not sure where you want to add the textures. As you can see I am currently using panel_parts. I don't know if this particular texture is used for something or not. We need a texture for the visor rods as well.

![visor2](https://user-images.githubusercontent.com/11069680/43032936-ca15bb30-8c86-11e8-9d72-934ac882d22b.jpg)
![visor1](https://user-images

[2018-07-21 06:40] wlbragg commented on #1110
Who wants an animation job?

[2018-07-21 06:40] wlbragg commented on #1096
Anyone want to volunteer to create the system logic for this?

[2018-07-21 06:43] wlbragg commented on #1023
@gilbertohasnofb is there other mesh objects that need created?
See Low Voltage LED #1096 and Sunvisors #1110

[2018-07-21 15:10] legoboyvdlp commented on #1097
Hello,
Do we need the pattern tutorial? I really don't feel like spending the hours and hours it would take to fly the pattern, get the latitude, and painstakingly adjust and correct it. But if you think it needs done, I can do it...

[2018-07-21 15:14] wlbragg commented on #1097
@legoboyvdlp I think we should provide it as it is a very important part of beginning instruction for pilots. :sad

You really think it will take a long time to reproduce?

[2018-07-21 15:17] legoboyvdlp commented on #1097
It probably would if its anything like the taxiing tutorial, unfortunately.

[2018-07-21 15:21] wlbragg commented on #1097
@legoboyvdlp I just took a quick look at it and it looks like it is all heading cues, so it may not be as bad as you anticipate. There is a lat/lon cue at the end to exit.

Don't take this as me volunteering, but if you decide you don't want to spend the time to update it, I will because I think it is that important.

[2018-07-21 15:30] legoboyvdlp commented on #1097
I didn't test it yet, but its uploaded. That was rather quicker than I thought 😂

[2018-07-21 15:34] wlbragg commented on #1097
After I looked at it and I saw it was mostly heading cues, I didn't think is should be that difficult. I'm glad it turned out to be the case or my name would be mud right now, ha!

I'm board at the moment so I will test it right now.

[2018-07-21 15:56] gilbertohasnofb commented on #1110
@wlbragg I am having some big issues with my computer which might require a full reinstall of everything... this means I might not be able to work in the next few days. But as soon as I am able I will deal with all these textures.

Some comments though:

* that texture you used is the checklist pocket texture I believe. It does look good, but the light maps might be screwed up if we keep them this

[2018-07-21 15:57] gilbertohasnofb commented on #1096
@wlbragg I will add a texture for the LED lamp and for the metallic base. The model looks good but looks a bit too big for me. I think it needs to be half the current size. Look at those photos above and compare its size to the gauges around it.

[2018-07-21 16:00] gilbertohasnofb commented on #1023
@wlbragg there is this: https://github.com/c172p-team/c172p/issues/1098

And if you feel like, these here also involve mesh work:

https://github.com/c172p-team/c172p/issues/1122
https://github.com/c172p-team/c172p/issues/1143
https://github.com/c172p-team/c172p/issues/1093
https://github.com/c172p-team/c172p/issues/1030

[2018-07-21 16:02] gilbertohasnofb commented on #1097
@legoboyvdlp I can't tell you how much I appreciate you taking this issue, this is one of those that we really must tackle before the release. Thanks a lot!

[2018-07-21 16:06] wlbragg commented on #1096
I thought so too, I already reduced it a couple times to get to that size. I was having a hard tine judging it. OK, I'll reduce it some more.

[2018-07-21 16:07] gilbertohasnofb commented on #1096
@wlbragg I am only judging it from the image you posted, not from what you pushed. My sim isn't running due to my problems. So using your last screen shot, the LED should be smaller.

[2018-07-21 21:46] wlbragg commented on #1110
Too late, I am almost finished with the animation.

[2018-07-21 21:48] wlbragg commented on #1110
@gilbertohasnofb I hope you get you CPU straightened out without too much trouble. I know that can be a real pain in the neck, good luck!
No worries!

[2018-07-22 01:48] gilbertohasnofb commented on #1096
@wlbragg textures pushed to `panel_parts` on the top right corner:

![image](https://user-images.githubusercontent.com/5700795/43041470-a8a72ca8-8d59-11e8-99e5-b1e3a61de144.png)

The question is how do we make the LED turn brighter when on? Do we need a second texture which has a more intense red and much lighter?

[2018-07-22 01:50] gilbertohasnofb commented on #1110
@wlbragg I spent the day fixing my CPU and is still not over... all of this because I tried plugging an HDMI monitor and my NVIDIA driver on Linux went mental. Anyway, about the texture, they are done but there was no place in `panel_parts` so I added them to `interior` as that also make sense. See top left corner:

![image](https://user-images.githubusercontent.com/5700795/43041477-f866596c-8d59-

[2018-07-22 03:03] gilbertohasnofb commented on #1110
@wlbragg I just managed to fire up FlightGear once again. The sunvisors look really good! We just need to adjust their position and size a bit. The pilot should be able to comfortably see the thermometer if the visors are up. I think the visors should be shorter (that is, not come that close to the thermometer in the horizontal) as well as be raised a bit). See these two photos are reference for a

[2018-07-22 04:29] wlbragg commented on #1110
Good deal, thanks for the better image. I couldn't tell where exactly to put them or how big to make them with only that other picture as a reference. I think I have a better idea now, thanks.

[2018-07-22 04:31] wlbragg commented on #1096
Yes, that is how I would prefer to do it.

[2018-07-22 08:15] legoboyvdlp commented on #1097
One error I did find is that with the directional gyro offset at the value it starts up with there is a 20 deg value between what you are told to fly and the actual heading when there is no offset - that actual heading is the same as the heading of the magnetic compass. Perhaps I had twisted the knob round once ages ago and that offset was saved accidentally on exit if it is a persistent property

[2018-07-22 10:46] wkitty42 commented on #1096
On 07/21/2018 09:48 PM, Gilberto Agostinho wrote:

ummm... i don't understand... is there something wrong with using a procedural
light here like is done for the beacons and strobes? why do people do this?

[2018-07-22 11:04] gilbertohasnofb commented on #1096
I will add a second bright red LED texture then. Maybe we can add a tiny bit of glare to it just like you did to the post lights, is that possible?

Procedural lights are excellent for exterior lights but would look absolutely out of place in the cockpit. This LED is weak and when lit you can clearly see its shape and texture. A procedural light would simply add a single light blob there.

[2018-07-22 11:44] wkitty42 commented on #1096
On 07/22/2018 07:23 AM, Gilberto Agostinho wrote:

that was detailed higher in the issue... i know i read it just the other day...
the talk was about the ammeter and how the needle points to the positive side
when the battery is charging, to the negative side when draining and in the
center when not charging or draining... this LED lights at a certain point of
that process... draining, i think...

[2018-07-22 11:46] gilbertohasnofb commented on #1097
@legoboyvdlp I believe the correct value is 221. According to [this page](https://www.airnav.com/airport/PHTO):

![fgfs-screen-003](https://user-images.githubusercontent.com/5700795/43045247-0907762c-8dad-11e8-931a-d926e75fbb76.png)
![fgfs-screen-004](https://user-images.githubusercontent.com/5700795/43045248-093c6f08-8dad-11e8-83a6-a502ea289915.png)

[2018-07-22 11:49] gilbertohasnofb opened #1148 "Magnetic compass missing reference line"
Our magnetic compass is missing reference line which is used to read the value. This is the model in real life:

![](https://studentpilotnews.com/files/2017/01/Compass-Errors-YT-Thumbnail-2.jpg)

and here is a screenshot of ours:

![](https://user-images.githubusercontent.com/5700795/43045248-093c6f08-8dad-11e8-83a6-a502ea289915.png)

[2018-07-22 11:50] gilbertohasnofb commented on #1148
@wlbragg Do you think you could add that whitish line to the 3D model in the very centre of the readout window? The texture actually does have the white line but I can add a larger white square to it if you need for mapping.

[2018-07-22 11:53] gilbertohasnofb commented on #1110
@wlbragg Fantastic work, looks absolutely perfect! Love the animations.

[2018-07-22 11:56] gilbertohasnofb commented on #1096
@wkitty42 Thanks, I just saw that there are some sources above indeed. I will take a look at it all.

@wlbragg now that we have two textures, ON and OFF, how do I go about toggling them? And do let me know if that glare thing is possible similar to the post lights

[2018-07-22 15:15] gilbertohasnofb commented on #1096
@wlbragg I think this system is super simple, I believe the light goes on whenever the voltage is below the green arc (around 25 V) and when the battery is on. So all I need to implement this is to know how to toggle the LED on and off.

[2018-07-22 15:41] gilbertohasnofb commented on #544
@wlbragg it seems we are using a function called `toggle` to animate the doors and windows from a position of `0.0` into a position of `1.0` using the following Nasal code: `c172p.rightWindow.toggle();`

So let's suppose I create a filter which will take the value of `/sim/model/door-positions/rightWindow/position-norm` (0.0 to 1.0) and, using a multiplier proportional to the aispeed, will spit ou

[2018-07-22 15:56] wlbragg commented on #1096
@gilbertohasnofb I'm modeling the second texture now and will give you the object names to toggle the lights shortly. Yes, I think I can add a procedural "glow" that will enhance the effect. I will also give you that name to add to the on/off toggle logic.

[2018-07-22 16:33] wkitty42 commented on #544
On 07/22/2018 12:27 PM, wlbragg wrote:

i agree with this... i wouldn't worry about drag at all for these features (open
door, open window) at all...

[2018-07-22 17:21] legoboyvdlp commented on #544
Actually, if you have ever driven down a highway with a window open (considering the Cessna flies at 130mph or so) I would guess the window drag would actually be fairly large - but thats just a guess. If there is any actual data available anywhere to simulate this, I think it would be good to simulate it.

[2018-07-22 17:55] wkitty42 commented on #544
On 07/22/2018 01:21 PM, Jonathan Redpath wrote:

there's this chart i found on the wiki while looking for something else...

   http://wiki.flightgear.org/AI_Systems#Using_Interpolation_Tables

it'll be handy in another FG related project... i'm sad that it doesn't specify
the altitude for the given speed, though... there's other charts, too... maybe
we need to do some of these on the wiki page so

[2018-07-22 18:13] wlbragg commented on #1096
@wkitty42 another technique that I should probably use is a textranslate animation. On demand it simply moves the texture location from on place on the UV map to another place, thus no need for another object. But you have to deal with UV coordinates (a pain for me) to use it and I don't have any idea how it plays with any of the effects systems so I prefer using this other method.

@gilbertohasno

[2018-07-22 18:15] wlbragg commented on #1096
@gilbertohasnofb sorry I took so long, I had to relearn some stuff and also had some distractions.

[2018-07-22 18:21] gilbertohasnofb commented on #544
I had implemented drag on my branch but I can remove it if you guys don't want it. But the drag is proportional to the door position, so if the door open just partially in flight then the drag will be partial as well. Right now the drag is perceptible only when the doors are fully opened. But again, I can remove it if you guys want. Once the branch is done I will put it up for you all to test.

As

[2018-07-22 18:39] gilbertohasnofb commented on #544
@wlbragg If I understand correctly, the doors are being rotated 70 degrees using a hardcoded value:
[code]

Could I replace this value with a changeable property which would vary from 70 degrees to a much lower value when the airspeed increases?

[2018-07-22 18:41] gilbertohasnofb commented on #544
But that would only change the maximal parameter of the animation once the door animation is activated, but would not change the position of an open door if the airspeed starts to increase... I am thinking I simply don't know enough about animations in order to tackle this one. I can gladly create that filter I mentioned which would spit a new property that will range from `0.0` to a value `<= 1.0

[2018-07-22 19:09] wlbragg commented on #544
@gilbertohasnofb I don't mind having drag included if it is realistic. I'm only wondering if it could in reality be applied. Can you get up to takeoff speed with the door open or would it shut before you even could get off the ground? Could you open the door in flight and why would you?
In the Cub I add it because they actually remove the doors in some variations of service aircrafts. That is the

[2018-07-22 19:11] wlbragg commented on #544
@gilbertohasnofb

I have to put some thought to the problem but I am pressed at the moment for time. As soon as I get back to my computer I will look at this and see if I have a solution.

[2018-07-22 19:13] wlbragg commented on #544
Skydiving might be an example, do they ever jump by opening a door, or is the door removed? If they use a c172 to sky dive from and they remove the door or open it, then I would say yes, lets simulate it.

[2018-07-22 19:18] gilbertohasnofb commented on #544
@wlbragg the idea here (if I understood correctly) is to limit the doors and baggage door opening when airspeed increase. So for instance while at 0 kts the doors can be fully opened, at 30 kts they can be only partially opened, maybe 60%. At higher airspeeds (above 70-80kts) they can be opened 5%. So the effect is that above a certain airspeed the door won't be able to be opened any longer. Makes

[2018-07-22 19:19] gilbertohasnofb commented on #544
and again, the drag will decrease with the door angle so a barely opened door will be negligible while a fully open door at 0 kts will make the aircraft take longer to accelerate.

[2018-07-22 19:31] wlbragg commented on #544
I understand, I am conflating two ideas,..

1) Wind effect on the door being able to be opened and how much and also it should close it if to much resistance is applied from the wind.

2) Effect on the FDM if any from 1) above.

Item 1), yes we might as well simulate it. I'll try to give you some answers to the programming issues in a bit.

Item 2),  Is there ever a period for any reasonable amoun

[2018-07-22 19:44] wlbragg commented on #1096
@gilbertohasnofb sorry for the confusion.
I assumed you are writing the code to check the voltage and when it is at a certain state you will turn a property of your choosing (you create the property) to on, as in the voltage is low and the light should be on now. All you have to do is replace
/sim/model/material/instruments/factor
at line 1450 in Models/c172p.xml with your new property that you cr

[2018-07-22 20:37] gilbertohasnofb commented on #544
IMO not too far, to be frank. A bit of drag is trivial to add but should also be so small that we can even ignore that. I think all we want is to limit the animation max angle according to the airspeed, nothing more.

[2018-07-22 20:40] wlbragg commented on #1096
@gilbertohasnofb there was an error in a comment in Models/c172p.xml that broke the sim. I am pushing the correction now along with the Love Voltage Glow line 1460
/sim/model/material/instruments/factor
needs to also be replaced with your new property.

[2018-07-22 20:42] wlbragg commented on #1096
@gilbertohasnofb I wonder if the on texture should be a brighter orange?

[2018-07-22 20:42] gilbertohasnofb commented on #1096
Sounds good, just push your modifications and I will take a look at the texture and code.

[2018-07-22 20:48] wlbragg commented on #1096
FYI: right now if you don't replace those two lines with your new property the Low voltage LED will light up if you turn the post lights to full intensity if you want to see what it looks like.

[2018-07-22 21:04] gilbertohasnofb commented on #1096
What do you mean by that? I went ahead and implemented the system but I am extremely confused by what you wrote. Are you saying that you tied the post light switch to the texture translate code as a way of me testing it?? If so please don't, I already implemented it properly and it's pushed now. The LED will light up if the voltage is above 0 (i.e. if there is something left in the battery to turn

[2018-07-22 22:06] wlbragg commented on #1096
No worries, I'm not communicating this effectively. We're done I think.

I added the procedural glow and some illumination when the lamp is on. If you have the Master Bat on and the Alt off either running or not the low voltage led comes on.
It looks good both day and night now.

[2018-07-22 23:47] wlbragg commented on #1096
I see it too. It may have to do with the linking of the Master ALT and Bat switch. I'll investigate.

[2018-07-23 03:36] wlbragg commented on #1148
Done.

[2018-07-23 03:46] wlbragg commented on #1096
No, I don't think so. This may not be easy to isolate!

[2018-07-23 09:15] hbeni commented on #544
To propose something in between: i just sugested in the c182s implementation to just clamp the max angle of the doors.
What about adding some nasal snipped that checks airspeed every couple of seconds and trigger the door toggle in case it is open and above a certain low airspeed?

[2018-07-23 09:44] gilbertohasnofb commented on #544
@hbeni sounds good to me. @wlbragg what do you think?

[2018-07-23 09:45] gilbertohasnofb commented on #1096
Ok, I will open a new issue for that.

[2018-07-23 09:48] gilbertohasnofb opened #1149 "ADF radio blinks at higher intensity than the radiostack"
To reproduce this, first make sure the BAT switch it set to off and then set the RADIO LT to a low value like 20%. Now flick the BAT switch on the ADF radio blinks fully bright for a very short period before going back to normal. Its buttons also only lit up after a short delay, and the DME radio also has a delay for its digits. When turning the BAT off, there is also a delay on the ADF radio ligh

[2018-07-23 15:58] wkitty42 commented on #544
On 07/22/2018 02:21 PM, Gilberto Agostinho wrote:

if you've already done it, that's great! i just didn't want to see it take a
while with all the other things going on and have it either get lost, come in
incomplete, push the project back from the planned release branching/tagging, etc...

[2018-07-23 16:10] wlbragg commented on #544
So clamp the angle of the door based on windspeed? Use an interpolation table?

In all honesty I think i would avoid another nasal loop checking a property every few seconds. Even though we do it, we have tried to re-factor as much of that kind of code as we could. Would a listener for airspeed with a if speed > X in it to shut the door work?
@gilbertohasnofb I would still like to investigate your

[2018-07-23 16:20] gilbertohasnofb commented on #544
Lines 3996 and 4097 of `/Models/c172p.xml`

[2018-07-23 16:25] legoboyvdlp opened #1150 "Landing Light Color"
![image](https://user-images.githubusercontent.com/10434911/43089756-6476fee2-8e9d-11e8-97fe-53eb99522a53.png)

Some prankster seems to have painted our landing light bulbs? 🤣

[2018-07-23 16:29] gilbertohasnofb commented on #1150
@wlbragg could you take a look at this? :laughing:

[2018-07-23 16:33] hbeni commented on #544
wouldn't a nasal timer-based loop executing every few seconds (like 10 or so) really be more costly as checking an xml based property every tick?

[2018-07-23 16:42] gilbertohasnofb commented on #544
@hbeni would a 10 second loop really suffice? During take off, for instance, the speed changes very quickly so such loop must be _much_ shorter. Also, in general, I think that Nasal is always heavier than a simple xml listener.

[2018-07-23 17:19] wlbragg commented on #544
I don't know, maybe.  By design we have steadily removed most all the nasal loop checks. I don't know enough about the internals of a listener to know its effectiveness over a nasal loop. One thing in our case would be we add it the main c172p.nas file and it would be a couple lines of code in the listener section with all the rest VS a branched loop somewhere. I personally don't think a loop is t

[2018-07-23 17:30] wlbragg commented on #1150
Wow, I don't get that so there is nothing for me to look at.

I vaguely remember seeing that once but for the life of me can't remember what the cause of it was or if it was something I fixed. Does the color go away when you don't have the green grass in the background?
Because I am certain the time I saw this that the green grass in the background was the cause. But again I don't remember when or

[2018-07-23 17:43] legoboyvdlp commented on #1150
Ah ok - let me check without any grass.
I'm using my tutorials branch.

[2018-07-23 17:45] legoboyvdlp commented on #544
I don't know if this is what you are suggesting, as I haven't been following the discussion, but a listener to a property changing as often as speed is a _really bad_ idea from what I know about Nasal 😉

[2018-07-23 17:52] wlbragg commented on #544
Yeah, I thought about that as well. Ideally it would be a listener for a certain speed, but that is another whole can of worms.

@gilbertohasnofb so what are you stuck on?
[code]
is the alias of
[code]
70 is the max we are allowing the door to open with the use of the interpolation table. and the /sim/model/door-positions/leftDoor/position-norm parameter.

So a filter or whatever you had in mind t

[2018-07-23 18:01] wlbragg commented on #1097
@legoboyvdlp
Any chance your board enough to do
Create tutorials for float variants #1054

[2018-07-23 18:39] wlbragg commented on #1054
Comments for whoever does this...

I added an entry for Hilo International, Hawaii PHTO in the mooring code so you can do "Automatic" mooring or "Go now" mooring.
The mooring position is
[code]
I'm not sure exactly what we want for this?
Options are...
1) regular tutorial starting you moored in the mooring spot.
2) tutorial that has you select "Go now"
3) tutorial that has you select "Automatic" m

[2018-07-23 18:48] wlbragg commented on #1096
@gilbertohasnofb I am getting a low voltage light on idle in the amphibious. I don't know if I maybe let the battery drain prior to this. I suppose letting it idle for awhile should charge the battery past the low voltage point if it is working correctly, yes?

[2018-07-23 18:50] wlbragg commented on #1096
@gilbertohasnofb I am getting low voltage at idle in all variations. Is this correct?

[2018-07-23 18:52] wlbragg commented on #1110
I just discovered I need to limit the forward visor rod swing in the float variants as it allows the visor to hit the reinforcement bars.

[2018-07-23 19:40] gilbertohasnofb commented on #1110
Nice catch. When implementing this, do test changing from the default version to the float version while having the sunvisor in the forbidden place for the float, as to confirm it will change.

[2018-07-23 19:41] gilbertohasnofb commented on #1096
I will take a look at this.

[2018-07-23 19:43] gilbertohasnofb commented on #544
@wlbragg A property cannot be both the input and the output of the filter. So in goes `/sim/model/door-positions/leftDoor/position-norm` and out comes `/sim/model/door-positions/leftDoor/position-norm-effective`. But what to do with that property afterwards?

[2018-07-23 19:44] gilbertohasnofb commented on #1150
I am having some issues here with my FG installation again but I will test this as soon as I can

[2018-07-23 19:51] wlbragg commented on #544
I think it may be as easy as replacing
/sim/model/door-positions/leftDoor/position-norm in the multiplayer section in c172p-set line 441-442 (and 443 if were doing baggage door)
with
/sim/model/door-positions/leftDoor/position-norm-effective

We will have to do some MP testing to be sure all is well.

[2018-07-23 21:56] wlbragg commented on #1122
OK, I made the avionics switch more like the one indicated here. It has a whole punched out and is re-textured to it's original texture. So @gilbertohasnofb this is another object to potentially correct the light map on.

![avi](https://user-images.githubusercontent.com/11069680/43105121-62171a50-8e99-11e8-820b-8e6684a66327.jpg)

[2018-07-23 21:59] wlbragg commented on #1110
Done, I simply limited the range of movement slightly over all to account for the float variants. It wasn't worth adding logic specific to the float variant only.

[2018-07-23 22:37] legoboyvdlp commented on #1096
Ok - it says the same about low RPM on our POH -  light on seems normal especially with electrical load (turning the landing light on and alternator off momentarily is used to test this lamp!), at least for an older Cessna with plenty of wear and tear etc.

[2018-07-24 00:01] wlbragg commented on #1096
@legoboyvdlp thanks, I thought it looked correct as the amp meter was below or at the edge of green.

[2018-07-24 00:04] wlbragg commented on #1122
It actually is textured to the same texture.
See...

![avi](https://user-images.githubusercontent.com/11069680/43109219-442ced6e-8eab-11e8-9240-185215055232.jpg)

[2018-07-24 00:22] legoboyvdlp commented on #1122
Yes - I meant the entire base of the switch (not just the circle but the hexagon) actually - if you compare it to the image I posted originally, it definitely looks much more metallic grey while this one looks a bit like white plastic. I also am not sure about the "dirt" on the bottom half of the texture, as the switch is so small it just shows up as a brown black lowres blob :joy:

[2018-07-24 02:13] onox commented on #1150
I have this issue too. Tested at FHAW.

[2018-07-24 02:47] wlbragg commented on #1150
@onox what branch?

[2018-07-24 16:37] wlbragg commented on #1098
You probably could, but I don't think it worth the pain or the overhead. Those ropes are segmented. I think the aircrane's is 30+ segments. Then the math behind it to do what you want.

Yesterday I tried making a 5 segment cord (similar to the mike cord) and used the mike cord texture to test the look. I had it sag slightly in the middle and narrowed the plug end that would plug into the panel. I

[2018-07-24 16:46] wlbragg commented on #1098
FYI: you really cant see the cord in front of the pilot from the plots perspective.

![yoke1](https://user-images.githubusercontent.com/11069680/43153556-35190c54-8f37-11e8-8ab4-fda0a935330a.jpg)

![yoke2](https://user-images.githubusercontent.com/11069680/43153558-365da8ae-8f37-11e8-97a3-9981fee9384a.jpg)

[2018-07-24 16:53] gilbertohasnofb commented on #1098
That doesn't look bad at all! Do use the mike texture for now and later we can duplicate it if we stick with your solution. And yes, it plugs into the panel, perhaps a tiny bit higher than where you put it from what I can see in the photos posted before.

Great!

I don't have an opinion in what option to try, please try whatever you feel will work better without too much pain. I completely agree w

[2018-07-24 17:30] wlbragg commented on #961
An interesting tidbit I found today. I was searching for a G1000 c172p implementation and found the C172S-G1000-POH.pdf (simple search will find it).
I skimmed through it and was amazed at how detailed the more obscure systems that were included in it.
This details the heat and air system

![c172sp-heat-air-sys](https://user-images.githubusercontent.com/11069680/43155522-40b9d678-8f3d-11e8-955a-c9

[2018-07-24 19:14] gilbertohasnofb commented on #1150
@wlbragg just so that you know, I have been replying to messages but not testing because my FG installation is broken again. Saiarcot's PPA had failed to compile some of the packages and when I went to upload my installation I got some errors and now I can't force the older versions any longer... he said he is working on a fix, so let's hope I am fully back soon.

[2018-07-24 20:36] wkitty42 commented on #1150
On 07/24/2018 03:14 PM, Gilberto Agostinho wrote:

i saw something on the forum about a problem with the PPA... i tagged saiarcot
in and he posted that he was hoping to have it fixed as soon as he was able to
complete he upload of 2018.2.2... kinda funny but maybe not is that 2018.2.3 was
branched today... we still have a couple of weeks for 2018.3.1...

[2018-07-24 20:37] gilbertohasnofb commented on #1150
Thanks for the info, I wrote him a private message as well and he is aware of the problem.

[2018-07-24 23:21] legoboyvdlp commented on #961
Doesn't the 1982 C172P have those diagrams as well? For consistency I feel it is better to stick with the 172P poh apart from the G1000. Otherwise, thanks for posting this!

[2018-07-25 00:19] onox commented on #1098
If it's only 5 segments, the amount of computation needed to simulate it should be limited?

[2018-07-25 00:21] onox commented on #1150
@wlbragg the `master` branch.

[2018-07-25 00:48] wlbragg commented on #1098
5 segments version was for a more simple rotate and translate animation. To do it justice and make it look really cool I think I would do a segment per coil or something close to that. You could potentially get some stretch out of it that way as well.
But the math logic to manipulate the segments would be the difficult part, at least for me.

[2018-07-25 00:53] wlbragg commented on #961
I don't recall seeing anything with this detail. Anyone know what the differences are between the c172p and the c172sp? Isn't it mainly the G1000 and the panel layout? From the description I read that was the inference.

You notice anything wrong with the diagram?
Doesn't it look like they got the upper air and lower air outlets labeled wrong?

[2018-07-25 07:11] legoboyvdlp commented on #961
As far as I know the C172S has the improvements of the C172R:

with the G1000 and a better engine.

[2018-07-25 07:13] legoboyvdlp commented on #961
Page 163:
![image](https://user-images.githubusercontent.com/10434911/43184994-72f9d926-8fe2-11e8-94b5-2cf41015b192.png)

[Cessna_172_C172P-1982-POH.pdf](https://github.com/c172p-team/c172p/files/2226880/Cessna_172_C172P-1982-POH.pdf)

[2018-07-25 11:12] gilbertohasnofb commented on #961
C172P: introduced in 1981.
C172Q: introduced in 1983, basically a model P with a 180hp engine.
C172R: introduced in 1996, first 172 with a fuel-injected engine. This model year introduced many improvements, including a new interior with soundproofing, an all new multi-level ventilation system, a standard four point intercom, contoured, energy absorbing, 26g front seats with vertical and reclining

[2018-07-25 11:40] legoboyvdlp commented on #961
Is our 180hp a C172Q then?

[2018-07-25 11:58] gilbertohasnofb commented on #961
@legoboyvdlp Not really, about ours what we had in mind is a model P with a different engine. This happens a lot in RL, someone owns a regular model P and then upgrades the engine to a 180hp, particularly if they also transform it in to a float variant but not necessarily. That doesn't make it a model Q since that is not what Cessna called it at manufacturing. Of course in the sim there was no man

[2018-07-25 16:30] wlbragg commented on #961
Interesting difference, pilots must have complained about having hot feet! :smile:

[2018-07-25 20:44] gilbertohasnofb commented on #1096
@wlbragg I finally managed to reinstall FG and everything is running fine at the moment. So I had a look at this and I don't think the issue is how I implemented the low voltage light but the issue might be how the electric system is implemented. Should the voltage really be below the green arc at low RPM? If so then all good, if not then that's something to be fixed elsewhere. Also, another quest

[2018-07-25 21:35] gilbertohasnofb commented on #1150
@wlbragg I did test this and on my machine the colour and brightness of the landing light changes a little bit according to the time of day as if it's an illuminated object and not a light emitter. Somewhere around dusk time the landing light did get a bit of a green coloration, but nothing like the first screenshot in this thread.

[2018-07-25 21:46] gilbertohasnofb commented on #1110
Works perfectly well :clap:

[2018-07-25 22:07] gilbertohasnofb commented on #1122
@wlbragg Ok I tried improving the texture but this is a bit difficult because the model isn't matching the reference photo. I adjusted the metallic colour as to match the switch itself but I think we can do with some improvements to the model. Here is my suggestion; above is the current model, below is how to improve it. I think we need to add a 'ring' around the base before the base starts to bec

[2018-07-25 22:14] gilbertohasnofb commented on #544
I am not sure I follow, are you suggesting that changing that multiplayer variable will affect the animation of the plane for an offline single player session? My issue is the following: toggling the doors will still toggle the `position-norm` between `0.0` and `1.0` and I can easily create a filter for an `effective` property to multiply that by a factor in relation to airspeed, but then how can

[2018-07-25 23:42] wlbragg commented on #1096
@gilbertohasnofb

With the ALT on I would suspect not. With the ALT off, according to what @legoboyvdlp posted, yes.

I need to test one more thing and will get back with my final assessment, which as of right now is I think what I am seeing is the correct behavior.

[2018-07-25 23:43] wlbragg commented on #544
If I understand you correctly, yes, make the filter, I think I know what we need to do to use it.

I pushed some changes so please make sure you pull prior to coding and pushing again.

[2018-07-25 23:47] wlbragg commented on #1096
So glad to hear that. I know that can be really frustrating. I've had my fair share of reconfiguring lately.

[2018-07-25 23:49] wlbragg commented on #1137
@gilbertohasnofb
OK, I hooked up the ALS strobes. I adjusted the nav left and right slightly (close range). I made them not so large so the ALS strobes has a better effect. I think it looks much better. I am pretty sure I accounted for everything such as wing damage and non ALS implementation users.
The only thing I haven't tested for is multilayer. I might try to get the user that brought this to

[2018-07-26 01:02] wlbragg commented on #1137
I tested multiplayer and after a couple minor changes it is working fine. Big improvement in visibility. I think people should be happy with it now.

[2018-07-26 01:33] wlbragg commented on #1122
The avionic switch just needed remapped after your texture change. The breaker bases needed a remapping as well, they were using the wrong texture.
All should be good but they all will need new AO and light map.

[2018-07-26 01:47] wlbragg commented on #544
@gilbertohasnofb yes, that is the property that the door animations use.
/sim/model/door-positions/leftDoor/position-norm
and
/sim/model/door-positions/rightDoor/position-norm
respectively.

In the multi-player section in the set file those properties are aliased as
[code]
Replace those with the new filtered versions and it should all work.

The animations use an alias created in Model/c172p.xml a

[2018-07-26 09:49] legoboyvdlp commented on #1096
Actually, even with the alternator on it could be below the green arc at low RPM (600 - 1000) - thats just according to what I read on PPRune, and it might be incorrect.

[2018-07-26 13:15] gilbertohasnofb commented on #1122
That looks good! I think this is job done :smile:

Yeah, we will possibly need to redo the AO and light maps for the three interior textures. Let's just finish with any modelling issues and then we move on to that.

[2018-07-26 13:22] gilbertohasnofb commented on #1096
This is what the POH of the model N (fairly similar to ours) says:

But I think I might have implemented this wrongly. The POH states:

So from that I am now thinking that the LED should be bright when there is a discharge (Anmeter reading negative values) but nothing to do with voltage. It's confusing due to the label 'low voltage', which should be understood as 'battery discharging possibly lead

[2018-07-26 16:33] gilbertohasnofb opened #1151 "Ammeter is the wrong model"
Our ammeter is the wrong model. The 172 model P did not have a gauge showing the voltage, it was just an ammeter showing only the electric current. This is how it looks:

![](https://cdn.shopify.com/s/files/1/1712/9813/products/IMG_5924_80242706-b63f-4b3a-a03d-3b858e28c584_grande.JPG?v=1513264238)

I checked at least 20 photos and 100% of all model P's had this same model and none had a gauge for

[2018-07-26 16:33] gilbertohasnofb commented on #1151
@wlbragg Would you be up to model this new gauge? I can create the textures.

[2018-07-26 18:09] gilbertohasnofb commented on #1151
@wlbragg using the first photo as reference (the one with blue background) I created and pushed a new texture. Top left is the texture for the needle, top right for the recess, bottom left for the metallic mount for the needle, bottom right for the bottom part of the needle.

[2018-07-26 18:09] gilbertohasnofb commented on #1151
See:
![image](https://user-images.githubusercontent.com/5700795/43279939-693ed974-9107-11e8-8443-9e2edf72d3e1.png)

[2018-07-26 19:04] gilbertohasnofb commented on #544
@wlbragg I will try that, but at the moment I am having some issues creating my filters. Can someone help me spot my problem? Here's what I have:

[code]

The formula is basically:

`position-norm-effective` = `position-norm` * max(0.5, (min(1.0, 1 - `airspeed` / 25)))

This should output 1.0 for 0 kts and 0.5 for anything above 50 kts. (note that we need 0.5 as our lower bound because the animati

[2018-07-26 19:32] wkitty42 commented on #1096
On 07/26/2018 09:22 AM, Gilberto Agostinho wrote:

this thing is real easy...

the ammeter is wired in series between the battery and the circuits.

when there is no charging or draining, the ammeter needle points straight up on
zero.

when there is more drain than charge, the ammeter needle leans to the right into
the positive zone. this indicates there is a positive drain on the battery. this
is

[2018-07-26 19:36] wkitty42 commented on #1151
On 07/26/2018 12:33 PM, Gilberto Agostinho wrote:

IMHO, yes it should be re-made... there is a huge difference between an ammeter
and a voltage meter... a really huge difference ;)

we'll still need the voltage code, though... then the ammeter would be driven by
the amperage difference being drawn between the battery drain and the alternator
charge...

[2018-07-26 19:55] wlbragg commented on #544
@gilbertohasnofb should it be <quotient> VS<div>?

[2018-07-26 23:23] gilbertohasnofb commented on #544
That was not the issue as changing the `<div>` to `<product>` and inverting the factor was also not giving me any result. I discovered that the issue was that I needed to wrap everything around an `<expression>` block.

[2018-07-26 23:45] gilbertohasnofb commented on #38
@callahanp the property `/systems/electrical/volts` will still be in use and will have the correct voltage value. The only difference is that our cockpit will no longer have a gauge displaying that value. But as long as you use that property in your cockpit you should be fine.

[2018-07-26 23:46] gilbertohasnofb commented on #1151
Agreed. We took care in checking sources for all our gauges and it is my belief that this is the very last one that needs fixing in order to have an absolutely coherent cockpit of a model P. Shouldn't be too much work I think and the result will be worth  it.

[2018-07-26 23:49] gilbertohasnofb commented on #1096
@wkitty42 Thanks, that's exactly how I implemented it. The only confusion is that the label 'low voltage' is a bit incorrect, as the lights goes on even at nearly full voltage as long as it's draining, as you pointed out. But I think now it's all correct and this light will respond perfectly well to whatever future modifications we do to the electrical system given that it's logic is super simple:

[2018-07-27 11:30] gilbertohasnofb commented on #544
@wlbragg Yeah, and I think this isn't the first time I am caught by that. I was so obsessed that there must be some maths error. Hopefully this is lesson learned this time :smile:

Looking forward to this one!

[2018-07-27 13:50] callahanp commented on #1151
I've got a gauge in my home cockpit that has voltage and amps.  Will the voltage property still be present and accurate after this change?

[2018-07-27 13:54] gilbertohasnofb commented on #1151
@callahanp Hi Pat, see my answer [here](https://github.com/c172p-team/c172p/issues/38#issuecomment-408268434):

[2018-07-28 05:04] wlbragg commented on #1098
@gilbertohasnofb OK, I think this is done. Please review.

[2018-07-28 21:21] wlbragg commented on #1151
This is done.
The new center point for the rotation is
x=-0.36922
y=-0.40925
z=-0.15108
The two objects that get added to that rotation are
Ptr
PtrTip

[2018-07-28 21:40] wlbragg commented on #1151
I cut the glass out and checked the interpolation table. As far as i can tell this is completely finished.

[2018-07-29 00:43] gilbertohasnofb commented on #1098
@wlbragg Looks really good, this is such a clever solution. I pushed the new texture.

[2018-07-29 00:56] gilbertohasnofb commented on #1151
@wlbragg The new model looks _so_ good, thank you so much. I manually improved the light map and added the missing tick to the 0 position to the texture. I also fixed the interpolation table, the extreme values of the new ammeter is 60 amps and not 40 amps. Also, the interpolation was inverted. I think it's all good now.

[2018-07-29 20:10] gilbertohasnofb commented on #1119
@legoboyvdlp Do you know what commit caused this issue? Is this related to the engine damage work that you previously did or is it something new?

[2018-07-29 20:11] gilbertohasnofb commented on #650
@wlbragg would you like to consider to work on this next?

[2018-07-29 20:11] gilbertohasnofb commented on #1009
@wlbragg if you set up the branch do let me know so I can experiment with the textures, ok?

[2018-07-29 20:14] gilbertohasnofb commented on #1093
@wlbragg would you like to consider improving the propeller for the release? I think the issue is two fold:

* the propeller is way too twisted close to the nose
* the round shape of the propeller is too circular in our model, I think that could be a bit better modelled

[2018-07-29 20:47] gilbertohasnofb commented on #1030
@wlbragg I think if we did only two or three small improvements we could potentially close this issue as well:

* what if we simply added a cone object behind the light and let it 'enter' the rudder? I think this way we can easily model this part here:
![image](https://user-images.githubusercontent.com/5700795/43370537-7a9e6ffe-9378-11e8-8844-8ea625d481c2.png)
* the other parts are much less relev

[2018-07-29 20:51] gilbertohasnofb commented on #1098
@wlbragg Just want to say once again how fantastic your solution is. I thought this issue would be nearly impossible to solve easily and it is looking so good. Even the compression of the texture looks natural given that we are modelling a cord like this. Bravo!

[2018-07-29 21:10] gilbertohasnofb commented on #1098
@wlbragg small bug: the cord is not being hidden when the yoke is hidden

[2018-07-29 21:16] gilbertohasnofb opened #1153 "Cockpit shadows are weird in certain situations"
Cockpit shadows are weird in certain situations:

![image](https://user-images.githubusercontent.com/5700795/43370765-c2f0dd1a-937c-11e8-89f4-36f6002038d0.png)

This screenshot was taken at the single parking positions at SAWB. Time was set to afternoon and then I used the time shift to find the exact moment in which the shadows look weird. Seems like a mesh problem? @wlbragg any ideas?

[2018-07-29 21:17] gilbertohasnofb commented on #1153
Just to be clear, look at the shapes of the shadows, how jagged they are, how they change from bright to dark in places that should be uniform, etc.

[2018-07-29 22:47] gilbertohasnofb commented on #1046
@okroth can you please confirm my understanding for this is correct:

1) we should remove the wire connecting the tail to the wings
2) we should add the following antennas which are missing to our aircraft (in orange):

![image](https://user-images.githubusercontent.com/5700795/43371414-6cc300f0-9389-11e8-99ce-e493ed2dc5e6.png)

I checked _many_ photos of model P's today and while nearly 100% do n

[2018-07-29 23:30] gilbertohasnofb commented on #306
@onox I am a bit confused by this issue. The KMA20 does not have any volume knob, it only has toggles that can be set to SPEAKER, HEADPHONES or OFF. If I set COM1 to the ATIS frequency and the KMA20 is has the COM1 toggle set to either SPEAKER or HEADPHONES, then the volume knob in the COM1 radio controls the volume as expected. If the KMA20 is set to OFF then the ATIS message stops to be heard re

[2018-07-29 23:44] gilbertohasnofb opened #1154 "Improve KMA20's marker sensitivity toggle animation"
Improve KMA20's marker sensitivity toggle animation. All other toggles can be flicked either by clicking above or below them (there are two hidden squares as click spots) but also by hovering the mouse above the toggle and moving the mouse wheel up and down. The marker sensitivity toggle does not behave this way as it has a more complex behaviour. Ideally they should all be consistent.

[2018-07-30 00:30] legoboyvdlp commented on #1119
Yes, it was that work.
I thought I fixed this already?

[2018-07-30 00:34] gilbertohasnofb commented on #1119
I haven't test it, I am just going through opened issues. If this was fixed then you can close it.

[2018-07-30 00:40] wlbragg commented on #1098
Done

[2018-07-30 00:45] wlbragg commented on #1153
@gilbertohasnofb that has to be the rendering framework and shadow computation at extreme latitudes. I don't think this is anything we did or can fix. It may have to some do with imperfect mesh, but there is nothing I can do about it. Someone should post the criteria to reproduce on the dev list for Thorsten to take a look at maybe.
I noticed it is only one very tight angle with the sun at just th

[2018-07-30 01:51] gilbertohasnofb commented on #1153
do you mean that the airport location affects that? This airport is in Antarctica and I use it often for testing since since the scenery is lightweight.

Yeah, it's a very specific angle that causes it. I am closing this then and I will drop a message to Thorsten.

[2018-07-30 02:07] wlbragg commented on #1009
@gilbertohasnofb as far as I can tell we don't have the ability to do normal maps in the interior effects framework. It used model-combined-differed. We use model-interior. So unless someone can shed some light on this, it's beyond my capabilities.

[2018-07-30 02:11] wkitty42 commented on #1153
On 07/29/2018 09:51 PM, Gilberto Agostinho wrote:

you should try Diego Garcia ;)

try DG and see if you have the issue... it is closer to the equator and should
provide more info if this is a lighting problem if needed...

[2018-07-30 02:50] gilbertohasnofb commented on #1153
@wkitty42 Thanks for the tips, I will try those airports and see how they compare.

[2018-07-30 02:50] gilbertohasnofb commented on #1009
Well let's close this issue then, this was a super long shot anyway as I don't think these maps would look very good. Our interior is very detailed and I am quite satisfied with it.

[2018-07-30 02:50] #1009 closed

[2018-07-30 03:13] wlbragg commented on #1153
@gilbertohasnofb I am seeing this same issue at my local airport KEQA here in Kansas. So It something new. So I guess we really need to make sure this isn't something new that we have introduced. I need to check c172p in fgdata and our master. Also should check other aircraft with shadows such as the 182.

[2018-07-30 03:22] wlbragg commented on #1153
@gilbertohasnofb this is also in fgdata. I do think it has something to do with the imperfect mesh, but it's not something I can really fix. I think it is just "hard" shadows because of the angles. I also don't think it is something that can be fixed in the effects framework so we may just have to let it go.

[2018-07-30 04:32] wlbragg commented on #1093
@gilbertohasnofb I modified the propeller a bit. This is not the easiest to make changes to because of the texturing involved. So unless it is a glaring problem I don't want to make a lot of changes to it if it is not absolutely necessary. but another round isn't out of the question if needed.

[2018-07-30 04:37] wlbragg commented on #1154
@gilbertohasnofb this switch is a bit different because the toggle down has a mod-up to it. In other words it is made to snap up when switched down. It is not made to stay down. It is a test mode. All the others are pure toggles that are on or off. I'm not sure it would work correctly with the same knob animation as the rest of them.

[2018-07-30 08:50] legoboyvdlp commented on #1119
I don't know, was there a merged pull request for this issue?

[2018-07-30 11:34] wkitty42 commented on #1030
quick off-topic question about the photos above... the light on the top is the tail beacon and the one on the back is the white navigation light that goes with the red and green on the wings... what is the rectangular one on the side under the beacon? is there one on the other side in the same place? is this a tail strobe that would go with the wing strobes... i'm asking for my small AI GA craft l

[2018-07-30 12:35] legoboyvdlp commented on #1030
That's an aerial for something - not sure what, but IIRC for VORs.

[2018-07-30 14:18] gilbertohasnofb commented on #1119
@legoboyvdlp Sorry, I forgot you don't have access to close issues. I think in your case you always need to make sure that when you open a PR you write 'Fixes #xxxx" where xxxx is the issue number. But no worries, I am closing this now.

[2018-07-30 14:18] #1119 closed

[2018-07-30 14:20] wkitty42 commented on #1030
erk! you're right... i see the stiff wire coming out of it now... i was hung up on some craft having more than two strobes on them... apparently some also have some additional ones on the tail area... thanks for the info :smile_cat:

[2018-07-30 14:20] gilbertohasnofb commented on #1154
I see. Ideally the toggle would work with the mouse wheel at least between the up and middle positions. Switching it down could for instance activate a small script which would hold the button down for like 1 or 2 seconds before returning it to normal. But this might be too much work for such a small thing. What do you think?

[2018-07-30 14:22] gilbertohasnofb commented on #1153
is there an easy way in Blender to check if some selected points have the same z coordinate? I think most of the points in the panel should be on a plane and these shadows make me think that they are so ever slightly off this plane. But we can also let this go, it's minor.

[2018-07-30 14:35] gilbertohasnofb commented on #1093
@wlbragg I think it looks better but the propeller is now having a bit of a strange shape when seen from the front:

![fgfs-screen-001](https://user-images.githubusercontent.com/5700795/43403678-9c8f516a-940d-11e8-848c-77986615d960.jpg)

Notice in the photos how the propeller is thicker at a point B between the extremities A and C:

![image](https://user-images.githubusercontent.com/5700795/434038

[2018-07-30 17:25] wlbragg commented on #1093
If I can't reproduce it I don't know where to start to fix it.
I will try to take another look, We may have to ask Thorsten about it.

@gilbertohasnofb I modified a c182s blade. I had to rework the tip and the base a bit, but huge improvement. If you don't mind would you please give credit somewhere in the files, where credit is due, to the original author if you know who created the blades. I wou

[2018-07-30 17:37] gilbertohasnofb commented on #1093
Try this. Start using the default launcher, pick SAWB, afternoon and Core high pressure scenario. The light should already be green. It starts to get back to yellow in the evening.

Wow, that looks really good. Thanks for adapting this! As for who created them, I suppose it was Heiko. @HHS81 can you confirm that?

[2018-07-30 17:38] gilbertohasnofb commented on #1154
The answer possibly lies somewhere between never and incredibly seldom to the point of nothing.

[2018-07-30 18:01] HHS81 commented on #1093
@gilbertohasnofb
Yep, but even I used a model from Syd Adams for the C182S prop. So it is Syd Adams --> Me --> ....

[2018-07-30 18:11] wkitty42 commented on #1154
On 07/30/2018 01:22 PM, wlbragg wrote:

at least every time you're doing the pre-startup checks when you check to make
sure you don't have any burned out bulbs... one might also use it in the air if
they're expecting to be over a marker and they're not seeing/hearing the
indicator...

[2018-07-30 18:46] gilbertohasnofb commented on #1154
@wkitty42 is that on the official checklist or is it something that people 'should' be doing?

[2018-07-30 18:46] gilbertohasnofb commented on #1093
@HHS81 Thanks Heiko, I will add a thank note to both of you.

[2018-07-30 18:53] wkitty42 commented on #1154
On 07/30/2018 02:46 PM, Gilberto Agostinho wrote:

official checklist? that thing in the POH that no one ever looks at and follows?
i don't know... i've never looked at it ;)

i do know about checklists, though... had to actually file them once upon a
time... had to do some when i was working with 18-wheelers... eg: if your brakes
went out because you didn't check them before leaving on a trip, yo

[2018-07-30 18:56] gilbertohasnofb commented on #1093
@wlbragg done, please pull before continuing.

[2018-07-30 19:01] gilbertohasnofb commented on #1154
Oh, I think you are wrong on this one, I really think that most pilots take a quasi-religious approach to the checklist from what I know.

About the checklist and the POH, I checked for the term 'marker' and there are only two mentions, one about the type of the equipment for the marker indicator and other locating it in the panel layout. There is nothing about requiring it to be tested as part of

[2018-07-30 19:06] wkitty42 commented on #1154
i was being facetious about folks not looking at the POH or checklist :wink:

i didn't say it was "required" but yeah, i hear what you're saying... it just seems weird that they'd tell you where it is and not tell you to toggle the switch to test that all three of the marker lights come on when the switch is held... anyway, whatever :lol:

[2018-07-30 19:25] gilbertohasnofb commented on #1154
once you mentioned it I also imagined it would be part of the checklist, at least under some generic item like 'check all radio lights' or something like that but they have nothing.

[2018-07-30 21:03] wlbragg commented on #1154
@gilbertohasnofb I added the knob animation to the Hi and Low portion of the "marker sensitivity". You can use the mouse wheel on Hi and Low, you must use the pick on the lower test label to test.

[2018-07-30 22:26] wlbragg commented on #1150
@gilbertohasnofb this worked for me. In the blend the taxi and landing light object used to attach the light to had a green diffuse and specular color assigned to them. It appears that that color becomes prominent under certain lighting conditions (low light).

[2018-07-30 23:25] gilbertohasnofb commented on #1154
That's a nice solution. I tested it and the only issue is that the angle of the toggle object is too large in the HIGH or TEST positions. Compare it to all other toggles.

[2018-07-30 23:48] wlbragg commented on #1153
I looked at that closely and actually moved all the X coords to the same value all around the recesses on the right side. It didn't help, The panel really needs to be completely retopologized.
This is what the mesh looks like after I fixed the x points to all be the same. As you can see it is still a mess.
This also has to do with using the smoothing tool in Blender. But that is not the only issue

[2018-07-30 23:52] wlbragg commented on #1154
@gilbertohasnofb  this is done.

[2018-07-31 00:33] gilbertohasnofb commented on #1150
Did you push your fix already? I still noticed some green hue in this light

[2018-07-31 00:34] gilbertohasnofb commented on #1154
Thanks, I tested it and it looks perfect

[2018-07-31 00:39] gilbertohasnofb commented on #1153
Yes, it does look quite messy. I will test and see if I can spot the difference. What strikes me is how non uniform some of the mesh is, e.g. the largest circles around these two gauge positions. We can possibly leave this issue opened in case someone in the future feels like improving this.

[2018-07-31 01:49] wlbragg commented on #1150
@gilbertohasnofb yes, I pushed it. I think I may have noticed some color in the lower lighting conditions. In my case I think I see more yellow.
But, did this at least reduce the green considerably for you?
Can you post a new image to compare with your old image?

[2018-07-31 01:53] wlbragg commented on #1030
@gilbertohasnofb her is the first pass at retopologizing the tail section. I haven't touched the texturing. It will need to have the UV partially remapped. Please review and point out any issues when you get a chance.

![tail](https://user-images.githubusercontent.com/11069680/43432891-9b8314d2-943a-11e8-9edf-144aa60b596a.jpg)

[2018-07-31 01:58] wlbragg commented on #1030
![tail2](https://user-images.githubusercontent.com/11069680/43433033-41c54cde-943b-11e8-8636-0b2a61e9b433.jpg)

[2018-07-31 07:42] okroth commented on #1046
Hi,

from Information manual, section 6 "Weight and balance list":
GPS antenna "bubble" centered on top of cabin 43.5" aft datum (firewall)
ADF antenna "soap" centered on bottom of cabin, 39.3" aft datum
Transponder antenna (shark fin) left side on bottom of cabin, 85.3 aft datum
COM1, COM2 antennas on top of cabin, 61.2 aft datum
VOR1, VOR2 antennas 253.4 aft datum
Marker beacon antenna (looks li

[2018-07-31 11:54] gilbertohasnofb commented on #1046
@okroth That's quite helpful but are you sure you are using the model P's POH? I am absolutely sure this model did not come with a GPS out of the factory so I am surprised you are mentioning the GPS antenna on top of the wing. I searched the POH for the keyword GPS and came out with zero results.

[2018-07-31 12:00] okroth commented on #1046
Hi Gilberto,

I am sorry, you are right; I have looked into a 172R IM.
Let me check if I can find the right one.

--
Oliver

Am 31.07.2018 um 13:54 schrieb Gilberto Agostinho:

[2018-07-31 12:25] gilbertohasnofb commented on #1150
@wlbragg I just tested it again and it reduced the green hue considerably, my light was yellow during all times of the day on my last test. @legoboyvdlp and @onox could you please test again and see if it solved for you as well?

[2018-07-31 12:28] gilbertohasnofb commented on #1046
@okroth Thank you so much for the help finding the correct information, I _really_ appreciate it!

[2018-07-31 12:42] okroth commented on #1046
Hi Gilberto,

found the right book, a 1998 European version (D-EACK):

GPS 1102mm aft datum
Transponder antenna 2200mm  aft datum
ADF antenna: 1143mm aft datum
DME - none
COM1, COM2 antenna: 1608mm aft datum
VOR1, VOR2 antenna: 5893mm aft datum
Marker beacon antenna 3338mm aft datum
ELT antenna 3099mm aft datum

--
Oliver

Hi,

from Information manual, section 6 "Weight and balance list":
GPS ante

[2018-07-31 12:46] gilbertohasnofb commented on #1030
@wlbragg please do a `git pull` as I pushed some bug fixes to OH-CTL's tail texture and I also fixed the position of the IFR view as it was not changed after we lifted the cockpit.

[2018-07-31 12:48] gilbertohasnofb opened #1155 "Add black panel behind broken wing"
I think we should add a simple black panel behind the broken wing. Currently you can see the wing interior through the holes but that doesn't look very good, that should be pitch dark. Here is what we have:

![image](https://user-images.githubusercontent.com/5700795/43460349-4595015a-94c8-11e8-86cf-fdf35ddf88c8.png)

And this is what I propose:

![image](https://user-images.githubusercontent.com/5

[2018-07-31 12:51] gilbertohasnofb opened #1156 "Remove shadow effect from radio digits"
I don't think the radio digits should be affected by the shadow effect since they emit light themselves. Under the same RADIO LT settings, compare these two situations:

1) no shadow, all digits have the same light intensity:

![image](https://user-images.githubusercontent.com/5700795/43460507-bca5d648-94c8-11e8-90e9-a0eeeb8123c3.png)

2) under COMs and NAVs under shadows are dimmer, ADF is still

[2018-07-31 12:51] okroth commented on #1046
Ahem...

just found out that this is a 172S
so put that away...

I continue digging

--
Oliver

Am 31.07.2018 um 14:28 schrieb Gilberto Agostinho:

[2018-07-31 12:51] gilbertohasnofb commented on #1156
@wlbragg If this is difficult to see in the post above, open each image to a different tab in your browser and flick between them. The difference will then become obvious.

[2018-07-31 13:47] legoboyvdlp commented on #1046
@okroth
[Cessna_172_C172P-1982-POH.pdf](https://github.com/c172p-team/c172p/files/2245513/Cessna_172_C172P-1982-POH.pdf)
This is the POH we are using if it helps :)

[2018-07-31 13:57] legoboyvdlp commented on #1030
Is it just me or is the top of the stabalizer slightly twisted after the circled part?

![image](https://user-images.githubusercontent.com/10434911/43464074-0841e4f8-94d2-11e8-921f-ddd7cd543fde.png)

[2018-07-31 14:00] legoboyvdlp commented on #1150
Which branch - same as all the other 3D?

[2018-07-31 14:01] gilbertohasnofb commented on #1150
Yes.

[2018-07-31 15:21] gilbertohasnofb opened #1157 "Interior door handle animation is wrong"
Interior door handle animation is wrong, see this video at 0:24: https://www.youtube.com/watch?v=kfGN_QEg1UU

We need to fix the following:
* the pivot point for the interior handle is in the middle of the object, not in the back. We may need to 'carve' a bigger hole in the doors in order to accommodate the  movement
* the interpolation table should include more items as the movement of the door i

[2018-07-31 17:05] wlbragg commented on #1030
@legoboyvdlp there were two stages of work done on the stabilizer portion. I felt as it was pointing down after commit
76d16dc so I adjusted it to be more level at the top line in commit
00ac1d7 That also required moving the lamp mesh up ever so slightly. I didn't adjust the light however as it was so minuscule it wasn't worth it.
@gilbertohasnofb I fixed the gap in the beacon lamp.

[2018-07-31 17:08] wlbragg commented on #1155
@gilbertohasnofb good catch except I am sure I already had discovered that issue when I was working on it and I thought I did indeed make a blocking panel.

I'll take a look.

[2018-07-31 17:15] wlbragg commented on #1155
Wow, that is really bizarre. I guess I didn't. How is it you can remember doing something you never did?

[2018-07-31 17:25] gilbertohasnofb commented on #1155
I just pushed my commit. And I have another one coming up soon.

[2018-07-31 17:26] gilbertohasnofb commented on #1157
Solved the last item and pushed already. I am now going to fix the animation for the exterior handle.

[2018-07-31 17:35] gilbertohasnofb commented on #1155
Done.

[2018-07-31 17:38] gilbertohasnofb commented on #1157
@wlbragg I also adjusted the animation of the external door handle. Just like in a car, that handle will be flicked when opened the door, not held open.

But I need a favour in order to improve these animations. When opening the door from the interior, one would obviously use the interior handle. But when closing the door, I imagine they would use this part here to grab the door:

![image](https:/

[2018-07-31 17:41] gilbertohasnofb commented on #1046
What about this one? This one is searchable which makes it quite handy.
[Cessna 172P POH without Supplements (N98456).pdf](https://github.com/c172p-team/c172p/files/2246462/Cessna.172P.POH.without.Supplements.N98456.pdf)

[2018-07-31 17:41] gilbertohasnofb commented on #1030
@wlbragg I found another issue, the VOR antennas are not touching the stabilizer:

![image](https://user-images.githubusercontent.com/5700795/43476759-4441236e-94f1-11e8-9e9c-17496ffcf319.png)

![image](https://user-images.githubusercontent.com/5700795/43476765-466e1520-94f1-11e8-872f-f5206f3ad4ec.png)

[2018-07-31 17:42] wkitty42 commented on #1155
On 07/31/2018 01:15 PM, wlbragg wrote:

when the broken wings were introduced, there was discussion about how the
interior of the broken parts should look... it was plain before and then some
internal guts were added... maybe a rib beam with holes cut in it was added to
dress it up slightly? is this black panel to be added behind that exposed rib
beam or am i remembering things from the past that

[2018-07-31 18:01] legoboyvdlp commented on #1157
Did you make it rotatable 180 degrees as the real one seems to be? Sorry - unable to test right now.

[2018-07-31 18:02] gilbertohasnofb commented on #1157
No, I made it 110 degrees like in the video, in two stages. First around 70 degrees, second 110. It's very similar to the video.

[2018-07-31 18:05] gilbertohasnofb commented on #544
@wlbragg I did find a way of incorporating `<property>/accelerations/pilot/x-accel-fps_sec</property>` but the problem is that this property is not refreshed as often as the airspeed, for instance, and it creates an ugly jittery movement. I frankly don't know of nothing else to be done...

[2018-07-31 18:12] legoboyvdlp commented on #1157
ah ok - I assumed that the handle could travel the whole 180 degrees - otherwise, why would they have a hole that would allow it to do that?

![image](https://user-images.githubusercontent.com/10434911/43478258-54456ed8-94f5-11e8-9a9f-283cd170a900.png)

Obviously, to actually open the door, it is evident you only need to pull the handle part of the way, just as you only pull the door handle of man

[2018-07-31 18:14] gilbertohasnofb commented on #1157
@legoboyvdlp maybe the handle does rotate 180, but the handle is not a slider but a fixed animation. I replicated exactly as in the video which shows the pilot opening it by rotating the handle only by around 110 degrees. My animation is identical to the video and looking quite good, I believe.

[2018-07-31 18:15] gilbertohasnofb commented on #1157
@wlbragg Also, the non-metallic handle (the one I asked you to make a separate object) should be moved considerably backwards as in the photo below (but still reachable by the pilot from this seat, obviously):

![](http://airplanesusa.com/wp-content/uploads/2017/02/030.jpg)

[2018-07-31 18:59] gilbertohasnofb commented on #544
@wlbragg ok, that property is not jittery, it was a maths problem on my side which I fixed. But after much fighting with this, I realized that this will be even harder than I had previously thought (without completely re-coding _everything_ related to doors and animations into Nasal): what you asked for in relation to the acceleration is frankly impossible since all that I am doing is modifying th

[2018-07-31 19:03] gilbertohasnofb commented on #1098
@wlbragg What do you think if we would remove the shadow effect from the yoke's PPT cord and from the yoke cylinder (the main bar connecting the yoke to the cockpit)? Sometimes they go 'randomly' darker and that doesn't look too good, and I suspect that's the shadow effect getting crazy on rotating and moving objects.

[2018-07-31 19:48] gilbertohasnofb commented on #1157
@wlbragg Ok, I am done with my commits for the moment. These are the modifications I did:

* merged the door closing/opening due to airspeed
* better animation for the interior metallic door handles when opening the doors
* interior metallic door handles do not move when closing the doors
* better animation for all exterior door and baggage door handles
* exterior door and baggage door handles do

[2018-08-01 03:54] wlbragg commented on #1030
Wow, I'm slipping, can't believe I missed that, thanks for catching it. It's pushed.

[2018-08-01 04:14] wlbragg commented on #1098
@gilbertohasnofb done.

[2018-08-01 04:28] wlbragg commented on #544
I do think they would open if the deceleration was fast enough. But you also have wind resistance opposing against the opening at higher speeds that you don't have opposing the closing. Carefully try it in a car sometime. It is easier to get the door to close than to open.
The effect I didn't like was the opening no matter how slow you decelerate (because it is tied the way it is using a filter).

[2018-08-01 04:39] wlbragg commented on #1157
If I move it backwards you know you have to change the AO and the light map, you OK with that?

[2018-08-01 04:55] wlbragg commented on #1157
@gilbertohasnofb the door straps are separated and relocated. Their names are...
doorintstrapleft
doorintstrapright

We need to redo the AO light map and even the texture. It would be nice to add the metal ends. I can improve the strap is you think we need to.

[2018-08-01 09:34] gilbertohasnofb commented on #1030
Thanks, I confirm this is fixed.

[2018-08-01 09:35] gilbertohasnofb commented on #1098
Perfect, much better!

[2018-08-01 09:37] gilbertohasnofb commented on #1155
@wlbragg can't the black panel be much closer to the wing structure? This is how it looks now, notice how the black panel does not cover all holes:

![image](https://user-images.githubusercontent.com/5700795/43513884-d4e12fe2-9576-11e8-9245-934b9aefc6d2.png)

[2018-08-01 10:02] gilbertohasnofb commented on #1157
Great, I implemented the logic and I tweaked the AOmap of the 4X-CHV livery. I also added the new texture to the `interior.png` of 4X-CHV to the strap (please make it texture dependent, I will sync all liveries at the end) and also added it to the lightmap. The texture should look like this one:

![](https://camo.githubusercontent.com/30a260522b1571bfa09828c42bc70d62edc0e48e/687474703a2f2f61697270

[2018-08-01 10:09] gilbertohasnofb commented on #544
I still don't think you are seeing this through, there is no 'except', I frankly don't think this can be done with filters at all, condition or no condition. A filter doesn't know what you previously did to your aircraft, e.g. it doesn't know if the aircraft is stopped due to braking or just because you are simply starting the sim. If you just open the sim, you really want an open door (`position-

[2018-08-01 11:11] legoboyvdlp commented on #1157
The strap is pretty dark - even at maximum screen brightness at noon with the dome light on I could barely see it with the 4X-CHV livery. The D-EEQA livery with the red/white cockpit made it easier to see. Hopefully those texture updates will fix that?

[2018-08-01 11:13] legoboyvdlp commented on #1110
The visors have some texture stretching on the top face:
![image](https://user-images.githubusercontent.com/10434911/43518543-52612096-9584-11e8-8b9f-612e62bfd01a.png)

closeup:
![image](https://user-images.githubusercontent.com/10434911/43518551-59af28d4-9584-11e8-85fd-369a5e65231c.png)

[2018-08-01 11:16] legoboyvdlp opened #1158 "Dome light - color incorrect on lightmaps?"
Hi there,
I noticed that with the dome light (only it) on, there is red light on the pedestal:

![image](https://user-images.githubusercontent.com/10434911/43518656-a41ec9f6-9584-11e8-855c-8089cbfb8ab3.png)

as opposed to
![image](https://user-images.githubusercontent.com/10434911/43518668-ad0ebefe-9584-11e8-8826-611af21184d0.png)

Maybe I'm missing something, but shouldn't the light be white?

[2018-08-01 11:36] gilbertohasnofb commented on #1157
@legoboyvdlp the new texture is pretty bright so that will definitely make it easier to see.

[2018-08-01 13:05] legoboyvdlp commented on #1158
I'm not sure, but I think the same is seen on the yoke with the dome light.

[2018-08-01 13:06] gilbertohasnofb commented on #1158
I will test this when I get home later tonight and then report back if no one beats me to it.

[2018-08-01 16:18] wlbragg commented on #1158
I tested this and here is what I noticed. At night, it is correct, red with the flood and yellow with the dome. In the daylight it does appear to take on more of a red tint. I think it is because of the added light to the scene. I don't think it is anything that needs address for a couple reasons.
One it is the rendering systems interpretation of the scene lighting conditions.
It is barely noticea

[2018-08-01 17:30] wlbragg commented on #544
I disagree (although it might turn out in the end your correct).

[2018-08-01 17:38] wlbragg commented on #1110
:fearful:

[2018-08-01 17:40] wlbragg commented on #1155
Yes, but a wing is hollow?

[2018-08-01 17:49] gilbertohasnofb commented on #1155
The question is what the dark panel is simulating. In my view, the amount of light inside the structure would be negligible and it would simply look nearly pitch dark through all holes. See for instance:

![](https://d2rormqr1qwzpz.cloudfront.net/photos/2016/04/27/87456-tracker-fold.jpg)

Or even:

![](http://www.fastacraft.com/images/hydrofoil.jpg)

This looks like a 172. Notice how much darker t

[2018-08-01 20:14] wlbragg commented on #1155
@gilbertohasnofb I went ahead and move the panels closer to the end. I also UV mapped them to the metal texture and assigned them a new material that is really dark. So in the right  light they will look like a dark metal panel, but mostly they just look dark. The flaps can't really be changed because they are not damaged, so the dark panel needs to somewhat blend with the end of the flaps which i

[2018-08-01 22:46] gilbertohasnofb commented on #1155
That looks good, I will test it in the sim. Another option that crossed my mind now would be to map the interior side of the wings to a fully black color, this way we wouldn't need a panel at all I think (unless some object perforates the wing). But I think this is looking good!

[2018-08-01 22:46] gilbertohasnofb commented on #1157
Looks great, I will see if I can improve the texture a bit more.

[2018-08-01 23:02] gilbertohasnofb commented on #1155
Just tested it, it looks excellent.

[2018-08-01 23:02] gilbertohasnofb commented on #1157
I improved it a bit, pushing it soon.

[2018-08-01 23:03] gilbertohasnofb commented on #1158
I also can reproduce it but I agree with @wlbragg that it's barely noticeable and not worth the effort.

[2018-08-01 23:03] #1158 closed

[2018-08-01 23:31] gilbertohasnofb commented on #1110
@wlbragg I just pushed an improved texture for the sunvisors using the photos I posted before as reference. Looks better IMO.

[2018-08-01 23:51] gilbertohasnofb opened #1159 "Window handle base seems to be double mapped"
Window handle base seems to be double mapped. Not the handle itself but the base (circle behind it). I suspect this because when the red flood light is on, it has a very strong red glow while nothing around it is even remotely red.

![fgfs-screen-001](https://user-images.githubusercontent.com/5700795/43554556-0cd12120-95ed-11e8-9f92-566d880d4f6e.jpg)

@wlbragg I have already pushed a new texture f

[2018-08-02 06:27] wlbragg commented on #1159
Done!
Yes they were mapped with something else.

[2018-08-03 11:36] hbeni commented on #544
As far as i understand, this sees like the perfect thing for nasal/xml combination, because both parts could stay pretty simple this way.

[2018-08-03 11:44] gilbertohasnofb commented on #544
@hbeni I frankly don't think it's worth the effort. This is just a special effect, an easter egg which will hardly be noticed. Performance is really sacred and I am very reticent about using Nasal for this. But if anyone wants to give it a try and adapt or rewrite what I did I would not object that at all! I just don't think that any performance lost can be justified with an 'oh but we simulate do

[2018-08-03 14:29] hbeni commented on #544
Yes, im with you.
What is the overhead of nasal? (I'm just curious as i want to learn)

[2018-08-03 14:56] gilbertohasnofb commented on #544
I frankly don't know, I just learned the mantra that if something can be accomplished via XML then that's the better route due to performance. The performance difference might be minimal, but then again the c172p has become more and more demanding concerning performance. If this was a major feature (e.g. a system simulation in Nasal) then I would be a 100% in favour of implementing it as detailed

[2018-08-03 16:41] wlbragg commented on #544
I think if I was to write this I would use two JSBSim fcs_functions.
One would use airspeed, the other acceleration/deceleration as conditions.
I think as conditions are met you could use interpolation tables tied to...
 function 1) = acceleration/deceleration as input with door/position-norm-effective as output
function 2) = windspeed as input with door/position-norm-effective as output

Like the

[2018-08-03 16:57] gilbertohasnofb commented on #544
Just making it clear, please feel free to try your solution and replace mine completely if the result is more satisfactory. I wouldn't have any issues with that whatsoever!

[2018-08-03 17:32] wlbragg commented on #544
@gilbertohasnofb I understand. Not my priority right now so I am OK with what you've implemented.

[2018-08-04 13:29] legoboyvdlp opened #1160 "Low Voltage LED colour"
Hi,
I just pulled the 172 improve-3D-objects:

![image](https://user-images.githubusercontent.com/10434911/43676977-a0d2e6ae-97f2-11e8-9205-6c48e557ecfc.png)

![image](https://user-images.githubusercontent.com/10434911/43676982-b59e0b0e-97f2-11e8-9f4f-14aadd842729.png)

With the white cockpit (D-EEQA etc), the low voltage LED is also too white - almost pink.

With the black cockpit, it looks fine.

[2018-08-04 13:39] legoboyvdlp opened #1161 "Heading Bug Misaligned"
![image](https://user-images.githubusercontent.com/10434911/43677078-26404128-97f4-11e8-85ec-2176022d1e6c.png)

With the heading bug tooltip saying 180, you would expect the heading bug to be directly on the "S" - it is about 2 degrees offset, you must set 178 or so to have it on the "S". I think the heading bug is misaligned?

[2018-08-04 14:10] legoboyvdlp opened #1162 "Autopilot Panel Lighting"
With the radio knob set to the minimum position shouldn't the autopilot's display also be fully bright (not the knobs)?

![image](https://user-images.githubusercontent.com/10434911/43677354-94016a30-97f8-11e8-81d1-316706ce8bef.png)

[2018-08-04 16:46] gilbertohasnofb commented on #1160
@legoboyvdlp when we make large changes to textures, I only make them to the 4X-CHV texture so that we can test it first and make all adjustments before syncing it with all other liveries. At the moment there are plenty of textures missing for all other liveries but that's because we are still working on them.

[2018-08-04 16:46] #1160 closed

[2018-08-04 17:30] gilbertohasnofb commented on #1161
I don't think so, @legoboyvdlp. Facing directly forwards and looking directly at the gauge the bug looks quite well aligned for me:

![fg-3](https://user-images.githubusercontent.com/5700795/43678912-e1cbda78-9813-11e8-9715-f9c12b4d0c38.jpg)

When looking from the pilot's perspective, the bug looks a bit lower because it is a fraction more forward than the gauge itself. But also we can't really th

[2018-08-04 17:31] gilbertohasnofb commented on #1162
Confirmed. Here is a comparison between RADIO LT 0% and 100%

![fg-1](https://user-images.githubusercontent.com/5700795/43678950-8fe62cb2-9814-11e8-88c6-97ec5f38b873.jpg)
![fg-0](https://user-images.githubusercontent.com/5700795/43678951-91cf5936-9814-11e8-96f1-4819867b7807.jpg)

@wlbragg could this be related to some of the effects we have on these digits? I remember having spoken with you about

[2018-08-04 18:36] legoboyvdlp commented on #1160
Ah, ok - apologies!

[2018-08-04 18:40] gilbertohasnofb commented on #1030
@wlbragg I've found a small bug, the strobe light isn't aligned any longer with the lamp. Also notice that there is a squareness to the light for some reason:

![image](https://user-images.githubusercontent.com/5700795/43679424-f142c562-981c-11e8-95d1-f0c600009392.png)

Also, (and please don't kill me and feel free to say no), I would like to suggest a couple of small improvements to the front par

[2018-08-04 18:41] gilbertohasnofb commented on #1160
No need to apologize, lego! It's good that you are paying attention to potential bugs, misreports are part of the job :wink:

[2018-08-04 18:47] wkitty42 commented on #1161
On 08/04/2018 01:30 PM, Gilberto Agostinho wrote:

i think it is a perspective thing, too... i started to write such when i was
through earlier but decided not to as i may not have been seeing things clearly...

if you move the view down level with the center of the guage, the pointer looks
ok... if you move the view below the center of the guage, the pointer looks too
high... this is normal and i

[2018-08-04 18:48] gilbertohasnofb commented on #1162
@wlbragg This bug doesn't have anything to do with shadows. At night (when shadows should not matter) this is how the radio stack looks like. Notice how the AP has different brightness at 0% and at 100%:

![fg-0](https://user-images.githubusercontent.com/5700795/43679585-291cdd0e-981f-11e8-9296-5c46e4e79165.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/43679586-293849cc-981f-11e8-

[2018-08-04 19:01] wkitty42 commented on #1030
On 08/04/2018 02:40 PM, Gilberto Agostinho wrote:

do you mean the beacon? beacons are red whereas strobes are a brilliant blueish
white when they flash... think of strobe lights in a disco or dance club... the
ones that make everything look like stop-motion... like when fan blades are
moving but they look like they are still...

there are a lot of folks that mix these up... they say strobe when t

[2018-08-04 19:06] gilbertohasnofb commented on #1030
Yeah, nice catch, I meant the red beacon.

[2018-08-04 19:11] wlbragg commented on #1162
OK, I see that and will investigate.

I could have said that better.
What I mean is the led on the radio equipment should be less brilliant (or maybe more accurately they should exhibit less contrast with the surrounding objects). in full sun than in shadow. Our shadow effect does just that, so does the overall effect of model-interior without the shadow cube code included.
I think you and I talke

[2018-08-04 19:14] gilbertohasnofb commented on #1162
Thanks for taking a look at this bug. Concerning the shadow thing, let's move this discussion to the correct issue, I will reply there.

[2018-08-04 19:25] gilbertohasnofb commented on #1030
Oh please don't worry about that! Just make sure to generate the new light maps containing the new objects and let me do the copy pasting, I have all modified files in my folder. And actually the light map is the least of my concern as most objects are small and simple and I could just fake it with GIMP. Please dont' go too crazy with it, ok?

[2018-08-04 19:32] wlbragg commented on #1161
I think it is good, looks like perspective is an issue here.

[2018-08-04 19:33] #1161 closed

[2018-08-04 19:45] wlbragg commented on #1030
Actually it's the baking that is the time killer for me. I find it almost impossible to get consistent bakes, especially over time, with Blender. There are too may settings and variables. One way for AO and another for light maps. Add into that all the customization I had to do in the blend to get a map that has shadows for some things but not for others, whew.

I'll tell you what then. I already

[2018-08-04 19:48] gilbertohasnofb commented on #1030
@wlbragg perhaps do not push the new bakes but just post them here, so that I can just take a look at them before we commit them, would that be all right?

No worries, we don't have an opened issue for that and we are multitasking a million issues at the same time, it's all good.

[2018-08-04 20:27] wlbragg commented on #1046
I think we already have the one but it will need to move forward.

![ant](https://user-images.githubusercontent.com/11069680/43680217-a1dd9a3c-97fa-11e8-8584-a75d392e4840.jpg)

The other two though I think must be identified as to which piece of equipment they go to and that we have that equipment. In other words I want to make sure all our equipment matches up with all the antennas we install.

[2018-08-04 20:33] gilbertohasnofb commented on #1046
I also would love the antennas to match everything we have but after spending hours chasing this information I simply gave up. Perhaps @okroth could help us make an informed decision (guess?) of which ones to include and where they should be.

[2018-08-04 20:54] wlbragg commented on #1046
Hum, the antenna I posted the image of is the transponder ant.
I'm re-reading the above thread. It may have enough info to make a logical assumption about the other two antenna.

[2018-08-04 21:05] wlbragg commented on #1046
Our ELT may not have an external antenna, we need to verify that.

We are missing:

ADF antenna, "soap" (non-wire version)
Marker beacon antenna (looks like a wedge) on bottom

[2018-08-04 21:09] wlbragg commented on #1046
So I say we for sure...
remove the wire
do the ADF "soap" on bottom center under cabin
move the transponder ant to aft

potentially add...
marker beacon ant
elt ant

[2018-08-04 21:32] gilbertohasnofb commented on #1046
Are there models without antenna?

[2018-08-04 21:51] wlbragg commented on #1046
I  don't know. I mean the same as our GPS has a built in antenna VS an external antenna. Maybe the ELT was an after market "portable" addition, if they even have such a thing?

[2018-08-04 22:44] wkitty42 commented on #1030
On 08/04/2018 03:06 PM, Gilberto Agostinho wrote:

not a problem... i was real hopeful that it wouldn't come across offensively...

[2018-08-04 23:04] wkitty42 commented on #1046
i think he was just using our hand-held GPS as an example of a device in the craft without an external antenna...

anecdote: as far as internal or external antennas go, i know of numerous vehicles with antenna that are hidden within the vehicle's body... we had a conversion van that had numerous antennas running parallel to the ceiling inside the vehicle... IIRC, there were six or seven different

[2018-08-05 01:12] wlbragg commented on #1046
Yes, I was using it as an example of why it's possible the ELT also wouldn't have an exterior antenna.

[2018-08-05 01:30] gilbertohasnofb commented on #1046
@wlbragg if the ELT antenna is the one just behind the back glass, I noticed that most model P's do have that. Take a look at this: http://www.airliners.net/search?keywords=172p

[2018-08-05 09:06] wlbragg commented on #1156
Done!

[2018-08-05 09:07] wlbragg commented on #1046
Done!

[2018-08-05 09:08] wlbragg commented on #1030
Done!

[2018-08-05 11:29] gilbertohasnofb commented on #1046
I am about to push, here are the new textures. They should be texture dependent since different liveries will have different antenna colours, ok?

![image](https://user-images.githubusercontent.com/5700795/43685453-399c2482-98ab-11e8-997e-7eeca5f788d6.png)

[2018-08-05 11:46] gilbertohasnofb commented on #1046
I am now syncing all other liveries and adding these to them with the correct colours for each antenna (according to the livery). I should push them all shortly.

Btw, I noticed a small bug: our VOR antenna has a hole

![image](https://user-images.githubusercontent.com/5700795/43685583-943abd7a-98ad-11e8-92d5-d6daef3ea85a.png)

[2018-08-05 11:59] gilbertohasnofb commented on #1046
@wlbragg also please make sure the VOR antenna is livery dependent, that texture was present only on the 4X-CHV but I now added to all liveries and matched their colours.

[2018-08-05 13:26] gilbertohasnofb commented on #1046
@wlbragg one more question, what textures are the COM antennas (above the wings) mapped to?

[2018-08-05 15:30] wlbragg commented on #1046
![vhf](https://user-images.githubusercontent.com/11069680/43687427-9bbcba70-989a-11e8-960f-18613b95538f.jpg)

[2018-08-05 15:46] gilbertohasnofb commented on #1046
Ok, so I have made a mistake in my last push, I coloured those thinking it
was the VOR antenna. I will fix that, but first please do let me know if
the VOR antennas are mapped anywhere because if they are not then I can add
their textures to the same file.

On Sun, Aug 5, 2018 at 4:30 PM, wlbragg <notifications@github.com> wrote:

[2018-08-05 16:15] wlbragg commented on #1046
@gilbertohasnofb they were all mapped to the same texture.

![vor](https://user-images.githubusercontent.com/11069680/43687763-be991ae2-98a0-11e8-908a-8e65afc4c8bf.jpg)

[2018-08-05 16:17] wlbragg commented on #1046
I forgot, the yoke cords need added to the light maps. There was a part of the yoke overlapping so I had to move it below.
![lm_yoke-l_new](https://user-images.githubusercontent.com/11069680/43687768-ef7ed926-98a0-11e8-901b-de6173e14d28.png)
![lm_yoke-r_new](https://user-images.githubusercontent.com/11069680/43687769-ef980162-98a0-11e8-8d85-4b7e1b801c28.png)

[2018-08-05 16:25] wlbragg commented on #1046
@gilbertohasnofb let me know when I can pull again and do the antenna mapping.

[2018-08-05 16:31] wlbragg commented on #1046
@gilbertohasnofb in you picture of the textures for mapping the antenna you have the far right side as "marker" (fin). It is actually supposed to be the transponder. The "marker" antenna, from what I understand is also a "fin" type. I think that is why they show two fins in some of the pictures. So, I will add on other "fin" antenna under the cabin, forward of the ASF antenna (soap). Be sure to ac

[2018-08-05 16:51] gilbertohasnofb commented on #1046
@wlbragg Ok, so I will add a new texture for the VOR so that VOR and VHF are separate, ok? Please add the other fin and I will add a texture square for it later (I need to see it first in order to colour it properly). I will also try to fix that mixture LM issue and add the yoke cable. I will take a look at this all in a few hours.

[2018-08-05 16:53] wlbragg commented on #1046
OK, I will push the new fin shortly.

[2018-08-05 16:59] wlbragg commented on #1046
@gilbertohasnofb are all of these supposed to be livery dependent?

TransponderAntenna
MarkerAntenna
Antenna_ADF
Antenna_VOR
VHFAntenna
ELTAntenna

[2018-08-05 20:51] gilbertohasnofb commented on #1046
@wlbragg I will sync all liveries with these antennas so please make all of them livery dependent. It's better to do this than to be puzzled in the future. Here are the positions of the new VOR and Transopnder antennas:

![image](https://user-images.githubusercontent.com/5700795/43689948-a8e10e4a-98f9-11e8-8274-0b77f212d386.png)

I will push it soon, just need to add it to all liveries.

[2018-08-05 20:54] gilbertohasnofb commented on #1046
Sorry, forgot to add the VOR base:

![image](https://user-images.githubusercontent.com/5700795/43689967-149fd4e0-98fa-11e8-999d-5e67d35564d7.png)

[2018-08-06 00:05] wlbragg commented on #1046
Done!

[2018-08-06 03:04] onox commented on #306
I think the issue is about whether the KMA20 instrument has power (circuit breaker).

https://github.com/c172p-team/c172p/issues/80#issuecomment-112130792:

I think @mathieugouin did some work on the radio stack a while ago, so radio's might have already been fixed.

@gilbertohasnofb Did you test the marker beacon as well? (with power to the KMA20 instrument disabled via the circuit breaker)

[2018-08-06 09:29] gilbertohasnofb commented on #1046
@wlbragg The ELT antenna is not properly mapped. See:

![image](https://user-images.githubusercontent.com/5700795/43708852-54e97e02-9963-11e8-8c13-c5ff84b4a40f.png)

Part A should be black and part B should be brighter. See https://github.com/c172p-team/c172p/issues/1046#issuecomment-410513845 for the two rectangles I added, a black one marked as ELT wire and another fuselage colour marked as ELT

[2018-08-06 09:30] gilbertohasnofb commented on #1046
Look at the ELT antenna here for reference:

![](https://user-images.githubusercontent.com/5700795/43679356-c353f640-981b-11e8-83f1-5119b4e72ee7.png)

[2018-08-06 09:53] gilbertohasnofb commented on #306
@onox Yes. Without the power they don't illuminate and with power they can be tested as expected. By without power I tested having the master off as well as disabling the KMA20 breaker (radio breaker no. 1 with hoover label 'audio panel'). So it seems to be properly implemented already.

The POH schematic doesn't help much as the five radio circuit breakers are just marked as RADIO 1, RADIO 2, etc

[2018-08-06 10:13] gilbertohasnofb commented on #1162
@wlbragg do you think you could take a look at this so we could incorporate a potential fix into that PR?

[2018-08-06 10:13] gilbertohasnofb commented on #1149
@wlbragg can you reproduce this?

[2018-08-06 10:15] gilbertohasnofb commented on #1143
@wlbragg Should we change the label of this issue for 'Future release' or do you plan to take a look at this still for this release?

[2018-08-06 10:16] gilbertohasnofb commented on #1128
@algefaen @dany93 any news on this one? Is there anything we can do on our side or is this indeed a problem with JSBSim?

[2018-08-06 10:19] gilbertohasnofb commented on #1097
Closed via #1146

[2018-08-06 10:19] #1097 closed

[2018-08-06 10:20] gilbertohasnofb commented on #1097
@legoboyvdlp as far as you are concerned all work on the tutorials is done or is there still some work left?

[2018-08-06 12:13] legoboyvdlp commented on #1097
Apart from float tutorials I'd call this fully done!

[2018-08-06 17:32] wlbragg commented on #1143
Yes, change it to 'Future release'.

[2018-08-06 17:33] gilbertohasnofb commented on #1143
For future generations: if you are reading this in 10 years time, good luck with this issue! :rofl:

[2018-08-06 17:40] wlbragg commented on #1046
@gilbertohasnofb it's the glare, see...

![elt](https://user-images.githubusercontent.com/11069680/43731973-d3f596ba-9975-11e8-9cc2-372e2c8888a1.jpg)

[2018-08-06 17:46] gilbertohasnofb commented on #1046
You are right, I just zoomed in in the sim and it is the glare. Is it possible to diminish the glare of this antenna? Very minor thing, but would look better.

Also, talking of minor things, I found another hole:

![image](https://user-images.githubusercontent.com/5700795/43732214-dde705fe-99a8-11e8-8be3-7fb6f934ab9a.png)

And if you have a chance, please do take a look at that UV-mapping issue wi

[2018-08-06 17:46] wlbragg commented on #1149
Yeah, this "might" be difficult to fix. First guess is the logic flow is the cause and that can be a huge can of worms to fix.

[2018-08-06 17:47] okroth commented on #1046
Correct

[2018-08-06 17:54] gilbertohasnofb commented on #1149
I might take a look at this if I get the chance, but it might indeed be difficult to tackle. Let's see, not the end of the world anyway.

[2018-08-06 20:07] wlbragg commented on #1162
@gilbertohasnofb yes, but I am afraid this is going to be the same can of worms as #1149

I have them both pinned to my browser bar and will look at them as soon as I finish the other stuff. IE: the ELT antenna and mapping issue of the tail section's connection to the fuselage.

[2018-08-06 20:14] gilbertohasnofb commented on #1162
You know these things better than me but I dare to say that these are very different issues. 1149 has more to do with the code of the electrical system interacting with the light intensity code, and there might be a ton of reasons for the delays on the systems, etc. But this one here seems more to do with the 3D object itself and how the effects are applied to it, and it is quite similar to anothe

[2018-08-06 20:50] wlbragg commented on #1046
@gilbertohasnofb I fixed the ELT antenna issue. I reduced the specular reflection and rounded the tip (it wasn't missing, it just looked like it).
One other issue, look at the ELT through the back window (from above). It has a built-in antenna. Should we remove the built-in antenna?

![tail1](https://user-images.githubusercontent.com/11069680/43740249-534694e0-9990-11e8-8ae9-902b5fa57a49.jpg)

The

[2018-08-06 20:56] wlbragg commented on #1046
@gilbertohasnofb I pushed my changes already.

[2018-08-06 20:57] gilbertohasnofb commented on #1046
That's not an antenna, that's a cable. It should go towards the antenna, could you try to deform it a bit so that it goes towards the back of the plane?

![image](https://user-images.githubusercontent.com/5700795/43740630-ae900bdc-99c3-11e8-9583-aa64ac226f41.png)
![](http://www.midwestflyer.com/wp-content/uploads/2011/12/406-ELT-Photos-Article-Web.jpg)
![](http://www.rv7blog.com/images/20061231_el

[2018-08-06 21:05] gilbertohasnofb commented on #1046
@wlbragg done and pushed. That solved it thanks a lot!

[2018-08-06 21:15] wlbragg commented on #1162
@gilbertohasnofb after rereading this thread I was wrong

The shadow effect applied to the digits has the opposite affect of what it should do to an emissive source, it shadows them and dulls them as it does to surfaces. So it shouldn't be applied to an emmisive source.
As far as the model-interior shader, I'd have to verify what that does to the same emissive source.

So you were correct, the sha

[2018-08-06 21:16] wlbragg commented on #1046
Cool, I'll pull and fix the ELT wire to the antenna.

[2018-08-06 21:20] gilbertohasnofb commented on #1162
Yeah, I understand what you are saying. I was checking the code for that other issue I mentioned but that was something different, that was just a tweak of the max intensity and colour hue, nothing related. But the problem is that right now the AP is quite difficult to read in daylight. I don't remember this being the case before, maybe it would be possible to track down the commit that changed th

[2018-08-06 22:35] gilbertohasnofb commented on #1046
Super work with the ELT, love the simple solution.

[2018-08-07 00:01] wlbragg commented on #1162
@gilbertohasnofb this is fixed, but, I think because of the flow of the code logic it may exhibit small delays at various moments, similar to the other issue.

[2018-08-07 00:07] wlbragg commented on #1149
@gilbertohasnofb

* ADF radio button backlight is delayed both when turning on and off
* DME radio readouts are delayed both when turning on and off

I think we can add

* ADF radio button backlight is delayed both when turning on and off
* DME radio readouts are delayed both when turning on and off
* AP radio readouts are delayed both when turning on and off

[2018-08-07 00:25] gilbertohasnofb commented on #1149
Sure, I added the last one (the other two weer already there)

[2018-08-07 22:12] #802 closed

[2018-08-07 22:12] #1023 closed

[2018-08-07 22:12] #1096 closed

[2018-08-07 22:12] #1110 closed

[2018-08-07 22:12] #544 closed

[2018-08-07 22:12] #1030 closed

[2018-08-07 22:12] #1093 closed

[2018-08-07 22:12] #1098 closed

[2018-08-07 22:12] #1122 closed

[2018-08-07 22:12] #1137 closed

[2018-08-07 22:12] #1148 closed

[2018-08-07 22:12] #1150 closed

[2018-08-07 22:12] #1151 closed

[2018-08-07 22:12] #1154 closed

[2018-08-07 22:12] #1046 closed

[2018-08-07 22:12] #1155 closed

[2018-08-07 22:12] #1156 closed

[2018-08-07 22:12] #1157 closed

[2018-08-07 22:12] #1159 closed

[2018-08-07 22:12] #1162 closed

[2018-08-07 22:17] gilbertohasnofb commented on #1108
@wlbragg I have crossed all issues that are already fixed from [our list](https://github.com/c172p-team/c172p/issues/1108#issuecomment-402544610). We now need to update the first post with the list of fixes from that gigantic PR. Should I do it myself and you give it a look or do you want to do it yourself?

[2018-08-07 22:19] wlbragg commented on #1108
@gilbertohasnofb if you have the time you might take a pass at it and I will follow up and do the same.

[2018-08-07 22:19] gilbertohasnofb commented on #1035
So after Torsten's reply to @wkitty42 posts in the mailing list, we are now in the following situation: while PHNL is the default airport our tiles will be included. After that, Torsten will need to add a one liner in order to account for this scenery in future releases (they don't want to add it directly to FGData). So let's keep this issue opened until the default scenery changes so that we can

[2018-08-07 22:34] wlbragg commented on #1108
FYI: a reminder of some of the new items...
I didn't list any of the bug fixes as I don't think they were really necessary to mentioned as they mostly were value added bugs we just happened top notice.

Low Voltage
New interior door handle animation
New straps for closing doors
Overhaul antenna systems
New ADF, ELT and Beacon marker antennas
Improvements to vertical stabilizer
Retopologized beacon

[2018-08-07 22:39] gilbertohasnofb commented on #1108
@wlbragg Done. I think I included all the ones you pointed out, but please take a look and feel free to change whatever you want, including my wording.

[2018-08-08 03:58] wlbragg commented on #1054
First tutorial is finished, see issue-1054 branch and  Create tutorials for float variants #1163 .

Please test.

[2018-08-08 11:22] gilbertohasnofb opened #1164 "Implement random surprise mode from c182s"
As discussed [here](https://github.com/HHS81/c182s/issues/282), we could implement a 'random surprise mode' for random failures just like it's done in the c182s (see https://github.com/HHS81/c182s/issues/242#issuecomment-403980964)

[2018-08-08 11:24] gilbertohasnofb commented on #1164
Maybe this is related to https://github.com/c172p-team/c172p/issues/789

[2018-08-08 11:37] gilbertohasnofb commented on #906
@legoboyvdlp now that you finished working on the tutorials and your work has been merged, could you please update me on this issue here. Is this still an issue, is there anything left to be implemented?

[2018-08-08 11:53] legoboyvdlp commented on #906
I didn't implement any of this actually. I can do it - so I take it you just want securing aircraft added to the condition for the checklists, and securing aircraft forced to "true" in the tutorials? The ladder (as far as I know) can't be climbed by the walker any more, at least, it didn't work when I tried it. So I think we can skip that.

[2018-08-08 11:55] gilbertohasnofb commented on #906
That would be great, lego! I will test the ladder later and let you know.

[2018-08-08 11:57] gilbertohasnofb commented on #906
Also do check if this is still relevant:

[2018-08-08 12:05] wlbragg commented on #1054
@gilbertohasnofb I made some tweaks, please be sure to pull fresh. Also I may have the landing tutorial done by your tonight. :smile:

[2018-08-08 12:11] gilbertohasnofb commented on #1054
Cool, I will do another pull before testing later tonight.

If you have that and all will be working as it should, will that mean that the PR will be ready to merge or will we need to still do some work on anything else?

[2018-08-08 12:14] wlbragg commented on #1054
Yes

[2018-08-08 12:58] gilbertohasnofb commented on #881
I updates the description. IMO we could simply add cowl plugs as part of the securing aircraft system. That should be very easy to model and texturize.

[2018-08-08 15:46] legoboyvdlp commented on #939
@gilbertohasnofb
see in relation to #906

[2018-08-08 15:56] legoboyvdlp commented on #906
I don't think it is possible to modify those Checklist: X tutorials at all unfortunately - please correct me if I'm wrong.

[2018-08-08 15:57] gilbertohasnofb commented on #939
@legoboyvdlp I see, so nothing to be done before that's fixed. It's a pity that something that looks simple and has a specific commit that caused the change in behaviour has not been addressed :cry:

[2018-08-08 16:03] legoboyvdlp commented on #906
![image](https://user-images.githubusercontent.com/10434911/43849241-e91b20d8-9b2c-11e8-865c-44c8d9f00f0c.png)

![image](https://user-images.githubusercontent.com/10434911/43849260-f1a1941c-9b2c-11e8-888e-b515cbd054de.png)

I think we've solved that, and I fixed the not-at-Barcelona already (hopefully!). So, now to the Checklist: tutorials...

[2018-08-08 16:10] legoboyvdlp commented on #906
You now cannot secure the aircraft without the securing aircraft being enabled. However, it will still prompt you to do it - the tutorial will just read out the steps and continue to the end.

[2018-08-08 17:19] legoboyvdlp commented on #1003
I'm working on the Nasal side of this (not the FDM - couldn't find any quantifiable data).

[2018-08-08 17:28] wlbragg commented on #1054
Not quite done, still some tweaking left to do on "Landing Tutorial" and radio settings on both.

[2018-08-08 17:35] legoboyvdlp commented on #737
With low levels of dirt (e.g. 1.0, you get huge lo-res patches), while at e.g. 3.0 you get many small hi-res patches. The "concentration" of dirt doesn't seem to change at all?

@wlbragg @gilbertohasnofb

![image](https://user-images.githubusercontent.com/10434911/43854068-c50c5f2e-9b39-11e8-93af-3cfe75b6d66b.png)

![image](https://user-images.githubusercontent.com/10434911/43854077-ce1e3650-9b39-

[2018-08-08 18:48] gilbertohasnofb commented on #906
@legoboyvdlp I left a couple of comments in the code, please take a look. Besides those, here are a couple of other things:

* In the `Checklist: Securing Aircraft` tutorial all circles are off. I suspect all other `Checklist: [...]` types of tutorials will be the same since they have not been updated after the cockpit lift. Would you consider fixing this in this same PR?
* I really hate that joke

[2018-08-08 18:48] gilbertohasnofb commented on #906
See my comments in the code, that logic was not correct.

[2018-08-08 18:50] gilbertohasnofb commented on #906
Those correspond to the checklist themselves so we can't (or shouldn't, don't know if it's possible) force properties such as setting securing items. Just let's leave them like that, but the bug I reported about the pitot tube being still clickeable is still there. But no biggie, I feel this whole Checklist: X tutorials are potentially a bit buggy

[2018-08-08 18:52] gilbertohasnofb commented on #737
Hmm last time I checked I was able to change the intensity not the resolution, are you using the correct properties? @wlbragg might be able to spot the problem.

Also, do we really want another slider in that menu? Though making it dynamic like @wlbragg originally suggested might need much more work.

[2018-08-08 18:56] gilbertohasnofb commented on #1054
@wlbragg what's the status of this work? I will wait a bit before reviewing it since you said this is not quite done yet, ok?

[2018-08-08 19:09] wlbragg commented on #737
Off the top of my head try .1 - .9. I am away from my computer at the moment.

[2018-08-08 22:33] legoboyvdlp commented on #906
I have no idea where those circles are, they don't seem to be in the checklist file or am I totally blind?

That needs changed in all the tutorials involving the door as well (for my own reference as I look back to this comment)

I'm fairly sure it was correct, as the items still appeared in the checklist when I didn't have that logic - only they were amber, and it was impossible to set them to gr

[2018-08-09 01:43] wlbragg commented on #881
@gilbertohasnofb I think I can do this tonight or tomorrow  (as you suggest, only the cowl plugs) if you want to wait for it before doing the exterior splash and previews.

[2018-08-09 05:09] wlbragg commented on #881
Almost done, still have to do the straps, then it'll be ready for you to come up with some textures.

![cowl1](https://user-images.githubusercontent.com/11069680/43879192-5d60c6e2-9b68-11e8-933e-a5920384b12e.jpg)
![cowl2](https://user-images.githubusercontent.com/11069680/43879193-5d7e6ae4-9b68-11e8-94e1-d3b844770f33.jpg)

[2018-08-09 06:34] wlbragg commented on #881
@gilbertohasnofb here is the UV mapping.

![cowlplugs-uv](https://user-images.githubusercontent.com/11069680/43882104-18466970-9b74-11e8-9ee1-0328422c02e5.png)

I pushed the temporary texture in case you need it for reference.

[2018-08-09 06:36] wlbragg commented on #881
There is no logic to install or remove them, I only added the model tag to show them for testing.

[2018-08-09 09:37] gilbertohasnofb commented on #881
omg the place holder texture you used is so amazing, I really feel under pressure to deliver a GPL friendly one now :scream: This looks seriously good.

Just a couple of questions:

* in your screenshots, the strap is black but in your texture I don't see any black texture. Where did you map it to? See image below.
* your texture is also missing one of the UV-map bits, was that removed? See the gr

[2018-08-09 09:38] gilbertohasnofb commented on #881
@wlbragg I will try to work on this texture still today, though I really feel sorry for replacing yours... I will try to find some CC0 photo of this type of material somewhere but so far I found nothing :sob:

[2018-08-09 09:43] gilbertohasnofb commented on #737
My suggestion would be to use just a single toggle `Enable dirt effect` but no slider. Our dialog is already so cluttered. I also don't see much point to give the user some fine tuning tools for something like this, let's just implement the effect to the best of our abilities and let the user only enable/disable it. Else we will be getting into the territory of older X-Plane dialogs (which thankfu

[2018-08-09 09:46] gilbertohasnofb commented on #1108
@wlbragg I am crossing the issues from the list that have either been solved or postponed for another release, just to make it clear.

[2018-08-09 09:52] gilbertohasnofb commented on #906
Isn't it defined in those `marker` tags, e.g.:

[code]

Do you think you can take care of that in this PR?

Yes, I think you were.

I am inclined to agree with you on this one. The only thing is that I don't particularly like changing an option 'behind the user's back', if you know what I mean. But then again, if they chose to go to the securing aircraft tutorial then they _must_ want securing ite

[2018-08-09 10:02] gilbertohasnofb opened #1167 "Animate water rudder cable"
Animate water rudder cable. Right now clicking on it instantaneously move it from DOWN to UP position (and vice-versa).

[2018-08-09 10:02] gilbertohasnofb commented on #1167
@wlbragg This might be something you'd be interested since you are working on the pontoon tutorials.

[2018-08-09 13:27] legoboyvdlp commented on #881
http://www.photos-public-domain.com/2012/02/12/red-plastic-texture/

Is something like that useful?

[2018-08-09 13:33] gilbertohasnofb commented on #737
@legoboyvdlp I can't fire up FG right now but I think your mistake is that you are changing `dirt-level` as well as `dirt-wing`, `dirt-fuselage`, `dirt-tail` and `dirt-edge`. Could you try setting `dirt-level` to `1.0` and then changing `dirt-wing`, `dirt-fuselage`, `dirt-tail` and `dirt-edge` to several values from `0.0` to `1.0`? That might do the trick.

[2018-08-09 13:34] gilbertohasnofb commented on #737
If it is not clear: my suspicion is that `dirt-level` sets the resolution. The amount of dirt is then set individually for parts of the aircraft by `dirt-wing`, `dirt-fuselage`, `dirt-tail` and `dirt-edge`. It's just a hunch but give it a try.

[2018-08-09 13:38] gilbertohasnofb commented on #737
@legoboyvdlp as for the dynamic system, I don't know if this is possible but this would be cool: dirt should accumulate proportionally to the airspeed, only on the ground and using a larger factor when it's a grass runway and even larger factor when it's a plain dirt runway or if the plane goes on the airport grass.

@wlbragg you wrote that in the past. I am still happy to work on this texture if

[2018-08-09 13:40] gilbertohasnofb commented on #881
YES!!!

[2018-08-09 13:43] gilbertohasnofb commented on #906
But I was talking not about the regular `Securing Aircraft` tutorial but rather about the `Checklist: Securing Aircraft` tutorial. These names are confusing... for the `Securing Aircraft` I noticed that you are forcing that property and that's good. Since the `Checklist: X` tutorials are automatically created, I thought you were suggesting that going through the first item in the checklist would s

[2018-08-09 13:44] legoboyvdlp commented on #737
dirt-level is a property I made myself to control all 4 dirt properties using one nasal loop / slider.

that's possible

that _probably_ isn't, unfortunately.

[2018-08-09 13:49] gilbertohasnofb commented on #737
Well, only on the ground is easy, you need to use the WOW properties to check if the wheels are touching the ground. The type of ground might be trickier (or impossible) indeed. I believe the WOW properties for each of the three gears are:

`/fdm/jsbsim/gear/unit[1]/WOW`
`/fdm/jsbsim/gear/unit[19]/WOW`
`/fdm/jsbsim/gear/unit[23]/WOW`

But do test that, please. Also, we don't want dirt accumulating

[2018-08-09 13:50] legoboyvdlp commented on #737
Thanks :)

[2018-08-09 13:55] gilbertohasnofb commented on #737
@legoboyvdlp My pleasure. I will test the dirt properties later and report back to you, let's see if I can reproduce this problem you are having with the resolution.

@wlbragg just one more idea, about the bottom of the fuselage. If it's too difficult to separate it as a different object maybe we could get away by having a copy of the few polygons that make up the bottom of the fuselage, make them

[2018-08-09 14:01] legoboyvdlp commented on #906
If you click the ">" for any securing items in the checklist, if securing is off, it is forced to on.
I fixed most of the other things you mentioned in https://github.com/c172p-team/c172p/issues/906#issuecomment-411512165.

[2018-08-09 14:03] gilbertohasnofb commented on #906
Thank you, I will test everything in the evening and let you know. I also realized that once we have the cowl plugs modelled and implemented we will need to add them to the tutorials and checklists as well, but that will be easy.

[2018-08-09 14:26] legoboyvdlp commented on #737
@gilbertohasnofb I've made it so that it will take 100 minutes to go from no dirt to max dirt at 50 knots. Is that fast enough? That would mean washing the aircraft about every 50 flights, assuming you are moving on the ground for 3-4 minutes each time if my maths is right!

Accounting for airborne dust and bugs etc, I've added a factor, meaning that dirt increases very, very, very, very slowly in

[2018-08-09 14:32] wkitty42 commented on #737
On 08/09/2018 09:49 AM, Gilberto Agostinho wrote:

don't we roll differently on different ground? pavement with the least
resistance, rough dirt or grass with more resistance?

[2018-08-09 14:34] gilbertohasnofb commented on #737
This sounds reasonable but perhaps do increase the 100 minutes. I like the 50 flights number, but I think 3-4 minutes on the ground is fairly optimistic. I think 10 minutes is the minimal amount it would take from the moment the engine is on until you take off, even if the airport is empty.

Also, would you be able to implement a slightly more complex logic for the airspeed?: we want the speed to

[2018-08-09 14:36] legoboyvdlp commented on #737
That's fine, I can change that easily ;)

[2018-08-09 16:08] wkitty42 commented on #737
On 08/09/2018 10:34 AM, Gilberto Agostinho wrote:

oh... that's sad...

the only other thing i was thinking of is that craft get dirty just sitting
around... sure, they get more when moving but... i see this as a simple timer
thing where the craft just gets dirty over a period of time... even the front
and back windows... not so much the side windows... the pilot can wash the craft
or not dependin

[2018-08-09 16:20] legoboyvdlp opened #1168 "Sun Visor Mapping"
![image](https://user-images.githubusercontent.com/10434911/43911893-8dba143e-9bf8-11e8-8343-8e69475592bd.png)

Sorry - still not quite right! 😀

[2018-08-09 16:22] legoboyvdlp commented on #1168
This is also quite streaky:

![image](https://user-images.githubusercontent.com/10434911/43911967-cab1d14c-9bf8-11e8-99ed-217901a367d9.png)

[2018-08-09 16:24] wlbragg commented on #737
FYI: not to complicate this but we have access to all of this

These are two examples of how to get and use the ground cover information. I posted to save you the trouble of finding them.

The Aircrane uses
[code]

the Alouette uses a scaled down version of the same with a default to cover those not accounted for.
[code]

Surface roughness is also available but I don't know that this is a factor t

[2018-08-09 16:32] wlbragg commented on #737
Another food for thought, I would take my time with this to do it justice. ITo do anything but a simple slider right now I think your going to mis out on making it nice. The biggest challenge I think will be the graphic textures we make for it.
@gilbertohasnofb that also applies to the window glare effect we want. A big part of that being a real success depends on excellent graphics for the masks.

[2018-08-09 16:35] wlbragg commented on #737
Oh, and the fuselage cutting and effect of oil would go hand in hand with this project. But I don't have the time to take it on right now. I don't want to rush either one of these effects.

[2018-08-09 16:42] wlbragg commented on #881
I mapped the strap to one of the dark red portions and then actually moved the strap mapping to an empty place (where your green square is) before I posted the "NEW" UV map for you to use as your guide.
So the final mapping is that UV map.

Why don't we use the actual objects as the hotspots?

[2018-08-09 16:44] wlbragg commented on #881
I know, I know better than to use an image and then have to be disappointed because we can't find as good as a substitute. I was wanting to make sure it was going to look OK if done with the right resources.

[2018-08-09 16:53] wlbragg commented on #737
@legoboyvdlp I'm not trying to turn you off this project, I just question the amount of time to left before the release to do it justice. I think there is going to be a tone of tweaking and possibly more mesh splitting along with custom textures for each piece of split mesh to make it look the way I envisioned it to look. Otherwise I think we will end up with the default dirt effect straight from

[2018-08-09 17:28] wlbragg commented on #1167
If anyone has time to animate that using the same techniques as say the primer, please do. I don't think I am going to have the time. I may be able to get to it, but it will be way down on the priority list.

[2018-08-09 17:29] wlbragg commented on #1108
I saw that, good!

[2018-08-09 17:37] gilbertohasnofb commented on #1167
I will try to do this tonight.

[2018-08-09 17:38] gilbertohasnofb commented on #881
I need the hotspots when the plugs are removed, so that we can add them there. For removing them I will of course use the actual objects. Or am I misunderstanding something? Once you are done doing that I will work on the texture and the implementation.

[2018-08-09 17:39] gilbertohasnofb commented on #1168
@legoboyvdlp That would be nice to get fixed but I also I think that's quite minimal, so I will let @wlbragg decide.

[2018-08-09 17:42] gilbertohasnofb commented on #737
That's great we have access to that! @legoboyvdlp see if you would like to use that, but perhaps we should first implement the system itself for all terrain and then later consider to add a function to detect different terrains and change the dirt accumulation factor using that. But IMO we should really work first on the simple system as to get it right.

[2018-08-09 17:45] gilbertohasnofb commented on #1003
That's great we have access to that! @legoboyvdlp see if you would like to use that, but perhaps we should first implement the system itself for all terrain and then later consider to add a function to detect different terrains and change the dirt accumulation factor using that. But IMO we should really work first on the simple system as to get it right.

 I agree that we might need more time than

[2018-08-09 19:42] gilbertohasnofb commented on #906
@legoboyvdlp Ok, so a couple more things:

* in the `Checklist: Securing Aircraft` tutorial the position of the circles is still off by some cm. I suspect all other `Checklist: Foobar` types of tutorials will be the same since they have not been updated after the cockpit lift.

![fg-0](https://user-images.githubusercontent.com/5700795/43921770-aee63bd0-9c14-11e8-87c8-4859cf67a053.jpg)
![fg-1](http

[2018-08-09 20:02] wlbragg commented on #1003
I agree with this, what I meant, is more that we could do a "simple and basic" system (maybe just time) for now if we're trying to get this in the release.
But I'm not sure even that is going to look good enough without much time spent on the different dirt textures and mesh parts we may need.
It would be a great addition to the next release after this one, after all we're going to need something

[2018-08-09 20:04] wlbragg commented on #1168
I'll take a look.

[2018-08-09 20:08] wlbragg commented on #881
Ah, OK.

[2018-08-09 20:13] legoboyvdlp commented on #1003
Well, I can finish the Nasal part anyway and leave it to you guys to do the rest of the 3d / 2d part, then it can be merged next release? How's that? :smile:

[2018-08-09 20:22] legoboyvdlp opened #1170 "Add sound for windows"
Should the windows make some sound? Right now they are silent. I would imagine a kind of click as you move the lever and a squeak or something as you open the window?

[2018-08-09 20:24] legoboyvdlp opened #1171 "Improve flap sound"
- separate flap lever (click) and motor sounds (you could move the lever without electrical power, and that should make a click)
- find a new motor sound - I found a public domain one somewhere from a Cessna but never could find it again, it is an electrical whining noise if i recall correctly. YouTube might help to compare any sounds you find against.

If nobody beats me to it I'll have a search

[2018-08-09 20:30] legoboyvdlp commented on #1123
Does the ground service plug door need modelling in the lower left cowling?

I had a look at the electrical system and as far as I can see it is pretty much complete, so if there isn't anything else to be added this could be closed.

The only thing is the avionics switch closing automatically if the breaker trips, but that is very very minor.

[2018-08-09 20:40] gilbertohasnofb commented on #1003
Totally! :rofl:

Sounds great lego, there is no reason you cannot keep working on whatever you want. I think that @wlbragg's main concern was that you don't get disappointed if this doesn't make it into this very release.

[2018-08-09 20:41] wlbragg commented on #1168
I fixed the texturing strips on the steps, any farther needs to be done with the texture itself.

Same for the visors, I lined up the bottom and side edge, but not the top and side edge, that I think requires a texture change or more mapping than I want to partake in at the moment.

These changes are pushed to the cowling PR Add cowl plugs #1166

[2018-08-09 20:42] gilbertohasnofb commented on #906
I am so sorry for being picky and I know what a pain this is but those markers look terrible when they are out of place :cry:

[2018-08-09 20:42] gilbertohasnofb commented on #906
at least it's only one coordinate that you need to change, not three...

[2018-08-09 20:43] gilbertohasnofb commented on #1170
I will work on this.

[2018-08-09 20:44] gilbertohasnofb commented on #1171
I will take a look, but I am having quite a lot of work right now and since we already have a flap sound this will be low priority, ok?

[2018-08-09 20:47] gilbertohasnofb commented on #1123
Not too sure I understand what you mean, do you mean where the cable enters the nose? If so, I have a confession: I simply imported those ground equipments from the c182s and I don't know how they should interact with the 172 :scream: do we know if we have such a plug door and if so where exactly it is located?

What do you mean if the breaker trips? You mean that pulling the avionics breaker will

[2018-08-09 21:05] wlbragg commented on #881
@gilbertohasnofb
This is done, hotspot is, CowlPlugHotSpot

[2018-08-09 21:10] gilbertohasnofb commented on #881
Excellent. And have you seen my report about the lack of texture on the cowl plugs?

[2018-08-09 21:12] wlbragg commented on #881
No?

[2018-08-09 21:17] gilbertohasnofb commented on #881
Weird. I am posting so much but now I can't find it. Sorry, multitasking like crazy right now. But basically my cowl plugs are fully white, no texture at all. I tried replacing that png with another one made by me but it is still fully white.

[2018-08-09 21:32] wlbragg commented on #881
Wow, I have the same thing happen and when I refreshed it shows up. I have no answer for this weird behavior. I am out of time until late tonight so for now can you just refresh the model (debug) and I'll try to figure out what the weird glitch is later.

[2018-08-09 21:38] wlbragg commented on #881
@gilbertohasnofb also, I just pushed the final mapping (with the strap in the blank portion of the texture sheet that we talked about) I forgot to push it last night. I don't think this affects you any other than you need to pull it before you push.

[2018-08-09 21:50] gilbertohasnofb commented on #1171
I partially worked on this on https://github.com/c172p-team/c172p/pull/1169. We already had a very soft click sound when the lever moved even when the flap motor was off. But I've made it a bit louder and replaced with a better sound. I could not find a reference for the motor sound, could you please try to find the one you mentioned? Also if this reference has a click sound I can better judge if

[2018-08-09 21:52] gilbertohasnofb commented on #881
@wlbragg I am also away from now so I will just quickly test what you push and then wait for you to solve this glitch before working on the textures.

[2018-08-10 00:08] legoboyvdlp commented on #1123
I quote, roughly,  if an electrical malfunction occurs, and the avionics circuit breaker should open, electrical powrer to the avionics will be interrupted and the switch will move automatically to the off position.

And lol, don't worry... I did the same thing for the external heater! :joy:

[2018-08-10 07:01] #1167 closed

[2018-08-10 07:01] #1170 closed

[2018-08-10 07:51] wlbragg commented on #881
@gilbertohasnofb I think I got it figured out. We needed livery support for these as well. I think your ready to take over on this.

[2018-08-10 11:00] gilbertohasnofb commented on #881
Hmm, I don't like that the texture is now on the `/Models` folder as well as in `/Models/Interior/cowlplugs`. I tried removing one of them but then the texture looks buggy, parts of the texture weren't showing up in the sim.

Let's keep things consistent and use only the object folder for its filed. For instance, the `control-lock` folder contains model, texture and xml.

[2018-08-10 11:35] gilbertohasnofb commented on #1123
I wonder if this happens only in a malfunction or if the switch would also move if the pilot themselves would pull the breaker. If it's the latter case then a simple logic switch would do, else we don't have malfunctions implemented for the electrical system yet.

It's our secret then :wink:

[2018-08-10 11:58] legoboyvdlp commented on #1123
I would guess that the switch flips anytime the breaker trips, whether due to malfunction or voluntary action although that is not specifically stated. I'd say simulate that way until we have any other information about it.

[2018-08-10 12:02] gilbertohasnofb commented on #1123
Cool, I will make a PR for that.

[2018-08-10 12:08] legoboyvdlp commented on #906
@wlbragg @gilbertohasnofb what is the offset that was added to the panel when it was raised up, surely I could just add that to the z-coordinates?

For the other tutorials I did this manually using the debug > tutorial marker dialog and it was a pain.

[2018-08-10 13:39] gilbertohasnofb commented on #906
I don't know that value but @wlbragg might be able to tell you. You could also look at the tutorials and compare them two since the circles are fine in the tutorial.

Absolutely! Just keep in mind that not everything in the cockpit was lifted, e.g. trim wheel, fuel selector, thermometer and vent on the top right, etc. So don't blindly add that to absolutely everything.

[2018-08-10 13:53] gilbertohasnofb opened #1172 "Avionics switch should automatically move to off position if circuit breaker pops out"
Avionics switch should automatically move to off position if circuit breaker pops out

[2018-08-10 14:18] gilbertohasnofb commented on #1171
Oh, those are not GPL friendly... :sob: they are so good. I will try to recreate them at some point then.

[2018-08-10 14:44] gilbertohasnofb commented on #1172
Closing due to https://github.com/c172p-team/c172p/pull/1173#issuecomment-412100896

[2018-08-10 14:44] #1172 closed

[2018-08-10 14:49] wlbragg commented on #906
I don't remember.

[2018-08-10 15:56] legoboyvdlp commented on #906
It looks like it was roughly 0.0256 - measured using tutorial marker ;)

[2018-08-10 16:14] wlbragg commented on #881
This is different. For one, the texture should no longer be in the cowlplugs folder, if it is then that is my mistake. The difference from control-lock for example and any other object that has the texture residing in it's own folder is that this is livery dependent.
All the livery dependent textures are in Models/

Again, the texture should no longer be in the cowlplugs folder. What part exactly

[2018-08-10 16:16] gilbertohasnofb commented on #881
The question is why do we need livery support for them. Was that the only way you found of solving whatever issue you previously had? Because IMO it doesn't make sense to make them livery dependent. And the file was in both folders indeed.

The cord connecting the two sides. I will investigate this later today or tomorrow.

[2018-08-10 20:55] #306 closed

[2018-08-10 21:03] onox commented on #464
Duplicate of of #417

[2018-08-10 21:03] #464 closed

[2018-08-10 21:25] wlbragg commented on #881
@gilbertohasnofb I redid the strap, it should be much better. I also saved a new UV-layout as it changes a little bit.
Should be ready for you to work on unless you still don't want it to be livery dependent.

![cowlplugs-uv](https://user-images.githubusercontent.com/11069680/43982012-dcca99f6-9cb9-11e8-95f7-7db19b925ebb.png)

[2018-08-10 21:39] gilbertohasnofb commented on #881
Cool, I will work on this tomorrow.

These things tend to always be red, they don't match the livery. The whole point is that you should see it and remember to remove it:

![](http://www.kennoncovers.com/images/aircraft/cowlnew.gif)
![](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0rFveWWJYLrL0aLUBbEJ1XnWx8P6vRj0JQIxJPouCUQuKYEoX)
![](https://cdn3.volusion.com/ugavy.szapz/v/vspfiles/phot

[2018-08-11 11:32] gilbertohasnofb commented on #881
@wlbragg give me a ping when you fix the stuff above, I should be able to get the textures done by today

[2018-08-11 17:44] wlbragg commented on #881
@gilbertohasnofb this is ready. A couple notes. There is a big difference in the look of these depending on whether or not you assign "bumpspec" effect to them. If you do you could eventually make a normals map to make them pop a bit better. But I thought using that effect as is had positive and negative effects. I left it commented (/Models/Exterior/cowlplugs/cowlplugs.xml) out so you can experim

[2018-08-11 20:09] #1171 closed

[2018-08-11 21:03] gilbertohasnofb commented on #881
@wlbragg I think this object needs to be completely without any bumpspec, the bottom image in your post look much more realistic to me. These things are made out of some plastic material and shouldn't be shinny or anything, your first photo looks very metallic to me. My 2 cents is to go completely without any bumpspec.

[2018-08-11 21:08] gilbertohasnofb opened #1175 "Damage system needs some tweaking"
Damage system needs some tweaking. In particular:

* the gears should not collapse only due to braking, they should require much more force in order to snap. Only a bad landing with a lot of vertical speed should be able to do that.
* the damage should also be tweaked when using one of the two float variants. When mooring , the plane can easily get damage. Perhaps we should consider adding a condi

[2018-08-11 21:46] wlbragg commented on #881
@gilbertohasnofb then go ahead and delete the lines that are already commented out in /Models/Exterior/cowlplugs/cowlplugs.xml

[code]

[2018-08-12 12:12] #1054 closed

[2018-08-12 14:39] legoboyvdlp commented on #1123
I suppose if there isn't anything to do we can close this.

[2018-08-12 14:39] legoboyvdlp commented on #1123
I suppose if there isn't anything to do we can close this.

[2018-08-12 14:39] #1123 closed

[2018-08-12 15:51] gilbertohasnofb commented on #1123
Yeah, I think our electric system is quite well implemented. Thanks for all the info you posted about the electric system from the POH, lego.

[2018-08-12 18:56] #881 closed

[2018-08-12 18:56] #1168 closed

[2018-08-12 22:44] gilbertohasnofb opened #1178 "Better UV-map for tachometer and VSI"
Since we moved the gauges a bit backwards, both the VSI and the tachometer are having their textures too close to the borders, see:

![image](https://user-images.githubusercontent.com/5700795/44007221-6b9d1976-9e89-11e8-8d22-4bb894444c28.png)

![image](https://user-images.githubusercontent.com/5700795/44007224-6e4a1142-9e89-11e8-9c92-915721c4fff8.png)

@wlbragg would it be possible to slightly adj

[2018-08-12 22:48] gilbertohasnofb commented on #1035
Hey everyone, would any of you happen to know who was the person who added the static objects to Hilo airport? It looks really good, except for two things:

* they used a _very_ ugly low poly aircraft:
![fgfs-screen-005](https://user-images.githubusercontent.com/5700795/44007258-029d4760-9e8a-11e8-9b41-65f57a2388c1.png)

* the GA aircraft could do with some more variety in liveries, or at least mi

[2018-08-13 05:03] wlbragg commented on #1035
Well that is just silly. If I get a chance tomorrow I'll take a look at the traffic files. If I am comfortable with reading them I may change it around. It would be a good test to see if I actually have push rights to fgdata.