[2018-08-13 08:50] wkitty42 commented on #1035
On 08/13/2018 01:03 AM, wlbragg wrote:

traffic files are AI... the original message said static craft so these are
placed via scenery.flightgear.org, IIRC...

[2018-08-13 08:52] wkitty42 commented on #1035
On 08/13/2018 01:22 AM, wlbragg wrote:

i should have read more of my emails before responding... sorry... but yeah, it
is quite common... like KRDU having static models... of UPS cargo craft... at
the passenger terminals! not to mention that they are in the way of actual
parking/startup positions... artists... bah!

[2018-08-13 11:42] #1178 closed

[2018-08-13 11:44] gilbertohasnofb commented on #979
I am leaving now but I will test this later in the evening if no one beats me to it.

[2018-08-13 16:39] gilbertohasnofb commented on #1175
@wlbragg after we merge your tutorials do you already have some plans on what to do? Would it be feasible to take a look at this one?

[2018-08-13 16:40] gilbertohasnofb commented on #1134
@wlbragg what about this one, would you be interested in doing some work on it? I would happily work on the sounds.

[2018-08-13 17:24] #1074 closed, assigned to nobody

[2018-08-13 19:14] wlbragg commented on #1134
@gilbertohasnofb I think I need to clarify what we need to do here. I am a bit confused as to what the sounds are supposed to be. My confusion is between the laser version and the one we are using. I don't know what the audible sounds are for the version we are using. Or are you suggesting we go ahead and upgrade to the laser version?
My other issue with looking for anything to do right now is I r

[2018-08-13 19:18] wlbragg commented on #1134
If we can verify what sounds are used and when to use them for the current system, I would hook them up.

[2018-08-13 22:14] gilbertohasnofb commented on #1175
@wlbragg No worries, let's leave this to the next release then.

[2018-08-13 22:17] gilbertohasnofb commented on #1134
It would involve improvements to the animations of the gears (particularly the front one) and some coding to make the gears raise asymmetrically. This asymmetry would also show up in the lights (they would not go all fully bright at once). Then there are the sound implementations as well.

I think the two basic call outs of gear up and gear down are standard across all Wipline equipment. They are

[2018-08-13 22:47] gilbertohasnofb commented on #979
@legoboyvdlp I can't reproduce this. 6000 ft, max throttle, lean to max EGT and temps are all in the green arc below 245. Temps look very stable. Please try to reproduce it again yourself, maybe you need another step/requisite in order to reproduce this.

[2018-08-13 22:49] gilbertohasnofb opened #1180 "Throttle lever does not move all the way in"
This is the full throttle position with the new lever:

![image](https://user-images.githubusercontent.com/5700795/44062209-51d31b6a-9f53-11e8-8155-889ea6cefde1.png)

Throttle lever does not move all the way in. At full throttle the black part should be touching the back side, just like the mixture.

[2018-08-13 22:49] gilbertohasnofb commented on #1180
@wlbragg do you think you could take a look at this? Should be easy enough to fix in Blender or via xml.

[2018-08-14 10:26] dany93 commented on #881
I think that, IRL, the pilot manually rotates the propeller (with magnetos OFF !!) in a correct position.

[2018-08-14 10:33] gilbertohasnofb commented on #881
I think we could come up with a Nasal function that would interpolate the propeller to the correct position (similar to the one we have for testing the control surfaces), but the ejection would still be _very_ tricky to pull off.

[2018-08-14 10:58] dany93 commented on #881
Yes, the ejection is too tricky, that doesn't worth the time to do it. Deleting it or, at best (more work for a small detail), letting it on the ground would be enough. The most important is piloting.

[2018-08-14 11:13] gilbertohasnofb commented on #881
@dany93 the problem with letting it on the ground is that this object is actually part of the aircraft. I don't know if that's possible unless we use those techniques for the ground equipments. But then this will become really complex. @wlbragg any thoughts on any of these things?

[2018-08-14 12:53] legoboyvdlp commented on #979
I did it on the ground on a fairly warm day?
That might be what you need. Regardless the bug is not an over temp but the engine going "crazy" when it gets too hot, jumping +- 500rpm, and coughing.

[2018-08-14 12:56] gilbertohasnofb commented on #979
Could you please try to reproduce it? There shouldn't be any difference between being in the air or on the ground, possibly the difference is in the weather or some other settings.

[2018-08-14 12:58] legoboyvdlp commented on #979
In the air it's considerably cooler, so it should be harder to get the high temperatures surely? Anyway, that's fine, I can ;)

[2018-08-14 18:14] wlbragg commented on #881
It's not a matter of technique to move it, it's the fact that it's not in the right position to be laying on the ground, the orientation of the model. You would have to create a second model. Simplest would be to just make it disappear.
@gilbertohasnofb had it correct that the propeller could be in the way of the strap. if we can fix the propeller to always be at least let's say a 10 degree angle

[2018-08-14 19:47] gilbertohasnofb commented on #881
That's tricky because if you fail to start the engine the propeller will be anywhere (try just hitting `s` for a millisecond). The best approach would be to find what property controls the propeller and then setting it to a value `x` when the cowl plugs are on. I will see if I can find it out...

[2018-08-14 19:57] wlbragg commented on #1180
@gilbertohasnofb I'm going to push this fix to a miscellaneous-issues-cleanup PR I will make when done.
Along with the cowl plug changes.

[2018-08-14 20:00] wlbragg commented on #881
I cut my last post short as I was mobile. I think we should interpolate the prop from any position to the desired position when the cowl plugs are placed and I think I know how to to it. Also I am going to push c172p.ac with a change to the default prop start position of about -70 from where it is now which will leave it sitting at about a 10-20 degree tilt from vertical.

 I'm going to push this

[2018-08-14 20:02] gilbertohasnofb commented on #1180
Sounds good.

[2018-08-14 20:06] gilbertohasnofb commented on #881
I just took a look and it seems to me that, unfortunately, the propeller is not controlled by any single property but rather by a `spin` type of animation using the `rpm` as source. As such I don't know how could we rotate it when clicking on the hotspots for adding the cowl plugs...

If we find a way though then I would say that we can take the easy route with the ejection and just remove it. And

[2018-08-14 20:12] wlbragg commented on #881
We can easily rotate it, I just don't know if we can tell where it is and where exactly to rotate it to?

[2018-08-14 20:30] wlbragg commented on #881
@gilbertohasnofb looks like we can easily place the prop at the default starting location when you select the cowl plugs even after the engine rpm has left it elsewhere. But I don't think we have access to the current rotation value of the propeller object needed in order to interpolate it.

[2018-08-14 20:32] wlbragg commented on #881
So you have to use your imagination to assume the pilot turned the prop by hand when installing the cowl plugs.

[2018-08-14 20:33] gilbertohasnofb commented on #881
That's not a problem, that's just cosmetic. Would you mind to take care of this then? I just don't know how to reset the propeller. Once you have the PR opened I will remove my code for the coughing.

[2018-08-14 20:34] wlbragg commented on #881
So as far as I can tell by setting the prop to where we want it as default in the blend/ac and then using this code.
[code]
to place it back to center (where /sim/model/c172p/proppos is set at 0 in c172p-set.xml).
It just works. Is that OK, do you want me to push it?

[2018-08-14 20:35] wlbragg commented on #881
Yeah, let me push this and also we will need to add the disappearance code when starting the engine.

[2018-08-14 21:11] wlbragg commented on #881
@gilbertohasnofb it's not working. I did a simple test and thought it did, but apparently not. We can rotate it but I am not sure if we can know it's rotation position. I'm going to ask on the forums.

[2018-08-14 21:44] gilbertohasnofb commented on #881
I have an idea, but it's a mega hack: what if the cowl plug model would also have a propeller added to it? That is, we make a group with both objects. So then when the plugs are added we hide the 'real' propeller and show the plugs + the 'plug propeller'. Once they are removed, we switch back. This means that the propeller will teleport both when adding the plug and when removing it though...

But

[2018-08-14 21:52] wlbragg commented on #881
@gilbertohasnofb it's not really complicated at all. I actually (temporarily) added the prop to the cowlplug blend in order to edit the strap to sit on the outside of it. It is a very simple select statement to have the one in the cowlplug blend selected and the real one not selected when cowlplug-visible = true and vis-verse when the opposite is true. Not really a bad solution.
Lets give my quest

[2018-08-14 22:07] gilbertohasnofb commented on #881
Great! Once you decide how to tackle the modelling side I will take care of the cough and the rest of the code. Just give me a shout when you have a PR.

[2018-08-15 00:06] wlbragg commented on #881
I went ahead and just did what we discussed, I think it turned out to be a reasonable fix. See Miscellaneous issues #1181 PR

[2018-08-15 14:39] dionyziz commented on #724
For what it's worth, we use liters when filling up the C172Ms at the LGTT GA clubs. It may be a Europe thing.

[2018-08-15 15:03] gilbertohasnofb commented on #724
@dionyziz Thanks for the input. I am improving the fuel dialog to also show fuel in litres and also to show the baggage weight in kg.

[2018-08-15 20:10] callahanp commented on #1090
While the current model looks to me to be very good, it has a few areas I'd question:
  - Lower Panel cutout under the radio stack is missing.
  - Some lower panel elements might not be in exactly the right place
  - Instrument Panel vertical distances between the rows of instruments might differ from the real plane
  - The Fuel and Oil Gagues look different from pictures of the actual plane.  The

[2018-08-15 20:25] legoboyvdlp commented on #1090
Isn't @juanvvc a pilot? I believe he is in Spain. Not entirely sure what model of Cessna he flies / flew. And there is of course OH CTL itself, perhaps tigert might be able to contact the current operators in order to arrange a visit.

[2018-08-15 23:34] gilbertohasnofb commented on #1090
This is the relevant bit. If you get real measurements than we can shift things around. Also, there is also a limit of what we want to achieve here, I frankly would not bother moving things around if they are just a few millimeters off their correct positions. It's a matter of pain vs gain, as always. And if no one can tell the difference between our switch positions without a ruler then perhaps w

[2018-08-15 23:38] gilbertohasnofb commented on #1090
Yeah, @tigert had access to one in Finland, I believe, but he went silent since quite some time, probably busy with RL or just having moving on from FG. Where are you based, Pat? I took a look at the airclubs here around London and it seems they all have much more modern versions of the 172, unfortunately.

[2018-08-16 07:37] callahanp commented on #1090
Based in USA, Framingham, Ma.  I'm investigating my resources here.  Lots
of upgrading going on around here too I hear.

As for making fg c172p changes based on more accurate measurements, what
gets done would be up to whoever wants to make the change, or not.

I will provide you with a copy of any real, well documented data I can put
together, but I realize you each have your own set of prioritie

[2018-08-16 10:45] legoboyvdlp commented on #1090
Our local club here at Ards only has the SP unfortunately. So no good there either.

[2018-08-16 16:16] callahanp commented on #1090
I just found out about a $400 device that works with an Ipad to do 3d
scans.  Anyone know of someone with one of these?  It's on my wish list and
I've got lots of questions about it's output format and  how we might use
it.
I wonder if there's an open source version of it.

If we used one in a cockpit, what would we get that we could process into
stuff for an aircraft.

I'm thinking one might deve

[2018-08-16 18:25] gilbertohasnofb commented on #1090
@legoboyvdlp Ards as in Ireland?

@callahanp That's really an excellent approach and we would certainly welcome more data which may then be used in future improvements! About the 3D scanning thing, the issue is that, as far as I know is, there is a lot of noise in the scanned data and while the results can be impressive they will be way too unoptimized when comparing with a hand modelled aircraft.

[2018-08-16 20:44] legoboyvdlp commented on #1090
Yes!

[2018-08-16 22:00] gilbertohasnofb commented on #1090
Cool, I recently relocated to London 😄

[2018-08-16 23:05] callahanp commented on #1090
That's a lot of data to try to pull a wireframe from..

On thing that might be better with a scan is the lack of perfection in reality would translate to subtle differences in position of certain objects. For example Circuit breakers or switches might be mounted in a set of holes with enough clearance so the repeated position and vertical alignment is not perfect .In the sim we use a single unvary

[2018-08-16 23:34] gilbertohasnofb commented on #1090
Well, please do share whatever data you get your hands into! Also high quality photos under neutral light, close ups of the panel texture, labels, etc. could become very helpful (similarly to those photos tigert had originally shared with us, but with more closeups).

🤣 So I suppose it is not missing any longer!

[2018-08-17 17:36] #724 closed

[2018-08-17 17:36] #1180 closed

[2018-08-17 19:58] onox commented on #1108
@legoboyvdlp The @c172p-team/developers team would like to add you to the team :smile: Would you like to be added?

[2018-08-18 00:28] legoboyvdlp commented on #1108
Do you actually trust me given my interesting history with tabs? :joy:

Anyway, that would very good - thank you! It will make the workflow a lot easier, without having to work with forks.

I understand the master branch is protected - i.e. the only thing that should ever be pushed there is a merge commit from another branch?

[2018-08-18 14:27] gilbertohasnofb commented on #1108
@legoboyvdlp Cool lego! This will make life easier when we want to contribute with you in a same PR, also pushing commits (just like I wanted to do with the tutorials one). And you also will get access to the developers chat :smile:

[2018-08-18 14:29] gilbertohasnofb commented on #1108
And yeah, `master` is protected and you should never ever merge your own PRs, always let someone else test and review it. You will also be able to merge PRs from now on, but do please use a lot of thought before hitting the merge button. If a PR isn't in your area of expertise or if it's a complex large one then do consider contributing with your review but not merging before more people also try

[2018-08-20 16:51] legoboyvdlp opened #1184 "Vents are too light"
![image](https://user-images.githubusercontent.com/10434911/44354383-a2092b80-a4a1-11e8-8bfc-c35206ece5e1.png)

![image](https://user-images.githubusercontent.com/10434911/44354411-b0efde00-a4a1-11e8-89f0-6e06274a4274.png)

Seems this got broken along the way?

[2018-08-20 17:04] wlbragg commented on #1184
@legoboyvdlp could you be more specific, I'm not sure what your referring to? If it is the color, that I think is the texture color.

[2018-08-20 18:11] legoboyvdlp commented on #1184
I was referring to the black stripe which I thought was a UV error?

The light gray texture also looked similar to the default AC3D material as well.

[2018-08-20 20:21] wlbragg commented on #1184
Oh, the black strip is the vent hole or opening. That part is correct.

[2018-08-20 21:12] wlbragg opened #1185 "Modify light maps on instrument cases"
The light map covering the case face on the instrument is not correct, it is too dark.

[2018-08-22 17:47] gilbertohasnofb commented on #1184
@wlbragg how do you feel if I would darken the texture of the vents a bit? They are now too white in comparison with the rest of the cockpit. Could you point out to me where they are mapped to?

[2018-08-22 18:01] #1124 closed

[2018-08-22 20:37] legoboyvdlp commented on #1008
I'm going to investigate this issue - if it needs correcting, I will, if not I'll close this :)

[2018-08-22 20:41] legoboyvdlp commented on #603
@it0uchpods do you still have the autopilot files on your hard disk or were they lost when you deleted your repositories?

[2018-08-22 20:43] it0uchpods commented on #603
I lost them in my hard disk crash a few months ago.

I'll probably redo it in JSBsim anyways, Since derivative control works better in JSB PIDs since you can adjust derivative gain instead of just derivative time.

Best Regards,
Josh

[2018-08-22 20:59] wlbragg commented on #1184
The vents are a bit of a mess UV mapping wise.
![uventuv](https://user-images.githubusercontent.com/11069680/44490557-356a6a00-a624-11e8-8ea1-99a9f4962fdc.jpg)

[2018-08-22 21:09] #1185 closed

[2018-08-22 21:12] gilbertohasnofb commented on #603
@it0uchpods sorry to hear about your hard drive :cry:

[2018-08-22 21:14] gilbertohasnofb commented on #1184
@wlbragg I will create a branch for this and push a fix soon

[2018-08-22 21:50] it0uchpods commented on #603
Yeah, it was back in April, and I had another drive crash a few weeks back. Toshiba disks finally gave out :D

But now that my drives are in order and my health is almost back in order, probably can start this up again.

J

[2018-08-22 22:10] #892 closed

[2018-08-22 22:10] #967 closed

[2018-08-22 22:12] gilbertohasnofb commented on #603
@it0uchpods glad to know that both you and your drives are doing better. Take care!

[2018-08-22 22:12] it0uchpods commented on #603
Thank you very much!

Cheers,
Josh

[2018-08-22 23:33] Octal450 opened #1188 "FDM: Too much adverse yaw"
First off, the FDM feels very good, but the adverse yaw from rolling is just far too much. When you put a roll input, far too much adverse yaw happens, even when trying to coordinate the turn with the pedals. The issue is most noticeable at low speed (where there is arguable too much p-factor also). Compared to the real plane, it feels like far too much to remain control.

Best Regards,
Josh

[2018-08-23 00:29] onox commented on #978
@c172p-team/developers Can this problem still be reproduced?

[2018-08-23 00:31] onox commented on #1188
@dany93 ^^

[2018-08-23 01:47] gilbertohasnofb commented on #978
@onox yeah I still can.

[2018-08-23 12:51] gilbertohasnofb commented on #1184
@legoboyvdlp Thanks for reopening this. I changed the title to match what I am working on.

[2018-08-23 13:30] dany93 commented on #1188
This is an endless issue....

My references: (at least part of them, a few ones that I can remember after so many convolutions)
- [Megginson's tables](http://www.megginson.com/Aviation/roskam-coefficients.html#sec.data)
- [advices from okroth 18 April 2018](https://github.com/c172p-team/c172p/issues/1047#issuecomment-382449833) (issue #1047)
- [this video](https://www.youtube.com/watch?v=UV8xcm5xs

[2018-08-23 17:28] #1184 closed

[2018-08-23 18:37] legoboyvdlp opened #1190 "Digital Clock: wrong name in gui"
Should be _Astro_ Tech, not _Aero_ Tech!

[2018-08-23 19:55] #1190 closed

[2018-08-27 21:17] it0uchpods commented on #1188
Alright, I'll let you know, thanks.
J

[2018-08-28 09:35] dany93 commented on #1188
Also, @tigert[ wrote](https://github.com/c172p-team/c172p/issues/947#issuecomment-360999442) (Spiraling propwash effect #947):

[2018-08-28 12:20] legoboyvdlp opened #1192 "Add non-ALS lightmaps"
Add non-ALS lightmaps for non-ALS users doing night flights.

The current lightmaps require ALS. The aircraft cannot do night flights presently without ALS. User "Megaf" has been complaining about this on Discord.

It is possible to add non-ALS lightmaps which require only the Model shader using model-combined-deferred as seen on the IDG-A32X - would it be possible to add these, enabled only when

[2018-08-28 12:50] dany93 commented on #1192
Understanding where the issue is seems even more complicated.
[I do not have the instrument lightings](https://github.com/c172p-team/c172p/issues/438#issuecomment-405266678) (post lights) even with ALS "ON" (although ALS works by elsewhere).
They should be activated by the "Radio lighting" knob.

[2018-08-28 13:47] gilbertohasnofb commented on #1192
@wlbragg and I had a conversation about this once, it is quite difficult to cater for three different rendering systems and for users using different shader levels. Personally, I think FG is a mess with these three rendering systems (and two weather modes).

[2018-08-28 15:43] wlbragg commented on #1192
@legoboyvdlp one thing you might suggest to "Megaf" is what he is seeing is totally realistic. The two lights he does get are the only ones that aircraft have on some models, that is why he has a red flashlight. Dos it work? It still doesn't give him the red flood and white dome lights which he should always have, all models.
Why wouldn't the "alternate non-ALS" light maps use the same maps we alr

[2018-08-28 15:52] gilbertohasnofb commented on #1192
@wlbragg I think you might have misunderstood what lego wrote, but it seems to me that the user he mentioned does not use ALS, he is probably on either Rembrandt or default rendering. This means that he does get those two instruments with the RADIO LT (which is realistic) but he likely does not get the post and flood lights since those depend on ALS, right? Therefore he is complaining that without

[2018-08-28 16:37] legoboyvdlp commented on #1192
Gilberto is correct.

[2018-08-28 17:03] wlbragg commented on #1192
I wasn't clear in what I said. Two points I was making.
If he is not using ALS then he has a realistic c182p without post lighting. This is how they are without post lighting and he can do a night flight, we have a video of a pilot dong a night flight without post light and only the two integral lit instruments. He can use the flashlight maybe in place of the red flood that that pilot appeared to

[2018-08-31 12:54] wkitty42 opened #1194 "FG 2018.3.1 RC branching"
I couldn't find an issue directly related to the upcoming FG release so I've created this one. We can keep it or not after any discussion is completed.

Please catch up on the FG dev mailing list thread titled "Release management for 2018.3". Specifically this conversation which I understand to mean that we need to get our latest work into FGData in the next less-than 8 days.

[2018-08-31 14:59] HHS81 commented on #1192
I'm a bit confused. You should always use model-combined-
deferred. But so much as I remember Default only allows one lightmap channel,  while the ALS allows 4 channels,  and with some magic 12. Wlbragg known how the latter works.

And that is why I agree to Gilberto - 3 rendering to support, 2 of them too much. I just have mentioned the issue yesterday to the devel-list. Don' t need to tell how T

[2018-08-31 17:51] onox commented on #1192
IMO we can close this as a won't fix.

[2018-08-31 18:55] legoboyvdlp commented on #1108
I just added my digital clock.

[2018-08-31 18:59] legoboyvdlp commented on #1192
Fair enough. Thanks.

[2018-08-31 21:04] Megaf commented on #1192
Just to be clear, I was expecting **at least** something like this without ALS. This is @HHS81 c182S.
![image](https://user-images.githubusercontent.com/6201512/44935668-98b57400-ad69-11e8-8e5e-4e6b02cd9d35.png)

However, we can have some nice visual effects without ALS, as in the 707.
"Domelight" off, instruments brightness max
![image](https://user-images.githubusercontent.com/6201512/44935707-c

[2018-08-31 21:43] Megaf commented on #1192
I think it'd be interesting to compare with the F-14.
No ALS nor Rembrandt, all shaders set to minimum or disabled. And we have an effect of red flood light.
![image](https://user-images.githubusercontent.com/6201512/44937044-44ad8e00-ad6f-11e8-894d-222a1d0d2af8.png)

So my point is, ALS is not required. And shouldn't be.

[2018-08-31 21:59] wlbragg commented on #1192
I think you might miss the point that the shot with only two lit instruments is accurate to a c172p with no post lighting. The integral lighting was never realistic. There is a video showing a pilot flying at night with only those two instruments and a red flood, (which admittedly you don't even have the red flood). Does the flashlight work for you?

[2018-08-31 22:00] wlbragg commented on #1192
It's not an issue of not knowing how to give you the lighting you want. The issue is in the authenticity.

[2018-08-31 22:04] Megaf commented on #1192
![image](https://user-images.githubusercontent.com/6201512/44937657-3dd44a80-ad72-11e8-8ee2-1a51914b1f4d.png)

[2018-08-31 22:05] Megaf commented on #1192
And I would be very happy with a simulated red flood light only.

[2018-08-31 22:15] HHS81 commented on #1192
@wlbragg
The problem of Megaf is, that he he don't have any lighting because he doesn't use ALS as render. Just the Default renderer.
So at least there should be a fallback. And I think by using the material animation, it should be perfectly possible to have the flood and post light.

[2018-08-31 23:37] legoboyvdlp commented on #1192
It ia impossible to add the post light uaing a material animation, but a basic red flood light is certainly possible.

[2018-08-31 23:39] legoboyvdlp commented on #1192
@Megaf just out  of interest, I take it the lightmaps do not work at all even with the model shader set to full and no ALS?

[2018-08-31 23:51] Megaf commented on #1192
That is correct, everything is simply black without ALS.
![image](https://user-images.githubusercontent.com/6201512/44939936-1638ae80-ad81-11e8-9bf7-42ef17f9ffa4.png)

[2018-09-01 00:39] HHS81 commented on #1192
Tzhe post light illuminates the instruments, right?
That's all what he want to see.....

[2018-09-01 01:28] Megaf commented on #1192
By the way, I've spent the last hour watching c172 night flights, most of them have instruments lights.
https://www.youtube.com/watch?v=OAKV_NYN75I

[2018-09-01 03:45] it0uchpods commented on #603
Hello, please:
I have some difficulties getting it to behave properly, because no experience with it.

I decided I am right now modelling the S-TEC Fifty Five X Rate-Based Autopilot system, because the plane I fly in real life has this autopilot in it, and I have access to tons of info about it. So far it is going very well, and acting well. It like the real one uses only Turn Coordinator, Vertica

[2018-09-01 04:47] wlbragg commented on #1192
That's all what he want to see.....

Right, that is what the light maps reproduce. We have had considerable discussion about this and it was decided that we wouldn't support a full integral lighting system (material animation), because they don't come that way in real life. If they don't have post lighting then they only have the oil and rpm (and maybe the egt) with integral lighting. That is what

[2018-09-01 05:00] wlbragg commented on #603
Thanks @it0uchpods definitely worth looking at, If nothing else as an option.
Is this the one?
http://www.gvm.ch/documents/avions/pa32/sys55Xpoh.pdf
If it is used in this aircraft, even if only after market, I'd love to see it as an option.

[2018-09-01 05:10] wlbragg commented on #789
I'm adding this to the "Fixes" list in the save-state PR. I will start a new issue for the Startup States after this release is finished.

[2018-09-01 12:03] it0uchpods commented on #603
That's the one, yep.

[2018-09-01 17:04] Megaf commented on #1192
Sorry, I think I was not clear on my previous comment here, everything is black BUT rpm and oil.
I will simply not fly the c172p anymore. Without ALS or anything really it's already too heavy and too taxing on my hardware.

Besides, the FDM is getting worse with each release, that left roll is absolutely unreal. It's too strong and it stays the same way no matter the stage of the flight, engine po

[2018-09-01 17:48] Megaf commented on #1188
Is this useful at all?
[Report.pdf](https://github.com/c172p-team/c172p/files/2342562/Report.pdf)

[2018-09-01 18:30] #789 closed

[2018-09-01 18:30] #906 closed

[2018-09-01 22:01] dany93 commented on #1188
Thank you @Megaf.
It can be useful. At least, interesting. Some  more data.

[2018-09-01 22:03] Megaf commented on #1188
What kind of information would be useful? @it0uchpods can provide feedback and hands on information and I can try to find some documentation on something.

[2018-09-02 15:48] #1192 closed

[2018-09-02 16:07] #1108 closed

[2018-09-02 16:07] onox opened #1196 "Gather a list of features and bugs we fixed in 2019.1"
We should gather a list of all the new features, major changes, and bugs we fixed. Please create a list (use \* to create bullet points) here.

**Features:**

* Persistent adjustable pilot seat/view position
* New seat frame modeling
* New fog and frost overlay showing heat and air vent effect
* Wheels sink based on ground cover density
* Tire size influences  tire friction
* Wheels sink based on

[2018-09-02 16:09] onox commented on #1194
@stuartbuchanan @zakalawe Branch [release/2018.3](https://github.com/c172p-team/c172p/tree/release/2018.3) has been created.

[2018-09-02 16:09] #1194 closed

[2018-09-02 16:27] Megaf commented on #1192
Thank you @legoboyvdlp and @onox

[2018-09-02 18:45] it0uchpods commented on #603
Status update:
So far, HDG, NAV, ALT, and V/S have been implemented. The 3D is complete thanks to Talons, and awaits texturing.

First, the PIDs and the logic are specially designed so that it does not overshoot Turn Rate, or Vertical Speed like the old KAP140 does, while using the same Turn Rate from the indicator, and static pressure. I am very proud of that accomplishment. It is even stable in

[2018-09-02 19:02] wlbragg commented on #603
@it0uchpods I am really excited about this one. I definitely want to add the option to use this autopilot to this aircraft.

[2018-09-02 20:00] wlbragg commented on #603
The nasal can be loaded and not activate any routines until asked, the property rules should take conditions possibly.

Last resort possibly a variant choice or state or both.

[2018-09-02 20:00] stuartbuchanan commented on #1194
Thanks guys.  I've just committed this to fgdata.

I've spotted a couple of issues - I'll mention them on-list.

-Stuart

On Sun, Sep 2, 2018 at 5:09 PM onox <notifications@github.com> wrote:

[2018-09-02 20:03] it0uchpods commented on #603
I don't think it will need it. I'm using my own properties and logic, so it should coexist with generic autopilots just fine.

Josh

[2018-09-02 20:04] it0uchpods commented on #603
You'll need some nasal to change the dialog to my S-TEC dialog too on the switch.

J

[2018-09-02 22:27] legoboyvdlp commented on #603
Is completely replacing the KAP140 an option? It will still be available in Instruments-3D as far as I know, so its not as if we are deleting prexisting work.

[2018-09-02 22:28] it0uchpods commented on #603
It's up to the c172p-team. It will replacing the KAP in my PA28 for sure.

[2018-09-02 23:31] wlbragg commented on #603
For me it would depend on when this autopilot became available. We may not want to completely remove the 140 if that is still a more common AP in a 172p of our age. My first option would be a choice if that is possible.

[2018-09-02 23:42] it0uchpods commented on #603
Both the KAP140 and S-TEC 55X were introduced around 1998-2000 is I remember correctly. They were competitors, so I don't think age is a factor.

[2018-09-03 10:14] legoboyvdlp commented on #603
"Cessna began using the KAP 140 autopilot in their 172 Skyhawks in 1996 with the introduction of the R model. "

The 55X was standard in the Cirrus SR22 aircraft, while the KAP140 was the standard of the 172 series as far as I can see - however, only after 1996 apparently? I've no idea what autopilot they used if any previously.

[2018-09-03 12:35] it0uchpods commented on #603
Ahh okay. 👍 Maybe in the future I'll use what I learned from modelling the 55X to rewrite the 140.

J

[2018-09-03 15:53] dany93 commented on #438
[On 16 jul 2018](https://github.com/c172p-team/c172p/issues/438#issuecomment-405266678), I wrote:

In Rendering Options > Shader Effects , Custom settings was unchecked (probably by default). With Shader effects are at 5/5, but it was not enough.
After checking it, > Shader Options:  I saw that the "Model Shader" slider was at 2 / 4. By setting it at 3 or 4 / 4, everything works.

Solved for my qu

[2018-09-03 16:57] wkitty42 commented on #438
glad you found that, @dany93 !

this is one of the types of things that i hate having to dig around to find and fix... there are numerous pieces of eye-candy in the sim and many craft... without certain higher shader effects being enabled, those pieces are not rendered... turn up the setting and they appear but may cause some FPS loss...

this type of thing is why my Additional Settings in the lau

[2018-09-03 18:03] wlbragg commented on #438
Wow, how'd we all miss that, it was to simple? :laughing:

[2018-09-03 20:17] wlbragg commented on #1192
deferred. But so much as I remember Default only allows one lightmap channel, while the ALS allows 4 channels, and with some magic 12.

I noticed this statement and while working on something else looked into this.
We are using model-default for the ALS interior stuff, not model-combined-
deferred which I think is part of the exterior model-combined scheme.

[2018-09-03 20:35] HHS81 commented on #1192
@wlbragg
Yeah, I might be wrong as it is quite confusing.
As an example I wanted to implement ALS-interior shadows for the EC 135 P2, but their lightmap didn't work with default/ rembrandt.

[2018-09-04 02:43] wlbragg commented on #1192
@HHS81

deferred which I think is part of the exterior model-combined scheme.

I was also surprised to learn that model-combined-
deferred can also use the multi-channel light maps and even under Rembrandt, or so my test indicated. But you still can't use both strategies at the same time on the same model mesh.

[2018-09-05 22:46] wlbragg opened #1199 "Add adjustable seat option"
Even though we have the ability to change the view point by other means, I would like an easy way to make this a permanent change in the context of adjusting my seat. I was searching through a few different 172p POH manuals (80's) and it is clear there is at least an option of a hand cranked vertical adjustment seat.
I always adjust my view position so I can see the nose of the aircraft, it is a m

[2018-09-06 02:02] wlbragg opened #1200 "2018.3 Release potental bugs"
From: Stuart Buchanan <stuart13@gm...> - 2018-09-02 20:13:49
--
On Sun, Sep 2, 2018 at 5:38 PM Wayne Bragg wrote:  > James and Stuart, > > The c172p release is cut and ready to go. > > https://github.com/c172p-team/c172p/tree/release/2018.3 >

[2018-09-06 02:55] wlbragg commented on #1200
@dany93 I know this is the never ending issue and I did a cursory search on the same, again. From a quick search it doesn't seem to be an issue at all that the aircraft requires right aileron to avoid a roll to the left. But beings I don't completely understand the significance of
"significant (0.1-0.2) right aileron"
and
"This is happening at all alpha
 this is out of my domain.

Maybe Stuart and

[2018-09-06 09:59] dany93 commented on #1200
@wlbragg,

`controls/flight/aileron = (-1 to +1)`

`orientation/alpha-deg`

Angle of attack,
- high (up to 10... 15 deg), nose up, at low airspeed,
- low at high airspeed.

The main contribution to leftwards roll tendency (with no rudder action) is the propeller torque. Which is obviously dependent on RPM and airspeed.
At high thrust and low airspeed, the P-factor and spiral propwash contribute to

[2018-09-06 11:32] stuartbuchanan commented on #1200
Hi Dany,

I wonder if the problem I'm seeing is because the /controls/flights/aileron-trim value has been over-written for some reason?

The cruise setting you have trimmed it to is the same part of the flight envelope that I was requiring aileron input, which is odd.

I'll investigate further.

-Stuart

[2018-09-06 16:15] legoboyvdlp commented on #1199
It seems only the six-way seats can have their height adjusted:

![image](https://user-images.githubusercontent.com/10434911/45170669-5328f900-b1f8-11e8-8b95-954ab90b6a82.png)

![image](https://user-images.githubusercontent.com/10434911/45170682-5ae89d80-b1f8-11e8-93ab-2ca9acce0b30.png)

![image](https://user-images.githubusercontent.com/10434911/45170694-61771500-b1f8-11e8-8a92-38f3dda26966.png)

[2018-09-06 17:48] callahanp commented on #1200
After flying out of HILO to the northeast and setting the autopilot to ROL,
and flying for several minutes, I turned on multiplayer.

 I had an error crash flightgear soon after turning on Multiplayer.
When I clicked connect the first time, the server dropdowns were not
populated.
I waited and then connected .

Will Try to reproduce this.

end of attached log:

MPServerResolver: sending DNS reques

[2018-09-06 18:45] callahanp commented on #1200
post 2017 only.

On Thu, Sep 6, 2018 at 2:21 PM Jonathan Redpath <notifications@github.com>
wrote:

[2018-09-06 18:46] callahanp commented on #1200
This may not be a c172p-team bug.
but it happened on next, with c172p also from next.

Is there more information I could gather that would be helpful?

On Thu, Sep 6, 2018 at 2:45 PM Patrick Callahan <pat.callahan1@gmail.com>
wrote:

[2018-09-06 19:11] wlbragg commented on #1200
We haven't made the upgrade yet.

[2018-09-06 20:04] it0uchpods commented on #603
![image](https://user-images.githubusercontent.com/25598604/45182153-84043080-b1ee-11e8-9373-019710381f73.png)
Progress, 3D panel piece is working.

J

[2018-09-08 13:55] legoboyvdlp opened #1203 "Console message: "unrecognized LOGIC token or""
To fix:
replace line 979 in c172p.xml:
`<test logic="or" value="gear/gear-pos-norm">`

with

`<test logic="OR" value="gear/gear-pos-norm">`

[2018-09-08 14:15] #1203 closed

[2018-09-08 18:26] wlbragg commented on #1203
@gilbertohasnofb  @legoboyvdlp Does this need to be add to the Release as a bug fix?

[2018-09-08 18:27] gilbertohasnofb commented on #1203
@wlbragg Yes. And I will be checking everything you wrote in 2 minutes.

[2018-09-08 19:46] gilbertohasnofb commented on #1200
@wlbragg Someone posted this on the dev-list right now, can you confirm we fixed this issue already?

[2018-09-08 20:11] wlbragg commented on #1200
I hope so. I moved the material animation to the end of the file and it did correct it. This issue is not related to the new release, it is in this merged PR, now in master.
https://github.com/c172p-team/c172p/commit/8e0e4f13ea52b0b0a15728a64d121d5629408536

While were at it let me ask you if you knew this "default" renderer upgrade was not getting into this release and if you are OK with that? Th

[2018-09-08 20:54] gilbertohasnofb commented on #1200
Do you mean that the work you did for the post lights in the default renderer did not get into the release? If so then I think we must get it there!!

[2018-09-08 20:55] gilbertohasnofb commented on #1200
Could you please cherry-pick your commits as soon as possible?

[2018-09-08 21:29] gilbertohasnofb commented on #1200
Yeah, I see your point but it's basically making sure a feature we already have will also kind of work with the default renderer after some users complained about it. So it's totally passable for me as a bug fix :smile:

[2018-09-08 21:32] wlbragg commented on #1200
OK, done.
I see StuartB hasn't done a new commit to fgdata yet so hopefully it will all be included when he does.

[2018-09-08 21:39] gilbertohasnofb commented on #1200
Sounds good! Once he makes the merge let's check the top commit hash to make sure everything gets merged properly.

[2018-09-09 14:35] gilbertohasnofb commented on #1200
From the list:

[2018-09-09 15:26] gilbertohasnofb commented on #1200
I can't reproduce the first error message, the second has been fixed by lego and the rest seem to have to do with simgear:

[code]

[2018-09-09 16:01] gilbertohasnofb commented on #1200
Response:

Can anyone reproduce these?

[2018-09-09 16:15] dany93 commented on #1200
Yes, I can. (as responded on FGDevel list)

On my system,
Linux Mint 18, OSG 3.2.1, Qt 5.5,

I have these six lines (Alan), exactly in this form. Have had them for a long time (from memory).

FlightGear  1eab172 Sun, 2 Sep 2018 10:07:09 +0100
SimGear     32189b7 Sat, 1 Sep 2018 18:08:32 +0100
FGData      7552c29 Sat, 1 Sep 2018 09:54:42 +0300
PLIB        a542b8a Wed, 4 Oct 2017 17:33:51 +0200

c17

[2018-09-09 16:17] gilbertohasnofb commented on #1200
@dany93 I think the first thing is to try to isolate these bugs and figure out if they are related to our aircraft or not. Could you please try launching another aircraft and check if any of those lines disappear from your log?

[2018-09-09 16:39] dany93 commented on #1200
I've tried with
- dr400-180-jsbsim (from the French PAF), launched with .fgfsrc (same airport as my test with c172),
- (Boeing) 777, launched from the Qt Launcher, in a different airport.

No such messages.

But I have them with the c172p launched from the Qt launcher, same airport as the 777.

It seems specific to the c172p, whatever the launching procedure and airport (at least from my limited t

[2018-09-09 16:49] wlbragg commented on #1200
This one is harmless. It can be eliminated but i don't really see any reason to do so. @onox  and I have had this discussion before. It is caused by trying to initialize or use a property that doesn't exist yet. It gets created a few steps later when it is actually used thus is not and error but more like a warning. To eliminate it all you have to do is initialize it in the set file.

I've had thi

[2018-09-09 16:58] gilbertohasnofb commented on #1200
@wlbragg just the first one I believe.

[2018-09-09 17:02] gilbertohasnofb commented on #1200
Ok, so this is something we should try to tackle. They are not breaking anything so it's not urgent but it would be really good if we would manage to figure out what's causing them.

[2018-09-09 17:03] legoboyvdlp commented on #1200
As for `FGPropertyManager::GetNode() No node found for hydro/active-norm`, I get that too. I think wlbragg said it was fine, somewhere along the line?

I only fixed `Unrecognized LOGIC token or`.

I have these as well, but couldn't track them down:
`ignoring unknown axis-alignment'yx-plane'.
ignoring unknown axis-alignment'yx-plane'.
ignoring unknown axis-alignment'yx-plane'.
empty 'not' condition

[2018-09-09 17:05] wlbragg commented on #1200
[code]
This is another one I know I have had a discussion about. Maybe in the hydo code? Maybe the same type of "warning" as the...

[2018-09-09 17:08] wlbragg commented on #1200
Yeah, the "empty not" is pretty obvious. I've been searching for it. I feel like it is new and thus probably in the most recent work. Maybe the default rendering stuff, which I am scrubbing through now but not seeing anything obvious.

[2018-09-09 17:12] wkitty42 commented on #1200
i also posted a test from a few minutes ago to the dev mailing list... the only thing i see that no one else has reported is this...

Nasal runtime error: non-numeric string in numeric context: ''
  at /home/myuser/myflightgear/Aircraft/c172p/Nasal/state-manager.nas, line 75

i forgot to reset my starting location to a parking place so the c172p started up in the air 1000 feet ASL over the control

[2018-09-09 17:28] wlbragg commented on #1200
@wkitty42 can you reproduce that error?
If so I need you to do a test for me after changing a piece of code.

[2018-09-09 19:02] stuartbuchanan commented on #1200
On the aileron trim issue - I've confirmed that it's working correctly.  I think I must have reset the aileron trim to 0.

-Stuart

[2018-09-09 19:41] stuartbuchanan commented on #1200
HI All,

I've spotted a different issue - the use of /controls/engines/current-engine breaks the CH Throttle Quadrant and anything else using the controls.perEngineSelectedAxisHandler

The fix is pretty straightforward:

diff --git a/Aircraft/c172p/Nasal/engine.nas b/Aircraft/c172p/Nasal/engine.nas
index 1e24a3d..cbac6f5 100644
--- a/Aircraft/c172p/Nasal/engine.nas
+++ b/Aircraft/c172p/Nasal/engin

[2018-09-09 20:12] wlbragg commented on #1200
@stuartbuchanan
I'm not sure I understand the issue or what it is your doing.

What about
[code]
that too?

So the changes should be?

~~controls.throttleAxis = func {
    var value = (1 - cmdarg().getNode("setting").getValue()) / 2;
    var new_value = std.max(0.0, std.min(value, 1.0));
    setprop("/controls/engines/current-engine/throttle", new_value);
};
controls.mixtureAxis = func {
    var v

[2018-09-09 20:44] stuartbuchanan commented on #1200
So, the underlying problem is that the 172 is using
/controls/engines/current-engine/throttle rather than the standard
/controls/engines/engine[0]/throttle.  I'm guessing it's something to do
with supporting different engines in-sim.

That's a problem for people with joysticks that bind axis to
/controls/engines/engine[0]/throttle.

To solve this, engines.nas in the c172p overrides controls.thrott

[2018-09-09 21:03] gilbertohasnofb commented on #1200
Yes, that is correct, Stuart, we have the default 160 HP engine as no. 0 and the 180 HP as no. 1. I believe all engine properties have a `/current-engine/` variant which we use as not to duplicate all systems or functions that depend on the engine. Does this quadrant also control mixture or any other engine property? Because I believe that all engine properties will be treated similarly.

I think

[2018-09-09 21:42] stuartbuchanan commented on #1200
On Sun, Sep 9, 2018 at 10:03 PM Gilberto Agostinho <notifications@github.com>
wrote:

Yes, the quadrant also has mixture and prop controls.  The patch fixes
those as well.

Well, you're unusual in having multiple engines that can be selected
in-sim.  In comparison, the F-14 has different engines (A & B variant), but
they are selected by choosing a different -set file.

-Stuart

[2018-09-09 21:44] gilbertohasnofb commented on #1200
The problem is that we already have 6 variants and some of them use both types of engines in RL. But this is something we should perhaps consider in the future.

@wlbragg do you think you could apply that patch and cherry pick the commit?

[2018-09-09 22:10] wlbragg commented on #1200
I don't understand the patch?
The only thing being added that I can see it the propeller-pitch which the c172p isn't capable of.
The other two properties already have overrides.
The patch does not look complete to me.
It looks like it is changing only controls.mixtureAxis and not controls.throttleAxis
So what I am seeing, unless I don't understand it, is incomplete at best.
Now I admit, I may very

[2018-09-09 22:13] wlbragg commented on #1200
So I will repeat my question and expand it as I understand the code.

Should this be the entirety of the change?

So the changes should be?

~~controls.throttleAxis = func {
    var value = (1 - cmdarg().getNode("setting").getValue()) / 2;
    var new_value = std.max(0.0, std.min(value, 1.0));
    setprop("/controls/engines/current-engine/throttle", new_value);
};
controls.mixtureAxis = func {

[2018-09-09 22:17] wlbragg commented on #1200
Also if you look in the /controls/engines/current-engine tree there is no propeller-pitch at all, so this patch effectively does nothing.
Please explain it to me if I am missing something.

[2018-09-10 00:47] stuartbuchanan commented on #1200
Hi Waldo,

No, that's not the change.

You've missed the important bit at the end which is to override the controls.perEngineSelectedAxisHandler:

[code]

No need to change the controls.throttleAxis code etc.

Just the following bits (as a diff against fgdata - perhaps the c172p-detailed repo has changed?):

[code]

-Stuart

[2018-09-10 00:59] gilbertohasnofb commented on #1200
@stuartbuchanan If you tested the code and it's working then I don't see why not to include it, but I don't think any of us have a quadrant to test it. But here is another question, why do you use

[code]

instead of `"/controls/engines/current-engine/throttle"`?

[2018-09-10 01:59] wlbragg commented on #1200
@stuartbuchanan sorry, yes I left out the function at the end.

I have no experience generating or applying git diff patches using git commands.

I couldn't get git to apply the patch because of the line ending.
So the let me ask this then. The entire change to the file is only the addition of the following lines, correct? No subtractions, only thew following additions?

[code]

[2018-09-10 02:05] wlbragg commented on #1200
If the above is correct, then the patch is applied and in the 2018.3 Release branch.

[2018-09-10 02:08] wlbragg commented on #1200
@stuartbuchanan you get consideration for getting my name wrong because I did the same to you when I was sending StuartC updates on the status of bug fixes. My name is Wayne, not Waldo. Although, Waldo does have a nice ring to it.

[2018-09-10 09:37] stuartbuchanan commented on #1200
Sorry Wayne - got you confused with wkitty (who is Waldo) for some reason.

Yes, those are the required changes.  Thanks for committing them.

-Stuart

On Mon, Sep 10, 2018 at 3:08 AM wlbragg <notifications@github.com> wrote:

[2018-09-10 11:01] wkitty42 commented on #1200
@wlbragg

yes, i was able to reproduce the problem...

that change to line 65 of state-manager.nas does appear to fix that particular problem...

also, @stuartbuchanan,

that's how things used to be done... one of the first major moves by the team was to combine everything and make the craft selection choices in-sim... this allows for making certain craft related changes without having to exit the

[2018-09-10 11:38] onox commented on #1200
@wlbragg I don't see the patch in the release branch, only in `master`.

[2018-09-10 13:57] gilbertohasnofb commented on #1200
Are there any other withstanding bugs after @wlbragg cherry-picks this commit and @stuartbuchanan merges it to FGData? Is there anything else we need to solve for the release or was this the last point?

[2018-09-10 14:18] wkitty42 commented on #1200
On 09/10/2018 09:58 AM, Gilberto Agostinho wrote:

if the second fix about line 65 in state-machine.nas has been added, then i do
not know of any others right offhand...

to clarify, on line 65 of state-machine.nas, change the "" at the end of the
line to 0 (zero)...

[2018-09-10 14:29] wkitty42 commented on #1200
it fixes this error... it is what he asked me to test...

Nasal runtime error: non-numeric string in numeric context: ''
at /home/myuser/myflightgear/Aircraft/c172p/Nasal/state-manager.nas, line 75

"" is an empty string and apparently it is being passed to line 75 which doesn't accept strings... but yes, i have no problem waiting for @wlbragg to fix it and get it merged in...

[2018-09-10 17:41] wlbragg commented on #1200
I'll do this last bug fix now
[code]

[2018-09-10 17:47] wlbragg commented on #1200
Done! Everything that we know about has been accounted for.

[2018-09-10 17:48] gilbertohasnofb commented on #1200
@wlbragg Thanks! So it looks like we are ready for a (hopefully) final merge into FGData for the FG 2018.3 release. @stuartbuchanan would you please merge our release branch into FGData once again? Many thanks for this as well as for all reports and for that patch.

[2018-09-12 14:59] wkitty42 commented on #1200
i just updated my FG from the official dev repos... looking at the c172p in FGData, i can see that these last few fixes have not yet been merged in there... @stuartbuchanan do you have a projected time frame when this will be updated in the official repos?

[2018-09-12 16:17] wkitty42 commented on #1200
On 09/12/2018 11:51 AM, stuartbuchanan wrote:

ok, i just wanted to make sure it wasn't missed... thank you muchly for doing
this task for us :)

[2018-09-13 19:01] stuartbuchanan commented on #1200
Hi Guys,

Reviewing the 2018.3.0 branch, I was quite surprised as the level of change.

A couple of questions before I commit this:

1) What's the additional materials for a "default renderer first/second/final pass" ?  Is this the experimental compositor?

2) I see you've added some frequencies for the comm/nav in -set.xml.  I don't think that's the correct fix.  It should be taking the values fr

[2018-09-13 19:13] legoboyvdlp commented on #1200
I'm fairly sure it isn't the compositor - it's a recreation of the lighting using <material> tags used when ALS is off, for those who do not / cannot use it.

[2018-09-13 19:26] stuartbuchanan commented on #1200
Ok, that's fine.  I just got a little bit of a shock seeing the level of
diffs!

Re the other issue, ideally the COM/NAV should pick up
location-presets.xml.  If that isn't possible in the current timescales,
then they should be set to the same values so that the radios will be
correctly tuned for PNHL.

-Stuart

On Thu, Sep 13, 2018 at 8:13 PM Jonathan Redpath <notifications@github.com>
wrote:

[2018-09-13 19:50] wlbragg commented on #1200
@stuartbuchanan I don't see nav or com properties in presets...
http://wiki.flightgear.org/Preset_Properties

[2018-09-13 19:51] stuartbuchanan commented on #1200
@wlbragg  See fgdata/location-presets.xml

Basically, they are updated with the default airport information when that
changes so that by default we have good settings for the default location.

On Thu, Sep 13, 2018 at 8:50 PM wlbragg <notifications@github.com> wrote:

[2018-09-13 20:04] wlbragg commented on #1200
So that looks like
[code]

[2018-09-13 20:09] wlbragg commented on #1200
Here is something else wrong I just found line 720 c172p-set.xml
[code]

[2018-09-13 20:18] wlbragg commented on #1200
So how do we set these in the set file to reference the location-presets.xml
[code]

[2018-09-13 20:34] wlbragg commented on #1200
@stuartbuchanan
OK, I'm pushing the following to master and then cherry picking to 2018.3 Release branch.
[code]
Everyone else OK with this?

[2018-09-13 20:47] wlbragg commented on #1200
@stuartbuchanan so long as that comm/nav which I tested with an aircraft-data reset only is OK. This is ready to go.

As far as the

@legoboyvdlp was correct, it gave the full range of lighting to the default renderer users. It was extensive for a bug fix and I debated committing it. But we decided it best to add it to the release for the benefit of those that could not use the ALS renderer and al

[2018-09-13 21:12] gilbertohasnofb commented on #1200
@wlbragg Yeah, I am totally okay with that fix, thanks for doing this properly.

[2018-09-13 22:10] wkitty42 commented on #1200
On 09/13/2018 05:12 PM, Gilberto Agostinho wrote:

i have no problem with it, either... it enhances the craft and makes it better
for more users... that's always a GoodThing<tm> ;)

[2018-09-14 06:55] wlbragg commented on #1200
This is wrong, I am trying to set a property with itself.
The properties in location-presets.xml are
[code]
the property in our set file that I am trying to set is the same
[code]
So it appears we need to eliminate any initialization in the set file and simple let the location-preset.xml do it.

I am pushing this final fix now.

[2018-09-14 08:07] stuartbuchanan commented on #1200
Great.  Thanks for sorting this out so quickly.  Very much appreciated.

We should probably have a list of properties that aircraft should avoid
changing - things like /sim/rendering and some of the instrumentation
settings.

-Stuart

On Fri, Sep 14, 2018 at 7:55 AM wlbragg <notifications@github.com> wrote:

[2018-09-14 14:13] wkitty42 commented on #1200
maybe that list can be worked into some sort of process in FG that simply denies those properties to be set from any craft? issue an error message to the log and carry on leaving the property as it was before the request...

[2018-09-16 17:14] stuartbuchanan commented on #1200
I've committed this to fgdata.  Thanks all.

[2018-09-16 20:46] gilbertohasnofb commented on #1200
@stuartbuchanan Thanks a lot, Stuart!

[2018-09-16 21:12] wlbragg commented on #1200
Yes, thank you! Again apologies for such a big revision.
I was attempting to test out of fgdata and blew a brand new 4 gig stick of ram. I thought it was my SSD and was about panicking but it fortunately (or not) ended up being one of the new memory sticks. I just bought 2x4 gig because one 4 gig stick I bought in December last year already died. Wat a pain!

[2018-09-17 17:37] gilbertohasnofb opened #1205 "Possible improvements to the checklists"
Scott wrote in the devel-list:

[2018-09-17 17:38] gilbertohasnofb commented on #1205
For anyone wanting to work on this in the future: please do _always_ use the POH as your main reference. Do go through what Scott wrote item by item and check if any of this can be added, but our main reference should not be based on individual pilot behavior or even common knowledge type of behavior but rather on what the POH says.

[2018-09-17 19:39] wlbragg opened #1206 "Add auto mixture to the standard autostart in c172p.nas"
I created an fcs_function outputting the property /fdm/jsbsim/engine/auto-mixture in c172p-engine.xml to use in the "on approach" state to insure (best we can) that the aircraft will start when in this state, regardless of elevation.

It is simple to use...
[code]

I totally forgot to do this when I created it but think it is a good idea. Unless of course we don't want to let autostart work in hig

[2018-09-17 20:17] gilbertohasnofb commented on #1205
Scott added:

[2018-09-17 20:18] gilbertohasnofb commented on #1206
I think we want the autostart function working in all situations we can, if I could I would have it working even under water or if on the Moon! :rofl:

[2018-09-22 18:45] wlbragg commented on #202
This is the mask Piper Archer CV is using for the effect

![window-mask](https://user-images.githubusercontent.com/11069680/45920655-371a8e00-be6d-11e8-8079-6c18e10b8660.png)

This is my test mask with the proper UV mapping for our windshield.
![windshield](https://user-images.githubusercontent.com/11069680/45920688-ca53c380-be6d-11e8-8f1c-8b49bbbea1dc.png)

[2018-09-22 19:00] gilbertohasnofb commented on #202
@wlbragg what are the name of these files, please?

[2018-09-23 05:01] wlbragg commented on #202
Here is what I have so far. There is a plenty of room for improvement. If you want I can push  a branch with this test case so you all can mess around with it and I can also explain what I know about it and what all I think needs to be done and modified. It's actually a bit complex as to what all is involved with this.
This was the first round before I did a couple minor edits of the masks and tex

[2018-09-23 05:11] wlbragg commented on #202
I think the defrost pattern could be improved. Not only the shape but the density. Right now there is almost no color where the defrost or vent air blows. So you will never have fog or frost there. It needs to have at least some so when fog or frost is at its highest level you would have some covering that area. But then as the glass started to clear the portion that is less strong would clear fir

[2018-09-23 14:27] gilbertohasnofb commented on #202
@wlbragg thanks for starting to work on this. First, I am still a bit confused about the channels, are you sure that yellow image from the piper is what gives the ice effect on the glass? That image...:

![image](https://user-images.githubusercontent.com/5700795/45929081-cb0b5900-bf44-11e8-88c3-e0342c364efa.png)

... has information only in the blue channel. All pixel values in the red and green c

[2018-09-23 17:27] wlbragg commented on #202
Let me start by saying, like everything in programming there are usually more than one way to to a task, I think that is the case here.

I didn't explain this very well. You are correct that the "ice pattern" does not come from the yellow image. Only the "smudging" and the overall additional "glare" on the glass. The ice effect I am relatively sure is coming from the default ice mask in fgdata.

T

[2018-09-23 18:37] wlbragg commented on #202
Here are all the UV layouts...
back-interior
![c172p-back-interior-uv](https://user-images.githubusercontent.com/11069680/45931568-7dd3bb00-bf35-11e8-8959-41db8d938ab3.png)
front-interior
![c172p-front-interior-uv](https://user-images.githubusercontent.com/11069680/45931569-7dd3bb00-bf35-11e8-930f-e8e28629267f.png)
left-window-interior
![c172p-left-window-interior-uv](https://user-images.githubuse

[2018-09-23 18:39] gilbertohasnofb opened #1209 "Beacon light position varies with angle"
Beacon light position varies with angle:

![fg-6](https://user-images.githubusercontent.com/5700795/45930064-74a51700-bf52-11e8-982e-2cc0a0a15594.jpg)
![fg-5](https://user-images.githubusercontent.com/5700795/45930067-753dad80-bf52-11e8-9872-b84a52f0377d.jpg)
![fg-7](https://user-images.githubusercontent.com/5700795/45930069-753dad80-bf52-11e8-832a-a682fcd88a45.jpg)

[2018-09-23 18:53] gilbertohasnofb commented on #202
@wlbragg thanks for all the information, I really appreciate you taking your time to explain this so thoroughly! I just have some questions about the defrost pattern: what is supposed to cause the defrost pattern in the middle of the front glass in our aircraft, is that  when the hot air lever is > 0% or is there something else controlling it? And if it's controlled by that lever, then wouldn't it

[2018-09-23 18:55] gilbertohasnofb commented on #1199
I think this could be a nice feature for the next release, and should also be easy to implement.

[2018-09-23 19:15] wlbragg commented on #202
Technically yes. Right now the frost and fog accumulation and removal is controlled by several factors.
heat and air vents
windows and door positions
persons in the aircraft
environmental factors
So yeah, there is a bit of an issue to permanently bake vent pattern in the overly mask if your not using the heat and air to defrost/defog.
It would be considered "normal" to use the heat/air blower to c

[2018-09-23 20:43] legoboyvdlp commented on #202
May I ask if it is theoretically possible to extend the effect to include dirt, bugs, etc using that overlay mask or are we already using all the channels?

If so that can be added in conjunction with the dirt effect later - I can do that work myself hopefully.

[2018-09-23 20:44] legoboyvdlp commented on #1199
Other aircraft e.g. f16, viggen have nice implementations of moving views to specific locations. I think it's mostly angle (looking down at displays) but the same technique can be used. I think it's using interpolate() functions in nasal.

[2018-09-23 20:51] wlbragg commented on #202
Good news, we can control the "fog" portion of the vent mask selectively using it when the vents are open, but not the ice. However if we pattern the ice carefully we should be able to achieve the effect we want anyway as the ice would theoretically take more time to defrost than the fog. So even if there is still a slight layer of ice in the vent area, the fog being reduced in that area is still

[2018-09-23 21:15] wlbragg commented on #202
With that said it would require a hand off from no vent pattern to the effect with the pattern before the fog started to defrost or you will get a sudden jump from no vent pattern to a potentially substantial vent pattern. Some kind of coordination as to when you could switch over to the effect with the vent. Not allowing that switch if it is at the wrong time in the thawing process.
Another way t

[2018-09-23 21:42] legoboyvdlp commented on #202
That sounds similar to what happens in cars albeit thats a very very minimal flow. Since the air comes through a door in the side which would be pretty much flush with the cowling you probably wont much air at all if the air knob is pushed all the way in.

Also, should the upper left / right vents affect the frosting / fogging? I'd imagine it would make the glass locally colder, thus increasing fr

[2018-09-24 00:35] wlbragg commented on #202
Here is a video of what I have so far.
I've created 4 of the 6 masks. I'll post all 6 when finished and please anyone that wants to modify and experiment with the masks, go for it. That is what this is for. It isn't meant to be the final product. But it is the correct layout for each one and the effect code is implemented.
https://www.dropbox.com/s/j4ox731r54wc2k1/2018-09-23%2019-27-05.mp4?dl=1

[2018-09-24 00:44] gilbertohasnofb commented on #202
That is looking really good! But would it be too much trouble to try to make those ice patterns a bit larger again? I like the new effect but I miss seeing those, I think it's just a matter of fine tuning it. But it looks wonderful!

[2018-09-24 01:13] wlbragg commented on #202
I just pushed everything, feel free to experiment with the masks in Gimp. You'll easily see how they are arranged. Because the glass is broken down to 6 parts you could customize different smudges and such on each piece of glass.
I left the environmental property ties commented out so you can test strengths for yourselves using...
/environment/aircraft-effects/fog-level
/environment/aircraft-effec

[2018-09-24 16:59] gilbertohasnofb commented on #202
That's excellent, I will try to have a look at this as soon as I can, possibly over the weekend. Thanks again for all the hard work!

[2018-09-26 18:38] wlbragg commented on #202
FYI: The masks are wrong, all the white needs to be 100% blue. I'm not sure when I switch it but I just now noticed while trying to create a better mask.

[2018-09-26 18:58] wlbragg commented on #202
I'm not very skilled at color channel manipulation. As I read the docs, the red channel controls the fog. So red on black or alpha should give you the mask for fog and the defrost vent pattern.
The blue channel is the ice and so blue on black or alpha should give you ice. I am getting ice to show on the fog only selection in the sim. I think that is because I don't have the channels separated corr

[2018-09-26 19:14] wlbragg commented on #202
OK, I finally got one correctly implemented. It is the front windshield (windshield.png).
![fgfs-screen-023](https://user-images.githubusercontent.com/11069680/46103230-f042d600-c195-11e8-81c0-7cacfb4cea17.png)

I have a thought on the defrost vent pattern and how strong or weak we make it. My thoughts are that we can allow some fairly intense icing, which looks really compelling if conditions sup

[2018-09-26 20:40] Astrinus commented on #850
I'm using 2018.2.2 version. In tutorials (start the engine, taxiing) the engine won't start (as in alwesh case), and even autostart fails, however it starts fine with very same procedure if not in tutorial mode.
Starting tutorials one after another or directly, with and without FG restarting, does not change anything.

[2018-09-26 23:01] legoboyvdlp commented on #202
Nice work!

[2018-09-26 23:21] wlbragg opened #1210 "Visors rotate beyond window limit"
I don't know when this happened or why but the visors now rotate too far forward. They can rotate through the windshield. I know they didn't used to be able to do this and they were tested by @gilbertohasnofb and myself. Now suddenly they rotate beyond rational limits.

![fgfs-screen-026](https://user-images.githubusercontent.com/11069680/46114603-f6967980-c1b8-11e8-8faa-66ff805c8da4.png)

[2018-09-26 23:31] wlbragg commented on #1210
It's even more messed up than I thought. Look at the visor rods.
![fgfs-screen-027](https://user-images.githubusercontent.com/11069680/46114891-54779100-c1ba-11e8-81bd-b1dea387f6e8.png)

[2018-09-26 23:35] wlbragg commented on #202
Thanks @legoboyvdlp but I think these could be a lot better. This is my attempt at smudging.
![fgfs-screen-028](https://user-images.githubusercontent.com/11069680/46115047-f8f9d300-c1ba-11e8-9d4a-88df454c58e5.png)

[2018-09-26 23:37] wlbragg commented on #202
I need to correct a previous statement.

What I meant to say here is we have no control over how much glare can be introduced to either the default ice or fog effect, it is a set calculation we have no control over. If you want to control glare you have to do it in the blue channel.

[2018-09-27 18:43] wlbragg commented on #202
My next attempt at fog and ice masks. At least these are correct channel assignments now. it is all pushed to the PR branch.
I added a bit of smudging. While I feel this is an acceptable outcome, I still think a professional artist could produce much more compelling results.
Something that still needs to be verified is the fog and frost numbers the fog and frost system is capable of producing and

[2018-09-28 16:48] #1210 closed

[2018-09-28 18:46] wlbragg commented on #1199
I think this is the seat frame I want to model. Looks like simple mechanisms to move for/aft and raise/lower. The raise/lower looks like it also moves for/aft slightly.

Everyone OK with this, it was in a 172m? If anyone can verify it fits a 172p I would appreciate it. I don't see why it wouldn't .
That leads me to another question, should this be an option (choice of two seat frames) or just make

[2018-09-28 21:08] gilbertohasnofb commented on #1199
@wlbragg I think precise measurements might not help us too much given that our interior was not build using precise measurements. For instance, when we raised the panel, we did it so that it looked good to our eyes and similar to photographs, but the height, depth, angles, etc., are not precise at all. As for giving the user a choice of two seat frames, I feel that is a bit too much. For one, peo

[2018-09-28 21:11] gilbertohasnofb commented on #850
@Astrinus I just tried loading the taxiing tutorial on FG 2018.2.2 and the engine starts as soon as the tutorial is loaded, so I am not sure what is the problem. I think we need more information to understand what is the problem on your side.

[2018-09-28 23:17] wkitty42 commented on #1199
On 09/28/2018 05:10 PM, Gilberto Agostinho wrote:

i agree, gilberto... making it easy for the user to raise or lower their eye
height is one thing but i don't think we really need to model and animate a
while seat structure... wlbragg or anyone else can model the seat, sure, but i
don't think it needs to go much further than that... i've already seen a few
comments in the forum about the c172p ge

[2018-09-29 02:46] callahanp commented on #1199
I just happened to have the parts manual open when I saw this post.

The parts manual shows the "infinitely adjustable front seat installation"
on pages 260 & 266.

Infinitely? That sounds a bit optimistic!

Version 1 of it indicates serials 17263459 through 17276079.  Version 2 is
17276080 on.
So at least it was available from 1975 on.  The simpler seats covered
similar ranges.  It appears to me

[2018-09-29 04:03] wlbragg commented on #1199
I wasn't even considering this problem at all and I agree, I don't want to get into having to account for human models in any way, shape or form because we move the seat physically.

Sounds reasonable to me and so long as it makes this choice persistent, I am OK with this simple concept.

Need to, no. However I  never liked the existing seat mounts all that much and I started making a mount more l

[2018-09-29 13:56] callahanp commented on #1199
where are you sourcing your seat design from?  do you have a copy of the
parts catalog?

On Sat, Sep 29, 2018 at 12:03 AM wlbragg <notifications@github.com> wrote:

[2018-09-29 16:46] wlbragg commented on #1199
@callahanp what a great idea. I never once thought of searching for a parts catalog only user and op manual. The parts catalog is perfect source for reference.
My source was a photo of a seat being installed in a 172m, however after looking at the parts catalog it looks identical (or close enough) to the above mentioned "infinitely". Good thing I looked thought as I was going to install it upside

[2018-09-29 18:46] wlbragg commented on #1199
@callahanp I agree with your analysis of the seat mechanisms.
The "infinitively" seat as best I can tell has three adjustments...

1) Elevation (slight fore/aft motion as well) bellcrank lower left front.

2) Lever bar or lever knob for rolling forward and aft.

3) Either an electrical cylinder controlled seat back position or a bellcrank upper center or a lever at the seat back intersection like

[2018-10-02 16:37] legoboyvdlp commented on #538
this is possible using generic pitot-static elements - this is how I did it in the A320:
![image](https://user-images.githubusercontent.com/10434911/46363006-b415e680-c669-11e8-972f-5e2e2b0dbdfa.png)

see:

http://wiki.flightgear.org/FGproperties/Systems

[2018-10-02 18:53] onox commented on #538
@legoboyvdlp What would you like to implement exactly? Just non-airtight blocking (blocked pitot probe) or icing of probe and static ports as well?

[2018-10-03 19:37] HHS81 opened #1212 "Ground shadows just a few metres below the aircraft in flight in replay"
In replay modus the ground shadow ist jsut a few metres below the aircraft.
 Instead it should be on the ground.
You can see it here in the video: [https://www.youtube.com/watch?v=LfCcw6t04k0](https://www.youtube.com/watch?v=LfCcw6t04k0) at 0:21 and the following seconds.

c172p from fgdata, pulled yesterday, matching FlightGear bin (218.4.0)

[2018-10-03 20:58] gilbertohasnofb commented on #1212
@HHS81 I can't reproduce that. I am using our `master` branch and FG 2018.2.2 (I'm waiting for the PPA to be updated for version 2018.3.1). Is anyone in our repo on version .3 or .4 so that we can try to reproduce this?

[2018-10-03 22:34] legoboyvdlp commented on #1212
I'm on 2018.3 (compiling 2018.4 at the moment actually!) I'll give it a test in the morning.

[2018-10-04 19:57] Astrinus commented on #850
I don't know how or why, but after a couple of restarts it worked.
However, when doing the taxiing tutorial, it tells me that "the taxiway [which I should get to] has a darker ground color", but I am already on the darkest ground!
Going forward, at about half the taxiway, it starts telling me "you're doing curves", even if I go straight, till the end.

[2018-10-04 21:43] legoboyvdlp commented on #850
Once 2018.3 is released, could you recheck with the tutorials which will be released with it? Thanks!

[2018-10-05 18:33] legoboyvdlp commented on #1212
I've not had a chance to test - my compile failed for some reason i'm still trying to determine, so I'm still trying to troubleshoot that, apologies.

[2018-10-05 19:15] gilbertohasnofb commented on #1212
@wlbragg I think that's possibly just a side effect of how the shadow works in FG. I have not tested it, but I imagine our shadow would also look dreadful when cast into a mountain slope, since the shadow is a flat horizontal surface (correct if I am wrong).

[2018-10-05 20:01] wlbragg opened #1213 "Rudder issue"
@dany93 I have always had a small issue with spotty failures of the rudder, where one side is weighted more than the other. I don't recall exactly which side and the details other than I could get way more range out of one side over the other. Sometimes it would be so bad it would not be flyable.

I recall a conversation with you while doing hydro tuning in the FDM where it was apparent that the r

[2018-10-06 09:55] dany93 commented on #1213
Hi @wlbragg

Two contributions make the aircraft steer leftwards:
Spiraling Propwash effect #947
P-Factor #1130

Both are stronger at low or moderate airspeed, and decrease, then cancel, at higher airspeed.
- Spiraling Propwash: even with the aircraft stopped on the ground,
- P-Factor: due to asymmetry in the propeller blades velocity when the AoA is different from 0 (which happens at low or moder

[2018-10-06 15:31] wkitty42 commented on #1212
do we (still?) have 2D shadows? i remember some conversation about shadows way back when this project got started...

[2018-10-06 15:40] gilbertohasnofb commented on #1212
Originally we used a simple 2D fixed shadow (just an image) but then we moved to a better solution: using a low-poly model of our aircraft (which is hidden from view) we can project its part and dynamically create a shadow, so that at low angles the shadow gets stretched as it should. But I think this is still done by projecting this hidden model into a flat plane, which then is placed just above

[2018-10-06 16:30] wlbragg commented on #1213
@dany93 so sorry to cause you to yet again explain Spiraling Propwash and P-Factor. This bug or by designed effect was neither of those two effects. It was a physical manifestation of the rudder that could be seen in the external view. After some though I am sure it was the rudder would move 100% to the left but only a fraction of that to the right. I recall you looking at the code and verifying t

[2018-10-06 16:50] dany93 commented on #1213
Can it be connected to the rudder trim value?
I recall a discussion about the **elevator** animation vs the trim value. You did the animations
(other explanation to follow)

[2018-10-06 17:16] dany93 commented on #1213
The rudder trim (like any trim) is aimed at having the aircraft fly straight and leveled with no action (commands can be loosened) despite intrinsic mechanical asymmetry.
- In reality, if you set some rudder trim value, the rudder physical position with no pilot action is shifted, off-centered. Like if the pilot would exert some pressure on the yoke. However, the rudder surface **can** reach the m

[2018-10-09 08:02] legoboyvdlp opened #1215 "Nasal Error over MP"
at C:/Users/redpa/Documents/Programs/FlightGear 2018.3.0/data/Nasal/bits.nas, line 8
  called from: C:/Users/redpa/Documents/FlightGear/Custom Aircraft/c172p/Models/c172p.ac, line 36
  called from: C:/Users/redpa/Documents/Programs/FlightGear 2018.3.0/data/Nasal/globals.nas, line 119
Nasal runtime error: nil used in numeric context
  at C:/Users/redpa/Documents/Programs/FlightGear 2018.3.0/data/Na

[2018-10-09 14:45] wlbragg commented on #1212
Oh wow, I totally missed the "In replay mode" I think I can track that down and fix it. I imagine it's a missing or incorrect signal in the replay code.

[2018-10-09 15:53] wlbragg commented on #1215
Hum, any chance you could bring this up on the dev list, unless someone here knows much about the internals of MP?
I can't comfortably answer your question.

Do you have any other information about the other c172p, version, etc? Or what MP compatibility mode you both were using?

[2018-10-10 17:03] wlbragg commented on #1199
Here is the final frame for the front seats. They've been done for awhile, i kind of got distracted and haven't gone any further. @gilbertohasnofb I think part of the reason I stopped working on it is the realization we need new textures for it and thus light map adjustments. My thought were to use the same space we use now for the frames to put new textures down. I am going to do the back frame a

[2018-10-10 17:08] wlbragg commented on #1212
Could someone that can actually use the flight recorder verify the fix worked?

[2018-10-10 17:20] wlbragg commented on #202
Well I missed a great opportunity to test this in a real life situation. I was flying out of Juneau AK transporting 3 hunters and a load of equipment to a hunting camp VIA float plane to a small lake up in the mountains. I had  to traverse a range by gaining and dropping in altitude rapidly to get to the destination. At the extreme altitude changes I got both icing and fogging . Unfortunately I wa

[2018-10-10 17:31] legoboyvdlp commented on #1212
Sure, will do.

[2018-10-10 19:19] gilbertohasnofb commented on #1199
That looks really good!!

Well, textures aren't a problem. I can simply replace the old ones with a more suitable grey metal to be applied to all mounts. Also, I will make it more uniform as in your screenshot and less corroded, that old texture doesn't look that good IMO. About the lightmaps, I don't seem to understand what you mean. Surely there is barely any light at all hitting these points, a

[2018-10-10 19:21] gilbertohasnofb commented on #1199
For instance, I can modify the current texture:

![image](https://user-images.githubusercontent.com/5700795/46760460-1013e700-ccca-11e8-8d1f-12cd63d0bbf5.png)

into something like this:

![image](https://user-images.githubusercontent.com/5700795/46760474-13a76e00-ccca-11e8-9643-1cfebe27b9be.png)

[2018-10-10 19:46] wlbragg commented on #1199
No, just dealing with them at all. I think I have had enough light mapping to last awhile. After I did these I had to redo the set for the shuttle because I added a single object to the cabin. They are very complex and it was just a re-learning curve.
But you right, there is so little light reaching that area it really is nothing to do by hand.

Could you add a couple "rod" and end cap textures to

[2018-10-10 19:54] wlbragg commented on #202
Sorry, that's because I am confusing. I meant I had the opportunity to see the fog and frost develop in a "simulated" real life application. I was just flying the aircraft like I was on a trip and hit the right conditions. Because I was using the master branch and not the fog/frost test branch I saw the old fog and ice patterns VS the new ones. It would have been nice to see the new fog/ice develo

[2018-10-10 19:58] gilbertohasnofb commented on #202
Ah I understand what you meant now, all clear. I would love to hear from @onox concerning this.

[2018-10-10 19:59] gilbertohasnofb commented on #1199
Cool, I will try to get this done soon.

[2018-10-10 20:16] wlbragg commented on #1199
@gilbertohasnofb  be sure to use the frost and fog branch to change the texture because I am using it for the seat mounts as I also have mesh changes for the windows (at least their settings in the .ac.
I won't be making a new branch for the seat mounts.

[2018-10-10 20:32] gilbertohasnofb commented on #1199
All right, but why did you use the same branch? I think it's really good to keep unrelated things separated. It also mean that we can only merge that PR when both features are implemented.

[2018-10-10 20:44] wlbragg commented on #1199
Because it is impossible to do mesh edits in two different branches and keep it straight. I had to change some properties in the blender and .ac to do the fog/frost and that would be lost if I also tried to make a branch with blender changes for the seat mounts.

I actually started to do that and realized I was asking for trouble if I even tried. Because one binary will overwrite the other. You co

[2018-10-10 20:46] gilbertohasnofb commented on #1199
Oh, I see, I forgot that the other branch also had mesh modifications. Anyway, it's all good, I will make the texture soon.

[2018-10-10 22:16] gilbertohasnofb commented on #1199
@wlbragg Done. I pushed only for the 4X-CHV since we might still need to modify this texture. But please make it livery dependent for the sake of consistency, even though I plan to use the same mount texture for all liveries. Let me know if the new texture works for you.

[2018-10-11 02:17] wlbragg commented on #1199
@gilbertohasnofb perfect, thank you!

[2018-10-11 03:43] wlbragg commented on #1199
![fgfs-screen-017](https://user-images.githubusercontent.com/11069680/46779546-f11f5000-ccdd-11e8-855e-1ee08bc3c754.png)

[2018-10-11 04:40] wlbragg commented on #1199
![fgfs-screen-020](https://user-images.githubusercontent.com/11069680/46781139-cc2edb00-cce5-11e8-8650-f01825d0d05b.png)

[2018-10-11 05:20] wlbragg commented on #1199
I added some details like bolts anchoring it down. I also noticed in the parts manual all the back seats while having a bench seat have individual seat backs that can be adjusted individually.
![fgfs-screen-023](https://user-images.githubusercontent.com/11069680/46782272-37c77700-cceb-11e8-8441-929a53b42206.png)

[2018-10-11 09:20] legoboyvdlp commented on #1199
Looks great!

[2018-10-11 13:54] gilbertohasnofb commented on #1199
@wlbragg looks amazing. If you think you won't need any more texture changes then I will push those modifications to all other liveries. I will wait for you to give me green light to do that.

[2018-10-11 14:32] wlbragg commented on #1199
@gilbertohasnofb can you lighten the dark grey part of the texture? Maybe a bit lighter metal shade. It's not mandatory but I think it'll look better.

[2018-10-11 21:48] gilbertohasnofb commented on #1199
@wlbragg done, let me know if this works for you. I also pushed a fixed to this https://forum.flightgear.org/viewtopic.php?f=4&t=25157&sid=228101e9b57ceb9bb08360e0a77eb1af&p=337417#p337417

The user correctly noticed that the panel of N73429 had the wrong call sign.

[2018-10-12 09:23] legoboyvdlp opened #1217 "Rudder Trim"
The POH of a 1982 Model P which I have suggests rudder trim is an option, _apart_ from the manual rudder trim tab that can only be moved on the ground:

![image](https://user-images.githubusercontent.com/10434911/46860616-b49c4300-ce08-11e8-907c-409d345856d3.png)

I am not certain if the cockpit control moves the manual tab (i.e. should adjust the permanent rudder trim factor we have) or is separa

[2018-10-12 10:33] gilbertohasnofb commented on #1217
@legoboyvdlp I think we already had this discussion before. We have added the rudder trim tab model to the rudder (the little fin) but, if I remember correctly, both @wlbragg and @dany93 agreed that we would not implement this functionality. The argument was something along the lines that this is something that tends to be set by mechanics and not pilots and it's not something that people would ch

[2018-10-12 11:04] dany93 commented on #1217
If I remember well, the argument was about a rudder-trim setting which could be made only on the ground (by manually bending the manual tab, done by mechanics, normally).
Here, @legoboyvdlp is speaking of a rudder trim which can be set by the pilot from the cockpit (like the elevator trim). Doable in flight.
But I agree with @gilbertohasnofb, I'm not sure it would add much.

_An aileron trim from

[2018-10-12 11:16] gilbertohasnofb commented on #1217
Oh I completely misread it. Sorry guys, I'm multitasking a lot lately and I am reading a million texts every day. About the rudder trim from the cockpit, I think the absolutely vast majority of 172P's out there do not have such system. I personally don't see the point of implementing it.

[2018-10-12 11:27] legoboyvdlp commented on #1068
Pull request on its way!

[2018-10-12 16:44] wlbragg commented on #1217
I'd have to side on is it "realistic", is it a common feature in this model/year aircraft? If so, then yes I think we should offer it. If not then the manual tab is OK.
Also I think we discussed the option of a GUI option to "manually" trim the "manual trim tab" as if the mechanic did this for you.
My opinion on that is I am on the fence. We probably will never add an option to change the timing o

[2018-10-12 16:48] legoboyvdlp commented on #1217
The feature definitely does exist for the 1982 Model P - and I posted a screenshot of a 1981 Model P with it included. Regardless, I must admit it is rather uncommon to find rudder trim in any model P.

[2018-10-12 16:53] legoboyvdlp commented on #1217
http://www.cessna172club.com/forum/ubbthreads.php?ubb=showflat&Number=226050:

'I have factory installed rudder trim in my 1982 172P Skyhawk II, works great, luv it !'

'Mine does not have a tab on the rudder like my elevator trim does.

The adjustment is a knob, it would be manually moved horizontally, spring loaded with notches.

Couple 3 or 4 each side of center(or neutral), little rudder trim,

[2018-10-12 16:55] gilbertohasnofb commented on #1217
What fun for us addressing bogus bug reports in the forum!

This. I personally feel that these features are over-the-top. The rudder trim slider is way over the top for me, but I am on the fence about the feature @legoboyvdlp is proposing, particular after his last post.

I guess he is not posting the photo after 3 years. We would need to find a photo of the cockpit knob.

[2018-10-12 17:02] legoboyvdlp commented on #1217
![image](https://user-images.githubusercontent.com/10434911/46883144-f77e0b00-ce48-11e8-8e0e-436cb46ebf72.png)

This appears to be a 1981 model?

[2018-10-12 17:13] wlbragg commented on #1217
Interesting, I wondered how they could make that safe. Only 2 ticks either way. I guess you get used to looking out for it as you do for elevator trim.
If you all decide we want to add it, I can do the modeling.

[2018-10-12 17:15] gilbertohasnofb commented on #1217
@legoboyvdlp Great, thanks for the research. @wlbragg I am game if you are, I can make textures if you feel like modelling it. We should then add an option to the aircraft menu similarly to the digital clock. And someone has to code it all as well, but should be fairly simple.

[2018-10-12 17:35] wlbragg commented on #1199
@gilbertohasnofb perfect, thanks. Feel free to push it to the rest of the liveries if you haven't done so already.

[2018-10-12 17:36] legoboyvdlp commented on #1217
I can do the coding in that case? :)

[2018-10-12 17:39] gilbertohasnofb commented on #1199
Great, so I will do it tonight.

[2018-10-12 17:39] gilbertohasnofb commented on #1217
deal! :smile:

[2018-10-12 18:16] wlbragg commented on #1217
@legoboyvdlp I'll use RudderTrimKnob for the object and I can do the animation and effects of the interior knob while I am modeling it as I will have all the numbers (5 stops = -2 to +2).
You can use that same object properties for the fdm control base.
I'll make the rest of the cockpit visual as RudderTrimBase for the optional on/off.

We will need to verify what this looks like as I want to mode

[2018-10-12 18:22] gilbertohasnofb commented on #1217
Or we can wait a bit before jumping into another project. I think we should finish the frost and seat mounts first, merge that PR and then start working on this.

[2018-10-12 18:22] gilbertohasnofb commented on #1217
I will be home in a couple of hours and then I will sync those livery textures, are you working on something on that branch or can I simply push my stuff when I get home?

[2018-10-12 18:28] wlbragg commented on #1217
You can push when ready. Yours is the last commit.

[2018-10-12 18:32] wlbragg commented on #1217
@gilbertohasnofb and yes, we can finish this up and merge and start again with a new PR for the rudder trim.
I have a little bit more mapping to do on the seats and then the view movement code.
I will test the fog/frost in the sim in the mountains and see what that looks like in real time and either approve or ask for a better artist rendering. I suppose it is better than what we already have, but

[2018-10-12 18:38] dany93 commented on #1217
For the trim steps, mind the sensitivity.
The current value (preset) for the rudder trim is 0.02 (very sensitive for the slip-skid-ball).

[2018-10-12 21:02] gilbertohasnofb commented on #1199
Done!

[2018-10-14 09:12] legoboyvdlp opened #1219 "Console warning: empty not condition"

[2018-10-14 11:46] gilbertohasnofb commented on #1219
@legoboyvdlp Please try to always add at least one label and a relevant milestone to all issues :smile:

[2018-10-14 17:15] legoboyvdlp commented on #1219
I haven't a clue where this is. Can anyone else see anywhere it could be? I checked every <not> I found and they all were not empty?

[2018-10-14 17:17] gilbertohasnofb commented on #1219
@legoboyvdlp what's the full message in the console, and are you sure it's related to our aircraft?

[2018-10-14 17:50] legoboyvdlp commented on #1219
`empty 'not' condition`

I would assume it is, it doesn't happen with any other aircraft.

[2018-10-15 16:48] #1068 closed

[2018-10-15 18:18] legoboyvdlp commented on #1068
Does the NWS need to be added to the flight recorder? I can't check if it already was at the moment.

[2018-10-15 20:02] wlbragg commented on #1068
Unfortunately my recorder is broken and I can't test, but the answer should be yes, at the least, any new property that is driving the animation needs to be added. Can you recall what properties you created and what properties changed in the animation?

[2018-10-15 20:36] legoboyvdlp commented on #1068
The property that should be recorded is whatever is rotating the nose wheel in c172p.xml. Once I get round to it, I'll add it in another pull request.

[2018-10-15 21:38] dany93 commented on #1068
Could it be fdm/jsbsim/fcs/steer-pos-deg?

[2018-10-16 03:14] wlbragg commented on #1068
Yes, it might be only that one property needed.

[2018-10-16 07:36] legoboyvdlp opened #1220 "Add nose gear to flight recorder"

[2018-10-16 13:42] legoboyvdlp commented on #1217
@wlbragg if you do the 3D part in the frost / fog branch (to avoid doing mesh changes in another branch), I can do the coding part in a new branch, into which I will merge master as soon as frost fog is merged?

so, as such:

![image](https://user-images.githubusercontent.com/10434911/47020626-b4c27880-d151-11e8-9bbe-94efcb7a172d.png)

hopefully that diagram helps to show what I mean?

[2018-10-16 15:54] legoboyvdlp commented on #538
It looks like this is already implemeted: see indicated-airspeed.xml.

[2018-10-16 16:13] legoboyvdlp commented on #741
This was actually quite simple - I'll include it with #538

`
		<fcs_function name="systems/asi/alternate-static-pressure-adjusted">
			<function>
				<quotient>
					<product>
						<property>/systems/static[1]/pressure-inhg</property>
						<sum>
							<property>heat/cabin-air-temp-degc</property>
							<value>273.15</value>
						</sum>
					</product>
					<sum>
						<property>/environment/

[2018-10-16 16:18] legoboyvdlp commented on #741
Or not so simple - I'm actually sitting still here 😁
![image](https://user-images.githubusercontent.com/10434911/47031332-8354a780-d167-11e8-8364-bbb0221c32ce.png)
(see the VSI and ASI)

[2018-10-16 16:29] legoboyvdlp commented on #741
Ok - one problem is that the cabin heat is initialized to 0. Let's see if it can be initialized to the outside temperature.

[2018-10-16 21:47] gilbertohasnofb commented on #538
I don't see where this is implemented in `indicated-airspeed.xml`, what part of the code there is responsible for the wrong airspeeds with the pitot tube cover?

[2018-10-16 21:48] gilbertohasnofb commented on #538
There is just a switch which turns it off if the pitot tube is cover, but that's exactly what we don't want: we don't want the ASI to display 0 kts when the tube is covered, we want it to show wrong speeds (e.g. multiply the speeds by a certain factor). There were a lot of talks about partially and fully covered pitot tubes in this repo if you feel like searching for it.

[2018-10-16 23:37] legoboyvdlp commented on #538
https://camo.githubusercontent.com/48e972d6093fc4c2a2fd6f209b2d7c0cc16fe13e/687474703a2f2f7777772e73706f727479732e636f6d2f6d656469612f636174616c6f672f70726f647563742f392f362f393635315f342e6a7067

Dynamic pressure will be almost zero - I don't see how any airflow could enter the tube.
Static pressure should be ok - thus, airspeed will 'increase during climb and decrease during descent'?

[2018-10-16 23:41] gilbertohasnofb commented on #538
@legoboyvdlp the pitot tube cover is not air tight and also the resulting effect on the AIS depends on other factors, see: https://github.com/c172p-team/c172p/issues/538#issuecomment-155847709

[2018-10-16 23:44] legoboyvdlp commented on #538
All those effects, are to the best of my knowledge already in the generic pitot-static systems / instrumentation - regardless, if the pitot tube cover is not airtight, in that case, dynamic pressure would be equal to static pressure multiplied by some factor - so you would be right.

[2018-10-16 23:47] gilbertohasnofb commented on #538
@legoboyvdlp I don't think those effects are there at all as I don't think we don't simulate the static port. We simply have a switch saying that if pitot tube cover is on -> AIS is unserviceable.

[2018-10-16 23:50] legoboyvdlp commented on #538
Have you any numbers on how much the cover would impede airflow?

We definitely do support the generic static port - its in the systems file.

What we have is a switch that makes the dynamic pressure get stuck or read zero (i.e. = static pressure) - sorry, I can't remember which at the minute. That is fed into the airspeed indicator along with static pressure which is seperate from the pitot syste

[2018-10-17 07:11] okroth commented on #741
cabin temperature is not relevant; the gas pressure equation does use a temperature as parameter, but this is referring to the average temperature of the complete gas column between ground and plane.
Cabin ventilation is what changes the pressure as it adds a little dynamic pressure; open the vent and the pressure raises, open a window (or door) and the pressure drops.

[2018-10-17 09:35] gilbertohasnofb commented on #538
Not really. But now that I think of it, even though the cover is not air tight, it should impede the absolutely majority of the airflow.

Also, the pitot tube cover will only cover the pitot tube probe, not the drain. So in that case our aircraft is handling well the first scenario I had posted:

What we miss is to implement icing, and icing can block three things: the probe, the drain and the sta

[2018-10-17 13:12] legoboyvdlp commented on #538
I can confirm it works as you expect - the measured IAS increased to 140 knots when I ctrl + ud at 50 knots / 10 feet to 1010 feet with the pitot cover on, and decreased to 50 knots, my actual airspeed when I removed the cover 😄

[2018-10-17 13:16] gilbertohasnofb commented on #538
I'm confused, lego. I understood from that post I have made above (in which I am quoting an article on how these things work) that with the pitot cover the airspeed should always display 0 kts, regardless of the airspeed.

[2018-10-17 13:16] legoboyvdlp commented on #538
These are the drain holes. They are usually not aligned with airflow apparently (correct me if I'm wrong).

Ice crystals (as on AF447) usually do not accumulate on the probe, but they definitely do block up the tube itself.

Proper icing (this:
![image](https://user-images.githubusercontent.com/10434911/47088783-3203f100-d217-11e8-9891-479e7ed3bcea.png)) would block both.

[2018-10-17 13:17] gilbertohasnofb commented on #538
You are correct:

![](http://learntoflyblog.com/wp-content/uploads/2015/01/PHAK_7-9.png)

But they can still freeze as far as I know. Perhaps under icing conditions the probe would freeze first than the drain, but that's just a random guess.

[2018-10-17 13:18] legoboyvdlp commented on #538
"If the pitot probe and pitot drain are blocked but the static port is free then the IAS will increase during a steady climb and decrease during a steady descent."

![image](https://user-images.githubusercontent.com/10434911/47088887-6bd4f780-d217-11e8-9dd2-602da7877947.png)

Assuming this is the drain hole, the cover would probably cover that one?

[2018-10-17 13:19] legoboyvdlp commented on #538
Ah, I see - so  the drain hole is at the rear. In that case, with the cover on if I understand it the dynamic pressure inside the pitot tube would slowly run down, resulting in an indicated speed of zero?

[2018-10-17 13:19] gilbertohasnofb commented on #538
I don't think that's the drain hole, I think the drain is in the back of the tube, see my image above. It should be completely against the airflow, I think. Thus I don't think the pitot tube cover covers the drain, just the probe.

[2018-10-17 13:20] gilbertohasnofb commented on #538
With the cover on, it will always stay very low since the cover isn't put in flight :smile: So basically it's 0 kts since take off. My understanding of the situation.

[2018-10-17 13:21] legoboyvdlp commented on #538
So,

a) Cover: airspeed zero
b) Light icing: airspeed runs down to zero
c) Severe icing: drain probe blocked, airspeed affected by static pressure

Is that correct?

[2018-10-17 15:19] wlbragg commented on #1217
@legoboyvdlp OK, lets do this.

[2018-10-17 16:21] legoboyvdlp commented on #538
![image](https://user-images.githubusercontent.com/10434911/47101061-f5dd8a00-d230-11e8-84fe-74abc4919ac9.png)

Reached out the window and took the cover off 😛
![image](https://user-images.githubusercontent.com/10434911/47101077-02fa7900-d231-11e8-8bd8-eb578d08bbe3.png)

[2018-10-17 17:10] wlbragg commented on #538
Nice! :smile:

[2018-10-17 19:38] wlbragg commented on #1217
@gilbertohasnofb here is the texture work layout. You can add it to either the frost/fog branch or the PR @legoboyvdlp  is going to create for the code.
It would be easier for me if it were in the frost/fog branch so I can wrap up the mapping now instead of waiting. But not critical either way.

Looks like it should be added to two different textures,
panel_parts.png
![uv-panel_parts](https://user

[2018-10-17 19:50] wlbragg commented on #1217
@gilbertohasnofb
Note the uv layouts should be to scale for overlaying in Gimp.
The Base portion is made to be visible or hidden, so when you do the texture maybe you can make it match or fade with the original background, however you decide to do that.
The only special request is that the recessed hole that the slide bar and knob rotates through needs to be black or very dark. I still may have to

[2018-10-17 19:53] wlbragg commented on #1217
@gilbertohasnofb if you decide to place any texture in a better location on the page, that is not a problem, I can move the mapping so long as the proportions don't change considerably.

[2018-10-17 19:58] wlbragg commented on #1217
@legoboyvdlp
The only object names to deal with are
RudderTrimKnob
RudderTrimBase
You can make them both will be hidden or visible on demand in the GUI.

I'll go ahead and add both objects to the interior effects and code the rotation of RudderTrimKnob.

[2018-10-18 02:47] wlbragg commented on #1217
Here is what I have with my less than stellar temporary texture applied.
![ruddertrim1](https://user-images.githubusercontent.com/11069680/47128283-3d2a4180-d256-11e8-9847-226011ca4300.jpg)
![ruddertrim2](https://user-images.githubusercontent.com/11069680/47128284-3e5b6e80-d256-11e8-824b-874e40ab0884.jpg)

[2018-10-18 04:02] wlbragg commented on #1217
@legoboyvdlp
The property for adding to the rudder trim is
controls/flight/rudder-trim-knob
it has a range of 6.8 to -6.8 with steps of 3.4

So I think the easiest solution is to do a table like below and add it to the following property of
controls/flight/rudder-trim
That way the mechanic can physically adjust the trim tab (controls/flight/rudder-trim = 0.02) to whatever they want and still add o

[2018-10-18 04:18] wlbragg commented on #1217
@gilbertohasnofb FYI: I'm posting my temporary texture for your reference. Hopefully it will give you a feel for the layout and how the texture fits it. It's not very good, I'm hoping your artistic talents can improve this.
![trim-rudder](https://user-images.githubusercontent.com/11069680/47131168-d8c1af00-d262-11e8-88a4-174180a310ad.png)

[2018-10-18 08:00] okroth commented on #741
Right,

the alternate static source measures the same static pressure as the normal port, but with some error due to the cabin being vented or drained by dynamic pressure (which in turn is speed dependent). So you can take the normal static pressure and add an error term based on cabin vent and window being open.
And even on ground you may see a short hopping of the pointers as the valve works lik

[2018-10-18 09:17] dany93 commented on #1217
Important: I don't know for the real one, only pilots or the POH can say.

If you add a cockpit setting, I would have expected a larger max amplitude. Let's say  at least +/- 0.04 or 0.05? By steps 0.001, but larger amplitude. You can easily test the effect by manually setting `controls/flight/rudder-trim` in the properties (in stabilized flight, whatever the stabilized conditions you wish to test

[2018-10-18 15:12] wlbragg commented on #1217
OK, I was going by the assumption that the marks were hard stops and they were the only choice. In that scheme the 3.4 was for the animation reaching those marks precisely in 2 steps left and 2 steps right, nothing more. The table was to show how I would put those animation stops together with the actual rudder trim settings and still allow for 0 cockpit trim control to = mechanics .02, or whateve

[2018-10-18 15:33] legoboyvdlp commented on #1217
The POH suggests there are detents - however, the lever can take any position between OR at the detents. So, I'd say its like the elevator trim - except, you can put the lever in a detent, and to move the rudder trim form there you have to lift the lever up to clear the detent.

[2018-10-18 15:35] dany93 commented on #1217
Correct.
0.001 is a small step, necessary for accuracy. Small effect.
0.4 or 0.5 or 0.1 (???) is the max range.

[2018-10-18 15:37] legoboyvdlp commented on #1217
As for the second question, it mentions a bungee connected to the rudder control system, probably something like this?
![image](https://user-images.githubusercontent.com/10434911/47166320-d491a200-d2f3-11e8-89cc-16cfba59642e.png)

probably,

So I think the effect is within the rudder control system - i.e., applying a force to the standard rudder control, not by the mechanic's tab.

I don't think t

[2018-10-18 15:38] legoboyvdlp commented on #50
![image](https://user-images.githubusercontent.com/10434911/47166508-44079180-d2f4-11e8-8036-92e4e248e402.png)

[2018-10-18 15:51] wlbragg commented on #1217
@legoboyvdlp I think I confused you. What I was asking is related to the interior trim knob style. Do we want to use a different style of trim control? Instead of a lever use a rotating knob like the elevator uses?

[2018-10-18 15:53] wlbragg commented on #1217
@legoboyvdlp FYI: the bungee picture and explanation satisfies my exterior rudder control mechanism. I think I will leave that up to users imagination for now.

[2018-10-18 15:55] dany93 commented on #1217
In this case, yes.
The bungee is is a cheap way to implement a kind of trim. Obviously easy to install into an existing system, much more easy than a cable + tab.

Yes for applying a force to the rudder control system (upstream), but it can (may) be complementary to a pre-set on the ground of a mechanic's tab.
In fact, I don't know. My first idea was to match the neutral position with the center m

[2018-10-18 16:02] legoboyvdlp commented on #1217
Ah, ok.

I think the best way to simulate this is to <sum> the rudder input and rudder trim input (plus the adjustable tab's input)? That should be sufficient.

[2018-10-18 16:02] legoboyvdlp commented on #1217
As for the lever, the real cockpit control is this:
![image](https://user-images.githubusercontent.com/10434911/47167961-96967d00-d2f7-11e8-8e42-c131d5b91223.png)

(I don't personally see any detents. I think the lever can take any position between min and max.)

[2018-10-18 16:15] dany93 commented on #1217
I would say, yes.
Sum of these three components (clipped to +/-1  :wink: ). Like the current trim is.

[2018-10-18 16:20] wlbragg commented on #1217
OK, I set 100 steps 50+ and 50- on the control knob. So the table will look like this...

-6.8    50*x
...
0.0     0.00
...
 6.8    -50*x

And we are going with what I already created for the interior rudder trim model. It actually fits well with the elevator style as the round ball on the end ascetically matches the elevator knobbies.

[2018-10-18 16:30] dany93 commented on #1217
Rather than a 101 step table, wouldn't it be easier to use a `property-adjust` command and steps?

[2018-10-18 16:35] wlbragg commented on #1217
I'm not sure I  am following you. Here is the knob animation I used and it works well for the operator. You can drag or hold the mouse down (left or center button).
[code]

[2018-10-18 16:36] wlbragg commented on #1217
Note: the hovered is not going to be correct, i think I will need to use the sum of your FDM total that you will be using for the rudder trim.

[2018-10-18 16:51] wlbragg commented on #1217
You can interpolate it, yes?

[2018-10-18 16:55] wlbragg commented on #1217
@legoboyvdlp  the short answer is no, I don't expect you to do a 100 entry table. I wasn't even thinking about that being a possibility.

[2018-10-18 16:56] dany93 commented on #1217
Yes. This adds a term to the already existing rudder trim, to give the final rudder trim value.

What you show is the animation. The rudder-trim-knob **position**.
I think that's compatible, maybe the same as I suggested:
The added cockpit **trim** term would be proportional to the rudder-trim-knob **position**, by  a `<command>property-adjust</command>` and not a 101 step table.
And yes, you can

[2018-10-18 16:59] wlbragg commented on #1217
Oops, didn't look at the post name, sorry Dany, I thought that was Lego.
OK, let me look at the
[code]
Off the top of my head I don't know how it fits the knob animation.

[2018-10-18 17:01] wlbragg commented on #1217
@dany93 can you use an interpolation "table" in an FDM function?

[2018-10-18 17:14] legoboyvdlp commented on #1217
Is 6.8 degrees the actual angle of the lever? Where does this figure come from?

[2018-10-18 17:15] wlbragg commented on #1217
Yes, it is the rotation of the lever to both extremes.

[2018-10-18 17:30] wlbragg commented on #1217
This is what I had in mind
[code]

[2018-10-18 17:31] wlbragg commented on #1217
I may be using the wrong rudder-trim property as your example suggests.

[2018-10-18 17:44] dany93 commented on #1217
Currently, the `controls/flight/rudder-trim` is the one which is preset at 0.02 in the -set.xml file (line 585).
That is, the 'mechanics' tab, set on the ground.

[2018-10-18 17:50] wlbragg commented on #1217
OK, so my example above should work correctly?

[2018-10-18 18:00] wlbragg commented on #1217
The feel of the rudder trim knob is pretty good at 100 steps. It could potentially be reduced some if others think it is not sensitive enough. Dragging could be a little better and also the mouse up/down or mouse scroll could be slightly faster.
If we can do the conversion from rudder-trim-knob 6.8 to rudder-trim value in the FDM like the examples, then we can tune the knob animation however we wa

[2018-10-18 18:07] wlbragg commented on #1217
After further testing of the animation, I wouldn't go lower than 50 steps. It a little faster to the limits yet the steps are still not too noticeable. But 100 is smoother and I think matched the elevator trim feel the best.

[2018-10-18 18:56] wlbragg commented on #1217
Hum, controls/flight/rudder-trim is not used anywhere in our FDM. Is it a tied property directly to FG source?

[2018-10-18 20:06] wlbragg commented on #1217
:fearful: That was not my intention, more out of curiosity than anything. No, nothing is committed yet. I've been trying to put it all together in the FDM unsuccessfully. I'm sure you will be able to figure it out though
I did notice though that it looks like the property controls/flight/rudder-trim is being calculated in the FG source, rolled into
[code]
So somehow you have tie only the new table

[2018-10-18 21:16] legoboyvdlp commented on #1217
Thanks for the help :smiley:

Should I do this on the frost-and-fog branch? It's not... really to do with frost and fog, but I understand working across branches in Blender is definitely not desirable.

[2018-10-18 21:39] dany93 commented on #1217
Observe
 (variation with rudder-trim between -1 and +1, rather 0.2 to 0.5,
 and rudder setting):
[code]
What I think is to be done: (c172p.xml, lines 813...)
Guessed per observation, not tested.
[code]
`fcs/yaw-trim-cmd-norm` is equal to controls/flight/rudder-trim, (mechanics stab)
`fcs/yaw-trim-cockpit` is your cockpit setting contribution.

[2018-10-19 17:10] wlbragg commented on #1217
Unrelated issue. I think we have a problem with the autopilot. My elevator trim starts slowly changing  from its initial setting to .23 as soon as I turn on the autopilot.

[2018-10-19 17:55] dany93 commented on #1217
Are you sure that it is a problem?
The autopilot uses the rudder trim (and the rudder value) to hold the altitude.
0.23 is the approximate value for the rudder trim at cruise (about 115 - 120 kt).
Try another velocity (lower velocity) and see.

[2018-10-19 18:53] wlbragg commented on #1217
OK, maybe not a problem then. I wasn't sure how it worked. Can you use only heading ctrl and no altitude control? It seems even if I have "Alt" off VS is displayed and the trim dial still moves to add trim.

[2018-10-19 18:58] legoboyvdlp commented on #1217
I think the KAP140 holds VS anytime the autopilot is on and no other alt mode is selected?

[2018-10-19 19:01] wlbragg commented on #1217
OK, thanks!

[2018-10-19 19:02] legoboyvdlp commented on #1217
To confirm, how much should the knob adjust the trim?

+- 0.005 either way?

(0.015 - 0.025)?

[2018-10-19 20:12] onox commented on #1215
@legoboyvdlp If you open the pilot list, you can see a "2" in the "version" column if a user uses the 2017.2+ MP protocol, or nothing if using the older protocol.

I think the user probably used the old MP protocol.

[2018-10-19 20:14] onox commented on #1215
We can avoid `bits.nas` by using booleans. I already converted the securing attributes in the branch of issue #1011. See https://github.com/c172p-team/c172p/commit/ef0299c5d1894790e41ee1db4bfb358c1ee182cf

[2018-10-19 20:31] onox commented on #741
This is a long-standing problem. IIRC some jsbsim suggested that you can write to the input and the output properties of the integrator component [that does something with the cabin heat property] at the same time. I think I've tried that once and couldn't get it to work. Also, you need to write after the weather system has initialized.

So currently we just set it to 0 because a user can spawn an

[2018-10-19 20:59] onox commented on #202
The system does _not_ simulate air blowing on the wind screen. So the implementation is simply missing. It just simulates the temperature and humidity in the cabin and depending on the temperature of the windscreen, you see fog or ice.

See https://github.com/c172p-team/c172p/blob/master/Systems/c172p-heat.xml#L490-L558

We take `heat/cabin-dewpoint-degc - heat/surface-temp-degc` and integrate it.

[2018-10-19 21:01] onox commented on #202
And the reason the implementation is missing is because there was no ALS effect (mask) to show the air blowing against the windscreen and no knob to open/close the defrost outlets.

[2018-10-19 22:42] wlbragg commented on #202
The effect that I am questioning is when applying heat to the cabin the fog increases. typically when applying heat to the cabin, in say a car, the fog decreases. It decreases quickest where the air vents blow on the windscreen but it also decreases overall and eliminates pretty much all the fogging on all the windows. In this simulation the heater has a tendency to increase the fogging effect and

[2018-10-20 03:11] wlbragg commented on #1217
@legoboyvdlp I basically have this entire issue finished locally. You want me to go ahead and make a branch and PR for it?
Then all you have to do is test, test, and test some more?

[2018-10-20 08:37] legoboyvdlp commented on #1217
Sure, that's fine :smiley:

[2018-10-20 21:08] wlbragg commented on #1199
I'm ready to finish this issue up but still have a couple questions.
So far I have the seat options as follows...

u = up
U = down
b = forward
B = backward

That is the only movement options currently.
I assume we weren't going to give a GUI option?
I would like to also have a persistent position for view pitch. For example, our default view is looking a bit down on the panel. I would like to use

[2018-10-20 21:12] wlbragg commented on #202
I am getting closed to being finished with the fog and frost.
To test frost and fog manually you will need to comment out ground-effects.xml lines 395-443 and use
/environment/aircraft-effects/fog-level
/environment/aircraft-effects/frost-level
to set the levels.
I will push the final effects along with the temporary seat key assignments here shortly.

[2018-10-20 21:16] onox commented on #202
@wlbragg You could also try to adjust https://github.com/c172p-team/c172p/blob/master/Systems/c172p-heat.xml#L304 to speed up how fast the surface temperature of the windscreen changes.

[2018-10-20 21:36] wlbragg commented on #202
Thanks @onox, I'll review this tomorrow or lat tonight.

To whomever would be concerned, I am finished with the fog and frost textures. They were never intended to be the final versions as I was hoping someone with better artistic skills and more knowledge of getting the most out of drawing programs would step p and create these. If you all think it is better than what we already had (which was th

[2018-10-20 21:38] wlbragg commented on #1199
Reminder to myself, if we agree to a view pitch adjustment then I still need to add the lever for the seat recline or back adjustment.

[2018-10-20 21:38] dany93 commented on #1217
Why not as long as you don't change it ? (or I've not understand well?)

[2018-10-20 22:12] wlbragg commented on #1217
Two things...
1) If you select not to use the rudder trim option in the GUI then the mechanics rudder-trim should be set to back to the default of 0.02 and the combined summer for rudder trim should be set to the default without the trim option, as well as the fcs/yaw-trim-cockpit property needs to be set to 0. I forgot to take care of this.
2) If you use rudder trim option then whatever setting y

[2018-10-20 22:16] wlbragg commented on #1217
Note to myself: the rudder trim hover tool tip is currently not updating on the fly, see method employed by elevator trim as it is working correctly.

[2018-10-21 00:16] legoboyvdlp commented on #202
They look great - far better than what we had before :smiley:

[2018-10-21 02:46] callahanp commented on #50
Today I went to an open house at a local airfield 6B6. I got a chance to
talk to a pilot's spouse who researched acquisition and maintenance of
theirC172 heavily.  He knew quite a lot about the various models.  They
bought a 1999 version.

While walking by the covered pitot tube, I mentioned this thread.  He said
he learned from experience, that a pitot tube left uncovered after a flight
attracts

[2018-10-21 09:06] dany93 commented on #50
As the measure (pressure) is done in principle with a zero flow, I would rather expect a brutal effect. As long as there is a small hole left, the pressure will establish (possibly more slowly on changes, but is it noticeable?). The only thing that can give a very small flow is the leaks in the pipes between the pitot tube and the instrument.

It would be very different for a pipe with a flow (fue

[2018-10-22 12:33] gilbertohasnofb commented on #1199
That's excellent, this way users can set up their seat position and never have to touch it again!

Possibly yes? Also, a GUI dialog for the seat position could also feature a button to reset any changes to the default position.

[2018-10-22 12:34] gilbertohasnofb commented on #1199
@wlbragg in what PR are you working on this? I would love to test it later today.

[2018-10-22 16:51] wlbragg commented on #1199
This is in the fog/frost branch. Q currently resets to the defaults.

[2018-10-22 16:57] wlbragg commented on #1217
I'm not at home right now so I can't really respond reliably right now. I think what your asking for is fine as I originally was going to use the original textures.

[2018-10-22 17:05] callahanp commented on #50
Yeah, too much.

I'm not asking for this, but it's fun to imagine simulating a number of
wasps coming out of the pitot tube and chasing the walker or landing on the
windshield after starting up.  We can leave this to the entomologists among
us to implement.

So what's next? Bird Strikes? ;-)

-Pat

I was stung at age 4 by a number of angry hornets. I was curious to see
them so I kept pedaling my t

[2018-10-22 17:31] onox commented on #1199
Did you change the keybinding of Q? It's a key used by several models to move the camera back to its original position and rotation.

[2018-10-22 18:09] gilbertohasnofb commented on #1217
@wlbragg Great, let me know and I can push the texture for you.

[2018-10-22 18:12] legoboyvdlp commented on #1199
Hopefully the keybindings of the c172l wouldn't affect the keybindings of other aircraft?

[2018-10-22 18:12] wlbragg commented on #1199
No, it's still view reset.

[2018-10-22 20:02] gilbertohasnofb commented on #1199
@wlbragg Really cool feature and I love that the setting is persistent between sessions. The only pity is that the seat pitch with `U` and `D` is reset when you use a right mouse click in view mode which resets the view and look forward, but I don't think we have a way around that.

[2018-10-22 20:45] legoboyvdlp commented on #1199
I think that issue was brought up recently on the mailing list and behaviour might be configurable in the view dialog in the next update?

[2018-10-22 22:53] gilbertohasnofb commented on #1199
I must have missed that, lego. I have been struggling to keep up with my emails lately and I have not been following the devel list for the past weeks. But good to know the issue has been brought up already.

[2018-10-23 00:32] callahanp commented on #438
I noticed this while loading flightgear "Next" today:

ignoring unknown axis-alignment'yx-plane'.
ignoring unknown axis-alignment'yx-plane'.
ignoring unknown axis-alignment'yx-plane'.

Aircraft/c172p/Models/c172p.xml:
<axis-alignment>yx-plane</axis-alignment>

Did you mean xy?

-Pat

[2018-10-23 00:46] legoboyvdlp commented on #1215
Perhaps we could add a warning if FlightGear detects that the old protocol is being used?

[2018-10-23 00:48] legoboyvdlp commented on #1022
Should this be closed? Or is it open pending regeneration of cubemaps?

[2018-10-23 14:51] wlbragg commented on #910
James proposed this on dev list for a different issue but may be of help here for initializing the fog/ice value.
I was also wondering about another potential issue on an aircraft parked outside all night, dew? This would potentially allow for a function for that as well.

[2018-10-23 15:34] wlbragg commented on #1217
@gilbertohasnofb go ahead and push those textures when you have the time.

[2018-10-23 16:07] wlbragg commented on #1199
Anyone know why the z axis is in the pilot_view function VS the reset_view function" Or better yet, why is there a reset_view function at all. It could all be done in the pilot_fies function. There is no distinction between z in pilot_view and x and y in reset_view, they do the exact same thing in the exact same way, why are they not together?

[code]

Also, after reviewing this some more, I am us

[2018-10-23 19:04] wlbragg commented on #1199
OK, please review the changes, I think you'll like it. Feedback, comments and concerns are welcome.
I added a quick key [q] to quickly reset the view to the user defined seat position. So now there are two choices.
[q] = user defined seat view
[Q] = default view

Do we need a GUI choice to reset the user defined seat view back to the default view or simply let them readjust the seat back to that p

[2018-10-23 19:06] wlbragg commented on #1199
I haven't done anything with the FOV or the mouse reset (left click).
I was thinking the shift + left click could reset you to the user defined view?
Do we want to include a persistent setting, either keyboard set or GUI set, for FOV?

[2018-10-23 19:59] wlbragg commented on #1217
@gilbertohasnofb I don't think that is going to work. For one, the label and the background is one object, it is all called RudderTrimBase. I tried to use that portion of that texture and the resolution was really bad for some reason.

[2018-10-23 21:32] wlbragg commented on #1217
@gilbertohasnofb I don't know that we will be happy with the resolution of the base background?

![trim](https://user-images.githubusercontent.com/11069680/47392119-421d4400-d6e1-11e8-8ceb-88b0f5ca5625.jpg)

[2018-10-23 21:33] wlbragg commented on #1217
This is basically doing what you asked. I mapped the background to that area above the elevator trim.

[2018-10-24 02:19] gilbertohasnofb commented on #1217
Once you mapped it and you are satisfied, I will sync the textures and colour the leather bit accordingly.

[2018-10-24 03:08] wlbragg commented on #1199
The mouse click one is a bit complicated as it is a standard across FG. I'm not sure we should overwrite this default. People that use it are used to it taking them back to the default view the sim starts in, although we are adding a new dimension of allowing them to set their own view.  Adding a simple shift to let you quickly get back to your user defined view seems simple enough to me.

I don't

[2018-10-24 03:28] wlbragg commented on #1217
Arg, this is being difficult. How about this, can you make the label fit like this?

![uv-rudder-trim](https://user-images.githubusercontent.com/11069680/47404452-faafab80-d712-11e8-9c82-2282cde2906c.png)
![uv-rudder-trim1](https://user-images.githubusercontent.com/11069680/47404458-fedbc900-d712-11e8-84cf-f3bc982ffca9.png)

[2018-10-24 11:37] onox commented on #1199
Are you sure? Z should handle zooming. I think that's why I separated it into two functions, `reset_view` doesn't reset the zooming, just position and orientation.

[2018-10-24 14:08] gilbertohasnofb commented on #1217
I think we are nearly there, just one more iteration and we will get this done. I think I can squeeze the texture where you recommend it, let me give it a try and push a new version.

[2018-10-24 15:31] wlbragg commented on #1199
Pretty sure, I recoded the two functions into one and named it reset_view VS pilot_view.

pilot_view called reset_view which adjusted  x, y (position) and pitch, roll, yaw and FOV ( orientation) then handled z (position) the same way it handled x and y in the call to reset.
I renamed it because it all deals with reseting the view in all views VS anything specific to pilot view. x, y, and z all are

[2018-10-24 15:39] wlbragg commented on #1199
Even if z is zoom, which I am not sure I understand the meaning here as it is also in this instance now being used for a seat position change of forward and back, not zoom.  I guess I would ask why it would not be part of the reset function. Especially when if you call reset you change it just like the rest, only you duplicate effort and call it function pilot_view. Yet it changes in all the vies,

[2018-10-24 18:52] wlbragg commented on #946
I have taken the first steps to correct this. My first inclination was to make real skis like the cub has, without wheels. Because those are contact points and not bogey. They work with the ground-cover friction factor as is.
But I decided as a test case this should be corrected with the skis and wheels combination as this is a duel use case configuration and should work as such.
So, the first sta

[2018-10-24 19:14] wlbragg commented on #1206
This should be ready to merge after testing.

[2018-10-24 21:41] legoboyvdlp commented on #946
Sorry... I never checked this! Regardless, sounds good.

[2018-10-25 11:33] #1206 closed

[2018-10-25 12:06] legoboyvdlp opened #1225 "Ski reflectivity"
Hi,
I'm not too sure about the reflections on these skis.

There's quite a few strange things - is that to do with uvmapping?

![image](https://user-images.githubusercontent.com/10434911/47498717-fd66e980-d855-11e8-8f3d-449497598c0a.png)

[2018-10-25 20:55] wlbragg commented on #1225
Yeah, I was never really happy with the "chrome" surface reflections. I guess we need to take another look at it now with fresh eyes.

[2018-10-26 13:32] legoboyvdlp opened #1226 "Magnetos switch: improve knob animation"
Use knob animation to allow manipulation of the starter with the mouse. I suggest:

Clicking the switch in BOTH should move it to start, releasing it back to both. Right clicking should move it anticlockwise to RIGHT.

Clicking the switch in off, left, or right should move it clockwise, right click anticlockwise.

The scroll wheel up / down should move it as well - but it should only move it betwe

[2018-10-26 13:35] gilbertohasnofb commented on #1226
@legoboyvdlp thanks for adding the issue and tackling it too! As for labelling issues, we normally add either a `bug` or `enhancement` label whenever appropriate. Sometimes neither will be appropriate but 99% of the time one of them is :smile:

[2018-10-26 19:05] onox commented on #1226
What's the precise change to the switch? Doesn't it already use a knob + pick animation? See https://github.com/c172p-team/c172p/blob/master/Models/Interior/Panel/Instruments/magneto-switch/magneto-switch.xml

[2018-10-26 19:46] gilbertohasnofb commented on #1226
Right now, only the `s` key will move the magneto key from BOTH to START position, as it needs to be held for a short while before the engine starts. I believe what @legoboyvdlp proposes is to allow the user to use the left mouse click to also move from that position, so that holding the LMB when the key is at BOTH position would move it to START and thus start the engine.

[2018-10-26 20:11] wlbragg commented on #1226
Left mouse already works from both to start! it is just a very small click spot.

[2018-10-26 20:18] gilbertohasnofb opened #1227 "Primming should not depend on battery switch"
https://forum.flightgear.org/viewtopic.php?f=4&t=25157&p=337937#p337937

[2018-10-26 20:19] legoboyvdlp commented on #1227
I think we have an issue about primer improvement somewhere else, so this can be handled with that?

[2018-10-26 20:20] legoboyvdlp commented on #1226
What part specifically do you click for that @wlbragg?

[2018-10-26 22:36] gilbertohasnofb opened #1228 "Aiucraft state is not saved when quitting"
Aiucraft state is not saved when quitting by clicking on the X icon on the FlightGear window or when using Alt+F4. @it0uchpods wrote that there are actually some workarounds for this:

Any opinions on this?

[2018-10-26 22:39] it0uchpods commented on #1228
If you want an example, see my Warrior. It's settings save in an XML, to share across variants, previous versions saved via a forced aircraftdata.

If you want me to put infos or directions on how to implement either, let me know.

Josh

[2018-10-27 09:49] dany93 commented on #1228
I agree [with Thorsten](https://forum.flightgear.org/viewtopic.php?f=4&t=25157&sid=7f8290a9d48a930dcd47692c7e8f367f&p=337978#p337988)

[....]
Killing processes without need is a bad user habit

[2018-10-27 18:37] gilbertohasnofb commented on #1228
@it0uchpods I think you might have misunderstood what is our state saving feature. We are basically saving the position of every knob, button, lever, etc. so there is no dialog for that.

[2018-10-27 18:38] it0uchpods commented on #1228
I don't see the point of that, but yeah, then I don't see the solution for that.

[2018-10-27 19:14] gilbertohasnofb commented on #1228
You mean you don't see the point of saving the aircraft state? If so, the answer is realism. If you leave a switch at a certain position it will remain so next time you load the sim, just like in RL. It's a neat feature which is present in most (all?) study-level aircraft in other sims.

[2018-10-27 19:14] #1228 closed

[2018-10-27 19:17] it0uchpods commented on #1228
I have yet to see this implemented in any study level sims, I've flown a lot of study level craft.

OK, I kind of get it, but not entirely.

Kind Regards,
Josh

[2018-10-27 20:53] legoboyvdlp commented on #1228
An Airbus you would probably expect the other crew to leave it in a transit state or cold and dark if overnight.

A Cessna that you fly yourself, if you leave it this way it makes sense that it stays that way, nobody else touched it since you flew it?

[2018-10-27 21:10] gilbertohasnofb commented on #1228
Also, it makes sense that the frequencies do not keep resetting every time you take your Cessna for a flight, or your preference of radio volume, use of headphones/external mic/mute, etc. Same for heading in your OBS, altimeter settings, etc.

[2018-10-27 21:41] wlbragg commented on #1228
This stuff will go hand in hand with the up coming state work. I propose the aircraft state will always be saved regardless of any setting (thus no need for a setting in the GUI). The key is the choice at startup. There will be a "Last State" which will be where you left off and then any other states we want to include or make available. This will require us controlling the cache to the extent tha

[2018-10-28 10:10] wlbragg commented on #1227
We need to verify how the primer works, ie: is it electronically assisted?

[2018-10-28 10:16] wlbragg commented on #1226
Put the cursor over the "Start" text and nudge it in a widening circle until you find the sweet spot and the tool tip changes to "Starter".

[2018-10-28 10:39] dany93 commented on #1227
Rather, I would think it is a simple mechanical pump, manually activated each time you push and /or pull. The only "control" would be: is the  fuel level correct in the carburettor tank?

In this case, if the level is correct, it will remain as long as the fuel is not evaporated.
This carburettor tank can be almost empty again if you pull the starter without succeeding to start the engine (not eno

[2018-10-28 12:42] gilbertohasnofb commented on #1227
@wlbragg The primer is completely mechanical.

[2018-10-28 12:42] #1226 closed

[2018-10-28 14:39] dany93 commented on #1227
I probably wrote too quickly by speaking of carburetor.
The 160 hp is seemingly driven by a Lycoming O 320 (POH 1982), which should be with a carburetor.
The 180 hp: IO 360, injected.

But if a primer is present, I still think it is mechanical.

_Guessed, obviously not based on my experience._

[2018-10-28 15:01] dany93 commented on #1227
[Aircraft Engine Starting Techniques](http://www.askacfi.com/1550/aircraft-starting-techniques.htm)
I'm wondering (??):
- the carburetor version has a primer,
- the injected version does not, it uses a fuel pump.

[2018-10-28 15:32] legoboyvdlp commented on #1227
We have the carburettor version.

I think there is a small fuel pump on the throttle but I'd need to check the POH

[2018-10-28 15:46] dany93 commented on #1227
In this case, the engine file names should be` eng_o320` and` eng_o360`.
(in `c172p.xml`, in `c172p/Engines` and inside the engine files)

[2018-11-05 09:33] dany93 commented on #791
Why is mixture set at 0.95 instead of 1 at sea level with 'Autostart'?
`Systems/c172p-engine.xml` table, line 215.
The POH says 'RICH' (which obviously mainly depends on the altitude) but at sea level I would expect 100% mixture.
With 0.95 we loose some power.

[2018-11-06 11:06] wlbragg commented on #791
I noticed that as well and wondered the same thing? I passed that on (.95) when creating the auto mixture, maybe now would be a good time to change it to 0 at sea level.

[2018-11-06 16:50] dany93 commented on #791
Yes. (change it to **1** at sea level, not 0).
I think that you merely kept it at 0.95 because it already was at 0.95, constant, in c172p.nas # Autostart in the previous version.

[2018-11-06 19:29] #1217 closed

[2018-11-06 19:51] algefaen commented on #1227
Let's see if I can clear up some things or bring more confusion!
 * Both our engines are carburetted
 * The carburetor has a "accelerator pump" that squirts a little extra fuel in the intake when you apply more throttle; this is not considered a fuel pump. It does not perform the same function as a fuel pump in e.g. a fuel-injected IO360.
 * The primer is a separate system and does not interact wi

[2018-11-06 21:34] wlbragg commented on #1227
@algefaen thanks for the info.

I've never looked closely at the primer code so I really don't know what triggers the primer to reset. I think we should piggyback evaporation onto this issue of not resetting it.

[2018-11-06 22:09] legoboyvdlp commented on #1227
Can you start the engine with that throttle pump alone if the engine is warm @algefan?

[2018-11-07 02:51] wlbragg opened #1230 "Widen and reshape 26" and 36" bush tires"
The 26" and 36" tires are too narrow. This PR widens them to 12" and 15" respectively.
It also reshapes them to be more like balloon tires.

[2018-11-07 16:11] dany93 opened #1232 "FDM, pitching moment at zero alpha"
FDM, change in cmo: pitching moment at zero alpha.
Alpha dependence of the pitching moment factor = cmo + (cm x alpha).

- Currently, cmo = 0.1 (constant).

_(With no flaps)_
It gives a climbing airspeed of 70 to 80 kt with no action on the yoke and no elevator trim correction after takeoff, when the airspeed increases (with pitch up and down oscillations). My impression is that the pitch up tende

[2018-11-07 19:48] onox commented on #791
@dany93 See https://github.com/c172p-team/c172p/issues/791#issuecomment-234784355 I think I set it to 0.95 because for some strange reason if setting it to 1.0 the engine would not start at the airports I used during testing.

[2018-11-07 21:55] algefaen commented on #1227
If the engine is warm you can start without priming and without deliberately using the accelator pump. Just follow the normal engine start checklist without priming and it will probably start.

[2018-11-07 22:50] dany93 commented on #791
@onox This also was my supposition See https://github.com/c172p-team/c172p/pull/1229#discussion_r231544859

[2018-11-07 23:05] gilbertohasnofb commented on #1227
I agree with everything you wrote, thanks for the clarification.

That is also correct. I think we should add a timer that if the engine has been active for let's say less than x minutes then the primer is not required (e.g. if we primed the engined and started but the engine died for whatever reason and we want to restart it). We can even check that time at the start of the simulation, e.g. if we

[2018-11-08 00:55] wlbragg commented on #1227
We may want to use something like active-engine/egt-norm to determine the engine running time or temp. Anyone care to comment on EGT and how that might be applied to this issue? As in how the EGT works, ie: does it take awhile to warm up?

[2018-11-08 10:50] dany93 commented on #1227
My opinion (FWIW):
EGT is not a good criteria because, if the engine is stopped, there is no exhaust gas.
Oil temperature (or some cylinder head temperature is there is?) would be more appropriate.

[2018-11-08 10:52] legoboyvdlp commented on #1227
Is there a property that stores 'realtime' (not affected by speedup, time change in the, etc)? If so we could save the time on exit, check it again on start, and adjust the required priming with that?

[2018-11-08 11:12] gilbertohasnofb commented on #1227
@wlbragg I agree that using engine temp (not EGT due to what dany wrote)
would be ideal, but the engine would be cold next time we launch the sim e
en if only 5 minutes have passed. Recording the time when the engine was
last turned off is a simple elegant solution that allows us to implement
this feature across multiple sim sessions.

On Thu, 8 Nov 2018, 01:55 wlbragg, <notifications@github.com>

[2018-11-08 17:34] wlbragg commented on #202
After reading back through this I am not finished with this, I need to dissect what @onox wrote and implement it so the heater simulates the defogging/defrosting of the windscreen.

[2018-11-08 18:03] legoboyvdlp commented on #1227
the thing is, it needs to store the computers time - say you start FG and change time to yesterday or tomorrow, that would completely break the system.

Is that possible?

[2018-11-08 18:08] legoboyvdlp opened #1234 "Flap lever sound: should only sound when lever position changes"
If you currently drag the flap lever upwards when flaps are retracted or downwards when they are fully extended you still get the lever clicking, even though the lever doesn't move at all?

The same occurs with the [ / ] keys.

[2018-11-08 18:08] gilbertohasnofb commented on #1227
That's a good point Lego, but we can just use a max(timediff, 0.0) to avoid
any bugs. If someone changes their computer time more than the time
difference between flights then the difference would be set to 0 minutes,
not a negative value which could break the system.

On Thu, 8 Nov 2018, 19:03 Jonathan Redpath, <notifications@github.com>
wrote:

[2018-11-08 18:09] legoboyvdlp commented on #1234
e.g.
![image](https://user-images.githubusercontent.com/10434911/48218250-5ae45580-e381-11e8-8f4b-32e72c53732b.png)

![image](https://user-images.githubusercontent.com/10434911/48218260-62a3fa00-e381-11e8-918a-0a34d021ebb0.png)

[2018-11-08 18:10] gilbertohasnofb commented on #1234
What do you mean? If you drag the lever then surely the lever moves, right?

On Thu, 8 Nov 2018, 19:08 Jonathan Redpath, <notifications@github.com>
wrote:

[2018-11-08 18:10] legoboyvdlp commented on #1234
Yes - but the sound occurs when you drag the lever up when its already at the minimum position or down when its already at the maximum position.

[2018-11-08 18:12] gilbertohasnofb commented on #1234
Oh I see, you are talking about the extreme positions. This is a big with
FG, all our switches and levers suffer from the same. We previously decided
not to try to fix this on our side as we believe this should be addressed
in the core code. You could raise this point in the dev list if you'd like,
that would be excellent.

On Thu, 8 Nov 2018, 19:09 Gilberto Agostinho, <
gilbertohasnofb@googlemail

[2018-11-08 18:32] legoboyvdlp commented on #1234
What precisely is the bug and what behaviour do we want instead?

[2018-11-08 19:09] legoboyvdlp opened #1235 "Nose wheel steering moves when testing rudder"
When you press the rudder to test it, the nose wheel steering also moves. Is this an issue, or would it also do this in real life?

[2018-11-08 22:01] dany93 commented on #1235
As every part of this system (rudder pedals included, of course) is connected by cables, rods, rigid levers, I would say that it is normal.
The nose wheel is disconnected only in flight (with no weight on it).

[2018-11-08 22:48] #1235 closed

[2018-11-08 23:05] onox commented on #1234
IIRC I think the bug is that FG supports a mode called 'in-transit' but it only works well for floats (see the flaps motor sound). It doesn't work well for integers, because they change instantly (from 0 to 1 or 1 to 2) and thus it plays the sound for maybe 1 frame instead of till the end of the sound file.

So to work around this we have this `c172p.click()` function.

We seem to be overriding `c

[2018-11-09 09:43] okroth commented on #1008
Found in the service manuals that the landing light uses GE 4596 or 4591 lamps, and the taxi light is a GE 4587 or 4626 lamp. They have different light distributions;
Landing light
4591 =  100W 12°H,  6°V
4596 =  250W 11°H, 12°V
Taxi light:
4587 =  250W 40°H, 12°V
4626 =  150W 40°H,  9°V

[2018-11-09 09:55] dany93 commented on #1235
IRL and from my experience (Ultralights) you cannot really rotate the rudder more than a very small angle (mainly cable play) because the nose wheel, on the ground with weight, is hard to rotate.
Very differently from the elevator and ailerons.

[2018-11-09 10:17] legoboyvdlp commented on #1008
Our lights to be honest look as if the heading parameters was not passed to the lights for the taxi / landing lights. I'll need to check that in light-manager.nas.

[2018-11-11 15:17] gilbertohasnofb commented on #1234
@onox Comparing `v` would not work since `v` does not show the current flap position. `v` is an argument for the direction and it is either `1` or `-1` which is used in `Models/Interior/Panel/Flaps/flaps.xml` to choose the direction of the movement of the lever. I fixed the issue in the opened PR by simply removing the `c172p.click()` from the flap motion function and using an `in-transit` paramet

[2018-11-12 00:31] #1230 closed

[2018-11-12 01:29] onox commented on #1234
It does? OK, using `in-transit` is a better solution then.

[2018-11-12 13:11] gilbertohasnofb opened #1237 "AI knob rotates infinitely"
AI knob rotates infinitely (in both directions)

![image](https://user-images.githubusercontent.com/5700795/48349493-515a3680-e67c-11e8-8554-0437bf89ea67.png)
![image](https://user-images.githubusercontent.com/5700795/48349499-54552700-e67c-11e8-966f-26d322c21d94.png)
![image](https://user-images.githubusercontent.com/5700795/48349503-56b78100-e67c-11e8-9037-7386d03c2d29.png)
![image](https://user

[2018-11-12 15:46] wlbragg commented on #1237
Anyone know what the limit is supposed to be?

[2018-11-12 16:47] gilbertohasnofb commented on #1237
From wikipedia:

From this, I would imagine that the offset will not be very large. I would suggest starting the engine so that the AI is centred and then moving the viewpoint up and down and checking what values of offset we need to compensate for those. Perhaps +10 to -10 would be enough.

[2018-11-12 17:17] wlbragg commented on #1237
Right, perhaps a little bit past the seat adjustment limits if that is enough.

[2018-11-15 18:59] legoboyvdlp commented on #1237
![image](https://user-images.githubusercontent.com/10434911/48574934-71058f00-e908-11e8-914b-698efdbfd032.png)

I think when the panel was moved up the AI face was not moved (or the animation wasn't?)

This is with horizon offest zero: the AI needs to be offset -2 units to show correctly:
![image](https://user-images.githubusercontent.com/10434911/48574992-95616b80-e908-11e8-8d2a-57ec1b424599.png)

[2018-11-15 19:36] gilbertohasnofb commented on #1237
@legoboyvdlp nice catches. @wlbragg could you adjust these things in the model? The AI default offset (i.e. `0`) should be at the correct position for the default view.

[2018-11-15 20:20] wkitty42 commented on #1237
On 11/15/18 2:36 PM, Gilberto Agostinho wrote:

this may not be involved but what happens when you move your seat via the new
multi-position seat stuff? the AI will be off a little bit depending on your eye
view... that is expected... just tossing this in to make sure nothing has been
overlooked ;)

[2018-11-16 02:11] wlbragg commented on #1237
I'll work on it tomorrow.

[2018-11-16 12:07] legoboyvdlp commented on #1237
multi-position seat stuff? the AI will be off a little bit depending on your eye
view... that is expected... just tossing this in to make sure nothing has been
overlooked ;)

I didn't touch my seat in that screenshot, so that's not the issue.

[2018-11-18 20:12] #1232 closed

[2018-11-19 15:18] algefaen commented on #1227
I don't, I just know that it's not that long since the engine was shut down so I try to start it without priming. Trying to start with too little priming is generally better than flooding the engine.

[2018-11-19 20:03] gilbertohasnofb commented on #1227
I still think this would be a cool feature to implement. First of all, flooding the engine is not a big deal in a sim, we currently just output a message explaining what happened and reset everything. Secondly, we can even output in this message if the flooding was caused by the engine still being warm. Thirdly, and unlike an airclub in RL, you are the sole user of the plane, so the moments we nee

[2018-11-20 20:19] onox commented on #202
@wlbragg Did you manage to fix the 2 issues?

[2018-11-20 20:39] wlbragg commented on #202
No, not yet. I've been pressed for time as of late. Hopefully after the Thanksgiving Holiday I can get back on it and get it done.

[2018-11-26 18:34] legoboyvdlp opened #1238 "Some objects on the panel are too brightly lit"
https://user-images.githubusercontent.com/10434911/48984856-28648780-f0f9-11e8-87a7-d022625092c1.png

The vertical speed indicator, the needles, directional gyro, etc are all too brightly lit.

This is apparently due to the rotate animation.

Workaround: reduce brightness on all these objects

[2018-11-26 19:10] gilbertohasnofb commented on #1238
@legoboyvdlp thanks for the report! (and don't forget your labels and milestones :wink: )

[2018-11-27 11:09] wlbragg commented on #1074
This issue is again being reported. I passed on the information about using the differential braking at the start. But I am wondering if some kind of drag adjustments on the wheels themselves would help. I don't understand why this type of gear behaves do differently from the regular tricycle gear?

[2018-11-27 11:55] gilbertohasnofb commented on #1074
That's because the amphibious gears do not rotate at all when you press the rudder pedals, unlike the main gear of the tricycle version which does rotate. So in order to move left or right in the ground you *must* use differential brakes, there is no other way.

[2018-11-27 12:03] legoboyvdlp commented on #1074
We could solve this by adding a castering wheel

I'll need to see if the EDO 2440b floats can steer.

[2018-11-27 12:09] legoboyvdlp commented on #1074
Notice:

[2018-11-27 12:41] gilbertohasnofb commented on #1074
Frankly, I don't see the necessity. Our aircraft behaves exactly like most amphibious ones out there. If we implement an obscure modification we will be teaching our users a behaviour that is far from being common. From what I know, amphibious require differential braking and that's it.

Do our tutorials teach about this? Else we could have a new amphibious taxiing tutorial. And then it would be t

[2018-11-27 13:47] dany93 commented on #1074
@legoboyvdlp wrote

Both front wheels are (swivel) castering wheels.

[2018-11-27 14:05] dany93 commented on #1074
Steering the aircraft on the ground can be made by:
- differential braking,
- aerial rudder.

At 0 or very low airspeed, the aerial rudder is not sufficient. The propwash effect helps (more at high propeller RPM) but it is not enough.
Which means that at 0 or very low airspeed, the differential braking is the only way.

On the water, after a short while (still at low airspeed, after only a small r

[2018-11-27 16:51] wlbragg commented on #1074
...
Our task is to simulate the real thing.

If the fist line is a true statement, and it appears we do have evidence of this from real pilots, then I agree with the second line whole heartily.

That is a good idea!

@dany93 I wasn't aware of this, is
[code]
the only thing that determines a caster wheel?
Does JSBSim (in our case) handle the castering action automatically then?

I just payed close

[2018-11-27 17:35] wlbragg commented on #1199
b = seat back 98

Is not going to work, b is used for brakes. I can't believe no one else noticed this yet.

[2018-11-27 18:05] dany93 commented on #1074
@wlbragg wrote

`<max_steer unit="DEG">360</max_steer>`
the only thing that determines a caster wheel?
Does JSBSim (in our case) handle the castering action automatically then?

In principle, yes. But the response is more difficult _(expect re-edits!)_
In JSBSIm, `<max_steer unit="DEG">360</max_steer>` is enough.
But JSBSim is not perfect on this. IRL, the caster wheel orientation is given by a sh

[2018-11-27 18:50] wlbragg commented on #1074
`fdm/jsbsim/gear/unit[n]/steering-angle-deg`
works really well with a "wheel-speed" conditional. I'll make a new issue for the animation and open a PR.

[2018-11-27 19:03] wlbragg opened #1239 "Front wheels of amphibious have no caster animation"
The front wheels should rotate or caster freely around their pivot point when turning the aircraft on the ground.

[2018-11-27 21:42] gilbertohasnofb commented on #1199
Yeah, I didn't realize it since I was always testing the camera while the plane was parked. Do you have another suggestion of what key to use instead?

[2018-11-27 22:10] legoboyvdlp commented on #1199
is ctrl b an option? Another alternative is maybe k for bacK?

[2018-11-27 22:18] legoboyvdlp commented on #800
The stoichiometric ratio is fifteen parts of air for each of fuel (15:1). At peak EGT you’re right there.
But when the engine is idling, let’s say below 1000RPMs, mixture full rich, that ratio is way lower, that is, there’s much more fuel than needed.

The lower the air fuel ratio, the colder the combustion and the higher the amount of fuel unburned. As you may know, a cold combustion rich of fuel

[2018-11-27 22:33] gilbertohasnofb commented on #1199
If we decide to use `Ctrl` (or any other modifiers) then we must use it for _all_ other seat adjustment shortcuts to keep things consistent. An example could be:

`modifier + PageUp`: move seat up
`modifier + PageDown`: move seat down
`modifier + up`: move seat forward
`modifier + down`: move seat backwards
`modifier + right`: pitch seat angle forwards
`modifier + left`: pitch seat angle backwards

[2018-11-28 00:29] wlbragg commented on #650
I still want to try to add this before closing the fog/frost PR. I really notice how "clean" the glass looks at all times except fog and frost and I think it should scuff up at least a little when looking into the glare.

[2018-11-28 01:10] gilbertohasnofb commented on #650
@wlbragg if I would come up with a very light texture with smudges and small marks here and there, could we apply it to the glass with a very high alpha? Here is a photo I took the other day of a very dirty window:

![image](https://user-images.githubusercontent.com/5700795/49121930-44f3f180-f2aa-11e8-8ba2-5f05da0bae37.png)

So I was thinking something like this but less pronounced. It just would

[2018-11-28 02:36] wlbragg commented on #650
Yes, I agree. You might get a good idea of what we need by looking at the dirt mask used on the CRT's in the space shuttle.

[2018-11-28 13:08] legoboyvdlp opened #1241 "JSBSIM Tag errors (2018.4)"
2018.4 now has more strict checking of JSBSIM tags. The aircraft still starts fine but with these console errors:

<sum> only has one argument which makes it a no-op.
Its argument will be evaluated but <sum> will not be applied to the result.

<sum> only has one argument which makes it a no-op.
Its argument will be evaluated but <sum> will not be applied to the result.

<product> only has one argu

[2018-11-28 14:57] wlbragg commented on #1241
Thanks for looking at this @legoboyvdlp I've been wanting to do this but haven't updated yet. I'll take a look at the sections and see what's up.

[2018-11-28 15:03] wlbragg commented on #1241
@andgi would you please look at this one. I assume you didn't want the "SUM" tags but not knowing for sure, you should be the one to look at this. Also I'm sure you would want to know about this for the rest of the code your responsible for in you other aircraft.

[2018-11-28 15:06] wlbragg commented on #1241
@onox same thing, I assume you don't need the sum here or you left something out?
[code]

[2018-11-28 15:09] wlbragg commented on #1241
@dany93 last two, same thing here in the FDM, I don't know if there is a missing parameter or if it pulls directly from the table (if that is possible syntax wise?
[code]

[2018-11-28 15:29] wkitty42 commented on #1199
On 11/27/18 4:42 PM, Gilberto Agostinho wrote:

is 'r' available? i'm thinking of 'rear' or 'rearward'...

[2018-11-28 15:33] wlbragg commented on #1241
@andgi are you saying that all three values are supposed to be multiplied together?
Why the
[code]
here?

[2018-11-28 16:02] andgi commented on #1241
On Wed, 28 Nov 2018, wlbragg wrote:

Yes, all three values inside the product-element are multiplied together.
Why the 1.0 is there can be questioned but, OTOH, it might be a place to
adjust the coefficient up or down, though it, at the moment, doesn't do
anything.

Cheers,
Anders
--
Anders Gidenstam
Email: anders(at)gidenstam.org
WWW: http://www.gidenstam.org

[2018-11-28 16:03] dany93 commented on #1241
@wlbragg wrote

[code]
At quick test, it seems that deleting the four `<product> ... </product>` tags is the thing to do, it works as well.
(I don't have 2018-4 yet, I don't see the error lines in the console)

It is a true mistake, these `<product>` tags make no sense. They might be useful in a development context, with a (common) test factor added.The worst is that it has been copied and pasted

[2018-11-28 17:14] wlbragg commented on #1241
OK, thanks @andgi and @dany93 I'll fix those in a new PR. @andgi I think I am going to remove the 1.0 line as it servers no purpose and is confusing without a comment for its purpose as possibly a testing or tuning feature.

[2018-11-28 22:47] onox commented on #1241
@wlbragg You can remove the `<sum>` in the code block you mentioned.

[2018-11-28 23:01] #1241 closed

[2018-11-28 23:03] #1200 closed

[2018-11-29 08:29] legoboyvdlp commented on #1200
Was this resolved by the jsbsim pull request?

[2018-11-29 22:14] legoboyvdlp commented on #741
This is waiting for James to fix the vertical speed indicator which does not work with any non-standard static source.

[2018-11-29 22:21] legoboyvdlp commented on #1003
To be clear:

Dirt should only accumulate on the ground,
(why not have dirt only occur in places where the wheels would throw dirt onto the fuselage?)

Dirt should accumulate faster on non-asphalt surfaces

And why not save the time when you shutdown the sum then measure the time difference and add a little dirt (over the whole aircraft) based on that. :)

Oil stains on the bottom probably would o

[2018-11-29 23:36] wlbragg commented on #1003
All of this sounds reasonable to me.

[2018-11-30 00:00] onox commented on #1200
I closed this issue manually. Hasn't FG 2018.3 been released already? Maybe I was too quick. If we plan to cherry pick more fixes to the c172p 2018.3 branch, then you can reopen this issue if you want.

[2018-11-30 00:02] gilbertohasnofb commented on #650
Sounds good, I will take a look at those this weekend

[2018-11-30 00:05] legoboyvdlp commented on #1200
2018.3 is still at the release candidate stage as far as I know.

[2018-11-30 04:46] wlbragg commented on #1200
I think were done with this. Unless something new comes up.

[2018-11-30 10:13] legoboyvdlp commented on #999
If the user input was mapped to be force instead of the actual yoke position it would work... That would definitely need to be an option though, as it would be a significantl change.

[2018-11-30 10:31] okroth commented on #999
Yes that would work. Only that the force on the stick / yoke / rudder is proportional to movement and squared airspeed, which is not modelled in standard joysticks / yoke devices.
One can easily add a force feed back system in the (JBSim) FDM and use the output values to feed a FFB joystick.

[2018-11-30 10:39] dany93 commented on #999
@okroth wrote

Be careful not to decrease the elevator trim influence at low airspeed.
**In FG**, the trims are a cheating which makes them behave differently from reality. Setting a trim value comes to offset the elevator position (limited to +/-1) for any joystick position. Thus, when one adds a pitch up trim value,  the pitch up  effect of the elevator at full joystick amplitude is reduced. Ful

[2018-11-30 16:08] legoboyvdlp commented on #1238
![image](https://user-images.githubusercontent.com/10434911/49300403-0e8cc100-f4ba-11e8-8fd9-0844abfc94e8.png)

[2018-11-30 21:48] wlbragg commented on #1238
That is a case where the bright objects are ALS effect and correct,
the other objects that are darker are not ALS influenced and thus darker (incorrectly).

ALS
Aircraft
RollReference
Anything that rotates
non-ALS

This has been discussed ad nauseam and I have pleaded with Thorsten (OK that may be a bit strong) to get all the rotations added to ALS effect. But it isn't going to happen anytime soon

[2018-11-30 22:03] gilbertohasnofb commented on #1238
@wlbragg I still think that if we darken the white needles a bit, either through texture or through the material properties, we can improve this situation a bit. I will make some experiments this weekend if I get a chance.

[2018-12-01 17:16] #791 closed

[2018-12-01 17:22] legoboyvdlp opened #1243 "Fuel: unuseable fuel not defined"
![image](https://user-images.githubusercontent.com/10434911/49330918-72cc8500-f58d-11e8-991f-d69fffd16565.png)

3 us gallons of fuel in each tank are unuseable: this is because there is an area at the bottom of the tank into which water or other contaminants will flow. Therefore, this should be defined as unuseable in the -set file. Pull request on its way.

[2018-12-01 17:51] gilbertohasnofb commented on #1243
b) is definitely the better approach, if coupled with a short email to the dev-list asking for this feature.

[2018-12-01 22:04] legoboyvdlp commented on #1243
OK - that's definitely fine, although I'll check first to be sure I didn't mess something up :)

Jonathan

[2018-12-04 11:21] legoboyvdlp opened #1244 "FDM: Airfoil lift / drag"
@dany93
I found that the airfoil which the Cessna 172P uses is the NACA2412.

See
http://www.airfoildb.com/airfoils/356
for a lift polar / drag polar

I have four or five documents here that might help in some way to improve the FDM:

[2018-12-04 11:22] legoboyvdlp commented on #1244
[WindTunnelTestsonaModelCessna.docx](https://github.com/c172p-team/c172p/files/2643714/WindTunnelTestsonaModelCessna.docx)
[Report.pdf](https://github.com/c172p-team/c172p/files/2643715/Report.pdf)
[FULLTEXT01.pdf](https://github.com/c172p-team/c172p/files/2643716/FULLTEXT01.pdf)
[aerodynamic-performance-of-the-naca-2412-airfoil-at-low-reynolds-number.pdf](https://github.com/c172p-team/c172p/files

[2018-12-04 12:37] dany93 commented on #1244
Thank you @legoboyvdlp

There are large discrepancies between these documents... As usually.
Some are doubtful ( [Report.pdf](https://github.com/c172p-team/c172p/files/2643715/Report.pdf) : Lift coeff value, negative or null at zero alpha ??).
Or measured at much too low Reynolds number.

The current values are those selected by Megginson (at my knowledge), and they seem correct from my point of v

[2018-12-05 01:29] wlbragg opened #1245 "Mooring code brakes when some presets are not initialized"
I have yet to determine if this will be broke in 2018.3.

[2018-12-05 23:01] #1239 closed

[2018-12-06 21:37] HHS81 commented on #1244
I agree to dany93.
It seems to me a common misbelief, that the windtunnel data of an airfoil alone can help improve a JSBSim aircraft.

[2018-12-08 15:30] dany93 opened #1247 "Wheel spin rolling is too slow"
As @gilbertohasnofb  noticed in [this message](https://github.com/c172p-team/c172p/pull/1240#issuecomment-442229528), the wheel spin rolling is too slow in comparison to the groundspeed (see e.g, the 26" and 36").
The spin factor is most of the time evaluated by eye observation, but it can easily be calculated.
In FG animation, the spin is in RPM.
The wheel circumference being known, we have
`spin

[2018-12-08 21:47] #1247 closed

[2018-12-08 22:03] legoboyvdlp commented on #1243
Yes, but I found the engine still runs when the fuel should be unusable. Or else, I made a mistake somewhere.

[2018-12-19 18:58] wlbragg commented on #1238
Except then when those objects are not being calculated to be in the light, they will be really dark.

[2018-12-19 19:03] wlbragg commented on #1238
This incorrect lighting is on all objects that get rotated and don't have the shadow cube applied.

Think of it like this,
no shadow cube - the face of the object must be getting light calculations from a vector pointing at the light source, in this case the sun.
with shadow cube - same thing except the cubes dark and opaque surfaces are filtering the amount of that same light source. So I really

[2018-12-19 22:59] gilbertohasnofb commented on #1238
So let's leave this open for a bit longer and if Thorsten says this is not possible then we close it as `won't fix`. Sounds good?

[2018-12-20 11:43] wlbragg commented on #1238
@gilbertohasnofb from the forum

- it'll usually look okay for both shaded and unshaded background (if
small enough)

This is smiler to your concept of changing the texture or darkening the white needles except we do it with the shadow cube that we apply to the moving objects. I'll make a cube as instructed and see if it is enough to satisfy our eyes.

[2018-12-20 16:19] wlbragg commented on #1238
@gilbertohasnofb @legoboyvdlp I made a shadow cube that is all 50% transparent as suggested an applied it to the panel objects that are rotated,

When you get some time please test and let me know what you think. If you think it helps or not. I didn't do a PR, just a branch Issue-1238.

[2018-12-20 23:33] gilbertohasnofb commented on #1238
@wlbragg I think this was a huge step forward. The gauges look much better IMO under most conditions. Under direct sunlight, they are substantially darker then before. But I think that the bright needles under shadow stood out much more (and thus looked far worse) than having darker needles under direct sunlight. On most instruments you don't have any true white for comparison, so they look natura

[2018-12-21 17:31] wlbragg commented on #1238
For a comparison, the cube that is active now is a solid 50% opaque cube.

<positive-x>Aircraft/c172p/Models/Effects/interior/shadow-sudo_px.png</positive-x>
                <negative-x>Aircraft/c172p/Models/Effects/interior/shadow-sudo_nx.png</negative-x>
                <positive-y>Aircraft/c172p/Models/Effects/interior/shadow-sudo_py.png</positive-y>
                <negative-y>Aircraft/c172p/M

[2018-12-21 17:39] wlbragg commented on #1238
By the way, this was the first, most simplest of possible solutions per Thorsten. This was the response to the question,
"How do we fix it"

[2018-12-21 17:50] wlbragg commented on #1238
The second suggestion I have done with fixed translations of relative positioned objects. What I didn't do or realize was you could potentially do it with a moving translation and I also didn't know you could conceivable do it with one rotation which is really all we should need.
I need to take some time with this and see if i can get it to work. If this works as I understand it should, then we co

[2018-12-21 17:57] wlbragg commented on #1238
The third option is in my opinion the correct fix for this. It is what I have been trying to get Thorsten to do. Apparently it is no easy solution or he would probably have already done it. I have a son who just got his Masters in math and another son with a major in computer science and is one of the most gifted programmers I know, (I taught him everything he knows, "NOT", I wish). You'd think I

[2018-12-21 22:20] gilbertohasnofb commented on #1238
@wlbragg The third option would be the best way to go, for sure. Let's hope Thorsten will figure it out after taking another shot at it.

:rofl: You could make use of your fatherly ~authority~ charm and simply ~force~ request them to write the shader for us!

[2018-12-31 16:55] legoboyvdlp commented on #1243
@onox
I think some commits in JSBSIM, also now on next (2018.4) if you are self building or using nightlies will make the unusable fuel actually cut off fuel. I'll build and test later this week.

[2018-12-31 20:05] legoboyvdlp commented on #1219
`[ALRT]:cockpit    empty 'not' condition`

This what is reported by FlightGear 2018.3 - so its in the cockpit subsystem. I'm not honsetly sure if that means its in something like the 2D panel or the HUD or if it means the 3D model of the cockpit literally - I suspect the former. It might help in tracking the bug...

[2018-12-31 21:47] wkitty42 commented on #1219
this is probably like those empty product or sum tags that were recently started to be logged...

a quick grep turns up

  c172-checklists.xml
  c172-sound.xml

as the only places where "<not>" or "</not>" appears when searching only the xml files... i've just updated to commit 0c26f5915f9248a9664897df1126b08919384051 and am checking against branch master...

[code]

[2018-12-31 21:54] legoboyvdlp commented on #1219
I wonder is this it?

 <not>          <property>/fdm/jsbsim/ground/solid</property>
</not>

c172-checklists.xml

If jsbsim is not init at this point perhaps it can't find the property? I certainly see no empty nots there :thinking:

[2018-12-31 22:57] wkitty42 commented on #1219
On 12/31/18 4:54 PM, Jonathan Redpath wrote:

that's possible... are you seeing this early in the init? only once or multiple
times? at specific points when you do certain things? can you tell from your
logging when jsbsim is inited and if this warning comes before that point or
after? the new logging format will give execution time timestamps in the logs
now so that helps to see when certain thin

[2019-01-01 11:50] legoboyvdlp commented on #1219
I am only seeing this once. I cannot see when JSB is init, but it is quite early.

[2019-01-01 11:57] wkitty42 commented on #1219
ok, maybe we could ask on the dev list for a LOG_INFO line when jsbsim is starting to be initialized and another one when its init is completed? if i have time, i might be able to dig into the sources and find the two locations for that and provide a patch with the log lines... i'd almost be willing to bet that you're on to the problem...

[2019-01-01 18:01] dany93 commented on #1219
I understand nothing but, in fgfs.log, I have this (more complete) message
`26.10 [ALRT]:cockpit    /home/dany/fgfs-C/simgear/simgear/props/condition.cxx:498:empty 'not' condition`

[2019-01-01 18:59] legoboyvdlp commented on #1219
thank you - that helps.

I will check what happens in that file.

[2019-01-04 21:39] Astrinus commented on #850
No more problems with 2018.3, although I had a hard way to complete the tutorial. I had to input coordinates from the tutorial XML in GMaps to understand where I should head to and I had to switch to Helicopter View since I could not see the taxiway from Cockpit View (the first three times I did the tutorial I followed the runway instead).

[2019-01-05 10:56] legoboyvdlp commented on #850
Great!

[2019-01-07 11:43] legoboyvdlp commented on #1219
@wkitty42

The error comes before the JSBSIM trim thing, so I think it probably is because of un-init JSB properties.

[2019-01-07 11:48] legoboyvdlp commented on #1219
The error still occurs when I add this in the -set.xml file:
`<ground>
	<solid type="double">0</solid>
</ground>`

under <fdm> <jsbsim>

So my theory is wrong :(

[2019-01-07 17:03] wlbragg commented on #1219
Is that "at least one" line guaranteed to have text in it? Someone may want to take the time and look at each pair in the code?

[2019-01-07 18:02] wkitty42 commented on #1219
sorry, @wlbragg , for the bad formatting in my original post... i've edited it now...

the grep search is looking for ```"<not>"``` and ```"</not>"``` pairs in all xml files...

[2019-01-07 18:08] wkitty42 commented on #1219
i was only looking at the line numbers in the output i posted... i have no idea, from the search, what is on the line between the not tags... it could be a blank line for all this search knows... it is a very simple search :smile_cat:

because a tag has a "/" or nothing in it... beginning tags don't have the "/" and ending ones do... so we have to search for both...

the above search is all "not"

[2019-01-07 19:14] wlbragg commented on #1219
But it is not, as a quick check to verify, I found not pairs in c172p-hydrodynamics.xml. I would be shocked if only those two files you have listed is all that contain "not" pairs.

[2019-01-07 20:34] wkitty42 commented on #1219
On 1/7/19 2:14 PM, wlbragg wrote:

ahhh... found the problem... had to use "*" instead of "*.xml" on the grep
line... you're right, there's a lot more than those i posted... at least 1170
instances (585 pairs) of the "not" tags spread over the following 78 files...
sorry about that...

c172-checklists.xml
c172-sound.xml
gui/dialogs/aircraft-dialog.xml
gui/dialogs/c172p-fuel-both-tanks.xml
gui/dial

[2019-01-07 23:21] dany93 commented on #1219
Isn't it possible to ask the developers for a more accurate message (giving the faulty file)?

[2019-01-08 07:56] dany93 commented on #1219
Can the log-level help to localize when (where) the fault happens?
With
--log-level=debug:
(see 27.93)
[code]

[2019-01-08 10:42] dany93 commented on #1219
By using @wkitty42 's way of using grep (this message https://github.com/c172p-team/c172p/issues/1219#issuecomment-450693117)
but without "xml" (weird!!!)
`github/c172p $ egrep -inr -e '</?not>' *`

Normally, a `<not> ... </not>` condition is on two lines separated by at least one line (like 295 and 297).
A clue might be that a empty `<not> ... </not>` condition is on two lines in a row (like 295

[2019-01-08 15:17] wkitty42 commented on #1219
here's a much better command line that will find and extract all the "not" property nodes and print them... this command redirects the output to a log because there's a lot of them... maybe this will help?? make sure you are in our c172p's directory when you run it...
[code]

NOTE: my xgrep/xpath stuff does not recognize xml 1.1 so i had to edit the following files and change them to xml 1.0 in th

[2019-01-08 16:16] wkitty42 commented on #1219
look at this... shouldn't these two be anded or ored??
[code]

like this???
[code]

or like this???
[code]

[2019-01-08 16:48] dany93 commented on #1219
@wkitty42 wrote:

In fgdata/Docs/README.conditions, I read:

The top-level "condition" is an implicit "and".

But there may be a complexity with "not"?

[2019-01-08 18:48] wkitty42 commented on #1219
@dany93 : you still need an "and" or an "or" on that... you have more than two items in that condition... does it mean "not (a and b)" (both false) or does it mean "not (a or b)" (at least one is false)... you and the sim cannot tell without the "and" or "or" tags...

there's also two instances of this "not with two properties" and no "and" or "or" around the properties and i really think this is

[2019-01-08 21:55] wkitty42 commented on #1219
On 1/8/19 11:48 AM, dany93 wrote:

yeah, there may be a problem there... i imagine they're saying that you don't
have to write

   condition
     and
       blah
     /and
   /condition

i'll bring it up on the dev list... i'm just going to post that condition and
ask if it is right and if it could be causing the "empty 'not' condition" message...

[2019-01-08 22:12] dany93 commented on #1219
@wkitty42 wrote

In my example
[code]
I think there is no need for "and" or "or" because "and" is implicit.
We have the form
[code]
which is taken as blah 1 "and" blah2. Even if blah2 and blah2 are "not" [something].

However, I agree, I do not like these implicit statements. It would be better to always write "and" or "or", even in the case "and" when it is redundant with the implicit rule.

[2019-01-08 22:36] wkitty42 commented on #1219
right...

further down in that document...

maybe we're looking for
[code]
or
[code]
???? but i've tried both and still get the message... i'm starting to suspect that this is somewhere in the default FG stuff... i'm still going to bring it up on the dev list, though... that and a request for the file name and line number triggering that message...

[2019-01-08 23:20] wkitty42 commented on #1219
On 1/8/19 5:12 PM, dany93 wrote:

i think the "not" makes it a "not condition" and the default "and" is thrown
away... in other words, if there's anything there like "or", "not", "less-than",
"greater-than" and others, the "and" is tossed out... only if none of the others
are used is "and" the default and used implicitly... i think! i don't know...
one reason being because then you'd have ugliness

[2019-01-09 05:07] wlbragg commented on #1219
Great, thank your for all your time and efforts on this one. Could have been a real bugger to find.

[2019-01-09 05:16] wkitty42 commented on #1219
@wlbragg it was a real bugger! the question is if the majik formula i figured out will find the next one just as easily :wink:

i was so close above with the formula... i'm going to ""store"" the proper one for finding "empty 'not' condition" right here...
[code]
that xpath statement is the dog's nose for this particular hunt... it'll show us the empty "not" nodes in the xml tree(s)...

[2019-01-09 14:37] dany93 commented on #1219
Thumbs up @wkitty42 ! Thanks to your knowledge of grep and find.
And thank you to James for pointing to the right file and type of mistake.

[2019-01-09 16:06] wkitty42 commented on #1219
now if someone would be so kind as to merge the fix into master :laughing:

[2019-01-09 17:32] wkitty42 commented on #1219
thanks, @dany93 :)

[2019-01-11 18:19] #1245 closed

[2019-01-11 18:20] wlbragg opened #1251 "Rain on windshield moves at to low of a windspeed"
I noticed while working on the J3Cub the animated rain effect on the windshield moves at too low of a airspeed. The c172p uses the same model. It was set at 5 and I increased it to 20 or greater.

The way it currently works is airspeed is the driver until there is a engine RPM. The idea being we should be seeing only drops until there is either a high enough airspeed pushing the rain across the wi

[2019-01-11 20:46] legoboyvdlp opened #1253 "Add markers in the sky to the tutorials"
Someone brought this up on Reddit - could we add markers in the sky to show where we should go in the various tutorials?

The Mach Loop AI scenario from FGUK might be relevant, it puts markers in showing the racecourse in the sky :)

[2019-01-11 20:54] wlbragg commented on #1251
Yes but then it would require direction as well. The property being used is

As that property is the one we use for stresses like vne, it should be a "close enough" indicator of the wind blowing over the aircraft from front to back, without having to do any other calculations.

[2019-01-12 15:30] wkitty42 commented on #1251
wind direction should be available as well... it is used to push you off course when flying perpendicular to its direction of travel... i think... i may have been seeing drift from the compass, though, way back when i was doing my (impossible?) long flights in the c172p from KSFO non-stop to (eg) Denver or Groom Lake using the AP and heading bug for direction control... i know CA craft access and

[2019-01-13 18:46] gilbertohasnofb commented on #1251
Wouldn't using airspeed be better than windspeed? After all, airspeed is the speed that the wind speed in the component pointing forward in relation to the aircraft regardless if the aircraft is in movement or not.

[2019-01-13 18:46] gilbertohasnofb commented on #1253
What tutorials do you have in mind?

[2019-01-13 19:55] gilbertohasnofb commented on #1251
@wlbragg Great. So is that PR ready to be merged?

[2019-01-13 20:15] legoboyvdlp commented on #1253
Mostly the one that has the pattern, but the amphibious ones as well maybe?

[2019-01-13 21:36] gilbertohasnofb commented on #1253
the pattern one makes sense. The amphibious might be tricky, since the 'runway' is not such a defined region and so the take off point can vary a lot. But we can give it a try and see how it looks.

[2019-01-13 23:11] wlbragg commented on #1251
Yes

[2019-01-13 23:49] #1251 closed

[2019-01-13 23:50] gilbertohasnofb commented on #1251
@wlbragg Looks good so I merged it. I did find a weird thing related to the rain effect but which is not caused by your PR. The side windows display rain substantially different than the sides of the front glass, compare:

![image](https://user-images.githubusercontent.com/5700795/51092338-ee754080-178d-11e9-81f0-6d12361b22ee.png)

Is this worth investigating in your opinion or is this just a cons

[2019-01-14 14:34] #1234 closed

[2019-01-23 18:29] #1243 closed, assigned to nobody

[2019-01-28 19:34] tigert commented on #999
The interesting thing is also that the weight of the elevator is pulling the yokes fully forward when the plane is parked in the ground without engine running.

When you start the engine, the airflow pushes the elevator, but not as much as to center it. You can see and feel the vibration though. This is why you should hold the yoke to avoid damage to the elevator after you start, and even before s

[2019-01-28 19:39] tigert commented on #650
This is caused by a worn out plastic on the windshield, which is pretty common on older trainer aircraft. It happens because repeated window cleaning (possibly with more or less dirty rugs) causes abrasion and scratches on the surface, making it a bit matt. It's indeed happening when you look directly at the sun and it is super annoying as it can spread throughout pretty much the whole windshield

[2019-02-06 22:33] legoboyvdlp commented on #538
Zakalawe fixed the bug with the vertical speed indicator, so I can proceed with this work... :)

[2019-02-09 09:36] legoboyvdlp commented on #1143
These shading issues are characteristic of so-called n-gons. Essentially the renderer can't figure out what direction the face is pointing as n-gons have more than four vertices so it can't figure out the normal. The best method to solve it is really the knife tool to split these -- its a bit of hard work but definitely worth looking at for future releases. I'm somewhat proficient with Blender now

[2019-02-09 11:00] legoboyvdlp commented on #979
and finally we can close it... :) I don't see this anymore.

sorry for the long delay

[2019-02-09 11:00] #979 closed

[2019-02-09 11:03] legoboyvdlp commented on #741
And that issue is now fixed so I can restart work on this.

[2019-02-09 14:07] wkitty42 commented on #1143
@legoboyvdlp we distribute the ac3d import/export with the craft so everyone will have and use the same one we use...it is located in the c172p's base directory with the -set file...

[2019-02-09 14:14] legoboyvdlp commented on #1143
Thanks 💯

[2019-02-09 14:42] legoboyvdlp commented on #1143
After twenty minutes work:

![image](https://user-images.githubusercontent.com/10434911/52522098-b7a12600-2c78-11e9-89b6-d54f480b6e23.png)

I've cleaned up the door mesh, so far, and started cleaning up the area around the air conditioning flap (although causing a few other issues around it)
Some un-needed vertices were actually removed on the door.

[2019-02-09 16:53] legoboyvdlp commented on #1143
And:

![image](https://user-images.githubusercontent.com/10434911/52523611-d27c9600-2c8a-11e9-88e3-cd6b33d56fd2.png)

I  think it's improved from:
![image](https://user-images.githubusercontent.com/10434911/52523633-330bd300-2c8b-11e9-9efc-96c9db3bd58e.png)

[2019-02-09 22:37] gilbertohasnofb commented on #1143
It definitely looks better in my opinion. I think this is a great moment to do this work since we are not currently doing any 3D modelling (that I am aware of), so there is no rush and we can go through the whole model. The panel in particular has some artefacts the bothered me, do you think you could take a look at those when you get a chance, lego?

Also, @wlbragg, do you think you can take a lo

[2019-02-09 22:38] gilbertohasnofb commented on #741
Does this involve any 3D modelling or is it just a system implementation? If it involves 3D modelling then I would suggest to first wait for the mesh cleaning to be over, since blend files do not play fair with git.

[2019-02-09 22:38] gilbertohasnofb commented on #1143
It definitely looks better in my opinion. I think this is a great moment to do this work since we are not currently doing any 3D modelling (that I am aware of), so there is no rush and we can go through the whole model. The panel in particular has some artefacts the bothered me, do you think you could take a look at those when you get a chance, lego?

Also, @wlbragg, do you think you can take a lo

[2019-02-09 23:41] legoboyvdlp commented on #1143
Sure, if you can show me them I can take a look.

[2019-02-09 23:41] legoboyvdlp commented on #741
Just system - the model and all are there already, it just presently does nothing!

[2019-02-09 23:43] gilbertohasnofb commented on #1143
I will try to find the screenshots. They become very obvious at a very precise time of the day and heading from the sun. @wlbragg would you have any idea where I might have posted those screenshots? I don't think we ever opened an issue for that... was that maybe over the organization chat?

[2019-02-09 23:44] gilbertohasnofb commented on #741
Great!

[2019-02-11 01:14] onox commented on #979
@legoboyvdlp You didn't manage to reproduce it anymore? Could you add label 'invalid' and remove the milestone otherwise it looks like something that was fixed.

[2019-02-11 15:54] wkitty42 commented on #979
if i may submit: possibly it wasn't invalid but the ultimate bug that was causing it so it was seen in this craft was fixed in the meantime... i'm thinking of function validations and JSBsim updates in the core... just sayin' and i don't think this issue needs to be changed as it stands... unless it reappears, of course :cat2:

[2019-02-12 05:22] wlbragg commented on #1143
I just got back from my trip and will take a look. I need to refresh my memory as to all things c172p and make sure there is no open mesh work, I don't think there is.
@legoboyvdlp did you try the ac import/export we have in the repository per @wkitty42 ?

[2019-02-12 11:50] legoboyvdlp commented on #1143
Hi,
I did -- all looks fine now, I didn't notice any broken things!

Even if there is any open mesh work I'll probably want to start again anyway -- what I did there was just mostly an experiment to show how its possible to fix the issues; I'd like to redo it and see if its possible to do it with less vertices.

[2019-02-12 16:51] wkitty42 commented on #1143
remember, less vertices make for less rounded curves... there really is a trade off between having a stop sign and a circle even if the circle is really hundreds of straight lines :smile_cat:

[2019-02-12 17:40] wlbragg commented on #1143
@gilbertohasnofb once @legoboyvdlp gets to a final PR version, I'll take a look. I have no doubt it can be cleaned up, it was simply more than I wanted to deal with, especially the liveries behind the mesh. After what I did to the nose cowling, wing tips, tail section and all the really big issues I noticed,  I pretty much had my fill of mesh cleanup. I'm glad someone else can follow me up and get

[2019-02-12 18:15] wlbragg opened #1255 "Load GPS-Model only once"
<s>It is a fact that loading the GPS-Model twice for lighting effect simplicity is costing us load time and overhead. So we need to load it only once and dynamically reposition it to the alternate "Float" variant location when called for.</s>
I had it that way originally and had trouble getting the interior shadow positioned correctly but understand it a bit better and should be able to get it clo

[2019-02-12 18:28] wlbragg commented on #1199
The reason this kind of stalled was due to discussion on the dev list and the possibility of extending it in the view code in fgdata.

I/we really need to decide if we want to...

1) Wait for someone else to extend "view" manager in fgdata (I was of the understanding others have brought it up and "may" be working on it).
2) Extend it ourselves in fgdata, not something I am keen on having to learn,

[2019-02-12 19:23] onox commented on #1255
@wlbragg This issue is a duplicate of some other issue?

[2019-02-13 03:50] wlbragg commented on #1255
If it is I couldn't find it. I thought i might have already opened an issue for this but couldn't find it.

[2019-02-13 13:04] legoboyvdlp commented on #1143
I don't think the last person who exported c172p.ac used our exporter

our exporter export_ac3d.py:

this one:
https://github.com/NikolaiVChr/Blender-AC3D

our .ac has `name "Blender_exporter_v2.26__c172p.ac"` while when I exported using our exporter I got `Blender_export__c172p.ac`.

since it looks like we actually use the one on NikolaiVChr's github based on the name of the exported .ac, I'll us

[2019-02-13 13:12] gilbertohasnofb commented on #1199
@wlbragg What is the likelihood of this being picked up by someone in the dev-list? If you are reasonable positive this might happen in the near future then option 1 is best, else option 3 sounds good to me.

[2019-02-13 13:17] gilbertohasnofb commented on #1143
Absolutely! This model is light-years ahead of where it was just a couple of years ago!

![image](https://user-images.githubusercontent.com/5700795/52714399-aa927880-2f91-11e9-8ccf-a09ee852954e.png)

![image](https://user-images.githubusercontent.com/5700795/52714406-acf4d280-2f91-11e9-9ced-611c4ad872af.png)

[2019-02-13 16:50] wkitty42 commented on #1143
@legoboyvdlp might need to check with @wlbragg ? maybe he has an updated version? he's been the main one doing the .ac files AFAIK... at least the most prolific... if there is an updated version, it should be updated in the repo and fgdata...

[2019-02-13 17:20] legoboyvdlp commented on #1143
I used the exporter I linked and everything worked fine: no broken materials. When I used the one in my repo, all the materials broke.

[2019-02-13 17:53] wlbragg commented on #1143
@legoboyvdlp  I am guilty of using different .ac's I'm sure at one time I used the one in the repo, since then I use whichever one I find that works across most of the different aircraft I am working on at the time. The Shuttle is really picky and needs a particular version. I have discovered the usual issues are Grouping, either it works or doesn't, and the way the materials are exported can be a

[2019-02-13 17:54] wlbragg commented on #1143
Yes, @wkitty42 is technically correct, we should update the repo with the most current io script available that works.

[2019-02-13 18:00] wlbragg commented on #1199
If I get help from James I could probably get this done in fgdata. I think it is a better way to go if it can get done. I'll take another look at the fgdata side and if I can decipher it I'll try to  do it there.
If not then I should ask the question on the list if it is going to be picked up by anyone anytime soon, if not then we finish this and move on.
I want the ability, I'm not getting stuck

[2019-02-13 18:02] wlbragg commented on #1199
I'm definitely finishing the surface friction issue before I start this. Hopefully that can happen in the next week or two.

[2019-02-20 22:55] wlbragg opened #1258 "Radio tutorial has no power to radio upon startup"
See:https://forum.flightgear.org/viewtopic.php?f=37&t=35246&p=342952#p341392

We need to add a section at the beginning of the tutorial on how to get power to the radio stack.

[2019-02-21 18:47] wlbragg opened #1259 "Add new or missing features to flight recorder"
This is a minor issue but I noticed some of the newer additions may not be added to the replay system. Things like the "airvent" door, oil check door. The amphibious panel control cluster, interior controls, exterior rudders? The exterior rudder control wires/link. Low voltage light, yoke mike wire animation, interior lighting, etc

Loosely relates to #293

[2019-02-28 14:19] dany93 opened #1260 "Too much turn-to-the left tendency at takeoff and climbing."
This issue is connected to this one by @legoboyvdlp  and @it0uchpods . https://github.com/c172p-team/c172p/pull/1256#issue-253643544
I hope they can join it.
I have preferred opening a new issue starting back from the master version. This will avoid polluting the git history with features like reversing the proposed wrong roll-moment-due-to-rudder code and less important ones that are still to be

[2019-02-28 14:26] it0uchpods commented on #1260
Works for me.

I tested my theory with yaw_beta, and found that to have enough to counteract the roll, would make the craft unstable in roll manuevers. So the solution would more advanced modelling.

[2019-02-28 14:31] dany93 commented on #1260
I also had this impression by doing this same test.

[2019-02-28 14:32] it0uchpods commented on #1260
I am glad we are on the same page.
I'll let you know if I find anything.

[2019-02-28 15:25] dany93 commented on #1260
Done PR #1261 (change P-factor from 60 to 15).

If possible, suggestions please:
- change one parameter at a time,
- preferably selectively test its effect by canceling another that can have a similar effect (e.g. P-Factor values with spiral-propwash = 0).
- check the rudder deflection needed with both at 0 or very close to 0.

[2019-02-28 17:01] dany93 commented on #1260
With P-factor = 15,
180 hp
I climb at (slip-ball centered):
60 kt with rudder = 0.15 (pilot alone), 0.09 (with co-pilot),
70 kt with rudder = 0.11 (pilot alone), 0.06 (with co-pilot).

[2019-03-05 16:29] algefaen commented on #1260
The subjective feeling of having to apply to apply _a lot_ of right rudder in slow-speed climbs might be related to the forces involved rather than the actual rudder pedal movement, with slipstream etc. pushing back through the pedals. It's hard to say, I wish I had more concrete evidence.

For those who are testing this, remember to make sure that rudder and aileron trim are set to the default va

[2019-03-09 18:18] wlbragg opened #1262 "Use air-intake-impedance-factor for carb icing"
Refactor carb icing to use air-intake-impedance-factor VS volumetric efficiency.
This parameter appears to be more precisely suited for this feature.

[2019-03-12 18:31] wlbragg opened #1263 "Taxing tutorial has bug around cowl plug removal"
See: https://forum.flightgear.org/viewtopic.php?f=25&t=35473

What I discovered so far is that if the cowl plug is in place, on every other tutorial start it won't be removed and the tutorial fails.
It appeared to not matter whether or not the rest of the items were checked or not, and it was only every other time you tried to run the tutorial with the cowl plugs in place.

[2019-03-22 11:36] legoboyvdlp commented on #202
Is there anything I could do to help on this?

[2019-03-22 16:19] wlbragg commented on #202
If you can figure it out in the code. As it is written now, adding hot air to the cabin increases the fogging. There is even a warning triggered about it in the code. Typically turning on the air/heat (defrost) should actually drive the fog number down, not up. if you have a completely fogged window and turn the air over the windshield on you should see the fog start to dissipate. As this happens,

[2019-03-22 16:40] wlbragg commented on #1199
@legoboyvdlp  if we finish the defrost issue I am of the opinion we go ahead and also finish the seat view and not count on anyone else at core or even me to do the core code replacement for what I have already done here in this work. In other words I think we should just go with option 3.

To do that I think all that is missing for the seats is to decide on the modifier.

I think @gilbertohasnofb

[2019-03-22 18:02] gilbertohasnofb commented on #1199
No, I meant combined. Ctrl plus Alt should be avoided on Linux, but Ctrl alone or Alt alone are fine. We just need to make sure that whatever option we pick does not conflict with default shortcuts for FG. Possibly Alt will be a safer option than Ctrl, as I have the ~totally unscientific opinion~ impression that it is far more seldomly used

[2019-03-22 18:46] wlbragg commented on #1199
@gilbertohasnofb
Yes, your right about alt being used less than ctrl. But for some reason I can't get either alt or ctrl modifier to work. See anything wrong here?
[code]

[2019-03-22 18:47] wlbragg commented on #1199
Everything with the exception of the mod-alt portion is straight from fgdata keyboard.xml

[2019-03-22 18:47] wlbragg commented on #1199
I tried it without the view = 0 condition as well.

[2019-03-22 18:50] wlbragg commented on #1199
References:
http://wiki.flightgear.org/Howto:Reassign_keyboard_bindings#Complete_layouts
http://wiki.flightgear.org/Keyboard_function_priority_list

[2019-03-22 19:17] gilbertohasnofb commented on #1199
I don't see any issues. Perhaps you can try swapping `mod-alt` for `mod-ctrl` just for testing if that works. If that doesn't work either, you can try deleting the view part of the code and using `mod-shift`, again just for the sake of testing.

[2019-03-22 19:18] gilbertohasnofb commented on #1199
I also noticed that the `keyboard.xml` file on FGDATA does not use a single shortcut with Alt, so could this be a bug that went unnoticed and the alt modifier is broken?

[2019-03-22 19:39] wlbragg commented on #1199
I started with ctrl and when that didn't work I tried alt. I can try the shift but I am pretty sure it will work. The view moving property-adjust code worked fine with normal key assignments.
Frustrating, I really didn't want to take this to dev mail list as I don't want to open the can of worms about doing it in the source.

[2019-03-22 20:31] gilbertohasnofb commented on #1199
Have you seen this on the `keyboard.xml` file? They are not using `mod-ctrl` but rather `Ctrl-<key>` on name:

[code]

also, this is an interesting note on line 134:
[code]

[2019-03-23 04:48] wlbragg commented on #1199
I'm an idiot. I busted my own code. I made a stupid mistake and the key codes were mostly working.
I've a bit more to do and then we can test it.

[2019-03-23 06:17] wlbragg commented on #1199
OK, done!
You have to use the keypad as a 10 key (num lock on) and not as the special function keys.
So the numbers above the letter keys also work the same as long as you use the alt with them.
Several number keys were already using the ctrl modifier, none used the alt modifier so that is the one were using.

It's really interesting the available key bindings that can be used for any given.m key.

[2019-03-23 14:08] gilbertohasnofb commented on #1199
@wlbragg Cool, happy to hear you found the issue in the code! When the PR is ready, let me know and I will gladly review it :smile:

[2019-03-23 14:11] wlbragg commented on #1199
The seat portion is done and ready to be tested.
I still have the last part of the window de-fogging to finish.

[2019-03-24 19:16] wlbragg commented on #1199
I have a bug in the seat code I'm trying to isolate, so it isn't ready to test yet.

[2019-03-25 04:38] wlbragg commented on #1199
OK, the seat logic is finished. It's read for final testing.

[2019-03-25 15:57] gilbertohasnofb commented on #1199
@wlbragg I just tested it and I absolutely love this feature, such a great idea! I do have a couple of comments though:

* even though you can't move a seat sideways (which is correct), you should save the information of all axis to revert when pressing `q`. For instance, if you move the viewpoint sideways and then press `Q`, you are correctly reset to the default view. But if you move the viewpoi

[2019-03-25 15:58] gilbertohasnofb commented on #1263
hmm, this is a weird one. I will try to reproduce it soon.

[2019-03-25 16:33] wlbragg commented on #1199
I was still under the assumption I couldn't use the keypad portion, that you had to have numlock on. But that was because of a dumb mistake I had mad in the code. Then I though we still couldn't use it because it already has some of it mapped using the ctrl modifier for other actions. Since we are using the alt modifier instead now we can use the keypad without numlock on. I just pushed that chang

[2019-03-25 17:04] gilbertohasnofb commented on #1199
Basically we just need to save the left and right information, but not add any shortcuts to alter it. This way we save all degrees of freedom so that `q` resets exactly to where the user has set it. Let me know once this gets done and I will re-test everything.

[2019-03-25 18:45] wlbragg commented on #1199
I decided that the "q" pilot reset view should be a quick reset to the saved pilot view no mater what view your currently in. "Q" is reset to the current view "default" as it always has been, including in the pilot view.

I hope everyone agrees with this concept. I look at it like the entire reason for "q" was to get back to your normal "user" pilot view. If your in the pilot view and you hit the

[2019-03-25 19:34] gilbertohasnofb commented on #1199
Hmm, I am finding a weird bug, whenever I hit `q` the screen goes grey and I need to force close the sim. Maybe we don't need any fancy logic: `Q` takes you back to pilot view + default position, `q` takes you back to whatever view you were when you moved the seat + the position you saved.

[2019-03-25 19:38] wlbragg commented on #1199
Oops, clear your aircraft cache. I think that is all that is wrong. Some default info gets saved the first time this is used. You flag for that has already been set and I am now adding more saved data. In you case it is trying to rely on data that isn't there. Maybe as failsafe I should add that check, but it shouldn't ever be necessary if this code is used for the first time and doesn't change li