[2015-06-15 17:39] onox commented on #299
You can work on it if you want yeah :smile:

[2015-06-15 17:39] wlbragg commented on #299
No, I didn't say I want, but if I want the alias's back I guess I have to :(...

[2015-06-15 17:40] gilbertohasnofb opened #302 "Strange shadow object"
Just notices a strange line that moves with the shadows. For these images, I am using the float variant:

http://s29.postimg.org/960v77xdj/fgfs_screen_001.png
http://s29.postimg.org/ajsi2iwmv/fgfs_screen_002.png

[2015-06-15 17:41] onox commented on #300
I don't really have a strong preference. So I suggest to do a voting.

Who wants "4X-CHV_HD_livery" and who wants "OH-CTL_HD_livery"?

[2015-06-15 17:45] onox commented on #299
@wlbragg You can reclaim int[14], int[15], int[16], int[17], int[18], int[19].

[2015-06-15 17:45] wlbragg commented on #299
OK, one more question, why are we commenting out the wing and fuselage section and not just using the "new" props on it also?

[2015-06-15 17:46] onox commented on #299
Because if you're flying online and I look your aircraft. I see @wlbragg flying with PH-ONOX painted on it :stuck_out_tongue_winking_eye:

[2015-06-15 17:53] wlbragg commented on #299
OK, now you have really confused me.

I can't reclaim 14-19 until I fix immat.xml and immat.nas?
We aren't going to be sending the immat info across MP anymore are we if we reclaim 14-19, so everything is local now, no one will see anything?
If we do convert MP over to unused string MP's we can also send the info for only showing the immat if using an aircraft that allows it?
You have thoroughly c

[2015-06-15 17:54] onox commented on #299
Yes.

Yes. But people couldn't see the custom callsign anyway, because @gilbertohasnofb toggled "immat" to false some time ago.

[2015-06-15 17:55] onox commented on #299
Shall I modify `immat.xml` and `immat.nas`?

[2015-06-15 17:56] wlbragg commented on #299
I think that is a great idea!

[2015-06-15 17:56] gilbertohasnofb commented on #299
Just to make it clear, it was off for all liveries except for the "default" one, and this was discussed in the forum thread so it's was not a maverick moment of mine :wink:

[2015-06-15 17:58] wlbragg commented on #299
I still don't understand why we are removing "locally" displaying registration on the wing and tail section. It is local only and will never bee seen across MP.
So why remove it?
No worries gilbertohasnofb.

[2015-06-15 17:58] onox commented on #299
I know, the ugly white livery is the only exception. But I find that livery so super ugly that I'm just going to act like an ostrich, put my head in sand, and pretend it doesn't exist :laughing:

[2015-06-15 18:00] onox commented on #299
@wlbragg If you do display it, the aircraft will paint a callsign on the wings and fuselage. The problem is is that it will be the wrong callsign. The aircraft of player B should draw callsign B on A's computer, but with local properties it will draw A's callsign on B's aircraft on A's computer.

[2015-06-15 18:00] onox commented on #299
On B's computer, it will draw B's callsign on A's aircraft.

[2015-06-15 18:02] onox commented on #299
I'll create branch bug-299 and modify `immat.xml` and `immat.nas`, and you'll see and understand :smile: Shouldn't take more than a couple of minutes to fix.

[2015-06-15 18:04] wlbragg commented on #299
OK, I trust you got that worked out in you mind. I guess I am just not up to speed on this whole MP thing. Best I see it... Thanks for your patience!

[2015-06-15 18:09] gilbertohasnofb commented on #299
The new "Custom Callsign" liveries are already up. There are 2 of them, please have a look.

[2015-06-15 18:09] gilbertohasnofb commented on #300
The two new "Custom Registration" liveries are already committed.

[2015-06-15 18:10] wkitty42 commented on #302
confirmed! hahaha... i had to get in *just* the right orientation to see it but yes, i see it... ya gotta have the sun behind ya so you can see the shadow of the tail assembly on the panel like that... it took me a bit to find it...

it kinda looks like maybe a scratch on the rear window but when i went to heli view to try to see if there was a scratch there, i thought i also saw that line on the

[2015-06-15 18:11] gilbertohasnofb commented on #299
Images:

http://s15.postimg.org/evta0nci3/fgfs_screen_002.png
http://s15.postimg.org/5mr3qj3m3/fgfs_screen_003.png

[2015-06-15 18:12] wlbragg commented on #299
Very nice, thank you!

[2015-06-15 18:13] gilbertohasnofb commented on #302
Thanks for testing this! This must be something on the cubemap created by @wlbragg since it moves with the shadows -- or at least that's what I think :smile:

[2015-06-15 18:14] gilbertohasnofb commented on #299
My pleasure!

[2015-06-15 18:15] gilbertohasnofb commented on #299
I deliberately created textures with lots of white so there is no worry about the colour and position of the callsigns, but I have the impression the letters are a bit too far apart from each other.

[2015-06-15 18:16] onox commented on #299
I'm done, pushing in a minute.

[2015-06-15 18:19] gilbertohasnofb opened #303 "Implement external preflight inspection"
Here is a list of ideas of what we can implement.

* [x] clicking on the fuel tank door (red circle above each wing) will open the fuel and weight dialogue
* [x] ~~clicking on ailerons, rudder and elevator (if and only if on the ground and with the engine off) causes them to wiggle, as if testing them~~ maybe too silly, one can simply use their joystick/yoke/mouse in control mode to look at the su

[2015-06-15 18:22] onox commented on #299
Pushed branch bug-299.

[2015-06-15 18:24] onox commented on #300
See #304

[2015-06-15 18:26] wkitty42 commented on #302
@gilbertohasnofb yeah, that's kinda what i'm thinking, too... i was able to do it again quite easily... it is exactly the same for all liveries...

Advanced Weather ON
Time set to AFTERNOON
KMCO runway 18R
heading bug set to 180
take off at full power
turn on AP and click the HDG button to hold 180
set heading bug to 117
set AP to climb at 200 or 300 fpm

that line should be over there on the righ

[2015-06-15 18:35] wkitty42 commented on #300
i have no preference as to which craft is "the default" when loading the first time... once settings are adjusted and a livery is chosen, that'll be the pilot's default until they change it...

[2015-06-15 18:40] gilbertohasnofb commented on #300
@wkitty42 you are right. This will simply change which livery will show when someone fires up FG for the first time (before he or she changes the livery himself).

[2015-06-15 19:56] onox commented on #302
I think @wlbragg did something to the instruments to prepare them for the ALS flashlight. I noticed it too.

[2015-06-15 20:00] #299 closed

[2015-06-15 20:15] onox commented on #300
Guys, is it ok if I make a poll on the forum for input for a new default (HD) livery?

[2015-06-15 20:16] gilbertohasnofb commented on #300
Fine with me.

[2015-06-15 20:27] onox commented on #300
![fgfs-screen-095](https://cloud.githubusercontent.com/assets/3361585/8169806/4886b0d4-13ac-11e5-8807-2d3c13d5fe67.png)
![fgfs-screen-096](https://cloud.githubusercontent.com/assets/3361585/8169808/4887737a-13ac-11e5-9e86-10363c07c396.png)
![fgfs-screen-097](https://cloud.githubusercontent.com/assets/3361585/8169809/48883fee-13ac-11e5-901f-3ef4f3e03356.png)
![fgfs-screen-098](https://cloud.githubu

[2015-06-15 20:39] onox commented on #300
![fgfs-screen-108](https://cloud.githubusercontent.com/assets/3361585/8170190/46001258-13af-11e5-9b99-36dac03ececa.png)
![fgfs-screen-109](https://cloud.githubusercontent.com/assets/3361585/8170193/46058cc4-13af-11e5-9224-e36971367149.png)
![fgfs-screen-110](https://cloud.githubusercontent.com/assets/3361585/8170191/46027232-13af-11e5-827d-23553f670806.png)
![fgfs-screen-111](https://cloud.githubu

[2015-06-15 20:45] onox commented on #300
I have added the poll here http://forum.flightgear.org/viewtopic.php?f=4&t=26563

[2015-06-15 22:37] Juanvvc commented on #303
We need two things for this:

- a working walker :) The walker needs the latitude and longitude of the model to be initialized before switching to the walker view. Currently, you have to switch the walker mode on in the menu and then switch to the walker view, or you spawn in the middle of the ocean. Initializing latitude and longitude is trickier than it seems, and the code is buried somewhere in

[2015-06-15 22:40] gilbertohasnofb commented on #303
@Juanvvc do you think it's a problem to leave this issue opened? I mean, it's a long shot but if it's opened we may revisit it in the future.

[2015-06-15 22:46] Juanvvc commented on #80
The stall horn is mechanical, and it works without any power. One of the things you have to do during the external inspection is aspiring from the stall detector (a hole in the wing) and check if the stall horn makes its sound. This is done without power. Not all aircraft use mechanical detectors: Cessna and Diamond aircraft usually have mechanical stall alarms. Piper usually has electrical stall

[2015-06-15 23:17] Juanvvc commented on #303
Of course it can be left open! This little issue with the walker must be fixed one day or the other, and the oil system is probably going to be implemented in the future.

The external revision can be done without checklist: just check every single part of the aircraft. The only value to consult in the checklist is the oil level: between 6 and 8 octaves, IIRC. And the oil management is not yet imp

[2015-06-15 23:18] gilbertohasnofb commented on #303
Oh, so I think you closed this by accident and not on purpose. I will reopen it right now.

[2015-06-15 23:19] gilbertohasnofb commented on #303
And so I think #46 is related to this.

[2015-06-15 23:21] #241 closed

[2015-06-15 23:29] Juanvvc commented on #250
This is much trickier to fix than I expected. Gilberto, your gay_texture.png texture did not fix this issue. It seems to be related to the c172p-interior effect. That is, the effect that produces shadows inside the cabin. It seems the shadows are calculated *before* the wheel rates, and then shadows also rotate with the wheel.

One easy fix is not applying the shadows to the trim wheel. For me it

[2015-06-15 23:32] gilbertohasnofb commented on #250
In that case, I will remove both `gray-texture.png` and `light-gray-texture.png`.

I am also absolutely all right with the proposed solution. So let's just see what @wlbragg has to say about it since he is the one whom implemented the shadows.

[2015-06-15 23:45] Juanvvc commented on #303
Oh, sorry, i clicked on the wrong button! Sorry!

[2015-06-15 23:46] gilbertohasnofb commented on #303
No worries, I did the same a couple of times already :smile:

[2015-06-16 01:29] wkitty42 commented on #302
i dunno... either way, it was easy enough to find once i knew to look with the tail assembly behind me... the rather shocking thing was that it was also visible from outside the craft as my second photo shows...

my initial thought was, i think i stated, a scratch in the rear window or the right rear side window... TBH, though, i wouldn't worry about it at all.. it adds to the mystique of the craf

[2015-06-16 01:31] gilbertohasnofb commented on #302
Oh, it bothers me quite a lot. I am quite compulsive about things out of place, and once I realize something isn't right then I will see it all the time. Right now I think I watch this line more than I watch my airspeed :wink:

[2015-06-16 01:34] wkitty42 commented on #300
i don't have any problem with a poll but i don't really see any need for it... having at least one immat capable craft is going to help others design their own craft where they want to allow others folks to place their own call sign (aka registration) on the craft without having to go through the mess of figuring out how to create a livery on their own...

yeah, i'm kinda one of those... i was rea

[2015-06-16 01:38] gilbertohasnofb commented on #300
@wkitty42 but the poll is about which livery will be the default in FG 3.6, nothing to do with callsigns.

[2015-06-16 01:41] wkitty42 commented on #302
@gilbertohasnofb hey, don't think you are the only one with OCD problems :wink: :laughing: they are one of my major problems to deal with... the recent commit of the ancient history really set me off and it still does when i go back through the git log history... especially since the mess is out of proper sync... it is al i can do to stay quiet about it... i said my piece (and got a reprimand!) on

[2015-06-16 01:44] wkitty42 commented on #300
@gilbertohasnofb i understand that... but i don't really understand why :cry: sure, one craft livery may be selected as the default but what does it really gain any of us? bragging rights? is that really worth the possible pain?? /me says that as a 50+ year old who has been thorough similar too many times

[2015-06-16 02:21] wlbragg commented on #302
I found it, it is on the cube map. It is a little bit of edge that isn't cleaned up. Funny though because it has been there this whole  time.

[2015-06-16 02:32] wlbragg commented on #302
I pushed the fix for it. It is part of the PR Refactor wing damage and broken over MP #305.

[2015-06-16 03:55] wkitty42 commented on #302
let's wait until after the merge so we can play big hunter and see if we can find it again :laughing:

[2015-06-16 08:21] onox commented on #300
@wkitty42 I think you're confusing the custom callsign livery "default" (which has now been renamed) with the default livery "D-EEQA". All that is we're going to do is change the default to not be "D-EEQA", but (probably) "4X-CHV_HD_livery".

What it gains for us is that if a completely new player starts FlightGear for the first time ever, he/she will see a nice HD livery instead of the older "D-E

[2015-06-16 10:28] onox commented on #148
Btw, can the 3D shadow handle the retraction of the gear? If not, then we should have a 3D shadow with the gear retracted (in other words, gear not visible) because you'll only notice the shadow near the water and in that case you'll likely have the gear retracted :wink:

[2015-06-16 10:37] onox opened #306 "KMA20 instrument does not control the volume of radio's and ADF"
From #80:

Some code in `Nasal/kma20.nas` should be replaced with `<filter>`'s so we can control the volume. We can control `/instrumentation/marker-beacon/volume` for the marker-beacon.`/instrumentation/comm/volume` and `/instrumentation/comm[1]/volume` are probably a bit more difficult to fix because they can be (I assume) controlled via the radio instrument in the cockpit.

[2015-06-16 10:38] onox commented on #80
I have opened a separate issue for the KMA20 instrument. Closing this issue.

[2015-06-16 10:38] #80 closed

[2015-06-16 10:42] gilbertohasnofb commented on #300
A better first impression? Which is usually all it takes for someone to form a (completely ignorant) opinion about a subject.

[2015-06-16 10:46] onox commented on #30
Note that LOD range animations are expensive. See http://wiki.flightgear.org/Modeling_-_Getting_Started#Level_of_Detail_.28LOD.29

[2015-06-16 10:46] gilbertohasnofb commented on #302
@wlbragg thanks for the PR. I can't check it right now so I won't merge it, but if it's still open tonight I will have a look on it.

@wkitty42

Yeah, particularly here on GitHub. I think at least half of people here are obsessive compulsive neurotic guys with Asperger :wink:

[2015-06-16 10:48] onox commented on #9
What do you mean with "face loops"?

[2015-06-16 10:49] onox commented on #11
I think you meant the fuselage? We should first compare the shape with photo's.

[2015-06-16 10:50] onox commented on #17
You could try to document it in an `.md` file (Markdown) or use the [wiki](https://github.com/Juanvvc/c172p-detailed/wiki) here on Github.

[2015-06-16 10:52] onox commented on #300
Agreed. I will set the new default tomorrow.

[2015-06-16 10:56] gilbertohasnofb commented on #11
Hi onox, this issue was not written by me, only created by me. In the early days of this project we kept a TODO file with a list of tasks, and when we moved to GitHub I volunteered to create individual issues for those things. So this is just a copy and paste of what someone (probably thevirtualfer) wrote. I have really no idea what it means, and I think we have already better and more specific is

[2015-06-16 10:56] gilbertohasnofb commented on #9
See my comments at #11. This also could be closed IMO.

[2015-06-16 11:02] onox commented on #11
I have set 3.8 milestones, so they can be kept open.

[2015-06-16 11:02] onox commented on #11
@thevirtualfer should probably explain what he meant then :smile:

[2015-06-16 11:05] gilbertohasnofb commented on #11
I don't know, onox. I'd rather close these cryptic issues than keep them opened. I already tried to talk about these things some 3 months ago when I opened these issues but to no avail.

[2015-06-16 11:05] #11 closed

[2015-06-16 11:05] #9 closed

[2015-06-16 13:50] Juanvvc commented on #299
Regarding the color of the letters, they are not yet themable but nothing prevents these letters to be changed with the livery, as any other texture. Currently, the letters are inside Model/immat/immat.png. I also think these letters are too far apart each other but this is very easy to fix.

[2015-06-16 14:36] wkitty42 commented on #17
why not just write a plain text doc file and store it in the directory with the .blend file? that would be the best thing... it doesn't need any fancy window dressing for looks... it is just a technical document, after all :wink:

[2015-06-16 14:41] wkitty42 commented on #300
@onox no, i wasn't confusing the two... i understand the gains... what i didn't understand was why the need to figure out which HD livery was to be the one selected... just flip a coin! :laughing:

[2015-06-16 14:48] onox commented on #17
`.md` files are plain text.

[2015-06-16 14:51] Juanvvc commented on #17
Actually, I'm ok with the .md file. As onox says, it is a text file with some basic formatting. I use that format constantly for documentation and wiki :)

[2015-06-16 14:57] wkitty42 opened #307 "amphibious breakage too easy - how to roll from land into water or visa versa"
trying to go from land to water or water to land is currently very painful... you have to keep raising and lowering the gear to ""bounce/walk" the craft in to or out of the water unless you get a really fast run and can force a slide across the water/land transition boundary... doing the gear "bounce/walk" too rapidly much too easily bends the pontoon and/or breaks the gear...

the too easy breaka

[2015-06-16 14:59] wkitty42 commented on #17
yes, .md files are plain text but no markup is needed... .md is only an extension anyway ;)

[2015-06-16 16:34] dany93 commented on #307
Does a slope exist in the FG Terrain to go from land to water and vice versa? I doubt it. IRL, trying this on a step breaks certainly... Like raising / lowering the gear to "jump". Nobody would do this IRL.

[2015-06-16 16:36] wlbragg commented on #307
Yes, I have played with this also and was disappointing by the outcome. Hopefully we can fix this somehow.
Interesting though about the ease of breaking, because it isn't easy to break on a hard landing or nose dive. I think the contact points that are used for damage conditions are misplaced.

[2015-06-16 16:44] wlbragg commented on #148
Good point, yes they can be animated. I'll see if I can get this done sometime today also, I'm glad you commented on it because I had forgot about it.

[2015-06-16 17:37] wkitty42 commented on #307
on the easy breakage thing, try this... open the craft options and slide it off to your upper right... then go to heli view and slide around to the side of the craft... now, switch between normal gear, pontoons and amphibious... just click this one, and then randomly that one pretty quickly... the craft will hop all around and i've even had it do a flip :laughing:

yesterday, i could easily break

[2015-06-16 17:39] wkitty42 commented on #307
the main point i guess i'm trying to make is that just like in writing programs, we have to protect from the random crazy stuff that users will throw at the program at some point... we used to find all sorts of security holes in POTS dial up BBS software by just hitting random keys at their menus...

[2015-06-16 18:06] dany93 commented on #307
In FG, I think that the boundary between ground and water is just a line at the surface. Nothing exists below, thus my guess about the non-existence of a slope which would extend the ground under water.

[2015-06-16 18:34] wkitty42 commented on #307
@dany93 right... what i was hoping for was that the amphibious wheels could still be extended when entering the water so that the front of the pontoon would start floating... then when the rest of the craft was in the water and floating completely on the pontoons, then the gear would be raised... part of the problem, in the case i described above, seemed to be soft ground as the front wheels sank

[2015-06-16 19:25] wkitty42 opened #308 "Clicking "Repair" button doesn't set craft to upright position"
Now that we have the "Repair" button in the "Aircraft Options" window, I find myself using it more and more to try to correct things from accidents but some things it just doesn't do and that means that one has to exit or reset the sim.
1. Craft is upside down
2. Fix all instruments that may be broken (had the horizon get broken the other day after a nasty)

Those two are all I can think of at the

[2015-06-16 20:17] wkitty42 opened #309 "it is time to make our release branch or tag or we may miss the cutoff..."
quoting this from stuart on the forums at http://forum.flightgear.org/viewtopic.php?p=247388#p247388

[quote]
I think you are mistaking the feature freeze date (June 17th) for the branch date (July 17th). The feature freeze is June 17th, when the development stream is declared "frozen" or "yellow". July 17th is when the release branches are cut.

Merging c172p-detailed into fgdata counts as a new

[2015-06-16 20:36] wkitty42 commented on #309
looks like @Juanvvc got a v3.6 branch cut just in time... i'll close this issue now... we just need to remember to fix bugs in v3.6 and add features in master... possibly also prefixing our issues with [3.6] and [master] to keep them straight as for which line the issue is in...

[2015-06-16 20:36] #309 closed

[2015-06-16 21:26] #264 closed

[2015-06-16 21:38] onox commented on #300
Changed default livery in 829c649.

[2015-06-16 21:38] #300 closed

[2015-06-16 22:06] onox opened #310 "Should we keep fixing bugs in master or start working in v3.6?"
@Juanvvc @gilbertohasnofb @wlbragg @dany93 @andgi @dg-505 @thevirtualfer  Do we start adding 3.8 features to master or we use it only for fixing 3.6 bugs until the release milestone?

I can create a new version-3.6 branch (v3.6 is used for the tag) if we choose the former.

[2015-06-16 22:13] onox commented on #310
There's still a [list of bugs](https://github.com/Juanvvc/c172p-detailed/milestones/FlightGear%203.6%20release) that need to be fixed, but I'm afraid that the core devs only want us to fix critical bugs.

[2015-06-16 22:20] wkitty42 commented on #310
AIUI, that's why the branch was done... keep working on features in master and any bugs in 3.6 can be worked on from there and merged back into both 3.6 and master... later when 3.8 comes along, branch 3.8 at that point and keep working on master to 3.9+...

[2015-06-16 22:21] onox commented on #310
Well, I disagree with that. They don't do it either in fgdata. They just have a feature freeze right now. They're not branching.

[2015-06-16 22:24] wkitty42 commented on #310
i know that, man... they are freezing /features/ but fixing bugs... /we/ branch because it is the easiest thing to do... a tag can also be done... if we have to go back and fix a bug (eg: sound files), then we can do that by fixing the v3.6 branch and they'll pull it into fgdata again... just keep working on features and such in master... if there's a bug found there that pertains to 3.6, fix it v

[2015-06-16 22:30] onox commented on #310
But then you have to backport fixes...

[2015-06-16 22:30] wlbragg commented on #310
That is right and that doesn't sound like any fun.

[2015-06-16 22:34] wlbragg commented on #310
But for core it is probably easiest to have the 3.6 branch and in most cases patching master with a bug fix for 3.6 shouldn't be that difficult.

[2015-06-16 22:34] onox commented on #310
Okay, I'll create a v3.6 branch then.

[2015-06-16 22:35] onox commented on #310
Here's the branch: https://github.com/Juanvvc/c172p-detailed/tree/v3.6

[2015-06-16 22:37] onox commented on #310
I'll rename the branch to version-3.6

[2015-06-16 22:37] wlbragg commented on #308
Yes, that one bugs me to. I'll see if there is a way to do that.

[2015-06-16 22:41] wkitty42 commented on #310
why would there being any backporting?

bug xxx found in version-3.6
git checkout version-3.6
git branch -b v3.6-bugxxx
fix the bug
submit a pr to merge v3.6-bugxxx with version-3.6
merge it into version -3.6
submit a pr to merge v3.6-bugxxx with master
merge it into master
remove v3.6-bugxxx

what am i missing?

[2015-06-16 22:42] onox commented on #310
Hang on a second

[2015-06-16 22:42] wkitty42 commented on #310
ok...

[2015-06-16 22:43] onox commented on #310
https://github.com/Juanvvc/c172p-detailed/tree/version-3.6

[2015-06-16 22:45] wkitty42 commented on #310
i'm curious how that's going to affect my local repo since i fetched and checked out v3.6 :laughing: i guess it should adjust to the new name properly and it'll fix my fork when i push there...

[2015-06-16 22:45] onox commented on #310
Can you do `git pull` again?

[2015-06-16 22:46] onox commented on #310
You can try to do `git branch -d v3.6` to delete the branch.

[2015-06-16 22:56] wkitty42 commented on #310
let me see what happens... [time passes] here's what i got now...
[code]
so now i guess i should delete the v3.6 branch i had pulled earlier? then i can check out version-3.6 if i want or need to...

[2015-06-16 22:56] onox commented on #310
Yes.

[2015-06-16 22:59] wkitty42 commented on #310
[code]
seems ok :smile_cat:

[2015-06-16 23:01] onox commented on #310
I've asked on the mailing list if they accept bugs from our 3.6 release milestone. If the answer is no, we can accept pull requests to version-3.6 branch from them and in the mean time we can start working on 3.8 feature freeze milestone issues, although I suggest to focus on 3.6 release issues, since that list needs to go down to 0 open issues once day :smiley:

[2015-06-16 23:02] wkitty42 commented on #309
i guess you guys missed this when i opened it... i think you were working hard on the refactoring stuff...

[2015-06-16 23:04] wkitty42 commented on #310
if they accept bug fixes? they should since they won't be features like the new craft is for them... they should accept them up to their bug fixing freeze in another month or so...

i agree on fixing the bugs we have now and know about in the version-3.6 branch... that doesn't mean that features can't be done in master, though... one just has to be certain of what branch they are in when doing the

[2015-06-16 23:06] wkitty42 commented on #310
i forgot to add that they should be submitting bugs back to us for version-3.6, too... of course, we might should let stuart know that the branch name has changed to version-3.6 instead of v3.6 and that there is a tag by that name...

[2015-06-16 23:09] onox commented on #310
You mean [these](https://github.com/Juanvvc/c172p-detailed/milestones/FlightGear%203.6%20release) bugs?

That depends on whether they accept fixes for those bugs. They might very well just only accept one or two critical fixes.

[2015-06-16 23:16] wkitty42 commented on #310
yeah, i guess all those are bugs and not features... i see some are marked as "enhancement"...

either way, my understanding is that bug fixes should be accepted by them from now until 0000 GMT 17 July when their bug fix freeze goes into effect and they cut 3.6 loose to the rest of the hungry masses... that gives us a month to get those ones taken care of or moving them to 3.7/3.8 coming up in wha

[2015-06-16 23:34] onox commented on #310
Anyway, I'm waiting for answers on the mailing list. If they only allow critical fixes, meaning we can start adding 3.8 features to master, then I'll bump the version in `c172p-set.xml` in master to 3.7

[2015-06-16 23:43] wkitty42 commented on #310
right! there ya go :)  i'm playing catch up with messages over several format, too... past time for dinner, as well... my email is next and that's going to be ~200-300 posts at least...

[2015-06-17 07:40] andgi commented on #307
Getting a water-ground or ground-water transition to work in FG is tricky.
Once you leave solid ground you are in infinitely deep water so as you approach the shore one or two of your landing gears just sink. Then you are either standing on one or both of the step contact points (if they are over solid ground) - and they have too high friction set. A similar problem occurs when going from water to

[2015-06-17 08:24] tigert commented on #303
Oil amount is usually measured in "quarts" (imperial unit pretty close to a liter), minimum 6 in that engine I think (depends on engine size, so the 180hp might have a bigger oil sump, need to verify from the handbook). If you plan for a longer cross country trip, you want to up it close to 8, since the lycoming engine does eat something like a quart in every 10 hours. For this reason you have a b

[2015-06-17 09:02] onox commented on #310
I got an answer from Stuart on the mailing list:

all look absolutely fine.  It's just a feature freeze.

"plane doesn't load" variety, so you should assume that you can't make
any fixes after that point.

So we can first fix the 3.6 release bugs until 16th of July. After that we can work on 3.8 features.

[2015-06-17 09:13] onox commented on #310
I've set the code freeze milestone (3.6 release) to a couple of days earlier, so that we can do any last merges of master (assuming that no one commits new features to master) to version-3.6 on time.

[2015-06-17 09:55] onox opened #311 "Wheels of amphibious do not rotate"
1. [x] The wheels of the amphibious gear do not rotate. Not even in singleplayer.

2. [x] Object RightWheel uses `gear/gear[1]/rollspeed-ms`, but should be using `gear/gear[2]/rollspeed-ms`

3. [x] `rollspeed-ms` is not transferred automatically, so we should do aliasing again.

We should decide how many properties we want to alias. If you want to send `rollspeed-ms` over MP for each gear, then we

[2015-06-17 10:26] gilbertohasnofb commented on #310
Guys, my brain is a bit more git-limited than most of you, so could you please explain to me in layman terms what has been decided about these branches? When I fix a bug something, should I do it on the master branch or somewhere else from now on?

[2015-06-17 10:31] onox commented on #310
1. We do **not** add 3.8 features to master

2. We fix bugs from https://github.com/Juanvvc/c172p-detailed/milestones/FlightGear%203.6%20release in master

3. Once in a while can merge master to version-3.6.

[2015-06-17 10:33] gilbertohasnofb commented on #310
Perfectly clear! Thanks onox :smile:

[2015-06-17 10:34] onox commented on #310
Btw, ehofman has created a new stall sound: http://www.adalin.com/ehtw.info/html/images/sawtooth.wav that can be licensed GPLv2.

I don't like it as much as our stall sound. If you don't really like it either, we just add it to version-3.6 so that our master branch contains the better looking stall sound.

[2015-06-17 10:38] gilbertohasnofb commented on #310
I don't like it at all. Really, a stall sound is not a simple saw tooth but a much richer sound with fluctuations.

I will try to find some compatible sounds for our plane then... I think we need to rework the stall, the trim wheel and the parking brake lever, correct?

[2015-06-17 10:39] onox commented on #310
@gilbertohasnofb For the version-3.6 branch the file needs to be GPLv2.

[2015-06-17 10:40] gilbertohasnofb commented on #310
Or CC0 as well, right? Meaning copyright free.

[2015-06-17 10:41] onox commented on #310
This is what ehofman wrote on the mailing list:

[2015-06-17 10:44] onox commented on #310
So, CC0 is not allowed either. ehofman says public domain and CC-BY 3.0 are allowed, but stuart and ludovic say no.

[2015-06-17 10:46] gilbertohasnofb commented on #310
Are you sure???

"CC0 is the "no copyright reserved" option in the Creative Commons toolkit - it effectively means relinquishing all copyright and similar rights that you hold in a work and dedicating those rights to the public domain." from https://wiki.creativecommons.org/wiki/CC0

Oh dear...

[2015-06-17 10:48] onox commented on #310
Yep, that's their policy, everything has to be GPLv2, even data files for which GPLv2 makes no sense. I have wished them good luck finding artists who license their works under the GPL.

[2015-06-17 10:53] gilbertohasnofb commented on #310
Oh, so this is messy. Every single public domain sound we used so far is marked as CC0. Actually, this is how the license is defined:

You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission. See Other Information below.

https://creativecommons.org/publicdomain/zero/1.0/

That's as public domain as it gets, and it says nothing about shari

[2015-06-17 10:54] gilbertohasnofb commented on #310
Oh boy, I might have to recheck the textures as well.........

[2015-06-17 10:54] gilbertohasnofb commented on #310
:weary: :sob:

[2015-06-17 10:58] Juanvvc commented on #310
I think you missed the other part of ehofman message: the pitch of the stall sound must depend on the angle of attack :) The current Sounds/stall2.wav is looped and does not depend on the angle of attack. It sounds "right", but it is not.

I believe ehofman proposal, in addition to have a not questionable license, is more flexible and allow us to play with the <pitch> effect to make it more realis

[2015-06-17 11:06] gilbertohasnofb commented on #310
No, I didn't miss that. I just think that's a crude approximation; I can easily imagine how this will sound with its pitch changing with the angle of attack, but to me it will still sound very poor. It will be a better model of how a stall horn works in RL but it will sound worse, and therefore be a worse effect in my opinion. For instance, a stall horn is not a constant sound but it comes and goe

[2015-06-17 11:09] onox commented on #310
I have to go now, but whatever your plan is, make changes related to licensing in the version-3.6 branch, not in the master branch.

[2015-06-17 11:14] gilbertohasnofb commented on #310
@onox okay, we speak later then. But I am really in need of advice on what to do with those sounds of ours (and maybe some textures as well). All of the sounds are most certainly CC0 and if we really won't use any CC0, then the solution is to delete them all and then either to synthesize the sounds ourselves (usually tricky and rarely sounds good) or record it ourselves (we need someone with a goo

[2015-06-17 11:17] Juanvvc commented on #310
In real life there are fluctuations because you lower the angle of attack. In the current version of the sound, we have fluctuations even if you maintain constantly a too high angle of attack and you are stalling

These fluctuations are not only wrong on a real C172, they were also one of the reported failures that caused the AF447 accident in 2009.

[2015-06-17 11:19] gilbertohasnofb commented on #310
I know that, but my point is much simpler: what sounds better, a recorded sample that may sound unrealistic in some situation but sounds good or a clearly computer generated sound that has some realistic behaviour. I prefer the recorded sample, that's all. But as always, it's up to you guys to decide which way to go.

[2015-06-17 11:21] Juanvvc commented on #310
I can admit wrong sounds in other parts of the aircraft, but the stall horn is a system critical enough to be completely realistic in a flight simulator.

In addition, I really think the sound proposed by Erik can be realistic once implemented the <pith> and <volume> effects. We can find these effects in use in the propeller, for example.

[2015-06-17 11:24] gilbertohasnofb commented on #310
I still have my doubts about how the final result will be, but all right.

[2015-06-17 13:53] dany93 commented on #117
Are you certain? I have seen stall warning sensors which were merely a metallic blade at the edge of attack, which flips upwards when the AoA is high. If this is true, it must be easy to flip it on the ground by hand. It can even be a checking.

![stall-warn1](https://cloud.githubusercontent.com/assets/11994061/8208504/4317dc60-1508-11e5-881d-c4de84c98af0.png)
![stall-warn2](https://cloud.githubus

[2015-06-17 13:55] gilbertohasnofb commented on #117
But I bet this won't sound the same as it would in a stall situation, although I may be wrong here.

Anyway, there is a huge discussion going on in the forum thread about the stall sound.

[2015-06-17 14:11] dany93 commented on #117
Why? I think this is a 0 or 1 device.

Yes, I've seen on the forum.
I'm not convinced that it is modulated vs AoA, velocity,... At least for most of them.

[2015-06-17 14:16] gilbertohasnofb commented on #117
I think that's a simplistic view of a stall horn. What you are saying is that given a constant fingering (i.e. a single note), blowing on an oboe will produce a 0 or 1 sound. In reality, all these sounds are much more complex, depending on the air flow -- which takes some time to enter a non chaotic state. Wind instruments are notorious to have a very important type of spectrum during the initial

[2015-06-17 14:34] dany93 commented on #117
What I think (but I would prefer the opinion of a c172 pilot) is that it has nothing to do with a wind instrument. It is a simple blade with a spring, which is normally down, and up just before the stall AoA. An **electrical switch**.

[2015-06-17 14:50] gilbertohasnofb commented on #117
Dany, AFAIK the stall horn in the 172 is a mechanical device and what produces the sound is a reed, which is the same principle behind some musical instruments such as an oboe or a basson. See: http://www.baltimorerecorders.org/seminstpics/crumhorn6j.jpg

The only "artificial" sounds I can think of in a 172 are the alert beeps from AP and the runway markers. Everything else cannot be called artifi

[2015-06-17 14:59] Juanvvc commented on #117
dany93, gilberto is right. The horn on the c172 is mechanical. During the exterior check, you literally blow (well, not "blowing" but "aspiring") through a hole in the wing to check it the horn works. It is exactly the same than a musical instrument.

Please, check this link for a description of the different systems for stall detection. The one mounted on Cessna is just mechanical, a hole in the

[2015-06-17 15:08] dany93 commented on #117
You are right, it is more complicated than I thought.

The airplane is equipped with a pneumatic type stall warning  system consisting of an inlet in the leading edge of the left wing, an air-operated horn near the upper left corner of the windshield, and
associated plumbing. As the airplane approaches a stall, the low pressure on the upper surface of the wings moves forward around the leading edg

[2015-06-17 15:10] gilbertohasnofb commented on #117
I don't understand what you mean by that, Juan!

[2015-06-17 15:19] wkitty42 commented on #117
@gilbertohasnofb i think he's talking about the sound of the note... like on a piano... going upscale in the same octave from C to D... not downscale in the octave from C to B or jumping from C in one octave to B in the next higher octave...

[2015-06-17 15:21] gilbertohasnofb commented on #117
@wkitty42 Thanks! :laughing: I thought it was about going from A to B to C as in a route :) Okay, so he means it goes up with angle of attack instead of going down, and that the range is fairly limited (like a minor or major second).

[2015-06-17 15:22] wkitty42 commented on #117
@gilbertohasnofb yes, i think that's right... i just listened to one on ewwtube... let me see if i can find it again...

[2015-06-17 15:24] wkitty42 commented on #117
here it is... 20 second video from Sporty's Pilot Shop... "Side View of a Wing Stall, Cessna 172" https://www.youtube.com/watch?v=CbtG8KHeMak

[2015-06-17 15:32] gilbertohasnofb commented on #117
That's funny :smile:

The funny thing is it behaves as a musical scale, that is, with steps. It's not exactly proportional to the AoA, but actually certain ranges of AoA have an almost constant sound. Do you hear this as well?

[2015-06-17 15:45] wkitty42 commented on #117
yeah... it is kinda like someone said on the forums (i think)... like one of those kids party blower things with the paper that rolls out... i think it sounds more like a kazoo when it is starting up...

in the discussion, that's also where they were talking about tying the pitch into the AoA but i think it is slightly more than just that to make the necessary sounds... there's also the air flow w

[2015-06-17 15:48] Juanvvc commented on #117
Sorry. I meant the sound goes up about a half/full note and not a full scale :)

[2015-06-17 15:52] gilbertohasnofb commented on #117
That is exactly my point. And now we are almost in need to develop a full Stall Horn Simulator 2015 in order to implement all this. But jokes aside, a possible proposal is to create ranges, such as:

angle of attack between a and b degrees: sound frequency 1
angle of attack between b and c degrees: sound frequency 2
angle of attack between c and d degrees: sound frequency 3
etc.

[2015-06-17 15:55] onox commented on #117
:+1: for SHS 2015 :laughing:

[2015-06-17 15:56] gilbertohasnofb commented on #117
And then someone will probably re-release it as Stall Horn Pro Simulator and charge 50 bucks for it! :smile:

[2015-06-17 15:59] onox commented on #310
We can control the pitch with a property based on AoA. Does it depend on other factors as well?

[2015-06-17 16:01] wkitty42 commented on #117
hahaha... that's funny... but hey, it is allowed... they have to support it... but yeah, i get the same weird feeling about a lot of my work... i can't make any $$$ with it so i guve it away and someone else comes along and sells it without sharing in the spoils...

[2015-06-17 16:03] gilbertohasnofb commented on #310
That's the thing, I don't think that associating the pitch to AoA is a good enough model. In all videos I watched there is some correlation between AoA and pitch, but it's not a strict one: other things such as speed, air flow, probably wind as well, the direction in which the wind enters the reed, etc. will contribute something (how much I don't know).

[2015-06-17 16:04] gilbertohasnofb commented on #310
Maybe an easier solution is to create petition to Cessna to force a general recall and install electric stall horns on all 172 P models without exception. That would be great for us!

[2015-06-17 16:05] gilbertohasnofb commented on #117
Yeah, I know...

[2015-06-17 16:36] wkitty42 commented on #117
so, with all this discussion about the stall horn, i haven't seen anyone mention that it works based on low pressure across the leading edge of the wing... i guess this is where the modeling comes in... from what i've read on the forums, it seems that JSBSim should be able to calculate this low pressure area and the value of the low pressure...

in the research i've been studying, the low pressure

[2015-06-17 16:39] onox commented on #310
@gilbertohasnofb Those sounds you have added are CC-BY 3.0.

[2015-06-17 16:40] gilbertohasnofb commented on #310
Sure, but all others are CC0.

[2015-06-17 16:42] gilbertohasnofb commented on #117
I think you are correct.

[2015-06-17 16:50] onox commented on #310
OK.

[2015-06-17 16:52] gilbertohasnofb commented on #310
And I am afraid so are some textures used in this plane... Please see my post on the forum thread when you have a chance, I am very much in need of guidance right now regarding this things...

[2015-06-17 17:04] onox commented on #310
I have sent an email to Curt Olsen (founder of FlightGear) to ask about this whole situation.

[2015-06-17 17:13] gilbertohasnofb commented on #310
Okay, thanks for that. I am of course very stressed about it as this will probably affect my contributions more than anything else in this project. Let me know about it then.

[2015-06-17 17:25] dany93 commented on #117
wkitty42 wrote

Not at my knowledge. Where have you seen that?

I rather think you will have to use the AoA. It is the best indicator, admitted by everyone. By making it non-linear if you prefer, you do all that you want.

Anyway, at best imagine you have the pressure, you have to apply a law to transform it into a note. And you ignore the physical law.
The pitch and volume of the note are connect

[2015-06-17 17:46] wkitty42 commented on #117
@dany93 since it is a simulator, it should be able to calculate these items or maybe the resulting forces of them... my statement is based on "A different perspective on JSBSim" http://forum.flightgear.org/viewtopic.php?f=49&t=26442

[2015-06-17 17:51] wkitty42 commented on #117
the idea is to find the pressures at the two points on the wing related to the stall horn... point A at the front (where you suck on the stall horn to test it) where the air exits the stall horn and point B where the high pressure enters the stall horn's air scoop to be directed through the reed or valve assembly...

the idea is if we know the pressures at these two points, we can then calculate (

[2015-06-17 18:09] wkitty42 commented on #117
this section from the JSBSim reference manual looks extremely interesting... if we can get qbar(??) from the front edge of the wing and from the bottom of the wing where the pressure is higher when in a stall, this might work out... that is, if it does what i think it can do...
[code]

[2015-06-17 20:10] thevirtualfer commented on #11
Oh, guys !

The "base" i was thinking, is the central column inside cockpit.

2015-06-16 8:05 GMT-03:00 onox <notifications@github.com>:

[2015-06-17 20:12] thevirtualfer commented on #11
To me, it is very low.

And i just write it to not forget to ask.

Still with network problems here. The SKY says that jun/20 it will be ok,
again.

Cheeers, to all of you.

2015-06-17 17:10 GMT-03:00 Fer Virtual <thevirtualfer@gmail.com>:

[2015-06-17 20:15] thevirtualfer commented on #9
It is a 3D modeller's nomenclature.

Is related how the faces connects one to other, making loops.

2015-06-16 8:05 GMT-03:00 onox <notifications@github.com>:

[2015-06-17 21:16] andgi commented on #307
Even with a ramp it is not so easy to get out of the water...
http://www.gidenstam.org/users/anders/FlightGear/screenshots/fgfs-c172p-321.jpg

Apparently (but not surprisingly) the ground intersection code seems to stop with the first hit (solid or not) and doesn't look further - so it doesn't appear to see the solid ramp under the water surface.

[2015-06-17 21:50] wkitty42 commented on #307
sounds like a feature for FGFS 3.8 :wink: :wink:
it may open the doors for more floatplanes in FGFS and even offer more opportunities for vehicles/craft (eg: a car or truck pulling a boat and backing it into the water on a boating ramp) :smile_cat:

[2015-06-18 00:12] gilbertohasnofb commented on #85
@onox @Juanvvc @dany93 @wkitty42 Let's continue that discussion about the stall sound here, as it's by far the most appropriate place. So in the end I believe we decide to go with the synthesized sound route, correct? In forum, Erik has posted several versions of his sounds and then I also posted a synthesized version of mine as well. My sound is based on spectrum analysis of our previous sound (I

[2015-06-18 00:43] gilbertohasnofb commented on #85
(as a reference, listen to this stall horn at 0:35 of this video. This is the sound I analysed for that synthesis: https://www.youtube.com/watch?v=zTq8Jvoks2U )

[2015-06-18 01:47] wlbragg commented on #311
OK, I'll take a look at it.
Don't know how we (I) overlooked that in single player.

[2015-06-18 02:32] wlbragg commented on #302
This should be fixed so I am closing it.

[2015-06-18 02:32] #302 closed

[2015-06-18 02:45] wlbragg commented on #311
Well, this is not a simple fix. The wheels on amphibious were never designed do rotate, the trailing arm, axle and wheel assembly appear to be one solid piece. So I will see if I can correct this in blender, it may be over my pay grade!

[2015-06-18 05:00] wlbragg commented on #311
OK, I managed to fix the front wheels. I imported the front wheel and axle off of the default landing gear, sized them, duplicated and positioned them. The spin around the axis is really close but not perfect, I don't know how to get the exact numbers?

Next the back.

[2015-06-18 08:03] onox commented on #311
Use Blender to get the coordinates? :smile:

[2015-06-18 08:13] onox commented on #85
@gilbertohasnofb Yours sound a little bit better, but both sound artificial. If we decide to use this, then we need to make sure we can accurately adjust the volume and pitch during a stall, so that it will sound like a screaming kitty :crying_cat_face: just like in those YouTube video's.

[2015-06-18 08:13] onox commented on #85
Please create a branch bug-85 and a PR in that case.

[2015-06-18 08:16] gilbertohasnofb commented on #85
I agree completely, but that's the route that was decided. So now it's up to the magicians/programmers among us to implement this in a realistic way. I can of course cater to what is needed (e.g., I can create other variations of the stall sound, or a version that is cracking instead of constant, etc.).

Okay, I can do that, but from my part this will be only an upload of a wav file, nothing more.

[2015-06-18 08:20] onox commented on #117
Please continue in #85

[2015-06-18 08:21] onox commented on #85
That's ok. As long as it's in a separate branch.

[2015-06-18 08:35] gilbertohasnofb commented on #85
Okay, I will do that! Could you please tell me how to create a branch on my local repository?

[2015-06-18 08:44] onox commented on #85
1. Check you're in master: `git branch`

2. `git pull`

3. `git branch -b bug-85`

4. Add the .wav file

[2015-06-18 08:45] onox commented on #85
The third should use "checkout", not "branch". I've modified my comment.

[2015-06-18 08:49] gilbertohasnofb commented on #85
Okay, I did that all, then added, committed and pushed it, but I can't see the branch `bug-85` on our repository using the GitHub webpage.

And by the way, the option `-b` on `git checkout` means what? Does it create a new branch in case it doesn't exist?

[2015-06-18 08:52] onox commented on #85
-b means you create the branch and then do a checkout. `git pull` gives me nothing. Can you do `git branch` and tell me what you see?

[2015-06-18 08:53] gilbertohasnofb commented on #85
I see:

	andgi-add-water-sounds
		bug-238
		bug-80
	* bug-85
		master

I was reading that I may need to push using `git push -A -u` instead of `git push -A`. Does that make sense to you?

[2015-06-18 08:54] onox commented on #85
You need to do: `git push -u origin bug-85`

[2015-06-18 08:54] gilbertohasnofb commented on #85
Done.

[2015-06-18 08:55] onox commented on #85
Ok, now I get it:

[code]

[2015-06-18 09:52] andgi commented on #307
If you want to try the slipway/ramp in the picture above, it will appear in terrasync scenery shortly (I think ~noon UTC).
To start on the slipway use --lat=57.70266 --lon=11.78678 --heading=135. The closest airport is ESGP but the slipway is hard to spot from the air.

[2015-06-18 10:17] dany93 commented on #85
@wkitty42 has written https://github.com/Juanvvc/c172p-detailed/issues/117#issuecomment-112890435

In JSBSim, qbar-psf is the dynamic pressure ```1/2*ro*V^2```. General value, not the detailed values at different locations. I think that these detailed value are not available (I do not know everything from JSBSim, if you find them, please tell me).

Even assuming that you have these differences,

H

[2015-06-18 11:37] onox commented on #85
@dany93 Let us say we have a function `f(AoA) = (volume, pitch)`. We'll define how this function works precisely later. First question is: do we need to add more input variables to this function `f`?

[2015-06-18 12:05] dany93 commented on #85
Not easy to answer because (as I wrote above) we do not know which parameters have an effect on volume and pitch. The velocity may have an effect on the pressure difference. A stall can happen in straight and levelled flight conditions (that is around 45 KIAS) or dynamically, during a steep turn with high roll angle (higher velocity). Also at high g due to a strong pitch up. I completely ignore th

[2015-06-18 12:20] onox commented on #85
Currently the volume is controlled by `/sim/alarms/stall-warning` which is controlled in `src/FDM/JSBSim/models/FGAerodynamics.cpp` as follows:

[code]

[2015-06-18 12:25] dany93 commented on #85
That is: volume proportional to AoA only, with a threshold at Alpha/alphaclmax = 0.85.
*(true ?)*

[2015-06-18 12:25] onox commented on #85
So I think we could definitely write our own function that increases pitch when the AoA is in certain regions.

[2015-06-18 12:27] onox commented on #85
What do you mean with volume?

[2015-06-18 12:29] dany93 commented on #85
If you want to include pitch, yes. "How to" remains to be seen.

The volume is the intensity of the sound, the power. Like the volume knob on an amplificator.
The pitch is the frequency, the note itself (A, B, ... G)

[2015-06-18 12:30] onox commented on #85
I know.

[2015-06-18 12:30] onox commented on #85
I think @wkitty42 posted some video somewhere that showed the different musical notes of the stall horn?

[2015-06-18 12:32] onox commented on #85
@gilbertohasnofb Shall I update bug-85 to use a property which controls the pitch? You can then set this property to certain number (0.9, 1.0, 1.1, etc.) and give us a list of reasonable number.

[2015-06-18 12:35] dany93 commented on #85
At least gsagostinho  on the forum http://forum.flightgear.org/viewtopic.php?f=4&t=25157&start=1995#p247508

[2015-06-18 12:38] onox commented on #85
That's not the video I mean. It was a youtube link posted by @wkitty42

[2015-06-18 12:40] onox commented on #85
This is the post I'm talking about: https://github.com/Juanvvc/c172p-detailed/issues/117#issuecomment-112844657 :smile

[2015-06-18 12:44] onox commented on #85
Can someone compute the angles where the pitch changes from that video?

[2015-06-18 13:40] onox commented on #311
@wlbragg In master the front gear are now visible with the regular pontoons.

@gilbertohasnofb @wlbragg I can save the 2 commits above v3.6, reset and force push if that's ok with you.

[2015-06-18 13:44] gilbertohasnofb commented on #85
Hi guys, Erik uploaded another version of his stall sound on this address http://www.adalin.com/ehtw.info/html/images/stall.wav . I personally still feel my version is a bit better, it sounds a bit rougher and gritier and more annoying (as it's supposed to be IMO). I also think that spectral analysis and resynthesis is the way to go instead of trying to approximate the sound via saw tooth generato

[2015-06-18 13:45] onox commented on #85
@gilbertohasnofb I think yours sounds better.

[2015-06-18 13:46] onox commented on #85
Can I chop off that commit from @wlbragg in master? It gives the regular pontoons front gear :confused:

[2015-06-18 13:55] gilbertohasnofb opened #313 "Create two bars across the cabin for the pontoon and amphibian variants"
Create two bars across the cabin for the pontoon and amphibian variants, such as seen in these images:

http://islandaero.com/images/70-172dbp.jpg

http://www.parkrapidsaviation.com/userfiles/image/IMG_4538%281%29.JPG

Possibly related to #206

[2015-06-18 14:20] gilbertohasnofb commented on #85
@onox @dany93 Erik posted a code snippet of how this could be implemented in our forum thread. Could you please have a look on it?

[2015-06-18 15:04] onox commented on #85
I have force pushed master and bug-85.

[2015-06-18 15:05] onox commented on #311
@wlbragg I have pushed a new branch bug-311 with both of your two commits. You can ditch the old amphibious-rear-wheel-animation-311 branch.

[2015-06-18 15:07] onox commented on #85
@gilbertohasnofb I'll take a look at the code snippet.

[2015-06-18 15:15] gilbertohasnofb commented on #85
@onox thanks!

[2015-06-18 15:23] onox commented on #85
Can you still take a look at the video in https://github.com/Juanvvc/c172p-detailed/issues/117#issuecomment-112844657 and try to estimate the difference in angles?

[2015-06-18 15:25] gilbertohasnofb commented on #85
Yes I can do that but only a bit later, right now I have to leave. I will try to do it by tonight, okay?

[2015-06-18 15:26] onox commented on #85
Ok.

[2015-06-18 16:03] dany93 commented on #85
I'd say an angle difference of about 8 to 10 deg between the beginning and the end.

[2015-06-18 16:11] onox commented on #85
But currently the horn starts at 13.63 and ends at 16.04.

[2015-06-18 16:15] tigert commented on #313
Not the perfect view but visible from different angle still: http://tigert.1g.fi/kuvat/MIK/2006-07-30-parnu/_DSC2644.jpg

[2015-06-18 16:16] tigert commented on #313
Looks like there is a flat metal bracket that the bolts attach to and which is bolted to the glare area of the fuselage?

 |__\\//__|

[2015-06-18 16:28] dany93 commented on #85
I find that it does not end. I had it up to high values.
More than 20 - 22 deg at idle, 30 - 40 deg by climbing and cutting the throttle.
It has no reason to end.

[2015-06-18 16:32] onox commented on #85
Yeah, sorry, you're right about that.

[2015-06-18 16:35] onox commented on #85
`/sim/alarms/stall-warning` is 0.0 at 85 % of the alphalimit and 1.5 at 100 %.

[2015-06-18 16:39] onox commented on #85
I'm writing two `<fcs_functions>`'s to control volume and pitch because I'm not too happy with the snippet posted by Erik.

[2015-06-18 16:40] dany93 commented on #85
For the code snippet, http://forum.flightgear.org/viewtopic.php?f=4&t=25157&start=2010#p247690
how do you understand it?
I read ```0.745 * log(alpha)```
Which would be a nonsense (alpha can take the value 0)
And where is the threshold?

[2015-06-18 16:43] onox commented on #85
This is what I have currently:

[code]

[2015-06-18 16:44] onox commented on #85
Using a pitch between 0.9 and 1.1.

[2015-06-18 16:52] dany93 commented on #85
What is wrong with the original code https://github.com/Juanvvc/c172p-detailed/issues/85#issuecomment-113135864?

[2015-06-18 16:56] onox commented on #85
The volume is linear.

[2015-06-18 16:59] dany93 commented on #85
And something like
```if alpha > alpha-theshold```
```log(k * alpha/alpha-threshold)```
?

[2015-06-18 17:01] onox commented on #85
I'm trying this right: log((aero/alpha-deg - 13.63 + 0.5) * 2.0) for the volume.

[2015-06-18 17:04] onox commented on #85
@dany93 I'll push a commit for you to test in a minute.

[2015-06-18 17:08] onox commented on #85
Ok. See branch bug-85.

[2015-06-18 17:17] onox commented on #85
@dany93 Note that currently the pitch is shifted linearly between 0.9 and 1.1. But in the video from https://github.com/Juanvvc/c172p-detailed/issues/117#issuecomment-112844657 there's a sudden increase in pitch, so we should use a `<table>` with `<tableData>`.

[2015-06-18 17:22] dany93 commented on #85
I have no sound. Is it normal?
I can only look at ```/sim/alarms/stall-warning = ```

[2015-06-18 17:25] onox commented on #85
Did you get branch bug-85?

[2015-06-18 17:27] dany93 commented on #85
I did  git fetch upstream
then git checkout bug-85

[2015-06-18 17:29] onox commented on #85
I have a fix.

[2015-06-18 17:33] dany93 commented on #85
What should I do to refresh my download?

[2015-06-18 17:35] gilbertohasnofb commented on #85
@onox do you still need the angles from that video or the information @dany93 gave you is already enough? Let me know because I am back home now.

[2015-06-18 17:36] onox commented on #85
@dany93 `git pull upstream bug-85`?

[2015-06-18 17:36] onox commented on #85
@gilbertohasnofb That would be nice.

[2015-06-18 17:38] gilbertohasnofb commented on #85
Okay, will do that!

[2015-06-18 17:42] dany93 commented on #85
@onox It seems good.
But I'm not a reference, I have never heard a stall warning apart from in FG....

[2015-06-18 17:42] gilbertohasnofb commented on #313
@tigert Very nice, thanks for the additional information!

According to your picture, it looks like we will need to raise our compass as well as the two bars connect below it. To be honest, I always thought our compass should have some sort of mount below it.

Also, I suggest we only implement this after solving #6 and #118 as they may influence the position of the panel.

Finally, once this work

[2015-06-18 17:48] onox commented on #85
I have another commit that uses `<tableData>`.

[2015-06-18 17:52] onox commented on #85
@gilbertohasnofb When you watch this video at 0:12 https://www.youtube.com/watch?feature=player_detailpage&v=CbtG8KHeMak#t=12 you'll hear the horn is growling a bit. Can you create such a second to a separate .wav file?

[2015-06-18 17:53] onox commented on #85
And please pull latest bug-85, then you'll the see in the latest commit the `<tableData>` I'm using.

[2015-06-18 17:53] gilbertohasnofb commented on #85
I will try!

[2015-06-18 17:54] onox commented on #85
Hopefully that second sound can help the stall horn sound more organic, and less electronic.

[2015-06-18 17:56] onox commented on #313
http://tigert.1g.fi/kuvat/MIK/2006-07-30-parnu/_DSC2651.jpg :open_mouth:

~~We~~ @thevirtualfer can add still much more detail to the model :smile:

[2015-06-18 17:58] gilbertohasnofb commented on #313
@onox I don't understand the connection between the topic and the picture you posted

[2015-06-18 17:59] onox commented on #313
There's no connection :stuck_out_tongue_winking_eye:

[2015-06-18 17:59] gilbertohasnofb commented on #313
Oh :smile:

[2015-06-18 17:59] onox commented on #313
Here's another picture of the two bars: http://tigert.1g.fi/kuvat/MIK/2006-07-30-parnu/_DSC2673.jpg

[2015-06-18 18:07] onox commented on #85
@tigert Is the location of the stall horn near the wind shield to the left of the pilot? I thought I read something like that lately here.

[2015-06-18 18:21] gilbertohasnofb commented on #313
Very nice! Now we can see better how the compass look like and how it's mounted in the cockpit!

[2015-06-18 18:22] onox opened #314 "Add glass reflection visible from external view"
Duplicate the glass and give it a very small distance from the interior glass, so that there is no z-fighting. Add an effect based on `Effects/model-combined-transparent`.

Tune the parameters to get something like: http://tigert.1g.fi/kuvat/MIK/2006-07-30-parnu/_DSC2655.jpg

[2015-06-18 18:23] gilbertohasnofb commented on #85
@onox have a look on the discussion about how the horn works in #117; the consensus is that it's a mechanical device on the wing, so the sound should come from the left

[2015-06-18 18:29] onox commented on #85
I'll update the position of the stall horn.

[2015-06-18 18:34] gilbertohasnofb commented on #314
Is this possibly related to #13 or not at all?

[2015-06-18 18:42] onox commented on #314
This is about the large windshield and the glass in the doors. I just noticed there is already a "glas" object. ("glas_interior" and "glas_interior_sides" are for the interior).

[2015-06-18 19:07] gilbertohasnofb commented on #85
I measured the angles in that video at three different positions when the sound pitch changes:

0:00 seconds - pitch 1 - 19.31 degrees
0:05 seconds - pitch 2 - 23.86 degrees
0:08 seconds - pitch 3 - 27.93 degrees

And now I will start working on that new sound you asked, onox.

[2015-06-18 19:12] onox commented on #314
@wlbragg It seems object "glas", "leftwindow", and "rightwindow" have a `Effects/interior/c172p-interior-glass-shadow` effect applied to them. What does this do? If I remove that effect and try to apply `Effects/glass` to them, I'm not getting any good reflection at all. Are the normals pointing outward?

[2015-06-18 19:17] onox commented on #85
Hmm... not sure that we can handle a difference of about 8 degrees because of the stall near the alpha limit. This is what I currently have:

[code]

[2015-06-18 22:38] gilbertohasnofb commented on #85
@onox about the new sound, I didn't have the time to deal with it today, I'm so sorry. I hope I will have it by tomorrow, okay?

[2015-06-18 22:42] wkitty42 commented on #307
i will try to take a look at this... i'm currently scrambling to get today's tasks all done in a few hours... we lost our modem this morning ~0500 and weren't able to get a replacement and get back online until ~1500...

[2015-06-18 22:47] wkitty42 commented on #313
FWIW: i've seen these support braces in some craft's pics and not in others... i haven't paid attention if they are only floatplanes where i've seen them, though...

@gilbertohasnofb on the compass position, take a close look at ours and theirs... ours is mounted to the front of the glare panel whereas theirs is mounted back closer to the windshield... with the braces in place, and their compass b

[2015-06-18 22:52] gilbertohasnofb commented on #206
Please have a look at http://forum.flightgear.org/viewtopic.php?f=4&t=25157&p=247740#p247740

[2015-06-18 22:53] gilbertohasnofb commented on #313
So are there any 172 with compasses like ours, directly on the panel and without a mount? I thought that our compass was actually badly designed, but if that's a realistic option then by no means let's no touch it! I am just not sure about it.

[2015-06-18 23:09] wkitty42 commented on #85
@dany93

this was in response to my thoughts about having the air pressure values from two points on the wing... the idea is (was?) that one of those points would be the low pressure ""trigger"" area of the stall horn (ie: the leading wing edge where you suck to test the horn)... the other point would be the high pressure area of the stall horn.. that's the area where the air enters the horn assem

[2015-06-18 23:13] wkitty42 commented on #313
TBH: i don't know... will have to try to find more interior pics... you guys have posted numerous ones during the panel reconstructions but i don't know where they are or how you found them...

[2015-06-18 23:19] gilbertohasnofb commented on #313
Most of them came from tigert's websit: http://tigert.1g.fi/kuvat/Simulators/Flightgear/C172-dimensions/

Others were found by googling or at airliners.net. I have tons of cockpit pictures saved on my computer (from those sources mentioned) and absolutely all of them share a same model of compass which in turn is different then ours. Ours is a simple rectangle while theirs is rounded, has a mount,

[2015-06-18 23:25] gilbertohasnofb commented on #313
Forget about what I just wrote, I found a single counterexample to what I posted. Here is a compass which is identical to ours: https://s-media-cache-ak0.pinimg.com/736x/fb/4b/40/fb4b409d723a1529a1dbd947851077dd.jpg

So even though they seem to be much rarer than the one in tigert's images, they do exist and I think we shouldn't necessarily change it.

[2015-06-19 02:28] wkitty42 commented on #313
while we're talking about the compass, can anyone tell me (or any of us) why it is ""clickable""?? i mean, it shows up with the CTRL-C hilites but i don't know why it should or how i should be able to adjust it... isn't it just a simple magnetic compass made of a dome in a oil bath housing similar to a flat hand-held compass you might by to go camping and hiking with? i've never seen or known of a

[2015-06-19 02:44] gilbertohasnofb commented on #313
I don't know, it doesn't make sense to me either as the compass is not clickable. Now why are all the screws clickable and they open the checklist, please? That makes no sense to me at all...

[2015-06-19 03:44] wkitty42 commented on #313
i saw all those screws come in doing that, too... it was already done by the time i got the fork and other stuff done... i was following developments from the beginning but it was several weeks before i forked and started participating more actively...

[2015-06-19 03:50] wlbragg commented on #311
Thank you for reorganizing the branches, I'll try to pay more attention to organization before diving in.

OK, I see I missed factoring out the new "front" wheel objects in the pontoon condition, other than that, on that commit what else was wrong that you didn't want to leave it? Was it because you think we should use this locked-track animation instead? Is that used anywhere else in the c172p?
I

[2015-06-19 05:58] onox commented on #311
This locked-track animation is supposedly used to easily get a scissor animation (the upper part, strut, + lower part, damper).

What I do to read coordinates is: you click on an object in the tree, then expand that object in the tree (click the + symbol or something) so that the tree will show you another object as a child of the previous object. Click that object and then press shift+s. Blender

[2015-06-19 06:11] onox commented on #85
@wkitty42 The only information that JSBSim has is the current alpha and the alpha limit. See https://github.com/Juanvvc/c172p-detailed/issues/85#issuecomment-113135864

I've changed the computation of the volume to be less linear. You try it yourself by doing `git checkout bug-85`.

[2015-06-19 08:04] onox commented on #313
@gilbertohasnofb Yeah, almost all screws are clickable. I think just one screw is sufficient (so you can open the checklists without having to look down). Clickable compass makes no sense either.

[2015-06-19 08:05] onox commented on #313
Can we make a new issue for this?

[2015-06-19 12:35] gilbertohasnofb commented on #313
Really? That is really cryptic and will look like a bug. Come on, we can open the checklist via the menu, via a keyboard shortcut and also by looking down and clicking on it, do we really need still another way? Also, using checklist is about NOT being lazy, so looking down to grab it is hardly a problem, is it? :smile:

I will do that. Just let's first decide if we are leaving one clickable screw

[2015-06-19 12:42] wkitty42 commented on #313
personally speaking, i don't know when they appeared or why whoever did them did them... i was surprised the first time i hit CTRL-C and then saw everything light up with all the screws being clickable... then i saw the tool tip... some time later i finally saw the side pocket on the door which is/was a nice addition... i've always used the menu but i've only been doing FGFS for 5 or 6 months... i

[2015-06-19 13:18] gilbertohasnofb commented on #238
Great news, I contacted the authors of the two CC-BY sound files we were using and they authorized the FlightGear project to include them as CC0 (public domain). I updated the Thanks file to reflect this (so now this Thanks file is not a license requirement but only a polite way of thanking who deserves credit and no license conflict will ever be inflicted). Now I have to solve only one issue with

[2015-06-19 13:24] gilbertohasnofb commented on #310
@onox my last pull gave me some strange messages:

	remote: Counting objects: 230, done.
	remote: Compressing objects: 100% (89/89), done.
	remote: Total 230 (delta 130), reused 78 (delta 78), pack-reused 63
	Receiving objects: 100% (230/230), 2.51 MiB | 30.00 KiB/s, done.
	Resolving deltas: 100% (144/144), completed with 25 local objects.
	From https://github.com/Juanvvc/c172p-detailed
	 * [new b

[2015-06-19 13:35] onox commented on #310
@gilbertohasnofb Please do this: `git log` and paste the last 3 commits.

[2015-06-19 13:35] onox commented on #310
Also do: `git branch` and tell me in which branch you are.

[2015-06-19 13:37] gilbertohasnofb commented on #310
I am on master and this is what `git log` gives me:

	commit 8b11cea64fb1dc296f2e399c1be0e29cff7f97dc
	Author: wlbragg <wlbragg@cox.net>
	Date:   Wed Jun 17 23:46:41 2015 -0500

		  Separate amphibious front wheel assembly, animate spin, change upside down p

	commit e0a32e62d9390f796feac6f5e1818323f970bbf5
	Author: onox <denkpadje@gmail.com>
	Date:   Tue Jun 16 23:38:40 2015 +0200

		  Version 3.

[2015-06-19 13:38] onox commented on #310
If your `git status` is clean, do this:

1. `git reset --hard e0a32e62d9390f796feac6f5e1818323f970bbf5`

2. `git pull`

[2015-06-19 13:40] gilbertohasnofb commented on #310
Yeah, it's clean. The reset and pull now worked, thanks onox!

[2015-06-19 13:40] onox commented on #310
What happened was I had to do a force push to get rid of wlbragg's commit (it's now part of bug-311).

[2015-06-19 13:41] gilbertohasnofb commented on #310
I see, I always fear it's me who broke something :smile:

[2015-06-19 13:43] onox commented on #310
If you just push stuff to feature branches (bug-*) you don't break master :wink:

[2015-06-19 13:45] gilbertohasnofb commented on #310
Yeah, but sometimes I do push stuff to master (like right now I am updating the Thanks file). Actually I just tried to push a small modification to it and I got:

	To https://github.com/Juanvvc/c172p-detailed
		 a920fa4..b818115  master -> master
	 ! [rejected]        bug-85 -> bug-85 (non-fast-forward)
	error: failed to push some refs to 'https://github.com/Juanvvc/c172p-detailed'
	hint: Updates

[2015-06-19 13:45] onox commented on #310
Have you tested bug-85 btw? I'm simply using aero/alpha-deg right now, but I probably should be using lift coefficients of alpha and flaps.

[2015-06-19 13:46] onox commented on #310
Can you do `git log` again? Just paste the commit hashes.

[2015-06-19 13:47] gilbertohasnofb commented on #310
Not yet, onox. I am sorry I am a bit away since yesterday, but I spent all my free time with that licensing discussion going on. I still owe you that second stall sound which I didn't have the time to work on yet... :disappointed:

commit b8181156bdbf41bd42eb2994ddc68c642b075caa

	commit a920fa4a53f785e433f49f5c7f8b7c413dcd23d7

	commit e0a32e62d9390f796feac6f5e1818323f970bbf5

	commit 829c649137c

[2015-06-19 13:48] onox commented on #310
Have you added any commits? If not do `git reset --hard e0a32e62d9390f796feac6f5e1818323f970bbf5` and then `git pull` again.

[2015-06-19 13:50] gilbertohasnofb commented on #310
well, after the last `git reset` and `git pull`, everything seemed normal so I was trying to commit a new modification to the Thanks file. I don't see why it should break anything.

[2015-06-19 13:50] onox commented on #310
You're in branch bug-85? I had to force push that one as well.

[2015-06-19 13:50] gilbertohasnofb commented on #310
No, I have always been on master during this talk.

[2015-06-19 13:51] onox commented on #310
You're still on branch master?

[2015-06-19 13:51] onox commented on #310
How are you pushing? Just `git push` or do you use certain parameters?

[2015-06-19 13:52] gilbertohasnofb commented on #310
Right now yes, as I was trying to update the Thanks file (seems to have worked now). Once I go back to work on bug 85 I will switch to that branch.

Usually what I do is the following:
- check which branch I am to confirm all is good
- `git pull`
- copy my files to the local repository
- `git add -A`
- `git status` to confirm the situation
- `git push`

[2015-06-19 13:54] onox commented on #310
So you added that Thanks file to master?

[2015-06-19 13:55] onox commented on #310
Ok, I pulled and I see you added a920fa4a53f785e433f49f5c7f8b7c413dcd23d7.

Switch to bug-85: `git checkout bug-85`

[2015-06-19 13:59] gilbertohasnofb commented on #310
Ok, I switched. As I was behind, I did a `git pull`. Now I seem to be up to date.

[2015-06-19 14:01] onox commented on #310
Is the latest commit in bug-85 "sounds: Fix location of stall horn"?

[2015-06-19 14:02] gilbertohasnofb commented on #310
No, that's one before the last. The latest is "sounds: Use <tableData> to control pitch of stall horn"

[2015-06-19 14:02] onox commented on #310
That's not correct.

[2015-06-19 14:03] onox commented on #310
`git log --oneline`:

[code]

[2015-06-19 14:04] gilbertohasnofb commented on #310
40bbce7 Merge branch 'bug-85' of https://github.com/Juanvvc/c172p-detailed into
	524a5d7 sounds: Fix location of stall horn
	6f54c0d sounds: Use <tableData> to control pitch of stall horn
	99c5dc4 sounds: Add <max>
	18a2c99 sounds: Use <fcs_function> to compute volume and pitch of stall horn
	ec5e722 sounds: Use log type for volume and pitch of stall horn
	d511cf0 new stall2.wav (synthesized)
	1dd

[2015-06-19 14:06] onox commented on #310
That merge commit shouldn't be there. Do this:

1. `git reset --hard 524a5d7a4a8291df053c8eba9d88b9995decdd68`

2. `git pull`

[2015-06-19 14:08] gilbertohasnofb commented on #310
Done. Now I get:

	524a5d7 sounds: Fix location of stall horn
	6f54c0d sounds: Use <tableData> to control pitch of stall horn
	99c5dc4 sounds: Add <max>
	18a2c99 sounds: Use <fcs_function> to compute volume and pitch of stall horn
	ec5e722 sounds: Use log type for volume and pitch of stall horn
	d511cf0 new stall2.wav (synthesized)
	e0a32e6 Version 3.6
	829c649 Change default livery to 4X-CHV_HD_l

[2015-06-19 14:08] onox commented on #310
That's better because 524a5d7 is the latest commit.

[2015-06-19 14:09] gilbertohasnofb commented on #310
I understand. So now I should be good to go, right? If I need can I push things to the branch bug-85?

[2015-06-19 14:10] onox commented on #310
Btw, if you have Linux Mint, you might wanna try [tig](http://gitready.com/advanced/2009/07/31/tig-the-ncurses-front-end-to-git.html). It's nice application to show the graph of the current branch.

[2015-06-19 14:10] onox commented on #310
Yes.

[2015-06-19 14:13] gilbertohasnofb commented on #310
Perfect, thank you so much, onox. Really appreciate your patience with me.

Yeah, I am on Mint and I will give tig a try. Thanks for the tip!

[2015-06-19 14:32] onox commented on #310
@gilbertohasnofb I've been listening at `Sounds/stall2.wav` again, and it sounds to electronic. Not raw like in https://www.youtube.com/watch?v=CbtG8KHeMak

[2015-06-19 14:46] gilbertohasnofb commented on #310
@onox it does sound electronic, onox, because that is what it is. It's very difficult to mask that... the true sound is produced by a very organic reed and that's tough to imitate using only oscillators, and I am afraid there is nothing I can do about it (although I can give it a try, of course). It was not my decision to work with synthesized sounds as opposed to samples, and I was always warning

[2015-06-19 14:47] onox commented on #310
If the GPL fundamentalists finally surrender, is it possible to make a loopable variant of the original CC-BY stall sound you had?

[2015-06-19 14:58] gilbertohasnofb commented on #310
Absolutely! That's what I also wish... and then I could also create a second version sounding rougher (like the video you showed me) using that same sound as source, so you can have some form of transition if you wish.

The problem is, as I see it, that most of them are programmers that have very little contact with assets (textures, sounds, video, music, etc.) and they are treating everything lik

[2015-06-19 15:34] onox commented on #313
Haha, true. No screws then.

[2015-06-19 15:37] gilbertohasnofb commented on #313
Great! So I am opening a new issue for this now.

[2015-06-19 15:40] gilbertohasnofb opened #315 "Make screws not clickable (they open checklist)"
Currently the screws are clickable and they open checklist. This is confusing and unrealistic, and we have three other ways of opening the checklists:

- via the menus
- ~~via a keyboard shortcut~~ (incorrect information)
- by looking down and clicking on the Cessna POH

It has been decided to remove this feature. We also must make sure that when pressing Ctrl+C these screws will not illuminate an

[2015-06-19 15:41] gilbertohasnofb opened #316 "Ctrl+C shouldn't show certain objects as clickable"
Ctrl+C shouldn't show certain objects as clickable. At most their names, but certainly not as clickable:

- compass
- airspeed gauge's needle
- EGT gauge's red button (currently I believe it does nothing)

[2015-06-19 15:43] gilbertohasnofb commented on #313
See #315 and #316

[2015-06-19 16:55] wlbragg commented on #206
I saw that, makes sense to use it until or unless we find or make one that is more realistic to the c172p. The picture someone posted of the add-on switch bank that sits on top of the front edge of the dash is an actual RL working device. I don't know if it was on a c172p or not though.

[2015-06-19 16:57] gilbertohasnofb commented on #206
@wlbragg agreed. But if we implement his switch I would still keep this thread opened and update the description according to what you wrote above. So if you merge his contribution, could you please let me know here?

[2015-06-19 17:03] onox commented on #85
@dany93 Could you take a look at the current code in branch bug-85 and give suggestions if things need to be improved?

[2015-06-19 17:04] wlbragg commented on #206
I agree, I want to eventually end up with a RL replica (I don't know that the one that abassign copied from the DHC6 isn't a real after market product that could have been used for various models of aircraft and even more, it is possible one could be manually cut into the dash like that, I did it in boats before, different instruments)

Speaking of thanks, copyrights, etc.. I don't know that I eve

[2015-06-19 17:06] wlbragg commented on #206
Lets have onox's opinion on using abassign contribution, if he agrees, I'll handle getting it in master and also the select code to make it only show on the amphibious.

[2015-06-19 17:09] gilbertohasnofb commented on #206
If that's the case, then we would close this after implementing, but while we research we can add his contribution AND keep this issue alive.

:+1:

Which kind of license it was? If it was GPL, then we can thank them just out of politeness. If it was CC-BY, we need to see which gladiator comes back alive from the mailing list battle and then see how to handle it. Either way, our Thanks file is the

[2015-06-19 17:09] wlbragg commented on #206
That also reminds me, anytime anyone adds anything internal to the cockpit, they need to be aware of the internal effects inheritance that needs to go with their additions (this is a reminder for me more than anything). :memo:

[2015-06-19 17:10] gilbertohasnofb commented on #206
Probably the only way to handle this is to keep an attentive eye when checking PR's. You are very likely the best person to spot mistakes, but all of us can try to keep this reminder in our minds when it comes to 3D contributions to the interior.

[2015-06-19 17:16] onox commented on #316
@gilbertohasnofb It seems a pick animation is used for the compass and airspeed in order to show a tooltip. Would you suggest to just remove the pick animations? The other instruments don't have them anyway.

[2015-06-19 17:17] wlbragg commented on #206
It is a Syd Adams aircraft and there is no notice of any kind, but it was one of the base aircraft in fgdata/aircraft so I assume it is strictly GPL. What should I attribute to Sid?

[2015-06-19 17:19] gilbertohasnofb commented on #316
I don't know what is a pick animation, but I would suggest removing the yellow contours around the airspeed needle and compass, and maybe even from the EGT button as of now it doesn't do anything (AFAIK).

[2015-06-19 17:20] gilbertohasnofb commented on #206
So in that case it should be strictly GPL. We don't necessary have to thank anyone then, but we can do that out of politeness. In that case, simply add a new entry to the file `Thanks` in our root (see the other entries in that file to see how onox and I have been handling it).

[2015-06-19 17:24] wlbragg commented on #206
OK, will do, thanks.

[2015-06-19 17:24] onox commented on #316
Removing the yellow contours means also no more showing the tooltips of the compass and airspeed indicator.

[2015-06-19 17:29] onox commented on #316
EGT's red button changes the `/engines/engine[0]/egt-bug-norm`. Click and hold and then drag your mouse up or down.

[2015-06-19 17:32] gilbertohasnofb commented on #316
I don't think we need a tooltip for the airspeed indicator and compass as virtually no other gauge has it (we don't have it for the altimeter, vertical speed, heading indicator, tachometer, etc.). Or we should add it to all gauges. The point is to be consistent.

Also, are you sure the yellow contour is necessary for showing tooltips? I can see the airspeed tooltip when my mouse is hoovering above

[2015-06-19 17:38] wlbragg commented on #314
interior-glass-shadow
applies the cubemap shadow to glas, leftwindow and rightwindow.

interior-glass-reflection-front

interior-glass-reflection-front
applies the cubemap reflection to glas_interior.

glas_interior and  glas are duplicate, offset, front windows (only one effect per window)

leftwindow, rightwindow

glas_interior
leftwindow_interior
rightwindow_interior
glas_interior_sides

[2015-06-19 17:45] onox commented on #316
It seems I can make the tooltip for the airspeed indicator appear by removing the "Needle" object from the pick animation. (Now it's applied only to the "Face" object)

[2015-06-19 18:03] onox commented on #316
I've decided to remove the tooltip for the ASI for the reasons you gave above.

[2015-06-19 18:05] gilbertohasnofb commented on #316
Okay onox, I will test the PR.

[2015-06-19 18:07] gilbertohasnofb commented on #316
Thanks onox.

[2015-06-19 18:09] onox commented on #314
No I mean this:

![fgfs-screen-338](https://cloud.githubusercontent.com/assets/3361585/8259705/de55bb40-16be-11e5-8b1a-2f3777758361.png)

Look at the rainbow reflection on the canopy. That should be handled by `Models/Effects/glass.eff`, but when I tried to apply it to the "glas" object, I didn't see the cool reflection.

[2015-06-19 18:10] onox commented on #314
Is this cube map shadow thing an ALS effect to be seen from inside the cockpit or from external views?

[2015-06-19 18:13] onox commented on #314
bumpspec "Effects/model-combined-deferred"

Transparent objects need to use `Effects/model-combined-transparent` (which is used by `Models/Effects/glass.eff`) not `Effects/model-combined-deferred` as far as I know.

[2015-06-19 18:15] onox commented on #314
You say they are duplicate, but shouldn't the normals be opposite? Normals pointing inwards for "glas_interior" and outward for "glas".

[2015-06-19 18:15] wlbragg commented on #314
Everything I posted except bumpspec is all internal.

[2015-06-19 18:17] wlbragg commented on #314
Internal shadows and internal reflection and rain drops.
OK, rainbow, yes I am familiar with it. Give me a second to look at it and see what I know about it.

[2015-06-19 18:24] wlbragg commented on #314
I just noticed this

[2015-06-19 18:25] onox commented on #314
I don't know much about all these ALS effects, but to me it looks like you need an "interior" glass that uses `Effects/glass` for fancy windshield rain/fog effects + another "interior" glass for `Effects/model-interior" + an "exterior" glass for `Effects/model-combined-transparent`?

I have read on the wiki about needing two glass objects (1x "interior" and 1x "exterior"), but now it seems we need

[2015-06-19 18:26] wlbragg commented on #314
Appears so.

[2015-06-19 18:26] wlbragg commented on #314
I'm familiar with a lot of it but there is "A LOT OF IT"!

[2015-06-19 18:27] onox commented on #314
I'll ask Thorsten if he can check whether we're using all those ALS effects correctly.

[2015-06-19 18:30] wlbragg commented on #314
This is the bumpspec
http://wiki.flightgear.org/index.php?title=Howto:Aircraft_reflection_shader&redirect=no

Do you know where the docs for rainbow are?

[2015-06-19 18:31] onox commented on #314
Probably here: http://wiki.flightgear.org/ALS_technical_notes

[2015-06-19 18:33] wlbragg commented on #314
Unrelated:
http://wiki.flightgear.org/Howto:Glass_reflection_effect_for_instruments

[2015-06-19 18:33] wlbragg commented on #314
I thought it was there too but don't see it.

[2015-06-19 18:36] onox commented on #314
I've send a PM to Thorsten, hopefully he can tell if we're doing anything wrong.

[2015-06-19 18:38] wlbragg commented on #314
Here is the forum thread showing it being used and the threads leading up to it.
http://forum.flightgear.org/viewtopic.php?f=47&t=25456&start=75#p235963

[2015-06-19 18:39] wlbragg commented on #314
http://forum.flightgear.org/viewtopic.php?f=47&t=25456&start=90#p236002
Is this what you tried?

[2015-06-19 18:39] onox commented on #206
Note that this issue has a 3.8 feature milestone, so it needs to wait until 17th of July.

[2015-06-19 18:41] wlbragg commented on #314
This is similar to bumpspec.eff, I didn't add the bumpspec.eff that already existed and that is where I got deferred instead of transparent.

[2015-06-19 18:43] onox commented on #314
It could be that the interior effect (for shading) can be applied to the "glas_interior" object (which has normals pointing inward AFAIK) and then we flip the normals of "glas" (that's the outer glass object) and apply the shiny rainbow reflection effect to it :smile:

But Thorsten needs answer this because I'm guessing here.

[2015-06-19 18:50] wlbragg commented on #314
No glas is for shadows, can't use it.
We have to have two layers for internal effects.

[2015-06-19 18:52] onox commented on #315
I've looked in the Blender file a bit:

"bolts" object is part of "LeftBag". If we don't want the bolts we either need to:

1. Use object "Plane.006", which isn't very clear; or:

2. Move "bolts" object in Blender outside "LeftBag". To the same level as "LeftBag" instead of as a child of it.

[2015-06-19 18:53] wlbragg commented on #314
I just switched the bumpspec to inherit transparent instead of deferred and it still looks to be applying the bumpspec and external reflections correctly. Still lots to look at though. I need to check external rain, etc. and do some image comparisons.

[2015-06-19 18:53] wlbragg commented on #314
Yes, I am sure Thorsten can answer this in a few seconds.

[2015-06-19 18:54] onox commented on #315
@gilbertohasnofb Btw, what's the keyboard shortcut?

[2015-06-19 18:58] wlbragg commented on #314
This is all fuselage objects, not glass. Why use one over the other?
If we can use transparent to fuselage objects, why not just add glass to it. My next test.

[2015-06-19 19:00] wlbragg commented on #314
I have a feeling we are going to need another layer for external effects.

[2015-06-19 19:01] gilbertohasnofb commented on #315
Just to avoid any misunderstanding, I believe we want the bolts, we just don't want them being clickable.

Oh my, I think I am mistaken about that! I could swear there was a shortcut for it, but apparently there isn't. Sorry about it, I will remove it from the description.

[2015-06-19 19:08] wlbragg commented on #314
onox, you still there?

[2015-06-19 19:10] wlbragg commented on #314
Try adding <object-name>glas</object-name> to line 291 in Models/c172p.xml

 <effect>
     <inherits-from>Effects/model-transparent</inherits-from>

is that what your looking for?

[2015-06-19 19:13] onox commented on #314
I'm here again.

[2015-06-19 19:15] onox commented on #314
@wlbragg No, that's the `Effects/model-interior` effect. I want "glas" to have the `Models/Effects/glass.eff` effect. But when I tried it, it didn't work.

And now I'm going to watch TV!

[2015-06-19 19:20] wlbragg commented on #314
OK

[2015-06-19 19:35] wlbragg commented on #314
No, that is model-transparent and it inherits from model-transparent.

glass.eff inherits from model-combined-transparent

[2015-06-19 19:38] wlbragg commented on #314
Try it and look at the glass reflection on the outside, I think that is what your looking for and as far as I can tell it isn't breaking anything but I am not sure were suppose to be able to apply two different effects to the same glass unless it is because it is two sided?
But now I have to figure out when and where the internal reflection got broke.

[2015-06-19 19:40] wlbragg commented on #206
I wasn't aware that had anything left we could do other than bugs (of which I didn't think we had any defined). Are you telling me the amphibious gear and MP effects are 3.6 "bugs"?

[2015-06-19 20:32] wlbragg commented on #314
There is a file in Models/Effects/  called glass.eff, I am not sure where or when that file got put there. It may have been by me, but I think it is not being used by anything. The internal glass reflections inherit directly from fgdata/effects/glass.

[2015-06-19 21:40] wkitty42 commented on #310
@gilbertohasnofb can you do me a favor and see if you can extract that one partial second of the stall horn from that one video where the pilot was making his solo flight? the one where the stall horn just starts to growl when he's landing? i can't find the video i linked to in these issues because i forgot which one we were discussing all this stuff in :disappointed:

[2015-06-19 21:51] wkitty42 commented on #85
YAY!! i found the numbers i was looking for! the ones we can use to vary the pitch of the stall horn as well as the volume... i found a commit log showing when "/sim/alarms/stall-warning" was changed from a boolean to a double but i can't find it again... anyway, that was one of the triggers for me to log the output from that property to see what it was and when... it is zero until we enter a stal

[2015-06-19 21:59] wkitty42 commented on #310
i found it and the other one... here's the one of the solo flight... jump to the end when he's on final and just about to touch down and you can just start to hear the stall horn... https://www.youtube.com/watch?v=8y4KjouqnKQ  i'm after the most bass pitch so that we can increase the pitch from there... this will be the first sound of the stall horn if i get it working the way i'm hearing it in th

[2015-06-20 00:53] gilbertohasnofb commented on #310
@wkitty42 okay, I will do that. Would you like me to analyse the fundamental frequency of the horn as well (that is, the bass pitch)? At which moment of the video should I do the analysis (tell me which time stamp please, such as 00:13).

As for the stall sound itself, please read what onox and I have been discussing just above your last two posts about using the old sound but looped.

[2015-06-20 02:15] wkitty42 commented on #310
there's a short one at 14:07 and another slightly longer one at 14:10... they're not even 1 second long i don't think... maybe combined they would be but doubtful... i've tried to find some more but there's pretty much nothing out there... not even a decent kazoo sound... i'm still looking but see what you can do with that...

as far as "analyze fundamental frequency" goes, i'm not sure... if you

[2015-06-20 02:25] gilbertohasnofb commented on #310
Wait, you want to use them as source for still another new stall sound effect? Are they CC0? If not, then what would be the point of creating another CC-BY sound since we already have a nice one? As I discussed with onox, if the CC-BY assets get green light then I will loop the original one extracted from that first youtube video.

I found some, but only CC-BY, so same as above.

I meant something

[2015-06-20 04:27] wlbragg commented on #273
@dany93, I just finished reading this and it sounds really promising. I just pulled it and will see what I can do to help this along. I think it is an absolute necessity to get this working in master.

[2015-06-20 04:51] wlbragg commented on #273
@dany93, I have a couple of questions.

If I start with engine[0]/mags = 0 then use engine[1]/starter to 1 and back to 0, I am effectively using the 180 HP engine, correct?
Then if I press s at that point and crank the engine to get the prop to spin and the sound , am I still running engine 1 =180 HP or is that now both engine or is it back to the 160HP, because the engine[0]/mags are still set to

[2015-06-20 07:03] onox commented on #85
And guess what `/sim/alarms/stall-warning` uses as input? AoA! See https://github.com/Juanvvc/c172p-detailed/issues/85#issuecomment-113135864

[2015-06-20 07:09] onox commented on #273
If you toggle `/sim/input/selected/engine[0]` and `/sim/input/selected/engine[1]` then starter, throttle, and mixture should control the correct engine.

[2015-06-20 07:14] onox commented on #314
This is what Thorsten said in a PM (I think he would have no problem with this post being public):

[2015-06-20 07:27] onox commented on #314
So if we decide to not have shadow falling onto the interior glass, we should flip the normals of "glass", "leftwindow", and "rightwindow". And then on lines 353 use `Effects/glass`?

[2015-06-20 07:51] onox commented on #314
I tried to do it myself and export to `c172p.ac` file, but the whole model became ugly and appeared with the wrong cockpit livery, so better drop this issue if you don't consider yourself a Blender guru :smile:

[2015-06-20 07:55] onox commented on #206
@wlbragg If it has a 3.6 release milestone then it can go into the 3.6 release.

[2015-06-20 08:09] wlbragg commented on #314
Maybe this will help a little.
![effects](https://cloud.githubusercontent.com/assets/11069680/8266541/5dd6ea76-16f9-11e5-8476-bab0954aa149.jpg)
There are other things attached to each of these effects.
Did you try what I posted above?

and also add leftwindow and rightwindow
 It worked for me and didn't appear to have side effects although I'm not positive about the side effects. I don't think we

[2015-06-20 08:19] wlbragg commented on #206
OK, guess I'd better look at the list again, thanks.

[2015-06-20 08:30] onox commented on #311
I've aliased the `rollspeed-ms` properties and created PR #318

[2015-06-20 08:39] wlbragg commented on #311
Cool, I'll check it.

[2015-06-20 09:00] #311 closed

[2015-06-20 09:01] onox commented on #273
@dany93 You have 1 commit in your branch. When you do your `git pull` (with the usual extra parameters you need), you could add `--rebase`. git will then put your commit ("engine and propeller for 160 or 180 hp, test version") on top of everything else. It will avoid adding a merge commit.

[2015-06-20 09:02] onox commented on #273
@wlbragg Wouldn't it be better to automatically select the 180hp engine for pontoons and amphibious, and 160hp for default/26"/36"?

[2015-06-20 09:03] wlbragg commented on #273
I would rather have the option, or do they not upgrade the c172p to 180 for anything other than floats?

[2015-06-20 09:04] onox commented on #273
Isn't that what I'm saying? :open_mouth:

[2015-06-20 09:07] wlbragg commented on #273
I don't know, is that a fact, is that the only reason they upgrade to a 180 HP engine?

Having an option gives you a more powerful wheeled aircraft if you want it. But if the only reason in RL that you see a 180 HP c172p, then I guess I am OK with that. But there is no down side to giving the user an option.

[2015-06-20 09:08] dany93 commented on #273
No, it would have been more simple but it does not work. engine[0] starts (not [1]) but throttle does nothing on [0].
Every engine is selected by default at start, only engine[0] is started and controlled.

@wlbragg

No.
Please follow the procedure I've written. https://github.com/Juanvvc/c172p-detailed/issues/273#issuecomment-111828903 (unless you find a more simple one).
Check (at least) the pro

[2015-06-20 09:08] onox commented on #273
If you give people the ability to fly default tires with 180 HP engine, then everybody will use the 180 HP engine :laughing:

[2015-06-20 09:17] dany93 commented on #273
Sure. I've seen that with the DR400 (120 or 180 hp) !!!

[2015-06-20 09:18] wlbragg commented on #273
I don't have a problem with users having that choice. Who are we to limit it? I have never been one to put arbitrary limits on something. But if you really feel it will take away something, I guess I am OK with it. I think it might still be used by users that want a challenge or merely realistic sim. But then again, I probably would use the 180 most of the time.

@dany93, I did follow those proced

[2015-06-20 09:21] onox commented on #273
If you have switched to the 180HP engine, then using the starter would mean trying to start the 180HP engine. That would be useless of course if your 180HP engine is already running.

Have you seen https://github.com/Juanvvc/c172p-detailed/issues/273#issuecomment-113718221 ?

[2015-06-20 09:22] dany93 commented on #273
Currently, if you have prop animation and tachometer working, you are on 160 hp.

[2015-06-20 09:24] onox commented on #273
@dany93 Assuming you would normally do `git pull upstream master`, could you do `git pull --rebase upstream master`?

[2015-06-20 09:26] dany93 commented on #273
Have you seen my response? https://github.com/Juanvvc/c172p-detailed/issues/273#issuecomment-113734466

[2015-06-20 09:26] onox commented on #273
Yes.

[2015-06-20 09:27] wlbragg commented on #273
Yes I saw the comment, but I was in the air, in the 180 config and I hit the starter and it started and gave me prop animation and sound, so I was just wondering what it actually was doing. engine[0]/mags were still at 0 and I didn't notice any drop in performance, so I assumed it just gave me the animation and sound for the 180. No big deal, I got to feel the power of the 180 and I really like it

[2015-06-20 09:28] dany93 commented on #273
From my branch: "master?

[2015-06-20 09:28] onox commented on #273
Ah, in that case you would have to do `git pull --rebase master` I think.

[2015-06-20 09:30] dany93 commented on #273
I don't mind, I don't understand the effect.
What is the best I should do?

[2015-06-20 09:31] onox commented on #273
Ok, lets first update your "master". Can you do that?

[2015-06-20 09:32] onox commented on #273
The latest commit should then become "Merge pull request #318 from Juanvvc/bug-311".

[2015-06-20 09:34] dany93 commented on #273
As usually (from my master branch) ```git pull upstream master``` or ```git pull --rebase master```?

[2015-06-20 09:34] onox commented on #273
No, `git pull upstream master`.

[2015-06-20 09:41] dany93 commented on #273
OK, done.
My branch: master, last commit  ```Merge pull request #318 from Juanvvc/bug-311```

[2015-06-20 09:43] onox commented on #273
Yes, ok, now switch back to your c172-eng160-180hp branch using `git checkout c172-eng160-180hp`.

[2015-06-20 09:43] onox commented on #273
And then do `git pull --rebase master`.

[2015-06-20 09:45] dany93 commented on #273
git pull --rebase master
fatal: 'master' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2015-06-20 09:47] onox commented on #273
Sorry, `git rebase master`.

[2015-06-20 09:49] dany93 commented on #273
Seems OK: "Current master branch is up to date" (in French, my english translation)

[2015-06-20 09:50] onox commented on #273
What are the two top commits? Use `git log --oneline`.

[2015-06-20 09:53] dany93 commented on #273
[code]

What will it do, and what should I do (or not do) later to update?

[2015-06-20 09:55] onox commented on #273
Is this in your c172-eng160-180hp branch?

[2015-06-20 09:59] dany93 commented on #273
No, it was in my master barnch.

In my c172-eng160-180hp branch:
[code]

[2015-06-20 10:01] onox commented on #273
1. Switch back to your c172-eng160-180hp branch using `git checkout c172-eng160-180hp`

2. Do: `git rebase master`

[2015-06-20 10:11] dany93 commented on #273
git status
Sur la branche c172-eng160-180hp
Votre branche est à jour (up to date) avec 'origin/c172-eng160-180hp'.

rien à valider, la copie de travail est propre (clean)
dany@dellinux ~/FG/github/c172p $ git rebase master
Premièrement, rembobinons head pour rejouer votre travail par-dessus...
(firstly, let's rewind head to play again your work above it...)
Application : engine and propeller for 1

[2015-06-20 10:13] onox commented on #273
Ok, show me top two commits from `git log --oneline` again.

[2015-06-20 10:17] onox commented on #273
@dany93 Are you having troubles? :worried:

[2015-06-20 10:17] dany93 commented on #273
[code]

[2015-06-20 10:18] onox commented on #273
Ok. Do you see you have brought in the latest stuff from master and then put your own stuff (1 commit) on top of it?

[2015-06-20 10:20] dany93 commented on #273
Yes.
But the effect?
What I should do or not do later?

[2015-06-20 10:21] onox commented on #273
That is the effect. You put your own stuff on top of the stuff from master. Now you have the latest and greatest from master and still you have your extra 180hp engine :smile:

Ok, now try to push, it should fail. When it fails, try to push again but with --force.

[2015-06-20 10:24] dany93 commented on #273
Seems OK
To https://github.com/dany93/c172p-detailed.git
 + 2f9f036...a9d4b9f c172-eng160-180hp -> c172-eng160-180hp (forced update)

[2015-06-20 10:25] onox commented on #273
Yes, compare:

1. https://github.com/dany93/c172p-detailed/commits/c172-eng160-180hp

2. https://github.com/Juanvvc/c172p-detailed/commits/master

[2015-06-20 10:29] dany93 commented on #273
I see and I understand that I have a repository with updated juanvvc and my last commit for 160-180hp above it, like if my commit had been added to juanvvc.

[2015-06-20 10:29] onox commented on #273
Yes.

[2015-06-20 10:30] onox commented on #273
Btw, is there a particular reason that `/controls/engines/engine/master-bat` is located within `/controls/engines/` instead of `/controls/switches/`?

[2015-06-20 10:32] dany93 commented on #273
Now, for my updates from juanvvc master, as usual?
And if I add a commit in ```c172-eng160-180hp```, ```git push``` and that's all?

[2015-06-20 10:32] onox commented on #273
If you add another commit to your `c172-eng160-180hp` branch, you can just do a regular `git push`.

[2015-06-20 10:36] dany93 commented on #273
And I understand that the current content from juanvvc which is in my  `c172-eng160-180hp` branch will not be changed by the future updates from juanvvc, true?

[2015-06-20 10:37] onox commented on #273
No, unless you do `git checkout master`, `git pull upstream master`, `git checkout c172-eng160-180hp`, `git rebase master` again.

[2015-06-20 10:37] onox commented on #273
That will do the same trick again that you just did.

[2015-06-20 10:38] dany93 commented on #273
OK.
Thank you onox, and sorry for my ignorance.

[2015-06-20 10:38] onox commented on #273
Don't worry, you have never done a rebase before, so I understand it may be difficult.

[2015-06-20 10:39] onox commented on #273
Anyway, can I move `controls/engines/engine/master-bat` to `controls/switches/master-bat`? And do the same thing for `master-alt`?

[2015-06-20 10:42] onox commented on #273
I'll do it in a copy of your `c172-eng160-180hp` branch and push it later to juanvvc repository so that you can just pull it and it will fast-forward (no merge commits).

[2015-06-20 10:45] dany93 commented on #273
I have no opinion, I do not understand what is does, how and why you do that.
If it works from you point of view, you are better than me.

[2015-06-20 10:46] onox commented on #273
Well, `master-avionics` sits already in `/controls/switches/` and it might make switching between the two engines easier.

[2015-06-20 10:50] dany93 commented on #273
In fact, I was just able to do the FDM part and the fuel.xml file to give the necessary tool.
Beyond that, I trust you and hope (am almost sure) you and wmbragg can make it work.

[2015-06-20 10:51] onox commented on #273
I have your commit locally here, so we can take it from here then.

[2015-06-20 10:52] dany93 commented on #273
Do not forget that I wrote above

[2015-06-20 10:53] onox commented on #273
The procedures you mean?

[2015-06-20 10:55] dany93 commented on #273
No.
The *properties* that can be used to switch engines (unless you prefer another way) .

[2015-06-20 10:57] onox commented on #273
I have pushed branch [bug-273](https://github.com/Juanvvc/c172p-detailed/commits/bug-273).

[2015-06-20 11:05] onox commented on #273
@dany93 For the primer and throttle, we are currently using `/controls/engines/engine/primer` and `/controls/engines/engine/throttle`, but it seems we can move these out of `/controls/engines/engine[0]` as well, right?

[2015-06-20 11:14] dany93 commented on #273
I do not understand, cannot respond.
It seems that the originals are by default.
And I don't  see neither the consequences, nor why.
Merely, try to keep the code understandable for the future developpers.

What can I do with https://github.com/Juanvvc/c172p-detailed/commits/bug-273 ?

[2015-06-20 11:17] onox commented on #273
Another question: If I set `/controls/engines/engine[1]/magnetos` to 1, 2, 3, does that mean I *must* set `/controls/engines/engine[0]/magnetos` to 0?

[2015-06-20 11:20] onox commented on #273
I don't quite yet understand which code is reading `/controls/engines/engine[1]/magnetos`.

[2015-06-20 11:22] dany93 commented on #273
I think it is not compulsory, **if the starter is selective** for engine[0] or [1].
It is just more clean.
To check, see the properties as written here https://github.com/Juanvvc/c172p-detailed/issues/273#issuecomment-113734466

[2015-06-20 11:24] dany93 commented on #273
I'd say the FDM.

[2015-06-20 11:25] onox commented on #273
I can't find the word "magnetos" in `c172p.xml`, other than in a comment.

[2015-06-20 11:27] dany93 commented on #273
Yes, but it has to check them to choose starting or not, or stop if we cut them.

[2015-06-20 11:28] onox commented on #273
In `src/FDM/JSBSim/JSBSim.cxx` I see this:

[code]

[2015-06-20 11:30] dany93 commented on #273
Sorry, I have to quit.
I think I can go on in one or two hours.

[2015-06-20 12:51] dany93 commented on #273
Confirmed from the Property tree under fdm/jsbsim/
But I see no drawback.

[2015-06-20 13:09] onox commented on #273
I've got the magneto's and starter working here locally.

[2015-06-20 13:49] dany93 commented on #273
I saw this as the harder to do.

[2015-06-20 13:54] onox commented on #273
I have already fixed the RPM and exhaust effect.

[2015-06-20 13:57] onox commented on #273
@dany93 I must say with the 180 HP it is much better to takeoff from the water :smile:  With the 160 HP engine it was too difficult to gain altitude.

[2015-06-20 13:57] dany93 commented on #273
Notice that,
As every engine is selected by default at start:
- Throttle for both engines is controled by the keyboard and a JS
- the same for mixture and magnetos (keyboard, likely for a JS too).
Here, nothing to do, although deselecting the engine wich is not in use would be better.
Currently, "s" key on the keyboard activates only starter for engine [0]

However, the bindings from the dashboard

[2015-06-20 13:59] gilbertohasnofb commented on #273
I found some information about converted 172 that are not floats, see for instance: http://www.controller.com/list/list.aspx?manu=CESSNA&mdltxt=172%2F180+CONVERSION

That said, I am with onox on this one. I think we shouldn't give people too many options for every single thing possible. I guess 99.999% of all 172 model P have a 160 HP engine, and I guess that 99% of people will only fly the 180 HP

[2015-06-20 13:59] onox commented on #273
@dany93 I'm not using the `/sim/input/selected/` right now. That is a generic way to select an engine and is to be used when your aircraft has actually multiple engines. You can set the current engine with the !, @, #, $ keys in that case.

I have fixed the magnetos, starter, RPM, exhaust. The throttle and mixture currently control both engines.

[2015-06-20 14:01] onox commented on #273
Now going to fix float chamber and sound...

[2015-06-20 14:04] dany93 commented on #273
You do the code more quickly than I write...

[2015-06-20 14:08] onox commented on #273
About the float chamber:

1. If using the 160 HP engine: `fdm/jsbsim/propulsion/tank[2]/priority` = 1 and `fdm/jsbsim/propulsion/tank[3]/priority` = 0?

2. If using the 180 HP engine: `fdm/jsbsim/propulsion/tank[2]/priority` = 0 and `fdm/jsbsim/propulsion/tank[3]/priority` = 1?

[2015-06-20 14:11] onox commented on #273
List of remaining properties that I need to look at:

* `Models/c172p.xml`:
    - `/controls/anti-ice/engine[0]/carb-heat`
    - `/controls/engines/engine[0]/throttle`
    - `/controls/engines/engine[0]/mixture`

* `Models/Interior/Panel/Instruments/EGT/EGT.xml`:
   -  `/engines/engine[0]/egt-bug-norm`
    - `/engines/engine[0]/egt-norm`

* `c172-sound`:
    - `/engines/engine/mp-osi`
    - `/engi

[2015-06-20 14:15] dany93 commented on #273
1. If using the 160 HP engine: `fdm/jsbsim/propulsion/tank[2]/priority` = 1 and `fdm/jsbsim/propulsion/tank[3]/priority` = 0?

2. If using the 180 HP engine: `fdm/jsbsim/propulsion/tank[2]/priority` = 0 and `fdm/jsbsim/propulsion/tank[3]/priority` = 1?

Is that correct?

Yes

[2015-06-20 14:15] onox commented on #273
Thanks! :+1:

[2015-06-20 14:40] wkitty42 commented on #85
@onox i didn't understand that when i read it... the variable names didn't mean anything to me at that time... i thought AoA was only about the angle and not about stalling... you can have a high AoA without stalling, can't you? or, wait... AoA is along your direction of travel... hummm... ok...

in that comment above, you say that the volume is controlled by AoA... can we do the same with the pit

[2015-06-20 14:41] onox commented on #273
@dany93 I've a bit of trouble with the fuel system, I'm trying to do in `Systems/fuel.xml`:

[code]

But JSBSim is just not setting values to the `priority` properties :confused:

[2015-06-20 14:56] wkitty42 commented on #310
i've been trying to find a number generated by the FDM that starts at zero (no stall) and starts increasing when a stall happens... the deeper the stall, the higher the number... this number can then by used to change the pitch of the sound (change notes/octaves) as well as controlling the volume of the sound... i finally found a number (/sim/alarms/stall-warning) that appears to work... now i nee

[2015-06-20 14:58] wkitty42 commented on #273
FWIW: i've not found anything stating that the 180HP upgrade is limited only to floatcraft... indeed, it seems to be a standard upgrade for those that want a higher performance craft than the factory offers... i've looked at quite a few starting here -> https://www.google.com/search?q=cessna+c127+engine+180hp

[2015-06-20 15:04] onox commented on #273
Fixed it, seems I need to use `<output>`.

[2015-06-20 15:05] gilbertohasnofb commented on #273
Okay, so let's go for it. But does this mean we will leave the option of 160 HP for the floats? That may confuse some people as for why the plane doesn't climb.

[2015-06-20 15:05] onox commented on #273
I would say automatic selection. Otherwise 99% are gonna cheat and use the 180 HP all the time.

[2015-06-20 15:13] wkitty42 commented on #273
how is it cheating?? IRL there are everyday cessna c172s with the lycoming 180HP engine... c172r, c172d thru h, etc... it appears to be a normal and standard upgrade... just like changing the engine out in your car for a more powerful one... or your motorcycle or boat...

[2015-06-20 15:13] wlbragg commented on #273
It's not cheating, it's a choice.
I don't understand why we should care what users will do with their choice, it's not for us to say.
If most of them use the bigger engine then that says something in and of itself.

[2015-06-20 15:14] onox commented on #273
Alright, I'll make it a choice then.

[2015-06-20 15:14] wlbragg commented on #273
:clap: :clap: :clap:

[2015-06-20 15:14] wkitty42 commented on #273
:+1: :+1: :+1:

[2015-06-20 15:16] onox commented on #273
lol

[2015-06-20 15:22] gilbertohasnofb commented on #273
:dog: :dog: :dog:

But what about the pontoons and amphibian? Are we allowing the 160 HP for them? And if not, how to elegantly handle the dialog? Can we force the 180 HP engine while on floats make the engine selection option "unclickable"?

[2015-06-20 15:27] gilbertohasnofb commented on #310
@wkitty42 let's just wait a little bit more for the results of the debate about licenses in the mailing list so that we can decide which sound to use, okay? I have potentially lost a huge amount of work and time with this (not related to this project, but to my New Regional Textures for FG) so I am not very happy about continuing to invest my time on this until a final decision is taken. You know,

[2015-06-20 15:31] wlbragg commented on #273
If they still use the 160 engine on float planes in RL, then I say we leave that option. It is a delightful challenge to use it. If this engine is never used in RL on floats, then maybe not.

[2015-06-20 15:39] gilbertohasnofb commented on #273
:+1:

I found some posts in aviation forums about this subject, and indeed there are people using 160 HP with floats. So I would suggest the following: when someone clicks on "pontoons" or "amphibian", the engine is automatically set to 180 HP in the same menu, but the person is allowed to change it back to 160 HP if he or she wants.

Here is a video of a 172 with 160 HP taking off. Looks as scary

[2015-06-20 15:41] onox commented on #273
haha, I was watching that video just a minute ago :smile:

[2015-06-20 15:42] onox commented on #273
It's a regular float plane though I think, not amphibian.

[2015-06-20 15:42] onox commented on #273
I agree with that.

[2015-06-20 15:42] wlbragg commented on #273
Great idea, that sound right to me. We should think "safety first" :smile:

[2015-06-20 15:44] gilbertohasnofb commented on #273
Okay, so this is solved :) Should I open an issue for this or can you guys include the code handling these menus in the PR for this issue?

[2015-06-20 15:44] onox commented on #273
No need for a new issue.

[2015-06-20 15:45] onox commented on #273
I'm adding it to bug-273 branch.

[2015-06-20 15:45] onox commented on #273
I have changed the milestone because without the 180 HP it will be very difficult for most people to takeoff from the water.

[2015-06-20 15:52] wkitty42 commented on #273
i found this, too... there are many 160HP c172 floatcraft but i don't know how many of those may be amphibious... how much additional weight is added for the additional amphib gearing?

https://www.google.com/search?q=cessna+c172+160hp+floats+site:www.cessna172club.com&num=100

[2015-06-20 15:56] wkitty42 commented on #310
@gilbertohasnofb that's fine and i understand... i've been working on my little project since someone made the joke about "Stall Horn Simulator Pro"... that's what? four days? no big deal, though... it is probably something i'd try to do anyway for the realism factor...

FWIW: i have found some reed instrument sounds that i think may work and i can create my own soon... plus i will call the small

[2015-06-20 15:56] gilbertohasnofb commented on #273
Let's just keep the solution I proposed above of forcing 180 HP to both pontoons and amphibian models, and let the user change it back if they want.

[2015-06-20 15:58] wkitty42 commented on #273
that's fine... i read these exchanges in my email and then come over here to reread them and respond... i just wanted to toss my two pesos in on the conversation about 160HP floaters :wink:

[2015-06-20 15:59] wkitty42 commented on #273
so how much extra weight is added to the floats by adding amphib landing gear? that is a serious (side) question :smile_cat:

[2015-06-20 16:00] gilbertohasnofb commented on #310
"Stall Horn Simulator Pro" was my joke and is licensed under CC-BY terms, so you must wait until the old wizards make a decision in order to continue using its name :wink: :wink: :wink:

That's a good idea, of course. Better yet would be to record it mid flight because I am quite sure it will sound different (airflow during stall is for sure much different than blowing it with the mouth).

[2015-06-20 16:03] wlbragg commented on #273
Do we also want to force 160 on ! = float and allow user to switch back to180?

[2015-06-20 16:04] wlbragg commented on #273
So in essence, the default behavior is what you originally wanted, but there is a choice to switch back.

[2015-06-20 16:05] onox commented on #273
If !float then engine will be set back to 160 HP.
If float then engine will be set back to 180 HP.

User can change engine afterwards.

[2015-06-20 16:05] gilbertohasnofb commented on #273
@wlbragg good question. I guess that could work well.

[2015-06-20 16:07] wlbragg commented on #273
I think that is a good compromise.

[2015-06-20 16:10] onox commented on #273
@gilbertohasnofb Can you find a sound of a mechanic working on an engine?

[2015-06-20 16:14] gilbertohasnofb commented on #273
@onox I can certainly try!

[2015-06-20 16:14] wlbragg commented on #273
:+1:

[2015-06-20 16:20] onox commented on #310
I think you're totally missing the fact that we have already been working on the stall horn in branch [bug-85](https://github.com/Juanvvc/c172p-detailed/commits/bug-85).

[2015-06-20 16:21] onox commented on #85
Yes, you're a bit reinventing the wheel. See branch [bug-85](https://github.com/Juanvvc/c172p-detailed/commits/bug-85).

[2015-06-20 16:21] onox commented on #273
List of remaining properties that I need to look at:

* `Models/c172p.xml`:
    - [ ] `/controls/anti-ice/engine[0]/carb-heat`
    - [ ] `/controls/engines/engine[0]/throttle`
    - [ ] `/controls/engines/engine[0]/mixture`

* `Models/Interior/Panel/Instruments/EGT/EGT.xml`:
    - [ ]  `/engines/engine[0]/egt-bug-norm`
    - [ ] `/engines/engine[0]/egt-norm`

* `c172-sound`:
    - [x] `/engines/en

[2015-06-20 16:23] onox commented on #273
Okay, now I can finally start working on the three oil properties.

[2015-06-20 16:31] wlbragg commented on #273
@onox, are you pushing all of this to dany's c17-eng160-180hp?

[2015-06-20 16:31] onox commented on #273
No, to bug-273.

[2015-06-20 16:35] wlbragg commented on #273
Want me to work on a menu placeholder?

[2015-06-20 16:35] gilbertohasnofb commented on #273
@onox what you think about this?

http://freesound.org/people/producerdan/sounds/266626/

How long would you want that sound to be? I can remove the conversation from the audio above and I can get some 4-5 seconds of mechanics working only.

[2015-06-20 16:35] onox commented on #273
I have already fixed the GUI.

[2015-06-20 16:36] wlbragg commented on #273
Your to fast, guess I'd better pull first and ask questions later.

[2015-06-20 16:37] onox commented on #273
Pull again.

[2015-06-20 16:38] onox commented on #273
You should be able to use the 180 HP engine. Just make sure you use 3/9 keys. Throttle and mixture objects in cockpit probably won't work yet for 180 HP engine.

[2015-06-20 16:38] onox commented on #273
List of remaining properties that I need to look at:

* `Models/c172p.xml`:
    - [ ] `/controls/anti-ice/engine[0]/carb-heat`
    - [ ] `/controls/engines/engine[0]/throttle`
    - [ ] `/controls/engines/engine[0]/mixture`

* `Models/Interior/Panel/Instruments/EGT/EGT.xml`:
    - [ ]  `/engines/engine[0]/egt-bug-norm`
    - [ ] `/engines/engine[0]/egt-norm`

[2015-06-20 16:41] dany93 commented on #273
@wkitty42 wrote

I have taken extra weight + 132 lbs for floats, + 276 lbs for amphibious.
http://www.seaplaneswest.com/documents/Weightcomparisons.pdf
http://www.pilotfriend.com/aircraft%20performance/Cessna/1/16.htm
http://www.wipaire.com/wipline-floats/2100.php

[2015-06-20 16:41] onox commented on #273
@gilbertohasnofb I don't have an account so I cannot download it. It just needs to be some sound in which you can hear bolts being tightened, etc.

[2015-06-20 16:42] onox commented on #273
Duration maybe something like 5 seconds or something? Just a short sound that can be played when you change the engine.

[2015-06-20 16:43] wlbragg commented on #273
This is really sweet! :grin:

[2015-06-20 16:43] onox commented on #273
Can someone else test checklists and tutorials for RPM and "engine running" for both engines?

[2015-06-20 16:44] onox commented on #273
Don't test throttle just yet, because that hasn't been fixed yet.

[2015-06-20 16:44] gilbertohasnofb commented on #273
I didn't ask you to download it, I just asked your opinion on the sound itself :wink: (I think you can listen to it without an account but I might be wrong). After downloading it I will still need to do lots of sound editing, so it was more to see if that's what you had in mind.

I get the purpose, so I will work on it right now!

[2015-06-20 16:50] wlbragg commented on #273
What might have been touched that would turn on splash effect on windshield?

[2015-06-20 16:50] onox commented on #273
Can you tell me the file that does the splash effect?

[2015-06-20 16:51] wlbragg commented on #273
/fdm/jsbsim/hydro/active-norm" is the control in physics.nas

[2015-06-20 16:52] onox commented on #273
I haven't touched that.

[2015-06-20 16:53] wlbragg commented on #273
Hum, I'll investigate/

[2015-06-20 16:56] wlbragg commented on #273
It's coming from my weather somehow, but the METAR looked "clear".

[2015-06-20 17:02] gilbertohasnofb commented on #273
@onox Okay, the sound is done. To which branch should I upload it? I can't see any `bug-273` branch there.

[2015-06-20 17:03] wlbragg commented on #273
That is weird, my reporting METAR is messed up, or we're about to get the first rain in history without any clouds.

I've never used the checklists, what do you want me to check/do?

[2015-06-20 17:04] onox commented on #273
Yes.

[2015-06-20 17:05] onox commented on #273
@gilbertohasnofb Have you done `git fetch`?

[2015-06-20 17:05] wlbragg commented on #273
Engine choice radio button is defaulting to 160 even when starting sim in hydro. Did you persistent?

[2015-06-20 17:05] onox commented on #273
Yes.

[2015-06-20 17:05] gilbertohasnofb commented on #273
@onox yep

[2015-06-20 17:06] onox commented on #273
@gilbertohasnofb https://github.com/Juanvvc/c172p-detailed/tree/bug-273

@wlbragg `<path>/controls/engines/active-engine</path>` in `<aircraft-data>`.

[2015-06-20 17:07] wlbragg commented on #273
OK

[2015-06-20 17:08] gilbertohasnofb commented on #273
@onox well, I don't know what to do. Did `git fetch origin` and `git pull`, but that branch is not being shown. All I have is:
		andgi-add-water-sounds
		bug-238
		bug-316
		bug-80
		bug-85
	* master

[2015-06-20 17:09] onox commented on #273
If you do `git branch -a`, you will see:

`remotes/origin/bug-273`

Which means you can do `git checkout bug-273`

[2015-06-20 17:10] wlbragg commented on #273
It is already in there and your calling it in the menu, let me check the sim again, maybe I messed up somehow.

[2015-06-20 17:15] wlbragg commented on #273
OK, it saves the last state of your engine regardless of what config your in, then when you restart the sim and open the aircraft-menu it populates the radio per saved state regardless of what combination of engine and gear were existing.
If you use 160 for floats and exit that way when you restart that is what you get.
I guess that make sense. It only switches the radio if you "select" a gear con

[2015-06-20 17:16] onox commented on #273
Yeah, that's how I programmed it.

[2015-06-20 17:17] onox commented on #273
@gilbertohasnofb Thanks for the sound.

[2015-06-20 17:17] gilbertohasnofb commented on #273
@onox thanks, it works. So it means `git branch` shows only the branches which are local, and `git branc -a` show remote ones as well? And that if I do `git checkout <branch>` with a remote branch it will be downloaded and created as local?

Anyway, the sound is there, it's called `repair.wav`. We can use it both to changing the engine as well as for repairing damage. Let me know if you need any t

[2015-06-20 17:18] onox commented on #273
`git branch` shows branches that you have checked out in the past. `-a` shows also the branches that your git thinks exist on the server. That's why when you do `git fetch` or `git pull` you will see messages like `[new branch]`. The server tells your git that there are new branches.

[2015-06-20 17:19] gilbertohasnofb commented on #273
Thanks for the explanation.

[2015-06-20 17:19] onox commented on #273
Nice idea! :smile:

[2015-06-20 17:24] wlbragg commented on #273
The amphibious gear damage is using the old wheels and they are a little darker than the new gear, so when you damage a single pontoon in amph mode you can tell the difference between the two. Is that a bug or a 3.8 fix?

[2015-06-20 17:25] wlbragg commented on #273
It's nothing to pull the new tires over into the damage, I guess I should do that?

[2015-06-20 17:27] onox commented on #273
Can you paste screenshots of the difference?

[2015-06-20 17:27] onox commented on #273
I don't like the default/amphibious tires that much. Looks a bit low res.

[2015-06-20 17:28] onox commented on #273
@wlbragg If the tire changes color unexpectedly when you damage the pontoon, that's a bug I think.

[2015-06-20 17:30] onox commented on #273
List of remaining properties that I need to look at:

* `Models/c172p.xml`:
    - [ ] `/controls/anti-ice/engine[0]/carb-heat`
    - [x] `/controls/engines/engine[0]/throttle`
    - [ ] `/controls/engines/engine[0]/mixture`

* `Models/Interior/Panel/Instruments/EGT/EGT.xml`:
    - [ ]  `/engines/engine[0]/egt-bug-norm`
    - [ ] `/engines/engine[0]/egt-norm`

[2015-06-20 17:32] wlbragg commented on #273
![gear](https://cloud.githubusercontent.com/assets/11069680/8268355/61d88860-1748-11e5-813a-bd2ebf14efc5.jpg)

[2015-06-20 17:33] onox commented on #273
That's a bug. I like the metal of the regular tire with the rubber of the damaged tire.

[2015-06-20 17:36] wlbragg commented on #273
I am almost positive this is what just happened.
Leave/save sim in 160HP and pontoon's.
Restart sim and the radio is 160HP, you are on amphib but the engine appeared to be 180P as takeoff and climb rate was strong/easy.

OK, I don't know how to apply the texture to the wheels, they are all one piece (not a rim and tire). Does someone have to make the texture and then it is applied in blender?

[2015-06-20 17:39] wlbragg commented on #273
Maybe I can do that, let me take a look at it. If I can just edit the regular tire texture by adding the black rubber to the rim. I guess this isn't rocket science.

[2015-06-20 17:42] gilbertohasnofb opened #319 "Improve the broken wing model"
@wlbragg what do you think if we improve the broken wing model by showing the wing structure through the broken point? I am talking about these green metal structures: http://www.mikejamesmedia.com/modo_media/modo_wip/cessna_310k/cessna_310k_138_ribs.jpg

Here you can see how they look in the 172: http://4.bp.blogspot.com/-FbGczdVEcts/UQaMdCgj4cI/AAAAAAAAAAs/IquO8W5p6xc/s1600/Cessna+172++glass+coc

[2015-06-20 17:43] gilbertohasnofb commented on #273
@wlbragg if you want, I can do the texture for you. But please explain to me exactly what you want because I was reading this whole conversation that attentively.

[2015-06-20 17:54] wlbragg commented on #273
![geard](https://cloud.githubusercontent.com/assets/11069680/8268438/3e92965e-174b-11e5-8934-4af0c3cc3de9.jpg)

Thanks gilbertohasnofb, but I think I might have managed to do it unless onox wants it darker then you can redo the whole thing (I just noticed your post as of right now or I would have said, go for it).

Better onox, or darker?

[2015-06-20 17:55] gilbertohasnofb commented on #273
@wlbragg no problems. And your work above looks good to me!

[2015-06-20 17:56] onox commented on #273
It looks good to me too :smile:

[2015-06-20 17:56] wlbragg commented on #273
onox liked the new amphibious rims with the old amphibious wheel's darker tire.

I am going to move the new wheels over to the damage model and want the final look before I do.

[2015-06-20 17:57] wlbragg commented on #273
OK, then I am going to start on moving it over to the damage.ac.

[2015-06-20 17:57] onox commented on #273
Can you do this in a new branch @wlbragg? Just do `git checkout -b bug-?` where ? is a new number.

[2015-06-20 17:58] onox commented on #273
Last time you broke master when you modified the pontoons :wink:

[2015-06-20 17:58] onox commented on #273
Make sure to create a new issue first.

[2015-06-20 17:59] wlbragg commented on #273
Yes, I use this dumb git gui, but I can make a new branch bug-? out of master and push it, correct?

[2015-06-20 17:59] wlbragg commented on #273
OK

[2015-06-20 18:00] wlbragg commented on #273
Because I didn't do a PR or was it something else?

[2015-06-20 18:06] wlbragg commented on #319
Yes, you want to just add the texture to part of the end of the wing?
Great idea, I don't like the symmetry of the existing damage.
I pinched the ends of the broke off wing, do they need to be opened back up?

[2015-06-20 18:09] wlbragg opened #320 "Amphibious gear damage model doesn't match default model."
Move original "working" amphibious wheels over to pontoon-damage.ac

[2015-06-20 18:28] onox commented on #273
I have fixed the mixture. I call it a day, see you guys tomorrow :smile:

List of remaining properties that I need to look at:

* `Models/c172p.xml`:
    - [ ] `/controls/anti-ice/engine[0]/carb-heat`
    - [x] `/controls/engines/engine[0]/throttle`
    - [x] `/controls/engines/engine[0]/mixture`

* `Models/Interior/Panel/Instruments/EGT/EGT.xml`:
    - [ ]  `/engines/engine[0]/egt-bug-norm`
    -

[2015-06-20 18:31] onox commented on #273
the front gear of the amphibious was visible for the regular pontoons.

[2015-06-20 18:32] onox commented on #273
But you later fixed it in bug-311.

[2015-06-20 18:37] onox commented on #273
@dany93 Is the weight of the engine defined somewhere?

[2015-06-20 18:42] gilbertohasnofb commented on #319
Yep, we can create a simple 2D object where the wing is broken (similar to the seat mounts for instance).

Aren't the wings losing their tips completely when they break? Because if they do, we should be able to see something like that: https://c1.staticflickr.com/5/4068/4431293697_5d2de5f2ce_b.jpg

Tell me what you think so I can work on it.

[2015-06-20 19:13] tigert commented on #273
I finally had time to give the 180hp version (the fixed, non-switchable version on @dany93 repo) a try, and it seemed pretty nice. I have no real experience on floats or on a 180hp c172 for that matter, but it seemed logically slightly improved in performance overall.

The one confusing thing I have though - the float STC manual stated 20 degrees of flaps on takeoff, and this is very very easy rec

[2015-06-20 19:52] wlbragg commented on #320
This is finished and it also included a fix for a previously unknown bug where the rudders we not always showing, depending on different combinations of select animations.

[2015-06-20 19:55] wlbragg commented on #319
Right, but I pinched that broken gap off, so you probably want the space back?

[2015-06-20 20:10] wkitty42 commented on #310
@gilbertohasnofb i thought it was your joke... i'm just using the (fixed) name, though ;)  on the sound of the stall horn: it should start off the same way no matter if flying or sucking on it... you suck on the hole at the leading edge of the wing to test it...

@onox yes, i know there's work being done on that... what i've seen it has been basically ""hardcoded"" sounds and changing them at cert

[2015-06-20 20:20] wkitty42 commented on #85
i haven't played with that branch yet... not since i've been working on this for the last 4 days or so... i will try to take a look at it, though... one thing in my testing that i've found is that using that stall-warning value doesn't seem to be working as i had hoped it would... it seems to be too slow on the count... i mean, i'm at 300 feet with an airspeed of ~42 kts (indicated.. not sure abou

[2015-06-20 20:27] wkitty42 commented on #273
@tigert in videos i'm seen, many floatcraft come out of the water one pontoon at the time... this to break the grip of the water on the 'toons... i haven't tried that and i don't know if i could come close to doing it with keyboard only... i don't have a joystick and my mouse is much too sensitive to try to fly with... i was watching a video of a STOL craft with a 100HP engine doing water takeoff

[2015-06-20 21:20] gilbertohasnofb commented on #319
Well, I don't particularly want anything unless you agree with me that this would be an improvement to your damaged model :smile: My proposal comes from the idea that when a wing breaks, it would normally break in between those structural points and that normally we would be able to see these structures, but I guess it's also possible to brake a wing in a way they don't show. So in the end it's ju

[2015-06-20 22:17] dany93 commented on #85
https://en.wikipedia.org/wiki/Angle_of_attack
https://www.youtube.com/watch?v=5wIq75_BzOQ

[2015-06-20 22:34] dany93 commented on #273
Not still. I was waiting for your opinions to go farther.
From 552SP POH p. 1-7 (23/384): empty weight 1663 lbs, or p. 6-12 (156/384) 1642 lbs, which would add about 163 or 142 lbs.
It will be in the FDM (location) and in bushkit.xml (conditional weight), like for the floats.

[2015-06-20 22:52] dany93 commented on #273
@tigert wrote

I wonder if the flaps in FG would not add to much drag. What do you think?
(this is the value from the original c172p)

[2015-06-21 03:40] wlbragg commented on #319
gilbertohasnofb, when I say "you want", especially in this context, it is just a figure of speech meaning I am looking for your definition of what it is your suggesting and how you might anticipate it will look.
I absolutely agree with where your going with this idea, I just need to know if you think we should open that space back up, for technical reasons? Is it easier to texture the end it it is

[2015-06-21 03:45] wlbragg commented on #316
Did anyone see and address the post to the dev-mailing-list about their being no tooltip for the "hide yoke" mouse over position? They also stated there is usually a gui menu choice for the same.

[2015-06-21 04:06] wlbragg commented on #314
from
http://forum.flightgear.org/viewtopic.php?f=4&t=25157&start=2055#p247971

onox, please try my suggestion above

...xml...

and let me know what you think. I don't think this includes the rainbow effect but it does appear to correct this users observation and I don't think there is a negative effect in doing this, (I have to verify this), and it may be that we want the full glass effect with r

[2015-06-21 04:28] wlbragg commented on #319
Here is an example of what I am talking about with the wing. If you have blender and can get around in it, look at the ends of wing_1BB, compare the two ends and you will see one is pinched together (left), the other is opened up about the same normal width of the wing (right).
https://copy.com/sYJeLFJBzmkJgqBC
Does this need to be one way or the other? If you want to use this Blend file for a tes

[2015-06-21 08:30] tigert commented on #313
You are right, the wet compass is not adjustable. It could be useful to have a larger-size popup of the compass when you click it since the dial is so small, though. Maybe it used to have something like that and the clickspot is still there?

[2015-06-21 10:05] onox commented on #316
Do people want a tooltip for the yoke?

[2015-06-21 10:11] onox commented on #273
@dany93 Adding the extra weight would be cool. I think you can just do (in your c172-eng160-180hp branch!) `git pull upstream bug-273` to get my commits I added yesterday.

[2015-06-21 10:38] onox commented on #314
If I do that I don't see any difference.

[2015-06-21 10:50] onox commented on #310
bug-85 also has just one sound whose volume and pitch is changed `Systems/c172p-sounds.xml`.

[2015-06-21 11:00] dany93 commented on #273
I am on it.
Calculating the location for CG at 38.1"  with 142 lbs added weight.
http://www.engineersflyingclub.org/planes/552SPPOH.pdf p.6-12 (156/384)
After that, add lines in bushkit.xml to conditionally take it..

[2015-06-21 13:50] wkitty42 commented on #316
@wlbragg yes, i did and i responded...

@onox wouldn't it be best if all clickables had tool tips? they are helpful for night flights if someone does not know about the flashlight...

there are other craft that i like to fly at night but almost cannot because i can't find the proper switches in the dark... if they would pop up tool tips, then i'd be able to find the switches i was after and get'er

[2015-06-21 13:51] wkitty42 commented on #310
ok...

[2015-06-21 14:16] dany93 commented on #273
Extra weight for 180 hp engine : done.
You should have it on my branch https://github.com/dany93/c172p-detailed/tree/c172-eng160-180hp

*Not important*, but it -set.xml file (lines > 552), limits are for 160 hp (appear in Fuel and Payload)
[code]
For 180 hp, they should be
[code]
I do not know if it is possible with only one -set.xml file

[2015-06-21 14:45] wlbragg commented on #314
Mine does, it looks like it puts some kind of reflection or noise on it. It is subtle and I can only see it at an angle.

[2015-06-21 15:10] thevirtualfer commented on #319
Hi guys.

Unfortunately, my ISP told me that the problem with my connection will be
solved only on August/12

cheers.

2015-06-21 1:28 GMT-03:00 wlbragg <notifications@github.com>:

[2015-06-21 15:17] onox commented on #273
I have pulled your commit into the bug-273 branch. Those limits can be changed in the property tree, so should be adjustable during runtime.

[2015-06-21 15:29] onox commented on #319
@thevirtualfer Do you happen to live in the US where you can choose from as many ISP's as long as it's the only ISP you can choose from? :open_mouth: I would switch ISP if they can't fix your connection within 1 or 2 weeks.

[2015-06-21 15:39] wlbragg commented on #316
Yes, on the mailing list it was mentioned and a menu entry.

[2015-06-21 15:40] wlbragg commented on #316
Keep in mind I am still a week behind in my reading the digest, so there may have been more discussion on it.

[2015-06-21 16:15] dany93 commented on #273
Limits: I have set them in `aircraft-dialog.xml` (short nasal scripts).
It works and I think it's a clean solution, but it only changes them when we switch engines. At start of the sim the values displayed are still those of -set.xml. I guess it should be set also at initialisation with the (archive?) values which finally set the engine used.

[2015-06-21 16:21] onox commented on #273
Note that I have added two commits, so if you have added a commit on top of your previous commit, you should do `git pull --rebase upstream bug-273`.

[2015-06-21 16:26] dany93 commented on #273
I have added no commit.
What should I do? Commit this incomplete solution?

[2015-06-21 16:26] onox commented on #273
It is incomplete?

[2015-06-21 16:27] dany93 commented on #273
Yes, because (see above) the values at start of the sim are those in set-xml instead of the last engine ones

[2015-06-21 16:28] onox commented on #273
What I would do is is define `<mass-and-balance>` for the 160 HP version + `<mass-and-balance-alt>` for the 180 HP. Then in some Nasal script you just flip the values.

[2015-06-21 16:29] onox commented on #273
@dany93 Can you perhaps paste the script at [gists](https://gist.github.com/)?

[2015-06-21 16:30] dany93 commented on #273
It is my first use of it, I see.

[2015-06-21 16:35] dany93 commented on #273
https://gist.github.com/dany93/7fb7e2a233b235faeb69

[2015-06-21 16:40] onox commented on #273
Ah, that's ok. Make sure to get the latest commits (I have added another one) and then commit that changes to `aircraft-dialog.xml` :smile:

[2015-06-21 16:41] gilbertohasnofb commented on #319
@onox I believe thevirtualfer lives in Brazil, and depending on where you live these problems can be quite annoying.

@wlbragg in order to show that structure, the wings would need to be opened indeed. I have seen pictures of planes with broken wings which are pinched but also which are opened (and thus the internal structures can be seen), so that's why I said that either way is fine with me. Per

[2015-06-21 16:41] onox commented on #273
Btw, you should actually set the values also when FG starts, because it might start with the 180 HP engine.

[2015-06-21 16:42] onox commented on #273
The place you could do this is in `Nasal/c172p.nas` on line 191.

[2015-06-21 16:42] gilbertohasnofb commented on #316
I am totally up for both the tooltip as well as the gui menu choice (and NOT inside the options menu, but as a standalone option in the C172P menu, which is typical for most aircraft).

[2015-06-21 16:44] onox commented on #273
One more thing. Can you add to `Nasal/c172p.nas` something like this:

[code]

etc.

[2015-06-21 16:45] onox commented on #273
On line 191 in `Nasal/c172p.nas` and in `aircraft-dialog.xml` you can then write `c172p.limits.engine_160hp.maximum-ramp-mass-lbs` instead of a magic number like 2407.

[2015-06-21 16:45] onox commented on #273
You might want to rename the words I used, otherwise it becomes too long :smile:

[2015-06-21 16:46] onox commented on #273
Hmmm... now I'm thinking about it, you might just as well define the limits in xml instead of nasal and then just use `getprop()`.

[2015-06-21 16:50] onox commented on #273
@dany93 Can you try to rename `<mass-and-balance>` to `<mass-and-balance-160hp` for the 160 HP version + `<mass-and-balance-180hp>` for the 180 HP version.

Then use `getprop()` in `Nasal/c172p.nas` on line 191 and in `aircraft-dialog.xml` to read and set the values.

[2015-06-21 16:50] onox commented on #273
The advantage of this is that all the numbers are in 1 place: in `c172p-set.xml`.

[2015-06-21 16:54] dany93 commented on #273
I have pushed my aircraft-dialog.xml, For the rest I am drowned and I think I will not have the time.
I look at your indications but I am pessimistic.

[2015-06-21 16:54] onox commented on #273
I'll make the modifications then.

[2015-06-21 16:55] dany93 commented on #273
Thank you! Sorry.

[2015-06-21 17:09] tigert commented on #319
often the wing just crumbles too. I guess if it is overstress in the air it likely gets torn off, but on crashed aircraft often the skin stays on and just crumbles at the impact point, much like the bending damage we have (had before?)

Doing custom damage model for each kind of overstress and impact might be a bit overkill though. :)

[2015-06-21 17:11] gilbertohasnofb commented on #319
Oh sure, I never meant that! I just meant that we should choose a single damaged model, and I proposed to _maybe_ change ours as to show the inner structure. But I am also fine leaving it as it is since our damaged model is quite good :)

[2015-06-21 17:21] dany93 commented on #319
I'm afraid you are making this aircraft heavy (in Mo) for secondary features. In the end, bad for the fps... And impossible for those who do not have a very recent computer.

[2015-06-21 17:28] gilbertohasnofb commented on #319
@dany93 Well Dany, I was thinking about adding a single 2D object of the wing structure, and the texture could well be inside one of the already existent png files, so I hardly think this would make the aircraft any heavier on the CPU. But I kind of see your point, although we surely have different views on this. As much as I agree that the model shouldn't be an overkill of thousands of unnecessar

[2015-06-21 17:30] onox commented on #273
Pushed.

[2015-06-21 17:36] dany93 commented on #273
Thank you for your efficiency.
Good bye, I have to stop.

[2015-06-21 17:37] onox commented on #273
See you later alligator! :crocodile:

[2015-06-21 18:03] tigert commented on #273
Wow, this stuff is fun to follow, just saying ;-) Quite some collaboration!

[2015-06-21 18:04] onox commented on #273
@tigert Do you know how many static ports the 172 has?

[2015-06-21 18:04] onox commented on #273
I read info about 1 on the side of the left cabin in the front + 1 behind the left door.

Or 1 on the side of the left door + 1 in the cockpit itself.

[2015-06-21 18:05] onox commented on #273
Currently the static ports is influenced only by side-slip angle. But I can change the type so that it also takes AoA into account.

[2015-06-21 18:26] onox commented on #316
Could you make a new issue for this?

[2015-06-21 18:31] gilbertohasnofb opened #322 "Create tooltip and GUI menu option for removable yoke"
Create tooltip when hoovering above the removable yoke mount and also a GUI menu option for it. The menu option "Hide/show yoke" should not be inside the aircraft options menu (where we have engine type, repair, wheel type, etc.), but as a standalone option in the C172P drop down menu itself, which is typical for most aircraft in FG.

[2015-06-21 18:31] gilbertohasnofb commented on #316
@onox Absolutely, here it is: https://github.com/Juanvvc/c172p-detailed/issues/322

I didn't assign a milestone because I don't know if this qualifies as a bug or a feature. What do you think?

[2015-06-21 18:33] onox commented on #273
I think most of all the stuff is working now. Still need to fix the EGT instrument and probably also the instrument that uses the `indicated-oil-temperature-degf` and `indicated-oil-pressure-psi`. Apparently `/engines/engine[1]` doesn't have those two for some reason. Need to investigate that.

Also, I'm not sure joysticks can control the throttle and mixture via their joysticks axis right now. I

[2015-06-21 18:35] onox commented on #316
People have complained about it, so I think it can be qualified as a bug :smile:

[2015-06-21 18:38] onox commented on #273
I'm gone for tonight. Hopefully some people can do some testing. Make sure also to test the checklists and tutorials.

[2015-06-22 03:07] wlbragg commented on #319
@dany93, thank you for keeping us grounded.
As gilbertohasnofb said, we are only talking about a single 2D object of the wing structure, and the texture could well be inside one of the already existent png files.
I think gilbertohasnofb was correct in suggesting we look at the possibility of doing this minor texture upgrade to the existing damage model. I was never happy with my final version bein

[2015-06-22 07:33] tigert commented on #273
Playing with the switchable engine version now from dany's branch, if I managed to get the thing
checked out correctly. In any case, I had the dialog with switchable engine HP that worked.

Found these issues:

   * Middle-mouse forward/back dragging in mouse yoke mode did not operate the 180hp throttle (likelyt due to the two separate throttles issue, had to use keyboard 3-9 to do that.
   * Swit

[2015-06-22 09:36] dany93 commented on #273
@tigert wrote:

*Thanks for your feedback.*

I think it is intentional. And has some logic.
https://github.com/Juanvvc/c172p-detailed/issues/273#issuecomment-113734231
 Yo can still switch to 180hp.

Not disturbing IMO, I would even say "normal". This is a non realistic operation, anyway we can start the engine again.
Normally done before start, on the ground. We are lucky, doing it IRL is more di

[2015-06-22 11:37] onox commented on #273
git is his backup. If `git status` shows the file has been modified, you do `git checkout -- Systems/bushkit.xml` to restore it.

[2015-06-22 12:48] gilbertohasnofb commented on #319
Cool @wlbragg, I am already working on this. And by the way, is this a "new feature" or a "bug fix"? We are basically improving a feature we already have, so I guess it could be fine to have a 3.6 release milestone. What do you think? Any ideas, @onox ?

[2015-06-22 13:07] gilbertohasnofb commented on #319
@wlbragg Done, see the file Models/wing.png on master. I didn't add these structures to every livery's wing.png as we don't need to make it livery-dependent. Let me know what you think.

[2015-06-22 13:13] onox commented on #319
If you look at that way you can consider the 3.6 release milestone :smile:

[2015-06-22 13:14] gilbertohasnofb commented on #319
@onox thanks :smile:

[2015-06-22 13:16] onox commented on #319
Is that commit you added to master the only thing we can expect or does this issue need more commits?

[2015-06-22 13:18] gilbertohasnofb commented on #319
From my part that was the only commit (unless wlbragg wants me to improve something on that texture). But now wlbragg will have to create the 2D object and apply the texture in his damaged model, so I guess we should wait for that before closing this.

[2015-06-22 13:18] onox commented on #319
Feature branches :sob: :sob: :sob:

[2015-06-22 13:19] gilbertohasnofb commented on #319
I don't understand, sorry...

[2015-06-22 13:20] onox commented on #319
Never mind @gilbertohasnofb :stuck_out_tongue_winking_eye:

[2015-06-22 13:20] gilbertohasnofb commented on #319
No, please tell me so I don't do the same thing next time. You mean that since this is not only a texture fix but also will include some other modifications I should have created a branch for it?

[2015-06-22 13:20] onox commented on #319
That would have been nicer, yes.

[2015-06-22 13:21] onox commented on #319
Shall I force push again to pretend it didn't happen? :stuck_out_tongue_closed_eyes:

[2015-06-22 13:23] gilbertohasnofb commented on #319
Is that really necessary? These force pushes have been breaking my repository all the time, and this is just a texture modification. What about this: I will create a new branch now in which wlbragg will do his work. If any modifications to this texture is needed, I will also do it in that branch. Then we merge back with the master once the work is done.

Also, next time I am adding something (text

[2015-06-22 13:24] onox commented on #319
I think we can better do it now. I'm here for assistance anyway.

Can you backup that texture file you added?

[2015-06-22 13:24] onox commented on #319
Yes! :smile:

[2015-06-22 13:24] gilbertohasnofb commented on #319
Ok, then go for it! And yep, I always do my work on a different folder so I always have a copy of it. Just reset the master and I will create a new branch!

[2015-06-22 13:25] onox commented on #319
Okay. Do this:

1. `git reset --hard 636767ac4dd90e5d173846c60b7dfcb31f86ebd1`

2. `git pull`

[2015-06-22 13:27] gilbertohasnofb commented on #319
Done. So just to confirm, now I do a `git checkout -b bug-319`, then add my stuff and commit it, then I do a `git push -u` right?

[2015-06-22 13:27] onox commented on #319
Yes.

[2015-06-22 13:32] gilbertohasnofb commented on #319
Sorry onox but it didn't work. After I did `git push -u`, I got:

    Branch master set up to track remote branch master from origin.
    Everything up-to-date

And I can't see the new branch nor the modifications here on GitHub...

[2015-06-22 13:32] onox commented on #319
Btw, sorry that I'm so persistent on it, but if you always do your stuff in a feature/topic branch, then your work can be reviewed and tested, and when it's ready it can be merged to master. If instead you just simply commit directly to master, then no one can review and test your changes. If you accidentally break something, you break it for everyone.

If you're the only person working on a repos

[2015-06-22 13:32] onox commented on #319
What does `git branch` say?

[2015-06-22 13:33] gilbertohasnofb commented on #319
That I am at `bug-319` branch. Locally everything is fine, the problem was with the push I believe.

[2015-06-22 13:33] onox commented on #319
`git push -u origin bug-319`

[2015-06-22 13:34] onox commented on #319
Did you add a commit to bug-319 branch?

[2015-06-22 13:35] gilbertohasnofb commented on #319
`git push -u origin bug-319` did the trick, thanks! So I guess the problem was that I was using only `git push -u`. Thanks again, onox...

[2015-06-22 13:35] onox commented on #319
I got it:

[code]

[2015-06-22 13:36] gilbertohasnofb commented on #319
Okay, so let me repeat this so it doesn't get lost:

@wlbragg Done, see the file Models/wing.png on the branch `bug-319`. I didn't add these structures to every livery's wing.png as we don't need to make it livery-dependent. Let me know what you think.

[2015-06-22 13:37] onox commented on #85
@gilbertohasnofb Do you know if the core devs have made a final decision about (dis)allowing CC-BY sound files? (So we can have a loopable variant of the original stall sound)

[2015-06-22 13:39] gilbertohasnofb commented on #85
No, they didn't.... I am also waiting for it, but that thread is just getting bigger and bigger everyday without anything being decided. But given that there seems to be no consensus there by any mean, my guess is that they will settle for not changing anything, meaning no CC-BY. I will update you all about it once that discussion is over.

[2015-06-22 13:40] onox commented on #85
I'll ask then.

[2015-06-22 15:08] gilbertohasnofb opened #324 "Dark airplane with model shader full on"
Sometimes when there are some clouds the airplane model looks extremely dark when the model shader is full on. Here are some images taken in a spot where the clouds should **not** be casting in shadows in the airplane (last shots shows that there are no cloud shadows in this area):

http://s29.postimg.org/g8fhbhuav/model_shader.jpg

[2015-06-22 15:10] gilbertohasnofb opened #325 "Magneto switch has different illumination depending on its position"
When set to BOTH, the magneto switch looks much brighter than when set to OFF, L, R or START. IMO the brighter starter looks better and is easier to read. See:

http://s28.postimg.org/ab42gk1jh/magneto_switch_bug.jpg

[2015-06-22 15:37] #320 closed

[2015-06-22 15:48] tigert commented on #324
I have seen this with many aircraft like cessna 337 for example. I have a laptop which uses the intel opengl driver. Maybe check if this happens with other aircraft as well?

[2015-06-22 15:57] onox commented on #273
Fixed.

[2015-06-22 16:02] tigert commented on #273
Yeah, trying to find time to test more. Maybe we can get @wezzer to install flightgear and do some tests as well, he's a long time sim and aviation club friend. ;)

By insane I meant that the drag of pontoons must be a lot, because they are big. I have no problems with the flight characteristics other than the case when you get stuck on the high drag/low speed regime and don't have the altitude to

[2015-06-22 16:04] wkitty42 commented on #324
it is possible the clouds are outside the LOD range for rendering? i've seen this when i turned on cloud shadows... it could be a bug in fg though...

[2015-06-22 16:12] dany93 commented on #273
@tigert wrote

That's why I had firstly set more drag (+30% and +35%). But that was almost impossible.

[2015-06-22 16:12] wlbragg commented on #319
OK, I'm a little behind, give me a bit (later today) and I'll take a look, thanks!

[2015-06-22 16:14] gilbertohasnofb commented on #324
@tigert It happens with the Cessna 337 to me as well, but not nearly as bad as in the image I posted above (that is, it doesn't get that much darker). Another example is the Cap10B, which gets only slightly darker but not much at all. So the possibilities are:

- this is caused by some drivers or some GPUs (although unlikely since we are on different vendors: I am using the ATI opengl driver)
- th

[2015-06-22 16:14] gilbertohasnofb commented on #324
@wkitty42

I will test that.

[2015-06-22 16:18] wlbragg commented on #325
This could be something to do with interior shadow on the gauges, comment out effects code block in
Models\Interior\Panel\Instruments\magneto-switch\magneto-switch.xml

[code]

[2015-06-22 16:22] gilbertohasnofb commented on #324
@wkitty42

Okay, so indeed this seems to be related to cloud shadows. I believe the shadows are not very precise and therefore the plane looks dark sometimes even though the sun can be directed seen. Also, it's in  some specific weather conditions that this effects gets particularly strong (such as in the screen shots I posted above).

Anyway, so probably this bug isn't related to us at all. Closi

[2015-06-22 16:22] #324 closed

[2015-06-22 16:23] gilbertohasnofb commented on #319
No rush at all, take your time and let me know if you need anything to make it work. Thanks!

[2015-06-22 16:24] gilbertohasnofb commented on #325
@wlbragg Do you think you could have a look on it once you get the chance? I don't understand how the effects work in FG :cry:

[2015-06-22 17:09] wlbragg commented on #325
Yes,
hopefully I can duplicate your visuals.

[2015-06-22 17:13] gilbertohasnofb commented on #325
If you can't, please let me know so I can try to narrow down in which conditions they appear. Right now I can make it consistently appear when I choose the theme "Stormy Monday" using AW, ALS. Also, cloud shadows make no difference here.

[2015-06-22 17:40] dany93 opened #326 "Hydrodynamics: soften the bouncing behaviour with floats for 3.6?"
I say it again, I know nothing about float planes. All that I can say (from the videos, and the pilots who are still alive!) is that the current brutal bouncing behaviour cannot be the reality. Moreover, this will move people away, discourage them from practicing the floats, which would be a great pity. IMO, this anomaly must be softened for the 3.6 release.

I am trying to propose something which

[2015-06-22 18:22] wlbragg commented on #326
Cool, thanks dany93, I'll have my opinion for you by tomorrow morning CST. Thank you for taking it upon yourself to do this. I am in agreement that we need to soften the brutal effect, even if we loose a bit of reality elsewhere.
My opinion so far was, I would rather have the brutal behavior rather than the complete lack of reality that it had without the hydro FDM.

[2015-06-22 18:25] onox commented on #326
You're right about the fact that the bouncing behavior needs to be softened for 3.6. However, you have based your hydro branch on your c172-eng160-180hp branch. Please checkout master, then checkout a new branch (hydro-soft or something, just give it a new name) and then add that single commit to it.

[2015-06-22 18:27] onox commented on #326
@andgi Can you take a look at @dany93's commit?

[2015-06-22 18:28] onox commented on #326
@dany93 Unless you meant hydro to be a temporary branch with the 180 HP engine added.

[2015-06-22 19:11] onox commented on #85
@gilbertohasnofb I think we have a green light for a loopable variant of the original stall horn sound:

c172p-detailed team.  I'll get their CC-BY sounds committed as
soon as possible,

of a link to the GNU compatible license page) in the next draft of the
Policy document.

[2015-06-22 19:57] wlbragg commented on #325
Don't waist any more of your time on this. It is related to the internal shadow and flashlight effect. But there is even more that needs to be addressed. I am preparing a video and explanation so all of us (current developers) can sort this out and come to some kind of consensus.

[2015-06-22 20:24] andgi commented on #326
I think reducing the planing pitch and roll moments by 5 (0.01 to 0.002) is going a bit too far - I think it makes the water act too soft at fast planing speed.
@dany93 How did you arrive at 0.002?

Reducing them by about 2 (0.01 to 0.005 or 0.004) leaves some character while still making it much more tolerant than before.

[2015-06-22 20:48] wlbragg commented on #325
Here is the issue...
I added the internal shadow effect to all gauges because it was necessary if we wanted the flashlight to illuminate the gauges and not produce a black void.
Effect Applied
https://dl.dropboxusercontent.com/u/63093453/fg/eapplied.jpg
Effect Not Applied
https://dl.dropboxusercontent.com/u/63093453/fg/enotapplied.jpg
Also because technically a shadow should fall on the gauges.

H

[2015-06-22 20:56] onox commented on #326
I think 0.002 is indeed too soft. 0.005 is better.

[2015-06-22 22:23] gilbertohasnofb commented on #85
@onox new looped stall sound already uploaded to branch bug-85! Same name as before: `stall2.wav`. I also removed the scratches layer from OH-CTL and ZS-MDF liveries and those have been uploaded directly to master. Hope that now everything is settle :smile:

[2015-06-22 22:25] gilbertohasnofb commented on #325
Hmm, I see. Should we contact Thorsten and explain the issue we are having? Maybe he is not aware of it.

[2015-06-22 22:31] wlbragg commented on #325
I sent him a message, he should respond here in time.

[2015-06-22 22:31] dany93 commented on #326
@andgi wrote

Yes and no.
The added tables doesn't do anything in the  normal operating range. The  straightening up moment increases for small angles as your tables set it. As long as the floats still touch the water for at least half their length for pitch or as long as the upper float still touches for roll.

But they are not here just to "lessens the risk of strange reactions when flipping ove

[2015-06-22 22:32] gilbertohasnofb commented on #325
Thanks!

[2015-06-23 07:10] wlbragg commented on #325
Thorsten was kind enough to explain it to me again (I guess I am getting Oldtimers). I knew we were going to have some trouble if I applied the shadow effect to the gauges but didn't know I could use the flashlight without using the shadow map.
So the answer is to not use the shadow map on the gauges. I will edit all those files and commit a PR, hopefully by tomorrow afternoon.

[2015-06-23 07:22] wlbragg commented on #325
Reminder to myself, add yoke and yoke attachment point to flashlight effect and check rudder peddles.

[2015-06-23 08:21] dany93 commented on #326
@onox
someguy has some issues with this 160 - 180 hp version.
http://forum.flightgear.org/viewtopic.php?f=4&t=25157&p=248188#p248188

[2015-06-23 08:38] andgi commented on #326
@dany93 I see. Yes, the original model certainly disclaims everything beyond the range of the buoyancy data. I wonder if the tables for approximately extending this range shouldn't rather be in the buoyancy moment terms (then including an approximation of the `hydro/float/height-agl-ft` dependency). The planing moment terms OTOH could be further constrained since planing is not possible in many of

[2015-06-23 09:26] dany93 commented on #326
I was just looking at your code.
[code]
I do not understand for the **product** of `qbar-u-psf` x `buoyancy-pitch-moment-lbsft`
(maybe that's me!!)
Wouldn't it be better to calculate the buoyancy force and the planing force for the current state, do a **sum**, then calculate the moments?
Their sum is at first view the weight force minus the lift force. I guess that you already take this into accou

[2015-06-23 09:43] andgi commented on #326
@dany93 The planing moment terms are just guesses. The product is there to increase its strength with u-velocity^2 as you do with the aerodynamic moment terms (yes, I'm aware the static buoyancy moment is not a coefficient). What the static buoyancy moment terms do have is implicit information on which part of the floats that are in the water - and lacking other sources for that information I use

[2015-06-23 09:52] dany93 commented on #326
I agree that it is too difficult. However, I think that your current estimation with angle (proportionality up to 8 or 12 deg) can give very acceptable results.
The more difficult is in the planing contribution to the moment. It can be considered as proportional to `qbar-u-psf` as long as it replaces the buoyancy, *not beyond*.

[2015-06-23 10:18] gilbertohasnofb opened #327 "Test the plane once merged with fgdata"
This is just a remind to us all that we must test the plane in fgdata once it's merged. For instance, Torsten had reported in the mailing list that two livery files were duplicated (one version capitalized, the other not). Obviously all of us are only using our own repository since we are still working on fixing bugs, but I think that it would be good if we check the plane directly from fgdata onc

[2015-06-23 10:37] andgi commented on #326
@dany93 I think "as long as it replaces the buoyancy, not beyond" is a too static/equilibrium centred view - in a stable/"steady" state that will be the outcome (and is, I think), but the large moments and forces occur as part of dynamic processes when a part of a float plunges deeper than its equilibrium position and then I would expect the planing force and moments to easily exceed those generat

[2015-06-23 10:43] dany93 commented on #326
I agree. Thus my edited corrections.

At further thought, the planing forces can be very strong with speed. I am lost... And no longer know what to suggest.

*I am writing at the same time that I am thinking about it...*

[2015-06-23 12:05] onox commented on #85
@gilbertohasnofb Can you update the `Thanks` file? Please copy, edit and use the file from the master branch.

[2015-06-23 12:10] gilbertohasnofb commented on #85
@onox But the `Thanks` file at `bug-85` is the most recent one, I already updated it. It should overwrite the `Thanks` file automatically once we merge this branch.

[2015-06-23 14:08] dany93 commented on #326
I have created a new branch **hydro-soft-160hp**
https://github.com/dany93/c172p-detailed/tree/hydro-soft-160hp
Starting from the current Juanvvc master (160 hp)
Added my hydrodynamics changes.

I have put the values for pitch and roll planing moments at **0.004**. **Do you consider this acceptable?** If not, I'll change for 0.005.

After this, is this the usual way (Pull Request from my hydro-sof

[2015-06-23 14:11] onox commented on #85
In master branch you have written for the parking brake and trim sounds: "which kindly allowed it to be used under under the CC0 license".

Should I use https://github.com/Juanvvc/c172p-detailed/blob/bug-85/Thanks or https://github.com/Juanvvc/c172p-detailed/blob/master/Thanks ? Because currently the two file are conflicting.

[2015-06-23 14:14] onox commented on #326
@dany93 Ignore version-3.6 branch. Just create a PR for master once @andgi is OK with the changes.

[2015-06-23 14:24] dany93 commented on #273
Can the 160 - 180 hp version still be included for 3.6 release?

[2015-06-23 14:35] gilbertohasnofb commented on #85
You are right, onox. In the end it doesn't really matter since we have been allowed to use CC-BY files, but I updated the file on the branches `bug-85` and `master` (so they shouldn't conflict any more) and I will paste those authorizations in the forum thread (something the devs recommended me to do).

[2015-06-23 14:39] onox commented on #273
Yes, without the 180 HP engine it is too difficult to takeoff from the water for most people, so that extra 20 HP is needed. It is mostly a matter of simply adjusting a lot of property paths. Not very difficult with `/usr/bin/find` and `/bin/grep`.

[2015-06-23 15:11] gilbertohasnofb opened #329 "New crash sounds"
I just added two new sounds to our project to be used when the plane gets damaged:

- `crash.wav` sound (when the plane is completely shattered)
- `damage.wav` for smaller damage (such as damage to the wing only, but not a complete destruction to the plane

A new branch `bug-329` has been created.

[2015-06-23 15:16] #85 closed

[2015-06-23 15:39] andgi commented on #326
For me 0.004 is fine. Please, go ahead.

[2015-06-23 15:59] wkitty42 commented on #327
i have been flying both craft... the new one in fgdata and the one in my local development repo... i haven't noted any specific problems with the one in fgdata... i do, however, see the lowercase Models/Liveries/n301dp.xml file of 760 bytes in size dated 9 Mar 2015 07:53AM... it does also show up in the livery list in the sim...

as i always use the --launcher, what i do is to search for 172p and

[2015-06-23 16:02] wkitty42 commented on #273
i have to wonder if those having problems are too anxious or rough in their flight... i fly with the keyboard as that's the only real method i have available... i can take off with few problems... if i get antsy or overly rough, yeah, i crash but not if i'm slow and steady breaking free and leveling out to gain speed before climbing... maybe it is just me? i dunno...

[2015-06-23 16:44] wlbragg commented on #273
If you watch some of the RL videos, they are able to take off in a much shorter run. The 180 seems to have given us that ability. I have to a have a really long run in the 160.

[2015-06-23 16:50] wkitty42 commented on #273
@wlbragg kinda makes me wonder if they are using flaps on takeoff and then retracting them as soon as they are airborne so they can gain speed for the climb...

[2015-06-23 16:58] gilbertohasnofb commented on #327
@wkitty42 Great, so please report here any conflicts you see, okay? Stuart said he will empty the c172p folder before merging our project, so no old files should be conflicting there. Anyhow, let's double check them later, okay?

[2015-06-23 19:13] onox commented on #327
I think they didn't get remove all the files before copying the new c172p.

[2015-06-23 19:13] gilbertohasnofb commented on #322
From the mailing list:

Oops, seems at this moment fgdata is a
melange of the old c172p, and the new detailed!

Went to add the 'Show/hide yokes' to the menu
since I know this is just a few lines of xml,
and find we now have TWO(2) c172-menu.xml files!

  Dialogs/c172p-menu.xml
  gui/dialogs/c172p-menu.xml

The first is where the old c172p had its menu,
and the second is the new 'detailed' menu!

[2015-06-23 19:14] onox commented on #322
I'll do this.

[2015-06-23 19:14] gilbertohasnofb commented on #327
That's what it looks like.

[2015-06-23 19:14] gilbertohasnofb commented on #322
Thanks!

[2015-06-23 19:15] onox commented on #322
Which position do you want the item?

[2015-06-23 19:16] onox commented on #322
Under Flashlight ok?

[2015-06-23 19:16] gilbertohasnofb commented on #322
Sounds good to me.

[2015-06-23 19:27] onox commented on #322
@gilbertohasnofb :arrow_up: :smile:

[2015-06-23 20:05] wkitty42 commented on #327
:+1:

[2015-06-23 21:25] #322 closed

[2015-06-23 21:33] wlbragg commented on #325
Done - see #332
There is a fine line between what gets the shadow effect (which includes the flashlight effect) and what only gets the flashlight effect. It is up to us to decide when the shadow effect causes problems on an object.
As it stands now, all internal buttons and knobs and all internal objects in Models/c172p.xml have the shadow and the flashlight applied.
All gauges only have the flash

[2015-06-23 21:35] gilbertohasnofb commented on #325
Okay, so let's keep our eyes opened for other potential problems that may appear. I will test your PR right now.

[2015-06-23 21:40] gilbertohasnofb commented on #322
Tested, :+1:

[2015-06-23 21:41] gilbertohasnofb commented on #319
@wlbragg related in a certain way: https://github.com/Juanvvc/c172p-detailed/issues/329

[2015-06-23 21:49] wlbragg commented on #319
gilbertohasnofb, I have both ends of the "both wings broken" model closed off and uv mapped with your new texture. For some currently unknown reason, it is not carrying over to the model in FG (I am completely new to mapping textures to models in Blender). So I preparing to post a forum request for help here shortly. I can't wait to see it in the sim.
I was under the impression that we were going

[2015-06-23 21:51] gilbertohasnofb commented on #319
Oh, that is really not my area of expertise either! I have so far only created textures, and then either @Juanvvc, @thevirtualfer or @dg-505 would apply them in the model. So it's better to ask them what's the best route to take.

[2015-06-23 21:54] wlbragg commented on #319
OK, the question still stands for @Juanvvc, @thevirtualfer or @dg-505.

What cost are associated to having a totally different texture set for damaged models?

[2015-06-23 21:56] wlbragg commented on #325
If not and it is just part of the textures, why is it not illuminating same as the all the other interior objects?

Anyone know the answer to this?

[2015-06-23 21:58] gilbertohasnofb commented on #325
The texture is located in the bottom right of panel_parts.png, and the rectangular object in which this texture is applied was created by @Juanvvc on this issue: https://github.com/Juanvvc/c172p-detailed/issues/21

[2015-06-23 21:59] wlbragg commented on #325
Thank you!

[2015-06-23 22:14] wlbragg commented on #325
One more commit under this see PR  #334

[2015-06-23 23:37] #325 closed

[2015-06-23 23:39] onox commented on #298
@wlbragg Did PR #332 fix this?

[2015-06-24 00:06] onox commented on #314
In Rembrandt? To be honest I only checked for differences under ALS.

[2015-06-24 00:21] wlbragg commented on #314
No, in ALS.

[2015-06-24 00:22] wlbragg commented on #298
Probably

[2015-06-24 01:23] wlbragg commented on #298
I'm sure this was the internal shadow on the gauges, if it appears again open a new issue.

[2015-06-24 01:23] #298 closed

[2015-06-24 05:38] tigert commented on #306
The way it works in the real plane, is that each radio (com1, nav2, adf etc..) has its own volume knob. And then the audio panel controls the intercom (or speaker) volume. This is usually slso separate for pilot and copilot (and the rest of cockpit, some fancier audio panels have also "isolate crew" and "isolate pilot" switches so you can split the pilot and copilot out and let the passengers (all

[2015-06-24 10:46] dany93 commented on #326
@andgi (and who wants)
To soften this too (IMHO) brutal rebound from the rear part of the floats in planing,
what would you think of something like this?
https://github.com/dany93/c172p-detailed/tree/hydro
(see table for 12 and 45 pitch-deg)
[code]
It is much more pleasant if we keep a good control of the pitch angle, without losing its reactivity if we let the yoke at neutral or with a bit of nos

[2015-06-24 18:53] andgi opened #336 "MP problems experienced when a remote user runs the old c172p model."
Apparently (I don't use MP these days), there are some problems with the MP/AI model when a user with the new c172p(-detailed) receives data from a user that uses the old c172p model (e.g. using the current or a previous FG release).

It is possible to avoid some, but perhaps not all, of these problems by coding the conditions and expressions of the new animations defensively. If a required proper

[2015-06-24 19:12] gilbertohasnofb commented on #327
@onox please check what Stuart wrote in the list:

c172p-panel-only-set.xml - high resolution panel-only display for multi-computer setup
c172p-canvas-set.xml - Canvas demo with a CDMU and Canvas hooks.

[2015-06-24 19:30] onox commented on #336
I don't think it's really unavoidable. It's a one time pain that you have to go through. 3.8 will probably be less painful.

To give an example, a lot of aircraft that use registration numbers (aka "immatriculation") use (waste) six generic ints (int[14] to int[19). What we did is use string[0] instead with about [six lines of Nasal code](https://github.com/Juanvvc/c172p-detailed/blob/master/Model

[2015-06-24 19:54] andgi commented on #336
Yes, some problems may be unavoidable but it is probably possible to avoid the the most visible ones, like broken wings. E.g. if the wing state is sent over a property/properties unused by the old c172p a few lines of Nasal in the model file could ensure that old c172p:s are not represented with broken wings.

[2015-06-24 20:02] onox commented on #336
We could add a version number.

[2015-06-24 20:16] onox commented on #327
I see that, but I didn't delete those files. Also I wonder if keeping `c172p-canvas-set.xml` is a good idea, because we can always get it back from git. It's probably also very out-of-date.

[2015-06-24 20:24] gilbertohasnofb commented on #327
@onox Oh, I didn't mean you yourself deleted them, I am just pointing it out to you that at some point someone deleted them. And I wouldn't know the advantages/disadvantages of having/not having them, so I thought I would share this with someone more knowledgeable :smile:

[2015-06-24 20:25] wezzer commented on #273
I tried to google for reference material about drag penalty of floats, and this was the best hit I got: https://etd.auburn.edu/handle/10415/2743

It's a quite interesting thesis of amphibious planes and their design, and while it doesn't give us any simple nor clear answers, it has some data from wind tunnel tests with C172R no floats vs. with floats. Take a look at Table 4 on pdf page 78 and Figu

[2015-06-24 20:29] andgi commented on #336
Yes, but wasting a MP property for that doesn't feel good. It might be enough to check the value of some property/ies that the new c172p sends and the old doesn't to separate them.

[2015-06-24 20:53] onox commented on #327
Aren't we going to add this nice glass cockpit for 3.8?

[2015-06-24 20:54] gilbertohasnofb commented on #327
You mean the one from project Farmin? I think @Juanvvc was interested in doing it (I vaguely remember some post by him about this on the forum thread).

[2015-06-24 21:35] onox commented on #327
Yeah.

[2015-06-24 21:55] gilbertohasnofb commented on #327
Also, if I am not mistaken, someone was already trying to implement it and posted some images of a functioning c172p-detailed with a Farmin on it, but it was very crudely done (there was no modification to the 3D model, it they just added the glass above the regular cockpit).

[2015-06-24 22:05] onox commented on #327
Yeah, I remember those screenshots.

[2015-06-24 22:38] onox commented on #273
That would be interesting :smile:

I have fixed the throttle/mixture axis for joystick users in branch [bug-273](https://github.com/Juanvvc/c172p-detailed/commits/bug-273).

[2015-06-24 23:04] dany93 commented on #273
Many thanks @wezzer for having found this publication.
I see that amphibious add 41 to 49% drag.
I had initially put +35% by estimation from the cross section, but it was almost impossible with the 160 hp engine. I lowered it to +20% (floats) and +22% (amphibious).
Currently, the extra drag is still at +22% for amphibious. That may be partly why the max speed is a bit high.
https://github.com/Juan

[2015-06-24 23:26] onox commented on #273
But you can still ask JSBSim about the curve it is using by reading the various coefficients, correct?

[2015-06-24 23:41] onox opened #338 "Add back panel only variant"
Add back the high resolution panel-only display for multi-computer setup from the old c172p.

[2015-06-25 00:17] onox commented on #338
@stuartbuchanan @Juanvvc @gilbertohasnofb Do you really want a separate `c172p-panel-only-set.xml` file or can I add `<panel>` to the regular -set.xml file? Basically the only thing it does is define `<panel>`, set a different `<description>`, and change the pitch offset of the cockpit view -8 degree.

[2015-06-25 03:10] wlbragg commented on #336
I'm not sure we should try to stay compatible with the original c172p. I thought the whole idea was that this replaces the original.

@onox, if we are going to try to maintain the original along side the new, you and I probably need to do am MP session, one old one new and log the problems. Then see if it is practical to fix.

[2015-06-25 05:20] tigert commented on #338
We should also port the fgpanel panel from the old 172, that is nice if you want a flight training device setup with two monitors.

[2015-06-25 05:24] tigert commented on #338
That could be a different issue though, will make one.

[2015-06-25 05:29] wezzer commented on #273
@dany93 I made the same observation on p. 78 and similar values could be extracted from the CL/CD graph on p. 158.

However taking these values directly is not the right approach here IMO. As everything affects everything in aerodynamics, I'd rather try to iterate correct values by testing the outcome. For example, by test flights to achieve correct glide ratio.

I was wondering if we could work o

[2015-06-25 05:30] tigert opened #339 "Port fgpanel panel from old c172p"
Fgpanel lets you view a special panel with 2D xml instruments on a separate monitor.

https://www.dropbox.com/s/y1zobptukekdit7/000fgpanel.jpg?dl=0

This is useful for making a flight training device, or if you just have two monitors, you can have the instrument panel on one.

There was a c172 fgpanel variabt in the old 172, we could port that and the protocol file over to this.

[2015-06-25 08:16] gilbertohasnofb commented on #338
Maybe having only one `-set.xml` file would be better. This way there is a single option for this plane when launching FG (those 4 options of the older c172p were very confusing for me when I first started in FG).

[2015-06-25 09:36] dany93 commented on #273
@onox wrote
<But you can still ask JSBSim about the curve it is using by reading the various coefficients, correct?

Yes. This is a big advantage of JSBSim. You can read the values (tables) and have a full control.
But these curves are (at start, most often from aeromatics) standard ones, which do have not a great value other than indicative. Not very detailed.
They are rather to give a template a

[2015-06-25 09:41] tigert commented on #339
I can look into this.

[2015-06-25 09:42] gilbertohasnofb commented on #339
Thanks!

[2015-06-25 09:43] tigert commented on #339
Would assign to myself but I lack repo superpowers it seems :)

[2015-06-25 09:44] gilbertohasnofb commented on #339
I would assign you but because of your lack of superpowers means your name is not listed as an option for assignee. Let's ask @onox if he knows a way of doing this.

[2015-06-25 09:51] tigert commented on #273
Talked with one of the "ctl guys" yesterday and he said it climbs with 20° flaps, they do not specifically accelerate in ground effect to raise flaps.

He also said all landings are done with some engine power (not with engine at idle) -especially if the water surface is smooth, but also with waves/ripples even when you can judge your height better.

[2015-06-25 09:53] tigert commented on #273
I guess you want a nice constant descent rate and want to avoid stalling few feet above the water surface which might happen with the fully-stalled landing on wheels with engine at idle, which you can do just fine on a 172 otherwise.

[2015-06-25 09:59] dany93 commented on #273
@wezzer wrote

You have my response in my previous post. This is what we always do, and it often takes several months and compromises before some stabilization. Always keeping in mind that we have to avoid "cheating" too much with the numbers, as much as possibly basing these changes on physical arguments. As you write, the real characteristics are always right, but obtaining some of them by a bad

[2015-06-25 11:21] tigert commented on #339
ah ok. I guess it works like that, I need to be a contributor. Nevertheless I will try to have a look.

[2015-06-25 13:26] onox commented on #336
I think we can actually use string[1] for a version number. Most of the string[] properties are unused.

[2015-06-25 13:31] onox commented on #338
I agree with that as well.

[2015-06-25 13:51] onox commented on #273
I noticed this too. I always need to add some engine power otherwise I'll descent too fast.

[2015-06-25 13:54] onox commented on #338
I'm not sure how fgpanel works nowadays, I thought it was rewritten/replaced by one of the t(h)orstens.

[2015-06-25 13:55] onox commented on #339
I'm not sure how fgpanel works nowadays, I thought it was rewritten/replaced by one of the t(h)orstens.

[2015-06-25 14:13] andgi commented on #336
@onox Note that the amount of space in one MP packet is limited and that, AFAIK, there is no round-robin scheduling of which properties get sent if the space run out (there certainly wasn't any when I looked at the MP protocol 5-7 years ago). The encoding of string values in the MP protocol is also extremely wasteful (IIRC: 32 bits per character + a 32bit length field) so using one to send a const

[2015-06-25 15:32] dany93 commented on #273
Good idea. I've done it.

**Jason Cary's thesis** Fig. 56  pdf page 158 (**raw** wind tunnel results I think, but we can hope that the adjusted results wouldn't change much the ratio),
- No floats: best CL/CD = **11**
- Floats: best CL/CD = **9.15** (floats deteriorates the glide ratio by -17%)

**Cessna-172p-1982 POH**
 http://www.aerodynamicaviation.com/documents/cessna-172p-1982-poh.pdf
- No fl

[2015-06-25 15:34] onox commented on #273
@dany93 How exactly (which properties) did you compute CL/CD?

[2015-06-25 15:37] onox commented on #273
And how much flaps did you use when gliding?

[2015-06-25 16:15] dany93 commented on #273
I measure it by gliding at 65 KIAS (Internal properties, not the tachometer) and measuring the loss in altitude per minute. The elevator trim well tuned for 65 KIAS helps much. Engine at idle, propeller windmilling.
This is the true definition of the glide ratio.

On other aircraft with a good autopilot I like to calculate it by
Lift/Drag = Weight/thrust
(reading `engines/engine/thrust.lb`)
Done i

[2015-06-25 16:47] onox commented on #339
@tigert See this: http://forum.flightgear.org/viewtopic.php?f=6&t=24125

[2015-06-25 19:01] wlbragg commented on #336
I didn't know how to refer to a specific post in another issue so I will copy my thoughts here, FWIW.

I guess this is a little different because it is the default aircraft, but not really. We shouldn't even attempt to mix the old with the new, as far as I am concerned.
The way I see it, if you want to fly the "old" c172p, you don't do it in MP and you don't do it in versions that it has been repl

[2015-06-25 21:07] onox commented on #310
I think it's clear now we're using master to fix 3.6 bugs.

[2015-06-25 21:07] #310 closed

[2015-06-25 21:12] wkitty42 commented on #336
and mine from #305, too

i don't know if this can be done or not but it would be nice... granted, looking broken and being told they are looking like that may be incentive enough to get folks running old versions of fgfs to upgrade... especially if they want to do MP... only time will tell...

[2015-06-25 21:16] #144 closed

[2015-06-25 21:23] andgi commented on #336
For FG it is highly unusual that an aircraft is completely replaced by another with the same name and even more so when it comes to the default aircraft. That makes the present situation special.

From my point of view, it is not a problem that a new/old or old/new combination over MP has less functionality than the old/old or new/new combinations. The problem is the highly visible regressions, li

[2015-06-25 21:25] onox commented on #336
@andgi I'll see what I can do about those broken wings then.

[2015-06-25 21:29] onox commented on #273
Fixed the EGT. It seems like `/controls/anti-ice/engine[0]/carb-heat` isn't really used as far as I can tell. So not doing anything about that. Only thing that remains is the indicated oil temp/pressure.

[2015-06-25 22:36] onox commented on #273
I have created PR #342. Please help test it so our users can finally enjoy a 180 HP engine when taking off from the water :smile: See the PR for instructions.

[2015-06-25 22:45] onox commented on #315
@wlbragg @Juanvvc Can one you do this one? Move "bolts" object in Blender outside "LeftBag". To the same level as "LeftBag" instead of as a child of it.

[2015-06-25 22:52] onox commented on #148
@wlbragg Is it OK if I remove the 2D shadow (the checkbutton) and always automatically enable the 3D shadow if ALS is turned on? It's not computationally expensive, so there's no reason to turn it off IMO.

[2015-06-26 01:25] wkitty42 commented on #315
on this, my main concern is that things that are not really clickable to change them are not shown... like the compass on the top of the dash... you can't change that magnetic item... can you???

[2015-06-26 01:26] wkitty42 opened #343 "amphibious take off from water... bouncing too extreme!??"
i've been flying master all the time... at some point, recently [during or after my first and only MP session the other day], something has changed... i've posted on the forums about not having any problems taking off with amphibious but now in the last day or so, i have major problems... suddenly theres some sort of bouncing when i reach my previous pull up speed... now i crash every time with wi

[2015-06-26 03:58] wlbragg commented on #336
What other base aircraft do we have and support with the same folder and set names?

@onox, if you need help over MP to evaluate all the potential problems, let me know and I will help.

[2015-06-26 04:12] wlbragg commented on #148
Hum, I would be OK with it if we first asked in the forum if anyone is using the 2D. I don't really see the need for both except the 3D's alpha is not handled as well as it could be and the 2D looks better visually (except it doesn't morph). I don't know that Thorsten will ever get back to improving the 3D though.
But I am not opposed I guess.
Anyone else have an opinion on this?

[2015-06-26 04:38] wlbragg commented on #273
@onox, you have my :+1:
I haven't tested it extensively, but I did take it out for a spin and did some basic switching back and forth and the likes.
I think we need as many eyes on it as we can to find whatever potential problems might be lurking around.
I hadn't heard the mechanics sound yet and thought it was great.

[2015-06-26 04:41] wlbragg commented on #280
I agree, I was testing the new 180 engine and touched the water a tad bit hard, should have busted a pontoon way before both wings. We really need to tune what causes these damage conditions.

[2015-06-26 04:46] wlbragg opened #344 "Animate pontoon rudders"
Tie pontoon rudders in with rudder peddles?
Also add corresponding FDM turning in water improvements.

[2015-06-26 05:38] wezzer commented on #273
@dany93 I didn't know that you have already done this performance-based comparison and test flights. Splendid work!

[2015-06-26 09:06] dany93 commented on #343
I do not remember when the hydrpdynamics code was inserted into the master branch.

Did you follow this issue? https://github.com/Juanvvc/c172p-detailed/issues/326#issue-90163385
Particularly https://github.com/Juanvvc/c172p-detailed/issues/326#issuecomment-114252580  and https://github.com/Juanvvc/c172p-detailed/issues/326#issuecomment-114518061
And maybe (not included, just a proposition with no

[2015-06-26 09:15] onox commented on #344
Isn't animating the rudders just a bug? Should 3.6 IMO.

What do you mean with the FDM improvements?

[2015-06-26 09:58] wlbragg commented on #344
The rudders should allow the craft to make tight turns in the water, they should effect the steering. Yeah, it's a bug!

[2015-06-26 10:35] gilbertohasnofb commented on #315
@wkitty42

I don't understand, are you talking about the bolts or about other things? I also don't understand what you mean with the phrase, sorry

Nope, you can't do anything with the compass, and that's why we removed its yellow contour when pressing Ctrl+C and also the tooltip (although putting the tooltip back could be a good idea as some people complained the compass is difficult to read with

[2015-06-26 11:33] geoffmcl commented on #336
@onox, @andgi, @wlbragg this is the first positive news I have read ;=))

At this stage I think we are **ONLY** talking about release 3.4 c172p working with 3.5+ c172p over mp.

I will also help where I can.

Being a maintainer of [fgms](https://gitlab.com/fgms/fgms-0-x), and the author of [crossfeed](https://gitlab.com/fgtools/crossfeed) I can, with a little setup, get access to the raw packet da

[2015-06-26 12:44] andgi commented on #336
@geoffmcl How often do you see packets close to the maximum size - hinting that an overflow might have happened?
I was first a bit taken aback by your "author of crossfeed" statement until I saw that it was a separate tool from the feature in fgms. IIRC it was I that added the crossfeed option to fgms more than a few years ago. :)

[2015-06-26 12:55] dany93 commented on #344
I searched in hydrodynamics.xml (lines 655 - 669)

[code]
Changing the `<value>` (factor) does nothing.
But I see
`     <property>/controls/gear/water-rudder-down</property>`
Its value is `0`, I cannot  change it even manually by "set" in the properties.
How can we set these rudders to "down?"

[2015-06-26 13:44] geoffmcl commented on #336
@andgi added some packet size stats, and it seems only a small percent approach the limit...

This is a crude quick table of packet sizes in my 897,930 raw packet log, circa Oct, 2012, abt 673 MB -

[code]

Given that none are in the max range 1100 to 1200 suggests that none were 'truncated', but that is not sure... as you can see in the FG code it precalculates the string size, and aborts if it e

[2015-06-26 14:10] andgi commented on #336
@geoffmcl Thanks. Good to know the packet sizes weren't that close to the limit. To continue off topic, back in the days I did add some features to fgms, you can see most of them among below the old_patches directory here http://www.gidenstam.org/FlightGear/fgms/ (LazyRelay, crossfeed and black list). I'm not sure to what extent these have been rewritten by now.

[2015-06-26 14:20] onox commented on #315
This can probably also be solved by using FGCamera (once that gets added to 3.8) It would be nice though if tooltips could be shown without a "pick" animation (which gives those yellow contours).

[2015-06-26 14:26] onox commented on #344
@dany93 It's `/controls/gear/water-rudder` that you need to control! :smile:

[2015-06-26 14:46] onox commented on #344
This reminds me also that `/controls/gear/water-rudder-down` is not transmitted over MP and saved by the flight recorder.

[2015-06-26 14:56] onox commented on #148
Both the 2D and the 3D shadow can show glitches under certain circumstances. I have a patch here that modifies the value (1.0) on line 18 of `Systems/ground-effects.xml` depending on the bushkit that is used, and moves the shadow closer to the ground.

Are the `Models/Effects/shadow/3d*.xml` files those that control the 3D shadow? I see they have a pitch and z offset. Are those still correct and n

[2015-06-26 15:36] dany93 commented on #344
OK (oups...)
In this case, it works, isn't it?
This is just a matter of **how to set them down** and possibly to set the value for their efficiency.

In `Models/c172p.xml` (lines 5751, 5787), the animation should be done by `controls/gear/steering` which remains at 0.
The lines have been commented  which is a hint for an issue ( @wlbragg ?) .
Maybe, they must be animated conditionally, only when t

[2015-06-26 16:16] wkitty42 commented on #343
@dany93 i read all issues... they are all sent to me via email and i also go through all of them here on the site by clicking on the notifications button at the very top to the left of my avatar...

i did read about others bouncing but i never experienced it until now... i followed everything in those conversations but as it didn't happen to me, there wasn't much i could say other than to relate m

[2015-06-26 16:22] wkitty42 commented on #315
@gilbertohasnofb yes, that was poorly worded... what i was trying to say is that if you cannot change something, it should not be clickable... IMHO, FWIW...

on the compass, to me it is an ornament as i always have the HUD turned on... it is much easier for me to use the HUD to see my speed, throttle position, heading, altitude and land height below me...

[2015-06-26 16:44] wlbragg commented on #315
I just now saw this, you still need this done?

[2015-06-26 16:49] wlbragg commented on #343
Sounds like you have been flying the old FDM all this time. This is the issue that has been discussed, however it is way better now than it was just a week or two ago. It still requires a bit of touch though but nothing like it did before, you can actually take a little bit of a lax approach and have a successful outcome.

[2015-06-26 17:01] Juanvvc commented on #315
@wlbragg, I am looking at this thing right now ;)

Probably, it was my fault. Sometimes, I group some objects together without noticing there are other objects already selected. Hence, it is a bug introduced by me and the screws were never intended to be joined with the LeftBag.

[2015-06-26 17:19] dany93 commented on #343
It is almost impossible to have an accurate, reactive control for pitch and roll with the keyboard. The mouse can do, if its sensitivity is "normal". Don't you really have some place to add a joystick?