[2015-05-28 22:34] dany93 commented on #214
You may be right for the "better sooner than later". Especially because this can have an effect on the wing angle of attack at acceleration for taking off from the water, if  the pontoons floating pitch is matched to the water.
But by reading the current forum http://forum.flightgear.org/viewtopic.php?f=4&t=25157&sid=bcdc03969281f82aef38f451b4e8037c&p=244634#p244625 I wonder if there will not be i

[2015-05-29 00:24] wkitty42 commented on #214
exactly on the "sooner" part... yes, i've read the forum topic and i feel the same about important changes... i just hope that everything can be taken care of before the freeze... i'm kinda wondering about that, too... is that just a code freeze for the sim or for the base craft also? yes, that's a question better asked on the dev list... i guess i'm going to have to join that sooner than anticipa

[2015-05-29 07:01] tigert commented on #206
Yes  I know, I actually even mentioned it above.

But I bet Wipaire has a common "gauge" for the lights + gear switch that is the same for each aircraft model they put the floats in, as there is no real reason to have differences there. So we could perhaps use that as a reference?

[2015-05-29 09:32] dany93 commented on #214
I guess the freeze will contain the features which work, with maybe a few bug fixes.
IMHO, the aircraft as it is now is already worthy enough to be in a freeze. I think that in some time, a version "almost freezed" will have to be chosen, with only bug fixes to come on it.
With a branch for the development version.

[2015-05-29 12:05] Juanvvc commented on #214
I agree with a branch for v3.6 ("the freeze", with only bug fixes) and keep the master branch in development.

[2015-05-29 15:40] gilbertohasnofb commented on #206
Gosh, I am getting demented, I totally oversaw that.

Sounds good. If anyone makes a 3D model, just let me know so I can make the textures.

[2015-05-29 16:19] Juanvvc commented on #206
Ok, I'll do the model. The only thing is that we must decide its position in the panel.

The aircraft in the reference picture has a HSI and it does not need one of the VORs. But what about our panel? Do you mind losing the ADF? Do you think moving the ADF into the left side of the panel is a good idea? Only if the pontoons are installed, of course.

[2015-05-30 00:15] gilbertohasnofb commented on #206
I think that would be a big loss as NDB's are a standard part of IFR navigation, right?

Now we are talking :D That could work out well I think.

[2015-05-30 03:12] wlbragg commented on #214
I was never happy with the front gear on amphibious. I tried to get the to full extension but it wasn't working, so that is part of it and yes it needs to be at full extension (in other words I think it has more travel to play with without any modeling edits. To compensate and drop the nose lower after we fix the gear extension, modeling wise, it would be be relatively simple to extend the top of

[2015-05-30 03:16] wlbragg commented on #211
Yea! About time, I've been for this since the first stall/spin I experienced.

[2015-05-30 03:17] wlbragg commented on #203
So we close this?

[2015-05-30 03:21] wlbragg commented on #200
I think we can close this issue except we have a team member that can't even use the float plane on water. However I am convinced it is a FG core setup issue and not the c172p-detailed. I have reproduced this bug and the only way I was able to correct it was to basically reinstall FG to a clean state. It is for sure that this happens because the contact points do not register in the FDM, it is the

[2015-05-30 03:23] wlbragg commented on #194
I think this can be closed also, This issue is being superseded by #214

[2015-05-30 03:31] wlbragg commented on #166
Either way I am going to add the flashlight to ALS. Please stay patient, this is a learning experience for me and I just need some time to devote to some troubleshooting and learning.

If in the meantime someone comes up with a dome light or any other options, that would be OK too.

[2015-05-30 03:36] wlbragg commented on #149
In an effort to get this issue closed, all that is needed IMO is "remove control of damaged gear's brake", not apply brake when damaged. The broken gears contact points provides all the necessary friction to slow it down, but what remains intact is the ability to apply the brakes, that shouldn't work if the gear is damaged to the extent that we modeled.
So the question is does anyone know what pro

[2015-05-30 05:40] wlbragg commented on #170
Done...
This can be closed if the new positions of the popup menus are OK with everyone.

[2015-05-30 07:40] #211 closed

[2015-05-30 07:47] onox commented on #149
Save the original `controls.applyParkingBrake` and `controls.applyBrakes` functions and override them.

[2015-05-30 07:52] onox commented on #149
I'll fix it :smile:

[2015-05-30 08:05] onox commented on #170
I'm going to revert this change, because the windows aren't guaranteed visible on small screens.

[2015-05-30 09:22] #203 closed

[2015-05-30 09:46] onox commented on #134
This can be closed?

[2015-05-30 10:35] gilbertohasnofb commented on #170
Isn't there a way of taking that into consideration? For instance, if it's possible to get the screen resolution, one can then use something like y = y_res - 50, so that the y position of the GUI is always 50 pixels from the border (50 is an absolutely random number in this example).

[2015-05-30 10:36] gilbertohasnofb commented on #166
:+1:

[2015-05-30 10:37] gilbertohasnofb commented on #200
I agree with you, wlbragg. Once I get a chance I will reinstall my FG and see how it behaves, but in the meantime we can close this. If after fixing my installation the problem appears again I will let you know, but I can't believe that will be the case.

[2015-05-30 10:37] #200 closed

[2015-05-30 12:54] onox commented on #170
You could attach a listener to `/sim/startup/xsize` and `/sim/startup/ysize`. But I don't know how to get the dialog object. I couldn't find any Nasal code that does something with aircraft-dialog.

[2015-05-30 12:55] dany93 commented on #134
Yes, IMO.

[2015-05-30 12:59] onox commented on #134
I noticed though it is very hard to break the gears, but not the wings. Should we open a new issue for this?

[2015-05-30 13:15] tigert commented on #206
I think it should be close to the place it is in the photo, so it is easy to reach. There are two logical places: the current EGT, and ADF positions.

I think the gear switch / indicator gauge should replace of the current ADF. The EGT position is too close to the yoke, so it might interfere.

We could move the ADF one slot to the left, over the current EGT and move the EGT to the extra gauge hole

[2015-05-30 13:20] tigert commented on #202
There are two slots in the front of the glareshield like this:
[code]

..which blow air. This where a small clearing opens when you put on cabin air and the engine runs. Remember there is no blower like on cars, so if the engine is not running, nothing really happens.

When the engine runs, it pulls air from the right side of the fuselage if I remember correctly, there is a small opening "door" ag

[2015-05-30 13:23] gilbertohasnofb commented on #206
@tigert I like this idea!

[2015-05-30 13:55] dany93 commented on #134
Do you feel the wings are too easy to break?
Or do you rather mean this message https://github.com/Juanvvc/c172p-detailed/issues/134#issuecomment-107039007 ?

[2015-05-30 14:49] #194 closed

[2015-05-30 14:49] wkitty42 commented on #194
yeah, the drifting on pavement seems to be fixed now :)

[2015-05-30 15:05] wkitty42 commented on #166
not a problem, @wlbragg... keep on doing what you're doing :+1:

[2015-05-30 15:16] wkitty42 commented on #170
i think this may be related to something else i've seen but i'm not sure... i'll mention it and you tell me, ok?

when i'm flying and the temperature gets too hot or too cold, there's a popup saying with that notification... if i move my mouse to the temperature control, that message flashes down there when it repeats and/or overrides the percentage message on the slider... if i try to move the he

[2015-05-30 15:20] wkitty42 commented on #206
i could probably work with that... as long as it is easy to see the blue and green gear indicator lights ;)

i'm guessing this item will also tie into one of the electrical breakers?

[2015-05-30 15:57] dany93 commented on #134
True.
In physics.nas, lines 227 and 231
[code]
A break threshold (compression-ft)  of 0.25 seems enough in practice (to be tested at full load, which I have done).

Not obvious from the calculation:
FDM: spring coefficient 5400 LBS/FT for each main gear;
0.25 ft compression corresponds to 5400 x 0.25 =1350 lbs per gear. If we assume both gears at touching: 2700 lbs. Which, with at full load = 2400

[2015-05-30 16:52] tigert commented on #206
Yeah. You should study the pages 17 and 18 of the Wipline service manual ;-) Less guesswork, more schematics to get it right. There is a hydraulic pump that is operating the gears, each gear has two microswitches (gear up, gear down) that runs the indicator lights logic. I would guess you could also do it so, that if you damage the pontoons in a hard landing but somehow miraculously manage to go a

[2015-05-30 17:07] tigert commented on #170
We should also honor the "show cockpit tooltips" I guess.

Those popups are kind of annoying if you cannot turn them off.

[2015-05-30 17:25] wkitty42 commented on #170
i don't recall having tried to turn off any sort of popups of tooltips... it was just that at least those about too hot/cold get placed where the tooltips are and you cannot see the tooltip...

[2015-05-30 17:57] tigert opened #223 "aircraft options dialog stopped working"
Latest git for simgear, flightgear and fgdata and also c172p-detailed, at least as far as I know (unless I messed something up syncing my own fork) - I don't get the aircraft options dialog to work at all. Selecting the menu for the aircraft options just does nothing at all.

I cannot really see anything about this on the debug log either, when I tried to look quickly.

Does this happen to anyone

[2015-05-30 18:00] tigert commented on #144
I think this has been fixed recently, by 676e1c5d44fa046d39a3353f82a26eb3e7981acf

[2015-05-30 19:10] onox commented on #223
Do you really have the latest commits? Because I reverted a change by @wlbragg that made the dialogs invisible on small screens.

[2015-05-30 19:48] onox commented on #134
I think we should decrease the damping instead of the compression-ft. Do you agree?

[2015-05-30 20:04] wlbragg commented on #170
I was just getting ready to point to my comment in on the commit reversal but I see it was covered here. It looks like we have no good options. The only viable thing left is possibly x to 0 and leave y alone or stack them starting at zero y-popup height.

[2015-05-30 20:05] onox commented on #170
@wlbragg Yeah, just setting the x to 0 might be an option.

[2015-05-30 20:06] #149 closed

[2015-05-30 20:18] onox commented on #204
@wkitty42 Does the C172p have a vacuum-based heading indicator or is it electrically powered?

[2015-05-30 21:07] tigert commented on #204
The C172P manual is useful for questions like these - and good reading for the general idea of how things work. It's actually easy to find several versions via google, this is one C172P:
http://www.aerodynamicaviation.com/documents/cessna-172p-1982-poh.pdf

Page 166 states that the artificial horizon and directional gyro (heading indicator) are vacuum-based. Thus I think the turn/bank instrument i

[2015-05-30 21:30] onox commented on #204
Thanks, I think the heading-indicator-dg needs to be changed to heading-indicator then, because the -dg version is electrically based.

[2015-05-30 22:17] wkitty42 commented on #223
i haven't noticed any problems with the craft's options dialogue... i updated everything, fgfs, fgdata, fgaddon, this craft some 4 hours ago (i think) and flew several different configurations and missions with no real problems noted...

[2015-05-30 22:18] wkitty42 commented on #134
hey now! i resemble that comment :laughing:  but i'm actually trying to land decently... not bend and break things... but i'm getting better :wink:

[2015-05-30 23:24] dany93 commented on #134
Yes, I think that would be be a good thing. I've not tested it, I had this idea just at the end of my tests.

[2015-05-30 23:35] Juanvvc commented on #206
Moving the EGT to the right side of the panel is a much better idea, tigert. I'll try to make an initial implementation of this gear control instrument tomorrow.

[2015-05-30 23:37] gilbertohasnofb commented on #206
@Juanvvc will we need new textures for the gear lever? If so, can you explain to me how can I help?

[2015-05-30 23:41] Juanvvc commented on #206
First the model, then UV-Map and finally the texture :) I'll make a temporal texture for you to run your magic.

[2015-05-30 23:42] gilbertohasnofb commented on #206
That's how I like it best as well! :smile:

[2015-05-31 04:14] wlbragg commented on #223
tigert, make sure you have the latest commit and it is still doing this, and verify your on "master".

[2015-05-31 12:53] tigert commented on #134
The nose gear compression to break it is a bit problematic, as I think the gear *can* sustain a compression to the end, if the force is straight, the nose gear arm is facing a bit forward.

What I am trying to test is the porpoise, where you land with excessive speed and often the aircraft starts leaping wiht increasing amplitude if you don't immediately arrest the movement by pulling back on the

[2015-05-31 17:38] gilbertohasnofb opened #230 "Cabin temperature option in the menu"
A feature request (if it's easy to implement, of course): would it be possible to add a selectable option to the aircraft menu in order to activate/inactivate the cabin temperature control and the cabin temperature variation in general?

The reason behind this is the following: I believe in RL one can obviously tell when the temperatures are dropping too low or raising too high, but in the sim we

[2015-05-31 17:44] #204 closed

[2015-05-31 21:37] wkitty42 commented on #230
an additional part of this request could be to have a/the dialog where we can manually enter the desired percentage of the temperature knob... on my system, rolling with the mouse wheel gives me 10% increments... it would be nice to have 1% increments or to have a box where we can type in the desired value like there is for the heading bug and radio freqs ;)

[2015-06-01 04:06] wlbragg commented on #230
Yes to both questions. I can add the "Disable heat and air" to the menu easy enough. The other might be a little more involved but certainly doable.

[2015-06-01 12:32] gilbertohasnofb commented on #230
Maybe a compromise then: we can make the levers less sensible to the mouse wheel (thus solving wkitty42's problem without really messing with options) and then create the disable heat and air in the menu.

As much as choice is good, too many options, sliders, toggles and buttons can transform something simple into a huge mess.

[2015-06-01 16:41] onox commented on #230
I agree with that.

[2015-06-01 16:46] #223 closed

[2015-06-01 16:50] wkitty42 commented on #230
sounds ok to me...

[2015-06-01 16:51] onox commented on #93
Fixed in PR #212

[2015-06-01 16:51] #93 closed

[2015-06-01 16:53] onox commented on #87
@andgi Would you like to help?

[2015-06-01 16:58] onox commented on #117
We should limit the maximum position of the doors as a function of the KIAS.

[2015-06-01 17:01] onox commented on #134
Should we perhaps compute the force on the nose gear by computing pitching moment divided by distance from center to nose gear?

[2015-06-01 17:02] gilbertohasnofb commented on #117
That would be great, but as ludomotico wrote the doors will hardly be operable at high speeds. My idea was related to when the aircraft is on the ground. It's a simple detail, but could be very realistic.

Also, I still plan to work on the sounds for our plane, adding better stall sounds, as well as a door banging and other ones, longer loops for the engine (ours are too short and the repetition d

[2015-06-01 17:37] onox commented on #117
How about a CC-BY-SA 4.0 license? Is compatible with GPL AFAIK.

[2015-06-01 17:40] gilbertohasnofb commented on #117
When I wrote GPL-friendly, I also meant those CC licenses. I couldn't find good recordings with any GPL-friendly license, would you know some? If so, then I can try to clean them myself, equalize, create seamless loops, etc.

[2015-06-01 17:47] onox commented on #117
You could try to search on [YouTube with CC filter](https://www.youtube.com/results?filters=creativecommons&lclk=creativecommons&search_query=cessna+172p).

[2015-06-01 17:49] gilbertohasnofb commented on #117
The quality of youtube sounds is not good enough IMO. I was hoping to have access to some good recordings at least in WAV format. But I will have a look on those youtube links anyway, thanks!

[2015-06-01 17:50] onox commented on #117
Have you tried to find anything on [freesound.org](https://www.freesound.org/)?

[2015-06-01 17:52] gilbertohasnofb commented on #117
Yep.

[2015-06-01 17:53] dany93 commented on #134
What do you mean by pitching moment (which property)?
I have not found the forces on gears directly from jsbsim.
A rigorous way should be (if I understand well)
``` Force = (compression-ft) x (spring_coeff) + (compression-velocity-fps) x (damping_coeff)```
I have not tested it.

I'm struggling with this breaking threshold for the main gears.
I would prefer using properties directly available than

[2015-06-01 17:54] onox commented on #117
Have you asked a 172p pilot if you can record some sounds while on the ground?

[2015-06-01 17:56] gilbertohasnofb commented on #117
Not really. I was thinking about doing that, but the main sound that I'd like to improve is the stall sound (ours is really not realistic at all), so that would be tricky to do on the ground :stuck_out_tongue_winking_eye: But that could at least solve the engine sound as well as other noises (doors, switches, etc.).

[2015-06-01 18:54] onox commented on #134
I meant the moment around the y-axis. M = F * d.

[2015-06-01 19:10] andgi commented on #87
My time constraints and priorities are likely to prevent me.

I did add a dual control setup to the c172p once ( http://www.gidenstam.org/FlightGear/DualControl/ ) but it is far from complete and not in phase with my current practices (which still are crude and require a lot of work to get anywhere). It looked like you started of the the ZLT-NT dual control file and that is as good a file I can gi

[2015-06-01 21:21] dany93 commented on #134
I understood, but where do you find this value of the moment in the properties?

[2015-06-01 22:02] onox commented on #134
Perhaps `/fdm/jsbsim/moments/m-gear-lbsft`?

[2015-06-01 22:21] wlbragg commented on #230
Added the menu option and weather.nas logic. Someone may want to change the wording in the menu.

[2015-06-01 23:10] gilbertohasnofb commented on #230
Well, you are the native speaker :wink: But what about "enable fixed interior temperature" or "enable constant cabin temperature" or something like this?

[2015-06-01 23:12] gilbertohasnofb opened #235 "Confusing options for shadows"
Currently it's confusing to have an option called "ALS shadow" and another "ALS shadow volume". I know how they work, but most people trying the plane for the first time won't. How can we improve this?

[2015-06-02 00:17] wkitty42 commented on #230
i haven't looked at it yet... gotta pull it... but "constant cabin temperature" with a check box?? not sure what's there so i may be talking through my hat...

[2015-06-02 00:19] gilbertohasnofb commented on #230
"constant cabin temperature" meaning that the cabin temperature won't change regardless of vent/heat levers position, and regardless of the outside temperature (and therefore it won't fog as well).

[2015-06-02 00:19] wkitty42 commented on #235
TBH i'm not sure what the visual differences are... is one the shadow on the ground and the other the one inside the craft?

[2015-06-02 00:19] wkitty42 commented on #230
right...

[2015-06-02 00:21] gilbertohasnofb commented on #235
Nope. One is the default ALS shadow that has a fixed size and is simply an image on the floor. The other is created by calculating how a 3D object would be projected in the ground. One way of seeing how they differ: load the plane during sunset. The regular ALS shadow will have the size as if it was midday, while the ALS shadow volume will be very elongated.

[2015-06-02 00:34] wkitty42 commented on #235
oooohhhhhh... yeah, i have seen that... is there any reason to keep the non-3D one?

[2015-06-02 00:41] gilbertohasnofb commented on #235
No idea. What do you think, @wlbragg ?

[2015-06-02 02:10] wkitty42 commented on #235
if we need to have both, maybe set the first one as "2D shadow" and the volume one as "3D shadow"... i mentioned this in the forum, too...

[2015-06-02 04:42] wlbragg commented on #235
I have no issues if you want to change their names, but I do think for now we should keep both. Maybe eventually if the volume shadow get more work on the transparency issues then I might not have a problem with getting rid of the 2d shadow.

[2015-06-02 04:47] wlbragg commented on #230
Yeah, because it is doing several things.

Disable frost and fog
Disable heat and air
Constant cabin temp
No frost or fog

Again, I defer to you all, what ever you decide I think I will be OK with.

[2015-06-02 06:17] wlbragg commented on #202
My first attempts to use the overlay failed. I may need some help on this one. Has anyone used the mask overlay?

[2015-06-02 06:18] wlbragg commented on #166
OK, I am making some progress thanks to Thorsten's great patience.

[2015-06-02 08:45] dany93 commented on #134
That was my first question here, with this possibility. https://github.com/Juanvvc/c172p-detailed/issues/134#issuecomment-107653548.
I don't understand well what this moment is. From which axis? To counteract which moment when stopped on the ground?
If we have to do a calculus, I prefer
``` Force = (compression-ft) x (spring_coeff) + (compression-velocity-fps) x (damping_coeff)```
It is direct, ea

[2015-06-02 10:51] gilbertohasnofb commented on #166
Looking really good! :clap: I know this is a work in progress, but forgive me if I make two comments anyway: probably a larger circle would look more realistic (flashlights are not that concentrated, are they?), and I would vote for a red coloured light if possible.

Tell me about that, I myself have more than abused my quota of Thorsten's patience.

[2015-06-02 11:12] gilbertohasnofb commented on #230
Done. I decided for "constant cabin temperature", but anyone can improve it. I also standardized the capitalization in all our labels: now only the first letter of a label is capitalized.

[2015-06-02 11:12] #230 closed

[2015-06-02 11:12] gilbertohasnofb commented on #235
Ok, for now this has been solved. If the transparency issues on the 3D shadow gets solved then we can discuss removing these options altogether.

[2015-06-02 12:25] onox commented on #134
Ok, your equation seems better.

[2015-06-02 12:26] onox commented on #235
Does this require help from Thorsten?

[2015-06-02 12:28] gilbertohasnofb commented on #235
I am not sure reopening this issue is good. This is about the confusing labels inside the options only, not about the effects themselves. I would say it's better to create a new issue if we want to discuss with Thorsten a certain effect -- this way this repo stays better organized.

[2015-06-02 12:36] #235 closed

[2015-06-02 12:38] onox commented on #230
I think "Disable frost and fog" like @wlbragg said is more clear to users.

[2015-06-02 12:48] gilbertohasnofb commented on #230
You are right, that's better. I just modified it, thanks!

[2015-06-02 14:34] dany93 commented on #134
I have a test file.
http://www.mediafire.com/download/wud4yvfdtbp80hq/C172-gear-damage-force-20150602.7z

Only for the principles, kind of feasibility, to get your opinion.

- In the **FDM**, only the damping for main gears is changed (400 instead of 1600 LBS/FT/SEC, lines 192 and 207). Does not seem very important, but I think 400 is better.
- **physics.nas** : TEST FILE For replacement. See line

[2015-06-02 14:44] onox commented on #134
@dany93 Just create a branch in your own repository:

1. `git checkout -b gear-changes`

2. Make the changes and commit them

3. `git push -u origin gear-changes`

[2015-06-02 15:27] dany93 commented on #134
Done.
https://github.com/dany93/c172p-detailed/tree/gear-damage

[2015-06-02 15:40] dany93 commented on #134
How can I recover the content I had in my branch "master" before these changes?
I've done ``git checkout master`` then ``git pull`` but, in my working directory, the files that I see on my disc inside my github folder are still with my last changes (physics.nas).

[2015-06-02 16:10] wlbragg commented on #166
I think we could have both. Is the red light very common and readily available? I understand its purpose, I'm just not sure if a lot people use them. It's just a red filter glass so it probably is in use and easy to purchase.

[2015-06-02 16:52] wkitty42 commented on #214
i've renamed this issue to better fit what the real problem is... i don't know how to fix this so i have to leave it to others...

[2015-06-02 17:08] wkitty42 commented on #107
where would one start to try to find this problem and fix it?

[2015-06-02 17:14] gilbertohasnofb commented on #166
Most red lanterns are simply regular ones with a translucent red plastic around them. People use red lanterns because it makes your pupils stay small and used to the dark. I think this is quite common in aviation as I've seen many pictures of people using it, but I may be wrong on how common they are. But as an amateur astronomer, I must tell you how handy they are if you want to see in the dark :

[2015-06-02 18:06] wkitty42 commented on #166
red is a longer wavelength and it does make seeing in the dark easier... this is why those blue/white headlights on the cars are so bad... blue is a short wavelength and takes more power to light the same area... yes, i'm an amateur astronomer, too :laughing:

[2015-06-02 18:36] gilbertohasnofb commented on #166
Oh, nice to know you also enjoy astronomy, wkitty :smile:

[2015-06-02 21:50] onox opened #237 "Damage and instruments are not recorded in the flight recorder"
Properties that reflect the damage should be recorded in the flight recorder. Instruments should be recorded as well.

Fixing it in branch [bug-237](https://github.com/Juanvvc/c172p-detailed/tree/bug-237).

* [x] Primer
* [x] Master Battery (already working)
* [x] Master Alternator (already working)
* [x] Magneto's (already working)
* [x] Starter (one position further than the magneto's)
* [x] Thr

[2015-06-02 22:26] onox commented on #237
@wlbragg Which properties control the yellow sparks and grey dust when tail and/or wings touch the ground?

[2015-06-02 23:39] onox commented on #144
@Juanvvc Can you verify if this issue has been fixed?

[2015-06-02 23:41] onox commented on #109
As @Juanvvc says, the shared walker should be fixed.

[2015-06-02 23:43] onox commented on #128
@dg-505 Are all instruments in the correct position now? Then this bug can be closed.

[2015-06-02 23:45] onox commented on #134
@dany93 Thanks. I'll test this tomorrow, it's night time currently.

[2015-06-02 23:45] gilbertohasnofb commented on #128
I can confirm this is fixed.

[2015-06-02 23:45] #128 closed

[2015-06-02 23:50] onox commented on #164
Where are these switches saved or registered in our project?

[2015-06-02 23:52] onox commented on #107
Is this happening with other liveries as well?

[2015-06-02 23:53] onox commented on #87
I have added this to the feature freeze milestone, but I'm not sure if it will be ready in time.

[2015-06-02 23:57] onox commented on #81
I think the reservoir tank has already been implemented by @dany93. What else needs to be done?

[2015-06-02 23:59] onox commented on #47
We should use `FailureMgr` for failures.

[2015-06-03 00:00] gilbertohasnofb commented on #81
I also think this is done, but let's just wait for Dany's confirmation.

[2015-06-03 00:03] onox commented on #81
But are external temperatures, engine temperature taken into consideration?

[2015-06-03 00:11] gilbertohasnofb commented on #85
Ok, done on my last commit. Now I just need some help to apply this sound to our plane (I couldn't make it work so far, sorry). The sound is located inside a subfolder named Sounds. I also had to create a Thanks file to comply with the CC license of the youtube video which was the source.

So could anyone please give me a hand with the xml file? Right now it seems to be redirecting all sounds from

[2015-06-03 00:13] gilbertohasnofb commented on #81
I don't think so, and that would be a great idea. Currently if we start the engine, then kill it and try to start again, it needs to be primed once again -- which is not the case in RL as far as I know.

[2015-06-03 00:27] onox commented on #81
Can this be fixed before 17th of June?

[2015-06-03 00:29] onox commented on #85
The youtube video doesn't have a CC license?

[2015-06-03 00:30] onox commented on #85
Ah, the Thanks file says https://www.youtube.com/watch?v=zTq8Jvoks2U

[2015-06-03 00:30] onox commented on #85
I would just add this to the README.md file.

[2015-06-03 00:30] gilbertohasnofb commented on #85
Don't you think it's better to have a separate Thanks file just like fgdata does? Actually, once this plane gets incorporated into fgdata, our Thanks can merge together.

[2015-06-03 00:32] onox commented on #85
Ok. I can help with the xml

[2015-06-03 00:33] gilbertohasnofb commented on #85
Thanks, onox!

[2015-06-03 00:34] onox commented on #85
I see the file is stereo. If you want to have it come from a certain position in the cockpit then you should make it mono.

[2015-06-03 00:35] gilbertohasnofb commented on #85
Absolutely, my bad. Completely forgot about it. Give me a minute to fix this.

[2015-06-03 00:36] onox commented on #85
Do you want to make it a looped sound? (like how an engine sound is looped for example)

[2015-06-03 00:36] onox commented on #85
Then you can control pitch and volume and loop the stall sound continuously.

[2015-06-03 00:37] onox commented on #85
Btw, you can leave the current sound as it is, so that it can be modified in the future (treat it as a blend/xcf file).

[2015-06-03 00:39] gilbertohasnofb commented on #85
Ok, converted it to mono. Yes, please let it be looped. As for pitch and volume, I don't think they need to be changed, just loop this file and that should be enough.

What do you mean leave it as it is?

[2015-06-03 00:40] onox commented on #85
That you leave the stereo file in the repository. Perhaps someone wants to use the stereo version for something else in the future. I'm quite astonished how you managed to extract this from that youtube video :astonished:

[2015-06-03 00:42] gilbertohasnofb commented on #85
Thanks for the compliment :) As for keeping it stereo, it may not be a good idea because sound files can become quite large. I probably can upload the stereo version to the livery repository though

[2015-06-03 00:42] onox commented on #85
Btw, with looped I mean you take the part between 2.7 seconds and 6.2 seconds.

[2015-06-03 00:43] onox commented on #85
Loop it in Audacity and you shouldn't hear any repeats.

[2015-06-03 00:44] gilbertohasnofb commented on #85
I understand, but I think it would sound more realistic if the file simply loops itself. I checked several videos and normally the stall warning will not sound constantly for a long period of time, it always has little interruptions (even when holding the yoke back), so I guess the effect is more realistic.

[2015-06-03 00:44] onox commented on #85
I think you should also add a finish/stop sound. So you have:

1. A sound that can be looped continuously

2. A very small sound that you can play once when you stop playing the looped sound.

[2015-06-03 00:45] onox commented on #85
Otherwise, when you stop playing the looped sound, the stall horn stops abruptly, which sounds weird.

[2015-06-03 00:46] onox commented on #85
Ok.

[2015-06-03 00:47] onox commented on #85
But then you will always here the sound for the full duration.

[2015-06-03 00:48] onox commented on #85
Can you create a screenshot and mark the position of the speaker?

[2015-06-03 00:50] gilbertohasnofb commented on #85
Hmm, that's a bit tricky: that would work well for a constant looped sound, but as I wrote a realistic stall horn will have some short breaks. Can't we simply play the file until the end? Even if the plane isn't stalling anymore, the file will just continue for a second or two and then naturally finish? Or maybe simply fade out in the sim? Trying to glue an end sound to it won't work IMO.

As for

[2015-06-03 00:51] gilbertohasnofb commented on #85
For now we can simply place the virtual sound coming from the speaker on the top panel and then we see with @Juanvvc or @tigert

[2015-06-03 00:54] onox commented on #85
It will if the stop position in Audacity of the looped sound is the same as the start position of the finish/end sound :smile:

[2015-06-03 00:55] gilbertohasnofb commented on #85
No, that is not what I mean. I know how to loop a sound. What I mean is that simply stopping sound a.wav at any position and then playing a sound b.wav and expecting that a and b fit together is not going to work (it very likely will be noticible).

[2015-06-03 01:01] onox commented on #85
Ok, maybe the stall sound is not as monotonic as the sound of a gattling gun :wink: I have changed the path to the sound, but I still need to fix the position of the horn.

Do you mean with the "top panel" the position near the compass, or above the pilot's head?

[2015-06-03 01:02] gilbertohasnofb commented on #85
Thanks onox! And I meant above the pilot's head. You will find a loudspeaker there :)

[2015-06-03 01:03] onox commented on #85
Argh, never seen that before :stuck_out_tongue_closed_eyes: Is the speak that dark grey box?

[2015-06-03 01:03] gilbertohasnofb opened #238 "Apply new click sounds to switches"
Apply new click sounds to cockpit switches (lights, master, avionics switch, etc.). Should be fairly soft.

Could you give me a hand with this, @onox?

[2015-06-03 01:04] onox commented on #85
Or one of the 3 light grey circles?

[2015-06-03 01:04] gilbertohasnofb commented on #85
The dark grey box

[2015-06-03 01:04] onox commented on #85
:+1:

[2015-06-03 01:05] gilbertohasnofb commented on #85
Thank you so much for the help!

[2015-06-03 01:07] gilbertohasnofb commented on #117
And since we are at this, @onox, how difficult would it be to add a small conditional such as the wind and the engine sounds get louder by a factor (let's say 25%) when the door is opened? That would solve all three sound issues we have (and I don't plan to work on any more sounds for the 3.6 milestone)

[2015-06-03 01:08] onox commented on #85
Do you know an `.ac` file that is very small?

[2015-06-03 01:10] gilbertohasnofb commented on #85
I think we have tons of small `.ac` files in our project. I found 15 of them under 10 kb. What do you mean exactly?

[2015-06-03 01:10] onox commented on #85
Or you could just give me the x,y,z coords of that dray grey box.

[2015-06-03 01:11] onox commented on #85
That would be the most easiest :smile:

[2015-06-03 01:13] onox commented on #85
x is fore/aft (positive aft)
y is left/right (positive left)
z is up/down (positive up)

[2015-06-03 01:14] gilbertohasnofb commented on #85
Ah onox, I don't know how to use blender to find this information! I tried opening the model on it but that program is just too complex for me... if you can't find it by yourself let's then leave the sound at the origin (0,0,0) and wait for someone who knows his way on Blender to help us.

[2015-06-03 01:14] onox commented on #85
Can you instead give me a very small .ac file? (I mean that the object is very small)

[2015-06-03 01:17] gilbertohasnofb commented on #85
Onox, I never dealt with ac files before and I really don't know how to create them :cry: You are dealing with a complete 3D-ignorant person here.

[2015-06-03 01:39] onox commented on #85
I have already a good position. Just need to damp the volume if not internal and doors are closed.

[2015-06-03 01:52] gilbertohasnofb commented on #85
:+1:

[2015-06-03 01:52] gilbertohasnofb commented on #238
These are the properties that, when changed, should activate this click sound:

controls/lightning/taxi-light
controls/lightning/landing-lights
controls/lightning/nav-light
controls/lightning/beacon
controls/lightning/strobe
controls/anti-ice/pitot-heat
controls/switches/master-avionics
controls/engines/engine/master-bat
controls/engines/engine/master-alt

[2015-06-03 01:53] onox commented on #85
Fixed! If you can hear the sound well, try to open the door and switch to helicopter view, then you should be able to hear it very softly.

[2015-06-03 01:55] gilbertohasnofb commented on #85
Thanks onox, I will give it a try now. And when you have a chance, could you please check https://github.com/Juanvvc/c172p-detailed/issues/117 and https://github.com/Juanvvc/c172p-detailed/issues/238 ? Both should be easy to fix given what you have been doing for this stall sound. Let me know if I can help with anything.

[2015-06-03 01:57] onox commented on #117
This is not very difficult, volume should be controlled via a `<filter>` in a `<autopilot>` or `<property-rule>`.

[2015-06-03 01:58] onox commented on #238
I'll do this in a separate branch, closing #85 without a PR felt so unnatural :confused: :smile:

[2015-06-03 02:00] gilbertohasnofb commented on #238
No worries and no rush, do it the way you like better. I personally love to close the issues that I just solved myself :smile:

[2015-06-03 02:06] onox commented on #238
hehe.. yeah, but new stuff should enter master via PR so it can be properly tested. But I think I have said this a thousand times before :grinning: :laughing:

[2015-06-03 02:22] wkitty42 commented on #237
if this is what i think it is, we should also record the selected gear... there's numerous times that i'm on the lake and CTRL-R to replay which puts me back on the tarmac with no wheels... the floats, at least, are showing ""smoke"" streaming from them and if i switch to wheels, the smoke is still streaming even after i get into the air... at some point it stops but i've not been able to track do

[2015-06-03 02:24] wkitty42 commented on #109
i saw in an update earlier today or yesterday that there's a female walker... this is the one that i saw the eyes through when switching to the heli view... is this walker (pilot???) shared with other craft in fgfs or is it only for this craft??

[2015-06-03 02:26] wkitty42 commented on #107
i'm only aware of the default (plain white) craft having the callsign being shown on the exterior and on the pilots console... the passenger side console has the callsign also but it is not flickering or showing the wrong letters like the external or pilot's side...

[2015-06-03 02:28] wkitty42 commented on #81
the reservoir tank in in place, yes... i see it in the equipment menu where we can set the fuel quantity and the passenger and baggage weight... that was yesterday... i don't recall looking today but that also makes me ask if this item should appear in there at all? i don't recall seeing it in other craft that use a reservoir like this...

[2015-06-03 02:33] wkitty42 commented on #85
wow! you guys have been busy on this issue :)  i just wanted to say that there was recent work concerning stereo sound files in the core with fgaddon... basically it comes down to stereo can't be played buy the sounds system... everything should be mono and if you want sound from or more sides, each has to be separate and positioned as needed... the 3D (IIRC) system will then take the mono sounds

[2015-06-03 02:36] wkitty42 commented on #117
when this is done, please check that the sound is the same as inside the cockpit when one hits the 'c' key to remove the cockpit from the display... some craft i've flown make the engine sounds like we're sitting on the wing of the craft when we hit 'c' to remove the cockpit... the way i see it is that all i've done is to sit up and put my face in the windshield area so i can see everything... the

[2015-06-03 02:36] wkitty42 commented on #238
:+1:

[2015-06-03 05:30] tigert opened #239 "Autopilot alt preselect beep is disturbing on takeoff"
The kap140 alt preselector is afaik set to 0ft by default. This has the side effect that when you pass 1000ft on takeoff ypu get the alert of leaving altitude (the beeper you wonder what the heck it is??) :)

We need to check the behavior of the kap140 in this case - my memory says it has a persistent memory and people usually set something like 10000ft there to keep it quiet for usual flights as

[2015-06-03 07:22] tigert commented on #239
The thing with KAP140 altitude alerter is that it works even when the autopilot is not engaged, as long as the circuit breaker is on, and thus the unit gets power, and it can be used as a handy safeguard for keeping an eye on your altitude, because it will beep if you drift 200ft high or low. This is good and useful for cross country flying, but it can be disturbing when you do initial school flig

[2015-06-03 07:35] andgi commented on #214
This alignment has a potentially large impact on take-off performance both on water and on land since it sets the pitch range available during the take-off run.
If a reference on how floats are to be rigged on a c172p can be found it may provide an answer.

[2015-06-03 08:51] dany93 commented on #81
Yes, this tank is in place. Number 2.
Killing the engine can be done by
 ```/fdm/jsbsim/propulsion/tank[2]/priority = 0```
or
[code]
 whatever the condition(s) above.

[2015-06-03 09:08] onox commented on #85
Yes, that's why @gilbertohasnofb has converted it to mono.

[2015-06-03 09:10] onox commented on #81
The primer is indeed not necessary if you do autostart. But do we want to add all this temperature stuff for 3.6 (feature freeze on 17th of June) or postpone it for 3.8?

[2015-06-03 09:15] onox commented on #109
I think shared. `c172p-set.xml` includes `Aircraft/Generic/Human/Include/walker-include.xml`.

[2015-06-03 09:24] dany93 commented on #81
The primer is not necessary, *normally*. The engine starts well after a few seconds of starter. Well.
But if you push the throttle too soon after starting the engine, the engine stops and you have the message "Use the primer!"

[2015-06-03 09:43] dg-505 opened #240 "New Rating"
Good morning everyone

I suggest to give the c172p a new rating, because much has changed in the last few month.
Here is my suggestion:
- FDM: 4 or 5 stars. I don't exactly know how close to the reality the FDM is, but it seems very reasonable to me. Maybe someone with real flight experience with the c172p can ssy if it's more 4 or more 5 stars.
- Systems: also 4 or 5. There are some failure modes

[2015-06-03 10:38] Juanvvc commented on #109
It is shared, but the female model has many issues related to the position of her limbs. The xml file I submitted a few days ago fixes some of these issues. This file should be also submitted to FGDATA, but even if it is not accepted (or, most probably, I don't have the time to submit the file), our female model is already fixed.

This only fixed the position of her limbs, not the two-sided eyes.

[2015-06-03 10:47] Juanvvc commented on #6
As much as I'd like to fix this before the freeze, it involves lots of work and I'm afraid we won't have the time.

Also, I was planning to fix this while preparing the cockpit for the farmin project. Check this message in the forum: http://forum.flightgear.org/viewtopic.php?f=4&t=25157&p=245355#p245354 Some months ago, I contacted www2 to include his glass cockpit into our project. This involves

[2015-06-03 10:51] gilbertohasnofb commented on #6
Sure Juan, I completely agree with you. This fix here will be a tough one and I also don't think we can do it until the feature freeze in less than 2 weeks.

As for the Farmin, that sounds great, ww2's work looks really good and it would be nice to have a glass version of our c172.

[2015-06-03 10:57] Juanvvc commented on #216
I was comparing our model with the reference photos, and our nose is definitely very, very strange. Our cone/spinner seems to be too small, and the holes for the air intake are definitely too small.

I tried to fix this a few days ago, but fixing the nose needs a few hours of work and, probably, a new UV map. I don't think we can fix this before the freeze.

[2015-06-03 11:03] gilbertohasnofb commented on #216
Once this rush for the feature freeze is over, then we can work on this, Juan. Then I can also give you a hand by correcting the liveries if you change the UV map.

[2015-06-03 13:09] dany93 commented on #134
I have added a "print" in the console for the **side force on gears** (along Y-axis).
tigert wrote:

@tigert: what do you think we should set as a breaking threshold for this side force?
I'd say between 700 and 1000 lbs. It must hold crosswind landings at full load (not easy).

[2015-06-03 13:55] dany93 commented on #134
@wlbragg
I have not understood well your links between the damages on wings and the 3D representation. As well as the damage names, the "var" in physics.nas

What I have seen:
- wing(s) slightly folded upwards with a high diedra. I'd say that's right for wings "damaged" (still able to fly); Typically partial damage inflight.
- wings folded downwards, touching the ground. Good for a very hard landi

[2015-06-03 15:55] onox commented on #240
1. FDM: Unless the FDM is based on data from actual testing (wind tunnel, etc.), I would say it's (a solid) 4 stars.

2. Systems: I'm not sure what kind of systems we still need to model. Maybe the engine temperature primer stuff, oil, engine damage, etc.? I think 4 stars.

I agree with what you say about the cockpit and the external model.

[2015-06-03 15:57] onox commented on #134
When you define a variable for the first time, you should add `var` so that it is a local variable. When you later assign a new value to it, you don't need to use `var` again.

[2015-06-03 16:12] dany93 commented on #134
Yes, but this is a working file. I did not want to write everywhere.
In the "good" version, the variables will be defined as ```var = ``` at the top of the file, like those for wing damages. Inside the loop, only the name of the variable will be called.

[2015-06-03 16:15] onox commented on #134
Ok, I'll start testing your branch in an hour or so.

[2015-06-03 16:46] dany93 commented on #214
We at least have this drawing in the POH.
http://www.aerodynamicaviation.com/documents/cessna-172p-1982-poh.pdf
Section 9, SUPPLEMENTS
FLOATPLANE, Section1, Figure 1 p.4 of 42 (**PDF p.198/357**).
After this image, the angle does not seem so bad ?
But these floats seem smaller than wlbragg's (I s.
![capture du 2015-06-03 18 34 47](https://cloud.githubusercontent.com/assets/11994061/7965681/5a9daa9

[2015-06-03 17:52] tigert commented on #240
For systems we should test that with each breaker pulled out, nothing that takes power from it works. Also I think not all breakers might be functional yet?

I cannot say anything is wrong with the fdm with my limited c172 experience. I am pretty convinced about the stall/spin too, it recovers with textbook procedures and the aircraft behaves also very realistically when loaded to mtow (try that o

[2015-06-03 17:57] tigert opened #241 "Trim indicator needle should be easier to see"
It's dark over dark red. The needle should be white.

Also I noticed rotating the trim wheel on some angle the texture disappears. These with OH-CTL livery.

[2015-06-03 17:59] tigert opened #242 "Water droplets on glass should flow with propwash"
The propeller maked wind too, it should flow when you start the engine, and the flow should vary with throttle setting.

[2015-06-03 18:59] wkitty42 commented on #85
excellent... the core devs are or were working on fixing all the craft in fgaddon for the problem with stereo files... i learned about it from reading the dev list else i might have made the same mistake... i just wanted to pass on the info as i had learned it ;)

[2015-06-03 19:02] wkitty42 commented on #109
FWIW: i agree with your assessment, @Juanvvc

[2015-06-03 19:13] wkitty42 commented on #214
@dany93 yes, there is a difference... that pic in the manual is for floats and i was looking at the amphibious on the wipaire site linked in my first post... looking at it again, it appears that the front caster wheels are lifting the front of the craft and leveling the pontoons so their top is parallel with the ground... aside from that, i was looking also at that picture for the angle between th

[2015-06-03 19:32] stuartbuchanan opened #243 "Invalid use of 'Aircraft/c172p' in c172p-set.xml"
Hi,

Because of the use of 'Aircraft/c172p' in various paths in c172p-set.xml, it's not possible to put the aircraft in a separate FG_AIRCRAFT directory.

Straightforward diff to fix below, which simply removes the prefix.

We'll need to fix this for the the fgdata merge.

-Stuart
[code]

[2015-06-03 20:07] stuartbuchanan commented on #243
Also Nasal/immat.nas

[2015-06-03 20:10] stuartbuchanan commented on #243
Also the following files:
Models/Effects/bumpspec-tail.eff:  <name>Aircraft/c172p/Models/Effects/bumpspec-tail</name>
Models/Effects/bumpspec-tail.eff:  <inherits-from>Aircraft/c172p/Models/Effects/bumpspec</inherits-from>
Models/Effects/bumpspec-tail.eff:      <image>Aircraft/c172p/Models/Liveries/tail-normal.png</image>
Models/Effects/damage/damage.xml:		<inherits-from>Aircraft/c172p/Models/Effe

[2015-06-03 20:15] onox commented on #243
Are you sure it's not a problem on your side? I'm using `--fg-aircraft=/home/onox/fg-aircraft` which contains a folder called `c172p`.

[2015-06-03 20:16] onox commented on #243
Also, if you remove the prefix in `<model><path>` then people are going to have problems viewing your aircraft.

[2015-06-03 20:21] stuartbuchanan commented on #243
Hi Guys,

Good spot - I have the aircraft installed under "Aircraft/c172p-detailed"
rather than "Aircraft/c172p".

However, this fix should allow the aircraft to be installed anywhere.

Don't know if removing the prefix in <model><path> causes a problem over MP
or not.

-Stuart

On Wed, Jun 3, 2015 at 9:16 PM, onox <notifications@github.com> wrote:

[2015-06-03 20:21] onox commented on #243
Yes, it causes problems.

[2015-06-03 20:22] stuartbuchanan commented on #243
Ah well.

OK, then I guess there's no point in removing the prefixes elsewhere if the
<model><path> must have a prefix.

-Stuart

On Wed, Jun 3, 2015 at 9:21 PM, onox <notifications@github.com> wrote:

[2015-06-03 20:24] onox commented on #243
Correct. I think FlightGear itself should be changed so that aircraft can define a unique identifier representing the aircraft. In that case, paths could be made without the prefix.

[2015-06-03 20:24] #243 closed

[2015-06-03 20:45] onox commented on #134
@dany93 I have tested your branch. The forces are nicely printed in the console. I think gear should break > 2000. Can you implement this in the current version? We can later tune the 3 numbers (the forces) if necessary.

[2015-06-03 21:19] dg-505 commented on #240
@tigert: About the breakers I can say that most of them do their job properly. Only INST (for instrument lights), INT LT (for cabin lights), Turn Coordinator and Radio breaker 1 don't seem to work. (Maybe we could open another issue for that.)
@onox: About the systems maybe we could implement engine damage when overheating or when exeeding RPM limit, or something like this.
Does anyone have acces

[2015-06-03 21:21] onox commented on #237
Good point, @wkitty42.

[2015-06-03 21:25] gilbertohasnofb commented on #240
See section 3 of http://www.aerodynamicaviation.com/documents/cessna-172p-1982-poh.pdf

[2015-06-03 21:26] dg-505 commented on #240
Thanks, i'll have a look.

[2015-06-03 21:29] dg-505 commented on #240
Looks good. Shall I add some of these procedures to the checklists menu?

[2015-06-03 21:40] dany93 commented on #214
I think that the important is, as you wrote, the angle between the top of the pontoons and the belly of the *engine and seating area* of the craft. To be good on the water, it is common to the pure floats and amphibious version.
I guess the top of the pure floats or amphibious floats is not far from parallel to the water surface. If this angle is good, the top surface must also be parallel to the

[2015-06-03 21:52] dany93 commented on #134
OK, the important was your agreement on the principle.
I update my master branch, introduce the gear breaking instead of the printing, and I do a pull request.
*(To morrow, now that's for me that it is late and I do not like make things in a hurry)*

[2015-06-03 21:57] wkitty42 commented on #134
i was just playing with the current version and testing if the wings would fall off from overspeed... this is not with @dany93 stuff you have been talking about in recent posts... i got up to ~10000 and threw her into a dive... from chase or heli view, i saw "wing damage" reported but couldn't see anything... ok... then i saw the wings break outboard of the struts... i kept going looking to see if

[2015-06-03 22:03] wkitty42 commented on #214
ok... so... we hold this issue open for future visitation and evaluation or?

[2015-06-03 22:05] onox commented on #134
The wings can be heavily damaged, but cannot be separated. That would be cool though :smile:

[2015-06-03 22:14] dany93 commented on #134
The 3D wing representation do not completely break them, it is a matter of animation. This is the subject of my question to wlbragg in this message https://github.com/Juanvvc/c172p-detailed/issues/134#issuecomment-108431906.
I this situation, the "Repair" option is miraculous. After this and if you have been too long, Ctrl-u can help. No parachute is simulated...

[2015-06-03 22:54] dany93 commented on #214
The solution does not depend on me, but I would let it open.

[2015-06-04 03:04] wkitty42 commented on #134
hahaha, i played the CTRL-U card numerous times, yes... as for slowing down, a lot of times after the breakage i was close to stall speed...

speaking of which, i haven't heard the stall horn in a while... i have to have my engine sounds turned down to hear the radios clearly... is the stall sound in the same ""voice"" as the engine sound? yeah, i now... probably another issue ;)

[2015-06-04 03:05] wkitty42 commented on #214
yes, i'm leaving it open for more comments from everyone else...

[2015-06-04 03:09] wkitty42 commented on #107
no one can point me in the direction to start trying to trace this down??

[2015-06-04 06:12] wlbragg commented on #107
wkitty, start at c172p/Nasal/immat.nas

[2015-06-04 06:22] wlbragg commented on #214
I think we need to start with the front caster wheels and get their compression and extension adjusted to the correct specs. I really don't know how to do that.
Once that is correct then we can look at the angle of attack of the aircraft. I think the angle of attack will be a simple fix. I'm pretty sure it will only require the extension of the two back strut attachment points to get the angle how

[2015-06-04 06:26] wlbragg commented on #134
dany,
"What I have not seen: one or both wings really broken inflight "
I think we can do that, you want from the support strut to the tip "gone" broken off, yes?

[2015-06-04 06:31] wlbragg commented on #237
"Which properties control the yellow sparks and grey dust when tail and/or wings touch the ground?"

fdm/jsbsim/contact/unit[??]/WOW and velocities/groundspeed-kt in most cases.

[2015-06-04 06:42] wlbragg commented on #242
This is a bit tricky. If I remember correctly I did add a clamp to keep it from flowing the wrong way at startup (which i was doing at one point). But the flow is driven by a float and it is not user friendly at all. If someone has done this before than then I stand corrected, but  I'm not sure you can get that much control over the flow. Then again I guess you could translate rpm to the float tha

[2015-06-04 07:27] wlbragg commented on #166
OK, I think the ball is in Thorsten's court, unless he hits it back at me. I took this as far as I could short of pushing to fgdata. However, because this is Thorsten's domain I thought it best to leave the details of implementation to him.
Even after he gets it into fgdata, we still have a bit of work to do. We will need to define a two key to use the flashlight, hopefully if all goes according t

[2015-06-04 09:58] dany93 commented on #134
@wlbragg,
Yes, Nothing left beyond the strut. Tip "gone". Half of the wing.
I guess that's the easier from what you have already done, and it is enough to see what happened.

[2015-06-04 10:12] tigert commented on #242
The RPM would pretty much be an indication of the wind - since the propeller is fixed pitch. Also airspeed would be another measurement - maybe try to calculate somewhat sensible wind velocity value based on propeller RPM and another value from indicated airspeed, we could then compare them and use the larger value? That might work?

It would be pretty sweet if we could make it work in a sane way.

[2015-06-04 11:43] Juanvvc commented on #107
Please, check pull request #244

[2015-06-04 13:06] wkitty42 commented on #214
@wlbragg that's my thoughts, too... perhaps a closer look at some amphibious pontoons can help?

[2015-06-04 13:54] gilbertohasnofb commented on #166
@wlbragg looking really good! :clap:

[2015-06-04 13:55] gilbertohasnofb commented on #13
Guys, could we consider this for the 3.6 milestone or better leave it for after? How easy would it be to implement Thorsten's glass effect?

[2015-06-04 13:57] gilbertohasnofb commented on #117
Also, if https://github.com/Juanvvc/c172p-detailed/issues/116 gets implemented, then this should also apply to opened windows.

[2015-06-04 15:58] wlbragg commented on #166
Because of Thorsten's outstanding work, it was only a few additional line of code throughout the eff logic.

[2015-06-04 16:09] wlbragg commented on #134
We're on the same page!

"not what I "want""
I understand your explanation of not "wanting", as in a potential order or demand. I use the term "want" interchangeable with "mean", (probably my poor English skills even though it is my native language), I would never take coming anything from you that there was any intention other that simply trying to convey an idea. No worries!
It's a good idea and

[2015-06-04 17:38] wlbragg opened #246 "Instruments and gauges have no shadow or flashlight effects applied to them"
Instruments and gauges have to include an effects inheritance code block in each of their xml files to inherit these effects.
see http://forum.flightgear.org/viewtopic.php?f=4&t=25157&p=245632#p245632

[2015-06-04 17:51] dany93 commented on #214
I do not understand the problem.
These gears are boguey 21 and 22.
The spring and damping coeff are in the FDM (lines 416 .....).
In the FDM, their Z-position is 0, but it seems that you set it in physics.nas
[code]
(Not sure this is truely set here, I don't understand well. Fix me, please....)
Why not set it by
[code]
?
It can lift the front of the amphibious, after that is a matter of 3D in Blen

[2015-06-04 19:31] wlbragg commented on #246
thx onox, I always forget the tags.

I didn't notice anything to outstanding. I'm not sure it works exactly the way you would want . t almost appears that the shadow may not align the same from instrument to gauge to panel.
But for the flashlight you can see it works really well
![flashlighgr](https://cloud.githubusercontent.com/assets/11069680/7992598/141abd2a-0ac6-11e5-87c5-231e2058b31f.jpg)

[2015-06-04 19:32] wkitty42 opened #248 "Damage repair does not recharge the battery"
load the craft normally with the engine off... make sure that damage is enabled in the craft's options... press the autostart just to ensure that everything is ready to go... do not press the 's'tart button! also, make sure the instrument lights are turned all the way up to 100%... now, go get lost editing or providing support or whatever... as long as you're away long enough for the battery to ru

[2015-06-04 19:40] wkitty42 commented on #13
i see no problem with it if it can be put in easily and be ready to go with no problems... there's still a number of other issues that need to be fixed before the freeze if we can get them done... i don't think we want to see :ahem: ""the microsoft way"" where features are implemented and bugs are left unfixed :wink: :laughing:

[2015-06-04 19:41] wkitty42 commented on #117
agreed... however, i wasn't aware that we could open any windows in this craft... that would sure help with the over heating problem :laughing:

[2015-06-04 19:43] wkitty42 commented on #166
great! if we can get the lit area enlarged a bit, this will be perfect... is this just a flashlight or is it going to be anchored in the overhead like a dome light in a car that lights when any door is open? even the baggage compartment door?

[2015-06-04 19:46] wkitty42 commented on #214
i think you have it, @dany93 ... decrease front struts or lengthen back ones... either way will adjust the angle of the craft in relation to the pontoons... the question is which one to do to have proper clearance between bottom of spinning propeller and top of pontoons... yes, i know the prop is in between them but... :wink:

[2015-06-04 20:17] onox commented on #248
The repair button repairs your gear and wing.

[2015-06-04 20:19] onox commented on #248
Maybe there should be a separate button to "Replace battery"?

[2015-06-04 20:55] gilbertohasnofb commented on #248
I don't think we should have a different button, else our menu is getting too complicated! Let's just use the same repair button to replace the battery.

[2015-06-04 20:56] gilbertohasnofb commented on #117
We currently can't, hence the issue #116

[2015-06-04 20:56] gilbertohasnofb commented on #13
Sure, let's not push to have even more features just for the sake of having more features! But if this is easy and someone has the free time, then why not? :smile:

[2015-06-04 22:03] dany93 commented on #214
Yes and no. I rather understood that wlbragg had a problem at setting the compression and extension values for the front caster wheels in the FDM. I trust him for Blender.

[2015-06-04 22:17] wkitty42 commented on #248
that's my thought's too... i would expect [REPAIR] to repair all damage and problems... even burnt out fuses if/when we get to the point of damaging them for some reason :wink:

[2015-06-04 22:18] wkitty42 commented on #13
agreed :)

[2015-06-04 22:20] wkitty42 commented on #214
yes, the casters is one... fixing that should level the pontoons... then the craft itself needs to be adjusted so it isn't so nose-high (too high angle of attack?) when the pontoons come up level...

[2015-06-05 00:36] onox commented on #240
@dg-505 Yes, that would be cool :smiley:

[2015-06-05 00:42] onox commented on #248
:dizzy_face:  :open_mouth: :scream:

Nice! :smile: Is it really possible for these fuses to irreversibly disconnect/break the electrical wire? (So that you need to replace the fuse instead of simply pushing it?) If yes, then we need to create an issue for this.

[2015-06-05 01:33] onox commented on #237
@wlbragg Thanks. I have added them here locally. Smoke, sparks, and wakes are working.

[2015-06-05 02:31] wkitty42 commented on #248
ummm... yeah, you are right... they are circuit breakers instead of fuses... that means that we need to pop the button out and kill that circuit if/when it suffers overvoltage or overamperage for some reason... the only reasons i can think of are mainly related to age (weakening springs and metal fatigue) and possibly the alternator having problems and surging more than desired which might happen

[2015-06-05 02:35] wkitty42 commented on #237
and gear changes?  yeah, i know we shouldn't be changing gear in mid-flight but i'm sure it will be happening unless we specifically set up a block to prevent it at some point before power up and takeoff... maybe that's an idea to consider so that the reply from pontoons on water doesn't toss us back on the tarmac with smoke and sparks since we wouldn't be able to change gear in flight or even whi

[2015-06-05 05:21] wlbragg commented on #134
Something like this?
![bwing1](https://cloud.githubusercontent.com/assets/11069680/7999895/c955da1a-0b18-11e5-9fd4-393143e5684c.jpg)
![bwing2](https://cloud.githubusercontent.com/assets/11069680/7999897/c957e418-0b18-11e5-8650-8c7faa35e0c7.jpg)
![bwing3](https://cloud.githubusercontent.com/assets/11069680/7999896/c957cae6-0b18-11e5-8cfd-6b2557366ce9.jpg)

[2015-06-05 05:27] wlbragg commented on #134
I guess it will take at least 4 new wings in the damage model.

I think we will need logic for the following

left broken, right no damage
left broken, right damaged
right broken, left no damage
right broken, left damaged

The pictures are of right broken, left damaged.

Do we also want both wings broken (as in both wings missing)?

[2015-06-05 05:37] wlbragg commented on #214
"I do not understand the problem.
These gears are boguey 21 and 22.
The spring and damping coeff are in the FDM (lines 416 .....).
In the FDM, their Z-position is 0, but it seems that you set it in physics.nas"

I'm not sure I understand either. I don't set any of the gear bogey points in the FDM because we don't know for sure what gear configuration is going to be used at any point in time or at

[2015-06-05 07:02] wlbragg commented on #214
OK, I just got through looking at this again.
The issue is the spring_coeff and damping_coeff for both the front and rear amphibious gears. They are to "soft".
They are gear "bogey" points 21-24.
If I extend some other contact points 13-16 to take the weight off of the gear you can see the peak extension that they should be able to obtain.
![extended](https://cloud.githubusercontent.com/assets/110

[2015-06-05 09:06] dg-505 commented on #240
Almost finished :wink:

[2015-06-05 09:52] wlbragg commented on #166
It will be a flashlight. It is identical to the searchlight in that it moves with your view.
I asked for a user definable radius or at least enlarge the default a bit.

[2015-06-05 11:13] andgi commented on #214
If you consider merging the hydrodynamics ( https://github.com/andgi/c172p-detailed/tree/hydrodynamics-wip ) for the coming release it might be worth looking at solutions to the floats on water/land problem from that perspective.

Yesterday I removed the float contact points 13-20 and kept the float landing gears (formerly 21-24, now 13-16 in hydrodynamics-wip). This seems to work ok on land and w

[2015-06-05 11:21] dany93 commented on #134
Very nice. Sure, people will be amused!

Yes.

I didn't realize it took one model per combination. I believed each part was independent.
We already have "left damaged", "right damaged", "both damaged".
With both wings broken it will be complete, this is the more important which is still lacking.
In case you would prefer limiting the number of combinations, if one wing is broken, that is not import

[2015-06-05 12:11] onox commented on #134
Why not make each side independent?

[2015-06-05 13:18] dg-505 commented on #241
For me the trim indicator needle is white:
![trimwheel](https://cloud.githubusercontent.com/assets/12293276/8006523/07b0a0c0-0b95-11e5-9489-66b0224d8f8a.JPG)

Also I don't see any textures disappearing when rotating the trim wheel...

[2015-06-05 13:21] gilbertohasnofb commented on #241
I see the same as dg-505 above.

[2015-06-05 13:40] dany93 commented on #134
Taking into account the problems with the floats and amphibious, I don't know if wlbragg has enough time to do important changes. But yes, it would be more flexible and easy to use.

[2015-06-05 14:02] wkitty42 commented on #166
moves with your view? so like... we have to right-click-hold and drag the screen around so the area we want to see is in the central lit area? that could work... i'm updating my fgfs now... hopefully it'll have the flashlight code but i've not read recent updates lately so...

[2015-06-05 14:19] wkitty42 commented on #241
i see the white line but the wheel texture goes away at two points of the range... on the positive side going from 0.02 to 0.03 and on the negative side going from -0.05 to -0.06... here's pics...

0.02 - has wheel texture
![fgfs-screen-043](https://cloud.githubusercontent.com/assets/4641713/8007718/cb55f8ec-0b6b-11e5-8df4-11a51db99bf4.png)

0.03 - no wheel texture
![fgfs-screen-044](https://cloud

[2015-06-05 14:25] dg-505 commented on #241
Can't confirm this... :confused:
Don't know why you have this bug...

[2015-06-05 14:29] gilbertohasnofb commented on #241
@wkitty42 maybe open a new issue for the trim wheel bug, because this one is about the needle only, so this way we keep it more organized and it will be easier to fix it.

[2015-06-05 14:31] wkitty42 commented on #134
i like the pics... if there's enough time to get it in, go for it... but don't push it if there's too much other stuff to get done...

i kinda thought like @dany93 about the combinations... i know that some other (airliner) craft have wing flexure in their models... that requires that the wings be in multiple parts... if these wings are split into three parts, top center from strut to strut, left

[2015-06-05 14:33] wkitty42 commented on #241
i'll open a new issue and reference this one for the pictures... i was going by @tigert second line in the original issue text... this is also with the OH-CTL as noted... i've not looked at any others yet...

[2015-06-05 14:42] wkitty42 opened #250 "trim wheel texture disappears"
When rolling the trim wheel, the texture disappears and reappears at certain settings... this happens with all liveries... it is not limited to just one livery... the numbers at the points where the texture disappears or comes back are not the same across all liveries, though... I thought it might have been number related or maybe length/wrapping but I don't know now...

See issue #241 for some re

[2015-06-05 17:33] wlbragg commented on #134
"Why not make each side independent?"
I'd have to think about this one. Something tells me this would be a lot of work?
Maybe not, but just the modeling alone would take me quite a while. Issues would be, unless we used (cut up) existing wings all the lights pos might change slightly (that is considerable work, verifying it all in MP, potential major overhaul to the logic involved. It just seems l

[2015-06-05 17:56] #107 closed

[2015-06-05 18:07] dany93 commented on #134
Yes, if possible (sorry...).
This is the case when the aircraft starts spinning and falling down. The remaining wing can be left (seen) as normal, no matter it is partially damaged or not.

[2015-06-05 18:13] onox commented on #237
It's on the todo list :smile_cat:

[2015-06-05 18:19] onox commented on #134
@wlbragg Can you get this done before the feature freeze deadline? Or should we postpone it for 3.8?

[2015-06-05 18:32] wlbragg commented on #134
I think so, I already have the both broken (I think). How many days left?

[2015-06-05 18:43] onox commented on #134
17th of June is the deadline for new features.

[2015-06-05 19:01] wlbragg commented on #134
Yes, I can get the broken done.

[2015-06-05 19:10] wkitty42 commented on #134
i was going to say 7 days left if you wanted to target the 12th as @gilbertohasnofb is doing with his scenery stuff... that'll give the core guys some time to check it over before the *feature* freeze... bug fixes can still be handled and submitted after the freeze, though... at least that's my understanding...

[2015-06-05 19:37] onox commented on #134
But feature freeze of fgdata is on the 17th. All we have to do is promise not to sneak in any new features after that data.

[2015-06-05 20:51] wlbragg commented on #166
No, it's not implemented yet. I just offered to push a merge request to fgdata if that might free up some of Thorsten's time. Haven't heard back yet.

[2015-06-06 01:03] wkitty42 commented on #134
true but better to have a bit of a buffer than none and overrun :wink:

[2015-06-06 01:05] wkitty42 commented on #166
ok... just kinda anxious to see this :angel:

[2015-06-06 02:56] wlbragg commented on #214
"If you consider merging the hydrodynamics"
Maybe you've completed some more work on this, but the last time I tried it there were several issues with it. Unfortunately I can't remember what they were.
They may be small things that can be easily fixed but I remember having the impression that it had a ways to go.
I'll pull fresh and give it another try and report back any of my concerned.
I am ver

[2015-06-06 04:24] wlbragg commented on #166
Here it what the final product will hopefully look like.
http://youtu.be/12FoeXjfNd0

[2015-06-06 08:25] tigert commented on #241
Okay. I will need to verify this - somehow it is not very easy to see on my setup.

[2015-06-06 08:37] wlbragg commented on #166
This is now in Thorsten's hands. I finished it as you can see by the video. If it gets implemented as is, it will have two color light filters of user choice and also a light radius also of users choice that you can define in the effects file. Everything is in place on my local system to push as soon as it is implemented in fgdata.

[2015-06-06 08:48] wlbragg commented on #134
I made major progress on this tonight. I think I have all five wing models finished and the "both wings broke" coded in and ready to go.

All that is left is to code the following four.

left damaged, right broken
left undamaged, right broken
right damaged, left broken
right undamaged, left broken

Should have it pushed for a pull requests by late tomorrow night.

![bothbroke](https://cloud.github

[2015-06-06 09:05] dany93 commented on #134
right damaged, left broken

Are these really necessary? When one wing is broken, I think that merely *seeing* the other one *not broken* is enough. Damaged or intact is not important, I would use "intact" model in both cases.
You save two wing models.
See my message https://github.com/Juanvvc/c172p-detailed/issues/134#issuecomment-109261002

[2015-06-06 10:52] wkitty42 commented on #166
@wlbragg that looks good!

[2015-06-06 11:19] tigert commented on #241
Okay, actually it is white for me too, so there is no real bug, the indicator is just very thin and thus currently it is hard to see. We should make it thicker, so it is more useful in practice.

http://tigert.1g.fi/kuvat/Simulators/Flightgear/C172-dimensions/aae.jpg/_full.jpg

//Tuomas

[2015-06-06 14:06] andgi commented on #214
If you pull now floats on ground (issue i) above) is now better handled along the lines you had before, but only when there is solid ground below the contact point. The hydrodynamics system is on unless all contacts are above solid ground.

There are things that may need some more tuning, such as: the location of the forward float contact point and the friction values - there is strong a tendency

[2015-06-06 14:54] onox commented on #214
@andgi I tried your branch yesterday, but the aircraft reacted really badly when touching the water during landing or during takeoff.

[2015-06-06 15:06] andgi commented on #214
Are you sure you didn't touch down too hard? I can make acceptable landings but it is not trivial, but that is somewhat consistent with what I have read about seaplane handling.
Do we have anyone with actual seaplane experience around?

[2015-06-06 15:13] wlbragg commented on #134
Necessary no, but their done and I figured that you would normally damage and then break a wing (in that order). So I thought it best that we have it both ways. I think for the most part the logic is already in place so if you damage a wing or both and keep applying force then they will eventually break. Or you could have the instance where you go right from good to broke, I guess.

[2015-06-06 15:34] dany93 commented on #134
Yes, we can have instances where one is only damaged and the other broken. If you have already done them, it is not too much and not an inconvenience, only best.
I said this only to save you some time.

[2015-06-06 17:27] dany93 commented on #214
@wlbragg
I am trying to understand your amphibious gear issue.
Thus, pardon and don't be surprised if I write non sense.

In your first picture https://github.com/Juanvvc/c172p-detailed/issues/214#issuecomment-109181958 the Z-position of the wheels do not seem so bad (although not easy to evaluate when they do no touch the ground)..
In the FDM the spring coefficients (bogey, 21 - 24) seem correct

[2015-06-06 17:39] wlbragg commented on #134
This is going to need some tuning I think. It appears the wing breaking is fairly easy and I think need to be harder.

Here are the parameters we will have to work with

Everything as it is now and what more we will have to work with.

You originally created two wing damage properties wing-damage/left-wing and right-wing.

You used basically two damage amounts to control damaged or broken in FDM,

[2015-06-06 18:41] wlbragg commented on #166
It's done, see #252

[2015-06-06 18:43] gilbertohasnofb commented on #166
Looks amazing, wlbragg! Can't wait to try it for myself (not home at the moment)!

[2015-06-06 18:44] gilbertohasnofb commented on #103
Now that we have the ALS lantern, could we try to fix this? Should be just some few lines of code, right?

[2015-06-06 20:02] wlbragg commented on #166
We can close this as soon as it's tested by a few people and we are happy with it.

If you would rather not have the flashlight cycle from white to red,  we can reverse it in flashlight.nas so red is the first light that comes on. We can also change it so you only toggle red on/off, no white. Feel free to set it up anyway you prefer.

[2015-06-06 20:03] wlbragg commented on #246
This is finished and having heard of no ill effects, I'm closing it.

[2015-06-06 20:03] #246 closed

[2015-06-06 20:50] wkitty42 opened #253 "DME changed? On/Off toggle switch texture missing on all liveries..."
I don't know how I've missed this before but I've just noticed that the DME seems to have changed and the toggle switch texture is missing... see the pic...
![fgfs-screen-048](https://cloud.githubusercontent.com/assets/4641713/8021385/222012e2-0c6c-11e5-9345-3dafbf19aeab.png)

[2015-06-06 21:54] onox commented on #166
@wlbragg I tried to pull latest fgdata, but I'm not getting any updates. Latest commit is "Make METAR string editable in GUI.  Fix bug 1764".

[2015-06-06 21:58] onox commented on #103
We need to modify the bindings of keys L and shift+L and change the dial on the panel to not adjust `/sim/model/material/instruments/factor` but a new property. This new property needs to have its value propagated to `/sim/model/material/instruments/factor` depending on the voltage of the electrical bus.

[2015-06-06 22:00] gilbertohasnofb commented on #103
Oh, okay onox. I don't know how much work this is, but it's certainly more than I thought. My idea was simply to make some sort of conditional such as: if master off then force instrument lights off, else apply value from instrument lights dial.

[2015-06-06 22:04] wkitty42 commented on #166
you're right... that was by stuart on wednesday :/

[2015-06-06 22:06] wkitty42 commented on #103
don't the instrument lights go through the electrical system and the circuit breakers? aren't they controlled by the master switch? i/we will need to look at the schematics again... now where'd that pdf file go?

[2015-06-06 22:14] dany93 commented on #134
I do not see
wing_both_damaged
wing_both/damaged
?

If a wing has touched the ground, even not violently, the aircraft no longer takes off.

[2015-06-06 22:25] andgi opened #254 "Request for feedback: Hydrodynamics-based pontoons/floats modelling"
My hydrodynamics-based (as opposed to contact point-based) modelling of floats is approaching an, I think, acceptable state. You can get it here
https://github.com/andgi/c172p-detailed
in the default hydrodynamics-wip branch. The branch will be rebased onto the upstream master branch frequently so if you add your own commits to it update it with git pull --rebase.

As far as I know the main thing

[2015-06-06 22:28] gilbertohasnofb commented on #103
@wkitty42 do you mean this one?: http://s18.postimg.org/n12yt1qk9/Screenshot_from_2015_03_13_17_33_45.png

Yes, they do go through the elec system and circuit breakers (look for INT LT)

[2015-06-06 23:12] wkitty42 commented on #103
yep! that's the one we've seen before... i note that the dome, courtesy and map (on the door post, not modeled in this craft yet??) lights are on the same circuit breaker and everything is controlled by the master switch... but that switch is actually two switches, right? battery and alternator... ok... yeah, if both master switches are off, then no lights should work at all... except the new ALS

[2015-06-06 23:38] onox commented on #254
To test if you already have a clone of the Juanvvc/c172p-detailed repository, do this:

1. `git checkout -b andgi-master master`

2. `git pull https://github.com/andgi/c172p-detailed.git hydrodynamics-wip`

[2015-06-07 00:05] onox commented on #254
Did some testing:

1. Didn't have as many difficulties as I had earlier. Keeping the nose above the horizon made the landings much less likely to freak out.

2. I saw a lot of white smoke, but couldn't see the grey smoke (what's the grey smoke for anyway?)

3. When I lowered the gear while trying to take off, neatly toppled the aircraft over after reaching > 40 knots:

![fgfs-screen-012](https://c

[2015-06-07 00:11] onox commented on #254
@andgi Could you add (for future developers) a `README.md` file to `dev/fdm/gerris` explaining when and how you used `create_experiment.sh`, `run_experiment.sh`, and ` summarize_experiment_jsbsim.sh`. And how you generated `floats.gts.base`?

[2015-06-07 00:35] onox commented on #103
@gilbertohasnofb Hmm.. I see L and shift+L already control a separate property `/controls/lighting/instruments-norm`. But something is then adjusting `/sim/model/material/instruments/factor` :confused:

[2015-06-07 00:38] gilbertohasnofb commented on #103
Yeah, I believe what you wrote is correct. About the masters, I believe this is how they work:

Battery ON, Alternator OFF, Engine OFF: electricity is available but drained from the battery
Battery ON, Alternator OFF, Engine ON: electricity is available but drained from the battery
Battery ON, Alternator ON, Engine OFF: electricity is available but drained from the battery
Battery ON, Alternator O

[2015-06-07 00:39] gilbertohasnofb commented on #103
@onox do you know any other key that is free? We can add this to the aircraft help. What about F and Shift+F (for flashlight)?

[2015-06-07 00:44] onox commented on #103
F and Shift+F are free. You can check that in `keyboard.xml` in fgdata :smile:

[2015-06-07 00:45] gilbertohasnofb commented on #103
Cool! So let's go for it :)

[2015-06-07 00:46] onox commented on #103
I found the relation, it's in `Nasal/light.nas` :stuck_out_tongue_closed_eyes:

[2015-06-07 00:50] onox commented on #103
I think we can use the same trick as for the ALS lights; just add a `<logic>` element to `Systems/als-lights.xml`. Could you do this @gilbertohasnofb? Do it in a separate branch with `git checkout -b bug-103-instruments` (`bug-103` itself is already taken) so I can review it :smile:

[2015-06-07 00:51] onox commented on #103
Or create a new issue, because I abused bug-103 for the ALS lights.

[2015-06-07 00:56] gilbertohasnofb commented on #103
@onox sorry but this is beyond my knowledge, onox. I know near-to-nothing of xml..

[2015-06-07 01:32] tigert commented on #103
The c172 Pilots Operating Handbook has a electronics schematic. We should model the electric buses and check them for power availibility (and see where each breaker is wired to) sothat the logic is implemented just once.

I can try to look into this too but currently a bit restricted in free time for a week or two, so it might be a bit slow for a bit.

[2015-06-07 01:42] tigert commented on #254
I can ask the guys who currently fly OH-CTL on floats about the procedures and practical handling. This sounds very interesting. CTL is not amphibious though (no wheels on floats)

[2015-06-07 01:46] onox commented on #103
@tigert We are already doing that. Check `Nasal/electrical.nas`.

[2015-06-07 01:48] onox commented on #103
I'll do this then. Should be easy.

[2015-06-07 01:49] gilbertohasnofb commented on #103
Thanks and sorry about it.

[2015-06-07 02:13] onox commented on #103
@gilbertohasnofb When you press Ctrl+C, the names of "Autopilot" and "DME" are reversed.

[2015-06-07 02:18] gilbertohasnofb opened #256 "Ctrl+C shows wrong names in radio"
When you press Ctrl+C and look at the radios, some names are wrong:

-  "Autopilot" and "DME" are reversed.
- Com1/Nav1 also shows "ADF receiver"

[2015-06-07 02:18] gilbertohasnofb commented on #103
@onox confirmed, just opened a new issue for that: https://github.com/Juanvvc/c172p-detailed/issues/256

[2015-06-07 02:21] onox commented on #256
It's a bug, not a feature :wink:

[2015-06-07 02:22] gilbertohasnofb commented on #256
hahaha my bad :laughing:

[2015-06-07 02:23] onox commented on #103
@gilbertohasnofb The PR is waiting for you, do `git fetch` and `git checkout bug-103-instruments` to test it.

[2015-06-07 02:27] #103 closed

[2015-06-07 03:41] wlbragg commented on #134
We don't have a wings-both-damaged, we use "wing-left-damaged and wing-right-damaged" for both.

The animation logic is taking a bit longer than I anticipated, I am doing a bit of refactoring in an effort to get rid of a bunch of extra model part (like I did a while back with gear and propeller). Hopefully I'll push a pull request tonight (in the next couple hours).

[2015-06-07 03:46] wlbragg commented on #214
"I feel that is an animation which is over-amplified."
You are probably right. The animation was not a 1 to 1 copy from the dhc2 because I resized the landing gear and the tires. So that make sense that it is more likely animation which is over-amplified VS spring.
Feel free to work on it and see if you can improve on it, that whole area of development is out of my wheel house.

[2015-06-07 04:32] wlbragg commented on #166
I've lost my mind. I don't think Thorsten committed it yet. All I can figure is I saw my branch and thought it was fgdata (next). I apologize, hopefully this will get done soon. I wrote up some docs in ALS technical notes and posted a brief announcement on the forum even. Boy do I feel stupid!

[2015-06-07 04:34] wlbragg commented on #166
You can grab it from my fork if you want to play with it.
https://sourceforge.net/u/wlbragg/flightgear/ci/next/tree/

[2015-06-07 05:20] wkitty42 commented on #254
FWIW it seems to me that amphibious and plain floats should be about the same other than the pocket for the rear wheels and if the front wheels are extended... maybe a few pounds more weight but not that much...

[2015-06-07 05:22] wkitty42 commented on #256
i saw that but missed the reversal... has this just happened? i remember something about a KT70 or some such instrument being removed but i haven't found that log entry and may very well have the number screwed up... i think it has something to do with my other issue about the DME toggle switch...

[2015-06-07 05:24] wkitty42 commented on #134
@wlbragg yo are doing good, man! don't rush things... it only leads to misteaks  :wink:

[2015-06-07 05:27] wkitty42 commented on #166
@wlbragg it is ok... the early announcement just serves to get others salivating for the feature :laughing: the fix will be in ""shortly"" as they say with regard to horse races and ball games :wink:

[2015-06-07 05:40] tigert commented on #254
Yeah, I would assume the same, that operation on water is similar, except if you forget the wheels down on water :-P

I found a pretty short, but still useful guide on how the water operations work. Bear in mind I have no practical experience in these, but this document explains things well:

http://www.seaplanes.org/mambo/UserFiles/File/AC61-21A.pdf

Indeed it seems to be that full aft elevator i

[2015-06-07 07:53] andgi commented on #254
Thanks guys, this helps identifying issues to work on (e.g. damage and crash detection - it is mostly the same as in master but I have change the gear/contact index where needed - and it needs more work to break things on water where no float contact points are used).

@onox I'll add a README. floats.gts.base is created from the float 3d model in floats.blend (same as in the main model but cleaned

[2015-06-07 15:29] wlbragg commented on #166
Thorsten's got it in, unless I'm dreaming again.

[2015-06-07 16:28] wkitty42 commented on #166
i saw it go in ~2AM my local (east coast USA) time... now that i have it turned on, how do i...
1. make it turn red?
2. turn it off again?

[2015-06-07 17:56] onox commented on #166
1. I cannot turn off the flashlight via the menu. I have to toggle the property in the Internal Properties window.

2. I don't know how to get a red flashlight.

3. The turn indicator looks weird (before these ALS flashlight update, it had a yellowish glow instead):

![fgfs-screen-017](https://cloud.githubusercontent.com/assets/3361585/8025263/40f098c0-0d4f-11e5-9963-f381f08fa42c.png)

[2015-06-07 18:12] tigert commented on #254
For the record, I also have that shading issue on some instrument needles like on that screenshot, and this is new and recent, havent noticed it earlier.

[2015-06-07 18:21] tigert commented on #166
The older c172s have a map light on left window post. This is a spotlight with a swivel that has a narrow cone and the light is white if I remember correctly. This has a rocker switch on the same window post. maybe the POH has something about this, will check.

The red night light is in the ceiling and I recall it is adjustable from the same knob as instrument lights (it has dual potentiometers, t

[2015-06-07 18:22] tigert commented on #166
New c172's have a map light on the new style control wheel, on the bottom side. Basically lits up your lap. This is not on the old ones, but that swivel light is there instead.

[2015-06-07 19:01] onox commented on #256
Com1/Nav1 also shows "ADF receiver"

[2015-06-07 19:02] onox commented on #254
@andgi From which package do I get the "transform" binary?

[2015-06-07 19:13] gilbertohasnofb commented on #256
@onox okay, so I updated the title and description. Thanks!

[2015-06-07 19:19] andgi commented on #254
@onox I built Gerris, http://gfs.sourceforge.net/wiki/index.php/Main_Page , from source last year and some times previously. I used sources from their darcs repository. I seem to have three source directories: gerris-stable  gfsview-stable  gts-stable

The transform command is probably part of the gts library. IIRC the command was called gts-transform when I had deb packages installed instead of b

[2015-06-07 20:09] gilbertohasnofb opened #259 "Small improvements to the exterior 3D model"
Create a hole for the wheels inside fairings:

![unbenannt](https://cloud.githubusercontent.com/assets/12293276/8025744/418379e4-0d61-11e5-9b3e-12cd0ba2787a.JPG)

Create a door handle:

![unbenannt](https://cloud.githubusercontent.com/assets/12293276/8025754/7f0a4b80-0d61-11e5-8468-c21bf8385b55.JPG)

[2015-06-07 21:17] tigert commented on #259
Closeup of the door handle  - sorry I shot just one and it turned out blurry. I think the resolution might be enough for the texture use, anyway, and you can see the appearance. The handle is chromed, and it opens by lifting the edge towards the nose of the aircraft up - the handle rotates out maybe 45 degrees.

http://tigert.1g.fi/kuvat/Simulators/Flightgear/c172-details/20150527_0062.jpg

There

[2015-06-07 21:19] gilbertohasnofb commented on #259
@tigert thanks for the pics. As for the nose, it will go through a major rework later (see: https://github.com/Juanvvc/c172p-detailed/issues/6 and https://github.com/Juanvvc/c172p-detailed/issues/216).

[2015-06-07 21:20] gilbertohasnofb commented on #259
Also, to the 3D modellers our there: just let me know if any new texture is needed, ok? Then I can either use tigert's images above as source or simply create them myself.

[2015-06-07 21:48] onox commented on #254
@andgi It's indeed part of gts, but emerge only installs the man file here apparently, no binary. I guess I'll have to fix the .ebuild file then.

[2015-06-08 02:56] wlbragg commented on #166
Sorry been away for awhile. One click on "Flashlight" in the menu turns on the white light, Click it again and it turns red, a third time shuts it off. Obviously that can be changed however we want it.
The property that controls it is.
/sim/rendering/als-secondary-lights/use-flashlight = 1 = white light
/sim/rendering/als-secondary-lights/use-flashlight = 2 = red light
/sim/rendering/als-secondary

[2015-06-08 03:38] wlbragg commented on #254
"I've noticed that the clearance between the forward (on ground) contact point and the runway is very small on the amphibious variant"
This still needs to be sorted out.

"I also have that shading issue on some instrument needles like on that screenshot, and this is new and recent, havent noticed it earlier."
This is probably the "internal shadow" inheritance that was applied to the instruments. I

[2015-06-08 04:18] wlbragg commented on #254
Another observation, just sitting dead on the water and turning left or right seems to influence the aircraft.
The floating and bobbing on the water is really cool, but the floats will sink completely below the water line periodically.

[2015-06-08 04:21] wlbragg commented on #254
I've gained a little more control taking off, it definitely requires some touch!

[2015-06-08 04:26] wlbragg commented on #254
The gear down on amphibious does make a difference but only if you put the nose down.

[2015-06-08 04:47] wlbragg commented on #254
I know I am somewhat spamming this thread but after using this a little more, I really like the effort it takes to achieve a good takeoff and landing, it can be done, it just requires some effort. It feels so real when it's is done right. If we can just clean up the boundaries, it would be really nice.

[2015-06-08 08:29] dany93 commented on #254
@andgi wrote

This still needs to be sorted out.

I'm looking at that (forward wheels on the ground).

@wlbragg wrote

After takeoff (not longer touching the water) do a bit of horizontal flight at this low height until you reach at least 80 kt, better 90 kts, before pulling the yoke to climb. After this, do not be below 80 - 90 kts.
The amphibious adds weight and drag, I have set them estimated o

[2015-06-08 12:57] Juanvvc commented on #241
If I recall correctly, both the wheel and the indicator are not textured but they have a plain color. Objects with plain color are very sensitive to ambient light. Under certain angles, illuminated and not illuminated faces may be rendered with the same grey color. The effect is that these faces cannot be distinguished and details "disappear". Actually they don't, it is just they are of the same c

[2015-06-08 12:58] gilbertohasnofb commented on #241
What if we assign a full white texture to the needle? Would that help or it wouldn't make any difference? As for the trim wheel, I can prepare a small black texture for it if you want.

[2015-06-08 13:06] Juanvvc commented on #241
The high dependence with the ambient light is an issue for all untextured, dark objects. A white texture for the indicator won't make any difference in this case.

(Please, keep in mind this is only a guess after checking your snapshots! I can be wrong!)

[2015-06-08 13:07] Juanvvc commented on #250
Please, see my comments to #241 I'll check this as soon as possible.

[2015-06-08 13:10] gilbertohasnofb commented on #238
For when this gets implemented: we now have three click sound files in Sound, `click.wav`, `click2.wav` and `click3.wav`. My idea is:

- `click.wav` should be used for the small switches (taxi-light, landing-lights, nav-light, beacon, strobe and pitot-heat)
- `click2.wav` should be used for the master switch (master-bat and master-alt)
- `click3.wav` should be used by the avionics switch (master-a

[2015-06-08 13:13] gilbertohasnofb commented on #241
Ok, Juan! As for the trim wheel texture, should I simply make some kind of plastic black texture or should I try to imitate the pattern seen here?: https://cloud.githubusercontent.com/assets/4641713/8007720/cb5bc466-0b6b-11e5-94e3-d2474de95f5e.png

[2015-06-08 15:00] tigert commented on #254
"climb prop" is no bad idea, old 172s are no speed kings on cruise anyway. Also ctl on floats has 180hp, 160hp on floats 172 is a very bad performing seaplane.

[2015-06-08 15:23] dany93 commented on #254
@tigert
Yes, I remind your remark on the 180 hp for CTL.
@tigert wrote

This may be taken as a clue that the FDM is not so far from RL... Extra good point for JSBSim.

I take note for the future (recall me / us if needed) but this is some work to do ==> later in the calm, if we decide for it.
Also, this will be another FDM, I will not maintain two of them.

[2015-06-08 15:41] dany93 commented on #254
@wlbragg
I have a model (currently in the state of working files, not clean) for the amphibious gears (height and suspension animation).
For you to check if my response is appropriate to your issue, what do you think is the best: I create a branch in my dany93 github or I do a Pull Request to juanvvc?

[2015-06-08 15:58] wlbragg commented on #254
"I have a model ... for the amphibious gears"

Is there a reason you don't want to add it to your master, instead of branch or to juanvvc?

Any way you want to do it I can work with and check it out.

[2015-06-08 16:39] wkitty42 commented on #166
@wlbragg  i will try this again... when i was testing it yesterday, one click turned it on (white) but subsequent clicks didn't do anything else... does this require the landmass to be maxed like the taxi and landing lights?

[2015-06-08 16:41] wkitty42 commented on #238
haha! and here i thought the clicks were already implemented and i wasn't hearing them for some reason... was thinking something was wrong over here but had not yet written up an issue... i'll wait for them to be implemented :wink:

[2015-06-08 16:43] wkitty42 commented on #241
on the trim wheel texture... it sure looks like there's a texture on it to me... something that makes it look like there's big knurls for your fingers to fit in when you move it... the pics i posted show it pretty easily... it just looks like it may not be applied to the entire wheel or that it is visible when at certain view angles and not at others...

[2015-06-08 17:30] onox commented on #238
I'll try to apply the new sounds tonight or tomorrow.

[2015-06-08 17:31] onox commented on #254
Isn't it possible to control the hp of the engine with a property?

[2015-06-08 17:33] wlbragg commented on #242
OK, I got it in there. I stuck it it in during the broken wing merge because it was the simplest way for me at the time.
Changes were minor in physics.nas
see https://github.com/Juanvvc/c172p-detailed/commit/d74e1749edd598d01052a70ee9eea033a91e1948 for details

[2015-06-08 17:33] #242 closed

[2015-06-08 17:34] Juanvvc commented on #241
wkitty42, I think you confuse "texture" with "vertices". These knurls you mention are modelled using vertices, and this is ok. Now, you have to paint the object (main wheel and knurls). You can use a solid color or a texture like. Using solid colors is much faster and easier, but it makes the surface look undetailed and (specific to FlightGear) it has issues with the not-illuminated faces. Using t

[2015-06-08 17:43] dany93 commented on #254
@wlbragg
I didn't want to mess my master in case you would say " that was not my issue!".
*(cf. my hesitations with git....)*
Here is the link, dany93 rep, amphibious-gear branch https://github.com/dany93/c172p-detailed/tree/amphibious-gear

- Check the amphibious attitude and gears from ground,
- In the Fuel and payload dialog, you will find two loads for checking the suspension animation if you

[2015-06-08 17:47] dany93 commented on #254
@onox

Not that I know. But a file path would be good, it is a small file.
Moreover, the propeller is to be completely re-calculated, this is another file too.

[2015-06-08 17:48] wlbragg commented on #166
Well, now that is interesting. It appears to bypass the shader slider logic completely. I guess I didn't realize that until now. All it needs is ALS on (and the new code).

onox,
Please make sure your current. I don't have any such issue with the white/red/off switching. But now this makes two people experiencing similar problems.
Also please look at c172p-menu.xml and verify the logic (or change

[2015-06-08 17:58] onox commented on #166
@wlbragg The problem is that `/sim/rendering/als-secondary-lights/use-flashlight` is a boolean instead of an integer.

[2015-06-08 18:18] onox commented on #166
@wlbragg Please notify Thorsten about this fgdata patch:

[code]

[2015-06-08 18:21] wkitty42 commented on #238
:+1: no problem! :laughing:

[2015-06-08 18:23] wkitty42 commented on #241
@Juanvvc you may be right... most likely you are... i only know that i saw the knurls there and then they disappeared as i moved the wheel... if there's no texture on the wheel, i guess the problem is something else... should i close my issue created for that part of the problem or leave it open since this one is about the white line? i was asked to open a separate issue because of that...

[2015-06-08 18:24] onox commented on #166
@wlbragg See PR #263.

[2015-06-08 18:35] wkitty42 commented on #166
so there's two fixes for this? one in fgdata and the other in nasal/flashlight.nas ??

[2015-06-08 18:36] wlbragg commented on #166
Yes, your right, looks like Thorsten put it in as a bool in preferences.xml

Change line 292 in fgdata/preferences.xml
to int
use-flashlight type="int" 0  use-flashlight

I contacted Thorsten and asked if he would change it.

[2015-06-08 18:36] onox commented on #166
Yes, but the one for fgdata is necessary to get the red flashlight.

[2015-06-08 18:37] wlbragg commented on #166
Sorry cross posted.

[2015-06-08 18:41] wlbragg commented on #166
"so there's two fixes for this?"

No, just fgdata preferences.xml

[2015-06-08 18:51] wlbragg commented on #166
What is the other problem?

[2015-06-08 18:52] wkitty42 commented on #166
oh... ok... and the other one in the nasal is just a performance refinement?

[2015-06-08 19:16] Juanvvc commented on #241
Yes, they are two separated issues. My bad for commenting here about the other trim wheel issue :) Keep both open, I'll check them.

[2015-06-08 19:20] andgi commented on #254
@wlbragg I have not seen the issue with excessive bobbing up and down of the floats. Does it always happen? Or only sometimes? If the latter check the strength of the wind - the wings might add forces and moments that disturbs the equilibrium. I have also noticed that I have left a rudder yaw moment function from the MTB_20m in the hydrodynamics - I need to condition it on the water rudder being d

[2015-06-08 19:35] wlbragg commented on #241
FYI, whenever there is a visual issue regarding instruments make sure you are aware of the shadow that is being cast from internal shadow effect. Because that now effects most instruments.

[2015-06-08 19:37] onox commented on #166
Not performance, just a refactoring. wlbragg's code required n if-blocks for a flashlight with n states (in this case 3: off, white, red) instead of a fixed number of lines (2 or 3) with just one number representing the number of states (the second parameter of `math.mod()`).

[2015-06-08 19:41] wlbragg commented on #134
We can close this now if there are no other issues to discuss. iif

[2015-06-08 20:15] tigert commented on #6
This is not super critical from pilots point of view, as the window frame creates a correct shape that kind of is where the glareshield would be if it was correct shape and size. I agree we shouöd fix the issue, but it is totally flyable and not disturbing in practice, so not a blocker imho for inclusion into flightgear.

[2015-06-08 20:50] gilbertohasnofb commented on #6
Agreed!

Agreed!

Disagreed!

Agreed!

:smile:

[2015-06-08 20:53] gilbertohasnofb commented on #238
@onox ok, let me know how it goes and if you need anything that I can help with related to the sounds.

[2015-06-08 20:55] gilbertohasnofb commented on #241
Done, see Models/gray-square.png. This same texture could also be applied to the back of the propeller (see https://github.com/Juanvvc/c172p-detailed/issues/157). Let me know if you need anything else.

[2015-06-08 21:01] onox commented on #238
You could help me by finding an ambient/background sound of "something floating on the water", but that's not related to this bug :smile:

[2015-06-08 21:04] gilbertohasnofb opened #264 "Sound effect for floats"
Sound effect for floats: needs the sound itself and then to be programmed.

[2015-06-08 21:04] gilbertohasnofb commented on #238
Sure! You mean a sound of something moving through water or simply floating still? (which begs the question, do things floating still make any sound?). For this, let's use https://github.com/Juanvvc/c172p-detailed/issues/264

[2015-06-08 21:05] wlbragg commented on #264
Like slapping on water and/or gear retraction?

[2015-06-08 21:06] onox commented on #264
I mean the quiet and calm sound of water while you're floating.

[2015-06-08 21:07] gilbertohasnofb commented on #264
Okay. I guess we also need then of something moving through water as well, right? Could we implement both?

[2015-06-08 21:07] onox commented on #264
That would be nice as well.

[2015-06-08 21:07] wkitty42 commented on #166
ahh... yes, i hadn't looked too closely at it but it makes sense... i find things that need to be refactored like that in old (pascal) code that i have to root through at times...

[2015-06-08 21:08] wlbragg commented on #264
"Could we implement both?"
Yes

[2015-06-08 21:09] gilbertohasnofb commented on #264
Okay guys, so I will look for the two sound effects and create a mono seamless loop, hopefully tonight I will have it done. Then I report back to you, onox.

[2015-06-08 21:10] onox commented on #264
Sounds like a plan! :smile:  :+1:

[2015-06-08 21:13] onox commented on #238
@wlbragg Are you able to determine (x,y,z) coordinates of objects in the 3D model?

[2015-06-08 21:21] wkitty42 commented on #264
from #238

sure... ever take a metal flat bottom boat (eg: john boat) out on a lake or pond? little waves make small slapping noises against the hull... larger waves make sharper and slightly louder sounds... i would image they are similar to what one would hear with these pontoons...

[2015-06-08 21:22] gilbertohasnofb commented on #264
You are right, wkitty, thanks. I am already working on the sounds and I have some ideas here :)

[2015-06-08 21:29] onox commented on #264
@wlbragg Are you able to determine (x,y,z) coordinates of objects in the 3D model?

[2015-06-08 21:34] wlbragg commented on #254
andgi, amphibious gears are perfect, well done. Please send pull request to juanvvc with the changes. I think it would be easier for you to add than me and less prone to error.

[2015-06-08 21:39] wlbragg commented on #254
The only thing I noticed that hopefully we can fix is when you hit g or shift+g the aircraft jumps to position then settles out appropriately. It may be the same issue I had with it during travel that I was able to work a fix for. We can look at it after we get it over to juanvvc. It is still superior to what we have now.

[2015-06-08 21:40] wlbragg commented on #214
andgi, has a fix and we should be able to put this to rest shortly after he gets the pull request sent..

[2015-06-08 22:05] onox commented on #238
@gilbertohasnofb Which sound do you want for the circuit breakers?

[2015-06-08 22:06] dany93 commented on #254
andgi, amphibious gears are perfect, well done. Please send pull request to juanvvc with the changes. I think it would be easier for you to add than me and less prone to error.

The files on my amphibious-gear branch https://github.com/dany93/c172p-detailed/tree/amphibious-gear were in a working state, ful of comments and with features (extra loads for tests) which must not be merged.
I can (inten

[2015-06-08 22:07] wlbragg commented on #254
I'll wait for you send pull request.

[2015-06-08 22:10] onox commented on #238
More dials and switches that could use sounds:

1. Primer, throttle, mixture, air heat, air flow
2. Flaps
3. Magneto's
4. Circuit breakers
5. Parking brake
6. Carb heat
7. Dials: instrument lighting, attitude horizon offset, heading offset, heading bug, altimeter, nav1/nav2/adf radial/heading
8. Doors

[2015-06-08 22:13] wlbragg commented on #254
"I have not seen the issue with excessive bobbing up and down of the floats. Does it always happen? Or only sometimes?"
I thought it might have something to do with damage, but it turns out that is not the case. I can land on the water and just sit there dead in the water with no engine running and it starts to bob like a wave comes by, then it starts to sink and may stay submerged for as much as

[2015-06-08 22:19] wlbragg commented on #254
" For the wobbling at the end of a landing run out - was that at slow speed? "
I've now had it happen at both slow and high speed. I think it is related to "pitch attitude" and "roll attitude" as you suspect.

"I suspect that the hydrodynamics model might be more tolerant than reality or at least not excessively picky."
If this is true, remind me to avoid float planes because it doesn't take much

[2015-06-08 22:29] wlbragg commented on #264
"(x,y,z) coordinates of objects in the 3D model"
Not sure what you are asking, in what context?

[2015-06-08 22:31] onox commented on #264
I would like to know the position of the master, avionics, and beacon switches.

[2015-06-08 22:32] onox commented on #264
x positive is aft, y positive is right, z positive is up. For example, the location of the stall speaker is (0.4, 0, 0.4).

[2015-06-08 22:34] wlbragg commented on #254
I have to say, I was really skeptical of adding this float FDM to master prior to freeze because I felt it was too unstable, but after using it some more, I am thinking it is suppose to be that way.
I am almost to the point of being convinced to merge this sooner rather than later so we have a few days to tune it with more eyes on it. What do you all think?

[2015-06-08 22:40] gilbertohasnofb commented on #238
Please use `click.wav`

I will work on them all and report here.

[2015-06-08 22:46] gilbertohasnofb commented on #264
Ok, it's uplodaded. There are two files:

- `water-still.wav`: should be fairly soft and played every time the pontoon is in contact with the water
- `water-fast.wav`: should be played only when in contact with the water as well, but its volume should be proportional to the speed of the plane (given a range of let's say 0 knots for min volume and 60 knots for max volume. Speeds > 60 knots should t

[2015-06-08 22:55] onox commented on #264
Sounds good to me.

[2015-06-08 22:59] onox commented on #238
@gilbertohasnofb I think the circuit breakers should have a sound that sounds like a button being pushed in and then moves little bit back.

[2015-06-08 23:00] gilbertohasnofb commented on #238
Okay, working on it then.

[2015-06-08 23:10] onox commented on #238
Can you add any new sounds for this bug to the bug-238 branch? Do `git fetch` and then `git checkout bug-238`.

[2015-06-08 23:14] gilbertohasnofb commented on #238
Sure onox, I can do that, but also let me ask you something: I completely understand why you ask people dealing with code to use PRs or different branches to upload their work, but does this make any sense when comes to textures and sounds? I mean, they can't break anything and testing means simply looking or hearing, right? Or am I missing something here? I am asking this very sincerely as you kn

[2015-06-08 23:15] onox commented on #238
Well, otherwise I have to merge master to bug-238 all the time to get the sounds when you make a change to the sounds and that will make the graph (history) more complicated than necessary.

[2015-06-08 23:16] gilbertohasnofb commented on #238
Oh, I see. But in the general case of textures, I can continue to simply push them to the master, right?

[2015-06-08 23:16] onox commented on #238
But the textures and sounds don't break anything, that's correct. About `water-fast.wav` and `water-still.wav`: that's ok to add to master directly because I haven't started working on #264 yet.

[2015-06-08 23:16] onox commented on #238
Yes.

[2015-06-08 23:17] gilbertohasnofb commented on #238
Cool, thanks! I was meaning to ask you this for some long time but it had slipped my mind :smile: So the next sounds for the switches will go to `bug-238`

[2015-06-08 23:18] onox commented on #238
Yeah, just the sounds for the switches :smile: Unrelated sounds can go to master.

[2015-06-08 23:25] wlbragg commented on #264
No guarantee but

master
x -0.3660
y -0.4142
z -0.2396

avionics
x -0.3660
y -0.3995
z -0.2679

beacon
x -0.3660
y -0.1533
z -0.2679

avionics is a bit of a guess because it's position is not in the aircraft blend file.

[2015-06-08 23:25] wlbragg commented on #264
Do you not have blender or a way to check this?
Or am I not understanding what you want.

[2015-06-08 23:26] wlbragg commented on #264
The master position is the center between the two master switches.

[2015-06-08 23:26] onox commented on #254
@andgi Do you want to help adding [osgOcean](https://github.com/onox/osgocean) to FlightGear?

[2015-06-08 23:45] onox commented on #238
@gilbertohasnofb Have you already committed any sounds locally? Otherwise I can commit the circuit breakers in the mean time.

[2015-06-08 23:51] gilbertohasnofb commented on #238
Everything is ready, I am uploading them now

[2015-06-08 23:55] gilbertohasnofb commented on #238
onox, this `git fetch` is taking ages. Would it be all right if I simply push these files to the master? Sorry but my internet is not cooperating today and I will have to wait the whole night for it to finish fetching if it keeps at this speed...

[2015-06-08 23:56] onox commented on #264
Thank you so much @wlbragg :smile: Yes, I have Blender, but I don't really understand it.

[2015-06-08 23:56] onox commented on #238
Can you wait for fetch 5 more minutes? :open_mouth:

[2015-06-08 23:58] gilbertohasnofb commented on #238
Ok, let's try a bit longer, but right now it's on 23% and I am waiting for almost 10 minutes, and soon I need to go (I am a night owl but tomorrow I must wake up early). How large is the whole repository, would you know?

[2015-06-08 23:59] onox commented on #238
I don't know, but you have a recent version, right?

[2015-06-09 00:00] gilbertohasnofb commented on #238
Well, normally I am just pulling the master and it was up to date, but I don't ever use git fetch. Since I never use different branches I normally just pull, then add, commit and push.

[2015-06-09 00:01] onox commented on #238
Ok, can you cancel `git fetch` and then just try to do `git checkout bug-238`?

[2015-06-09 00:01] wkitty42 commented on #254
if we're shooting for the 12th, then best to get this in now and get it tested... otherwise, leave it for 3.8... that gives a 5 day buffer before the freeze...

[2015-06-09 00:02] gilbertohasnofb commented on #238
Just did that, I get: `error: pathspec 'bug-238' did not match any file(s) known to git.`

Alternatively, I could also upload it on some sharing service so you can download and push it yourself. Sorry onox, but my internet is really bad at home. Tomorrow at my university I will fetch the whole repository again.

[2015-06-09 00:03] onox commented on #238
What if you do `git pull`?

[2015-06-09 00:04] wkitty42 commented on #264
@onox i'm in the same boat... except you understand more than i do ! :laughing:

[2015-06-09 00:06] gilbertohasnofb commented on #238
Hmm, before it was telling me I was up to date, but since I cancelled the `git fetch` I now need to download 5000 files.

[2015-06-09 00:07] onox commented on #238
Uh? Just do `git fetch` tomorrow then on the university. I need to sleep too :smiley: :zzz:

[2015-06-09 00:07] onox commented on #238
And then just add those sounds to bug-238. Should be no problem if `git fetch` succeeds.

[2015-06-09 00:08] gilbertohasnofb commented on #238
Ok onox, so I will push those sounds tomorrow in the afternoon then. Thanks a lot!

[2015-06-09 00:08] onox commented on #238
Oh wait.

[2015-06-09 00:08] gilbertohasnofb commented on #238
yes

[2015-06-09 00:08] onox commented on #238
Can you do `git checkout origin/bug-238`?

[2015-06-09 00:08] gilbertohasnofb commented on #238
`error: pathspec 'origin/bug-238' did not match any file(s) known to git.` :cry:

[2015-06-09 00:09] gilbertohasnofb commented on #238
Tomorrow I will clone the whole repo again from at uni to make sure everything is working well, then I push those sounds.

[2015-06-09 00:09] onox commented on #238
Ok, nvm, just do `git fetch` tomorrow when you have fast internet. No worries :+1: :smile:

[2015-06-09 00:10] gilbertohasnofb commented on #238
Ok, to be continued then!

[2015-06-09 00:57] onox commented on #264
I've added the positions. The x coordinate was good, but the y and z needed to be adjusted a bit. It's not really possible to hear any difference in the position, but that might change if we add sounds for the radio stack and the doors.

[2015-06-09 01:20] gilbertohasnofb commented on #239
Oh, so this is the beep that has been annoying me for so long time!

That sounds like the best route, would you write them yourself describing what you wrote above?

[2015-06-09 01:22] gilbertohasnofb commented on #164
Maybe this could be implemented before the feature freeze, what you guys think (what about you, @wlbragg)? I imagine a lot of people will hate that the switches' state is saved, particularly those who tend to quit FG mid-flight. How difficult is this task?

[2015-06-09 01:22] gilbertohasnofb commented on #158
I believe this has been corrected, right? I am closing this issue, but let me know if there is still any work to be done on thus UV map.

[2015-06-09 01:22] #158 closed

[2015-06-09 01:23] gilbertohasnofb commented on #118
Could we maybe assign the milestone FG 3.8 feature freeze for this one? Since we plan to rework the nose (see #6 and #216), we could as well work on the glass.

[2015-06-09 01:24] gilbertohasnofb commented on #250
Texture created as Models/gray-square.png. This same texture could also be applied to the back of the propeller (see #157). Let me know if you need anything else.

[2015-06-09 02:35] onox commented on #164
How about if you properly exit FG while on the ground, the state is saved, otherwise not?

[2015-06-09 02:36] onox commented on #164
I've assigned the 3.6 feature freeze milestone. We can always postpone it if necessary.

[2015-06-09 02:37] wkitty42 commented on #238
wow! 5000 files?? something isn't right... i don't know what but i've not had to pull 5000 files for anything...

[2015-06-09 02:42] wkitty42 commented on #239
i'm not sure i understand this... i took off earlier from KPGA near the grand canyon... when i went to adjust, i think i was already in the air, when i finally got to 5000 or so the alarm was sounding... apparently because i was approaching 5000 on the AP and i was at 3000 or so... maybe i'm not understanding the AP altitude thing??

[2015-06-09 02:48] onox commented on #166
(Nice) feature has been implemented. Issue can be closed. Thorsten just need to apply https://github.com/Juanvvc/c172p-detailed/issues/166#issuecomment-110096477 to fgdata.

[2015-06-09 02:48] #166 closed

[2015-06-09 02:52] onox commented on #53
FDM is now rated 4 stars since #257

[2015-06-09 02:52] #53 closed

[2015-06-09 02:54] onox commented on #240
New rating added in PR #257

[2015-06-09 02:54] #240 closed

[2015-06-09 02:57] onox commented on #134
I have issues with it unfortunately :cry: See PR #262

[2015-06-09 03:09] wlbragg commented on #264
No problem, I'm almost shocked though that I am the one someone would come to with a blender question. I knew next to nothing about it less than 6 mo ago, now I guess I can get around somewhat in it.
It's one of those programs though that have so many things and ways to do them that it takes a long time of constant use to learn it all.
Glad I could help.

[2015-06-09 06:55] andgi commented on #254
@wlbragg I'll have to look closer at the bobbing issue. The floats should not sink like that and the indicated airspeed is low so there isn't much wind from the front, at least. When this happens can you check the wind properties to see if there is a strong wind from the side or from aft? The FDM beta and airspeed properties should give this information (these are not part of the on-screen display

[2015-06-09 06:57] tigert opened #269 "Seaplane operations reference data"
# Background

This is from OH-CTL "CAPRE Aqua Model 2200" floatplane conversion STC , which doesnt have a free license, so I won't put it out for download. Instead I will be quoting the relevant performance and operational points for you below.

## Limitations

  * Engine and Limits:
    * Lycoming 0-360-A4A 180hp
    * Maximum normal operating power 2550 rpm (150hp)
    * Takeoff (five minutes) 2

[2015-06-09 07:03] andgi commented on #254
@onox I might have some time to look at osgOcean during my vacation in July, but there are so many things on my todo list. A key feature of my current patch of water approach is that I can replicate the water surface both in the shader and in the FDM so that the physics can react to what you see. The 3d part of this is not included in the c172p, but the FDM part is, so if you set a wave amplitude

[2015-06-09 07:47] tigert commented on #269
There should be a handle to retract/extend the water rudders, placed in the cockpit floor - need to find a photo of this for reference. It has a placard that reads "Water Rudder" and "Extended" in the forward edge and "Retracted" in the aft, and a double-headed arrow in between.

[2015-06-09 08:03] tigert commented on #269
## Emergency Procedures
  * No changes in float plane version

## Normal Procedures (suppolement to Section 4 of Pilots Operating Handbook)

### Before entering floatplane
  1. Inspect floats, struts, cables, pulleys, and fittings for dents, scratches, fraying cables, and attachments to the aircraft,
  2. Inspect each float compartment by removing the rubber caps on each standpipe and pump out any

[2015-06-09 08:07] andgi commented on #214
@wlbragg I'm not completely happy with how the aircraft floats when idle with the hydrodynamics system - the H(YDRO)RP is currently offset forward compared to what the buoyancy data was generated for to compensate which is clearly a hack - but OTOH the resulting reactions are okish. It is one area for further refinement, but most likely not before the 3.6 freeze.

[2015-06-09 08:08] tigert commented on #269
## PERFORMANCE (Supplement to section 5 of POH)

### Stall speed
Change is minimal (+/- 1 knot) compared to landplane version.

### Takeoff distance
Takeoff distance of floatplane is **approximately 70% more** than that of a landplane.

### Rate of climb
Sea level rate of climb is in excess of 630 feet per minute

### Cruise performance
Cruise speed of floatplane will be approximately 20 knots slo

[2015-06-09 08:12] tigert commented on #269
## AIRPLANE SYSTEMS
  * An additional fuselage "V" brace is installed between the top of the front door posts and the cowl deck.
    * These are visible on OH-CTL here: www.airliners.net/photo/MIK---Malmin/Cessna-172M/0357624/L/ and here: http://www.airliners.net/photo/MIK---Malmin/Cessna-172M/0272736/L/

[2015-06-09 08:59] dany93 commented on #269
Thanks @tigert , for these accurate data.

Measure:
(eng. 160 hp, prop. 75 inches, no flaps, < 2000 ft AGL, 85 - 90 KIAS default weather conditions)
With floats (currently, extra weight 2 x 66 lbs, drag x 1.20)
**Rate of climb 500 +/- 25 ft/mn.**
Seems plausible with 160 hp, and this propeller which seems slightly "long" (high pitch angle).

[2015-06-09 11:20] gilbertohasnofb commented on #238
Yes it is. Try cloning the repository into a new folder and you'll see that the total number of files is around 5000. Normally a pull just grabs what is new, but something went wrong with my directory and I am cloning it again.

[2015-06-09 11:21] gilbertohasnofb commented on #164
This will be cryptic to most users, I think. They will not be able to recognize this feature and consider it a bug: "why sometimes the state is saved and others not?". The most trivial solution (and the best IMO) is to have a toggle in the aircraft options menu.

[2015-06-09 11:40] gilbertohasnofb commented on #238
@onox the new files are pushed. Here is what to do with them:

1. Primer, throttle, mixture, air heat, air flow: no sound (I don't think they make any noticiable sound, at least I couldn't hear it watching videos of the aircraft"
2. Flaps: `keys2.wav`
3. Magnetos: `keys.wav` and `keys2.wav` (can we randomize them or alternate or at least assign one to L and BOTH and the other to OFF and R magnetos

[2015-06-09 12:57] tigert commented on #269
yeah, the fdm has a very strong "behind power curve" effect at low airspeed which is especially nasty when at maximun weight and probably even more so with the extra drag of floats. Those evil treetops are always on the way.. :P

[2015-06-09 14:48] wlbragg commented on #164
"How about if you properly exit FG while on the ground"
What property is in play here that you can tap into to save these states under this condition?

"Where are these switches saved or registered in our project?"
Where?

[2015-06-09 15:32] wlbragg commented on #214
The gear PR has been merged, Now we need to verify we are OK with the AOA and then we can close this issue.

[2015-06-09 15:49] wlbragg commented on #254
"I removed two of the pontoon contact points as they were repeated for both variants with floats while the current float model is the same for both so there is no reason to have duplicates."
I think I duplicated them to use one set to control floating on land (if I remember correctly). But the FDM changes would eliminate that necessity anyway.
I need to remember to add the extra contact points to

[2015-06-09 16:54] dany93 commented on #214
Not really the AoA, but the pitch angle (stopped):
with the default gear: 2.7°
with the amphibious: 4.1°
Not sure this is very important, we set the AoA as soon as taken off. The higher AoA can lengthen a bit the roll, but anyway the amphibious is not the better choice if we look for performance.
On the water it remains to be seen (I know nothing....). But also, the pitch angle, hence the AoA duri

[2015-06-09 18:33] wlbragg commented on #214
"Not really the AoA, but the pitch angle "
Sorry, poor choice of words.

So do you think the pitch need to be adjusted?

[2015-06-09 18:58] onox commented on #238
@gilbertohasnofb I am going to work on the sounds now :smiley:

[2015-06-09 19:40] tigert commented on #214
To me it looks like the Flightgear floats and fuselage have too big angle.

http://www.vesilentokerho.info/wp-content/gallery/kellukeasennus/oh-ctl_05-07-2013-129.jpg
http://www.vesilentokerho.info/wp-content/gallery/kellukeasennus/20130625_181541.jpg

There is an angle but I think in the simulated version it is a bit too big.

[2015-06-09 22:37] dany93 commented on #214
It was not for your choice of words, pitch angle and AoA have the same value when the aircraft accelerates on the runway. Merely, the pitch angle can be obtained even when the aircraft is stopped.

Yes, I also feel that this angle is a bit too high, from tigert's second picture and this scheme in my message https://github.com/Juanvvc/c172p-detailed/issues/214#issuecomment-108519431.
Difficult to e

[2015-06-09 22:43] #237 closed

[2015-06-09 22:49] wlbragg commented on #214
"But I know this small difference gives a true work in Blender."
I was just looking at this in blender and xml, No real easy way I can find to fix this unless we can change pitch of c172p.ac on the fly when pontoon is selected for gear. That would be the easiest fix, if even possible.
I superimposed a RL picture of a float c172p with a screenshot of ours and the difference was not great, but it wa

[2015-06-09 23:45] onox commented on #238
Parking brake, magneto's+starter, and flaps do not make any sound when using the keyboard yet.

[2015-06-10 00:05] onox commented on #164
Maybe yes. Perhaps it's better to have the following buttons in the standard exit-flightgear dialog:

1. "Exit without saving state"

2. "Save state and exit"

3. "Cancel"

To be honest. I hope there's a signal that we can attach a listener to, but I'm not sure.

I don't know. Somebody else made sure that you start with the same aircraft state as when you closed FG.

[2015-06-10 02:12] gilbertohasnofb commented on #238
Hi onox, I just tested your branch and here are some comments:

- I can't hear flap sounds even when clicking on them
- the dial sounds are too loud IMO. I'd make them barely audible when the engine is at high RPM.
- the masters switch sound (both ALT and BAT) are a bit buggy. Try clicking on them constantly (let's say 3 times a second): sometimes they will play fine but sometimes they will play a

[2015-06-10 02:15] gilbertohasnofb commented on #238
I also added a phrase to the `Thanks` file about the parking break sound.

[2015-06-10 02:20] gilbertohasnofb commented on #164
But that will cause some unnecessary  nagging to users. I mean, once you set you preferences you shouldn't have to choose the same thing for the rest of eternity, right? :smile: I still prefer a single toggle in the aircraft option menu (and this toggle should be off by default -- actually, we have to make sure that a lot of these initial states will be correct before FG 3.6 ships, such as lights

[2015-06-10 07:41] wkitty42 commented on #238
that's for the parking brake, right? :wink:

[2015-06-10 09:08] tigert commented on #254
i think this is reasonable and nice when you land properly, and the swells can be very nice when you add a bit of waves in the props.

Issue for me still is the inability of the amphibious model to move. Main wheels are halfway in asphalt and it doesnt roll at all.

[2015-06-10 09:26] dany93 commented on #254
![c172p-amphib-wheels-2015-06-10 11 16 58](https://cloud.githubusercontent.com/assets/11994061/8079102/b67d943e-0f62-11e5-8857-e993d064c9f7.png)
Version PR and merged yesterday on juanvvc:master (wlbragg's amphibious, usual FDM contacts).
It rolls and takes off with no problem.
Even the previous version rolled.

[2015-06-10 11:04] andgi commented on #254
@dany93 Yes, the new gears look fine, but the hydrodynamics-wip branch is not up to date with that yet. Additionally, something broke physics.nas last time I rebased onto master so with the current hydrodynamics-wip branch anything that depends on physics.nas is broken. I will try to fix it ASAP but might not have time until tomorrow.

@tigert Try with some head wind and with the yoke back - then

[2015-06-10 13:14] onox commented on #238
I can definitely hear a click sound when I click on the flaps lever, but you'll also hear the sound of the flaps itself. The sound of the flaps is positioned near the speaker in the top panel. Is that where it should come from? Or should it come from the left and right wings?

I'll reduce the volume.

I have no problems with the switches. If you toggle `/sim/model/c172p/sound/click-master` to true

[2015-06-10 13:32] onox commented on #238
@gilbertohasnofb I've reduced the volume of the dial sounds.

[2015-06-10 13:39] onox commented on #145
@wlbragg Is this file still in use?

[2015-06-10 13:54] onox commented on #80
* Radio stack does depend on master breaker, but not interior lights breaker and radio breaker.
* Unsure: turn coordinator and transponder breaker.
* Display of autopilot does not light up again after re-enabling the autopilot breaker.

[2015-06-10 13:56] onox commented on #36
So should we double the power consumption of the starter and reduce the battery capacity to 25 %?

[2015-06-10 14:04] onox commented on #134
@wlbragg There's one small issue with the landing light if the left wing has been torn off; it's still visible:

![fgfs-screen-025](https://cloud.githubusercontent.com/assets/3361585/8084205/1c763aa8-0f8a-11e5-8ff5-0f97dd88c197.png)

[2015-06-10 14:14] onox commented on #134
I just tried to pull the yoke back hard and the wings broke away in air:

![fgfs-screen-026](https://cloud.githubusercontent.com/assets/3361585/8084437/50da28c6-0f8b-11e5-810f-f4ab3dfe1eaa.png)

IMO that should not have happened. The wing should be damaged (bended a little), but not completely torn off :confused:

[2015-06-10 14:48] dany93 commented on #134
https://github.com/Juanvvc/c172p-detailed/issues/134#issuecomment-100706694

V > 180 kt and symmetric flight ==> both wings damaged (degraded lift)

g > 4.4 and flight asymmetry ==> one wing damaged (can still fly, degraded)
g > 5.5 and flight asymmetry ==> one wing broken
g > 6.6 both wings broken

We can do what we want, but who can say IRL? With these features, we are more in the estimation for

[2015-06-10 16:55] gilbertohasnofb commented on #238
You are correct, the sound is definitely there. As for the position, I really don't know.

Much better IMO!

I hear some weird effect sometimes at a much slower rate than this. I tried to record it but the video is horrible. Anyway, see if you can hear it (turn up your volume as the video is very soft). At around 00:07 you can hear the first times the sound breaks, and at around 00:14 again. Link:

[2015-06-10 17:46] dany93 opened #273 "160 HP engine is under-powered for pontoons and amphibious"
As several people noticed, the 160 hp-powered c172p is under-powered, which makes it "lazy" at full load. Floats and amphibious worsen everything (added drag).
I tried to fiddle the propeller pitch angle, at no avail. The original one is not far from the best.

I have a test version with a **180 hp engine**.
On my c172-180hp branch https://github.com/dany93/c172p-detailed/tree/c172-180hp

 Easy fo

[2015-06-10 21:06] tigert commented on #273
You've seen the c172s POH? It has 180hp and while the prop etc might vary, it has perf tables for climb and takeoff etc.

http://www.engineersflyingclub.org/planes/552SPPOH.pdf

[2015-06-10 21:06] onox commented on #238
I can hear the clicks in the video, but I don't hear anything wrong with them :confused:

[2015-06-10 21:07] tigert commented on #273
The new planes are just heavier with all the leather seats and sound insulation so useful load is less.

[2015-06-10 21:20] gilbertohasnofb commented on #238
@onox Yeah, I was afraid of that. Unfortunately the program I use to record video is rubbish when it comes to recording sound. Let's just continue implementing this and in the meantime I will make some tests on my side and see if I find anything reliable on how to reproduce these things I mentioned, ok?

@wkitty42

Yep! Sorry for my EngRish :smile: I already corrected the `Thanks` file.

@tigert T

[2015-06-10 21:34] andgi commented on #254
The hydrodynamics-wip branch should be ok again and up to date with master now.

[2015-06-10 22:43] onox commented on #254
@andgi Is there anything that needs to be done before you can/want to create a pull request? In case you have modified some contact points, you might want to update `Systems/flight-recorder/components/damage.xml` or `Systems/flight-recorder/components/gear-amphibious.xml`.

[2015-06-11 02:27] onox opened #274 "Various multiplayer errors"
1. Effects:

[code]

2. Missing "Aircraft/c172p/" prefix:

[code]

[2015-06-11 02:31] wlbragg commented on #274
Did this break with the name change?

[2015-06-11 02:36] wlbragg commented on #145
No, I think we can get rid of it.

[2015-06-11 02:38] onox commented on #274
Did we remove the aircraft path prefix during the name change? I think the prefix was never there (not sure though).

[2015-06-11 02:39] onox commented on #274
Some user reported the livery update bug on the mailinglist.

[2015-06-11 03:13] wlbragg commented on #134
"You can edit Systems/als-lights.xml for this."
Do you know if this will take aliases?
You did not set up an alias for ALS landing light in MP?

[2015-06-11 03:14] wlbragg commented on #134
" landing light if the left wing has been torn off; it's still visible:"
I have this fixed already, will PR shortly, after I fix ALS landing and taxi light for the same issue.

[2015-06-11 07:57] andgi commented on #254
@onox Thanks, I'll look at those. Otherwise I think damage detection is the major missing part. I'll try to prepare a pull request this evening.

[2015-06-11 09:43] wkitty42 commented on #274
@onox are you speaking of this post by ludovic brenta?
On 06/10/2015 05:43 PM, Ludovic Brenta wrote:

here's my response to him...

maybe we should consider his comment about the filenames? obviously we don't seem to be having problems on linux and i guess winwhatever... has anyone tested the craft on mac?

[2015-06-11 10:04] #274 closed

[2015-06-11 10:09] onox commented on #274
@wkitty42 Actually we both run Linux and I could reproduce the problem.

[2015-06-11 10:14] onox commented on #254
You mean #264?

[2015-06-11 10:23] andgi commented on #254
Yes, I saw the sound files being added, but didn't know that they were not yet used in the c172-sound.xml file. The conditions for the sounds will be different depending on whether floats on water are implemented with contact points or the hydrodynamics system. I suppose /fdm/jsbsim/hydro/active-norm and /fdm/jsbsim/hydro/v-kt will be the two most useful properties for configuring the water sounds

[2015-06-11 10:25] onox commented on #134
@Juanvvc @gilbertohasnofb What do you guys think of the over-g?

[2015-06-11 10:27] onox commented on #254
Good to know the conditions are different. #264 can be fixed after your branch has been merged.

[2015-06-11 11:32] tigert commented on #254
Yeah, now it rolls, and it is fun to fly. And since I have flown on fixed gear aircraft only, of course I took off with the amphibian from EFHN, and headed south to the sea, and got a quick swim by forgetting the gear down on landing and tumbling upside down on touchdown ;-)

This is very fun stuff, thank you very much for your efforts :-)

One weird thing I noticed, is that when the gear is lower

[2015-06-11 11:51] tigert commented on #273
I will try to test this - the extra 30 horsepower are really needed on the float version, it is really really easy to get to the "too slow" flight regime and just sink into the trees if you really are not careful - 160HP is quite dangerously underpowered for the floats.

The propeller on OH-CTL's STC says either Hartzell HC-C2YX-1A/7666A-O which is a constant-speed propeller, or a McCauley 1A200-D

[2015-06-11 12:21] andgi commented on #254
With gear (BOGEY) contact points down JSBSim has built in water drag which I don't know if I can control and it behaves somewhat strange (try taking off from water with the gear down). In the worst case, if the built in gear drag is not behaving well enough we can move the gears up when on water and substitute our own drag forces and moments, but most likely not before the freeze, though.

[2015-06-11 13:51] dany93 commented on #273
Thank you tigert, for your POH for 180hp and your following.

I have tested a bit more with the propeller which is currently in my branch.
By default in my file, the propeller is a 76" diameter, 20° pitch (which should do 62.5"pitch at 75% diameter if no mistake). That is, same diameter as your POH.

**My results:**
Default gear, 2550 lbs, basic weather (about 20°C SL)
- Stopped, full throttle: 22

[2015-06-11 16:55] wlbragg commented on #273
Do you know if we if there is a mechanism for switching the FDM properties such as HP on the fly, can we do it on the changeover to floats?
I really hope there is a way, as this along with the "water" FDM changes would give some meat to the float plane.

[2015-06-11 17:00] wlbragg commented on #134
It's not helpful, but I was going to tell you to quite abusing you plane! :)

I think that is the same thing I was a little concerned about.
Strictly going by feel (no real quantifiable data), it seems that at the point of total wing destruction (broken wings) it should only be damaged wings, and that the "broken wings" bar should be somewhat higher.

[2015-06-11 17:04] tigert commented on #273
I think the float verdion should be a separate -set.xml, it takes work to switch the gear to floats. Handy to switch for testing, but less realistic. Then the HP could be different?

[2015-06-11 17:07] onox commented on #273
I don't think there should a separate -set.xml file. I find it annoying if you have to go back to the launcher, shutdown and restart FG just to get floats.

[2015-06-11 17:09] onox commented on #273
Although we could decide to disable the radio buttons in the aircraft dialog while the aircraft is in the air.

[2015-06-11 17:15] wlbragg commented on #254
"In the worst case, if the built in gear drag is not behaving well enough we can move the gears up when on water and substitute our own drag forces and moments, but most likely not before the freeze, though."
I haven't looked to see how much (if any) of the code that does just what your talking about you have removed in physics.nas, but the condition as to "over" land VS water is there. Then again

[2015-06-11 17:18] wlbragg commented on #273
I agree with onox, we have managed to make "everything" contained to one and switchable "by design". I would really hate to loose that.
I don't even see the necessity to limit when you switch. If I am flying for hours on wheels and see a lake I want to land on (real or not) I want to be able switch.

[2015-06-11 17:19] onox commented on #273
I'll ask on the mailing list how we can change the HP of the engine during runtime.

[2015-06-11 17:20] onox commented on #134
Maybe we can first try to just increase the g limits?

[2015-06-11 17:21] wlbragg commented on #134
Agreed, we can fine tune it in the next cycle if we choose.

[2015-06-11 17:27] dany93 commented on #273
No. I asked the question for changing engine and propeller by the properties, in order to have two motorisations with one FDM, selected by two -set.xml files. AndersG answered that it was almost impossible. I do not not remember his exact words, and I can't retrieve his message.

[2015-06-11 17:38] onox commented on #273
@dany93 How about defining 2 engines in `c172p.xml`? That would be like having a twin prop, except we only run 1 of the engines.

[2015-06-11 17:43] wkitty42 commented on #274
:+1:  yes, i've now seen the merges and just read the del list... i've been down for the last few days with some sort of bleeding lung infection or perforation so i've not been able to be up and spend as much time on anything as i was :disappointed:

[2015-06-11 17:44] andgi commented on #254
@wlbragg I moved/added that logic for the float contact points (now only for land use) to bushkit.xml as it might be better if these contact points are moved immediately when they sense (or not) solid ground. With Nasal there might be a delay of a number of FDM iterations. I could do the same for the amphibious landing gears - it is not difficult. OTOH, extended landing gears should have some effe

[2015-06-11 17:47] dany93 commented on #273
Two engines and two propellers.
No problem to have two sets in the FDM. Currently, I have this in the file that you can test, I have not deleted the lines which give the original engine and prop files. But I know no mean to switch from Nr1 to Nr2, other than comment / uncomment the lines.
AndersG is the best for this.

[2015-06-11 17:56] onox commented on #273
What about `/fdm/jsbsim/propulsion/active_engine`?

[2015-06-11 18:26] onox commented on #274
I hope you get better soon :cat:  :worried: :sob:

[2015-06-11 18:36] wkitty42 commented on #274
me^2 ... the gods and goddesses will have their way with me, one way or another :wink:

[2015-06-11 18:41] wlbragg commented on #274
Get well!

[2015-06-11 18:42] onox commented on #254
That would be nice.

[2015-06-11 18:44] wlbragg commented on #254
"extended landing gears should have some effect in the water"
Yes, and right now I really like some of their effects (endo) :)

Off Topic
I am used to working directly from a local clone, In this case I have branched your repo in github, do your master repo changes automatically appear in my branch or do I have to update my "online" branch somehow?

[2015-06-11 18:53] wlbragg commented on #273
Yes, there has to be a way, if we can simulate twin engines and isolate their individual properties, then we should be able to cheat by positioning them at the same coords and zeroing out the one we are not using.
There may be some trickery on weight adjustments necessary.

[2015-06-11 21:30] andgi commented on #254
I have filed a pull request now. It is basically the state from yesterday but I have squashed most of the internal development, disabled the debug display, and updated affected flight-recorder configuration files.

[2015-06-11 21:36] dany93 commented on #273
The first thing would be to look at an aircraft like the Piper SenecaII. It has two engines, which can be started and controled separately. Propellers too.
The FDM has the two engines and two propellers, but with only one engine file and one propeller file (common file for each two).
The two engines can be at the same place, they do not add weight (although we would have to take into account the e

[2015-06-11 21:49] onox commented on #273
Can't just alias certain properties to the properties of one of the engines when you switch bushkit?

[2015-06-11 21:51] onox commented on #273
Maybe I'm talking nonsense now. I think we should just do that trick with the mixer lever again? Create functions for the throttle, mixture, etc. for each engine.

[2015-06-11 21:56] onox commented on #273
Hmm.. I see properties like `fcs/mixture-primer`, but I don't understand how a difference is made between the two engines. I'm too tired now :sleepy:

[2015-06-12 04:47] tigert commented on #273
@onox, fair points for keeping it in one, too. Kind of "one aircraft, many roles", which is true.

The bush tires are a bit of a fantasy I think, but they sure are fun too. :-)

[2015-06-12 05:10] tigert commented on #273
on the other hand, this doed look absolutely beautiful :-)

http://farm2.staticflickr.com/1136/4729783882_525e9e6502_z.jpg

"Texas Taildragger" conversion of a C172. For 3.8? ;)

[2015-06-12 05:22] wlbragg commented on #273
"The bush tires are a bit of a fantasy I think"
How do you figure?
https://www.google.com/search?q=c172+bush+tires&tbm=isch&tbo=u&source=univ&sa=X&ved=0CCkQ7AlqFQoTCMCvx6q0icYCFQQ3rAodaCsAQQ&biw=1416&bih=886#imgrc=JI3iOPLwOQEMRM%253A%3BMZ-m1-Xzm4XoPM%3Bhttp%253A%252F%252Fhitchcockaviation.com%252Fimages%252FFreemans182AZ.jpg%3Bhttp%253A%252F%252Fhitchcockaviation.com%252Fdetail.php%253Fitem%253D6%

[2015-06-12 08:51] dany93 commented on #273
Good idea. These controls (like magnetos and throttle) can be made to act separately on each engine
Close to this, we might use magnetos to deactivate one engine.
But mixture and magnetos commands interfere with the animations already done. Because upstream, the magnetos, throttle and mixture commands act simultaneously on both engines, their use would necessitate to have the corresponding animati

[2015-06-12 10:53] tigert commented on #254
Some more footage provided by the "CTL guys" :-)

https://www.youtube.com/watch?v=FS_8lzcxrhc

They'll be interested in testing the behavior once I get around figuring out controls for the sim they can use - mouse yoke is not ideal ..

[2015-06-12 11:57] tigert commented on #273
Would a windmilling propeller create drag in the case of two virtual engines?

[2015-06-12 12:38] dany93 commented on #273
I hope that it would not be windmilling, that the engine would remain stopped. It was like this at my test with the usual config (single engine) up to ~ 160 KIAS..

[2015-06-12 20:25] onox commented on #273
Isn't it easier to just add two tubes from the chamber tank to the two engines? And open/close the tubes. I don't know if JSBSim supports tubes and valves though :stuck_out_tongue_winking_eye:

[2015-06-12 22:28] dany93 commented on #273
It was not my preference but I just finished to do this system because I had difficulties to manage the logic for this double float chamber. Easier because I keep the same float chamber, which feeds both engines. To select the active engine, the magnetos ( = 0 or > 1) work as well as a double chamber tank. A drawback is that both magnetos are simultaneously controlled by the keys "{" and "}" (unle

[2015-06-12 22:57] onox commented on #273
@dany93 Where do you set `engine[1]/starter`? I see `engine[0]/starter` is set in `Nasal/electrical.nas`.

[2015-06-12 23:00] onox commented on #273
I also see there is a second property `systems/electrical/outputs/starter[0]`.

I think it's best to remove the `setprop()` calls for `engine[0]/starter`. And instead check the voltage in an .xml file and then start the current engine. Look at `Systems/als-lights.xml` to see what I mean.

[2015-06-12 23:03] onox commented on #273
Or do the voltage checking + starting the current engine in JSBSim if you think that's better.

[2015-06-12 23:11] onox commented on #273
@dany93 Look in `Nasal/controls.nas` in fgdata. It defines `adjMixture` and `adjThrottle`, which both use `adjEngControl`, which shows you need to toggle `/sim/input/selected/engine[0]` and `/sim/input/selected/engine[1]`.

[2015-06-12 23:21] onox commented on #238
@gilbertohasnofb I see you added a commit to the bug-238 branch you also added to the master branch? If you add it to the master branch, then there's no need to add the same commit to this feature branch because we only care about adding sounds in this branch.

[2015-06-12 23:23] gilbertohasnofb commented on #238
@onox Yeah, it was my mistake and I realised as soon as I did it (you can note that I added it first to the bug-238 branch; I had forgotten which branch I was in, sorry). But since it was a harmless addition to that branch, I just left things as they were. Is that a problem? Sorry for the mess..

[2015-06-12 23:23] onox commented on #238
No it's not a problem.

[2015-06-12 23:23] dany93 commented on #273
Internal Properties, ```/controls/engines/engine[1]/starter = false or true (bool)```
Ctrl-click for ON, second Ctrl-click for OFF, or "set" 0 or 1.
It toggles only for an engine which is not already controlled by the starter key (e.g. engine[1]).

[2015-06-13 02:36] onox commented on #238
@gilbertohasnofb I have added the sounds for the radio stack, except the two comm/nav radio's and the transponder. Some issues with the radio stack:

1. The two nav radio's and transponder live in: `Aircraft/Instruments-3d/kt76a/kt76a.xml`, `Aircraft/Instruments-3d/kx165/kx165-1.xml`, and `Aircraft/Instruments-3d/kx165/kx165-2.xml`, so I couldn't add sounds for them.

2. The buttons of the autopil

[2015-06-13 02:38] onox commented on #238
@gilbertohasnofb I also think that a different sound than `scroll.wav` should be used for the trim wheel. The autopilot might move the trim wheel and then it looks like some dial is being moved. It sounds confusing :stuck_out_tongue_closed_eyes:

[2015-06-13 05:14] #254 closed

[2015-06-13 05:31] onox commented on #134
@wlbragg Shall I close this issue? We can create a separate issue with the 3.6 release milestone for tuning the g limits.

[2015-06-13 05:42] onox commented on #238
I think if you can add a new sound for the trim wheel scroll, then we can merge PR #265. The issues above require copy and modifying files from fgdata.

[2015-06-13 08:41] wlbragg commented on #134
OK

[2015-06-13 08:52] #134 closed

[2015-06-13 08:56] onox opened #280 "Tune g limits for wing damage"
The current g limits might be too low and thus make it too easy to tear off the wings.

See https://github.com/Juanvvc/c172p-detailed/issues/134#issuecomment-110781583 and https://github.com/Juanvvc/c172p-detailed/issues/134#issuecomment-111212020 in #134.

[2015-06-13 09:03] dany93 commented on #273
Thanks, it helps. I had seen this controls.nas, but I hardly understand all his nasal language.
I had not found the `/sim/input/selected/engine[0]` and `/sim/input/selected/engine[1]`. I had looked for it, but buried in the /sim/ is not the best place...
Which was clear for me: Help > Common Aircraft Keys  / ! / @ / # / $ / ~ / select one or every engine.
But every engine is selected at start. The

[2015-06-13 11:44] wkitty42 commented on #248
what has been decided with this? i pulled some 8 or 10 new commits just a little bit ago so this might already be taken care of but previous to those, the repair button doesn't fix the battery... i'm testing the battery drain now to be sure... just wanted to drop a note so we don't forget this before the release...

[2015-06-13 11:45] onox commented on #248
There's no PR that refers to this issue, so it hasn't been fixed yet.

[2015-06-13 11:52] wkitty42 opened #282 "console error messages"
i'm seeing this with the latest... not sure what's caused it... i hate being sick like this :(

details: started at KMCO with amphibious pontoons... flew north maybe 10 minutes or so to a small lake (slightly east) with an amphibious landing area... landed perfectly and then ""boated"" to the dock area... basically beached the craft and then extended the gear so as to try to drive up on the land..

[2015-06-13 12:19] onox commented on #282
Have you tried to start FG multiple times?

[2015-06-13 13:28] onox commented on #238
@gilbertohasnofb I think your commit actually caused the branch to not be automatically be merge-able. However, I have done some interactive rebasing to squash some commits and simply removed your particular commit in the process.

[2015-06-13 14:13] gilbertohasnofb commented on #238
@onox I will try to add a new sound for the trim wheel by tonight.

About the nav radios and transponder, why don't we copy them into our project then? Together that's only 439 kb more.

As for my last erroneous commit on this branch, my apologies again. Glad to hear it's mergeable right now.

[2015-06-13 16:47] gilbertohasnofb commented on #238
@onox Okay, so I have prepared the new sound for the trim tab, but I am having a problem with our branch. I still didn't even try to add nor commit nor push this time. I simply did a git pull on the master branch (all fine), then when I did a `git checkout bug-238` I got:

		Switched to branch 'bug-238'
		Your branch and 'origin/bug-238' have diverged,
		and have 17 and 13 different commits each,

[2015-06-13 16:49] #256 closed

[2015-06-13 16:56] wlbragg commented on #238
@gilbertohasnofb, onox is definitely the one to sort this out but I can tell you on the second pull you had conflicts that required resolution (meaning you need to edit those files and correct the "tagged" lines that are in conflict). Then you commit those conflict resolution changes you just fixed.and you are ready to merge again.
The third pull is simply telling you that you have files that aren

[2015-06-13 16:59] gilbertohasnofb commented on #238
Thanks @wlbragg. So if I manually copy the raw data from those two xml files from the but-238 branch here on GitHub and paste it on my repository, then I would have solved the conflict?

[2015-06-13 17:12] wlbragg commented on #238
The "two files" being
U   c172-sound.xml
U   c172p-set.xml
?

[2015-06-13 17:13] gilbertohasnofb commented on #238
Yep.

[2015-06-13 17:14] wlbragg commented on #238
Yes, that sounds right.

[2015-06-13 17:14] wlbragg commented on #238
Is your local branch older than #238 PR?

[2015-06-13 17:16] wlbragg commented on #238
That is why when you get a conflict notice you edit the files that are flagged in conflict. Because technically you should be able to tell what part to keep and what part to discard in the conflict.
Have you ever seen or edited one of those conflicts?

[2015-06-13 17:18] gilbertohasnofb commented on #238
No, I re-cloned the whole repository some days ago.

Not really.

I will give it a shot now then.

[2015-06-13 17:19] wlbragg commented on #238
"should be able to tell what part to keep and what part to discard in the conflict"
Because you might be ahead of the PR or behind the PR and that makes a difference in what conflict part is discarded.
If you are ahead , you may want to keep your version of the conflict, if behind, you may want to keep what is in 238.

[2015-06-13 17:22] wlbragg commented on #238
Sometime if I really can't or don't want to wait for help, I'll reclone a fresh copy of master, make my changes and push that back to github (that is if the changes aren't too extensive..
I have the cpu power speed and bandwidth to allow me to do that in a reasonable amount of time.

[2015-06-13 17:22] wlbragg commented on #238
But then again I guess you trying to work with a PR so that is a bit different.

[2015-06-13 17:23] gilbertohasnofb commented on #238
I really don't know then, and copying the raw data didn't solve it, the conflict is still present...

How could I be ahead of the PR? I myself never touch those xml files, I only add wav files.

I do the same when I am at my uni, but at home my internet is rubbish. This repository is quite large nowadays, so I am hoping to solve it somehow else.

[2015-06-13 17:24] wlbragg commented on #238
Open the files that have the conflict and find the conflict, take a look at it and see if you recognize both versions of the conflict.

[2015-06-13 17:25] wlbragg commented on #238
There may be more than one conflict in each file.

[2015-06-13 17:27] gilbertohasnofb commented on #238
Sure, I already checked with a difference checker, it's just some few lines of code per file. But the point is that simply correcting these lines on the files is not solving the conflict...

You know what, I need to do some other stuff that does not involve internet right now, so I will just reclone the whole repository. This is too much headache for me. Thanks anyway for the help!

[2015-06-13 17:37] wlbragg commented on #238
Good luck!

[2015-06-13 17:40] gilbertohasnofb commented on #238
Thanks, with my bandwidth I will need it! :wink:

[2015-06-13 17:42] wlbragg commented on #248
AI can add it to repair function, anyone know what property to add and what value to set it to?

[2015-06-13 17:52] wkitty42 commented on #282
no, not at the same time... i have a desktop specifically for running fgfs... i don't run it on any other desktop of the 8 that are configured... when i was testing to see if the battery drain repair had been implemented (before i read your post about it not having a PR) i saw that the messages were all posted at roughly the same time...

just tested again... the first one about line 25 comes up r

[2015-06-13 18:19] wkitty42 commented on #248
i'm digging just to see what i can see... i've found /systems/electrical/battery-charge-percent which appears to use 1.0 as 100% charge... so far, rooting with the aid of the phi web interface, i don't find much else that seems related...

i've done no startup procedures at all... just started the sim and it seems to have started with the battery, alternator and avionics switches ON along with the

[2015-06-13 19:44] gilbertohasnofb commented on #238
@wlbragg okay, it took me 2h but cloning is finished and problem is solved. Thanks again!

@onox so the new trim sound is pushed, named `trim.wav`. It should be really soft, and the sound is loopable. Let me know if we still need some work on these sounds, okay?

[2015-06-13 19:48] wkitty42 opened #284 "water spray on windshield after roll onto land"
amphibious pontoons... take off from airport (KMCO in this case) and fly to some water landing area (near cape canaveral in this case)... gear up after takeoff... perfect landing on water... slowed to ~6-8kts and approached the land... lowered gear and increased throttle to roll up onto the land... rolled onto the land pretty easily... backed off power, set brakes, performed full shutdown procedur

[2015-06-13 20:24] wlbragg commented on #284
Were the back of your pontoons still in the water? If not I'll try to duplicate.

[2015-06-13 20:27] wkitty42 opened #285 "Save and restore state of switches"
last time i was in the sim, i shut down everything and ensured that all switches were in the OFF state... i'm not sure where this problem is but i just loaded the sim with the same craft and location as last time and the battery, alternator, and avionics switches are all ON instead of OFF where they had been set... the starter switch is also set to BOTH for the magnetos... that was also specifical

[2015-06-13 20:28] wlbragg commented on #285
This was working?

[2015-06-13 20:33] wkitty42 opened #286 "Ctrl+C "Transponder" label visible even without Ctrl+C"
the new CTRL-C transponder label is on the console even without CTRL-C having been pressed... turning on CTRL-C and back off doesn't remove the label...

this as of commit a2e3a5f76db85eac4a415f08971fe1f7d6c6cf28

[2015-06-13 20:34] wkitty42 commented on #285
i'm not sure what you are asking?

[2015-06-13 20:39] wkitty42 commented on #285
i just tested again... commit a2e3a5f76db85eac4a415f08971fe1f7d6c6cf28 ... start the sim... ensure that everything is OFF and mixture is at 0%... exit the sim, start the sim with the same command line and options (i use --launcher and just click run because everything is already set or stored as i want it)... battery, alternator, avionics switches are ON, starter is set to BOTH and mixture is 100%

[2015-06-13 20:41] wkitty42 commented on #284
i was ~10 feet from the water on the land when i restarted the craft to try to dry the windshield...

[2015-06-13 20:45] wlbragg commented on #285
"i'm not sure what you are asking?"
Was it something that used to work but suddenly doesn't anymore?

[2015-06-13 20:46] gilbertohasnofb commented on #284
@wkitty42 if you can, add some labels to your bug reports to help organize them. Also, if it's a pure bug and it's something simple, we can assign it to the FG 3.6 release milestone.

[2015-06-13 20:46] andgi commented on #264
I took a quick stab at adding pontoon/float sounds:
https://github.com/Juanvvc/c172p-detailed/pull/287

[2015-06-13 20:55] gilbertohasnofb commented on #264
I just tested it. Here are some thoughts and bugs:

- when I load the plane, the sound is really soft. Once the engine starts and the plane starts to move, there is a huge sudden raise in volume which doesn't sound good
- as soon as the plane is not in touch with the water, the sound stops at once. I would say fading it out (for some 0.5 seconds) would make it sound way better
- are you using both

[2015-06-13 20:59] gilbertohasnofb opened #288 "water spray on windshield disappears too suddenly"
Currently, the water spray on windshield disappears too suddenly after a water take off. As soon as the plane is not touching the water the spray disappears immediately. Would it be possible to fade them out somehow or work on this transition?

[2015-06-13 21:03] andgi commented on #264
I have only used water-fast.wav. The sound should not be audible at all until 2 knots, if it starts too loud I can lower the initial volume (currently 0.2) and possibly the maximum volume (currently 2.0). On my system it is rather weak all the time - I more or less have to pull the mixture to hear it clearly. Fading out a sound is outside my knowledge of FG the sound system so I'll have to leave t

[2015-06-13 21:10] gilbertohasnofb commented on #264
@andgi okay then, but it would be great to have both sounds. Also, I believe that fading in and out is quite crucial in this issue. Let's see if @onox can help implement these things.

[2015-06-13 21:15] andgi commented on #264
If you want water still played all the time at constant volume while any float is in contact with water that is not so hard to add.

Fading out is harder, but maybe a height AGL property could be used for the condition and to fade out the volume.

[2015-06-13 21:18] gilbertohasnofb commented on #264
Yep, that would do.

Great idea. Could fade it quite quickly (my guess is 8-10 ft AGL). This should apply to both sounds as well.

What do you think?

[2015-06-13 21:39] andgi commented on #264
I have added the water-still sound too now. I've realized altitude AGL doesn't work by itself for fading out since it would have to remember that the sound was playing, but the current activation property goes to 0 as soon as the floats leave the water and cannot tell that the previously were in the water.
A specialized property that decays after leaving the water needs to be added.

[2015-06-13 22:14] onox commented on #238
I did an interactive rebase as I said in https://github.com/Juanvvc/c172p-detailed/issues/238#issuecomment-111710053 and force push to clean up this feature branch a bit, but you might not have understood the consequences of it . So what happens is that your commit tree is something like:

`A->B->C->D->E->F->G->H`

while mine (and Github) is:

`A->B->I->J->K`

What you should do in this case is fi

[2015-06-13 23:11] onox commented on #264
@andgi Maybe you could replace the activation property with a [monostable](http://wiki.flightgear.org/Autopilot_configuration_reference#Monostable_flip_flop_.3Cmonostable.3E) filter (in a `<property-rule>` or `<autopilot>`) to delay the deactivation.

[2015-06-13 23:35] onox commented on #248
@wkitty42 `/systems/electrical/battery-charge-percent` is read-only. Instead you have to call `battery.apply_load((1.0 - battery.charge_percent) * battery.amp_hours, 3600)`. I'll fix this issue now, it seems rather easy :smile:

[2015-06-14 00:05] wkitty42 commented on #285
@wlbragg honestly, i don't know :/

[2015-06-14 00:06] wkitty42 commented on #284
@gilbertohasnofb i've looked when i create issues or go back to edit those i've made and i don't see anywhere to select labels...

[2015-06-14 00:12] onox commented on #248
@wkitty42 I have pushed branch bug-248. Do `git fetch` or `git pull` in master branch (I guess that is what you usually do). You should see a new message about branch bug-248. After that you do `git checkout bug-248`

To test in which branch you are, you do `git branch`. To go back to master, you do `git checkout master`.

[2015-06-14 00:16] wkitty42 commented on #248
@onox i couldn't tell that it was read-only... i was in the sim a little while ago and opened the tree with '/'... i navigated to that node... i was watching it, the amps and the voltage dropping... then i went and turned off all the switches again (see issue #285) and watched the numbers stop dropping... as a test, i set that battery-charge-percent to 1.0 and clicked the [set] button... it was ac

[2015-06-14 00:18] wkitty42 commented on #248
@onox ok... i'll make a fetch in a few minutes and check out that branch, copy it over to my live directory i fly the craft from and test it...

[2015-06-14 00:20] onox commented on #248
That's because `Nasal/electrical.nas` stores the actual charge in a variable, not in a property. The property is just for your information, it's not the actual state.

Anyway, please test bug-248 branch and report in #290 :smile:

[2015-06-14 00:29] onox commented on #238
@gilbertohasnofb I get:

[code]

Could it be because the sound is 24 bit instead of 16 bit? :confused:

[2015-06-14 00:30] wkitty42 commented on #248
done :smile_cat:

[2015-06-14 00:32] onox commented on #238
I've modified `c172-sound.xml` to use `trim.wav`, so you can check if the sound is accepted by FG or not.

[2015-06-14 00:33] #248 closed

[2015-06-14 00:35] #286 closed

[2015-06-14 00:44] onox commented on #282
I didn't mean running multiple fgfs instances at the same time, but I meant that you try to restart FG sequentially. I get segfaults too once in a while. I then just try to start FG again and then it works.

[2015-06-14 00:49] wkitty42 commented on #282
@onox OH! the segfault has nothing to do with this stuff... it happens all the time right now when i exit the sim after using the built in --launcher... i just copied the entire screen of output... the two errors i'm speaking of are at the top between "Enabling ATI viewport hack" and "Loading local weather routines..." :wink:

[2015-06-14 00:54] onox commented on #282
Those errors are not caused by the c172p aircraft. They are caused the MP patch in fgdata.

[2015-06-14 00:54] #282 closed

[2015-06-14 00:55] wkitty42 commented on #282
@onox oh... ok... since i've been out for a few days and only had a few tens of minutes at a time to play, they were a surprise to me when i saw them...

[2015-06-14 01:16] gilbertohasnofb commented on #284
Do you have direct push access to this repository? Because if not then I believe you can't select labels yourself. In that case no worries, I don't mind to keep adding them myself.

[2015-06-14 01:20] gilbertohasnofb commented on #238
Yeah, I didn't realise it at all :smile but no worries, now everything is okay.

As for your error, I will convert the sound to 16-bit tomorrow and also test your last work.

[2015-06-14 01:39] onox commented on #238
I'll copy the files.

[2015-06-14 02:19] onox commented on #238
@gilbertohasnofb Done.

[2015-06-14 02:31] wlbragg commented on #284
I think I have identified the problem and will fix it tonight (hopefully)

[2015-06-14 02:46] wlbragg commented on #288
Yeah, I think we can do that.

[2015-06-14 02:47] onox commented on #206
Is anyone working on this? If not, then we should set the milestone to 3.8 feature freeze.

[2015-06-14 02:48] onox commented on #116
@wlbragg Would you like to do this?

[2015-06-14 02:51] wlbragg commented on #116
I'm not up to speed on translate animations, so it might take me longer than we have. Plus I have some other "bugs" I have to fix first. If I get back to it in time I can try.

[2015-06-14 02:53] onox commented on #116
Ok, I'll see if I can fix it.

[2015-06-14 02:55] onox commented on #80
@Juanvvc @tigert If you reduce the instrument lighting, does that also reduce the lighting of the digits of the radio's? And does the lighting of the radio's depend on the interior lights circuit breaker?

[2015-06-14 03:23] wkitty42 commented on #284
@gilbertohasnofb no, i don't have push access to the repo... that's ok, too... less chance for me to mess something up :wink:

[2015-06-14 03:39] #284 closed

[2015-06-14 03:39] #288 closed

[2015-06-14 03:49] onox opened #293 "Fix attitude indicator and heading indicator"
Investigate if we can use the trick with using a `<filter>` which is enabled if `/sim/freeze/replay-state` is false to passthrough the values `/instrumentation/attitude-indicator/indicated-pitch-deg` and `/instrumentation/attitude-indicator/indicated-roll-deg` to two new values.

The instruments and the flight recorder must then use these two new values.

Currently, the values are not recorded bec

[2015-06-14 03:53] onox opened #294 "Flaps keep moving to new position after turning off battery"
If you turn on the battery, then move the flaps to a new position, and then quickly turn off the battery again. Then the flaps keep moving to their new position.

After the flaps have moved to their new position, they can no longer be moved again, which is good :+1:

[2015-06-14 05:02] onox opened #295 "Sparks not visible in evening and night"
Sparks are visible during the day, but not in the evening and night. Shouldn't they actually appear brighter during the evening and night than during the day?

Noon (visible):
![fgfs-screen-065](https://cloud.githubusercontent.com/assets/3361585/8147279/de167512-1262-11e5-8c0e-b468a7254d75.png)

Dusk (still a little bit visible):
![fgfs-screen-066](https://cloud.githubusercontent.com/assets/336158

[2015-06-14 14:07] dany93 commented on #273
I have implemented the bases for a two-engine-with-propeller version (160 hp or 180hp at choice from the simulator).
On a dany93 branch: https://github.com/dany93/c172p-detailed/tree/c172-eng160-180hp

Redone the float chamber (fuel.xml) for this.

At choice:
- 160 hp engine with 75 inches diameter propeller, which works as usual,
- 180 hp with 76 inches diameter, 20 deg (62.5 in) pitch.

In this

[2015-06-14 16:10] gilbertohasnofb commented on #238
Great!

[2015-06-14 18:01] #238 closed

[2015-06-14 18:06] onox commented on #80
@gilbertohasnofb Are you able to answer these questions?

[2015-06-14 18:08] onox commented on #81
I think because the "external temperatures, engine temperature taken into consideration" is not implemented, we should this issue to 3.8 feature freeze.

[2015-06-14 18:10] onox commented on #148
I don't see the point of having a 2D shadow if we already have the better looking 3D shadow.

[2015-06-14 18:15] gilbertohasnofb commented on #80
I don't think so, because during the day you want the instrument lightning to be at 0%, but you want the radios to display information.

Therefore I'd say that it doesn't depend on it.

[2015-06-14 18:18] wkitty42 commented on #253
i was just checking on this to see what the status is/was... i also checked the original c172p and there is a switch... i don't know how or when we lost it, though... maybe when the panel was moved around?? here's a shot from the original c172p for comparison...

![fgfs-screen-053](https://cloud.githubusercontent.com/assets/4641713/8149823/05b45dae-12a0-11e5-8d70-d46428103ca1.png)

[2015-06-14 18:21] gilbertohasnofb commented on #250
Could someone with knowledge of Blender apply this texture to the trim wheel to see if it solves the problem? Would you have the time to check this out, @dg-505 ?

[2015-06-14 18:25] onox commented on #80
OK. Should the radio's still depend on the radio breaker? :stuck_out_tongue_winking_eye: I think that wasn't the case when I tested it.

[2015-06-14 18:27] gilbertohasnofb commented on #80
I am 99.9% confident that that is a yes :wink: But the thing is we have 5 radio circuit breakers and one of the AP, and I think that each one controls a single part of the radio. We have to ask someone else which one does what.

[2015-06-14 18:28] onox commented on #253
Sorry, but I see 1 dial, 1 on/off switch, 1 button :smile: Do you mean the texture of the on/off switch?

[2015-06-14 18:30] gilbertohasnofb commented on #253
@onox Yes, compare his two images above: the ON-DME-OFF switch looks different between the two pictures. It could be it has the same problem as the #250 but I am not sure.

[2015-06-14 18:37] onox commented on #80
Is the radio breaker sort of a master breaker for the radio's then?

[2015-06-14 18:40] onox commented on #253
Yeah, @wkitty42's description didn't mention that it was about a texture and I overlooked the title :sweat_smile:

[2015-06-14 18:44] gilbertohasnofb commented on #253
I just checked and it is about textures indeed. I can see the 3D object but it looks completely uniformly grey at some angles, and just fine at others.

[2015-06-14 18:45] gilbertohasnofb commented on #253
So I will create another 2x2 texture with light grey solid colour and we apply it to this switch.

[2015-06-14 18:46] onox commented on #253
`dme.ac` and `dme.rgb` are the same as in the old c172p.

[2015-06-14 18:46] gilbertohasnofb commented on #80
Which radio breaker? There are 5 of them numbered 1-5, and I don't see any "master radio breaker".

[2015-06-14 18:54] onox commented on #80
Sorry @gilbertohasnofb, I checked `Nasal/electrical.nas` and the breakers are connected to the 5 sets of instruments (audio panel, comm1/nav1, comm2/nav2, transponder, and adf+dme). I was under the impression that radio1..radio4 were connected to comm1, nav1, comm2, and nav2.

[2015-06-14 18:58] gilbertohasnofb commented on #253
But `dme.rgb` does not contain texture for the switch, but only for the panel part of the DME.

[2015-06-14 18:58] gilbertohasnofb commented on #80
No problems!

[2015-06-14 19:01] onox commented on #80
Do you know if the transponder uses `/systems/electrical/outputs/transponder`?

[2015-06-14 19:04] gilbertohasnofb commented on #80
:ok_hand:

[2015-06-14 19:04] onox commented on #80
Turn coordinator seems to be ok as well, so we can close this issue.

[2015-06-14 19:09] gilbertohasnofb commented on #80
There is still a little problem with Radio 1 braker: it is supposes to shut down the radio, but try moving the rightmost toggle down (to test position) and you'll see it illuminates the runway markers lights. I didn't try landing with this breaker off, but my guess is that the markers will also be working in that scenario.

[2015-06-14 19:10] onox commented on #253
I grepped through `dme.ac` and only found `texture "dme.rgb"`, but again I don't know much about UV and texture stuff.

[2015-06-14 19:11] gilbertohasnofb commented on #253
No problems. So it means that this texture is being used by the DME panel, but not necessary by the switch, which I believe is untextured. In that case, similarly to #250, we need to add texture to it.

[2015-06-14 19:12] onox commented on #80
radio1 breaker is connected to the audio panel;

[code]

[2015-06-14 19:14] onox commented on #80
I guess you're talking about radio2?

[2015-06-14 19:15] gilbertohasnofb commented on #253
Okay, so we now have a texture named light-gray-texture.png located on Models. Someone with Blender knowledge just have to apply it to the DME toggle now.

[2015-06-14 19:15] gilbertohasnofb commented on #250
Also see #253.

[2015-06-14 19:22] onox commented on #80
@gilbertohasnofb The audio panel is the marker-beacon instrument and it uses `/systems/electrical/outputs/nav[0]` for bus power.

[2015-06-14 19:29] gilbertohasnofb commented on #80
Yes! Sorry, I expressed myself quite badly.

I still think there is something wrong with the marker beacons. Even with the battery off and the the avionics switch off, they are still being illuminated when I click on the test toggle!

[2015-06-14 19:32] onox commented on #80
Maybe the three animations in `Models/Interior/Panel/Instruments/kma20/kma20.xml` on lines 96 to 130 need to be updated then.

[2015-06-14 19:38] gilbertohasnofb commented on #288
Are you sure this is fixed? Now what happens to me is that after I take off from water, the water spray stays with the plane for a really long time! Like 30 seconds or so. Is that on purpose? Also, I don't see the fading.

[2015-06-14 22:05] wkitty42 opened #297 "drifting on runway..."
i don't know what's happened but as of commit 7b5004ff32e8983a365cd8624b5ccd9248969ee1 i'm drifting on the runway (or taxiway) when i'm completely powered down and have the brake set... in fact, i first noticed this because just starting the sim, i always set the brake and the craft settles nose down as if the brakes are being applied during landing or rolling... if i release the brake, the nose o

[2015-06-14 22:06] wkitty42 commented on #253
this looks to be fixed as of commit 7b5004ff32e8983a365cd8624b5ccd9248969ee1 ... i see a nice switch in place and it appears to work :)

[2015-06-14 22:09] gilbertohasnofb commented on #253
Are you sure? That commit has nothing to do with that switch.

[2015-06-15 00:31] wkitty42 commented on #253
@gilbertohasnofb that commit may not but one of the other 8 or 10 before it appears to... i only know what the last one was that i pulled... sorry...

[2015-06-15 00:35] wlbragg commented on #288
gilbertohasnofb,
I am doing the following
if altitude > 2m or hydro/active-norm = 0
 subtract .005 from ground-splash-norm every loop until ground-splash-norm = 0

It isn't elegant, but it should be slowly removing any water drops from the windshield.

[2015-06-15 00:38] wkitty42 opened #298 "pink tint - ALS flashlight shadow issue?"
it this pinkish shadow looking tint on the instrument dials the weird shadow thing that was being looked for with the ALS flashlight? it is easily seen in the instruments in this shot... i haven't seen or noticed it before now but this flight had the sun relatively low back over my right shoulder... i should have zoomed in more to catch it better... this is also an unedited snapshot...

![fgfs-scr

[2015-06-15 00:38] wlbragg commented on #148
Yes, we have all 3d shadows except amphibious, I only did pontoon.

[2015-06-15 00:41] wkitty42 commented on #288
@wlbragg would there really still be water spray 6 feet off the water? i don't know where 0m is being read from... eye level? bottom of the pontoons? bottom of the craft's belly? maybe reduce from 2m to 1m?

[2015-06-15 00:42] wkitty42 commented on #148
would the amphibious shadow be that much different from the plain pontoons? i wouldn't think so... at least not from the distances we generally look at them from in the sim ;)

[2015-06-15 00:44] wlbragg commented on #298
It is possible, what it is that has the potential for negative (or positive) effects is the internal shadow effect. It is required to have any object that you want to have the flashlight effect also have the interior shadow applied to them. We always had interior shadow applied to the panel, buttons seats., etc., but we never did apply it to all the instruments and gauges until the flashlight code

[2015-06-15 01:11] wkitty42 commented on #298
@wlbragg is there some special method that i can use to see if this is related to the flashlight? moving my viewpoint around, maybe? i've lost the sun in real time so i'll have to try to set up something in sim time to simulate what i was seeing if changing my viewpoint is a/the way to test this...

[2015-06-15 01:15] wkitty42 commented on #298
i just tried to set something up but dusk is too late and afternoon is too early :(  i'll try to remember to test this again before 19:00 EDT by flying the same route again tomorrow...

[2015-06-15 01:26] wlbragg commented on #298
You can choose an instrument or gauge that you want to test and edit its xml file. The clock looked like it had a lot of pink.
You can edit c172p\Models\Interior\Panel\Instruments\clock\clock.xml and comment out
[code]

[2015-06-15 01:28] wlbragg commented on #148
That's why I left it for last and it was extra effort to add the gear.

[2015-06-15 01:36] wlbragg commented on #288
Funny you mentioned that, the actual prop used is
altitude-agl-m
and that is independent to the particular aircraft as to where exactly that is.
I vaguely remember looking at that number and I think it was somewhere like 1.?? when sitting on the ground so it should be close enough.
Also don't forget I am using
altitude-agl-m OR  hydro/active-norm = 0
and the whole idea was the "residual" water dis

[2015-06-15 03:23] onox commented on #297
Which bushkit option were you using?

[2015-06-15 03:26] onox commented on #297
What is the weather like (wind speed) when the problem occurs?

[2015-06-15 04:08] onox commented on #253
@wkitty42 When was the last time when you pulled (when the texture was still missing)?

[2015-06-15 04:13] onox commented on #253
I tried to `git reset --hard` all the way back to 9f0f1e7 and I can never reproduce the bug.

[2015-06-15 04:15] onox commented on #253
So `Models/light-gray-square.png` can be deleted again?

[2015-06-15 04:20] onox commented on #298
Add `` around it.

[2015-06-15 04:31] onox commented on #148
@wlbragg Can we just ditch the whole 2D shadow thing and just add the gears to the 3D shadow of amphibious so we can close this issue?

[2015-06-15 05:09] onox commented on #80
@Juanvvc @tigert Can you guys find out how much volt the audio panel needs? The current C++ says at least 1.0 V. That is way too low :stuck_out_tongue_winking_eye:

[2015-06-15 05:38] onox opened #299 "Reclaim int[14] to int[19] MP properties"
The registration number system (immat) uses 6 precious properties. We need to reclaim the properties for the more important effects.

Use Canvas to paint the registration number from `/sim/multiplay/generic/string[0]` on the fuselage. Draw text on the fuselage or use http://wiki.flightgear.org/Howto:Dynamic_Liveries_via_Canvas

`/sim/model/c172p/immat` is true for the livery "default" only. All ot

[2015-06-15 05:55] wlbragg commented on #148
Yes, i'll take care of it in the morning.

[2015-06-15 06:39] onox opened #300 "Change default livery"
1. The current default in `/sim/model/livery/file` is "D-EEQA". Let's change this to a HD livery. I suggest either "4X-CHV_HD_livery" or "OH-CTL_HD_livery".

2. The "default" livery is plain ugly white:

![fgfs-screen-079](https://cloud.githubusercontent.com/assets/3361585/8154368/aaf7e062-1339-11e5-98be-0f8105ccba6e.png)

~~I propose that we just delete it.~~

[2015-06-15 06:41] onox commented on #147
![fgfs-screen-080](https://cloud.githubusercontent.com/assets/3361585/8154417/4101f85e-133a-11e5-96bc-78965b3004b4.png)
![fgfs-screen-082](https://cloud.githubusercontent.com/assets/3361585/8154418/41074ebc-133a-11e5-9f83-6203fe5e380a.png)
![fgfs-screen-083](https://cloud.githubusercontent.com/assets/3361585/8154419/41081ee6-133a-11e5-9f50-20dc59873b88.png)

[2015-06-15 08:17] onox commented on #80
@gilbertohasnofb Please test PR #301. Note that the marker-beacon instrument (used by the audio panel) listens to `/systems/electrical/outputs/nav[0]`. See https://github.com/Juanvvc/c172p-detailed/issues/80#issuecomment-111865696

[2015-06-15 08:23] onox commented on #80
I need to add some conditions to `c172-sound.xml`.

[2015-06-15 08:25] onox commented on #80
@gilbertohasnofb Does the stall sound depend on the circuit breaker for the audio panel? There's also a KAP140Beep sound. I think that one should depend on the circuit breaker for the audio panel as well.

[2015-06-15 08:30] onox commented on #80
Note that `Nasal/kma20.nas` controls various volumes, but the C++ instruments do not care about the voltage of `/systems/electrical/outputs/audio-panel[0]`.

Should various sounds (marker beacon, afd, dme, comms) depend on whether the audio panel has power or not?

[2015-06-15 08:41] onox commented on #299
@wlbragg We can do the first three items today and tomorrow. Canvas stuff should be done later.

[2015-06-15 09:13] wkitty42 commented on #288
i just (finally) found that property... i see one called gear-agl-m but that one seems to be off, too... i don't know what it is calling "gear" if it isn't the landing gear...

wearing the amphibious pontoons, sitting on the runway at KMCO:
altitude-agl-ft: 6.760xxxxxxxx
altitude-agl-m: 1.755xxxxxxxx
gear-agl-m: 2.289xxxxxxxx

wearing the regular pontoons, sitting on the runway at KMCO:
altitude-a

[2015-06-15 09:30] wkitty42 commented on #297
ummm... the drifting didn't appear to be with the wind... there is some windmilling at times on the amphibious pontoons when sitting on the runway but when i wrote the original issue, the drifting was straight down the runway... very very slowly, though... it took like maybe 30 minutes to drift from the back of the broad white lines on the end of the runway to the front of them... what is/was conf

[2015-06-15 09:47] wkitty42 commented on #253
these are the commits that came in when i did that last pull...

commit 7b5004ff32e8983a365cd8624b5ccd9248969ee1
commit 714169cb7dd2b6d0e367c6c93a5f7f7ddfbd6da7 (this one fixed the switch texture)
commit e6de5017956e6bdf9c56bf4c7d845230615c5ac0
commit 399db1b8d1d3d21cbf191ddfc8b85e259132e88b
commit 80d5f96070550588b88b15ce66e970b03b8861ac
commit 9dc86bc2f162eccaaa335a9914ddb7791af6de4e
commit 7a7a

[2015-06-15 09:51] wkitty42 commented on #253
i don't think i'd revert the commit since it did fix the problem here... having it won't hurt anything...

i wish i could find the commit where the switch texture went missing... i think it happened when the old KT70 or whatever that legacy instrument was was removed... that's when i noticed the DME's panel shape changed, too... look at the two pics above and you can see how the radio stack is dif

[2015-06-15 10:03] wkitty42 commented on #298
if/when i can reproduce this, i will try to comment out the effect in one of the instruments and test it... i hate having to exit the sim, edit and reload the sim to try to get back to the same place... especially when time is against me/us... i saw the above while flying but i may be able to do it again while sitting on the ground...

[2015-06-15 10:11] wkitty42 commented on #300
if we're dumping the immat thing, this is/was the only craft really using it... plus the letters weren't following the fuselage contours... it is a nice idea and i've seen and used it on other craft... b1900d or citationX when i did one of my custom liveries and this immat was on the tail...

but having the plain ugly white kinda might give folks something to work with for doing their own liveries

[2015-06-15 10:16] wkitty42 commented on #147
i can't duplicate this :disappointed:  every time i select a/the HD livery, there's a 2 to 3 second pause before it loads... i've tried with using different liveries, too... toggling back and forth between any two at the time several times to no avail...

[2015-06-15 11:16] onox commented on #253
@wkitty42 But that commit cannot fix the issue. It's just a new file, it's not being used. And when I got back to a commit before 714169c, then I still don't have the issue, which I should if that particular would have fixed this bug.

[2015-06-15 11:33] wkitty42 commented on #253
well i don't know then... something screwy seems to be going on over here that i don't understand... the craft i'm flying now doesn't have the switch texture but the one i flew yesterday did... i'm starting to wonder if some thing is going on with resources or such in the sim... like the control panel swapping issue that was recently filed... i'm gonna reopen this and so we can get it fixed proper

[2015-06-15 11:35] wkitty42 commented on #253
@onox are you saying that you have a switch texture on your console? yours doesn't look like my first snapshot above???

[2015-06-15 16:26] onox commented on #253
It has a texture, it looks like the second screenshot.

[2015-06-15 16:28] gilbertohasnofb commented on #253
Onox, none of the screenshots above has any texture to them, this object has a simple solid colour applied to it. What you probably mean is that you can see the 3D details to the object, the shadows, etc., but to speak about texture is not correct I think.

[2015-06-15 16:30] onox commented on #253
Yeah, that's what I meant, I can see the shape.

[2015-06-15 16:30] gilbertohasnofb commented on #300
@wkitty42

Nope, that doesn't make sense. We have a paint kit included as a GIMP file in our plane so no need to keep a white texture (also, the paint kit has shadows in different layers which is necessary for any good texturing work. The white texture here is really useless for creating liveries).

I don't think we should dump the immat thing, just create a better texture for it. I will do that m

[2015-06-15 16:37] gilbertohasnofb commented on #288
@wlbragg

I will test it again, and if it fails I will make a video of it, ok?

[2015-06-15 16:39] gilbertohasnofb commented on #80
@onox

Will do that in a short while!

I am not sure, but I believe the stall horn is a simple mechanical device on the wing and the sound comes directly from it. So no electronics, wires, amplifiers, speakers, etc.

Most probably yes. But maybe @Juanvvc and @tigert could clarify this better.

[2015-06-15 16:49] onox commented on #300
I'll remove the "default" livery then and change the default from "D-EEQA" to "4X-CHV_HD_livery".

[2015-06-15 16:50] gilbertohasnofb commented on #300
No, don't remove the default livery, I will adapt its xml file to the new custom immatriculation livery, okay? Just change the default to whatever you like.

[2015-06-15 16:51] onox commented on #300
How does the custom registration number livery look like then?

[2015-06-15 16:51] onox commented on #288
Also, have you read #299?

[2015-06-15 16:52] onox commented on #300
Also, have you read #299?

[2015-06-15 16:54] gilbertohasnofb commented on #300
I will create a new one. Currently it's all white, but I will probably adapt one of the older ones (maybe D-EEQA) but have no text on it.

No, just read it now (sorry I was offline the whole day). I am pretty much against this: 'Use Canvas to paint the registration number on all liveries. Use custom colors and fonts tailored for the specific liveries". This will be a lot of work and little gain in

[2015-06-15 16:55] gilbertohasnofb commented on #299
I am pretty much against this. This will be a lot of work and little gain in my opinion, and the Canvas text does not look as good as a textured text. Really don't see the point. Also, all those HD liveries are based on real life airplanes and I use their real life callsigns as well.

[2015-06-15 16:56] onox commented on #80
In that case I think we should create a separate issue about need of the kma20 to control the actual volume of various instruments depending on its voltage.

[2015-06-15 16:56] onox commented on #300
You can use Canvas to draw textures as well.

[2015-06-15 16:56] onox commented on #300
But we need int[14] to int[19] anyway.

[2015-06-15 16:57] onox commented on #300
Also, Canvas might give us a way to draw the registration number with the correct font color, etc. Currently the textures are just black for all liveries.

[2015-06-15 16:59] gilbertohasnofb commented on #300
So then we would need to create 30+ textures for the whole alphabet + numbers for each livery? That's just crazy...

I get onox, but I think this will influence all other liveries, and all this just for the sake to be able to have custom immatriculations on the plane. If those properties are needed then my opinion is to simply remove the possibility of having a custom callsign. One less option = s

[2015-06-15 17:00] onox commented on #300
Actually you get 6: int[14], int[15], int[16], int[17], int[18], int[19].

[2015-06-15 17:03] onox commented on #300
I hope/think Canvas can just draw certain parts of textures. Having to create 30+ textures. I didn't say we _must_ use textures. If Canvas has a `drawText("Callsign").fontColor("orange")` function, then we could use that.

[2015-06-15 17:03] gilbertohasnofb commented on #300
So what about solving this the easy and better way then? Let's just please forget about this custom callsign thing... who cares if you are flying online as N-00B and in the plane it's actually written OH-CTL. The advantage is negligent IMO.

I am sorry but I really dislike the look of the text above the fuselage (like what the default livery current looks like), so this together with the amount of

[2015-06-15 17:08] onox commented on #300
@gilbertohasnofb You want to get rid of this whole MP registration number system?

[2015-06-15 17:11] gilbertohasnofb commented on #300
No, I don't want that, but I'd rather get rid of it than to rework all textures and apply custom callsigns to all of them.

My ideal solution would be to keep things as they are: one special livery for custom callsign, all others with fixed callsign on their exterior. I can improve this custom callsign livery, make it more interesting than simple white. But I am 100% against removing the hard code

[2015-06-15 17:13] onox commented on #300
OK.

[2015-06-15 17:16] gilbertohasnofb commented on #300
Cool, so please don't delete the current "default" livery, I will rework it and upload it soon.

[2015-06-15 17:16] wkitty42 commented on #300
[quote= @onox ]

on the one craft where i learned about the call sign being used on the craft's exterior, i had to play with the color settings in a file to get the color the way i wanted it to appear for the registration on the outside of the craft when i did one of my first custom liveries... in this case, the craft was completely black and i didn't want a pure blinding white call sign letters g

[2015-06-15 17:17] wlbragg commented on #299
"all those HD liveries are based on real life airplanes and I use their real life callsigns as well."
I can agree with that, but if we do retain some kind of registration system, it would be nice to have some of those or other HD paint schemes.

"This will be a lot of work and little gain in my opinion, and the Canvas text does not look as good as a textured text."
I was just looking at the existi

[2015-06-15 17:20] wkitty42 commented on #299
now that's funny! worth posting to the forum's "what made you laugh" topic :angel:

[2015-06-15 17:22] gilbertohasnofb commented on #299
@wlbragg check out the discussion at #300 for more arguments. What seems to have been decided is to leave things as they are: one "custom callsign" livery which will receive immat on panel and outside (currently named "default" and completely blank, but I will make it pretty instead of just white) and all other liveries will continue to have hard coded callsigns on the outside and no immat in the

[2015-06-15 17:24] wlbragg commented on #299
I just read  #300 after posting the above. Yes that still fits with my logic :).

Maybe in the future we might be able to add a couple other color schemes for custom registration.

[2015-06-15 17:25] gilbertohasnofb commented on #299
Sure, that is possible. I will have a look on the situation now and maybe I can try to add already 2 or 3 options for the custom callsign.

[2015-06-15 17:29] onox commented on #300
@gilbertohasnofb Just for your information (I'm not gonna implement it now or in the future), what I meant with Canvas was able to do things like this:

Imagine I'm using the 4X-CHV livery. Now lets assume my custom callsign is "CHVX-4" (same characters, different order). With the black custom callsign it currently looks like (if you manually toggle a property):

![fgfs-screen-089](https://cloud.g

[2015-06-15 17:32] onox commented on #300
@gilbertohasnofb Btw, can you rename the white livery "default" to something else? It suggests it's the default, but it isn't.

[2015-06-15 17:32] onox commented on #300
I'll create a branch to set the default to 4X-CHV.

[2015-06-15 17:35] wlbragg commented on #299
onox, I am confused as to what you asking in the checkoff list. We have to disable all of it to use 14-19 because the panel is using them also.
So are you saying to ALSO use (create) different props (other than the ones they setup in alias), and why did they set up the alias's if they never used them over MP? Aren't they setup and only used locally?

[2015-06-15 17:36] gilbertohasnofb commented on #300
I get it, onox... but that's really besides the point. My main problem is that I don't think the custom call sign looks good. There is a huge difference of quality between a hard coded text and the Canvas text (at least on my system with anti alias off, the immatriculation in the "default" livery does not look good at all).

I will do that, probably custom_callsign for the files and "Custom Callsi

[2015-06-15 17:37] onox commented on #299
The registration number in the cockpit uses the same properties because they already used those properties for MP.

What I'm trying to say is, we modify `immat.xml` to just display the registration number in the cockpit and use local properties for it. Only the local player has see the cockpit anyway. So no need to use MP properties in order to display the registration number on the cockpit panel.

[2015-06-15 17:38] wlbragg commented on #299
OK, you wan't me to work on that now so I can have the alias's back?

[2015-06-15 17:38] onox commented on #299
If we use local properties for the registration number in the cockpit, we can use the 6 MP properties currently in use for something else.