[2017-02-18 18:07] wlbragg commented on #910
When starting out in the c172p, this is the starting values
cabin temp = heat/cabin-air-temp-degc = 1.94C
outside temp = environment/temperature-degc = 17.25C

Am I not understanding the use of the property heat/cabin-air-temp-degc?

[2017-02-18 18:10] onox commented on #910
`heat/cabin-air-temp-degc` is output by an integrator block. There isn't a way to initialize it as far as I know. We've talked about this thing. You should find it being mentioned in old issues.

[2017-02-18 18:14] wlbragg commented on #910
But that leave this whole thing incorrect doesn't it? I don't see how it can work starting out with a value in the cabin and a glass temp of 0C or 32F no matter the environmental temp.

[2017-02-18 18:16] onox commented on #910
@wlbragg See last paragraph of https://github.com/c172p-team/c172p-detailed/pull/576#issuecomment-161404443

[2017-02-18 18:17] onox commented on #910
And last paragraph of https://github.com/c172p-team/c172p-detailed/pull/576#issuecomment-162318858

[2017-02-18 18:21] wlbragg commented on #910
Aaah!

I guess my memory is failing me :cry:

I got distractions happening around me so i have to stop for a short while. I want to look into this environmental temp issue and see what your referring to. I think we have to have it to make this work right.

[2017-02-18 18:24] onox commented on #910
This discussion is giving me a deja vu 😜

[2017-02-18 19:52] wlbragg commented on #910
Sorry @onox, after reading through the prior issue it is crystal clear now what's going on. I wish I had remembered this right at the start, it would have saved me some time. Do you have any idea approximately how long it takes to equalize a 30-40 degree difference and start working correctly?

I saw where you already commented on my concern above in the prior issue comments, ie:

So that answers

[2017-02-18 21:03] wlbragg commented on #910
Wow, what it is, is the weather has to settle. It is taking consistently 1-2 minutes to settle into it's stable value.

[2017-02-18 21:43] wlbragg commented on #910
Yep, it's an absolute can of worms because the weather has to settle, :angry:

[2017-02-19 03:00] onox commented on #910
Yeah, it is unfortunate. But adding the defroster outlets would be cool though. If you can get the ALS glass mask to work, I'll add support for it in the code.

[2017-02-19 18:17] wlbragg commented on #910
@onox can you use the value from a property before that property is created chronologically speaking in the file order?

We have early on in the file that uses heat/cabin-air-temp-degc
[code]

but the heat/cabin-air-temp-degc as far as I can tell is created later in the file
[code]

Is it simply NULL until it is created and then it contains a value?

[2017-02-19 21:46] stuartbuchanan commented on #909
Hi Guys,

I ran a test in straight-and-level flight at full throttle and got to VNe in <5 minutes from take-off.  I didn't check the prop RPM.  I'm sure that's not expected behaviour (in fact, I expect that airworthiness standards for GA aircraft wouldn't allow it)

Thinking about it, I wonder if the issue is with the form drag on the airframe itself rather than the engine/prop?

Given that form d

[2017-02-20 18:55] HHS81 commented on #909
@stuartbuchanan
@ all
Are you aware that the prop rpm increase much abverlangt 2400 rpm? That's what I've could see. The rpm of the prop increase a lot and goes far Beyond the red line. When I keep the rpm in a realistic Regime  (2400-2500rpm) climb rate and air speed keeps realistic. So there seems to be a issue with the engine and/ or prop.

[2017-02-20 23:24] dany93 commented on #909
I've tried an other propeller (NACA curves, 21 deg pitch).
It's much better but it can still reach over regime at full throttle if I climb or fly at too high velocity (more than 110 KIAS).

Otherwise, I have (Gross Weight 2400 lbs)
- Straight-and-level flight at 2000 ft, 2500 RPM: 115 KIAS (POH 114 KTAS),
- Climb at full throttle 75 KIAS: from 316 ft to 2626 ft in 3mn, which give 770 ft/mn average

[2017-02-21 09:46] dany93 commented on #909
I've also found a serious issue with the engine power.
Looking at `fdm/jsbsim/propulsion/engine[0] or [1]/power-hp =`
- with the 160 hp, I see **~180 hp** at 2700 RPM,
- with the 180 hp, I see **~200 hp** at 2700 RPM.
Although the engine tables are good for the maxhp = 160 or 180 at 2700 RPM.

It is not a general JSBSim issue, I do not have this with the DR400 (120 and 180 hp) and CAP10B.
I've nev

[2017-02-21 15:06] wlbragg commented on #909
The /volumetric-efficiency is adjusted/created in System/engine.xml using a filter.
[code]

[2017-02-21 15:10] wlbragg commented on #909
The volumetric-efficiency-factor is set in j3cub.nas a 1.
[code]

[2017-02-21 15:11] gilbertohasnofb commented on #909
@wlbragg that filter uses the property `/engines/active-engine/volumetric-efficiency-factor` which is created by the carburettor icing function, and it only _diminishes_ the efficiency. That is, `/engines/active-engine/volumetric-efficiency-factor` is always strictly less than or equal to 1.0, so I don't think it could possibly be collaborating to this issue. Just take off in non icing weather and

[2017-02-21 15:51] wlbragg commented on #909
But I think that volumetric-efficiency is supposed to start at .85 and go down from there? I noticed it isn't defined in the engine definition like Erik did (aeromatic) on the Continental's in the Cub. So there may be a default that is less than one and the carb icing regime is increasing it to 1?

[2017-02-21 15:53] wlbragg commented on #909
I was in the process of creating a branch with the volumetric-efficiency-factor set at .85 VS 1 and let them test it and see if that helps?

[2017-02-21 15:58] wlbragg commented on #909
So this
[code]
would need to read
[code]

[2017-02-21 16:01] wlbragg commented on #909
and farther down in engine.nas
[code]
should read
[code]

[2017-02-21 16:06] wlbragg commented on #909
On the Cub Continental engines it is definitely suppose to be .85 not 1. In the io320/io360 it is not defined, so there has to be a default. If you eliminate the icing regime completely (not just turn it off but remove the setting of volumetric-efficiency) we should get that default.

[2017-02-21 16:10] gilbertohasnofb commented on #909
OMG, it's all my fault apparently!! :scream: The point is that while `/engines/active-engine/volumetric-efficiency-factor` is a made up property used by the carb icing, I am forcing its value to `/fdm/jsbsim/propulsion/engine[0]/volumetric-efficiency` instead of multiplying it......... so my intention was that `/engines/active-engine/volumetric-efficiency-factor` being at 1.0 would result in `/fdm

[2017-02-21 16:14] gilbertohasnofb commented on #909
@wlbragg

Actually , the multiplier of the carb_ice should also be proportionally altered, as we intended the volumetric efficiency to be at around 33% when carb icing is at the critical engine stopping value of `0.3`. So I will rather use `var vol_eff_factor = std.max(0.0, 0.85 - 1.72 * carb_ice);`

[2017-02-21 16:15] wlbragg commented on #909
I just verified a default of .85 if not defined!

[2017-02-21 16:18] gilbertohasnofb commented on #909
What do you mean?

[2017-02-21 16:18] wlbragg commented on #909
Sorry, I missed your post!

[2017-02-21 16:19] wlbragg commented on #909
I need to quit editing my posts!

[2017-02-21 16:21] gilbertohasnofb commented on #909
@wlbragg Ok, so it is all clear. I am doing some tests now and I should push a fix very soon.

Sorry again, everyone.

[2017-02-21 16:26] wlbragg commented on #909
No worries, I'm just glad someone noticed it. That wasn't the most obvious thing in the world.

[2017-02-21 16:30] wlbragg commented on #909
Actually it was @dany93 that spotted it, I simply traced it after that. I would have never known that value was supposed to be .85

[2017-02-21 16:33] gilbertohasnofb commented on #909
@wlbragg @dany93 thank to you both for spotting this. A PR has been opened

[2017-02-21 16:34] gilbertohasnofb commented on #909
@dany93 @stuartbuchanan could you guys check that PR and see if that was all that there was to the issue? The branch name is `bug-909`. If that was all, then we can merge it.

[2017-02-21 16:57] stuartbuchanan commented on #909
Hi Guys,

I'm not going to be able to do anything until Friday evening at the
earliest due to being on a business trip.

I think Torsten is building the release right now, so I suspect we're too
late.  However, you can try to get in touch with Torsten Dryer and ask if
there is scope for fixing this.

Best regards,

-Stuart

On Tue, Feb 21, 2017 at 4:34 PM, Gilberto Agostinho <
notifications@github

[2017-02-21 17:02] gilbertohasnofb commented on #909
@stuartbuchanan Ok, thanks for the info. As soon as that PR is merged I will contact Torsten and see what he says.

[2017-02-21 17:18] #909 closed

[2017-02-21 18:46] onox commented on #909
Fix in #911 backported to `release/2017.1` with `git cherry-pick -esS 3939d52d0768b395a2e422d038b51dfae4bdc83e`.

[2017-02-21 18:59] onox commented on #909
@dany93 Good debugging! 👍 😄

[2017-02-21 19:10] gilbertohasnofb commented on #909
@onox thanks :+1:

[2017-02-21 23:28] dany93 commented on #909
Sorry, I wasn't at home this afternoon.

`/fdm/jsbsim/propulsion/engine[0] and [1]/volumetric-efficiency` is back to 0.85 for both engines.

I've checked, `fdm/jsbsim/propulsion/engine[0] or [1]/power-hp` at 2700 RPM, mixture 100%, are 157 hp and 177 hp near sea level.

I had not enough time to check the  aircraft performances (velocity, climb rate) but I see no reason, everything should be back t

[2017-02-22 00:06] gilbertohasnofb commented on #909
@dany93 thanks for confirming that everything looks good once again.

Absolutely, it is more than clear what the mistake was.

Well, it is still not merged into FGDATA yet and we haven't heard back from Torsten, so let's hope it will make into the 2017.1 release!

I believe this was done when @onox and I were improving the autostart function, the commit is https://github.com/c172p-team/c172p-detai

[2017-02-22 01:12] wlbragg commented on #909
I never realized that is what was done. I don't think it is the right thing to do unless the user is notified of that setting.
Even though more work, it makes more sense to me to use a table or something that will set the mixture only when needed to start the aircraft at the startup altitude..

[2017-02-22 06:56] onox commented on #909
When we were experimenting with the mixture, I noticed that at higher elevations, that 100 % mixture would not start the engine at all, but at 95 % it would (which is just a tiny bit lower). It is sort of a one-size-fits-all solution, so if you want to replace it with something more accurate (a table), go ahead. You can put the table in JSBSim/XML for interpolation between values.

[2017-02-22 16:15] gilbertohasnofb commented on #909
Great news everyone, Torsten just wrote me:

And I confirmed the fix is present in FGDATA :tada:

[2017-02-24 10:21] gilbertohasnofb commented on #878
@zakalawe I just saw your [forum post](https://forum.flightgear.org/viewtopic.php?f=19&t=31730) about the new splash screens, so I would like to ask you a couple of things:

1) are you referring to the same as these thumbnails here or do you literally mean splash screens? And if you mean the latter, should we modify ours? (please see files `splash1.png` through `splash10.png` in the root of our `m

[2017-02-24 10:26] zakalawe commented on #878
It's the same system, I switch the name from 'thumbnails' to 'previews'. For an example of what to do, look a the Seneca in FGaddon. The data is added to the -set.xml, you can have different previews for each variant (skis, floats, etc) also.

And yes the images above look excellent! Only thing is tag them with appropriate type; we don't have a standard for this so please use:
'exterior', 'cockpit

[2017-02-24 10:26] zakalawe commented on #878
(BTW once you have done this I will probably point people at the C172 as a reference aircraft for the system...)

[2017-02-24 11:37] gilbertohasnofb commented on #878
Great, I took a look at it and I think I understand well how it works. I will name these previews above in a consistent way and add them as follows to the -set.xml file, inside the `<sim>` block:

[code]

Great to hear it! And the tags are all clear.

Hmm, we are currently using 10 splash screens which are randomly selected to be displayed, do you mean that the new preview system will replace the

[2017-02-24 11:38] zakalawe commented on #878
Yes this also replaces the current splash screens. I didn't want to bloat every aircraft zip by have two sets of very similar images, so I've adjusted the system so that one set of images can be used for both.

[2017-02-24 11:44] gilbertohasnofb commented on #878
@zakalawe I have noticed that the splash screen for the B1900D (file `b1900dsplash.png`) has black stripes on the top and on the bottom just like our current 10 splash screens, so another possibility for us here would be to simply remove the text from our current 10 splashes, categorize them as you suggested and change the xml code in the set file, is that correct?

[2017-02-26 14:47] onox commented on #910
Yes, the summer calls `SGPropertyNode::getDoubleValue()` and that function call `SGRawValue<double>::DefaultValue()` (which returns 0.0) if it doesn't know the type.

[2017-03-03 22:33] gilbertohasnofb commented on #878
@zakalawe James, I am sorry to bother you but I am having some troubles implementing the preview system. I am using the code I posted above https://github.com/c172p-team/c172p-detailed/issues/878#issuecomment-282271549 but the splash screens used when I launch FG is one of the generic ones and not the aircraft specific ones I am defining. This happens with both the Qt5 and FGRun launchers. I am ru

[2017-03-04 15:29] zakalawe commented on #878
Hmm, can I see this code + the files in current repo here? What you have looks correct, it should work.

[2017-03-04 15:52] gilbertohasnofb commented on #878
@zakalawe Sure, I have pushed my initial commit to the branch `bug-878`. The code for the preview is in the set file, line 294 on. I have pushed just two splash images so far as I am still testing it, so I just want to figure it out how to make it work here on my side before working on the images themselves. Thanks a lot for the help!

[2017-03-05 05:36] wlbragg commented on #878
@gilbertohasnofb I added something similar to the following to each -set file in the J3Cub project and it appears to be working correctly.
[code]

Note: the "type" is the same in each of these, I forgot about that part. Actually, I don't really know what that is for? Would someone care to explain that to me?

[2017-03-05 08:56] zakalawe commented on #878
Answered this on the ML, but 'splash-texture' is no longer needed (but can be kept for backwards compat) and the new system accepts images of any size. I am using 1024x768 but anything reasonable should work: 800x600 saves disk space / makes the download smaller but looks a little blurry when starting full-screen on my big monitors.

[2017-03-05 11:31] gilbertohasnofb commented on #878
@wlbragg except for the <startup> block, which as James states is not necessary any longer, my code seems identical to yours.

[2017-03-05 19:50] zakalawe commented on #878
Just testing the C172, the previews work for me, but please change them to exclude the Cessna logo, and do that (on the splash screen) via the splash-logo feature.

[2017-03-05 20:35] gilbertohasnofb commented on #878
Hmm, so I have to figure out why it isn't working for me else it's difficult to work on these. With version 2017.1.2 it should work, correct?

Sure

[2017-03-06 06:00] dg-505 commented on #878
I'm not 100 percent sure, but I think it works only in next, i.e. in 2017.2.0

[2017-03-06 07:13] zakalawe commented on #878
Yes, only on 'next' for now, while we work out the bugs :)

[2017-03-06 12:14] onox commented on #878
@zakalawe I just recompiled FG to see how the new splash screen works. Looks better now. One comment though: could you replace "http://www.flightgear.org" with "flightgear.org" (or at least drop the http:// part)?

[2017-03-06 19:12] gilbertohasnofb commented on #878
Ok, thanks all. I am unfortunately having issues with 2017.2.0 here on my side so I am sticking to 2017.1.2, so I must trust whomever reviews this that the result is looking fine. I have pushed a PR in which all text has been removed from our splash screens and I categorized them as James suggested. So please test it and make sure it is working and looking good before merging that PR, ok?

[2017-03-08 20:24] wlbragg commented on #878
@zakalawe, rather than have you chase all over for this information and feedback, I'll post it here as it will apply to the c172p also.
What, if anything can be done about a lengthy authors description?
![splash](https://cloud.githubusercontent.com/assets/11069680/23722376/bb6a4c0a-040a-11e7-9993-5b59dda1722d.jpg)

[2017-03-08 20:25] wlbragg commented on #878
Also,

What is the "splash-logo feature" and how does that work?

[2017-03-09 06:15] zakalawe commented on #878
Look at the B1900d for an example - you can have a separate (transparent, PNG) image on the splash screen which replaces the textual aircraft name.

Regarding the long authors string, I am still working on a solution.

[2017-03-20 19:40] gilbertohasnofb commented on #859
@wlbragg I have seen you replied to [this thread](https://forum.flightgear.org/viewtopic.php?f=4&t=25157&start=2625) in the forum. In our latest release we cleaned up the aircraft dialog, and instead of having a million separate toggles for individual realism we have fewer toggles handling more things. See this PR https://github.com/c172p-team/c172p-detailed/pull/869 which modified the following:

[2017-03-20 21:02] wlbragg commented on #859
OK, I told the OP correctly then. There is no way I can keep the dates and versions of implementations in my head. So I simply booted up the c172p and looked at the GUI to figure out what it currently was.

Thanks

[2017-03-21 13:30] gilbertohasnofb commented on #859
@wlbragg Oh sure, I didn't mean it like that (and I can't keep them either, I had to find that commit to see when it was pushed and what has been done). I just wanted to clarify that very likely the user has a current version.

[2017-03-21 16:07] #878 closed

[2017-03-21 18:25] wlbragg opened #913 "Shadow remains visible but unoriented upon water upside down"
I'm looking for a good property, maybe an fdm/attitude, to use in the shadow condition code. What I want is one that will work for upside down. The contact points don't register WOW over water so we're getting a shadow after crashing upside down, which is a common attitude when trying to land upon water with gear down in the amphibious configuration.

[2017-03-23 12:57] gilbertohasnofb opened #914 "C172p nasal runtime error in Multiplayer"
This has been reported [in the forum](https://forum.flightgear.org/viewtopic.php?f=4&t=31907) by the user jsb:

[2017-03-25 18:28] onox commented on #913
Isn't there some contact point on top of the wings?

[2017-03-25 18:31] onox commented on #914
I think this is because some properties might not be transferred in each MP packet (we (I) kinda assumed all properties would be transferred. So adding `or 0` is a reasonable fallback.

[2017-03-25 20:54] wlbragg commented on #913
They don't register WOW over water thus the use of something else is needed.

[2017-04-05 11:35] condab commented on #899
Yes! I do! Lucky I randomly stumbled upon this, I'm supposed to be looking for something else.

It's because when you are in walker view, you are given 'wasd' controls. Note that while in Walker view, I've found that walking backward (using 's' key) is still connected to the engine start keyboard shortcut ('s' key). I've found that if you walk backward, then get back in the cockpit view, the magne

[2017-04-05 14:58] gilbertohasnofb commented on #899
@condab that's some brilliant troubleshooting, thanks a lot for the input. Now i wonder what's the best solution for this. Should this be addressed in the aircraft development level or in FG core code level? Surely we could add some conditional for the magnetos to work only if in an internal view, but this looks a bit inelegant to me as all other shortcuts do work from an external view.

[2017-04-06 02:24] condab commented on #899
I'm glad I could help out. I should try and browse GitHub more and work as a bug spotter, haha.

I know nothing about the code, nor am I a developer etc. but rather than making magnetos only work in internal views, which brings up a problem which you stated, we could exclude ALL aircraft controls whilst in views: walker; walker orbit.

This makes sense, for if you are outside the aircraft in the r

[2017-04-06 04:20] condab opened #915 "New HD splash screens aren't loaded in startup"
The enhanced splash screens which were recently added are not loaded in startup and there is a reason. Stated in [this](http://wiki.flightgear.org/Howto:Create_custom_splash_screens#Things_to_note "Splash Screens Wiki") article; "Image dimensions _must_ be **powers of two** (eg. 256x256 or 512x512 pixels)", which means that they will be square. The new splash screens for c172p are 16:9 widescreen,

[2017-04-06 05:11] onox commented on #915
The new splash screens are meant for Flightgear 2017.2. See https://github.com/c172p-team/c172p-detailed/pull/912#issuecomment-284750144

[2017-04-06 05:15] #915 closed

[2017-04-06 05:20] onox commented on #915
You probably have 2017.1.x? That should explain it. The Github version of the c172p is officially meant to be used together with the git version of FG / FGDATA, but it usually works (mostly) for older versions as well.

If you spot more bugs, feel free to open an issue for them.

[2017-04-06 05:25] onox commented on #913
Have you tried `/fdm/jsbsim/hydro/active-norm > 0.0`?

[2017-04-06 05:25] onox commented on #913
And `/fdm/jsbsim/ground/solid`

[2017-04-06 05:37] condab commented on #915
Just as I finished downloading 2017.2, I realized this! I see how it is meant to be used, both in the aircraft list before startup & as the new splash screens. Sorry for my ignorance, and thanks for responding quickly. I'll be sure to double check next time!

[2017-04-06 11:43] gilbertohasnofb commented on #915
@condab

No worries, we appreciate the bug reports and the troubleshooting. It's better to have someone open an issue like this (i.e. invalid due to different FG version) than someone keeping silent about a potential bug.

[2017-04-06 14:54] gilbertohasnofb commented on #899
:+1: I just tested it in the sim and indeed this has nothing to do with the checklists

[2017-04-06 21:36] wlbragg commented on #913
No, those will shut off the shadow anytime we're over water. I'm looking for a property that indicates the aircraft is inverted or even <> than 90 deg, or <>  than -90 deg pitch or roll.

[2017-04-09 13:20] gilbertohasnofb opened #916 "oil pressure and temperature gauges are not working"
There has been a report of a possible bug with the oil pressure and temperature gauges [in the forum](https://forum.flightgear.org/viewtopic.php?f=66&t=31961):

@wlbragg I can reproduce this issue: apparently, starting the sim with "complex engine procedures and failers" set to false causes the problem. See these two images, taken some 2 minutes after starting the engine (I restarted the sim in be

[2017-04-09 13:22] gilbertohasnofb commented on #916
I will try to find out what is happening with the "complex engine procedures" that is causing the first bug, bug could someone with more experience regarding the engines take a look at the second thing (about the oil pressure stabilizing at a lower value than the green arc)?

[2017-04-09 14:28] gilbertohasnofb commented on #916
Found the culprit for the first bug, when I implemented the oil level management I created two factors for raising the oil temp and lowering the oil pressure if the oil level is too low. I had simply forgot to set them to `1.0` in case oil management isn't active (which has been merged into the single complex engine procedures toggle). A fix is coming in a second.

[2017-04-10 18:22] #916 closed

[2017-04-10 18:31] onox commented on #914
I'm not sure we should apply this workaround. The reason is that the c172p sends too many properties for the current MP protocol. If you try to send a MP chat message for example, you will see that FG is unable to transmit some of the properties (the packet gets truncated).

The only proper fix is to make the MP protocol more efficient, which is what Richard has done. In FG 2017.2 you can choose t

[2017-04-10 18:31] #914 closed

[2017-04-21 15:07] gilbertohasnofb opened #918 "Low oil pressure on startup"
After starting the engine, the oil pressure does not rise to the green arc if the throttle remains at idle. If more throttle is applied then the pressure does come to the green arc and remains stabilizes there. According to the checklist, the oil pressure should reach the green arc (50 PSI) after 30 seconds from engine startup (or 60 seconds at most during cold weather).

@stuartbuchanan wrote:

[2017-04-21 15:08] gilbertohasnofb commented on #918
For the discussion related to this issue, see: https://github.com/c172p-team/c172p-detailed/pull/917#issuecomment-292799296

Feedback from RL 172 pilots would be most welcomed, as well as suggestions on how to tackle this issue or why it is happening.

[2017-04-21 17:47] dany93 commented on #918
I'd guess it starts from the JSBSim or FG value` of oil-pressure-psi` vs RPM, hard coded. After that, the needle is animated by an alias or something calculated (?? it has a delay) from this value.
`engines/active-engine/indicated-oil-pressure-psi`

**c172p/Models/Interior/Panel/Instruments/FuelOilAmps/c172oil.xml**
If I understand well, Lines 57 - 89
[code]
does the needle animation, which can be

[2017-04-21 19:29] wlbragg commented on #918
I had a similar comment, see: https://github.com/c172p-team/c172p-detailed/pull/917

[2017-04-21 21:02] gilbertohasnofb commented on #918
Yes, I have tested that and it is not a problem of the indicator: both `oil-pressure-psi` and `indicated-oil-pressure-psi` are always very similar and they are below 50 PSI at low RPM. See:

* before starting engine:

![oil-172-1](https://cloud.githubusercontent.com/assets/5700795/25295756/37c8bbb8-26e5-11e7-8c57-03b348f37e49.jpg)

* immediately after autostart (throttle at around 10-20 %)

![oil-

[2017-04-21 21:03] gilbertohasnofb commented on #918
What would be really useful would be to have a small table of oil pressure vs RPM (giving time for the gauge to stabilize). If anyone gets a chance to fly a real 172, that would be _extremely_ useful I suppose.

[2017-04-22 09:42] onox commented on #918
The oil pressure is computed in `src/FDM/JSBSim/models/propulsion/FGPiston.cpp` as follows:

[code]

As you can see there are various hard-coded constants.

You can try the following Python code to play with various values:

[code]

I'm not sure how they came up with the values of `Design_Oil_Temp` and `Oil_Viscosity_Index`. In the O-320 manual I found the following:

If I change `Design_Oil_Temp`

[2017-04-23 12:15] gilbertohasnofb commented on #918
@onox thanks a lot for the info and for the Python code, that's very hand to play around with.

But do I understand correctly that the only two variables in those functions are the oil temperature and the engine RPM? I am really not familiar at all with how FDM works in FG, but if those bunch of parameters are hard coded in JBSim and the only variables we have in hand are RPM and oil temp (both of

[2017-04-23 17:23] dany93 commented on #918
Thanks @onox for pointing our attention to this part of code.
However, I do not understand how to use your suggestion of Python code (I'm ignorant of Python code and C++).

I'd rather think that they mean oil inlet temp.
But correct values for these constants are hard to choose. And, for these, I don't like the trial and error method.

If I understand well, if we would decrease the (hard-coded) `O

[2017-04-23 17:47] gilbertohasnofb commented on #918
If I understand correctly, that Python code is just for us to play around with the values, as to see what the original C++ code does. Since Python can be dynamically typed, it's easy to change the variables and see the output immediately.

About the issue itself, I have checked _a lot_ of different checklists for the 172 and many say that the throttle should be at 1000 RPM for the oil check (e.g.

[2017-04-24 10:31] dany93 commented on #918
About the RPM dependency, I still think that the most straightforward would be

e.g. Oil_Press_RPM_Max = MaxRPM * 0.375
the OilPressure_psi would increase faster with RPM (higher factor). Thus, it would reach the green arc at lower RPMs.

[2017-04-25 13:57] gilbertohasnofb commented on #918
Concerning the values, I posted this question on the Aviation page of Stack Exchange, and I got some very helpful answers including from an instructor with  8000h experience, please see: https://aviation.stackexchange.com/questions/37389/cessna-172-at-which-rpm-should-the-oil-pressure-reach-the-green-arc/

So it seems to me that we need the following:
- at idle, oil pressure should be alive but no

[2017-04-25 16:39] geoffmcl commented on #918
Using the current equation to calculate pressure as a factor of RPM and
Temperature, I have constructed a crude graph...

[image: Inline image 1]

And unless I slipped up somewhere in the maths, it seems at -

 - idle 650 RPM, the pressure is above the RED 25 psi but below the GREEN
50 psi at temperatures above minimal.
 - 1700 RPM, the magneto test, it is in the GREEN 50 to 85 except when VERY
ho

[2017-04-25 16:44] gilbertohasnofb commented on #918
@geoffmcl at 1000 RPM the needle is very much below the green arc starting at 50 PSI, when most procedures seem to indicate it should be at least 50 PSI. We currently need at least 1500 RPM for the oil pressure to get into the green arc. So that is what needs to be changed.

[2017-04-25 22:34] wlbragg commented on #918
At 1000 RMP the oil pressure is 34.6. A quick fix would be to change the interpolation table for the oil pressure something like the following
[code]
But that doesn't address the fact that at 1000 RPM the engine only produces 34.6 oil pressure. That would take some investigation.

[2017-04-25 22:59] wlbragg commented on #918
Results
https://www.dropbox.com/s/nptxketj4b3vjaw/2017-04-25%2017-53-57.mp4?dl=0

[2017-04-26 23:24] gilbertohasnofb commented on #918
@wlbragg although this would solve the visual side of the problem (i.e. the instruments would display the correct values), I am really not sure about using a hack to solve the problem, in particularly since those oil pressure properties would still have the current values which would then differ from what the gauges display.

In my opinion, this issue isn't breaking the aircraft so we don't necess

[2017-04-27 04:46] wlbragg commented on #918
I agree, I'm just not sure this is fixable without some kind of a hack. Either the one above or an intervention in the FDM overriding the oil pressure with a interpolation table of the rpm mapped to what we think oil pressure should be, but that seems like it would also be a hack.

[2017-04-27 09:20] dany93 commented on #918
I am trying to implement a nasal script based on the C++ calculation. It would enable us to play with the (currently) hard-coded parameters (`Oil_Press_Relief_Valve`, `Oil_Press_RPM_Max coefficient`, `Oil_Viscosity_Index`) if we wish to. It would end to a `/engines/active-engine/c172-oil-pressure-psi` Internal Property.

[code]

The best would be having access to the hard-coded constants but it wo

[2017-04-27 09:46] gilbertohasnofb commented on #918
@dany93 sounds good to me!

[2017-04-27 12:57] onox commented on #918
I'll write to the mailing list to ask if the JSBSim devs can make the variables in `FGPiston::doOilPressure` configurable.

[2017-04-27 13:59] dany93 commented on #918
Thanks @onox.

[2017-04-27 15:00] wlbragg commented on #918
@dany93 in case you haven't seen yet, @Onox asked and Erik acted so you can directly manipulate
oil-pressure-relief-valve-psi
design-oil-temp-degK
oil-pressure-rpm-max
oil-viscosity-index

Thanks all!

[2017-04-27 15:11] dany93 commented on #918
Yes, thank you @wlbragg, but how can I get the update ? If I understand well Erik's message, it is not still in the FG git repository ?

[2017-04-27 15:26] wlbragg commented on #918
I see it in the svn repo
https://sourceforge.net/p/flightgear/flightgear/commit_browser
I use download and compile script on Linux and simply run it again to get any changes from next or master (or whatever it is called on svn). How do you update your FG?

[2017-04-27 15:39] dany93 commented on #918
I also use the download and compile script.
Thanks, I see it in the commit browser.
I'm running it now, I will see.

[2017-04-27 16:34] dany93 commented on #918
It works !
Thank you all, and once more thank you @onox for having asked the devs.
This brings the ideal solution.

Just for memory, the parameters are:
[code]
To be written, added in the engine configuration files
c172p/Engines/eng_io360.xml
 and
eng_io320.xml

[2017-04-27 17:19] gilbertohasnofb commented on #918
:tada: :clap: :+1:

[2017-04-27 17:36] dany93 commented on #918
I will do a commit, probably tomorrow.

[2017-04-28 13:39] dany93 commented on #918
Done, PR #919

[2017-05-01 10:31] #918 closed

[2017-05-01 11:11] onox commented on #890
What should we do with this issue?

[2017-05-01 11:49] onox opened #921 "model wing icing"

[2017-05-01 11:50] onox commented on #921
Pitot icing in #50

[2017-05-01 12:39] gilbertohasnofb commented on #890
@onox I think this should be closed. It has been quite a long time since the user posed that in the forum and he hasn't responded, so I would consider this as solved from his side. Moreover, this whole discussion is preserved when we close the issue, so anyone browsing our repo or that forum thread can read the solution.

[2017-05-01 12:39] #890 closed

[2017-05-01 12:40] gilbertohasnofb commented on #890
Also, it doesn't have anything to do with our plane, just how FG works.

[2017-05-03 16:20] wlbragg opened #923 "Attitude Indicator calibration fails after off nominal flight envelope"
See https://forum.flightgear.org/viewtopic.php?f=25&t=32121

This is at least the second time I have seen this issue. I did some quick tests and searches through the property tree and it is unclear to me as to the cause and effect. It is "easily" reproducible.

[2017-05-03 16:59] dany93 commented on #923
I've responded, what IMHO should be an explanation.
https://forum.flightgear.org/viewtopic.php?f=25&t=32121&p=309724#p309724

[2017-05-04 06:21] wlbragg commented on #923
I suppose I need to close this, but I really would like to understand why the FDM having the stall and spin behavior modeled causes the gyro to fail but not if it doesn't?

[2017-05-04 09:26] dany93 commented on #923
Because the spin departure in stall and spin is much more brutal than the control by the ailerons and rudder inside the flight envelope. The gyroscope of the attitude indicator cannot keep its absolute orientation.
At least, this is my interpretation.
I'd like that real pilots give their opinion, but this is not an exercise often practised with ordinary aicraft, and aerobatics pilots are rare.

[2017-05-05 03:24] wlbragg commented on #923
[code]

[2017-05-05 08:30] dany93 commented on #923
Yes, on very steep banks (almost vertical, close to or slightly more than 90 deg roll) I sometimes see the AI make an angular "jump" instead of increasing continuously.
I don't know....

[2017-05-05 12:33] dany93 commented on #923
I've found that, to get this "dysfunction" (probably realistic IMO), the` /instrument/attitude-indicator/config/tumble-flag = ` property must be `bool` and = `'true'`.
Can you check and try this in the J3Cub ?
Its default type and state depends on the aircraft.

[2017-05-05 16:18] dany93 commented on #923
Thank you @Juanvvc for these explanations and the attitude indicator code.

[2017-05-05 19:04] wlbragg commented on #923
Thanks for clarifying, I haven't looked at the Cub yet but I have no doubt this it the piece I was missing, thanks.

With this all said, this issue is a non-issue.

[2017-05-05 19:04] #923 closed

[2017-05-15 21:37] onox commented on #908
@c172p-team/developers We should create a new release again. @gilbertohasnofb would you like to create one this time? I've documented the steps at https://github.com/c172p-team/c172p-detailed/wiki/Release-process-and-versioning

Just make sure to replace the version numbers that I used in the example with the new ones (2017.2-git, 2017.2, 2017.3-git). For examples, you can look in the git graph (`

[2017-05-16 11:04] tigert commented on #742
This is very old and might not work:

  https://github.com/malmiaviationclub/mik-ftd/tree/master/gauge-workshop/seneca-aoa

Basically we hacked this together once at the aviation club, when trying out things. The rest of that repository is just random unfinished stuff.

But I must say, it made a TON of sense. We googled and guessed the critical angle of attack for the Seneca, but once the gauge wo

[2017-05-16 11:09] tigert commented on #742
The placement is interesting, since it should be in the immediately visibility for the pilot to be useful. That one is a small round gauge though. One way would be to move the clock to the right side of the radio stack when the AOA gauge is used, and put AOA where the clock is now. There is no simple place in the panel, but that is fairly close, and I would not think putting it on top of the dashb

[2017-05-16 21:05] gilbertohasnofb commented on #908
@onox I would love to but I really can't this time, I am travelling at the moment and I will have virtually zero free time during these next two weeks, sorry :disappointed:

[2017-05-29 09:47] tigert opened #925 "Uh oh.. OH-CTL has now a Garmin G5 multifunction artificial horizon!"
https://static.garmincdn.com/en/products/010-01485-00/g/cf-lg.jpg

If someone is looking for a task to do, the AI broke on OH-CTL and they deemed it made sense to replace it with a solid-state gyro driven Garmin G5.. :-)

[2017-06-02 09:51] legoboyvdlp commented on #925
Can that replace the main six instruments, essentially?

[2017-06-07 15:40] wlbragg opened #926 "Questionable transponder behavior"
See https://forum.flightgear.org/viewtopic.php?f=4&t=32320&start=15#p312001

I've never used the transponder and know next to nothing about its function, but it may be worth investigating to get it right.

[2017-06-07 17:10] wlbragg commented on #926
Looks like this was a non-starter, sorry for the noise.
I'll keep and eye on it.

[2017-06-07 17:10] #926 closed

[2017-06-07 18:22] wkitty42 commented on #926
On 06/07/2017 01:10 PM, wlbragg wrote:

if the UFO does this, too, then perhaps it needs to be reported on the fgfs-dev
mailing list so they can take a closer look at the code related to the
transponder and its different modes ??

[2017-06-11 09:46] dany93 opened #927 "No more shadows on the dashboard with ALS"
I can no longer get these nice shadows sweeping on the dashboard with ALS.
I don't know if I am missing a setting...
FG 2017.3.0 (was the same with 2017.2.0),
Linux Mint 18 (based on Ubuntu 16.04)
Graphics card NVIDIA GTX 650, Linux driver 375.66

[2017-06-11 22:21] gilbertohasnofb commented on #926
@wlbragg yes, it would be nice to bring it up to the mailing or to try fixing it ourselves. Is anyone familiar with how the transponder should work?

(by the way, sorry for the long silence, I have been away for more than a month but I am finally back home)

[2017-06-12 03:40] wlbragg commented on #927
Hum, I just checked and I still have them. Are you getting them on the door or floor?

[2017-06-12 03:51] wkitty42 commented on #926
there's been a decent bit of discussion about it on the list or the forum... i read several posts about it earlier today (11 June) but don't recall where exactly... i think the forum because sanhozy's name keeps flashing in my memory viewport ;)

[2017-06-12 08:57] dany93 commented on #927
You are right.
I can see them on the door and floor by enlarging the view (large angle zooming). Or / and / by a good orientation between the sun and the aircraft (obviously).

I believed they were easier to see before on the dashboard (?? by memory... may be wrong)

Anyway, they appear and move, sorry and thank you for the response.

[2017-06-12 08:57] #927 closed

[2017-06-12 10:16] gilbertohasnofb commented on #927
Do you have this impression only with our aircraft or with others as well? I have to say the shadows look fine for me on 2017.2

[2017-06-12 10:44] dany93 commented on #927
I haven't tested with other aircraft (which need this feature coded to get it).

Yes, the shadows look fine on the floor and door. Even better if I set the sun in the morning  (low angle).
For the dashboard, it can come from my memory... and depend on the livery.
Do not worry, thank you.

[2017-07-01 18:50] gilbertohasnofb commented on #360
This is interesting: https://www.youtube.com/watch?v=f4lwLffGEkA

[2017-07-01 18:53] tigert commented on #925
This is actually the size of the artificial horizon, so it is a small one. So it has all the data of the six, but "legal-wise" you probably need the backup gauges too. It would look pretty silly to have just this in the panel :-)

[2017-07-01 18:56] tigert commented on #925
https://www.youtube.com/watch?v=5lbnaswgGrM

[2017-07-01 19:12] tigert commented on #925
Actually, looks like AOPA (the airplane pilots and owners association in the US) is refurbishing a 172 for  their annual giveaway lottery - this page has some details on what they do:

https://www.aopa.org/membership/sweeps

in case someone feels like painting and hacking some refurbishings to our 172 as a variant... :-)

[2017-07-01 21:55] gilbertohasnofb commented on #925
@tigert that's really cool!

I was going to ask why it was replaced with one of these, but that makes sense :smile:

[2017-08-01 04:35] wlbragg opened #928 "Generic tutorials"
Tutorials should be of a more generic nature. For example see,
https://forum.flightgear.org/viewtopic.php?f=25&t=32636

If this were not geared for a specific airport then there would be no requirement to update them per version release.

[2017-08-09 13:09] onox commented on #925
This instrument should be added to FGDATA so it can be reused by multiple models.

[2017-08-09 13:17] onox commented on #908
We didn't do a 2017.2 release, so I'll migrate all the issues to the 2017.3 milestones.

[2017-08-09 13:31] onox commented on #362
@stuartbuchanan @t3r Is this something that could be added to simgear?

[2017-08-09 13:58] onox commented on #908
@c172p-team/developers It seems most of us have moved on to other projects. I think it would be a good idea if we could promote the project a bit on the forum and mailing list and ask if people are interested in helping us out. Especially the 3D model needs a complete overhaul. (See the two milestones for issues with the 3D model)

@wlbragg Could you maybe write a message to the forum and mailing

[2017-08-09 15:43] gilbertohasnofb commented on #908
Yes, that's true, I have been quite away from FlightGear during this last semester. But I am still very interested in maintaining/improving this aircraft.

Completely agreed on this, in particular the interior and specially the cockpit. If anyone decides to tackle this, even in the future, I would be more than glad to work on the textures as a major change to the 3D model will very likely result i

[2017-08-09 16:16] wlbragg commented on #908
Will do!

[2017-08-10 18:52] stuartbuchanan commented on #362
What is the type of property?

If it's a bool, can you not get the same effect by simply using
<mode>once</mode> and a <condition> statement that's true if the property
is true or false?

-Stuart

On Wed, Aug 9, 2017 at 2:31 PM, onox <notifications@github.com> wrote:

[2017-08-11 21:29] onox commented on #362
Many of the properties are integers with values like -1, 0, 1.

[2017-08-16 20:01] stuartbuchanan commented on #362
Hi All,

Could you use the following perhaps?

<

On Fri, Aug 11, 2017 at 10:29 PM, onox <notifications@github.com> wrote:

[2017-08-16 20:04] stuartbuchanan commented on #362
(Try again...)

Could you use the following perhaps?

<type>once</type>
<condition>
  <or>
    <equals>
      <property>/test/property</property>
      <value>-1</value>
   </equals>
    <equals>
      <property>/test/property</property>
      <value>0</value>
   </equals>
    <equals>
      <property>/test/property</property>
      <value>0</value>
   </equals>
  </or>
</condition>

Because it's

[2017-08-27 17:45] gilbertohasnofb opened #929 "Keys in the magneto switch are the wrong model"
Keys in the magneto switch are the wrong model, they should look like this:

![](https://i.ebayimg.com/00/s/MTU1MFgxNjAw/z/JJ4AAOSw9uFW9JoH/$_57.JPG)

(thanks @HHS81 for spotting it)

[2017-08-27 17:52] gilbertohasnofb opened #930 "Magneto switch is too long"
The magneto switch model is too long, this is how it looks now:

![](https://user-images.githubusercontent.com/13608602/29731670-80081514-89e5-11e7-93e1-dd1787364b80.png)

And this is how it should look:

![](https://camo.githubusercontent.com/e0caee3bad89c3178d6cdf94787a2f056012502c/68747470733a2f2f7777772e61746176696174696f6e2e756b2f77702d636f6e74656e742f75706c6f6164732f323031362f31302f494d475f3

[2017-08-28 06:49] okroth opened #931 "C172P JSBSim model fcs/left-aileron-pos-rad"
I went through the JSBSim parameters of the C172P model in FGFS to insert some force-feedback formulas (hinge moment * gear factor) and found a peculiarity:
The roll moment, side force, and yaw moment from aileron deflection use the left aileron deflection (in rad) only.
This will introduce an error, as the aileron is deflected downwards to -20 degrees, but only 15 degrees upwards. This is true in

[2017-08-28 07:05] okroth commented on #846
In a C172P on ground, there are two sound sources powered electrically:
1) turn coordinator (when BAT Master switch is on)
2) avionics fan (when left Avionics Master switch is on)

When the engine is (or was) running, the vacuum driven attitude indicator and directional gyro add their noise.

[2017-08-28 08:06] okroth commented on #81
Did you know that many pilots use the acceleration fuel pump linked to the throttle as primer?
It's much easier to push and pull the throttle knob three times than unlocking the primer, and pull and push that three times, and lock it again.
The original intention of the small pump is to provide the engine with enough fuel when the throttle is opened and manifold pressure difference gets smaller.
I

[2017-08-28 08:39] dany93 commented on #931
You are right. I think that it is a historical flaw from Aeromatic (initially assuming that aileron deflection are equal for up and down ).
I'm going to see what can be done. Rather than taking some  roll-trim-cmd-norm, I'd prefer attempting to implement an average angle value for right and left, in order to keep the linear aerodynamic coefficients consistency (conventionally per radian if I under

[2017-08-28 13:25] okroth commented on #931
Hi,

Am 28.08.2017 um 10:39 schrieb dany93:

I found some more oddities with the rudder:
the side force from rudder (CYdr) is only 38.1% of the 'classic' 172P, but
the yaw moment from rudder (Cndr) is 162.8%, while
the roll moment from rudder (Cldr) is same on both.

IMHO, it is not likely that side force is decreased, while one moment it
creates gets bigger and the other not.

--
Oliver Kroth

[2017-08-28 21:08] gilbertohasnofb commented on #846
@okroth I would be really happy to work on this once again, but could you help me find some references for these sounds? I don't have access to a real plane and I have had difficulties finding any videos on youtube in which I could listen to the sounds. If I have the references, I would happily work on recreating them.

[2017-08-28 21:10] gilbertohasnofb commented on #81
I actually came across this relatively recently but I didn't know it applied to the model P as well. If that is the case, then I think it should be implemented, even though the checklist and tutorials should remain as they are (respecting the POH instructions)

[2017-08-29 08:44] algefaen commented on #81
Ah, the joy of starting a carbureted engine! Our C172N is sometimes a bitch to get started, especially if the engine is luke warm. And as you try and try again, you drain the battery, and eventually the starter won't be able to turn the prop. Sigh. Anyway, my procedures:
 - If the engine is warm (as in, it's been flying recently, not just taxied around for a minute), there's no need to prime at al

[2017-08-29 09:24] okroth commented on #931
Hi dany93

Am 28.08.2017 um 10:39 schrieb dany93:

You don't need to push the aileron to the max; the upward deflected
aileron is always 33% ahead:

One could average ailerons like this:

             <function name="aero/coefficient/CYda">
                 <description>Side force due to aileron</description>
                 <product>
                     <property>aero/qbar-psf</property>

[2017-08-29 10:08] dany93 commented on #931
Hi Oliver,

Thanks, I've already done it, I think that it works.
I will push it shortly.

Dany

[2017-08-29 13:51] wlbragg commented on #931
Does this apply to all Aeromatic produced FDM's? I noticed the Cub is the same.

[2017-08-29 15:11] okroth commented on #931
At least to those that have different maximum travel for aileron up and
down

--
Oliver

[2017-08-29 15:52] dany93 commented on #931
Yes, Aeromatic (and, I think, AeromatiC++ from Erik Hofman too) have this flaw.
Aeromatic is the common origin.
If up and down aileron deflections are equal  (left = -right), no problem.
If the FDM is modified to make up and down different, the flaw is present.
Practically, the effect is very weak (nobody will notice for most aircraft unless extreme tests with careful observations) but the FDM is

[2017-08-29 16:56] dany93 commented on #931
@okroth wrote:

_(rather the downwards? if I understand well what you are meaning)_
Anyway, yes, but as long as full deflection is not needed, all that the pilot has to do is to adjust the stick position. Which he does automatically.

[2017-08-30 05:29] okroth commented on #846
I try to record a set of just the gyros and engine running on Thursday.
 From now I can tell that when the engine is running, you hear - the engine
Even talking to the flight instructor, or whatever blocks your right
view :-), requires the intercom (headsets).

--
Oliver

[2017-08-30 09:19] gilbertohasnofb commented on #846
@okroth that's great, I would really appreciate a recording. If you are able to get a couple of seconds of uninterrupted recording without any other sounds (no coughs, talk, switch flicking, etc.) then I would happily clean and loop it, which will certainly sound better than re-synthesizing it. Many, many thanks!

[2017-08-30 09:20] gilbertohasnofb commented on #81
@algefaen great info! I am unfortunately _extremely_ busy with RL and will be so for the next month at least, but nobody picks this up I might try to do it myself.

[2017-09-02 22:02] gilbertohasnofb commented on #13
Here is a nice example of a very good looking glass effect over gauges on FlightGear:

https://www.youtube.com/watch?v=Dec1y_0WrhQ (from around 0:13)

[2017-09-03 19:55] wlbragg commented on #13
Not bad, if no one beats me to it, I'll have a look and see how their doing it.

[2017-09-03 22:01] stuartbuchanan commented on #13
Hi Guys,

I think that video really shows what I see as the problem with these glass
effects, which I mentioned before.

Assuming the dials are set vertically, the angles and reflection in the
geometry implies that there is a bright scene of the ground and sky behind
and slightly _below_ the pilot eyepoint, yet obviously that's where the
pilot and the bulk of the aircraft is!  Furthermore the sour

[2017-09-04 12:00] okroth commented on #930
The actual length of the nut is 0.5" = 12.7mm, the diameter s 1.068" = 27mm.
The diameter is given in a manual from Continental, the length I did measure from photos, using the diameter as reference.
![grafik](https://user-images.githubusercontent.com/10168496/30025563-5fe4b1b6-9179-11e7-9bfe-7560a5ea4ac2.png)

[2017-09-08 19:21] onox commented on #789
Perhaps create a GUI window to store and load positions?

[2017-09-09 03:51] wlbragg commented on #789
Yeah, I think that is the best way to handle it. I like the automatic approach, but it is error prone.

[2017-09-11 12:31] onox commented on #931
Fixed by PR #935

[2017-09-11 12:31] #931 closed

[2017-09-11 18:31] gilbertohasnofb commented on #13
@stuartbuchanan I think you do have a point and that the effect in the video is a bit exaggerated, but from the photos I have seen one can always tell that there is a glass in front of the gauges due to a small amount of reflection. For an example of how this could look like once implemented, see this screenshot I previously posted (from another sim) which does look quite reasonable to me, the gla

[2017-09-12 03:07] wlbragg commented on #13
I'd have to have a look to be sure, but my first reaction would be yes.

[2017-09-17 16:51] HHS81 commented on #13
@gilbertohasnofb  @wlbragg
The effect in the video is ugly (beside they are taking my work without any reference to me 😠 ).
It is ugly because like Stuart already said, as the reflections itself are wrong and too strong.

So we actually need the interior glass reflections, but the camera of the cubemaps should be on the panel at the height of the instruments, looking into the interior.
 Then we ne

[2017-09-22 14:09] dany93 opened #936 "Yoke animation: roll should be +/- 90deg ?"
itOuchpods posted in the forum that the yoke animation should turn +/- 90 deg in roll amplitude.
Can someone confirm? (should be easy to fix, there is only to agree).
[itOuchpods post for 90 deg](https://forum.flightgear.org/viewtopic.php?f=4&t=25157&p=319130&sid=da1951e8b1e3c049353e446c90b60f49#p319075)

[2017-09-22 19:45] gilbertohasnofb commented on #936
I found some online posts of people saying that the real aircraft has around 90 degrees, but I couldn't find a reliable source. By the looks of it we won't need to change anything and all is fine, but it would be great if some RL pilot could confirm it, perhaps @Juanvvc @tigert @okroth @stuart

[2017-09-23 11:17] okroth commented on #936
Hi,

I can assure that it is little less than 90 degrees yoke movement. I had
it in my hands. And there is a Youtube video showing the same, when
"Hannah" checked the yoke

Am 22.09.2017 um 21:46 schrieb Gilberto Agostinho:

[2017-09-23 11:51] dany93 commented on #936
This video I guess.
[Hanne's Private Pilot, solo cross country, part 2](https://www.youtube.com/watch?v=wI_siUten_A) (0':55")

[2017-09-23 11:53] gilbertohasnofb commented on #936
@okroth thanks for the info. From the video @dany93 posted it looks like the angle is just short of 90 degrees, something like 85 perhaps? If no one beats me to it, I will take a look at this later on and push a PR.

[2017-09-23 12:41] dany93 commented on #936
As you like, if you can.
c172p/Models/Interior/Yoke/yoke.xml
line 37
[code]

[2017-09-23 12:42] gilbertohasnofb commented on #936
Ok, I pushed the branch `bug-936` and the animation looks similar to the video. Pushing a PR.

[2017-09-23 12:48] gilbertohasnofb commented on #936
@dany93 I actually used a value of 70.0 as that's what looks closer to the video. Please check the PR and see if you think the selected value looks good.

[2017-09-23 13:43] dany93 commented on #936
Yes, 70 deg looks right (after the video).

[2017-09-23 14:09] HHS81 commented on #936
70deg is wrong. Cessna 152, 172 and 182 does have 90deg!

[2017-09-23 14:14] HHS81 commented on #936
https://www.avsim.com/forums/topic/447286-saitek-cessna-pro-flight-yoke-question/

[2017-09-23 14:18] HHS81 commented on #936
https://a2asimulations.com/forum/viewtopic.php?f=108&t=41824#p314862

[2017-09-23 14:19] HHS81 commented on #936
@gilbertohasnofb So actually 70deg are wrong.

[2017-09-23 14:51] HHS81 commented on #936
Another source: http://www.chickenwingscomics.com/forum/index.php?PHPSESSID=ccaad2351823a19fe6d716286cc6606d&topic=151.msg2615#msg2615

[2017-09-23 15:07] HHS81 commented on #936
And here @2:36   https://youtu.be/p6vH7oo7dUE   he moves the yoke seperat times, but you can it see it here with 90deg once

[2017-09-23 15:18] HHS81 commented on #936
And here https://youtu.be/3jfRs2xsjtc

[2017-09-23 15:22] HHS81 commented on #936
And here @08:03  https://youtu.be/9HNXbGFouvM

[2017-09-23 15:32] dany93 commented on #936
and @05:30 - 05:42 for the last video.
https://www.youtube.com/watch?v=9HNXbGFouvM&feature=youtu.be

[2017-09-23 17:45] #936 closed

[2017-09-26 19:40] HHS81 opened #939 "Ladder can't be climbed anymore?"
Hi,
I experienced today with the FlightGear 2017.4.0 that the walker doesn't recognize the static objects like the ladder, fuel tank trailer etc.
The objects are still detected by the aircraft, but not by the walker anymore.
The walker still detects static and shared scenery objects.
But not the objects put by the model-manager (geo.put)....

I guess it is because the carrier issue, which has been

[2017-09-26 21:36] wkitty42 commented on #939
On 09/26/2017 03:40 PM, HHS81 wrote:

i think it should be reported upstream so it can be fixed... i suspect it may be
unrelated to the carrier issue and possibly more related to the setprop code
change stuff that broke the MP pilots list...

[2017-09-28 17:11] wkitty42 opened #940 "No direction element specified in force object."
i've just updated my FG to the latest 2017.4.0 now that SF is back online and accessible again... i'm seeing the following in the console...

[2017-10-13 20:32] algefaen commented on #936
Should I be concerned when our C172N went to a little bit _more_ than 90 degrees? Maybe 100 or so. (=

[2017-10-13 21:26] okroth commented on #936
Am 13.10.2017 um 22:32 schrieb algefaen:

No that's no problem, it actually depends on the bell-cranks that
translate rope to push rod (which translates to rudder angle) movement.
They have a slot that limit their travel. Depending on C172 version
different bell cranks are used, resulting in different angles at the
yoke for full elevator travel.
On the Cessna 150 I fly regularly, left and right tr

[2017-10-13 22:07] algefaen commented on #846
@gilbertohasnofb : I recorded a video of me starting our c172n, you can hear the primer, the gyro start and the engine not start and then start. Didn't think about shutting up though so you'll also hear me babbling. (= https://youtu.be/gg3q002qsyI . If you can get any useful sound clips from that, feel free to use them. (CC BY.)

[2017-10-15 21:49] gilbertohasnofb commented on #846
@algefaen Great, many, many thanks! I am quite busy at the moment but as soon as I have a chance I will take a look at this and if we end up using some of these sounds I will certainly add your name to the Thanks file :smile:

[2017-11-19 16:52] legoboyvdlp opened #941 "Sounds --> C152 (exterior) engine at idle"
May help you, may not. Feel free to use it or edit it or delete it. I hereby release this sound file under the GNU GPL 2.0 license.
(uploading to dropbox, stby)

[2017-11-19 16:56] legoboyvdlp commented on #941
https://www.dropbox.com/s/cku0025x63nizo7/VID_20170423_153130753.mp4?dl=0

[2017-12-10 20:03] gilbertohasnofb commented on #921
@wlbragg @onox take a look on this awesome icing effect shader which Heiko is implementing on the c182s:

https://github.com/HHS81/c182s/issues/144#issuecomment-350576901

[2017-12-14 16:03] wlbragg commented on #921
Really looks good. This would be a nice system for the heavy aircraft to have (when ready, someone might want to ping the forum with it). My thoughts on it for these light aircraft, if what you say is true about not allowed to fly into/during icing conditions, would be it is only useful for simulating a startup condition after sitting in freezing weather. Unless your interest in it is to model wha

[2017-12-14 16:26] wlbragg commented on #921
Then again we model frost and fog on the windshield when in theory we shouldn't be flying when that condition is possible, at least the frost portion.

[2017-12-16 20:42] hbeni commented on #899
I proposed a fix in the [c182s / PR #214](https://github.com/HHS81/c182s/pull/214) repository.
It fixes the issue by checking for the two walker views and in my opinion this is an important thing:
i for example go (in walker view) to the open cockpit door, peek into the interior, engange master switch, avionics and pitot-heat for the preflight. I would find it disturbing to actually have to "get i

[2017-12-25 01:01] tonghuix opened #942 "[Suggestion] Do you have plan to re-work for C172R ?"
I suddenly found the C172R still in FGAddon and it less developed. https://github.com/FGMEMBERS/c172r Does it reasonable that based on C172P to re-work for C172R?

Because of some flying schools are using C172R due to it is a later version (1996) and not like C182R with a complex propellers. ...And also it may easily integrate G1000...

[2017-12-29 19:47] HHS81 commented on #942
@tonghuix Wait, you say FGAddon, but you link to FGMembers.... :  🙄

Anyway.
I'm not part of the C172P-team, but I can say the C172R differs alot from the C172P: different propulsion, different panel, different fuel system. Luckily beside the different engine systems, fuel system, electronics everythings else is equal or similar to the existing C182S in FlightGear.

But the C172R never had the G10

[2017-12-30 02:57] tonghuix commented on #942
Errr, I was lazy to paste link from SF, so I link it from FGMembers, https://sourceforge.net/p/flightgear/fgaddon/HEAD/tree/trunk/Aircraft/c172r/

Sorry that I am not very familiar with Cessna production line, It's only a suggestion, to provide a more modernized training aircraft to newcomers.

[2017-12-31 18:23] HHS81 commented on #942
@tonghuix

I see 😄

The production line is quite complex, and their products changes from year to year. But yeah, a Cessna172 S/ R would be nice

[2018-01-01 15:19] tonghuix commented on #942
I learned some of flying schools prefer old style 172 N / P, most of them are flying club or operated by airport of local collage. Some flying schools which provide airliner licence training prefer 172R/S or SP, and most of them integrate with G1000 training as well.

OT, I just found a video about C172 history: https://www.youtube.com/watch?v=By0-bSkzMs4

[2018-01-13 22:18] tonghuix commented on #941
It seems no one deal with this project?

[2018-01-15 10:12] gilbertohasnofb commented on #941
Do you mean with this specific issue or with the c172p project as a whole? We are all still here, but everyone seem to be quite busy at the moment with RL or other projects. Lately most work has been minor bug fixes rather than large feature implementations for that same reason.

But if you or anyone else would like to give it a go then I would be happy to review any PRs for any of our opened issu

[2018-01-15 19:13] stuartbuchanan opened #943 "Add G1000"
Hi All,

As mentioned on the mailing list, I'm making good progress on the G1000 implementation.

I'd really like to have this supported on some variant of the flagship c172, as it would be a create showcase both of a modern glass-panel 172, as well as FlightGear's capabilities.  Plus it would probably be fairly easy to make similar changes to the 182 as well.

Is anyone interested in helping with

[2018-01-15 19:59] tonghuix commented on #943
Good job!

Refering #942 , may rework C172R and add G1000 for that plane.

[2018-01-15 20:01] tonghuix commented on #941
Thank you very much!

[2018-01-16 01:00] wlbragg commented on #943
I'll volunteer to take a look at installing it as a variant if it is not too complicated. Complicated as in the variant aircraft isn't too dissimilar to what we already have. In other words I am not up to making an entire new model of the Cessna, at least no by myself.
I think the first step is to identify what model would be the best fit for it.

[2018-01-16 03:41] tonghuix commented on #943
@wlbragg maybe you have to co-work with C182 team. cc @HHS81

[2018-01-21 15:42] dany93 opened #944 "FDM adjustments: elevator stall (asym), rudder side force, adverse yaw"
PR #945

1 - Following a [Thorsten suggestion](https://forum.flightgear.org/viewtopic.php?f=4&t=28303&start=480#p315295), making the elevator action at high AoA asymmetric. In order to take into account the screening effect of the horizontal stabilizer in such stall conditions.
Rather for the principle and to 'open the door', because the values are very hard to evaluate. Possibly to be improved la

[2018-01-25 20:02] legoboyvdlp commented on #941
@gilbertohasnofb was this sound of any use to you?

[2018-01-25 20:35] legoboyvdlp opened #946 "Gear: skis do not work on ice"
Hi there!
Just reporting that when I tested the skis do not work on frozen water (winter textures)... the aircraft just sticks to the ground and doesn't move. Is it possible to make the FDM treat water as ice when it is frozen? Thanks!

[2018-01-25 23:10] gilbertohasnofb commented on #946
Hmm, I think as far as FG is concerned a frozen water is still just water, isn't it? It does not become solid ground, or does it?

[2018-01-26 05:01] wlbragg commented on #946
@legoboyvdlp, if not to much trouble, could you please check the J3Cub with skis on the same surface and let me know what it does. Also can you give me the lat/lon of this terrain and the weather/season you were using?

[2018-01-26 12:24] #944 closed

[2018-01-26 12:31] onox commented on #908
@stuartbuchanan We've skipped a few releases, but I would like to do a release again. Until when do we have time to create a release branch that you can merge to FGDATA?

[2018-01-26 12:44] onox commented on #943
@stuartbuchanan I've seen your work on the G1000 on the forum and it looks very nice. Not sure what is needed to add this to the c172p. Might be as simple as conditionally enabling (with select animations) certain models, or it might involve work on the dashboard 3D model to make it look nice.

There's also the G5 (see #925) which seems to be very simple compared to the G1000.

[2018-01-26 15:08] wlbragg commented on #943
My hesitation is not knowing what equipment this replaces? If we could agree on a layout for the dash and if that is the only change that is needed, I think I could handle the modeling requirements and hooking it up. I like the idea of simply using a select animation and adding this as an option in the c172p GUI.

[2018-01-26 15:17] HHS81 commented on #943
I thought the c172p was meant to be realistic. The c172p is a 1981s model. I have never seen that such an old model had been converted to use a Garmin G1000.

Only the much newer C172SP models does use it,  but this a completely different c172 with its fuel-injected engine and other things.

[2018-01-26 15:28] onox commented on #943
Since the c172p is a relatively simple aircraft suitable for new FG users, perhaps it's better to stick to the analog instruments and optionally a G5 instrument and keep the G1000 for other GA aircraft?

[2018-01-26 15:32] onox commented on #943
@stuartbuchanan Just an idea: maybe the FG launcher could provide a feature where if the user has spend a certain amount of time in a particular aircraft (for example the c172p) it unlocks/suggests an aircraft that is a bit more advanced (one that has a G1000 instrument)?

[2018-01-26 15:59] stuartbuchanan commented on #908
Release is due 17th February.  I'd like to have time to check it in a week
beforehand just incase there are any issues with my merge.

Could you get something by 10th February?

-Stuart

On Fri, Jan 26, 2018 at 12:31 PM, onox <notifications@github.com> wrote:

[2018-01-26 16:05] gilbertohasnofb commented on #908
@onox Welcome back. Concerning the new release, are there any important bug that must be fixed before it?

[2018-01-26 16:50] legoboyvdlp commented on #946
Sure.
Wlbragg, I'm not entirely certain where exactly it is... I was just flying around in Alaska ;)
It is somewhere in the PATK region, perhaps close to 13AK?

I'll try the Cub.

[2018-01-26 16:51] legoboyvdlp commented on #944
Tested, and it works very well. It is far easier to fly in a coordinated manner with the decreased adverse yaw.  It behaves as I would expect a 172 to behave.

[2018-01-26 16:57] gilbertohasnofb commented on #944
@legoboyvdlp thanks, Lego!

[2018-01-26 17:34] wkitty42 commented on #943
On 01/26/2018 10:08 AM, wlbragg wrote:

my understanding is that (just about?) all of the instruments are replaced...
put two of these G1000's in the dash and you have a full glass cockpit... not
sure if the radios would have to move... more sensors, too... should be able to
to have full AP capabilities with this device and not the restricted
capabilities of the current AP device/system ;)  basica

[2018-01-26 17:38] wkitty42 commented on #943
On 01/26/2018 10:17 AM, HHS81 wrote:

perhaps it is not too much to start with the existing c172p and redo parts of it
to come out with a c172sp? we have two engines for the c172p... surely another
one can be fitted? are there any/many body style changes between the two?

[2018-01-27 00:39] HHS81 commented on #943
It is much.

The C172SP is completely different aircraft compared with C172P.
The SP has a completly different interior, and some changes to the exterior.
The SP has completly different panel design (not just a G100 added)
The SP has a fuel-injected engine - take a look at the C182S to see how complex the simulation of it is.

And the support of many different engines makes the whole thing more an

[2018-01-27 02:48] wkitty42 commented on #943
it might be but if i had one, i would also have the expendable funds and would gladly convert it to a glass cockpit... IRL it is only a matter of $$$... in a sim, it is only a matter of drive ;)

[2018-01-27 07:49] stuartbuchanan commented on #943
Hi All,

I had thought that the 172SP wasn’t that different from the 172P and just modifying the panel would be sufficient.

Sounds like I was wrong.  :(

That’s a shame, as I think there are lots of people training and flying 172SP with G1000 and I think it would be very good to have one available.

-Stuart

[2018-01-27 10:40] tonghuix commented on #943
... And I also suggest 172R ref #942 , but it seems from 172R to 172S/SP, it changes a lot! Fuel system using fuel pump instead of carburetor.

So it is better co-working with c182 team create a new aircraft.

[2018-01-27 16:19] dany93 opened #947 "Spiraling propwash effect"
I wondered several times by observing the behavior, but now I'm almost sure that the spiraling propwash effect is not simulated by default in JSBSim (differently from the P-factor). Moreover, it is not included in Aeromatic. Thus, almost every aircraft is lacking it.
http://design-plane.blogspot.fr/2008/11/corkscrew-effect.html
This is the effect which makes the aircraft steer leftwards (yaw) at f

[2018-01-27 17:19] tigert commented on #947
Yeah, right rudder is needed. Also it is present on climbing and turning to left crosswind leg (low speed, climbing turn to left) where you need no left rudder at all — or actually you just slightly ease the right rudder a to keep the ball centered.

[2018-01-27 17:21] tigert commented on #947
The rudder has a groumd-adjustable trim tab to set the cruise speed+power with pedals centered, ball centered. Low speed and high power setting does indeed require right rudder. It's not like it will fall out in a spin, the C172 is very forgiving, but you can see it from the slip ball and feel it in your butt.

[2018-01-27 17:45] dany93 commented on #947
Thank @tigert for this accurate description of the behavior.
All of it looks like that I've seen on ultralights.

On ultralights, too.
Thank you for this, too.
I think I may add a trim-preset for the rudder.

Now, the question is 'how much effect', to be realistic enough and not discouraging the beginners. And for not being too harsh for those (many) who have no rudder pedals...

[2018-01-27 20:16] stuartbuchanan commented on #943
Yes, sounds like the c182 might be a better choice.  I'll contact them.

-Stuart

On Sat, Jan 27, 2018 at 10:40 AM, Tong Hui <notifications@github.com> wrote:

[2018-01-29 16:55] wkitty42 opened #949 "Switches in KMA 20 instrument move dials in radio instruments"
this was originally reported on the forums here...
[https://forum.flightgear.org/viewtopic.php?f=14&t=33695](url)

i've reproduced it in both the current c172p in FGData as well as the current craft in master on this repo...

here's the steps i followed...

1. before loading, i went to my ~/.fgfs/aircraft-data and deleted my c172p.xml file so i would start clean...
2. i started at EGLL and used th

[2018-01-30 06:34] #943 closed

[2018-01-30 06:44] onox commented on #908
@stuartbuchanan 10th February should work 👍

@gilbertohasnofb Maybe these:

- #846
- #623
- #856. @wlbragg how much more work does this issue require?
- #50 or #921 (doesn't the c182 model icing?)

Other issues are on the [milestones page](https://github.com/c172p-team/c172p-detailed/milestones)

[2018-01-30 07:29] tigert commented on #947
I think the answer is not very simple, because in addition to actually having proper flight controls in tye sim, also the actual travel movement can be different. Most joysticks have rather short movement so it is not too easy to fly accurately, and thus a small stick movement can be big in the simulated flight model.

So whether it feels "real" and maps to the real-plane-muscle memory is not that

[2018-01-30 07:29] onox opened #950 "Ground effects should depend on rollspeed-ms of gear, not the groundspeed"
If you try to land on a moving carrier and damage your gear, the ground effects remain visible even after you come to a standstill on the flight deck (because the carrier keeps moving).

[2018-01-30 07:40] onox opened #952 "Use Shift+Q to reset view"
Shift + Q can be used to reset the camera to the default position/orientation. Several other aircraft have this like the P51D and the JA37. It's useful to quickly move the camera to point at the instruments when you were looking out of the window.

You can basically modify and use https://github.com/onox/p51d/commit/dd9d2e3b4d4a4fc37dcd084e8ac7a659865ad74d

[2018-01-30 07:54] onox commented on #949
The issue is that the COM1/COM2/NAV1/NAV2 rocker switches in the top KMA 20 instrument modify the dials in the two radio instruments below it.

[2018-01-30 09:08] tonghuix commented on #952
Good suggestion! When I practice circling with a ground point, it's not easy for that. I have to focus more on instruments.

Another key is shift+NUM 8, it means view forward, but it's not default view.

[2018-01-30 09:24] dany93 commented on #950
Please mind. Not to be confused with the `aero/function/kCDge` and `aero/function/kCLge` ground effect in the FDM.

[2018-01-30 15:28] wkitty42 commented on #949
On 01/30/2018 02:54 AM, onox wrote:

yes, if COM1 does it, the others probably do, too... i didn't check the other
3-position switches, though... only the COM1 interaction as reported in the forum...

[2018-01-30 18:17] wkitty42 commented on #949
there're more details in the forum... i'm going to point to this bug report and maybe they'll come over and post here where we can keep up with it better...

[2018-01-30 22:09] mathieugouin commented on #949
Hello, I was the original reporter of the issue, however, I found it with the stock c172p from the FlightGear installation.  Do you recommend I re-test with the latest master from github?

I'm happy to help :)

[2018-01-31 01:54] mathieugouin commented on #949
COM1 & COM2 both exhibits the same problem.

I confirm NAV1, NAV2 & ADF retain their respective volume setting.  However, for these switches, setting to SPEAKER position has the effect of pulling the knob to IDENT mode.  This seems strange, but I assume this was done because there is no way of actually pulling the knob to ident mode by other means.

Refer to this image: http://wiki.flightgear.org/

[2018-01-31 09:16] stuartbuchanan commented on #908
Hi onox,

Possibly. Could you drop me an email (sorry - I've forgotten how your
handle maps to an email address!).  I'd need to understand what's changed
and some other details.

Thanks,

-Stuart

On Tue, Jan 30, 2018 at 6:46 AM, onox <notifications@github.com> wrote:

[2018-01-31 13:34] wkitty42 commented on #949
i don't know about the push and pull of a knob but some craft do have such for numerous of their switches... i would imagine that their methodology could be employed in the c172p unless this is something that comes with the device in question... now that i think about it, this may actually be a problem over there instead of in the c172p... especially if this is an existing ""generic"" device that

[2018-02-01 03:35] onox commented on #949
I have already reproduced the problem with master.

[2018-02-01 13:34] tonghuix commented on #943
@stuartbuchanan Could you please try add G1000 to DA42 aircraft, it now already has a G1000, but less functional, if you can add G1000 to DA42, it will make it more to perfect!

[2018-02-02 04:48] mathieugouin commented on #949
`but some craft do have such for numerous of their switches`

I tried with various combination of click, shift+click, ctrl+click and I was not able to pull directly the volume knob.

Do you know the key combination to do so?

[2018-02-02 04:58] mathieugouin commented on #785
Hello, I experienced this issue as well.  I might be completely off, but my initial thought were this command line option does not work because the NAV/COM radios are powered off when initially starting the sim.  Could that be related?

[2018-02-02 20:56] wkitty42 commented on #949
i don't know if there is such a keystroke for this device... if there is not, it may be possible to update it so there is... a quick look seems to show that the KAP140 autopilot is the only generic model used from FGData... you're on the right track, though... i just don't know which craft to provide as an example... perhaps the IDG32X? they seem to have several functions on one knob whether it is

[2018-02-04 17:11] gftg85 commented on #87
Hi, is there any way I could help with this? I'm a noob, but I'd like to help.

[2018-02-05 06:55] onox commented on #87
There's a `dual-control` branch that you could work from. However, I'm not sure the old way of dual control is the way to go. Maybe you could investigate whether Emesary (from Richard a.k.a. @Zaretto) can be used. Otherwise it's going to be HLA. HLA is still incomplete because of some missing component that the OpenRTI dev (implementation of HLA) is not releasing. Use the FG mailing list to contac

[2018-02-05 07:57] Zaretto commented on #87
Using Emesary notifications locally and briding these over MP using the Emesary MP bridge is probably the easiest way to bring dual control to a craft.

Basically what you do is to change all of the pick animations that may directly modify properties to instead generate an Emesary notification that is sent locally using the built in GlobalTransmitter. This can then be handling by a suitably regist

[2018-02-09 10:21] #950 closed

[2018-02-09 10:57] onox commented on #947
Fixed by PR #948

[2018-02-09 10:57] #947 closed

[2018-02-09 11:10] onox commented on #811
Merged in PR #843

[2018-02-09 11:10] #811 closed

[2018-02-09 11:13] onox commented on #135
Closing due to lack of needed info.

[2018-02-09 11:13] #135 closed

[2018-02-09 11:55] onox commented on #846
@gilbertohasnofb Are you able to work on this if it isn't too much work?

[2018-02-09 12:01] onox commented on #949
Try the mouse scroll wheel.

[2018-02-09 14:45] gilbertohasnofb commented on #846
@onox I will take a look at it over the next days. How long do we have until the next release?

[2018-02-09 14:52] #78 closed

[2018-02-09 14:52] gilbertohasnofb commented on #135
Just made another test, cannot reproduce this either.

[2018-02-09 14:57] gilbertohasnofb opened #956 "Reduce reflections, particularly on the propeller"
I think the propeller is really too shiny now, as it seems to use the same coefficients as the fuselage. But it seems to me that in RL the propeller is quite matte:

![](http://www.parvinproperties.com/cessna/cessna-front-closeP5300108.jpg)

As a side note, perhaps our fuselage is also a bit too shiny? Even under sunlight a white 172 is also quite matte:

![](http://www.oy-reg.dk/billeder/l24313.j

[2018-02-09 14:58] gilbertohasnofb commented on #956
@wlbragg would you be interested in taking a look at this?

[2018-02-09 15:08] gilbertohasnofb commented on #860
I am not sure if this has been reported before, but there are some issues with the bottom part of the fuselage:

![fgfs-screen-001](https://user-images.githubusercontent.com/5700795/36034101-e0dedc30-0daa-11e8-88a2-b7d90be131d7.png)

Is that a 3D model, UV mapping or effect problem? Perhaps it could be added to this issue or maybe we should create a new issue for it -- opinions?

[2018-02-09 15:53] gilbertohasnofb commented on #941
Hi Lego, I took a look at the sound but I don't think I will be able to use it. I think the sound is too different to the 172, but also the length of the recording is too short (I can only make a decent loop if I have a long recording). Also, I think that a recording from inside the cockpit would be ideal as external recordings sound too different IMO. But thanks anyway!

[2018-02-09 15:53] #941 closed

[2018-02-09 21:08] HHS81 commented on #956
@gilbertohasnofb

What you experience is the limit of FlightGears renderering system. The shinyness is o.k., but the renderer doesn't really take sunshine into account. For this we need real PBR (and not what will Mr. T. wants to sell us as PBR).
 I can show later some images from X-Plane showing how reflection reacts in sunlight there

[2018-02-09 21:18] onox commented on #846
Not much: 1 day.

[2018-02-09 21:42] HHS81 commented on #956
here are the images from X-Plane 11 Demo:
**With the sun:**
![cessna_172sp_12](https://user-images.githubusercontent.com/12649375/36051265-cc0e1ec6-0de9-11e8-9fb1-04651390c789.jpg)
**Against the sun:**
![cessna_172sp_13](https://user-images.githubusercontent.com/12649375/36051285-dc57750c-0de9-11e8-8c11-44b53ead3790.jpg)

**Looking really shiy (Due to fresnel effect and 90° against the sun)**
![ce

[2018-02-09 21:54] gilbertohasnofb commented on #956
Yes, I understand that, but we could tweak the parameters of the reflections according to what FG is capable right. IMO our reflections are too strong in most cases, so perhaps lowering them could give us a more compelling result.

[2018-02-10 00:00] gilbertohasnofb commented on #846
@onox I am working on the gyro sound right now and should push it very soon.

@algefaen I ended up using the sound from your youtube video, many thanks!

[2018-02-10 00:55] gilbertohasnofb commented on #846
@algefaen I ended up using a synthesized sound but still based on yours (I analysed it in a spectrogram and then re-synthesized it). This way I could remove all the little noises from the seat and the voice as well. But nevertheless, since the new sound is still based on your video, I added the CC-BY note to the Thanks file. Many thanks again for the source, these are _extremely_ helpful!

[2018-02-10 17:03] #846 closed

[2018-02-10 17:03] #899 closed

[2018-02-10 17:04] #952 closed

[2018-02-10 17:12] onox commented on #846
@algefaen @gilbertohasnofb Was this sound the avionics fan? You seem to say gyro, but the gyro in the c172p is vacuum driven 😕

[2018-02-10 17:55] onox commented on #908
@stuartbuchanan I've created the release branch for 2018.1: https://github.com/c172p-team/c172p-detailed/releases/tag/version%2F2018.1

[2018-02-10 17:55] #908 closed

[2018-02-10 17:56] onox opened #958 "Gather a list of features and bugs we fixed in 2018.2"
We should gather a list of all the new features, major changes, and bugs we fixed. Please create a list (use \* to create bullet points) here.

* TODO

Do not forget to update `NEWS.md` before creating the release. See https://github.com/c172p-team/c172p-detailed/wiki/Release-process-and-versioning

[2018-02-10 18:01] onox commented on #908
@dany93 @gilbertohasnofb @wlbragg @algefaen Thanks all for contributing to this release! 👍

[2018-02-10 18:32] gilbertohasnofb commented on #846
I am really not sure about it, @onox! But everyone including @algefaen @tigert and @okroth were saying it was a gyro, and so I just assumed it was 😄 If that is incorrect we can rename the soundfile and change the definition on Sound.xml for the next release.

[2018-02-10 18:38] mflas commented on #846
Hey! 93% sure the turn coordinator is an electric gyro while the AI and DG are vacuum based. Have a look at the POH, the TC is hooked up to the master bus while the AI and DG are on the vacuum system. ... This should probably be modelled btw., with vacuum failure you should be able to use the TC still.

[2018-02-10 18:38] mflas commented on #846
Wrong github account. ^_^

[2018-02-10 18:39] algefaen commented on #846
That was me. (=

[2018-02-10 18:52] wlbragg commented on #956
I don't necessarily agree with this from looking at images on the Internet. Some are more reflective than others. Some are considerably more dirty than the aircraft. Seems to depend on environment and individual aircraft.

[2018-02-10 19:41] wlbragg commented on #860
Wow, I am looking at the Blender model VS the c172p.xml and we do have an issue. I actually don't understand how the UV mapping of the baggage door is even working. There was an addition of
baggagedoorhandle
baggagedoorinterior
baggagedoorexterior
and the removal of
baggagedoor

yet the XML only has
baggagedoor

this shouldn't even be working.

Anyone else want to verify they show the same thing i

[2018-02-10 19:50] wlbragg commented on #860
I don't know or remember who did the baggage door, but it was wrong. I am fixing it but would feel a lot better if I knew if it was my error early on or someone else has been in the Blend. If it is others in the Blend they need to be aware of everything that has to happen to add, remove or edit objects. There is effect definitions and livery definitions that have to be modified.
I'm just now notic

[2018-02-10 19:56] wlbragg commented on #860
That was the same issue for the object-name radi_box. It was never defined in the effects or livery.

[2018-02-10 20:08] wlbragg commented on #860
Who added the radi_box? If it was me it was before I knew how some of this worked. We have z-fighting issues with it.
Please, if anyone else is responsible for this stuff they need to be aware of some of the issues so it doesn't happen anymore. I may be guilty of some of it in the past, but I do know what I am doing now and we have some issues here.

[2018-02-10 20:49] mathieugouin commented on #949
@onox Yes, the scroll wheel adjust the volume and when I scroll down to 0% it turns off the NAV/COM radio.

I was asking how to push/pull the knob to be in IDENT mode.

[2018-02-10 20:52] stuartbuchanan commented on #908
I've just checked this into fgdata for the 2018.1 release.

Thanks as always for your hard work!  Much appreciated.

-Stuart Buchanan

On Sat, Feb 10, 2018 at 6:01 PM, onox <notifications@github.com> wrote:

[2018-02-10 22:23] wlbragg commented on #860
OK, I pushed a branch Issue680 that corrects a bunch of really bad mesh problems at the tail of the aircraft and the radiator area. The mesh issues in the tail (the seams you could see near the tie-downs) were done a long time ago and required some major mesh repair.
Please review closely.

[2018-02-10 22:57] gilbertohasnofb opened #959 "engine sound too soft at idle"
The engine sound of our c172p is maybe too soft at idle.

[2018-02-10 22:58] gilbertohasnofb commented on #846
@algefaen Thanks for all the info!

[2018-02-10 23:00] gilbertohasnofb commented on #956
@wlbragg It seemed to me that the propeller is always substantially more matte than the fuselage in all photos I saw, but then again these things are difficult to discuss impartially. If you don't think that's the case then we can just close this issue as invalid.

[2018-02-10 23:02] gilbertohasnofb commented on #860
@wlbragg many thanks for taking a look at this! I am afraid I am useless to check the 3D stuff in Blender, but I will gladly check the branch `Issue680` in the sim soon.

[2018-02-10 23:02] gilbertohasnofb commented on #908
Thanks to you all! 🎉

[2018-02-11 04:45] wlbragg commented on #956
Maybe some more input from others would help. I need to look closer at our model in the sim before I commit either way. I just noticed doing a Google search that there were some props that looked pretty reflective even high gloss yet others were matte and as I said a bunch were just plain dirty.

[2018-02-11 04:49] wlbragg commented on #860
FYI: the tail of the fuselage had major vertex issues. There were vertexes that were merged that shouldn't be. Ones that were completely out of place. It was a mess. But it is all cleaned up now so a visual inspection of the model in the sim would be fine. I think I can also model the semicircle at the base of the rudder before we merge.

[2018-02-11 13:05] okroth commented on #846
Am 10.02.2018 um 19:32 schrieb Gilberto Agostinho:

In the C172P there are both, electric and vacuum driven gyros:

electric:
turn coordinator

vacuum:
attitude indicator
directional gyro

The avionics fan is activated when the avionics (left) switch is switched on

--
Oliver

[2018-02-12 13:33] wlbragg commented on #789
Time to revisit this considering Jame's latest work. I want to create the standard "automatic" states that are supposed to work with the newest launcher. I also want to add a "Save" state GUI option that will save your current location, "parked on the ground".
There is the possibility of saving an "in-flight" state, but this wouldn't be my priority.

[2018-02-12 15:19] wkitty42 commented on #789
On 02/12/2018 08:33 AM, wlbragg wrote:

we have a couple of these already in place, don't we? someone, james, i think,
added them to the c172p in FGData for testing the concept... i don't remember if
those changes ever made it back into this repo...

someone will undoubtedly try to use "save your current location" to save their
place in the air ;)

one of the things that these states are supposed

[2018-02-12 15:28] wkitty42 commented on #892
is this a duplicate or at least related to #789 and maybe #932 ??

[2018-02-12 17:16] gilbertohasnofb commented on #846
@okroth So do you mean that the sound I created is the avionics fan and not any of the two gyros?

[2018-02-12 17:25] okroth commented on #846
Hi,

It really sounds more like the gyros' sound. The avionic fan is a less
tonal swoosh, and not loud too.

--
Oliver

[2018-02-12 17:33] gilbertohasnofb commented on #846
Great, thanks for the feedback. So in that case it looks like we named it correctly.

[2018-02-12 19:17] onox commented on #846
@algefaen @gilbertohasnofb So the sound is the turn coordinator? It moved its position to the radio stack, so that needs to be changed to the TC's position. Also it should not depend on the avionics switch then.

[2018-02-12 19:31] onox commented on #949
I don't think those volume buttons can be pushed/pulled in the model.

[2018-02-12 19:33] onox commented on #949
Actually you can push/pull them by moving the NAV1/NAV2 rocker switches 👎

Would you like to try to fix this issue?

[2018-02-12 19:41] gilbertohasnofb commented on #846
It's the sound we can hear from around 0:55 from this video by @algefaen https://www.youtube.com/watch?v=gg3q002qsyI&feature=youtu.be

Yeah, I just realized that the sound starts when he flips the master switch, not the avionics switch. That was my mistake. I will create a new PR to remove that part of the condition. Concerning the name and the position, do we need to change anything?

[2018-02-12 19:54] onox commented on #939
Reproduced this issue. @HHS81 can you explain what was wrong with the carrier?

[2018-02-12 19:59] onox commented on #846
Don't think so, just the position and tie it to the master switch.

[2018-02-12 20:02] onox commented on #846
@gilbertohasnofb For the position you need to change:

[code]

to:

[code]

[2018-02-12 20:13] onox commented on #942
I guess this can be closed as wont-fix.

[2018-02-12 20:13] #942 closed

[2018-02-12 20:18] onox commented on #946
It would be nice if you could land on ice indeed, but likely needs to be fixed in FG itself.

[2018-02-12 20:26] onox opened #961 "Model defroster outlets"
Model the adjustable defroster outlets because they don't exist in the 3D model.

Do we need to paint one of the R/G/B layers in the ALS glass mask? (so that you see the fog disappearing where the defroster outlets are)

See https://github.com/c172p-team/c172p-detailed/issues/910#issuecomment-280856815

Also See https://github.com/c172p-team/c172p-detailed/issues/202#issuecomment

[2018-02-12 20:44] gilbertohasnofb commented on #846
@onox since you already deleted the branch `bug-846`, should I create a new branch with the same name or should I use something like `bug-846-new-fixes`?

[2018-02-12 21:03] onox commented on #910
@wlbragg I checked JSBSim's source code again and the integrators are always initialized to 0. Could you ask the JSBSim devs on the mailing list to add something like:

[code]

[2018-02-12 21:07] onox commented on #856
@wlbragg This issue can be closed? State support is being addressed in other issues?

[2018-02-12 21:18] onox commented on #846
You can just open a new issue and create a new branch.

[2018-02-12 21:22] onox commented on #846
I think it's easier to add the fix to master, Stuart is too busy with his G1000 these days I think.

[2018-02-12 21:23] onox commented on #846
Or do you really want to have it fixed for 2018.1, @gilbertohasnofb ?

[2018-02-12 21:26] gilbertohasnofb commented on #846
No, this is not big enough to bother Stuart. I will just open a new issue and create a new branch, that will keep things simple. I will take care of it still today.

[2018-02-12 21:28] onox commented on #846
👍 You can assign it the "Future release" milestone. If we make a 2018.2 release we can create the necessary milestones and then assign the closes issues to those. I have moved enough issues from 2017.1 to 2017.2 to 2017.3 etc.

[2018-02-12 21:32] gilbertohasnofb commented on #846
Yeah, that's a smarter way of labelling

[2018-02-12 21:45] gilbertohasnofb opened #962 "Fixes to gyro sound"
Fixes to gyro sound:

* gyro sound should be tied to the masters switch and not to the avionics switch
* reposition sound

[2018-02-13 01:47] wlbragg commented on #892
No, this is "variants" not states. It would give the option of starting the aircraft configured a certain way, like with skis or pontoons or bush wheels VS starting up and then selecting what configuration you want. There are some added bonuses to doing this, like having different previews in the launcher showing the aircraft in that configuration. See the J3Cub in the launcher for an example.

[2018-02-13 02:03] wlbragg commented on #789
Yes but they need revamped to take advantage of the current launcher algorithms James coded.

I plan on coding it in such a way that you can't save it unless your in a predefined configuration, such as on the ground with the brake on and engine off. Or something to that effect.

Right, the c182s has implemented a nice state system. I'll be looking at that in detail.

I also implemented 7 states in

[2018-02-13 02:05] mathieugouin commented on #949
I can, but I will have a lot of questions... ;)  If you can bear with me.

Do you think this issue is possible to fix by only modifying xml & nasal code?  I'm asking because I'm not setup to recompile FG...

[2018-02-13 02:06] wlbragg commented on #856
Yes, I closed another one too. Appears we had a few of them floating around. I'd like to be able to reference these closed ones however because they all contain some useful information.

[2018-02-13 02:06] #856 closed

[2018-02-13 02:52] wlbragg commented on #946
Hum, interesting. I wonder if we need to consider adding some skis without the wheels like the Cub has, they work great on glaciers and ice.

[2018-02-13 05:33] wlbragg commented on #910
Yes, but let me make sure I understand what we're asking for.
[code]
In this example the integrator "heat/cabin-air-temp-degc" is initialized to 0 and takes x time to adjust to any value. We want to be able to initialize it immediately to a value, in this case we want to use a property to initialize it. So were asking for a tag <init></init> that you can set with a value or with a property to be a

[2018-02-13 05:38] wlbragg commented on #961
Yes, I actually did this on the J3Cub so we have an example to use. I'll see if I can do the mask.

[2018-02-13 11:15] onox commented on #949
Yes.

Feel free to ask any questions.

[2018-02-13 11:17] onox commented on #910
Yes. But we could also fix it by summing the output to some property that we set just once. But then we need to take care of it manually when FG's is reset etc. So maybe you could phrase it as a question: what do they recommend?

[2018-02-13 13:19] wkitty42 commented on #949
On 02/12/2018 02:31 PM, onox wrote:

right but that's a problem... the one switch specifically says to pull for
ident... my questions is is this something we need to fix in this craft or is
this a generic model in FGData and the fix needs to be done over there so it is
available for all craft using this device? in fact, that question applies to the
problem of COM1 switch moving the volume control,

[2018-02-13 14:27] wkitty42 commented on #892
so basically this is -set files all combined into one with some sort of property setters to choose the engines and gear?? hummm...

[2018-02-13 23:45] mathieugouin commented on #949
My initial attempt as a start was to try to make the KMA-20 switches only control the ident mode (equivalent of PULL), but do not affect the volume.

Ideally, to better mimic real-life, we should have both KMA switches & NAV/COM radio switches independent.  This would be possible if we find a proper key combination to do the PULL.

[2018-02-13 23:49] mathieugouin commented on #949
A beginner question, how can I force the c172 aircraft to use my local git clone version instead of the installation default A/C.  I'm using the --aircraft-dir option but that does not seem to work.

Thanks!

[2018-02-14 10:12] dany93 commented on #949
Hi @mathieugouin,

The --aircraft-dir option should work (if the path is written correctly).
Did you try by the Qt Launcher, by Addons > Additional aircraft locations ?

[2018-02-14 13:44] gilbertohasnofb opened #965 "Some internal objects needs smoothing"
Some internal objects needs smoothing:

![](https://user-images.githubusercontent.com/5700795/36178857-2f94d3b0-1112-11e8-998f-1900ca37955e.jpg)

![](https://user-images.githubusercontent.com/5700795/36178854-2eeebd90-1112-11e8-8375-06e3a20003e9.jpg)

![](https://user-images.githubusercontent.com/5700795/36178852-2ddd6da2-1112-11e8-8c46-19fba8cca4a9.jpg)

[2018-02-14 13:45] gilbertohasnofb opened #966 "Back tip of the fuselage has strange reflection"
Back tip of the fuselage has strange reflection, it is brighter than the fuselage from nearly all angles.

![](https://user-images.githubusercontent.com/5700795/36178860-3039426a-1112-11e8-8090-15b9fef785b8.jpg)

[2018-02-14 15:15] wlbragg commented on #430
These issues are being taken care of in PR #964
![fgfs-screen-015](https://user-images.githubusercontent.com/11069680/36211600-4f671dec-1167-11e8-93d2-9c7740093d17.png)
![fgfs-screen-016](https://user-images.githubusercontent.com/11069680/36211604-505a0c96-1167-11e8-8016-c89d70c4f237.png)

[2018-02-14 15:51] wlbragg commented on #430
That is about as good as I can get it. Please check other liveries to make sure it didn't effect them.
![fgfs-screen-017](https://user-images.githubusercontent.com/11069680/36213474-72177292-116c-11e8-9061-2606377a9fbd.png)
![fgfs-screen-018](https://user-images.githubusercontent.com/11069680/36213477-733a2714-116c-11e8-80ed-6867ce05a3ec.png)

[2018-02-14 16:09] wlbragg commented on #966
@gilbertohasnofb
I'm not seeing this anymore, please confirm!

[2018-02-14 20:36] HHS81 commented on #939
@onox
On the devel-list James Turnes assumed that the reason is laying somewhere with the ground-chache thing.
Please see this discussion: https://sourceforge.net/p/flightgear/mailman/message/36059076/

[2018-02-14 22:47] gilbertohasnofb commented on #966
I just did a pull on branch `issue-860` and I can confirm I am still experiencing this. Are you sure you pushed your fix?

[2018-02-14 23:29] wlbragg commented on #966
I don't see that, I even used that livery to test it. It must be a certain lighting condition your in. Can you give me a clue as to your lighting, maybe location and weather settings? I can try again and move the aircraft around to all the compass directions and see if I can reproduce.
But,  look at the fairings, notice the edges who's faces are pointing the same direction as the tail section that

[2018-02-15 10:53] gilbertohasnofb commented on #966
Ok, so this is a test at LKCE

![fg-0](https://user-images.githubusercontent.com/5700795/36252989-3928b0e0-123e-11e8-9766-e71efea4f094.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/36252990-39459a98-123e-11e8-831b-fa8e2c49db3f.jpg)
![fg-2](https://user-images.githubusercontent.com/5700795/36252992-39d658d0-123e-11e8-98f1-41f3b5857cc3.jpg)
![fg-3](https://user-images.githubusercont

[2018-02-15 10:54] gilbertohasnofb commented on #966
And just confirming, I am at `issue-860` and just did a `git pull`, for which I am told `Already up-to-date.`

[2018-02-15 15:05] wlbragg commented on #966
@onox, do you see what @gilbertohasnofb  is seeing?

[2018-02-15 15:58] wlbragg commented on #966
OK, I am able to recreate it on LKCE runway when the sun is rising. It is definitely the light reflecting, Use the accelerated time and watch it disappear to normal. I don't get the red tint your seeing, just the brightness. I don't know exactly what to do about it either. If you were to change the material settings and darken it up then the rest of the aircraft will do the same. Maybe make that p

[2018-02-15 16:26] wlbragg commented on #966
By looking at other like aircraft (c182s) I am almost positive this is a mesh design issue. It is simply flat in back and is catching the light accordingly. If you look at the back of the c182s in similar light conditions you can see the same thing only because of the tapering of the mesh it is a much smaller spot. I am going to try to reshape the tip of the tail but that is going to have an adver

[2018-02-15 16:28] wlbragg commented on #966
Oh, you might ask why the c182p in fgaddon isn't as bad, it is because the mesh is screwed up back there and actually helping to break up the flat surface.

[2018-02-15 17:37] wlbragg commented on #966
I am still not sure why your seeing "red" On mine I only see brightness.
I pushed a change to the ac just now. That is as much as I think I am going to be able to do. What I did was create several edge rings on the tail and tapered it like the c182s does. It may have helped some.
@gilbertohasnofb
There is a test I would like you to try, start out on the runway (LKCE), morning, crank the wheel hard

[2018-02-15 18:01] wlbragg commented on #966
If this doesn't work for you I may make one more pass and ty to make the tail taper more extreme, as in over greater depth instead of so flat. But that requires changing the design of the tail and I need to look at some reference images to make sure I can even do that. WE NEED A NEW MODEL. There are so many issues it isn't funny.

Before
![screenshot_2018-02-15_10-32-47](https://user-images.github

[2018-02-15 22:56] gilbertohasnofb commented on #966
I know, @wlbragg, this has been a huge issue for sometime already. Creating a new model is a huge task, but at the same I just keep thinking of how much time we invested trying to fix the current one. There are so many issues indeed. My main one is actually the cockpit position which is really too low in relation to the fuselage and makes it look all wrong, completely ruining the main cockpit view

[2018-02-16 05:00] wlbragg commented on #966
I have to possible ideas.
1) I'll try to do the taper thing I already mentioned
2) If that doesn't work ,what about changing the color or brightness of the texture in that spot. Like make it gray? Problem is all the liveries will have to be edited.

I'm sure it was always there, your just now noticing it because it is zoomed in. I did modify the back edge of the rudder though because it was really

[2018-02-16 10:01] legoboyvdlp commented on #430
:)
As always, great job.

(by the way, on another note is that volumetric grass, the sort you enable by uncommenting something?)

[2018-02-16 12:38] gilbertohasnofb commented on #966
Changing all liveries is not the problem (I would gladly do that if necessary), the problem is that I don't think this solution would look very good. As you pointed out, in a more uniform light the aircraft would have a dark tail. But on top of that, this would look unrealistic as the real liveries are painted in colour in those areas, e.g.:

![](https://flyingwisconsin.files.wordpress.com/2010/09

[2018-02-16 14:16] wlbragg commented on #966
Interesting, your right. That goes hand in hand with my statement about changing the shape of the tail. The above picture verifies we technically or realistically could do this. Lets take that approach and see what we get.

[2018-02-16 17:07] wlbragg commented on #966
OK, some new mesh to critique...
![fgfs-screen-027](https://user-images.githubusercontent.com/11069680/36319737-7f8bee78-1309-11e8-9472-28e4e51e58cc.png)

![fgfs-screen-028](https://user-images.githubusercontent.com/11069680/36319746-842912b2-1309-11e8-9e32-2b0785f2b07c.png)

![fgfs-screen-029](https://user-images.githubusercontent.com/11069680/36319751-89fe2b64-1309-11e8-9149-97a00556f214.png)

I

[2018-02-16 17:19] wlbragg commented on #966
One is volumetric grass and the other is the fur shader. There is two separate effect s in these shots.
https://forum.flightgear.org/viewtopic.php?f=6&t=23666
https://forum.flightgear.org/viewtopic.php?f=47&t=32183

[2018-02-16 17:21] wlbragg commented on #430
Thanks!
One is volumetric grass and the other is the fur shader. There is two separate effects.
The volumetric grass, yes there is some code in the materials I think you uncomment.
https://forum.flightgear.org/viewtopic.php?f=6&t=23666
https://forum.flightgear.org/viewtopic.php?f=47&t=32183

[2018-02-16 21:42] wlbragg commented on #965
ET and extinguishers are now smoothed. The air vents are smoothed already, it's just the mesh is squared. The headphone is in fgdata and out of my realm.
I remapped the yoke, please review and comment.
The white unmapped mesh at the base of the doors is now mapped.
The trim wheel needs a texture as it is mapped to a solid black strip.

[2018-02-17 00:30] gilbertohasnofb commented on #966
This is looking really great!!! 👏

[2018-02-17 00:36] gilbertohasnofb commented on #118
Just adding one more pic from a different angle showing the issue with the cockpit glass shape:

![fg-1](https://user-images.githubusercontent.com/5700795/36335802-89cfb894-137a-11e8-9383-a90191f85cdc.jpg)

[2018-02-17 01:02] gilbertohasnofb opened #967 "Recreate splash screens"
Given that we have made considerable improvements to the external 3D model since the splash screens have been created, I propose we re-create them in order to showcase how our aircraft is currently looking.

@wlbragg wrote:

[2018-02-17 01:03] gilbertohasnofb commented on #967
This is particularly true after we merge https://github.com/c172p-team/c172p-detailed/pull/964. Also, I have since got a new and more powerful computer so I believe I can recreate those screenshots with much better quality than before. I will take care of this in the near future.

[2018-02-17 07:40] wlbragg commented on #650
I'm really wanting to implement this!
![glare](https://user-images.githubusercontent.com/11069680/36339103-95e38436-1383-11e8-99d5-eb97c9ccaa2f.png)

[2018-02-17 07:59] wlbragg commented on #118
A simple proof of concept here, I thickened the wing a tad bit. Notice I didn't move or adjust any of the peripherals, just a quick and dirty. With a little more effort I probably could make this look really nice by adding some edges to make it more rounded. I'm not sure I want to tackle it although it isn't really that much work. Except, we would have to reposition the tie-downs a tad bit and eve

[2018-02-17 08:07] wlbragg commented on #966
One more thing.
We talked about re-texturing the the end face of the tail. But we were concerned about making it darker. I remember seeing a picture on the Internet of the tail end of a c172p and it appeared to have mechanical stuff on the tail face. Also it was quit dark and in the shadows. My point being, a texture to simulate what that image portrayed might still be in order so when you are usi

[2018-02-17 08:12] wlbragg commented on #966
This kind of shows what I am talking about.
![tale1](https://user-images.githubusercontent.com/11069680/36339312-07762834-1388-11e8-8883-5aaeeca95895.png)

[2018-02-17 10:32] gilbertohasnofb commented on #966
I will try to come up with something, I will push it to the 4X-CHV texture tonight and then it could be applied to all liveries. I will let you know.

[2018-02-17 10:35] gilbertohasnofb commented on #118
@wlbragg this is already looking so much better, many thanks for taking yet one more issue into this huge PR! If you feel like making the leading edge more round (i.e. more polygons) then we could possibly close this together with all other issues, though I understand that you might not want to tackle all this at once.

Yeah, I was just going to add that our wingtips aren't that great looking.

It

[2018-02-17 10:36] gilbertohasnofb commented on #650
👍👍👍

[2018-02-17 16:03] wlbragg commented on #6
@gilbertohasnofb You still game to fix the XML if I tackle this one?

[2018-02-17 17:38] wlbragg commented on #118
OK, guess were doing the wings!

vents were moved...
x = 0.01828
z = -0.01825
from their original positions.

TiedownHotSpotRight and TieDownRight were moved...
y = -0.06198
z = -0.03995

TiedownHotSpotLeft and TieDownLeft were moved...
y = 0.06112
z = -0.03807

[2018-02-17 17:39] wlbragg commented on #118
Nothing else requires repositioning so far.
I'm going to check the taxi and landing light and see if we can leave it as is. In my opinion it is OCD to move it, but we can if it really looks wrong.

[2018-02-17 19:57] wlbragg commented on #118
I went ahead and repositioned the pitot and cover, oat and vents, tie-downs. The tie-downs are repositioned and rotated in such a way it is more realistic as the strap now sits more centered and where you might expect it to be with tension. Plus the added benefit that we didn't have to reposition the straps.

I fixed the taxi and landing bar light so is now visible. I had to comment out a section

[2018-02-17 20:00] wlbragg commented on #118
For sure our landing/taxi light is not in the wingtip like this, but what about the shape and pointy end?

[2018-02-17 22:05] wlbragg commented on #118
OK, I pulled up a bunch of reference pictures, i think I know what we need to do. I decided to do this. It's going to take a bit though because these wingtips are really dorked up, like the tail was. I'm actually surprised they look as good as they do in the sim because they are so screwed up. There are vertices overlapping and all kinds of issues.
I have to delete the end face and start over afte

[2018-02-17 23:15] gilbertohasnofb commented on #6
YES, YES, YES!!! 😆 Anything to fix the cockpit!

Seriously now: I am up to manually update all xml files if that's necessary. Let's just first get that external model PR done and then we can tackle this.

Well, as you pointed out the ideal solution would be to reposition the gauges because of the shadows, but then all work will have to be done in Blender and that's something I am afraid I can't he

[2018-02-17 23:18] gilbertohasnofb commented on #118
Great, many thanks! I am really looking forward to this one!

No rush, please take your time and let me know if I can help with anything other than testing.

[2018-02-17 23:40] gilbertohasnofb commented on #966
@wlbragg Actually, I found some excellent pictures of the tail of a 172 and as you can see there is no need for a metal/mechanical texture:

![](https://disciplesofflight.com/wp-content/uploads/2016/09/2-skyhawk-auction-tail-strike.jpg)
![](https://disciplesofflight.com/wp-content/uploads/2016/09/2-skyhawk-auction-elevator-scratch.jpg)

[2018-02-17 23:49] gilbertohasnofb opened #968 "Improve air intake textures"
Improve air intake textures:

![](http://fly-aaft.com/wp-content/uploads/2014/11/C-172-front-view.jpg)

![](https://camo.githubusercontent.com/002b11905706de0ed844c95977150e8c4e997e3f/687474703a2f2f7777772e70617276696e70726f706572746965732e636f6d2f636573736e612f636573736e612d66726f6e742d636c6f736550353330303130382e6a7067)

[2018-02-17 23:50] gilbertohasnofb commented on #968
@tigert do you have any reference photos of the air intakes of the OH-CTL? I can't seem to find a working link to your photo album.

[2018-02-18 04:04] wlbragg commented on #966
That second picture is really helpful for the semicircle. I think I need to adjust ours a bit.

[2018-02-18 10:13] dany93 commented on #966
For the C172P I don't know, but yes, I've seen that on Ultralights for the rudder, one cable on each side.
[SkyRanger](http://www.skyranger.co.uk/wp-content/uploads/2016/09/Swift-2-build-manual-0.1.pdf) p. PDF 92/283, Fig 116.
You will probably receive better responses, but just in case...

[2018-02-18 12:09] gilbertohasnofb commented on #966
I think this cable is on both sides, I will try to find a picture.

We are barely adding any new polygons, we are mainly cleaning the current mesh. I am sure the performance difference will be negligible. Feel free to try the PR where this work is being done and report any performance issues if you see any.

[2018-02-18 13:19] dany93 commented on #966
Almost sure, the cable is on both sides.

[2018-02-18 13:35] algefaen commented on #966
Rudder control cable. Pretty symmetrical for both sides.

[2018-02-18 14:09] gilbertohasnofb commented on #966
Here is an excellent close up of Airfoil Labs's Cessna 172 SP, though the SP is a much more modern aircraft than our P model:

![](https://www.x-plained.com/wp-content/uploads/2017/06/Airfoillabs-C172SP-63.jpeg)

Here is a photo of an older model, possibly even a P. You can magnify it to check the tail details:

![](https://i.stack.imgur.com/HMOAG.jpg)

[2018-02-18 22:27] wlbragg commented on #966
I think there has been very little net gain. Some of the change are actually cleaning up some really messed up mesh so it's possible we will see an improvement in performance.

If anyone is really worried about adding more eye candy such as rudder cables, etc. please do check performance along the way and speak out if you notice something that causes a hit.

[2018-02-19 00:39] onox commented on #118
@wlbragg Do you plan to rework the leading edge as well? Make it a separate object for #737 ?

[2018-02-19 01:39] wlbragg commented on #118
Sure, let me take a look a little later tonight and see what it will take to separate it into its own object for the effect.

[2018-02-19 05:08] mathieugouin commented on #949
Ok, found the issue with `--aircraft-dir`.

For the record, if it can help someone else.

I have my additional a/c in:
`/home/mgouin/Documents/FG/Aircrafts`
Inside I have
- `c172p`
- `c182s`
- ... and so on ...

I have set `--fg-aircraft=/home/mgouin/Documents/FG/Aircrafts`

Flight gear seem to find correctly c182s in the sub directory, but for some reason, it finds c172p in the default install di

[2018-02-19 06:04] wlbragg commented on #118
@onox the leading edge of the wing is now a separate object so when someone is ready to do the dirt effect it is ready to go. I think I named it wing-leading-edge.

[2018-02-19 13:14] #430 closed

[2018-02-19 13:14] #860 closed

[2018-02-19 13:14] #965 closed

[2018-02-19 13:14] #966 closed

[2018-02-19 13:18] gilbertohasnofb opened #969 "Add cables to rudder"
Add cables to rudder using these as reference:

![](https://camo.githubusercontent.com/7387f601a826201690ced63c67c9ef67803f455b/68747470733a2f2f6469736369706c65736f66666c696768742e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031362f30392f322d736b796861776b2d61756374696f6e2d656c657661746f722d736372617463682e6a7067)

![](https://camo.githubusercontent.com/c2f8858a7844f6ee24fed8d0db07b26e8bd5809f

[2018-02-19 13:20] gilbertohasnofb commented on #319
As of 19 February 2018, we have a new and considerably different wing 3D model, so the broken wing model should be updated to match it.

[2018-02-19 13:22] gilbertohasnofb commented on #118
@wlbragg about the smoothness of the air vent tubes, compare my first image from 2015 to your latest one:

![](https://cloud.githubusercontent.com/assets/3361585/12218349/e0403ea4-b71c-11e5-95f7-e1096af1de06.png)

![](https://user-images.githubusercontent.com/11069680/36339191-61b81012-1385-11e8-9b00-f16fe8208474.png)

It really looks to me we lost the smoothness somewhere along the way.

[2018-02-19 13:24] wlbragg commented on #737
Effect is in place. All we need now is some nasal control and maybe another grain texture maps for the leading edge.

![fgfs-screen-011](https://user-images.githubusercontent.com/11069680/36379862-c5342a6a-1545-11e8-8972-55a64ca015ef.png)

[2018-02-19 13:32] gilbertohasnofb opened #970 "Improve flaps 3D model"
Perhaps we still have some room for improvements for the 3D model of the flaps. The top image is how they currently look like (in red, in a cross-section of the wing) and below is how they look in RL:

![flaps](https://user-images.githubusercontent.com/5700795/36380019-a9ad84b6-1578-11e8-86d3-2e3494143010.png)

Reference photos:

![](https://airfactsjournal.com/files/2015/07/Cessna-flaps-down.jpg)

[2018-02-19 13:32] gilbertohasnofb commented on #969
One more reference photo:

![](http://www.weekendcfii.com/photos/c172preflt/C172_tail_tie.jpg)

[2018-02-19 13:34] gilbertohasnofb commented on #737
@wlbragg Looking good! But perhaps this bit here shouldn't be part of the wing edge, as this is inside the cockpit glass and thus wouldn't get dirty:

![fg](https://user-images.githubusercontent.com/5700795/36380286-a05d06e2-1579-11e8-8f07-d47e17f5093e.jpg)

[2018-02-19 13:35] gilbertohasnofb commented on #737
same for the landing light.

[2018-02-19 17:12] wkitty42 commented on #949
On 02/19/2018 12:08 AM, Mathieu Gouin wrote:

you can also just stack them...

--fg-aircraft=/home/mgouin/Documents/FG/Aircrafts/c172p:/home/mgouin/Documents/FG/Aircrafts

note the colon (:) separating the two paths on linux... on winwhatever, it would
be a semicolon (;)... i don't know what mac uses but i suspect the same as
linux... --fg-scenery can be done this same way, too...

one key on the

[2018-02-19 18:02] onox commented on #779
@algefaen Are you able to record the engine of c172p? See the closed PR #780

[2018-02-19 18:03] onox commented on #958
@wlbragg @gilbertohasnofb Can you edit the comment above after closing PR #964 and describe what has been fixed? Seems quite a lot :)

[2018-02-19 18:05] onox commented on #958
@wlbragg Can I delete branch `regression-to-3.2` and `state-overlay-test`?

[2018-02-19 19:48] mathieugouin commented on #949
Thanks, but I still cannot understand why FG would not find c172p inside my sub-directories?

with --fg-aircraft=~/Documents/FG/Aircrafts

This folder is the git clone of this repo:
~/Documents/FG/Aircrafts/c172p

It seems the search order is as follows:
1. Immediate folder option of --fg-aircraft (no recursion)
2. Default system installation folder
3. --fg-aircraft (with recursion)

[2018-02-19 21:19] gilbertohasnofb commented on #779
@algefaen That would be great. If you can, please try the following: try to record a long take without talking and minimizing any other noises so that the engine is as pure as possible. Also, one take at idle and one at higher throttle would be great (keep the RPM as constant as possible during a take). The longer the takes the easier it is for me to loop them. Also feel free to record any other s

[2018-02-19 21:55] algefaen commented on #779
I'll try to get some recordings next time! I can try to get a complete set with in-cockpit, outside, starting, low rpm, high rpm, shutting down, etc... Just don't hold your breath, it'll be at least a couple of weeks.

[2018-02-19 22:19] gilbertohasnofb commented on #779
@algefaen absolutely no rush at all and many thanks!

[2018-02-19 23:11] gilbertohasnofb commented on #958
@wlbragg I added a small list of fixes to the first post, but feel free to describe things in more detail or to add more items.

[2018-02-19 23:26] gilbertohasnofb commented on #958
@wlbragg I decided to use your list of fixes from the forum.

[2018-02-20 00:35] wkitty42 commented on #949
On 02/19/2018 02:48 PM, Mathieu Gouin wrote:

FG doesn't know what ~ stands for in a path line... you have to specify it fully...

   --fg-aircraft=/home/youruser/Documents/FG/Aircrafts

i'm also assuming that your use of ~ and forward slashes "/" indicates you are
on linux...

[2018-02-20 02:23] wlbragg commented on #737
@gilbertohasnofb
Yes, I need to split anything that is not exposed to the elements to their own effect without the dirt.
We can make this as simple or complex as we want, ie: have it get dirtier over time until "wash-me" or just a slider to set manually. We can make a better dirt texture for the leading edge or for the glass or maybe a bug splat for the glass?
@onox, your input here would be helpf

[2018-02-20 02:24] wlbragg commented on #958
@onox, yes, delete away!

[2018-02-20 05:09] wlbragg commented on #118
Yep, your right once again. I just spent about 2 hours testing the smooth function and the auto smooth function in Blender until I finally figured out how they work. Please check the entire aircraft out carefully and see if there is anything that looks out of place. Hopefully you'll notice some improvements.

Things to pay special attention to...

Switches
Knobs
Radio stack
vertical stabilizer
rud

[2018-02-20 05:26] wlbragg commented on #622
I'll try to do this next, as soon as we get the mesh smoothing sorted out.

[2018-02-20 05:27] wlbragg commented on #600
I can do this also.

[2018-02-20 05:31] wlbragg commented on #118
I guess reopening this isn't really appropriate as this was for the wings. But I want to get this smoothing business straightened out.

You can check the model in the sim with branch issue-118 #971

[2018-02-20 05:38] wlbragg commented on #319
Duplicate wing objects #592 is a part of this.

[2018-02-20 12:21] gilbertohasnofb commented on #737
could you please point me to the texture files? I can see what I can come up with. Is there a working branch for this effect so I can tweak the textures and see the difference in the sim?

[2018-02-20 12:33] gilbertohasnofb commented on #118
@wlbragg I will be commenting on the PR, as I think that makes it easier for us to track progress

[2018-02-20 14:47] #118 closed

[2018-02-20 15:18] wlbragg commented on #737
I set up a working branch.

I am using the "rust" in fgdata, fgdata/Models/Geometry/Nimitz/rust_texture.png
There is the ice effect for another example, fgdata/Aircraft/Generic/Effects/window_frost.png
F16 uses this https://www.dropbox.com/s/kci98p4w2tvi9x2/canopy.png?dl=0
In the Cub to control frost and fog I use https://www.dropbox.com/s/ih0kyuli7rkj1qu/windshield.png?dl=0

The green channel of

[2018-02-20 21:19] legoboyvdlp commented on #967
Excellent. What is the min res you require... is 1362 * 701 any good? I imagine it's too low, but it's the screen size I have...

[2018-02-20 21:19] legoboyvdlp commented on #967
I'm sure you'd prefer to do it on your own, on a higher res, but if you want any screenshots let me know!

[2018-02-20 21:54] wlbragg commented on #782
I'm not sure where the initial information in this issue came from but I have it backward. emissive value should alway be false unless it is a spark or other effect that creates its own light.

However, all these these particle effects need to use something similar to the following nasal control to be correct or to change color of the effect.

We need to create a particle lighting control system i

[2018-02-20 22:17] gilbertohasnofb commented on #967
@legoboyvdlp many thanks for offering help, Lego, but I think we need at least 1920 x 1080 so that it looks good on most monitors. I will wait a bit to work on this since we are still doing visual improvements and I wouldn't like to miss the opportunity to include those as well :smile:

[2018-02-20 22:37] gilbertohasnofb opened #974 "Better UV-map of normal map on tail"
The UV-map of the normal map on tail is not looking too good:

![fg-1](https://user-images.githubusercontent.com/5700795/36453023-7f956fec-168e-11e8-92be-ab4470c13773.jpg)

Is this perhaps a side effect of fixing #430? If so, do we need to change the textures themselves rather than the UV-map of the normal textures, @wlbragg ?

[2018-02-20 22:37] gilbertohasnofb opened #975 "Improve VHF antenna models"
Improve VHF antenna models:

![fg-5](https://user-images.githubusercontent.com/5700795/36453060-a53904d4-168e-11e8-8574-dbe2baea0730.jpg)

[2018-02-20 22:39] gilbertohasnofb commented on #6
@wlbragg although this will probably change if we tackle this issue here, I just want to report that the compass has a hole in relation to the panel:

![fg-0](https://user-images.githubusercontent.com/5700795/36453137-f0341654-168e-11e8-825a-d7cff4d2aa2a.jpg)

[2018-02-20 23:05] wlbragg commented on #974
Interesting, I'll take a look. It may have been a side effect of #430

[2018-02-20 23:07] gilbertohasnofb commented on #737
@wlbragg would you like to try this dirt texture I just created? I don't know how it will look in the sim though as I didn't figure out how to test it.

![dirt](https://user-images.githubusercontent.com/5700795/36454160-b4f9253a-1692-11e8-916e-65cd4abe981a.png)

As for the glass, I will need to take a proper look on what we need. Can we use the same texture as the F16 in order to first implement t

[2018-02-20 23:08] gilbertohasnofb commented on #737
@wlbragg if the resolution of the image above is too much overkill, feel free to resize it to 512 x 512 which is the same res as that rust texture you are using.

[2018-02-20 23:10] gilbertohasnofb commented on #974
Compare those images to:

![c172p-preview8](https://user-images.githubusercontent.com/5700795/36454316-46e508b0-1693-11e8-8ac3-aa3f68646465.jpg)

[2018-02-20 23:15] gilbertohasnofb commented on #974
But if that's a side effect of #430 then I am afraid I will need to somehow correct those textures manually by slowly distorting them and testing in the sim, which is a bit annoying but should be doable. This is particularly annoying since FG does not reload textures in the sim even if the model is reloaded, so every tiny tweak needs a full restart of the sim... :sob:

[2018-02-20 23:17] wlbragg commented on #974
I think we're good. I just needed to move the mapping a tad. It's pushed.

[2018-02-20 23:22] wlbragg commented on #974
I just moved the area where the paint strips are a little more. I think it is as far as I can go though.

[2018-02-21 01:59] legoboyvdlp commented on #438
Juat a quick note here, I imagine the technique used on the Shuttle of multi channel lightmaps could be used here to create a more complex lighting scheme than that provided by the old lightmap technoque which I applied to the IDG.

[2018-02-21 02:03] legoboyvdlp commented on #751
This is simple to fix... I was looking for something to do. I wonder if @wlbragg any cockpit mesh changes are on the way, that is, can I safely branch off master or will it conflict with other work? I'll of course, porbably be forking as I for obvious reasons do not have push access...

[2018-02-21 02:17] legoboyvdlp commented on #682
Just looking through old issues, I definitely saw this mentioned recently, was this fixed in the remodelling efforts?

[2018-02-21 02:25] legoboyvdlp commented on #124
Confirm this is not implemented in the complex engine procedures?

[2018-02-21 02:47] wlbragg commented on #751
Right now there are two outstanding PR that deal with exterior mesh only (c172p.blend). I think all these modifications would be done in the individual instrument blends. So I think you'd be good to do this now. We are getting really close to attempting a major interior cockpit modification that will touch virtually every object on the panel and the panel itself. But the way it is going to be done

[2018-02-21 02:49] wlbragg commented on #682
No, it was slightly adjusted but not fixed.

[2018-02-21 02:56] onox commented on #124
Engine damage has not been implemented so far. Do you want to work on it?

One way to implement it::

[2018-02-21 03:03] onox commented on #967
Do we really need to recreate all of them? Aren't some still usable because the changes are not visible due to the camera angle being used?

[2018-02-21 04:08] wlbragg commented on #967
"need to", no not really, but @gilbertohasnofb and myself can really notice the differences in the old screen shots VS the new work that has been done. It is extensive and probably visible at almost every angle. Although we're probably the only ones that will notice the differences in the splash screens. :smile:

[2018-02-21 08:16] legoboyvdlp commented on #124
I've some ideas, yes -> but I'll be working on #751 first before I even think of this...

[2018-02-21 08:26] legoboyvdlp commented on #751
Just putting a  couple photographs here for reference.
![image](https://user-images.githubusercontent.com/10434911/36469920-df59dace-16e0-11e8-8dbf-fdd44e5bf292.png)

[2018-02-21 08:32] legoboyvdlp opened #976 "Extinguisher object missing in master branch"
Could not find at least one of the following objects for animation: 'extinguisher2'

[2018-02-21 08:41] legoboyvdlp commented on #751
It seems a heading bug is not common in Cessna's but I'll make it the same as the DG adjust knob... should work ;)

AI horizon offset and cage knobs extended slightly:
![image](https://user-images.githubusercontent.com/10434911/36470495-e80cbd6a-16e2-11e8-83c0-5598def9043c.png)
![image](https://user-images.githubusercontent.com/10434911/36470498-efcb2384-16e2-11e8-9144-7c13d72eee4f.png)

[2018-02-21 08:59] legoboyvdlp commented on #751
@wlbragg I believe I'm finished, having done the AI, DG, VOR 1/2, ADF, ALT, and I think that's all that I noticed. Please check this and make sure there are no issues!

[2018-02-21 10:30] #974 closed

[2018-02-21 10:35] gilbertohasnofb commented on #967
@onox I think I need to recreate _all_ of them, really. They are all quite old and missing nice new features, none of them show the reflection effects we now have, most have outdated shapes for the rudder, ugly mesh or ugly UV-mapping here and there, etc. It's not so much work to be honest, and I will try to recreate them in the exact locations and conditions so there is nothing to worry about exc

[2018-02-21 10:35] gilbertohasnofb commented on #967
@wlbragg but I will probably wait for the major cockpit improvements before doing so, as that might be a bit visible from the outside, and splash 1 is a cockpit shot.

[2018-02-21 10:36] gilbertohasnofb commented on #682
@wlbragg what about hiding the lamp object while the flash is on? Is that too much of a hack?

[2018-02-21 12:33] legoboyvdlp commented on #124
Thinking out loud how you would do this ->

I'd probably simulate the actual damage in Nasal using a single setprop, then use an interpolation table to lower the RPM.

[2018-02-21 12:43] wlbragg commented on #682
I had the same thought but figured it wouldn't look right. I think you'd notice the light disappearing during a flash. I worked with it for over an hour yesterday trying to get it to look right, but no luck .The c182s doesn't do what ours is doing and I can't figure out why?

[2018-02-21 13:08] legoboyvdlp commented on #682
How about making the light itself transparent, but with a red tinted glass...?

[2018-02-21 13:56] dany93 opened #978 "Slip skid ball disappears in yawed view"
When the slip-skid-ball is noticeably off-centered, yawing the view (looking sidewards) makes it disappear.
To get it:
- have the slip-skid-ball off-center (e.g. by pushing on the rudder),
- yaw the view (look sidewards). Rightwards if the slip ball offset is to the right.

The test can be done even in pause.
ALS or not.
It happens in flight when the Cockpit View Options > Enable dynamic Cockpit V

[2018-02-21 14:15] legoboyvdlp opened #979 "Engine misbehaves beyond 265 degF oil temperature"
While testing the Lycoming I deliberately maxed the engine on the ground while leaning the mixture to increase EGT - as the oil temperature reached 265, the engine began to flicker between killed and not killed, doing 350+ RPM jumps -> this indicates a bug, as the engine should probably overheat and then just die as the oil overheats? It should not repeatedly kill the engine then turn it back on.

[2018-02-21 14:54] legoboyvdlp commented on #124
Just a quick update here,
After an hours work, I've managed to make the engine kill itself if the oil pressure drops below 45psi, except when starting up, as well as coughing when it drops below 50psi.

Also, I now have a damage simulation, where a nasal controller adds damage levels according to the following rule:

1 point of damage per 100RPM over limit added per second, so the damage increases

[2018-02-21 15:18] onox commented on #124
That was the idea yes.

@gilbertohasnofb Does the c182 project has a heater that we can use?

Personally I don't like these extra checkboxes (just always simulate everything), but the majority has decided they want it.

[2018-02-21 15:18] onox commented on #124
You can define the interpolation table in XML, maybe the easiest way.

[2018-02-21 15:19] legoboyvdlp commented on #124
Hi Onox,
Thank you for your help 👍 😃
So far I'm troubleshooting the oil pressure to make sure startup still works, once that is finished I'll troubleshoot the damage controller, then add the interpolation table :)

[2018-02-21 15:22] onox commented on #682
Isn't it possible to move the quad in the .ac a little bit to the front, so that the quad is always positioned in front of the object it is positioned at?

[2018-02-21 15:25] onox commented on #124
You should also make sure things work in the flight recorder (replay). When the user replays the flight, the flight recorder writes the recorded properties and assumes that there's no Nasal that interferes. In the `master` branch I think the oil management code doesn't take that into account IIRC.

[2018-02-21 15:25] legoboyvdlp commented on #124
Thanks - I'll do that :)

[2018-02-21 15:30] legoboyvdlp commented on #682
What about looking at the beacon from the rear?

[2018-02-21 15:41] legoboyvdlp commented on #124
@onox sorry to disturb you, just to let you know I've completed the Nasal / property rules part. I only need to create the interpolation table: for that, I would need some suggestions as to how damage levels (1 per 100RPM over the limit per second over the limit) affect RPM, and what level to kill the engine completely at.

[2018-02-21 15:49] legoboyvdlp opened #980 "Investigate replacing current autopilot with ITAF:GA KAP140 module"
it0uchpods asked me to investigate adding the ITAF:GA KAP140 module from his Warrior to the Cessna 172P. He says that it has far better logic controlling than the current KAP140, and is more stable. Also, he says he is willing to create a prototype and send it to you for your consideration.

The J3Cub currently uses the ITAF:GA, but not the KAP140 module.
The Warrior uses the KAP140 module for ITA

[2018-02-21 15:54] onox commented on #980
Has he read https://github.com/c172p-team/c172p-detailed/issues/603#issuecomment-164127990 ?

[2018-02-21 15:55] legoboyvdlp commented on #975
A very similar antenna if not the same one:
![image](https://user-images.githubusercontent.com/10434911/36490219-b2a0299a-171f-11e8-990f-89231b606aeb.png)

[2018-02-21 15:57] onox commented on #124
Does the POH contain any information about how regularly do an engine inspection?

[2018-02-21 15:58] onox commented on #682
The quad's orientation is always such that it faces the camera.

[2018-02-21 16:00] legoboyvdlp commented on #980
I'll let him know.

[2018-02-21 16:01] legoboyvdlp commented on #124
Checking.

[2018-02-21 16:02] legoboyvdlp commented on #124
By the way, I see the C182 has a far more advanced oil management simulation - see engine.nas I wonder if @HHS81 would let us reuse his code for the C172P?

[2018-02-21 16:04] it0uchpods commented on #603
Hi, @onox
I wrote my KAP140 ITAF module to replace the FGData autopilot, which was working poorly, I did not get REV mode finished, but that can be done rather easily.

This aircraft is really good, but the autopilot is quite lacking, hence why I recommended this to @legoboyvdlp. If you'd like, I can fork this and make a prototype and you can decide whether you want to use it or not.

Kind Regards

[2018-02-21 16:05] it0uchpods commented on #980
I'm up to date.

J

[2018-02-21 16:12] legoboyvdlp commented on #124
@onox
Before each flight of the day, the aircraft is checked for leaks and oil, fuel level, the air filter is checked, and the fuel drain is opened to remove sediment, water, etc

At 25 hours, new, rebuilt, or overhauled engines have their oil drained and renewed: aircraft that have "oil filter screens" must have this done every 25 hours no matter the age.

At 50 hours, the primer, throttle, mixtu

[2018-02-21 16:19] onox commented on #124
@gilbertohasnofb implemented the oil management at the time. If the more advanced simulation can be added to the c172p that would be nice.

[2018-02-21 16:22] onox commented on #603
Can you elaborate?

[2018-02-21 16:38] it0uchpods commented on #603
Hi @onox,
I find to often be unstable, and does not work reliably. I experienced many oscillations, mostly in the pitch axis, and while navigating VORs and ILSs.

Kind Regards,
Josh

[2018-02-21 16:43] onox commented on #603
Isn't it then just sufficient to tune the PID controllers? That's what I wanted to do when I wanted to refactor (https://github.com/c172p-team/c172p-detailed/issues/603#issuecomment-164162176) the code and clean it up a bit.

The KAP 140 AP generally behaves a bit odd if you're used to other AP's in FG.

[2018-02-21 16:45] it0uchpods commented on #603
I attempted to do so in my PA28-Warrior, however, the changes became so extreme, I just decided to rewrite the entire XML file, all controllers.

I also ended up changing the nasal, as the nasal also has some faults, and during doing so, I used the Pilot manual to do so.

I already have 90% of the code, so it wouldn't too much work to finish it.

Kind Regards,
Josh

[2018-02-21 16:48] onox commented on #603
Tuning the PID controllers just requires changing some numbers, it shouldn't require extensive changes, should it?

[2018-02-21 16:58] onox commented on #603
@it0uchpods How much code are we talking about? Does it reproduce the KAP140 oddities like requiring the pilot to set the HDG bug when switching to NAV for example? Is the F11 GUI a canvas window?

[2018-02-21 17:01] it0uchpods commented on #603
@onox That is the problem. Just retuning everything won't fix it fully. I've rewritten the entire XML in a much more advanced way.

I didn't do that yet, but those things can be added rather quickly.

I don't know exactly, but many hundreds of lines.

Kind Regards,
Josh

[2018-02-21 17:16] wlbragg commented on #682
I looked at the c182s in Blender and I though ours was identical, I'll look again with this bit of information and see if I missed something. @onox do you know what the offset is for in the beacon code?
[code]

[2018-02-21 17:30] onox commented on #682
It's used like this: translation = offset-m + factor * (property | expression | 1)

[2018-02-21 17:32] onox commented on #682
But the offset has to happen in the direction towards the camera, so it should be done in the .ac file or in the vertex shader.

[2018-02-21 18:03] legoboyvdlp commented on #603
@onox I am sure that it0uchpods could guarantee that whatever is in the Bendix KAP 140 manual will be in the ITAF KAP140?

[2018-02-21 18:56] wlbragg commented on #603
I'm impressed with the stability of @it0uchpods autopilots. I'm using the ga in the j3cub  with no complaints, "other than he won't make me one for the yasim Aircrane" :smile:

I don't know if anyone else has ever experienced this issue I have with our autopilot. But I have verified this to myself more than once. If I set the autopilot to fly a direction and sit back and relax, after a certain amo

[2018-02-21 19:00] it0uchpods commented on #603
@wlbragg thank you. :)
[offtopic]
Ultimately it could be done, but I don't have enough time to fully design a full new system for helis right now
[/offtopic]

I suggest anyone to try the PA28-Warrior in my repo, you can try the KAP140 I developed there, which works about 80-90% correctly. The remaining functionality I could probably get in there rather quickly.

Kind Regards,
Josh

[2018-02-21 19:09] HHS81 commented on #603
@it0uchpods
Please tell us what you mean with "correctly"!
Does it relay on the same systems like the real KAP140?

Looking at your implementation I can say: No!

As you know, FlightGears motto is, to make it work like the real one. That means simulating it, emulating it where possible.
Please have a look on the pages of the manual of the KAP140 where the underlying systems and inputs are describe

[2018-02-21 19:11] HHS81 commented on #682
@onox
@wlbragg
As can remember it is done in the .ac

[2018-02-21 19:12] HHS81 commented on #124
@legoboyvdlp
It is GNU GPL, so.... :smile:

[2018-02-21 19:16] HHS81 commented on #603
Btw: some older autopilots (60s/70s/80s) has some oscillations, Thorsten Dreyer reported that his owned real SenecaII does the same shaking over a VOR like it does in FlightGear.

[2018-02-21 19:19] it0uchpods commented on #603
@HHS81
The behavior is the same. The ultimate issue I had was that alot of readings could not be found properly, such as air pressure. I had tremendous problems with this property and decided instead to base it off a more stable property, vertical speed.

By correctly, I am describing the behavior. Button presses, etc. However, when I designed this AP, the aircraft was still yasim. perhaps JSB mak

[2018-02-21 19:32] HHS81 commented on #438
There aren't so many lights in the c172p as I understood the POH

PANEL LT
Dome (Flood) lights
Cabin Lights
(and if wanted Post lights (at the edge of each instrument))

That needs at least 3 (4) channel.

[2018-02-21 19:41] HHS81 commented on #603
@it0uchpods

That's not how the real KAP140 is working.

Property: `/systems/static[0]/pressure-inhg[0]` ?
Nothing to do with JSBSim.....

Which bugs? What's wrong?

Framerates? Turbulences? (especially the later is often much stronger in FGFS than in real life)

FlightGear is about making things right- that means simulating/ emulating it like the real ones.
I think @onox described the issues of t

[2018-02-21 19:47] it0uchpods commented on #603
Hmm, then I'm not sure. I saw the original was using pressure, so that is what I tried to do at first, but it proved very irritating.

I won't bother then.

Kind Regards,
Josh

[2018-02-21 20:13] wkitty42 commented on #603
On 02/21/2018 01:56 PM, wlbragg wrote:

i've never seen anything like that and i'm one to fly the c172p across country
from KSFO to KJFK (for example) non-stop (using fuel freeze)...

as soon as i get off the ground, i've got the AP on for wing leveling, heading
control and especially maintaining the climb rate which i generally run ~700 or
less depending on altitude... i forget when i set my desi

[2018-02-21 20:16] legoboyvdlp commented on #124
:)
Thanks, HHS!

[2018-02-21 20:37] HHS81 commented on #603
@it0uchpods
I wouldn't say that. The KAP140 needs some tuning, some up-to-date nasal code....

[2018-02-21 21:12] it0uchpods commented on #603
@HHS81 -, ok then.
I'll probably end up rewriting the XML portion again then, to keep it neat, and up to date.
When I get some spare time I'll look into it.

Kind Regards,
Josh

[2018-02-21 21:33] gilbertohasnofb commented on #975
Thanks lego, that's a better reference photo

[2018-02-21 21:35] gilbertohasnofb commented on #979
That's actually a feature. Since we don't have damage implemented, the oil temp code shuts down the engine at very low oil, simulating a broken engine. If you take care of implementing the engine damage then this needs to be modified. Should be quite trivial to do so but I am happy to help you if you need a hand finding your way on my previous code. The oil management is controlled by the function

[2018-02-21 21:40] onox commented on #603
To me replacing the AP with ITAF feels like adding a full blown professional Airbus AP to a little cessna. Not sure that is what we want.

[2018-02-21 21:40] gilbertohasnofb commented on #978
@dany93 I can't reproduce this:

![fg-0](https://user-images.githubusercontent.com/5700795/36506865-c1f7f38e-174f-11e8-8301-25105a78ada3.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/36506867-c22c7f3c-174f-11e8-8fd5-8922eb0c1977.jpg)
![fg-2](https://user-images.githubusercontent.com/5700795/36506868-c2504430-174f-11e8-82ac-db18aa369027.jpg)

Could @onox or @wlbragg see if they can

[2018-02-21 21:44] it0uchpods commented on #603
There is a huge difference between ITAF and ITAF:GA. Furthermore, I have a KAP140 module which sits on top of ITAF:GA and makes the logic behave like a KAP140.

J

[2018-02-21 21:47] onox commented on #978
I can reproduce it. Start the engine, move rudder to the right so the ball goes to the left, then move the camera to the right.

[2018-02-21 21:47] onox commented on #978
I'm using the blue/white default livery.

[2018-02-21 21:51] onox commented on #978
Livery doesn't matter.

[2018-02-21 21:59] onox commented on #978
Is this an issue with transparency again? I remember vaguely that we had a similar issue with the heading indicator.

[2018-02-21 22:09] gilbertohasnofb commented on #978
Possibly, it's not the first time we have disappearing/glitchy slip balls due to that.

I will try to reproduce this again.

[2018-02-21 22:11] gilbertohasnofb commented on #978
Just tried again, can't reproduce this.

[2018-02-21 22:14] gilbertohasnofb commented on #124
As I wrote elsewhere, Lego, I did implement some sort of engine killing feature due to low oil but that's quite rudimentary. Basically the engine starts coughing below a certain threshold and dies below another lower threshold. If you implement engine damage, please remove the code that kills the engine (coughing should be fine though), it's all located in `engine.nas`. Let me know if you need a h

[2018-02-21 22:26] onox commented on #978
@dany93 Which video driver are you using?

[2018-02-21 22:42] gilbertohasnofb commented on #976
@legoboyvdlp do you mean you can't find the files? The extiguinsher is defined at `Models/Interior/FE-ELT/fe2.xml`

[2018-02-21 22:59] dany93 commented on #978
NVIDIA GeForce GTX 650
Driver 384.111 (Linux Mint 18)

[2018-02-21 23:11] gilbertohasnofb commented on #978
I tested on an Intel card on Linux, I will test on my NVidia tomorrow.

[2018-02-21 23:19] onox commented on #978
I reproduced it on Intel (Linux)

[2018-02-21 23:24] dany93 commented on #978
I'm rather basic at Blender, but the "Face" texture is weird in the glass tube in 3D view, where it should be transparent.

![capture du 2018-02-22 00-21-16](https://user-images.githubusercontent.com/11994061/36511310-71af1f26-1766-11e8-89a7-d69dfbfe1fca.png)

[2018-02-21 23:51] wlbragg commented on #978
Oh dear, I remember this. Talk about deja vu. There is a whole issue based on this. That got cleaned up a long time ago! What's up with this?

[2018-02-22 00:03] onox commented on #976
I think it's a message printed by FG. The object in `fe2.ac` is called `extinguisher`, but `fe2.xml` refers to `extinguisher2`.

[2018-02-22 00:04] onox commented on #976
There's also an empty `<animation>` block in that file.

[2018-02-22 00:34] legoboyvdlp commented on #976
Excdllent, thank you.

[2018-02-22 00:40] wlbragg commented on #682
In the case of the Beacon...
What is the offset for?
Why is it used?
What does it do?

[2018-02-22 00:43] legoboyvdlp commented on #124
I see exactly what you did, it is simple, but I like simple :)

I've successfully managed to readapt your code for low pressure and high pressure. The engine will start to cough if you leave it at a very low idle speed - perhaps 400RPM for too long. It will die at about 35psi, unless the engine is in a starting state, which I had to hack to prevent constant coughing when starting...

I also implem

[2018-02-22 00:44] legoboyvdlp commented on #979
Thank you: so the engine damage at high temperature is also simulated, or does the pressure drop as temperature rises? I did not touch the oil level... this was with a full seven quarts of oil :)

[2018-02-22 01:13] wlbragg commented on #682
OK, it's fixed. Don't ask me how though because I really don't have a solid answer. I have a feeling though the coordinate directions are mixed up VS what we use for other animations and that is why it never made any sense to me looking at examples.

I hope this is good enough, as I am done with it.

[2018-02-22 17:16] gilbertohasnofb commented on #978
@onox I took the phrase 'move the camera' literally and moved it sideways, not only rotating it. But if I just rotate it as you described I still can't reproduce it:

![fg-0](https://user-images.githubusercontent.com/5700795/36553409-1e8a3a2c-17f4-11e8-9c14-3f4d534e3dc4.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/36553410-1eb32306-17f4-11e8-9993-80108d7cad9b.jpg)
![fg-2](https:/

[2018-02-22 17:19] gilbertohasnofb commented on #979
@legoboyvdlp engine dies in relation to low oil level, but low oil level causes temperatures to rise. You possibly will want to uncouple the latter one if you are going to truly simulate damage and oil temp effects.

[2018-02-22 17:31] gilbertohasnofb opened #982 "Tires should not be reflective"
Tires should not be reflective as it makes them look metallic:

![fg](https://user-images.githubusercontent.com/5700795/36554136-3a325ce4-17f6-11e8-96cb-ff418cca5f17.jpg)

[2018-02-22 17:33] #976 closed

[2018-02-22 17:37] gilbertohasnofb commented on #930
Hmm, this issue has been fixed but not closed, see:

![fg](https://user-images.githubusercontent.com/5700795/36554403-194e9974-17f7-11e8-958f-8c62a261d578.jpg)

[2018-02-22 17:37] #930 closed

[2018-02-22 17:39] gilbertohasnofb commented on #930
I believe this was fixed by #151

[2018-02-22 17:42] gilbertohasnofb commented on #930
Oh gosh, this issue was a mistake by me, apologies: the long magneto switch belonged to the c182s and not to this project! My report was in the wrong repository... anyway, both aircraft are fine now :smile:

[2018-02-22 17:50] dany93 commented on #978
With your slip ball on the left you had to look rightwards. But I guess that you tried both sides.
(I made a mistake on this at my first description)

[2018-02-22 17:54] gilbertohasnofb commented on #978
I can now reproduce it:

![fg](https://user-images.githubusercontent.com/5700795/36555264-53b3b912-17f9-11e8-83ad-b1e459bcc5ab.jpg)

Apologies, it seems I was trying only one side and coincidently the one where the bug is not present.

[2018-02-22 19:56] wlbragg commented on #982
Wow, OK kiddy's here is your lesson for the day.
I am relatively new to scene lighting as in I didn't know or care about the basics. Well now I do.

A long time ago I decided to do a JSBSim version of the Cub. The very first thing I did to the lighting effects was to get rid of the "specular fix" in the XML file. I did it because it mad the aircraft look like crap. I didn't know why. I didn't know

[2018-02-22 19:59] HHS81 commented on #982
@wlbragg
1) change the reflectionmap
or
2) change the material settings of the wheel (add an own material for)

[2018-02-22 20:04] legoboyvdlp commented on #979
OK. I will do my best... :)

My issue occured when going at full throttle until oil temp rose beyond 265 degF, 20deg past the limit... did not check if it was my bug or yours.

It doesn't look like a cough, but an actual bug.

[2018-02-22 20:04] wlbragg commented on #982
Sorry, I decided otherwise on my approach to this after looking at it a little farther. Pretend you didn't just see how dumb I really am! After looking a little closer I guess what was going on was originally the "specular fix" was intended to be just for the shinny surface areas of the fuselage and exterior part. I think other objects that should never have been added to it were. Many be me! Like

[2018-02-22 20:05] HHS81 commented on #982
we had the same issue on the wheels of the dornier328. xcvb85 solved it anyhow.

[2018-02-22 20:16] wlbragg commented on #982
OK, we can make this as complicated or simple as we want.
My opinion...
First we need to look all the exterior objects and decide at what light settings each object looks best.
Ultimately these settings should be done in Blender (the .ac mesh) and not in the XML. Because, you can see it all together in Blender instead of guessing and having to adjust the XML and then see it in the sim to verify. A

[2018-02-22 20:32] HHS81 commented on #982
@wlbragg: the reasong doing it in .xml is, that you can change the material settings in runtime. Reflection and specular effects depends on the coating/ painting used. Every coating/ painting is different - so I can set it per livery.

[2018-02-22 20:47] wlbragg commented on #982
Good to know, it looks like we don't change any lighting settings in our livery material setting blocks but I guess I see how you would do that and it make sense. But the original default livery shouldn't need that material change in the XML as far as I can tell.

@gilbertohasnofb
Here is were were at with the tires. To do this right I should separate the rims from the tires, but I don't really wa

[2018-02-22 20:53] wlbragg commented on #982
@gilbertohasnofb
I'll push this so you can see it in the sim.

I change a few things on the exterior. Such as the following objects are now under the light settings of their .ac and not the specular fix.
TieDownTail
TieDownRight
TieDownLeft
TransponderAntenna
Antenna_ADF
Antenna_VOR
VHFAntenna
NoseWheel
LeftWheel
RightWheel
Axle

[2018-02-22 20:58] gilbertohasnofb commented on #982
Hmm, I see. If that's too much work then I guess we can live with it, but the structure that holds the tire looks quite different from the rest of the fuselage in that shot (the structure is nearly full white). In RL, this piece is actually metallic and very reflective, see:

![](https://www.flyingmag.com/sites/flyingmag.com/files/styles/655_1x_/public/import/2015/sites/all/files/_images/201504/Sk

[2018-02-22 20:58] gilbertohasnofb commented on #979
Cool Lego, give me a shout if I can help with anything! Thanks for taking a look at this issue here.

[2018-02-22 21:00] #751 closed

[2018-02-22 21:04] gilbertohasnofb opened #983 "Improve matching of fuselage texture"
The fuselage textures of all liveries are having some matching issues, some shades do not match when two parts are stitched together and some artifacts are also being shown.

![](https://user-images.githubusercontent.com/10434911/36479726-98cc2df2-1701-11e8-960e-3d5204f8e9d5.png)

![](https://user-images.githubusercontent.com/11069680/36512234-2222c9b2-172f-11e8-9da7-8b29e2bc72f2.jpg)

![](https:/

[2018-02-22 21:05] wlbragg commented on #982
That is a mistake on my part, I can fix that. I'm talking about the rim itself. It is going to get the same light settings as the tires unless we separate the rims from the tires into new object. I think we will have to do it whether I want to or not.

[2018-02-22 21:12] wlbragg commented on #982
Unfortunately, it' going to be the existing branch for Create grain effect (dirt) #973
I'm making too many changes to the blend to be able to do it in another branch. We can eventually tie all affected issues to that PR. Maybe we should rename that PR as it initially had a blend change for the dirt effect but now it contains numerous changes to the blend for multiple issues? Working on the mesh do

[2018-02-22 21:33] wlbragg commented on #982
If you want to make us a metallic texture in fuselage.png I'll use it for the front tire forks!

[2018-02-22 22:00] gilbertohasnofb commented on #982
It would be cool to apply the effect to the rims but that would just be a small detail, I am completely fine in leaving them as they are. But if you notice, in the photograph above this structure holding the front tire is quite different than what we have in the sim. Is that a case for remodelling it?

No problems, I completely understand your reasoning.

Will do that, give me a second.

[2018-02-22 22:02] gilbertohasnofb commented on #982
More photographic references, all these below are model P's:

![](http://imgproc.airliners.net/photos/airliners/7/7/5/4843577.jpg?v=v4b6ffb15c0b)
![](http://imgproc.airliners.net/photos/airliners/5/2/9/4763925.jpg?v=v4c6c51cca0a)
![](http://imgproc.airliners.net/photos/airliners/1/5/0/4761051.jpg?v=v4b8f29e353d)

[2018-02-22 22:15] wlbragg commented on #982
Hold on, look at this.
![fgfs-screen-013](https://user-images.githubusercontent.com/11069680/36567277-88ed20cc-17eb-11e8-9ecc-8fb1e34ddf25.png)
![fgfs-screen-014](https://user-images.githubusercontent.com/11069680/36567282-8acdf4ac-17eb-11e8-8fd6-9cd669262507.png)

[2018-02-22 22:15] gilbertohasnofb commented on #982
@wlbragg ok, done. See the texture below. Texture B should be used only for the shiny cylinder connecting the main tire hook to the aircraft. Texture A should be used for the hook itself and all other parts that aren't shiny in those references:

![fg](https://user-images.githubusercontent.com/5700795/36567253-c17b79ac-181d-11e8-8e49-54ef1ed7a65d.jpg)

Makes sense?

[2018-02-22 22:16] gilbertohasnofb commented on #982
Looks wonderful!

[2018-02-22 22:16] gilbertohasnofb commented on #982
Make sure to test the model with the fairings.

[2018-02-22 22:20] wlbragg commented on #982
That is with existing texture

Let me do it with the new texture and see what it looks like and then we can decide.

[2018-02-22 22:21] gilbertohasnofb commented on #982
I know, I meant the model :wink:

[2018-02-22 22:27] wlbragg commented on #982
Yes

Can you post the same image as a png without the red markup so I can test it?

[2018-02-22 22:28] gilbertohasnofb commented on #982
I pushed it to the branch! See commit https://github.com/c172p-team/c172p-detailed/pull/973/commits/6e114d406303b7c044ca0690eaf7d9c0b370ef67

[2018-02-22 22:30] wlbragg commented on #982
It just now donned on me you think I redid the model. I didn't touch the model, just remapped the UV to a different part of the original texture, changed the lighting setting and the smoothing setting. Amazing what you can get away with.

[2018-02-22 22:32] wlbragg commented on #982
OK, thanks. Should have something here shortly.

[2018-02-22 22:45] wlbragg commented on #982
![fgfs-screen-015](https://user-images.githubusercontent.com/11069680/36568462-b7b57022-17ef-11e8-8c0f-66acab293d57.png)
![fgfs-screen-016](https://user-images.githubusercontent.com/11069680/36568468-ba19b724-17ef-11e8-8fb2-42bc856d9193.png)

[2018-02-22 22:50] wlbragg commented on #982
Very nice!
![fgfs-screen-001](https://user-images.githubusercontent.com/11069680/36568653-6795cfc8-17f0-11e8-9727-3c64dd956277.png)
![fgfs-screen-002](https://user-images.githubusercontent.com/11069680/36568656-6a3e6032-17f0-11e8-9a11-48ba9327db46.png)

[2018-02-22 22:54] gilbertohasnofb commented on #982
Much better indeed! But I am not sure if I am seeing things correctly but it seems that the bright cylinder is not fully mapped to the shiny metal texture (B in my reference). Compare this:

![fg](https://user-images.githubusercontent.com/5700795/36568806-44cc6118-1823-11e8-9a9d-0e7b17216887.jpg)

But perhaps that's just the screenshot.

[2018-02-22 22:55] gilbertohasnofb commented on #982
Blue is texture A (whitish matte metal) and red is texture B (shinny metallic texture for the cylinder)

[2018-02-22 23:13] wlbragg commented on #982
![fgfs-screen-003](https://user-images.githubusercontent.com/11069680/36569316-f7bbd23a-17f2-11e8-85c9-ba3b38632083.png)
Here is the bushkit mapped the same way to the new texture and with the new lighting settings and smoothness settings.
![fgfs-screen-006](https://user-images.githubusercontent.com/11069680/36569486-a58fd122-17f3-11e8-99e1-34b8cd9d71f9.png)

It is, change the angle your looking a

[2018-02-22 23:19] gilbertohasnofb commented on #982
Yeah, I can see it now. Sorry it was just looking different from that angle. Thanks for mapping the textures, I guess this one is done.

[2018-02-22 23:26] wlbragg commented on #982
Yes, I added "Fixes #982" to PR.

[2018-02-23 00:46] legoboyvdlp commented on #982
Sorry, just a comment on an unrelated note, on the second image in the comment whrre wlbragg says the texture is "very nice" (as it is), the nose tire appears the be buried in the runway slightly?

[2018-02-23 00:52] gilbertohasnofb commented on #982
@legoboyvdlp I also noted that. Perhaps we should open a new issue for that, would you like to do that? You could add to it the screenshot that you mentioned.

[2018-02-23 00:55] legoboyvdlp opened #984 "Nose wheel buried in the ground"
![36568656-6a3e6032-17f0-11e8-9a11-48ba9327db46](https://user-images.githubusercontent.com/10434911/36572525-36a3c7d2-1834-11e8-8864-e4196934b368.png)

[2018-02-23 01:02] legoboyvdlp opened #985 "C172P, landing light in the wing or the nose?"
This is probably a stupid question, but I understood our 172P to be a 1981 model? Supposedly, "in 1982, the "P" saw the landing lights moved from the nose to the wing to increase bulb life", according to Wikipedia - could our landing light actually be that of the 1982, not the 1981? Or are we actually a 1982 172?

[2018-02-23 01:05] legoboyvdlp commented on #984
Just noticed something else - I thought perhaps I had anti aliasing off, but there appears to be a normal map problem with the rivets on the part where the fuselage rises to meet the tail.

[2018-02-23 01:13] gilbertohasnofb commented on #984
@wlbragg I also noticed those rivets around the tail but forgot to bring it up to you, would you prefer that we open a new issue for that or do we tackle this in the mega PR you are working on?

[2018-02-23 01:27] wlbragg commented on #984
I'll be pushing any changes to the "mega PR" but if you want to make an issue that's OK too. I'll just refer to it in the pr ie: "Fixes XX".
Someone needs to post a screen shot highlighting the exact issue though.

[2018-02-23 01:33] gilbertohasnofb commented on #984
@legoboyvdlp would you post the screenshot with the highlight?

[2018-02-23 01:39] gilbertohasnofb commented on #982
@wlbragg since you have lowered the shininess of the aircraft, would it be possible to raise it only for specific parts such as this new shiny metallic part of the landing gear structure? Or is it defined for the whole aircraft?

[2018-02-23 02:14] legoboyvdlp commented on #984
Unable, sorry @gilbertohasnofb  - on mobile, and it is 2am :)

If you can, please go ahead - I'm sure you can see it on the screenshot.

[2018-02-23 02:28] wlbragg commented on #982
Yes, as long as the object is standalone we can give it whatever we want.
Done!

[2018-02-23 03:39] wlbragg commented on #984
Done!
![fgfs-screen-001](https://user-images.githubusercontent.com/11069680/36576810-c8f613a4-1818-11e8-9087-484fe8bf1c53.png)

[2018-02-23 05:58] wlbragg commented on #970
Here is a preview of our next cool upgrade.
https://youtu.be/ERLddEDqC54

[2018-02-23 08:26] wlbragg commented on #970
Done!

[2018-02-23 10:19] legoboyvdlp commented on #984
Great :)

It's a small thing, but it really improves it!

You must be getting annoyed with gilberto and I, constantly noticing small things and expecting you to fix them... 😛

[2018-02-23 12:34] gilbertohasnofb commented on #970
Looks amazing!!

[2018-02-23 13:15] dany93 commented on #970
Very nice!

[2018-02-23 16:52] legoboyvdlp commented on #979
The oil pressure decreases as temperature increases - this behaviour is incorrect

[2018-02-23 17:09] wlbragg commented on #984
They may be small but they are really starting to add up to making this a nice model.

Nope, I actually appreciate your time and the time it take to identify these issues more than you know.

[2018-02-23 17:15] legoboyvdlp commented on #984
I'll be checking out your branch soon to have a closer look to make more work for you 😜

As for this issue, would it be an XML error or perhaps a jsbsim error with the point mass?

[2018-02-23 17:18] legoboyvdlp commented on #124
@gilbertohasnofb I'd appreciate it if you could test the oil system, and coughing when the pressure is too low / high?
That's the first part, the second part is to make the RPM drop as damage increases.

[2018-02-23 17:24] wlbragg commented on #984
I hope you don't mind but I just fixed it. It is a little more complicated with this aircraft because of the gear changes we make. So you technically have to change it in c172p-ground-effects.xml.
I'll push this right now so you can see how we do it.
FYI: I have always preferred a very slight flattening of the bottom of the tire (as in real life), plus it lets you know you are actually on the grou

[2018-02-23 17:36] dany93 commented on #984
I completely agree with you @wlbragg for the slight flattening of the bottom of the tires on the ground.

[2018-02-23 18:00] dany93 commented on #984
Tested your issue-737 (for the tires).
Accurate and nice @wlbragg!
?? Maybe the 36" nose wheel slightly more flattened ?

[2018-02-23 18:03] wlbragg commented on #956
I remapped the propeller and changed the lighting and smoothness settings. I think that is the best I can do without a texture change.
![prop](https://user-images.githubusercontent.com/11069680/36609131-7caa48d4-1891-11e8-8936-e11709668652.jpg)

[2018-02-23 18:06] wlbragg commented on #984
Yes, I didn't look at it but I am sure your right. You want to try?

[2018-02-23 18:11] wlbragg commented on #984
If you are going to use the open PR branch to do this, make sure you pull my latest changes. I need to remember to watch out also for any pushes you do.

[2018-02-23 18:14] gilbertohasnofb commented on #956
@wlbragg the photos I have are mainly glossy, I've seen just one or two that would be shiny:

![_dsc7938](https://user-images.githubusercontent.com/5700795/36609580-484f7ba2-18c5-11e8-8820-70b7c732eb96.jpg)

![charlotte_aerial_photography_-_cessna_172_ n73429 _ 3560076691](https://user-images.githubusercontent.com/5700795/36609590-4d8b7828-18c5-11e8-9fa2-916b5d23562b.jpg)

[2018-02-23 18:17] gilbertohasnofb commented on #124
@legoboyvdlp I am not sure I understand you, have you pushed some modifications to your clone and you want me to test those or you want me to make some tests with the current master here? Also, I believe that with the current implementation pressure, temp and coughing are all consequences of low oil level and not directly connected to each other.

[2018-02-23 18:17] legoboyvdlp commented on #984
Excellent! This should make it a lot better :)

And yes, a slight flattening on the tire does look realistic.

[2018-02-23 18:19] legoboyvdlp commented on #124
Hello Gilberto, yes, I meant my fork. I've added oil management from the 182 and added coughing when the engine is low on oil pressure (not oil level, but pressure! I.E. the pump is not supplying enough due to low engine speed).

[2018-02-23 18:22] gilbertohasnofb commented on #124
Ok, what branch in your repo?

[2018-02-23 18:23] legoboyvdlp commented on #124
issue-124

[2018-02-23 18:24] legoboyvdlp commented on #124
Essentially, I just would like a second reviewer to make sure I didn't do anything stupid and it works properly :)

[2018-02-23 18:26] dany93 commented on #984
I was trying to understand (or remind) the c172p-ground-effects.xml file (I'm not very familiar with it).
If you don't mind, I'd prefer if you could do it. You will be much more rapid than I am. And I'm afraid of doing some mistake or conflict by pushing on your branch.
Otherwise I can try, but it will take some time and (??) be risky.
Another question: why different "Z" values for the left and ri

[2018-02-23 18:30] wlbragg commented on #956
Then I think we need a texture change. Look at the new changes I pushed. Notice the lighter gray area, that actually looks like many of the propellers in the images you posted. Look at where on the texture that color is coming from, may give you some idea of the color you need for a new propeller texture. Also if you do a new propeller texture, we only need one, not both of them. We can use the ex

[2018-02-23 18:48] gilbertohasnofb commented on #956
@wlbragg working on it, I will push soon. But we actually need both sides because some propellers are not symmetrical due to decals (e.g. OH-CTL), and anyway we have space left in the `fuselage.png` so as of now space is not critical.

[2018-02-23 19:07] wlbragg commented on #956
OK, then I'll map both sides.

[2018-02-23 19:09] gilbertohasnofb commented on #956
Please don't change the mapping yet, I am just adjusting the old propeller textures. I don't think you will need to do anything else.

[2018-02-23 19:13] wlbragg commented on #984
@dany93 Sorry, I didn't notice that was your post, I thought it was @legoboyvdlp and he indicated he was willing to try to do it originally. No problem, I'll take care of it as I just refreshed my memory as well.
As far as the different Z values for left and right, I suppose if you think it is appropriate or necessary I can take the happy medium and make them the same. But what was happening is on

[2018-02-23 19:14] wlbragg commented on #956
Except I already put both sides on one of the props.

[2018-02-23 19:16] wlbragg commented on #956
Not only that but the way it was mapped the entire prop was mapped without taking into account the twist. That made the side of the twist that was not broad, not use the entire texture and we were getting half the prop without the entire texture on it.

[2018-02-23 19:37] gilbertohasnofb commented on #956
Well, no problems, but I just pushed some new textures for the 5 HD liveries so do a git pull before continuing. Also, notice that the backside of the propeller is located on the right side of the texture file, though it seems this has never been mapped into the props:

![image](https://user-images.githubusercontent.com/5700795/36613263-d9babf10-18d0-11e8-9e9e-384dfe06deca.png)

The 4X-CHV has a b

[2018-02-23 19:38] gilbertohasnofb opened #986 "Tips of new wings are not UV-mapped correctly"
Tips of new wings are not UV-mapped correctly.

Before the new wing, as the textures were intended:

![fg-5](https://user-images.githubusercontent.com/5700795/36573700-3a327488-183a-11e8-9654-75b83d90ede7.jpg)
![fg-6](https://user-images.githubusercontent.com/5700795/36573701-3a5685bc-183a-11e8-8afe-caa969095ffd.jpg)
![fg-7](https://user-images.githubusercontent.com/5700795/36573702-3a7466f4-183a-

[2018-02-23 19:39] gilbertohasnofb commented on #986
@HHS81 would you be able to give us a hand or to point us in the right direction?

[2018-02-23 19:55] gilbertohasnofb commented on #124
@legoboyvdlp a couple of things:

- I think it might be easier if you open a PR and just put a warning such as :warning: WORK IN PROGRESS! or anything like that, so that people don't merge it by accident. This way we can use GitHub interface to see the diffs and comment the code
- I lowered the oil level to a low value of `1.99` and the engine coughing sounded really buggy
- I noticed a couple of

[2018-02-23 19:56] gilbertohasnofb opened #987 "GPS should not be behind the amphibian cockpit bars"
GPS should not be behind the amphibian cockpit bars:

![fg-0](https://user-images.githubusercontent.com/5700795/36614111-89acd348-18d3-11e8-91b9-d97d1e6f3dcf.jpg)

[2018-02-24 01:24] legoboyvdlp commented on #124
Thanks :)

I may have an idea what is causing the stuck properties, so I will attemp to fix them tomorrow.

As for the low oil level, at 2 quarts your engine likely would stop working... :) I will, however, reduce the coughing.

[2018-02-24 01:57] legoboyvdlp commented on #50
I have a simplistic icing model on the IDG-A32X... it's basic, but it works. The real problem is modelling the effect it has on the instrumentation.

And the pitot cap should also affect the icing rate as well... :)

[2018-02-24 01:59] legoboyvdlp commented on #921
As for wing icing, I have a simplistic icing model on the IDG-A32X... it's basic, but it works. The real problem is modelling the effect it has on the FDM - I have added that on the A320, but of course the A320 wing is very different to that of the Cessna. I am happy to add the icing model to the 172 in the future if desired.

[2018-02-24 02:02] legoboyvdlp commented on #921
And should @HHS81 permit it, and it be desired, I could also bring over some of the changes he made to the 182 icing, particularly the autodetection of clouds, which was my major problem with my icing model? I should also like to use it on the A320... I know it is GPL, but I will not use it unless you say you do not mind :)

[2018-02-24 02:03] legoboyvdlp commented on #17
This becomes more important perhaps as the 3D model becomes more and more advanced.

[2018-02-24 02:10] legoboyvdlp commented on #682
Issue should be closed if it is fixed.

[2018-02-24 02:11] gilbertohasnofb commented on #682
@legoboyvdlp you are right, but in this particular case the PR with the fix hasn't been merged yet so the issue is not fixed on the master just yet :wink:

[2018-02-24 02:19] legoboyvdlp commented on #798
If this were still to be done, I could probably bake the maps... best to wait until #6 snd so on are fixed first perhaps?

[2018-02-24 02:20] gilbertohasnofb commented on #798
:+1:

[2018-02-24 02:23] legoboyvdlp commented on #798
By the way, seeing you are online, I noticed tigert's link to the OH-CTL gallery is down... you may want to bookmark this:  https://mik.1g.fi/kuvat/Kerhon+kalusto/OH-CTL/

It appears to be the same thing..?

[2018-02-24 04:25] wlbragg commented on #984
I see, if I had to guess, I'd say it is caused by a slight discrepancy in the left and right struts and/or wheel model position of the mesh.

I never really gave any thought as to the affect the contact point being asymmetrical might have on performance, especially something as small as what we are talking about.

My only desire was to make the visual of the wheels on the surface symmetrical which

[2018-02-24 04:38] wlbragg commented on #17
Unfortunately I never saw this before and had no idea it even exist. I'm not sure this really applies anymore, at least as far as the layers and groups are concerned. I have serious questions as to the usability of groups  anymore in the .ac. Or how any of that works.
I know I had to assign effects to the individual object that were originally part of a Blender group, unless they are defined in a

[2018-02-24 10:44] dany93 commented on #984
Fixing such a thing in Blender would not be a small work.
I'm basic with Blender, but I cannot see any difference in Z coordinates between the right and left main wheels. Reassuring...

I agree (for the FDM of course, these very small differences).

Putting them both to 15.2 is good enough as far as I am concerned but if you look closely you can see a difference.

Your desire is fulfilled. I don't

[2018-02-24 12:19] gilbertohasnofb commented on #798
@legoboyvdlp Fantastic, lego, thanks for the link! I spent so much time searching for it and could not find. Many thanks.

[2018-02-24 20:22] wlbragg commented on #969
I was trying to knock this one out and ran into a bit of a problem. After considerable time and effort I finished at a less than perfect animation of the system.
Problem:
If you look closely at the reference pictures, especially the close ups, and after trying to model a system with our model, you come to the conclusion that the bottom approx. 6-8 inches of the tail rudder and that part of the tai

[2018-02-24 20:37] wlbragg commented on #956
@gilbertohasnofb  I don't see your changes pushed anywhere.

[2018-02-24 20:43] wlbragg commented on #969
@gilbertohasnofb I don't  want to push this to the #973 PR until I figured out what happened with your modifications to the liveries?

[2018-02-24 21:15] gilbertohasnofb commented on #969
@wlbragg sorry, I had forgotten to push my textures, silly me. That's done now, please take a look if you can pull my commit.

[2018-02-24 21:18] gilbertohasnofb commented on #969
I can try to fix that, but I am quite busy during this weekend. Could you wait for a couple of days?

[2018-02-25 06:05] mathieugouin commented on #949
Sorry for the confusion, I was actually full paths.

[2018-02-25 06:14] mathieugouin commented on #949
Refer to pull request #990.

[2018-02-25 07:07] wlbragg commented on #784
@onox, @gilbertohasnofb
I verified that if you comment out the condition
[code]
at line # 458 in ground-effect.xml the aircraft still skids to a stop. it appears to have roughly the same friction either way so I think we could safely remove the condition and allow the contact points to do their job.
If one of you want to test this and verify your OK with the condition being removed then we can clo

[2018-02-25 10:49] dany93 commented on #969
@wlbragg wrote:

After some difficulty, I think (hope) to understand.
Your problem is that the rudder hinge axis is not vertical but diagonal, not in accordance with the pulling cables that are horizontal.
I agree, for mechanical considerations the best would be that the cables come out and pull perpendicularly to the hinge axis. That is, descending cables from middle to rear of the fuselage. This

[2018-02-25 11:22] gilbertohasnofb commented on #969
@wlbragg I just took a quick look at the c172p and the new rudder cables look great. But is the lack of smoothing on the ball intentional?

![fg](https://user-images.githubusercontent.com/5700795/36640828-2ee75400-1a1e-11e8-9afd-691b0903d5b5.jpg)

[2018-02-25 12:26] wlbragg commented on #969
Good, if you guys are OK with it so am I. It's the perfectionist coming out in me. I've spent enough time on it and am ready to move on.
@gilbertohasnofb I'll see if I can get. The ball to be smooth.

[2018-02-25 12:32] gilbertohasnofb commented on #969
It's looking really nice, @wlbragg! :smile:

I will see if I manage to make some time today to add the shadows to the fuselage in those areas you asked me, so that we can move on with that PR

[2018-02-25 15:48] gilbertohasnofb commented on #969
Ok, I tried taking a look at this but I ran into a small problem. The 'box' into which the rudder cable enters is mapped to the same bit of texture as the fuselage under it. See my pic below:

![fg-1](https://user-images.githubusercontent.com/5700795/36643446-54a10414-1a43-11e8-83d1-5a44caca6546.jpg)

So both the purple polygon and the red area are mapped to the same. I wanted to make the red area

[2018-02-25 17:02] gilbertohasnofb commented on #109
It just came to my attention that @D-ECHO created a very good looking pilot model for the ASK-21 project, see: https://github.com/viktorradnai/flightgear-ask21/issues/140#issuecomment-368294291

[2018-02-25 17:53] wlbragg commented on #969
Yeah, I wasn't considering that. Yes that makes sense it would be less work for you if I just map the "separated ports objects to a different location on the fuselage. Unless you think a custom texture for it would be better.

Which ever way you want to go is fine with me.

Does this help your for placing the shadow...

![port](https://user-images.githubusercontent.com/11069680/36644616-62f74d00-1

[2018-02-25 17:59] gilbertohasnofb commented on #969
Yes, that helps a lot. I will work on this and let you know once it's done. I will add the shadow on those places and then add a new texture for the box itself somewhere else, ok? These should be livery dependent, of course.

[2018-02-25 18:11] wlbragg commented on #969
Hold on, what I gave you just now isn't accurate. My mind's not working this morning.

[2018-02-25 18:14] wlbragg commented on #969
That is just where I mapped the port and it is not proportioned or positioned exactly.
it is already a separate object from the fuselage. We need to figure out how to give you the exact location of the mesh object ,right?

[2018-02-25 18:16] wlbragg commented on #969
![port](https://user-images.githubusercontent.com/11069680/36644846-aeb71ff6-1a25-11e8-844e-d81f8c3cce10.png)

[2018-02-25 18:17] gilbertohasnofb commented on #969
Thanks, I will give these a shot.

[2018-02-25 18:29] wlbragg commented on #969
Looking a bit forward with this. I am going to have to make the ports two sided and shade the inside also or it wont look right. I can use the location your shading to do this if you make the shadow large enough (or precise enough) that it extends into the flat outside edge of the ports.

[2018-02-25 18:32] wlbragg commented on #969
![shade](https://user-images.githubusercontent.com/11069680/36644998-ff030540-1a27-11e8-8165-108f17c4a5c3.jpg)

[2018-02-25 18:38] wlbragg commented on #956
@gilbertohasnofb
This should be finished, please review before merging the PR.

[2018-02-25 18:44] wlbragg commented on #969
I smoothed the entire fixture, simply forgot to during construction. I'll wait to push it until your done with the texture.

[2018-02-25 18:52] gilbertohasnofb commented on #956
@wlbragg I tested it and while the front of the propellers are looking much better, the back side looks a bit too reflective to me, it should be as matte as possible. I learned somewhere that the backside of propellers are always matte black because this way they minimize any sun reflexes towards the pilot's point of view. Would it be possible to take care of that?

[2018-02-25 18:54] gilbertohasnofb commented on #969
Great :+1:  Working on it now

[2018-02-25 19:19] wlbragg commented on #969
@gilbertohasnofb
Now that your deep into this, I just thought of another way to do this so you didn't have to do anything. I could have simply cut the fuselage in the shadow area without removing the mesh and mapped that part to a dark area on the fuselage.png texture.

Still can if your having to put to much effort into this?

[2018-02-25 19:26] gilbertohasnofb commented on #969
@wlbragg actually that solution sounds good, I did not put too much effort on it yet (I had to handle something non-FG related in this meantime). So let's try this solution.

I just pushed a new black square to `fuselage.png`, see:

![image](https://user-images.githubusercontent.com/5700795/36645501-b68efcbc-1a61-11e8-8f80-175c3ebc44ed.png)

[2018-02-25 19:26] gilbertohasnofb commented on #969
If it looks good with a full black shadow then this doesn't have to be livery dependant. On the other hand if the shadow should be a darker version of the fuselage colour (nearly black but not completely) then I would need to edit all liveries and we would need to make it livery-dependent. it's your choice.

[2018-02-25 19:32] wlbragg commented on #969
OK give me a few to see what this looks like and then we can decide.

[2018-02-25 19:35] gilbertohasnofb commented on #969
:+1:

[2018-02-25 20:24] wlbragg commented on #969
OK, here it is. Turns out I didn't even have to touch the fuselage, when I made the knife cut on the fuselage it distorted the face so I opted out of that solution .Instead I made the rudder cable port a standalone 3 dimensional object with inside and outside faces. Thus I can map the inside face to a dark part texture and the outside faces to a light part of the texture.
I haven't pulled your new

[2018-02-25 20:34] gilbertohasnofb commented on #969
I think this looks really good!

[2018-02-25 20:51] wlbragg commented on #969
Finished with everything except pulling your new texture and mapping the inside to it.

These shots will serve as a comparison of using a dark shadow (your new one) or something less than black (what it is mapped to now).

![fgfs-screen-004](https://user-images.githubusercontent.com/11069680/36646266-efad0e70-1a3a-11e8-84ae-ca60e027f538.png)

![fgfs-screen-005](https://user-images.githubuserconten

[2018-02-25 21:03] gilbertohasnofb commented on #969
@wlbragg to be honest, I think this is looking so good it doesn't need a new texture! Let the natural light take care of it, and this way it inherits the fuselage colour.

[2018-02-25 21:04] gilbertohasnofb commented on #969
If you agree, then I will remove that commit of mine, and so in that case please wait a second before pushing.

[2018-02-25 21:16] gilbertohasnofb commented on #969
@wlbragg ok, I took the decision to remove my last commit in which I added that black rectangle to the default livery. Your results above look better than what will be achieved with that. So just make sure your local branch is up to date before pushing.

[2018-02-25 21:22] wlbragg commented on #969
Oops, to late.
Now what?
How should I revert?

[2018-02-25 21:23] gilbertohasnofb commented on #969
I see that you reintroduced the modified texture. I can remove that commit of mine. But have you mapped the model to that texture? I think your screenshots above look really good so we could leave it that way. Makes sense?

[2018-02-25 21:25] gilbertohasnofb commented on #969
Actually I see that I would need to remove your last two commits as well, can I do that? I am talking about removing the `Remap rudder cable ports to new black texture` and `Merge branch 'issue-737' of https://github.com/c172p-team/c172p-detai…`

[2018-02-25 21:27] wlbragg commented on #969
I'm not sure it is going to matter either way because I either map it to the tire texture (my pictures) or your new texture.

The only real difference would be the tire texture part I map it to is not quite so black and has a bit of texture to it.

Right now the 737 branch looks like your new texture is gone. even with my last push.

[2018-02-25 21:28] wlbragg commented on #969
So I think the easiest (not cleanest) way to do this is you commit and push the new texture. Or I remap what is now in git to the tire.

[2018-02-25 21:29] gilbertohasnofb commented on #969
Wait a second, this is getting really messy.

So are you telling me that the following screenshot of yours has the interior part of the box of the cables mapped to the tires?!

![image](https://user-images.githubusercontent.com/5700795/36646687-eedb7a62-1a72-11e8-9043-27e15d5c58ea.png)

[2018-02-25 21:30] gilbertohasnofb commented on #969
Please let's just clarify everything before making any further commits.

[2018-02-25 21:33] wlbragg commented on #969
No, I think because you removed your commit it is mapped to a white background now (where your new texture used to be.). All I have to do is map it back to the tire and were done.
Or you can push the new texture and were done.

[2018-02-25 21:35] wlbragg commented on #969
VS having to reverse any commits or clean up our less than stellar commit history.

[2018-02-25 21:38] gilbertohasnofb commented on #969
What I am trying to say is that the screenshots above look really good, better than if the interior was fully black! Now that we have a natural shadow cast from the object itself into its interior, we don't need any trickery as mapping to the tire or to a black square. So my idea is to simply map it to the same fuselage bit as the exterior part (which is how you initially mapped it) and that would

[2018-02-25 21:41] wlbragg commented on #969
Your right, I checked it also.

Yes, do it.

What am I going to have to do to get the changes you make, just pull and merge tracking 737 to local 737?

[2018-02-25 21:42] gilbertohasnofb commented on #969
I believe just a `git pull`, but let me check that first

[2018-02-25 21:49] wlbragg commented on #969
One thing I don't see in the history is your removing the new texture?

Did I overwrite that history so it never happened?

[2018-02-25 21:50] wlbragg commented on #969
Sorry, for the headache of doing something when nothing was required. I really didn't think it was going to be dark enough naturally. It may be that once I made the rudder cable ports interior faces it changed the way the lighting works on it.

[2018-02-25 21:54] gilbertohasnofb commented on #969
@wlbragg My apologies but I somehow messed up the rebasing, got some commits doubled and did not manage to remove those. The branch is truly messy now and I would suggest we both wait for super @onox to save the day. I am sorry if this freezes the work until the fix, I really thought I had gotten the hang of it...

[2018-02-25 21:55] wlbragg commented on #956
I'm not sure what to do here. You changed the the front facing prop texture, but not the rear facing texture.
The rear facing texture is glossy looking so start with. I don't know if that is the issue or not.

My problem would be this is one object, I can't apply two different material settings on a single object. So the only thing I know to do is to make the rear facing texture less glossy lookin

[2018-02-25 21:56] wlbragg commented on #969
OK, I'll duplicate my local repo so I can continue on other stuff if I want. I'll wait until our Saviour shows up.

[2018-02-25 21:56] gilbertohasnofb commented on #956
Yes, thanks for pointing that out, indeed I forgot to change that texture. But that won't change too much as the glossiness of the texture is not that apparent in the sim, but the reflection of the material is.

What about making the whole propeller completely matte then?

[2018-02-25 21:57] gilbertohasnofb commented on #956
I will work on those textures as soon as the branch of that PR is cleaned.

[2018-02-25 21:57] gilbertohasnofb commented on #969
Thanks, and apologies again.

[2018-02-25 21:59] wlbragg commented on #956
I more or less thought I did. Once you get the new texture in, I'll review the material and other settings of the propeller and see if I can do more.

:+1:

[2018-02-25 22:00] wlbragg commented on #969
No apologies necessary, I think I started it.

Well get it done, one way or another.

Thanks for all your time and efforts.

[2018-02-26 00:51] onox commented on #784
@wlbragg Looks OK to remove the conditions :+1:

[2018-02-26 00:59] wlbragg commented on #969
OK, I think we got our wires crossed and both moved to fast.
We need to map the inside of the rudder cable ports to a dark texture.

This is mapped to the fuselage
![fgfs-screen-001](https://user-images.githubusercontent.com/11069680/36648836-d8469648-1a5d-11e8-80d9-aa6a68ddd307.png)

This is mapped to the dark tire texture
![fgfs-screen-002](https://user-images.githubusercontent.com/11069680/3664

[2018-02-26 01:06] gilbertohasnofb commented on #969
@wlbragg I understand now, I thought those were natural shadows from the model. Apologies for all the confusion... anyway, just pushed a dark texture for you, see:

![image](https://user-images.githubusercontent.com/5700795/36648961-4745ee76-1a91-11e8-9fc9-955a115e84b0.png)

Please do not make this livery dependent as I did not add it to all liveries, only the default one.

[2018-02-26 01:10] gilbertohasnofb commented on #969
And I also pushed a matte version of the backside of the propeller for the default livery only. Please do not make it livery dependent as all backsides are matte black.

[2018-02-26 01:26] gilbertohasnofb commented on #109
:+1:

[2018-02-26 01:55] #109 closed

[2018-02-26 02:14] wlbragg commented on #969
We have no choice as the Propeller is one object. If the front side has to be livery dependent then so will the back be. I guess you need to but the back side matte prop on all the liveries?

[2018-02-26 05:49] wlbragg commented on #969
This is done on my end.
If we want the rudder cable ports to match the fuselage then they have to have livery dependency.  Unfortunately the object is all one piece so it needs the new interior black shadow texture added to all liveries. As it is now only the default livery has the interior shadow.

[2018-02-26 05:53] wlbragg commented on #784
This is finished and pushed to #973 PR

[2018-02-26 07:54] gilbertohasnofb commented on #956
Forgot that this was a single object, I will do this to all liveries in the evening when I come back home.

[2018-02-26 16:39] gilbertohasnofb commented on #969
No problems. I will add that interior object to all liveries, together with the backside of the propeller.

[2018-02-26 19:46] gilbertohasnofb commented on #983
I am working on this right now and this is a tough one to fix. This is the best I could achieve:

![fg-0](https://user-images.githubusercontent.com/5700795/36691596-b5d43b62-1b2d-11e8-90ca-96ac68cf4e6c.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/36691597-b5fc17ae-1b2d-11e8-99c6-df9e9fefb76f.jpg)

Also, this will only affect the HD textures as the older ones are not layred in GIM

[2018-02-26 19:57] gilbertohasnofb commented on #968
Best I could come up with:

![fg](https://user-images.githubusercontent.com/5700795/36692162-460ae8f6-1b2f-11e8-9a0c-52acf4597f93.jpg)

[2018-02-26 20:14] gilbertohasnofb commented on #956
Done. And you were right, after the texture modification the backside of the propeller looks like it should :tada:

[2018-02-26 20:17] gilbertohasnofb commented on #737
@wlbragg did you test my texture above, was it any better than what you had been using?

And for anyone wishing to implement the logic in the future, the properties that control the dirt are:

[code]

[2018-02-26 20:21] gilbertohasnofb commented on #737
Also, some of the UV-mapping of the dirt effect could be improved, particularly in the surfaces whose normals are in the same plane as the ground:

![fg](https://user-images.githubusercontent.com/5700795/36693244-93d02292-1b32-11e8-916f-1e0f37592cd1.jpg)

[2018-02-27 01:50] legoboyvdlp commented on #983
Hey... it looks a lot better!
Thanks a lot :)

[2018-02-27 02:01] wlbragg commented on #983
Much better, good job!

[2018-02-27 02:11] wlbragg commented on #737
I haven't had a chance to test it yet.

Unfortunately we don't have any control over the UV mapping of it, It's built into the shader. But setting the value of any of the "environment/aircraft-effects/xxxx-dirt" between .1 an 3+? does change the look of it. I doubt it will change the streaks, however it was designed to streak like that on the vertical mesh. Also, I don't know what one could do wit

[2018-02-27 18:44] wlbragg commented on #737
@gilbertohasnofb

I changed the property names that control the dirt to match the effects files so it is now...

[code]

You may want to revise your post above just in case someone doesn't read past that post.

[2018-02-27 18:49] gilbertohasnofb commented on #737
@wlbragg done.

[2018-02-27 20:05] gilbertohasnofb commented on #448
@onox I think we can close this as a won't fix, since creating a xcf paintkit of the interior will be _extremely_ time consuming given that it was created step by step (unlike the exterior ones), and anyone in the future wanting to tweak or create a new one can very well use my xcf files in the Textures repo. Do you agree?

[2018-02-27 20:06] gilbertohasnofb commented on #736
@wlbragg hasn't this been incorporated already or are we still in need of improvements to the normal map?

[2018-02-27 20:32] wlbragg commented on #736
Any new work that I know of has been incorporated (rims and tire tread). But as I said earlier in the thread, this issue is supposed to encourage us to identify areas that could use a bumpmap to improve the look of the aircraft. I would like anyone or all of us to take the time to make sure we have done all we could in this area. I doubt we have. We should look for any textures or areas of the air

[2018-02-27 20:35] gilbertohasnofb commented on #736
Ok, so I will take a look on this soonish and give my opinion.

[2018-02-27 21:10] tonghuix commented on #448
Agree won't fix, but don't close the issue.

[2018-02-27 22:18] gilbertohasnofb commented on #448
? That doesn't make sense, if it's a won't fix then our team will certainly close this.

[2018-02-28 05:37] onox commented on #448
@gilbertohasnofb Maybe you could add a link to your textures repo in some `README.md` file in either the `Paintkit` or `Models/Liveries` folder?

[2018-02-28 05:42] onox commented on #737
We can do the programming in a new issue.

[2018-02-28 05:44] onox commented on #448
Oh, it seems there's already a link in the main `README.md` file. I'll close this issue then.

[2018-02-28 05:44] #448 closed

[2018-02-28 21:39] #599 closed

[2018-02-28 21:39] #682 closed

[2018-02-28 21:39] #784 closed

[2018-02-28 21:39] #956 closed

[2018-02-28 21:39] #968 closed

[2018-02-28 21:39] #969 closed

[2018-02-28 21:39] #975 closed

[2018-02-28 21:39] #982 closed

[2018-02-28 21:39] #983 closed

[2018-02-28 21:39] #984 closed

[2018-02-28 21:43] gilbertohasnofb commented on #970
Fixed by #973

[2018-02-28 21:43] #970 closed

[2018-02-28 21:47] gilbertohasnofb commented on #958
@wlbragg I just updated the first post, could you please check if I did not miss anything?

[2018-02-28 22:07] wlbragg commented on #958
@gilbertohasnofb
I added or modified the following...

* Better smoothness of all 3D models including variants
* New landing gear strut steps and strut to fuselage connection
* More realistic looking tires including all variants

Thank you so much for all the hard work on this. You ready to go again?

[2018-02-28 22:09] gilbertohasnofb commented on #958
Oh, yeah! Whenever you want to attack the cockpit issues :smile: Or are there any other things left with the external 3D model apart from the UV-map of the wing tips?

[2018-02-28 23:35] wlbragg commented on #737
Another idea for the dirt. If we separate the underside of the fuselage I wonder if we could make a texture simulating this type of "oil" grim?

![dirt](https://user-images.githubusercontent.com/11069680/36819091-7f0a2e80-1cad-11e8-9863-8b8104032470.jpg)

[2018-02-28 23:44] gilbertohasnofb commented on #737
Will that affect the UV-map of the other liveries? If not, then I am totally up for that. Would you be able to create a png file for me with the shape of the bottom fuselage so that I can create that texture?

[2018-03-01 04:08] #769 closed

[2018-03-01 10:04] gilbertohasnofb commented on #603
I am copying relevant comments from the duplicate issue #769 'Autopilot seems buggy' which we closed.

@wlbragg wrote:

I wrote:

@wlbragg then wrote:

[2018-03-01 17:57] wlbragg commented on #987
Problems here...
We either relocate the GPS or maybe we need the cross bracing base moved forward. Its hard to see in this image.
http://islandaero.com/images/70-172dbp.jpg
I also notice in this image that the compass appears to be behind the bars, not in front.
Also, we don't have the shadow effect on the compass, even its case, probably because we don't have it absolutely positioned. Because we