[2015-11-05 20:30] wlbragg commented on #514
See #516

[2015-11-05 20:31] wlbragg commented on #514
I'm out of here until later tonight.

[2015-11-05 20:36] gilbertohasnofb commented on #514
I will check that PR straight away, thanks for the help! Today I am signing off early as well, and I will be travelling in the next days, but I think I will still have some free time for developing here :smile: Cheers!

[2015-11-05 20:39] #514 closed

[2015-11-05 20:39] gilbertohasnofb commented on #514
Closed via https://github.com/Juanvvc/c172p-detailed/pull/516

[2015-11-05 21:40] gilbertohasnofb commented on #303
@onox

As you rightfully pointed out, today we got the first bug report about using the parking brake property for all the securing aircraft objects: someone's joystick button stopped to control to the parking brakes in our plane. Here is his code:

[code]

I can of course help him solve his particular issue by adapting the code above, but that's a very inelegant solution and we are bond to find m

[2015-11-05 21:52] gilbertohasnofb opened #517 "Issue with parking brakes and joysticks"
Reported by someguy in the forum:

[code]

[2015-11-05 21:55] gilbertohasnofb commented on #517
@onox

As you rightfully pointed out, today we got the first bug report about using the parking brake property for all the securing aircraft objects: someone's joystick button stopped to control to the parking brakes in our plane. See his code above.

Of course we could help him solve his particular issue by adapting the code above to also respond to our new parking brake property, but that's a ve

[2015-11-05 21:56] gilbertohasnofb commented on #504
Also, one more question ludo: from which places under the wings can one take fuel samples? How many holes on which wing for this?

[2015-11-05 23:04] wkitty42 commented on #297
On 11/05/2015 01:55 PM, Gilberto Agostinho wrote:

no i did not... i pointed out that it is possible to fly backwards in certain
situations... nothing more... if you implement a way to cover that, great!
otherwise, i don't care... it was only a quick little side comment :shrug:

it is/was absurd, funny, humorous that it is/was even happening... when
reported, it was very easily seen in less than 2

[2015-11-05 23:10] onox commented on #496
Yes, if you can write it in XML, use XML :smile:

[2015-11-05 23:12] onox commented on #313
Looks nice. Maybe add a little piece of metal between the two endpoints (to connect them) like in https://github.com/Juanvvc/c172p-detailed/issues/313#issuecomment-113240399

[2015-11-05 23:23] onox commented on #499
[JSBSim](http://jsbsim.sourceforge.net/JSBSim/classJSBSim_1_1FGFunction.html) has `<random>` (gaussian) and `<urandom>` (uniform) that you can use in functions.

[2015-11-05 23:27] gilbertohasnofb commented on #297
@wkitty42 If you don't see where this is coming from, then there is nothing to be done. And I am sorry if you felt the tone was too harsh.

[2015-11-05 23:27] gilbertohasnofb commented on #499
My first attempts do not use randomness, but the RPM affects the oil consumption. This should give a "random" feel for the consumption rate within a certain margin.

[2015-11-06 02:26] #164 closed

[2015-11-06 02:54] onox commented on #517
I think an external force is the best solution, but it might be more work/time than anyone of us wants to do (PD tuning).

@gilbertohasnofb Shouldn't `controls.applyParkingBrake(1)` be called instead to toggle parking brake? Also, we're still using `/sim/model/c172p/brake-parking` in `controls.applyParkingBrake` in `Nasal/c172p.nas`. I wonder if it isn't better to extend the "Parking Brake And Cho

[2015-11-06 02:58] onox commented on #329
Totally forgot about this issue :open_mouth:

About `crash.wav`: it sounded like breaking glass :confused:?

[2015-11-06 03:08] onox commented on #517
@gilbertohasnofb Point someguy to `bug-517` branch.

Note: I think it's not very good that joystick files contain so much logic. This issue is another example that shows there's too much code assuming it can write to `/controls/gear/brake-parking` and other code assuming it can read from it again. But that's more a general problem that FG has.

[2015-11-06 03:16] onox commented on #303
He shouldn't directly modify `/controls/gear/brake-parking`. See PR #520.

[2015-11-06 05:40] wlbragg commented on #313
Will do, I didn't even notice that little piece.

[2015-11-06 06:20] gilbertohasnofb commented on #329
It's from a car crash. I think it's better than no sound, but I will work on finding a replacement for it

[2015-11-06 15:48] dany93 commented on #499
My opinion is that it is sufficient.
I feel that no aircraft in FG has gone so far in the details towards realism.

[2015-11-06 16:01] legoboyvdlp commented on #499
Another thing to consider is that oil can be contaminated; ie, if it is anything like my Dad's car, it should be changed every so often.
Thoughts?

[2015-11-06 16:02] legoboyvdlp commented on #487
Tested yesterday, works as expected, all seems good.
Thanks!

[2015-11-06 16:35] wkitty42 commented on #487
i am not seeing the baggage in the compartment... when i open the baggage door, the payload window does not appear... i can move the slider to 150 pounds and see the craft settle back but there's no baggage showing... i thought with #441 being merged this would be done but i also see #488? has it not been merged yet?  i have fa8c17d944239ea6b60c1fbb6d88670af1f26f88...

[2015-11-06 17:02] wlbragg commented on #487
I'm having some issues also, what is really weird is it appears to be related to the view angle. Some angles everything works and other angles nothing works.

[2015-11-06 17:10] dany93 commented on #515
As much as I understand, the nose wheels are free to rotate (360°). The rudder pedals have no action on them.
At *very* low airspeed, the only way to steer the amphibious on the runway is differential braking. But the air rudder quickly becomes efficient enough even at small airspeed to steer the aircraft with the rudder pedals.

[2015-11-06 17:13] onox commented on #487
I can confirm this. From some angles, you do get a different cursor and popup, but clicking does not execute the bindings. My guess is this is something in flightgear/simgear.

![fgfs-screen-302](https://cloud.githubusercontent.com/assets/3361585/11003297/e0e75434-84b1-11e5-83e8-0ed140d0d268.png)

[2015-11-06 17:14] wlbragg commented on #515
So are you saying that what we are experiencing would be the correct, normal behavior?

[2015-11-06 17:18] Juanvvc commented on #504
To detect water in the tanks, you get a sample of the liquid inside the tank (about 50ml). If it is blue, then it is all fuel. If it is transparent, then there is water at the bottom of the tank. Remember water is more dense than fuel and it goes to the bottom. If you get water, you just continue draining the tank until you get a blue liquid.

There are many draining valves at the bottom of the wi

[2015-11-06 17:24] Juanvvc commented on #499
Oil must be changed often, but I think this is a task for the regular (and mandatory) inspections done by professional engineers.

I believe changing oil or performing a regular inspection is something that must be simulated by a virtual airline company and not the aircraft.

[2015-11-06 17:27] dany93 commented on #515
I'd say yes, that's the normal behavior. Steering the front wheels with the pedals seems technically difficult.
But I do not not know at all this kind of aircraft IRL, better to have a connoisseur's opinion.

[2015-11-06 17:34] onox commented on #504
Even though unlikely, I think this is still a cool (low priority) feature :smile:

[2015-11-06 17:35] onox commented on #499
[This YouTube video](https://www.youtube.com/watch?v=dqCqHlAn3b0&t=303) shows how the oil cap moves.

[2015-11-06 17:55] #313 closed

[2015-11-06 17:55] #206 closed

[2015-11-06 18:11] wlbragg commented on #314
Your post from Thorsten. Remember we just switched deferred to transparent. I'm going to keep at this until we get it.

[2015-11-06 18:25] onox commented on #314
On the [wiki](http://wiki.flightgear.org/ALS_technical_notes#Why_a_separate_effect_for_glass_seen_from_inside.3F) it recommends `model-combined-transparent`:

[2015-11-06 18:35] wlbragg commented on #314
What aircraft is that jet?

[2015-11-06 19:31] wlbragg commented on #314
@onox, I really think we have this as good as it can be with the shape of our glass. I studied several aircraft that look good and have tried the settings they used (all slightly different). I made some more adjustments and I think this is done.

![ref1](https://cloud.githubusercontent.com/assets/11069680/11006669/9d874d60-848a-11e5-9ebd-df43a3d528ac.jpg)
![ref2](https://cloud.githubusercontent.co

[2015-11-06 19:44] gilbertohasnofb commented on #487
it's not about angles, it's because you are below the ground! You can't click through an object :wink:

[2015-11-06 19:44] gilbertohasnofb commented on #487
And therefore this is something to maybe solve with the core devs, not with our plane. I also would much prefer to be able to click on things even if the camera is below the ground.

[2015-11-06 19:47] gilbertohasnofb commented on #487
@wkitty42

Are you sure you are on master? The luggage is appearing just fine for me, is anyone else having troubles with that? If you are on master, can you please check if you get some error messages in the console when you add some 70 pounds of luggage (which should activate both black and brown pieces of luggage)?

[2015-11-06 19:49] wlbragg commented on #487
Is that what it is, I'll be! You know I was thinking just the other day, the sim should have a "no clipping" or "clipping on" setting where you can't go below ground. That is a standard in many programs and I always wondered why we don't have the ability to limit the view to the "real flight sim world".

[2015-11-06 19:50] gilbertohasnofb commented on #487
@wlbragg Yep, it also bothers me a lot. Some things are tricky to click, such as the baggage door and the tie downs. I am now working on implementing testing for fuel contamination, and that will require a hot spot below the wings, which will cause lots of headache for those who don't know about this ground limitation.

[2015-11-06 20:04] onox commented on #314
It's mainly the lack of reflection on the front window I'm concerned about. See for the V-22 for example:

![fgfs-screen-303](https://cloud.githubusercontent.com/assets/3361585/11007404/e70935ea-84c9-11e5-91ff-e24d43e9ce10.png)
![fgfs-screen-304](https://cloud.githubusercontent.com/assets/3361585/11007405/e709530e-84c9-11e5-9642-3ad53fe21990.png)

[2015-11-06 20:05] gilbertohasnofb commented on #515
That would explain it.

So does this means that after a little movement forward would make the nose wheel centred again?

[2015-11-06 20:06] #487 closed

[2015-11-06 20:07] onox commented on #487
It may help to know you can always zoom in and out with the mouse scroll wheel in helicopter view.

[2015-11-06 20:08] gilbertohasnofb commented on #487
But I think that zoom would still make the view point stay put below the ground, right? Zoom != moving forwards

[2015-11-06 20:08] onox commented on #314
Perhaps we should ask Thorsten on the mailing list to test our aircraft and tell us if we're asking ALS to do the impossible or whether we made some stupid mistake.

[2015-11-06 20:09] onox commented on #487
No, you actually move your camera position.

[2015-11-06 20:13] onox commented on #487
![fgfs-screen-305](https://cloud.githubusercontent.com/assets/3361585/11007576/230537fa-84cb-11e5-9c85-e22b9b67f215.png)
![fgfs-screen-307](https://cloud.githubusercontent.com/assets/3361585/11007577/23075490-84cb-11e5-8a29-ee6a4ed72e4b.png)

[2015-11-06 20:16] gilbertohasnofb commented on #487
:+1:

[2015-11-06 20:19] gilbertohasnofb commented on #499
I think that oil contamination is waaaay too specific already. Also, exchanging oil is something beyond what I planed, I just want to implement a simple pre-flight inspection. What I did so far (and I will push soon) is:

- oil is consumed if engine is on, RPM affects its (so it's not constant)
- if oil less then a threshold, engine fails
- created a dialog to check and refill oil

I think that's

[2015-11-06 20:19] gilbertohasnofb commented on #499
@onox that would be a 3D model issue, but I think that for now I will just create a hotspot above the normal map oil cap.

[2015-11-06 20:23] gilbertohasnofb commented on #329
From NASA:

I guess that's a green light, right? In that case, I will replace the old `crash.wav` by the one from the video. I will do this tomorrow.

[2015-11-06 21:50] gilbertohasnofb commented on #504
I am already working on a simple implementation of this and it's looking kind of cool (I am pushing it to a new branch very soon), but could you guys help me with an educated guess of how often should water be observed? 1 in 100 flights? 1 in 200 flights?

[2015-11-06 21:57] gilbertohasnofb commented on #329
Actually, I manage to do it now, the new sound is already in this branch. I just applied some noise reduction. It sounds much better than that car crash :wink:

[2015-11-06 22:00] #294 closed

[2015-11-06 23:34] dany93 commented on #515
No. I think that the spring is here to center the wheel when it leaves the ground, for flying. With a caster wheel, the main cause to center the wheel in forward movement is the movement itself.
But it may help a bit to limit the sidewards movement when the rudder is not efficient yet. Just a guess and I do not know if it is enough...
That would temper my response to @wlbragg's question:

But I st

[2015-11-07 00:49] wkitty42 commented on #487
@gilbertohasnofb yes, i'm absolutely sure i'm on master...

myuser@mymachine:~/myflightgear/c172p-detailed-dev$ git branch
* master
  regression-version-to-3.2
  release/3.6.0

however, i forgot that i wasn't flying out of that directory but had been copying the files to ~/myflightgear/Aircraft/c172p after updating them from the repo... no wonder i wasn't seeing what i was looking :disappointed:

[2015-11-07 00:54] onox commented on #329
@gilbertohasnofb Which duration from the video did you use?

[2015-11-07 01:00] wkitty42 commented on #329
speaking of sounds, i'm not sure where to add this but when switching between the pontoons, amphibious and skis, there's no workshop sounds... yes, this is with my corrected directory structure... i'm not sure about creating a new issue, though...

[2015-11-07 01:02] onox commented on #329
There's only a workshop sound when switching between the 160 HP and 180 HP engines.

[2015-11-07 01:07] onox commented on #329
@gilbertohasnofb Because the branch was very old, I rebased on top of master. So you have reset your branch (`bug-329`) to an old common commit again:

1. Try: `git merge-base bug-329 master`. It should give you a commit from 2015-06-23 (you can find out by doing `git log COMMIT_FROM_MERGE_BASE`)

2. Then do `git reset --hard COMMIT_FROM_MERGE_BASE`.

3. Then do `git pull`.

[2015-11-07 01:17] #423 closed

[2015-11-07 01:17] #424 closed

[2015-11-07 02:22] onox commented on #329
@gilbertohasnofb In the mean time I have added the sounds to `c172-sound.xml`. However, FG doesn't like `damage.wav`:

[code]

I think this is because the file is pcm_s24le instead of pcm_s16le.

[2015-11-07 02:26] onox commented on #329
I have fixed it by loading and exporting the file in Audacity.

[2015-11-07 02:33] onox commented on #499
Yes, we should leave the 3D modeling of the oil cap to @thevirtualfer.

[2015-11-07 02:52] onox commented on #314
There are still many weird issues with the glass. The glass looks suddenly much different when the angle changes:

![fgfs-screen-312](https://cloud.githubusercontent.com/assets/3361585/11013187/e9855414-8502-11e5-86ef-dcff918970cb.png)
![fgfs-screen-313](https://cloud.githubusercontent.com/assets/3361585/11013188/e9a405a8-8502-11e5-8603-5c98eaad0c9a.png)

[2015-11-07 02:54] onox commented on #314
Lets leave the issue open until the issue is properly fixed.

[2015-11-07 03:44] onox commented on #329
@gilbertohasnofb I have already created a PR, but could you use 2:12 to 2:19 to create a new wind sound? The current wind sound is just white noise, which sounds really bad :cry:

[2015-11-07 09:49] gilbertohasnofb commented on #487
@wkitty42 Great, so no problem with those things then :smile:

[2015-11-07 09:50] gilbertohasnofb commented on #515
That makes sense. So in that case, there is absolutely nothing wrong with this variant, and I'd say we can close this issue. Should we still ask for someone else's opinion or can we just go ahead and close this? Maybe @tigert can give his 2 cents as well.

[2015-11-07 09:51] gilbertohasnofb commented on #329
I will do that!

[2015-11-07 09:58] gilbertohasnofb commented on #329
Hmm onox, that sound is not good either, I will try to find a better source. That part of the video has some subtle sounds from the test that are very soft, but once you loop it they become obvious. I will look for a cleaner wind sound now.

[2015-11-07 10:25] dany93 commented on #515
Having no IRL knowledge of this, I'd prefer someone else's opinion.
I think that the behavior is qualitatively correct, only we can wonder about its steepness at start (very low speed). Anyway, it is easy to control.

That makes sense. I've practised an tricycle ultralight aircraft with a caster front wheel: steering was done by differential braking.

[2015-11-07 10:37] gilbertohasnofb commented on #329
I would say for us to merge that PR and open a new ticket for improving the wind sound, as I had a quick look on several samples now and I couldn't find anything good, and so it may take some time for that, what do you say?

[2015-11-07 11:12] gilbertohasnofb opened #524 "pitot tube cover can't be seen from the right"
I don't know how this happened but since yesterday night I noticed that part of the pitot tube cover can't be seen from its right side:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/11014862/a0ffce68-8548-11e5-8c4a-801d54a6d3f0.png)

From the left it's all good:

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/11014866/b34b22c0-8548-11e5-944e-ff6c2e99

[2015-11-07 11:25] onox commented on #329
I'm not that happy with `damage-heavy.wav` as I explained in https://github.com/Juanvvc/c172p-detailed/pull/522#issuecomment-154692023. Are you able to find a different sound?

[2015-11-07 11:25] onox commented on #329
For the wind we can definitely create a new issue.

[2015-11-07 11:26] gilbertohasnofb commented on #329
I just say your other comment. Well, `damage-heavy.wav` sounds similar to `crash.wav` because it's basically a short version of that sound. I understand what you are looking for, but it has been tough to find a good sound for that. I will look for it again later, ok?

Ok, I will do that.

[2015-11-07 11:27] gilbertohasnofb opened #525 "Improve wind sound"
Improve wind sound

[2015-11-07 11:28] onox commented on #524
Either UV problem or mesh isn't double-sided.

[2015-11-07 11:28] gilbertohasnofb commented on #524
Can't be that because I didn't change the model (and I assume no one else did, what would be the point?) and I am 100% sure it was displayed properly before.

[2015-11-07 11:29] onox commented on #329
OK. Do you want to merge the PR? If yes, then I'll remove `damage-heavy.wav` and then merge it.

[2015-11-07 11:30] onox commented on #524
I would say UV unwrapping problem then.

[2015-11-07 11:32] gilbertohasnofb commented on #329
I'd say I will give it another go at the heavy damage sound, so let's wait just a little bit longer before merging. I will try to do it still today.

[2015-11-07 11:32] onox commented on #329
OK.

[2015-11-07 11:34] gilbertohasnofb commented on #524
No, I don't know how to do that. This model isn't mine, I simply copied the .ac from another plane. But frankly anything related to the model itself doesn't make sense as the source of this problem, it was working before so if no one changed the .ac model then it should be fine, right? (at least that's what I think)

[2015-11-07 11:34] wkitty42 commented on #515
On 11/07/2015 04:50 AM, Gilberto Agostinho wrote:

since i have fixed my directory structure and tested this again, it seems to be
working... i don't know what revision i had been using but in that one the
differential braking wasn't working... hitting one brake was like hitting both
so you couldn't turn but it is all working now with the latest... i've been able
to taxi all the way around KSFO fr

[2015-11-07 11:35] onox commented on #525
Not using 2:12 to 2:19 from https://www.youtube.com/watch?v=FsRwlr7RDkk because of https://github.com/Juanvvc/c172p-detailed/issues/329#issuecomment-154685886

[2015-11-07 11:41] onox commented on #524
Object looks ok in Blender.

[2015-11-07 11:41] gilbertohasnofb commented on #524
Could it be because of the glass in the window?

[2015-11-07 11:42] Juanvvc commented on #524
The model seems weird: there are two one side-planes, but they show the wrong face: the left plane shows the face to the right, and the right panel to the left. Maybe this arrangement confuses the glass shader.

[2015-11-07 11:43] gilbertohasnofb commented on #524
Hmm, it's not related to the glass, that side of the cover isn't visible from the outside model either...

[2015-11-07 11:44] onox commented on #524
It also happens in external view.

[2015-11-07 11:45] gilbertohasnofb commented on #524
Exactly. So it seems to be related to the model itself, but how this happened is beyond me. Could any of you with Blender knowledge have a quick look at it? @Juanvvc said the model seems weird, so maybe we could try a quick fix of those faces?

[2015-11-07 11:47] wkitty42 commented on #524
On 11/07/2015 06:41 AM, Gilberto Agostinho wrote:

i saw only the left side when i was in the heli view... when i circled to the
right side, the right side of the dangling part was not shown... i don't see how
glass would have any affect when one is in an external view like heli unless one
is looking through the glass and i was not when i first mentioned the problem
yesterday...

[2015-11-07 11:50] gilbertohasnofb commented on #524
@wkitty42 Yep, see what we wrote before:

[2015-11-07 11:52] wkitty42 commented on #524
On 11/07/2015 06:50 AM, Gilberto Agostinho wrote:

yeah, i saw it after my post was sent from my email client :wink: just see mine
as confirmation :smile_cat:

[2015-11-07 11:53] gilbertohasnofb commented on #524
:+1:

[2015-11-07 11:53] onox commented on #524
Do those white dots mean there's no face?

![remove-before-flight-uv-problem](https://cloud.githubusercontent.com/assets/3361585/11015027/66cd7406-854e-11e5-960e-ff9f3ba63cc8.png)

[2015-11-07 11:56] onox commented on #524
In Blender there's no UV white box on the texture for `Plane.001`.

[2015-11-07 11:58] gilbertohasnofb commented on #524
So am I going crazy and the model wasn't ever displayed from the right side?? I honestly don't think so, but anyway... do you think you could try to fix that? Blender and I don't get along very well...

[2015-11-07 11:58] gilbertohasnofb commented on #525
What about this?: http://freesound.org/people/Zixem/sounds/69509/

[2015-11-07 11:59] onox commented on #524
I'll try to fix it this weekend.

[2015-11-07 12:00] onox commented on #524
Also the normals are wrong as @Juanvvc already said.

[2015-11-07 12:00] gilbertohasnofb commented on #524
Thanks @onox :+1:

[2015-11-07 12:01] onox commented on #524
We should also shorten the cylinder a bit, I think it's too long for the pitot tube of the 172p.

[2015-11-07 12:04] gilbertohasnofb commented on #524
Yeah, that would be great.

[2015-11-07 12:08] onox commented on #525
I'm going to be AFK for a few hours now, so I'll leave the decision up to you :wink:. Just temporarily replace `Sounds/wind.wav` to hear if it sounds OK in a loop.

[2015-11-07 17:55] dany93 commented on #517
@onox wrote:

I guess that you mean *contacts* with configurable friction.

Static and dynamic friction coefficients appear in `fdm/jsbsim/contact/unit[N)`
Which suggests that they should be configurable. But I've never done it. At first thought, the risk is of being immediately overwritten by the values given in the FDM, but @wlbragg did that well with the Z-values for the gears, contact type="BO

[2015-11-07 20:26] gilbertohasnofb commented on #517
someguy wrote in the forum:

[2015-11-07 21:27] wlbragg commented on #524
I've just finished this. Pushing now.

[2015-11-07 21:27] gilbertohasnofb commented on #524
Oh, thank you! I will test and merge as soon as you do that

[2015-11-07 21:37] wlbragg commented on #524
I basically redid it, I don't even know what was wrong. Nothing that made any sense. But I think this is good.

[2015-11-07 21:43] tigert commented on #515
What was the weather like?

I have no memory of extreme drift with the amphibious floats when flying, it is freely rotating front wheels, so braking will help like mentioned above, but I don'd remember any "turning abruptly to left" -beahvious either. It was all something that you need a bit of right rudder to correct, but nothing dramatic.

If it happens again in zero wind, then it might be somet

[2015-11-07 21:46] gilbertohasnofb commented on #515
The weather was good, no remarkable wind. Would you try the amphibian on fair weather and see what you think about the strength of the pull?

[2015-11-07 22:12] #524 closed

[2015-11-08 00:34] onox commented on #329
@gilbertohasnofb Could you do the same for `crash.wav`?

[2015-11-08 00:35] gilbertohasnofb commented on #329
Not really, that's as loud as it gets without clipping.

[2015-11-08 00:35] onox commented on #329
OK. We'll leave it untouched then.

[2015-11-08 01:26] onox commented on #517
In that case something else is resetting the property back to 0. If he actually is using the latest `bug-517` branch, then it I guess it is a user configuration problem.

[2015-11-08 01:42] #517 closed

[2015-11-08 16:41] gilbertohasnofb commented on #504
Hey guys,

So I started implementing this on branch `bug-504`, and although I am practically done I need some help creating the hotspots for the fuel sumps. I would like to have two distinct hotspots named `LeftSumpHotSpot` and `RightSumpHotSpot` right below each wing:

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/11021369/79ac30ca-863f-11e5-95e4-1de61b1a48e1.png)

@wlbrag

[2015-11-08 16:46] gilbertohasnofb commented on #504
And while you are at it, would you be able to already create a new hot spot just above the oil door in the nose? The oil door is now visible in the normal map in case you need to see where it is.

[2015-11-08 19:32] gilbertohasnofb opened #528 "Separate left and right tiedowns and their hotspots into different objects"
Separate left and right tiedowns and their hotspots into different objects

[2015-11-08 20:13] gilbertohasnofb commented on #528
Almost done on branch `bug-528`, I just need help breaking the object `TiedownHotSpot` into two: `TiedownHotSpotRight` and `TiedownHotSpotLeft`. If it's not too much abuse already, @wlbragg could you have a look at this for me? I had managed to break the objects into two in Blender, but when I exported the `.ac` file the textures of a lot of objects were messed up (cockpit wouldn't change accordin

[2015-11-08 22:37] gilbertohasnofb commented on #37
I believe this has been implemented, can I close this issue?

[2015-11-08 22:39] gilbertohasnofb commented on #38
With battery and alternator both on, we currently have the loadmeter reading a constant ~27 V regardless of the load, and a constant 24.5 V if the alternator is turned off, both regardless of the equipments being used (lights, avionics, etc., make no difference in these readings).

The ammeter seems to work well, but shouldn't a negative read of the ammeter (such as when the alternator is off) cau

[2015-11-08 22:40] gilbertohasnofb commented on #36
Related to https://github.com/Juanvvc/c172p-detailed/issues/38

[2015-11-09 00:36] wlbragg commented on #528
No problem, I'll try to get it done tonight.

[2015-11-09 00:52] wlbragg commented on #528
OK, should be good to go.

[2015-11-09 08:59] gilbertohasnofb commented on #528
Thank you so much! :+1:

[2015-11-09 09:04] gilbertohasnofb commented on #504
Something like this:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/11029732/3d1d63b0-86c9-11e5-9f24-6e030cb3bb64.png)

[2015-11-09 10:43] wlbragg commented on #504
I'm on it!

[2015-11-09 10:45] gilbertohasnofb commented on #504
Thank you so much!!

[2015-11-09 11:22] wlbragg commented on #504
Sorry, I have to finish the LeftSumpHotSpot and RightSumpHotSpot later (a couple hours) but the OilDoorHotSpot is pushed.

[2015-11-09 11:23] gilbertohasnofb commented on #504
Okay! Thanks :+1:

[2015-11-09 11:25] wlbragg commented on #504
https://github.com/Juanvvc/c172p-detailed/tree/bug-504

[2015-11-09 13:33] dg-505 commented on #493
I'll do it.
Shall I also write a "Preflight Check" tutorial/checklist?

[2015-11-09 13:56] gilbertohasnofb commented on #493
@dg-505 Thanks, that would be a great addition! But maybe it would be better if you wait just a bit longer to start working on this, because we have some new features concerning this coming in the next days: right now there is a PR waiting to be merged which will divide the tie-downs into two objects, then by today or tomorrow I will create a PR for the fuel inspection (water contamination), and h

[2015-11-09 14:05] dg-505 commented on #493
Sounds good. Nevertheless I'll start working, and when you add the new things, I'll ad them to the checklists/tutorial.

I had the same idea about the walker:
Checklist item:
`Name:Walker`
`Value:STEP OUT OF AIRCRAFT`

I'll take the original POH into account when creating the checklists. When the checklists are finished, I can add them to the wiki page. About the video: That's a very good idea!

[2015-11-09 14:06] gilbertohasnofb commented on #493
Sounds perfect! Thanks a lot!

[2015-11-09 14:07] gilbertohasnofb commented on #437
The pre-flight instructions will be added to our wiki page by @dg-505. If you feel comfortable, you could also add a section about starting the engine with complex procedures (primer, full mixture, throttle at around 25%, etc.) and then we could close this issue.

[2015-11-09 15:20] dany93 opened #530 "No indicated airspeed"
Pulled "Latest commit 4358ae0"

Indicated airspeed remains at 0 on the instrument.
`instrumentation/airspeed-indicator/indicated-speed-kt` is (none) or nil

Not so important, but I'd like to know:
I wished to come back to my previous version, but I could not.
My local branch is with this bugged version.
[My remote](https://github.com/dany93/c172p-detailed) is still with the previous one (ebb386b)

[2015-11-09 15:39] dany93 opened #531 "Instant Replay sets magnetos to 1"
At least in these conditions:
- Start with engine running,
- Amphibious 180 hp,
- Default 160 hp

Instant Replay sets magnetos from 3 to 1, and they remain at 1 unless manually changed.

[2015-11-09 16:13] wlbragg commented on #504
SumpHotSpotLeft and SumpHotSpotRight are done. I named them starting with Sump to keep them together in Blender. I hope that doesn't mess you up!

[2015-11-09 16:42] gilbertohasnofb commented on #530
Maybe you have forgotten the pitot tube cover on? You can disable it indefinitely in the aircraft menu as well.

[2015-11-09 16:43] gilbertohasnofb commented on #504
No problems at all, thanks for the work! I will make a PR for the water contamination in some minutes and then start to work on the oil management :smile:

[2015-11-09 16:50] wlbragg commented on #504
I'm not sure about the the order of merging some of these bug fix pr's. I say this because in this particular case the pr contains the "still joined" version of the tiedownhotspots. Just beware when you finally do merge that this pr still has them joined. They are separate in the other pr (#528).

[2015-11-09 17:03] gilbertohasnofb commented on #504
Yeah, I am aware of that, it will need to be manually merged. That's not a problem from the point of view of the `.xml` files, but I have no clue how that works for the `.ac` and `.blend. files. I will ask onox about it.

[2015-11-09 17:18] dany93 commented on #530
Thanks, @gilbertohasnofb
Good suggestion, but **yes and no**. "Allow securing aircraft" and Put pitot tube cover" where unchecked. By fiddling with them, I got the airspeed.
However, there is some anomaly:
- If I uncheck "Allow securing aircraft" without unchecking "Put pitot cover", I have no airspeed (although pitot cover unchecks by itself).
- With checking / unchecking like this in  bad order,

[2015-11-09 17:19] gilbertohasnofb commented on #530
Thanks for the report, @dany93, I will check what is going on and try to fix this bug.

[2015-11-09 17:26] wlbragg commented on #504
I can easily bring over the blend changes from #528 to to this on and push if you wold like me to.
Is so just let me know when and I will pull any changes you've made and append the changes from the other blend to this one and push it back.

[2015-11-09 17:29] gilbertohasnofb commented on #504
Yes, please do that. Then I will cancel that PR for the tie-downs and I will create a single PR for all of this. So if you can take care of the `.blend` and `.ac` files, I can take rest of the rest.

[2015-11-09 17:42] wlbragg commented on #504
OK, I'll do it now. I'm just bringing over the split  tiedowns to this pr, correct?

[2015-11-09 17:44] gilbertohasnofb commented on #504
Yep, it's just the split tiedowns (and their hotspots). Then there is some xml code which I will do it myself. I am going to push some modifications to that branch now (only xml stuff), then I will wait for you in order to start the manual merge, ok?

[2015-11-09 17:45] gilbertohasnofb commented on #504
Done. So just do a `git pull` and let me know once you push the modifications. Thank you so much for all the help!

[2015-11-09 17:46] gilbertohasnofb commented on #530
Okay @dany93, I found the bug. I will create a PR implementing a lot of things today, and it will also fix this issue. Thanks for pointing this out!

[2015-11-09 17:54] wlbragg commented on #504
OK, done!

[2015-11-09 17:54] gilbertohasnofb commented on #504
:smile: :+1: :airplane:

[2015-11-09 18:16] gilbertohasnofb commented on #504
@wlbragg I finished the manual merge and we are almost ready to go, but there is just one little thing I am still unhappy with: when I press Ctrl+C, I can't see the hotspots for the sumps. I believe they are "inside" the wing. Would it be too much trouble for you to bring them a little bit down, so that Ctrl+C show them? After that, we are ready for a PR :smile:

[2015-11-09 18:32] Juanvvc commented on #504
We already have may sources for an engine failure: lack of fuel, water in the deposits, oil management... Emergency procedures says that (after controlling the aircraft, identifying a field suitable for an emergency landing and with enough altitude), you must try restarting the engine. There is going to be a similar situation if, just for the laughs or for training purposes, you switch the engine

[2015-11-09 18:41] gilbertohasnofb commented on #504
@Juanvvc for now, at least, any presence of water in the fuel will force the engine to shut down, regardless of the quantity. Since the water quantity in the fuel tanks is randomly created at start up, this means it will never happen mid-flight. I would love to implement this in a different way though: instead of causing an engine failure, a quantity of water in the tank (currently ranging from 0.

[2015-11-09 19:28] wlbragg commented on #504
I just saw this. I'm pretty sure they aren't in the wings. But I will look at it now and see if I can get them to show up.

[2015-11-09 19:29] gilbertohasnofb commented on #504
:+1:

[2015-11-09 19:40] onox commented on #530
Attempts: I did
git merge --abort
then
git reset -- hard
then
`git pull' (from origin/master, which is my dany93 remote)
With no success ("Your branch is ahead from 'origin/master' by 89 commits")

If your remote is at an older revision (ebb386b as you said), then you need to do `git reset --hard ebb386b` to reset your local repository to that particular commit. If you forget the commit id and sim

[2015-11-09 20:48] onox opened #533 "Gear lights of amphibious do not depend on electrical system"
Gear lights of amphibious do not depend on electrical system. Even if battery or alternator is turned off:

![fgfs-screen-320](https://cloud.githubusercontent.com/assets/3361585/11045425/a99831f6-8727-11e5-8028-e445949cd52e.png)
![fgfs-screen-321](https://cloud.githubusercontent.com/assets/3361585/11045424/a99056c0-8727-11e5-8364-ad67d8098c30.png)

I see `Model/c172p.xml` has multiple animations t

[2015-11-09 20:50] onox commented on #533
@wlbragg Would you like to do this? Add the commits to branch `bug-533`.

[2015-11-09 20:52] wlbragg commented on #533
Yes, I can finish it.

[2015-11-09 20:55] wlbragg commented on #528
@gilbertohasnofb, is this at a point I can pull, fix and push?

[2015-11-09 20:58] wlbragg commented on #504
@gilbertohasnofb, am I to use master and make a new branch to fix this?

[2015-11-09 21:09] onox commented on #533
I can do this issue if you're already too busy with other issues.

[2015-11-09 21:11] wlbragg commented on #504
There are issues with these. I'm not sure how you want to resolve it?
First, this shot shows it is not hidden in the wing. Left wing I moved down, right wing is how it is originally, it can be seen at just the right angle.
![fgfs-screen-002](https://cloud.githubusercontent.com/assets/11069680/11046523/91ac015a-86f3-11e5-8e89-8c67d20d0506.png)
Next, because I moved it down you can see it easier and

[2015-11-09 21:23] wlbragg commented on #504
![wtr4](https://cloud.githubusercontent.com/assets/11069680/11046872/406f808a-86f5-11e5-9174-a2dacd92ce4a.jpg)
Will this work?
I extruded flaps that hang down on the front and back edge.
Below, right side is the original position of the right wing hotspot which you could not see except for the "perfect" angle (because of the extruded flaps you can see it from virtually every angle). The left side

[2015-11-09 21:26] gilbertohasnofb commented on #504
@wlbragg what about using a very thin cuboid instead of a plane? that might solve the issue:

![](http://res.cloudinary.com/dk-find-out/image/upload/q_80,w_960/cuboid_y2hgis.jpg)

Your solution above is fine (better than the original), but I think it might make not much sense of what it's supposed to represent.

And please use the branch `bug-504`.

[2015-11-09 21:30] wlbragg commented on #504
bug-504 branch, right, I was looking at PR's and didn't see any.

OK but instead of a cube I think I will do it my way except inverted, so it is a cube without the top (because you can't see the top anyway), just like the ones over the tiedown hardware on the wings.

I can pull 504 now, fix and push?

[2015-11-09 21:31] gilbertohasnofb commented on #504
Sounds good!

Yep, I have no work to be committed, go ahead!

[2015-11-09 22:25] gilbertohasnofb commented on #504
@wlbragg did you push it?

[2015-11-09 22:29] wlbragg commented on #504
No, going in too many directions at the moment. Give me a sec, I'm checking something on it now.

[2015-11-09 22:30] gilbertohasnofb commented on #504
Ok!

[2015-11-09 22:42] wlbragg commented on #504
Sorry, I was trying to see what works best and the cube is much better so I am making them now, almost done.

[2015-11-09 22:45] gilbertohasnofb commented on #504
No worries, take it easy. I actually have to go now, so I will test and make the PR in the morning.

[2015-11-09 22:50] dany93 commented on #530
Thank you, @onox.

[2015-11-09 22:52] wlbragg commented on #504
OK, it's done, sorry for the delay. Maybe I should do the tiedown hardware hotspots under the wing the same way. They show up much better.

[2015-11-09 22:55] wlbragg commented on #533
I'd let you! :smile:

[2015-11-10 00:10] #531 closed

[2015-11-10 09:05] gilbertohasnofb commented on #504
@wlbragg Very good job, thanks a lot!

[2015-11-10 22:41] gilbertohasnofb opened #535 "Apply cough sound when engine killed"
Apply cough sound when engine killed

[2015-11-10 22:41] gilbertohasnofb opened #536 "Create function for coughing engine"
Create function for coughing engine

[2015-11-11 12:25] #528 closed

[2015-11-11 12:25] #530 closed

[2015-11-11 12:25] #504 closed

[2015-11-11 12:32] gilbertohasnofb opened #538 "With pitot covered, ASI should indicate wrong speeds but not necessarily 0 knots"
With pitot covered, ASI should indicate wrong speeds but not necessarily 0 knots

[2015-11-11 14:15] dg-505 commented on #538
Why shouldn't it indicate 0 kt? In a mechanical ASI the needle is moved by the air that is "pushed" into the tube. Therefore when the tube is covered the ASI can't indicate anything. At least I think so...

![](http://www.aviation4u.de/school/instrumente-flug%20fahrtmesser%2002.gif)
That means, IMHO the ASI should indicate nothing when the pitot tube is covered.

[2015-11-11 14:35] dany93 commented on #538
That's my opinion too.
The pitot tube cover is not airtight (it is just against insects or dust).
Thus, there is no dynamic pressure inside the pitot tube but the static pressure can equilibrate, even if the static pressure (very slowly) changes.
Anyway, even if the dynamic pressure were not exactly 0, I think it would be too low to give a reading on the ASI.

[2015-11-11 14:47] gilbertohasnofb opened #539 "Fix typo in the fuel contamination dialog"
Fix typo in the fuel contamination dialog: exchange "translucid" for "transparent" (sorry, that was my Portuguengrish :stuck_out_tongue_winking_eye: )

[2015-11-11 17:04] gilbertohasnofb commented on #538
According to http://www.skybrary.aero/index.php/Unreliable_Airspeed_Indications#Effects:

Would you agree with that, @Juanvvc?

[2015-11-11 17:08] gilbertohasnofb commented on #499
Okay, so I started working on this on a branch called `oil-management`, where a first implementation is already pushed. @wlbragg similarly to what happened to the fuel tank sumps, the oil door is not displaying the yellow contour when I hit Ctrl+C. Could you please have a look on it using this branch and try to fix it? You don't have to worry about any kind of conflicts with what I am doing becaus

[2015-11-11 17:24] dany93 commented on #538
Do not forget to make the difference between only covered by a *non-airtight protection* (which is your issue) and *blocked*.

[2015-11-11 17:36] onox commented on #538
And with icing it is fully blocked?

[2015-11-11 17:57] dany93 commented on #538
I think it can.

[2015-11-11 18:51] wlbragg commented on #499
OK

[2015-11-11 21:13] gilbertohasnofb commented on #499
Thanks!

[2015-11-11 22:13] wlbragg commented on #499
It's done. Sorry for the delay.

[2015-11-11 22:42] gilbertohasnofb commented on #499
No worries, thanks a lot!

[2015-11-12 22:19] gilbertohasnofb commented on #538
related to: https://github.com/Juanvvc/c172p-detailed/issues/50

So when the pitot develop ice, the airspeed will slowly decrease to 0 or drop at once when the icing completely covers the tube?

[2015-11-12 22:24] gilbertohasnofb commented on #41
I am reopening this as it's better so separate it from #360.

As for the RPM drop once the carb heat toggle is pulled, how much percent are we talking about? I read that the RPM drop is around 80 RPM at cruise RPM, which is around 3,5%. Can anyone confirm these numbers to me? @Juanvvc, @tigert?

[2015-11-12 22:27] gilbertohasnofb commented on #41
Other people mention much smaller drops, such as 25 RPM, 35 RPM, 50 RPM.

[2015-11-12 22:45] dany93 commented on #538
I have no experience of that, so my opinion is not better than yours can be.
My reasoning makes me think that the decrease should not be instantaneous, but I don't know at which time scale.
Moreover, the failing description above shows that it depends on which part is covered by ice first (drain at the same time or not?).

[2015-11-13 08:36] gilbertohasnofb commented on #41
A technical question, maybe @onox can help me with this one: if I create a `<filter>` which lowers the value of the property `/engines/active-engine/rpm`, I do see a RPM drop in the gauge, but that's not a real drop in power: the engine still effectively runs at the non-filtered RPM. Any recommendations on how can I force a loss of power as well as indicated RPM?

[2015-11-13 11:06] dany93 commented on #41
Engine RPM cannot be imposed, it is the **result** of throttle position, propeller moment due to the air, all of this giving a power depending on the max power of the engine.
I don't know if that is the best solution but I'd try with `/fdm/jsbsim/propulsion/engine[<N>]/air-intake-impedance factor`.
This is a bit cheating. If someone with a better knowledge has a better idea?  (@andgi?)

[2015-11-13 11:36] Juanvvc commented on #41
The "carburetor heat" does not modify directly the RPM, but takes the air from a different place and heats the airflow by wiring the the air circuit close to the hotter parts of the engine. This way, the air feeding the engine is hotter, less dense and as a result the mixture is leaner than with the normal air intake.

I guess a first approximation to the issue is just leaning the mixture by a fac

[2015-11-13 14:52] gilbertohasnofb commented on #41
Thanks for the ideas, guys, I will try using `air-intake-impedance` property and see what I can manage.

[2015-11-13 15:03] gilbertohasnofb commented on #41
Hmm, using the `air-intake-impedance` doesn't change a thing to me, but on the other hand the `volumetric-efficiency` property works wonderfully well: the default value is `0.85`. Lowering it to `0.81` creates a ~60 RPM drop @2300RPM, which seems reasonable to me for the carb heat. I will also use this property to make the plane engine weaker when the fuel is contaminated with just a bit of water

[2015-11-13 15:08] gilbertohasnofb commented on #446
Hey all, I just got a message from @thevirtualfer and he asked me to share some news with you all: he told me that the new 3D model is basically done (though he still has to incorporate some of our recent modifications), but that he is having some serious problems with his internet and he can barely access anything (he can't use GitHub for instance). He says he plans to move to a new house in Janu

[2015-11-13 15:52] dany93 commented on #41
Weird... Did you try by setting it directly in the sim, Internal properties ("Set")?
160 hp
0.15 --> 2323 RPM
0.5 --> 2196 RPM

[2015-11-13 15:54] gilbertohasnofb commented on #41
I tried setting it directly in the sim. But right now the `volumetric-efficiency` solution is working well, would that be all right with you?

[2015-11-13 16:02] dany93 commented on #41
`air-intake-impedance factor` is clearly the closest to reality for carburetor heating. The other one is a circumventing way. I don't understand why it doesn't work for you, but if  you cannot have it otherwise....
Did you change it for the right (active) engine?

[2015-11-13 16:09] gilbertohasnofb commented on #41
Fair enough, Dany, I will give it another try. So what do you say if I use `air-intake-impedance factor` for the carb heat and use the `volumetric-efficiency` to lower the engine efficiency if there is water contamination? That sounds quite reasonable to me.

[2015-11-13 16:18] dany93 commented on #41
It is a circumventing, far enough from the real cause, but I do not see which other property to use.

Still, I have a very limited knowledge of these parameters for real engines. I say what I can...

[2015-11-13 16:29] wlbragg commented on #446
:+1:

[2015-11-13 16:32] gilbertohasnofb commented on #41
That's really the point, unfortunately. But if we want to implement certain specific things we need to circumnavigate a little bit, and I think the result will be worth it. Thanks for all your tips.

[2015-11-13 16:35] Juanvvc commented on #41
I agree with dany93, the aircraft must use the most adequate parameter (air-intake-impedance, in my opinion) and not some other parameters (volumetric-efficiency) even if they seem to do the same. They might have other side effects or change in the future!

Regarding water contamination, what you think about using the bsfc parameter? Anyway, if fuel is water contaminated, the main problem is that

[2015-11-13 16:46] gilbertohasnofb commented on #41
I don't know this parameter, can you explain it to me?

As for the fuel contamination, currently we have in our plane that a very small amount of water makes the engine cough (but not lose power), and that if the water is higher than that threshold the engine simply doesn't turn on. I would imagine that for a small amount of contamination coughing + a little loss of power would look realistic, but

[2015-11-13 16:56] gilbertohasnofb commented on #41
@Juanvvc just to say I found information about the `bsfc` parameter.

[2015-11-13 17:10] gilbertohasnofb commented on #41
@dany93 I got the `air-intake-impedance-factor` to work, for some reason it didn't the first time I tried, don't know why. Anyway, the carb heat toggle now diminishes the RPM which is great, thanks for the help :smile:

[2015-11-13 18:08] gilbertohasnofb opened #541 "new pitot tube and pitot tube cover models by D-ECHO"
See what you guys think: http://forum.flightgear.org/viewtopic.php?f=4&t=25157&sid=e0003120d18c3dbd64377a5b75f57af7&p=264380#p264380

Although the model is "richer" than ours, it doesn't look like any RL model I've seen in pictures. What are your opinions?

[2015-11-13 18:14] wlbragg commented on #541
Do you know if the @thevirtualfer has done anything with the pitot tube in his work?

[2015-11-13 18:17] gilbertohasnofb commented on #541
@wlbragg I've got not idea about his work at all, he didn't commit anything in months and it also has been a while since the last time he posted pictures. My guess is that he probably improve the tube, so it's up to us to either wait for him (which may take months) or incorporate this. I personally think that his tube is better than ours, but I am not very happy with his cover for the reasons I wr

[2015-11-13 18:43] gilbertohasnofb commented on #541
D-ECHO wrote in the forum:

[2015-11-13 19:02] wlbragg commented on #541
Yeah, I'd prefer we stick with something the c172p uses in RL.

[2015-11-13 19:28] gilbertohasnofb commented on #541
Me as well. As I posted in the forum, the two most common pitot tube covers I've seen in pictures of 172 are by far these two:

![image1](http://static.panoramio.com/photos/large/37348192.jpg)

![image2](http://www.sportys.com/media/catalog/product/9/6/9651_4.jpg)

Of course not counting the most common of them all:

![image3](http://portfolioticker.com/wp-content/uploads/2015/06/pitot_tube_cover.

[2015-11-14 10:46] gilbertohasnofb opened #542 "moving sounds to FGDATA"
Thorsten wrote in the forum thread:

From my side, this is absolutely fine, what do you guys think? What about you, @onox? I will suggest that they also copy another sounds from our plane into that directory:

- `thunder1.wav`
- `thunder2.wav`
- `thunder3.wav`
- `rain.wav`
- `rain-windshield.wav`

And also maybe the new `wind.wav` sound, which may be merged via https://github.com/Juanvvc/c172p-det

[2015-11-14 10:47] gilbertohasnofb commented on #542
Also, if these sounds are copied to $FGDATA/Sounds, we can simply remove them from our repository and the code will continue to work without a single alteration, correct?

[2015-11-14 16:05] wlbragg commented on #542
Sounds like a plan!

[2015-11-14 16:25] onox commented on #542
Do all the sounds have the maximum volume they can have without any clipping? Once they are moved to FGData, we have no longer control over it.

[2015-11-14 17:25] onox commented on #446
Is he able to otherwise just upload/email the `.blend` file (and textures?) and then let someone like @wlbragg check it and integrate it into the repository?

[2015-11-14 17:28] onox commented on #538
@Juanvvc @tigert @wezzer Do you guys know what happens with the airspeed (and at what time scale) when the pitot tube gets blocked with ice?

[2015-11-14 17:56] gilbertohasnofb commented on #446
I sent him an e-mail asking this.

[2015-11-14 18:19] gilbertohasnofb commented on #542
So I will check that and then give Thorsten green light.

[2015-11-14 20:04] gilbertohasnofb commented on #542
@onox I have re-uploaded 4 files to the branch `bug-329`:

- `thunder2.wav` is now a tiny weeny bit louder, but no need to change the code for it at all (it now has the max amplitude just like the other two thunders)
- `rain.wav`, `rain-windshield.wav` and `wind.wav` all have been really amplified, so can you have a look on the code and adjust their volumes as you wish?

So then I propose the foll

[2015-11-15 12:41] onox commented on #541
It looks a bit like in [this YouTube video](https://www.youtube.com/watch?v=dqCqHlAn3b0&t=228)

[2015-11-15 12:45] gilbertohasnofb commented on #541
Yes, I think that's an identical model indeed. So what do you guys think, should we use this new model? I personally feel that it's more detailed, but I kind of prefer ours. But it's up to you all, I am fine with either one.

[2015-11-15 14:12] #499 closed

[2015-11-15 14:12] #539 closed

[2015-11-15 14:18] gilbertohasnofb commented on #41
Closed via https://github.com/Juanvvc/c172p-detailed/pull/540.

[2015-11-15 14:18] #41 closed

[2015-11-15 14:18] gilbertohasnofb commented on #535
Closed via https://github.com/Juanvvc/c172p-detailed/pull/540.

[2015-11-15 14:18] #535 closed

[2015-11-15 14:18] gilbertohasnofb commented on #536
Closed via https://github.com/Juanvvc/c172p-detailed/pull/540.

[2015-11-15 14:18] #536 closed

[2015-11-15 14:21] onox commented on #541
Is this a duplicate of #492?

[2015-11-15 14:30] gilbertohasnofb commented on #541
It's not exactly a duplicate, this is rather a question. If we say yes, it does close indeed #492, but if we say no then we close this issue but leave that other one opened for future improvements.

[2015-11-15 15:36] gilbertohasnofb commented on #493
Updated title and description.

[2015-11-15 18:45] gilbertohasnofb commented on #471
Hooray wrote in the forum:

What you guys think? @onox?

[2015-11-15 19:44] gilbertohasnofb opened #543 "Fuel and luggage GUI sliders shouldn't be available in-flight"
Similarly to how the oil and fuel sump GUI become inactive if the airplane is moving, the fuel and luggage dialogs should do the same (I am not referring to the Fuel and Payload dialog but rather the new ones that open when clicking on the fuel caps and baggage door).

[2015-11-15 19:58] wkitty42 commented on #543
i was going to report that, too... you beat me to it :smile_cat:

i'm also able to open both side doors and the baggage compartment at 100+ kts...

[2015-11-15 20:06] gilbertohasnofb opened #544 "Add a maximal speed in which the doors and baggage compartment door can be opened"
Add a maximal speed in which the doors and baggage compartment door can be opened. Currently they can be opened at any speed and in-flight.

[2015-11-15 20:06] gilbertohasnofb commented on #543
:smile:

Thanks, I opened this: https://github.com/Juanvvc/c172p-detailed/issues/544

[2015-11-15 20:08] wkitty42 opened #545 ""Neither a condition nor a property specified" in console output"
I don't remember when this started showing up but I thought to finally create an issue for it:

Initializing HUD Instrument
  AI Model Manager
Reading sound sound from /home/myuser/myflightgear/Aircraft/c172p/c172-sound.xml
  Neither a condition nor a property specified
Creating subsystems took:1291
Splash screen progress binding-subsystems

Apparently it doesn't like something in the `c172p-sound

[2015-11-15 20:09] wkitty42 commented on #543
:+1:

[2015-11-15 20:49] gilbertohasnofb opened #547 "Landing gear breaks too easily"
According to some users, the landing gear breaks too easy.

alge wrote:

![](http://www.pvv.org/~titlesta/auchie.jpg)

@wkitty42 also wrote:

Personally, I have never broke my gear because of sharp turns (heck, not even on landings it has happened to me, except when landing hard as a rock on purpose to test the effects and sounds).

[2015-11-15 20:50] gilbertohasnofb commented on #547
alge posted another message, and this one is really interesting:

His video shows very clearly the problem with the taxiways. Has any of you experienced anything similar? (also, a note about the video link: for some reason I can't watch it directly on my browser, but I could download and watch it using my video player)

[2015-11-15 21:18] gilbertohasnofb commented on #437
There is still a lot of room of improvement to our wiki page, but all the items referred in the first post have been written and therefore I am closing this issue.

@dg-505 when you update the checklists and tutorials, please feel free to make the wiki page consistent with them. I just added a small section about pre-flight inspection, but  I'd be very happy if you can improve on it after you have

[2015-11-15 21:18] #437 closed

[2015-11-15 21:23] dg-505 commented on #493
For now I've added the first version of the Preflight Inspection checklist to my fork. I'll create a pull request when all checklists and tutorials are finished.
For those who want to test: It's enough to replace the c172-checklists.xml in your aircraft folder with the one from my fork. I already tested it, but I may have missed some things... Further testing is highly appreciated! :point_up::heav

[2015-11-15 21:24] gilbertohasnofb commented on #493
:+1: Great! I will have a look on it soon. Also, see this comment here: https://github.com/Juanvvc/c172p-detailed/issues/437#issuecomment-156854921

[2015-11-15 21:25] dg-505 commented on #437
Yep, but for now the checklists and tutorials have higher priority for me. When they're finished, I'll bring the wiki article up-to-date.

[2015-11-15 21:25] dg-505 commented on #493
Thanks!

[2015-11-15 21:26] gilbertohasnofb commented on #437
Absolutely! I just added _something_ to the wiki so that people using our plane are at least able to understand what is going on. But there is no rush :snail:

[2015-11-15 23:26] wkitty42 commented on #547
On 11/15/2015 03:49 PM, Gilberto Agostinho wrote:

yeah, i broke mine the other day taxiing around KSFO at ~20kts or so... i wasn't
really even turning very hard, either...

i've also broken it trying to spin in the parking place so i could get out to
the runway since we don't have pushback for the c172p... in this case, i held
the right or left brake and ran the throttle up at least 80% and back

[2015-11-15 23:28] wkitty42 commented on #547
On 11/15/2015 03:50 PM, Gilberto Agostinho wrote:

that may very well be what i got caught on since i was using the "'" AIATC stuff
and following the groundnet lines out to the runway...

i haven't tried to look at the video yet as i'm responding to these from my
email instead of on the web...

[2015-11-16 00:02] wlbragg commented on #547
I have noticed on some airstrips that that yellow line is excessively high above the ground.

[2015-11-16 00:37] wkitty42 commented on #547
On 11/15/2015 07:02 PM, wlbragg wrote:

personally, i think that the main thing is that these lines should not be "hot"
(aka damaging)... is this something that needs be taken care of upstream (aka
with the fgfs core developers)???

[2015-11-16 00:48] wkitty42 commented on #547
On 11/15/2015 07:02 PM, wlbragg wrote:

this may not be the same thing but i'm sharing it anyway...

i'm at KSFO in parking spot D551... i hit the "'" AIATC key and the first thing
i've done is to hit "2" to turn on the ground net tracks... i haven't even
started the engine yet but i wanted to show this photo of the ground net track
roughly knee high to a human...

https://www.dropbox.com/s/hlrc1j

[2015-11-16 01:09] wkitty42 commented on #547
i don't know why my last post isn't showing the photo unless it is because i did it in email... but i think i've found part of my problem...

as i have only the keyboard which i fly with, using differential braking also requires that you steer the nose wheel with the INS and KP-ENTER keys... using any enter key causes dialog boxes to go away or send their default like when using the AIATC... so so

[2015-11-16 04:33] onox commented on #471
We can add a `NEWS.md` file with the release notes of 3.6 (and 3.8 just before creating the release), but a complete changelog is unneeded IMO.

[2015-11-16 04:39] onox commented on #544
I would like to implement this as just limiting how much the doors can be opened?

[2015-11-16 04:59] onox commented on #544
I would like to add a wind force that pushes against the doors.

[2015-11-16 05:04] onox commented on #493
The `carb-heat` property was changed in the checklists.

[2015-11-16 05:21] onox commented on #547
So the yellow line thing is something to be fixed in FG/FGData. And the nosewheel breakage is probably that JSBsim property that we used a short while ago.

@gilbertohasnofb Whenever someone has a problem, can you ask them the specific commit/revision of our project they are using? They can do `git log` and check the commit ID of the uppermost commit, or do `git rev-parse HEAD`.

[2015-11-16 05:45] onox commented on #545
This is just the wind sound which doesn't have a property or condition because it is always played. Will silence the warning in PR #522.

[2015-11-16 10:43] gilbertohasnofb commented on #547
About the yellow line, Thorsten wrote:

And I think he is right, I have never seen any problems with the yellow line and other airplanes.

@onox wrote:

Ok, I will start asking that, but I am afraid most people using our plane are not using git but rather downloading the zip file from GitHub. Anyway, I will ask alge.

@wkitty42 wrote:

I think 20 knots is extremely fast for straight taxi, not to m

[2015-11-16 10:49] gilbertohasnofb commented on #471
That sounds like a good idea, not more work than we are already doing here.

[2015-11-16 10:49] gilbertohasnofb commented on #544
:+1:

[2015-11-16 10:54] dany93 commented on #547
In the mode "Mouse is controlling flight controls", a left click (held pressed) enables you to control the rudder, thus the nose wheel to steer the aircraft on the ground.  Why don't you use this?
I know that you have not much room on your desk, but my mouse setting is such that I sweep from one side of the screen to the other in a bit less than 3 cm and that's accurate enough to steer the aircraf

[2015-11-16 11:01] wlbragg commented on #533
I'll work on it.

[2015-11-16 11:28] wlbragg commented on #533
I already have it all in except to tie to the alt and batt. I'll finish it and push later this morning.

[2015-11-16 11:30] wlbragg commented on #533
I guess it is tied directly to master power and no switch inline?

[2015-11-16 11:41] gilbertohasnofb commented on #544
As for the baggage door, the PR https://github.com/Juanvvc/c172p-detailed/pull/546 will not allow it to be opened mid-flight any more. But if one left it opened and took off, the door will remain opened, so if you want to improve this via wind forces it could be a nice addition. Else it is a minimal detail anyway :smile:

[2015-11-16 14:55] gilbertohasnofb commented on #547
@onox alge wrote in the forum:

[2015-11-16 15:18] gilbertohasnofb commented on #446
He wrote me next time he has some decent connection he will send me the model, and then I will create a branch for it and let you all know, ok?

[2015-11-16 15:25] gilbertohasnofb opened #548 "Change parking brakes default state"
Currently the parking brakes default state is set to off (and if one does not enable the save state of switches and toggles, it will be off every time one loads the sim). This has the good side of not making a beginner wonder why the airplane isn't moving after auto starting it and throttling it up. The down side is that someone who wants a more realistic simulation but does not want to save state

[2015-11-16 16:07] dg-505 commented on #493
See #549

[2015-11-16 18:13] onox commented on #533
You mean whether it depens on a circuit breaker? I don't know. @Juanvvc @tigert @wezzer Do you know this?

[2015-11-16 18:24] onox commented on #446
Yes, add it to a new branch, `bug-446` for example.

[2015-11-16 18:28] onox commented on #547
If he can reproduce it again when tied down, let him try to sit the aircraft idle for a while **without** being tied down or chocks, but **with** the parking brake on. Behavior should be the same, because that's all we're doing: secretly applying the parking brake.

[2015-11-16 18:29] onox commented on #547
And put the aircraft somewhere where there are no yellow/white lines.

[2015-11-16 19:45] wlbragg commented on #533
I didn't think about that, I would imagine if done right you would absolutely add a circuit breaker to the system for it. But what I was actually asking about was a master power switch for it. I guess regular landing gear don't have a power switch but I think they too would have a circuit breaker.

[2015-11-16 21:07] gilbertohasnofb commented on #446
Okay, I will do that as soon as he sends me the model (don't know when).

[2015-11-16 21:41] wezzer commented on #538
Fortunately I have never experienced this pitot tube icing, so I cannot really comment how quickly it happens. Once the ice completely blocks the pitot tube, I would say that it's an instant effect on the airspeed indicator.

[2015-11-16 22:21] gilbertohasnofb commented on #547
Okay, I will write that to him (right now the forum is down).

[2015-11-16 22:41] gilbertohasnofb commented on #533
@wlbragg I was looking for some images of how the gear lever in a 172 amphibious would look like and I found this, but I don't know if the lever is for the gear or for the water rudder: http://austingwatson.com/yahoo_site_admin1/assets/docs/Cessna172FloatplanePOH.32573617.pdf

Anyway, I think we need a lever for the water rudder, don't you think?

[2015-11-17 00:55] wlbragg commented on #533
Yeah, I like that. It looks like it is a handle attached to a cable. And the tension on the cable and handle keep it seated in the holder.
I wonder though what the pole looking object is for?

Something else, not related to the rudder but to the gear panel. I looked at several conversion of the c172/180 amphibian and they all had the same type of gear control panel as what we used.
![amph](https:/

[2015-11-17 03:39] wlbragg commented on #533
I'm not sure where we would put it. maybe between the seats?
Here it is in front of the pilot. This is un-textured and no handle.
![rudder](https://cloud.githubusercontent.com/assets/11069680/11202130/7f84560a-8caa-11e5-9161-24207c7561ef.jpg)

[2015-11-17 10:09] onox commented on #533
Put what? The black hockey puck? Why put it between the seats? :confused: Why not attach it to the handle that we have right now?

About the circuit breaker, we could use the one for the interior lights (`/systems/electrical/outputs/instrument-lights`)?

[2015-11-17 15:58] wlbragg commented on #533
@ onox sorry for the confusion. I posted the image of our panel out of context with the discussion we were having (I don't necessarily think we need the hockey puck thing).
We were discussing the device they use for releasing the rudder. It looks like a simple cable that is under tension by the spring on the rudder. It has two available setting, deployed or not, I'm not sure which is which. The ca

[2015-11-17 16:36] gilbertohasnofb commented on #533
In between the seats look good to me. And what about that lever in between the seats that can be seen in the pdf I posted, what is that for? Is that some other method of lowering the gear as opposed to a switch in the panel, or does that lever do anything else?

[2015-11-17 16:40] wlbragg commented on #533
I don't know what that is for.
@gilbertohasnofb if onox agrees we should add this, we should make a new issue.

[2015-11-17 16:44] wlbragg commented on #533
Can you make a texture for any of it. I know it is small detail.The bracket that the handle sits in needs a  couple screw heads. The handle could be wood or plastic and the tube that passes through the fuselage is probably metal of some sort.

[2015-11-17 16:47] wlbragg commented on #533
I'm not sure we can get this detailed but the tube through the fuselage would be threaded on the end that passes through the fuselage and then a nut on both the exterior and interior to hold it in place on the fuselage.

[2015-11-17 16:51] gilbertohasnofb commented on #533
By this you mean the unknown lever or do you mean the water rudder control?

As for the texture, I will prepare something. To which branch should I push it? I will probably add them to `panel.png` as it is the texture with most empty space (and anyway I am afraid we will have to redo all textures once @thevirtualfer's new model arrives...)

[2015-11-17 16:52] gilbertohasnofb commented on #533
One more thing: would you have a photo of the mechanism for me to base the textures? I only have seen that illustration in the pdf file.

[2015-11-17 16:56] wlbragg commented on #533
I meant adding the rudder deploy device. but that is OK lets just do it, I'm sure he'd be OK with it.
Do you mind making a new issue for this?

panel.png is good and the branch could be something like rudder-deploy-device.

No I have no picture but can gestimate by what this thing is doing that it has very simple parts to it

[2015-11-17 17:01] wlbragg commented on #533
I'm not trying to put anything off on you. If you saw how I am typing and sitting, you'd be rolling on the floor laughing. I have a very determined dog that insists on sitting with me.

If we have a new issue, is there an easy way for me to copy or move all this discussion to the new issue and keep the authorship?

[2015-11-17 17:09] wlbragg commented on #533
@onox, I changed the gear panel to use "/systems/electrical/outputs/instrument-lights" which work good.
One thing I noticed though while testing was that this is not set up to "rely" on power to operate. The gear still work without power, only the lights don't work. I guess I should go ahead and make the gear deploy dependent on power also?

[2015-11-17 17:21] gilbertohasnofb commented on #533
Do you mind making a new issue for this?

Sure, I don't mind doing it myself at all! And I will work on the textures as you say.

Do you mean the assignee? I don't think we can have two assignees, but I don't really care for that. I just assign things for myself so that other people know that I am already working on something, as to avoid common efforts on a same problem :wink:

[2015-11-17 17:22] gilbertohasnofb opened #551 "Create water rudder lever"
Create water rudder lever for float and amphibian models

Reference: http://austingwatson.com/yahoo_site_admin1/assets/docs/Cessna172FloatplanePOH.32573617.pdf

[2015-11-17 17:23] gilbertohasnofb commented on #551
See discussion from https://github.com/Juanvvc/c172p-detailed/issues/533#issuecomment-157194797 onwards.

@wlbragg I will add the textures to `panel.png` on branch `bug-551` and let you know about it.

[2015-11-17 17:32] wlbragg commented on #533
No, I meant copying any of this discussion over the the new issue and who said what. What you did is fine. Well just go from there. Thanks.

[2015-11-17 17:33] wlbragg commented on #533
@onox, I changed the gear panel to use "/systems/electrical/outputs/instrument-lights" which work well.
One thing I noticed though while testing was that the gear deploy/retract is not set up to "rely" on power to operate. The gear still work without power, only the lights don't work. I guess I should go ahead and make the gear deploy dependent on power also?

[2015-11-17 17:33] gilbertohasnofb commented on #533
:+1:

[2015-11-17 17:35] wlbragg commented on #533
@onox, I see the rudders have a key assigned to them but not the gear, where do I stop the gear from deploying if there is no electrical to them?

[2015-11-17 17:46] wlbragg opened #552 "Refactor object description animations"
I am not sure this is even an issue that is worth doing but I ask the question here.
When using animations where there are many pieces you can make a single word name that encompass all the separate objects. There are many objects that we are animating that might benefit from this type of refactoring.
Is it something we should or should not bother with?

Example, the amphibious brakes are doing th

[2015-11-17 18:20] wlbragg commented on #551
Actually reading the documentation that @gilbertohasnofb provided answered some of my questions.

First off some other potential additions we might want to think about on the amphibious configuration.
1) "standard propeller is replaced by a propeller of larger diameter and flatter pitch."
2) "an oil radiator is installed in the engine rear vertical cooling baffle."
3) "hoisting provisions are adde

[2015-11-17 18:34] gilbertohasnofb commented on #551
Oh, I couldn't read it, so then it makes it clear, thanks!

I will try to prepare these textures still tonight.

[2015-11-17 19:14] onox commented on #404
Added list to `NEWS.md` in PR #553

[2015-11-17 19:27] onox commented on #533
@wlbragg Does the landing gear need electricity to move? Perhaps we should also support gravity assist for gear down movement.

[2015-11-17 19:27] onox commented on #533
See https://github.com/Juanvvc/c172p-detailed/blob/amphibious-gear-panel-electrical/c172p.xml#L899-L912

[2015-11-17 19:28] onox commented on #533
@wlbragg See this trick for how to nuke a `<kinematic>`: https://github.com/Juanvvc/c172p-detailed/blob/amphibious-gear-panel-electrical/c172p.xml#L800-L810

[2015-11-17 19:31] wlbragg commented on #533
Technically yes, at least if using the panel switch. If the panel has no power then the switch shouldn't deploy the gear.
As far as a backup (gravity assist), I can't see how they would have engineered one in those pontoons.

[2015-11-17 19:32] onox commented on #533
Hmm... ok, lets do electricity only then.

[2015-11-17 19:35] wlbragg commented on #551
One other thing, when we get this addition working, the speed of the deploy animation should be sped  up. I say this because the rudders are mechanical not electrical and they will deploy or retract at the speed of the pilots arm movement in releasing the handle. Probably pretty quick.

[2015-11-17 19:39] wlbragg commented on #533
Probably, but I'll ask in the forum just in case they have some ingenious way to emergency deploy.

[2015-11-17 19:59] #543 closed

[2015-11-17 20:00] onox commented on #533
@wlbragg You want to implement this in the same branch?

[2015-11-17 20:00] onox commented on #533
We can keep PR #550 open in that case.

[2015-11-17 20:01] gilbertohasnofb commented on #548
Closed via https://github.com/Juanvvc/c172p-detailed/pull/546

[2015-11-17 20:01] #548 closed

[2015-11-17 20:05] onox commented on #552
I'm not sure I fully understand. You want to change it to for example:

* gear-front-right-damper

* gear-front-right-wheel

etc.?

[2015-11-17 20:08] onox commented on #552
Or do you mean grouping? If you mean grouping, shouldn't it be done in the `.blend` file?

[2015-11-17 20:24] onox commented on #116
`leftwindow`
`leftwindow_interior`
`windlocked_left`

`rightwindow`
`rightwindow_interior`
`windlocked_right`

[2015-11-17 20:32] gilbertohasnofb commented on #551
You had previously written:

So, I decided to add the textures to `panel_parts.png` rather than `panel.png`, as it makes more sense and there is still some empty space there. That file already had a screw head that you can use, so now I added:

- a generic plastic texture
- a generic wood texture

It also already had a metallic texture that can be used. See:

![eg](https://cloud.githubusercontent.

[2015-11-17 21:31] wlbragg commented on #533
Yes, we can keep it here.

[2015-11-17 21:34] wlbragg commented on #551
Perfect, thank you!

[2015-11-18 02:56] wlbragg commented on #552
I know that there is a bunch in all the damage code, other than that I haven't really inventoried it, I just know there is room for improvement there.

[2015-11-18 03:03] wlbragg commented on #551
I created the water rudder retraction hardware and positioned it in between the seats. Let
me know what you think and please be kind. Maybe @thevirtualfer can make a more professional version of it in the future.
Next up is to animate it in the down position.

[2015-11-18 07:08] gilbertohasnofb commented on #551
@wlbragg No need to feel humble about it, it is looking pretty good! :smile: But notice that right now you are showing it on all models and not only on the float and amphibian variants.

[2015-11-18 19:38] wlbragg commented on #551
Thanks, your too kind.

@gilbertohasnofb, @onox, I've consolidated all float model items into c172p-pontoon.blend, everything except the gear panel.
@gilbertohasnofb, I am getting an error 'no such member: autostart' in Nasal/engine.nas line 171.
Can you check your local copy before you pull this latest push?

[2015-11-18 19:55] wlbragg commented on #551
I don't get the error in master or amphibious branches.

[2015-11-18 22:40] gilbertohasnofb commented on #551
It seems related to the PR which already has been merged into master, when I moved the autostart from `engine.nas` to `c172p.nas`. That said, it shouldn't affect this branch at all...

Before pulling anything (so the last commit on my branch `bug-551` is my texture addition from yesterday) gives me no such error message. I will pull and test it again now.

[2015-11-18 22:41] gilbertohasnofb commented on #551
After pulling I got no error either. Both times I started the engine with autostart and all went well.

[2015-11-19 01:46] wlbragg commented on #551
Hum, let me pull a new copy and see if it went away.

[2015-11-19 02:09] wlbragg commented on #551
Try exiting the sim with "complex start up" and "start with engine running" NOT checked, then start it up again.

[2015-11-19 03:21] wlbragg commented on #551
This is really frustrating. Not only do I still have the error, but when I switch from floats to bush gear options the cross-bracing and the rudder deploy system don't disappear. This last commit was the select animations that got that part working (at least for the rudder system). The cross-bracing was already working.

Would you please see if the rudder deploy system and the cross-braces disappe

[2015-11-19 04:11] wlbragg commented on #551
I'm not sure what happened but I got it worked it out. I am merging "amphibious-gear-panel-electrical" into this branch and pushing it. It's to difficult working on this separate. Everything should be done except the animation for rudder deploy position of the rudder deploy system. I'll probably do that in the morning.

[2015-11-19 04:23] wlbragg commented on #533
I forgot about this next step. I am going to finish this in #551 and keep everything together.

[2015-11-19 04:25] wlbragg commented on #551
#550 and #553 continued here.

[2015-11-19 11:54] gilbertohasnofb commented on #551
That is exactly what I was doing and I was not seeing any error or whatsoever.

[2015-11-19 11:56] gilbertohasnofb commented on #551
Were the two branches mergeable? If one branch was created before the modifications to `engine.nas` and the other after, then that file would have been different between them. Could that have caused your problem?

[2015-11-19 13:43] gilbertohasnofb opened #555 "Better UV mapping to baggages"
Better UV mapping to both baggages. Currently, the slim sides of the baggage look strange, they are mapped to a single pixel row of the texture which creates a strange effect:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/11272257/dafd2fa2-8ecb-11e5-8847-8402b9ed8aee.png)

[2015-11-19 16:56] wlbragg commented on #551
I think I merged them afterwords. If you have the time pull this and see if the error is still absent for you.
If you remember, what commit modified engine.nas?

[2015-11-19 17:19] wlbragg commented on #551
I just checked the autostart code and the one call to it, it is correct. It there maybe another place calling autostart?

[2015-11-19 17:46] wlbragg commented on #551
You know what I think this error is originating from, I think it may be related to an old saved state?

[2015-11-19 17:54] wlbragg commented on #551
I was right, I had to delete aircraft-data/c172p.xml in .fgfs to get rif of the error. I searched that file for "autostart" and found nothing but deleting it fixed this issue.

[2015-11-19 20:35] wlbragg commented on #551
OK, all done, ready to merge unless I made a mistake or forgot something.
@onox, nice trick with the kinetic. I don't think I would have figured that out on my own.

The only outstanding question was

or
systems/electrical/outputs/instr

on the circuit breaker
systems/electrical/outputs/instrument-lights is labeled interior-lights
systems/electrical/outputs/instr is labeled instr-breakers

I now h

[2015-11-19 21:22] wlbragg commented on #555
Just added this to #551

[2015-11-19 21:34] wlbragg commented on #116
I can work on this if you want!

[2015-11-19 21:36] onox commented on #116
Sure. I think the windows rotate along their upper edge. They don't slide down like car windows.

[2015-11-19 21:36] wlbragg commented on #116
Push out from bottom?

[2015-11-19 21:37] onox commented on #555
@wlbragg  Uhh... why is this added to an issue about water rudders? :confused:

[2015-11-19 21:38] onox commented on #116
Yes. See https://www.youtube.com/watch?v=C-yqLXZtkjA

[2015-11-19 21:38] wlbragg commented on #555
I just wanted to get rid of it and not have to make a new branch or pull one. Was there a branch for this?

[2015-11-19 21:39] wlbragg commented on #555
In otherword I just fixed it and pushed it to #551 which is ready to be merged, hopefully!

[2015-11-19 21:40] onox commented on #555
You mean PR #554?

[2015-11-19 21:40] wlbragg commented on #555
Yes.

[2015-11-19 22:59] onox commented on #492
@gilbertohasnofb Perhaps you could ask D-ECHO to adjust his model to be more like in the picture in https://github.com/Juanvvc/c172p-detailed/issues/492#issue-114692971?

[2015-11-20 04:32] wlbragg commented on #496
Can we close this?

[2015-11-20 04:41] wlbragg commented on #116
Hum, have you seen the frame around the window? Are we going to just ignore this lack of a frame for now until we get a new model?
I wonder if this is part of @thevirtualfer's improvements?

[2015-11-20 05:25] wlbragg commented on #116
Here is what were looking at, do we still want to proceed? Keep in mind these are the best viewing angles for being able to see the window.
![win1](https://cloud.githubusercontent.com/assets/11069680/11292513/b127c8ec-8f14-11e5-9027-fe9cf0bc4429.jpg)
![win2](https://cloud.githubusercontent.com/assets/11069680/11292515/b1287242-8f14-11e5-8129-f8cba614519d.jpg)
![win3](https://cloud.githubuserconten

[2015-11-20 09:42] gilbertohasnofb commented on #555
@wlbragg Thanks for fixing this!

No, there was not. But I think onox is right, we could have created one just for this. Makes the PR's more organized.

[2015-11-20 09:44] gilbertohasnofb commented on #551
Yeah, I have been messing around a lot with saved states, so almost every recent PR I proposed would involve changes in that file. It didn't cross my mind this could be the issue here though, but great you found the solution :smile:

[2015-11-20 09:44] gilbertohasnofb commented on #492
I will ask him.

[2015-11-20 09:46] gilbertohasnofb commented on #492
I sent him a PM, I will let you know once I get a reply.

[2015-11-20 13:04] #551 closed

[2015-11-20 13:05] gilbertohasnofb opened #556 "Strange polygons inside cockpits of pontoon and amphibian models"
I just noticed that both the pontoon and the amphibian models have two strange polygons showing inside the cockpit, see:

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/11298579/7578dbd0-8f80-11e5-8c9b-012b2d6d02c3.jpg)

To better view them, simply switch from the default to float in the sim and you will see those polygons popping up into existence.

[2015-11-20 13:12] onox commented on #496
Has it been fixed (at least depended on airspeed)? Or did we only fix the front window?

[2015-11-20 13:17] #533 closed

[2015-11-20 13:17] #555 closed

[2015-11-20 13:19] onox commented on #116
Have you also tried opening the door and see if the animation is still correct?

[2015-11-20 13:19] onox commented on #116
For now we should ignore the missing frame and hope @thevirtualfer has (or can) added it to the model.

[2015-11-20 13:50] onox commented on #37
Shouldn't the number of electrical devices that are active have an effect on the amps? It always goes to 7 currently (no pun intended).

[2015-11-20 13:52] gilbertohasnofb commented on #37
I don't know, but they certainly should have an effect on the voltage, see: https://github.com/Juanvvc/c172p-detailed/issues/38

[2015-11-20 14:21] #329 closed

[2015-11-20 14:21] #545 closed

[2015-11-20 14:28] gilbertohasnofb commented on #84
I believe this has been fixed as I don't see the problem any longer using our `master` branch.

[2015-11-20 14:28] #84 closed

[2015-11-20 15:11] #525 closed

[2015-11-20 17:46] wlbragg commented on #116
No, I first wanted to make sure we were OK with the visual and that we are going to proceed. I'll continue on. I might be able to add a thin frame that only is visible on opening as a temporary fix. If I do it will be the last thing I do and then we can decide if we want to keep it that way.

[2015-11-20 17:52] wlbragg commented on #496
It is as good as I am going to get it. The side windows are at least as good as they were originally and overall it now is tied to engine RPM and airspeed.
I'm happy with it knowing the limitations of the current implementation of the underlying shader code. It's just not designed for complete customization for every angle of window especially when using multiple window configurations at the same

[2015-11-20 17:54] wlbragg commented on #556
Uh' oh, I'll check it out and see what happened.

[2015-11-20 18:15] gilbertohasnofb commented on #556
I believe it's from the structure which connects the floats to the fuselage: they are "entering" the cockpit from outside, if you know what I mean.

[2015-11-20 18:17] gilbertohasnofb commented on #492
He told me he will have a look at it.

[2015-11-20 20:20] wlbragg opened #557 "Tie-downs and two sets of chocks showing in fgrun model view."
What do we want showing in the fgrun model view, the tiedowns, pitot cover, chocks? As of now all of it is showing including both sets of chocks. So at the minimum we need to "nopreview" at least one set of chocks.

[2015-11-20 20:53] gilbertohasnofb commented on #557
Probably the best is to show just the plane, no chocks, no tie-downs, no pitot covers, no pilot inside either.

[2015-11-21 00:19] onox commented on #557
I agree with that.

[2015-11-21 00:21] #556 closed

[2015-11-21 00:24] #496 closed

[2015-11-21 08:10] wlbragg commented on #116
Done see PR #560

Not sure about MP, flight-recorder and the use of door.nas (specifically "aircraft.door.new(...)"). I'm not familiar with what all can be changed in the syntax of this call or if this is a user defined var or a hard coded constant or function?

Also the new "circle latch support" on the windows could look better with a better texture (more convex 3D looking VS concave).

[2015-11-21 10:28] gilbertohasnofb opened #561 "wind tunnel data"
Here is some wind tunnel data posted by erik in the forum thread: http://etd.auburn.edu/bitstream/handle/10415/1135/Recktenwald_Bryan_48.pdf?sequence=1

Maybe @dany93 and others would find some use for it. If not, feel free to close this issue.

[2015-11-21 11:06] dany93 commented on #561
Thanks @gilbertohasnofb.
Although this thesis subject is disk shaped wings, some measurements on C172 are given for comparison.
I keep it in my documentation.

[2015-11-21 11:08] onox commented on #116
The issue was not with the floats but with the ints[0 .. 3], because they were used by old version (<= 3.4) for the registration number.

[2015-11-21 11:21] dg-505 commented on #557
Maybe a ```<nopreview/>```-Tag  in one of the .xml-files would do it. I'm not sure in which file this should be placed. Maybe in the ```chock.xml``` resp. ```rbf.xml``` resp. ```tiedownL/R.xml```? Or in the ```c172p.xml```?

[2015-11-21 12:28] gilbertohasnofb commented on #561
Okay @dany93, in that case I will close this issue. If we ever decide to implement something related to this paper, we can reopen it.

[2015-11-21 12:28] #561 closed

[2015-11-21 12:32] #116 closed

[2015-11-21 17:47] wlbragg commented on #557
How do you hide the strobes or whatever this is?

![preview](https://cloud.githubusercontent.com/assets/11069680/11319711/962362b8-9045-11e5-83f4-c278e75b2a33.jpg)

[2015-11-21 22:11] wlbragg commented on #557
@gilbertohasnofb, I was going to make a new issue but thought I would ask here first.

Would it be OK in you opinion to add the tiedown capability to amphibious only (not floats) and only on airport or land (not on water)? If you need another longer set of tiedowns for it, I'd make them for you!

[2015-11-21 22:14] gilbertohasnofb commented on #557
Yeah, we could do that. Probably we don't need another set of tiedowns, we can use the same trick of burying them under the ground. But how can we detect if the amphibious in not on water?

[2015-11-21 22:18] gilbertohasnofb commented on #557
We could also create a tail tie-down for all these variations, given that it is quite standard as well and is mentioned in the POH:

![](http://fischeraviation.com/wp-content/uploads/sites/10/2014/04/n811jd.jpg)

[2015-11-22 04:40] wlbragg commented on #557
I think this following property is true if on the water
/fdm/jsbsim/hydro/active-norm

[2015-11-22 07:04] wlbragg commented on #557
@gilbertohasnofb, I added the tail tiedown in PR Add tail tiedown #565

I ended up putting in all the code for it as it was just as easy to copy and edit all your work than to just add a select animation to see it while I worked on it.

In addition to adding tiedown ability to the amphibious, we should also add it to the ski version (if it is not already).

The amphibious is pretty high of the gro

[2015-11-22 08:27] dg-505 commented on #557
The property ```/gear/gear[~i~]/ground-is-solid``` is set to false, when the respective wheel is over water.

[2015-11-22 09:51] gilbertohasnofb commented on #557
@wlbragg Thanks a lot! I will test that PR.

It's already there, as the ski has the same height as one of the bush variations, so it was easy to add it. So let's first merge that tail tie-down PR, then we create a new issue for the amphibious tie-downs, okay?

[2015-11-22 09:52] gilbertohasnofb commented on #557
@dg-505 thanks for the info! We will use that

[2015-11-22 10:17] gilbertohasnofb opened #566 "Allow tie-downs to amphibian model if on solid ground"
Allow tie-downs to amphibian model if on solid ground.

We can use the property `/gear/gear[~i~]/ground-is-solid` (thanks @dg-505!)

Probably we will have to prolong all tie-down models, @wlbragg

[2015-11-22 10:18] gilbertohasnofb commented on #557
PR merged, so I created https://github.com/Juanvvc/c172p-detailed/issues/566

[2015-11-22 12:13] dg-505 commented on #544
You may want to take a look at the DHC6 Twin Otter. There the doors can be opened until a specific speed. Maybe this helps you implemeting that. Just a suggestion...

[2015-11-22 13:46] gilbertohasnofb opened #567 "Add metal plate to floor texture"
Add metal plate to floor texture. See: http://tigert.1g.fi/kuvat/Simulators/Flightgear/C172-dimensions/aar.jpg

[2015-11-22 13:59] gilbertohasnofb commented on #422
I will not work on this issue since soon we will have a new model by @thevirtualfer and the UV mapping will have to be redone, and so I am closing this.

[2015-11-22 13:59] #422 closed

[2015-11-22 14:52] onox commented on #567
Do we really want this? IMO it looks kinda ugly.

@gilbertohasnofb Could you do `git commit --amend` and replace the commit message with something like "Added metal plate to floor texture"?

[2015-11-22 14:56] onox commented on #567
Hmm... I see on google that there is some sort of plate on the floor, but sometimes it is covered by the carpet.

[2015-11-22 14:57] gilbertohasnofb commented on #567
Really? I think it looks good! It's quite common I think

[2015-11-22 14:58] gilbertohasnofb commented on #567
It's up to you, but I think it looks good and I also think it's typical for these older models like ours.

[2015-11-22 14:58] onox commented on #567
@gilbertohasnofb In that case can you rewrite the commit message as I said in the PR? (I accidentally added the comments to this issue pages, but I meant them to be on the PR page.

[2015-11-22 14:59] gilbertohasnofb commented on #567
I will do that.

[2015-11-22 15:00] gilbertohasnofb commented on #567
Okay, I did that. Do I need to push it or something?

[2015-11-22 15:01] onox commented on #567
Yes, otherwise I don't see it here on Github :wink:

[2015-11-22 15:02] onox commented on #567
You are in the correct branch, right?

[2015-11-22 15:02] gilbertohasnofb commented on #567
Hmm, not really working. See:

[code]

[2015-11-22 15:02] gilbertohasnofb commented on #567
This is after the commit name was changed locally.

[2015-11-22 15:03] onox commented on #567
You need to use `--force`

[2015-11-22 15:03] wlbragg commented on #567
Are we going to make it an option?

[2015-11-22 15:03] gilbertohasnofb commented on #567
What do you mean? Make this metal plate optional? No, it's hard coded in the textures.

[2015-11-22 15:04] onox commented on #567
I think adding yet another check button is a bit too much :worried:

[2015-11-22 15:04] gilbertohasnofb commented on #567
I wouldn't see the point either, it's just an "aesthetic" detail. No need for more check buttons indeed. I think buttons should be only for functional things.

[2015-11-22 15:05] gilbertohasnofb commented on #567
Ok, I pushed with `--force` but I still see the old commit name here on GitHub

[2015-11-22 15:06] onox commented on #567
Refresh.

[2015-11-22 15:06] #567 closed

[2015-11-22 15:06] gilbertohasnofb commented on #567
same

[2015-11-22 15:07] gilbertohasnofb commented on #567
anyway, on the PR the commit has the correct name, just not here in this issue

[2015-11-22 15:08] wlbragg commented on #567
If it is an after market addon, it should be optional. What was it for, to limit wear from your heal?

[2015-11-22 15:09] gilbertohasnofb commented on #567
I think it's unrealistic to make this argument. A lot of the textures I created were by using reference pictures only. I can't possibly research every single plate and bolt in the cockpit to see what's from the factory or not, and as long as the cockpit "feels" like a P model (which I think ours do) then I am satisfied :wink:

[2015-11-22 15:10] onox commented on #567
I see. Just something you have to ignore then I guess.

[2015-11-22 15:23] wlbragg commented on #567
My only thought was if we had "several" after market addon that are fairly common we could put them in a separate sub- menu.
Beings this is just a texture, (I thought it was going to be modeled), I guess it would be difficult to make it selectable.
@gilbertohasnofb, I wasn't asking you to research anything, just asking a simple question.
It is not s simple nut or bolt, it is a decent sized metal p

[2015-11-22 15:39] gilbertohasnofb commented on #567
@wlbragg I see you are only making suggestions, no worries about it, I understood you weren't telling me to do anything, just raising a possibility. Communicating via text is complicated, it's often difficult to tell people's tone, and that's why I like to add emojis as often as possible :smile_cat:

But my opinion is that if something isn't functional, it should be made as optional and so it's up

[2015-11-22 15:45] wlbragg commented on #567
We're good then! :smile:
I just pulled a new master and don't see the plate, did it get merged?

[2015-11-22 15:47] gilbertohasnofb commented on #567
:+1: :smile:

As for the modifications, I just tested the `master` branch and they are showing up on all liveries. Are you sure something isn't wrong with your local repo?

[2015-11-22 15:48] wlbragg commented on #567
My mistake, I got it.

[2015-11-22 15:52] wlbragg commented on #567
Looks good!
Those have to be for wear from your heal, It would make sense that they are on older models more than new.

[2015-11-22 15:54] #557 closed

[2015-11-22 17:19] gilbertohasnofb opened #570 "right side 'D' in D-ENMU is cut"
Reported by @wkitty42:

![](https://camo.githubusercontent.com/53c1c57773ac7e3fffa69190711f5279789acbb1/68747470733a2f2f7777772e64726f70626f782e636f6d2f732f7a636d6a7270796f763065636a386f2f666766732d73637265656e2d3039312e706e673f646c3d31)

[2015-11-22 17:19] gilbertohasnofb commented on #570
Yeah, my bad, it happened when we made the stabilizers slimmer and I had to make some tricks to the tail texture. I will fix it straight away.

[2015-11-23 11:04] wlbragg commented on #552
I went through the code and don't see any advantage in this. There was only one block of object names that were being used twice (one rotate ans one translate). All other groupings of object names were different from one another.

So I'm closing it.

[2015-11-23 11:04] #552 closed

[2015-11-23 17:52] #570 closed

[2015-11-24 04:09] wlbragg commented on #462
I have an idea, even though the default heat and air flow on the RL c172 does not have climate control as in picking a temperature and the system keeps it at that temperature. What it does have is a human to feel the temp and then adjust the sliders. We can't feel it in the sim.
So, I think we should have a check box, something to the effect, "Maintain comfortable air temperature".
How I will prog

[2015-11-24 15:03] onox commented on #462
Sounds like a good idea, but shouldn't we first improve `Nasal/weather.nas`? I'm thinking about converting it to maybe a JSBsim system.

[2015-11-24 15:20] gilbertohasnofb commented on #462
@wlbragg So in that case, that would be equivalent as disabling the fog and frost effect, as your code would automatically take care of it, and so the only difference would be that the levers would automatically move instead of staying still. If you think that's worth it, you can of course go for it, but then I'd suggest we remove the "disable frost/fog effect" and substitute it for the new "autom

[2015-11-24 16:43] wlbragg commented on #462
OK, I think I can do that too while I am at it.

Even better, then we don't have to add another GUI choice.

[2015-11-24 16:46] tigert commented on #462
i think the frost stuff is a nice piece of realism. The popup is kinda annoying (on hot summer the temp can be over 32C no matter what you do with the sliders :-) yet it is not really a big problem, maybe just time for shorts and tshirt and more airflow :)

[2015-11-24 16:49] tigert commented on #462
The frost can be turned off, so it is not in the way if you just want to fly. I think this is important in the default aircraft, if you are just learning, it is nice if you do not have to handle too much at once, yet we can implement a lot of stuff like that as long as it is not a problem for learning basic flight technique first. Realism can be added gradually as the pilot learns -just like in re

[2015-11-24 16:53] onox commented on #462
Can I do this? I'm already working on it :smile:

[2015-11-24 17:16] dg-505 commented on #493
If no one has objections, IMHO this can be closed. Or is there still something missing?

[2015-11-24 17:49] wlbragg commented on #462
Absolutely!

[2015-11-24 17:57] onox commented on #462
Btw, do we want the air movement + heating to be dependent on the electrical system? Any circuit breaker we should depend on?

[2015-11-24 17:58] wlbragg commented on #462
FYI:
To put it simply,

The existing code heats the air temp at a different rate than the surface temp.
The air flow is independent from the heat flow.
Heat flow introduces heat into the airflow.
Fog is dependent on moisture on surfaces which id dependent on dewpoint which is dependent on air temp.
Ice is dependent on "moisture on surfaces" and internal surface temperatures.

[2015-11-24 17:58] wlbragg commented on #462
Probably not because it is a mechanical slider that introduces the heat and air.

[2015-11-24 18:00] wlbragg commented on #462
And the heat should work by simply passing air over the heat coil that has water or fluid moving through it. Unless an aircraft uses a different system to capture heat off the engine.

[2015-11-24 18:03] onox commented on #462
But what controls the heat coil then? :smile:

[2015-11-24 18:07] wlbragg commented on #462
I'm not sure anything does, the airflow flap that the slider controls allows more or less air over the heat coil, introducing more or less heat into the air flow.

If anything it might have a thermostat, but I don't see why it would need it, unless it is inline with the rest of the coolant system that uses the thermostat.

I'm guessing at this is as much as I know how automobiles work, it may be d

[2015-11-24 18:09] onox commented on #462
Yes, but the heat coil isn't heated automatically by itself, right? Unless it's made from plutonium or something :laughing:

[2015-11-24 18:09] wlbragg commented on #462
That would be the correct behavior without "air conditioning" , they do make an after market air conditioning for small aircraft.

[2015-11-24 18:10] wlbragg commented on #462
OK it requires the engine heat which requires it running, OK I see your point!

[2015-11-24 18:10] onox commented on #462
Hehe :smile:

[2015-11-24 18:11] wlbragg commented on #462
Microwaves from the sun! :sunny:

[2015-11-24 18:11] onox commented on #462
And the `heat-coil-temp-degc` is then simply a function of what exactly? (egt, oil, etc.?)

[2015-11-24 18:12] wlbragg commented on #462
Don't know. I can search for it.

[2015-11-24 18:13] onox commented on #462
So we could use `/engines/active-engine/egt-norm` in that case?

[2015-11-24 18:16] wlbragg commented on #462
What is egt-norm?

[2015-11-24 18:16] wlbragg commented on #462
time?

[2015-11-24 18:17] onox commented on #462
Exhaust Gas Temperature (normalized -- between 0 and 1)

[2015-11-24 18:18] wlbragg commented on #462
In a loose connection, I guess, I'm still trying to see exactly what a heat muff is?

[2015-11-24 18:19] onox commented on #462
OK, I can wait, for now the heat slider does not depend on the engine.

[2015-11-24 18:19] wlbragg commented on #462
So this heat muff is just transferred engine radiation heat?

[2015-11-24 18:20] onox commented on #462
Uhh... I guess so? You told me about a "heat coil" :smiley:

[2015-11-24 18:22] wlbragg commented on #462
Well this is more like what I figured and you can see it these are tied into the systems.

Let me see what this "heat muff" is and if it is for sure what the 172 uses.

[2015-11-24 18:23] wlbragg commented on #462
The above was in reference to getting more heat into the aircraft cockpit.

[2015-11-24 18:25] wlbragg commented on #462
OK,

[2015-11-24 18:25] wlbragg commented on #462
That should answer what we need.

[2015-11-24 18:25] onox commented on #462
OK.

[2015-11-25 02:22] onox commented on #462
The JSBsim implementation is basically complete, but I'm noticing that `/environment/relative-humidity` quickly goes to 100 when I'm above, lets say, 1000 or 2000 ft. At FHAW.

[2015-11-25 02:47] onox opened #574 "Simulate carbon monooxide poisoning"
When cabin heat is used, air is routed over the surface of the muffler. CO amount depends on cabin heat slider and EGT. Some info: http://www.avweb.com/news/maint/182828-1.html

Checklist:

1. Turn off cabin heat
2. Fully open cabin air
3. Lean mixture

[2015-11-25 03:08] wlbragg commented on #574
Nice, I am really surprised they used this method to get hot air, talk about dangerous. How often do you see deteriorating muffler systems, Have you ever watched water poring out of a muffler? Metal + water = carbon monoxide poisoning. I think I would be checking the shroud and manifold daily.

[2015-11-25 03:22] wlbragg commented on #462
I used /environment/dewpoint-degc. I remember the relative-humidity seemed wrong or broken.

[2015-11-25 03:24] wlbragg commented on #462
Also, relative-humidity is basically the measurement of the amount of water in the air, dew-point is at what temperature that water condenses into liquid.

[2015-11-25 03:25] wlbragg commented on #462
Not official weather related statements but more my basic understanding.

[2015-11-25 03:35] wlbragg commented on #462
In case you didn't already know this, the fog or moisture on the glass, in my implementation, would only happen when the dew-point temp reached or exceeded the air temp.

I guess the official explanation is

[2015-11-25 03:45] wlbragg commented on #462
So my explanation wasn't quite accurate.
However,

I think is a poor description as it is dewpoint-temp that we are talking about, and that is the temperature at which dew will form, related to amount of water in the air, yes.

Here in KS, in the spring, I have observed that the down pours of a thunderstorm let go when the air temp drops to the dewpoint temp in the afternoon. How much of a down po

[2015-11-25 03:49] onox commented on #462
Never mind it's just FHAW.

[2015-11-25 03:50] onox commented on #462
Dew point cannot exceed air temp, because you cannot get more than 100 % relative humidity :wink:

[2015-11-25 03:52] onox commented on #462
I calculated the dew point using the cabin temperature. I'm guessing `/environment/dewpoint-degc` uses `/environment/temperature-degc`.

[2015-11-25 03:53] wlbragg commented on #462
I don't think that is a correct statement. Yes, you can't exceed 100% relative humidity. But RH is the saturation of the air. Dewpoint is the temp at which that saturated air condenses into liquid.

[2015-11-25 03:53] onox commented on #462
Btw, shouldn't we always enable frost when temp gets below 0? The old Nasal implementation depends on the `moisture` variable, which depends on surface temperature and cabin air dew point.

[2015-11-25 03:54] wlbragg commented on #462
No, you can't get frost without dew.

[2015-11-25 03:54] wlbragg commented on #462
What is your dewpoint calculation?

[2015-11-25 03:55] onox commented on #462
If RH = 100% then dew point = air temperature

[2015-11-25 03:55] wlbragg commented on #462
No, that is not right.

[2015-11-25 03:58] wlbragg commented on #462
What I mean by "that saturated air", isn't 100% saturated. It can be only 50% sat and still get dew if the dewpoint reaches or exceeds the air temp.

[2015-11-25 04:03] wlbragg commented on #462
Td = T - ((100 - RH)/5.)

[2015-11-25 04:04] wlbragg commented on #462
That is  a dewpoint temp calculation.

[2015-11-25 04:04] onox commented on #462
I'm using the Arden Buck equation. But calculating the dew point is not the problem.

[2015-11-25 04:04] wlbragg commented on #462
Note the (100-RH)

[2015-11-25 04:05] onox commented on #462
Yes, thus RH <= 100

[2015-11-25 04:05] onox commented on #462
If RH = 100 then Td = T

[2015-11-25 04:07] wlbragg commented on #462
No, I don't think that is correct. You can get 100% RH and not have dt - t.

[2015-11-25 04:07] onox commented on #462
Anyway, what if the dew point is -37 degree celsius and surface temperature -33. Then surface temperature is greater than dew point, so you dont' get dew. But you don't get frost either? At -33 deg celsius?

[2015-11-25 04:13] wlbragg commented on #462
OK, that does seem to be the formula, how are you applying it.

[2015-11-25 04:20] #493 closed

[2015-11-25 04:54] wlbragg commented on #462
I keep missing your posts or they are changing over time?

I don't see that as wrong. Just because it is below 0 does not mean you will get frost. You have to have the moisture and the dewpoint is still the dictator at which temp the moisture in the air turns to dew.
Maybe there are other factors that I am unaware of.

[2015-11-25 05:00] wlbragg commented on #462
I guess we would really need to research this or have a weatherman formulate it for us to be sure. I have to admit I am guessing at some of this strictly based on what I think I know (which has been wrong many times before). But I really don't think that temp alone should be the factor of frost. That doesn't make sense to me.

[2015-11-25 05:08] wlbragg commented on #462
As far as calculating the dewpoint from the internal air temp VS the external temp calc of dewpoint that is already available, in reality, where is this dew forming? I'd venture to say it is both interior and exterior. I would have to put some thought to that to have anything meaningful to add.
It is obviously a very complicated event in reality that we are trying to simulate in FG.

[2015-11-25 05:13] wlbragg commented on #462
Read more : http://www.ehow.com/how_5909936_calculate-frost-point.html

[2015-11-25 05:14] wlbragg commented on #462
Like I said, a lot of guessing on my part. :smile\

[2015-11-25 05:20] wlbragg commented on #462
So the dew point can be greater than the air temp, for what it's worth.

Later!

[2015-11-25 08:45] Juanvvc commented on #574
There is usually a detector attached to the right side of the panel. It is more or less of the size and shape of a credit card. This is a reference, in case we want to model this: http://qginc.com/sites/default/files/styles/media_gallery_large/public/QuantumEye.png

[2015-11-25 09:52] gilbertohasnofb commented on #574
@onox If you want to model this detector, I can create textures for you. Just let me know.

[2015-11-25 09:53] gilbertohasnofb opened #575 "Full power makes tail tie-down raise"
Full power makes tail tie-down raise. Either the aircraft shouldn't move at all or the tail tie-down should be made flexible somehow.

[2015-11-26 08:35] tigert commented on #462
Wow lots of discussion. It is not even that sophisticated. The system is very archaic.

The operating handbook has actually a quite good explanation of the logic and function of the aircraft systems: http://www.aerodynamicaviation.com/documents/cessna-172p-1982-poh.pdf see page 7-31.

Basically there are two things:
  * Overhead vents (the round tubes on the top corners of the windshield and on th

[2015-11-26 08:43] tigert commented on #462
Also, when you calculate the frost point, you need to consider that the air humidity is significantly different inside the cabin compared to the weather engine, because people's exhaled breath is very moist. This does play a significant role, just like in a car on a cold, clear winter day: You can have a completely clear cabin windows when you start up and get folks in, but things fog and frost up

[2015-11-26 13:54] onox commented on #462
Currently the air humidity from outside is used. So it should be multiplied with some factor depending on how many people there are in the cockpit?

[2015-11-26 14:34] gilbertohasnofb opened #577 "Synchronize environment sounds with FGDATA"
Thorsten has just pushed some of our sounds to FGDATA, specifically the environment ones:

`thunder1.wav`
`thunder2.wav`
`thunder3.wav`
`rain.wav`
`rain-windshield.wav`
`wind.wav`

He had to rename `wind.wav` into `wind1.wav` because of the older file present there. So I guess we must:

- remove our wav files
- rename `wind.wav` into `wind1.wav` in our sound xml file

Here is his commit: https://s

[2015-11-26 14:44] gilbertohasnofb commented on #577
@onox can you confirm this is the only things to do? If so, I can do it myself.

[2015-11-26 17:06] wlbragg commented on #462
Yes I suppose the number of human on the inside. It does play a big roll (initially) in the amount of fog that can be produced.

[2015-11-26 18:49] wkitty42 commented on #462
plus their body heat contributes to warming the cabin and providing some defrosting heat after a bit... that'll turn interior frost into moisture on the windows if the windows are cool enough...

[2015-11-26 19:22] onox commented on #577
AFAIK that's the only thing you have to do, so you can do it yourself :+1: :smile:

[2015-11-26 19:29] tigert commented on #462
Yeah, it's a complex state machine. :-)

Also, the air mixture changes when you start engine, open doors or windows, or are in motion, as then there is new air flowing into the cabin. In practice when the air flows, the fog will clear fairly quickly. For the ice to melt, the cabin needs to warm up to heat the plastic windows as well, at which point the ice melts.

The issue I had before is that it

[2015-11-26 19:54] onox commented on #462
Ah, I thought that the cabin air lever controlled how much air you would get from the air intake and the cabin heat level would then divert some of the air to the engine muffler.

[2015-11-26 20:06] onox commented on #462
* Support cold air from overhead vents (amount depends on how much they are pulled outward + airspeed (IAS) and propeller RPM)
* Make the air from the air duct (controlled by cabin air slider) also depend on airspeed (+ propeller RPM as well?)
* Separate air flow of heat (air intake) and cold air (side door)
* Support cold air when a door or window is open
* Adjust relative humidity using the numb

[2015-11-26 21:16] gilbertohasnofb commented on #577
Ok!

[2015-11-28 01:28] #577 closed

[2015-11-28 09:07] onox opened #579 "Right gear of 26" bushkit has missing wheel"
Bushkit 26"'s rear wheel is not displayed if it is damaged:

![fgfs-screen-358](https://cloud.githubusercontent.com/assets/3361585/11451055/8f6ec5d0-95b7-11e5-96bd-cfafab62f87c.png)

[2015-11-28 12:43] gilbertohasnofb opened #581 "Droplets on windshield on a solid runway"
Try this: load the sim with the amphibious on water (or land it there) so droplets will appear on windshield. Then go to the move to airport dialog and select a solid runway. The windshield will remain with the droplets:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/11451908/e3f156a4-95d5-11e5-9eab-49cd1723fda5.png)

@wlbragg can you check this out?

[2015-11-28 15:49] wlbragg commented on #581
Will do.

[2015-11-28 16:34] wlbragg commented on #581
I just tried this and it didn't leave any drops on my windshield when changing to another airport after landing on water?

[2015-11-28 16:37] wlbragg commented on #581
Have you done this multiple times and it is consistent?

[2015-11-28 16:49] wlbragg commented on #581
We are using to trigger this, can hydro_active_norm be > 0 on land?
[code]

[2015-11-28 22:23] gilbertohasnofb commented on #581
Not really, I just spot this while doing some other tests. I will try to see if I can reproduce it and then report back.

[2015-11-29 00:42] wlbragg commented on #462
See #576 and #582

[2015-11-29 01:04] wlbragg commented on #579
See #583

[2015-11-29 02:55] wlbragg commented on #575
I wanted to take another look at the hold -down code we tried to use for the tiedowns. Did we ever commit that to master or was it just a branch that never got merged? I looked for a while trying to find it but to no avail.

[2015-11-29 03:12] onox commented on #575
It ended up in a commit in a feature branch, but I think we later removed it again. But we can try the external force method, along with the dynamic tail tie-down that I mentioned lately. I can work on it after I have finished the JSBsim cabin heat+air stuff.

[2015-11-29 03:20] #579 closed

[2015-11-29 04:09] wlbragg commented on #575
:+1:

[2015-11-29 11:16] gilbertohasnofb opened #585 "Add tail tie-down to checklist"
All securing aircraft properties have now been moved to `/sim/model/c172/securing/`. Also please make sure the PR https://github.com/Juanvvc/c172p-detailed/pull/580 has been merged before, as it will affect the checklists.

@dg-505 do you think you can take care of this one?

[2015-11-29 11:24] gilbertohasnofb commented on #581
I am trying to reproduce it, but I can't :cry: The closer to the initial report I got was when I started the sim with the amphibian in a port (SP01), speed up so the droplets start to run fast through the windshield, then went to "Go to Airport" and selected KSFO. For some moments the droplets were there, but then they disappear.

Anyway, if no one can reproduce this, we can as well close it. If i

[2015-11-29 11:26] gilbertohasnofb opened #586 "Hydrodynamics error messages"
If I start the sim with the amphibian in the water, then change the airport in the sim via the menu "Go to Airport", I get a plethora of error messages in the console:

[code]

[2015-11-29 16:17] wlbragg commented on #586
Not an expert opinion here but I think while annoying it is not necessarily an issue. Something to do with the reinit not totally clearing out all aspects of the sim so those properties (created under FDM system tag) are still loaded from the previous load, more a warning VS an error.
c172p-hydrodynamics.xml is the only "system" file creating and initializing properties in that fashion. It looks t

[2015-11-29 16:20] gilbertohasnofb commented on #586
I don't think it breaks anything, but you can test it anyway just in case.

That's what I imagined, but if there is some easy way of getting rid of them that would be great :smile:

[2015-11-29 16:24] wlbragg commented on #586
I mean if I move them to c172p-set.xml, if that would break hydro.

[2015-11-29 16:36] wlbragg commented on #586
I can't finish this now as I am leaving for a bit.

If I finish moving all the property creations out of c172p-hydrodynamics.xml and create them in c172p-set.xml instead, starting at line 841 in c172p-set.xml

[code]
I would think it would maybe get rid of these warnings?

I can finish this test later on this afternoon, unless you try it prior.

[2015-11-29 16:52] gilbertohasnofb commented on #586
@wlbragg I am not familiar at all in dealing with the hydro nor with FDM, so I'd rather if you or someone else would try this out. Also, there is no rush for it since, as you said, those error messages are innocuous :wink:

[2015-11-29 18:30] onox commented on #586
I think it is nicer if the properties are defined where they are used. I had the same problem with `Systems/c172p-heat.xml` where I wanted to define some properties there, but had to define them in the massive `c172p-set.xml` file. A bit ugly.

I think it is better if JSBsim is modified to use a "debug" log level or something, so that most people don't see the messages in the console.

[2015-11-29 18:34] onox commented on #586
In `src/FDM/JSBSim/input_output/FGPropertyReader.cpp` they're blindly using `cerr` instead of simgear's logging functions:

[code]

[2015-11-29 18:45] gilbertohasnofb opened #587 "Problems in the pre-flight tutorial"
I tested the pre-flight tutorial and found the following problems:
- ~~the tutorial starts with instrument lightning at 100% during day!~~
- ~~close door pink circle in the wrong place (immediately after leaving the cockpit after checking the fuel level)~~
- ~~funny cameras, sometimes they rotate in an anti-intuitive manner (like rotating 300 degrees instead of 60, thus looking away from the plane

[2015-11-29 18:46] gilbertohasnofb commented on #587
Otherwise, great job! It is really immersive :smile:

[2015-11-29 18:51] #581 closed

[2015-11-29 18:52] gilbertohasnofb commented on #585
Sorry, invalid report: I was checking it in an older branch and I wasn't aware of recent modifications to the `master`.

[2015-11-29 18:52] #585 closed

[2015-11-29 18:56] onox commented on #585
Usually you can keep these labels (handy when searching/sorting issues), just remove the milestone (otherwise it looks like it was a bug that got fixed in that milestone) and add the "invalid" label (which you already did).

[2015-11-29 18:58] gilbertohasnofb commented on #585
Ooops

[2015-11-29 20:14] dg-505 commented on #587
In the definition of the cockpit view, there are limits present. Because of this the view can't move more than +-140 degree. If the tutorial changes the view heading from, let's say 140 deg to 220 deg, the view cannot turn the direct way, but it turns the other way round. Until now I fund no way to obviate this problem, even if I comment out all limit definitions...

![door](https://cloud.githubus

[2015-11-29 20:28] gilbertohasnofb commented on #587
Hmm, I see. But let's say that between point A and point B, the camera will spin to the wrong side. Couldn't we define a point C in between those two so that the camera goes from A to C and immediately from C to B, and the angle of rotation in those smaller segments will never exceed 140 degrees?

Yeah, pointing finger is easy but coming up with ideas is hard: I reported it but never occurred to m

[2015-11-29 20:35] dg-505 commented on #587
I don't think it's possible to define two camera "waypoints" in one tutorial step.Otherwise that would be a solution.
For a test, change the line 558 in the  tutorial **preflight.xml** to ```<heading-offset-deg>160.0</heading-offset-deg>``` I'm almost sure this will lead to a funny result when this step comes up.

[2015-11-30 00:07] wlbragg commented on #586
Fine by me, it just really annoys me to get superfluous warnings. We get enough of those in the FG log. :angry:

[2015-11-30 01:23] gilbertohasnofb commented on #587
In that case, we could ask in the devel list for this to be fixed. Maybe the rotation direction could clockwise if the angle is positive and counter-clockwise if negative, for instance. Or it could be set in a different parameter as well. Would you be interested in asking them for this? I know next to nothing about how the camera works in the Tutorials...

[2015-12-02 01:20] gilbertohasnofb opened #590 "Move Pedals folder into /Models/Interior"
Move `Pedals` folder into `/Models/Interior` instead of it's current location at `/Models`

[2015-12-02 05:51] #590 closed

[2015-12-02 11:08] #542 closed

[2015-12-02 12:07] #327 closed

[2015-12-02 12:25] onox commented on #446
@gilbertohasnofb Does @thevirtualfer know about:

1. The oil cap
2. The side door on the right side of the cabin (for cabin air). See http://www.kentstreetshs.wa.edu.au/Images/General/cessna%20172SP.jpg
3. The elevator trim surface on the right elevator. See [1](https://commons.wikimedia.org/wiki/File:Labeled_Cessna_172_trim_tab.jpg) and [2](https://www.flickr.com/photos/pier-olivier_veilleux_cysg

[2015-12-02 12:27] onox commented on #135
@Juanvvc Can you still reproduce this? What video card, driver, and OS do you have?

[2015-12-02 12:30] onox commented on #566
@gilbertohasnofb Has this been implemented?

[2015-12-02 12:31] gilbertohasnofb commented on #566
Yes it has.

[2015-12-02 12:31] #566 closed

[2015-12-02 12:31] gilbertohasnofb commented on #446
I don't think so but I will write him an e-mail about it later today.

[2015-12-02 12:33] onox commented on #434
@gilbertohasnofb Can you still reproduce this? I think we need to stop rotating the spinner (that thing to which the propellers are attached to) when the engine is crashed. The propellers correctly stop rotating, but the spinner does not.

[2015-12-02 12:34] gilbertohasnofb commented on #434
I will check later today, but this was one of those heisenbugs that appear once in a blue moon.

[2015-12-02 12:43] onox commented on #566
Fixed in PR #580. See https://github.com/Juanvvc/c172p-detailed/pull/573#issuecomment-160266736

[2015-12-02 18:19] onox opened #592 "Duplicate wing objects"
With the current Blender files we have 10 objects for 10 states.
A lot of objects are partly duplicated because of this (the vertices).

Example 1: the middle section of `wing_1BB` and `wing_1BD` are (basically) the same.
Example 2: right outer wing part of `wing_1RGLB` and `wing_1LD` are the same.

| Left | Right | Blender |
| --- | --- | --- |
| ok | ok | (in default Blender file) |
| dmg | ok |

[2015-12-02 18:22] onox commented on #592
@wlbragg @thevirtualfer See above ^^

[2015-12-02 18:23] onox commented on #592
This also might make it easier to do (very subtle) wing flex (for `left_ok` and `right_ok`).

[2015-12-02 19:03] onox commented on #592
`Effects/model-wingflex-organic` works great for the Pterosaur, but not for our aircraft :cry::

![fgfs-screen-369](https://cloud.githubusercontent.com/assets/3361585/11540870/6d86034a-992f-11e5-850b-0306c5a5ac11.png)
![fgfs-screen-371](https://cloud.githubusercontent.com/assets/3361585/11540872/6d8b29a6-992f-11e5-97d0-c4b40bd86df3.png)
![fgfs-screen-370](https://cloud.githubusercontent.com/assets

[2015-12-02 23:50] wlbragg commented on #592
I understand what your referring to as far as splitting the wing part and I agree there is room for improvement. Unfortunately at the time I didn't have the skill set to do that and I'm really not sure I could do it now. So it may require the services of an expert.

[2015-12-03 00:04] wlbragg commented on #135
I just looked at this on my computer and I don't see any of the issues that used to be there.

[2015-12-03 01:10] onox commented on #592
Well it's good you see there's room for improvement :smile: Hopefully @thevirtualfer will notice see this page then.

About the wing flex, those wings seem to be made from [titanium](https://www.youtube.com/watch?v=Kx5YeqTBcDI&t=88) (as I already expected). Although it would be nice if that vertex shader eventually becomes usable for more than just dragons (for other aircraft).

[2015-12-03 02:00] onox opened #593 "Clicking "Repair" button should reset pontoon leakage"
If the pontoons are damaged or broken, they start leaking (when on the water) and sink. Clicking the "Repair" button should reset the leakage to 0.

[2015-12-03 04:34] wlbragg commented on #592
These are the objects you get:

left_ok
left_dmg
right_ok
right_dmg
col_and_col (or you can choose left_col + right_col)
inner_wing

Are we missing ?
left_broke (gone)
right_broke (gone)

[2015-12-03 04:58] wlbragg commented on #592
Speaking of damage, I'll  ask here and we can make an issue should we choose to do this.
While trying to test the pontoon leaking I damages a wing, (broke it actually), I was thinking it might be a nice feature to be able to repair the individual parts as well as the entire craft.

[2015-12-03 05:09] #593 closed

[2015-12-03 08:12] onox commented on #592
left_broke (gone)
right_broke (gone)

No, the whole point is to realize that when a wing halve is broken, that you don't see the outer part. (Because that part of the wing has been torn off from the aircraft). So these `left_brk` and `right_brk` parts you're talking about are invisible. The only thing you keep seeing when both sides of the wing are broken, is the `inner_wing` part.

[2015-12-03 08:15] onox commented on #592
Although if you want to animate them being torn off from the aircraft (perhaps via a particle system) then you could create these two `left_brk` and `right_brk` objects. But the difference is that in that case they will be displayed via the particle system, not via our regular model XML file.

[2015-12-03 08:23] onox commented on #592
That's a nice idea :smile:

[2015-12-03 09:32] gilbertohasnofb commented on #592
Why would anyone fix only the nose gear and leave a broken wing?

[2015-12-03 16:56] wlbragg commented on #592
Well, the instant I needed it for was I was having problems damaging the pontoon without damaging or breaking a wing. It would have been nice to fix the wing and leave the pontoon damaged. But that is more debug help. It gave me the idea however that others may like the option to see some things in action or to train. For a while we had it so you could damage any part by clicking on a button. That

[2015-12-03 19:05] debdog commented on #440
Oops-a-daisy, completely forgot about this issue. Sorry, hadn't had much time for FG in the past two months. But since FG 3.6 has been postponed it's all not that urgent anymore. Will try to get up to date with FG during the upcoming week and then continue with testflying.

[2015-12-04 14:55] gilbertohasnofb opened #595 "Stop propeller spinner after engine crash"
@onox wrote:

[2015-12-04 14:55] gilbertohasnofb commented on #434
Yes, I can still reproduce this, but it's difficult to narrow down to what is causing it. Sometimes the propeller disk is simply not there!

Confirmed. I opened a new issue for this, see: https://github.com/Juanvvc/c172p-detailed/issues/595

[2015-12-04 18:11] wlbragg opened #596 "Change regression version link in forum pg1."
@gilbertohasnofb, would you mind updating the link to the "new" regression version on the information page of the c172p-detailed forum at http://forum.flightgear.org/viewtopic.php?f=4&t=25157#p229807

The new link is https://github.com/Juanvvc/c172p-detailed/archive/regression-to-3.2.zip

This is the old (outdated) link https://github.com/Juanvvc/c172p-detailed/archive/regression-version-to-3.2.zi

[2015-12-04 18:29] wlbragg commented on #595
I'm confused about this one. I checked the code and the spinner is tied to RPM same as the propeller? It should follow what the propeller does.

[2015-12-04 18:35] wlbragg commented on #595
OK, I see what's wrong. The damaged prop isn't tied to the spin animation, the spinner is. I'll fix it.

[2015-12-04 19:02] gilbertohasnofb commented on #595
Thanks! :+1:

[2015-12-04 19:03] gilbertohasnofb commented on #596
I will do it right away!

[2015-12-04 19:08] wlbragg commented on #596
Thank you!

[2015-12-04 19:09] gilbertohasnofb commented on #596
Done.

[2015-12-04 19:09] #596 closed

[2015-12-04 19:20] gilbertohasnofb commented on #434
So, it looks like my propeller disk disappears depending on the speed/RPM! I took off from the external view and it slowly faded away. When I pulled the throttle back is started to appear again. Does anyone else experience this?

[2015-12-04 20:47] wlbragg commented on #434
Yes, I just noticed it. So what, at high speed it should still be blurred, correct?

[2015-12-04 20:50] gilbertohasnofb commented on #434
I don't know if I understand what you mean by blurred. The disk is always blurred isn't it? I think the problem is that the disk gets more and more transparent with the speed of the propeller (which is correct), but it should never get so transparent that it disappears completely. So basically I think we need somehow to set an upper limit for this.

[2015-12-04 20:54] wlbragg commented on #434
OK

[2015-12-04 23:00] gilbertohasnofb commented on #434
Closed via https://github.com/Juanvvc/c172p-detailed/pull/598

[2015-12-04 23:00] #434 closed

[2015-12-04 23:05] gilbertohasnofb commented on #159
Closed via https://github.com/Juanvvc/c172p-detailed/pull/597

[2015-12-04 23:05] #159 closed

[2015-12-04 23:05] gilbertohasnofb commented on #595
Closed via https://github.com/Juanvvc/c172p-detailed/pull/597

[2015-12-04 23:05] #595 closed

[2015-12-05 13:09] onox commented on #575
I started working on the dynamic tiedowns (which the technique I showed in https://github.com/Juanvvc/c172p-detailed/pull/573#issuecomment-159107814):

![fgfs-screen-386](https://cloud.githubusercontent.com/assets/3361585/11607831/ec00567a-9b56-11e5-9b68-6641e9d8aba4.png)
![fgfs-screen-387](https://cloud.githubusercontent.com/assets/3361585/11607832/ec043be6-9b56-11e5-8896-f9c3d4a0d58c.png)
![fgfs

[2015-12-05 14:03] gilbertohasnofb commented on #575
Looks great, @onox! Can't wait to try them out :smile:

[2015-12-05 14:32] legoboyvdlp commented on #575
WHOA! Wonderful work :+1:

[2015-12-05 16:57] wlbragg commented on #575
Because scaling the "overhang" leaves the rotation of it in odd positions where it could potentially stick up (against gravity) VS down (with gravity)?

I imagine there was but I don't recall what it was.

[2015-12-05 18:28] gilbertohasnofb commented on #360
Okay, so I started to play around with this. I wanted to find a function that would output a value between 0.0 and 1.0 that will control the icing factor (0.0 being no ice formation, 1.0 being very fast icing formation). Here is a carburettor icing graph for the 172:

![carbheat-original graph](https://cloud.githubusercontent.com/assets/5700795/11609309/e6d8c92a-9b83-11e5-9c37-06e8c17cc6e6.png)

A

[2015-12-05 20:07] gilbertohasnofb opened #599 "Better texture bars for the cockpit of amphibian and pontoon variants"
Create a better texture bars for the cockpit of amphibian and pontoon variants. I don't think we should go with a higher resolution image, the bar is already pretty big in the png file. But the bar texture is a bit fuzzy in the png file itself since the source image wasn't the best for this purpose, so maybe if we had a better picture as source I could try to improve it. Maybe @tigert can take som

[2015-12-05 20:54] gilbertohasnofb commented on #392
I created a new branch called simply `gps` to play around with this issue, okay?

[2015-12-05 22:47] gilbertohasnofb commented on #392
I wrote ages ago:

I found the cause of that bug: the reason behind it is that I am a complete idiot! Obviously we are always 0.x nm from the airport when starting at a runway, since the airport GPS position will never coincide with every single end of every single runway! :blush:

Also, I don't feel the GPS is slow at all. Where did you felt that, @onox? I remember that in the past it used to be

[2015-12-05 23:04] gilbertohasnofb commented on #392
Question no. 2: when turning on the GPS, the default zoom range is always 0.125 nm, which seems awfully zoomed in. Does anyone know if the real model have a default value (and if so, what is it) or does save the last used value? I found its [manual online](http://www.manualslib.com/manual/253205/Garmin-Gpsmap-196.html) but I can't find this answer there, and I also can't find any video of someone

[2015-12-06 06:00] onox commented on #392
@gilbertohasnofb Is that the Canvas variant? I had already created a non-Canvas variant in branch [`bug-392`](https://github.com/Juanvvc/c172p-detailed/compare/bug-392).

[2015-12-06 06:23] onox commented on #575
I don't see how it can stick up. Normally the tiedown is horizontal (in the .ac file). Then I rotate it about the z-axis (heading). Then rotate about the y-axis (to point it at the ground instead of horizontal), then scale the whole thing so that it actually touches the ground.

It could only stick up if the pitch is > +90.0 degrees. But that won't happen; the pitch is always negative (between -90

[2015-12-06 10:48] gilbertohasnofb commented on #392
@onox no, that's the non-Canvas variant. Sorry but I missed the message where you mentioned the branch `bug-392`. As far as I can see, the only thing you did in that branch was to add the 3D model to the plane (using the FGDATA path). Given that I made it local and already did some few improvements (texture, GUI check button, antenna position), do you think we could simply delete `bug-392` and use

[2015-12-06 10:49] gilbertohasnofb commented on #392
Sorry for the mess by the way :confounded:

[2015-12-06 12:11] gilbertohasnofb commented on #461
@wlbragg can you have a look at this, please?: http://forum.flightgear.org/viewtopic.php?f=4&t=25157&p=267510#p267489

[2015-12-06 12:15] gilbertohasnofb opened #600 "Improvement to the rudder pedals"
Currently our rudder pedals are simply "floating" above the ground. They should have a bar connecting them to the floor, as well as holes on the floor where they are free to run (alternatively, I can "make" the holes in the textures, but this isn't an ideal solution IMO).

![](https://i.ytimg.com/vi/tanXy8rnuy0/maxresdefault.jpg)

![](http://www.trcsimulators.com/wp-content/uploads/2014/02/rudderp

[2015-12-06 12:58] onox commented on #392
@gilbertohasnofb I think it's better to do that. In the `bug-392` we simply (re-)use the stuff in FGDATA instead of duplicating it. So I suggest to add your fixes to that branch and delete your `gps` branch. In case there are any bugs in the `Aircraft/Instruments-3d/garmin196/` code, then you simply need to patch it and send the patches to the mailing list. That way other people who use the garmin

[2015-12-06 16:13] gilbertohasnofb commented on #392
@onox

But that will give us much less room to improve things! Why can't we work on improving the GPS here and after the work is done we send a patch to FGDATA, just like we did with the environment sounds? It would be a nightmare to have to send a patch to FGDATA and wait for it to be tested and committed every time we changed that `wind.wav` sound, let alone something as complex as a GPS...

And

[2015-12-06 16:18] gilbertohasnofb commented on #392
For instance, the garmin196 in FGDATA can't use different textures for some reason, so if I am experimenting with them I'd need to first fix that, then send a patch of my texture every time I want to see it in the sim. Kind of a nightmarish scenario, isn't it?

[2015-12-06 16:18] onox commented on #392
If you really want to work on improving the GPS, we should go with the Canvas variant.

[2015-12-06 16:19] gilbertohasnofb commented on #392
Well, I don't think I am the person for that as I know nothing about Canvas (and even the non-Canvas is way beyond my programming capacities). But I am trying the best I can to work on it, started with textures, plan to have a look on that buggy North indication. But I'd hope that anyone else would jump in the boat for this as I don't think I can go far by myself :smile:

[2015-12-06 16:20] onox commented on #392
We might be able to use `Nasal/canvas/MFD_Generic.nas`.

[2015-12-06 16:21] onox commented on #392
Btw, what do you mean with "different textures"?

[2015-12-06 16:21] onox commented on #392
Are you talking about the hardware itself (the device) or the screen?

[2015-12-06 16:22] gilbertohasnofb commented on #392
I created a darker texture (for the device) that is much closer to the RL model. The one in FGDATA is grey, the real life is plastic black. So what I am saying is that it's easier to have a local copy to play around with it to improve, and then send a patch afterwards when we have something stable or that we are satisfied with. Makes sense?

[2015-12-06 16:23] gilbertohasnofb commented on #392
And I also plan to take a look on the screens that move slightly when going up and down in the menu, I have to see if that's a texture, 3D model or programming problem.

[2015-12-06 16:23] onox commented on #392
Let's do the following:

[2015-12-06 16:24] onox commented on #392
Use `bug-392`. Move the old non-canvas device a bit to the right so I can compare it.

Then add a new .ac file containing just your patched device. Make sure to remove all non-visible objects in that .ac file. Make sure that the screen itself is just a flat rectangle.

I'll add the canvas stuff then.

[2015-12-06 16:26] onox commented on #392
Is that ok with you?

[2015-12-06 16:28] gilbertohasnofb commented on #392
Sure it is! I will try to modify the .ac file myself, but please know that I am useless on Blender... If I don't manage myself I will shout for help, ok?

(so this means that we will use only the 3D model of the `garmin196` and that we plan to program the GPS itself from scratch?)

[2015-12-06 16:28] gilbertohasnofb commented on #392
I will try to do this still tonight

[2015-12-06 16:29] onox commented on #392
Yes. That's why you should move the old non-canvas to the right so I can reproduce the behavior in the new canvas variant.

[2015-12-06 16:29] gilbertohasnofb commented on #392
Okay!

[2015-12-06 16:30] onox commented on #392
Btw, could you test my PR that is currently open? :smile:

[2015-12-06 16:32] gilbertohasnofb commented on #392
Yes, sorry for the delay, I will try to do it tonight as well! I am just so clueless about how those things are supposed to work that I have been hoping someone else would test and merge it before me :stuck_out_tongue_winking_eye:

[2015-12-06 16:37] onox commented on #392
It's very simple, if EGT is high and cabin heat is open, it gets warmer. If you open cabin air, overhead vents, or windows/doors, you add air from outside. Adding humans will increase temperature a little and increase humidity.

I've been flying with the branch for a while now, and it all works. It's mainly some constants that could be tuned. The fog/frost appears not too fast. I'm not sure humans

[2015-12-06 16:39] gilbertohasnofb commented on #392
Sound all right, I will give it a go.

We can do that, but I promise you I will get at it still today. If you can wait a couple of hours I can test it and merge it myself. Is that all right?

[2015-12-06 16:39] onox commented on #392
That's okay.

[2015-12-06 19:31] #462 closed

[2015-12-06 19:56] gilbertohasnofb commented on #392
@onox, it seems that you already the __non-Canvas__ device in that branch:

[code]

So basically if I do as you say and add my slightly modified Garmin, we will have two non-Canvas devices, one grey and one black, one remote and one local. Is that what you want?

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/11615228/ae2a4044-9c5b-11e5-8896-58172465a4c5.png)

[2015-12-06 20:47] onox commented on #392
Well, the new black one should just have an empty screen. Don't add every single file (like docs, etc.) as you did in `gps`. That's not really necessary because the empty screen (simple rectangle in Blender) will be painted by canvas eventually.

[2015-12-06 20:48] gilbertohasnofb commented on #392
I see, so we will have a grey non-Canvas GPS and a black non working GPS. I will do it as you say.

[2015-12-06 20:49] onox commented on #392
Yes. So just add the minimal amount of files to see the device itself. It shouldn't function until we add the actual canvas code later.

[2015-12-06 20:56] gilbertohasnofb commented on #392
Ok.

[2015-12-06 21:57] gilbertohasnofb commented on #392
Okay, I pushed it. Remember that I added the GUI option to show/hide the GPS, so the first time you load this branch you will have to activate it in the Aircraft Dialog. I created a .blend file and I deleted all the screens objects but one. The problem is that I get an error when I try to export the model as a .ac file, so could you or someone else with more Blender experience check what is going

[2015-12-06 21:58] gilbertohasnofb commented on #392
Also, branch `gps` should have been deleted.

[2015-12-06 22:56] onox commented on #575
I have pushed the dynamic tiedown code to [`bug-575`](https://github.com/Juanvvc/c172p-detailed/tree/bug-575).

@wlbragg Could you take a look at `Models/c172p-tiedowns.blend` (the file contains just one object) and try to fix the lighting issue of the tiedown-unit object? Export to `Models/Exterior/tiedowns/tiedown.ac`. Currently the object just doesn't care about the sun. I have seen this proble

[2015-12-06 22:58] onox commented on #392
@gilbertohasnofb I have deleted the `gps` branch. Have you done more work on the `bug-392` branch? I want to rebase it on top of latest master, because the branch is already quite old (1 month).

[2015-12-06 23:12] gilbertohasnofb commented on #392
Ops, I had deleted it only locally! Thanks then :smile:

Nope, just that single commit. Feel free to rebase it.

[2015-12-06 23:34] onox commented on #392
@gilbertohasnofb Pushed. In the `bug-392` branch you can reset to two commits ago with `git reset --hard HEAD~2`. After that use `git pull`.

[2015-12-06 23:37] gilbertohasnofb commented on #392
Done :+1:

[2015-12-06 23:40] onox commented on #392
Btw, to get rid of the screen objects, they should be removed in Blender, but in the mean you could try to create a temporary select animation with a condition that is always false (`<false/>`) and then add all those (useless) screen objects.

[2015-12-06 23:43] onox commented on #392
That way we also gather a list for whoever can properly export .ac files to know which objects can be safely deleted in Blender.

[2015-12-06 23:44] gilbertohasnofb commented on #392
Well I already did that, it was pretty obvious which objects could be deleted and so I did that. I am just having troubles exporting the .ac file, but I believe that .blend is ready to go. Could you give it a try maybe?

[2015-12-06 23:48] onox commented on #392
Oh, it's already present, didn't notice the file. I'll check.

[2015-12-06 23:49] gilbertohasnofb commented on #392
Thanks!

[2015-12-06 23:55] onox commented on #392
I get an error too. It goes away when I delete the "screen" object.

[2015-12-06 23:57] gilbertohasnofb commented on #392
Can you check if that object isn't set to any texture? That could be the issue. If not then would you be able to delete it and create a new rectangle object as a new screen?

[2015-12-06 23:59] onox commented on #392
Maybe, but it's too late now. Need to sleep :wink: :sleeping:

[2015-12-07 00:00] gilbertohasnofb commented on #392
No worries, we do it some other time. Here is also very late as well... have a good night, onox!

[2015-12-07 00:44] wlbragg commented on #461
Yes, I'll look at this tonight.

[2015-12-07 00:59] wlbragg commented on #575
Yep, I'll look at tonight.

[2015-12-07 01:56] wlbragg commented on #575
It was apparently just your exported .ac file. I didn't compare the two but I'd say your Blender export has problems.

I did take the opportunity to look at it close up and it seems to work well enough. The clip hardware is more rounded than oblong now (at least in some configurations) but actually look just as good. The hangover is fine, the strap is fine. The only thing I can make a comment abou

[2015-12-07 02:35] wlbragg commented on #575
One thing I noticed as far as the short buckle, if we started with a shorter strap overall, we could change the proportion of the buckle, overhand and end hardware.

[2015-12-07 03:07] wlbragg commented on #461
I was going to respond to the report about the shadow in the following manner. I thought I might run it by you guys here first.

I'm not sure there is much we can do about this. There are a few known issues with the shadow code. There is a known bug when re-init is activated, that will cause the shadow to re-position itself to an undesirable location. I think if ALS is turned off and then back on

[2015-12-07 04:08] wlbragg commented on #461
While were at it discussing this. There was a whole discussion on alpha in the 3d shadow. Thorsten suggested not to mess with the alpha as he hadn't taken the time to correct an issue with it (maybe in the future). However, we chose to use transparency and end up with a less than perfect shadow.
![shadow1](https://cloud.githubusercontent.com/assets/11069680/11618834/abac0712-9c65-11e5-80be-797b109

[2015-12-07 06:17] onox commented on #461
I think wing-damage/right(left)-wing still is an int 1=damaged and 2=broke?

* `/fdm/jsbsim/wing-damage/{left,right}-wing` is 1.0 if broken, and between 0.0 and 1.0 if damaged
* `/sim/model/c172p/damage/{left,right}-wing` is 1 if broken, 2 if damaged

Those last one is used by the model (`/params/wing_{left,right}_damaged/property`), so I would use that one as well for shadow conditions if you dec

[2015-12-07 06:22] onox commented on #575
Okay, so it's not something in the XML that needs to be changed. I saw you did some specularity fix in a closed PR? That's unneeded?

[2015-12-07 06:23] onox commented on #575
What's a buckle? The metal thing at the ends?

[2015-12-07 06:36] wlbragg commented on #575
Yes, that wasn't the problem.

No the black plastic looking thing that the strap overhang sticks out of.

[2015-12-07 06:42] onox commented on #575
Your new exported .ac file fixed the problem. It was the `emis 1.0000 1.0000 1.0000` of the `external_mat` material that was the problem. When changed to `emis 0.0000 0.0000 0.0000` the problem is fixed.

[2015-12-07 06:47] wlbragg commented on #461
That's worth checking into. :bulb:

Material definition in the .ac file, change trans 0.0000 to  trans 0.0001 is enough to set it to transparent.

[2015-12-07 07:58] gilbertohasnofb commented on #575
Of course I have an opinion about it, I have opinions about anything and everything! :smiley: Personally, I don't think it's a big deal either, but if you want I can extend the buckle in the texture or we can UV-remap the object. But it looks fine to me.

[2015-12-07 08:02] wlbragg commented on #575
I'm fine with it also, lets just go with it and move on!

[2015-12-07 08:04] gilbertohasnofb commented on #575
:+1:

[2015-12-07 08:08] gilbertohasnofb commented on #461
I noticed yesterday that at some angles the 3D shadow in the `master` branch does have a uniform colour...:
![7](https://cloud.githubusercontent.com/assets/5700795/11622018/0211656e-9cc2-11e5-94af-c97e6bb8b491.jpg)

...while at others it shows those interior overlaps such as in this first picture here: https://github.com/Juanvvc/c172p-detailed/issues/461#issuecomment-162404278

[2015-12-07 08:51] wlbragg commented on #461
That's why Thorsten didn't recommend using the alpha channel on the shadows. I think eventually he may fix the shader to account for the layering. Until then it may be cleaner to use the solid version.  Maybe I can take a look at the shader code and fix it. I don't think it would be too difficult to set all the pixels to the same alpha.

[2015-12-07 09:15] gilbertohasnofb commented on #461
That would be great, as currently the solutions aren't looking very pretty (though no alpha looks worse than our current situation IMO)

[2015-12-07 09:45] onox commented on #575
I'll add the external forces + PID's later this week.

[2015-12-07 09:54] onox opened #603 "Refactor autopilot"
I'm planning to refactor the autopilot to be fully XML. Maybe use some XML state machines and new-navradio. Tuning the PID controllers so that it doesn't oscillate for half an hour on a VOR radial.

Also see https://github.com/c172p-team/c172p-detailed/issues/769#issuecomment-221107668

[2015-12-07 09:59] gilbertohasnofb commented on #603
Talking of autopilot, can you see this report here, onox?: http://forum.flightgear.org/viewtopic.php?f=4&t=25157&sid=f687cbe7dd1ddfa53ba113f460d6754e&start=2490#p267580

[2015-12-07 10:02] onox commented on #603
Yes, I saw that post. Seems I'm not the only one who thinks the AP is flaky.

[2015-12-07 11:01] gilbertohasnofb commented on #603
Ok.

[2015-12-07 21:32] onox commented on #603
#239 is the issue about the altitude preselect beep. I'll make it persistent when I rewrite the AP.

@wlbragg FYI I'm working on it :wink:

@legoboyvdlp The AP has two knobs. The outer knob scrolls faster. You can also hold your mouse button and just drag the mouse. That's quicker than scrolling.

[2015-12-07 22:02] wlbragg commented on #603
:+1:

[2015-12-08 02:53] legoboyvdlp commented on #603
Thanks, @onox

[2015-12-09 01:44] gilbertohasnofb opened #604 "UV map and texturize bottom panel behind pedals"
UV map and texturize bottom panel behind pedals:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/11674099/cc1de074-9e1d-11e5-9a28-ba03505c45b4.png)

Probably we can use the top left of `interior.png` for half of this bottom panel, and mirror it for the co-pilot's bottom panel. I will add a texture to it tomorrow and then we can UV map it.

This is how it normally looks there

[2015-12-09 02:18] gilbertohasnofb commented on #604
Okay, so I created the branch `bug-604` and I pushed a new texture for those panels. Could anyone apply it on GIMP? Maybe @wlbragg?

[2015-12-09 02:19] gilbertohasnofb commented on #604
Also, maybe make it livery dependent as it would give more control to adjust things individually (I already added this texture to the top left corner of every `interior.png` so this is ready to be implemented)

[2015-12-09 02:25] gilbertohasnofb opened #606 "Improve yoke model"
Improve yoke model. Currently our model is very simplistic, from a frontal view it is basically a simple rectangle while the typical yoke for these old 172 models would look more like this:

![](http://www.aviationexplorer.com/Commercial_Airliners-Military_Aircraft_Pictures/cessna_172_cockpit.jpg)

Another image, by @tigert:
![aag](https://cloud.githubusercontent.com/assets/5700795/11674807/7bf32c

[2015-12-09 02:31] gilbertohasnofb commented on #360
Any opinions on this approach? Else I will go ahead and give this a go. Also, I am thinking about mapping this function into values from -1 and 1, so positive values will result in accumulation of ice in the carburettor (the higher the value, the faster it will happen) while negative values will result in melting of ice.

[2015-12-09 02:33] gilbertohasnofb commented on #538
I found this: http://www.boldmethod.com/learn-to-fly/systems/airspeed-indicator/

[2015-12-09 04:24] wlbragg commented on #604
Yes sir, I'll take care of it.

[2015-12-09 11:25] gilbertohasnofb commented on #604
Thank you so much! :smiley:

[2015-12-09 11:29] onox commented on #360
@gilbertohasnofb Why do you use an arc function instead of simply blending the two 2D functions (according to RPM)?

Can you do this in JSBSim in `Systems/c172p-engine.xml`? Look in the other files like `Systems/c172p-heat.xml` for inspiration. See [this](http://jsbsim.sourceforge.net/JSBSim/classJSBSim_1_1FGFunction.html) for a list of elements you can use in math expressions.

Have you thought a

[2015-12-09 11:30] onox commented on #360
See [this](https://github.com/Juanvvc/c172p-detailed/blob/master/Systems/c172p-heat.xml#L505-L532) how to create an integrator that stays between 0 and 1.

[2015-12-09 12:05] onox opened #607 "Stop propeller if aircraft is upside down"
Stop propeller if aircraft is upside down. Currently it keeps spinning.

![fgfs-screen-402](https://cloud.githubusercontent.com/assets/3361585/11684765/333bfaba-9e74-11e5-99ff-150acf9cde91.png)

Can probably be fixed by calling `killengine()` in `upsidedown` function in `Nasal/physics.nas`.

[2015-12-09 12:14] onox opened #608 "Engine should be killed if propeller is broken"
Engine should be killed if propeller has stopped (broken). This should also happen if you for example break the propeller by collapsing the nose gear.

Can be fixed by using `/engines/active-engine/killed`. It seems it is currently used in the animations (that is good), but not by the FDM or engine systems (because if I set full throttle, I still get RPM). Engine is still running in this screensho

[2015-12-09 14:16] dany93 commented on #608
The reference should be  `Systems/fuel.xml`. But there is an extra layer above `/engines/active-engine/killed`, which prevents from stopping the engine by directly setting this property to true. I don't know neither why nor where.

[2015-12-09 14:34] gilbertohasnofb commented on #360
Yeah, I think what I propose is easier but also more predictable. Basically I am simply trying to model a function around a specific result, while you are trying to achieve this result using variables of the environment and hoping the system will output something similar to that graph. The problem is, as you wrote, that the latter approach is much more complicated, but also may lead to funny resul

[2015-12-09 14:36] gilbertohasnofb commented on #360
That said, I obviously see the elegance of using environment variables instead of a hard-coded arbitrary function.

[2015-12-09 14:52] onox commented on #360
At 10 deg F at 100 % RH, the dew point is 10 deg F as well, which means that there is very little moisture in the air, thus you can get little to no ice.

[2015-12-09 14:57] gilbertohasnofb commented on #360
But at 50 F and also at 100 % RH, dew point is 50 F, and on the other hand the icing is extremely severe. I don't see where this is being considered in the algorithm you proposed.

[2015-12-09 14:59] gilbertohasnofb commented on #360
I thought that the humidity of the air is 100% in both cases, as temp = dew temp.

[2015-12-09 15:01] onox commented on #360
Yes, so I think if you want to model the physical process correctly, you would have to use the absolute humidity (amount of moisture in the air), not the relative humidity (RH).

[2015-12-09 15:05] onox commented on #360
But if you want to use your approach that's fine too. Although I'm not completely sure about the arc function.

[2015-12-09 15:07] gilbertohasnofb commented on #360
I see, that makes sense. But I think what you propose is beyond my capacities to implement, and I also still think that there is no guarantee the results will come close to the POH graph as I wrote above.

What do you mean exactly? I think how the function spread in the plane looks fine, so the question is rather about the slope of the function, do you think it's raising too fast?

Anyway, I will

[2015-12-09 15:10] onox commented on #360
In that graph the drop is between 1600 and 2400. Shouldn't it rather start at something like at something like 1000?

[2015-12-09 15:12] gilbertohasnofb commented on #360
Oh, I see what you mean. Well, the POH only speaks about RPM above 1700 and below 1700, but I think you are right, maybe that arctan function should be smoother. Anyway, I also got tempted to give what you wrote a go and see if I manage it.

[2015-12-09 15:12] onox commented on #360
That's true. But the colored graph you show above is not very precise. The meaning of "serious" is not defined.

[2015-12-09 15:21] onox commented on #360
Maybe it's more like the center of the arc tangent drop they meant (which is at 2000 RPM in your graph). As I understand it the air temperature is decreased by the drop in air pressure, which is controlled via the engine RPM and throttle. I think such a thing would be smoother than what your current graph shows. But that's an educated guess.

[2015-12-09 15:26] dany93 commented on #607
It should stop on its own from `Systems/Fuel.xml`
`accelerations/Nz GE 0`

[2015-12-09 15:37] onox commented on #360
Btw, at full throttle, carb heat should reduce RPM by 75 to 150 according to POH (page 7-19).

[2015-12-09 15:48] gilbertohasnofb commented on #360
Okay @onox, I will give this all some thought and then I see what I can come up with,

You are right, the drop we have is too small. I will open an issue for it and create a PR to fix it still today or at most tomorrow, okay? Because if we wait to fix it together with this issue here it will take a while. Is that good?

[2015-12-09 15:50] gilbertohasnofb opened #609 "Increase RPM drop when using carburettor heat"
Increase RPM drop when using carburettor heat. Currently our drop @ max throttle is around 50 RPM, while the POH states that it should be between 75-150 RPM (page 7-19).

[2015-12-09 15:50] onox commented on #360
Another thing: when you have ice built up, and then turn on carb heat, the mixture gets richer. See http://flighttraining.aopa.org/students/presolo/skills/carbicing.html

[2015-12-09 15:50] gilbertohasnofb commented on #360
See: https://github.com/Juanvvc/c172p-detailed/issues/609

[2015-12-09 15:50] gilbertohasnofb commented on #360
:+1:

[2015-12-09 15:50] onox commented on #360
Just fix it as part of your carb heat/icing feature implementation?

[2015-12-09 15:51] onox commented on #360
Or you can fix it in #609, whatever is easier for you :smile:

[2015-12-09 15:56] gilbertohasnofb commented on #360
Well, this here will take some time, so I was thinking about fixing the other issue faster. That's something I wanted to ask you, what is better? 1) create a large PR (but of course__within a single subject__) or 2) create several small PR when the issues are small (even if somehow related)?

[2015-12-09 15:58] onox commented on #360
How many PR's do you want to create? :stuck_out_tongue_winking_eye: You can do the 75-150 RPM drop in #609 and then implement the whole carb icing in this issue?

[2015-12-09 16:01] gilbertohasnofb commented on #360
I meant in general, from the organization point of view. For this issue here obviously a single PR will be enough, and the RPM drop in another one. But consider the case following case: yesterday I created the PR for Horacio's textures. Then I also opened this issue https://github.com/Juanvvc/c172p-detailed/issues/604 related to texture improvements, but nothing to do with Horacio's. What would ha

[2015-12-09 16:11] onox commented on #360
I think it really depends, usually you want to keep things modular so you can easily focus and test a single particular feature. (Especially bugs should be separate).

But sometimes, like with all these texture improvements, I don't mind if you do them in one PR. But in that case you should also have just one issue, not multiple. (I'm guilty of violating this rule too sometimes)

Also if you just

[2015-12-09 16:17] gilbertohasnofb commented on #360
All sounds good, @onox :smile:

Yeah, I think we all have been violating this. But often several issues are so related that it makes sense to have a single PR for them (such as was the case with securing the aircraft, instead of a PR for tie-downs, then for the chcoks, then for the pitot tube cover).

[2015-12-09 16:21] onox commented on #360
Yes, but in that case you should have a single issue for adding all these objects to secure the aircraft after flight. Call the issue "Add securing thingies" if you will :laughing:

[2015-12-09 16:23] onox commented on #360
Another link with discussions about carburetor icing: http://www.pilotsofamerica.com/forum/showthread.php?t=67594

[2015-12-09 16:30] onox commented on #607
This is not about gravity (you're right about that), but about the propeller still happily ploughing the ground :smile: It shouldn't do that.

[2015-12-09 17:05] dany93 commented on #607
Good thing to make a propeller happy :smile:

But more realistically, does the engine stop as expected when upside down ? It should,
and the propeller should stop too, as a mere consequence of the engine stop... And with the code already done.
Depending on the engine which stops or not, or the propeller animation, something does not work or is not logic.

You wrote

Which made me understand that t

[2015-12-09 18:57] wlbragg commented on #607
I thought we accounted for that, but maybe it was just the crash flag. In which case we can set the crash flag conditioned upon contact 9, 11 or 12. They are all suppose to be the topside of the aircraft. Those contact points were a bit buggy so verify they are WOW when upside down.

[2015-12-09 18:59] wlbragg commented on #607
I would maybe add contact 10 (nose) as anytime the nose touches the ground I think one way or another the prop is going to stop. Unless the actual point is not visually where you might think it should be.

[2015-12-09 19:01] wlbragg commented on #608
Can you bust a pin or spin it off the shaft?

[2015-12-09 19:03] wlbragg commented on #608
This for shue used to be in place, I set it up myself. So it must have got removed accidentally?

[2015-12-09 19:11] wlbragg commented on #604
I don't see it?

[2015-12-09 19:27] onox commented on #607
Wouldn't it be sufficient to call `killengine()` in `upsidedown` function in `Nasal/physics.nas`?

[2015-12-09 19:39] onox commented on #608
If I print something in `killengine` it gets printed, but `/engines/active-engine/killed` remains false.

[2015-12-09 19:41] onox commented on #608
It seems it might be `Systems/engine.xml` that is resetting it.

[2015-12-09 19:56] onox commented on #608
I have fixed it.

[2015-12-09 19:57] onox commented on #608
@gilbertohasnofb What's the purpose of the `settimer()` in `engine_coughing` in `Nasal/engine.nas`? Is it 1) to just make a coughing sound; or 2) make coughing sound + *temporarily* kill engine?

[2015-12-09 20:01] gilbertohasnofb commented on #604
Well, that would be because I had forgotten to push my local branch to GitHub... :wink: you can check it again now

[2015-12-09 21:02] wlbragg commented on #604
:smile:

[2015-12-09 21:13] wlbragg commented on #607
That sound right.

I wonder if we shouldn't add 9, 11, 12 to
[code]
and
10 (nose) WOW as a killengine() condition.

[2015-12-09 21:37] onox commented on #607
10 is the nose? Yeah, then we should kill the engine as well.

But you might wanna wait a little, I'm busy in `Systems/c172p-ground-effects.xml` and `Nasal/physics.nas`.

[2015-12-09 21:48] wlbragg commented on #607
:+1:

[2015-12-10 04:01] wlbragg commented on #604
Not sure what you want to do here, Look at the existing UV map. It looks like it is already mapped to the carpet, just too dark to see. Maybe because it is mapped to a "tiny" area?
The second picture shows how the metal plate and carpet was mapped.
Should try to enlarge the UV map of the carpet area first?

![floor](https://cloud.githubusercontent.com/assets/11069680/11706596/992d22a4-9ebf-11e5-90

[2015-12-10 05:18] wlbragg commented on #604
Choose!
![carpet1](https://cloud.githubusercontent.com/assets/11069680/11707502/09dd8ae2-9ecb-11e5-914f-89d95d97f756.jpg)
![carpetno](https://cloud.githubusercontent.com/assets/11069680/11707503/09e17aee-9ecb-11e5-821e-cea28046c9d2.jpg)
![carpet2](https://cloud.githubusercontent.com/assets/11069680/11707504/09e313f4-9ecb-11e5-8d59-8b2005d422ad.jpg)
![carpet3](https://cloud.githubusercontent.com/as

[2015-12-10 12:04] gilbertohasnofb commented on #604
Hmm, none of them is what I had in mind. I thought of UV mapping this area here:

![area](https://cloud.githubusercontent.com/assets/5700795/11714965/59ba0180-9f3e-11e5-93b3-c1d511a3ee59.jpg)

And then apply the texture from the top left of `interior.png`, so that it would look something like this:

![result](https://cloud.githubusercontent.com/assets/5700795/11714970/64d83960-9f3e-11e5-9ff4-5594c

[2015-12-10 12:40] onox opened #610 "Returning to repaired aircraft during replay with crashed gear makes gear stick in the ground"
It is possible to make the gear stick through the ground by doing the following:

1. Crash the gear
2. Repair the aircraft
3. Watch the replay and then exit the replay mode while the gear is crashed
4. After having exited the replay mode, the gear stick through the ground because the z-positions aren't reset

I've already fixed this here locally.

[2015-12-10 14:02] gilbertohasnofb commented on #604
So I checked and there are three problems in the back of the plane: 1) the inside of the baggage door isn't UV mapped and 2) the "panel" in the back of the baggage area is just horrid 3) the division of the rear glass isn't visible from inside!!

See:
![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/11716003/ea73fe44-9f46-11e5-940a-4e9f8bb50a8f.png)

About no. 3, see the view

[2015-12-10 14:03] gilbertohasnofb commented on #604
In case you are curious, I based the new textures on these images:

![](http://farm6.staticflickr.com/5310/5635805345_b512b4c1da.jpg)

![](http://www.oldplanesandcars.com/yahoo_site_admin/assets/images/1965_172_cessna_011.340122030_std.jpg)

[2015-12-10 18:54] wlbragg commented on #604
That is that area that a UV mapped, it's just that it is too dark to see (see my initial post)

Those 4 images are
1.Using carpet as UV map, same resolution same grain direction as the floor carpet (1 to 1)
2.Your new texture (too dark to see well)
3.Using carpet as UV map, same resolution perpendicular grain direction as the floor carpet (1 to 1)
4.Using carpet as UV map, larger area mapped (more

[2015-12-10 19:00] wlbragg commented on #604
Below is the 4th image.
![09e410f6-9ecb-11e5-9aa3-1a1eea276fb5](https://cloud.githubusercontent.com/assets/11069680/11725190/f6ec47f2-9f3d-11e5-8355-ca5992501d3d.jpg)

[2015-12-10 20:34] #609 closed

[2015-12-10 21:25] gilbertohasnofb commented on #604
Okay, I couldn't see well from that screenshot! So use the new texture like that :smile:

Thank you so much!

[2015-12-11 08:23] wlbragg commented on #604
![int](https://cloud.githubusercontent.com/assets/11069680/11738956/1def2b84-9fad-11e5-86f7-2b93a4262b46.jpg)
![int2](https://cloud.githubusercontent.com/assets/11069680/11739071/2f96740e-9fae-11e5-8271-fea117a43c3d.jpg)

[2015-12-11 09:00] gilbertohasnofb commented on #604
Looking much better! I will test and create a PR!

[2015-12-11 09:12] gilbertohasnofb commented on #604
@wlbragg This looks so much better indeed, really nice work :smile:

But I found two small problems that we could solve under this same PR of "interior textures":

1) there is some untexturized object or part of an object just by this front panel. Could you investigate what it is and what we could do to solve? We can apply part of this new black cloth texture to it as a solution:

![fgfs-screen-00

[2015-12-11 09:17] #608 closed

[2015-12-11 13:57] legoboyvdlp commented on #604
It all looks beautiful :)

[2015-12-11 15:00] gilbertohasnofb commented on #604
@legoboyvdlp Thanks lego :smile:

[2015-12-11 16:03] gilbertohasnofb commented on #455
Hmm, I am thinking about the quote by @Juanvvc above:

Isn't this exactly what we currently have? If the save state toggle is checked, then the aircraft will save its state, else the aircraft will be reset to a reasonable state (parking brakes on, switches off, etc.). I just don't understand what this issue is about any more...

[2015-12-11 16:03] gilbertohasnofb commented on #439
Has this been solved when @dg-505 made the modifications to the Tutorials or is this still a problem?

[2015-12-11 16:04] gilbertohasnofb commented on #428
This problem still appears from time to time, but only under certain conditions and I can't reproduce it consistently. It's really a tricky one....

[2015-12-11 16:09] gilbertohasnofb commented on #109
Since this still hasn't been fixed, what about using the male model for a while until the female model gets fixed? As much of a feminist as I am, those creepy eyes when moving the view are extremely disturbing :scream:

[2015-12-11 17:42] wkitty42 opened #613 "Mouse wheel direction of overhead air vents is inverted"
On the control panel, scrolling the mouse wheel forward decrements the value of what we altering and pulling the mouse wheel back towards you increments the value.

However, for the overhead air vents in the top left and right corners of the windshield the direction of the mouse wheel is inverted.

We should push the mouse wheel away from us to close the vents just like we push the vent to close i

[2015-12-11 18:15] wkitty42 commented on #455
i think it has actually be completed by adding the state saving code as well as resetting everything to the saved state on start regardless of what the sim was doing... eg: if the sim was forcing the key switch to be on, we now force it off...

however, this also brings up something that i've been forgetting to mention... there was a bit of talk in the dev list about if certain things should be ch

[2015-12-11 18:31] gilbertohasnofb commented on #455
Great, so I will reference it to that PR and close this issue

Well, I go through it daily but given the amount of FG projects I am involved with, I really just scroll it quickly to see if something is interesting or does concern me. But I probably miss interesting posts very often...

Hmm, I read these links you sent but I don't think I am the right person to reply to this kind of thing (as I kno

[2015-12-11 18:37] gilbertohasnofb commented on #455
Closed via https://github.com/Juanvvc/c172p-detailed/pull/518

[2015-12-11 18:37] #455 closed

[2015-12-11 18:50] wkitty42 commented on #455
yep, i was thinking about @onox for that, too :wink:

[2015-12-11 18:54] zakalawe commented on #455
I would be grateful if someone could (on the dev list) for sure!

Kind regards,
James

[2015-12-11 20:14] onox commented on #428
There's also the problem that needles and instruments get strange pink/green colors:

![fgfs-screen-398](https://cloud.githubusercontent.com/assets/3361585/11754523/2593c4d6-a04c-11e5-8450-af919312e4e4.png)

See altimeter and magnetos.

[2015-12-11 20:17] gilbertohasnofb commented on #428
The greenish hue in the magneto switch is indeed present very often. As for the pink colours in the instruments, I have never seen that except when the instrument lightning is higher than 0%, in which case that would be a feature :wink: You are sure that's not the case, right?

[2015-12-11 20:17] onox commented on #109
We just need to make the eyes a one-sided surface. See https://github.com/Juanvvc/c172p-detailed/issues/109#issuecomment-101986664

[2015-12-11 20:18] gilbertohasnofb commented on #109
I know that, my proposal was just a temporary fix while no one submits a patch to FGDATA.

[2015-12-11 20:18] onox commented on #109
@Juanvvc You made some fixes? Are those still local on your computer?

[2015-12-11 20:24] onox commented on #613
Dragging direction is OK, but mouse wheel scrolling of the overhead air vents is not.

@wkitty42 Please end phrases with a single dot instead of three.

[2015-12-11 20:24] wkitty42 commented on #613
this problem also exists with the key switch and the instrument brightness knob... should i make a new issue for each of these or no??

[2015-12-11 20:24] onox commented on #613
No.

[2015-12-11 20:25] wkitty42 commented on #613
ok :smile_cat:

[2015-12-11 20:26] onox commented on #613
What's wrong with the magnetos? Drag and mouse wheel scrolling seems OK.

[2015-12-11 20:26] wkitty42 commented on #613
@onox : sorry... those three dots is from 30 years of muscle memory...

[2015-12-11 20:27] onox commented on #613
Instrument brightness knob is also OK. They're horizontal, not vertical like the throttle/mixture/cabinheat/cabineair sliders.

[2015-12-11 20:29] wkitty42 commented on #613
maybe i need to make another pull? rolling the mouse wheel forward should turn the key off. off is down (aka decrement). pushing the top of the wheel forward should decrement.

i *always* roll forward to decrease and pull back to increase... no matter if they are twisty knobs or horizontal/vertical sliders or in/out sliders like the mixture and throttle...

[2015-12-11 20:30] onox commented on #613
I don't think so. Pushing mouse wheel forward should turn the key clockwise. Which it does.

[2015-12-11 20:32] gilbertohasnofb commented on #613
Yep, pushing something forwards == increase IMO

[2015-12-11 20:32] onox commented on #613
On the other hand: drag direction of flap should be vertical instead of horizontal.

[2015-12-11 20:34] onox commented on #428
But some of the needles are white instead of pink. They should either be all pink or all white.

[2015-12-11 20:36] gilbertohasnofb commented on #428
Agreed. Would you open a new issue for the colour problem or do you want me to do it?

[2015-12-11 20:37] onox commented on #428
You can do it :wink:

[2015-12-11 20:40] gilbertohasnofb opened #614 "Colour problems in the cockpit gauges"
Colour problems in the cockpit gauges:
- very often the magneto switch looks green under certain light conditions
- the instrument illumination isn't consistent among all instruments. Some needles are whiter and some other are pinker. They should be all pink IMO:
![](https://cloud.githubusercontent.com/assets/3361585/11754523/2593c4d6-a04c-11e5-8450-af919312e4e4.png)

[2015-12-11 20:40] gilbertohasnofb commented on #428
:+1: https://github.com/Juanvvc/c172p-detailed/issues/614

[2015-12-11 20:41] gilbertohasnofb commented on #614
For whomever will volunteer to work on this: maybe you could also tackle the issue here https://github.com/Juanvvc/c172p-detailed/issues/35 which is related in a way.

[2015-12-11 20:41] gilbertohasnofb commented on #613
@onox Maybe we should open a new issue for the flap as well, so this doesn't get forgotten in this comment of yours.

[2015-12-11 20:58] onox commented on #613
Sure.

[2015-12-11 20:58] onox commented on #607
@wlbragg See my comments and questions in PR #615

[2015-12-11 21:17] gilbertohasnofb opened #616 "Drag direction of flaps should be vertical instead of horizontal"
Drag direction of flaps should be vertical instead of horizontal.

[2015-12-11 21:17] gilbertohasnofb commented on #613
Ok, see: https://github.com/Juanvvc/c172p-detailed/issues/616

[2015-12-11 21:38] wlbragg commented on #614
I think I know what this is and have a fix for it, so I will take the assignment.

[2015-12-11 21:41] gilbertohasnofb commented on #614
Great! :smile:

[2015-12-11 21:43] wlbragg commented on #428
I'm pretty sure the green is a side effect of the flashlight effect. We ran across it in the shuttle but on a larger scale. Requires a "fake" white cube map to fix. The effect inherited fro flashlight expects a cube and without one uses a default that has green grass on it.

[2015-12-11 21:46] wlbragg commented on #604
I think I can fix it.

[2015-12-11 21:48] gilbertohasnofb commented on #604
You're golden :smile:

[2015-12-11 23:13] wkitty42 commented on #613
On 12/11/2015 03:30 PM, onox wrote:

sorry, that's backwards to me...

i should also rephrase...

pushing in, turning left, lifting up should have the mouse wheel being pushed...

pulling out, turning right, pressing down should have the mouse wheel being
pulled...

the thing is consistency... not really the increasing or decreasing of the
value... the throttle and mixture are examples of increasi

[2015-12-11 23:20] gilbertohasnofb commented on #613
I am also right handed :wink: Where do you see the inconsistency in our plane? Inconsistency means that in some cases it behaves one way and others it behaves differently, so which two switches/levers behave in opposite way? I think we have all of them consistent now; when it's a lever, that's easy: rolling forward the wheel == pushing the lever forward. When it's a rotating switch, forward == clo

[2015-12-11 23:23] gilbertohasnofb commented on #616
Also, when scrolling above the flaps with the mouse wheel, forwards lowers the flap while backwards raises the flap. I think that it should be the opposite, right? Backwards should move the flaps down.

[2015-12-11 23:25] dany93 commented on #613
I already wrote this comment about the scroll wheel direction https://github.com/Juanvvc/c172p-detailed/issues/444

[2015-12-11 23:29] gilbertohasnofb commented on #613
Let's suppose that this is really an issue in which 50% percent of people will have one opinion and 50% will have another. If that's the case (which I really don't know if it is since I only saw you and @wlbragg saying the prefer the opposite behaviour) then as long as the behaviour of scrolling is consistent -- which it is -- then it's a matter of picking one option over another. Then given that

[2015-12-11 23:50] dany93 commented on #613
This aircraft initially had the opposite behaviour for the scroll wheel on the knobs. There were no complaints. What I don't understand why you changed it.

[2015-12-11 23:53] gilbertohasnofb commented on #613
I didn't, Dany, it was someone else -- but I do prefer the current behaviour much more. I am only making a point of why I think reverting back would be a bad decision. And I am also making a point on why I think the current behaviour is good (forward = increase seems fairly logical) as well as showing that we have consistency.

[2015-12-11 23:57] dany93 commented on #613
"You" was not for you gilberto, personally.
But not easy I admit, we can find both, depending on FG aircraft...

[2015-12-12 00:05] onox commented on #613
If you want the opposite behavior, see https://github.com/Juanvvc/c172p-detailed/issues/444#issuecomment-133879809

[2015-12-12 00:16] wkitty42 commented on #616
On 12/11/2015 06:23 PM, Gilberto Agostinho wrote:

yes, this is consistent with my view of how the mouse wheel should act...

[2015-12-12 00:21] gilbertohasnofb commented on #616
hehe "consistent with my view" isn't the same as "consistent with the other switches", right? You mean that you'd like all others to behave as the flaps, while I think we just need to fix the flaps and then everything is perfect.

[2015-12-12 00:38] wkitty42 commented on #613
On 12/11/2015 06:20 PM, Gilberto Agostinho wrote:

i was kinda incorrect earlier when i was trying to associate pushing with
decreasing... i thought that was proper but then the throttle and mixture don't
do that... they increase when pushed in... now trying to explain how it is
backwards to me is confusing me :(

my mouse is canted slightly to the left most of the time... kinda like a person
with

[2015-12-12 00:40] wkitty42 commented on #613
On 12/11/2015 06:25 PM, dany93 wrote:

thank you! you sure did and what you say there seems to be the same as what i'm
trying to say here...

[2015-12-12 00:49] wkitty42 commented on #613
On 12/11/2015 06:29 PM, Gilberto Agostinho wrote:

yes, it is consistently backward :wink:

lack of published complaints... true... however, some folks hope and watch until
things just finally get to be aggravating to them before they voice their
complaint...

this is at least the second or third issue that has been filed about the mouse
wheel rotation action being backwards... i wouldn't even say

[2015-12-12 00:52] wkitty42 commented on #613
On 12/11/2015 07:05 PM, onox wrote:

but won't that flip the things backwards that are working properly now??

eg: throttle and mixture would be pushing the wheel to pull them out

[2015-12-12 00:54] wkitty42 commented on #616
On 12/11/2015 07:21 PM, Gilberto Agostinho wrote:

then perhaps the throttle and mixture should be reversed, too?

[2015-12-12 00:55] onox commented on #613
It probably will. The problem is that some of the controls always function the same: you scroll the mouse wheel forward to move the knob of the throttle/mixture away from you (towards the engine), but some other controls do not: these horizontal knobs should either turn clockwise or counterclockwise depending on who you ask. But you cannot make a distinction between these two.

[2015-12-12 02:11] aplund commented on #439
I have been using the beta version for a while now and I haven't had this crop up.  I think it is fixed.

[2015-12-12 06:54] wlbragg commented on #604
It's done! I should have done it right the first time.:smile:

[2015-12-12 09:22] gilbertohasnofb commented on #603
stuart wrote in the forum:

[2015-12-12 09:30] gilbertohasnofb commented on #604
Closed via https://github.com/Juanvvc/c172p-detailed/pull/619

[2015-12-12 09:30] #604 closed

[2015-12-12 15:44] onox commented on #603
I had already downloaded the manual. Also, I know the KAP-140 is a bit odd compared to other other autopilots and I do not intent to change its behavior much.

Main thing I want to do is get rid of all that ugly Nasal code, require AP button to be pressed for at least 250 milliseconds in order to engage the AP, tune PID controllers to reduce the horizontal oscillations in NAV mode, reduce oscillat

[2015-12-12 16:10] gilbertohasnofb opened #621 "Create oil cap and air side door 3D objects"
Create oil cap and cabin air side door (on the right side of the fuselage) 3D objects. See:

![](http://www.weekendcfii.com/photos/c172preflt/C172_oil_dipstick.jpg)

![](http://www.kentstreetshs.wa.edu.au/Images/General/cessna%20172SP.jpg)

[2015-12-12 16:11] gilbertohasnofb opened #622 "Create elevator trim tab"
Create elevator trim tab in the 3D model.

![](https://upload.wikimedia.org/wikipedia/commons/f/ff/Labeled_Cessna_172_trim_tab.jpg)

[2015-12-12 16:11] wkitty42 commented on #603
On 12/12/2015 10:44 AM, onox wrote:

will this refactoring also (finally) tie the panel AP to the F11 AP dialogue? i
do hope so... right now the dialogue is only good for setting the heading bug
and that is with the heading control box checked or not... the altitude hold and
rate of climb/descent don't do anything, with the checkbox or not... speed
control i don't use so have no thoughts on that..

[2015-12-12 16:14] gilbertohasnofb commented on #428
Closed via https://github.com/Juanvvc/c172p-detailed/pull/618

[2015-12-12 16:14] #428 closed

[2015-12-12 16:14] gilbertohasnofb commented on #614
Closed via https://github.com/Juanvvc/c172p-detailed/pull/618

[2015-12-12 16:14] #614 closed

[2015-12-12 16:19] gilbertohasnofb opened #623 "Adjusting mixture keyboard sensitivity"
Reporter by kjd.nc in the forum:

In reality it isn't erratic, but the behaviour isn't the best either. Pressing `m` increases the mixture by `0.00825` and then FG rounds it when hoovering (the opposite is true for `M`). This means that some numbers may be skipped, while others may appear twice. It's nitpicking, but it costs nothing to make the value `0.01`.

[2015-12-12 16:19] #616 closed

[2015-12-12 16:19] gilbertohasnofb commented on #623
@onox what do you think?

[2015-12-12 18:43] onox commented on #603
@wkitty42 I know you like punching in numbers/keys, but the F11 window is really meant for (new) aircraft that don't have a native AP yet. Second, the F11 window suggests the AP can do more than it really can. Third, the KAP-140 AP has some unusual requirements like requiring to set the heading bug to the same as the CDI radial if you activate the NAV mode for example. And the F11 window doesn't s

[2015-12-12 18:45] onox commented on #603
In the future it would be nicer if you could click on the AP screen and then a new Canvas window pops up showing the same KAP-140 AP.

[2015-12-12 19:14] wkitty42 commented on #603
On 12/12/2015 01:43 PM, onox wrote:

it isn't that i ""like to""... it is that i'm an old school touch typist... i
use the keyboard for at least 90% of what i do... even when web browsing :wink:

there are some craft that bring up a much different dialogue than the standard
F11 AP dialogue... we could do our own or adapt one of the more simple ones to
fit the KAP-140's functions...

why? i underst

[2015-12-12 19:18] onox commented on #623
Where do you see that number `0.00825`?

[2015-12-12 19:22] gilbertohasnofb commented on #623
Sorry, I was not very clear. It's the property `controls/engines/current-engine/mixture`, which ranges between `0.0` and `1.0`. Set it to `0.0` then press `m` once, and it will increase by that value. But actually you must hit the key very quickly, anything longer will output something larger than `0.00825`. So indeed it's very erratic as the user reported.

[2015-12-12 19:31] onox commented on #623
Can you ask that user what `controls.adjMixture(1)` does for other aircraft?

[2015-12-12 19:31] wlbragg commented on #603
That make a lot of sense.

That makes even more sense.

I kind of look at it like this, you could add virtually every other common instrument to the dialog (GUI), but for some reason it was decided to only add autopilot as a stand alone menu entry, and then you have an instruments menu entry with a couple items (radio) why? What else can you access on the GUI?  I think it should be all or nothing.

[2015-12-12 19:32] gilbertohasnofb commented on #623
Lines 222-227 from our `engine.nas`:

[code]

[2015-12-12 19:33] onox commented on #623
I'm interested in knowing whether he always gets the same increment if repeats the experiment multiple times.

Also, in the c172p you get increments of 1 or 2 %, not 12 to 25 % when you press the m key.

[2015-12-12 19:35] onox commented on #623
@gilbertohasnofb Here's the truth: `Nasal/controls.nas` in FGDATA uses `THROTTLE_RATE` and `/sim/time/delta-realtime-sec` for `adjMixture`. That file also defines `adjThrottle`, but in `keyboard.xml` it actually uses `incThrottle`, which does not use that `/sim/time/delta-realtime-sec` property, but instead always increments/decrements by 0.01.

[2015-12-12 19:35] onox commented on #623
So if that user says that m key is erratic, it should be erratic for all airplanes.

[2015-12-12 19:36] gilbertohasnofb commented on #623
I see. So is there a way to make at least our plane non-erratic from our side or would that require a modification to FGDATA?

[2015-12-12 19:37] onox commented on #623
Well, first I want to know from that user if the m key is "erratic" for all this airplanes, because it should if the code uses `controls.adjMixture`.

[2015-12-12 19:39] gilbertohasnofb commented on #623
I see, I will ask him.

[2015-12-12 19:39] onox commented on #623
Second, we have to ask ourselves what kind of behavior we want. Do we want a consistent time between 0 % and 100 %, or do we want consistent increments, which means that the duration from 0 to 100 % will depend on the frame rate.

[2015-12-12 19:42] onox commented on #623
If you're tuning the mixture/throttle while in flight you probably want consistent increments, but if you quickly need full throttle (when going around for example) then I would see we need consistent time.

[2015-12-12 19:46] onox commented on #623
@gilbertohasnofb His propeller pitch (n/N) should be "erratic" as well.

[2015-12-12 20:04] gilbertohasnofb commented on #623
Ok, I will inform him of these things and ask for tests.

[2015-12-12 20:20] gilbertohasnofb commented on #623
The problem of that is if the changes aren't consistent, fine tuning becomes impossible. But that said, who needs to adjust mixture to 1% of precision anyway?

[2015-12-12 20:23] wkitty42 commented on #603
On 12/12/2015 01:45 PM, onox wrote:

that might be alright, too... and link it to F11, too :wink:

aside: my apologies if i sounded grumpy earlier... i lost a server yesterday and
have been working on it all night... that's why my posts stopped in the other
issues when they did... it normally sits right next to me... when it blew, it
was really loud, very bright and let an awful lot of that majik

[2015-12-12 20:24] gilbertohasnofb commented on #623
By the way, I forgot to add the link to the forum in case anyone is interested: http://forum.flightgear.org/viewtopic.php?f=68&t=28257

[2015-12-12 22:19] onox commented on #603
If we manage to replicate the AP in a Canvas window I don't have any problems with binding it to F11.

Would you prefer to disable the "Radio Settings" window as well? I would not be opposed to that. Everything can be done with the instruments in the radio stack.

[2015-12-12 23:24] gilbertohasnofb commented on #623
The user informed us that he isn't aware of large skips in mixture with other planes as most do not have tooltips, and he is going to watch that property I mentioned before and test other planes.

[2015-12-12 23:40] kjd-nc commented on #623
Thanks for your help, Gilberto. I found the logging setting to capture the /controls/engines/engine/mixture value in the .csv log file, so I can check out some other aircraft that way. I just tried it again, using the C172 in FG36 with the default mixture resolution (adjMixture(+/-1)) and this time, the biggest jump I saw was from 42% to 48% in a single keystroke. I was probably tapping my key mor

[2015-12-12 23:44] onox commented on #623
Go to "Debug" and then click on "Cycle On-Screen Statistics". Press F10 to hide the menu bar. The frame rate is shown in the top left corner.

[2015-12-12 23:57] kjd-nc commented on #623
On that flight, while sitting on the tarmac, which was where I was when I was testing the mixture behavior, I was getting between 20 and 30 FPS.  Once I began flying, I normally was between 50 and 65, although sometimes it would get down into the 10's or 20's, at which point the sim did indeed get choppy.

If the answer to this issue is that it's an artifact of the real-time behavior of the contro

[2015-12-12 23:59] gilbertohasnofb commented on #623
@kjd-nc but can you tell if those large skips happen when the sim get choppy? If yes, then that may explain the problem.

[2015-12-13 02:12] legoboyvdlp commented on #603
Why not just disable the map and atc frequencies while you're at it, to force us to download charts? ;)
In other words, I don't like the idea.

[2015-12-13 02:24] legoboyvdlp opened #624 "Push/pull levers texturing..."
http://www.biopatent.com/numbered.jpg

See 42 and 18. They should have a black circle, like the instrument lighting.

Also, there should be a handset style cable under the yoke.

Finnaly, does the 1981 have rudder trim, like the 83? See 29.
Cheers!

[2015-12-13 05:32] wlbragg commented on #603
I guess not in light of @legoboyvdlp reply.

This hodgepodge scattering of extraneous GUI items, added with good intention, is now being relied on and expected by some.
I don't know what the politically correct thing to do is, ask 10 different users and you'll get 10 different answers.

In the long run, I think there needs to be a well thought out strategy of what to include in the GUI, not an ass

[2015-12-13 14:00] dany93 commented on #603
Is there a drawback to let the generic AP and radio stack (F11, F12)?
They can be convenient for some users, quick to set for some tasks (I've often used the generic AP on aircraft when it works well for the FDM development).
For those who complain that they are not satisfied with the generics, the response is obvious.

[2015-12-13 14:05] gilbertohasnofb commented on #624
To clarify: @legoboyvdlp is referring to the the primer and cabin air and heat levers, all of which should look like the instrument lightning. I think this isn't a matter of texture but rather of 3D modelling. What do you think, @wlbragg, would you be interested in adapting the instrument lightning knob for those objects?

This is lego's image:

![](http://www.biopatent.com/numbered.jpg)

@legoboy

[2015-12-13 16:29] wlbragg commented on #624
I might take a look at it. Are we sure the knobs don't come both ways? What is 42 in this image?
In other RL images I've seen, the heat and air knobs are the same look but are smaller.

[2015-12-13 16:45] onox commented on #392
@gilbertohasnofb Is this how it's supposed to look? The exported `.ac` file has different materials:

[code]

![fgfs-screen-405](https://cloud.githubusercontent.com/assets/3361585/11768039/e4ba8de8-a1c0-11e5-9548-0309aacf4dd1.png)

[2015-12-13 16:48] onox commented on #392
If I manually modify `emis` to zero then it looks alright. Not sure about `spec` and `shi` though.

[2015-12-13 20:42] legoboyvdlp commented on #624
Thank you!

And 42 is the cabin heat/air levers.

[2015-12-13 21:19] gilbertohasnofb commented on #624
No, I am not sure, but if you google "cessna 172 primer" all results look something like this:

![](http://cyclenetparts.com/images/items2/c13/SAM_9940_e93db9.JPG)

So I think lego may have a point.

[2015-12-13 21:21] gilbertohasnofb commented on #392
Regarding what, exactly? Texture-wise? If so, then yes, it looks fine to me.

I am not familiar with these sort of properties as they are normally done in Blender :cry:

[2015-12-14 06:36] wlbragg commented on #392
Anything I can do to help on this, let me know!

[2015-12-14 06:39] wlbragg commented on #624
It looks like just one lever?

No matter, I'll just copy one of the example knobs (instrument lighting) and re-size it for the heat and air.

[2015-12-14 06:46] wlbragg commented on #603
I don't think there is any harm in leaving them available. I'm just venting about the GUI in general. In a perfect world, I think they could have been organized better.

[2015-12-14 07:25] wlbragg opened #626 "Add an after market thermometer in the cockpit."
This was mentioned on a form post
http://forum.flightgear.org/viewtopic.php?f=17&t=28187

I think it would be a nice addition to have some kind of thermometer in the cockpit.

I never really even looked at the one on the vent to know for sure, but according to @wkitty42 it is the external temp.

[2015-12-14 12:07] gilbertohasnofb commented on #626
Good idea. Which kind of model do you have in mind? Something digital like a small clock or something like this? https://s-media-cache-ak0.pinimg.com/236x/5a/c2/fd/5ac2fd4b564ee7ff5f7e16b52b257b08.jpg

I just would like to hear the opinion of @tigert or @Juanvvc about this, have you guys ever seen such thermometer in a cockpit?

As for the thermometer in the right vent, it's indeed external temper

[2015-12-14 12:11] gilbertohasnofb commented on #623
@kjd-nc I am closing this issue given what we wrote in the forum:
- no one could reproduce it
- you also believed it might have been caused by the alterations you made to the code while testing it

If you do happen to see it again, let us know and this will be reopened.

[2015-12-14 12:16] #575 closed

[2015-12-14 12:48] onox commented on #392
On the forum/wiki you can find screenshots of an older Canvas implementation. It would be nice if you could find the code and the `.svg` files :smile:

[2015-12-14 12:50] onox commented on #392
And delete the `screens.png` material from the `screen` object in Blender. If you then export the `.ac` file. Is it much different according to `git diff`?

[2015-12-14 12:55] onox commented on #626
That's correct, it's the external temperature.

[2015-12-14 13:02] onox commented on #623
I thought I had written here that I get different time durations (from 0 to 100 %) depending on FPS, which isn't what I expected. Can anyone reproduce this?

[2015-12-14 13:04] gilbertohasnofb commented on #623
I must have missed that, @onox. But how do you test that?

[2015-12-14 13:04] onox commented on #623
Use a stopwatch or your phone to measure the time it takes to go from 0 to 100 % :smile:

[2015-12-14 13:05] gilbertohasnofb commented on #623
Oh, so the difference is that huge! :fearful:

[2015-12-14 13:06] onox commented on #623
You have already done the measurements?!

[2015-12-14 13:07] onox commented on #623
I mean you measure the time it takes while at 10 FPS and while at 40 FPS for example. Going from 0 to 100 while at 10 FPS is much faster here.

[2015-12-14 13:11] gilbertohasnofb commented on #623
Nope, but if you can spot it with all the imprecision of a stopwatch then it must be huge, else that's just experimental error (time it takes to press the buttons, your reflex to react, etc.).

I am doing tests now and I will let you know.

[2015-12-14 13:16] gilbertohasnofb commented on #623
My results, three tries for each situation:

@35 fps:
- 4"05
- 3"68
- 3"73
avg: 3"82

@20 fps:
- 2"83
- 2"31
- 2'63
avg: 2"59

It's indeed a huge difference, at slower fps I get like 30% or more response!

[2015-12-14 13:21] onox commented on #623
Yes, that's what I get too.

[2015-12-14 13:22] gilbertohasnofb commented on #623
Hmm....

[2015-12-14 13:42] legoboyvdlp commented on #624
I think the other one is missing or hidden ;) Perhaps it is in a warm country!

[2015-12-14 17:27] wkitty42 commented on #626
On 12/14/2015 07:07 AM, Gilberto Agostinho wrote:

take the one out of the Piper PA24-150 Comanche... it is a stick-on there on the
left window... black round disk with a LCD screen and a pushbutton to toggle it
through C or F or Off...

stick it to the dash panel and tie it to the internal temperature calculations
instead of the OAT as it is now...

[2015-12-14 17:28] wkitty42 commented on #626
On 12/14/2015 07:55 AM, onox wrote:

especially since it says OAT right on it :wink:

[2015-12-14 18:34] wlbragg commented on #392
I'm not the person to find things in our wiki or forum (or I am and nothing is ever there :smile: )
I found mostly what you already reference here.
http://wiki.flightgear.org/Garmin_GPSMap_196
http://forum.flightgear.org/viewtopic.php?f=71&t=23047&hilit=gps&start=15
http://forum.flightgear.org/viewtopic.php?f=14&t=15433&p=253470#p253455
http://forum.flightgear.org/viewtopic.php?f=71&t=23644&hilit=

[2015-12-14 20:25] onox commented on #392
@ -1,13118 +1,12894 @@

No, what I meant to ask is how many lines are added/deleted when you simply delete the material reference in the screen object.

[2015-12-14 20:26] onox commented on #392
No, but on the forum they said they made use of some colored SVG files.

[2015-12-14 20:31] onox commented on #392
[This](http://forum.flightgear.org/viewtopic.php?f=71&t=23047&hilit=gps&start=15#p209575) is what I mean:

![GPSmap196 with SVG images](http://wiki.flightgear.org/images/a/a9/Gpsmap196-svg-instruments.png)

I was hoping that we could still find the code that generates that picture somewhere on the internet.

[2015-12-14 22:46] wlbragg commented on #392
Do you have any idea what plane that is in in the background?

[2015-12-14 22:53] wlbragg commented on #392
That is what 1,13118 +1,12894  is

It went from 13118 to 12894 = 224 less lines.

[2015-12-14 23:24] gilbertohasnofb commented on #439
@onox what do you think, shall we close this?

[2015-12-14 23:42] kjd-nc commented on #626
If one is concerned about the fact that such a thermometer is not a standard (or not common) piece of equipment, then would it be a big deal for it to be an optional feature of the console, defaulted to off?

As for digital vs a fluid thermometer, my first thought is, whichever is easier to read. Personally I wouldn't lose any sleep over whether there is a control to switch from C to F - I'm perfe