[2016-03-02 08:46] HHS81 commented on #723
@tigert

Interesting, didn't thought about this. Since I'm responsible for, I see now that taking the airspeed value from the FDM's velocity variable wasn't good. Indeed maybe better taking instruments/airspeed-indicator/....

Can you tell me, what will really happen when the pitot system is iced/ blocked?
Somewhere I read that it will show false values, but not simply nothing?

[2016-03-02 09:08] dany93 commented on #721
For me that's OK, at least for now. There's more loss than benefit at lowering it more. For @algefaen issue, the benefit would be insensible.
Unless there would be a new way in the future, but I do not see.

[2016-03-02 09:59] onox commented on #723
Uhhh... @HHS81 you came with the idea to use `Systems/indicated-airspeed.xml`? :smile:

If `/sim/model/c172p/securing/pitot-cover-visible` is true, then `velocities/vias-kts` should be 0.0.

[2016-03-02 10:21] onox commented on #723
@HHS81 You think we should use `/instrumentation/airspeed-indicator/indicated-speed-kt` instead of `velocities/vc-kts`? The former property does seem to react to `/systems/pitot/serviceable` (speed decreases while you climb if pitot failed and vice versa)

[2016-03-02 10:24] HHS81 commented on #723
Which is the source of this issue.

instead it should be instrumentation/airspeed-indicator/true-speed-kt as the source for uncorrected indicated-airspeed. When piot fails, true-speed-kt will fail and with that indicated-aispeed as well.

[2016-03-02 10:25] onox commented on #723
`Systems/indicated-airspeed.xml` is determine KIAS based on KCAS, so why use KTAS to determine KIAS?

[2016-03-02 10:27] onox commented on #723
The idea of using `Systems/indicated-airspeed.xml` was because `indicated-speed-kt` should be KIAS, but acted as KIAS. So we added our own table to convert to KIAS, but in the process we were using the KCAS from JSBSim, instead of `indicated-speed-kt`.

So we should use `indicated-speed-kt`, not `true-speed-kt`?

[2016-03-02 10:31] HHS81 commented on #723
@onox: No, no, no!!

the ASI on cessnas will never show the real indicated-airspeeds. They will always show errors. This errors are due the position of the pitot.
But FlightGear assumes that the pitot is a perfect pitot and sows real values. Which is not realistic.

So the table changes the correct-IAS from FlightGear back to uncorrect IAS from reallife. Just the source I used was not correct, bec

[2016-03-02 10:33] onox commented on #723
correct-IAS = KCAS and uncorrect IAS = KIAS? Or am I misunderstanding KIAS and KCAS?

[2016-03-02 10:34] onox commented on #723
Also the POH uses KCAS in their tables, so I still don't understand why you want to use KTAS :worried:

[2016-03-02 10:40] HHS81 commented on #723
*sigh*

You making me mad. Yes, KTAS would be wrong. Sorry.

The table shows KCAS- calibrated or also called corrected airspeed.
We are using JSBSim v**c**-kts. C stands for calibrated/ corrected. But this jsbsim values doesn't depend on the pitot. That's the problem

[2016-03-02 10:42] onox commented on #723
I know that.

So you agree we should be using a KCAS from FG that reacts to failure of the pitot system?

[2016-03-02 10:45] HHS81 commented on #723
If there is a KCAS that depends on pitot/static systems , yes.

[2016-03-02 10:46] onox commented on #723
There is: `/instrumentation/airspeed-indicator/indicated-speed-kt`

1. It reacts to `/systems/pitot/serviceable`

2. It assumes a perfect pitot, no error. Thus it is practically a KCAS

[2016-03-02 10:48] HHS81 commented on #723
I would say yes.

[2016-03-02 10:48] onox commented on #723
Okay, then I'll create a branch with a fix. :smiley:

[2016-03-02 10:52] HHS81 commented on #723
@onox
you have to insert  `<property>/instrumentation/airspeed-indicator/indicated-speed-kt</property>`
between `<system name="indicated-airspeed">`
and  `<channel name="indicated airspeed">`in the file, otherwise you will get an error message.
`

[2016-03-02 10:52] onox commented on #723
:+1:

[2016-03-02 10:55] gilbertohasnofb commented on #724
Thanks! :smile: I will add the quantity in litres later today

Actually the clickspot for the fuel sumps is quite large, the problem may be that if the camera is below the surface, the clickpoints do not work (FG thinks you are clicking on the terrain itself). As for combining the fuel sump dialog together with the refuelling dialog, I strongly disagree with that.

As for the other suggestions, I

[2016-03-02 10:59] gilbertohasnofb opened #725 "Add objects from the c182 (cones, ladder, fuel tank, etc.)"
Add objects from the c182 (cones, ladder, fuel tank, etc.)

@onox wrote:

See: https://github.com/HHS81/c182/issues/55

[2016-03-02 11:00] HHS81 commented on #723
hmmm.... there is a mismatch between `vc-kts` and `/instrumentation/airspeed-indicator/indicated-speed-kt`.
So actually `/instrumentation/airspeed-indicator/indicated-speed-kt` seems to show some error. But it is small.... hmmmm

[2016-03-02 11:06] onox commented on #723
That might be fixable in `Systems/systems.xml`.

[2016-03-02 11:10] gilbertohasnofb commented on #724
Here is an idea to make finding the fuel sump drains easier: maybe we could model a simple fuel sump drain as a 3D model under the wing, so that it would stand out. We could also add a 2D plane with a sign for it. See:

![](https://i.ytimg.com/vi/hTkIVsFZimg/maxresdefault.jpg)

If @wlbragg or @onox are up for it, I can prepare textures.

[2016-03-02 11:15] onox commented on #723
I've pushed `bug-723`. We still could try to make sure that the very small error in `indicated-speed-kt` becomes 0.

[2016-03-02 11:21] onox commented on #723
The airspeed indicator seem to apply a low pass filter:

[code]

[2016-03-02 11:28] onox commented on #723
I'll recompile FG with `filtered_speed = current_speed_kt` and see if that would fix it.

[2016-03-03 06:12] wkitty42 commented on #724
On 03/02/2016 03:30 AM, Tuomas Kuosmanen wrote:

i highly doubt it... why? in most any craft, if you CTRL-C to turn on the
hotspots and then you 'V' to jump outside, you will see clickable yellow spots
from the interior all over the outside through the exterior skin from many
different angles... i asked about this before and there was not much of a
satisfying response... not whether seeing them fr

[2016-03-03 07:12] gilbertohasnofb commented on #724
I don't know why you didn't find the response to your satisfaction, but I believe we spoke that this is a feature not a bug: because the click spots are available "through" the aircraft (e.g. you can click on the oil door _fro inside_ the cockpit), so are the hotspots yellow markings visible through the aircraft. AFAIK every single aircraft in FG behaves this way, and if you have some idea on how

[2016-03-03 07:36] tigert commented on #724
Yeah, the clickspots inside the cockpit make less sense when clicked from outside, because the objects are very small and you don't really poke at stuff inside the cockpit when you are doing a walkaround anyway. And vice versa, the oil check clickspot is exactly behind the GPS196 buttons, so that is very annoying in practice. And you should not really need to poke at the external clickspots when y

[2016-03-03 07:39] tigert commented on #724
How do you get water to the fuel system by the way? Completely random? Does it take rainy weather into account? If you leave it there, what happens?

[2016-03-03 08:00] tigert commented on #723
The airspeed instrument shows IAS - indicated airspeed (well, that's why it is called "indicated" airspeed, as that's what is shown by the "airspeed indicator" gauge).

TAS is true airspeed that is calculated (corrected) from the IAS by taking your altitude and temperature (basically pressure altitude) into account. The airspeed gauge has no idea about these. Some instruments have a TAS correcting

[2016-03-03 08:07] gilbertohasnofb commented on #724
Why is that? I find the model of the walker very ugly, but it works quite well for me

To which tank is that connected then?

So I am up for creating a 3D hex nut to make the clicking spot a bit more obvious, but I would still leave the huge hotspot area there.

That's possible, but I am not convinced that's really necessary. That would "pollute" the view list with tons of new views, and all these

[2016-03-03 10:03] onox commented on #723
Checkout `bug-723` and you will see that it exactly works like that.

[2016-03-03 16:07] #721 closed

[2016-03-03 16:08] onox commented on #721
Fixed in PR #722

[2016-03-03 18:34] #723 closed

[2016-03-03 21:02] tigert commented on #725
The external power unit not so much. There is the plug socket in the aircraft, but you rarely if ever need to power it through that.

[2016-03-03 21:12] tigert commented on #724
See the POH page 7-22. http://holladayaviation.com/files/Cessna_172_C172P-1982-POH.pdf

The bottom fuel sump is in the fuel selector valve it seems, which is one of the lower points of the fuel system (where water would end up in, as it is heavier than gasoline).

The strainer is close to the carburettor, so both are conceptually after the fuel valve, thus where there is only one valve. Maybe mode

[2016-03-06 20:50] wlbragg commented on #724
I can add the drain hex nut.

As far as the hotspots being activated through the aircraft from the outside, off the top of my head it may be possible to disable the tooltip when in the exterior view, like we do for the second glass layer. Beings there is a disable tool tips in the gui you could activate that on external view, but then you would loose the external tool tips as well. I have on occas

[2016-03-07 21:41] HHS81 commented on #725
From Cessna 182S/T POH:

preheater and an external power source whenever possible to
obtain positive starting and to reduce wear and abuse to the engine
and electrical system. _

Not sure about the Cessna 172P...

[2016-03-08 11:59] gilbertohasnofb commented on #724
@tigert The problem with modelling the water in the tanks is that it adds complications: as I mentioned before, the water accumulation is something that can happened in the night before, if it was rainy and the aircraft was stored outdoors for instance, and there is no way to simulate this sort of thing, hence why a 1 in 100 random chance seems like a fair compromise, since it forces you to make t

[2016-03-08 13:27] gilbertohasnofb commented on #724
@tigert one more thing, about your request to have fuel in litres: FlightGear does not currently have a property for that in the property tree (at least AFAIK), nor does it show fuel in litres in the default fuel and payload dialog. Surely it would be easy enough to convert gallons to litres, but probably a better approach would be to ask the devs to add this property directly to FG's code, as wel

[2016-03-08 14:29] Juanvvc commented on #724
I and all the pilots I know use only gallons. Of course, showing litres as well as gallons is a nice and improvement.

Since the conversion litres/gallons is trivial and used only in a dialog, in my opinion it is something that should be done in nasal and not the internal FG code.

[2016-03-08 14:41] gilbertohasnofb commented on #724
Well, in that case we have to see what to do, personally I think the less cluttered these dialogs are, the better.

Well, what I wrote was that IF we want to have fuel in litres as well, then the modification could be done not only in the c172p fuel dialog (which I created) but also in the default fuel and payload dialog (for all aircraft). So that would require anyway a modification to FGDATA. An

[2016-03-08 20:43] wlbragg commented on #724
I'm not pushing for this, just putting it out there.
We use only one conditional for determining and exterior view for the glass and have so far had no trouble with it. Then if we added one more conditional, AGL > 0 we could account for all the tooltips we still want to show on a ground inspection.
Just a thought.

[2016-03-08 21:08] gilbertohasnofb commented on #724
I think I already added this for all securing objects (tie-downs, chocks and pitot tube cover): their tooltips are removed once the airspeed it higher than a very low threshold.

[2016-03-08 21:13] wlbragg commented on #724
I see, maybe "best practices" is to set up a condition per tool-tip to limit when it can be viewed?

[2016-03-08 21:16] gilbertohasnofb commented on #724
We can try doing that. We can also hide the hotspots themselves, so that Ctrl+C wouldn't show them as well as hoovering the mouse above them wouldn't change the cursor as if they would be clickable. If a hotspot is hidden with a conditional, then probably nothing needs to be done about the tooltip since it's tied to the hotspot itself. What do you think?

If we decide to do this, then I suggest we

[2016-03-08 22:13] wlbragg commented on #724
I think that sounds right. I guess we just need to decide whether its worth the effort. Surely we're not the first to question how to deal with this. I'll start paying closer attention to existing aircraft with hot-spots and tool tips and see if any of them are handling this with conditional or from and external view.
That's the only time I've ever been annoyed by it, when taking pictures in an ex

[2016-03-08 22:57] gilbertohasnofb commented on #724
Personally they do not annoy me, and indeed it will be quite a lot of work of tracking every single hotspot and tooltip around the aircraft. If the majority of the team decides to do it, then I'd be glad to help with, but my vote is to leave things as they are

[2016-03-08 22:57] gilbertohasnofb commented on #724
@onox any opinions on this?

[2016-03-11 07:15] wlbragg opened #728 "Animate panel/radios light knob"
I don't think this knob is animated.
![lightswitch](https://cloud.githubusercontent.com/assets/11069680/13695683/a47af668-e726-11e5-8f5b-875f61cc5499.jpg)

[2016-03-11 20:26] gilbertohasnofb commented on #728
Yes, that's correct. And there is also one more issue with this knob: in RL, if you turn the black part (the exterior of the knob), you control the light of the panel. If you turn the inner part of the knob (the silver part) you control the light of the radio. Currently our knob just sets both lightning levels at once.

[2016-03-11 20:27] gilbertohasnofb commented on #728
If I am not mistaken, the c182 already has this behaviour I described above implemented, in case anyone wants to see how it works.

[2016-03-11 21:20] gilbertohasnofb commented on #728
One more thing, I realized that the label PANEL LT and RADIO LT aren't completely correct: they are missing a circle before them, and the knob also has an arrow label indicating the direction in which the brightness increments. I started fixing this on branch `bug-728`, and I will do this for all panel liveries:

[2016-03-11 21:37] gilbertohasnofb commented on #728
Ok, I fixed all labels and pushed it.

[2016-03-12 04:28] wlbragg commented on #728
Nice, I can do the animation in the next couple days.

[2016-03-15 18:42] wlbragg commented on #704
I'm not sure why this wasn't immediately fixed when discovered. If I remember correctly it appeared the strength setting wasn't working before. Well it is now. The simple fix is to change the strength setting.
I'm pushing the fix now.

[2016-03-15 21:04] gilbertohasnofb commented on #704
Closed via https://github.com/Juanvvc/c172p-detailed/pull/730

[2016-03-15 21:04] #704 closed

[2016-03-16 06:46] tigert commented on #725
Yeah, preheater yes. I guess each country has their own practices (I remember reading somewhere that in Alaska, some folks have a quick drain valve in the oil reservoir so they can take their engine oil inside for the night and preheat it in the stove before going flying in the morning :-)

We have an internal "Defa" (basically a car interior heater - a hot air blower) both in the cabin via the re

[2016-03-16 08:04] tigert commented on #724
Yeah, it depends usually on the operating handbook of the aircrat (and the fuel planning Excel file :-))

Our Cessnas had the fuel planning stuff in liters, but the Diamond DA40 fuel probe (and the G1000 fuel totalizer) show everything in gallons.

It would be just fine to do the conversion for the dialog in nasal, would be just convenient.

http://kaltsi.github.io/Mass-and-Balance/oh-srh.html <-

[2016-03-16 17:14] legoboyvdlp commented on #725
That Cessna looks nice and comfortable :)

[2016-03-16 23:04] gilbertohasnofb opened #732 "flap lever doesn't have hotspots"
flap lever doesn't have hotspots and cannot be controlled via click or drag.

[2016-03-23 11:09] wkitty42 opened #733 "adjust tutorials to use newly moved marker..."
this just in from the fgfs-dev list...

effectively, it should be little more than changing

`<path>Models/Aircraft/marker.xml</path>`
to
`<path>Aircraft/Generic/marker.xml</path>`
where ever it is needed... i don't know anything about the tutorial system...

[2016-03-23 15:33] #733 closed

[2016-03-24 01:35] onox commented on #202
The wiki says:

But how do we make a difference between heaters on and heaters off? If the heaters are off, you want the [mask](https://github.com/onox/707/blob/470d20b3d0d916ec1c59f360560c348c83facdf0/Models/Effects/interior-glass-right.eff) to be red [everywhere](https://github.com/onox/707/blob/470d20b3d0d916ec1c59f360560c348c83facdf0/Models/glass-mask.png), but when the heaters are on (or in o

[2016-03-24 04:48] wlbragg commented on #202
I'm not sure we will have that kind of control. My understanding is we have one mask made in such away that when the heat or air is turned on a completely fogged window will appear to defrost or defog first near the vents because the red channel is weaker there.

[2016-03-24 04:52] wlbragg commented on #202
I actually worked on this the other day again. I made some progress but was stopped when I discovery our windows needed to be textured. When I textured them I lost the reflections. I messed around with it for a few hours and eventually gave up. I was able to texture the window and get the mask to show, but it had many issues

[2016-03-24 15:48] onox commented on #202
I have tried to modify the mask in the 707, and it seems that the frost indeed just fades away sooner. So one mask should be sufficient then.

[2016-03-25 16:52] gilbertohasnofb commented on #732
If memory serves me well, before we didn't have the standard hotspots but actually we could grab the flap lever and then drag it up or down, which "felt" realistic. I think the modification which removed this behaviour was in this PR: https://github.com/Juanvvc/c172p-detailed/pull/653/files

[2016-03-25 18:11] gilbertohasnofb commented on #732
We can also take a look at the c182 flap lever.

[2016-03-25 19:09] onox commented on #732
I'll fix this.

[2016-03-25 20:32] wlbragg opened #736 "Improve and add to normals map (bumpmap)"
I've been playing around with creating normal maps for various items on the c172p. Gimp has a plugin you can install that works as well as anything else I tried. My first experiment was the tires.
The first two images are over exaggerated. The last picture is with no normal map.

![normalmaps](https://cloud.githubusercontent.com/assets/11069680/14053287/21cf4c22-f29e-11e5-86f2-19f9b0d4e94b.jpg)

S

[2016-03-25 20:41] wlbragg opened #737 "Add ALS dirt effect"
I toyed with this on the j3cub and it is easy to create. My goal is to make it dynamic as to where eventually it gets dirty enough that our GUI asks if you would like to wash the aircraft. I haven't started that coding even on the cub, but I think it would be relatively easy also. Here is the cub with dirt on the wing, strut and tires.

![fgfs-screen-001 22](https://cloud.githubusercontent.com/ass

[2016-03-25 21:26] onox commented on #737
That would be cool. Are splashed bugs on the windshield and the leading edge of the wing also a possibility?

[2016-03-25 21:30] onox commented on #736
Nice :+1: Is it possible to make the bottom side of the wing a bit more detailed? We should also clean up the wing (that's another issue) and perhaps use a mirror modifier.

[2016-03-26 00:55] gilbertohasnofb commented on #736
@wlbragg Yes, I know that plugin, I used it for the oil cap as well as for some of the scenery textures I worked on. I like the effect very much, but in general creating a normal map out of the same texture you use for the UV map does not create the best results. If you are interested, this is interesting: http://www.katsbits.com/tutorials/textures/how-not-to-make-normal-maps-from-photos-or-images

[2016-03-26 00:57] gilbertohasnofb commented on #737
That's a cool effect indeed :smile:

[2016-03-26 03:37] wlbragg commented on #737
If you made an object just for the leading edge and gave it its own definition and grain map you probably could make it look like bugs on the leading edge.
This is the technique http://wiki.flightgear.org/ALS_technical_notes#The_grain_texture_and_the_rain_effect

For the windshield, I'm not sure it this technique will work on glass, it will work but I don't know about the total alpha of it and how

[2016-03-26 03:45] wlbragg commented on #736
Yes, I kind of figured that out while playing around with the tires. It definitely requires a skilled artist or someone experienced in this technique to get the best results. Thanks for the link to that article, I'm sure that will help me considerably.
I figured we all knew about this, I just wanted to get it into an issue so we might all start adding more normal mapping as it is a really cheap wa

[2016-03-26 04:15] wlbragg commented on #736
Excellent article, that really helps!

[2016-03-26 07:11] wlbragg commented on #736
Here is the tire and now the rim. The rim is only as good as the texture + the normal map. If you look closely you can see the enhancement. I can strengthen the normal also to get more definition.

![norm4](https://cloud.githubusercontent.com/assets/11069680/14058724/f9104746-f2f7-11e5-9861-6daffcd797b0.jpg)
Can you tell which tire and rim has the normal map?

[2016-03-26 07:30] wlbragg commented on #736
Here I blurred the height map before I ran it through the normal filter at the strongest settings I could. I think this look much better.
![norm6](https://cloud.githubusercontent.com/assets/11069680/14058809/af9ea672-f2fa-11e5-956b-8c02fa02966a.jpg)

[2016-03-26 07:34] wlbragg commented on #736
This is what the rim normal looks like now.
![norm7](https://cloud.githubusercontent.com/assets/11069680/14058834/5197d278-f2fb-11e5-96ea-c5a76d8fa5fe.jpg)

[2016-03-26 07:41] wlbragg commented on #736
Here is the height map used to make the normal map. I drew the height map by hand by overlaying a blank layer over the uv texture sheet so I could see where to draw the elements.
![norm8](https://cloud.githubusercontent.com/assets/11069680/14058867/4777a5e2-f2fc-11e5-99ef-1183c9629932.jpg)

[2016-03-26 13:13] gilbertohasnofb commented on #736
@wlbragg this is looking good! :smile:

That's how I do it as well.

As for the bottom of the wings, would you like to do that yourself or should I take a look at it? Right now I am a bit busy but later today I would have time for that

[2016-03-26 18:07] wlbragg commented on #736
I'm not itching to do it so feel free. This stuff is new to me and thus time consuming.

[2016-03-26 18:09] wlbragg commented on #736
Whoever pushes the first PR for this, we can just keep pulling and pushing what were working on until we decide there is enough to merge?

[2016-03-26 19:02] wlbragg commented on #736
I just remembered you have
https://github.com/gilbertohasnofb/c172p-detailed-liveries/blob/master/Paintkit/fuselage-gimp.xcf
I just brought the normal and uv texture into Gimp and made my own file. Should any height map I make be added to your file? Do we also want to keep the normal layers there? I like having the development folder with the project and keeping it all together too, so I don't kno

[2016-03-26 20:25] gilbertohasnofb commented on #736
@wlbragg the idea of that other repository is to keep all xcf there, since they are huge and would make the main repository unnecessarily large. You don't need to keep the height map in the same xcf as the paintkit (actually, it is better to have a separate file for that since the height map .png and the airplane textures .png are different files, so different .xcf are better as well).

I would sa

[2016-03-26 20:37] gilbertohasnofb commented on #736
@wlbragg also, I assume you already have a branch in which you are working on this, right? If so, would you mind pushing this branch so I can work on it as well, and so we can have a single PR later on?

[2016-03-26 20:46] gilbertohasnofb commented on #736
@onox as for the bump map for the bottom wing, I had a look at it and I can add more details to it, but I think that it is barely visible anyway since the bottom wing is almost never directly illuminated. On the ground I can barely make up the bump map, just on the air when the plane is a bit tilted. I also tried making the contrast of that bump map more extreme, but even then the bottom wing's ef

[2016-03-26 21:00] wlbragg commented on #736
I do but I need to start a cleaner branch (or at least take the time to check this one against master) as I'm not positive what all is in it. So if you beat me to a point where you want to push a branch, it is nothing for me to adapt to it and bring my work over to it. It would be later tonight before I can push a branch is all I am saying.

I'll make a xcf with the height and normal maps and push

[2016-03-26 21:07] wkitty42 commented on #736
On 03/26/2016 04:46 PM, Gilberto Agostinho wrote:

here's something else related to the bottom of the wing... it is possibly a
different bug/issue, though...

sitting on the apron or runway somewhere, get it raining where there's a lot of
rain coming down... now look up at the bottom of the wings... even the bottom of
the craft i think... should we see those raindrop effects like that?

[2016-03-26 21:29] gilbertohasnofb commented on #736
@wlbragg Sounds good to me. I have nothing to push since my attempts with the bump map of the bottom wing didn't work well. Also, I checked and we don't have xcf for the bump maps, so just push them to the `Paintkit` folder of the liveries repository. But there is no rush at all.

@wkitty42 that would be a different issue as it's not related to bump maps. I tried reproducing it but for some reason

[2016-03-26 22:21] wkitty42 commented on #736
On 03/26/2016 05:29 PM, Gilberto Agostinho wrote:

right...

it has been a while but i'll have to try KSFO with a storm again... now that we
have full tie down capability, my craft should remain tied to the tarmac instead
of being flung upside down onto the top of the terminal :)

i'll try to remember to get one filed... am in a flight right now rebuilding my
.terrasync_cache files... have stuck a

[2016-03-26 22:50] gilbertohasnofb opened #738 "exterior rain effect shouldn't be applied to the bottom wing"
As reported by @wkitty42, the exterior rain effect shouldn't be applied to the bottom wing. Haven't tested this myself as for some reason I am not getting exterior rain (only windshield raindrops).

[2016-03-26 22:51] gilbertohasnofb commented on #736
Nice :smile: So if you do see that, maybe try taking a screenshot or something. I don't know if I am the only one with the rain issue, but under AW I can't see exterior rain and also no exterior rain effect in the fuselage

No problems, in that case I open it myself: https://github.com/Juanvvc/c172p-detailed/issues/738

[2016-03-27 03:33] wlbragg commented on #738
If I remember correctly, there may not be anything we can do about this. I'm pretty sure that the shader won't account for when it should be applied to the object by any of the objects positioning or angles. If that is the case, and I think it is, our only option would be to break the wing into two objects, an upper and lower, and apply the effect to the upper object only. The effect is so subtle

[2016-03-27 04:53] wlbragg commented on #736
Pushed bug-736 for this issue.

[2016-03-27 05:24] wlbragg commented on #736
@gilbertohasnofb I can't push to c172p-detailed-liveries for some reason. It doesn't appear to be an authorization issue. I have two xcf files I wanted to put in "others". I'll keep trying and again in the morning if it won't go through tonight. But if by tomorrow morning it still isn't working, I can push the two files to this branch and maybe you could take them out of here and try to push them

[2016-03-27 06:11] wlbragg commented on #738
Nether am I, it's a fgdata or core issue. I'm using 2016.2.0 and current fgdata. I sure hope whoever broke it reverts whatever commit did it and doesn't leave it like that for a couple versions (like the particles)!

[2016-03-27 11:14] gilbertohasnofb commented on #738
Yeah, that crossed my mind as well.

So let's leave this issue opened and we think about how tackling it (and if we would do it) later, is that all right?

[2016-03-27 11:18] gilbertohasnofb commented on #736
:+1:

[2016-03-27 16:10] wlbragg commented on #738
:+1:

[2016-03-28 18:41] #732 closed

[2016-03-28 19:29] onox commented on #736
Your commit is on top of commits from `bug-704`. So please do the following once:

1. Make sure you are in branch `bug-736`

2. Do: `git pull --rebase origin master`

3. Verify that the commit is now on top of commits from `master`

3. You have to force push once (branch `bug-736`)

[2016-03-28 19:42] Juanvvc opened #739 "Loading the aircraft with the engine running"
Maybe related to #363

Some users prefer loading the aircraft with the engine already running. This could also an interesting feature for the tutorials.

Please, check my post in http://forum.flightgear.org/viewtopic.php?f=25&t=29206&p=280838#p280838

Do you think the listener for "/sim/signals/fdm-initialized" in c172p.nas could check if "/controls/engines/engine/current-engine/running=true" is s

[2016-03-28 19:54] onox commented on #739
It would be nicer if this is generalized so that FG's launcher gives the user the option to choose from a selected "state" (cold-and-dark, running, in-air, etc.)

[2016-03-28 19:55] gilbertohasnofb commented on #739
Is there a problem with the option "start with engine running" which is currently available in the aircraft menu? It seems to work for me.

[2016-03-28 21:34] Juanvvc commented on #739
I was not even aware of that option! This option (linked to "fdm/jsbsim/running") is defined to be saved in the aircraft-data section, and it can't be overwritten in the command line.

I can confirm that if you set this option in sim (but not in the launcher), the next time you run flightgear the engine starts automatically. I'm not sure if the c172p should overwrite "fdm/jsbsim/running" if passed

[2016-03-28 21:38] gilbertohasnofb commented on #739
:+1:

[2016-03-28 21:58] wlbragg commented on #739
I just posted that there is the "start with engine running option" before I read this issue.

[2016-03-28 21:59] wlbragg commented on #736
OK, let me see if I can do this now.

[2016-03-28 22:09] wlbragg commented on #736
How?

[2016-03-28 22:13] wlbragg commented on #736
OK, I think I got it.

[2016-03-29 14:09] Juanvvc commented on #739
There is an ongoing discussion in the devel list about this topic. This is the first message:

https://sourceforge.net/p/flightgear/mailman/message/34974270/

The current agreement seems to be setting the "start with engine running option"  to ON **by default**. Another alternative is using the c172p variant file I posted in the forum (after checking for its correctness)

What you think about this

[2016-03-29 15:57] gilbertohasnofb commented on #739
I disagree with that. The option is given in the aircraft dialog and if an user can't even bother to check the aircraft options in its menu then maybe flight sim isn't really for him/her (flight sims are, by definition, complex things). As for the argument "we're right to be proud of the sort-of realistic-ish engine startup sequences for some of our planes, but let's not force them down the new us

[2016-03-29 16:29] wlbragg commented on #739
with the engine off (I just experienced this again trying to help a
first-time user via chat, and watching his enthusiasm drain as he couldn't
get the engine running, even with autostart)

I don't buy it, the autostart always works. You do have to press the "s" after clicking on autostart, it tell you to do this.
The c172p has three startup states, more than any other aircraft. Of which each one w

[2016-03-29 16:36] wlbragg opened #740 "Fuselage shadow cast in wrong position at wrong time"
See http://forum.flightgear.org/viewtopic.php?f=4&t=25157&p=280944#p280922

I verified that we get a shadow when we shouldn't https://dl.dropboxusercontent.com/u/63093453/fg/c172p/shadowi.jpg but min is still dark. However, I am pretty sure I have seen the white one before.under the perfect condition.

Unless Thorsten is willing to look at the shader, about all we can do is put a time condition on

[2016-03-29 17:43] Juanvvc commented on #739
James Turner has just proposed a system very similar to the one described by onox: https://sourceforge.net/p/flightgear/mailman/message/34975108/

After that, Torsten proposed a more general approach, letting the aircraft define its own states (I guess that in the sim section of the -set file): https://sourceforge.net/p/flightgear/mailman/message/34975174/

I guess that, being the default aircraft

[2016-03-29 19:31] onox commented on #739
If FG was a game I would agree with you, but FG is not a game, it's a simulator. If someone downloads FG and then does not do any effort to find out that you have to press `s` and immediately gives up, they I would rather see that person stops using FG, because I prefer people who don't give up so easily.

Sure we are. We just say no and dig our heels in. Thorsten often does the same thing and it

[2016-03-29 19:42] wkitty42 commented on #739
On 03/29/2016 11:57 AM, Gilberto Agostinho wrote:
[trim]

there is a great desire for this capability if one is starting with the "on 10
mile final" option from the launchers... or, for that matter, any other "already
in the air" positioning...

when i finally get around to wanting to practice my landings, i expect that i
will be using the "on 10 mile final" option from the launchers... getting th

[2016-03-29 20:17] wlbragg commented on #739
While that is a true and I don't disagree, any user beyond a complete novice knows how to use the menus and options and can one time, (heck they already have), put the sim into the state they want. It's the first time user and really the very first time you install and load the sim that were talking about here. We can make it idiot proof or not. I think it should be idiot proof. It just make the m

[2016-03-29 22:48] onox commented on #739
But if we assume that the user is too stupid to know or be able to press the `s` key, we should also assume the user doesn't know that 3/9 or pagedown/pageup keys are used to control the throttle.

I think it's better that first time users are asked a question whether they would want to follow some tutorials to learn how the sim works.

[2016-03-29 22:54] onox commented on #739
A bit off-topic, but FG should get a configurable keyboard mapping. Having to specify key codes or keys is bad. Instead aircraft should be able to specify and use "actions" like "increase_throttle", "increase_flaps", etc. These actions then have certain default key codes or keys. In a non-aircraft specific GUI window the user can then optionally map an action to a new key.

[2016-03-30 14:02] wlbragg commented on #740
What would be the best condition to use for this, sun angle, time?

[2016-03-30 14:42] wlbragg commented on #728
I was getting ready to animate this knob but have a couple questions. I looked at the 182 and it isn't animated either.
The 182 knobs only have one action each VS a double knob.
My question is how does the knob actually work. Does the front portion (silver part) pop in and out so you can turn it or is suppose to be long enough by default to be able to grip and turn?

[2016-03-30 14:53] algefaen commented on #728
Excerpts from wlbragg's message of 2016-03-30 16:42:18 +0200:

https://youtu.be/Ln4aTIq6Nps?t=3m43s

--
alge

[2016-03-30 15:06] wkitty42 commented on #740
i don't know if you know it or not but there is also work being done, slowly, on having the moon as a light source which should lead to shadows being able to be cast by it... i don't think any of this code is in fgfs yet, though...

[2016-03-30 15:59] wlbragg commented on #728
Thanks, but that still isn't enough. Our c172p has only the top knob and it looks the same as that one as far as the legend. It looks like a duel option knob. But I can't tell by the video it the silver part of the knob pops in and out to be able to grip it or is just extruded at all time. Because I'm guessing the knob can be tuned by the silver part "panel" and black part "radio". Does the silver

[2016-03-30 16:02] wlbragg commented on #740
Yes I was aware.

[2016-03-30 19:42] algefaen commented on #728
Yeah, sorry, I just read the email and thought the video answered it, but I see from the images that it doesn't. I'll see if our 172s have the same nobs and grab some video if they do within a couple of days. My guess from just looking at pictures is that you have to hold in the silver part and turn the whole nob for radio lights.

[2016-03-30 20:57] gilbertohasnofb commented on #728
I don't think that's correct, I am quite sure they are double knobs. The mouse cursor will be either :left_right_arrow: or :arrow_up_down:. The thing is the panel lightning is not implemented yet, so it may look like the knobs are just single action.

As for the knob in our plane, I am quite sure it is supposed to be identical to the one in the video @algefaen posted above. See this photo by @tige

[2016-03-30 21:03] wlbragg commented on #728
OK, but the silver part doesn't look like it sticks out enough to grab, so I was wondering if it is like one of those buttons that click in an out. When in you cant turn it and when out you can.

[2016-03-30 21:37] gilbertohasnofb commented on #728
Really? To me it looks like it sticks out enough both on the video and on the image above. Maybe @tigert or @Juanvvc can confirm this, but I don't think you need to click it out before turning or anything fancy like that.

[2016-03-30 21:38] gilbertohasnofb commented on #728
One more image:

![](https://i.ytimg.com/vi/IP2PIjqf-Wc/maxresdefault.jpg)

[2016-03-30 22:44] wlbragg commented on #728
What is the "ALT STATIC AIR"?

[2016-03-30 23:00] gilbertohasnofb commented on #728
It's a toggle that activates an alternate static source, but I don't know exactly how it works. But if you look on the images above you'll see it's a knob that looks like the light knob, but half the size and places to its right.

[2016-03-31 00:08] onox commented on #728
AFAIK it's an alternate way to get the static pressure using the air in the cabin instead of the outside air. It can be used if the static port outside is blocked somehow, but it changes slower.

[2016-03-31 00:53] wlbragg commented on #728
If I model it are we going to right a system for it?

[2016-03-31 13:14] gilbertohasnofb commented on #728
I suppose so. I will open an issue for that.

[2016-03-31 13:15] gilbertohasnofb opened #741 "Create Alternate Static Source knob and static system"
Create Alternate Static Source knob and static system. This will involve:

- creating the 3D knob on the right side of the panel lightning knob (see: https://github.com/Juanvvc/c172p-detailed/issues/728 )
- rework the panel textures around the position where the ALT STATIC AIR knob will go, since there are some labels on that place
- implement the static system (which will help with https://github

[2016-03-31 21:19] Juanvvc commented on #728
I really can't remember how the panel/radios light knob works. I don't think I ever used that knob :) According to the POH, it is a dual knob with an inner ring (radios) and an outer ring (panel). No push/pull to activate the inner knob.

The alternate air intake takes the static pressure from the cabin, as onox says. It is used when the pitot tube is blocked, normally due to icing. The alternate

[2016-04-01 11:33] gilbertohasnofb commented on #741
@Juanvvc wrote:

[2016-04-01 11:35] gilbertohasnofb commented on #728
@Juanvvc Thanks for the info, I copied what you posted over to the issue 741.

[2016-04-03 19:11] algefaen commented on #741
video with alternate static source knob: https://goo.gl/photos/rApgjAdzfuSsEUcw6

[2016-04-03 19:13] algefaen commented on #728
grabbed a video, hope it's not too late: https://goo.gl/photos/rApgjAdzfuSsEUcw6

[2016-04-03 19:35] algefaen commented on #728
(that's a 172N, but it looks like it's the same as we have.)

[2016-04-03 19:40] gilbertohasnofb commented on #741
@algefaen was this video shot by you? If so, can I use as source for the sound for the static knob?

[2016-04-04 08:43] algefaen commented on #741
Yes, yes. Sorry for the potato quality, my gopro ran out of steam. (=

--
alge

[2016-04-06 23:55] tonghuix opened #742 "[Feature Request] AOA equipment for skyhawks"
A news that Cessna will ship AOA on newest C172 skyhawks.

So do wee have plan to make in availiable in FlightGear?

http://www.flyingmag.com/cessna-makes-aoa-standard-on-new-skyhawks?src=SOC&dom=fb

![](http://www.flyingmag.com/sites/flyingmag.com/files/styles/large_1x_/public/safeflightaoa.jpg?itok=YDIy9jo7&fc=50,50)

[2016-04-07 03:50] wkitty42 commented on #742
"on new skyhawks" seems to mean NOT the P model but much newer ones... the linked article doesn't state which newer model(s), though... in fact, it doesn't state any C172 models...

[2016-04-07 11:45] gilbertohasnofb commented on #742
That's what I understood as well. I mean, we could add one of these as an option to be activated via the aircraft menu just for fun, but I'd say we have so many issues to tackle (and several concerning the 3D model) that I don't think anyone would be up for it right now, but that's just my opinion.

[2016-04-07 11:45] gilbertohasnofb commented on #742
But unless anyone feels super strong against this, I'd say we can leave this opened and see it in the future.

[2016-04-07 19:07] wkitty42 commented on #742
:+1:

[2016-04-09 23:22] legoboyvdlp commented on #742
Aftermarket AOA indicators can be added; I think this should be included.

[2016-04-11 13:36] gilbertohasnofb commented on #741
@algefaen Thanks, so I will prepare the sound and add to a new branch `bug-741`. Would anyone else be up for implementing the static system?

[2016-04-11 13:38] gilbertohasnofb commented on #728
@wlbragg what about we just work on the model and textures on this branch here for both knobs (lights and static source), and then later implement the static source functionality using this branch here https://github.com/Juanvvc/c172p-detailed/issues/741 ?

[2016-04-11 22:32] gilbertohasnofb commented on #741
I created a branch named `bug-741` with two new sounds from the video by @algefaen: `alt-static-push.wav` and `alt-static-pull.wav`. So once we have the 3D model for the alt static source lever, we can implement the static source system and use these sounds for the lever.

[2016-04-11 22:33] gilbertohasnofb commented on #741
@onox would you maybe be interested in helping with the programming?

[2016-04-11 23:01] wlbragg commented on #728
:+1:

[2016-04-16 13:52] tigert opened #743 "oil dialog doesnt work when on floats (drifting with wind)"
Looks like the oil check dialog is too strict about aircraft movement, as when you are on floats, it says the dialog is disabled when the wind blows you around?

[2016-04-16 14:00] gilbertohasnofb commented on #743
Oh, when I implemented the dialog it didn't cross my mind that the aircraft on water could have some reasonable speed. I will take a look at the conditions used for this dialog.

And what about the pitot tube cover, does it suffer from the same problem? If I remember correctly, it uses a similar if not identical condition as the dialog you mentioned.

[2016-04-16 14:38] gilbertohasnofb commented on #743
@tigert Indeed the only condition used for the oil dialog is groundspeed < 1.0 knots:

[code]

I suspect the pitot tube will have the same problem as it uses a near identical conditional:

@onox @wlbragg would you have a suggestion on how to handle this better? We could use AGL altitude, but then the dialog is active during the take off roll. Some proposals:

1) enabled if engine is off AND altitu

[2016-04-16 16:48] dany93 commented on #743
Proper conditions are not easy to set because there are many possible situations.

I don't know this well, but here what I have seen by observing the properties:

To test the contact of wheels on ground
`/fdm/jsbsim/gear/unit[N]/WOW = true or false` if they are touching the ground or not
(from c172p.xml for the numbers)
N=1, 2, 3:  ground landing gears,
N=19 - 22:  amphibious float landing gears,

[2016-04-16 17:03] gilbertohasnofb commented on #743
@dany93 thanks for the explanation, Dany! This looks promising, I will experiment with it. I didn't know that the WOW property also detect floats and skis, I thought it was only for the regular landing gear on solid ground!

That will probably do the trick, but the question concerning the engine status is still valid: do we with to limit the oil change dialog, as well as the tie-downs, pitot tube

[2016-04-16 17:16] dany93 commented on #743
Or maybe you can send a message like "NOT WITH THE ENGINE RUNNING"

[2016-04-16 17:36] gilbertohasnofb commented on #743
Yep, that would solve everything. Sometimes I miss the obvious solutions :smile:

Ok, so I will try to take care of this soon.

[2016-04-16 19:09] onox commented on #743
Try `/fdm/jsbsim/hydro/active-norm`

[2016-04-16 22:57] tigert commented on #743
It could pop the dialog with just the warning that checking oil in a running engine is both dangerous and does not give any meaningful measurements in the dipstick either.

[2016-04-16 23:05] gilbertohasnofb commented on #743
Would anyone come that close to a spinning propeller in RL?!

I like your idea. As for implementing it, let's think: currently the oil dialog opens regardless of the situation (mid air, on ground, engine on or off, etc.) but the slider can be dragged only if the plane is on the ground and with the engine off. So to have a pop up, I guess we would have to force close the oil dialogue as soon as the

[2016-04-17 08:49] wkitty42 commented on #743
On 04/16/2016 07:05 PM, Gilberto Agostinho wrote:

why force it closed? surely we can have a dialogue open as well as a popup
warning... if they open the dialogue when the engine is running then popup the
warning "hey fool! the engine is running and you're too close to the prop!!" or
whatever is wanted :)

[2016-04-17 10:19] dany93 commented on #743
Sometimes, being close to the propeller with the engine running cannot be avoided. For tuning the carburettor or the idle RPM for example. Not for checking the oil...

[2016-04-17 13:27] gilbertohasnofb commented on #743
Thanks for the feedback, everyone. You can test the results in the PR.

[2016-04-25 17:47] ElGaton opened #745 "Change tutorial airport for FlightGear 2016.2"
#In line with the new versioning scheme, the default scenery/airport is going to be changed at each release - the tutorials, however, still refer to Livermore Municipal Airport. This may cause the user to experience a "missing scenery" scenario in case TerraSync is not switched on.

Consider moving the tutorial location to LEBL, or a nearby airport in the same tile (e.g. Sabadell), and amending th

[2016-04-26 19:47] gilbertohasnofb commented on #745
I agree with you, this what you wrote is for me is the key point. Probably changing it to LEBL would be a good idea.

[2016-04-26 19:48] gilbertohasnofb commented on #745
@dg-505 what do you think about it?

[2016-05-05 13:30] oMarcosLucas commented on #16
Almost everything in the model either moves or changes texture.

[2016-05-05 17:49] geoffmcl opened #746 "Return to a visible heading bug"
Hi all,

At present only using the 'next' default c172p, version 2016.2.0.

Perhaps someone could remind me how to set up to use the latest from here. I keep the repo updated. Maybe this **Feature Request** has already been addressed, but could not find any references.

Originally the heading bug was like 2 large **orange teeth**. Very visible. As it should be.

Now it seems to be two very **faint

[2016-05-05 17:54] gilbertohasnofb commented on #746
That was actually my work, it was done when I redid all textures of the instruments. This is basically the current status:

![](http://s11.postimg.org/p50jvl66r/FG_0.jpg)

![](http://s11.postimg.org/bgkjtyaab/FG_1.jpg)

Personally, I don't see a reason to go back to the older model because the new model is based on a real instrument, see:

![](http://cdn-www.airliners.net/aviation-photos/photos/3/

[2016-05-05 18:37] geoffmcl commented on #746
@gilbertohasnofb I **can** see it better in the RL image... thanks for the images and explanation...

First it seems a little **fatter** in RL than in the sim, and perhaps more importantly is **closer in**, on a smaller circle, hardly outside the tops of the letters,  while in the sim it is out mostly **beyond** the circle around to tops of the letters...

And the color seems more towards orange,

[2016-05-05 18:46] geoffmcl commented on #746
More over, can you find it in the screen shot?

![fgfs-screen-007](https://cloud.githubusercontent.com/assets/1333435/15053236/e9492b96-1301-11e6-90db-c279e259ff49.png)

It is near the `W`... as I say if it was brought into the center more, it would occlude some of the white marks, was slightly thicker, and lighter in color...

[2016-05-05 23:14] jarlarntzen commented on #746
+1 I agree.Need brighter color on the heading bug.  :-)

[2016-05-06 01:27] onox commented on #736
What's the status of this bug?

[2016-05-06 01:40] onox commented on #746
@gilbertohasnofb This issue is about the brightness of the heading bug. It just needs to be brighter. I thought this was caused by the irradiance feature by @wlbragg, but excluding the object from the effect did not seem to solve it.

[2016-05-06 04:22] wlbragg commented on #736
That tells me I did what you asked me to do with the commit order.

As far as the "bug" this is suppose to be an ongoing effort (reminder) to add normal maps where appropriate to improve the look of the aircraft. I don't care if you want to close it or leave it open. Either way is fine with me.

[2016-05-06 04:27] wlbragg commented on #16
BUMP

[2016-05-06 04:29] wlbragg commented on #16
Are we really going to gain anything by attempting to do this? If there is a way to measure the performance difference then I would consider going through it and trying to reduce the object count, but without seeing some kind of measurement or proof of gain, I'm not sure it's worth it.

[2016-05-06 07:43] gilbertohasnofb commented on #746
The colour of the bug has never changed in the png files, it's the same as before. And to be frank, I still don't see the problem: the thickness of the bug is pretty much the same as the RL and I don't think we should take "poetic licenses" and change things to make the sim easier; also, I find the irradiance effect quite realistic, looking at the instruments against the light or in the shadow is

[2016-05-06 08:22] Juanvvc commented on #746
This is a quite interesting discussion about the needs of a computer sim or using realistic models. I support Gilberto's highly detailed and realistic models, but  geoffmcl  has a good point. Gilberto, your models look gorgeous in high resolution, but geoffmcl seems to be using a monitor with a much lower resolution. Can you check the cockpit in a lower resolution monitor?

In any case, the discus

[2016-05-06 11:57] onox commented on #16
I think it depends on how OSG renders all the objects. If it uses OpenGL multi draw to reduce the number of draw calls and draw objects in the order of texture usage to avoid unnecessary texture binding, then you won't see reduced CPU usage. But I'm not sure OSG is smart enough to do that.

If we clearly know which objects are dynamic (require animations) and which objects don't, then I don't thin

[2016-05-06 12:03] onox commented on #746
In RL you can easily and quickly bend forward to see the heading bug if you cannot see it normally. You can also squeeze your eyes if you have to, but doing these things in FG is difficult; you have to press and hold x and wait several seconds for it too zoom in.

And in the past (even after changing the looks of the instruments) the bug was clearly visible. Compare first picture in https://github

[2016-05-06 13:39] geoffmcl commented on #746
The discussion seems to focus on the color... well that may to be important, but @gilbertohasnofb says the color has not changed in the png...

But this misses the other point that it is now well outside the circle of letters -

![fgfs-screen-011](https://cloud.githubusercontent.com/assets/1333435/15073874/2dc98334-139c-11e6-9988-871fc43c90b5.png)

Whereas in the RL image it is different... and ma

[2016-05-06 17:10] wkitty42 commented on #746
On 05/06/2016 09:39 AM, Geoff McLane wrote:

my old CRT monitor is 1600x1200 but i run fgfs with --geometry=1024x768... you
could try testing different resolutions resolutions like that... oh, i also run
it full screen, too...

personally speaking, it doesn't matter to me but if the current pointer is to
remain, yes, i agree that it needs to be deeper into the circle of markings...

[2016-05-06 18:18] geoffmcl commented on #746
Just to remind some of how **clear** it used to be, and how it was part of the circle of marking, this is from my old XP machine mentioned above...

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/1333435/15082303/59dc78ca-13c7-11e6-8c51-5f20f37a09ba.png)

And close up -

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/1333435/15082337/82a56ffa-13c7-11e6-961c-52a603bb1b

[2016-05-06 18:24] geoffmcl commented on #746
Oops, maybe 3.4, or 3.2...

[2016-05-06 18:29] wlbragg commented on #746
I think maybe we should mover it ever so slightly closer to the white lines and make it a little thicker (just a small bit) and maybe change the color to be a little more red and not so dark. Then see if that is enough to make it visible on lower res systems.

[2016-05-06 18:41] wlbragg commented on #16
Another potential issue, when moving things around in the blend (putting objects in and out of groups) Bender can decide to flat out "bug out" and loose UV texture path info. Also, there is coordinate space relations that can be screwed up when doing the same, if not careful. So this needs to be done by someone that knows what they are doing, I'm not sure that is me. But I'm willing to take a clos

[2016-05-06 18:49] onox commented on #736
You did indeed fix the git issue, but I was wondering if there's going to be a PR or whether more work is needed.

[2016-05-06 18:55] onox commented on #16
You could try to join all the static objects (that share the same texture) together and just test whether you get better performance, even if the UV mapping becomes bad. It would be interesting to see if joining all these static objects gives a lower CPU usage and/or higher fps. I suspect just lower CPU usage.

Don't spend too much time on this though.

[2016-05-06 18:56] onox commented on #16
Just don't commit anything if the UV becomes bad :stuck_out_tongue_winking_eye:

[2016-05-06 19:37] wlbragg commented on #16
:+1:

[2016-05-06 19:45] wlbragg commented on #736
I can do a PR for the rim and tire bumpmap if you want me to? Is there a deadline I need to be aware of?

[2016-05-06 19:49] onox commented on #736
Milestones are set to 14th of May. But I do not know when exactly the core devs expect a new branch.

[2016-05-06 19:52] wlbragg commented on #736
OK, I'll try to get something pushed in the next day or two.

[2016-05-07 16:10] wlbragg opened #747 "Feature Request: display local time"
See
https://forum.flightgear.org/viewtopic.php?f=4&t=25157&start=2595#p284594
and the potential solution is in the next post.
https://forum.flightgear.org/viewtopic.php?f=4&t=25157&start=2595#p284596

[2016-05-07 19:28] wkitty42 commented on #747
so folks don't have to go to the forum to see what this is all about, it is about the clock in the craft... i, too, would like to see the clock display in my chosen locale... i say it like this because if one has chosen --time-match-real or --time-match-local then the display may be different than expected... plus there's the other options of dawn, morning, noon, afternoon, dusk, evening, midnight

[2016-05-07 20:34] ElGaton commented on #745
Any progress on this? (The 2015.2 release is near. I can move the location or make the tutorial location independent, if needed, but I'd like the fix to land in the new version).

[2016-05-08 02:45] onox commented on #745
I'll work on this.

[2016-05-08 04:30] wlbragg commented on #740
BUMP

Any suggestions?

[2016-05-08 14:45] wkitty42 commented on #740
On 05/08/2016 12:30 AM, wlbragg wrote:

time and sun angle so as to account for the different angles at the same time
over the seasons... remember that 20:00 is still pretty light out in the summer
but is pretty dark in the winter... though i may be partially mixing that up
with daylight saving time...

[2016-05-08 22:14] oMarcosLucas commented on #446
Is this task killed ?

[2016-05-09 03:02] wkitty42 commented on #446
On 05/08/2016 06:14 PM, oMarcosLucas wrote:

not AFAIK... this is all on thevirtualfer who's last post in this topic was Oct
2015...

[2016-05-09 10:35] gilbertohasnofb commented on #746
Hi all, first of all sorry for my late reply, I have been quite sick these last days and I haven't had the chance to deal with these issues. Here are a couple of thoughts:

- @geoffmcl which screen resolution are you using? I will test how the cockpit looks in lower resolution, but we all must keep in mind that the idea of a good looking cockpit is to look as realistic as possible and NOT to optim

[2016-05-09 10:36] gilbertohasnofb commented on #446
I got an e-mail from @thevirtualfer some days ago, and he is still having a lot of problems with his connection. Hopefully this will all be solvable soon...

[2016-05-09 13:23] onox commented on #745
It seems `<init>` doesn't work in the tutorials. Can anyone confirm?

[2016-05-09 14:48] onox commented on #745
I have partially fixed the tutorials in branch `bug-745`. I have changed the taxi locations in the taxiing tutorial, but not updated all the heading checks and messages. Someone else should do that.

Aircraft should start in taxiing and runup tutorials, have not checked other tutorials.

Anyone who wants to test the branch can switch to it if using git or download https://github.com/Juanvvc/c172p-

[2016-05-09 15:31] gilbertohasnofb commented on #746
Okay, so I did tweak a bit the HI:

- the bug is now substantially thicker
- it also has a wider "base", so it should be much easier to spot

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/15118221/8db3597a-160b-11e6-8f6a-08ad6caaf3d1.png)

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/15118206/7b97a2aa-160b-11e6-95f3-aef78cc14a61.png)

Now... the pro

[2016-05-09 15:34] gilbertohasnofb commented on #746
By the way, I created and pushed a new branch called `bug-746` for those wanting to try it out. Once the issue of the shadows is tackled we can then open a PR.

[2016-05-09 16:34] geoffmcl commented on #746
@gilbertohasnofb, thank you for the update... images look good...

Could someone point me to a Wiki about how I can pull and test this...

I have pulled my `F:\Projects\c172p-detailed`, and checked out `bug-746`...

Do I just add `--fg-aircraft=F:\Projects\c172p-detailed` to the fgfs command?

I mentioned earlier I use 1920 x 1080, and wonder what you
specify as `very low resolution screens`... pl

[2016-05-09 16:44] wlbragg commented on #746
Looking at it now, sorry for the delay.

[2016-05-09 17:03] gilbertohasnofb commented on #746
@geoffmcl If you did a `git pull` on your master then checked out the branch `bug-746`, all you need to do is direct FG to load the aircraft from that folder. I don't know which command line option you have to use, but if you use FGRun you can simply add the folder of your local clone of the repo to load the plane. As for the resolution, my bad, there was a lot of text to read and I missed it... @

[2016-05-09 17:27] wlbragg commented on #746
I am.
It's not the irradiance as far as I can tell. Shutting it off makes no difference.
I'm searching through the code to see if I can figure out what is causing this.

It used to work OK either with the old style or ever with the new one?

[2016-05-09 17:30] wlbragg commented on #746
It would help if I looked at the right instrument, still checking this out. It could still be irradiance causing this.

[2016-05-09 17:39] gilbertohasnofb commented on #746
Ha, that happens often to me during debugging as well. If it turns out the effect isn't causing it, then I can try to help to find out what else could be influencing it.

[2016-05-09 17:39] wlbragg commented on #746
Giving its object a material definition (emission) seems to fix this.
Add the HdgBug object to the material (emission) definition and test it.

[code]

[2016-05-09 17:40] gilbertohasnofb commented on #746
I will test it right now

[2016-05-09 17:40] onox commented on #746
You got `//` in there. Removing irraddiance effect indeed does not seem to make any difference.

[2016-05-09 17:42] wlbragg commented on #746
I don't know if this causes other issues though because I have no clue really what this code is all about. Never learned about it in depth.

[2016-05-09 17:43] onox commented on #746
It seems to work @wlbragg :+1:

[2016-05-09 17:44] gilbertohasnofb commented on #746
Confirmed, that works! :+1:

@wlbragg did you push this modifications or should I do it myself? Then I will create a PR and we can merge this straight away

[2016-05-09 17:44] onox commented on #746
Hmm. It was already added to another material animation just below it?

[2016-05-09 17:45] onox commented on #746
You should probably remove it from that animation.

[2016-05-09 17:46] gilbertohasnofb commented on #746
That other animation also has a `//` on the property. Is that a typo?

[2016-05-09 17:46] onox commented on #746
Think so yes.

[2016-05-09 17:47] gilbertohasnofb commented on #746
Ok, I will test now with the `HdgBug` being only in the first animation but not in the second, and having both animation's `//` fixed to `/`

[2016-05-09 17:47] wlbragg commented on #746
Yeah, those are typos. Looks good at night as well.
@gilbertohasnofb go ahead and make the changes yourself.

[2016-05-09 17:48] wlbragg commented on #746
You need the second animation, that moves it?

[2016-05-09 17:48] wlbragg commented on #746
Oh, right, the other materials, I didn't see it.

[2016-05-09 17:48] onox commented on #746
I'm talking about the second "material" animation.

[2016-05-09 17:49] onox commented on #746
There's one for Face and Front, and another for OBS-Knob, Hdg-Knob, and HdgBug.

[2016-05-09 17:50] onox commented on #746
You could also leave HdgBug in that second animation. I don't know if these "material" animations are additive or whether they override the previous one.

[2016-05-09 17:51] gilbertohasnofb commented on #746
I think they are additive since the first time we added HdgBug to the first, it fixed the problem even though it was present in the second

[2016-05-09 17:51] wlbragg commented on #746
Yeah, remove it from the  OBS-Knob, Hdg-Knob, it probably got put there by mistake.
I just removed it and didn't notice any change.

[2016-05-09 17:52] gilbertohasnofb commented on #746
though right now I tested it like this:

[code]

with fixed `//` and HdgBug only in the first one, and it seems to work all well both during the day and at night

[2016-05-09 17:52] wlbragg commented on #746
I think that is correct!

[2016-05-09 17:53] gilbertohasnofb commented on #746
In that case, I will push the file and create the PR. You agree, @onox or is there still something potentially wrong with this xml file?

[2016-05-09 17:53] onox commented on #746
Looks OK.

[2016-05-09 17:54] gilbertohasnofb commented on #746
Ok, so I will create the PR now

[2016-05-09 17:54] wlbragg commented on #746
I recall the first definition taking precedence, but I could be wrong. Not necessarily specific to "materials" but in general.

[2016-05-09 17:55] gilbertohasnofb commented on #746
Really? When I was working with the regional textures, the last definition always overrode the previous ones

[2016-05-09 17:56] wlbragg commented on #746
Then you may be right, I swapped the two definitions and it DIDN'T break it so you are probably correct.

[2016-05-09 19:03] #746 closed

[2016-05-09 21:24] #743 closed

[2016-05-10 07:10] gilbertohasnofb opened #751 "Instrument knobs are too short"
It seems to me that our instrument knobs (AI, altimeter, HI, etc.) are too short when compared to RL ones. See for instance:

![](http://i.ebayimg.com/images/g/xbsAAOSwSclXLWDO/s-l1600.jpg)

![](http://cdn.c.photoshelter.com/img-get2/I0000W8JoXyhdN9g/fit=1000x750/MG-8468.jpg)

![](http://i.ebayimg.com/images/g/SV0AAOSw9N1VxiWZ/s-l300.jpg)

And compare them to:

![fgfs-screen-001](https://cloud.git

[2016-05-10 15:17] wkitty42 opened #752 "rudder pedals moving opposite"
can someone check the code for this?
[https://forum.flightgear.org/viewtopic.php?p=284786#p284786](url)
DerryUL wrote:

When flying in real life if you want to turn left you move your left leg forward. Similarly to turn right you move your right leg forward.

The Cessna rudder pedals show the opposite ie to turn left you move your right leg forward.

I was using version 2016.1.1

Derry.

[2016-05-10 15:32] gilbertohasnofb commented on #752
Confirmed. Nice catch.

I will try to fix it myself.

[2016-05-10 17:28] #752 closed

[2016-05-10 17:32] onox commented on #745
@gilbertohasnofb Would you be able to update `taxiing.xml` a bit?

[2016-05-10 17:37] gilbertohasnofb commented on #745
I can try having a look at it, but I never dealt with the tutorials before, so I'd need to learn things by scratch. Maybe @dg-505 would be interested in doing it though, since he worked on the tutorials before. If he can't then I can take a look at it myself.

[2016-05-10 19:29] gilbertohasnofb commented on #745
@onox after this has been fixed, is there still any other very important issue we must tackle before releasing the aircraft for the next release? I think we should contact stuart as soon as possible about it.

[2016-05-10 19:39] onox commented on #728
Almost got this working. Will push in an hour.

[2016-05-10 19:39] gilbertohasnofb commented on #728
Yay! :+1:

[2016-05-10 19:44] gilbertohasnofb commented on #716
- improvements to the irradiance effect
- better oil dialog
- flap lever is now dragable and scrollable
- added normal map to wheels and other objects
- improvements to the heading indicator
- correct rudder pedal animation

[2016-05-10 22:34] onox commented on #745
Not that I can think of.

[2016-05-11 01:00] dg-505 commented on #745
Hey guys
I'll have a look over the tutorials. Personally I would prefer the tutorials to be at another airport (my suggestion would be Sabadell) because it is more realistic to fly a C172 at a smaller airfield than LEBL.

[2016-05-11 08:23] gilbertohasnofb commented on #745
@dg-505 I agree with you, our previous tutorial was also not set at KSFO either. I just checked LELL and it seems to be a nice option indeed, well developed and everything. Given that we will have to change these tutorials every 3 months, I think a good guideline is:

- if the main airport of the next FG edition normally handles GA, then choose it
- else find a smaller airfield that typically hand

[2016-05-11 09:19] dany93 commented on #745
GA = "General Aviation?" I would explicit it.

I'd write "....with Terrasync not activated". Although beginners will not understand Terrasync and what or where this tile is... That's the drawback of changing the airport.

[2016-05-11 14:46] gilbertohasnofb commented on #745
@dany93 these guidelines I propose are just for us, not for any warning messages or anything like that. I just means that when _we_ select the next tutorial airfields (which should always be in the default tiles), we can use these ideas when picking up one.

That's exactly why I say it must be well within the default tiles, so even people without internet connection can fly around for a bit withou

[2016-05-11 14:51] dany93 commented on #745
Right. Sorry for my misunderstanding.

[2016-05-11 14:52] gilbertohasnofb commented on #745
No worries! :smile:

[2016-05-12 17:44] dg-505 commented on #745
Gentlemen, we have a problem. It's about the Radios tutorial.
When the tutorial is located at Sabadell (LELL), one has to listen in on the ATIS of Barcelona-El Prat becaus LELL doesn't have an own ATIS. But when I'm on the ground on LELL, I can't hear the LEBL-ATIS. When I jump in the air with "CTRL-U", then I can hear the ATIS.

What can we do to adress this?

Shall we nevertheless locate the "Ra

[2016-05-12 17:52] gilbertohasnofb commented on #745
Hmm, if this bug is really reproducible then it's something beyond this project of ours. The solutions that come to mind are:

- find other airfield than LELL for all tutorials
- use LEBL for all tutorials
- use LEBL only for the radio tutorial, as you propose

Would you have any other airfield in mind? It doesn't have to be literally in Barcelona, just like our previous wasn't exactly in San Fran

[2016-05-12 18:00] dg-505 commented on #745
Well, AFAIK Livermore has an own ATIS, so this wasn't a problem in previous FG versions.

I'm pretty sure that this isn't a bug: In reality, a radio transmitter has limited range along the ground because of obstacles on the ground (buildings, mountains, etc. The higher the reciever is, the longer is the reception range.

[2016-05-12 18:07] gilbertohasnofb commented on #745
I am confused. You had previously written that "[...] one has to listen in on the ATIS of Barcelona-El Prat becaus LELL doesn't have an own ATIS."

If something wasn't a problem before and now is, isn't that a bug?

[2016-05-12 18:24] dg-505 commented on #745
Well, that was written a little ambiguous....

What I meant:
Our previous tutorial airport for the C172 was Livermore Municipal (KLVK). So, KLVK has it's own ATIS, and therefore the limited range of radio transmitters along the ground wasn't a problem because you easily recieve the ATIS of KLVK

But now our tutorial airport is LELL.
LELL however has no own ATIS, and so you need the ATIS from LEBL

[2016-05-12 18:36] gilbertohasnofb commented on #745
Yes, now it's all clear! Thanks :smile:

But what do you think is the reason you can't receive the ATIS there if in RL you are expect to do so? Is it something with our plane? Or with FG?

[2016-05-12 18:43] dg-505 commented on #745
Sorry, I meant that I assume that it is correct (and I think in real life that's the same) that you can't hear the ATIS of Barcelona-El Prat in Sabadell:

And because of that reason you can't hear the ATIS from LEBL on LELL.

[2016-05-12 18:54] gilbertohasnofb commented on #745
I see, I see... well, in that case we must start at least this specific tutorial in a different airport. LEBL is the obvious choice; Girona airport (LEGE) also has ATIS, but I think it also doesn't normally handle GA, though I have seen some photos of GA aircraft parked there.

[2016-05-12 18:58] dg-505 commented on #745
So my suggestion would be to do only the radio tutorial on LEBL and all other tutorials on LELL

[2016-05-12 19:06] gilbertohasnofb commented on #745
Yes, I think that's probably the best solution as well.

[2016-05-12 19:12] dg-505 commented on #745
Okay, than I'll do it that way.

[2016-05-13 15:30] dg-505 commented on #745
I created a pull request for branch _bug-745_:
https://github.com/Juanvvc/c172p-detailed/pull/755

[2016-05-13 19:19] onox commented on #745
@dg-505 Good suggestion to move to that little airport :+1:

About the tutorials: the taxiing tutorial mentions that the pilot has to turn to heading 320. Perhaps just say something like "Turn left (heading 320) onto the taxiway". Something like that. The phrase is currently also quite long on the screen.

About the altimeter tutorial: it says 30.32 should correspond with 15 ft, but I think the 15

[2016-05-13 19:26] dg-505 commented on #745
I'll take a look

[2016-05-13 19:30] onox commented on #745
Btw, can we find the actual QNH for LEBL in the property tree somewhere? Then we could remove that altitude check/msg and just let the pilot adjust the altimeter to the required QNH.

[2016-05-13 19:31] onox commented on #745
Or at least just not mention "15 feet" and increase the bounds a bit, like 30.31 and 30.33.

[2016-05-13 19:39] onox commented on #745
Can't find the correct QNH in the property tree, so should we write "Pretend the ATIS message said..."?

[2016-05-13 20:05] dg-505 commented on #745
The QNH property is, AFAIK **metar/pressure-inhg**

See also https://forum.flightgear.org/viewtopic.php?f=69&t=29554

[2016-05-15 11:00] gilbertohasnofb commented on #733
I suddenly started getting an error message `Failed to load file: "Aircraft/Generic/marker.xml"`, did the devs decide to move this file yet once again?!

[2016-05-15 14:06] ElGaton commented on #745
Yes, it's **metar/pressure-inhg** (which is, however, a double and, thus, suffer from rounding errors).

The ideal way to perform this check would be to test if the actual altimeter setting is in the range [ATIS QNH - 0.099; ATIS QNH + 0.099] or something like that, but the conditions framework (see $FG_ROOT/Docs/README.conditions) seems not to be flexible enough. Another way could be checking the

[2016-05-15 14:09] wkitty42 commented on #733
On 05/15/2016 07:00 AM, Gilberto Agostinho wrote:

"Aircraft/Generic/marker.xml"|, did the devs decide to move this file yet once
again?!

i have one in FGData... there was a commit that was undone which put files back
into place but the commit for the other half of the move was not undone so there
are some duplicate files... the marker file is not one of them AFAIK... it was
mainly pushbacks, tow

[2016-05-15 14:09] ElGaton commented on #745
Yes, it's **metar/pressure-inhg** (which is, however, a double and, thus, suffers from rounding/machine representation errors).

The ideal way to perform this check would be to test if the actual altimeter setting is in the range [ATIS QNH - 0.099; ATIS QNH + 0.099] or something like that, but the conditions framework (see $FG_ROOT/Docs/README.conditions) seems not to be flexible enough for this p

[2016-05-15 14:36] gilbertohasnofb commented on #733
@wkitty42 thanks for the info, but as I wrote in my updated message above (maybe you missed it) the problem was that I downgraded my flightgear installation to version 2016.1.1 due to some problems I had with the PPA I use, and forgot that the marker was moved after the release of that version. So there are no problems at all, just my mistake :smile:

[2016-05-15 14:56] wkitty42 commented on #733
yeah, i missed that because i read the original in email and responded from there... if you downgraded your fgfs, then you apparently also downgraded your fgdata?? that's the problem... you'll have to either manually copy or move the marker file from the old location to the new and either keep two of them or...

[2016-05-16 16:07] dany93 opened #757 "Complex startup procedure off: Nasal error message"
When I launch the aircraft with the "**Start with engine running**" checked (only this start option checked) I have this error message:
`Nasal runtime error: No such member: autostart
  at /home/dany/FG/github/c172p/Nasal/engine.nas, line 185
  called from: /home/dany/fgfs/install/flightgear/fgdata/Nasal/globals.nas, line 119`
I've had it for a long time.
Still, everything works well. It starts wi

[2016-05-16 16:18] gilbertohasnofb commented on #757
It seems related to the if block in `engine.nas`, lines 184-185:

[code]

In the file `c172p.nas`, line 304, if the option start with engine running is activated (and therefore the property `/fdm/jsbsim/running` is set to true), the autostart function will also be called as `c172p.autostart(0);`. So maybe calling it twice in a row is what is causing this little error? I will try having a look at i

[2016-05-16 16:25] gilbertohasnofb commented on #757
Actually, the error has nothing to do with starting with the engine running. Basically if "complex startup" is deactivated, the error is present _regardless_ of the state of "start with engine running"

[2016-05-16 16:29] gilbertohasnofb commented on #757
Hmm, for some reason FG is not happy about that function call of `c172p.autostart(0);` on line 185 of `engine.nas`, but I don't understand why... surely one can call that function from another `.nas` file, right?

[2016-05-16 17:42] dany93 commented on #757
And what is the use of "Complex Startup Procedure" option choice ? I feel that It could be always ON, that allows every possibilities: complex (of course), "Start with engine running" (if checked) and "autostart" (if "Start with engine running" is unchecked).
My question is: could "Complex Startup Procedure" be always ON (not an option)? Deleted from the list. One would have as choices "Start with

[2016-05-16 18:05] onox commented on #757
The ideas was that if the option is off, then holding s does what the "Autostart" menu item does (turn on electronics, prime engine, etc.) + enabling starter. If the option is on, then you have to do either turn on electronics + priming yourself, or click "Autostart".

My choice would be to have the option always on and let the "Autostart" menu item be a full autostart instead of the 50% autostart

[2016-05-16 18:06] onox commented on #757
The Nasal error seems to be solved by moving `<file>Nasal/engine.nas</file>` in `c172p-set.xml` to below `<file>Nasal/c172p.nas</file>`.

[2016-05-16 21:01] #745 closed

[2016-05-16 21:03] gilbertohasnofb commented on #757
Aha, so that's how it works. That's why `electrical.nas` is able to call a function from `c172p.nas` (the flaps function) but the `engine.nas` wasn't able to do so. I will test this tomorrow and then create a PR if no one beats me to that (which wouldn't be a problem either).

[2016-05-16 21:07] gilbertohasnofb commented on #716
- updated tutorial to Barcelona

[2016-05-16 22:01] onox commented on #757
@gilbertohasnofb What do you think of this? If you agree you can take a look at the Nasal code in the tutorials for how to programmatically hold the "s" key (enable the starter for a while) and add that to the "Autostart" menu item.

[2016-05-17 07:52] dany93 commented on #757
@onox wrote

Sophisticated ! User-friendly :+1:

[2016-05-17 11:30] gilbertohasnofb commented on #757
Yes, this is the current behaviour and I think it kind of works.

So then there would be no simple way of starting the engine except for using autostart? That actually sounds fine to me, given that we currently have two options doing the same thing (autostart and disabling the complex startup) and so I'd be happy to chop one of them off :smile: What I don't understand is what you mean by 50% autos

[2016-05-17 12:34] dany93 commented on #757
@onox may mean that with current "Autostart" you also have to press "s" to start.

[2016-05-17 16:58] wlbragg commented on #757
I have always felt that was kind of odd. Autostart probably should start the aircraft in its entirety.

[2016-05-17 17:03] wlbragg commented on #757
So the system might  be
Complex Startup = must do everything
Autostart = starts the aircraft, ready to fly
Complex not checked = requires s key
Start Running = it's running at startup

I really liked the idea of a saved state of "complex" starts you at a hanger or parking spot. Really any choice that is not running should.

[2016-05-17 17:23] onox commented on #757
There is no need for a "Complex" checkbutton if we make the "Autostart" menu item a 100 % autostart: people who want to do an autostart, press the "Autostart" menu item. People who do not want to do an autostart, start the aircraft manually.

[2016-05-17 17:24] gilbertohasnofb commented on #757
That's all clear then. I will have a look at it and see what I am capable of, ok? I will keep you guys updated.

[2016-05-17 18:15] gilbertohasnofb commented on #757
Done. And @onox, great idea to eliminate that option, the whole thing looks so much more clear and simple now. Autostart takes care of everything now (so does starting the sim with the engine running), and all others must operate the aircraft as it was designed to be operated (using prime, etc.)

[2016-05-17 19:16] #728 closed

[2016-05-17 19:39] #757 closed

[2016-05-17 19:41] onox commented on #716
- Changed "Autostart" menu item to actually start the engine as well
- Split instrument light knob into a knob that two knobs: one that controls the instruments, and one that controls the radio's

[2016-05-17 19:41] onox commented on #716
@gilbertohasnofb Anything else or can I start making a branch?

[2016-05-17 19:44] gilbertohasnofb commented on #716
That's all that I had in mind as well, so I guess we are ready for a branch!

[2016-05-17 20:11] onox commented on #716
I forgot to update `NEWS.md`. Will do that now.

[2016-05-17 20:13] gilbertohasnofb commented on #716
:+1:

Then I suppose we can close this issue, and then create new labels for 2016.3 as well as a new issue to gather the list of features for that next version.

[2016-05-17 20:16] onox commented on #716
I have already moved all the remaining open issues to new milestones.

[2016-05-17 20:16] onox opened #759 "Gather a list of features and bugs we fixed in 2016.3"
We should gather a list of all the new features, major changes, and bugs we fixed. Please create a list (use * to create bullet points) here.

* Radio stack has been reworked (textures, 3D model)
* Radio stack illumination has been vastly improved and includes a daylight mode now (via RADIO LT at 0%)
* Fix bug with airspeed indicator
* Fix bug with the 3D model of the key in the ignition
* Fix bug

[2016-05-17 20:17] onox commented on #716
I have created #759

[2016-05-17 20:17] #716 closed

[2016-05-17 20:17] onox commented on #716
I'll update and simply the wiki release page because we don't freeze anymore.

[2016-05-17 20:18] onox commented on #716
@gilbertohasnofb Could you notify the core devs of the release? Point them to https://github.com/Juanvvc/c172p-detailed/tree/release/2016.2

[2016-05-17 20:18] gilbertohasnofb commented on #716
Perfect, thanks a lot @onox! :+1: So now I suppose we must contact Stuart for a merge with FGDATA.

[2016-05-17 20:18] gilbertohasnofb commented on #716
Sure, I will do it right now.

[2016-05-17 20:19] onox commented on #716
@wlbragg Can we delete `regression-to-3.2` branch? It is old and unmaintained.

[2016-05-17 20:25] wlbragg commented on #716
That is fine with me. Is there a way for an average user that has 3.2 - to get that version?

[2016-05-17 20:26] gilbertohasnofb commented on #716
I would maybe keep that branch still a bit longer. Surely it's unmaintained and old, but some people still use FG 3.2 or older.

As for contacting the devs, I just did it: https://sourceforge.net/p/flightgear/mailman/message/35095319/

[2016-05-17 20:30] wlbragg commented on #716
That would be my only hesitation. But if there is a way to get it anywhere else, like you can prior versions of FG repo aircraft. I have no idea if that was ever done with this version though as it was kind of unique.

Can you create a tag to the history like you do versions?

[2016-05-17 20:37] onox commented on #716
But who is aware of our git repository _and_ still actually uses 3.2?

[2016-05-17 20:37] onox commented on #716
I don't see the point in creating a tag for a very old commit. It would have to be a really old commit.

[2016-05-17 20:38] gilbertohasnofb commented on #716
In the past we had a couple of people asking about it in the forum, and then some of us would redirect the person to that branch. I think we even have a message about it in the first post of the c172p forum thread.

[2016-05-17 20:39] onox commented on #716
But that was because 2016.1 wasn't yet released back then?

[2016-05-17 20:40] gilbertohasnofb commented on #716
But either way is fine with me, it would just be cool if that work would still be available somehow if someone would be interested.

@wlbragg crazy idea, but what about creating a new repository for that branch only, announcing it in the forum (and making sure people understand it's unmaintained). This way it would still be available somewhere, but we wouldn't need to keep the branch

I don't get

[2016-05-17 20:42] onox commented on #716
I have to update the version number in the set file. Named it 2016.3

[2016-05-17 20:45] onox commented on #716
Fixed.

[2016-05-17 20:45] gilbertohasnofb commented on #716
:+1:

[2016-05-17 20:46] onox commented on #716
Let's not do that. I rather keep that old branch around than creating a whole new repository for slow people.

[2016-05-17 20:50] onox commented on #716
I'm gonna fix this version mess and force push in half an hour, so no commits until then :stuck_out_tongue_winking_eye:

[2016-05-17 20:51] gilbertohasnofb commented on #716
Ok!

Yeah, on a second thought that is unecessary

[2016-05-17 20:55] wlbragg commented on #643
Even though I didn't track down where this file is coming from, it is indeed a needed call. So I am closing this issue.

[2016-05-17 20:55] #643 closed

[2016-05-17 21:04] wlbragg commented on #716
Would you rather I update this current version to work on 3.2? If I remember correctly it was very little code to tweak. Of course that may have changed. I agree at some point we don't need to continue to offer it. But without a fallback (although I suppose you could call "git history" a fallback) it seems like it should be available somewhere?
Although it was an intermediate upgrade, you could ar

[2016-05-17 21:07] onox commented on #716
I don't think you should spend any more time on it. If people want the lastest-and-greatest, then they can choose 2016.1 or 2016.2.

[2016-05-17 21:13] gilbertohasnofb commented on #716
Hmm guys, did we miss the deadline for the Barcelona release?! See: https://sourceforge.net/p/flightgear/mailman/message/35094726/

[2016-05-17 21:21] onox commented on #716
It seems Torsten didn't bother to notify us about the imminent release. I guess it's gonna be either a 2016.2.2 or 2016.3.

[2016-05-17 21:24] gilbertohasnofb commented on #716
Yeah. I think the 2016.x.1 are planned to be always released on the 17th day of the 3n + 2 months (for n between 0 and 3). So we can try next time to get a branch prepared for it let's say a week before, so that we have time for a merge.

[2016-05-17 21:27] wlbragg commented on #716
What about the totorials being changed to the new airport?

[2016-05-17 21:27] onox commented on #716
That's in (our) new release.

[2016-05-17 21:28] wlbragg commented on #716
So 2016.2.1 has a new airport and the flagship doesn't support it?

[2016-05-17 21:29] gilbertohasnofb commented on #716
Yep

[2016-05-17 21:29] onox commented on #716
What do you mean flapship?

[2016-05-17 21:30] wlbragg commented on #716
So 2016.2.1 has a new airport and the flagship (the c172p that comes with the new release) doesn't support it?

@gilbertohasnofb  answered it.

[2016-05-17 21:31] onox commented on #716
The version in FGDATA is still the old version (2016.1).

[2016-05-17 21:31] onox commented on #716
At least in the `next` branch that is.

[2016-05-17 21:32] wlbragg commented on #716
I got issues with the new Radio/Panel LT. Was that issue closed?

[2016-05-17 21:32] onox commented on #716
Yes. What's the problem?

[2016-05-17 21:34] onox commented on #716
Their `release/2016.2` branch contains still the old version.

[2016-05-17 21:35] wlbragg commented on #716
Hang on, I'm preparing the example.

[2016-05-17 21:37] wlbragg commented on #716
![fgfs-screen-001](https://cloud.githubusercontent.com/assets/11069680/15340076/33f1e9fe-1c4d-11e6-9a29-40f1fac79183.jpg)
The difference in brightness and I thought the LED's of the radios weren't suppose to be changed with either of those knobs.

[2016-05-17 21:38] wlbragg commented on #716
Refresh if you don't see the yellow arrows.

[2016-05-17 21:40] gilbertohasnofb commented on #716
I think these have always been there. E.g. the AP has brighter digits than the COMs and NAVs, which in turn are brighter than the ADF

After a lot of discussion, both @onox and I become convinced that the digits must change with the knob. But there was a lot of conflicting information in the process, plus I know for a fact that some good simulations of the 172 for X-Plane and FSX do not dim the ra

[2016-05-17 21:42] wlbragg commented on #716
OK, as far as the difference in brightness, I'll take a look at that and see if I can fix it?

[2016-05-17 21:42] gilbertohasnofb commented on #716
Sounds perfect!

[2016-05-17 21:43] wlbragg commented on #716
:+1:

[2016-05-17 21:43] onox commented on #716
LED digits should remain/be dimmable.

[2016-05-17 21:43] onox commented on #716
However, you can fix the difference in brightness between the various instruments.

[2016-05-17 21:44] onox commented on #716
You also might want to make the digits of the AP orange instead of yellow if you want.

[2016-05-17 21:46] wlbragg commented on #716
:+1:

Any point in contacting  Torsten about the release?

[2016-05-17 21:46] onox commented on #716
Btw, I have updated the `master` and `release/2016.2` branches, and the `version/2016.2` tag as well.

[2016-05-17 21:47] onox commented on #716
Latest commit in `master` is b0bfbd7

[2016-05-17 21:48] onox commented on #716
Not for the brightness difference of the radio instruments, but you can contact him for the reason that the new version has not been copied over to FGDATA at all, thus the tutorials still spawn people at KHAF.

[2016-05-17 21:49] wlbragg commented on #716
Yeah, that is what I meant!

OK

[2016-05-17 21:51] wlbragg commented on #716
I should point him to
https://github.com/Juanvvc/c172p-detailed/releases/tag/version%2F2016.2

[2016-05-17 21:55] onox commented on #716
Yes :+1:

[2016-05-18 16:35] gilbertohasnofb commented on #716
Did you write him, @wlbragg? So far nobody except for onox replied to my post in the list...

[2016-05-18 20:30] wlbragg commented on #716
Yes, I PM'd Torsten but just checked to see it is still sitting in my outbox. I'll email it to him.

[2016-05-18 20:31] wlbragg commented on #716
Done!

[2016-05-18 20:32] wlbragg commented on #716
If I get no response soon, then I'll do the dev list also.

[2016-05-18 20:35] gilbertohasnofb commented on #716
:+1: thanks!

[2016-05-18 20:40] gilbertohasnofb commented on #739
Given the work we did on the autostart function in the PR https://github.com/Juanvvc/c172p-detailed/pull/758 (now not even requiring that the user press "s" in the keyboard, as well as taking care of oil, fuel, flaps) and given that we do have an option to start the sim with engine running, should we keep this issue opened?

[2016-05-18 20:48] gilbertohasnofb commented on #715
@wlbragg How would you suggest we tackle this issue? Would it help if I extend a bit the texture `Models/Interior/Panel/Instruments/dme/ki266.png` and then add a dark grey empty display unit on the right-hand side of the digit "9" and a dark grey circle above it?

And by dark grey, I mean the colour of the background behind the digits, which is near pitch black but just enough brighter (see the im

[2016-05-18 20:49] gilbertohasnofb commented on #715
Also, what is happening when the display is turned off or when a digit isn't being used? Is the rectangular object in which the digit textures are mapped hidden or what?

[2016-05-18 21:40] gilbertohasnofb commented on #716
Stuart just wrote in the list:

git incompetence on my part:
4fbebffc2b552374d1c536b3eaef5f05ae2db18f
2ed0bb52217fb8bec377ca256e3a39741f908ce1

but just in case:

[2016-05-18 22:05] #739 closed

[2016-05-18 23:40] wlbragg commented on #739
I don't know about this issue, but I really want to look into starting the aircraft at hanger or start up position (gate) if not using the "Start With Aircraft Running" option. It just makes sense that if you choose the "Start With Engine Running" option you should be at the runway and ready to go. On the other hand if you start with what used to be the "Complex Startup" now the default, you shoul

[2016-05-18 23:40] wlbragg commented on #715
Let me study this and reply later tonight.

[2016-05-18 23:42] wlbragg commented on #716
Also got a reply from Torsten, not sure if it was to late to get into the tar's or if they can be updated. I guess that is up to them now. At least it is in fgdata.

[2016-05-18 23:49] wkitty42 commented on #739
yes, parking has been broken for several months... i'm not sure if it is totally
repaired at this time... some airports seem to have working parking choices
again but for some reason not all of them are working... in some cases, i have
to use the location menu in the sim's F10 menu bar to select the (same) airport
and then the parking position i want to start with... all of this is with the
intern

[2016-05-19 05:51] wlbragg commented on #715
![fgfs-screen-003](https://cloud.githubusercontent.com/assets/11069680/15383769/1899334c-1d5b-11e6-8ebd-e28a2ab5b062.jpg)
After looking at this I am still not sure what to do. The digits are textranslated to their positions. I tried to make the digit panel background a little bit lighter grey to see if it would show up but it didn't so I guess we are going to have to do something in blender. Eithe

[2016-05-19 09:07] gilbertohasnofb commented on #739
@wlbragg that would be great, but there are two problems that comes to mind: 1) as pointed out by @wkitty42 the parking is currently broken, but maybe even more fundamentally 2) how can we recognize if the aircraft is starting at a runway or not? Do you think in terms of having an option in the launchers? If so, then comes the problems that FG has tons of launchers, and though the official launche

[2016-05-19 09:10] gilbertohasnofb commented on #715
@wlbragg a couple of things:

- did you by any chance touch the ADF? You have some upside down things there... (the second digit "4", the letters "FRQ", maybe even some of those "6" and "9" and "1").

- that sounds good to me, I will try to make that today or tomorrow, ok?

- about the switch, do you mean better 3D model or better modelling of what the switch affects?

[2016-05-19 10:26] gilbertohasnofb opened #761 "Move tutorials to new airport for 2016.4"
Once the base airport is decided for the 2017.1 release, we should move our tutorials there

[2016-05-19 15:08] wlbragg commented on #715
Better 3D modeling.

[2016-05-19 15:58] wlbragg commented on #739
I never really stopped to think about the logistics of it.

When do we not start at an airport?

I envisioned an aircraft specific choice not really considering the GUI.

If persistent data is left on complex startup "the default now" then if user selected a parking spot in launcher, use that else choose random parking spot at the startup airport.
or
If persistent data is left on start with engine

[2016-05-19 19:53] wlbragg commented on #715
The switch I want to remodel actually has better modeling in the blend, it's just hidden at the moment.

[2016-05-19 20:08] wlbragg commented on #715
Here is the better looking part of the switch.
![fgfs-screen-006](https://cloud.githubusercontent.com/assets/11069680/15407983/8103efee-1dd3-11e6-84e9-fa31cebe5ef4.jpg)

[2016-05-19 20:14] wlbragg commented on #715
@gilbertohasnofb can you add to the texture something like the com/nav radios use for the side of the knob. Also a white ring for the front of the knob.
![ex](https://cloud.githubusercontent.com/assets/11069680/15408172/64022c0c-1dd4-11e6-9554-9091b83a236d.jpg)

[2016-05-19 21:13] gilbertohasnofb commented on #715
@wlbragg sure I can help with any texture, but I don't understand exactly what is the problem. It seems to me that all these older King radios use this sort of knob for the volume. Compare the KR87 ADF volume knob from your picture above with this one:

![](http://www.mooney.de/info/workshop/technik/miscImages/kr-87.jpg)

Looks near identical to me, don't you think?

[2016-05-19 21:24] gilbertohasnofb commented on #739
I mean, as far as I understand what you want to implement is the following: starting on runway == engine on, else starting at a parking positions == engine off. The problem is that there is no way of recognizing if you are on a runway or not in the sim, just in the launcher, right?

or

That's clever but personally I think it will be quite confusing to users. Imagine someone doesn't have the "star

[2016-05-20 03:28] wlbragg commented on #739
Good enough, let's hope that this is fixed in the sim and remains that way. As long as there is a choice to start at a parking spot, cold, I don't really care which method is used (sim or aircraft).

[2016-05-20 03:34] wlbragg commented on #715
Sorry for the confusion. This is the knob I want to re-texture as there is no definition and you can barely see it. I think it should look like the other knobs
![fgfs-knb](https://cloud.githubusercontent.com/assets/11069680/15416490/9e84b650-1e11-11e6-9761-38fd609c79b4.jpg)

[2016-05-20 04:20] wlbragg commented on #715
![dme](https://cloud.githubusercontent.com/assets/11069680/15417151/4c8a679e-1e18-11e6-8596-032e1b063f2c.jpg)

[2016-05-20 06:05] wlbragg commented on #715
I went ahead and did the new knob texture.

Next thing I noticed is all the objects on the DME are assigned to or using the wrong lighting effect (everything pointed to by the red arrows).. Everything appears to be using the same effect as all the buttons an the rest of the radio stack except the DME button, (yellow arrow), which is the only thing that should be. The MILES, KTS and MIN should mayb

[2016-05-20 06:16] wlbragg commented on #715
Here is a better example of what I am talking about .What do we want lit-up,when and how?

![lighting2](https://cloud.githubusercontent.com/assets/11069680/15418815/9497ca54-1e27-11e6-9e31-cc38ce665167.jpg)

The switch and the knob should only pick up the irradiant lighting, right now they are both picking up the radio lighting. So is everything else except the button which is only getting the irr

[2016-05-20 06:44] wlbragg commented on #715
OK, here is where I am at now.

DME/KI266
Everything has irradiant lighting.
Removed radio lighting from PowerSwitch.Lever and PowerSwitch.Base
Add radio lighting to ModeSwitch, left radio lighting on SourceSelectorKnob as the rest of the radio stack knobs have radio lighting.
Everything else left as was (radio and irradiant lighting)
This is what it looks like now
![lighting3](https://cloud.githu

[2016-05-20 06:56] wlbragg commented on #715
Actually it is using the wrong condition/alias. and everything is part of the lighting condition.
[code]

For testing I did the following instead
[code]

and this is the results

![lighting4](https://cloud.githubusercontent.com/assets/11069680/15419775/1662751a-1e2e-11e6-818e-477752540940.jpg)

[2016-05-20 06:58] wlbragg commented on #715
And in the dark

![lighting5](https://cloud.githubusercontent.com/assets/11069680/15419824/5b1bc828-1e2e-11e6-9606-8f437b1a6932.jpg)

[2016-05-20 07:00] wlbragg commented on #715
Let me know what you all want to do?

[2016-05-20 08:16] gilbertohasnofb commented on #715
Good catch! Personally I think those knobs should not have any illumination of their own, but the four individual digits and the tiny display should be illuminated as I think they have some sort of backlight. What do you think?

[2016-05-20 08:23] gilbertohasnofb commented on #715
I agree with you, those labels and knobs and switches shouldn't be illuminated either.

[2016-05-20 12:45] wlbragg opened #762 "Prop mist while raining"
From the forum, see
https://forum.flightgear.org/viewtopic.php?f=4&t=25157&p=285877#p285822

Consider spray from morning dew and on water in float or amphibious as well.

Posted from Android tablet.

[2016-05-20 15:40] wlbragg commented on #715
I agree with labels and switches, knobs however I think should be consistent throughout the stack. Right now "all" knobs are Radio LT adjustable, so do we want to change that? I'm guessing here but I doubt the knobs are back lit.

[2016-05-20 17:20] gilbertohasnofb commented on #715
Let's keep them all light for now, but soon @algefaen is going to take a look at a RL 172 and make some tests for us.

@algefaen So besides checking the behaviour of the RADIO LT knob, could you please also check if there is any illumination (backlight) for the knobs in the radiostack (the buttons should have, but the knobs probably not). Thanks!!

[2016-05-20 17:25] gilbertohasnofb commented on #762
That looks really cool! Love his first shot of the plane engulfed in mist, I'd love to see it from the cockpit! (since we should be able to see the "smoke" effect of the mist besides the water droplets, right?)

[2016-05-20 18:48] wlbragg commented on #762
I thought so too, yes we should be able to see it from inside.

[2016-05-20 18:49] wlbragg commented on #715
:+1:

[2016-05-20 20:06] wlbragg commented on #715
@gilbertohasnofb, I'm going to push where I think this needs to be. Some is like you asked, some not. Please look at it carefully. Open and close circuit breakers, turn power switches on and off, turn Radio LT rheostat up and down. Anything we decide to do different is no big deal to change it, for example I have most changes commented out and not removed. Please look at it and get the overall vie

[2016-05-20 20:14] wlbragg commented on #715
Sorry, I was kind of already committed to doing the opposite, it can be changed back easy enough should we decide to. I wasn't trying to override your opinion. But I did want you to see it without the knobs lit up. I looked at MANY pictures online, I really think they are not lit up. But there is also other questions like the KMA20TSO we need answered too.

[2016-05-20 20:16] wlbragg commented on #715
I also think one thing slipped through the cracks and that was lining up the new background uv mapping on the DME. But maybe I should wait until we decide if we are going to replace it with the new one you pointed out.

[2016-05-20 20:22] wlbragg commented on #715
Oh, and please don't be concerned with all the comments and tab (indent) issues in the files I worked on. I'll clean it all up after we come to a consensus on everything.
I know we don't normally work this way but I am pressured for time today and wanted to get to this point.

[2016-05-20 20:43] gilbertohasnofb commented on #715
:+1: Today unfortunately I am a bit busy to test everything, but tomorrow in the morning I have time to test and comment it. Thanks a lot for all the work, this is looking really good so far!

I also think that these knobs are not lit up, so it's good you remove that. I guess in RL these planes have some sort of flood light (I think normally red for these old models as far as I can tell) that can

[2016-05-20 20:59] wlbragg commented on #715
It's worth looking into!

OK, I'm with you, ours is pretty much the same and after bringing the switch base forward I am happy with the way it looks now.

[2016-05-21 06:54] wlbragg commented on #762
Note: https://forum.flightgear.org/viewtopic.php?f=4&t=25157&start=2595#p285942

Just in case anyone starts to work on this.

[2016-05-21 07:05] wlbragg opened #763 "Property already defined bug"
I may have discovered how to eliminate these warnings in the console. Even though they are minor irritations, there is really no reason not to fix them if we can.

We need to see where the property is defined and if it is defined in an autopilot or system call, you should be able to remove it from there and instead place it in the -set file for initialization. We have done this n the Shuttle and t

[2016-05-21 11:04] gilbertohasnofb commented on #715
Maybe @algefaen could make some pictures of the overhead panel and also try to figure out how the flood light works

[2016-05-21 11:46] onox commented on #763
If these properties are primarily used in a JSBSim system, then it's ugly to move them to the -set.xml file. They should be defined close to where they are used.

IMO this is something that needs to be fixed in FlightGear itself or JSBSim.

[2016-05-21 17:48] wlbragg commented on #763
I see your point but don't agree,

In this case it is the only warning we have and it is because we define
/instrumentation/airspeed-indicator/indicated-speed-kt
in the XML file indicated-speed.xml instead of the -set file where it actually belongs. There is no more of a reason for leaving that property define in that module than any other property defined in the -set.

There is already a path of

[2016-05-21 18:28] wlbragg commented on #763
I have the fix to push if you all agree.

[2016-05-22 04:47] onox commented on #763
/instrumentation/airspeed-indicator/indicated-speed-kt
in the XML file indicated-speed.xml instead of the -set file where it actually belongs.

I thought you were talking about the tens of other properties (mostly about hydrodynamics), so you can move that single property if you feel it needs to be moved.

[2016-05-22 05:12] wlbragg commented on #715
I am working on the kma20tso now. Unfortunately it doesn't have the best resolution to show up well after removing the lighting effect, same thing happened to other equipment. It is requiring me to make changes to the uv mapping in the blend. However their is no blend file and for some reason when importing these older ac files into blender we loose information. Anyone know where the original blen

[2016-05-22 05:15] wlbragg commented on #763
I don't get those on start-up, only on re-init I think.

OK, I'll push it soon, thanks.

[2016-05-22 07:53] gilbertohasnofb commented on #715
I don't think we have a blender file for that. Our blender files were normally created after we started improving something from the original plane, and AFAIK this is the first work we are doing in the radios that involve any 3D modelling at all.

[2016-05-22 09:28] dany93 commented on #763
Something I don't understand: I have no warning in my console.
log-level: alert (default, the lower level)
C172P 16 May 2016 = 22 May 2016
FG 2016.3.0 18 may 2016
Linux Mint 17

[2016-05-22 17:25] wlbragg commented on #763
@dany93 I get it when I start FG with the amphibious config  persistent. I don't know if that might make a difference.

The only reason I noticed it was because of something similar happening to erik on the j3cub, he got a warning and I didn't for a variable not defined ( I think it was). So I added it like this one was in the called xml. Then I got the warning "already defined". Moving it to the

[2016-05-22 19:22] wlbragg commented on #715
Here is where we're at currently.
![stack1](https://cloud.githubusercontent.com/assets/11069680/15455939/9acf143e-2027-11e6-9b88-c7ed8ea63bba.jpg)
![stack2](https://cloud.githubusercontent.com/assets/11069680/15455938/9aced988-2027-11e6-9948-2d48a7b8e47c.jpg)

Still to do...
1) https://github.com/Juanvvc/c172p-detailed/pull/760#issuecomment-220543546
2) confirm whether or not any of the text legen

[2016-05-22 20:03] wlbragg commented on #715
@gilbertohasnofb as far as https://github.com/Juanvvc/c172p-detailed/pull/760#issuecomment-220543546
I think we need to change the texture.jpg. I mapped it per the whole thing. I'm not sure it will work to try to change the mapping. Or I am not understanding you.
See below. It is 1 to 1 basically.
![dme1](https://cloud.githubusercontent.com/assets/11069680/15456188/53f16c72-202e-11e6-920b-2769d4cd

[2016-05-23 08:28] gilbertohasnofb commented on #715
So:

- I will work on the texture of the KT76A so that the labels are outside the background. I will make them side by side, ok? Then in Blender you can adjust their positions. Is that all right? So the left bottom of the texture will look like this:

[code]

- about the dme background texture, the problem is that the display background extends below the metallic rim, and you are UV-mapping the wh

[2016-05-23 11:20] gilbertohasnofb commented on #715
@wlbragg done, please do a `git pull` before any further work. The DME is now fixed, and the KT76A is ready for the work with the labels (I also improved the background texture). Let me know if this is what you wanted.

[2016-05-23 17:45] wlbragg commented on #715
Perfect, thank you. I had to make a change though. I needed the background of the kt76a text to be transparent, my mistake. Because of your work of making them on the solid bg it was easy to turn the bg to transparent. I will push it shortly.

[2016-05-23 18:03] gilbertohasnofb commented on #715
:+1: let me know if you need any help with anything, ok?

[2016-05-23 18:15] wlbragg commented on #715
I am having some trouble with the export. It is breaking two of the dials, The far right two. They are showing half the dial through the background? Very weird. I'm debugging now, trying the two ac exporters, maybe the new one doesn't work well on this instrument. What a pain.

One other thing, I think the entire background texture (the part that is all scratched up) is a bit to light now, the tex

[2016-05-23 18:23] wlbragg commented on #715
One angle
![sq1](https://cloud.githubusercontent.com/assets/11069680/15480107/603df50c-20e9-11e6-8ba7-47948aade079.jpg)

The other angle, it's fine except the first digit is gone.
![sq2](https://cloud.githubusercontent.com/assets/11069680/15480113/671abeaa-20e9-11e6-9182-293ad632a633.jpg)

Haven't we seen this problem with something else?

[2016-05-23 18:39] gilbertohasnofb commented on #715
Ok, as soon as you are done let me know so I can darken it via the xcf file.

I personally don't recall it

[2016-05-23 18:57] wlbragg commented on #715
I've seen it somewhere and it seems like there was a reason discovered.

Anyway, as far as I am concerned everything is correct except this weird bug.
I moved my view to the passenger and I can get it all to view perfect. But if I move the view even slightly it either exposes hidden objects or hides objects that aren't suppose to be hidden.
It appears to be a z-fighting issue based on view angle.

[2016-05-23 19:12] gilbertohasnofb commented on #715
I will do it straight away. Also, when I pull your modifications now, can I push the darker texture for the transponder?

[2016-05-23 19:19] wlbragg commented on #715
Yes

[2016-05-23 19:45] gilbertohasnofb commented on #715
Ok, so the darker texture is pushed, so please pull before continuing. As for the bug, I can reproduce it indeed, exactly as you described it... :sob:

Also, I noticed one more thing: the RADIO LT dial lost the behaviour of having no back light but max illumination of the digit readouts of NAV1, NAV2, COM1, COM2 and ADF when set to 0%. @onox had implemented this, and I am afraid it may have got re

[2016-05-23 19:52] wlbragg commented on #715
I actually discovered that and fixed it, unless he also changed something on it. Not that I care who did it but only if he had changed it because I wasn't sure I was fixing it in the right area or property.

If we lost something we may have to get @onox to help revert and go from there. Maybe that is what is causing the NEW bug?

Let me see pull and take a closer look and see where I am at now.

[2016-05-23 19:54] wlbragg commented on #715
If we can't isolate this bug, we may have to transverse history to a point where it isn't there and start over from there, argh!

[2016-05-23 19:59] gilbertohasnofb commented on #715
Well, all textures and xcf files are also stored in the other repository, so from my side there would be no loss, but I imagine you may lose a lot of work doing this. Let's just not be too drastic yet and try to figure out what is going on.

So first, I did not understand from your messages if you can reproduce that the RADIO LT dial when set to 0% is not activating daylight mode any longer (i.e.

[2016-05-23 20:08] wlbragg commented on #715
Uh oh, run this by me again. Are you saying that when the Radio LT is to 0 that their is suppose to be a mode that turns on all digit but not the buttons?

If so, I cause that intentionally, I didn't realize that was a feature!

[2016-05-23 20:13] wlbragg commented on #715
This is the commit I changed the behavior of Radio LT set to 0.
https://github.com/Juanvvc/c172p-detailed/pull/760/commits/5b2524672388411fb0ac0b37b39746f40afc2573

[2016-05-23 20:16] wlbragg commented on #715
OK, after re-reading I guess I need to know "EXACTLY" what lights need to be illuminated when in "daylight mode". I'm sure I screwed with that unknowingly.

[2016-05-23 20:17] gilbertohasnofb commented on #715
Hehe, that was a feature indeed. It's a daylight mode, so that the digital readouts should be at maximal illumination and all analogue readouts as well as buttons should be without illumination

[2016-05-23 20:19] gilbertohasnofb commented on #715
So:

- both frequencies of COM1, COM2, NAV1, NAV2
- all information in the ADF display
- all information in the DME display (including the dot, MILES, KTS labels)
- all information in the autopilot display
- the transponder is analogue and should not have lights I believe

See for instance: https://github.com/Juanvvc/c172p-detailed/issues/715#issuecomment-220509316

[2016-05-23 20:20] gilbertohasnofb commented on #715
Once you have a fix for that, let me know and I will check all displays one by one and report any issue, ok?

[2016-05-23 20:23] wlbragg commented on #715
Yes, except I am really concerned about the new BUG and wonder if we shouldn't get to the bottom of it before any more work, in case we have to revert?

I was thinking of doing a history regression and see if I can identify the commit that may have broke it.

[2016-05-23 20:25] gilbertohasnofb commented on #715
Sure! I didn't mean to say we need to fix the RADIO LT knob right now, I agree with you it's safer after tackling the transponder 3D model bug. Just take your time, and once the RADIO LT daylight mode is re-implemented I will test it and confirm if everything is as it should be. Is that fine?

Also, let me know if I can help somehow with this bug, at least reproducing or testing something over her

[2016-05-23 20:26] wlbragg commented on #715
OK, I'm reverting through history to see if I can find it. I'll post as soon as I have anything.

[2016-05-23 20:27] gilbertohasnofb commented on #715
:+1:

[2016-05-23 20:42] wlbragg commented on #715
It's my commit ab1274e88ce40e3ada51d6e9781a8d249e75ccae
But I don't know why. It has to be something I'm doing wrong changing to the new texture.
So here is what I am going to do, I am going to revert to were it is not broken, use your latest texture (the one you darkened back up) and see if I can get a good ac. If I do then we need to discuss how to proceed. I should have never pushed the change

[2016-05-23 20:44] gilbertohasnofb commented on #715
Random idea, could it the alpha channel in the png that is causing the issue? I have seen png files with alpha channel causing all sorts of troubles...

[2016-05-23 20:53] wlbragg commented on #715
Yes, that's it. I pretty much just verified it.
Good catch.
Can you take the old texture and try to do what I did by adding the transparency, pushing the new one and the let me try it?

[2016-05-23 20:54] wlbragg commented on #715
Or even just creating a new texture from the "non trans" version, and you change the trans on it. If it works you'll see it locally, that it is correct now!

[2016-05-23 20:55] wlbragg commented on #715
Then you can push it and it should be all fixed and we can move on.

[2016-05-23 20:59] gilbertohasnofb commented on #715
I tested that already, when I add trasnparency behind those labels it's still causing the bug. I think we need a solid background there.... any ideas?

[2016-05-23 21:02] wlbragg commented on #715
Make the background where the text is, as close to black as possible, even if it means completely redoing the background texture, You should still be able to "age" it, just not where the text we're lighting is.

[2016-05-23 21:03] gilbertohasnofb commented on #715
Ok. So should I put the labels back where they were in the background texture (above the BENDIX text) or should I keep them in the bottom?

[2016-05-23 21:04] wlbragg commented on #715
It won't matter as long as they match, so I'd just leave them where they are at.

[2016-05-23 21:04] gilbertohasnofb commented on #715
:+1:

[2016-05-23 21:10] gilbertohasnofb commented on #715
Done and pushed. And it fixed the bug here :smile: :tada:

[2016-05-23 21:15] wlbragg commented on #715
Good, let me pull and move forward! :clap:

[2016-05-23 21:16] gilbertohasnofb commented on #715
Perfect! so once this is confirmed working, we can tackle the daylight mode and then we should be back on track! :smile_cat:

[2016-05-23 21:19] wlbragg commented on #715
Perfect, looks good! I'm now working on daylight mode.

[2016-05-23 21:30] wkitty42 commented on #715
i got word back from bendixking about the KI-266 DME display device...

The bottom is small annunciator light for the "Rechannel Warning" indication.

so this seems to kinda go along with the work on the light brightness knobs... the KI-266 dims on its own when it gets darker... its brightness is not driven by any knobs on the console...

what they mean by rechannel warning i have no idea...

FWIW

[2016-05-23 21:34] gilbertohasnofb commented on #715
@wkitty42 thanks for the trouble of writing them, great to hear back from Bendix!

So what does "Rechannel Warning" actually mean? When is this warning activated? (I have no clue what rechanneling mean in this context).

[2016-05-23 21:37] wlbragg commented on #715
Thank @wkitty42

@gilbertohasnofbs
Should the ADF digital displays and the DME digital displays match the intensity of the nav/com's when stepping from 0.0 to 0.1?
Right now the nav/com's at the first positive step from 0 to +0 is brighter than the ADF and DME which are almost dark at that first step.
I'm not talking about when they are at 0, I already fixed that and understood what it is suppose

[2016-05-23 21:40] wlbragg commented on #715
Turn Radio LT off, then step up to on, see how the nav/com's are fairly bright but the afd and dme are still almost dark?

[2016-05-23 21:43] gilbertohasnofb commented on #715
I suppose so. I think that if the radios have a little different intensities (and intensity curves) is not a problem, as very likely in RL these small discrepancies also happen as a radio stack is literally a stack of several different equipments, often by different manufacturers, made in different eras with different types of technology, etc. Just try something you think looks good then we can tw

[2016-05-23 21:44] gilbertohasnofb commented on #715
Oh, I see now what you mean! I would probably bring the NAV and COM radios down instead of pushing the ADF and DME up.

[2016-05-23 21:44] wlbragg commented on #715
Same question for the autopilot.
Also for the autopilot, I'm unclear on its behavior. It appears to be 'off" by default until you hit the AP button, but then you can't turn off the digital display by hitting it again, how does that work?
Right, when you first enter sim the AP is dark even in "daylight mode" until you first hit AP, then you can't ever get it dark again?

[2016-05-23 21:45] wlbragg commented on #715
:+1:

[2016-05-23 21:47] gilbertohasnofb commented on #715
That thing is a monster that I don't like to touch. I never feel it's doing what it's suppose to do... personally I would leave it as it is and tackle it in the future (let's open an issue about it), else this PR will get immense. About the AP, it indeed looks buggy... sometimes by clicking several times on the main arm/disarm button, I manage to get the display dark again, but not always.

But as

[2016-05-23 21:49] gilbertohasnofb opened #769 "Autopilot seems buggy"
Autopilot seems buggy

@wlbragg wrote:

I wrote:

[2016-05-23 21:49] gilbertohasnofb commented on #715
See: https://github.com/Juanvvc/c172p-detailed/issues/769

[2016-05-23 21:51] wlbragg commented on #715
OK, for the fun of it check this out for the record, we can move it to the new PR.

hit AP, hit it again, pull autopilot breaker, push autopilot breaker

pull autopilot breaker, wait till all AP digital display go black, push autopilot breaker

hit AP,  pull autopilot breaker

OK, let me finish up on the "daylight mode", then I'll push.

[2016-05-23 21:53] wlbragg commented on #769
One issue is

hit AP, hit it again, pull autopilot breaker, push autopilot breaker

pull autopilot breaker, wait till all AP digital display go black, push autopilot breaker

hit AP, pull autopilot breaker

Another issue I have had "every time I use it" after flying for x-time it suddenly re-configures itself and put's me into a spin that is usually catastrophic.

[2016-05-23 21:56] wlbragg commented on #715
If were pretty sure the lighting assignments are correct, I am going to start to remove commented out sections and correcting tab alignment?

[2016-05-23 22:05] gilbertohasnofb commented on #769
@wlbragg yes, I can reproduce that, amazing catch! How did you find it?! It's a bit like the Konami cheat code :arrow_up: :arrow_up: :arrow_down: :arrow_down: :arrow_left: :arrow_right: :arrow_left: :arrow_right: :b: :a: , isn't it? :stuck_out_tongue_winking_eye:

[2016-05-23 22:06] gilbertohasnofb commented on #715
Did you push the fixes to the daylight mode? I don't get anything with a `git pull`

[2016-05-23 22:18] wlbragg commented on #715
Not yet, I'm trying to track down the comm/nav brightness.

[2016-05-23 22:19] gilbertohasnofb commented on #715
@wlbragg I am heading off for tonight, but tomorrow I am back. If there is anything that I can do to help with these issues besides testing, just write it here and I can tackle it tomorrow in the morning. Thanks for the good work!!

[2016-05-23 22:19] gilbertohasnofb commented on #715
No rush at all. Just let me know once you push fixes so I know what to look for while testing. Take care!

[2016-05-23 22:21] wlbragg commented on #715
I'm going to go ahead and push it where I'm at. It's going to take some time to figure out why the comm/nav is so bright compared to the others.

I'll be pushing in a minute or two.

[2016-05-23 22:22] gilbertohasnofb commented on #715
In that case I will wait and take a look at it now :smile:

[2016-05-23 22:29] wlbragg commented on #715
It's pushed.

[2016-05-23 22:34] gilbertohasnofb commented on #715
Looks perfect! :+1: Great, so after things looking quite bleak earlier on today everything seems to be fixed now, wonderful job!

So now what is missing before a merge? The com/nav brigthness curve and what else?

[2016-05-23 22:36] wlbragg commented on #715
Is the DME background fixed?

[2016-05-23 22:36] wlbragg commented on #715
Also the ADF background object we talked about?

[2016-05-23 22:38] wlbragg commented on #715
I also want to verify if any of the other knobs text legend choices are backlit (specifically kma20 and dme)?

[2016-05-23 22:39] wlbragg commented on #715
I think that is it!

[2016-05-23 22:41] gilbertohasnofb commented on #715
The position yes, but the background of the DME and of the ADF looks a tiny weeny strange at night, since you can tell the rectangles around each digit. But to be honest, it's such a small thing that I am willing to let it pass if it's too much trouble fixing it... and I think the only way would be to create a 3D object behind the digits with the contour of the whole displays but with the same mat

[2016-05-23 22:42] wlbragg commented on #715
OK, I'm willing to cal that good. We can merge and if we find

Then we can deal with it later.

[2016-05-23 22:43] gilbertohasnofb commented on #715
Ok. So just the com/nav curves and we are good to merge I think!

[2016-05-23 22:49] wlbragg commented on #715
OK, I have to step away for awhile, I'll try to track it down later tonight.

[2016-05-23 22:49] wlbragg commented on #715
Thanks for all the help!

[2016-05-23 22:50] gilbertohasnofb commented on #715
Thank _you_ for all the hard work! I am also leaving now, so we continue tomorrow. Cheers!

[2016-05-24 04:19] wlbragg commented on #715
I have some question about some of these instruments and their xml configurations.

There is several blocks of code in the following xml's that I don't know what it is for. It appear to do nothing unless it is needed for Rembrandt.
If you comment out these blocks it doesn't appear to change any of the visuals. Also these blocks are only in some of the equipment.

KT76a
[code]

KX165-1
[code]

KMX1

[2016-05-24 04:48] onox commented on #769
This is sort of a duplicate of #603?

[2016-05-24 06:14] gilbertohasnofb commented on #769
Sort of yes, I suppose. What do you recommend, shall we move all these comments to that issue there and close this one?

[2016-05-24 06:15] gilbertohasnofb commented on #715
Hmm, I have no idea. If @onox also doesn't know, maybe we could ask about it in the forum?

[2016-05-24 14:29] wkitty42 commented on #715
On 05/23/2016 05:34 PM, Gilberto Agostinho wrote:

i think the rechannel warning is probably indicating that the radio signal is
weak and the radio channel needs to be changed to pick up a stronger channel...
at least from the little bits that i've been able to find with "rechannel"
listed in them and related to the equipment in the 172p...

[2016-05-24 15:32] gilbertohasnofb commented on #715
@wkitty42 :+1:

[2016-05-24 18:15] wlbragg commented on #769
Yeah, I thought it really strange. I found it because I was trying to see if there was any way to completely remove power from the Autopilot. I ended up at the breaker, that is when I noticed it had a very strange behavior.

[2016-05-28 13:59] onox commented on #763
I don't see the error either, even when starting with the amphibious.

[2016-05-28 19:04] wlbragg commented on #763
I'm using the Internal QT-launcher, no changes to log level. I just pulled a clean master from dev and now I am getting all this.
[code]

[2016-05-28 19:08] wlbragg commented on #763
This was the starting configuration

![err](https://cloud.githubusercontent.com/assets/11069680/15629392/8e39cca4-24dd-11e6-9001-1e84f830376d.jpg)

[2016-05-28 19:20] gilbertohasnofb opened #770 "Make radio stack brightness curve consistent"
Make radio stack brightness curve consistent, since right now some displays of the radio equipments get brighter "faster" than others when using the RADIO LT knob. They are:

fast: COM1, COM2, NAV1, NAV2
slow: ADF, DME, AP

Personally, I would make the COMs and NAVs get brighter a bit slower when turning the knob.

[2016-05-28 19:21] wlbragg commented on #763
I decided to change config and save state then restart in case it was corrupted from saving state in one branch and then loading from another.
I got this
[code]
with this config as the previous saved state
![err2](https://cloud.githubusercontent.com/assets/11069680/15629482/7012b7de-24df-11e6-8973-1a064bd062bc.jpg)
So don't know what is going on here.

[2016-05-28 19:24] gilbertohasnofb opened #771 "Propeller disk looks red under certain circumstances"
Propeller disk looks red under certain circumstances: try loading the plane in the weather preset "low pressure system" and advance the time from dusk to evening by holding the key `t`, advance the time towards evening. At a certain point, the back of the propeller disk look red, while the front looks normal. See:

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/5700795/15629502/5cb1

[2016-05-28 19:31] gilbertohasnofb commented on #763
@wlbragg I tried the same configuration of your screenshot above, but using FGRun I get no errors on my console (2016.1.1 stable).

[2016-05-28 19:43] wlbragg commented on #763
I'm getting this in the two c172p branches I have tried (master and kr87-kap...) using FG next, fgdata next. I guess I'll ignore it for now, might be a cache bug.

[2016-05-28 19:44] gilbertohasnofb commented on #763
My test was on `master`

[2016-05-28 21:03] #715 closed

[2016-05-29 23:52] gilbertohasnofb opened #772 "VOR patch"
David Megginson posted in the list:

[code]

Indeed our VORs use the properties:

- `/instrumentation/nav[0]/filtered-gsNAV0-deflection`
- `/instrumentation/nav[0]/filtered-cdiNAV0-deflection`
- `/instrumentation/nav[1]/filtered-gsNAV1-deflection`
- `/instrumentation/nav[1]/filtered-cdiNAV1-deflection`

as opposed to his patched versions:

- `/instrumentation/nav[0]/gs-needle-deflection`
- `/instr

[2016-05-30 01:26] wkitty42 commented on #772
he said the c172p wasn't affected... plus i've searched the commit logs for
fgdata and not found anything removing or changing those properties...

[2016-05-30 09:44] gilbertohasnofb commented on #772
I understand that David wrote that the c172p wasn't affected. My point is that if his patch really fixes the VOR code in the base package, then it means those properties were the problem. And if they were the problem, then it begs the question on how on Earth our VORs are not being affected.

[2016-05-30 14:28] wkitty42 commented on #772
On 05/30/2016 05:44 AM, Gilberto Agostinho wrote:

exactly :)

[2016-05-30 16:04] gilbertohasnofb commented on #772
Aha, it looks like our `c172p/Systems/instruments.xml` contains a bunch of filters converting the correct properties into the ones that are supposedly causing problems in other aircraft. So maybe this instrument was broken when someone used pushed the VORs from the c172p (in the old times) from the c172p project without realizing that. So I think we are golden and we can close this.

[2016-05-30 16:06] #772 closed

[2016-05-30 16:11] gilbertohasnofb opened #773 "Airspeed indicator is broken!"
Reported by mifi in the forum:

Indeed I can reproduce it. I found that our `c172p-set.xml` file contains the following code:

[code]

Are we still using the `instrumentation/airspeed-indicator/serviceable` property to break the AI? Because that's the only mention of it I could find in the whole project using `grep -R "instrumentation/airspeed-indicator/serviceable" *.xml`.

[2016-05-30 16:12] wlbragg opened #774 "Indicated airspeed needle is not moving"
Reported on the c172p forum thread.
https://forum.flightgear.org/viewtopic.php?f=4&t=25157&p=287039#p287025

I verified in our master that this is not working.

[2016-05-30 16:13] #774 closed

[2016-05-30 16:13] gilbertohasnofb commented on #774
Duplicate, see: https://github.com/Juanvvc/c172p-detailed/issues/773

And I am about to push a PR fixing it

[2016-05-30 16:17] gilbertohasnofb commented on #774
Please see https://github.com/Juanvvc/c172p-detailed/pull/775

[2016-05-30 16:21] wlbragg commented on #774
:+1:

[2016-05-30 16:26] wlbragg commented on #773
So if you remove the pitot cover this is set to true?
If pitot condition is persistent data, why does this break it?

[2016-05-30 16:27] gilbertohasnofb commented on #773
I think the problem is that in the past we used that `serviceable` to break the AI, but now we use some other method. So now regardless of the cover, the `serviceable` should be always `true`.

[2016-05-30 16:27] wlbragg commented on #773
Meaning we never change this when the cover is removed?

[2016-05-30 16:28] gilbertohasnofb commented on #773
Yep! In the past it used to, but I think there was some huge overhaul of the original code of the tiedowns, pitot cover, etc. some time ago, and since then the techniques used changed. But it seems this little detail went unnoticed

[2016-05-30 16:33] wkitty42 commented on #772
that's possible... i saw, yesterday while digging about, two files named like c172p-vor1.xml... i don't recall what directory they were in, though...

perhaps the real fix is to either have our filters pushed over there or for us to switch to the new stuff? i don't know and don't have the knowledge to dig into the code for both and compare them with identical test values...

[2016-05-30 16:34] wlbragg commented on #773
Is there any reason we might want to keep the airspeed-indicator/serviceable parameter but make it "true". Does it need to exist for any other reason like "failure" code?

[2016-05-30 16:51] onox commented on #773
I barely know what this bug is about, but is this bug one those that are solved by throwing away some temporary files in `.fgfs/`?

[2016-05-30 18:28] gilbertohasnofb commented on #773
I tried that, for me it doesn't solve. The problem is kind of simple: if the property `instrumentation/airspeed-indicator/serviceable` is set to `false`, then the AI fails. I used this property when I first implemented the pitot cover. Now, as far as I could tell, our -set file sets it to `false` but no other code sets it back to `true`, so regardless of what I do it's broken! So even if one delet

[2016-05-30 18:53] wlbragg commented on #773
We have another possible issue
https://forum.flightgear.org/viewtopic.php?f=25&t=29694
Aircraft won't start. I'm trying to get a bit more info though before moving it here.

[2016-05-30 18:58] gilbertohasnofb commented on #773
When the guy gives more info about it I will try to reproduce. Right now I can start the aircraft without any problems even in very cold weather (tested now at -10 oC)

[2016-05-30 19:08] wlbragg commented on #773
The airport is too high.

[2016-05-30 19:21] wkitty42 commented on #773
On 05/30/2016 02:53 PM, wlbragg wrote:

i'm pretty sure it is altitude related... the airport in question is at 13700ft
MSL and our craft has a service ceiling of 13000ft to 13500ft... he mentioned
the piper working which has a ceiling of 14300ft...

i have flown our craft to 13500ft and had some winds push me up to 13700ft but i
never tried turning off the engine and restarting it at that altitud

[2016-05-30 19:21] gilbertohasnofb commented on #773
OMG, the airport is at 13.700 and the temp is -10, no wonder that poor engine can't handle it !

[2016-05-30 19:27] wlbragg commented on #773
Anyone know where the code that limits the ceiling is?

[2016-05-30 19:29] gilbertohasnofb commented on #773
This is a guess, but I don't think it's that simple as a limitation. I think it is due to a bunch of factors (density, pressure, humidity, etc.) which the engine probably takes into account.

[2016-05-30 19:33] wkitty42 commented on #773
yup, that's my impression, too... you can fly up there but apparently you can't start up there... when i was testing that scenario, the autostart just kept turning over and over until i finally hit the 's' to stop it...

[2016-05-30 19:34] wlbragg commented on #773
I guess the only thing that would concern me is if we aren't portraying this behavior accurately enough.

[2016-05-30 21:49] wkitty42 opened #776 "Error message: sound volume too large for cough"
I'm seeing a lot of these. A lot is a really really large number scrolling by. Not just a couple a second but a lot. This might be because I'm at 15000 ft, throttle wide open, 95 kt IAS, 138 kt GS. I don't know but the engine (180HP) sounds like it normally does. I'm just seeing these flying across the console.

[code]

[2016-05-30 23:11] onox commented on #773
`serviceable` properties of ASI and AI are true when I start FG with the c172p.

[2016-05-30 23:13] gilbertohasnofb commented on #773
And can you confirm your `c172p-set.xml` file has it being set to `false` on line 602? If so, then how on Earth is it changing to `true` when the property isn't mentioned on any other file of our project?!

[2016-05-30 23:14] onox commented on #773
What kind of mixture does he use? Trying to start the engine at 13700 ft is a bit insane

[2016-05-30 23:15] onox commented on #773
I'm at the latest commit in `master`, so yes, it is set to false in the file. Maybe it's done by some C++ in FG itself.

[2016-05-30 23:17] gilbertohasnofb commented on #773
And for the note, autostart always set mixture to full rich

Anyway, I would recommend removing that property from the set file since we are not using it anymore, and since it fixes the airspeed indicator at least on my side. @wlbragg do you also see the ASI problem? And does it go away on branch `bug-773`?

[2016-05-30 23:24] onox opened #777 "Key in ignition slot disappears while holding "s" key"
If you hold the "s" key to start the engine, the key in the ignition slot disappears.

[2016-05-30 23:27] gilbertohasnofb commented on #777
Confirmed

[2016-05-30 23:35] wkitty42 commented on #777
confirmed over here, too... i saw it earlier when testing the start on the rwy at VI66 (13700ft)...

[2016-05-31 02:27] wlbragg commented on #777
Wow, that is a regression, I remember fixing this before.

[2016-05-31 02:33] wlbragg commented on #773
Hum, still not working in branch bug-733?

[2016-05-31 02:42] wlbragg commented on #773
Not only that but if I put it back in and set it to true it works. So unless someone wants to track down exactly what it is for and doing, I would suggest leaving it in and setting it to true (we would need to test if the pitot cover still works. If not then it would need to be set to false when the cover was on.

[2016-05-31 02:52] wlbragg opened #778 "Tire smoke not behaving as originally programmed."
Somewhere along the way the behavior of the tire smoke got changed. Originally I had it programmed (by consensus) to behave a very specific way.

The way it used to work had two different behaviors. One was touchdown smoke only when on the runway. I remember it used the fgdata built in tire smoke code which allowed for the tire smoke to only happen right at touchdown. The only other time we allowe

[2016-05-31 11:59] gilbertohasnofb commented on #773
Can you please check the value of `instrumentation/airspeed-indicator/serviceable` in the property tree? And did you try it only once or twice? It might be necessary to load the sim twice to fix it on that branch because the value of that property was saved on exit, so the first time you load it the sim will load it to be `false`. But then next time you quit that property won't be saved at all in

[2016-05-31 15:27] gilbertohasnofb commented on #778
That sounds really reasonable to me. What is the problem with the current status, how is it different than what you wrote?

[2016-05-31 15:42] wkitty42 commented on #773
FWIW: serviceable being true seems to be the key... i was going to do the above but forgot to load, exit, reload... but i went ahead and looked at that property... it was false and ctrl-clicking on it set it true and immediately the device started working... i'm on the master version of the craft... after this flight is completed, i'll try it again and see what happens...

note: at this time, duri

[2016-05-31 19:12] wkitty42 commented on #773
ok, following up on my post above... i had set the instrumentation/airspeed-indicator/serviceable property to true while flying the master c172p... after i landed and exited the sim, the property was (still?) written to the .fgfs/aircraft-data/c172p.xml file with "true"... i loaded the sim again and the airspeed-indicator was working properly...

i'm starting to wonder how and when the property wa

[2016-05-31 19:27] gilbertohasnofb commented on #773
@wkitty42 was this done on `master` branch? It's strange that the -set file wouldn't override the saved status of that property: that is, I imagined it would force it to false next time you loaded the sim.

@all But personally, I think the most obvious way of solving this is really what I did on the PR https://github.com/Juanvvc/c172p-detailed/pull/775 since there is no reason for us to neither se

[2016-05-31 21:30] wlbragg commented on #778
Versus how it was originally
Tire smoke on touchdown only (fast spin, I don't remember exactly). Just a puff. Constant "dust" on greater than 1 surface type at speeds exceeding 20 kts or so.

[2016-05-31 21:55] gilbertohasnofb commented on #778
Ok, I think I get it. So isn't this simply the case of reverting to the behaviour your implemented? Are you able to find which commit changed it?

[2016-05-31 22:40] wlbragg commented on #773
@gilbertohasnofb I'm not sure I did exactly what you requested, but I can tell you this. With out the  serviceable property being defined in the set, I now have it show up in debug but it is set to true. I set it to false manually, closed the sim, restarted the sim and it was set back to true. The odd thing being I have that property at all. Bottom line is it seems to work. I tested the pitot cove

[2016-05-31 22:47] gilbertohasnofb commented on #773
So in that case I think we are ready to merge that PR. @onox do you have anything for/against it?

@wkitty42 did you test the branch `bug-773` and does it fix the issue for you? You can try following these steps: https://github.com/Juanvvc/c172p-detailed/issues/773#issuecomment-222667823

I just want to confirm this fixes the issues to everyone, since it seemed that each of us were experiencing th

[2016-06-01 03:27] wlbragg commented on #778
Unfortunately not that easy. This happened when @onox refactored from nasal to autopilot/fdm code. It will take a bit of effort to figure out exactly how to layout the touchdown portion, but the off road dust is a minor adjustment.

[2016-06-01 14:10] wkitty42 commented on #773
On 05/31/2016 03:27 PM, Gilberto Agostinho wrote:

yes, thus my use of "master" ;)

it doesn't really matter to me... if we don't need to save this property then
let's remove it from the aircraft-data file...

i'm assuming that the pitot cover still makes the device read zero if we forget
to remove it? it does when i test it in master by rolling down the runway with
it on... then when i stop and r

[2016-06-01 14:13] gilbertohasnofb commented on #773
Ok, thanks a lot!

So what about this: let's force the property to `true` via the -set.xml file, but let's remove it from the aircraft-data file. This will surely solve any possible problems and will not conflict with the pitot cover. It will also override any saved data from old aircraft-data files that some users might have on their computers, thus forcing the bug to be solved. What do you all t

[2016-06-01 14:26] wkitty42 commented on #773
On 05/31/2016 06:47 PM, Gilberto Agostinho wrote:

i have not tested against any branch other than master... TBH, i'm not sure how
i would do that... is it simply a matter of checking it out, running the sim and
then remembering to check out master when done? i guess the
aircraft-data/c172p.xml file should be deleted each time a different branch is
tested??

i didn't see the bug at all until i del

[2016-06-01 15:21] wkitty42 commented on #773
On 06/01/2016 10:13 AM, Gilberto Agostinho wrote:

that sounds fine to me...

[2016-06-01 16:49] wlbragg commented on #773
Why do we have to do this? Is it because on a clean install it defaults to "false"? Because as I said, mine now defaults to true no mater how I leave the state of serviceable when I exit the sim.

[2016-06-01 16:57] gilbertohasnofb commented on #773
IMO it's not necessary, but if someone has the aircraft-data file then for the first time it will load the `false` value (since it was saved from the previous version). Then IF the person quits the sim correctly (not by clicking on the x), that file will be overwritten and there will be no value for that property, and FG default is obviously `true`. So if we set it to `true`, we avoid that an user

[2016-06-01 17:08] wlbragg commented on #773
Hum, I see the predicament. Well the only way to insure the problem doesn't bite someone is to default it to true in the set or on init with a if false = true.

Or we can just make a statement on the c172p thread explaining the potential problem and solution.

[2016-06-01 17:11] gilbertohasnofb commented on #773
@onox any opinions on this at all? Can I go ahead and set it to `true` and we are good to go?

@all I _really_ think we need to act as fast as possible, 2016.2.2 is around the corner and we can't just ship it with a broken airplane!

[2016-06-01 17:12] wlbragg commented on #773
Just do it, we can always remove it later after a few FG versions go by. I'll still post something on the forum explaining what's up.

[2016-06-01 17:13] wlbragg commented on #773
Pending @onox's reply. :smile:

[2016-06-01 17:14] gilbertohasnofb commented on #773
Ok, so as soon as @onox reply (and if it's a green light) then I will go ahead and push the commit changing forcing that property to `true`

And in the forum you won't need to go into much details, since this solution will surely fix it for everyone. So you can just say we found the bug and solved it. Though that's up to you.

[2016-06-03 05:23] wlbragg commented on #778
My mistake, after looking at this a little closer it is still behaving as before. I was operating on a dirt runway, thus I was getting dust at > xspeed. If I go to a paved airport you don't get any dust, only a puff of touchdown smoke upon landing fast and hard.

So I am closing this.

[2016-06-03 05:23] #778 closed

[2016-06-03 19:56] gilbertohasnofb opened #779 "Better propeller sound"
Create better propeller sound as the `wasp.wav` isn't really a very good quality sound

[2016-06-04 10:46] gilbertohasnofb commented on #773
@onox? Are you there?

[2016-06-04 14:53] onox commented on #773
Yes, I'm still here, but I'm a bit busy with non-FG OSS projects.

[2016-06-06 13:55] dg-505 opened #781 "Pitot cover set systems/pitot/servicable to false?"
Hi,

this is a small suggestion for an enhancement.
In it's current configuration the pitot-cover-visible sets the property `/instrumentation/airspeed-indicator/indicated-speed-kt` to 0.0. (See lines 7202-7232 in c172p/Models/c172p.xml)

To be honest I think that's not very realistic, because in reality, when the pitot tube is blocked, the ASI will indicate accelerating durinc climb, and it indica

[2016-06-06 14:21] algefaen commented on #781
To simulate this behaviour realistically, won't we have to implement a proper pitot static system which simulates all the [pitot static errors](https://en.wikipedia.org/wiki/Pitot-static_system#Pitot-static_errors)? There's some pretty fun things happening in that system, for example if you fly straight and level and pull on the yoke, the VSI can indicate negative climb a fraction of a second befo

[2016-06-06 15:45] wkitty42 commented on #781
On 06/06/2016 10:21 AM, algefaen wrote:

we just removed a line that set serviceable to false because there wasn't
anything else that ever set it to true... effectively a bug because the ASI
didn't work unless you manually went and set the property to true...

ow, neuron! yeah, ok... the line wasn't removed but changed to force true to
ensure the device works and repair the bug in those craft alre

[2016-06-06 16:48] dg-505 commented on #781
IMHO for failure modes it would be enough if we could implement somenthing like the follwing table, as this isn't a pitot tube simulator (like @gilbertohasnofb said once) :wink:

| Instrument |                  Blocked static port                  |                   Blocked pitot tube                  | Both blocked           |
|:----------:|:-----------------------------------------------------:

[2016-06-06 19:59] onox commented on #781
The pitot tube system is already set to enabled/disabled in `Systems/indicated-airspeed.xml` (lines 84 to 91)

I'm not sure why that second `<binding>` in `Models/c172p.xml` still exists though. Maybe we didn't see it.

[2016-06-06 20:24] dg-505 commented on #781
Okay, after some testing I see that the indications of ASI, Altimeter and Varion are indeed correct :+1:

[2016-06-06 20:24] #781 closed

[2016-06-07 17:40] wlbragg opened #782 "Create a particle lighting control system"
Per Thorsten's advice I want to change the emissive value to true on all smoke and water particle effects, same as @onox did for the prop spray. I didn't want to potentially waist time with this without prior consent.

I tested the difference on all the "same" j3cub effects, sunset, clear skies. It appears you lose any atmospheric lighting changes in the effect (or they are very subtle) but we won

[2016-06-08 08:44] dany93 opened #783 "Rolling friction adjustments for blown tires"
Not an issue, but maybe something which might be used for setting friction damage when a gear is broken (If I remind well, you used brakes ? Although I've nothing to say, it works well...).
Development ‹ Aircraft > Taxiing the DC-3
by Thorsten » 08 Jun 2016, 06:56
https://forum.flightgear.org/viewtopic.php?f=4&t=29667&sid=fcf2ea4964d40e005df6644b149660dd&p=288079#p288079

[2016-06-09 02:58] wlbragg commented on #783
Actually I think we are using a separate set of contact points (not bogie) with their own friction factor. But this would be useful for a "blown" tire.

[2016-06-13 23:24] gilbertohasnofb commented on #773
@onox I totally understand that, but if you have a chance to reply we are just waiting for a single opinion on this issue: should we set the property to `true` to avoid any issues that could be caused by the `.fgfs/aircraft-data/c172p.xml` or should we remove any mention of it from the set file? I think both @wlbragg and I prefer the first, as it avoids possible problems for all users under the co

[2016-06-14 14:46] onox commented on #773
i don't have any opinion about the issue, so you can add that single line if you want.

[2016-06-14 14:46] gilbertohasnofb commented on #773
:+1:

[2016-06-14 14:54] onox commented on #782
Sure go ahead. Just make sure you name the branch `bug-782` so that it can be easily found.

[2016-06-14 20:08] #773 closed

[2016-06-20 17:51] wlbragg opened #784 "Why set parking brake on damaged left/right gear?"
[code]

I ask because we extend contact points 7 and 8 to be the WOW points and they have their own friction factors?

[2016-06-20 22:44] onox commented on #784
Extend? Do you mean the z-position? Where is that hapenning?

[2016-06-21 00:15] wlbragg commented on #784
Yes, in c172p-ground-effect.xml. I was implementing the j3cub's damage logic and noticed both the brake being set and contact points 7/8 z-pos being moved.

I think the brake is too hard but the contact point may be too soft (ie:too much and too little friction).

I also remember before the FDM refactoring that I used the z-pos of a structure point to cause the extra friction needed.

[2016-06-21 12:32] gilbertohasnofb opened #785 "Command line option for nav radios"
User mgc posted in the forum: https://forum.flightgear.org/viewtopic.php?f=35&t=29883

I'm trying to set up the initial nav radio frequency and selected course using the following guidance > on the command line options page (http://wiki.flightgear.org/Command_line_options):

[2016-06-21 12:55] wkitty42 commented on #785
On 06/21/2016 08:32 AM, Gilberto Agostinho wrote:

[trim]

these two are definitely not the proper format... to have the radial and the
frequency, it would be like this...

   --nav1=310:110.9

this should work for just the frequency...

unless they're being overridden when the previous settings are loaded from the
aircraft data file, i don't have a clue... i've actually not tried using these
comm

[2016-06-21 15:32] gilbertohasnofb opened #786 "In-air vs on-ground starts"
Merge James Turner's commit for In-air vs on-ground starts

[2016-06-21 18:07] gilbertohasnofb commented on #785
@wkitty42 Thanks for the info. As soon as the problem is completely cleared in the forum (with hopefully the user reporting that all works again) then I will close this, ok?

[2016-06-21 19:07] gilbertohasnofb commented on #785
The last post in the forum states that the problem is that we save the frequencies (and a lot more) in that data file in the folder `.fgfs`, and so the command line option doesn't work. If that's correct (needs to be confirmed) then do we want to try to fix it somehow? Personally I can't imagine why someone would need to set the radios via the command line.

[2016-06-21 22:33] gilbertohasnofb commented on #785
@wkitty42 maybe you can tell that user in the forum that he actually can turn off the saving states option in the aircraft menu, maybe then the command line will work.

[2016-06-22 04:45] wkitty42 commented on #785
On 06/21/2016 06:33 PM, Gilberto Agostinho wrote:

interesting... i hadn't thought about that... if saving is turned off, does the
craft still read the existing settings from the aircraft data file? i will
mention it, though...

[2016-06-22 12:48] gilbertohasnofb commented on #785
@wkitty42 Hmm, I just tested that and it didn't work, it seems the command line options really aren't working in our plane, maybe even for another reason :cry:

[2016-07-05 20:49] #786 closed

[2016-07-08 16:13] wlbragg opened #789 "Create startup states and save mission state"
See https://forum.flightgear.org/viewtopic.php?f=17&t=29993#p290183

Think it would be possible to implement something like this as a saved state to allow a convenient way to continue a session?

Other thought's would be adapting the flight recorder to accomplish the same thing?

Just a thought, we may want to discuss it.

[2016-07-08 19:23] gilbertohasnofb commented on #789
That sounds super interesting -- I'd love to have this feature -- but how would we override the FG launchers? That is, every launcher for FG I know must have a start location defined. Is there any way to go around this?

[2016-07-08 19:27] gilbertohasnofb opened #790 "absolute position for instruments in individual .ac files"
Thorsten wrote:

@wlbragg wrote:

I personally think it would be really worth to do it, so that all instruments can respond properly to the effects. But maybe, if we are still considering fixing https://github.com/Juanvvc/c172p-detailed/issues/6 and https://github.com/Juanvvc/c172p-detailed/issues/216 (which are fundamental to have a properly looking cockpit IMO) then we maybe should wait for thos

[2016-07-08 19:45] wkitty42 commented on #789
On 07/08/2016 03:23 PM, Gilberto Agostinho wrote:

it sounds nice and may be something to consider once the state file stuff is
finalized...

i think that's the problem that will stop this from being done in-craft... the
users must specify their starting location... until parking is repaired in the
sim code, there's going to be complaints about it not working...

part of the new state setting stuf

[2016-07-08 19:49] gilbertohasnofb commented on #789
Maybe an option to start at the previous location could be available in the launcher rather than in-craft. It would make much more sense IMO.

[2016-07-09 03:23] wlbragg commented on #790
Yes, for sure we would only want to do this once.

[2016-07-09 03:35] wlbragg commented on #789
I agree the ideal way would be the launcher or simulator shell. However I really don't think this necessarily would be difficult to do. Think about Torsten's browser based map. You can drag and drop the aircraft at any point and relocate it to any other position on the map. So that means there is the capability with code to do this after init. All this would require on our part is to make a menu c

[2016-07-09 10:42] gilbertohasnofb commented on #790
:+1: So let's put this on hold for a bit

[2016-07-09 10:42] gilbertohasnofb commented on #789
I didn't know about this feature. Well, that sounds really cool :smile:

[2016-07-09 13:49] gilbertohasnofb opened #791 "use airfield elevation to calculate optimal mixture for autostart"
Currently our autostart function does not take into consideration the elevation of the airport. This means that while trying to start a plane in a high altitude airfield, autostart will always use full mixture and will be cranking the engine forever. Maybe we could try to take the altitude in consideration, something like using full mixture up to a certain altitude, then using some formula to calc

[2016-07-09 15:27] wlbragg commented on #791
Yes, I think this is doable and a worthwhile idea.

[2016-07-09 21:35] wkitty42 commented on #791
On 07/09/2016 11:27 AM, wlbragg wrote:

agreed... we probably should have thought about maybe doing this the last time
this came up ;)

[2016-07-09 21:41] gilbertohasnofb commented on #791
I can give it a shot to code it myself. Would anyone know what is the standard procedure in the model P? Until how many feet should one use full rich mixture? And any guesses on what is the minimum mixture percentage one should try to use at extremely high altitudes?

[2016-07-09 21:58] wkitty42 commented on #791
On 07/09/2016 05:41 PM, Gilberto Agostinho wrote:

well that last one was trying to start at that airport in India that was just
over 13000 feet, IIRC... i think someone finally got the craft started there
once or twice but no more... @wlbragg maybe??

i believe i also saw something related to this latest topic which said they were
able to start at 7000 feet with about 45% mixture or something lik

[2016-07-10 15:02] #762 closed

[2016-07-12 03:15] #763 closed

[2016-07-15 10:44] gilbertohasnofb opened #792 "Taxi tutorial and secured aircraft"
An user in the forum was reporting that he/she was following the instructions in the Taxi tutorial but couldn't get the aircraft to move. It turns out his aircraft was secured. See: https://forum.flightgear.org/viewtopic.php?f=25&t=30025

The question is: shouldn't this tutorial cover the securing aircraft elements (chocks, tiedowns, etc.)? Or at least force them to be off? I remember we did some

[2016-07-15 14:28] wkitty42 commented on #792
yes, i think the tutorial should be adjusted to cover a secure craft or to force the secure stuff to be off... i suspect that it was simply missed when these were added...

[2016-07-15 14:29] gilbertohasnofb commented on #792
@wkitty42 agreed.
@dg-505 do you think you could take a look at this when you have some time?

[2016-07-15 14:44] wkitty42 opened #793 "view options"
1. load the sim.
2. go to view -> view options.
3. note bottom left of dialogue has "Walker View" and "Walker Orbit View".
4. ensure that the two walker view options are not selected. mine default to not selected when i delete the c172p.xml file from the aircraft-data directory...
5. hit SHIFT-V and you should see the copilot's view.
6. hit V and you should switch to the pilot's view but you are i

[2016-07-15 15:31] dg-505 commented on #792
I'll take a look. This shouldb't be a huge problem

[2016-07-15 15:32] gilbertohasnofb commented on #792
:+1: thanks!

[2016-07-15 15:49] dg-505 commented on #792
PR #794 created.

[2016-07-15 16:43] gilbertohasnofb commented on #792
Closed via #794

[2016-07-15 16:43] #792 closed

[2016-07-15 16:44] gilbertohasnofb commented on #792
@wkitty42 when you have some time, could you please reply to that thread posting that the problem has been fixed in our repo, and so in the next release it will also be fixed?

[2016-07-15 16:48] gilbertohasnofb commented on #793
To me, nothing. I can't reproduce it. Following the steps above I see nothing wrong with the dialog, even after closing and opening it again. Would you mind posting a screen shot?

Also, if there is a problem with the View Options dialog, it probably will have to be tackled by the devs, unless we are doing something wrong which is causing the issue.

[2016-07-15 19:42] wkitty42 commented on #792
sure... i gotta find it but yeah... i'll try to...

[2016-07-15 19:43] gilbertohasnofb commented on #792
Thanks! And the link to the thread is on the first post in this conversation :wink:

[2016-07-15 19:49] wkitty42 commented on #793
do you not see the weird screen? i think it is a walker view from being stuffed into a cabinet...

anyway, here's the pics in order of the way i described previously...

this is numbers 3 and 4 of the list...
![fgfs-screen-001](https://cloud.githubusercontent.com/assets/4641713/16886561/1271b03c-4aa3-11e6-891b-7364730864bc.png)

this is number 5...
![fgfs-screen-002](https://cloud.githubuserconten

[2016-07-15 19:51] wkitty42 commented on #792
why, so it is :)  posted...

[2016-07-15 19:54] gilbertohasnofb commented on #793
Hmm, I really can't reproduce this. Actually, step 6. doesn't happen to me, when I press V while on the copilot's view I come to back normally the pilot's view without any weird visuals.

[2016-07-15 19:54] gilbertohasnofb commented on #792
:+1: Thanks!

[2016-07-15 21:08] wkitty42 commented on #793
On 07/15/2016 03:54 PM, Gilberto Agostinho wrote:

interesting... i've been seeing it for a week or so... maybe longer but not very
long...

just to be sure, too, i'm on master and have the latest c172p code... also i'm
on 2016.3.0 with the latest code there...

maybe someone else can reproduce it?

[2016-07-16 04:17] wlbragg commented on #793
I can't reproduce this behavior either, it all appears to work correctly for me.

[2016-07-16 13:37] wkitty42 commented on #793
here's what i've done...

1. i moved my local c172p to a holding directory
2. i deleted my fork of c172p-detailed in my github area
3. forked fresh from juanvvc:c172p-detailed/master to my github area
4. cloned from my (now new) wkitty42:c172p-detailed/master to my local repo
5. out of curiosity i ran "diff -r ./ the/holding/dir/" to compare the two, my possibly corrupt one with the newly forked o

[2016-07-16 13:43] gilbertohasnofb commented on #793
Could very well be. I am using 2016.2.1, as I got tired of all bugs of the unstable releases (and now the release cycle is only 3 months anyway).

Whatever it may be, it seems to me that this bug not to be related to our craft, so I would suggest closing this. Everyone agrees?

[2016-07-16 14:14] wkitty42 commented on #793
well, being as i just asked to keep it open, i guess i'm not in favor of closing it yet :stuck_out_tongue_winking_eye:  :laughing:

[2016-07-16 14:18] gilbertohasnofb commented on #793
@wkitty42 sorry, I totally oversaw the last phrase of your last post (too much multitasking at the moment), else I wouldn't have proposed it! Sure, let's see what answer you get from the dev list, just please let us know here about any findings.

[2016-07-16 19:23] wkitty42 commented on #793
@gilbertohasnofb np :+1:

[2016-07-17 13:39] gilbertohasnofb opened #795 "external hotspots shouldn't be clickable from inside the cockpit"
When pressing Ctrl+C, external hotspots do not show if they are hidden by the fuselage, but if you click in the correct position they do work (e.g. it's possible to open the oil dialog or add/remove chocks to the front wheel from the pilot's view).

I would suggest we add conditional for these so that they are only clickable if the view is external.

[2016-07-17 14:52] gilbertohasnofb opened #797 "ALS panel shadow"
@wlbragg the ALS panel shadow has been implemented on the c182, and some of the effects are really stunning. Are we using the same features? If not, we could think of implementing some of these. For instance, see these images:

![fg-0](https://cloud.githubusercontent.com/assets/5700795/16901246/500abe10-4c3e-11e6-8940-7e1c05ef64bf.jpg)

![fg-1](https://cloud.githubusercontent.com/assets/5700795/16

[2016-07-17 14:53] gilbertohasnofb commented on #797
@wlbragg would you care to take a spin on the c182 and take a look for yourself? It's difficult to describe these effects with words and still pictures

[2016-07-17 15:03] gilbertohasnofb opened #798 "Add AOMap to cockpit"
Create and add AOMap to cockpit, similar to what has been done in the c182. It makes the interior textures look absolutely amazing with it.

AFAIK it's possible to create these using Blender, and then adding the AOMap as a layer in GIMP to the cockpit and interior textures. Maybe Heiko could give us a hand with this.

[2016-07-17 15:03] gilbertohasnofb commented on #798
If someone can help me create these AOMaps on Blender, I can then apply them to all interior and cockpit textures of all liveries myself.

[2016-07-17 23:08] wlbragg commented on #797
Sure, I'll take a closer look and see what if anything is different. I agree with you the c182 is stunning. You two have really put together a great model.

[2016-07-17 23:32] wlbragg commented on #797
@gilbertohasnofb, I haven't looked at the maps or his code yet, but just looking at the effect in both crafts I'm not sure I am seeing that much difference. One thing is the color of the dashboard in the c182. Try comparing the shadow on the default c182 livery to the KLM livery in the c172.

I'll still compare the cube maps and code to see if there are noticeable differences.

[2016-07-18 09:57] gilbertohasnofb commented on #797
@wlbragg

Oh, I see, there is basically no distinction in the effect! Sorry, I have been using the default livery for a while and the effect doesn't show well in the dark panel, but in the others it does. So I would say we can close this and label it as "invalid".

Thanks a lot, I really appreciate it (also thanks for the help over there!). What has been cool about working on the two projects is t

[2016-07-18 21:54] gilbertohasnofb commented on #791
@onox @wlbragg @Juanvvc @dany93 can you guys give me your opinions here? How would you approach this problem? The issues are:

- the POH does not state anything about a maximum airfield elevation, much less about a maximum pressure altitude or density altitude for take off
- also nothing about starting engines in those situations
- take off tables have data for up to 8000 ft, so that's a clue
- us

[2016-07-21 10:57] onox commented on #791
Is it possible at all to start the engine at high altitudes (> 8000 ft)? I don't think we should iteratively try to find the mixture needed to start the engine. That could take too much time and it would be difficult to cancel it.

I think it's easier to have a table to set the mixture to a certain level depending on the altitude. And show a message if the user tries to perform an autostart while

[2016-07-21 10:59] onox commented on #797
Is the effect a light map?

[2016-07-21 12:36] gilbertohasnofb commented on #791
I don't know. The POH gives take off distances for airports up to 8000 ft, so that altitude should be fine.

That sounds good. But then again not only we have two engines (and therefore would need two tables), but I believe that altitude alone is not the only factor that affects the engine start up. I think pressure and temperature also affects it, right? So then we need to use density altitude. W

[2016-07-21 12:38] gilbertohasnofb commented on #797
I think the panel lights are a light map, but I was talking about the natural light from the environment in the areas without shadow. But I realised that I was not seeing them because the dark panels do not show them very well (or at all).

[2016-07-21 15:11] onox commented on #791
What I mean is that in the case that our table happens to be insufficient (the engine still doesn't want to start on the user's FG instance for some reason, even with the best possible amount of mixture) that we tell the user that we're very sorry but the user is asking the impossible.

[2016-07-21 15:16] onox commented on #791
Lets first try to compute one table and see if it works for both engines. After all, they're very similar.

[2016-07-21 15:16] wlbragg commented on #791
So the table will be used to adjust the mixture per altitude of the start up airport?

[2016-07-21 15:34] gilbertohasnofb commented on #791
@onox yes, that sounds clear now! :+1: As for the two engines with one single table, let's try it

Yes, but not exactly start up airport, but current location. And I still think we should use density altitude and not altitude.

@onox Do you know where can I read about implementing tables in Nasal? Or should I try to come up with some liner equation, or use a bunch of `if`s (if between A and B, the

[2016-07-21 16:55] onox commented on #791
I don't think latitude/longitude matters. Just altitude or air pressure.

I think you should try to use a table in JSBSim/autopilot in which you map the altitude to a mixture setting. JSBSim/autopilot will then do the interpolation for you.

[2016-07-21 16:56] onox commented on #791
Try to find airports at 0, 1000, 2000, ..., 8000 ft. Use standard air pressure (29.92).

[2016-07-21 16:58] onox commented on #791
About the JSBSim table: name the output property something like `/path/to/recommended-mixture-value`. The Nasal code that performs the autostart then reads this property and sets the mixture.

[2016-07-21 17:28] gilbertohasnofb commented on #791
Oh, what I meant is the current altitude!

Sounds like a plan, I will read about it (as I am completely unfamiliar with it) and make a first attempt soon.

[2016-07-21 17:43] onox commented on #791
Look at `<tableData>` in `Systems/indicated-airspeed.xml`.

[2016-07-21 17:51] onox commented on #791
Something like this. Here I assume that at 3000 ft you can still start with 100 % mixture, and at 8000 ft you need 50 % (just guessing, this is an example).

[code]

In `Nasal/c172p.nas` you write:

[code]

[2016-07-21 17:53] onox commented on #791
[code]

[2016-07-21 17:56] onox commented on #791
And at the end of the autostart function you do:

[code]

[2016-07-21 22:21] gilbertohasnofb commented on #791
@onox Ok, I got that part working so now I only need to fill the table. The problem I am having is that TerraSync is awfully slow for some reason so I am having troubles with that :cry: I will try again tomorrow though. Once the table is filled, then it's just using the new property in the Nasal code which should be trivial.

[2016-07-21 22:22] gilbertohasnofb commented on #791
Oh, I just saw your last three posts (I hadn't updated this page). Yeah, that's pretty much what I head in mind for the Nasal code, and I had found how to create a table with a single variable in JSBSim using their documentation. Thanks a lot for the hand!

[2016-07-23 15:41] gilbertohasnofb commented on #791
Guys, TerraSync is simply not working here... it says that it's downloading a tile at a rate of ~150 KBytes/s but the sim never loads. And TerraMaster, which is what I used to use, is simply not working any longer. The only terrain I have on my HD is Europe, and Europe's highest airport is St. Moritz at 5643 feet (and I can start the engine with 100% mixture at that altitude @pressure 1013 mbar).

[2016-07-23 20:52] wlbragg commented on #791
I can try it later tonight. I have most of the world down loded using terramaster. It's running right now, has been for a week or so. I'm not sure why you are having problems with it.

[2016-07-23 21:26] gilbertohasnofb commented on #791
@wlbragg thanks a lot! As for TerraMaster, I am getting the following error:

I just didn't have yet time to troubleshoot it.

[2016-07-23 23:26] wkitty42 commented on #791
On 07/23/2016 05:26 PM, Gilberto Agostinho wrote:

that's easy... googlecode is long gone... it closed shop at the same time that
gitorious did which was two of the main driving factors for the FGFS project to
move to SF back in the beginning of 2015... the terrain is now hosted on SF with
a couple of mirror sites...

the old SVN stuff, while still operational, cannot easily switch to a new server

[2016-07-24 03:55] wkitty42 commented on #793
i haven't seen anything more related to this but i have seen the exact same thing in another craft (from the FGUK hanger)... no clue yet but now that more than one craft exhibits it, it should be easier to track down...

[2016-07-24 10:29] gilbertohasnofb commented on #791
@wkitty42 thanks for all the info. As I wrote, I still didn't have the time to troubleshoot this, but I will try to check it out as soon as I can.

[2016-07-24 10:32] gilbertohasnofb commented on #793
@wkitty42 and these are the only two aircraft you see this problem? Or are by any chance all aircraft which have the walker option causing the issue? Because if so, then likely it's not an aircraft specific problem. Also, could this be caused by some conflict with whatever else you have installed (I don't know, maybe Bombable or FGCamera or whatever like this?)?

[2016-07-24 12:35] onox commented on #791
I can start at KGCN (6600 ft) with 100 % mixture.

[2016-07-24 12:39] onox commented on #791
KAEJ as well.

[2016-07-24 12:43] onox commented on #791
KTEX (9000 ft) ok too.

[2016-07-24 12:47] onox commented on #791
KLXV (9900 ft) not ok.

[2016-07-24 12:50] onox commented on #791
Seems even with 65 % mixture, I cannot start at KLXV. Will try to increase throttle.

[2016-07-24 12:58] onox commented on #791
It seems you have to look at `/environment/pressure-inhg`. At 20.65 I cannot start the engine even at KTEX. Even with increased throttle and reduced mixture.

[2016-07-24 13:09] onox commented on #791
At 21.33 I could start the engine with 45 % throttle and 70 % mixture.

[2016-07-24 13:18] onox commented on #791
At 21.41 needed 40 % throttle and 50 % to 100 % mixture.

[2016-07-24 13:22] onox commented on #791
At 21.49 needed 35 % throttle and 100 % mixture to 50 % mixture (recommended mixture (good RPM) between 90 % and 60 %).

[2016-07-24 13:24] onox commented on #791
At 21.56 starts at 25 % throttle and 90 % mixture.

[2016-07-24 13:27] onox commented on #791
At 21.64 starts with 20 % throttle and 90 % mixture.

[2016-07-24 13:30] onox commented on #791
At 21.75 starts with default settings (20 % throttle and 100 % mixture)

[2016-07-24 13:46] onox commented on #791
At 20.65 I can start the engine with 20 % throttle and 95 % mixture.

[2016-07-24 13:48] onox commented on #791
Hmm... I am messing with the air pressure, and now I can suddenly no longer start at 20.65 with 20 % throttle and 95 % mixture :confused:

[2016-07-24 13:56] onox commented on #791
I'm looking at `c172p.xml` and I see that `fcs/mixture-pos-norm[1]` uses the primer (value is 1.0) if primer is used at oil temperature is less than 75 F.

If the engine is not running and I'm not starting the engine, then `fcs/mixture-pos-norm[1]` has the value of the actual mixture control, but engine doesn't run (duh). So what is telling JSBSim to start the engine?

[2016-07-24 14:00] onox commented on #791
I don't have any clue how JSBSim knows when to 'start' the engine, but maybe we should at least multiply `fcs/mixture-primer` with `fcs/mixture-cmd-norm[0]` or `fcs/mixture-cmd-norm[1]`?

[2016-07-24 15:22] onox commented on #791
@dany93 What's the purpose of the primer again? Does it really imitate mixture at 100 % or is it just meant to make sure mixture is 0 % if throttle is out of range (10 % to 50 %)?

[2016-07-24 15:45] wlbragg commented on #791
Just a thought that isn't really related to this subject, but, isn't it true that a typical primer is used to supply an "immediate" volume of fuel to the carb or combustion chamber (a choke would give a richer mix)? Almost as a fuel injector does. If this is true then we should still be able to start vehicles without using the primer, it just takes more cranking.

[2016-07-24 15:46] onox commented on #791
I've set the mixture to 95 % instead of 100 %. See branch [`bug-791`](https://github.com/Juanvvc/c172p-detailed/tree/bug-791).

Now I can start at KLXV (9900 feet) and VNLK (9300 ft) for example.

[2016-07-24 15:59] onox commented on #791
Can somebody try my branch at ZUAL (14000 ft)?

[2016-07-24 16:11] wkitty42 commented on #791
On 07/24/2016 11:45 AM, wlbragg wrote:

correct... many of out motorized tools have a primer on them... it is especially
useful when they've sat for a while and the fuel chamber is dry where the fuel
evaporated... the primer shoves a bunch of fuel into the chamber so that it can
be drawn into the cylinders faster and make for a much easier start...

[2016-07-24 16:18] onox commented on #793
I could not reproduce the problem in the screenshots.

[2016-07-24 21:17] #777 closed

[2016-07-24 21:28] gilbertohasnofb commented on #791
@onox thanks for all these tests and valuable information! :smile:

I will try it and report in a second.

But I think we are maybe over complicating things. First of all, this is being a bit of guesswork given that the POH doesn't say much (or anything at all) about starting an engine and taking off from airfields at high elevation. Then there is the thing that not only the altitude affects the p

[2016-07-24 21:35] wkitty42 commented on #793
@gilbertohasnofb you may be on to something there... the other craft i saw it with is the FGUK C-17... is there a list somewhere of craft with walkers? i thought we were using our own separate walkers with some fixes or enhancements??

[2016-07-24 21:37] gilbertohasnofb commented on #793
I don't know about such a list unfortunately. As for "our" walker, it's actually FGDATA's walker :smile: None of those enhancements we once discussed were implemented, and anyway the plan would be to improve them directly on FGDATA.

[2016-07-24 21:57] gilbertohasnofb commented on #791
@onox BTW, I tested your autostart function at KLXV with Standard Atmosphere (696.817 mbar) and the engine starts without a problem! Now taking off is a complete different story, what a sluggish take off run and even worse climb! I am finishing downloading ZUAL now and I will test it, but that's quite beyond our ceiling anyway (and unpressurised aircraft without oxygen masks should not fly higher

[2016-07-24 22:05] gilbertohasnofb commented on #791
@onox ok, so I can't start using your function at ZUAL. I tried using Q595 (which is a standard atmosphere), and I also tried two of the weather scenarios (high pressure and low pressure). Anyway, I would suggest we do the following:

- use the regular autostart function for density altitude of up to 6000 ft
- for higher altitudes than that, use your slightly modified function (i.e. mix 95% thrott

[2016-07-25 00:24] onox commented on #791
What I did in the autostart function is to set mixture at 95 % instead of 100 %. That would mean the difference between successfully starting the engine or not getting the engine started at all.

95 % should work for 9900 ft, but it might not be lean enough for a good takeoff. So perhaps at 9900 ft the mixture should be lower.

Are you saying that 95 % was not sufficient for ZUAL? At what mixture

[2016-07-25 00:28] gilbertohasnofb commented on #791
After autostart failed, I wasn't able to manually start the engine at all!

The question that comes to mind is the following: if the engine is off, then one cannot know the ideal mixture before starting the engine (since you can't use the tachometer nor EGT for that). And since the POH doesn't give you info, then I think that probably pilots lean _after_ starting the engine.

[2016-07-25 00:32] onox commented on #791
Did you set magneto's to 3, throttle to 20 %, mixture to level 60 .. 90 % and prime 3 times before holding "s" key?

[2016-07-25 00:33] #795 closed

[2016-07-25 00:33] gilbertohasnofb commented on #791
I am sure I did, but I will test again now.

[2016-07-25 00:36] onox commented on #791
You should put `/controls/engines/engine/primer`, `/engines/active-engine/rpm`, and `/engines/active-engine/running` in the top left corner. That might help.

[2016-07-25 00:37] gilbertohasnofb commented on #791
@onox yes, I can start the engine when I lower the mixture a bit (~ 75%, depending on the atmospheric conditions), sorry for the bogus report

[2016-07-25 00:38] onox commented on #791
What's your `/environment/pressure-inhg` at ZUAL?

[2016-07-25 00:41] gilbertohasnofb commented on #791
Around 17.5 and 18.

[2016-07-25 00:46] onox commented on #791
I get it started at 80 % mixture when pressure is 17.6

[2016-07-25 00:47] gilbertohasnofb commented on #791
For me it's similar to that, yes. At around 18 inHg I think my mixture was 77%

[2016-07-25 00:48] gilbertohasnofb commented on #791
Anyway, now that we have all this data what shall we do? Let's stick to the original plan of using a table, and leave the leaning for take off up to the player? And should we implement that timer just in case or not even bother, now that we know the engine can start in basically any situation?

[2016-07-25 00:51] onox commented on #791
We could add the timer. About the table, I think we should use `/environment/pressure-ing` instead of altitude.

Sleep :wink: :sleeping:

[2016-07-25 00:54] gilbertohasnofb commented on #791
That sounds good (I think effectively that's the same as pressure altitude, but that's all right)

Oh yeah, here is also 3am. See you soon and good night! :wink:

[2016-07-25 14:47] gilbertohasnofb commented on #493
@dg-505 Sorry for using this page to contact you for something else than the c172p, but I don't have your e-mail address nor do I sue the forum any longer. Anyway, I wanted to ask you if you would be interested in implementing this for the c182 project: https://github.com/HHS81/c182/issues/121

[2016-07-25 16:36] wlbragg commented on #797
I'm starting this on the Shuttle, do we have an open issue for panel light on this aircraft? Do we know where they are and what they light up? Now that I have a bit of a clue how a lightmap is created in Blender, I might try doing them for this project while I am in "lighting" mode! :smile:

[2016-07-25 16:41] gilbertohasnofb commented on #797
@wlbragg take a look at the discussion here: https://github.com/Juanvvc/c172p-detailed/issues/438

[2016-07-25 16:43] wlbragg commented on #798
This must be similar to the lightmap creation in Blender that I just learned how to do. I might see if I can do this as well. When creating a lightmap in Blender there is a switch for adding AO to the lightmap. I think that is different than what your looking for here though. Because this is actually added to the texture sheet, not as a lightmap, right?

[2016-07-25 16:44] gilbertohasnofb commented on #798
Yes, it would be added as a layer in GIMP and then I'd control the opacity of that layer. If you run into troubles with the AOMap, we can ask Heiko how he did it.

[2016-07-25 17:13] wkitty42 commented on #793
On 07/24/2016 05:37 PM, Gilberto Agostinho wrote:

ahhh... ok... i wasn't sure and haven't gone digging to see if it was still the
one in FGData or not... thanks for the info...

since the walker(s) exist in FGData and this problem exists in more than one
craft, i guess we can close this issue now... i'm responding via email so i
can't [comment and close] it... i can do so later if no one else has

[2016-07-25 17:25] gilbertohasnofb commented on #793
No problems, I am closing it now myself :smile:

[2016-07-25 17:25] #793 closed

[2016-07-25 17:46] wlbragg commented on #798
I think you "bake" the AO map in Blender, I know how to do that, then you combine it with the original texture. I need to know what program he used and the process he used to combine the two ("AO" and "original diffuse texture")?

[2016-07-25 17:46] gilbertohasnofb commented on #798
I will point him to this talk then.

[2016-07-25 18:18] wlbragg commented on #438
OK, this is doable, we need to decide what lights we want then we can create the lightmaps and add the properties to control them. A small map light or something of that sort should be easy to do so don't "not" decide to make one because you think it hard to do.

[2016-07-25 18:18] wlbragg commented on #798
Thanks

[2016-07-25 18:55] gilbertohasnofb commented on #438
Great! Would we need one light map for each panel or just one for all of them?  So now we "just" need to decide how to implement it, i.e. how the lights behave in the 172.

[2016-07-25 19:14] wlbragg commented on #438
Good question, I haven't totally absorbed the ability of the lightmap-multi effect. I think it uses one map but you can assign up to 4 colors and intensity adjustments to it. I guess I would want to know the type, position and amount of the lights and do some more reading and experimenting before I can really answer that question.
I'm currently working on the shuttle using it. But in this case I t

[2016-07-25 19:20] gilbertohasnofb commented on #438
Sure, there is no rush for this feature anyway, but once you know how to do it I'd be happy to help with whatever I can! :smile:

[2016-07-26 13:23] SH-M opened #800 "Spark plugs fouling"
Spark plugs can clog and eventually foul if the engine is allowed to idle too low for too long. Throttling up an engine with oil-soaked spark plugs can help clear them out.

The engine should be at or above 800 RPM. Failure to do so may cause spark plug fouling. If the plugs do foul (the engine will sound rough), running the engine at a higher RPM will blow them clear within a few seconds by doing

[2016-07-26 13:43] gilbertohasnofb commented on #800
This actually sounds like a cool idea! I don't have in mind how to implement it, but I imagine it should be somehow possible. I know for a fact that the payware aircraft  A2A Cessna 172 for FSX does simulate this, so why couldn't we? :smile:

[2016-07-29 17:36] gilbertohasnofb commented on #633
@wlbragg @onox @HHS81 This might interest us all: https://forum.flightgear.org/viewtopic.php?f=47&t=30109

[2016-07-29 18:55] wlbragg commented on #633
@gilbertohasnofb

Thanks for keeping eyes open.

I saw that and Thorsten gave me a heads up on it. I'm just waiting for the initial release. it will be really nice to have exterior view landing and taxi lights.

[2016-07-29 18:56] gilbertohasnofb commented on #633
I am very curious how this will look in the sim, having external lights will be a great addition as it's one of the most obvious "flaws" of the ALS system.

[2016-08-01 17:00] gilbertohasnofb opened #801 "Add a recharge battery button to aircraft menu"
Add a recharge battery button to aircraft menu. Take a look how this has been implemented in the ~~c182s~~ c150.

[2016-08-01 20:00] HHS81 commented on #801
you mean c150

[2016-08-01 20:10] gilbertohasnofb commented on #801
Yes, my bad. Fixed it.

[2016-08-01 20:15] gilbertohasnofb opened #802 "Check dimensions of the levers"
Heiko has found a schematic of the throttle and mixture levers of a 172. Values are in inches:

![](http://i416.photobucket.com/albums/pp244/Ronson2k3/VernerControlsmall.jpg~original)

Could anyone who knows Blender well check if our values are correct?

[2016-08-02 02:21] wlbragg commented on #802
I'm not a mechanical engineer so I can't tell from this what the length of travel should be when pulling a knob open, any suggestions on that? I can check the knob length when closed and make sure that matches.

[2016-08-02 08:01] gilbertohasnofb commented on #802
@wlbragg I think the measurement we are interested is 2.75 inches + 5.95 inches, that would give us the full length of the lever (at 0% throttle or mixture) from the front face of the lever until the place where it enters the panel.

[2016-08-06 13:28] gilbertohasnofb commented on #791
@onox

20 % throttle with 95 % mixture to 55 % mixture.

I tried working on this right now but I ran into some more problems. I changed the pressure to 21.33 and the engine won't start at any cost! :sob:

[2016-08-06 16:26] onox commented on #791
Are you using branch `bug-791`? I could autostart the engine with a pressure of 21.10.

[2016-08-06 16:32] gilbertohasnofb commented on #791
No, I was in the `master`... :tired_face:

Now using bug-791 I could autostart even at `20.65`!

[2016-08-06 16:33] onox commented on #791
Which airport?

[2016-08-06 16:35] gilbertohasnofb commented on #791
I used SAWB, which is almost at sea level. But if the pressure is all that matters, then it shouldn't make a difference which airport I pick, right?

(I use SAWB because it's a very fast loading airport)

[2016-08-06 16:36] onox commented on #791
How do you change the air pressure? Via the weather dialog's METAR field?

[2016-08-06 16:39] gilbertohasnofb commented on #791
Yep. I first select some of the Weather scenarios (such as High Pressure), then  I change it to manual METAR and change the Q1013 bit, where 1013 is the pressure in hPa. Note that you always need to have four digits after `Q`, so for lower pressure you need a zero such as in Q0723

[2016-08-06 16:41] onox commented on #791
SAWB is an ocean for me, I tested at KLSV.

[2016-08-06 16:43] gilbertohasnofb commented on #791
You must not have the scenery on your hard drive then. SAWB is a small airfield in Antarctica (!) and which has a very lightweight scenery and loads ultra fast.

I will try it there then

[2016-08-06 16:43] onox commented on #791
I don't think the airport should matter though.

[2016-08-06 16:45] gilbertohasnofb commented on #791
Me neither. And when I say the engine started at pressure 20.65 with autostart, I mean it barely started. I think the leaning should start much earlier. I will try to come up with a table.

[2016-08-06 16:59] gilbertohasnofb commented on #791
@onox at KLSV using Q0752 you will get 20.66 inHg and the autostart does work! :clap:

[2016-08-06 17:10] gilbertohasnofb commented on #791
@onox please take a look at the following table:

[code]

The value of my last test, 20.66 inHg, is equivalent to a standard atmosphere at the altitude of around 10.000 ft. Given the ceiling of our airplane, it means that our autostart basically works under standard atmosphere up to a ridiculously high elevation! Given that, I am quite tempted to simply implement the timer and close this issue...

[2016-08-06 17:44] gilbertohasnofb commented on #791
@onox I pushed some modifications to this branch, could you please give it a try? Now the autostart should quit after 5 seconds if the engine didn't start properly.

[2016-08-06 17:45] gilbertohasnofb commented on #791
So let me know if you agree that that's enough, and then I can create a PR. Else if you think we should bother with the table, then I will try to gather some more values.

[2016-08-06 18:23] onox commented on #791
You have put the `engineRunning` listener inside the timer callback. Is that really what you meant?

[2016-08-06 18:46] gilbertohasnofb commented on #791
Yes, that was intentional, but now I see it was totally unnecessary, I could have set the listener of the engine before the timer, and simply cancel the listener once the timer reaches 5 seconds. I pushed an improved version, can you check if it's all right? It is working fine at least :stuck_out_tongue_winking_eye:

[2016-08-06 19:10] onox commented on #791
It seems the listener is no longer necessary.

[2016-08-06 19:11] gilbertohasnofb commented on #791
I think it is, since the engine might start within those 5 seconds, and we want to stop cranking at that point, right?

[2016-08-06 19:11] onox commented on #791
Although it will take 5 seconds before we turn off the starter then. I don't like we're creating a new listener every time a user does autostart. The listener does get cleaned up though because of the `removelistener()` call in the timer.

[2016-08-06 19:13] gilbertohasnofb commented on #791
Yes, it does remove itself in both cases (engine starting before 5 seconds, engine not starting). Would there be a better solution?

[2016-08-06 19:14] onox commented on #791
I added debug statements and it seemed to always remove the listener via the timer. I'm trying 1 permanent listener at the end of the file.

[2016-08-06 19:16] gilbertohasnofb commented on #791
That's really strange, is that the case even when the engine did start successfully? Because if so, how come the timer is removing the listener if the condition `!getprop("/engines/active-engine/running")` is not being satisfied?

[2016-08-06 19:23] onox commented on #791
Hmm.. it seems we have never overridden the 's' key?

[2016-08-06 19:24] onox commented on #791
Oh wait, we did.

[2016-08-06 19:25] onox commented on #791
Do we want to allow using the starter when the engine is running? If you click on the starter in the panel it works, but not if you press 's' key.

[2016-08-06 19:39] onox commented on #791
@gilbertohasnofb I have some changes in a minute.

[2016-08-06 19:40] onox commented on #791
@gilbertohasnofb If you enable starter and release it, should the key go back to "magnetos both"?

[2016-08-06 19:40] onox commented on #791
(with engine already running)

[2016-08-06 19:41] onox commented on #791
Currently it goes back to whatever magneto setting you were using.

[2016-08-06 19:58] onox commented on #791
I guess we can keep the logic for the 's' key as it is.

@gilbertohasnofb I have pushed a new commit. Instead of creating a new listener every time `autostart()` is called, we create just one listener after the FDM has initialized.

[2016-08-06 20:19] gilbertohasnofb commented on #791
@onox Okay, I am back! So I pulled your modifications, they look quite good I think, certainly a more elegant solution :smile: :+1:

So what do you think about the table then, should we bother trying to make the autostart work with different pressures or should we just merge what we have here? I personally vote for the latter.

[2016-08-06 21:26] gilbertohasnofb opened #803 "New FG release coming soon"
@onox @wlbragg @Juanvvc @dany93 @dg-505 @wkitty42

Torsten just wrote in the list:

So are we ready to ask for a merge? I would suggest we do that as soon as possible, as to avoid any problems like we had in the last release. Are there any serious issues or bugs we must address before the release?

[2016-08-07 00:30] wkitty42 commented on #803
i'm not aware of anything other than this high altitude starting stuff you guys have been working on...

[2016-08-07 09:52] gilbertohasnofb commented on #803
:+1:

[2016-08-07 09:55] gilbertohasnofb commented on #791
@onox I went ahead and created a PR. So if you agree with me, you can merge it, else we keep working on it.

[2016-08-07 09:56] gilbertohasnofb commented on #801
I will give this a shot today.

[2016-08-07 10:08] gilbertohasnofb commented on #797
I will close this since our panel shadow has no issues and we already have an issue for the lightmap

[2016-08-07 10:08] #797 closed

[2016-08-07 10:11] gilbertohasnofb commented on #682
@wlbragg I just checked and this is still an issue even after we implemented the procedural lights. Also, the problem can be seen from any angle. See:

![fg-0](https://cloud.githubusercontent.com/assets/5700795/17461766/fe5c2bf2-5c97-11e6-906c-219e2c50cb62.jpg)

![fg-1](https://cloud.githubusercontent.com/assets/5700795/17461765/fe5b214e-5c97-11e6-8ef9-8caf9fdd2cc8.jpg)

[2016-08-07 11:10] gilbertohasnofb commented on #515
@dany93 wrote:

@wlbragg wrote:

I think this is enough to close this.

[2016-08-07 11:10] #515 closed

[2016-08-07 11:14] gilbertohasnofb commented on #507
@wlbragg Has this issue been fixed in one of those PRs mentioned above?

[2016-08-07 11:17] gilbertohasnofb commented on #362
@onox wrote:

I think we can simply close this then. Would anyone care to report this to the devel list?

[2016-08-07 11:55] gilbertohasnofb commented on #747
I will try to take care of this, but I don't think we need Nasal to solve it as D-ECHO proposes.

[2016-08-07 12:09] gilbertohasnofb commented on #738
I just tried reproducing this but I can't see _any_ rain effect on the fuselage/wings, just on the windows. Did something change concerning this effect?

[2016-08-07 12:10] gilbertohasnofb commented on #447
@tigert I tried opening the image you posted but your site seems to have expired :cry: would you mind sending me the file or uploading it using some service such as http://postimage.org/ ?

[2016-08-07 13:00] gilbertohasnofb opened #807 "Primer label could show number of pushes"
Primer label could show number of times it has been pushed (like the c150 does)

[2016-08-07 13:15] gilbertohasnofb opened #809 "Replace splash1.png"
Since we created the splash screen `splash1.png`, our panel has changed a lot and that image is no longer representative of it. We need to create a new one.

[2016-08-07 13:15] gilbertohasnofb commented on #809
I will just wait for the PR https://github.com/Juanvvc/c172p-detailed/pull/805 to be merged before doing it.

[2016-08-07 13:46] wkitty42 commented on #738
On 08/07/2016 08:09 AM, Gilberto Agostinho wrote:

i'm not seeing the rain drops' splashes on the underside of the wing any more,
either...

[2016-08-07 13:47] gilbertohasnofb commented on #738
@wkitty42 but do you see them in the top side, or anywhere else in the fuselage? This is the thing: I don't think this issue is fixed, I think the effect got broken somehow!

[2016-08-07 15:02] #807 closed

[2016-08-07 15:05] onox commented on #801
Doesn't the battery get recharged when the user clicks the 'Repair' button?

[2016-08-07 15:08] wkitty42 commented on #738
On 08/07/2016 09:47 AM, Gilberto Agostinho wrote:

i didn't even pay attention to that... i'll go look again... i'm using "detailed
weather" and selecting "stormy monday" at KMIA in parking space "Gate_D17"...
this to get the rain real quick...

with those weather settings, there're some hugely strong winds... with the craft
secure, the front gear breaks and sometimes it breaks a wing off... unsec

[2016-08-07 15:08] onox commented on #362
I think we should keep the issue open for a little while longer because it hasn't actually been fixed yet. (And someone should write to the mailing list)

[2016-08-07 15:08] gilbertohasnofb commented on #801
Yes it does, but I think it's better to have a button only for the battery. I mean, I would never use the term "repair" to recharging a battery :smile: I actually already finished a huge work on this, I am creating a PR now so you can take a look

[2016-08-07 15:11] onox commented on #682
AFAIK we only used the ALS procedural lights for the nav lights. Beacon and landing/taxi should still be non-shader lights.

[2016-08-07 15:19] gilbertohasnofb commented on #738
Really? I can't see any effect on the model except for the windows.

[2016-08-07 15:54] wkitty42 commented on #738
On 08/07/2016 11:19 AM, Gilberto Agostinho wrote:

yes but it takes a while... i waited 10 minutes this time and changed the
weather from "thunderstorms" to "stormy monday" a few times and then tried a
couple of the CAT settings before i was able to see them... they show up as
slightly lighter blotches... i tried to get a screenshot but the gears broke
again and the rain stopped before i could get

[2016-08-07 16:18] wlbragg commented on #738
That is normal.

 I don't think there is anything we can do about this short of separating any object we don't want the effect on to not be included in the effect (ie: separating the top half and the bottom half of the wing and only including the top half of the wing in the effect.

Let me ask Thorsten and make sure this is a shader limitation.

[2016-08-07 16:20] gilbertohasnofb commented on #738
:+1:

[2016-08-07 16:27] wlbragg commented on #682
I was not skilled enough to fix this.

[2016-08-07 16:31] gilbertohasnofb commented on #682
No problems. But is the beacon light procedurally generated or does it use a non-shader light?

[2016-08-07 16:32] gilbertohasnofb commented on #682
The c182s seems to use a procedural light for the beacon, and it manages to avoid this collision issue we are having. Maybe @HHS81 can give us an opinion (or two)? :stuck_out_tongue_closed_eyes:

[2016-08-07 16:36] wlbragg commented on #507
No this has not been fixed.
Now that I have a little more experience with Blender, I'll take another look at it and see if I can figure out what is wrong with it.

[2016-08-07 16:37] gilbertohasnofb commented on #507
Thanks!

[2016-08-07 16:38] wlbragg commented on #682
Yes

Absolutely, lets look at the c182 and see how it's done.

[2016-08-07 16:41] #747 closed

[2016-08-07 16:45] onox commented on #738
Doesn't the shader take into account the normals of the faces/vertices of the objects?

[2016-08-07 16:51] wlbragg opened #811 "ALS external view taxi or landing lights"
This is the instructions for adding the external ALS runway lights. If anyone wants to tackle this before I do, have at it. If not I'll try to get to it in the next week.

[code]