[2015-12-14 23:49] gilbertohasnofb commented on #626
That's also my concern (hence my PM to you earlier today :wink: ). Maybe we can add a check box (default state = unchecked) in the aircraft menu which would then add the thermometer.

Probably a simple car dashboard thermometer would do the trick:

![](http://thumbs3.ebaystatic.com/d/l225/m/mALhqCaYLscR8AS5rWwG0XA.jpg)

According to the instructions of this specific little model:

[2015-12-15 18:22] wkitty42 commented on #626
oops! that should be the "Piper PA24-250 Comanche" i referenced above... FGADDON/Aircraft/pa24-250... the stick-on is what they have as the OAT in that craft... looks like the code for it is all in Models/oat... it shouldn't be too hard to change "oat" to "iat" everywhere and then tie it with the existing IAT calculation code??

[2015-12-15 18:27] gilbertohasnofb commented on #626
@wlbragg Can you post a screenshot of this thermometer you are recommending?

[2015-12-15 18:49] onox opened #627 "Securing attributes aren't visible over multiplayer"
Pitot tube cover, wheel chocks, and tiedowns aren't visible over multiplayer.

[2015-12-15 18:52] onox commented on #627
Simplified wheel chocks logic in branch `bug-627`.

[2015-12-15 18:54] wlbragg commented on #626
I don't have one in mind.
I did a search on the net for one that might be commonly used in aviation and all I found was external, that must be the main focus when it comes to temp. So I don't care what we use except that if it is not standard then it should be an option.
Maybe they are not widely used because you can feel the temp with your senses. I though it might be useful in the simulation cas

[2015-12-15 18:55] wlbragg commented on #627
oops

[2015-12-15 18:58] onox commented on #439
You don't have to ask my permission for everything :stuck_out_tongue_winking_eye: Can you reproduce it yourself? I see in FGDATA that Thorsten added a small patch "Fix for walker/reposition interference suggested by DFaber" on 2015-08-10. So that may be the fix for this issue.

[2015-12-15 19:00] onox commented on #626
The temperature property for the cabin air is `/fdm/jsbsim/heat/cabin-air-temp-degc`.

[2015-12-15 19:06] onox commented on #392
Ah, OK, didn't recognize it as diff stats. I thought it was the usual output from the .ac file. It still modifies over 10_000 lines it seems. I guess the .ac exporter plug-in finds that necessary.

Could you add the fixed Blender and .ac file? Make sure to set `emis` in the .ac file to 0 if it is 1. Here I always have to manually adjust it :confused:

[2015-12-15 19:07] onox commented on #392
Don't know. Ask Hooray.

[2015-12-15 19:08] onox commented on #627
?

[2015-12-15 20:39] gilbertohasnofb commented on #439
Ok, sorry.

[2015-12-15 20:40] gilbertohasnofb commented on #626
@wlbragg I actually meant @wkitty42, my mistake. So @wkitty42 can you post a screenshot of the thermometer you recommended from that Comanche?

[2015-12-15 20:44] gilbertohasnofb commented on #439
I can't reproduce this so I am closing it.

[2015-12-15 20:44] #439 closed

[2015-12-15 20:48] gilbertohasnofb opened #628 "Problems with the start-up tutorial"
Problems with the start-up tutorial:

- aircraft starts with tie-downs, so I guess we must force tie-downs and chocks off as well as pitot tube cover, as well as check for oil and fuel contamination (that is, the aircraft should be in the state after pre-flight inspection). This may affect other tutorials as well but I haven't checked them all.
- I would also force the switches to the correct pre-

[2015-12-15 20:49] gilbertohasnofb commented on #628
@dg-505 would you be interested in this issue given that you have already worked with tutorials before?

[2015-12-15 21:22] wkitty42 commented on #626
yeah... the craft is in fgaddon, though... but here is the screen shot...

![PA24-250 stick-on thermometer](https://www.dropbox.com/s/rkb3jlmu4bs4ius/fgfs-screen-099.png?dl=1)

push the white button to switch to F and off... it also turns off by itself after a few minutes just like a real one you can get at the drug, grocery or auto parts store...

there's an .ac file for it in the previously ment

[2015-12-15 21:26] wlbragg commented on #392
The one in this branch (Bug-392) is already had the material removed?
Did you want me to take the one from "master" and edit it and then save it to this branch?

[2015-12-15 21:27] wlbragg commented on #626
FWI: I don't think I would stick it to a window though, in RL it would be colder than the internal air temp, I would think.

[2015-12-15 21:28] wlbragg commented on #439
Yes we do! :stuck_out_tongue_winking_eye:

[2015-12-15 21:31] wkitty42 commented on #626
that's why i said stick it on the dash... the above one is in the PA24-250 Comanche specifically for OAT as there's no such instrument in that craft :wink:

the xml files that come with it appear to have positioning x,y,z coordinates in them... there's also a section or two in another xml file to include it as well as providing some sort of animation... at least, it is listed within animation tags

[2015-12-15 21:34] wlbragg commented on #626
Sorry, wasn't reading everything.

[2015-12-15 21:35] gilbertohasnofb commented on #626
@wkitty42 Thanks for the screenshot, it looks good to me.

So gang, are we decided about adding it as an option in the aircraft dialog? If so, I volunteer to do that myself (and change the code for the cabin temp).

Where would you stick it then, to the panel itself? If so, what about here?:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/11824805/2503d85c-a37c-11e5-88ba-24f

[2015-12-15 21:43] gilbertohasnofb commented on #13
I just loaded the Cap10C and the glass effect over the gauges looks pretty good to me, nicer than what we currently have. Does anyone know if that's the new effect by Thorsten or some older effect?

[2015-12-15 21:48] gilbertohasnofb commented on #392
@wlbragg that's the dr400-dauphin

[2015-12-15 21:52] onox commented on #626
Is the checkbutton really necessary? If it's visible as an instrument on that red spot, I don't mind it being always there.

[2015-12-15 21:52] onox commented on #626
Can we reserve the empty spot on the left of it for a future carburetor temperature instrument?

[2015-12-15 21:55] gilbertohasnofb commented on #626
The thing is this isn't a standard instrument, hence why we have been talking about adding it as an option. In the end it isn't that much of a big deal.

Sure.

[2015-12-15 22:07] wkitty42 commented on #626
On 12/15/2015 04:34 PM, wlbragg wrote:

no problem... no need to apologize :wink:

[2015-12-15 22:08] onox commented on #392
@wlbragg No, just checkout `bug-392`, edit the Blender file, and export to the .ac file.

[2015-12-15 22:14] dg-505 commented on #628
Yes, I would be.
I also noticed that there are several problems with the other tutorials. E.g. "Landing" should start with engines running, but at least for me, it doesn't. It seems that the startup procedure of the c172p has become that complex that initializing a tutorial with engines running may be very difficult, if not impossible.

- In the first step, the tiedowns, chocks and pitot cover get

[2015-12-15 22:16] onox commented on #13
Cap10c is one of those many unmaintained aircraft, thus no Thorsten's ALS glass shader as far as I could see in the code.

Have you read https://github.com/Juanvvc/c172p-detailed/issues/13#issuecomment-102785210?

[2015-12-15 22:28] dg-505 commented on #628
See #629

[2015-12-15 22:37] gilbertohasnofb commented on #626
Yeah, I know, we have tons of check buttons, but still... But anyway, I will just add the thermometer there and then we see. I improve its texture and now I am trying to adapt the code from the Comanche to our plane. As soon as I am done I will create a PR so you guys can check it out.

[2015-12-15 22:49] gilbertohasnofb commented on #13
Yep, I read it, but I disagree with that, the effect in the Cap10C looks quite pleasing to me. And a lot of images I have seen show reflections in the gauges, such as this:

![](https://c1.staticflickr.com/5/4104/5089018343_37ea132a4b.jpg)

[2015-12-15 22:55] gilbertohasnofb commented on #628
Great! :smile:

Strange. I loaded the tutorial when I was tied down and it didn't remove the tie-downs by itself.

[2015-12-15 22:58] gilbertohasnofb commented on #626
Hmm, I am having some difficulties with this one. The model is already in the right position, the new texture looks good. The Nasal code that controls the switch work fine, but I can't make the digital display work! I will create a PR for it, and I'd be very grateful if someone (@onox, wink, wink) could help me out here :smile:

[2015-12-15 23:04] wlbragg commented on #392
Wow, I had jsut check and I'm telling you it did have the material removed. :open_mouth:
I'll look again!

[2015-12-15 23:15] wlbragg commented on #13
Stuart may have been referring to "from a pilot perspective". I would think by design any newer aircraft would implement some type of anti-glare screens.

[2015-12-15 23:33] wlbragg commented on #392
OK, you were right, it was still there.
Done.

[2015-12-15 23:43] gilbertohasnofb commented on #13
Yeah, I guess it diminishes a lot from the pilot's perspective, but I think one can still tell that there is a glass in front of the instrument because of some reflection. See these images for instance:

![](http://www.aviationspectator.com/files/images/Cessna-172-28.jpg)

![](https://farm7.staticflickr.com/6195/6066184333_b3b1cc4a55_b.jpg)

Which is not our case anyway :wink:

Anyway, just one id

[2015-12-16 00:27] onox commented on #392
@wlbragg What's the "test" commit?

[2015-12-16 00:34] onox commented on #13
You can try to add it. But you need transparent glass objects in front of all the instruments and attach them to the `Models/Effects/exterior/exterior-glass-reflection.eff` effect.

But I think we should focus on more important things right now :stuck_out_tongue_closed_eyes:

[2015-12-16 00:36] onox commented on #392
I'll squash last two commits into one and force push.

[2015-12-16 00:43] onox commented on #392
Done.

[2015-12-16 00:47] onox commented on #626
@gilbertohasnofb I now remember that the amphibious already uses that spot :cry:

[2015-12-16 00:47] gilbertohasnofb commented on #13
Agreed.

[2015-12-16 00:49] gilbertohasnofb commented on #626
That's not a big problem, I can move it elsewhere. I will think about it for a second and propose something here.

[2015-12-16 01:13] gilbertohasnofb commented on #626
So which one do you prefer?

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/11829096/4fcf78ca-a39a-11e5-885f-a01215efaccc.png)

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/11829101/554dd80a-a39a-11e5-9dbb-3ab874f8ed8d.png)

I think the top one is better because it's visible even if the yoke is on. The second option is awkward and in RL would be a ni

[2015-12-16 01:13] wlbragg commented on #392
Sorry, it was something I was was doing prior. I didn't realize it was still a part of my local branch.

Is this what your looking for?
![page-panel](https://cloud.githubusercontent.com/assets/11069680/11829114/c469fe3e-a35f-11e5-90bc-f3fbd88fc847.jpg)

[2015-12-16 01:14] wlbragg commented on #392
No, that doesn't look like it.

[2015-12-16 01:19] onox commented on #626
How about the position above the right yoke? (To the right of the ADF radio)

[2015-12-16 01:21] wlbragg commented on #13
Yes, didn't mean to imply otherwise.

[2015-12-16 01:25] gilbertohasnofb commented on #626
There is a poster there in the OH-CTL livery added by @tigert, and I think it's a very nice touch that I wouldn't like to be deleted.

[2015-12-16 01:30] onox commented on #626
Argh, we're running out of space :laughing: Hmm, I think neither positions are good. I'm not sure how readable the one on the left side is.

How about putting it above the right cockpit door? (A bit of an odd place though) Or between the trim and handheld mic?

[2015-12-16 01:34] gilbertohasnofb commented on #626
I thought about those, but it looks awkward as hell... :sob:

[2015-12-16 01:34] gilbertohasnofb commented on #626
What about putting it similarly to the top image above, but on the right wall instead of the left?

[2015-12-16 01:35] onox commented on #626
That's a good compromise :+1: :smile:

[2015-12-16 01:36] onox commented on #626
Can you make it a 3D physical object? (Not a flat 2D picture)

[2015-12-16 01:36] gilbertohasnofb commented on #626
Okay, I will do it now, and then go to sleep :sleeping:

[2015-12-16 01:36] gilbertohasnofb commented on #626
What do you mean?

[2015-12-16 01:37] gilbertohasnofb commented on #626
It is a 3D model.

[2015-12-16 01:37] onox commented on #626
Okay, it looked like it was flat when you put in its original instrument position.

[2015-12-16 01:39] gilbertohasnofb commented on #626
I mean, the model is really simple, it's just a shallow cylinder with a single button. Not even the "BAT" button is 3D. But I guess it's good enough for what we need, and people can improve it later.

[2015-12-16 01:50] gilbertohasnofb commented on #626
Done and pushed, see:
![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/11829828/c641d746-a39f-11e5-87bf-153462a5a2cd.png)

That's it for me for today, see you all tomorrow :smile:

[2015-12-16 01:52] onox commented on #626
Sweet dreams @gilbertohasnofb :smile:

[2015-12-16 01:53] gilbertohasnofb commented on #626
Thanks! :zzz:

[2015-12-16 01:58] onox commented on #392
Ehh... I'm not sure why you come up with that picture? O_o That's not an SVG.

Could you perhaps just ask Hooray if he still has the code? I deleted my forum account.

[2015-12-16 03:11] wlbragg commented on #392
I did ask Hooray on the Forum and that was .svg, I couldn't post it as .svg, I had to change it to jpg to post it here.

[2015-12-16 12:03] stuartbuchanan commented on #13
Hi Guys,

Yes, I meant from the pilots viewpoint.

All the images here are from a eyepoint significantly lower than the normal
pilot viewpoint.  The last one (which shows only a small level of
reflections) has still got an eyepoint at the same height as the
glareshield.  I'm pretty sure that from an eyepoint 12 inches higher, a
high wing aircraft is going to have almost no reflections, purely from

[2015-12-16 12:30] gilbertohasnofb commented on #13
@stuartbuchanan I do understand your point Stuart, but I think that it's rather a question of degree. So while I agree that those photos above show a very strong effect due to the angle, I believe that a very weak effect could look very nice AND realistic. Look, it has been almost a decade since the last time I've entered a Cessna cockpit, but what I am thinking is something similar to this image

[2015-12-16 19:18] wlbragg commented on #392
Found reference to the image in a few unexpected places, haven't found the code yet.

https://commons.wikimedia.org/wiki/Category:Flight_instruments
https://commons.wikimedia.org/wiki/Category:SVG_aircraft_instruments
From here
http://forum.flightgear.org/viewtopic.php?f=71&t=23047#p209470

This was a surprise.
http://www.clickindia.com/detail.php?id=137806476
http://www.latostadora.com/camisetas/

[2015-12-17 02:30] #610 closed

[2015-12-17 19:16] wlbragg commented on #392
http://forum.flightgear.org/viewtopic.php?f=4&t=25157&p=269021#p268972

[2015-12-17 23:40] onox commented on #461
Did it work? :smile:

[2015-12-18 07:29] wlbragg commented on #461
No :sob:

[2015-12-18 17:09] #627 closed

[2015-12-22 01:29] legoboyvdlp opened #632 "3D modeller for hire!"
Hello!
In January I would like a new challenge...
I just got Blender.
I can't really think of anything to make.
So, I guess, could you think of an instrument you'd like modelled?

Disclaimer: I don't know the least thing about Blender.

[2015-12-22 01:29] legoboyvdlp commented on #622
Picture broken

[2015-12-22 16:57] gilbertohasnofb commented on #632
Hi @legoboyvdlp, since what you wrote is not an "issue" I will close it, ok? We use these issues only to create bug reports or enhancement proposals AFAIK. About working on a 3D issue, have a look on our list of things to be done: https://github.com/Juanvvc/c172p-detailed/labels/3D%20model

Maybe you can start with something simple (at least it looks simple to a Blender illiterate like me): https:

[2015-12-22 16:57] #632 closed

[2015-12-22 16:58] gilbertohasnofb commented on #622
Here is another one:

![](http://www.weekendcfii.com/photos/c172preflt/C172_elev_trim_tab.jpg)

[2015-12-22 18:48] legoboyvdlp commented on #418
Hmm... may be difficult. Will see what can be done.
I wish Blender worked like WED - point and click to add vertices...

[2015-12-22 18:48] legoboyvdlp commented on #622
Sure. Looks easy enough. Though maybe @thevirtualfer worked on it?

[2015-12-22 18:49] legoboyvdlp commented on #622
No guarantee!

[2015-12-22 18:50] legoboyvdlp commented on #259
@thevirtualfer , you wouldn't have done these, would you?

[2015-12-22 18:57] gilbertohasnofb commented on #622
We haven't heard from him in months and he hasn't committed anything in the past 9-10 months. Very likely he worked on this on the new model, but we don't know when nor if it will come... the philosophy here is then to simply try to improve the things ourselves and then if he ever commits his new model then we see what to do.

[2015-12-22 18:58] gilbertohasnofb commented on #259
See https://github.com/Juanvvc/c172p-detailed/issues/622#issuecomment-166703266

[2015-12-22 19:26] legoboyvdlp commented on #622
Right! I'll see what can be done then.

[2015-12-22 20:07] wlbragg commented on #418
You'll pick it up quick enough. My main issue with using it was the shear amount of features and not having a clue about its capabilities. But I found a quick Google search almost always gave me the info I needed. Applying that info was another thing.

[2015-12-23 15:51] Juanvvc commented on #622
In order to model the trim tab, you must open the huge main .blend file, understand it and cut a rectangular box in the horizontal stabilizer.

To model the seat mounts, you just create your own .blend with only the seat mounts. The, you can ask  any of the blender/xml modellers to append your file. I strongly believe the seat mounts are a much easier task to start a modelling career!

[2015-12-23 23:14] legoboyvdlp commented on #622
Hah!
As for seat mounts.... well, they look tricky. And they aren't really visible at any time except for those crazy people who fly with their head resting on the rudder pedals and turning the yoke with their toes. But...
:)

[2015-12-23 23:20] gilbertohasnofb commented on #622
I think they are quite visible from the outside with the doors opened :wink:

[2015-12-24 00:18] legoboyvdlp commented on #622
Ah! I see :)
I may go through to Noob2Pro tutorial I found first. It is a wikibook. Very detailed. Just this: ffom noob to pro.

[2015-12-24 18:59] Juanvvc commented on #622
Keep in mind you can do both! I'm just suggesting you could begin modelling the seat mounts and after learning the basics with them, model the trim tab or any other "more visible" object.

The trim tab is easy, but you must also modify the horizontal stabilizer. This involves modifying an object in the main .blend file, and I believe touching anything in this file is not a good idea for a newbie i

[2015-12-24 20:20] gilbertohasnofb commented on #622
:santa: :snowman: :christmas_tree: :gift: Merry Christmas to all the gang!

[2015-12-26 00:37] gilbertohasnofb opened #633 "Improve our lights"
Improve our lights using https://github.com/HHS81/c182 as reference. That plane's lights are not only smaller and more realistic, but they also fade away depending on the angle (e.g. starting at the landing lights head on makes it be seen at its brightest, and then it fades when the camera moves away).

![lights](https://cloud.githubusercontent.com/assets/5700795/12004714/2eee90b2-ab71-11e5-82c1-0

[2015-12-26 14:50] wkitty42 commented on #633
will this also take care of the 2D(?) flashers on the wing tips and the 2D(?) landing light? i note, also, that there is no light showing on the wing or under the engine when the taxi light is on... that needs to be fixed, too...

[2015-12-26 14:56] gilbertohasnofb commented on #633
Yes, the 182 has better flashing lights as well (the red one in that image is a flashing light).

[2015-12-26 15:15] gilbertohasnofb commented on #633
I pushed the better light textures to a new branch `bug-633`, but the angle of the lights has to be done somehow in Blender (as I see that the only references to the lights in the 182 repository is in the .ac model). Can anyone have a look at it, maybe @wlbragg?

Also, I renamed our light texture from the meaningless `transparent2.png` to the meaningful `lights.png`, but I did this only to the `.a

[2015-12-26 15:20] gilbertohasnofb commented on #633
I added some check points in the first post of this issue so we can keep track of what has to be done, ok?

[2015-12-26 20:06] wkitty42 commented on #633
on the taxi light check point, i'm not sure if our craft is supposed to have the taxi light up on the wing with the landing light (slightly smaller with a slightly downward angle like low beams on a car??) or if it should go in that square space under the engine or if it is supposed to be on the front steering gear... i'm pretty sure that i've seen pics of all three placements but have no idea of

[2015-12-26 20:14] gilbertohasnofb commented on #633
@wkitty42 I think you may be right, I think the taxi light is in the wing as well.

[2015-12-27 03:19] wlbragg commented on #633
@gilbertohasnofb the "squareness" strobe light pictures in pic1 and pic2 appear to be different as in the one in pic 1 shows the square fairly vividly where as the  pic2 looks better. Did you do something already to correct it?

[2015-12-27 04:12] wlbragg commented on #633
After comparing the two sets of lights I guess I am not convinced that the new lights are better than the old ones. What makes them better?
![translights](https://cloud.githubusercontent.com/assets/11069680/12008816/b5684bd6-ac1d-11e5-8dd6-92104941dad1.png)

[2015-12-27 11:34] gilbertohasnofb commented on #633
Well, it might be a matter of taste in the end, though I hoped this wouldn't be the case. Basically our lights currently look like explosions and I always thought they look plain ugly but never attempted to improve them myself. In RL lights are simple points of light and any effect trying to make it look like a star is actually trying to emulate how cameras see them (in photography and film, they

[2015-12-27 11:52] wkitty42 commented on #633
are these lights actual 3D models or are they 2D images (textures?) being applied to something? is it possible to do something like the rotating airport locater beacon lights? we don't need the beam that swings around but having the light to start dim and then get real bright and go back to dim with the coloring added to it would seem to be the thing... or am i maybe seeing another rendering trick

[2015-12-27 12:01] gilbertohasnofb commented on #633
They are just 2D textures applied to a 3D plane.

I honestly don't know, but thinking about it the effect would probably look quite bad since if we rotate the plane in which the texture is applied, the light circle would get very disproportional close to the points where it disappear (see image below). In RL, the effect you see from a fixed point of view isn't really of a rotating light but rather

[2015-12-27 14:30] wkitty42 commented on #633
right... i'm looking at maybe being able to not faking it by using texture... that's why i asked about doing something like the airport rotating beacon lights... without the rotating, of course... just a colored light that goes from dim to bright at some cadence and looks the same from all vantage points up to certain angles where we don't see the light itself any more but some of the effects like

[2015-12-27 16:30] gilbertohasnofb commented on #633
I think FlightGear can only have true lights under Rembrandt, which is obsolete and not under development since a long time (and it is also a hog on most systems and __looks__ much worse than ALS even though it has some meritis). ALS is all about "faking" things and that doesn't bother me the least. For instance, our landing lights in the runway are not made by a light cone either but it's rather

[2015-12-27 17:06] wkitty42 commented on #633
On 12/27/2015 11:30 AM, Gilberto Agostinho wrote:

i have no problem with that... i was just thinking that if we were going to
improve the lights, we might as well go as far as we could and ""try to do it
right"" but i think i see what you mean...

speaking for myself, i like the new stuff you propose... certainly better than
that white diamond light splash thing we have for the wing mounted landi

[2015-12-27 17:09] gilbertohasnofb commented on #633
:smile: :+1:

[2015-12-27 22:02] wlbragg commented on #633
Sorry @gilbertohasnofb I was referring to this
![this](https://cloud.githubusercontent.com/assets/11069680/12012254/53c85eb2-acb2-11e5-8219-79df6ea3d3a7.jpg)
The one on the right (pic2) looks like it doesn't have the noticeable square edge, but that may be because the green border is hiding it.

Funny, my son said the same thing regarding the two different lights and was in agreement with your obs

[2015-12-27 22:22] gilbertohasnofb commented on #633
Yeah, that's an optical illusion, our eyes compare colours with the surroundings rather than analyse them in absolute terms. E.g.:

![](https://upload.wikimedia.org/wikipedia/commons/6/60/Grey_square_optical_illusion.PNG)

Above, both A and B have the same RGB values :scream:

You have a wise and tasteful son :wink:

The hole in the centre isn't really that big, the texture is double the resolutio

[2015-12-30 18:19] gilbertohasnofb opened #634 "improve flaps lever"
I think our flap lever is not the most common model found in the P model. Most of the images I found are of this model:

![](http://www.flylpas.com/N5314K%20panel.JPG)

Note how it has only two colours (light blue and white) as opposed to ours with three, also note that the numbers inside these colours show the max speed for that flap extension and not the angle.

I will work on the new texture, b

[2015-12-30 18:50] gilbertohasnofb commented on #634
Okay, done. Pushed to a new branch `bug-634`. This is the new texture:

![flaps](https://cloud.githubusercontent.com/assets/5700795/12055548/825847d2-af2e-11e5-972c-cf8053ee4a9b.png)

And while the old flap had two textures, one for the panel one for the lever itself, I have everything in a single texture so the lever should be re-UV mapped.

So could anyone give me a hand with the 3D model?

[2015-12-31 08:24] onox commented on #461
@wlbragg Do you prefer transparent but imperfect shadow or non-transparent?

If there are no changes, we can close this issue.

[2016-01-01 01:21] wlbragg commented on #461
I don't have a strong preference either way and @gilbertohasnofb likes the transparent better so we can leave it  transparent.

[2016-01-01 06:43] onox commented on #461
Fixed in PR #602.

[2016-01-01 06:43] #461 closed

[2016-01-01 08:24] wlbragg opened #636 "Missing bushkit init?"
In c172p.nas
[code]

Should
[code]
be added?

Which leads to another question, if this has been working without it, does it need this type of init here at all?

[2016-01-01 17:39] onox commented on #636
The `/sim/model/c172p/bushkit_flag_*` properties are only used (needed) because PUI is complete garbage. The properties are set via `<nasal><open>` in `gui/dialogs/aircraft-dialog.xml`, thus the code in `Nasal/c172p.nas` appears unnecessary.

[2016-01-02 04:37] #636 closed

[2016-01-02 19:32] wlbragg opened #638 "Pointmass weights question"
Is this /fdm/jsbsim/inertia/pointmass-weight-lbs[0] or [1]?
[code]
I'm not sure the question matters as to there being an issue with the pointmass's.
If Pilot is [0] then
[code]
is correct at [5] as in
[code]
but then
[code]
are wrong.

@Onox, I think this is really screwed up up. Please take a look and let me know what you think

[2016-01-02 19:36] wlbragg commented on #638
This is on the assumption that the [?] position is defined at loading position in the FDM, or is it defined somewhere else I am unaware of. We use [13] for engine when I calculate it at [15].

[2016-01-02 22:44] dany93 commented on #638
If I remember well... Here is my feeling:

In c172p.xml (FDM) I think I had originally written (to help at reading)
        `
        `

but someone (you ?), when adding the skis, changed it for
        `
        `

My hypothesis is (I'm almost sure) that the number is the position in the FDM.
The issue is that you have inserted the skis "bushkit" in [13] and [14] position in the FDM, thus the eng

[2016-01-02 23:49] gilbertohasnofb commented on #634
Also note that the flap lever and the flap position indicator (the tiny "T" that indicates the current flap position and which is electrically controlled) might need to be a bit repositioned, and also the xml for the flaps will need to be tweaked for the correct positions for each notch.

[2016-01-03 06:05] wlbragg commented on #638
Yes, that sounds about right except I'm not sure who or how the engine pointmass got positioned below the skies. I would have thought I would have seen the organization at the time I added the skis, but who knows. I'll take another look at it and see if I can reorganize it.

[2016-01-03 08:36] onox commented on #638
So left ski is 13, right ski is 14, engine is 15, and oil is 16?

Then lines 50, 58, and 66 in `Systems/bushkit.xml` should be fixed. I have a PR ready in a second.

[2016-01-03 08:51] onox commented on #638
@wlbragg I now see you have already created a PR (if you write something like `Fixes #638` in the PR description then Github creates a link here on this issue page)

I think the `<pointmass>` elements should remain organized (all the bushkit pointmasses were already nicely put together by you) as they used to be, and instead update the indices. Which is what I did in my PR.

[2016-01-03 09:56] #638 closed

[2016-01-03 15:05] dg-505 commented on #628
As #629 is now merged, can this now be closed?

[2016-01-03 15:09] gilbertohasnofb commented on #628
Yes, absolutely! I forgot to do so. Thanks again!

[2016-01-03 15:09] #628 closed

[2016-01-04 03:38] wlbragg opened #643 "Calling a missing or un-needed system file"
In c172p,xml, line 1802
[code]
I think this is an old call to a no longer existing or renamed file.

[2016-01-04 15:19] legoboyvdlp commented on #418
Right... I'll see what I can do with this!
Looks simple enough...

[2016-01-04 15:22] legoboyvdlp commented on #418
@gilbertohasnofb @Juanvvc @tigert any ideas about the size of the item in question?

[2016-01-04 17:57] wkitty42 commented on #643
in Systems there's c172p-hydrodynamics.xml and in Nasal there's jsbsim-hydrodynamics.nas... i find 22 occurrences of the term "hydrodynamics" and 7 of those are in .git specific files... i don't see anything other than that one line that references that file... i'm assuming it would be an xml file like the c172p-hydrodynamics file is...

[2016-01-05 08:47] gilbertohasnofb commented on #418
Try having a look at tigert's website, he has several pictures of the real thing. See http://tigert.1g.fi/kuvat/Simulators/Flightgear/

[2016-01-05 08:52] gilbertohasnofb commented on #440
For those who dont follow the forum, there has been some reported problems about the MP and crashes, see http://forum.flightgear.org/viewtopic.php?f=4&t=25157&start=2535#p271381

[2016-01-05 13:15] legoboyvdlp commented on #418
Thanks :)

[2016-01-07 02:04] HHS81 opened #644 "FDM uses wrong type of fuel --> wrong weight of fuel"
According http://wiki.flightgear.org/JSBSim_Fuel_System    JSBSim calculates 6.6 lbs/ gal fuel weight as standard. This is the density of Jet Fuel.
But the C172 uses AvGas. So it should be 6.02lbs/ gal. So fuel weight is not correct!

How to Fix:
Standard tank is 43 Gallons for the Cessna 172P , so add <type>  AVGAS</type> btween <tank></tank> tags and change each capacity to 129.43lbs.

[2016-01-07 02:20] HHS81 commented on #633
Light on the C182S and Dornier 328 has been done by using Gimp --> Filters --> Light and Shadows --> Supernova with no beams.
I used a layermask with a radiant color gradient to get rid of the square edge.
I used the flash animation (used on the airport beacon as well) since the navlights are only visible under certain angles.

[2016-01-07 02:33] gilbertohasnofb commented on #633
@HHS81 Yes, I like your light texture quite a lot, it was one of the first features of the c182s that made me think "wow" :wink:

[2016-01-07 03:07] wkitty42 commented on #644
On 01/06/2016 09:04 PM, HHS81 wrote:

something doesn't look right in the above... where'd your periods (.) go???

[2016-01-07 10:10] onox commented on #644
According to POH, standard tanks capacity is 43 gallons, long range tanks is 54 gallons, and integral tanks 68 gallons.

[2016-01-07 15:12] gilbertohasnofb opened #646 "Next release and milestones names"
@onox @Juanvvc @wlbragg @dg-505 and all others: do you guys know when exactly do we need to have a stable model ready for merging into FGDATA in order to make it to the next release? By the discussions in the dev list it seems a next release will come soon. If that's the case, maybe we should start doing what we did for the 3.6 and start moving issues to more future milestones if they are not goin

[2016-01-07 15:21] gilbertohasnofb commented on #646
This is a list of bugs that I think we could have a look once again before the next release, though none of them are as serious as the ones we had to fix before the 3.6 freeze IMO:

https://github.com/Juanvvc/c172p-detailed/issues/607
https://github.com/Juanvvc/c172p-detailed/issues/547
https://github.com/Juanvvc/c172p-detailed/issues/414
https://github.com/Juanvvc/c172p-detailed/issues/399
https:

[2016-01-07 15:45] legoboyvdlp commented on #418
I'm not really confident enough to do this; if nobody else gets it done before I look at it, I'll do it, but right now, I'm not sure. I'm still at basic structures:
http://i67.tinypic.com/20kocg6.png

[2016-01-07 15:46] legoboyvdlp commented on #574
Oh my, monoxide _poisoning_?!
Sounds scary!

[2016-01-07 16:07] gilbertohasnofb commented on #418
No pressure, lego.

[2016-01-07 16:12] #644 closed

[2016-01-08 14:23] onox commented on #646
I think we could still keep the distinction between features and bug fixes, but the deadline of the two milestones will be the same.

As far as I understand it they're going to use something like yyyy.n.0 for git and yyyy.n.1, yyyy.n.2, etc. for stable releases. What's confusing IMO is that they use .0 for git. Usually .0 is used for a new stable release, and .1, .2, etc. are used for bug fix rele

[2016-01-08 14:25] gilbertohasnofb commented on #646
Sounds good to me.

[2016-01-08 14:27] gilbertohasnofb commented on #646
Also, two other things:

- the c172p in FGDATA is from July 2015. I already wrote twice to the mailing list about when and how should we do a merge for 2016.1.1, but I got no answer. Do any of you know anything about it?
- Edward d'Auvergne has made some commits in the c172p in FGDATA, shall we sync them with our repo? See: https://sourceforge.net/p/flightgear/fgdata/ci/next/tree/Aircraft/c172p/

[2016-01-08 14:31] onox commented on #646
Which files did he modify? SF says only files in `AI/Aircraft/` were modified.

[2016-01-08 14:34] gilbertohasnofb commented on #646
I don't think so, that commit is several pages long but the first page is only about modifications to `AI/Aircraft`. At page 6 ( https://sourceforge.net/p/flightgear/fgdata/ci/3bf57db6b479d0353f2d9f59702a90890ed5c34e/?page=5 ) we see:

[code]

[2016-01-08 14:34] gilbertohasnofb commented on #646
So it's basically the yoke, pedals and flaps textures only.

[2016-01-08 14:34] onox commented on #646
Yeah I see it now, SF interface is crappy.

[2016-01-08 14:35] gilbertohasnofb commented on #646
Tell me about it.. :wink:

[2016-01-08 14:37] onox commented on #646
I think you should ask him to create a PR, otherwise he doesn't learn that development takes place here :laughing:

[2016-01-08 14:39] gilbertohasnofb commented on #646
Yeah, I can do that :smile: But the thing is he used an automatic tool to fix all png files in FGDATA and so I don't think he is even aware that he modified the c172p.

[2016-01-08 14:39] onox commented on #646
Yeah, can you do `identify Models/Pedals/pedal.png` and see if you get those `iCCP` errors?

[2016-01-08 14:41] gilbertohasnofb commented on #646
I don't know much about those iCCP errors, but in a conversation with Edward apparently the version of the libpng packages that come with Linux Mint (and some Ubuntu distros) are not affected. I remember trying to run a command to identify them myself but there were no error messages at all.

[2016-01-08 14:41] gilbertohasnofb commented on #646
But given that the fixed png files open fine here for me, we could simply incorporate them.

[2016-01-08 14:44] onox commented on #646
Ok, you can do that, but please tell Edward that he shouldn't modify `Aircraft/c172p/` in fgdata, and instead create a PR here on Github.

[2016-01-08 14:45] wkitty42 commented on #646
On 01/08/2016 09:34 AM, Gilberto Agostinho wrote:

[trim]

these modifications are related to the invalid ICC profiles in PNGs, right? if
so, how were those PNGs created? they can be recreated without the invalid ICC
profiles... if they cannot be recreated without the invalid ICC profile, then i
would likely merge them back into this repo...

pngcrush was used to remove the invalid ICC profiles...

[2016-01-08 14:51] gilbertohasnofb commented on #646
@onox I will do so then. I just think that since this is the first time he modified something in the c172p folder there, and given it was automatically done via a terminal command and affect tons of others files, then there is no reason to make life annoying to him as to ask him to make an account here and create a PR himself when I can do that easily myself. But I will let him know about it.

@wk

[2016-01-08 14:51] gilbertohasnofb commented on #646
@onox just one more thing, I won't merge his modified `yoke.png` since we have a new yoke texture since the last sync in FGDATA.

[2016-01-08 14:53] onox commented on #646
@gilbertohasnofb Maybe it's better to just open the four .png files in Gimp and somehow get rid of the embedded color profile?

[2016-01-08 14:53] onox commented on #646
Or use pngcrush if it doesn't modify the picture itself.

[2016-01-08 14:54] gilbertohasnofb commented on #646
Why do you think that's better than using his fix? The thing is my system doesn't see any error so pngcrush doesn't seem to do anything about it here.

[2016-01-08 14:55] onox commented on #646
I'm not sure about it. I don't know how pngcrush "fixes" the file.

[2016-01-08 14:56] gilbertohasnofb commented on #646
Well, me neither... but however he did that, it seems to have fixed the problem for those observing the error messages, while others like me who never had any problems still can open the new files fine (can't tell the difference). So I just don't see why using his fixed png files would be a bad idea.

[2016-01-08 14:59] onox commented on #646
You said: "I won't merge his modified yoke.png since we have a new yoke texture" :wink:

[2016-01-08 15:02] gilbertohasnofb commented on #646
None of the textures I created or modified myself showed any problems, so I am pretty sure the new `yoke.png` file is fine. The files `flaps.png` and `manilla.png` should hopefully be replaced once someone help me implement the new texture I created for them in the issue https://github.com/Juanvvc/c172p-detailed/issues/634, but in the meantime we do have the old files in our project. As for the `p

[2016-01-08 15:03] onox commented on #646
Sounds good.

[2016-01-08 15:20] gilbertohasnofb commented on #646
:+1:

[2016-01-08 15:22] gilbertohasnofb opened #648 "Syncing modifications from FGDATA (Fixes for all PNG files with corrupted ICC color profiles)"
Sync Edward d'Auvergne's commit `Fixes for all PNG files with corrupted ICC color profiles` in the c172p in FGDATA with our repo. See: https://sourceforge.net/p/flightgear/fgdata/ci/next/tree/Aircraft/c172p/

[2016-01-08 15:25] gilbertohasnofb commented on #646
Done, see: https://github.com/Juanvvc/c172p-detailed/pull/649

[2016-01-08 17:24] gilbertohasnofb opened #650 "cockpit window effect"
Did we implement (or plan to do so) this cockpit window effect seen at around 9:13 in the video below?

https://www.youtube.com/watch?v=Dl756pvpiIA

I think it looks quite nice and it would give a more realistic feeling when flying "into the sun".

[2016-01-08 17:24] gilbertohasnofb commented on #650
@wlbragg do you know anything about this?

[2016-01-08 17:30] #648 closed

[2016-01-08 18:48] wlbragg commented on #650
Yes, it is something I want to do but was having trouble implementing it. I will try again and see if I can get it to work. One thing I could use though is the png mask that causes the glare to be more pronounced.

[2016-01-08 19:25] gilbertohasnofb commented on #650
Where is our current png mask? I can try to improve it, but it's difficult for me to do so because I don't understand very well how the effects work :cry:

[2016-01-08 19:27] gilbertohasnofb commented on #634
@wlbragg when you have the chance, do you think you could have a look at this? I can fix the xml myself I think, but for the 3D model update I'd need help.

[2016-01-08 20:13] #295 closed

[2016-01-08 20:18] onox commented on #650
Is it the [Mie forward scattering](http://wiki.flightgear.org/ALS_technical_notes#Mie_scattering) effect you mean?

We have `<texture n="3">` in `Models/Effects/interior/c172p-interior-glass-reflection-front.eff`, but don't we also need `<texture n="2">` if we're going to use [functional mask](http://wiki.flightgear.org/ALS_technical_notes#Functional_masks)?

[2016-01-08 20:19] onox commented on #650
Btw, are our windows UV-mapped?

[2016-01-08 20:41] gilbertohasnofb commented on #650
I really don't know the name of the effect, I just know that it's the pretty blurred light around the sun when viewed at direct angles in that video.

I don't know, sorry.

[2016-01-08 20:51] wlbragg commented on #650
Yes, I think so.

Not positive, but I think so.

[2016-01-08 20:53] wlbragg commented on #650
What aircraft was that example? I can look at it and get a better idea of the code and the mask makeup they used.

[2016-01-08 20:55] gilbertohasnofb commented on #650
I think it's Richard's F15.

[2016-01-08 21:29] wlbragg commented on #650
Yes.

What I was working on was a mask for defrost and defogging air vents. I remember, I never got anything to appear but I also didn't work on it that long.

[2016-01-08 21:34] wlbragg commented on #634
Yes, I'll look at it.

[2016-01-08 21:35] gilbertohasnofb commented on #634
Thank you so much.

[2016-01-09 06:35] wlbragg commented on #634
I noticed the ignition switch lighting looked messed up so I fixed it while I was at it.
![ignit](https://cloud.githubusercontent.com/assets/11069680/12214814/b40c7316-b668-11e5-925d-18b52ce4a3b3.jpg)

Unrelated I also moved all the development files to dev folder, I got tired of them cluttering up the models folder.

[2016-01-09 06:43] wlbragg commented on #634
![flaps](https://cloud.githubusercontent.com/assets/11069680/12214850/ebe4a94c-b669-11e5-9b61-11dd59a0fce8.jpg)

[2016-01-09 11:58] gilbertohasnofb commented on #634
Thank you so much!

Looks much better, that switch always had some strange problems (first the green illumination, now this). Now it looks finally fixed :smile:

About the flaps, thanks for the work, it looks good but it has a problem: the flap lever texture is applied sideways, note the shadow line inside the red circle in the image below, it should have been lengthwise and not sideways (that is,

[2016-01-09 11:59] gilbertohasnofb commented on #634
Forgot the image, see:
![test](https://cloud.githubusercontent.com/assets/5700795/12215921/d615230a-b6d0-11e5-9592-ee1ad2c25462.jpg)

[2016-01-09 14:13] gilbertohasnofb commented on #634
@wlbragg actually, the position of the levers also has to be fixed in Blender, I can only work on the animation of them in the xml file. The little T is a bit too high and the flap lever is also too high and too much to the right. This should be the new "path" of their animation:

![untitled](https://cloud.githubusercontent.com/assets/5700795/12216486/8983210a-b6e3-11e5-9ef4-14e5c674b940.jpg)

[2016-01-09 14:18] #607 closed

[2016-01-09 14:23] #465 closed

[2016-01-09 14:23] onox opened #654 "Move .blend files to dev/blender/"
Move .blend files to dev/blender/

[2016-01-09 14:34] onox commented on #634
@wlbragg I had to perform some surgery in branch `bug-634`, so chop off the 4 old commits and then pull:

1. Check your active branch is `bug-634`

2. `git reset --hard HEAD~4`. This should remove the 4 old commits.

3. `git pull` to get the 2 new commits

[2016-01-09 14:36] onox commented on #634
@gilbertohasnofb The current animation is a rotation animation, right? Maybe it should be changed to a translate animation using interpolation?

[2016-01-09 14:38] gilbertohasnofb commented on #634
Yep!

I need to study how this work as I only worked with very simple animations so far, but indeed we will need some like that in order to create the complex path the lever now should make.

[2016-01-09 14:54] #654 closed

[2016-01-09 15:45] onox commented on #633
@gilbertohasnofb It's not really nice to modify .ac files, because these files are generated. Shall I make a backup of lights.png, update the branch to be up-to-date with master, and then copy the backup to transparent2.png?

[2016-01-09 15:52] gilbertohasnofb commented on #633
Ok.

Sounds good.

[2016-01-09 16:14] onox commented on #633
@gilbertohasnofb If you do `git merge-base bug-633 master`. What does it say?

[2016-01-09 16:15] onox commented on #633
ddbb3276fd673f74dee7bb0c189ffadd40178033?

[2016-01-09 16:21] onox commented on #633
Anyway, it should. So when you're done with other issues, switch to `bug-633` and do `git reset --hard HEAD~2` and then `git pull`.

[2016-01-09 16:22] gilbertohasnofb commented on #633
It doesn't say that, it says:

[code]

[2016-01-09 16:23] gilbertohasnofb commented on #633
Before that I did:

[code]

[2016-01-09 16:25] onox commented on #633
I was assuming you did `git merge-base` before you did `git reset`. b299f860c39d11b06c5bdd810b7249e8008b63a5 is indeed the new common ancestor :+1:

[2016-01-09 16:26] gilbertohasnofb commented on #633
Ok!

[2016-01-09 16:31] onox commented on #633
The strobes are squarish :sob:

[2016-01-09 16:32] gilbertohasnofb commented on #633
you mean like the the pictures I posted above?

[2016-01-09 16:33] onox commented on #633
Yes. Is the UV mapping incorrect or something?

[2016-01-09 16:34] gilbertohasnofb commented on #633
That's the thing, nothing has been done in the Blender file yet. I simply copied the better lights from the 182, but now we have to adjust it to our model. It's part of the work that has to be done on this issue.

[2016-01-09 16:34] gilbertohasnofb commented on #633
see my first post for the TODO list :wink:

[2016-01-09 17:20] wlbragg commented on #634
OK, it may be later tonight or tomorrow before I can get get to this.

[2016-01-09 17:38] gilbertohasnofb commented on #634
No rush :smile:

[2016-01-09 19:44] onox commented on #492
@gilbertohasnofb Did D-ECHO respond?

[2016-01-09 19:45] gilbertohasnofb commented on #492
Not really. I will write him again.

[2016-01-09 20:41] onox commented on #339
I have pushed branch `bug-339` containing @tigert's work. Start `fgfs` with `--httpd=8080` and then open the web panel via the C172p menu in FlightGear.

[2016-01-09 20:42] onox commented on #339
ADF and EGT instruments are currently missing.

[2016-01-09 21:00] onox commented on #16
If the number of objects in the .blend file corresponds with the number of drawables, then perhaps we should organize all the objects into two groups:

1. `animation`

2. `static`

Objects under `animation` are used in animations (in `Models/c172p.xml`). All the objects under `static` are not used in animations. These objects can then be joined to become 1 object and then exported to the .ac file.

[2016-01-09 21:39] onox commented on #547
Is this still an actual issue?

[2016-01-09 21:42] onox commented on #453
Do we really want to display tooltips for gear damage as well? I find it a bit annoying during landing, and it is noticeable/expected (during landing) anyway. (Although it's a bit inconsistent though when you don't have them for gear damage)

[2016-01-09 22:09] onox commented on #623
I plan to change the behavior as follows:

1. If you press m/M or 9/3/page_up/page_down you increase/decrease mixture or throttle by 1 %.

2. If you keep the key pressed then after a very short duration (a bit longer than the time you need to press and release a key) it starts to continuously increasing/decreasing at a rate of, let's say, 3 seconds for 0 to 100 %.

3. I'll reduce the step for the

[2016-01-10 05:54] wlbragg commented on #453
Yeah, I don't know. I just happened to notice it was inconsistent. It would be nice if there was a way to indicate damage without a popup or words, maybe a sound or something visual?

[2016-01-10 05:57] wlbragg commented on #547
If you ever tried to land the Shuttle, there is no such thing as "too easy". I don't notice it as being easy, unless there is a specific action or an exact circumstance that makes it break real easy.

[2016-01-10 07:33] D-ECHO commented on #492
I've redone it:
[img]http://i.imgur.com/eLPD708.png[/img]

[2016-01-10 09:47] gilbertohasnofb commented on #492
@D-ECHO looks very good, thanks for your work! But the very top of the red plastic (the pointy triangle in the top) seems to be missing the red texture.

[2016-01-10 10:02] D-ECHO commented on #492
You mean the white top of the pitot tube?
Well, in your image, this part is also white...
;)

Am 10.01.2016 um 10:47 schrieb Gilberto Agostinho:

[2016-01-10 10:10] gilbertohasnofb commented on #492
Yep!

Well, I don't see it at all, do you mean this image here?

![](https://camo.githubusercontent.com/6841a175ce4a054fc4f3d31ede2c47ab507c9df0/687474703a2f2f61697266616374736a6f75726e616c2e636f6d2f66696c65732f323031312f30332f7069746f742d747562652e6a7067)

Looks all red to me...

[2016-01-10 10:23] D-ECHO commented on #492
I mean this image:
https://camo.githubusercontent.com/6841a175ce4a054fc4f3d31ede2c47ab507c9df0/687474703a2f2f61697266616374736a6f75726e616c2e636f6d2f66696c65732f323031312f30332f7069746f742d747562652e6a7067
Just before the pitot meets the wing, there is a white part

Am 10.01.2016 um 11:10 schrieb Gilberto Agostinho:

[2016-01-10 10:34] onox commented on #492
@D-ECHO I think @gilbertohasnofb meant this:

![687474703a2f2f692e696d6775722e636f6d2f654c50443730382e706e67](https://cloud.githubusercontent.com/assets/3361585/12221142/06d7ae28-b78e-11e5-9f03-40bfc1ba76d7.png)

[2016-01-10 10:42] D-ECHO commented on #492
ah, okay, thanks, my mistake

[2016-01-10 11:00] onox commented on #492
Also please put the pitot tube cover in a separate .blend file and position it at 0,0,0. We will set the offset in XML to position it correctly.

[2016-01-10 12:00] onox commented on #547
I can reproduce it on the taxiway near runway 27 at EDFM:

![fgfs-screen-413](https://cloud.githubusercontent.com/assets/3361585/12221376/f8b6e42a-b798-11e5-80f3-8dbfe3e77e2f.png)

But as Thorsten said; that's an issue with the scenery mesh.

About the nose gear damage: I can only barely reproduce it with strong tail winds of more than 40 knots, but at that speed the wings have a tendency to get l

[2016-01-10 12:35] gilbertohasnofb commented on #492
:+1:

[2016-01-10 12:53] D-ECHO commented on #492
Better like this? ;)

Am 10.01.2016 um 13:35 schrieb Gilberto Agostinho:

[2016-01-10 13:23] dany93 commented on #547
@onox
From your description (and my opinion, based on my tests when we adjusted it), the nose gear is not that easy to break. The risk is having it too hard, as @tigert  wrote it at this time.
However, that is only my opinion and the damages have been firstly implemented by @wlbragg and you. I do not feel to have the right (nor the practice IRL) to be "opposed".

[2016-01-10 15:14] onox commented on #547
In that case we should leave the force as it is.

Shall we close this issue and add a "wont fix" label to it?

[2016-01-10 15:15] onox commented on #492
Is there a picture or .blend file available somewhere?

[2016-01-10 15:24] wlbragg commented on #453
Thinking a bit more about this, if you broke a gear in RL I would imagine one of two "sound" events happening. A tire screeching or metal on pavement (or dirt) scraping. The screeching or sound should happen as long as WOW and groundspeed > 0. This might be the best way to notify the user of the event. Really the same hold true for wing or tail scrap, damaging a wing could simply cause a louder wi

[2016-01-10 15:25] wlbragg commented on #547
For now, :+1:

[2016-01-10 15:35] #547 closed

[2016-01-10 15:37] onox commented on #453
Yeah, we should enable sounds for damaged gear

Do you still want tooltips for wing damage?

[2016-01-10 16:42] gilbertohasnofb commented on #453
As for the sound, what about using the file `damage.wav` for the moment the gear collapses, and then I can create a loop with a scratching metal sound (see: http://freesound.org/people/machine_831/sounds/257302/ ) which should be played while broken, WOW and speed > 0?

[2016-01-10 16:55] wlbragg commented on #453
I guess it depends on your logic about it. In RL you might hear a nasty sound and feel something (maybe even a pitch change) and you would have to get out of the aircraft and examine the gear (or whatever damage), no one is going to be there to tell you what the heck just happened. So I guess it really isn't completely necessary to notify textually of the event, especially in light of the sound ev

[2016-01-10 16:56] gilbertohasnofb commented on #453
@wlbragg I would still change the sound a bit, but the idea is that after the gear collapses there will be a lot of metal scrapping the ground. I think I can transform that sound into something good, let me try here :smile:

[2016-01-10 16:59] wlbragg commented on #453
:+1:

[2016-01-10 17:05] gilbertohasnofb commented on #453
@wlbragg just one thing, which branch is this one here?

[2016-01-10 17:31] gilbertohasnofb commented on #453
I see that there was no work so far, only discussions, so I created a branch named `bug-453` and I pushed the new sound file to `/Sounds`. The file is called `scratch.wav`.

[2016-01-10 18:00] wlbragg commented on #634
I just finished rotating the lever texture did you want me to move the indicator over to the right so it starts in the black or are you going to do it all with xml?

[2016-01-10 18:00] wlbragg commented on #453
:+1:

[2016-01-10 18:01] gilbertohasnofb commented on #634
I'd say it's more elegant to have them in the correct position in the blend file. It's the same amount of work in xml I suppose, but leaving it like this will make it show "wrongly" in Blender while fine in the sim, and I think it may puzzle future developers :wink:

[2016-01-10 18:18] wlbragg commented on #634
It's pushed!

[2016-01-10 18:34] gilbertohasnofb commented on #634
:+1:

[2016-01-10 18:45] gilbertohasnofb commented on #634
@wlbragg Please don't kill me, but the flap lever texture is applied upside down! It's a super minor detailed, but:

![untitled](https://cloud.githubusercontent.com/assets/5700795/12223262/83c58722-b7d2-11e5-8311-10f78ca50591.png)

[2016-01-10 18:52] wlbragg commented on #634
No, my fault. sorry.

[2016-01-10 18:56] gilbertohasnofb commented on #634
No problem at all! :smile:

[2016-01-10 19:40] wlbragg commented on #634
Let's try this! :smile:

[2016-01-10 19:42] wlbragg commented on #634
I also had not mapped the indicator button. It was just using the white material.

[2016-01-10 19:44] gilbertohasnofb commented on #634
Now it looks perfect, thank you so much!

I will take a look at the xml file when I can, but given that this animation will be more complex than before I still need to learn how this can be accomplished. In the next weeks I am super busy with my thesis so I can't promise when I will get this done... :cry:

[2016-01-10 20:20] wlbragg commented on #634
If I have time I might get to it. It's not much to do once you know how.

[2016-01-10 20:21] gilbertohasnofb commented on #634
Feel free to do so, but if anyone can't do this I will have a look on it later.

[2016-01-10 20:49] onox commented on #339
@tigert Did you get the .svg files from somewhere or did you make them yourself?

[2016-01-11 13:02] kjd-nc commented on #623
So if I need to lean out to, say, 70%, then I would press and hold M until my EGT peaks, and then enrich just a little? Will the EGT gauge respond quickly enough to keep pace with the press-and-hold rate?

[2016-01-11 14:16] onox commented on #623
That question is not really relevant to this issue. What I intend to change is to give you the ability to get precise increments of the mixture when you give a single key press.

(I would hold m to get to 70 %, then release and give separate key presses until EGT peak.)

[2016-01-11 14:34] kjd-nc commented on #623
Perhaps I'm misunderstanding how the pilot is supposed to set the mixture. Does he look it up in a table in the POH? I'd read that the way it was done was to lean it until EGT peaks, then set a little rich from there. If the latter is the case, then I won't know whether I need to be at 70% or at 20% until the needle tells me. If you know from the POH that 70% is the correct setting for these condi

[2016-01-11 15:00] onox commented on #623
If you set the mixture to 20 % the engine dies. Before takeoff you set it to rich. After takeoff, and depending on altitude, you gradually lean it (by watching the EGT).

[2016-01-11 16:14] kjd-nc commented on #623
Is the intent to use press-and-hold to "gradually lean [mixture] by watching the EGT", or to use single keystrokes?  If you'll press-and-hold, then it ought to be gradual enough that one can react to the EGT needle.

We might be thinking the same thing, just using awkward words to describe it. One should not accidentally kill the engine by press-and-hold while waiting for the EGT needle to peak.

[2016-01-11 17:37] D-ECHO commented on #492
Hi, I've now exported it to .ac and changed the c172p.xml, so the rbf fits the pitot.
Where/How can I upload it?
![Pitot Tube](http://i.imgur.com/KXP2Tye.jpg)

[2016-01-11 17:40] gilbertohasnofb commented on #492
Looks really good, @D-ECHO! Thanks for the work :+1:

Do you know how to create a Pull Request (aka "PR") here on GitHub? If so, just create one and we will review and then merge your work.

If you do so, please note that we keep the `.blend` files separated in the `dev` folder, while the `.ac` file should go somewhere in the `/Models/Exterior` I suppose.

[2016-01-11 17:52] D-ECHO commented on #492
Done

[2016-01-11 18:35] onox commented on #623
Let me describe how m/M currently work:

1. If you press m key once, the mixture increase between 1, 2, or 3 %. How much depends on the value of the `/sim/time/delta-realtime-sec` property.

2. If you hold m, the mixture keeps increasing as long as you keep that m key pressed. It should go from 0 to 100 % in a fixed amount of time. At least, that's the theory. In reality it depends on the frame ra

[2016-01-11 20:30] kjd-nc commented on #623
OK, I've got that much. Now, after you've held 'm' to go to 100% rich and have climbed up to cruise, now you need to lean it out. Do you press and hold 'M' or do you tap it repeatedly?

[2016-01-11 22:38] dany93 commented on #547
After thinking, the nose wheel is really fragile. On ultralights, we hold the stick fully pulled when taxiing to decrease the load on it. Also, we pull the stick during acceleration before takeoff, just enough to almost have it not touching the ground.
At landing, the nose wheel must never ever touch first or even at the same time as the main wheels.

[2016-01-12 01:57] wkitty42 commented on #623
i would guess that that depends on how much you need to lean it out... hold it for a second or two and see where you end up and then tap it which ever way you need to go from there...

[2016-01-12 13:11] kjd-nc commented on #623
"that that depends on how much you need to lean it out"
How do you know how much?  The textbook says, by watching the EGT gauge. This is why I suggested that the time it takes for the knob to move full range ought to be greater than the time it takes for the EGT gauge to respond.

You and I know that one second, or a little more, will be adequate, because we've done it before and we know we want t

[2016-01-12 13:21] gilbertohasnofb commented on #623
@kjd-nc I honestly do not understand the issue here, for me the EGT gauge seems quite responsive and I find it extremely easy to find it's peak. Maybe you are having some troubles with the leaning technique itself?

[2016-01-12 13:50] kjd-nc commented on #623
I just did the following.
- Autostarted the C172p
- Climbed to 2000 ft
- Raised flaps
- Set throttle to 2000 RPM
- Enabled autopilot to hold altitude and heading.

If I press and hold M until the EGT needle starts to move, then it doesn't do too bad at getting me into the ballpark. If, however, I press and hold M until I can see the peak, then every time I overshoot badly enough to kill the engine

[2016-01-12 14:09] gilbertohasnofb commented on #623
Take a look at this, it's about a 182 model but the techniques are pretty much the same for the 172 as far as I know. It also explains the two techniques for leaning (best economy and best performance): http://www.gaceflyingclub.com/member%20download/LeaningArticle.pdf

[2016-01-12 15:05] kjd-nc commented on #623
I'm happy to learn more about flying, but as far as this discussion goes, I'm considering the novice sim flier. Do we expect a rookie to read this article before flying the sim?

I'm suggesting that we add a dash of idiot-proofing to avoid discouraging a rookie before he learns the finer points of the aircraft.  If the consensus of the group is that either:
- a rookie won't likely be this heavy-ha

[2016-01-12 16:56] onox commented on #623
If you're drunk or if you're a complete idiot, you can still get from A to B (or near B if you're drunk) by using autostart, 100 % throttle and pointing the nose at where you want to go. Is that the optimal way of operating the aircraft? No. So if a rookie wants to learn how to properly fly the aircraft, the rookie needs to read articles and/or the POH. FlightGear is a program that simulates aircr

[2016-01-12 16:57] onox commented on #623
Anyway, this discussion is getting off-topic.

[2016-01-12 21:06] #541 closed

[2016-01-12 21:12] gilbertohasnofb commented on #492
Closed via https://github.com/Juanvvc/c172p-detailed/pull/657

[2016-01-12 21:12] #492 closed

[2016-01-12 22:09] onox commented on #392
I lost interest in Canvas a bit, so we might just as well hide the Canvas version (the black one) and just show the old white one.

[2016-01-12 22:47] onox commented on #633
@wlbragg The new `Model/c172p.ac` generates following warnings:

[code]

I think it can be solved by just enabling the two objects in Blender before you export the file next time.

[2016-01-12 23:07] wlbragg commented on #633
Yes, dang it, my fault, I had them turned off in that last commit.

[2016-01-13 07:48] wlbragg commented on #314
@onox, I think I figured out the glass issue, check out the changes to the j3cub and let me know if that is what your looking for with the c172p. If so, I think I can do it with the c172p. On your word I'll start on it. It requires specular and diffuse lighting changes to the glass in the blend file.

[2016-01-13 22:51] onox commented on #314
J3Cub has a very nice reflection now :smile:

![fgfs-screen-431](https://cloud.githubusercontent.com/assets/3361585/12310386/5d1b9a14-ba50-11e5-99c6-56307cb2a6f4.png)

[2016-01-13 23:17] tigert commented on #339
I made them. I used the existing proof of concept web panel files from fgdata (altimeter, artificial horizon, etc) since they are essentially the same, and adapted and made new ones where needed for the c172. The Garmin-style VOR gauges are new etc.

I created the missing ADF and EGT gauges, but I currently lack a bit of time to actually integrate them, but @onox said you guys can wire them up in

[2016-01-13 23:18] tigert commented on #339
I can try to look into the engine gauges tomorrow.

[2016-01-14 01:06] onox commented on #339
I have added the two instruments. The white needle of the EGT instrument works, but the orange helper needle doesn't. The ADF needle doesn't work either.

[2016-01-14 01:07] onox commented on #339
I have edited the `.svg` files a bit to change the title and author in the metadata.

[2016-01-14 07:01] tigert commented on #339
Yeah, thanks. The metadata was probably just bonkers.

The way the orange helper needle needs to work is just a needle you can adjust, it should probably have a range that spans the visible gauge area, and it should remember its setting across sessions if possible. It is not really connected to anything in the real aircraft, the purpose of it is to mark the peak EGT for example, so you can then se

[2016-01-14 19:28] #613 closed

[2016-01-14 19:30] onox commented on #339
I know what the orange helper needle is supposed to do. It does move in the 3D model, but not in the web panel.

[2016-01-17 19:03] gilbertohasnofb commented on #392
@onox no problems at all, but if we don't plan to work on the Canvas version, wouldn't it be better to remove it instead of hiding it, so that the non-Canvas GPS may one day make it to the master? My plan before was to add a checkbox to the aircraft menu to show/hide the GPS, and I can do that in this branch. (BTW sorry for my late reply, I have been super busy lately)

[2016-01-18 02:05] onox commented on #392
If you remove it, someone needs to recreate the black GPS device. But since we already have it, simply hiding it is much easier. (It's also easier to unhide it later)

I'm a bit confused, that checkbox already exists in `bug-392`.

[2016-01-18 02:06] gilbertohasnofb commented on #392
Okay, so I will simply hide it then.

Oh, I forgot I already had added it! :tired_face:

[2016-01-18 02:07] onox commented on #392
I'm working on it right now :smile:

[2016-01-18 02:09] gilbertohasnofb commented on #392
Okay then, thanks onox!

[2016-01-18 02:09] onox commented on #392
You can merge the PR in a minute :wink:

[2016-01-18 02:10] gilbertohasnofb commented on #392
Hmm, wait a second, are you then planning to merge a hidden Canvas GPS and a non-hidden non-Canvas GPS? Isn't that a bit messy?

[2016-01-18 02:11] onox commented on #392
Not really, it's just a bunch of files that aren't being used.

[2016-01-18 02:13] gilbertohasnofb commented on #392
Okay, I see, so there won't be any mentions of the Canvas version in any of the plane's XML files, but the Canvas GPS itself will be there somewhere in some subdirectory, is that correct? If so, then I guess it's harmless. I thought you meant "hiding" by making it invisible, but leaving the XML code there or something like this.

[2016-01-18 02:13] onox commented on #392
I have just commented the XML code.

[2016-01-18 02:14] onox commented on #392
Or should I make a comment that the path to .xml file just needs to be modified?

[2016-01-18 02:14] onox commented on #392
That seems cleaner.

[2016-01-18 02:16] onox commented on #392
Well... I'll just leave it as it is currently (commented the XML code) so that whoever implements the Canvas, can look at both devices side-by-side.

[2016-01-18 02:16] gilbertohasnofb commented on #392
:+1:

[2016-01-18 02:16] gilbertohasnofb commented on #392
If you create a PR, I can take a look at it now and merge it.

[2016-01-18 02:21] onox commented on #392
@gilbertohasnofb PR has been created.

[2016-01-18 02:29] #392 closed

[2016-01-18 02:38] onox opened #662 "Port 196 GPS to Canvas"
A second 196 has been added (black instead of white) with an empty screen. Go to [`Models/c172p.xml`](https://github.com/Juanvvc/c172p-detailed/blob/master/Models/c172p.xml#L103-L151) and unhide the Canvas model. After that add an actual Canvas implementation.

See #392 for the discussion.

[2016-01-18 02:59] onox commented on #634
You could focus first on just the vertical translate animation. That should not be too difficult.

[2016-01-18 03:01] onox commented on #633
@wlbragg Would you be able to make the necessary modifications in Blender?

@gilbertohasnofb Could we just copy the light objects from the c182 Blender file? Its lights look great.

[2016-01-18 03:54] wlbragg commented on #633
I'll see if I can get to this tomorrow.

[2016-01-18 04:17] onox commented on #633
:+1:

[2016-01-18 06:23] onox opened #664 "Improve layout of Aircraft Options dialog"
1. Move "Allow securing aircraft" and indent the related check buttons to show the relationship
2. Re-order bushkit options

![fgfs-screen-438](https://cloud.githubusercontent.com/assets/3361585/12384578/f447661e-bdb3-11e5-9a9c-f5b91353f9dd.png)

[2016-01-18 06:34] onox opened #666 "Improve Autostart"
Set heading offset (depending on magnetic variation) when clicking on "Autostart".

I also wanted to remove setting the oil-level back to 7.0. If the user has chosen not enable oil management, then the oil management will stay at 7.0 If the user DID chose to enable oil management, then the user has indicated that the oil must be managed. Thus resetting it back to the default is kinda annoying.

Sa

[2016-01-18 06:42] onox commented on #515
I just tried it and it seems to depend on the wind direction.

[2016-01-18 09:43] dany93 commented on #515
I think that it is, at least partly, due to the propwash effect. It may be a bit too strong when the aircraft is almost stopped. With a tricycle aircraft, the nose wheel is there to counter it but on the amphibian the nose wheel is castered (free to rotate). At moderately higher speed, the rudder becomes efficient enough to counter it.
As far as I know, the propwash effect is hard-coded (I do not

[2016-01-18 10:44] gilbertohasnofb commented on #633
Yes, I think we can do that. But notice that Heiko has also programmed the angles in which the lights are visible, but I have no idea how that works. Also this issue here isn't fixed yet, though he wrote me that the new model will probably have it fixed (should be pushed in the next days): https://github.com/HHS81/c182/issues/17

[2016-01-18 10:55] gilbertohasnofb commented on #664
Looks pretty, I will test the PR now :smile:

[2016-01-18 10:57] gilbertohasnofb commented on #634
I will try that when I have more time, onox. I am really super busy with my thesis :sob:

[2016-01-18 11:04] #453 closed

[2016-01-18 11:10] #664 closed

[2016-01-18 18:10] wkitty42 commented on #664
i like this new layout... i do have a thought, though... perhaps the "allow securing aircraft" options could be in a side pop out menu? when you mouse over it, the menu opens? that or when the box is checked, then they appear as shown? i don't have a problem with it but i was thinking that it is getting a little bit long and seeing how some other menus in other craft pop out on certain items, it w

[2016-01-18 18:15] gilbertohasnofb commented on #664
I don't know what's this pop out menu you are talking about, can you give some examples of planes using it?

[2016-01-18 20:26] wkitty42 commented on #664
On 01/18/2016 01:15 PM, Gilberto Agostinho wrote:

i think what i was thinking of it like those that come up in the bluebird hover
craft... they've even got certain keys set to bring up some of their menus...

what i mean by "pop out" was like you see in most menus where hiliting or
hovering over an option springs a menu out to the side... that depends on the
menuing system, though, i guess... i e

[2016-01-18 23:06] wlbragg commented on #633
I pushed what I was capable of doing. I'm not happy with the landinglight object.

[2016-01-19 01:33] gilbertohasnofb opened #670 "Copy 3D seat mounts from c182"
Copy 3D seat mounts from c182: that project has detailed mounts while we are still using a shameless cardboard rectangle :wink:

[2016-01-19 02:24] legoboyvdlp commented on #670
Thank goodness; I was trying tof igure out just how to start, and couldn't.
I'll need to be lot's more comfortable with Blender before I 'fix' (break most lkkely) the Cessna.

[2016-01-19 02:33] onox commented on #633
@wlbragg Have you fixed the light cones and some material error in this branch as well? I have merged your changes in PR #669, but as you know, git cannot create diffs of binary files, so there's a risk that you may undo fixes from other branches.

[2016-01-19 04:07] wlbragg commented on #633
Sorry about that, yes this contains both the material correction and the cones corrections. Please test and notice the Non-ALS landing light, view from external front with landing and taxi lights on..

[2016-01-19 05:31] onox commented on #633
Lights look better. Are there any boxes you can tick in https://github.com/Juanvvc/c172p-detailed/issues/633#issue-123902153?

@gilbertohasnofb Could you elaborate? Aren't the lights on the left wing in RL? (On which they already are in the 3D model)

[2016-01-19 05:51] wlbragg commented on #633
I'd like @gilbertohasnofb  to take a look and see if he can eliminate anymore checkboxes because I'm just not sure if I satisfied any of them. The viewing angle does have influence on what we see, but I don't know if it is what he's talking about.

Also just added the seat mounts from the c182. Per your suggestion I added it to this PR. Can we combined the two issues here? Like you said, working o

[2016-01-19 10:42] onox commented on #633
We still had those pennies in the cabin? I thought they were removed a long time ago :open_mouth:

[2016-01-19 10:47] onox commented on #633
Did you copy the mounts or the seats as well?

[2016-01-19 12:48] gilbertohasnofb commented on #633
@onox

Sorry, meant left wing of course. Fixed int he list.

@wlbragg

All the checkboxes left involve Blender so I don't think I am the right person to tick them. If you feel something has been fixed, go for it!

It's hard to explain but easy to see. Would you mind taking the c182 for a flight? Do this: in the external view, with all lights on, spin around the plane. Notice how the strength of th

[2016-01-19 12:48] gilbertohasnofb commented on #670
No worries, lego :smile:

[2016-01-19 13:10] gilbertohasnofb commented on #633
@wlbragg I need to know exactly where the seat mount will be in the texture file. Would you be able to export that image of the texture file + the orange overlay of the 3D mount object into a 1024x1024 or 2048x2048 file? This way it would be trivial for me to match the positions. Using your image above would be a huge headache, as I have to manually guess the scaling and try to match it to the tex

[2016-01-19 18:55] wlbragg commented on #633
I'll see what I can do.

I think when we moved the blend to /dev/. I went back into the blend and remade all the paths to the textures but didn't know or see the pennies, so I saw them yesterday and when I remade their paths they were all screwed up. There must be a secret to it. The pennies on the texture.png are surrounded by white yet the UV map is a square because the pennies are a square obje

[2016-01-19 20:22] wlbragg commented on #633
I just copied the mounts. Did we want the seats? The seat and mounts were all one piece, it required a technique to split them apart, then another on to separate the left and right seat mounts and sizing that to fit the tracks. Not as simple as it might appear.

[2016-01-19 20:33] gilbertohasnofb commented on #633
Great, thanks! I think there is a way of exporting a paintkit from Blender which will show only those contours. I just need the correct position and size of the mount, so a ugly looking paintkit-like png file but in the correct proportions would suffice. Do you know how to export them?

Let's just hope we aren't missing anything important that potentially got screwed up as well!

No, I don't think

[2016-01-19 20:39] wlbragg commented on #633
OK, question, is that suppose to be the behavior of the red and green lights on the wings? What I mean is that those light are pretty much only visible from 10-20 degrees off the front to about 40-50 to the side. In other words if 0 deg is facing the aircraft and 90 is looking down the right wing, the arc of visibility is only 10-90 and 20-70 with better visibility. Is that the behavior of that ty

[2016-01-19 20:52] HHS81 commented on #633
@wlbragg: Indeed navlight are only visible at certain angles. That comes from nautics as you can see here: https://en.wikipedia.org/wiki/Navigation_light#/media/File:Propmec50.PNG. (from: https://en.wikipedia.org/wiki/Navigation_light)

On rembrandt it is easier to do, than in default/ALS-renderer. I used the flash animation to create a similar effect, the angles are just an approximation.

[2016-01-19 21:21] wlbragg commented on #633
Thanks, I used your flash animations and textures and am just now getting ready to push, looks great!

[2016-01-19 21:26] wlbragg commented on #633
OK that part is pushed, I still need to look at the taxi and landing light.

[2016-01-19 21:45] wlbragg commented on #633
@gilbertohasnofb here is a lower resolution jpeg of interior.png with the layout on it. It should be to scale or really close to it.
https://dl.dropboxusercontent.com/u/63093453/fg/c172p/interior.jpg

[2016-01-19 21:48] gilbertohasnofb commented on #633
That's exactly what I needed! I will try to take a look at it still today, ok?

[2016-01-19 22:18] wlbragg commented on #633
I think I found out what is wrong with the landinglight object and effect. I think I either never put a condition on when to show the various landinglight configurations, ie: damaged vs non-damaged. The only condition was either on or off regardless of damage configuration so they are all on at the same time.
Speaking of damage and lights. I haven't checked how this nav light animation is going to

[2016-01-19 22:18] wlbragg commented on #633
No hurry.

[2016-01-19 22:42] wkitty42 commented on #633
On 01/19/2016 12:51 AM, wlbragg wrote:

so /that's/ what those pennies were in the texture file(s) for! i never
understood why some had them... i've never looked for them either... there
should be more than just pennies, though :wink:

[2016-01-19 22:45] gilbertohasnofb commented on #633
hehehe please no more rubbish in the plane's floor! I think we have diametrically different tastes for such things :stuck_out_tongue_winking_eye:

[2016-01-19 22:56] wkitty42 commented on #633
On 01/19/2016 05:45 PM, Gilberto Agostinho wrote:

hahaha... i was just looking to be able to get a beer or possibly slice of pizza
at the next landing place :wink: :wink:

but, it's cool whatever is done with them :smile:

[2016-01-19 23:25] wlbragg commented on #633
I haven't seen any other objects.
OK, I think I am done with the lights barring any adjustments or other decisions.
Here is what I did, I completely removed landinglights from all damaged configurations. So if you physically damage a wing, the landinglight is considered broke. I only commented out the code and hid the objects in blender so if we decide to add them back in with conditions we can, y

[2016-01-19 23:45] wlbragg commented on #633
That is not exactly true, there is the LandingLightCone and the TaxiLightCone but I have no idea what they do are they just for Rembrandt?

[2016-01-19 23:58] wlbragg commented on #633
OK, just went to the top of this thread and reviewed the checkboxes and see I am not done, ha!

I guess this answers my question about the taxi light.

I am really hesitant to rename the transperant2.png to lights.png, there is an awfully lot of objects between the c172p.blend and all the other blends to worry about the name, just my opinion. It's more than I want to tackle, too many places to tou

[2016-01-20 00:46] gilbertohasnofb commented on #633
@wlbragg about the seat mounts, I think we are using it upside down! :scream: This is how it's suppose to be:

![position](https://cloud.githubusercontent.com/assets/5700795/12436658/8845d940-bf17-11e5-8dad-3c59d77b7fea.png)

See for instance:

![](http://www.aircraftbyarmbruster.com/wp-content/uploads/2015/03/700-rt.-door-182q.jpg)

[2016-01-20 00:48] wlbragg commented on #633
Taxilight is in, not sure I like the way it works. I used the recessed light "landinglight2" for both the landinglight and the taxilight. But it doesn't show up correctly when only the taxilight is on. I don't know if the landinglight object gets in the way or what.

Well I'll be dipped! Sure looks that way. I guess the c182 is also?

[2016-01-20 00:49] gilbertohasnofb commented on #633
Yep, I will also tell Heiko about it :wink:

[2016-01-20 01:28] gilbertohasnofb commented on #633
@wlbragg new textures pushed!

[2016-01-20 01:43] #666 closed

[2016-01-20 02:07] wlbragg commented on #633
:+1:

[2016-01-20 02:51] onox opened #671 "Adjust stall horn volume to start at roughly 5-10 knots above stall speed"
Stall horn might become audible too late. Adjust pitch and volume a couple of knots above stall speeds in POH.

[2016-01-20 05:36] onox commented on #314
I'll move this to a later milestone because I think we have to wait until Thorsten has modified ALS to properly support dual layer glass.

[2016-01-20 05:55] onox opened #673 "Wings may oscillate if tied down while fps is very low"
If the the fps is low and the wings are tied down, the aircraft may start to oscillate a bit. Adjust the PID controllers to add some damping.

[2016-01-20 06:18] wlbragg commented on #633
OK, I'm done. Seat mounts are installed, textured and right side up :smile:

[2016-01-20 06:20] wlbragg commented on #633
@gilbertohasnofb , I sure hope your seat drawing is also backwards but not upside down, because I went with what I saw in the photograph and it looks like the big round end is the back and the two separate forks are the front.

[2016-01-20 09:22] onox commented on #633
Is the cone angle of the navigation likes OK? White is a bit narrow (something like between 160 - 200 deg) and green and red are only visible from something like 30-60 and 300-330.

[2016-01-20 09:22] onox commented on #633
Other than that the nav lights looks nice :smile:

[2016-01-20 09:35] dany93 commented on #671
I'd rather say that the criteria should be the Angle of Attack  (say, with no flaps, or depending on flaps). Otherwise, the stall speed depends on the Gross Weight at the moment. Worse, in a turn, the stall speed is much higher due to higher apparent load.

[2016-01-20 10:07] onox commented on #671
Yes, I know criteria is AoA, but what this PR does it make sure the stall horn gets hearable when you can still save your plane instead of when it's almost too late. If you look at the [code](https://github.com/Juanvvc/c172p-detailed/pull/672/files) you see I simply lowered the numbers a bit. (Inspired by what HHS81/c182 does)

[2016-01-20 10:45] HHS81 commented on #671
Correct, onox! All Cessna single engines let their stall horn work about 5-10ktn about indicated stall speed.
A good landing is when very shortly before the main wheels touches the ground you hear the stall horn. That's what every FI and good pilot will tell you (and you can see on many videos)

[2016-01-20 11:04] HHS81 opened #676 "Calibrate IAS needed according POH?"
That's a bit difficult to explain, but give me a try:
We know TAS = True Airspeed, which is the speed of the aircraft relative of the surrounding airmass.
And we know IAS = Indicated Airspeed, depending of the air pressure, but very important to the pilot.

But IAS does not only depend on the air pressure. It needs also to be corrected for known instrument and position errors. This is CAS = Calibr

[2016-01-20 12:47] gilbertohasnofb commented on #676
@dany93 maybe you are the right guy to check this out?

[2016-01-20 12:48] gilbertohasnofb commented on #633
:+1:

[2016-01-20 12:54] #634 closed

[2016-01-20 15:43] dany93 commented on #676
I'm looking at this.
But please let me some time, I'm not too much used to using these functions.
Neither with these calibrations.

@HHS81: Thanks for your links and your indications.

[2016-01-20 15:44] gilbertohasnofb commented on #676
@dany93 no rush, Dany!

[2016-01-20 16:35] HHS81 commented on #633
@wlbragg:
![image](https://cloud.githubusercontent.com/assets/12649375/12455425/eeb0f820-bf9b-11e5-8102-22e4bf1de746.png)
or:
![image](https://cloud.githubusercontent.com/assets/12649375/12455463/1c4b0640-bf9c-11e5-8c23-51f40325caab.png)

I guess your first drawing was correct, I will upload a btter version of the seatframe to the c182-repo

[2016-01-20 17:54] #671 closed

[2016-01-20 18:17] wlbragg commented on #633
OK, I'm confused, are the seat mounts backwards in my last commit? If so I can rotate them on the horizontal easy enough?

[2016-01-20 18:18] wlbragg commented on #670
OK, I'm confused, are the seat mounts backwards in my last commit? If so I can rotate them on the horizontal easy enough?

[2016-01-20 18:21] gilbertohasnofb commented on #670
I honestly don't know as the model isn't identical to the images we have. IMO the difference is small and it looks fine to me, but maybe you can ask Heiko what his intentions were.

[2016-01-20 18:34] #673 closed

[2016-01-20 20:20] wlbragg commented on #633
I looked at the flash animation docs and I didn't see anything about viewing angle in them, only scaling. I don't understand or know how to change the viewing angle?

[2016-01-20 20:47] HHS81 commented on #633
You controll the effect by Power and factor. Power the "flash" effect, factor for the size.

[2016-01-20 21:10] wlbragg commented on #633
@gilbertohasnofb, I took another look at renaming transparent2.png to lights.png and realized it wasn't as hard as I thought it might be, so I did it. Another check box ticked off.

@HHS81, do either of those control the viewing angle? I'll go ahead and test that to see, thanks.

[2016-01-20 21:11] gilbertohasnofb commented on #633
Great!

[2016-01-20 21:13] gilbertohasnofb commented on #634
@onox Do you think you could give us a hand in the c182 project? Heiko can't find which part of the code makes the lever smoothly move from a position to the next notch, the lever is simply teleporting to the new positions. See: https://github.com/HHS81/c182/issues/33

On the other hand, Heiko used a translation + rotation to animate the lever, maybe something like this could look better in our pl

[2016-01-20 21:32] wlbragg commented on #633
OK, I reduced the power which seems to have increased the view angle.

[2016-01-20 21:34] wlbragg commented on #633
The only issue I know of with this is the size of some of the light effects. Is that still and issue?

If not, I think we are ready to merge barring any negative testing results. Do we need to go ahead and make a PR to encourage testing?

[2016-01-20 21:36] gilbertohasnofb commented on #633
If you make a PR, just make it clear that the work isn't ready to be merged yet :warning: :warning: :warning: :smile:

[2016-01-20 21:48] gilbertohasnofb commented on #633
Okay, some constructive feedback:

- the wingtip lights are behind the 3D object when viewed from a frontal angle, see:

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/12464077/913dd948-bfc7-11e5-9103-5664452e7fd5.png)

- same is true for both lights in the tail:

![fgfs-screen-008](https://cloud.githubusercontent.com/assets/5700795/12464093/a30095a8-bfc7-11e5-91fa-db0436bdb

[2016-01-20 22:01] wlbragg commented on #633
Thank you, good eye. I'll work on it!

[2016-01-20 22:01] gilbertohasnofb commented on #633
Thanks a lot!

[2016-01-21 03:13] wlbragg commented on #633
OK, push some changes.
The nave, landing and tail lights are positioned way better now that I understand how the positioning works. This should correct all the remaining issues you pointed out except..

1) I don't know how to change the size of the strobes.
2) I don't know how to offset the the red tail beacon so it is not centered in the light. It would require some kind of offset that would foll

[2016-01-21 07:18] gilbertohasnofb commented on #633
@wlbragg We are getting there, thanks for the work!

- about how to change the size of the strobes, aren't the textures in `lights.png` applied to an 2D plane in Blender? If so, then I guess diminishing the size of it or playing with the UV-map could solve it (wild guesses). Maybe ask Heiko about it.

- the offsets of all lights look much better now, thanks a lot! As for the red beacon, I think th

[2016-01-21 08:48] wlbragg commented on #633
Yes, I'm not sure if we are going to be able to do anything about this one. Maybe side by side will work better. I'll try that tomorrow, it takes time to move those around.

Done.

I matched the c182 exactly and it still looked bad. It may be a tad bit better now but not much. We have a bunch of code related to BeaconOffX and the c182 doesn't. So I think that particular light is fundamentally set

[2016-01-21 10:40] gilbertohasnofb commented on #633
@HHS81 do you think you could advice us how to solve these issues mentioned above?

[2016-01-21 20:03] #676 closed

[2016-01-21 21:23] wlbragg commented on #664
Very nice indeed!

[2016-01-21 22:03] gilbertohasnofb commented on #664
I just tried the Bluebird (sorry for the delay) but I have to say I don't like that style of GUI. Exchanging lots of checkboxes in a single menu by several menus with the same amount of checkboxes doesn't make much sense to me. I don't think our menu is cluttered (at least when compared to X-Plane http://www.x-plane.com/wp/wp-content/uploads/2013/06/location-data-input-output-screen-x-plane.png :w

[2016-01-22 03:58] wlbragg commented on #664
I noticed my comment was out of order and context. I hadn't taken the opportunity to comment on the changes to our GUI, I like the changes that were made. It looks really clean and organized just the way it is.

[2016-01-22 05:37] onox commented on #633
I don't see any halo around the landing light as @gilbertohasnofb is seeing:

![fgfs-screen-446](https://cloud.githubusercontent.com/assets/3361585/12503183/09d0a7e0-c0d2-11e5-8fc9-e7034b4c1130.png)

@wlbragg The external reflection is now working :+1: But the color tint is a bit too blueish. Can you make it more whiteish like other aircraft have it?

[2016-01-22 07:32] wlbragg commented on #633
That is fixed.

Yes, I'll get in the morning.

[2016-01-22 08:34] wkitty42 commented on #664
@gilbertohasnofb my comment was only about the one section of our menu... nothing more and yes, the bluebird is rougher than i remembered... i can't remember all the craft i've flown and what all their menus looked like...

[2016-01-22 08:51] gilbertohasnofb commented on #664
Well, so try them out before recommending their dialogs! :stuck_out_tongue_winking_eye:

[2016-01-22 18:30] HHS81 commented on #633
@onox and @wlbragg: No black halos, but yellow rings....
I guess you didn't use the lights from the c182s, but created new ones in Gimp?

[2016-01-22 19:59] legoboyvdlp commented on #633
OMG! That landing light is beautiful!

[2016-01-22 20:03] HHS81 commented on #633
O.k., @wlbragg
Blender modelling:
Strobe:
1.) for those light animation I switch back to good old blender 2.49 and use Melchiors fantastic flightgear-script: http://sourceforge.net/p/flightgear/flightgear/ci/next/tree/utils/Modeller/fgfs_animation.py
2.) with this I set a vertice at that point where I want to have the light. For the strobes at the very end tips of the strobe housing.
![strobe-poin

[2016-01-22 20:16] wlbragg commented on #633
@HHS81, thanks for the detailed info. I'll get on this later tonight.

[2016-01-22 21:22] wlbragg commented on #633
@HHS81 , after reading through the info, one thing it doesn't address, or ai missed it, is how to size the strobes. Do you know if they can be sized?

[2016-01-22 21:30] HHS81 commented on #633
Simply be resizing the plane created by Blender.

[2016-01-23 00:42] wkitty42 commented on #664
On 01/22/2016 03:51 AM, Gilberto Agostinho wrote:

i know you're being funny but i should go digging back thru 600+ craft to try to
find the few dozen or so that i've found with menus like i described? yeah,
thanks but no thanks :wink:

[2016-01-23 09:57] gilbertohasnofb commented on #664
Not really, but if you are recommending something, it's good that you try it first. Should __I__ test something that crossed your mind and then it turns out you don't remember how the menu looks like? Thanks but no thanks to that :wink:

[2016-01-25 19:09] onox opened #680 "Propeller can be crashed while "Damage" is disabled"
Propeller and engine can be killed while "Damage" is unchecked.

[2016-01-25 23:46] #633 closed

[2016-01-25 23:47] gilbertohasnofb opened #682 "The beacon light is colliding with the glass"
The beacon light is currently colliding with the glass:

![fg](https://cloud.githubusercontent.com/assets/5700795/12567948/9af5287a-c3c2-11e5-8b43-d66b393e9308.jpg)

See the discussion here for more info: https://github.com/Juanvvc/c172p-detailed/pull/678#issuecomment-174726479

[2016-01-25 23:51] #680 closed

[2016-01-25 23:52] #670 closed

[2016-01-25 23:52] #418 closed

[2016-01-25 23:52] #314 closed

[2016-01-26 12:53] gilbertohasnofb opened #683 "External lights aren't visible from certain angles"
Gijs wrote in the forum:

[2016-01-26 12:53] gilbertohasnofb commented on #683
It looks like he is right, what do you think, @onox @wlbragg ?

[2016-01-26 14:48] wlbragg commented on #683
He's right, I thought that was odd that you could not ever see both red and green at te same time.

[2016-01-26 15:00] gilbertohasnofb commented on #683
:+1:

[2016-01-26 15:08] onox commented on #683
First some definitions: 0 deg is from cockpit to nose, -90 deg is from cockpit to right wing, and +90 deg is from cockpit to left wing.

@Gijsrooy I defined the visibility of the red and green navigation lights to have an arc of 110 deg, exactly as is shown in http://forum.flightgear.org/viewtopic.php?f=4&t=25157&start=2550#p274105 In fact there is a gradual reduction, but it is from about -12 to

[2016-01-26 15:10] onox commented on #683
If I'm not mistaken, the current arc is about 157.955 deg wide, and it would need to be increased to 205 deg.

[2016-01-26 15:12] gilbertohasnofb commented on #683
I think your proposal sounds reasonable, @onox. We can give it a try and see how it looks I suppose.

[2016-01-26 15:18] Gijsrooy commented on #683
Yes please, it'd be nice to see how that works out. I find it remarkable that the regulations only go up to 0 degree. Maybe I missed some subsubsub, as I'm quite sure that you should be able to see both from the front...

Simulating lights correctly is a pain, but you're doing very well so far! Once this issue is sorted I'll probably take and modify them for the 744 :-)

[2016-01-26 17:13] wlbragg commented on #683
So for now this is an XML fix?
@onox, are you currently working on this?

[2016-01-26 17:26] wlbragg commented on #683
I found info on the beacon light collision with the body.
https://sourceforge.net/p/flightgear/mailman/message/12102066/

[2016-01-26 18:22] wlbragg commented on #683
I'm jut about ready to push the nav light changes.

[2016-01-26 18:40] wlbragg commented on #683
It would really be nice to document the functions of all the tags available in these animations.
I would consider adding the documentation to the wiki if I understood it at all.

Things like...

axis - what exactly are those numbers doing, all I know is a larger negative value on the x increased the viewable arc.
min, max - appears to be clipping the light at certain angles. min 1 x max 4 seemed t

[2016-01-26 18:43] wlbragg commented on #683
Sorry for the rant, anyway a change has been pushed and can be tested. :smile:

[2016-01-26 18:53] wlbragg commented on #683
![crop2](https://cloud.githubusercontent.com/assets/11069680/12591097/ceba019e-c42b-11e5-95ae-451929bb3306.jpg)

[2016-01-26 18:56] wlbragg commented on #683
![crop2](https://cloud.githubusercontent.com/assets/11069680/12591204/467018d6-c42c-11e5-8c9f-28e04c404cbf.jpg)

[2016-01-26 19:10] wlbragg commented on #683
![crop2](https://cloud.githubusercontent.com/assets/11069680/12591602/3270fd4e-c42e-11e5-8121-9b03a396096a.jpg)

[2016-01-26 19:33] wlbragg commented on #683
Is this actually clipping the light brightness from min 1 to max 4 and the cone is responsible for clipping the light completely?
If so then changing the min to 1, which allowed it to be seen down the wing must not be the correct resolution to this issue but instead the range of the arc and the starting and ending point of the arc needs to be adjusted? What part of the XML does this and how?

[2016-01-26 19:40] Gijsrooy commented on #683
Yeah, that looks much better!

[2016-01-26 19:40] onox commented on #683
@wlbragg This issue requires modifying the cone object in Blender first. After that we can modify the XML.

The info about the "flash" animation can be found [here](http://wiki.flightgear.org/Howto:Animate_models#Flash).

[2016-01-26 19:43] onox commented on #683
As I said in https://github.com/Juanvvc/c172p-detailed/issues/683#issuecomment-175067086 the angle of the cone is about 158 deg. But it needs to be increased to about 210. So you need to modify the physical shape of the cones. In Blender :stuck_out_tongue_winking_eye:

[2016-01-26 19:52] wlbragg commented on #683
I sure am glad you can decipher the entire flash code from that short piece of documentation, but like I said, we need doc's for those of us that are not genius!

It may be somewhat less than that currently because we had to reduce the angle to keep from clipping into the wing.

So how to proceed?

[2016-01-26 19:53] onox commented on #683
Move the cone a little bit forward so it can bend around the wing?

[2016-01-26 19:55] onox commented on #683
Even better would be if Thorsten can generate lights using GLSL.

[2016-01-26 19:55] wlbragg commented on #683
I just posted the same to the c172p thread!

[2016-01-26 19:58] wlbragg commented on #683
We can't move the cone or we won't get the light point positioned correctly, it doesn't appear to behave when you try to put it past the cone. Therefor you will get separation from the light.

[2016-01-26 19:59] wlbragg commented on #683
We learned this during the last iterations.

[2016-01-26 20:00] onox commented on #683
Can't you move the center of the cone (the origin of the light) closer to the leading edge of the wing? And then rotate and increase the width of the cone?

[2016-01-26 20:01] wlbragg commented on #683
Maybe!

[2016-01-26 20:02] HHS81 commented on #682
I gave the answer to solve this already 4 days ago here: https://github.com/Juanvvc/c172p-detailed/issues/633
Given in the tutorial in the last posting --> section Beacon. The trick is to move the emitting plane which presents the beacon light on the y-axis:
![image](https://cloud.githubusercontent.com/assets/12649375/12593148/daa2d014-c46f-11e5-8504-358966796d2c.png)
The aircraft is seen here fro

[2016-01-26 20:03] onox commented on #683
So just wrap the cone around the leading edge of the wing tip by moving the vertices (or by pressing a magic sequence of keys, which is something I would love to know about since I'm not fond of using the mouse in Blender)

[2016-01-26 20:05] wlbragg commented on #683
I'm a bit confused though because looking at the cone in blender, your saying this angle is not enough, we nee to see farther than this limiting factor?
![cone6](https://cloud.githubusercontent.com/assets/11069680/12593283/e73cfed8-c435-11e5-8eae-6e0683842edb.jpg)

[2016-01-26 20:06] HHS81 commented on #683
Hmmm... I'm not sure if the idea presenting those lights as cone is good. I don't think that real lights looks like cones from some perspectives. It looks somehow strange when looking at those pictures wlbragg sent one hour ago.

[2016-01-26 20:07] onox commented on #683
Press 7 on your numpad (or go to View > Top) to go to top ortho. Then you see the cone needs to widened.

[2016-01-26 20:08] onox commented on #683
I think it would be much better to have lights generated in GLSL than having to use cones with a texture.

[2016-01-26 20:16] HHS81 commented on #683
emitting glsl quads with textures than emitting .ac quads with textures?

[2016-01-26 20:18] wlbragg commented on #683
How can the light at the opposite side be seen at the 45deg angle off the nose in the real thing? According to our physical light position, it can't, maybe we need to take a look at that?

[2016-01-26 20:19] onox commented on #683
Not necessary, you can use fragment shaders to generate all kinds of stuff: https://www.shadertoy.com/view/XtsSWs

[2016-01-26 20:19] wlbragg commented on #683
We would still need a bigger angle but the cone needs to be forward of it's current position, and according to the video the light itself must be?

[2016-01-26 20:20] onox commented on #683
Yes and yes :smile:

[2016-01-26 20:28] wlbragg commented on #683
Look at the video again, I'm not so sure that is the green light were seeing at 45 deg off nose.
I think 90 deg forward off the same wing tip should be the max angle to see either light. After that it is either a white light or a faint glow of the green mixed with white and that depends on the type of light being used.

[2016-01-26 20:29] wlbragg commented on #683
This is if you are using the type of light we are modeling in our c172p. You physically cannot see the light bulb at 45 off nose opposite.

[2016-01-26 20:29] onox commented on #683
But in the video you can?

[2016-01-26 20:31] wlbragg commented on #683
I'm not so sure that is green, search google for c172 nav light images.

[2016-01-26 20:33] wlbragg commented on #683
If that is the green nav then their lights are different than ours. You can't see through the wing! One image I saw the bulb was at the bottom of the edge of the wing, so you might be able to see it from slightly below.

[2016-01-26 20:33] onox commented on #683
It's green here:

![nav-lights-172](https://cloud.githubusercontent.com/assets/3361585/12594057/71575dfa-c474-11e5-844b-7deb01db818f.png)

[2016-01-26 20:34] wlbragg commented on #683
I don't really care for that either.

[2016-01-26 20:34] onox commented on #683
Do you think we should just ditch those cones and ask Thorsten very politely to make us some GLSL lights? :open_mouth:

[2016-01-26 20:35] onox commented on #683
He can make afterburner flames, so lights should be possible too :smile:

[2016-01-26 20:37] wlbragg commented on #683
Then that aircraft has a different light than we do, It simply is physically impossible to see our light at that angle.
We would still nee to get the correct light on the wing to see it at that angle.

But yes, I put the word on the forum, lets see his response.

[2016-01-26 20:46] gilbertohasnofb commented on #683
Thorsten had already offered to make some procedural lights, but I had informed him that we were happy with our results here (or so I thought). So my guess is that he would be opened for doing it, so @wlbragg can you clarify the situation with him?

[2016-01-26 20:50] wlbragg commented on #683
Yes, I think maybe I already have in the forum. I think he will get the picture, if not I'll PM him.
![nav1](https://cloud.githubusercontent.com/assets/11069680/12594472/e2925fbc-c43b-11e5-93e1-1a4421b07da2.jpg)
![nav2](https://cloud.githubusercontent.com/assets/11069680/12594515/18d83eac-c43c-11e5-8110-0c13289c6c6c.jpg)
![nav3](https://cloud.githubusercontent.com/assets/11069680/12594518/1aa85aa0

[2016-01-26 20:51] wlbragg commented on #683
How do you see the colored light from 45 deg opposite?

[2016-01-26 20:52] onox commented on #683
Black hole on the wing tip + gravitational lensing? :laughing:

[2016-01-26 20:53] onox commented on #683
Maybe a black hole is too much, just something with lots of mass!

[2016-01-26 20:55] onox commented on #683
On a more serious note: it's difficult to see what kind of nav lights exactly that 172 in the video has, but with shader lights we can probably have more control over it. I feel that we're currently abusing the "flash" animation a bit.

[2016-01-26 20:59] wlbragg commented on #683
Assuming we have some ability to control the behavior of the shader. It might be a good idea to list what we would like or need!

[2016-01-26 21:00] Gijsrooy commented on #683
Same aircraft as the first video, this time from the other side. Red light is clearly visible.

https://www.youtube.com/watch?v=Ke1pfqxrjSk

And a picture of its wingtip (sorry couldn't find a better picture on my quick search)

https://www.flickr.com/photos/48233656@N00/20248334900

So yes there are obviously dozens of different lights available. But in the end, shouldn't they all be visible from

[2016-01-26 21:01] wlbragg commented on #683
position
intensity
view range
view angle x, y and z

[2016-01-26 21:02] onox commented on #683
For the nav lights the inner angle where you have full brightness + outer angle where brightness is zero.

[2016-01-26 21:02] wlbragg commented on #683
Not necessarily, looking at the other drawings, they are not required past the zero? So it depends on the lights installed, the ones you showed don't match the video, IMO.

[2016-01-26 21:07] onox commented on #683
@wlbragg @Gijsrooy's video clearly shows that the nav lights are visible past 0 deg, so why not make sure that's also the case in FG?

[2016-01-26 21:08] Gijsrooy commented on #683
Well, I don't know the source of that drawing. The regulations mention the 110 degree, so I can see where that's coming from. And I neither understand how you can see a light around a corner, but it just doesn't make sense to me that you would not be able to see those lights when your right in front of the aircraft. Everything I've ever read or seen about position lights match the videos.

Anyhow,

[2016-01-26 21:10] onox commented on #683
Yeah, I agree with that. I'm signing off as well, need to study for exams a bit more :disappointed:

[2016-01-26 21:11] Gijsrooy commented on #683
Just one last comment: in general I trust photographs and videos more than drawings or manuals. That's one thing I've learned by working through thousands of pages of official Boeing manuals :P

[2016-01-26 21:17] gilbertohasnofb commented on #683
Good studies, @onox!

[2016-01-26 21:18] wlbragg commented on #683
I have no issue with making it past zero, my issue would be doing it with the wrong lights.

[2016-01-26 21:26] wlbragg commented on #683
You can't see through solid objects, if it can't be explained as to why, then your guessing. From the looks of this picture it may have to do with the position and size of the globe being at the bottom of the wing. Which would still limit it to being seen only from certain angles.
If I'm going to invest any more time beyond what I already have, then I want to know it is appropriate and not guesswo

[2016-01-26 21:29] wlbragg commented on #683
Here is the video aircraft compared to ours.
![172p](https://cloud.githubusercontent.com/assets/11069680/12595551/869847e8-c441-11e5-9824-760cc93665b8.jpg)

[2016-01-26 21:52] HHS81 commented on #683
That's how a nav light is looking and constructed.
http://www.aircraftspruce.com/catalog/pdf/71105-3.pdf
I can see a 110°deg angle.

What fgfs would need is a billboard animation but which has defined view angles. Instead of always facing the viewer, only in a defined space between two angles.

[2016-01-26 22:53] wlbragg commented on #682
Apparently not, or I simply couldn't understand it.

I am trying part of the suggestion. I don't want to have to rely on a Python script for a different version of Blender than what I have installed, so I need to understand this manually without script.

So, I gathered you needed to offset the plane to at least the distance of the outer edge of the light object. I did that and I can see some chang

[2016-01-26 23:01] wlbragg commented on #683
Regarding the possible shader work for aircraft lights. Some of the needed definable or adjustable parameters would be...

shape?
color
position
intensity (also influenced automatically with the atmospheric affects and available light)
view range (distance) (also influenced automatically with the atmospheric affects and available light)
view angle x, y and z

I agree with the caveat that we don't

[2016-01-26 23:13] wlbragg commented on #682
@HHS81 would it be possible for you to run your script on the c172p.blend in /dev and post the results for me, I would be very interested in seeing any differences from what we have?

[2016-01-27 20:20] HHS81 commented on #683
That's not correct. We do know it. It is partial obstruction by design as the .pdf above and resultats of a googles search shows. The values Gijs gave us are just requirements  every nav light should reach. How, that depends on the producer.

[2016-01-27 20:36] HHS81 commented on #682
I understand that you don't want to run another version of Blender.
The python script calculates the transational offset from the wanted point to the center (0,0,0).
It is more or less the distance from the point to the center. A bit geometry.....

There is a method without a need for calculations:
1.) create an emiting plane in blender at the center (0,0,0), and texture it
2.) save this as beacon

[2016-01-27 20:38] HHS81 commented on #682
If it still don't work, I can create the beacon, but propably not before the weekend.

[2016-01-27 22:01] wlbragg commented on #683
If this is true then in the video, if the viewing angle was identical to what is shown in the video, except from above the wing instead of below, you would not see the light. So I submit, to do this right we need to lower our light closer to the bottom edge of the wing and maybe slightly forward, maybe even a size adjustment (larger). I would like to see a video or image from slightly above and/ o

[2016-01-27 22:09] wlbragg commented on #682
We already have all this in c172p.xml. I'm not opposed to trying to separate it out to test, but I guess I don't see why it should be any different of a result? It is the same as what we have only moved to an included file?
Do you know what `<offset-m>5.61846</offset-m>` is? What is that a measurement of?

[2016-01-27 22:25] wlbragg commented on #682
I'm in no hurry as this may all be superseded by procedural texturing, but if you get a chance to use your script on the c172.blend, I would really like to see it!

Thank you for all your help and efforts.

[2016-01-27 22:43] wlbragg commented on #683
A closeup of the end of our wing.

![wingend](https://cloud.githubusercontent.com/assets/11069680/12631064/0dfb0d14-c515-11e5-845f-3f8f98e5c5a7.jpg)

[2016-01-28 09:01] HHS81 commented on #683
Well, that's how a cessna wingtip looks like: http://www.cessna172online.com/conical-wing-tips-0523565/
http://www.weekendcfii.com/photos/c172preflt/C172_right_tip.jpg

With partial obstruction by design I mean  how those 110°deg angle are achieved.

I found another video:
https://www.youtube.com/watch?v=xiHgrarb1nc
https://www.youtube.com/watch?v=OfXcMkh48pw

[2016-01-28 09:08] HHS81 commented on #682
It is the translataional offset needed for the billboard animation. The translational offset is the offset from the wanted point to the center (0,0,0). Geometry, to make it short....

If the translational offset is calculated wrong, the light appears anywhere else, but not there where you want it.
While the procedural texturing offered by Thorsten R. sounds nice, it is always good to have a fallba

[2016-01-28 18:37] wlbragg commented on #683
It's really hard to tell from looking at the light end-wise (from the tip down the wing) but that bulb housing obviously sticks out enough and is positioned low enough on the wing that it is visible from 20+ degree below the aircraft to 45ish degrees off the nose opposite. These videos pretty much confirm what is going on here.
![wing1](https://cloud.githubusercontent.com/assets/11069680/12654892/

[2016-01-28 19:21] wlbragg commented on #683
I think we need to move the light housing lower and maybe a bit forward and maybe a bit larger. Then  eventually we probably need a rework of the wing.

[2016-01-28 19:50] wlbragg commented on #683
Why are we using cones, the tail beacon light doesn't need it? Is that the only way you can completely hide the light at angles?

[2016-01-28 20:48] HHS81 commented on #683
You are using cones, because there was an author before you who added them (well, actually that was me)

We didn't have or had any way to completely hide the angles.

Yes, that's a very good explanation of what it actually does. That's why I used it, and that's also a good method for old fashioned rotating beacon lights.

If out of sight it should have a scale of zero, if I understood the animatio

[2016-01-29 18:36] HHS81 commented on #683
This is a C182:
![image](https://cloud.githubusercontent.com/assets/12649375/12684482/8393ebbc-c6bf-11e5-8fc4-64c09a4b3e8f.png)

Not visible here!

btw: http://forum.flightgear.org/viewtopic.php?f=47&t=28645
Nice, but I hate those star effect!

[2016-01-29 19:19] wlbragg commented on #683
Right, that pretty well confirms what is going on.

I've been experimenting by using a simple plane or planes instead of a cone and it looks better at the edge than the cone I think. I'm not sure how practical it would be but a 3 plane x/y/z each with their own flash animation might be the best visual but would require some precise parameters. Even one plane angled the same as the cone makes the e

[2016-01-30 18:40] gilbertohasnofb commented on #683
@wlbragg just in case you didn't notice, Thorsten opened a thread for procedural lights in the forum: http://forum.flightgear.org/viewtopic.php?f=47&t=28645

[2016-01-30 19:06] wlbragg commented on #683
Yes, I saw it, we need anyone that is familiar or experienced with lighting to speak up in that thread so we can get everything we need.

@onox, you may want to take a look at that thread and give me any suggestions or comments you might want passed on!

@gilbertohasnofb , you may also have input that I am not aware of.

[2016-01-30 19:22] gilbertohasnofb commented on #683
Ok, if anything crosses my mind I will speak up!

[2016-01-30 20:21] onox commented on #683
@wlbragg What Erik said (inner/outer angles and gains) in the forum thread would be nice.

[2016-01-30 20:22] onox commented on #683
And we should be able to define an axis where the angle is considered 0 degrees. (Which we also do in the "flash" animations)

[2016-01-30 20:29] onox commented on #682
@wlbragg Just in case you're using that XML from @HHS81 above, please instead of `<dep alias="../../../../Beaconlightparams/light-near"/>` use something like `<dep alias="/params/beacon-light/light-near"/>`.

[2016-01-30 21:35] wlbragg commented on #682
I haven't changed any of the code, we were already using the same method as far as I was aware of.

[2016-02-03 13:29] gilbertohasnofb commented on #646
Torsten wrote in the mailing list today:

Is anyone aware of how/when/if will we make another merge into FGDATA prior to that release?

[2016-02-03 16:27] wlbragg commented on #646
This is the right way to look at this, I was about to make the same comment prior to finishing this thread. What would be nice to know is what causes this "bad" png. Do any changes or new png's we create have this bug? From your prior post @gilbertohasnofb, it sounds like they don't cause problems. Must have been some older program that saved png's poorly or at least differently then others.

Who

[2016-02-03 16:30] wlbragg commented on #682
Looks like the proceedural light code is in place. I am a bit under the weather today and may not start on this until I feel a little more like the "living".

[2016-02-03 16:33] wlbragg commented on #683
Looks like the procedural light code is in place. I am a bit under the weather today and may not start on this until I feel a little more like the "living". Same for #682

[2016-02-03 16:34] wlbragg commented on #683
I am not opposed to anyone else working on it if they are so inclined.

[2016-02-03 16:34] gilbertohasnofb commented on #646
None of our new pngs (modified at least by me, you, @thevirtualfer, @tigert and possibly others) have caused these issues, the only bad apple in our repo was a prehistoric file (rudder pedal textures) and that has been fixed. So I think we don't have to worry about this at all.

I believe it was Stuart. I had sent a couple of e-mails about it to the list in the past months, but got no clear answer

[2016-02-03 16:35] gilbertohasnofb commented on #682
No rush about it and get better soon :smile_cat:

[2016-02-03 16:42] HHS81 commented on #683
I have tried them out on the c182s, and they do work. Will be a nice realistic addition to all aircraft! (beside the star thing....)

[2016-02-03 16:43] wlbragg commented on #646
You might try it again (dev list) or I can post one on there and see if I get any response?

[2016-02-03 16:46] onox commented on #683
I'll work on it :smile:

[2016-02-03 16:46] gilbertohasnofb commented on #683
@HHS81 Great to hear that! (btw, I also hate the star effect... :disappointed: )

[2016-02-03 16:48] gilbertohasnofb commented on #646
I will try one more time, let's see if it works

[2016-02-03 16:52] gilbertohasnofb commented on #646
I just wrote an e-mail to the list, let's see how it goes. I suppose that as soon as we have the procedural lights done we are ready for a merge, right? Or do we need to fix something urgently before that? @onox?

[2016-02-03 16:53] onox commented on #646
Someone could work on that thermometer.

[2016-02-03 16:59] wlbragg commented on #683
Are we going to try to use the standard lighting as a fallback to procedural?
@onox, have you seen the last iteration of the c182 lights? he used a square plane instead of a cone. I already have a local copy of the cone with the angle changed to something pretty close to 180 and at the extreme angle it looks much better. But to use it or if we change to a square plane, we still need to lower our l

[2016-02-03 17:01] wlbragg commented on #683
I thought Thorsten left us an out with intensity?

[2016-02-03 17:01] onox commented on #683
Are you talking about the standard lighting? The procedural just need a quad AFAIK.

[2016-02-03 17:02] wlbragg commented on #683
Yes, I was talking about standard lighting.

[2016-02-03 17:02] onox commented on #683
@gilbertohasnofb Can you give me the "red" color and "green" color? Currently I use 1,0,0 for red and 0,1,0 for green.

[2016-02-03 17:04] wlbragg commented on #683
@HHS81, that wasn't procedural lighting on your latest commit was it?

I think this holds true with procedural as well.

[2016-02-03 17:05] onox commented on #683
He put it in a different branch.

[2016-02-03 17:07] gilbertohasnofb commented on #683
Try this:

- green: 0.441, 0.100, 0.477

- red: 1.000, 0.320, 0.320

[2016-02-03 17:07] onox commented on #683
Thanks.

[2016-02-03 17:07] wlbragg commented on #683
I also noticed on the c182s that the "square plane" (standard lighting) cut into the forward wing tip as our cone used to, yet his didn't appear to have any adverse affect like ours did.

[2016-02-03 17:08] onox commented on #683
Personally I would just remove the old lighting: anyone who uses basic renderer is a noob or an idiot. Anyone who uses Rembrandt probably uses some other Rembrandtish lights?

[2016-02-03 17:09] gilbertohasnofb commented on #646
Yes, I also would be happy to have a thermometer, but I ran into a wall with that old style of gauge (the ones that use `<panel>`) and I just don't know how to proceed. To be honest, that thermometer's code will become completely useless and we would only use it's 3D model (which isn't the best either, but acceptable), so effectively we'd need to create the gauge from scratch. And unfortunately I

[2016-02-03 17:13] onox commented on #683
This is purple.

[2016-02-03 17:15] onox commented on #646
I told you to take a look at the hobbs meter. It uses the same technique with the textures.

[2016-02-03 17:16] gilbertohasnofb commented on #683
Sorry, that's suppose to be a 1.000 not 0.1000.... fixed values:

    green: 0.441, 1.000, 0.477

    red: 1.000, 0.320, 0.320

[2016-02-03 17:16] onox commented on #646
Or does that require UV mapping or something? :open_mouth:

[2016-02-03 17:17] gilbertohasnofb commented on #646
And I replied to that:

[2016-02-03 17:17] wlbragg commented on #646
This seems on the surface such a simple thing. Don't we simply use an existing temperature property to update a "digital" representation of a digital thermometer screen?
Is it because we need a font sheet or a some kind of a simulated LED interface for a number scheme?
I am not familiar at all with the tech FG employs to update a surface with text, but would be willing to learn with a couple well

[2016-02-03 17:18] wlbragg commented on #646
oops!

[2016-02-03 17:19] gilbertohasnofb commented on #646
If you can, that would be great. I honestly don't think it's likely I would be able to figure all this in the next days, until the merge, so that would be really appreciated!

[2016-02-03 17:20] wlbragg commented on #646
Let me try, that is if I get rid of this damn headache. Hopefully I can take a good look this afternoon. I'm out of here for now. Have fun!

[2016-02-03 17:20] onox commented on #683
And what should be the center color? It's currently white (1,1,1)

[2016-02-03 17:20] onox commented on #683
@HHS81 Is the procedural light "billboarded"? Doesn't look like it.

[2016-02-03 17:21] wlbragg commented on #683
No.

[2016-02-03 17:21] gilbertohasnofb commented on #683
Yes, our png file also had 1,1,1 for the centre.

[2016-02-03 17:22] onox commented on #683
:+1:

[2016-02-03 17:22] wlbragg commented on #683
I don't think 1.1.1 is good, I think it should be a derivative of the primary but extremely light.

[2016-02-03 17:23] gilbertohasnofb commented on #683
Well, we have been using 1,1,1 so far, so maybe we can try that first and then tweak it if necessary.

[2016-02-03 17:23] gilbertohasnofb commented on #646
:+1: thanks a lot and get better soon!

[2016-02-03 17:24] wlbragg commented on #683
If it is too much trouble to figure each color out, then I guess I am OK with that, I just never liked that pure white.

[2016-02-03 17:28] gilbertohasnofb commented on #683
I think the opposite, to be honest. For instance, I think the latest modifications Thorsten made to the scenery lights in which the centre is now not white anymore look far worse than before.

[2016-02-03 18:08] onox commented on #683
It looks like Thorsten limited the direction to be at most 90 deg from center in the fragment shader `Shaders/light-ALS.frag`:

[code]

Dot product of viewing direction and pointing direction is 1.0 if looking against the pointing direction, 0.0 if orthogonal, -1.0 if looking in same direction as pointing direction (from behind).

But I want the nav light's arc to be 100 to 110 deg from center.

[2016-02-03 18:16] HHS81 commented on #683
Posssible

This:
[https://github.com/HHS81/c182/blob/add765057195e2da7840b6cbcd2522b5af5774e4/Models/Effects/c182sprocedural-light.eff](url)
gives the red navlight with a full view angle of 200deg
45deg from opposite wing + 110deg (specified by laws) + another 45deg.

[2016-02-03 18:16] onox commented on #683
Your link doesn't work.

[2016-02-03 18:19] onox commented on #683
If I read the shader correctly, that's not possible. The dot product is clamped between 0 and 1. That gives a total range of 180 deg. 200 deg, would mean 10 deg beyond 90 deg on each side. That would mean the dot product is negative, but in the code it is clamped to be always positive.

[2016-02-03 18:20] HHS81 commented on #683
@onox: billboard effect by shader, not fgfs-animation.
Sorry, new link: https://github.com/HHS81/c182/blob/newlights/Models/Effects/c182sprocedural-light.eff

[2016-02-03 18:22] onox commented on #683
I already tried your values, and it gives a range less than 180 deg. Certainly not 200 I think.

[2016-02-03 18:25] HHS81 commented on #683
@onox: true, somehow I was irritated by wlbragg's calculation of what he saw on the videos.....

[2016-02-03 18:26] HHS81 commented on #683
I guess you need two procedural lights at the same spot which add their angles.

[2016-02-03 18:30] gilbertohasnofb commented on #606
This was actually solved via https://github.com/Juanvvc/c172p-detailed/pull/605

[2016-02-03 18:31] gilbertohasnofb commented on #606
Hmm, not really, my bad. That PR only changed the texture, not the 3D model. Sorry!

[2016-02-03 18:31] onox commented on #683
Hmm... I'm reading my posts and those video's again, and maybe arc shouldn't be more than 180 deg.

[2016-02-03 18:34] gilbertohasnofb commented on #446
I wrote @thevirtualfer one more e-mail today, let's hope he would be able to send us his blend model soon enough. With each day, the modifications we will need to do on his model are accumulating -- given how much our repository moved in this last year -- but on the other hand his improvements looked so promising, particularly the cockpit. We have such a realistic aircraft and yet the main view ha

[2016-02-03 18:48] onox commented on #683
@gilbertohasnofb @wlbragg So what do we want? +45 to -135 (that's a range of 180) or +45 to -165 (that's a range of 210)?

[2016-02-03 19:03] onox commented on #683
In the mean I read the forum and read what I had already just figured out:

[2016-02-03 19:13] onox commented on #683
Seems 180 deg is the maximum:

[2016-02-03 19:15] HHS81 commented on #683
I wonder how Thorsten propose how we can achieve this:
![image](https://cloud.githubusercontent.com/assets/12649375/12793908/e1e0ee8a-cab2-11e5-9b13-2c9f0d4435aa.png)

[2016-02-03 19:18] onox commented on #683
Any angle less 180 is OK, but that white light with an angle of 225 (> 180) is a problem.

@gilbertohasnofb @wlbragg Using a pointing direction at -45 deg (thus diagonal), I'll set the inner angle to 0 deg (in the direction of the nose) and outer angle to +45 (diagonal over the other wing).

[2016-02-03 20:02] onox commented on #683
@gilbertohasnofb What should be the color of the tail light? This https://github.com/Juanvvc/c172p-detailed/issues/683#issuecomment-179354000?

[2016-02-03 20:15] onox commented on #683
This is how the tail light looks:

![fgfs-screen-455](https://cloud.githubusercontent.com/assets/3361585/12795616/1e9a4210-cabb-11e5-92e5-0247705415d3.png)

I have set inner angle to 140 and outer to 180. That gives a sharp edge and for the tail light I would like the outer angle to be a bit higher than 180.

[2016-02-03 20:26] gilbertohasnofb commented on #683
About the angles, I have no opinions about it because I haven't studied the problem in details like you guys did, and I haven't read through all the conversation. So I really don't know.

The bluish/whitish light in the tail in our png texture use to have the following values: 0.790, 1.000, 0.790. Your picture looks really good, but maybe the light is too purplish, try these values I am writing he

[2016-02-03 20:32] onox commented on #683
I know, I was about to test adding a translate animation for the nav lights so that we no longer need tons of `navlight_*` objects.

[2016-02-03 20:34] onox commented on #683
It's a bit greenish:

![fgfs-screen-456](https://cloud.githubusercontent.com/assets/3361585/12796203/e279aa02-cabd-11e5-89e3-0b9e138c1217.png)

[2016-02-03 20:35] gilbertohasnofb commented on #683
Sorry, one more typo.... the order was wrong, try: 0.790, 0.790, 1.000.

[2016-02-03 20:36] gilbertohasnofb commented on #683
And what is that artifact in the light? I see a black dot or something.

[2016-02-03 20:38] onox commented on #683
That's probably a vertex of the model intersecting the quad. That's why I asked if the thing was billboarded https://github.com/Juanvvc/c172p-detailed/issues/683#issuecomment-179357630 Maybe it is, but it's not at the front, on top of everything else in the screen.

[2016-02-03 20:39] onox commented on #683
I can offset it a little bit, maybe that fixes it.

[2016-02-03 20:39] gilbertohasnofb commented on #683
:+1:

[2016-02-03 20:41] onox commented on #683
Now it looks better:

![fgfs-screen-457](https://cloud.githubusercontent.com/assets/3361585/12796410/deb10f2c-cabe-11e5-8cc8-ea0cc9f36d8a.png)

Intersection still happens at extreme angles though.

[2016-02-03 20:43] gilbertohasnofb commented on #683
Looking good!

[2016-02-04 05:32] wlbragg commented on #683
If I understand all this I think for the nav lights, in our case, 180 should be more than enough. If we start straight out the wing and call it 0, the opposite wing is 180 we should need no more than a bit over 90 to achieve the nav light practical range (maybe 110-145?). Sounds like the shader does this no problem?
But the tail nav should be what, over 180? I didn't think we we're even using up t

[2016-02-04 05:39] wlbragg commented on #683
As soon as we are sure of all limitations or know what it is we may still need that we don't have, I can approach Thorsten for clarification and requests! :fearful:

I'm I understanding that the nav light intensity is not producing the star effect but the strobes are? What about landing lights?

[2016-02-04 05:42] wlbragg commented on #683
From c182

@HHS81 can you explain, isn't that what we currently do? I want to make sure I am on the same page.

[2016-02-04 10:57] gilbertohasnofb commented on #646
Okay, so I got an answer from Stuart and he will do the merge for us. So when exactly shall we do this? I guess we need first to implement the lights, maybe the thermometer as well. When do you guys think it's a realistic deadline?

[2016-02-04 11:27] HHS81 commented on #683
@wlbragg:
- the term "procedural" means, that the shader creates the colors, pattern etc itself so there is no need for textures.
So in the procedural lights there are absolutely no textures involved, all what you can see is defined by the shaders. This means, we can only change the appearence of those lights by the values and factors Thorsten gave us.

- The star effect depends on the light inten

[2016-02-04 12:57] onox commented on #646
I need to finish the lights and then I'll make a branch in a few days which he can merge.

[2016-02-04 13:05] onox commented on #683
I'll push it later, it's called `bug-683` (lowercase :wink:). I need to work on the translate animation. I'm trying to translate a fixed amount if the wing is damaged, but when the animation is disabled (wing is OK) then the light stays where it currently is, it doesn't get reset to its default position. It's like as if simgear reuses the transform matrix, but that's a wild guess.

So I guess I'm

[2016-02-04 13:08] onox commented on #683
Once I figure out the translate animation, @wlbragg can start deleting a lot of the `navlight_*` objects. Because then we only need the two regular ones (not all those for the damaged wings duplicates) and just translate its position.

[2016-02-04 13:27] onox commented on #339
@gilbertohasnofb @wlbragg Could someone test this branch and decide whether this is sufficient for now? Then I'll open a PR. Only EGT bug needle and ADF doesn't work for some reason. Other instruments should work. There are no dials yet that can be clicked.

[2016-02-04 23:44] onox commented on #646
I have kinda implemented the navigation lights in PR #685.

[2016-02-04 23:48] onox commented on #646
@wlbragg I have a request for you. You can delete a bunch of unused `navlight_*` objects (those which were used by damaged wings) :smile:  Don't delete `navlight_left`, `navlight_right`, and `navlight_back` in the main Blender file though. These 3 are still used. See the PR.

[2016-02-04 23:50] onox commented on #646
I have set the deadlines to tuesday for now.

[2016-02-05 00:45] wlbragg commented on #646
Yes, I'll delete them.

[2016-02-05 13:05] gilbertohasnofb commented on #339
Okay, so I tested and indeed the ADF needle doesn't work (I supposed that would have to be fixed before a merge, right?).

Also, there are two problems with the layout of the tachometer:

- the green arc should not start at 5 hundred RPM but rather at 18 hundred RPM.
- its range should be from 0 to 30 hundred RPM, not 3 to 35 RPM.

[2016-02-05 13:05] gilbertohasnofb commented on #646
Sounds good.

[2016-02-05 21:06] gilbertohasnofb opened #686 "Create new splash screen for the skis"
Create new splash screen for the skis since our current splash9 shows the old ski model

[2016-02-05 21:10] gilbertohasnofb commented on #686
@wlbragg as you requested, I will replace splash9 with an image of the new skis. I have two shots so far, which one do you like best? The top one is a recreation of splash9, while the bottom one is from another angle. Let me know so I can create the splash and the PR!

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/5700795/12859187/cbb5f3f0-cc54-11e5-90b1-c33aa9c77b26.png)

![fgfs-s

[2016-02-05 23:40] wkitty42 commented on #686
FWIW: i like'em both... maybe if one was a different craft than the other? then make both into splash screens :wink:

[2016-02-06 05:03] wlbragg commented on #686
I like them both :smile: But if I have to choose one I guess it would be the first one. I really like seeing the top of the skis though and I think that one shows the ski off better than the first image. But I really like the angle of the top image and the entire composition of it.

[2016-02-06 05:15] wlbragg commented on #606
We need to map the new texture in the model?

[2016-02-06 05:17] wlbragg commented on #446
:+1:

[2016-02-06 07:28] tigert commented on #339
The ADF needle should work but it had two issues: Looks like the properties adf[0] doesnt exist. there is adf/ and adf[1]. I tried to change the json and got the needle to move (it uses the same property, just the [0] needs to be removed) - but the needle animated weirdly for some reason, and I don't have time right now to look into it - but if someone has time, maybe you can get a clue as to why

[2016-02-06 10:26] gilbertohasnofb commented on #686
Okay, so let's go with the first shot then! I will prepare it and make a PR soon.

[2016-02-06 10:29] gilbertohasnofb commented on #606
No, the texture is mapped properly, it's just our yoke 3D model which is ugly. The texture we now have is for this type of model:

![](http://www.aviationexplorer.com/Commercial_Airliners-Military_Aircraft_Pictures/cessna_172_cockpit.jpg)

It has much rounder corners, as well as being a trapezium rather than a rectangle, if you know what I mean.

[2016-02-06 10:52] gilbertohasnofb commented on #686
Done, please see: https://github.com/Juanvvc/c172p-detailed/pull/688

[2016-02-06 17:40] #686 closed

[2016-02-06 23:12] onox commented on #339
Thanks for finding that out, @tigert! The EGT bug norm has the same problem and I fixed it by removing `[0]` there as well.

I'll look into fixing the rotation issue of the ADF instrument.

[2016-02-06 23:18] onox commented on #339
@tigert One small thingie if you could fix that in time:

1. Can you make the blue text in the EGT white?

2. The NAV1/2 VOR's and ADF have a small "flightgear.org" watermark. Could you remove that?

[2016-02-06 23:46] onox commented on #339
I have fixed the rotation center of the ADF needle. By trial and error unfortunately. Root cause still unknown.

[2016-02-07 10:04] tigert commented on #339
Yeah, there is something weird in the ADF, I was able to reconstruct it and it now works. Pull request incoming.

[2016-02-07 11:04] gilbertohasnofb opened #690 "Improve instrument gauges"
- fix tachometer's range. The instrument should display a range between 300 and 3500 RPM, and the green arc should be between 2100 and 2700.

- the VS instrument could be improved as well (no lines after "10") and the numbers "5" and "15" needs to be bigger.

- the black Artificial Horizon looks a bit different than ours in the source images

- our oil pressure has a green arc and yellow arc. In s

[2016-02-07 11:04] gilbertohasnofb commented on #690
I will try to prepare the texture today and also to take a look at the xml code myself. In case I don't manage the second part, I will shout for help here :wink:

[2016-02-07 11:17] onox commented on #690
@gilbertohasnofb Our oil pressure has a green arc and yellow arc. In some photo's the yellow arc is green and they don't have any other arc.

[2016-02-07 11:21] gilbertohasnofb commented on #690
Yes, most of the images in that link show only the green arc. I will work on it as well.

[2016-02-07 11:22] gilbertohasnofb commented on #690
As for all the gauges being in higher resolution, I will check them all today. But as far as I can remember, most looked fine to me. I will leave for lunch soon but when I am back I will work on this issue, hopefully we can close it still today.

[2016-02-07 11:22] onox commented on #690
Okay.

[2016-02-07 11:23] onox commented on #690
You could take a look at the HD panel. It shows just a green arc as well. (Although most of the instruments of the HD panel are from the 172S)

[2016-02-07 11:24] gilbertohasnofb commented on #690
:+1:

[2016-02-07 16:02] gilbertohasnofb commented on #690
Okay, so I decided to not only fix those instruments, but I will try to make ALL our instruments looking better. For starters, our instruments are simply a black background with full white text, which makes them look so unrealistic. This is what I got with the VSI so far:

![fgfs-screen-007](https://cloud.githubusercontent.com/assets/5700795/12873426/91c0159a-cdbc-11e5-97bb-8069270738df.png)

Much

[2016-02-07 16:47] gilbertohasnofb commented on #690
Perhaps @wlbragg could help me fixing https://github.com/Juanvvc/c172p-detailed/issues/373 in this same branch here (`bug-690`). The new texture of the AI is already pushed.

[2016-02-07 16:49] gilbertohasnofb commented on #690
Also, the AI now uses png textures instead of the old rgb files. I updates the xml files and ac model, but I now realized we have a blend model for the AI inside `/dev/blender/instruments`. Could anyone update the blender model as well to use the png textures?

[2016-02-07 18:01] onox commented on #690
VS looks better, but the background looks a bit as if it has a backlight.

[2016-02-07 18:20] gilbertohasnofb commented on #690
I will tone it down a little bit (i.e. make it darker) but I kind of disagree with you, @onox. Often these old planes have an inconsistent "black" colour in the background of the instruments. See for instance this image (this is not because of glass reflection I believe): http://www.airliners.net/photo/Cessna-172P-Skyhawk/2000925/L/

So adding this little differences of brightness and saturation t

[2016-02-07 18:25] gilbertohasnofb commented on #690
TC slightly darker, and now with new ASI, altimeter and AI as well:

![fgfs-screen-009](https://cloud.githubusercontent.com/assets/5700795/12874240/4b5dabf8-cdd0-11e5-9d02-e9ef50648e80.png)

[2016-02-07 18:54] wlbragg commented on #690
I think so.

I thought all of them had the shadow turned off. We had to because the difference in shader calculations between the air frame and the individual instruments weren't synced and the shadows don't match, it looked really bad. I am afraid we would get the same thing using only the backgrounds
Can we only add the effect to the backgrounds, yes, but you have to find the object names of eac

[2016-02-07 22:00] gilbertohasnofb commented on #690
Okay guys, so I pushed new textures for **all** gauges. Personally, I think the results are much better than before, I hope you will all like it :smile:

Some shots:

![fg-3](https://cloud.githubusercontent.com/assets/5700795/12875512/83e02660-cdec-11e5-8d8d-553c54e20ce6.jpg)

![fg-4](https://cloud.githubusercontent.com/assets/5700795/12875511/83dc9432-cdec-11e5-9836-465297c80401.jpg)

![fg-5](htt

[2016-02-07 22:05] onox commented on #690
I'll check the branch.

[2016-02-07 22:06] gilbertohasnofb commented on #690
:+1: Thanks!

[2016-02-07 22:09] onox commented on #690
I'll create a PR so I can more easily see (on Github) how the png files were changed.

[2016-02-07 22:15] wlbragg commented on #690
Yes, what time Monday do you think you will be on here, I will make a point to be here? I am -6 GMT,  "Central Standard".

[2016-02-07 22:19] gilbertohasnofb commented on #690
@onox That makes things easier indeed, thanks!

@wlbragg I live in Prague (GMT +1). Tomorrow I am home until 4pm (so until 9am for you) then I should be back in the evening at around 8 or 9pm (so 1-2 pm for you). During any of these times I will be online. Does that suit you?

[2016-02-07 22:23] onox commented on #690
I'll be here after 1800 GMT+1.

[2016-02-07 22:26] gilbertohasnofb commented on #690
Ok!

[2016-02-07 22:33] onox commented on #690
@gilbertohasnofb The altimeter doesn't light up under the flashlight. It seems you removed the effect in https://github.com/Juanvvc/c172p-detailed/commit/1e3cc4765ceb277ff54341293e21f494fc66594b

[2016-02-07 22:35] gilbertohasnofb commented on #690
My bad, I somehow added an old xml file by accident. I will fix it now.

[2016-02-07 22:37] onox commented on #690
You also might need to fix that issue with the animation in that same commit.

When I press ctrl+c, the knobs for the altimeter are two squares again. The heading indicator has the same problem.

[2016-02-07 22:42] gilbertohasnofb commented on #690
Well, by reverting only the alt.xml I got the flashlight working again as well as the circular knobs. As for the HI, I didn't touch its xml file so I guess this problem was there before. Do you know how to fix it?

[2016-02-07 22:42] gilbertohasnofb commented on #690
alt.xml has been reverted.

[2016-02-07 22:44] onox commented on #690
Let me check.

[2016-02-07 22:53] wlbragg commented on #690
Yes, I'll be here.

[2016-02-07 22:53] gilbertohasnofb commented on #690
Cool! Thanks for the help, by the way :smile: :+1:

[2016-02-07 22:54] onox commented on #690
I'm fixing the HI knobs. All the instrument look great btw! :clap:

[2016-02-07 22:56] gilbertohasnofb commented on #690
I am glad to hear you like them, thanks! :bow:

[2016-02-07 23:03] onox commented on #690
Pushed.

[2016-02-07 23:04] gilbertohasnofb commented on #690
:+1:

[2016-02-07 23:25] onox commented on #339
@tigert I manually modified `sodipodi:start of the green arc and the arc looks good now in Inkscape, but there's no change in the browser. Even after reloading with Ctrl+F5. Patch is:

[code]

[2016-02-07 23:31] onox commented on #339
Never mind. It seems I really have to use Inkscape instead of Vim! Now it works :smile:

[2016-02-07 23:47] onox commented on #626
We have a branch `bug-626` that contains some work already done. The file `Models/Interior/Panel/Instruments/thermometer/thermometer.xml` contains stuff used by the old 2D panel. That needs to be deleted since it is useless.

Once the issue has been fixed, PR #630 can be reopened.

[2016-02-08 20:25] wlbragg commented on #690
I'm working on this now.
Just finished AI and I am testing.

[2016-02-08 20:43] wlbragg commented on #373
I know why this is doing this and I am trying to fix it now.

[2016-02-08 21:21] #683 closed

[2016-02-08 21:36] gilbertohasnofb commented on #690
:+1:

[2016-02-08 21:37] gilbertohasnofb commented on #373
ok., let me know if I can help with anything

[2016-02-08 21:57] wlbragg commented on #690
Is it just these 3 that need done?

    /dev/blender/instruments/AI.blend
    /dev/blender/instruments/hi.blend
    /dev/blender/instruments/tc.blend

[2016-02-08 22:08] wlbragg commented on #690
I'm a bit confused on the hi, it shows that the .ac already refers to the png's and not the rgb's?

[2016-02-08 22:15] gilbertohasnofb commented on #690
Yes, those 3 blend files are all you need to worry about

That's really bizarre. until yesterday all textures of the HI were rgb and not png, how come the blend file was already routed to non existent png files?!

[2016-02-08 22:24] gilbertohasnofb commented on #690
I manually updated all .ac files of our gauges, so just bother with the .blend files, everything else should be fine :wink:

[2016-02-08 22:24] gilbertohasnofb commented on #690
By bothering I mean "replace *.rgb by *.png"

[2016-02-08 22:44] wlbragg commented on #690
OK, I am having a problem with the tc, it won't export the blend to an ac (but I get no errors). It looks like tc5.png might be the culprit, but I don't know why.

You didn't push your changes yet? Are you going to push after mine?

If so, why don't you push now and I will re-pull and see if it fixes the tc problem for me.

[2016-02-08 22:45] wlbragg commented on #690
In other words pull my last two commits, then push yours, then I will pull again and try to fix the tc again.

[2016-02-08 23:11] gilbertohasnofb commented on #690
I didn't push anything today to this branch, all my work was done yesterday and so I have nothing to push. I have no idea why the blend file isn't exporting :cry:

[2016-02-08 23:21] gilbertohasnofb commented on #690
@wlbragg I am so sorry but I already must go, it got quite late here... I will come back in the morning (in some 8h from now), and tomorrow I must be most of the day online.

[2016-02-08 23:22] wlbragg commented on #690
OK, I think I see what happened. You already mapped the AC file by hand, when I tried to export my GIT GUI reported no change in the AC file, that is because you already changed the paths in the AC but not the blend. I have an idea to fix the TC, I'll try again.

[2016-02-08 23:22] wlbragg commented on #690
OK, no problem. I think I have it under control. Anything you need me to do before you come back?

[2016-02-08 23:25] #624 closed

[2016-02-08 23:25] gilbertohasnofb commented on #690
I guess so. What I did was to open the .ac files and substitute any ".rgb" string for ".png" so I could test my new textures. So I guess everything is fine.

If you can have a look at the comments 3) 4) and 5) from https://github.com/Juanvvc/c172p-detailed/issues/690#issuecomment-181131002 it would be great. Basically they are all related to UV-mapping, all textures are ready and it should be easy

[2016-02-08 23:26] gilbertohasnofb commented on #690
Take care and talk to you all tomorrow!

[2016-02-09 03:35] onox commented on #690
@wlbragg Are you still working on (4) and (5)?

[2016-02-09 04:00] wlbragg commented on #690
4) two instruments have plain colour backgrounds for which I created new textures, but they aren't applied yet.

The ADF gauge was textured in such a way I am not sure your getting what you hoped for.
Here is how it is now mapped and as you can see, it may not be what you expected.
![adf1](https://cloud.githubusercontent.com/assets/11069680/12906490/7063a8ae-cea6-11e5-8679-bcec62eafc4b.jpg)
![adf2

[2016-02-09 04:00] wlbragg commented on #690
Sorry I just noticed your comment.
Yes 4 and 5 are finished.

[2016-02-09 04:01] wlbragg commented on #690
Oops, sorry, 3 and 4 are finished, starting on 5 now.

[2016-02-09 04:07] wlbragg commented on #690
DME/ki226 was a detailed fix. I used the frame from the auto pilot and added @gilbertohasnofb new texture to it, adjusted everything to fit z. I think it is better than it was but the dme portion needs to have the label texture match the background texture better. Also we should combine dme.ac and ki226.ac and blends together at some point, but not tonight.

[2016-02-09 04:09] onox commented on #690
:+1:

[2016-02-09 05:07] wlbragg commented on #690
OK, 5 is finished I also noticed a few objects that didn't have the flashlight effect applied to them, so I added them here. I think there may be a few more but I need to take some time to investigate. So probably not before this version is merged.
As far as I am concerned this work is finished and the PR can be merged upon testing and verification.

[2016-02-09 05:24] onox commented on #690
@wlbragg I get: `can't find base effect ../../../../Effects/interior/c172p-flashlight`

[2016-02-09 05:25] wlbragg commented on #690
OK, let me see if I get it, It all seemed to work but I didn't check for any error output.

[2016-02-09 05:31] onox commented on #690
It works when you make the path absolute: `Aircraft/c172p/Models/Effects/interior/c172p-flashlight`

[2016-02-09 05:32] onox commented on #690
You can commit the fix.

[2016-02-09 05:36] wlbragg commented on #690
It's done.

[2016-02-09 05:44] #690 closed

[2016-02-09 05:45] #373 closed

[2016-02-09 06:07] #339 closed

[2016-02-09 06:09] onox opened #695 "Add knobs, oil and volt/amp instruments, and radio stack to web panel"
Add knobs, oil and volt/amp instruments, and radio stack to web panel.

There's a radio that can be reached separately at http://localhost:8080/instruments/kingradio.html. Decide what to do with it.

[2016-02-09 06:13] onox commented on #515
Do we consider this a bug, a won'tfix or not a bug (invalid)?

[2016-02-09 06:22] wlbragg commented on #515
I'm questioning why the amphibian is the only configuration that pulls so hard?

[2016-02-09 07:48] #471 closed

[2016-02-09 10:31] dany93 commented on #515
I keep my previous response:

Differently from a from a tricycle aircraft, the nose wheels have no directional effect. Only the rudder has one, from a moderate airspeed.
I do not know how the real one behaves. The tendency may be too strong at the very beginning of rolling, but considering this as a bug is too much.
Anyway, if it is too strong, I do not know what to do. A won'tfix? Unless someone

[2016-02-09 12:57] wlbragg commented on #515
It took me reading it twice for it to sink in, I guess. That is sufficient enough for me to close this issue for now unless someone has proof or knowledge that is is too strong compared to RL.

[2016-02-09 12:59] gilbertohasnofb commented on #515
:+1:

[2016-02-09 13:36] gilbertohasnofb opened #699 "Improve reflection cube"
From some angles, the reflection cube looks really large, e.g.:

![](https://cloud.githubusercontent.com/assets/5700795/12917437/b760d66c-cf39-11e5-847d-1e65e30331bb.png)

[2016-02-09 13:37] gilbertohasnofb commented on #699
I would also consider using a dark panel reflection cube, as it's the default cockpit.

[2016-02-09 13:39] wlbragg commented on #699
Definitely, I didn't notice that.

I never noticed the large scale in the side window before but haven't really paid that close attention either.

I questioned using the new reflection without gauges and also thought that they are rarely seen in the reflection anyway, but this one angle quit clearly shows the gauge.
Maybe in this issue we/I might also possibly add some sudo gauges to at least the

[2016-02-09 13:40] legoboyvdlp commented on #624
Good job, @wlbragg

[2016-02-09 13:42] gilbertohasnofb commented on #699
I think I had mentioned it in the old PR that got closed without being merged, but there were quite a lot of comments so it was easy to oversee it -- so no worries about it.

I agree, I think we should try to create it with the black panel AND showing gauges as well.

[2016-02-09 13:47] wlbragg commented on #624
Thanks!
Good idea! :wink:

[2016-02-09 17:45] onox commented on #471
@legoboyvdlp If I read the forum correctly, you're active on reddit. You might want to make those people in that particular thread on reddit aware of the (additional) improvements (see above) that will end up in the 2016.1 release. These are the improvements relative to what is currently in the 2016.1 FGDATA repository. The improvements will be added tonight.

The old improvements relative to 3.4

[2016-02-09 18:05] #646 closed

[2016-02-09 19:58] wlbragg commented on #471
I know this is closed but thought I might add some missing items as I was reading the list in case there is anyway to update the list.

    Amphibious plane improvements:
        Added two metal **reinforcement** bars in the cockpit

    New sounds:
       **Wheel damage**?

    Improved textures of instruments, primer, and cabin air/heat levers in cockpit, **flap lever animations**.

    **Improv

[2016-02-09 21:45] gilbertohasnofb opened #700 "Problems with the DME"
Stuart wrote in the list:

I don't know what he means by flipped upside down, but the problem I see is that the display doesn't show anything. This was before:

![fgfs-screen-007](https://cloud.githubusercontent.com/assets/5700795/12931499/85698bf0-cf7e-11e5-8ff6-ee5bdebd779d.png)

And this is now:

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/12931522/a1a3e0a4-cf7e-11e5-9

[2016-02-09 21:46] gilbertohasnofb commented on #700
I did not add a milestone as Stuart offered to postpone the merge so we can handle this. If that's the case, then @wlbragg could also mention jarlarntzen's name in the contributor's list. What do you all think, @onox, @wlbragg?

[2016-02-09 21:49] gilbertohasnofb opened #701 "New glass reflections look bad at night"
New glass reflections look bad at night:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/12931634/0addadf2-cf7f-11e5-8bb8-d742456b9417.png)

They are really strong. Also, as I discussed previously with @wlbragg, we should recreate the reflection cube using 4X-CHV's cockpit (as it's the default livery) as well as add the instruments to the reflection (see #699 )

[2016-02-09 22:15] wlbragg commented on #700
I'm OK with this. When I was re-texturing the DME several of the labels were backwards and upside down, I thought I accounted for all of them but I guess not. I also noticed the led digits didn't appear to be in place but didn't know if that was a bug or if it just didn't show until power was applied or time/mileage was achieved. I can work on it right now.

[2016-02-09 22:17] wlbragg commented on #701
If we want to correct this now and get it include I can try to fix it also.

[2016-02-09 22:17] gilbertohasnofb commented on #700
Great, let me know if I can help with anything. Then I guess we just open a PR and wait for onox to see what to do.

[2016-02-09 22:18] gilbertohasnofb commented on #701
If you can, that would be nice.

[2016-02-09 22:46] wlbragg commented on #700
I need help figuring out why the LED's are not displaying, if that is true?

[2016-02-09 22:46] gilbertohasnofb commented on #700
It seems that the plane you applied the texture into is covering the display or something like this. Did you create that object or did you simply UV-mapped it?

[2016-02-09 22:50] wlbragg commented on #700
I don't think so because the . (period) is showing, unless it is at a different depth than the rest of the digits.

[2016-02-09 22:50] wlbragg commented on #700
I borrows it from the AP and made sure it was in the background.

[2016-02-09 22:52] gilbertohasnofb commented on #700
Does it display properly in Blender? Maybe just for the sake of troubleshooting you can try moving the background a lot sideways so you can see what's behind it in the sim. If everything displays properly then the 3D background object is the culprit, else it's something else.

[2016-02-09 22:52] wlbragg commented on #700
I'll save it locally with the base plate (the plane) turned off and see if they show.

[2016-02-09 22:52] gilbertohasnofb commented on #700
:+1:

[2016-02-09 22:53] wlbragg commented on #700
Yes it is displaying correctly in Blender, let me run this test and see if it shows up without the base.

[2016-02-09 22:55] wlbragg commented on #700
It still doesn't appear to show, their may be a name mismatch in the object VS XML. Where is the code that drives the digits?

[2016-02-09 22:56] gilbertohasnofb commented on #700
`/Models/Interior/Panel/Instruments/dme/dme.xml`. or `ki266.xml`

[2016-02-09 22:57] gilbertohasnofb commented on #700
By the way, even if the background is not the culprit, I think it needs a hole for the display, just like in the first picture I posted

[2016-02-09 22:57] wlbragg commented on #700
They look OK, how does this device work, What should I see just powering it on, 00.0 000?

[2016-02-09 22:58] wlbragg commented on #700
The first picture looks identical to the rest, no 0's showing, only the period?

[2016-02-09 22:58] gilbertohasnofb commented on #700
I think it doesn't show anything unless you have tuned a station which transmits DME information

[2016-02-09 22:59] gilbertohasnofb commented on #700
let me make a test here, see if I tune to a station it shows properly

[2016-02-09 23:02] gilbertohasnofb commented on #700
It is working!

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/12933652/7ec588fc-cf89-11e5-9c4b-d9caed959f8f.png)

Sorry about the bogus report then, when I saw the display covered by the background I just assumed there was a problem... so the only things to be done here is to make a hole in the background and to invert that
MIN tag.

[2016-02-09 23:04] wlbragg commented on #700
I already inverted the MIN, but I don't understand "make a hole in the background"?

[2016-02-09 23:06] gilbertohasnofb commented on #700
Look at the first image I posted in the report: the background is grey but the display is black, as it should be. Now the background covers both the grey area (correct) and the black display (incorrect).

[2016-02-09 23:07] wlbragg commented on #700
I think I get what your talking about. For the digits and the MILES/MIN and KTS?

[2016-02-09 23:09] wlbragg commented on #700
Unfortunately, that requires some cutting, it's going to take a few to do that. But first I want to make sure I only cut what is absolutely necessary.

[2016-02-09 23:10] gilbertohasnofb commented on #700
This is the window display I mean:

![fg](https://cloud.githubusercontent.com/assets/5700795/12933834/a1e22196-cf8a-11e5-8145-7c7e9e6e9556.jpg)

[2016-02-09 23:10] gilbertohasnofb commented on #700
Yes it will require some cutting

[2016-02-09 23:17] wlbragg commented on #700
So we want the entire trapezoid (or whatever that shape is) cut out? I think that will show the lightgrey background then?

Without the new background
![dmea](https://cloud.githubusercontent.com/assets/11069680/12933976/e5eb14b8-cf50-11e5-85ae-5729fd6c52ad.jpg)

With the new background
![dmeb](https://cloud.githubusercontent.com/assets/11069680/12933986/f800e9ac-cf50-11e5-99d6-42a17dd4b13e.jpg)

[2016-02-09 23:18] wlbragg commented on #700
I could try to give the trapezoid its own vertex (plane) at the backside and then that should block the new background, maybe?

[2016-02-09 23:19] gilbertohasnofb commented on #700
Yes, that's what I am proposing

How come it isn't black? It should look like the image I posted, which was taken before we start modifying the DME.

[2016-02-09 23:19] gilbertohasnofb commented on #700
I have no idea what you just wrote, but if it solves the problem then yaaay :stuck_out_tongue:

[2016-02-09 23:20] gilbertohasnofb commented on #700
Just to be clear, this is the image I am talking about, note how the trapezoid display is black:

![](https://cloud.githubusercontent.com/assets/5700795/12931499/85698bf0-cf7e-11e5-8ff6-ee5bdebd779d.png)

[2016-02-09 23:23] wlbragg commented on #700
I don't know, there was a very large plane in the dme.ac that I have turned off because it was of no use, unless it was causing the black background, I don't know if you know that this device is in two different ac's. The plane that I turned off was in the dme.ac which is the left on/off and the knob. The tight side is what we are talking about and it is all in the ki266.ac, this is where I added

[2016-02-09 23:24] wlbragg commented on #700
Which I doubt because it would have caused the entire panel to be black.

[2016-02-09 23:28] gilbertohasnofb commented on #700
Maybe what can be done is to create another 2D plane in the form of the trapezoid and leave it black. Then it would be in front of the metal background but behind the digits and other display information.

[2016-02-09 23:29] gilbertohasnofb commented on #700
I mean, you know much more about 3D modelling than I do, I am just trying to help but I might be only speaking rubbish... so please ignore any stupid ideas :wink:

[2016-02-09 23:36] wlbragg commented on #700
I'm basically doing what you suggest only using an existing object for the plane. I have it working in Blender, now to see it in the aircraft.
![dmec](https://cloud.githubusercontent.com/assets/11069680/12934351/823d1b8e-cf53-11e5-971f-f3de09c5fde1.jpg)

[2016-02-09 23:37] gilbertohasnofb commented on #700
Ok, it's looking good. To test in the sim, you can use any VOR DME station, e.g. starting at LFSB and tuning to 117.45 in the NAV1

[2016-02-09 23:41] wlbragg commented on #700
OK, let me try with the radio tuned

![dmed](https://cloud.githubusercontent.com/assets/11069680/12934459/51187ff2-cf54-11e5-9510-e7408ecf3837.jpg)

[2016-02-09 23:44] wlbragg commented on #700
![dmef](https://cloud.githubusercontent.com/assets/11069680/12934517/b8669c98-cf54-11e5-88b5-385af232e52e.jpg)

We good?

[2016-02-09 23:45] gilbertohasnofb commented on #700
Almost: why he frame around the trapezoid isn't light grey any more? Was that necessary for the black background?

[2016-02-09 23:47] wlbragg commented on #700
Yeah I had to flip the normals, you want me to try to get it the other way?

[2016-02-09 23:47] gilbertohasnofb commented on #700
Let me first see a picture of this DME in RL

[2016-02-09 23:48] wlbragg commented on #700
OK, I'm still going to look at the normals a little closer while you do that.

[2016-02-09 23:48] gilbertohasnofb commented on #700
![](http://i.ebayimg.com/00/s/NTA1WDczMg==/z/eOAAAOSwT6pVjqBo/$_1.JPG)

[2016-02-09 23:49] wlbragg commented on #700
I know what I did wrong, hang on.

[2016-02-09 23:54] wlbragg commented on #700
![dmeg](https://cloud.githubusercontent.com/assets/11069680/12934694/1efe65ac-cf56-11e5-821d-4cbce727caf7.jpg)

[2016-02-09 23:54] gilbertohasnofb commented on #700
:clap:

[2016-02-09 23:58] wlbragg commented on #700
This should have taken maybe 5 minutes. I added an edge face to the back of the trapezoid, but the normals pointed back into the dash. So either you flip them, which flips everything else, or you make it double sided, which then gave us what we wanted.

[2016-02-09 23:59] gilbertohasnofb commented on #700
Well, it is solved now so that's great. Would you open a PR? I just want to make a quick test in the sim to make sure everything works as it should, and then I will also leave it for onox to merge it.

[2016-02-10 00:02] wlbragg commented on #700
:+1:

[2016-02-10 00:05] gilbertohasnofb opened #704 "ceiling looks black"
Ceiling looks black while the panel with the speaker doesn't. I don't think the ceiling should be pitch black during day at any circumstances.

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/12934924/568bed0a-cf92-11e5-8e42-d4adfb4c85b9.png)

[2016-02-10 00:06] gilbertohasnofb commented on #704
@wlbragg sorry but suddenly I am discovering bug after bug :stuck_out_tongue_winking_eye:

[2016-02-10 00:29] wlbragg commented on #704
It's been there all along, it is the irradiance map. I tried to adjust the strength but it doesn't seem to be working. This one will take some time to fix and may require Thorsten to do some shader work.

Without irradiance map
![norad](https://cloud.githubusercontent.com/assets/11069680/12935390/fdc757fe-cf5a-11e5-83ab-686da482d655.jpg)

With irradiance map
![withrad](https://cloud.githubusercont

[2016-02-10 00:30] gilbertohasnofb commented on #704
I think I never looked up after the irradiance map was added :laughing: No problems then, let's add a later milestone to this issue.

[2016-02-10 00:30] wlbragg commented on #704
:-1:

[2016-02-10 05:05] #701 closed

[2016-02-10 05:12] #700 closed

[2016-02-10 11:56] onox opened #706 "New pitot tube model undone in model"
@wlbragg In `bug-492` you added D-ECHO's new pitot tube model, but now it seems that addition has been undone by the work in `bug-633`.

![fgfs-screen-485](https://cloud.githubusercontent.com/assets/3361585/12946755/0de63ba4-cff7-11e5-9959-a6e08cc356cc.png)

[2016-02-10 12:01] onox commented on #706
Extract the new pitot tube (the cover is in a separate file, thus OK) from `dev/blender/c172p.blend` in commit 88a7c23df7ce45cb6ae21ec0c1261e07ad90ad24:

1. `git checkout -b bug-706`

2. Download the old [c172p.blend](https://github.com/Juanvvc/c172p-detailed/blob/88a7c23df7ce45cb6ae21ec0c1261e07ad90ad24/dev/blender/c172p.blend?raw=true) file

3. Extract the pitot tube object (`PitotTube`). (Just

[2016-02-10 12:07] onox commented on #706
Write down the Blender coordinates of the improved `PitotTube` object in the old file, so you can easily restore its position.

[2016-02-10 12:12] onox opened #707 "Wrong LED segments in DME instrument"
Some of the numbers (1, 3, 4, and possibly 8 too) are displayed incorrectly:

1 is displayed on the left side, 3 is displayed as E, 4 as h.

Example:

![fgfs-screen-478](https://cloud.githubusercontent.com/assets/3361585/12946848/acb6b9d4-cff7-11e5-9643-50e7fefdc250.png)

@gilbertohasnofb Is this a UV mapping or texture thing?

[2016-02-10 12:18] legoboyvdlp commented on #471
@onox, sure, I take it Gilberto's announcement is the list? Thanks!

[2016-02-10 12:19] onox commented on #471
@legoboyvdlp Note that Stuart hasn't merged the new aircraft yet, so maybe you want to wait a few days.

[2016-02-10 12:24] gilbertohasnofb commented on #707
It's a UV-map problem, see the texture file:

![ki266](https://cloud.githubusercontent.com/assets/5700795/12946942/409606fa-cff8-11e5-8210-e1777b931375.png)

[2016-02-10 12:29] gilbertohasnofb commented on #707
It's not just some of the numbers, but some of the digit displays that are inverted (the thing is that we can't tell with certain numbers because they are either symmetrical when upside down (e.g. 1, 8) or look like another number (6 and 9, 2 and 5).

There are six digits in the display, the problematic are: the first and third, then fourth and fifth:

![fgfs-screen-001](https://cloud.githubuserco

[2016-02-10 12:30] onox commented on #707
Ah, then it looks like 1, 3, 4 are inverted.

[2016-02-10 12:31] gilbertohasnofb commented on #707
I updated my comment above, I think the 1st , 3rd and 5th digits are problematic. The 4th may also be, but I am not sure...

[2016-02-10 12:31] legoboyvdlp commented on #704
Who's looking at the cieling anyway :laughing:

[2016-02-10 12:32] gilbertohasnofb commented on #471
Sorry but I don't understand what you mean

[2016-02-10 12:32] gilbertohasnofb commented on #704
Well, the guy who created that beautiful texture for the speaker, I suppose! :stuck_out_tongue_winking_eye:

[2016-02-10 14:14] legoboyvdlp commented on #471
Your announcement on the forums is what I want to post?
But it's done, anyway :)

[2016-02-10 16:00] wlbragg commented on #704
FYI: This is done with the default (built in), however we can do this with a mask and choose where we want it applied and how strong. But we will need someone good at making masks.

[2016-02-10 16:04] gilbertohasnofb commented on #471
Oh, sure. My announcement there was just a copy of this list of features.

@onox maybe we should tell Stuart to wait a bit with the merge given that we need to fix https://github.com/Juanvvc/c172p-detailed/issues/707

[2016-02-10 16:10] wlbragg commented on #707
For some reason this entire model, both parts dme and ki266, were full of these problems. I originally notice several mirroring problems on the dme side, then noticed them o the ki266 side. I'm not clear how to solve this, you can't see the trouble in blender because I would imagine this is a textranslate animation of some kind?
I think this is a good argument for working from a blend file and not

[2016-02-10 16:13] gilbertohasnofb commented on #707
@wlbragg since we now have the blend files, I propose you try inverting the only those three digits I mentioned before upside down (1st, 3rd and 5th). I can then test it in the sim.

[2016-02-10 16:17] wlbragg commented on #707
OK

[2016-02-10 16:18] gilbertohasnofb commented on #707
I believe the objects in Blender that need to be flip are:

- `Left.1`
- `Left.100`
- `Right.10`

[2016-02-10 16:18] gilbertohasnofb commented on #707
After we test and see if there is anything else that needs to be changed again.

[2016-02-10 16:18] gilbertohasnofb commented on #707
:+1:

[2016-02-10 16:23] wlbragg commented on #706
OK, number 2 on the list after DME.

[2016-02-10 16:29] wlbragg commented on #707
Wow, if you look really close at the 0's in the ki266.blend file, you can see the three you mentioned are slightly shifted down below the others (mirrored incorrectly) when looking at them in texture mode. So I am pretty sure you got this right @gilbertohasnofb.

[2016-02-10 16:35] gilbertohasnofb commented on #707
That's good news, then! I think we will be confident to declare this issue solved (I started to get so neurotic with this damn DME after so many things went unnoticed by we all!)

[2016-02-10 16:38] wlbragg commented on #707
:scream:

[2016-02-10 16:43] wlbragg commented on #706
How in the heck did we manage this, unless I did it wrong, 706 has the wrong one?
Investigating.....

[2016-02-10 16:44] gilbertohasnofb commented on #707
Totally!

[2016-02-10 16:54] gilbertohasnofb commented on #707
Closed via https://github.com/Juanvvc/c172p-detailed/pull/708

[2016-02-10 16:54] #707 closed

[2016-02-10 16:57] wlbragg commented on #706
Why can't I find the new tube?

[2016-02-10 17:00] gilbertohasnofb commented on #706
I think the old one got merged above it. I suspect you will have to look at the history of `c172p.blend` and find a version with the correct tube

[2016-02-10 17:01] gilbertohasnofb commented on #706
Somewhere here https://github.com/Juanvvc/c172p-detailed/commits/master/dev/blender/c172p.blend

[2016-02-10 17:02] wlbragg commented on #706
I just found it.

[2016-02-10 17:37] gilbertohasnofb commented on #706
Closed via https://github.com/Juanvvc/c172p-detailed/pull/709

[2016-02-10 17:37] #706 closed

[2016-02-10 18:32] onox opened #710 "ASI instrument still functioning with pitot tube cover"
ASI instrument still works with pitot tube cover visible.

As a quick fix we should set it to 0. Better behavior will be implemented in #538.

[2016-02-10 18:37] gilbertohasnofb commented on #710
Do you know what introduced this error? The only thing I changed on AI.xml in those instrument commits was the rgb -> png conversion (since there is a declaration of textures in that xml file), see: https://github.com/Juanvvc/c172p-detailed/commit/1f9a5914ae8654675baf2c5b65942f9dd2272082#diff-423842a6758bb86a1de1c0524ed67071

The logic of the pitot tube cover is done in https://github.com/Juanvvc/

[2016-02-10 18:37] gilbertohasnofb commented on #710
Could it be that the property `instrumentation/airspeed-indicator/serviceable` is broken in FG 2016.1.0? Or maybe it's related to this addition here? https://github.com/Juanvvc/c172p-detailed/blob/master/Systems/indicated-airspeed.xml

[2016-02-10 18:42] onox commented on #710
Yeah.

[2016-02-10 18:44] onox commented on #710
I'll create a fix.

[2016-02-10 18:45] gilbertohasnofb commented on #710
:+1:

[2016-02-10 19:01] onox commented on #710
@gilbertohasnofb See the PR above. Could you please test it?

[2016-02-10 19:06] gilbertohasnofb commented on #710
Sure!

[2016-02-10 19:11] onox commented on #706
In https://github.com/Juanvvc/c172p-detailed/issues/706#issuecomment-182335741 I gave you a direct link to an older file that contains the improved pitot tube :stuck_out_tongue_closed_eyes:

[2016-02-10 19:18] wlbragg commented on #706
I don't know what I did wrong, but tell me I finally got the right one?

[2016-02-10 19:21] wlbragg commented on #710
I'm concerned about the regression of the pitot cover, I hope it isn't more extensive.

[2016-02-10 19:21] onox commented on #706
I think so, it looked better than what I saw when I files the bug.

[2016-02-10 19:22] onox commented on #706
The problem was that `bug-633` was started before `bug-492` got merged. So `bug-633` started with a Blender file that contained still the old pitot tube.

[2016-02-10 19:24] onox commented on #706
And `bug-633` was merged after `bug-492`, so we undid the adding in `bug-492`. Hope that explains it.

[2016-02-10 19:26] wlbragg commented on #706
Yes, as long as that is the only regression.

[2016-02-10 20:42] gilbertohasnofb opened #712 "Flight recorder does not show securing 3D objects"
Flight recorder does not show securing 3D objects: pitot tube cover, tie-downs and wheel chocks.

[2016-02-10 20:42] #710 closed

[2016-02-10 22:10] wlbragg commented on #712
Did this ever work?

[2016-02-10 22:12] gilbertohasnofb commented on #712
I don't think so

[2016-02-10 22:14] wlbragg commented on #712
:+1:

[2016-02-10 22:59] wlbragg opened #713 "Adjust spacing between equipment in radio stack"
Spacing and alignment between equipment on radio stack could stand to be spaced a little more evenly.

[2016-02-10 23:04] wlbragg commented on #713
![stack1](https://cloud.githubusercontent.com/assets/11069680/12964932/57125544-d018-11e5-9209-241229681015.jpg)
Before

![stack2](https://cloud.githubusercontent.com/assets/11069680/12964937/602ec338-d018-11e5-90a3-7cd0d3fab999.jpg)
After

[2016-02-10 23:07] gilbertohasnofb commented on #713
I do like it better as well!

[2016-02-10 23:23] gilbertohasnofb opened #715 "Improve kr87, kap140 and DME displays"
Currently our DME display is completely black if turned off, but actually in RL you can see the six spaces where the numbers are displayed, as well as the words MILES, MIN and KTS and two circles:

![](https://camo.githubusercontent.com/e04f99a888f12676e26d390d1a432595ea95c11f/687474703a2f2f692e65626179696d672e636f6d2f30302f732f4e5441315744637a4d673d3d2f7a2f654f4141414f5377543670566a71426f2f245f31

[2016-02-10 23:23] gilbertohasnofb commented on #715
This will require textures as well as some UV-mapping or 3D modelling, so I hope @wlbragg is up to help me :wink:

[2016-02-10 23:24] wlbragg commented on #715
:+1:

[2016-02-10 23:24] gilbertohasnofb commented on #715
And one more thing: is it normal for the DME to display the period on the left display if it's not tuned to a DME station? @tigert @Juanvvc do you guys know anything about it?

[2016-02-10 23:25] gilbertohasnofb commented on #715
And what are those two circular displays in the centre used for? Any ideas?

[2016-02-10 23:27] #713 closed

[2016-02-11 07:16] onox opened #716 "Gather a list of features and bugs we fixed in 2016.2"
We should gather a list of all the new features, major changes, and bugs we fixed. Please create a list (use * to create bullet points) here.

* Decreased rudder authority
* Added propwash effect for 180 HP version
* Improvements to the irradiance effect
* Better oil dialog
* Flap lever is now dragable and scrollable
* Added normal map to wheels and other objects
* Improvements to the heading indi

[2016-02-11 15:28] legoboyvdlp commented on #690
My, this all looks wonderful. Nice job.

[2016-02-11 15:31] legoboyvdlp commented on #712
Just a matter of adding the properties, I suppose?

[2016-02-11 16:26] gilbertohasnofb commented on #690
Thanks, @legoboyvdlp

[2016-02-15 11:11] gilbertohasnofb opened #717 "consider using static objects"
I think we could consider using static objects around the aircraft, just like in https://github.com/HHS81/c182/issues/55.

See for instance:

![](https://cloud.githubusercontent.com/assets/12649375/13037960/2ce8b9c6-d38c-11e5-9add-5d387dc29873.jpg)

[2016-02-15 11:15] gilbertohasnofb opened #718 "consider using static objects"
I think we could consider using static objects around the aircraft, just like in https://github.com/HHS81/c182/issues/55.

See for instance:

![](https://cloud.githubusercontent.com/assets/12649375/13037960/2ce8b9c6-d38c-11e5-9add-5d387dc29873.jpg)

[2016-02-15 11:16] gilbertohasnofb commented on #718
Sorry, I am closing this because it's a duplicate, somehow a problem with my browser lead to the creation of two identical issues

[2016-02-15 11:16] #718 closed

[2016-02-15 12:00] onox commented on #717
We can add the pylons, power unit, and ladders. I tried the chocks in the 182, but under full power the aircraft start vibrating because of the collision checking.

I see that `Nasal/c182s.nas` doesn't apply code re-use, so you can just add the models for now.

Funny though that it works when you manually set all those properties. For the fuel truck in my ExpansionPack I tried geo.put_model() whic

[2016-02-15 12:03] onox commented on #717
Or maybe it was because I needed an .xml file. I just tried `geo.put_model()` again with a path to an .ac file, and it seems to work fine.

[2016-02-15 12:05] gilbertohasnofb commented on #717
Well, I think we are fine with our chocks and tie-downs (unless you see some advantage in using the other method of creating them), but I rather meant things we don't currently have like the stairs, cones, battery recharger, etc.

[2016-02-15 12:06] Juanvvc commented on #717
The ladders are necessary to fill the tanks but not to check the fuel level. You can use the running boards installed on both sides of the aircraft for that. By the way, in my country, it is mandatory having the chockes installed before filling the tanks. The operator of the fuel truck won't provide any fuel if the chockes are not installed. I'm not sure about other countries, but this could be a

[2016-02-15 12:07] gilbertohasnofb commented on #717
:+1:

@Juanvvc how common is to use a fuel truck to refuel? I thought the fixed pumps in the ground were normally used for GA aircraft (I even convinced Heiko of dropping his plans of a fuel truck). If they are used, then I will talk to him to add it and then we can borrow it here as well :smile:

[2016-02-15 12:09] onox commented on #717
We could put the models in `Models/generic/` if we want them to be re-used by other aircraft later.

[2016-02-15 12:10] gilbertohasnofb commented on #717
Good idea.

[2016-02-15 12:11] onox commented on #717
I think we should enhance `geo.put_model()` (in `Nasal/geo.nas` in FGDATA) to support the `-prop` properties so that the object's state can be modified. Currently `geo.put_model()` doesn't add the `-prop` properties to the node, which means the object is very static.

[2016-02-15 13:10] HHS81 commented on #717
@Juanvvc

I referenced some checklists of the Cessna 182 S, who has the check of the fuel level/ quantity visually on the exterior check.

Not on the Cessna 182 S: [see link](http://images.google.de/imgres?imgurl=http%3A%2F%2Fwww.kellyaerospace.com%2Fimages%2Fac-ground-plug.jpg&imgrefurl=http%3A%2F%2Fwww.kellyaerospace.com%2Fthermacool-aircraft-air-conditioning.html&h=174&w=300&tbnid=C8SY2Tf4krs3X

[2016-02-15 13:12] HHS81 commented on #717
@onox:

No need, as for this we have the model manager. The implementation and enhancement of the model-manager by Nasal-script guru Melchior Franz was exactly this reason.

[2016-02-15 13:17] HHS81 commented on #717
@onox:

Usually in real life you won't  give full thrust without setting the parking-brake. And the described behavior miight be more a reason of the gear-settings.
In real life the chocks are only used to prevent the aircraft to roll away when parked, not alone without parking-brake on engine tests.

[2016-02-15 13:59] onox commented on #717
Can you define "model manager"? Are you referring to some Nasal file in FGDATA? I see in `Nasal/c182s.nas` you're just setting properties in `/models/model[i]/`.

[2016-02-15 14:02] onox commented on #717
About my comment about enhancing `geo.put_model()`: it's not of direct benefit for us, since the objects are static, but it might be useful for other aircraft.

[2016-02-15 14:09] HHS81 commented on #717
please see: [https://sourceforge.net/p/flightgear/mailman/message/20841901/](https://sourceforge.net/p/flightgear/mailman/message/20841901/)

[2016-02-15 14:11] HHS81 commented on #717
The code I used is from the walker, there is also another possibility:
[https://sourceforge.net/p/flightgear/mailman/message/20843211/](https://sourceforge.net/p/flightgear/mailman/message/20843211/)

[2016-02-15 14:16] onox commented on #717
Well... that example from mfranz just adds `-prop` properties to `/models/model[i]/ and then sets `load`. That looks very similar to what `geo.put_model()` does. Except that that function doesn't use `-prop` properties.

[2016-02-15 14:18] onox commented on #717
Later he mentions the `add-model` fgcommand...

[2016-02-15 14:24] HHS81 commented on #717
yep, the difference is that geo.put is and will be static. You can't remove a geo.put-model at runtime.
His solution makes it dynamic, and let it be removable at runtime.

The add-model fgcommand was an further enhancement by him, you can more or less easily create fgcommands and let it make things - here adding objects to scenery with model-manager.

Maybe my code used is still too complex, but I

[2016-02-15 14:33] HHS81 commented on #717
O.k, I was wrong, you can remove it as the Zeppelin NT shows. but you can obviously not move it.

[2016-02-15 15:37] Juanvvc commented on #717
@HHS81,

A visual check is certainly necessary in all aircraft. In the specific case of Cessna, the aircraft has running boards you can use to check the upper side of the wing:

![20581_4460170216083_528856025_n](https://cloud.githubusercontent.com/assets/684228/13052884/a39dce1a-d401-11e5-8d04-03e92c5cad7c.jpg)

Of course, you can use ladders. It is just they are not available in the middle of a

[2016-02-15 15:43] gilbertohasnofb commented on #717
@Juanvvc Thanks for the info!

[2016-02-15 16:17] HHS81 commented on #717
@Juanvvc yep, I'm aware of the running boards. But it seems also to me that you need to be a bit acrobatic to use them. And at least for refuel a ladder is quite handy. It is an option, I have no idea how to make the walker climb those boards :smiley:

[2016-02-15 17:10] onox commented on #717
That's why I think `geo.put_model()` should be modified in some way to support those `-prop` properties. Otherwise people have to / will copy paste that old code (manually setting all kind of properties) instead of making use of abstractions and code reuse.

[2016-02-15 17:48] HHS81 commented on #717
@onox: geo.put_model() is that old code.

It was never been the aim of geo.put_model() more than simply put an static object into a scenery.
No creation of properties.

The newer code sets a model into the scene but creates properties (Models/Model[0]; .../Model[1]; ,,,, Model[2]....
And with that properties it can be animated. But I don't see why it can't be made to be reused.

You might wanna al

[2016-02-15 17:50] HHS81 commented on #717
Btw.:

gives us the freedom to decide which properties I want to set.

[2016-02-15 18:23] onox commented on #717
No creation of properties.

Actually `geo.put_model()` does put properties in `/models/model[0]/`, etc. It just doesn't create the `-prop` properties. So it might be easier to modify `geo.put_model()` or add `geo.put_dynamic_model()` (whatever you prefer) than to create a 320 lines file to do the same for 4 objects. But I guess we're speaking different languages.

[2016-02-15 18:34] HHS81 commented on #717
O.k., now I do understand you.
I agree, but it should be still be possible to manually add properties.

But that's way beyond my knowledge as you might have noticed.

[2016-02-18 23:00] tonghuix commented on #622
Trim not shown on release 2016.1.

[2016-02-18 23:19] tonghuix opened #719 "Attitude Indicator lack of pitch marker in release 2016.1"
I just compile and install FlightGear 2016.1 in Linux. I found there is some different in Attitude Indicator from v3.6. Finally I realize the AI lack of pitch marker. Well, the real 172p is normal, see: http://www.airliners.net/photo/Cessna-172P-Skyhawk/1568374/L/&sid=c9c603b628d868eaebc1088476c80d5c

Screenshot for 2016.1
![fgfs-screen-001](https://cloud.githubusercontent.com/assets/423703/131614

[2016-02-19 00:15] onox commented on #622
There's indeed no trim tab in the 3D model currently. That's why this bug is still open. Hopefully some of the 3D modelers can add it in time for 2016.2.

[2016-02-19 00:19] onox commented on #719
@gilbertohasnofb Is this a problem with one of the textures?

[2016-02-19 04:02] wlbragg commented on #719
Wow, how did we miss that?

I'm looking at it now..

[2016-02-19 04:22] wlbragg commented on #719
Looks like AI2.png is missing the pitch lines or we need to use AI2-2.png?

[2016-02-19 04:27] wlbragg commented on #719
This is what the c182 is using.
![ai2](https://cloud.githubusercontent.com/assets/11069680/13166558/cf78bea2-d68e-11e5-996b-dc258f22cf94.png)

[2016-02-19 04:32] wlbragg commented on #719
This is the RGB used in the c152, I converted it to a png and we can use it in the c172p?
![ai2](https://cloud.githubusercontent.com/assets/11069680/13166632/7923120e-d68f-11e5-8d04-d5495db2f944.png)

[2016-02-19 04:42] wlbragg commented on #719
This is what it looks like now after I finished it.
![newai](https://cloud.githubusercontent.com/assets/11069680/13166750/e94d7b86-d690-11e5-9140-5c44e0e047e4.jpg)

[2016-02-19 05:29] tonghuix commented on #719
@wlbragg Good job! However I think it is not as real as it should be, your pitch marker a little bit higher and lager.

Ref: ![](http://cdn-www.airliners.net/aviation-photos/photos/4/4/2/1995244.jpg)

[2016-02-19 06:22] wlbragg commented on #719
Right, I agree.

@gilbertohasnofb, job opportunity! :smile:

[2016-02-19 09:09] gilbertohasnofb commented on #719
No, there is not. As they say, this isn't a bug, it's a feature. This type of AI is commonly found in the model P, hence why I decided to use it. See:

![](http://www.airliners.net/photo/Cessna-172P-Skyhawk/2558033/L/&sid=051e145e5929615a6979a29e123970f6)

![](http://www.airliners.net/photo/Cessna-172P-Skyhawk/2558033/L/&sid=051e145e5929615a6979a29e123970f6)

There are several types of AI used by

[2016-02-19 10:56] wlbragg commented on #719
Oops, I didn't know any of this. I have no problem leaving it as it was.

The only comment I might add is, do pilots rely on the pitch tic marks for any kind of climb reference?

You can all decide and just delete the PR if you decide against the lines.

[2016-02-19 11:04] Juanvvc commented on #719
We don't. VS is the important parameter

[2016-02-19 14:12] #719 closed

[2016-02-19 15:18] gilbertohasnofb commented on #719
:+1:

[2016-02-23 18:32] gilbertohasnofb opened #721 "feedback concerning our FDM"
Hey guys, someone in the forum posted some feedback concerning our FDM, see:

What do you think, @dany93, @onox, @Juanvvc, @tigert ?

![coordination](https://cloud.githubusercontent.com/assets/3361585/13381800/dfcbebe8-de64-11e5-9c6d-f5b0b3894b6b.png)

[2016-02-23 18:54] onox commented on #721
Why does his attitude indicator look weird? (blue/brown instead of blue/black)

[2016-02-23 19:01] gilbertohasnofb commented on #721
@onox I also noticed that. That's the AI we use with the panel theme created by @thevirtualfer, but for some reason in that screenshot the AI is being shown with one of the HD themes I believe. I tested them in the sim just now and they seem to be working fine, so I don't know how the user managed that.

That said, I would vote to simply remove this second AI and use just the default one for all l

[2016-02-24 18:13] dany93 commented on #721
Honestly, I have no clear response. At this level of demand if there is some lack of realism, we are reaching my limits in JSBSim.

*(I write this like a response to alge in the [Cessna 172P forum](http://forum.flightgear.org/viewtopic.php?f=4&t=25157&sid=c6c7d410f7862d03e19f30042b2cbce9&p=277312#p277312) )*

Thank you for your feedback

Your stick/rudder (*rudder pedals* I guess for a good accura

[2016-02-24 20:57] algefaen commented on #721
Hey, thanks for the response. I totally understand that this is hard stuff to get right in a simulator, especially when we don't have control of the internals of jsbsim. I don't think the problem is due to input issues or ball sensitivity though - that's why I tried to remove those factors with adjusting trim and showing the hud. There's a lot of factors here and it's hard to nail down individual

[2016-02-24 21:43] HHS81 commented on #721
@dany93

You want might look at [David Megginsons page](http://www.megginson.com/Aviation/roskam-coefficients.html#sec.data)
It gives much coefficients for side force then actually used in the fdm. Maybe it will help here?

I currently trying to improve the Cessna 182 fdm further, and using the real coefficients collected by David Megginson. And I stumbled about the same issues like algefaen. In t

[2016-02-24 21:54] HHS81 commented on #721
@dany93  according the TCDS the rudder control movement is much to high. It is 25deg, but should be about 16deg!!
That might explain what algefaen noticed.

[See page 14 of TCDS](http://www.airweb.faa.gov/Regulatory_and_Guidance_Library/rgMakeModel.nsf/0/724e90061c5bf3b1862576260063e599/$FILE/3A12.pdf)

[2016-02-25 18:08] dany93 commented on #721
Many thanks @HHS81 for David Megginson page! I didn't know that, very interesting.
I checked a few coefficients from the FDM, they are often close to or exactly those from the table (David Megginson's FDM, of course!).
When I added changes on this FDM (mainly for stall and spin) I had permanently in mind respecting, not to degrade the current FDM. It was justified...

Thank you too for the rudder

[2016-02-25 19:02] HHS81 commented on #721
After searching, I cannot find it in the POH.

It is not in the POH, but in the Type Certification. I added a link in my previous posting.

[2016-02-25 19:39] dany93 commented on #721
Yes I've seen it and found it in your linked TCDS. But after that, I've searched for it in the POH, where it should have been, I believed.
Thank you once more, sorry for the confusion.

[2016-02-27 16:14] dany93 commented on #721
Pull request https://github.com/Juanvvc/c172p-detailed/pull/722

@algefaen  @HHS81

I have set the rudder angular amplitude at +/-16° (instead of +/-25°), but the rudder authority was unsufficient for decrabbing with 20 kt crosswind landing. I had to slightly increase its angular efficiency to partly compensate. The final result is a small decrease (by -27%) in rudder efficiency, but only small as

[2016-02-27 20:07] HHS81 commented on #721
@dany93  Which is, according the POH and some flight school pages ist not the best recommended landing technique for a Cessna 172.

The [POH states on page 4-21](http://holladayaviation.com/files/Cessna_172_C172P-1982-POH.pdf): "...the wing-low method gives the best control."

A user on the  [cessna172club-forum] (http://www.cessna172club.com/forum/ubbthreads.php?ubb=showflat&Number=1311) has the

[2016-02-28 02:34] onox commented on #721
So the PR decreased the maximum angle of the rudder + increased the efficiency?

From what I understand in the comments, the new maximum angle of the rudder is good. But I also read in https://github.com/Juanvvc/c172p-detailed/issues/721#issuecomment-188388092:

So shouldn't the efficiency be decreased instead of increased to fix @algefaen's issue?

[2016-02-28 02:45] onox commented on #721
Now I read this:

How is increasing the angular efficiency decreasing the efficiency? :open_mouth: When I look at the PR, I see the yawing moment is increased, so the rudder is more sensitive now, correct? Shouldn't the rudder be less sensitive to address @algefaen's issue (so that you need to press the pedals further)? In other words, make the value `-0.06`?

Note: I'm an FDM noob, so maybe I'm j

[2016-02-28 11:20] dany93 commented on #721
Hi @onox,

I've modified 2 parameters:
- maximum angle (amplitude) from +/-25° to +/-16° (16/25 = 0.64, that is -36% efficiency)
- angular efficiency, i.e. the (lateral) "lift" effect per angle unit (lateral force or yawing moment per degree of deflection of the rudder). From -0.07 to -0.08 per radian. This gives 0.08/0.07 = 1.14 that is +14% efficiency.
The final result is a 0.64 x 1.14 = 0.73, t

[2016-02-28 12:52] algefaen commented on #721
Hi! Regarding "demonstrated crosswind", I was taught that that's what the test pilots demonstrated without any crosswind technique at all (and which did not damage the landing gear / tyres). I.e. flying in crabbed and not doing any de-crabbing. That wouldn't need any rudder authority at all, just strong legs and good shoes. A quick google search shows that this is just one of many interpretations

[2016-02-28 16:26] HHS81 commented on #721
@algefaen @dany93
O.k, I just tested the c172p with max rudder angle of +/-16°; and aero/coefficient/Cndr of -0.0604. This is the lowest real value given for the c182. The value is probably not correct for the c172p, as the c182 has much higher max rudder angle (+/-26°).

Approaching crabbed and then translated into wing-low (crossed controls) in short final I managed easily direct crosswinds from

[2016-02-28 17:03] dany93 commented on #721
@algefaen
That's the first time I read that "flying in crabbed and not doing any de-crabbing" can be done without damage. Even if it is more or less inferred in the POH, but I thought not having well understood.
Every others (like HHS links) insist on the nose alignment with the runway line.

@HHS81
Thanks for the tests.
I see that you finally agree on the necessity to use the crossed rudder at cr

[2016-02-28 18:29] algefaen commented on #721
The "demonstrated crosswind is without any technique" was something my instructor told me, but his words are by no means the law. Obviously it's a good idea to apply some kind of technique for crosswind landing, be it de-crabbing at the end or a low wing approach. (=

I still have a feeling that jsbsim gives too much roll and not enough yaw at climbout, which was my initial complaint. But adjustin

[2016-02-28 18:52] dany93 commented on #721
Too much roll, I don't know... That's the prop moment. But not enough yaw seems possible in my opinion too. Once, when JSBSim had a lack, I coded some "yaw to due to propwash" to circumvent it, but that was not without drawbacks.

[2016-02-28 19:10] HHS81 commented on #721
@dany93
Maybe it would help to alter the value of this part in  the fdm:
`<function name="aero/function/qbar-induced-psf">
            <description> q bar including the propulsion induced velocity.</description>
            <product>
                <property>aero/function/velocity-induced-fps</property>
                <property>aero/function/velocity-induced-fps</property>
                <prope

[2016-02-28 21:03] onox commented on #721
Okay, I get it now. I thought that you just had modified the upper bound for clipping (from 25 to 16), but the `rudder-pos-rad` actually changed for `/controls/flight/rudder = 0.1` during testing.

[2016-02-28 23:30] dany93 commented on #721
[code]

Why? What is your idea?
Otherwise, the expression is correct unless the `velocity-induced-fps` would be wrong.
`qbar-induced-psf` is used to take into account the propwash on the rudder and elevator authority vs their deflection (typically at low airspeed, high RPM).

[2016-02-29 13:49] HHS81 commented on #721
Well, my thought was that it might be too strong. That's why.

Myself don't have any problem with using `qbar-induced-psf`.
JSBSim don't know the position of the rudder and elevator, so it don't know if it is affected by the propwash or not. So having this flexibility is a good thing. You don't have this possibilities with YASim.

[2016-02-29 18:14] dany93 commented on #721
I guess that by 'position' you mean the distance from the propeller or CG.
The horizontal and vertical stabilizer positions can be entered in Aeromatic (Htail arm and Vtail arm) but I don't see where they are used. However, JSBSim (maybe) can estimate them from the Wing Span.
I don't know how JSBSim do, but a spiralling propwash effect is rendered (steering leftwards for a clockwise propeller) by

[2016-02-29 19:32] HHS81 commented on #721
Not really. There are different types of so called tailplanes. On the cessna 172 it is fuselage mounted tailplane, being in the stream of the prop. But there are also T-Tails, mounted on the fin and not being in the stream of the prop.
I could test the behavior of the different types in X-plane once: a fuselage-mounted aircraft reacts with nose up/down on ground by moving the elevator when engine

[2016-02-29 19:36] HHS81 commented on #721
@dany93
Just to remember: the value used here (angular efficiency = 0.0645) is from the Cessna 182 which has a much higher rudder deflection angle than the Cessna 172P. It might be still too much, and the real values probably lower.

[2016-02-29 23:20] dany93 commented on #721
OK for the use of  `qbar-induced-psf or velocity-induced-fps` for the rudder and elevator behavior. It is in the C172P which reacts well on the ground by moving the elevator. At least the 160HP because I have still to push it for the 180 HP which was forgotten when the engine was added..
Thank you for your explanations.

But please, can you fix me:
angular efficiency = 0.0645 value is per angle un

[2016-03-01 12:27] HHS81 commented on #721
@dany93

That's the point. Do they need?
The Cessna 182 is longer and heavier, the tail is more far away from CG than the c172p. It also has more power and with that p-factor is higher. I'm not an aeronautical engineer, that's why I can't calculate if the c172p needs the same maximum yaw moment.

[2016-03-01 12:53] dany93 commented on #721
@HHS81
Thanks.
I understand. I didn't ask you to give me the needed yaw moment. Rather, it was was because I had the feeling of not getting something.

About the C172P, my opinion is that it is slightly better than previously. As crosswind landing with 15 kt or a bit more is possible, I would say that's fine for this time.

[2016-03-01 13:06] HHS81 commented on #721
yep, and I never understood, that you want me to do. :smiley:

But myself would have found it helpful if I could calculate it, to see how different the Cessna 172 is to the Cessna 182, and how things are really working.

[2016-03-01 13:07] HHS81 commented on #721
Glad that I could help in some way!

[2016-03-01 13:26] dany93 commented on #721
@HHS81
Sure that could help! I learnt. I discovered Megginson's table. And reflection is always good.
Thank you for your responses.

[2016-03-02 00:38] onox commented on #721
So is -0.0645 is final value for now? Or do you still want to lower it a bit? If is ok, then we can merge the PR.

[2016-03-02 00:39] onox commented on #721
@algefaen What do you think?

[2016-03-02 08:03] tigert opened #723 "Pitot cover should "break" pitot system, not ASI."
Hey, nice new stuff again! :)

I noticed you added the pitot cover and correctly having an effect on the airspeed indicator when you forget to remove the cover. However I found two issues when testing this:

  * Forgetting the pitot cover on should not break the airspeed indicator, but the pitot system instead: `/systems/pitot/serviceable`
  * The worse issue seems to be that the airspeed indicato

[2016-03-02 08:30] tigert opened #724 "Preflighting the C172 with outside view"
So I took this for a test flight and preflight today. A few notes:
- The fuel tank quantity and sampling dialogs are neat. However the quantity could be also shown in liters in addition to gallons and pounds.
- Fuel sump clickpoint is a bit hard to find, maybe combine all fuel related stuff to one dialog and tie it to a big clickspot on the fuel tank itself? So that it shows quantity and lets you

[2016-03-02 08:31] tigert commented on #724
By the way, is it possible to show SVG in the dialogs? I could make a fuel drain tube graphics with "clear" blue avgas and contaminated one with water bubbles in the fuel?