[2018-04-08 17:52] gilbertohasnofb commented on #1035
PHTO looks fine with me as well. And I would be happy to help with any textures!

[2018-04-08 17:53] gilbertohasnofb commented on #1035
Oh, and by the way, thanks for bumping that in the dev-list, that was an excellent message.

[2018-04-08 18:05] tonghuix commented on #1047
Here is a SOP for experience this effect:
0. Take off and climb above 1500ft.
1. Set 1500 RPM and maintain altitude
2. Set landing configuration (flap full)
3. Maintain altitude and slow to approximately 45-50 kt just 5-10 above VS0 stall speed. Avoid stall warning activation
4. Engine power as required to maintain airspeed
5. Accomplish *level flight*,* climbs*, *turns*, and *descents*
6. Recover

[2018-04-08 19:33] okroth commented on #1047
First: I used the mouse as flight control.. no force feedback ;-)
Second: flew with 45kt and flaps fully extended. But had more than 1500 rpm.
How can you steadily fly with 1500 rpm and 45kts? With that settings I had a sink rate of 300fpm.
(Which is realistic) Any pull squeaked the stall horn.
Nevertheless, control input reactions were as I would expect them; sluggishly, not critical.
Check your

[2018-04-08 19:51] #308 closed

[2018-04-08 19:51] #913 closed

[2018-04-08 19:51] #1050 closed

[2018-04-09 00:39] mathieugouin commented on #1001
I looked a bit in the nasal for the tooltip and there is only one possible input.  I thought we could have more because of the arg[0]...  This led me to think that we could have arg[1], [2]... etc.  This does not seem to be possible.

We do you recommend for the way forward of this issue?  I can leave my "dual-input" tooltip idea on the side for now and the rest of the issue could be done.  Or you

[2018-04-09 11:16] tonghuix commented on #1047
1500 RPM is only a reference to reduce power.

And the landing configuration (full flap extension for c172) slow flight is a check item in ACS of FAA PPL. I believe it could also usable for FG.

[2018-04-09 11:53] legoboyvdlp commented on #1035
PHTO's fine by me. Happy to help with layouts and / or modelling.

[2018-04-09 12:11] okroth commented on #1047
OK,

now that manoeuvre makes sense. With about 1950rpm level flight is possible.
I did not notice an instability in pitch, however, the plane seems to flat-spin quite easily.

[2018-04-09 14:56] algefaen commented on #1047
(Re slow flight sensitivity)

On a C172 I think you'd mainly notice the sluggishness of ailerons and not so much the elevator, since it requires quite a bit of power (->propwash) to maintain altitude at slow flight speeds. As a skydiver I can testify that the air is moving _significantly_ faster in the propwash compared to the surrounding air. (=

I wish I had a good non-destructive, non-hazardous

[2018-04-10 17:34] tonghuix commented on #1047
I just found a lot of nice videos in a C172R (yes not P, but still could be a reference), in these videos, pilot installed a GoPro camera in front of his chest, and it record his control of yoke and the plane's reaction.

https://www.youtube.com/watch?v=WTvh_J0skWo

https://www.youtube.com/watch?v=AKkmmICGsFM

I found the plane reaction very sluggish than C172P-detailed, not only pitch but also ro

[2018-04-10 18:03] gilbertohasnofb commented on #1035
Given the issues with PHLI, it is looking that we will end up going with PHTO. Could you guys give me a hand in making a list of the improvements that we want to make? Here is what comes to my mind:

* layout improvement if possible
* removing that generic ugly massive building from the middle of the tarmac
* adding terminals and tower, even if a bit generic
* adding GA static aircraft around the

[2018-04-10 18:10] gilbertohasnofb commented on #1035
Some references:

![](https://www.x-plained.com/wp-content/uploads/2016/05/Fred-E-Net-NAPS-PHTO-Hilo-02.jpg)
![](https://www.airport-technology.com/wp-content/uploads/sites/14/2017/10/1-Image-1-13.jpg)
![](http://l7.alamy.com/zooms/c22c4aa17d62433bb607f56a2d1c8f40/aerial-photo-of-hilo-international-airport-big-island-hawaii-usa-c02647.jpg)
![](https://www.lovebigisland.com/wp-content/uploads/2011/

[2018-04-10 19:57] wkitty42 commented on #1035
i'm trying to figure out what "big ugly massive building" you are talking about...

![20180410-phto-aerial-view-01](https://user-images.githubusercontent.com/4641713/38580235-68d11396-3cd7-11e8-9db1-9ad27cd530a5.jpg)
![20180410-phto-aerial-view-02](https://user-images.githubusercontent.com/4641713/38580236-68e54456-3cd7-11e8-8bd3-7e09485802fb.jpg)
![20180410-phto-aerial-view-from-jetphotos](https:

[2018-04-10 20:17] okroth commented on #1047
nice finding!
See that even with sluggish reactions, the movement of the yoke for roll is small (only 10° ... 15° turn)

[2018-04-10 20:53] gilbertohasnofb commented on #1035
@wkitty42 Is that from TerraSync? That looks great and super well developed but I don't see that scenery myself. PHTO looks to me very bare, no buildings and no static aircraft at all. And I meant the second building from my screenshots here https://github.com/c172p-team/c172p-detailed/issues/1035#issuecomment-379011407

But what you posted above needs no improvements in my opinion. I just don't k

[2018-04-10 22:45] wlbragg commented on #1035
I see what you see @gilbertohasnofb.

[2018-04-10 23:06] wlbragg commented on #1035
@gilbertohasnofb you have to shut off Torsten's new world scenery path and use the default terrasync path. I was able to gather the stuff @wkitty42 is showing and yes the work is already done.

Maybe that would free up some time for working on the regional texturing in the area and maybe some of the shrubbery if you were so inclined? I'm sure you could get what you need to know from looking at wha

[2018-04-11 00:57] legoboyvdlp commented on #1035
Yeah, I get the nice airport that @wkitty42 posted ;)

And correct, Hybris has no objects as yet.

[2018-04-11 02:36] wlbragg commented on #1035
Hybris also has a big glitch in elevation data near the airport!

[2018-04-11 07:47] tonghuix commented on #1047
@okroth Yep, so I think it could be a bug in this c172p-detailed or in FDM.

It would add some dynamic delay for yoke input, and at slow flight add more delay.

[2018-04-11 09:07] dany93 commented on #1047
@tonghuix, I think that we didn't understand it by the same way.
I read:

Which makes 11 to 17% of full deviation.
Am I misunderstanding the message?

[2018-04-11 09:31] gilbertohasnofb commented on #1035
@wlbragg I am not sure I understand what that means. Is there some wiki entry about how that works?

[2018-04-11 09:32] gilbertohasnofb commented on #1035
I can take a look at that, or perhaps we could simply ask Thorsten if he would consider extending the area defined for PHLI as to cover the whole Hawaii, if he thinks that's appropriate.

[2018-04-11 11:33] legoboyvdlp commented on #1035
@gilbertohasnofb,

Also please see View > Rendering. Ensure scenery objects is set to visible, at the bottom left. You could just be seeing random buildings?

[2018-04-11 12:27] wlbragg commented on #1035
@gilbertohasnofb I though maybe you were using the new Hybris  scenery Torsten is generating.
Are you using the default terrasync?
Are you using any other world scenery that you maybe downloaded?

[2018-04-11 16:52] wkitty42 commented on #1035
On 04/10/2018 04:53 PM, Gilberto Agostinho wrote:

yes, i have nothing in my Terrain or Objects override directories...

interesting... i don't know how often you update your scenery, if you use
TerraSync or one of the external programs, or what... i update my scenery with
the terrasync.py external tool but i do also use TerraSync internal to FG from
time to time... TerraMaster is also good and i'

[2018-04-11 16:55] wkitty42 commented on #1035
On 04/10/2018 07:06 PM, wlbragg wrote:

so you guys are using hybris? i only use that for testing the new scenery
build... afterward, i switch back to the regular TerraSync stuff... there's a
LOT of glitches in the hybris stuff... i'm waiting to see my updater report that
it has downloaded more stuff from hybris... when i see that, i'll switch to
hybris and have a play but until then, i stay on Te

[2018-04-11 20:00] wkitty42 commented on #1035
FWIW: on hybris not having objects yet, i have tested it with the objects directory from TerraSync and it seemed to be ok but i didn't go looking at a lot of things... at that time, i was looking for glitches like the holes seen in the eastern US that seem to indicate missing land class data or a missing table...

[2018-04-11 21:50] gilbertohasnofb commented on #1035
I have that enabled and other airports do have structures and static aircraft.

I am using TerraSync via FGRun. Most of my scenery was downloaded using TerraMaster (just easier than TerraSync as you can download many tiles at once), and normally TerraSync does update whatever I have there. For some reason this is not the case with this airport.

I do update quite often using TerraSync. Normally I

[2018-04-11 21:55] gilbertohasnofb commented on #1035
Anyway, I will try to solve this here on my side when I have time. The important thing is that the scenery looks good already and I don't think it needs any improvements except for the regional textures that @wlbragg mentioned, but as I said it might just be the case of asking Thorsten to include this island in his definitions. I will check that soon.

But so could any of you make me a favour and

[2018-04-12 10:45] dany93 commented on #1047
@tonghuix,

I have no problems at controlling the aircraft.
However, I've made tests and it seems that the aileron authority might be decreased a bit.
I almost sure it will improve for you, but this is to be tested and validated in enough different conditions (15 - 20 kt crosswind landing, severe turbulences,...).

In c172p.xml, line 1476, try this
Replace the initial value (0.2290) for 0.15 as sh

[2018-04-12 11:02] wkitty42 commented on #1035
On 04/11/2018 05:50 PM, Gilberto Agostinho wrote:

that could have been due to a problem on the mirror server you might have been
using... one of them was recently marked as "down" in the DNS because of
problems it has/had...

ok... sounds like your system may have been using that oliver's problematic
server... you're using TerraMaster... is it the latest from portreekid? it
really should be as th

[2018-04-12 11:44] okroth opened #1056 "Oil instruments not indicating"
While doing the run-up I got shocked when I looked onto the oil pressure and temperature indicators:
![grafik](https://user-images.githubusercontent.com/10168496/38675031-cbffd134-3e56-11e8-87b7-90687e5f6654.png)
Temperature should have raised in the minutes the engine was running, and pressure must have raised within seconds.
Luckily, the engine is fine, as the property tree viewer shows.
Looks a

[2018-04-12 13:49] wlbragg commented on #1056
There is a filter for oil pressure and oil temp
[code]
[code]

[2018-04-12 15:18] dany93 commented on #1047
For pitch I see no good solution for you in the aircraft files.
You can try to decrease the value (initial -1.8)
line 1606
[code]
But you will see that the risk is of no longer being able to reach the stall AoA.
At low speed for landing, you want to do the flare, pull the yoke full, the aircraft will not pitch up enough.

The other way is to apply a `<power>` to your JS elevator axis. Starting by

[2018-04-12 15:50] wlbragg commented on #1056
I don't even know what those are, @onox?

[2018-04-12 17:33] onox commented on #1056
What are the values of the `/engines/active-engine/indicated-*` properties? You're using the 160 HP engine?

[2018-04-12 19:41] okroth commented on #1056
I am using the 160hp engine
the values say '' or none

[2018-04-12 23:14] legoboyvdlp commented on #1056
Let me test if this bug is fixed on my branch.. if so no need to fix.

[2018-04-13 20:36] onox commented on #1056
@okroth Can you repeatedly reproduce the problem?

[2018-04-14 09:11] dany93 commented on #790
_(I don't know if this is the best place...)_
I noticed that the 3D magnetic compass indication is wrong.
About 180° error near 90° and 270° mag heading (map),
Pretty well at 0° and 180° mag heading.

[2018-04-14 09:41] gilbertohasnofb commented on #790
@dany93 I don't think this is the place for that, this issue is just about the position of the instrument models in the .ac file. I will open a new one with your report.

[2018-04-14 09:42] gilbertohasnofb opened #1057 "Magnetic compass indication bug"
@dany93 wrote:

[2018-04-14 09:43] gilbertohasnofb commented on #1035
Could anyone please help me with the size of the tiles mentioned in https://github.com/c172p-team/c172p-detailed/issues/1035#issuecomment-380608375 ? I still could not solve my scenery issues and I would like to write the devs about the tutorial tiles as soon as possible, as to have them included in the next release.

[2018-04-14 14:58] legoboyvdlp commented on #1035
w156n20 = 1.6MB
w155n19 is less than 1MB
w156n18 is 55KB
w157n19 is 700KB
w156n19 is 8.5MB

So total for terrain should be about 12-15MB

Objects is even smaller.

This is measured from my terramaster copy.

[2018-04-14 17:57] gilbertohasnofb commented on #1035
@legoboyvdlp Thanks lego, really appreciate that. I am writing the dev-list today.

[2018-04-14 18:08] gilbertohasnofb commented on #1035
Ok, I just wrote the list. Once the tiles are added we should close this issue and open a new one about moving the tutorials to PHTO. Thank you all for all the input! :tada:

[2018-04-15 09:09] dany93 commented on #790
I had the impression that the code change was in [Move compass to absolute position....](https://github.com/c172p-team/c172p-detailed/commit/20fdd9612decd95e34f4bbe705928e26736035ff).
Hence this place for my message. I don't know if it can help, or if there is no relation (it can be a mistake on my part, then sorry).

[2018-04-15 11:02] wlbragg commented on #1057
I fixed this and will push it later ton today.

[2018-04-15 11:42] gilbertohasnofb commented on #790
@dany93 I see. Nevertheless, @wlbragg is already working on a fix so this should be back to normal soon. Thanks!

[2018-04-15 17:30] #1057 closed

[2018-04-15 18:30] tonghuix commented on #1047
More video:

- A whole traffic pattern, with a roof-installed GoPro camera  https://www.youtube.com/watch?v=Rs1b7uSdCu8

- A beautiful girl's first solo, multi-camera,  https://www.youtube.com/watch?v=3jfRs2xsjtc&t=50s

These two videos show pitch and roll are all sluggish, I still suggest add 'delay' to yoke controls, but not rudder.

[2018-04-16 07:47] okroth commented on #1056
It happens each time.

[2018-04-16 08:41] legoboyvdlp commented on #1056
@okroth would you by any chance be using my branch, issue-124? Probably not, but just to confirm

[2018-04-16 12:02] okroth commented on #1047
I have tried to find some FDM coefficients of the C172 from the Internet; the major reference seems to be some data from Roskams Book "Methods for Estimating Stability and Control Derivatives of Conventional Subsonic Airplanes", as others refer to it, namely the UIUC icing model.
Another author David Allerton had in the files accompanying his book "Principles of Flight Simulation" a FDM of the C17

[2018-04-16 12:29] okroth commented on #1056
Could not find that branch, but the reeason for my trouble.
The 2017.1 release did not initialise /engines/active-engine/low-oil-temperature-factor in engine.nas, the release 2018.1 does.
So, it's a glitch.

[2018-04-16 12:34] #1056 closed

[2018-04-16 16:56] legoboyvdlp opened #1059 "Oil dialog will not open with damaged gear"
![fgfs-screen-291](https://user-images.githubusercontent.com/10434911/38823878-7fee7b46-419f-11e8-925e-302166e352dc.png)

I broke a gear today, while testing the engine oil, and was surprised that the oil dialog would not open.

[2018-04-16 17:03] tonghuix opened #1060 "Improve FDM coefficients make flight control less sensitive"
Reference discussion and researches: #1047

As [@okroth 's research](https://github.com/c172p-team/c172p-detailed/issues/1047#issuecomment-381575460) saying, the pitch and other flight control are too sensitive,  due to using wrong coefficients in FDM.

Could anyone improve FDM using correct coefficients?

[2018-04-16 17:23] legoboyvdlp opened #1061 "Request: adjust the sound as you rotate around the aircraft"
Hi there,
I noticed that the F-15 and F-14 by Richard simulate this.
He adds orientation tags to the sound file:

![image](https://user-images.githubusercontent.com/10434911/38824958-e1396d18-41a2-11e8-81b2-c6946f912a5f.png)

In light of the sound improvements recently, I think this could be used to further improve the sound.

[2018-04-16 17:44] legoboyvdlp commented on #1061
Good reference:
https://www.youtube.com/watch?v=3py-LRzVuXA

And potentially a source if you contact the author.

[2018-04-16 17:52] legoboyvdlp opened #1062 "3D model issues above and between the wings"
![image](https://user-images.githubusercontent.com/10434911/38826237-1cde7dd2-41a7-11e8-9b78-383a67625f90.png)

Two rivets overlapping and a nasty flickering thing (half-circled in black) on the top of the fuselage. I'd imagine it is the cockpit roof showing outside?

There is also a rather obvious  seam here:
![image](https://user-images.githubusercontent.com/10434911/38826330-5c6433f2-41a7-11e8-

[2018-04-16 18:04] onox commented on #1061
I'm not sure about this, the F-14/F-15 have jet engines whose sound is very directional. @gilbertohasnofb what do you think?

[2018-04-16 18:04] dany93 commented on #1047
Thank you very much @okroth for this research and indications.
I'm looking at that.

[2018-04-16 19:29] gilbertohasnofb commented on #1059
@legoboyvdlp the only condition for that tooltip seems to be:

[code]

So is the engine considered to be still running even though the plane is crashed? If so, that should be the correct fix. I don't want to polute the gui logic just for this specific case.

[2018-04-16 19:38] gilbertohasnofb commented on #1062
@legoboyvdlp I think the issue is that the wing is broken into several different pieces now and mapping them has not been too easy. Normally the best approach to modelling is to first create a 3D model and then to UV-map and texture it, but we need to do the opposite: adjust textures to a modified model. Anyway, perhaps @wlbragg will be interested in taking a look at these, but I am afraid it will

[2018-04-16 19:43] gilbertohasnofb commented on #1061
@legoboyvdlp I agree with @onox, I don't think directional sound make sense for our plane. The sound of the engine always comes from a fixed point (the engine itself), and we do have directionality in relation to the viewpoint (e.g. if you look right, you will hear the engine much louder from your right speaker than from your left one).

About that reference, I think our sounds are better than tho

[2018-04-16 20:52] #1061 closed

[2018-04-16 22:30] legoboyvdlp commented on #1062
Perhaps my branch did not actually have that fix - if so, apologies.

[2018-04-16 22:31] legoboyvdlp commented on #1061
Understood. No problem :wink:

[2018-04-16 23:19] wlbragg commented on #1062
@legoboyvdlp  I think your in a branch that doesn't have the latest revisions. Here is what the most current work looks like.

![riv](https://user-images.githubusercontent.com/11069680/38839921-8043191e-41a2-11e8-92e2-5fdd1ab448b3.jpg)

[2018-04-17 07:47] okroth commented on #1047
Oh,
do I read Cessna 1**8**2? I always thought the coefficients were computed for a Cessna 1**7**2

[2018-04-17 08:04] dany93 commented on #1047
Yes, Megginson's table data are written for Cessna 1**8**2.
David Megginson took almost (if not all) of these coefficients for his Cessna 172 FDM. My tendency is to trust him (anyway, he is much better than I am on this). Probably that he had no other set?
I discovered these tables only a certain time after the C172 FDM.

[2018-04-17 08:42] okroth commented on #1047
Found some comparisons. The C182 has 1" **shorter** wingspan, 1 sqft **less** wing area, and is 2" longer. It has a larger engine, constant speed prop, and higher weight. I presume the 2" additional length go into the cowling that incorporates six cylinders compared to the 4 in the C172. So, Megginson was quite right to use the C182 coefficients. But we should consider to adjust Iyy and Izz as the

[2018-04-17 08:54] legoboyvdlp commented on #1062
The rivets on the left seem pinched slightly towards the fuel cap on the left hand side, they are closer to the hole on the left than the right. Otherwise, it looks like all of it was fixed. Once I go back to master, I will make sure the first flickering thing was fixed, but otherwise, apologies for wasting your time ;)

[2018-04-17 11:54] okroth commented on #1047
The section 6 of the POHs gave some information:

C182P:
empty weight:1772lbs, moment:63300lbs-inch -> CG is 63300/1772=35.7in aft datum
engine O-470-U 442lbs @ 17.5 in fore datum.
This is 270slug-ft²

C172P:
empty weight:1467lbs, moment:57300lbs-inch -> CG is 39in aft datum
engine O-320-D2J 281.5lbs @ 19.6 in fore datum.
This is 209slug-ft²

C172R:
empty weight:1639lbs, moment:64400lbs-inch -> CG

[2018-04-17 14:08] wlbragg commented on #1062
Yeah, like @gilbertohasnofb said, this stuff is after the fact and that makes it really difficult to work with. We probable should let it go. The mapping of the wings was a nightmare for me, I'd probably do more harm than good tying to correct that.
The error in the first image you posted was worth correcting though (which we did of course).

[2018-04-17 14:09] wlbragg commented on #1062
Oops, hit the wrong button!

[2018-04-17 14:41] dany93 commented on #1047
Many thanks once more @okroth, for these informations and (more) having done and detailed the calculations.

In principle I can do these calculations (I have a table for this) but, between the units, CG shift and everything, there is more than enough to stumble.
I checked them just to be sure that I understood well that you mean, but having your values as a reference was very precious.

[2018-04-17 14:50] gilbertohasnofb commented on #1062
I agree, I don't think this is worth the trouble. IMO we can close this.

[2018-04-17 16:15] okroth commented on #741
The error in the alternate static system's pressure is not induced by the different temperature.
There are two items: the selector valve works like a piston during switching which introduces an short term error. An during flight the cabin pressure is different to the static port's pressure because the air streams differently around and through the cabin. Open windows, pressure drops. Close them, o

[2018-04-18 14:05] dany93 commented on #1047
I have changed a few aerodynamic coefficients.

@okroth : Sorry to sollicitate you as much, but do you have the possibility to test the aircraft in FG? Part of this is subjective, based on memory and, when someone complains, I'm not the better one to decide.

CnDa: -0.16 is impossible. Even -0.053 is way too much. I have set it at -0.03. Do you feel it's correct?
The irony is that I was led to dec

[2018-04-18 14:41] callahanp opened #1064 "Message: Multiplayer packet truncated prop id: 10308: sim/multiplay/generic/int[8]"
When starting flightgear with the default aircraft and then attaching
to a multiplayer server, the console is flooded with messages:
Multiplayer packet truncated prop id: 10308:sim/multiplay/generic/int[8]

It appears there are too many items being sent out using the V1_1 protocol, and multiplaymgr.cxx is just tossing out anything after 10307	sim/multiplay/generic/int[7], while still sending the m

[2018-04-18 14:48] legoboyvdlp commented on #1064
This aircraft requires the new multiplayer protocol introduced in 2017.2 -> you can enable it in multiplayer settings.

[2018-04-18 16:35] okroth commented on #1047
First: Megginson has three setups: climb, cruise, and approach, with partly different coefficients.

CnDa: Megginson has -0.0504, -0.0216, -0.0786 for climb, cruise, approach... not sure why they differ, but the C172 does have adverse yaw...UIUC, Roskam, etc all use -0.053.

Clp: 5rad/s is quite a lot ~ 285°/s. All other models (I found) use -0.47...-0.494.

CmDe: FlightGear says about AERORP "the

[2018-04-18 17:27] legoboyvdlp commented on #1064
If you set the option to the new protocol, only new protocol traffic can see you. If not, all traffic can see you.

I thought it was protocol v2 by default?

It is shown in multiplayer menu in-sim, but the launcher is designed not to be cluttered with options as far as I know.

[2018-04-18 18:02] dany93 commented on #1047
Thank you, @okroth

At least for the easiest, the AERORP at 40.6 seems to work very well, I recover "my" aircraft, with its stall and spin behavior. Possibly even a bit hard, I have to see it (I think I can refine).
Very pleasant to fly.

I was afraid for the CG which can be aft the AERORP, but no problem with CG at 44.5 in.

[2018-04-18 18:40] okroth commented on #1047
CG may be behind AERORP, it must however be in front of the airplane's neutral point, which can be computed easily using the areas of stabilizer and wing an the horizontal lever arm. In a C172, it is 20.7 in behind the 25% line of the wing, so you still have plenty of space.
Nevertheless you got an experience in load and balance :-)

Regarding Ixx and Izz: The 180HP and 160HP engine are the same,

[2018-04-18 22:36] onox commented on #1064
Duplicate of #1041

[2018-04-18 22:36] #1064 closed

[2018-04-18 22:50] onox commented on #1064
The default has been changed to v2 in 2018.2 in FGDATA. #1011 will take advantage of protocol v2 and display a warning dialog if people use the old protocol.

Not really. The problem is that the server should enforce that everybody follows the same rules (all protocol 2 or all protocol 1). (I'll try not to rant too much about fgms) That gives only short-term pain for people who haven't upgraded ye

[2018-04-18 23:02] onox commented on #1064
@callahanp Thanks for reporting the issue, it shows multiple people are experiencing these messages and that we need to make sure that the plane makes it clear that v2 is required.

[2018-04-19 16:58] dany93 commented on #1047
[New version](https://github.com/c172p-team/c172p-detailed/pull/1063#issuecomment-382803664) with your indications.
With them, I'm learning here, consolidating my knowledge there. Very interesting.
Thank you.

[2018-04-19 18:18] wlbragg commented on #1047
I like the change, definitely not so sensitive yet I still have a good range of motion. Stall is good!

[2018-04-20 13:43] wlbragg commented on #6
@gilbertohasnofb So, what is the first order of business here? I should try to raise the panel and also possibly change the angle of the glare shield?
It would be helpful to see the interior from this angle if at all possible. I'm looking for the thickness of the base of the console here to see if I can raise the entire console and panel, including this portion (red) and by how much. Other wise we

[2018-04-20 14:05] gilbertohasnofb commented on #6
Yes, I think the first step is to raise and tilt the panel until we find a good position. Once that's done, we can then move on to moving everything else to the new panel position as well as altering the shape of the upper part of the panel as necessary (see the images I posted here https://github.com/c172p-team/c172p-detailed/issues/6#issuecomment-239006965 )

I will try to find some images for y

[2018-04-20 14:08] gilbertohasnofb commented on #6
![](http://imgproc.airliners.net/photos/airliners/3/3/0/2558033.jpg?v=v40)
![](http://imgproc.airliners.net/photos/airliners/9/6/6/2440669.jpg?v=v40)
![](http://imgproc.airliners.net/photos/airliners/2/4/9/2532942.jpg?v=v40)
![](http://imgproc.airliners.net/photos/airliners/2/6/5/1733562.jpg?v=v40)
![](http://imgproc.airliners.net/photos/airliners/5/9/9/1774995.jpg?v=v40)
![](http://imgproc.airlin

[2018-04-20 14:10] gilbertohasnofb commented on #6
Also these ones:

![aaf](https://user-images.githubusercontent.com/5700795/39055705-c8c1f18a-44ac-11e8-9de2-e6e9c836271a.jpg)

![_full](https://user-images.githubusercontent.com/5700795/39055706-c8daceb2-44ac-11e8-88ea-b3b743bcd263.jpg)

[2018-04-20 15:00] wlbragg commented on #6
@gilbertohasnofb  overlaid images to help dissect what needs to be done here.
https://www.dropbox.com/s/j8np1uklln3mtfv/interior.xcf?dl=1

[2018-04-20 15:06] wlbragg commented on #6
Also I noticed that possibly the glare shield is not the correct proportion, specifically it may not over extend enough, or maybe the panel should be recessed slightly more?
![glare](https://user-images.githubusercontent.com/11069680/39058725-44cc1330-4482-11e8-9dfa-ff4c41ec66e2.jpg)

[2018-04-20 15:31] gilbertohasnofb commented on #6
These ones are really tricky as the camera position, lens focal length, etc., can change subtly. So in that overlay you matched the cockpit height, but I think that's exactly what is not matching with the real aircraft. In my opinion, the two key things we need to address are:

1) from the default viewpoint one should not be able to see the thick fuselage:

![image](https://user-images.githubuserc

[2018-04-20 15:32] wlbragg commented on #6
@gilbertohasnofb
The glare shield is actually large enough to move. Looking at the way it can be manipulated in the images below we have some flexibility here as well.
![glare1](https://user-images.githubusercontent.com/11069680/39059839-3ac7b102-4485-11e8-907a-ae5ec833923d.jpg)
![glare2](https://user-images.githubusercontent.com/11069680/39059838-3988388e-4485-11e8-805a-540e0161aa3c.jpg)

My thoi

[2018-04-20 15:33] gilbertohasnofb commented on #6
@wlbragg these last shots are great! perhaps lifting and tilting the glareshield as you did in the last image would suffice, and then we just raise the panel vertically without tilting it. How that would look from the pilot's point of view?

[2018-04-20 15:35] wlbragg commented on #6
No I cannot see those images, sucks we lost them.

I realize the overlay comparison is not a reliable visual tool, but I think it does help overall to judge some perspectives. I figured you would take it with a grain of salt.

[2018-04-20 15:36] gilbertohasnofb commented on #6
:+1:

[2018-04-20 15:47] wlbragg commented on #6
This is without moving anything except the glare shield as seen in the side views above.
![glare3](https://user-images.githubusercontent.com/11069680/39060835-0db076a6-4488-11e8-804a-804faa9b6823.jpg)

[2018-04-20 15:50] gilbertohasnofb commented on #6
@wlbragg I think this is looking good. Would you be able to move the panel upwards (so that is touches the glare shield) and export the ac file for me to try it in the sim?

[2018-04-20 15:57] wlbragg commented on #6
This moves the glare shield towards the aft after the rotation so it hangs over the panel again.
![glare4](https://user-images.githubusercontent.com/11069680/39061304-7d63c254-4489-11e8-97a5-c7d113289b46.jpg)

[2018-04-20 16:01] wlbragg commented on #6
Yes I needed to do the above aft movement to make it correct.
OK let me reposition it a little more exact and move the pane up for a test.

[2018-04-20 16:09] gilbertohasnofb commented on #6
@wlbragg looking very promising so far! I need to leave now for a couple of hours but I would be happy to test it afterwards.

[2018-04-20 16:42] wlbragg commented on #6
![c172p1](https://user-images.githubusercontent.com/11069680/39063227-e8c1a330-448f-11e8-9b62-0e8a00727b4b.jpg)
![c172p2](https://user-images.githubusercontent.com/11069680/39063228-ebe17ee6-448f-11e8-9c18-8234937cf11c.jpg)

[2018-04-20 16:46] legoboyvdlp commented on #6
Perhaps you could smooth the glareshield corners at some point:

![image](https://user-images.githubusercontent.com/10434911/39063311-99834426-44c2-11e8-97f8-ea7f95eda11c.png)

as compared to

![image](https://user-images.githubusercontent.com/10434911/39063337-aec9dea8-44c2-11e8-910c-5bc02f6944c8.png)

[2018-04-20 16:48] legoboyvdlp commented on #6
By the way, you should add **working-on-mesh** as well, I think? 😉

[2018-04-20 19:30] wlbragg commented on #6
As soon as we do a PR for it I'll add the "working-on-mesh" tag. Right now it is all local on my end until we know exactly what direction we're going to go.

Thanks for noting this, as soon as we proceed with a PR I'll make the edits, same as the documentation pouch.

[2018-04-20 21:49] gilbertohasnofb commented on #6
@wlbragg I _really_ like how this is looking! This might turn out to be easier than I expected. But that said, I think we need to tweak things a bit more. The panel seems to be too high now, and the runway is not visible anymore from the default view:

![fg-0](https://user-images.githubusercontent.com/5700795/39075305-ef8d8442-44ec-11e8-92b2-800afb582ff8.jpg)

Of course we could raise the pilot's

[2018-04-21 22:38] gilbertohasnofb commented on #741
@okroth Great, could you please post what you have found here? If you can upload images only of the parts of the POH that are relevant that will make our job much easier! Or is it a long section? Thanks a lot!

[2018-04-21 23:13] gilbertohasnofb commented on #6
We could try raising it and extending the base. Look at this photo, doesn't it seem to you that the base is a bit high anyway?

![](https://camo.githubusercontent.com/9530b248b7002bbf262258974c0322f1e53aeda3/687474703a2f2f696d6770726f632e6169726c696e6572732e6e65742f70686f746f732f6169726c696e6572732f352f392f392f313737343939352e6a70673f763d763430)

[2018-04-21 23:16] gilbertohasnofb commented on #6
@wlbragg nothing to apologize for, I am also super busy at the moment. About the new .ac model, it does look way better from the default view, but I think we need more adjustments if we are to get away without remodelling the shape of the nose. This is how the panel looks like from outside:

![image](https://user-images.githubusercontent.com/5700795/39089563-3c22e204-45c2-11e8-9923-9cc1367d1121.pn

[2018-04-22 00:08] #214 closed

[2018-04-22 00:08] #1037 closed

[2018-04-22 00:08] #1038 closed

[2018-04-22 00:08] #1040 closed

[2018-04-22 10:37] okroth commented on #741
[172R_NavIII-IM-p164-165.pdf](https://github.com/c172p-team/c172p-detailed/files/1935455/172R_NavIII-IM-p164-165.pdf)
One can easily find such a POH using "172RPHBUS-00" as search term. Take the ones from Cessna support...

[2018-04-22 10:52] gilbertohasnofb commented on #741
Great, many thanks!!

[2018-04-22 14:30] okroth commented on #741
I found the momentary hops the VSI and altimeter make when alternate static is selected in a movie "Cessna C172R Pre-Flight". The VSI jumps momentarily to +250fpm when knob is pulled out, and -150 when pushed in. The altimeter jumps from 790ft to 800ft when knob is pulled, and back to 790ft when knob is pushed in again. In another movie "How to preflight a Cessna 172", the VSI jumps +400fpm and -3

[2018-04-22 14:42] tonghuix commented on #6
I take two screenshots from X-Plane, just for your reference.

![cessna_172sp_1](https://user-images.githubusercontent.com/423703/39096126-4f90d85c-467e-11e8-9ebc-c33e0b88c98f.png)
![cessna_172sp_2](https://user-images.githubusercontent.com/423703/39096127-4fc31f9c-467e-11e8-9d22-d1c61afdc315.png)

[2018-04-22 15:32] wlbragg commented on #6
@tonghuix as x-plane is a "copyrighted" commercial product, I prefer not to reference anything from it.
I appreciate your contribution here but I am uncomfortable using it or having it a part of this reference material.

[2018-04-22 16:04] wlbragg commented on #6
@gilbertohasnofb I've opened a PR for this and pushed the latest .ac revision including raising the pedestal. https://github.com/c172p-team/c172p-detailed/pull/1066

[2018-04-22 17:57] gilbertohasnofb commented on #6
I appreciate your contribution here but I am uncomfortable using it or having it a part of this reference material.

@wlbragg hmm, I see things a bit differently. I am quite sure that using photos and images as reference while creating _your own_ model is fine. The problem would be to literally use their model or texture, or for instance superimposing the image from their screenshot and creating a

[2018-04-22 18:50] wlbragg commented on #6
@gilbertohasnofb @tonghuix
I appreciate both your input here and you both may be right!
But I still have to disagree based on my understanding of using say "Google Earth" for reference when positioning scenery objects. My understanding is that is not acceptable. I may have misunderstood this, or even as you suggest the degree of use, but that is my current understanding. I'm sure it would at best

[2018-04-22 19:26] wlbragg commented on #6
Anyone know why there is a manual inside the manual? The is no reason to keep the additional vert's right? I can delete them?
![book](https://user-images.githubusercontent.com/11069680/39099036-22213654-4639-11e8-8fad-92d6d95c3b89.jpg)

[2018-04-22 19:33] wlbragg commented on #6
I am aware of this glitch also, so if someone notices it I already have it accounted for. It's a vertice out of place.
![glitch](https://user-images.githubusercontent.com/11069680/39099094-1085af00-463a-11e8-9948-c545580356c0.jpg)

[2018-04-22 20:00] gilbertohasnofb commented on #6
I believe that if you are just staring at the map and then position it without using it as a reference overlay then there is no problem.

Well, the advantage of X-plane is that we can take screenshots from any angle to check things, while finding photos is a bit trickier. But I see your point and respect it, but don't feel too shy about staring at those screenshots for a long bit :wink:

No, I mis

[2018-04-22 20:01] gilbertohasnofb commented on #6
That sounds like a mistake. I would delete it and check that everything works fine in the sim.

[2018-04-22 21:00] wlbragg commented on #6
Yep : Control Lock, "remove before starting". Thanks.

[2018-04-23 08:34] tonghuix opened #1068 "Nose gear should be disconnected to rudder pedal when airborne"
I read a book that shows

So I convince that the nose gear should not controllable when airborne.

[2018-04-23 09:11] okroth commented on #1068
correct, the nose wheel is locked in straight direction and will not turn around its (nearly) vertical axis when airborne.
The connecting rods between the rudder pedal axles and the steering ring contain springs to allow rudder movement with blocked nose wheel steering.

[2018-04-23 10:07] onox commented on #1068
What if you make a slight turn and then lift the nose off of the ground? Does it jump to the neutral position or will it lock once you manually (with pedals) move it to the neutral position?

[2018-04-23 10:32] okroth commented on #1068
There is a flat spot at the oleo at which a lug on the torque link is pressed when the wheel drops down.
![torque-link2](https://user-images.githubusercontent.com/10168496/39121597-66505d3c-46f2-11e8-8918-db5e1026faa1.png)

This centres the wheel, which can anyway deflected only by 10°left or right with rudder pedal input. It can turn up to 30°  like a shopping cart caster wheel. The centring mech

[2018-04-23 10:41] gilbertohasnofb commented on #1068
@okroth Many thanks for these reports, in particular with all the sources that you give! That's super appreciated.

I am having a bit of difficulties understanding the phrase above. Are you saying that the wheel on the ground can deflect only 10 degrees? If so, what does the 30 degree figure mean?

[2018-04-23 11:08] okroth commented on #1068
You can turn the nose wheel by 10° using the rudder pedals. It can turn further 20° by side force, e.g. when you brake left main gear wheel, the nose moves left, and the nose gear follows, similar to wheels on a shopping cart. However it will not turn more than 30° left or right. There is a sentence in the POH about this in the POH page7-12: "If the airplane is to be towed by vehicle, never turn t

[2018-04-23 11:27] gilbertohasnofb commented on #1068
@onox what about this: what if the rotation of the nose wheel is controlled by a single property which is the result of the multiplication of the rudder displacement by another variable. This variable will be 1.0 when in the ground and smoothly go to 0.0 when the front WOW is `false` using a filter with a certain `max-rate-of-change`, so that the animation of the wheel will smoothly move to the ce

[2018-04-23 12:11] wlbragg commented on #1068
I'm not so sure you need this smooth. Looking at the diagram (it's hard to tell), but it looks like (yellow) the main gear strut drops enough that the "yellow" piece might snap and lock the gear from moving, if I'm looking at this correctly. It's not clear what straightens the gear strut to allow this to happen.

[2018-04-23 12:14] gilbertohasnofb commented on #1068
But even a fast snap would look better animated, else it just teletransports to the correct position and will look like a bug. My 2 cents.

[2018-04-23 13:10] okroth commented on #1068
It's not snapping. When the oleo expands, the torque link straightens until the yellow part (stop lug) comes into contact with the flat rear side of the oleo end. As that is fixed, also the torque link, and as such the nose wheel is turned straight.
It may help to know that the rudder steering rods turn the steering collar which is rotating on the fixed upper oleo. The torque link then transfers t

[2018-04-24 20:55] HHS81 commented on #1068
The extension of steer angle is simulated in the c182s. The lock of the nose-wheel gear steering in flight is New to me,  never read anything about that.

[2018-04-24 20:59] HHS81 commented on #6
@gilbertohasnofb  in the real cessna you usually can't see much oft the wing bottom. So the height of the panel by wlbragg was o.k. And you don't see much of the rwy,  on the c182 it is even worse.

[2018-04-24 21:15] HHS81 commented on #6
https://i.ytimg.com/vi/FfTorGjEL2s/maxresdefault.jpg

[2018-04-24 22:32] gilbertohasnofb commented on #6
@HHS81 I am not sure I agree with you on this one, in particular regarding the runway visibility bit.

First, the viewpoint position will depend on the pilot height, so this complicates quite a bit the discussion. In the photo you posted that pilot would certainly have a hard time seeing the wing, but I do remember being able to see it when I had my only flight instruction to date many years ago.

[2018-04-24 22:36] gilbertohasnofb opened #1069 "Improve the seats and remove headrests"
The seats in a typical 172 of this time do not have headrests, see the photo below of a 172P:

![image](https://user-images.githubusercontent.com/5700795/39217441-f3eb5d4c-4817-11e8-8fed-f462394f8d74.png)

@wlbragg we could 'borrow' the seat model from the c182s which does look better than ours, but we would need to do two things to adjust it: first, we would need to continue using our seat mounts

[2018-04-24 22:39] gilbertohasnofb commented on #1069
Another reference:

![](http://orapweb.rcahms.gov.uk/coflein/A/AP_2005_1052.jpg)
![](http://www.directwfc.com/images/airplanes/64287_I.jpg)
![](http://www.directwfc.com/images/airplanes/9815L_I.jpg)
![](http://euram.at/shop/img/p/1/2/0/9/1209-thickbox.jpg)

[2018-04-25 00:50] wlbragg commented on #6
I think it is going to be really subjective without some definitive reference and most certainly depend on the pilots height. How about a couple pilot inputs here?
@gilbertohasnofb try the following. Load the 182 look out the pilot side window then the forward view. Looks like the eyepoint is about where the one reference photo is, the one with the pilots eyepoint above the window frame. Now load

[2018-04-25 00:52] wlbragg commented on #6
For our viewpoint, if we leave it that way, then I'm OK with where were at.

[2018-04-25 01:07] wlbragg commented on #1069
I just did a search and the second image I came across shows seats with a headrest. In fact I saw close to as many with head rests as without. They were all 172p Skyhawk's. So it looks like they come both ways. With that said I'm not opposed to upgrading the seats eventually. I'm not sure I am the one to try to create them though, replace them with an existing model, maybe. Something else I am con

[2018-04-25 08:57] gilbertohasnofb commented on #1069
Are you sure about that? When I type 'cessna 172 seats' on Google most images have a headrest, but then again most images are from very modern 172 models such as the 172SP. Also, there is a bunch of images of older planes with _replacement_ seats which might have headrests, but those are not original.

I honestly don't see any problems of using stuff from the c182s, but you are right about the sea

[2018-04-25 08:57] dany93 commented on #6
Certainly... On some ultralights, I had to add a cushion. (I'm about 1.70 m or 5.6 ft height)

[2018-04-25 09:02] gilbertohasnofb commented on #6
All right, so let's shift up the viewpoint and the panel a bit more. If you take care of the later then I will adjust the view positions in the sim. Let's first find a good position for these and commit to it before doing something about the pedestal, is that fine with you? We can start over again with the glareshield only, until we find the sweet spot. Would that be all right?

[2018-04-25 12:29] wlbragg commented on #6
@gilbertohasnofb I need to have the viewpoint we are going to use in order to judge the final height for the glare shield. Personally I would prefer not to go much higher with the view. I want to still be able to see the bottom of the wing, even if only slightly. Once that is set I can move the glare shield up until I reach the view we see now of the end of the runway.. Bottom line for me, I don't

[2018-04-25 12:39] wlbragg commented on #6
Maybe something like below.
![height1](https://user-images.githubusercontent.com/11069680/39246266-ac3c5638-485b-11e8-9afa-5c96ba92cd3b.jpg)
![height2](https://user-images.githubusercontent.com/11069680/39246268-ae15d290-485b-11e8-868f-b347a60865aa.jpg)

[2018-04-25 12:55] gilbertohasnofb commented on #6
I think what you proposed above looks fine to me, though that might be a tiny bit too little runway. Could we raise the viewpoint a fraction higher so that we see more runway?

And what's easier for you, to change the viewpoint yourself or do you want me to do it? If you want to do it yourself, don't forget to do the same for the copilot view. Later I will adjust the IFR view once the panel is in

[2018-04-25 13:41] algefaen commented on #6
As a shorter guy (171cm) I've had some interesting times in various C172/PA28s. My instructor told me to make sure I could barely see the cowling behind the glareshield, so I've used that as my personal reference ever since. Sometimes I have to stretch a bit to achieve the "cowling in sight" requirement though. (=

The seats on the older aircraft are often quite worn, which leaves you sitting a co

[2018-04-25 13:56] wlbragg commented on #6
@algefaen thank you for that much needed perspective.
@gilbertohasnofb OK, pushed the latest adjustment. I was able to raise the pedestal along with the panel. It was a small enough adjustment I think it worked out well.

[2018-04-25 14:10] gilbertohasnofb commented on #6
Just tested, looks really good to me. The height is looking fine, the amount of runway in sight also looks fine. If you would still have a bit of patience left though, would you consider changing the angle of the glareshield a bit more as to trim the thick fuselage bit? The fuselage should be as narrow as possible there. Just a few degrees would be fine, and this would not affect the height of the

[2018-04-25 17:32] wlbragg commented on #6
OK, I think we're ready to start moving objects.
![glare1](https://user-images.githubusercontent.com/11069680/39262280-91fc1014-4884-11e8-9627-142d24f1f2ba.jpg)
![glare2](https://user-images.githubusercontent.com/11069680/39262284-93c96978-4884-11e8-9ffa-64791dc06cc2.jpg)

[2018-04-26 08:51] gilbertohasnofb commented on #6
Not premature at all, your last position of the panel and glareshield are excellent, I am super happy with the result. So let's move to phase 2!

[2018-04-26 08:54] gilbertohasnofb commented on #6
By the way, I noticed that the position of the compass is not completely ideal, it should touch the panel behind the glareshield. See:

![fg](https://user-images.githubusercontent.com/5700795/39295894-7afa2410-4937-11e8-947e-eb25cad35767.jpg)

I also realized our compass model is not really matching what I see in photographs:

![](https://farm7.staticflickr.com/6195/6066184333_b3b1cc4a55_b.jpg)

!

[2018-04-26 09:16] #1047 closed

[2018-04-26 09:17] onox commented on #1047
@dany93 Can you update the first comment (or add a new one) of #958 ?

[2018-04-26 09:54] dany93 commented on #1047
Thank you @onox, thank you @wlbragg.
https://github.com/c172p-team/c172p-detailed/issues/958 updated. If you can have a look to check the formulation, thanks.

[2018-04-26 13:46] wlbragg commented on #6
Yes, I can round the bottom.

We can just do it here. Maybe I can get that done today.

I noticed that, all I did was move it up. So it needs to go forward and set mostly flush with the front of the glare shield? What about the angle of the glare shield, are we going to tilt the compass up slightly?

[2018-04-26 13:49] gilbertohasnofb commented on #6
@wlbragg Great, that sounds good.

I think we can try to simply tilt the compass so that it touches the glareshield/top of the panel and see how it looks. Looking at the second photograph I posted above, the compass follows the angle of the glare shield. Also from that photo we can see that the compass should be a tiny bit behind the glareshield line, not in front of it as in our aircraft (i.e. it

[2018-04-26 17:00] gilbertohasnofb commented on #6
Sure, I can work on that tonight. Could you just tell me how the compass is mapped? This is the texture:

![mag-compass](https://user-images.githubusercontent.com/5700795/39320317-9bfbc882-497b-11e8-99bb-399edd872d66.png)

Where is the body of the compass UV-mapped to?

[2018-04-26 17:31] wlbragg commented on #6
I just remapped this to make it a bit easier for you, I hope. Make sure you pull the new version.

![compass](https://user-images.githubusercontent.com/11069680/39321803-96be9e9a-494d-11e8-9df3-b7a1b97dfc8d.jpg)

[2018-04-26 17:38] wlbragg commented on #6
The texture is using a transparency for the window to the compass which I really don't like. I had problems with FG renderer mapping the transparency incorrectly. I re-saved the texture and it cleared it up. All I am saying is transparencies in FG are less than ideal. As far as I am concerned the window should probably be cut out in the model, but I really don't want to have to do that if I don't

[2018-04-26 17:56] gilbertohasnofb commented on #6
Fantastic, I will work on it later tonight.

Me neither. This is one of the legacy textures which is why it still has transparencies. There might be a couple more in the instruments... I will keep an eye if I spot another one.

Thanks a lot! I will let you know when I am ready to push, ok?

[2018-04-26 22:08] gilbertohasnofb commented on #6
@wlbragg done, please do a 'git pull' before continuing

[2018-04-27 03:51] wlbragg commented on #6
@gilbertohasnofb you either missed my comment or decided against it for some reason. I suggested you leave the interior case "black". I think it will work better for the inside of the compass to be black. The outside is a perfect shade though, just what I had in mind.
I noticed that the re-mapping I had done to the interior case was not as the image showed for some reason. Maybe I forgot to save i

[2018-04-27 09:45] gilbertohasnofb commented on #6
@wlbragg Apologies, indeed I missed that. I will fix it in a second.

[2018-04-27 09:49] gilbertohasnofb commented on #6
Done, do a pull before continuing.

[2018-04-27 19:27] wlbragg commented on #6
@gilbertohasnofb I am having a hard time deciding what to do and how to do it.
Scenario A...
Re-position objects absolutely and have to recalculate every knob, switch and movable object's center positions in order to make them work correctly. Upside, shadow needs no calculation or individual effect file and should be accurate across all objects. Downside, having to re-establish all the center posi

[2018-04-27 19:40] gilbertohasnofb commented on #6
@wlbragg Gee, that's a tough one...

Scenario A sounds more reliable and could potentially save a lot of future pain, but the amount of work sounds really scary. My fear with scenario B is that we might run into those weird things with the shadow calculations in which they should be working but in the end are not -- remember how we had to use some weird formulas to translate it some short time ago

[2018-04-27 21:16] wlbragg commented on #6
First thing I was going to attempt was to reposition the radio stack absolutely. Started with the kma20. I easily and successfully repositioned the entire unit and realized that the knob and the 9 switches now needed to have their center points remapped. So then I decided to reposition it using the X offset amount of the panel adjustment which was even easier than moving it absolutely. Then when i

[2018-04-28 02:52] wlbragg commented on #6
OK, I'll see what I can get ready by then.

After I move everything most of the knobs and switches will not rotate around their new positions correctly. So we will have to go into their XML and their blend file and find the position of the center (or rotation point) and change it in the XML for that object. If that still doesn't make sense to you I can show you by example.

[2018-04-28 18:59] wlbragg commented on #6
@gilbertohasnofb
For now I guess it is going to work best for me to go ahead and reposition the instrument and them do the rotating objects center positions at the same time. I'm already in the blend and have immediate access to the numbers.
If you can verify stuff is correct as I go I guess that'll have to do for now.
I just pushed the hobbs and kma20.
Note:
hobbs, the number dials are not includ

[2018-04-28 21:25] wlbragg commented on #6
@gilbertohasnofb
If your looking for things that can be none now. I just noticed the objects that are part of the c172p.blend/c172p.ac, such as the alt and bat rocker switches appear to need their pivot points updated. When you switch them on for example, they look like the reposition under the panel. So any movable panel object or pedestal object that is in the c172p.blend/c172p.ac file needs to

[2018-04-29 03:56] wlbragg commented on #6
@gilbertohasnofb
Pushed kr87-adf
Note:
kr87-adf the rotating knobs are not included in the shadow effect.

[2018-04-29 05:11] wlbragg commented on #6
@gilbertohasnofb
Pushed DME and ki266
Note:
DME the rotating knob and lever are not included in the shadow effect.
ki266 everything is included in the shadow effect

[2018-04-29 05:52] wlbragg commented on #6
@gilbertohasnofb
Pushed kap140 and kt76a
Note:
kap140 the rotating inner and outer knobs are not included in the shadow effect.
kt76a all dials and knobs are not included in the shadow effect

[2018-04-29 06:08] wlbragg commented on #6
@gilbertohasnofb after testing the radio stack in the sim. I tried applying the shadow to some of the rotating knobs, that definitely isn't going to work. But without the shadow effect they are a little bright I think. We should be able to tone that down some with a material animation adjustment. We'll have to work on that and see if we can't make those objects blend int the scene a little better.

[2018-04-29 15:41] dany93 opened #1070 "FDM: decrease one-wing-damage factor"
The "one-wing-damage" factor had been set (at 0.12) such as the aircraft could still be controlled with only the ailerons (without rudder correction).
Since the recent adverse yaw enhancement, this control is very difficult, almost above the full aileron efficiency.
The aircraft can be controlled without problem by using the ailerons + rudder, but it is more tricky and (IMO) the light damage on a

[2018-04-29 18:25] mathieugouin commented on #1001
@wlbragg Out of curiosity, do you have any updates on the issue? Thanks!

[2018-04-29 19:59] tonghuix opened #1072 "Trim wheel rolling too slow"
The trim wheel rolling is too slow to trim manually.

I have to take a lot of time to trim the plane. could someone make it faster?

[2018-04-29 20:08] tonghuix opened #1073 "FDM: Enhance pitch behavior when flap extended"
Quoted from 'Airplane Flying Handbook' by FAA:

Because of this, in C172 when flap just extended, the plane will nose up immediately, but will nose down soon. Pilot should push nose down and up to counteract flap effect synchronously maintaining in normal approach path.

[2018-04-29 21:22] tonghuix opened #1074 "Amphibious version is very hard to taxi"
Due to no nose gear, so the turning is only using difference break. and due to left turning tendecy, the plane is very hard to maintain in a line. and very hard to turning on ground.

[2018-04-29 21:26] tonghuix commented on #1072
@dany93 yep very accurate, but I use trim by typing NUM 7 and NUM 1. not using mouse clicking any more. The two keys just like a 'modern' electric trim.

In another word, the trim control key is slow...

So why you use AP a trim, not manual trim?

[2018-04-29 21:35] dany93 commented on #1072
I understood that you meant with the scroll wheel in the cockpit (I don't use it, not easy to reach).
I use manual trim(s). On my joystick hat.
I think that 1 and 7 on the keyboard are FlightGear coded.

[2018-04-30 00:29] wlbragg commented on #1001
@mathieugouin No, I didn't get any response from the forum or the dev mail list.

[2018-04-30 08:37] tonghuix commented on #1072
Yep, you are right, I tested c182s, the trim wheel also rolling very slow.

I think the slow rolling trim wheel is suit for 737 / A3XX, but not good for c172 / 182, it cost more time to trim the plane.

[2018-04-30 09:32] dany93 commented on #1072
The trim set code by the keyboard is in FlightGear/Data/**keyboard.xml**.
Of course, It is applied for all aircraft.

Search for the expression "elevator-trim".
- keys 49 (NUM 1) and 55 (NUM 7). The step is + / - 0.001.
I just discovered that Ctrl-1 or Ctrl-7 should give a faster change (step + / - 0.05) but for some reason they do not work (for me).
- Also, keys 362 (Home) and 363 (End) give the

[2018-04-30 15:26] dany93 commented on #1073
More complicated:
- More lift ==> nose up,
- On the rear portion of the wing ==> nose down,
- More drag + high-wings ==> nose up,
- Deflected downwash on the taii ==> nose up.

[2018-04-30 16:37] tonghuix commented on #1073
Yep more nose down, but first nose up very immediately and obviously.

[2018-04-30 16:43] #1070 closed

[2018-04-30 16:59] dany93 commented on #1073
Our C172?
I disagree.
If you stabilize it with no flaps (well trimmed, JS at neutrals, level flight with engine, or descending with engine at idle), the first thing it does at flap extension is nose down. Followed by oscillations, with lower nose attitude.

[2018-04-30 17:19] gilbertohasnofb commented on #1072
@dany93 if you decide this will be a `won't fix` then please add the `won't fix` label and close it. Else add the appropriate labels that you think fit here, perhaps `animation (xml)`

[2018-04-30 17:26] dany93 commented on #1073
My test above was done with a small change on the FDM (a version in test that you don't have).
With the current master version, I observe a very small hesitation, with a _tiny_ nose upwards, followed by the frank stabilization towards nose down.

Which shows how much this is complicated...

[2018-04-30 17:27] tonghuix commented on #1073
NO NO NO NO, please reference this video
https://www.youtube.com/watch?v=pRZjr_e5MuY

[2018-04-30 17:30] dany93 commented on #1073
OK for the video.

[2018-04-30 17:37] tonghuix commented on #1073
This video will demonstrate a whole normal landing (I believe it is a C172R with G1000) https://www.youtube.com/watch?v=E7-rqMLasWE&t=42s

[2018-04-30 17:38] gilbertohasnofb commented on #6
@wlbragg Hi there, I am finally back from the conference. Apologies for the radio silence, I just took my phone with me and nothing else this time, the schedule was packed.

Sounds good. I've tested everything you pushed so far and it all looks nearly perfect. I just found a couple of issues:
* autopilot buttons are not animated when you click on them. Was this the case before? If so, I will open

[2018-04-30 17:40] gilbertohasnofb opened #1075 "Control lock floating when yoke is hidden"
Clicking on the control lock from the pocket on the left side of the pilot's seat when the yoke is hidden causes the lock to be floating in the air. The control lock should be hidden from the pocket when the yoke is hidden and vice-versa.

[2018-04-30 17:40] #1072 closed

[2018-04-30 17:44] gilbertohasnofb opened #1076 "Improve DME clickspots"
Improve DME clickspots. See image below:

![image](https://user-images.githubusercontent.com/5700795/39441559-41f99a3e-4ca6-11e8-83d4-1aa03e91db02.png)

The DME ON/OFF should be mapped to the toggle itself (green arrow) and not to the ON/OFF labels (green rectangles). Also, the DME mode is already mapped to the button in the display (red arrow) so the clickspots at the KTS and MIN labels (red squa

[2018-04-30 17:47] gilbertohasnofb opened #1077 "Improve animation of the rotary knobs for COM and NAV radios"
Improve animation of the rotary knobs for COM and NAV radios, in particular the ones that control the decimal values. These knobs should be infinite rotary knobs and their physical position does not need to match the value on the display. Currently if you rotate them a bit they will 'flip' back to an arbitrary initial position (look at the texture on its face while rotating to see the bug).

[2018-04-30 19:11] wlbragg commented on #1075
@gilbertohasnofb that would be part of the repositioning and something I overlooked. In the future you may want to just drop a note in the "panel to low" thread about any repositioning issues.You can do it this way (as a new issue) as well, but it does fit with the repositioning stuff. Don't fell like you have to create a new issue if it is connected.

[2018-04-30 19:25] gilbertohasnofb commented on #1075
I normally do that, I just opened a new issue because I thought this was a bug present prior to that work. This is not about the position, this is about the control lock floating though. So unless there were modifications to the control lock logic then this bug was present before.

[2018-04-30 19:25] wlbragg commented on #6
I think those are the

look in Models/c172p.xml they all have an X position that should be shifted uo, again by the 0.03288 offset I moved the panel up by.
Test one first before committing to changing them all.

[2018-04-30 19:27] gilbertohasnofb commented on #6
Test one first before committing to changing them all.

I understand now, that's easy enough. I will tackle those switches later tonight then. Thanks for the explanations and apologies for my slow brain! 😄

[2018-04-30 19:40] tonghuix commented on #1060
@gilbertohasnofb Yep, I am appreciate the 3D model and your works !

And, I also photo a C172R exterior during the airshow for reference. I may upload in some way.

[2018-04-30 21:59] wlbragg commented on #6
@gilbertohasnofb
In the posts above I referenced changing the X position by adding the offset to it. I meant the Z position. I edited those posts to reflect the accurate information as well as posting this notice.
So it would be add 0.03288 to the Z position of any related objects.

[2018-05-01 13:00] dany93 commented on #1073
The `<value>0.7` common factor is here on purpose, rather than changing every value in the table.
The pitching effect is sensitive to several parameters:
- airspeed,
- loading (e.g. copilot),
- FDM parameters.

Thus, to make adjustments easier, this common factor.
It may disappear in the future after stabilization (although I feel it  doesn't matter).

We currently have a single video as a referen

[2018-05-01 13:26] wlbragg commented on #1073
@dany93 a quick search actually tends to partially verify this and the reasons why.
http://www.askacfi.com/7370/why-does-a-nose-down-pitch-change-result-from-the-extension-of-flaps.htm
Search params "cessna pitch change do to flaps"

[2018-05-01 21:48] gilbertohasnofb commented on #6
@wlbragg Hmm, I added 0.03288 to the z coordinate of the light switches but they look a bit wonky. The masters look better, but still look a bit off. Do I need to update any other value besides the z value in `<center>`?

[2018-05-01 21:53] gilbertohasnofb commented on #6
@wlbragg could you please double check if the value `0.03288` is correct?

[2018-05-02 00:41] wlbragg commented on #6
Yes, that was the correct value, How far off are they? I just measured the difference between fgdata and issue-6 and it came to 0.03278.
Please try 0.03278 and see if that corrects it for you, although I tried both and cold not notice a difference. They both appeared to work on the GenSwitch.

For reference the exact value of the center position of the GenSwitch object in the issue-6 blend is -0.2

[2018-05-02 00:46] wlbragg commented on #6
FYI: the text label offset for the mag-compass will be more than the 0.03288 as the glare shield was adjusted more than the panel.

[2018-05-02 15:53] onox commented on #958
@wlbragg @gilbertohasnofb @stuartbuchanan When is 2018.2 going to be released? In May?

[2018-05-02 16:02] onox commented on #958
@c172p-team/developers I've created some 2018.2 milestones. These are for issues that have been fixed. When creating new issues, please connect them to the "Future"/"3D modeling" milestones.

[2018-05-02 16:13] gilbertohasnofb commented on #958
@onox According to the wiki:

But I am not sure they are on schedule or not.

[2018-05-02 16:17] onox commented on #958
Yeah that's what I thought by looking at the deadlines of some previous milestones. I've set the deadlines for the 2018.2 milestones to the 13th of May (Sunday).

[2018-05-02 16:31] onox commented on #1052
@AmaluSusan Do you still want to work on this? You could fix it in the animation files in `Models/` or you can use some `<logic>` elements in `Systems/instruments.xml`. In that case you use 2 `<logic>` elements (1 to turn on the battery when the alternator is on, and 1 to turn off the alternator when the battery is off). I prefer this approach over fixing it in the animations because there might b

[2018-05-02 16:36] onox commented on #1001
@mathieugouin Can you remove/clean any testing code you still have and just accept that pushing/pulling the knob doesn't refresh the tooltip? Then you can create a PR and we create a new issue for dealing with the pushing/pulling in the future.

[2018-05-02 16:45] gilbertohasnofb commented on #6
`0.03278` still looks wrong, try this to see it:

http://s000.tinyupload.com/?file_id=49464869519056770421

[2018-05-02 18:50] wlbragg commented on #6
Can you describe what it is your seeing and not thinking is right, or maybe a picture comparison?
I am not seeing anything I would consider wrong except the shadow on the switch when switched from of to on, the switch goes from shadowed to brightly lit which looks really bad.

[2018-05-02 19:44] gilbertohasnofb commented on #6
When flicking the switches, they move up and down a tiny but visible bit. The masters look fine, but all light switches are not properly centered. Could you confirm you can reproduce this using this xml I sent you?

Get better soon and no worries! I have been also quite away lately, I had so many deadlines to tackle and then this conference last the weekend.

[2018-05-02 20:46] wlbragg commented on #6
OK, yes I verify on the white switches, but not on the red Alt and Bat switches.
I have no explanation for why this wouldn't be consistent but I measured the center point of the PitotHeatSwitch and the new settings should be
[code]
Even the x is slightly different.

After further investigation here are the facts.
In fgdata c172p.xml the setting for PitotHeatSwitch is
[code]
In the c172p.ac or blen

[2018-05-02 23:33] wlbragg commented on #1075
Fixed in PR #1066

[2018-05-02 23:38] wlbragg commented on #6
@gilbertohasnofb
Pushed absolute repositioning of breakers, mag-switch, control-lock, amphibious gear
Note:
breakers the AvionicsSwitch is not included in the shadow effect.
magnito-switch the key is not included in the shadow effect.
amphibious gear control panel the gear up/down knob is not included in the shadow effect.

[2018-05-02 23:44] wlbragg commented on #6
Yes, I believe these were never animated, please open a new issue.

[2018-05-03 02:37] wlbragg commented on #6
@gilbertohasnofb
Pushed absolute repositioning of immat, flaps lever and light control
Note:
immat everything is included in the shadow effect.
flaps the lever and indicator are not included in the shadow effect.
light control nothing is included in the shadow effect.

[2018-05-03 03:47] wlbragg commented on #6
@gilbertohasnofb
Pushed absolute repositioning of AI, Alt, ASI, clock and battery gauge
Note:
Only faces and non-rotating objects have shadow effect applied.

[2018-05-03 16:45] wlbragg commented on #6
@gilbertohasnofb
Pushed absolute repositioning of AI, Alt, ASI, clock and battery gauge
Note:
Everything except the airplane object have shadow effect applied. The ball required shadow effect in order to match the "face" lighting conditions. In this instance I think the aircraft object could potentially have the shadow effect applied because of it's limited rotation. I didn't do that however for c

[2018-05-03 17:57] wlbragg commented on #6
@gilbertohasnofb
Pushed absolute repositioning of egt, fuel, oil, rpm, vsi, hi and vac.
Adjusted center of trim wheel and trim pointer.

[2018-05-03 18:25] wlbragg commented on #6
@gilbertohasnofb
Pushed absolute repositioning of vor1 and vor2,
Ring, knobs(disks) and needles not part of shadow effect.

[2018-05-04 04:36] wlbragg commented on #6
@gilbertohasnofb
I went ahead and did the OSG text labels for the ctrl+c descriptions. Everything that was already there is still there. I removed one that came with the amphibious gear that was incorrect. Moved the comm1 and 2 from the instrument xml file to the c172p.xml text list where the rest of them are
While doing all this I notice there are several missing if someone wants to open a new is

[2018-05-04 13:56] wlbragg commented on #6
Issues:
kr87-adf and ki266 appear to have power regardless of master switch settings.

[2018-05-04 14:30] gilbertohasnofb opened #1079 "autopilot buttons are not animated when you click on them"
The autopilot buttons are not animated when you click on them. They should quickly be toggled, just like the rest of the radio stack buttons.

[2018-05-04 14:33] wlbragg commented on #6
@gilbertohasnofb If you want to concentrate on testing and critiquing all the modifications. I'll finish the animations on the lower panel. I can blow through it pretty fast at this point. I didn't want to start on it until I heard from you so as not to duplicate.

[2018-05-04 14:47] gilbertohasnofb commented on #6
@wlbragg A couple of issues that I found:

1) The switches are still having problems when pressed, look this OFF/ON comparison

![fg-0](https://user-images.githubusercontent.com/5700795/39634221-1f85fc18-4fb2-11e8-846d-766e4f3e8034.jpg)

2) same for their Ctrl+C yellow contours

![fg-3](https://user-images.githubusercontent.com/5700795/39634225-2023a3d2-4fb2-11e8-940e-86a69198550a.jpg)

3) The fue

[2018-05-04 14:49] gilbertohasnofb commented on #6
Sounds good. And apologies again for the slow replies, I started having more and more commitments due to my PhD studies and I got a bunch of deadlines all in a same period

[2018-05-04 14:57] gilbertohasnofb commented on #6
@wlbragg about the knobs being short again, this is what I once merged from @legoboyvdlp 's work:

![](https://user-images.githubusercontent.com/10434911/36528971-cce0b1a0-17ae-11e8-9853-6da586b95560.png)

From: https://github.com/c172p-team/c172p-detailed/pull/977

It looks to me his enhancements got lost somewhere in the way (possibly someone merged back a PR that reverted those changes). How ca

[2018-05-04 14:58] gilbertohasnofb commented on #1035
People, nobody in the dev list it seem to know how to proceed. I wrote a personal email to  Torsten D a couple of days ago but I haven't heard back from him. Any ideas what to do, who to contact?

[2018-05-04 15:17] tonghuix commented on #6
Try git cherry-pick?

[2018-05-04 15:25] gilbertohasnofb commented on #1035
Ok, let's wait then. I am just afraid this will be forgotten...

[2018-05-04 15:27] wlbragg commented on #6
@gilbertohasnofb it looks like he did some of then only in the ac and there was a lot of objects that didn't have any blends (they do now however). But I imported the existing .ac that didn't have a blend. Problem is I imported them while in the issue-6 branch. Was that branch behind @legoboyvdlp work?

[2018-05-04 15:31] gilbertohasnofb commented on #6
Possibly. Would it be too much trouble to re-import what lego did? I don't think anyone made any more modifications to these instruments since then so lego's should be the most recent

[2018-05-04 15:33] wlbragg commented on #6
@gilbertohasnofb As soon as I finish the last of the repositioning and centers points, I'll go through a branch that has @legoboyvdlp  work and make sure it is all included here, one way or another, even if I do it by hand. It's not so much as to prohibit me from getting it done. I don't know the ramifications of trying to do this in git exclusively, especially after repositioning everything.

[2018-05-04 15:35] wlbragg commented on #6
That is kind of what i am thinking, even if I do it by copying stuff by hand over to the new blends and ac's.

[2018-05-04 15:37] wlbragg commented on #1035
If we don't hear back in a few "more" days, we can both inquire on the dev list again.

[2018-05-04 15:38] gilbertohasnofb commented on #6
Agreed!

[2018-05-04 15:48] wlbragg commented on #6
No worries, I have three kids in the same boat. Well, actually only one that is doing his thesis for his "Masters" right now. But it is finals week for them all.
Something to be proud of for sure, I have mad respect for you!

[2018-05-04 15:50] legoboyvdlp commented on #1035
Torsten usually takes a few days, but he does answer usually ;)

[2018-05-04 18:08] wlbragg commented on #6
@gilbertohasnofb Master and issue-6 branch knob lengths appear to match, I think maybe you are mistaken about what happened? Or you have a corrupt branch?
Here is how the current knobs look.

[2018-05-04 18:34] wlbragg commented on #6
Yes, I'll just extend it myself.

They look to be the same in both cases, I think your noticing it because in your image they are bright and easy to see. They look to be 6 sided in both PR's. I can replace these with another instruments knobs so they match? Do you have a preference which knob to copy?

[2018-05-04 19:17] gilbertohasnofb commented on #6
@wlbragg Just tested your new commit, all looks good. So what is missing besides the lights and master toggles? Looks like we are nearing phase 2 :smile:

[2018-05-04 22:37] wlbragg commented on #6
@gilbertohasnofb yeah, all that is left is the switches and then we're ready to start the next phase. I should have the last of the switches done tonight.

[2018-05-05 03:55] wlbragg commented on #6
@gilbertohasnofb the switches are finished. We should be ready to move to next phase.

[2018-05-05 18:15] gilbertohasnofb commented on #16
@wlbragg can we close this or is this still relevant?

[2018-05-05 18:16] gilbertohasnofb commented on #17
@wlbragg in that case would you like to close this?

[2018-05-05 18:17] gilbertohasnofb commented on #6
Confirmed, everything looks good. @wlbragg thank you so much for this work, the panel is looking stunning already! Feels like a different aircraft.

So there are two possible stages that we could still tackle in this same PR:
1) would be to attempt to make the fuselage thinner. The question is whether that is worth the trouble or not, now that the main cockpit view looks better. Is the pain to gai

[2018-05-05 18:40] wlbragg commented on #790
@gilbertohasnofb
Yes

[2018-05-05 18:44] wlbragg commented on #446
@gilbertohasnofb
This one appears to me a mix of issues, which we did fix a part of. However it looks like there are other concepts we didn't touch. I think I would leave this intact for now.

[2018-05-05 18:46] gilbertohasnofb commented on #446
@wlbragg Sure we can leave it opened, but I personally dislike very much these huge issues touching too many problems. Perhaps we could consider closing this and opening new ones for whatever concrete things are still left to be done.

[2018-05-05 18:53] wlbragg commented on #17
@gilbertohasnofb Yes and no. As far as I am concerned the special plug-in needed in the past has been overridden by massive changes in almost ever aspect of the models in this project. Some of the last ones I just encountered in the instrument repositioning work. However the part about documenting any nuances with the blends and ac's couldn't hurt. I will go on the record and say that we should in

[2018-05-05 18:55] wlbragg commented on #16
@gilbertohasnofb
I think we can close this.

[2018-05-05 18:58] #16 closed

[2018-05-05 19:08] wlbragg commented on #6
@gilbertohasnofb two more fixes needed because of the glare shield re-positioning. The float bracing needed to be re-positioned. That lead to a fix of a really ugly prior fix we did in the past. The interior cabin shell does not fit correctly with the wing structure. It never did. The windshield and wing thickening work also required a new panel installed to cover up some ugliness at the connectio

[2018-05-05 19:27] onox commented on #16
This is a "won't fix"?

[2018-05-05 19:50] gilbertohasnofb commented on #6
@wlbragg I am not sure I understood what you changed but all looks good for me, so we can move on. But before we continue with those opened issues and improving those things, could you consider taking a look at these three bugs I just found?

![fg-0](https://user-images.githubusercontent.com/5700795/39667048-b364af26-50a5-11e8-8de2-b5f8df706f9f.jpg)
![fg-1](https://user-images.githubusercontent.co

[2018-05-05 20:35] wlbragg commented on #6
@gilbertohasnofb
All three hould be fixed.

[2018-05-05 20:49] gilbertohasnofb commented on #6
Yes they are. But I did find another two small ones.

![fg-0](https://user-images.githubusercontent.com/5700795/39667434-0f80605e-50ae-11e8-8173-a3b37f0c672b.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/39667435-0f9da4d4-50ae-11e8-89e2-fb0688150911.jpg)

[2018-05-05 20:49] gilbertohasnofb commented on #6
Sorry, forgot to explain. On picture 1 you can see that the glareshield has a point which is quite low and gives it a weird shape. Pic 2 shows a hole on that place.

[2018-05-06 01:12] tonghuix commented on #6
@gilbertohasnofb it is by design, in real world the c172p's glareshield is not a flat, but indeed right part is lower than left.
![](http://imgproc.airliners.net/photos/airliners/3/3/0/2558033.jpg?v=v40)
![](http://imgproc.airliners.net/photos/airliners/2/4/9/2532942.jpg?v=v40)
![](http://imgproc.airliners.net/photos/airliners/9/6/6/2440669.jpg?v=v40)
![](http://imgproc.airliners.net/photos/airlin

[2018-05-06 01:25] gilbertohasnofb commented on #6
@tonghuix I am talking about a single edge in the mesh, not the step in the glareshield. But perhaps @wlbragg would like to take a look at these photos you posted above and see if there is some room for improvements in the glareshield.

[2018-05-06 04:16] tonghuix opened #1080 "Improve connection between wing and pillar"
See picture here:
![_c203651 resized rotated](https://user-images.githubusercontent.com/423703/39669750-728980ee-5127-11e8-8f7f-0a4f25d2f047.JPG)

1. The connection between wing and pillar should more smooth. I think it is now missing something.

2. Add a L-shaped pipe, I assuming it is used for airflow intake to fuel tank.

3. Ring for tie-down should be a circle shape

![_c203653 resized](https:

[2018-05-06 05:05] wlbragg commented on #6
@gilbertohasnofb I completely retopologize the cabin floor. It was a mess. It consisted of two disjointed layers that were completely unnecessary. As far as the area where the glare shield meets the panel face, as mentioned elsewhere in other issues, the entire aircraft could stand to be retopologize which is of course out of our scope.So I tried to clean up the area of the panel and glare shield

[2018-05-06 05:46] wlbragg commented on #6
Hum, I have no idea how it got moved but the exhaust pipe was out of position so I had to move it.The window frames lost their material mapping as well so I fixed it too.

[2018-05-06 11:40] gilbertohasnofb commented on #6
@wlbragg The floor and the glareshield are looking good so let's move on.

Agreed, let's keep things realistic. Same thing for the fuselage thickness, let's live with what we have. For me the main issue is the cockpit view, which is what people spend 99% of their time looking at. If that is looking good then all else is secondary.

I hope I am not offending whoever did the original work as I am su

[2018-05-06 11:46] gilbertohasnofb commented on #1080
@tonghuix I can confirm that the model P also has a smoother connector to the wing in all my reference photos. Concerning the L-shaped pipe, could you try to find out if this is present on both wings? Your images above clearly show it's on the left wing, but is there one on the right as well?

[2018-05-06 11:55] gilbertohasnofb commented on #6
A couple of other things:

1) the float variant bars need to be repositioned as well, can't forget that
2) there should be some kind of exhaust on top of the glareshield, see image below. Given how the texture is mapped, it's impossible for me to do this texture wise. So would you be willing to create an extremely shallow cuboid on top of the glareshield and apply some new texture I would come up

[2018-05-06 12:54] legoboyvdlp opened #1081 "Cowling should protrude around the edges"
I apologize for bringing up an exterior issue, but I think it would be nice to make the cowling look like a piece of metal kind of above the rest of the fuselage. The cowling is probably about 3-4mm out from the rest of the fuselage as seen in the images in #1080. I am not explaining this well, but I'll make a diagram some time showing what I mean.

[2018-05-06 12:54] legoboyvdlp commented on #1081
https://user-images.githubusercontent.com/423703/39669762-da5a86dc-5127-11e8-9060-cb732f8e83f7.JPG

[2018-05-06 12:56] legoboyvdlp commented on #1081
The cowling has two parts, an upper and lower parts as seen in that photo. You can see that the metal is set out a bit from the rest of the fuselage.

[2018-05-06 16:44] tonghuix commented on #1080
This L-shaped pipe called '*overflow vent line*', here is more explanation https://aviation.stackexchange.com/questions/5159/what-could-cause-uneven-fuel-levels-in-a-cessna-172

Here a picture from POH:
![11](https://user-images.githubusercontent.com/423703/39675586-bd690a7c-518f-11e8-9abe-e673ffdfe954.png)

[2018-05-06 16:48] gilbertohasnofb commented on #1080
@tonghuix thanks but can you help us figure out if it is located on both wings or just the left one? All pictures I've seen, including in the link you gave above, are from the left wing.

[2018-05-06 16:49] tonghuix commented on #1080
@gilbertohasnofb Left only!!

[2018-05-06 16:51] gilbertohasnofb commented on #1080
Great, thanks!

[2018-05-06 18:02] wlbragg commented on #6
I thought I lost my computer this morning. It was frozen and dead in the water on reboot.Looks like on of my 4gig memory sticks died. Funny thing is it is running way faster without the stick than before so I am assuming it was bad from the beginning.

I guess it was really only this one. I think you were going for "worn out" metal? I thought it was causing a hindrance when mapping it into the whi

[2018-05-06 19:08] wlbragg commented on #6
After messing with this for awhile I have come to the conclusion it has to be done in the texture. Black is black. We need to do the same thing that is done to the yokes.
See below...
![yoke](https://user-images.githubusercontent.com/11069680/39676847-dc52a140-5136-11e8-81b0-063787529710.jpg)

Below is the current mapping of the glare shield.
![glarshield](https://user-images.githubusercontent.com

[2018-05-06 19:13] wlbragg commented on #6
Notice we do get glare when it is actually in the sun.
![glare](https://user-images.githubusercontent.com/11069680/39676890-9651f17c-5137-11e8-8080-a9fd32646872.jpg)

[2018-05-06 19:18] wlbragg commented on #1081
The issue with these types of changes is that it affects the UV mapping and thus is really difficult to achieve. These type of structural modifications should be done prior to the initial UV mapping. However it is good to note it here as someday we hope to have a modeler come along and model us a new aircraft.
I'll at least take a look at the feasibility, but I wouldn't hold your breath. :smile:

[2018-05-06 19:52] tonghuix commented on #1081
I don't think it is such difficult, but may only bigger 2~4 mm is okay. and may not effect UV mapping such obvious.

[2018-05-06 22:25] wlbragg commented on #6
@gilbertohasnofb
Here is the mapping of the vent.
![vent](https://user-images.githubusercontent.com/11069680/39678436-7d0ed6a6-5152-11e8-9c9c-22e4eff9f091.jpg)

[2018-05-06 22:28] wlbragg commented on #6
And the panel above the radio stack.
![dash](https://user-images.githubusercontent.com/11069680/39678462-f2810a26-5152-11e8-961e-8739745b6b28.jpg)

[2018-05-07 00:05] gilbertohasnofb commented on #6
Ok, so I just pushed some modifications:

* black panels (4X-CHV, OH-CTL and N73429) are a bit lighter
* all glareshields are a bit lighter
* all radio stack backgrounds are black
* added glareshield vent texture to `panel_parts.png`

![image](https://user-images.githubusercontent.com/5700795/39679106-81407aa2-5190-11e8-9a1d-cd1af51e1c74.png)

[2018-05-07 00:17] gilbertohasnofb commented on #6
BTW, I'm still not completely happy with the glareshield texture and lack of reflections, but it is unfortunately way too low-res for me to do anything about it.

And I forgot to show you the new radio stack texture. Use the top part to cover that bit that was bothering us:

![image](https://user-images.githubusercontent.com/5700795/39679361-5a38ffca-5194-11e8-865d-057cddbcbdfa.png)

[2018-05-07 00:58] mathieugouin commented on #1001
Sure.  PR open.  Let me know...

[2018-05-07 01:16] tonghuix commented on #6
@wlbragg the ring and fuel tank overflow vent are awesome! But the ring I think is too big, it is may only ~30mm diameterm same as Pitot tube.

[2018-05-07 01:17] mathieugouin opened #1083 "Coding style guidelines minor issue"
The 'find' command to find tabs has a small typo that prevents it to be run as-is.

I'll submit a PR for this one.

[2018-05-07 03:32] wlbragg commented on #6
Much better, reduced the eye bolt size and fixed the texture. Mapped the vent and the new radio stack background texture. Looks great!

[2018-05-07 04:33] wlbragg commented on #1081
@tonghuix can you find me a good image of the cowling from the front underside view? I need to see the area around the radiator.

[2018-05-07 11:18] gilbertohasnofb commented on #6
@wlbragg oh yeah, that does look pretty good! Is there anything else that needs improvement regarding textures?

And what now, is there still something to be done or should we move to tackling that list of interior issues?

[2018-05-07 11:31] gilbertohasnofb commented on #1081
Here are some more shots that might be helpful:

![_dsc7991](https://user-images.githubusercontent.com/5700795/39699617-e1d13f4e-51f1-11e8-8318-33dc939fcc90.jpg)

![_dsc8029](https://user-images.githubusercontent.com/5700795/39699618-e1ef15dc-51f1-11e8-8bf4-4bfa57ccc696.jpg)

![](http://sky4buy.com/img/1964-Cessna-150-D-271840697267/8.jpg)

![](http://imgproc.airliners.net/photos/airliners/3/4/1/4

[2018-05-07 13:07] dany93 commented on #1081
That's very common.
Two pieces of steel sheet, one above, one underneath, held with screws all along the edges. Covering the main part (rear, cockpit side) on 2 or 3 cm. hence the extra thickness.
The upper one must be easy to take down for almost daily checks.

But if it is too difficult when compared with the importance (e.g. if it needs to redo the UV mapping) wouldn't a texture along the edge

[2018-05-07 13:39] gilbertohasnofb commented on #1081
That's an option and I could give it a try if @wlbragg thinks that the 3D route isn't a good one. The problem is how the nose is UV-mapped: each side and the top nose are different parts so connecting a line between them is extremely time consuming and often I was not able to perfectly get things straight between them (e.g. when a livery would call for a lot of details in that area).

[2018-05-07 14:12] wlbragg commented on #6
@gilbertohasnofb look at the location of the cross bars VS ours, they are before the compass.

[2018-05-07 16:07] #1083 closed

[2018-05-07 16:44] wlbragg commented on #6
@gilbertohasnofb I cut the cowling sections. You think you could create the outline or seams in the normal map to enhance them? The seam between the top and bottom especially, as the only way to make that seam stand out was to enlarge either the top or bottom cowling. I enlarged the top which allows you to see the seam more from the bottom looking up. If I did it the other way around then you coul

[2018-05-07 16:58] onox commented on #6
Has the panel been moved upward sufficiently? I see the top of the fuel level instrument (on the left of the TC) is aligned with the window/fuselage, but in the photo's it looks like the bottom of the fuel level instrument is aligned.

[2018-05-07 16:58] wlbragg commented on #6
Yes I am ready to move on. I'd kind of like to merge what we have and start a new PR so I can have all the changes that have been mad to date to work from. Also would rather this PR not get any bigger.

[2018-05-07 17:02] wlbragg commented on #6
@onox

Your too late, I wish you would have noticed and spoke up sooner. We can't do all this over again, way too much work.

[2018-05-07 17:14] wlbragg commented on #1081
I pushed a 3d option. I check some of the more complicated liveries and I think they look great. I hope everyone agrees. It required more than you can visually see. In order to keep visual artifacts like seeing through seams, because we have a one-sided fuselage mesh, on the interior engine compartment the cowling's have 90 degree angled mesh  edges on the interior. This allowed for the increase i

[2018-05-07 17:36] wlbragg commented on #1035
@gilbertohasnofb  I'm seeing Torsten on the dev list talking about next release, any PM word back yet?

[2018-05-07 17:37] gilbertohasnofb commented on #6
Agreed. Let's just discuss some last things here concerning things we have already been dealing with and then we deal with those internal 3D issues in a new PR.

First, we are listing #1080 as being partially fix. For the sake of consistency, wouldn't you want to consider doing the wing strut connectors in this same PR here so that we can properly close that? It would be weird to have a single iss

[2018-05-07 17:39] gilbertohasnofb commented on #6
@wlbragg Look at the photos in this comment I posted https://github.com/c172p-team/c172p-detailed/issues/1081#issuecomment-387037065 to see how the front part of the cowling has the exact same height as the nose bit just before the spinner.

[2018-05-07 17:41] gilbertohasnofb commented on #1035
Not yet :cry: I'm assuming he is quite busy with the current release so I will wait a couple more days before writing him again.

[2018-05-07 17:43] gilbertohasnofb commented on #6
And just two thing I forgot to write: your solution with the compass and the float bars is wonderful, and the cowling looks _really_ good as well, I am very happy with these! :smile:

[2018-05-07 18:06] wlbragg commented on #6
It looks to me like the gauges need to move up slightly instead?

Yes, but only because of your sweet-talking. I was considering not doing it at all but I'll see if I can. It's not going to be the easiest thing to do and it will also cause the eye-bolts to require repositioning again.

Done, but I don't dare adjust anymore. This is a very sensitive area to move,even slightly.

I'm not sure exactly

[2018-05-07 18:06] gilbertohasnofb commented on #1081
@wlbragg One more good reference just in case:

![](https://i.ytimg.com/vi/gxQNnTxKYZM/maxresdefault.jpg)

[2018-05-07 18:37] gilbertohasnofb commented on #6
Yes, my mistake.

Hehe. You could consider simply duplicating the connector between the strut and the fuselage and flipping it in the correct position. It looks fairly similar so that might do the trick.

I don't understand what you mean by done, I don't see any new commits. Maybe we are misunderstanding each other. So let me try with a diagram. This is the side view of the nose section of the fus

[2018-05-07 18:59] wlbragg commented on #6
Sorry hadn't pushed it yet, it's pushed now along with the fuel and oil gauge adjustments and the darker mapping of the cowling overlap.

All that is left is the wing strut connectors.

Dammit, I thought you were wanting the opposite, I thought you wanted more of an offset. It there is no offset you won't see the cowling as being a separate piece?

[2018-05-07 19:03] wlbragg commented on #6
Here is my confusion...

Making me thing the front should also be more offset?

Then you say...

Which is the exact opposite of making the offset in front the same as the back.

So I guess I still need some clarification here. I understand what your telling me in the images immediately above but I am not convinced that is what we want?

[2018-05-07 19:10] legoboyvdlp commented on #1081
Excellent! Thank you :)

[2018-05-07 19:18] legoboyvdlp commented on #6
(Just one comment, I think this is a bit thick here:
![image](https://user-images.githubusercontent.com/10434911/39720289-c320f75a-5233-11e8-9928-357948576208.png)

[2018-05-07 19:20] gilbertohasnofb commented on #6
They are not the opposite, they say the same thing to my mind. I am sorry but it might be due to the way I am expressing myself, these things are difficult to put in words. Let's try with another illustration. Suppose this is the current cowling:

![image](https://user-images.githubusercontent.com/5700795/39720322-e846c6c2-5233-11e8-8cde-7da15215d1b8.png)

I am suggesting selecting those green poi

[2018-05-07 19:25] gilbertohasnofb commented on #6
In other words, we want this difference of height here to disappear completely, i.e. for both objects to merge without any difference:

![image](https://user-images.githubusercontent.com/5700795/39720569-b44767b8-5234-11e8-8da0-9669935d1f96.png)

By the way, I just checked your last commit. The gauges look good and mapping those cowling edges to a darker texture look much better. But on both sides

[2018-05-07 20:13] gilbertohasnofb opened #1085 "Some liveries are missing the registration under the wing(s)"
Some liveries are missing the registration under the wing(s), in particularly the HD ones.

[2018-05-07 20:31] #1085 closed

[2018-05-07 20:36] onox commented on #1079
@gilbertohasnofb I've changed the milestone, if it gets closed in time, then the milestone will be changed back.

[2018-05-07 20:40] wlbragg commented on #6
@gilbertohasnofb I think this is what you were wanting
Wing strut connection still to do.

[2018-05-07 21:10] gilbertohasnofb commented on #6
Looks perfect now!! Thanks a lot!

[2018-05-07 21:10] gilbertohasnofb commented on #1079
@onox yes, that was my mistake. Thanks for spotting it.

[2018-05-07 22:01] wlbragg commented on #798
@gilbertohasnofb yes, we can give it a shot.

[2018-05-07 22:02] gilbertohasnofb commented on #798
Great. No rush, let's finish that PR first then we move on to these other interior issues.

[2018-05-07 22:06] wlbragg commented on #1079
I went ahead and took care of this. The simplest way to deal with this because of the complexity of the switches was to make each switch a simple two way toggle switch. So every press does exactly what it did before code wise and the animation simply shows the switch click in and click out.

[2018-05-07 22:51] wlbragg commented on #6
@gilbertohasnofb Wing strut connection is done. That's about the best I can do without taking a ton of time to create something new. I'm still lacking the skill to easily make those from scratch.

[2018-05-07 23:02] gilbertohasnofb commented on #6
@wlbragg Very nice, that's really not bad at all! Is there still anything left or can I merge that PR? Then we move to those next issues.

[2018-05-07 23:03] gilbertohasnofb commented on #6
I am loving the new look of the aircraft, you are doing quite a work here, @wlbragg. You have no idea how much I had been waiting for these improvements, in particular the cockpit ones. Bravo :clap:

[2018-05-07 23:15] wlbragg commented on #6
I'm OK with merging this and starting the next round.

[2018-05-07 23:17] #6 closed

[2018-05-07 23:17] #790 closed

[2018-05-07 23:17] #1075 closed

[2018-05-07 23:17] #1079 closed

[2018-05-07 23:17] #1081 closed

[2018-05-07 23:41] tonghuix commented on #1080
Hi I don't think this fixes very well. Please reopen it.

Marker 1 should as smooth as marker 2:

![fgfs-screen-515](https://user-images.githubusercontent.com/423703/39730256-269303f0-5293-11e8-940b-6bfcb85e83f3.png)

Inner view,  please compare with photo.

![fgfs-screen-516](https://user-images.githubusercontent.com/423703/39730272-428ae230-5293-11e8-9c17-d1eb07ac01d5.png)

[2018-05-08 00:54] wlbragg commented on #1080
@tonghuix I'm afraid your going to have to explain this better as to what you think is wrong.Is it the new portion (top piece) that you think is not as smooth as the old portion (bottom piece)?

[2018-05-08 03:19] tonghuix opened #1087 "Trim indicator is incorrect"
When the trim at 0.0 the point to the bottom, and when trim to 1.0, it now point to "take off " position.

Before 0.0 is point at "take off" position.

![fgfs-screen-524](https://user-images.githubusercontent.com/423703/39736222-a54b1e26-52b1-11e8-914e-24c54df64be0.png)
![fgfs-screen-523](https://user-images.githubusercontent.com/423703/39736223-a580cc38-52b1-11e8-8d6b-a539bee07f51.png)

[2018-05-08 06:38] wlbragg commented on #1080
@tonghuix that doesn't look correct. The top picture shows the smoothness setting is too high. The bottom picture I can tell you extended it farther down the strut (which looks more like the image you provided) but now it partially covers the eye bolt. It also looks like the two halves settings don't match. I'm not sure how you put that together or where you "cut" from, but you can't just cut and

[2018-05-08 06:48] wlbragg commented on #1080
@tonghuix If I am looking at your work objectively, the outside (bottom image) is closer to matching the real images per what you pasted. But the inside (top image) is not any different that what I did, only the setting is too smooth. That is what I meant by the two halves don't match.

[2018-05-08 07:34] tonghuix commented on #1080
Yep, that is correct, I just copy and paste 2 to 1:

![fgfs-screen-515](https://user-images.githubusercontent.com/423703/39743973-4175ca26-52d5-11e8-8f8d-f9fa5cba07cd.png)

[2018-05-08 08:00] okroth commented on #1068
Read here: https://www.mcfarlaneaviation.com/media/documents/torque-link-kit-eligibility.pdf, fifth page (numbered 120)

[2018-05-08 09:27] gilbertohasnofb commented on #1087
@wlbragg I think we possibly forgot to lift this piece together with the rest of the panel, right?

[2018-05-08 09:29] gilbertohasnofb commented on #1080
@tonghuix why is the wing connector that you created in Blender looking very metallic in your pictures? Shouldn't it match the rest of the wing in colour and reflection?

[2018-05-08 10:57] tonghuix commented on #1087
I just fix it~

[2018-05-08 10:58] tonghuix commented on #1080
I don't know, maybe the UV problem? I don't know how to deal with UV, so please help me for that.

[2018-05-08 13:18] tonghuix opened #1089 "main wheels struts should be moved downwards"
I try to lower them, but it cause the wheel sink into earth and wheels rolling axis not changed.

So I think it should be more work to do to fix this major issue.

Ref picture:

![4681705](https://user-images.githubusercontent.com/423703/39759339-063ff848-5305-11e8-9b1e-1d78e5acae61.jpg)

![4763925](https://user-images.githubusercontent.com/423703/39759340-064232e8-5305-11e8-940a-e0b4c997e848.jpg)

[2018-05-08 15:09] wlbragg commented on #1080
@tonghuix After looking at that piece of mesh, it is a better choice that what I used, especially after a few slight modifications, it will fit and work perfectly. Would you mind letting me go ahead and make these changed in another PR? That way I can rest assured it retains all the correct settings.

[2018-05-08 15:17] gilbertohasnofb commented on #1080
I also think that could be a good idea, so that you can take care of the material UV-map and reflections as well (some of it looks very shiny in @tonghuix screenies above). If you end up doing that, then don't forget that he also raised the trim wheel indicator and made modifications to the wheels, though you must check the latter one.

[2018-05-08 15:17] wlbragg commented on #1089
@tonghuix what do you mean by two high? Are the wheels themselves to tall? Is the airframe to far off the ground? You need to be more specific as to what you mean. The two images are not enough data to illustrate the issue.
Moving gear touches many areas of code and in no easy task, It requires a though understanding of the systems it involves and how it is all tied together.

[2018-05-08 16:04] tonghuix commented on #1080
Okay, but please do confirm fix the issue.

[2018-05-08 16:14] tonghuix commented on #1089
When I trying remodeling the connection between wheels struts and fuselage, I found these connection located too high. It should down at the corner of fuselage, due to this also cause the whole wheel too high.

I tried, so I do understand it relates many code, and needs much more work to do, so I mark this issue is Major problem...

[2018-05-08 16:16] wlbragg commented on #1087
I saw that when working on it and I wasn't sure that it wasn't correct as is.
I didn't assume that 0.0 was supposed to be point at "take off" position as I didn't do the trim code in the first place. I should have checked that against master to verify. After looking at the setting in fgdata it was 0.0  = point at "take off" so it was wrong. The question is why. I need to verify the movement @tongh

[2018-05-08 16:41] tonghuix commented on #1087
Nope, I checked the commit before 3D model update, the 0.0 always point to "take off".

After moving the trim indicator up, I noticed all function works very well. If you don't move this up, when trim indicator down (trim tab up, nose up), the indicator will hide very low into the panel.

[2018-05-08 16:42] wlbragg commented on #1089
@tonghuixa a comparison picture is worth a thousand words. I understand now.
![gear](https://user-images.githubusercontent.com/11069680/39770396-87506770-52b4-11e8-9149-53f086254293.jpg)

We need to discuss this.
What happens to the struts if I simply reattach the top of the struts to the correct location, That is a trick that would require now wheel adjustments whatsoever, only a mesh change. But

[2018-05-08 16:44] wlbragg commented on #1089
Comparing the photo with our aircraft it looks like our fuselage needs to be raised. I also noticed the tail is to tall as in thick.

[2018-05-08 16:55] gilbertohasnofb commented on #1089
Ok, so since we are busy with the interior model at the moment let's leave this opened for the time being, ok? This one will need a lot of testing as it will affect a lot of things.

@tonghuix please do not report things as 'major issues', a neutral report with a picture is a thousand times more useful to us. Thanks!

[2018-05-08 17:01] gilbertohasnofb commented on #1080
@wlbragg can I propose something? What if we open a PR just to fix this and the trim position, then after we merge it we freeze all exterior improvements for a while and go back to work on the interior? People can of course still report exterior issues but we will tackle them later ourselves.

If you agree, then I would be able to test and merge this later tonight.

[2018-05-08 17:22] callahanp opened #1090 "Real measurements."
I'm building a cockpit for the C172P.  One problem is the need to get accurate measurements of the actual position and size of various parts of the cockpit, the position and size of various controls, gauges, instruments and radios.

I'd like to be able to produce accurate blueprint drawings from the flightgear aircraft data.

Ideally, what I'd like to be able to do is sit inside a real one for a f

[2018-05-08 17:27] wlbragg commented on #1090
Interesting, possible yes, amount of work involved to do that though may be prohibitive. But it would be a really handy tool to have for developing as well.
One question though, you trust then that our model is accurate enough for your purposes?

[2018-05-08 17:30] wlbragg commented on #1087
I understand, but what you aren't understanding is there is some nuance your missing.
See below, I think that explains it.
![trim](https://user-images.githubusercontent.com/11069680/39772698-87dbd4f2-52bb-11e8-9971-5916f1ee9f49.jpg)

[2018-05-08 17:30] gilbertohasnofb commented on #1090
@tigert once sent us a bunch of photos that we used in this project in one way or another. Those might be helpful to you: https://www.dropbox.com/s/5bc75x87l8ezan2/c172p-interior-photos.zip?dl=0

[2018-05-08 17:33] wlbragg commented on #1087
I am not sure what I did wrong with this, It may have been that I didn't get the ElevatorTrimPosition moved. Even my center point was incorrect. The illustrations above shows the correct process to do this right.

[2018-05-08 17:52] wlbragg commented on #1087
I made all the adjustment and verified this in the sim. It is now spot on. @tonghuix if you are going to do this work it is important that you understand some of the complexities of working on the mesh. I am willing to point things out as I see them and help you learn and grow in your abilities. One of the fast rules we have for the mesh work is only one PR open at any time for mesh work. It is im

[2018-05-08 19:01] wlbragg commented on #1080
@tonghuix here is something I thing you need to be aware of. It's OK to use or copy other pieces of mesh to fix or make something new. But you have to be aware of thing like the UV mapping, material mapping, smoothness setting, did the normals get corrupted, does it need to be affected by the livery, does it now need to be a new object or part of a different object or can it stay as the same objec

[2018-05-08 21:26] wlbragg commented on #1089
I wanted to show you a quick test. this compares the struts as they are now compared to a slight adjustment that really only required some rotation of the top of the gear stuts. What do you all think?
![fgfs-screen-001](https://user-images.githubusercontent.com/11069680/39784013-99e737e2-52dc-11e8-8cb6-6fb894e6835e.png)
![fgfs-screen-002](https://user-images.githubusercontent.com/11069680/39784014

[2018-05-08 21:30] wlbragg commented on #1089
They have actually been moved substantially when looking from this perspective.
![fgfs-screen-003](https://user-images.githubusercontent.com/11069680/39784156-0f410ce8-52dd-11e8-9be0-69ffe4da8310.png)

[2018-05-08 21:42] #1080 closed

[2018-05-08 21:42] #1087 closed

[2018-05-08 21:44] gilbertohasnofb commented on #1089
@wlbragg I like how the wheels are looking after the PR #1091 so can we close this issue?

[2018-05-08 21:52] gilbertohasnofb commented on #13
@wlbragg I still think this effect could look nice. We can try to make it very subtle, and we can also make it togglable via the aircraft menu just like the pilot model and shadows are. I can also totally live with this options being set to no reflections on gauges by default.

[2018-05-08 21:55] wlbragg commented on #1089
Close this issue?
I have a finished product with this change should we want to go with it.
![strutmove](https://user-images.githubusercontent.com/11069680/39785098-6d841220-52e0-11e8-8389-edff021ec8a5.jpg)
It would require you moving the texture for the gear strut connection lower to match the new location. You and @tonghuix can decide if you want me to push this last change or not.

[2018-05-08 21:56] gilbertohasnofb commented on #1089
Sorry I got confused and thought this was also included in the last PR! Yes, I think we should go with it, I can fix all textures. Open a PR and I will push a commit with the fixed fuselage textures for _all_ liveries :crying_cat_face:

[2018-05-09 00:57] #1073 closed

[2018-05-09 12:29] gilbertohasnofb commented on #1089
Closed via https://github.com/c172p-team/c172p-detailed/pull/1092

[2018-05-09 12:29] #1089 closed

[2018-05-09 12:49] dany93 commented on #1035
On FGDevel list:

on 07 May 2018, Torsten Dreyer wrote:

Torsten

on 08 may 2018

Torsten

On 8 May 2018, Thorsten Renk wrote:

[2018-05-09 12:58] gilbertohasnofb commented on #1035
Thanks for reporting it here @dany93

There is no rush to have those tiles added, they may very well add them after the release as we still did not move the tutorials and we are amidst a huge amount of work with the 3D model. I would not want to rush into making a new release and I would much rather have 3 months to make a solid step forward with this project. My 2 cents.

[2018-05-09 15:55] gilbertohasnofb commented on #319
I noticed we have a branch called `bug-319`. Does anyone know what that's about? This issue has been solved. Can we delete that branch or does it contain any important work?

[2018-05-09 15:58] gilbertohasnofb commented on #741
We have a branch named `bug-741` which contains two sounds I created for the alternate static source knob. @wlbragg should I close that branch and re-push those files to whatever branch we will continue with the interior work or would you like to tackle this on that very branch?

[2018-05-09 15:59] gilbertohasnofb commented on #626
Just so this doesn't get lost, my work on these textures was pushed to `bug-626`, in case anyone feels like continuing from there.

[2018-05-09 16:03] legoboyvdlp commented on #626
What needs done to finish it?

[2018-05-09 16:05] gilbertohasnofb commented on #626
Basically the implementation of the code. The textures are pushed to that branch, but as the others have been talking in the recent messages above using Canvas would be the best option. Unfortunately I don't know anything about that and I have already too much on my plate with all these 3D and texture issues that we are currently dealing with. If you feel like having a go at this, go for it!

[2018-05-09 16:06] legoboyvdlp commented on #626
If you give me a couple of months, I'll try it (exam season currently!)

[2018-05-09 16:08] gilbertohasnofb commented on #626
Nobody has touched this in a while so there's a chance it might still be opened. When you are free to give this a go just make sure to ask if no one else started working on it again, ok?

[2018-05-09 16:08] legoboyvdlp opened #1093 "Propeller 3D Model - potentially too thin at the root"
![image](https://user-images.githubusercontent.com/10434911/39825999-29741c58-53ab-11e8-9012-53de8c3ce5a0.png)

Is it just me or the camera angle, or is our propeller a bit too thin in blade width near the spinner?

[2018-05-09 16:09] legoboyvdlp commented on #626
Wilco!

[2018-05-09 16:34] okroth commented on #1008
The maintenance manual says about taxi and landing light adjustment:

The landing and taxi lights are set to specified positions, but you can adjust them as necessary. The
procedures that follow give information on the correct landing and taxi light adjustment procedure.
The procedures that follow are typical for incandescent and HID lights.

(1) Park the airplane on a flat, level surface with the

[2018-05-09 16:48] wlbragg commented on #741
@gilbertohasnofb good question, how much other mesh/modeling work is there? I ask because it may make more sense to open a new, more generic, branch/PR encompassing multiple mesh issues and attach this, the sound, etc. to the new "generic" branch with "Fixes #XX" in the first comment. If not then I think we should use the sound branch and finish this entire issue before proceeding to any other mes

[2018-05-09 16:51] wlbragg commented on #626
We are going to do this with canvas an I'll probably include this in the next round of interior work. I was just waiting for the opportunity.

[2018-05-09 17:10] gilbertohasnofb commented on #626
@wlbragg Sounds good to me

[2018-05-09 17:11] gilbertohasnofb commented on #741
I think it's very little mesh work so maybe it makes sense to simply do everything together. I will close that branch then and then merge the sounds when we tackle this in the next mega PR. Sounds good?

[2018-05-09 18:54] okroth commented on #1008
However, these instructions leave me scratching my head.
First: to level the plane, the main gear needs to be raised, as the plane sits tail down on the floor.
Second: the x-distance is *approx.* 3 feet. the y-distance is 73.29 or 74.41 inches, three orders of magnitude more precise (0.01" ~ +/-0,13mm vs. half a foot ~ +/- 150mm).
Older service manuals give quite precise instructions about the adj

[2018-05-09 19:35] gilbertohasnofb commented on #798
@wlbragg If it would be easy to bake these AOmaps for the panel, panel_parts and interior textures I would love to work on them tonight. I finally have a couple of hours free :smile:

[2018-05-09 19:45] wlbragg commented on #798
@gilbertohasnofb let me see what I can do. I may run into a time crunch before "your tonight". I'll start on it now and see where it takes me.

[2018-05-09 19:47] gilbertohasnofb commented on #798
Ah no rush then. I just thought that if this could just be a matter of a couple of clicks and exporting three png files but I totally understand if you need longer time. I might as well watch some Netflix then :smile:

[2018-05-09 23:17] legoboyvdlp commented on #1093
It looks like our propeller is twisted while the real one is not?

[2018-05-09 23:33] gilbertohasnofb commented on #1093
@legoboyvdlp It's just because of the colour, light and angle in that photo. See these ones, they are clearly twisted:

![](http://www.kyleflemingphotography.com/wp-content/gallery/cessna-172-512/cessna-172-prop.jpg?x83484)

![](https://cdn.weasyl.com/~solariswolfox/submissions/845550/71319710c23a0cf3d29d0eff68eb6af2b1f215a5f133f0226305aa69d7b4eb96/solariswolfox-cessna-172-nose-propellor.jpg)

![]

[2018-05-09 23:33] gilbertohasnofb commented on #1093
This is also very clear in the photo you posted yourself in the issue description.

[2018-05-10 07:49] tonghuix commented on #1093
I think it is because the root of blade twisted too much, nearly parallel to the longitudinal axis of the plane.

![2018-05-10 15-25-18](https://user-images.githubusercontent.com/423703/39857900-8807f66a-5467-11e8-84f4-ddc80e822e01.png)

For perfect solution, it is better re-model it, but now make it less twist is okay.

I found a video may good help https://www.youtube.com/watch?v=ycE4MEk8Xfs

[2018-05-10 09:03] dany93 commented on #1093
@legoboyvdlp wrote:

Every propeller is twisted, to keep a correct AoA from the center to the periphery, to compensate for the difference in linear velocity vs the distance from the axis.

[2018-05-10 12:38] okroth commented on #1008
May this be helpful....
http://blog.aveoengineering.com/2018/02/19/landing-and-taxi-lights-in-c172-comparison/

[2018-05-10 13:07] #1001 closed

[2018-05-10 14:49] wkitty42 commented on #1035
On 05/09/2018 08:58 AM, Gilberto Agostinho wrote:

FWIW: the launcher is supporting the tutorial proposal, too...

----- snip -----
jmturner pushed a commit to branch next
in repository flightgear.

The following commit(s) were added to refs/heads/next by this push:
      new 607cef530 Add the default tutorial airport to the launcher
607cef530 is described below

SF URL:
http://sourceforge.net/p/f

[2018-05-10 16:18] wlbragg commented on #1008
Interesting, I would imagine they get away with it because the "bright spot" is at some point in time (right when they are turned on) the equivalent of the measurement they portray.
But the "which would you rather have" is still unequivocal.

[2018-05-10 17:00] gilbertohasnofb commented on #798
@wlbragg No rush. But we would need them as overlays given that we have different interior liveries. I would then manually add it to every texture adjusting the intensity using the alpha channel.

[2018-05-10 17:01] gilbertohasnofb commented on #798
Another advantage of overlays is that if I ever alter the xcf files by adding more stuff, changing a texture, etc. we don't have to bother to bake them again, as this will be a layer on top of everything else.

[2018-05-10 17:35] dany93 commented on #1008
It might be because the light intensity (candela or watt / steradian) measured **only in a given direction** is enough to be able to write this. The direction range is very narrow for the GE version, large for AVEO HERCULES version.
An integration, or a distribution curve, of the intensity over a large angle would make the difference.

[2018-05-10 17:49] okroth commented on #1008
Correct
beam angle of 19° is the angle where at least 50% of the peak intensity is reached; however, that could be a peak 1°, and a flat 18° just above 50%. Doesn't look that way in the photos.
And, to measure the candelas, you sit at the point the light goes to.
The LED lights seem to have a wide code which means a lot of light is produced (high lumen) and scattered light illuminates the scene ad

[2018-05-10 18:41] wlbragg commented on #1008
Here is the current image of our landing light when sitting on the runway. Position would be the only adjustment I know of that could be made and I think this is reasonably close to reality. How the position when airborne is affected I have no idea. So if this image is close to correct, I am not sure there is anything that we can do to change the airborne behavior.
![light](https://user-images.git

[2018-05-10 20:51] legoboyvdlp opened #1096 "Add Low Voltage LED to the Panel"
![](http://3.bp.blogspot.com/-cuJ9C1x7EI0/TkX8ER45PpI/AAAAAAAAKG8/N-akWc1MOdM/s1600/Cessna%20172%20Interior%20%285%29.jpg)

![](https://farm7.staticflickr.com/6195/6066184333_b3b1cc4a55_b.jpg)

To the right of the battery voltage indicator there should be a small red button or LED (not certain which) with the legend LOW VOLTAGE.

![](https://upload.wikimedia.org/wikipedia/commons/9/96/C172M-76pane

[2018-05-10 20:53] legoboyvdlp commented on #1096
AFM or POH should have more information.

https://www.pprune.org/archive/index.php/t-44013.html

This forum topic suggests it is a light which glows red.

[2018-05-10 20:56] legoboyvdlp commented on #1096
From pprune: https://www.pprune.org/archive/index.php/t-553380.html

The Cessna-style (+)(-) and (0) ammeter works because it is literally wired in series with the (+) battery lead wire, which is routed behind the panel between the Battery Contactor (operated by the Master Switch) and the Primary Bus Bar. When current is flowing from the bus bar into the battery, the ammeter shows a (+) deflection

[2018-05-10 22:18] gilbertohasnofb commented on #1096
@legoboyvdlp When adding images to issues, PRs or comments, do not just paste the link but use the following:

`![](link)` substituting `link` for the image url. This will display them as images here in GitHub.

[2018-05-10 22:25] gilbertohasnofb commented on #1096
@legoboyvdlp Is that a button or a LED? The quote above talks of a 'Low Voltage warning light', and they do look like a cylindrical LED to me.

[2018-05-10 22:28] gilbertohasnofb commented on #1023
@wlbragg just notice two more things: our carb heat lever looks too short and the bit where you hold looks too large. See this excellent video at around 6:00 (this is a valuable source for a lot of things concerning the interior)

https://www.youtube.com/watch?v=sLFX33Ogmus

[2018-05-10 22:29] gilbertohasnofb commented on #1096
At around 7:00 in this video you can see that it is a LED. It's first on and then it goes off when the engine starts: https://www.youtube.com/watch?v=sLFX33Ogmus

[2018-05-10 22:51] gilbertohasnofb commented on #1023
I've updated list of things to do in the issue description

[2018-05-10 22:52] gilbertohasnofb commented on #1023
Also, this issue is related to https://github.com/c172p-team/c172p-detailed/issues/802

[2018-05-10 23:27] legoboyvdlp commented on #1096
Right, thanks!

[2018-05-10 23:40] #1076 closed

[2018-05-10 23:46] gilbertohasnofb commented on #928
@wlbragg I am closing this since we will from now on have tutorials on a single airport, so there is no need to make them generic

[2018-05-10 23:46] #928 closed

[2018-05-10 23:48] gilbertohasnofb opened #1097 "Move tutorials to Hilo International Airport (PHTO)"
Move tutorials to Hilo International Airport (PHTO) as agreed in https://github.com/c172p-team/c172p-detailed/issues/1035

Tutorials will not have their airport changed in the future so this is the last time this move is necessary.

[2018-05-10 23:49] gilbertohasnofb commented on #1097
@dg-505 Would you be interested in working on this by any chance?

[2018-05-10 23:50] gilbertohasnofb commented on #1035
I've created a new issue for the tutorial move, see: https://github.com/c172p-team/c172p-detailed/issues/1097

Let's keep this one here opened until those tiles are added to FGAddon.

[2018-05-10 23:51] gilbertohasnofb commented on #1052
@AmaluSusan Are you still interested in this issue? If so, try what @onox wrote above and we can also give you a hand if you need it.

[2018-05-11 03:25] tonghuix commented on #1093
I tried re-modeling it reference the photos that I took at 2018 Zhengzhou Airshow.

![2018-05-11 11-20-44](https://user-images.githubusercontent.com/423703/39905024-d3853110-550d-11e8-8ac8-43a3edd1ab7d.png)

![c172-prop](https://user-images.githubusercontent.com/423703/39905027-d81a5c0a-550d-11e8-9b99-93b3fdb438b1.jpg)

[2018-05-11 04:01] wlbragg commented on #1093
Below is our existing prop rotated along the Y axis to demonstrate the current thickness. It may be the amount of twist that is the issue or the orientation of the prop twist.
![prop](https://user-images.githubusercontent.com/11069680/39905906-7701c2ea-54a5-11e8-9bbb-49fda3a4043b.jpg)

Also lets not forget there are "many" different typed of props. We really need to be showing images of the same p

[2018-05-11 06:42] wlbragg commented on #798
@gilbertohasnofb this is a first attempt. It has issues. I think there is some overlapping UV texturing. Also I need to know exactly which parts or objects we want to include in the AO overlay. There are settings we may be able to adjust to get better results as well. In order to produce this it requires appending the objects I want to include in the bake to a new blend so I can control things bet

[2018-05-11 06:43] wlbragg commented on #798
Also, what size do you want this?

[2018-05-11 10:16] ltoenning commented on #1069
I just looked into the .blend file and quickly removed the headrest.

![unbenannt](https://user-images.githubusercontent.com/1716810/39919662-a27000bc-5514-11e8-981d-f2c34173dd22.JPG)

Would that be like you want to have it?  (I left the headrest here on the right front seat just for comparison)

[2018-05-11 10:53] gilbertohasnofb commented on #1069
Guys, please always contact @wlbragg before doing _any_ 3D work, our Blender file is _extremely_ sensitive and it is not git friendly. We cannot have two different PRs both dealing with a same Blender file, else one of them will get ignored.

As for the seats, removing the headrests is a good start but I think we might need to improve the model a little bit, at least adjust the size (they are too

[2018-05-11 10:54] gilbertohasnofb commented on #1093
Guys, please always contact @wlbragg before doing _any_ 3D work, our Blender file is _extremely_ sensitive and it is not git friendly. We cannot have two different PRs both dealing with a same Blender file, else one of them will get ignored.

[2018-05-11 11:02] gilbertohasnofb commented on #798
The size should be 2048 x 2048. But there are some weird things in this image above. Is the GPS contributing to this AOMap? If so, we should hide it. Also, the place where the trim needle is looks way too dark, though we do need the window of the needle to be darker (similarly to how the fuel gauge looks like in the image above). There are a lot of artifacts around some of the gauge circles, some

[2018-05-11 12:04] legoboyvdlp commented on #1081
Wlbragg, is it too late to revisit this (even in the future)?

![image](https://user-images.githubusercontent.com/10434911/39923438-6fd1b7a2-551b-11e8-92ff-3a766a3c6049.png)
I still think that the cowling is a little too thick at the bottom.

If you look at
![image](https://user-images.githubusercontent.com/10434911/39923461-997c2934-551b-11e8-91b5-dde8c6bd78e9.png)

This appears to me as if it is

[2018-05-11 12:19] legoboyvdlp opened #1098 "Yoke is missing PPT cord"
There is a noticeable is the telephone cable type thing under the yoke:

![](https://user-images.githubusercontent.com/5700795/39924957-c59dd372-5521-11e8-8a42-9c622a185d2d.jpg)

![image](https://user-images.githubusercontent.com/10434911/39924117-83ef48dc-551e-11e8-8064-9050edea8945.png)

Probably connects to the PTT button?

[2018-05-11 12:49] gilbertohasnofb commented on #1098
@legoboyvdlp Ok, a couple of stuff. First, would you mind me editing your post above? 'Fun details' doesn't help much. Then there are a lot of reference photos to a much more modern model of the 172.

From all you wrote, here is with what I agree:

1) I agree that the original model P has a lighter hole which we can see in my favourite reference, the OH-CTL:

![image](https://user-images.githubuse

[2018-05-11 13:03] legoboyvdlp commented on #1098
Thank you for your comment (and the reference images).

As for the cable, I agree that it would be very difficult so definitely we don't need it.

[2018-05-11 13:05] gilbertohasnofb commented on #1098
About the cable: it is indeed for the Press-To-Talk button. Some examples of the model P do have them on both yokes, though most seem to have only on the pilot side.

@wlbragg if you ever feel like doing this, here is a possible solution for the cable:

![](http://imgproc.airliners.net/photos/airliners/8/1/6/1287618.jpg?v=v40)

But even this would be difficult to do properly, as the yoke metal bit

[2018-05-11 13:19] gilbertohasnofb commented on #1098
@legoboyvdlp I am not too happy with too many unrelated things in a single issue. For instance, if I fix the pocket on the right bottom via texture work, this issue cannot be closed. So If you don't mind, I will edit it and make it only for the yoke cable and I will open new ones for the lighter and for the pocket. Is that all right with you?

[2018-05-11 13:23] gilbertohasnofb opened #1099 "Add a lighter hole to the cockpit"
This is just a fun little detail 😁 A 12V DC output.

![image](https://user-images.githubusercontent.com/10434911/39923803-19a2d22e-551d-11e8-84f5-bf5f8be09cb9.png)

On the old Cessnas when smoking was allowed, it was also marked LIGHTER:

![image](https://user-images.githubusercontent.com/10434911/39923840-3772dbdc-551d-11e8-8359-0e98170061bc.png)

[2018-05-11 13:23] gilbertohasnofb opened #1100 "Pocket on the bottom right of the panel is missing"
There is a pocket or cupboard in the panel on the right:

![image](https://user-images.githubusercontent.com/5700795/39926498-4d7804f2-5527-11e8-920f-81904e3b3308.png)

[2018-05-11 14:03] dany93 commented on #1093
Propellers, POH's:
(what I have)

**160 hp** (C172p 1982, POH 12 May 1981)
![160hp-prop-c172p](https://user-images.githubusercontent.com/11994061/39927233-dc74c42e-5531-11e8-826f-291b115d051f.png)

**180 hp** (C72S, POH 552 SP
PROPELLER
Propeller Manufacturer: McOauley Propeller Systems.
Propeller Model Number: 1 A1 70ElJH47660.
Number of Blades: 2.
Propeller Diameter: 76 inches.
Propeller Type: F

[2018-05-11 15:29] wlbragg commented on #1081
@legoboyvdlp sure we can. A couple things to consider. The amount that protrudes is roughly the same as it has always been. When you first called this out it was protruded even more because of the way I enlarged cowling all around. But after your comment I did try to reduce that part, at least back to where it was originally. So just know that for one. In my opinion, that last reference image is n

[2018-05-11 15:32] legoboyvdlp commented on #1081
I understand, thank you. I'll see what I can find!

[2018-05-11 15:55] wlbragg commented on #1093
For clarity, using your local blend version to demonstrate a proposed change and posting the results is of course OK, it can actually be very helpful to whoever eventually does the Blender work and for discussion. But referring to what @gilbertohasnofb is pointing out, please don't make a blender change that you expect merged into master along with creating a PR for it without consulting first. It

[2018-05-11 15:56] wlbragg commented on #1069
For clarity, using your local blend version to demonstrate a proposed change and posting the results is of course OK, it can actually be very helpful to whoever eventually does the Blender work and for discussion. But referring to what @gilbertohasnofb is pointing out, please don't make a blender change that you expect merged into master along with creating a PR for it without consulting first. It

[2018-05-11 16:14] legoboyvdlp commented on #1093
(in terms of lightmaps, if you like, I am familiar with the baking process and would be able to help you in that regard.)

[2018-05-11 16:16] wlbragg commented on #798
No, that is a remnant from trying to fix the panel behind the radio stack I think. If so, I will be able to clean that artifact up.

If your referring to what I think you might be, it could be a anomaly in the mesh itself. Every hole has a raised bump on it. I'm wondering if that was for a recessed bulb for instrument lighting of some sort VS back lighting.

![bump](https://user-images.githubuserc

[2018-05-11 16:26] legoboyvdlp commented on #798
![image](https://user-images.githubusercontent.com/10434911/39935236-3c43c48c-5540-11e8-8836-ec2256f6604e.png)

An attempt at making those bumps?

From the side there is no bump visible:

![image](https://user-images.githubusercontent.com/10434911/39935281-67c2520e-5540-11e8-85b8-6a2d55f4973e.png)

[2018-05-11 16:27] legoboyvdlp commented on #798
Actually, a look at  a FSX product suggests it might actually be a bulb:

![image](https://user-images.githubusercontent.com/10434911/39935327-8f09579a-5540-11e8-9def-c4b2e6e4c395.png)

Note how the light shines from the upper left.

[2018-05-11 16:28] gilbertohasnofb commented on #798
No, that's not an anomaly, the model P does have those bumps. I am referring to these:

![image](https://user-images.githubusercontent.com/5700795/39935329-8fd78778-5540-11e8-90fe-8d8605439e36.png)

Yep, we are close. With these sort of images I can improve the textures a lot. And I would need a map for each of the three interior images.

[2018-05-11 16:29] gilbertohasnofb commented on #798
About the bump, they do change from panel to panel and model to model. Ours look fine, very close to the OH-CTL. Let's not touch them.

![aad](https://user-images.githubusercontent.com/5700795/39935409-d3450e72-5540-11e8-8e53-88f73e9a3034.jpg)

[2018-05-11 16:36] wlbragg commented on #798
You may be looking at the wrong thing, this should clarify it.
![ao1](https://user-images.githubusercontent.com/11069680/39935684-76c6a33a-550f-11e8-963c-33357864a506.jpg)
![ao2](https://user-images.githubusercontent.com/11069680/39935688-78628c72-550f-11e8-8f4d-1abb5c4d4d02.jpg)

[2018-05-11 16:38] gilbertohasnofb commented on #798
You are right, I was looking at the wrong thing. Still. that window needs to be darker and that black square shouldn't be there. Also note that I can make manual adjustments if we can't make something come out of Blender, e.g. the trim needle window can easily be created in GIMP using the reference above. But I will only start to manually improve these once we are absolutely sure that the AOMap is

[2018-05-11 16:47] wlbragg commented on #798
Same answer, I don't think I have that kind of control over Blender, it's going to interpret it how it sees it. You may have to manually adjust these  things. Although I am nit sure I agree that it needs to be any darker (if were talking about the same thing, the trim needle recess). Shouldn't this stuff be pretty subtle so as to blend with most lighting conditions. Think of what that same area wi

[2018-05-11 16:48] gilbertohasnofb commented on #798
Ok, I will try to do all this using GIMP. But could you try checking why those artifacts I pointed out are there?

[2018-05-11 17:00] wlbragg commented on #798
I'm running another bake at 2048 with adjustment we can make, as we speak. Those "artifacts" were caused by the "smoothness" angle setting. It was at 180 deg. Reducing it to 90 removes the artifacts. It's possible that will create other artifacts somewhere else, we will have to wait and see.

[2018-05-11 17:01] wlbragg commented on #798
I added the interior chassis to the blend to see if that will darken areas you want to see darker. So far I can't tell for sure but it looks like it may be affecting it.

[2018-05-11 17:02] gilbertohasnofb commented on #798
Great! If the new map will still have artifacts then please bake me another one with 180 deg of smoothness angle, so that I can make a patch work and copy and paste the clean parts from one to the other.

If you have a chance, try generating the other two maps for the other interior textures.

[2018-05-11 17:09] wlbragg commented on #798
The margin in the first bake 1024x1024 was 16, I reduced it to 6 for this 2048x2048 so hopefully that will be enough. I don't know how far we can go down in margin before it causes trouble on the edges, if it does at all. I'm only going by what I have read on the subject that they always say to leave a decent margin, whatever that means?

[2018-05-11 17:09] gilbertohasnofb commented on #798
No problems, let's see how this ones comes out.

[2018-05-11 17:26] gilbertohasnofb commented on #798
This looks much better, but I still do see those artifacts around the gauges. That's my only gripe with this.

[2018-05-11 17:27] gilbertohasnofb commented on #798
Otherwise looks excellent! Then I can tweak the strength of certain areas manually in GIMP :smile:

[2018-05-11 17:31] wlbragg commented on #798
There is a setting in the bake that is possibly able to take that out. Also I did this at 64 samples VS 128 which I did last time. I think that will only affect the graininess and not that type of artifact.
There is a many factors that can be adjusted in the bake. The increase in darkness was caused by adding the chassis to the blend. I could darken it using blender bake and gathering settings ins

[2018-05-11 17:37] gilbertohasnofb commented on #798
It's not too dark, it's fine. The more dynamic range between the dark and light parts the better for me, I can then control this with opacity in GIMP. If the dynamic range is too low (e.g. all too light) then I will have a hard time expanding it when necessary.

[2018-05-11 18:25] wlbragg commented on #798
@gilbertohasnofb
There is a bias setting that takes out the artifact but it changes the overall bake as well. This was a bias of .15 (recommended for taking out artifacts in a sphere).
Try it with somewhat less of a bias?
![ao](https://user-images.githubusercontent.com/11069680/39940395-cd04d9a6-551e-11e8-94b6-7ea8992f3712.png)

[2018-05-11 18:27] wlbragg commented on #798
I also reduced sampling size (graininess) considerably (faster bake).

[2018-05-11 18:28] wlbragg commented on #798
I'm running it again with the previous sampling size and about half the bias,

[2018-05-11 19:13] wlbragg commented on #798
Hum, not much difference. I'll try one more run with the bias cut even more.
![ao1](https://user-images.githubusercontent.com/11069680/39942577-7a5df0a0-5525-11e8-9690-45130df2b231.png)

[2018-05-11 19:36] wlbragg commented on #798
Hum I didn't get the size change.
This is using approximation instead of ray tracing, the correct size.
![aoappx](https://user-images.githubusercontent.com/11069680/39943477-8d31bab0-5528-11e8-80b8-6c21c31e000b.png)
I'll do one more with ray tracing, and a low bias for artifact and you can decide which you like best.

[2018-05-11 19:41] onox commented on #1098
@wlbragg Can we make the PPT cord movement dynamic by re-using the code written for that orange cargo helicopter? Just with fewer parts.

[2018-05-11 19:44] onox commented on #1099
Can this be fakes by modifying the texture? Do we have normal maps already?

[2018-05-11 19:54] #124 closed

[2018-05-11 19:56] onox commented on #958
Added:

- Implemented engine damage when flying at a RPM higher than the red mark

[2018-05-11 19:59] wlbragg commented on #798
Ray-tracing, .001 bias 2048x
![ao](https://user-images.githubusercontent.com/11069680/39944322-db66128c-552b-11e8-9a39-7aa4ebf7bf70.png)

[2018-05-11 20:26] legoboyvdlp commented on #958
Please also add

- More advanced oil management and consumption calculation

[2018-05-11 20:27] legoboyvdlp commented on #1099
It would probably look strange and 2D unless done very well but that is an option.

[2018-05-11 20:37] wlbragg commented on #1099
I should be able to cut this in easily enough. I suppose we need to do any of this mesh work before we do the AO map.

[2018-05-11 20:48] gilbertohasnofb commented on #1099
Yeah, texture is not the best option.

Possibly yes, though I think it will not affect the textures that much. It's up to you, but I can manage with the current AOmap.

[2018-05-11 21:05] gilbertohasnofb commented on #798
@wlbragg most of these new ones seem inverted, e.g. look at the pedestal parts and compare with the first one [here](https://github.com/c172p-team/c172p-detailed/issues/798#issuecomment-388429795). I think that first one was the best by far and the one with most dynamic range which is important for me. I just wish those artifacts would be a bit less pronounced and that the black square in the pede

[2018-05-11 21:05] gilbertohasnofb commented on #798
If this is becoming too much work for you I can also try to fix those manually, maybe I can blur those artifacts and possibly when they are applied as a thin overlay that wont be noticeable.

[2018-05-11 21:15] wlbragg commented on #1099
Well like an idiot I cut in the perfect lighter and when testing it in the sim discovered I used the image that didn't have the flaps selector for the positioning so it is covered by the flap selector. I have to do it again. But that lead to this discovery. What do we want to move where?
![lighter](https://user-images.githubusercontent.com/11069680/39947149-76699948-5536-11e8-8a79-68242baa4b77.jpg

[2018-05-11 21:25] gilbertohasnofb commented on #1099
I think we want to move the flaps a bit left and the heat and air levers to the right, look at the OH-CTL picture above

[2018-05-11 21:26] gilbertohasnofb commented on #1099
Though it doesn't need to be precise. Just the heat and lever would be fine, they should be to the right of the yoke line

[2018-05-11 21:26] gilbertohasnofb commented on #798
Great, no rush at all! We can review it as many times as it takes until we get it right :+1:

[2018-05-11 21:42] wlbragg commented on #1099
I'm going to be away for awhile. I should have this and the AO map by morning.

[2018-05-11 23:55] tonghuix commented on #1093
I found some photo of 1C160/DTM7557 propeller from ebay:

![](https://i.ebayimg.com/images/g/91oAAOSwMlRakG-n/s-l1600.jpg)
![](https://i.ebayimg.com/images/g/RqcAAOSwJ1BakG7l/s-l1600.jpg)
![](https://alphaaviation.aero/wp-content/uploads/048.jpg)
![](https://alphaaviation.aero/wp-content/uploads/056.jpg)

[2018-05-12 00:11] gilbertohasnofb commented on #1093
I am 99% sure that all model P use a propeller with a straight edge as shown in all photos I posted. Also, this website lists a [DTM7557 MCCAULEY PROPELLER](http://www.univair.com/propellers/mccauley/dtm7557-mccauley-propeller/) for sale and it looks like what I came to expect:

![](http://cdn2.bigcommerce.com/server100/dtwuls/products/16935/images/10728/mccauley-propeller-stock-photo__06986.15017

[2018-05-12 01:58] tonghuix commented on #1093
@gilbertohasnofb Please review the left column of the web page, it seems all propeller use this *IDENTICAL* picture, CM7448, DFA9043....etc.

[2018-05-12 03:13] mathieugouin opened #1101 "Regression issue: NAV2 standby & active frequency readout not displayed"
Currently only displays 000.000 in the digital readouts.

[2018-05-12 03:43] wlbragg commented on #1101
I guess I never exported the .ac file after I corrected it in the blend. Good catch, thanks. I'll do a PR for this with the exported .ac.

[2018-05-12 03:55] wlbragg commented on #798
I think this is about as good as I am going to get this. What do you think @gilbertohasnofb? You'll have to edit the black areas.
![ao](https://user-images.githubusercontent.com/11069680/39953306-7358299e-556e-11e8-9725-fb7f9cb0b190.png)

[2018-05-12 04:04] wlbragg commented on #1099
@gilbertohasnofb actually this images that shoe a flaps lever have it a little farther right than we do. It is centered below the right edge of the radio stack panel. So if anything the flap lever should move right also?
I'll see if I can move the vent knobs right and the lighter enough right that we can still move the flap part right if we choose to, or leave it where it is.

[2018-05-12 04:25] tonghuix commented on #1093
I just re-model the DTM7557 propeller.

![2018-05-12 10-45-38](https://user-images.githubusercontent.com/423703/39953492-8c14255c-55df-11e8-89fc-0ee009566d0d.png)

Uploaded to my personal repo:  https://github.com/tonghuix/c172p-detailed/blob/master/dev/blender/c172p-prop.blend

[2018-05-12 04:59] wlbragg commented on #1099
![plug](https://user-images.githubusercontent.com/11069680/39953606-38ac30fe-5575-11e8-8c0a-5cc0e8ec00df.jpg)
![plug2](https://user-images.githubusercontent.com/11069680/39953607-3f6023b0-5575-11e8-842b-a37e01878be5.jpg)
@gilbertohasnofb
This image on the texture sheet with a slight modification could work well for the lighter port.
![lighter](https://user-images.githubusercontent.com/11069680/399

[2018-05-12 10:25] legoboyvdlp commented on #798
Doesn't the texture, lightmap, and AO map all have to be on the same uvmap? i.e. any changes need to be done to the original as well?

[2018-05-12 12:50] gilbertohasnofb commented on #1093
Perhaps the text `STOCK PHOTO - ACTUAL PROPELLER MAY DIFFER FROM IMAGE` written in that image could have alerted me :man_facepalming:

It seems you are right, @tonghuix, I doubled checked and it turns out most Model P have a round propeller:

![](http://imgproc.airliners.net/photos/airliners/9/3/7/4766739.jpg?v=v4bd9e79c9fa)

Though a few do indeed have a straight one (see half of my photos posted

[2018-05-12 13:08] gilbertohasnofb commented on #1099
@wlbragg I liked the new positions of flaps and levers, that's all good with me. About the texture, I added a new one to `panel_parts.png`, see:

![image](https://user-images.githubusercontent.com/5700795/39957621-e30c093e-55ed-11e8-9f55-d0b24f889abe.png)

[2018-05-12 13:11] gilbertohasnofb commented on #1099
@wlbragg Actually I added the metallic texture for the mic mount on the same `panel_parts.png` file. See:
![image](https://user-images.githubusercontent.com/5700795/39957655-58e3d290-55ee-11e8-8fc1-e3b300ac6d28.png)

Pushing it now.

[2018-05-12 13:12] gilbertohasnofb commented on #1099
And please do not make them livery dependent as I only pushed them to the default livery for the moment being.

[2018-05-12 13:15] gilbertohasnofb commented on #798
Not bad, the panel looks fine and totally workable but panel_parts look a bit more messy. For instance, it's clear that the lighter is mapped to the a place it shouldn't since you were mapping it for testing to an existing texture before I pushed my new one. And what about the interior aomap?

[2018-05-12 13:45] gilbertohasnofb commented on #798
@wlbragg one more thing: I was hoping that the glareshield would make some shadow on the top of the panel in the AO map, do you know why that isn't the case?

[2018-05-12 15:11] wlbragg commented on #1099
@gilbertohasnofb perfect, thank you!

[2018-05-12 15:55] wlbragg commented on #798
This was just a first run to establish what's there and what is available for our use. I guess it would help to know specifics as to what you want out of it? if there are objects that are of no use I can eliminate them from the map before baking so you don't have to cut them.

Yeah, I'll burn it again. First if you want to mark up anything you want removed or anything else you want to comment on,

[2018-05-12 15:56] wlbragg commented on #798
@gilbertohasnofb yep, I forgot to include it in the bake. I'll add it and re-bake.

[2018-05-12 16:10] onox commented on #1009
@gilbertohasnofb @wlbragg Is this something that can be done easily? (just some baking in Blender)

[2018-05-12 16:12] onox commented on #958
@gilbertohasnofb Do we have a list of issues that we really want to fix this weekend?

- #967 (the image in the `README.md` is no longer visible. Could you make a new one with the new green retro livery perhaps?)

[2018-05-12 16:15] onox commented on #586
@gilbertohasnofb Do you still get these error messages?

[2018-05-12 16:40] gilbertohasnofb commented on #1009
@onox nope, I would need to create it manually and it would be a lot of work. This is one of those issues I wouldn't like to rush.

[2018-05-12 16:41] gilbertohasnofb commented on #798
Just keep them all, it's easier for me to cut them out in GIMP than to change my mind later and need you to bake a new one.

[2018-05-12 16:49] gilbertohasnofb commented on #958
I think all these new cosmetic things @wlbragg and I are working on should not go on this release, the aircraft in the master is looking good and these improvements will need a lot of work. I don't want to rush them. So IMO https://github.com/c172p-team/c172p-detailed/pull/1103 should stay opened.

Concerning issues, I think the only one we truly need to fix is https://github.com/c172p-team/c172p-

[2018-05-12 16:55] gilbertohasnofb commented on #586
@onox yes I do, and now I also get some errors about the mooring feature:

[code]

But that said, FG has always been buggy when it comes to resetting a flight or positioning the aircraft in the air or moving airports. Perhaps this is really a non-issue.

[2018-05-12 17:04] gilbertohasnofb commented on #958
@onox what do you think?:

![fg-0](https://user-images.githubusercontent.com/5700795/39959771-be4649b8-560e-11e8-8c54-b91b1bbea15b.jpg)

[2018-05-12 17:11] wlbragg commented on #1099
@gilbertohasnofb I am just about to throw this computer through the window. Why would the new lighter port texture act like it is part of the livery system? Did you not add both the mike_mount and the light port graphics only to the default texture sheet? I mapped them exactly the same, I added them to the interior effect definition only and no where else. The mike mount is consistent through the

[2018-05-12 17:28] wlbragg commented on #1099
OK, it's just really bugging me that it is behaving badly and for no reason that I am aware of. I'll move forward. It's consumed over an hour already. It took most of that time to figure out it was a livery issue. I wasn't getting the texture change in the light hole no matter what I did and it finally dawned on me I was in a livery. As soon as I went to default, the change showed up. I was swappi

[2018-05-12 17:54] wlbragg commented on #958
#1102 should be fixed now!

[2018-05-12 18:06] onox commented on #586
If it's only happening when you reset or change the airport in FG, then I would say it's an FG issue. And close it as a "won't fix".

[2018-05-12 18:08] onox commented on #958
The last two screenshots look nice with the clouds, but can you make one from the front instead of the back of the aircraft?

[2018-05-12 18:11] onox commented on #958
Ok, after PR #1102 has been merged, I'll make a release + branch tomorrow. That gives another day for testing and fixing any critical issues.

[2018-05-12 18:15] #1101 closed

[2018-05-12 18:27] wlbragg commented on #798
@gilbertohasnofb OK, here's the deal. I'm my rush to improve stuff I have taken a few shortcuts when uv-mapping some of the exterior object (mostly shiny stuff like antennas or chrome parts like beacon mount, etc.). I mapped some of that stuff to the panel_parts.png instead of having you create new textures. It has now caught up to me. If we ever hope to make interior light maps, or even be able t

[2018-05-12 19:46] wlbragg commented on #798
@gilbertohasnofb here is the final map with everything on it. Anything black more than likely has another object over it or it is in deep shadow.
![ao](https://user-images.githubusercontent.com/11069680/39961015-3190c662-55f3-11e8-86b8-4a0f8097165a.png)

[2018-05-12 20:54] wlbragg commented on #798
Here is the current panel_parts.png ao map. This is the one we need to pull some of the exterior uv mapping off of. That is why some of the objects don't look right.
![flap](https://user-images.githubusercontent.com/11069680/39961489-a89f242a-55fc-11e8-8b83-0b7ef9262e52.jpg)
![aop](https://user-images.githubusercontent.com/11069680/39961490-a8c08124-55fc-11e8-9895-014d4200bed8.png)

Fuel selector

[2018-05-12 20:57] gilbertohasnofb commented on #586
Agreed

[2018-05-12 20:57] #586 closed

[2018-05-12 20:59] gilbertohasnofb commented on #1099
I completely sympathize, I also have a hard time leaving something aside if I don't completely understand it. Nothing drives me crazier than a Heisenbug :rofl:

So I will be very carefully reporting bugs to you tonight and in the next days! :wink:

[2018-05-12 21:00] gilbertohasnofb commented on #958
Sure

[2018-05-12 21:27] gilbertohasnofb commented on #958
@onox What about one of these?

![fg-0](https://user-images.githubusercontent.com/5700795/39961666-2d0aa050-5633-11e8-9f98-a1a5a4c81bda.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/39961667-2d2a20e2-5633-11e8-851b-8444a4e8247c.jpg)
![fg-2](https://user-images.githubusercontent.com/5700795/39961668-2d806074-5633-11e8-8f93-8d5eafd334ac.jpg)
![fg-3](https://user-images.githubusercon

[2018-05-12 21:51] gilbertohasnofb commented on #798
@wlbragg First of all, not a bit deal, we can clean this up with a small amount of effort, so no feeling bad about that :smile: Well, I actually imagined that was the case when I saw those dark patches in the AOMap. Do note that I absolutely never ever mind making new textures and we have plenty of empty space in nearly all texture files, so it's always good to have one texture per object. Also, t

[2018-05-12 22:33] onox commented on #958
I like 1-3. Maybe another one a bit more from the side and showing the new leading edge (and top side) of the wing a bit better?

[2018-05-12 22:35] gilbertohasnofb commented on #1099
@wlbragg I just pushed a new commit in which I added the lighter and mic mount to the `panel_parts` file in all liveries, so you can make them texture dependent. I also removed that 1 cent coin as I commented elsewhere.

[2018-05-12 22:46] gilbertohasnofb commented on #958
Something like this?

![fgfs-screen-006](https://user-images.githubusercontent.com/5700795/39962144-771bf544-563e-11e8-81a9-ca43b8701614.png)
![fgfs-screen-007](https://user-images.githubusercontent.com/5700795/39962145-773906d4-563e-11e8-8a15-6bfb8b29ef98.png)
![fgfs-screen-009](https://user-images.githubusercontent.com/5700795/39962147-778e3d02-563e-11e8-8aa9-e07140bebb80.png)

![fgfs-screen-008

[2018-05-12 23:40] legoboyvdlp commented on #958
I like the second or third one, just fwiw.

[2018-05-12 23:43] legoboyvdlp commented on #1009
Actually, it should be possible to bake the normal map in blender using a sculpture tool?

At least as a starting point...

The way you do it, if I remember correctly, you sculpt the detailed mesh with all the rivets or whatever, then, selecting the uvmapped original mesh you bake the normal, like a lightmap.

[2018-05-13 00:05] legoboyvdlp commented on #1003
If it is just a matter of making them acquire dirt over time with a "wash aircraft" button, it shouldn't be much trouble. If nobody else has claimed it, I'll do it.

[2018-05-13 00:08] legoboyvdlp commented on #979
Actually, sorry -  I need to check this does not still exist, I probably fixed it already.

[2018-05-13 01:13] tonghuix commented on #958
![fgfs-screen-509](https://user-images.githubusercontent.com/423703/39962843-b92d7a9e-568d-11e8-85e0-44ad0c6bbcb1.png)
![fgfs-screen-507](https://user-images.githubusercontent.com/423703/39962844-b966cdc6-568d-11e8-9462-fea8a908b7c6.png)
![fgfs-screen-476](https://user-images.githubusercontent.com/423703/39962845-b998180e-568d-11e8-8f56-5e7dbecee7b7.png)

I took these screenshot yesterday, note th

[2018-05-13 03:55] wlbragg commented on #1003
@legoboyvdlp that is fine with me.
Please investigate the effects of dirt on the flight dynamics and find out how much of an effect, if any, it has on a small aircraft like this. If it turns out to be costly in fuel or performance then we should also model that effect in the FDM over time if you don't use the "Wash aircraft" feature often. This also might go hand in hand with icing, which undoubte

[2018-05-13 04:55] wlbragg commented on #798
@gilbertohasnofb

That's been corrected and will show up on the next bake.

Yes, that was removed long ago.

[2018-05-13 05:58] wlbragg commented on #798
@gilbertohasnofb following is a list of items that will have to be dealt with at some point if we want light maps and good AO mapping.
I'll start with the exterior stuff that needs moved off panel_parts.png.
![ant1a](https://user-images.githubusercontent.com/11069680/39964240-dc9a5fee-5645-11e8-97a1-8d5bf9504944.jpg)
![ant1](https://user-images.githubusercontent.com/11069680/39964246-fb62143a-5645

[2018-05-13 08:44] legoboyvdlp commented on #1003
If it turns out that it does significantly affect performance, would it be alright if I added icing as well in the same pull request, given that ice definitely affects performance?

If dirt doesn't do much, then that won't be necessary.

[2018-05-13 08:53] legoboyvdlp commented on #1003
My flight school's 172SPs were getting really dirty, lots of bugs. I flew one just before it went in for a 100 hour. They spent nearly 5 hours cleaning and waxing the airframe. The next day I had an indicated airspeed that was about 5 knots higher at the same power setting and fuel burn

From airliners.net

[2018-05-13 09:02] legoboyvdlp commented on #1003
So yes, it does affect the performance - more significantly than I thought.

[2018-05-13 10:27] gilbertohasnofb commented on #798
@wlbragg Great, I will work on this soon. Shouldn't be too bad, I just hope we will have enough space for everything in this texture file! We have many switches and circuit breakers so that might be a problem. Do you think that if did not multiply those for each switch and breaker they would look too bad in a light map? Or could we possibly get away with this? The light in an old 172P will be quit

[2018-05-13 10:49] gilbertohasnofb opened #1104 "Create new textures for double mapped ones"
Some textures have been mapped to more than one single object. This should be avoided as it breaks the AO and light maps. These objects should be mapped to copies of these textures.

The following is a list of items that will have to be dealt with at some point if we want light maps and good AO mapping:

![ant1a](https://user-images.githubusercontent.com/11069680/39964240-dc9a5fee-5645-11e8-97a1-8

[2018-05-13 10:49] gilbertohasnofb commented on #798
@wlbragg I opened a new issue for this, see: https://github.com/c172p-team/c172p-detailed/issues/1104

[2018-05-13 12:52] gilbertohasnofb commented on #1009
@legoboyvdlp In the exterior we use normal map for those tiny details that we did not 3D model. In the case of the panel, everything is highly modelled and thus there is no need to use the same technique for it. My idea of using normal map (and let me be clear this might not work out) would be to bring out some of the minor details of the _textures_  in the panel, e.g. the small imperfections of t

[2018-05-13 13:01] gilbertohasnofb commented on #1104
@wlbragg Because modifying textures for each livery, exporting and replacing them is a pain, here is the plan to fix this: I will first create new textures only for the default livery. This might involve some re-UV-mapping I'm afraid, since spacing suddenly has become critical. Once these are done and the re-UV-mapping is also done, we can bake new AO maps. Once that is done, I will then add the m

[2018-05-13 13:35] legoboyvdlp commented on #1009
You could probably model the imperfections and bake the normal but if it is easier to manually do it that's fine ;)

[2018-05-13 13:36] legoboyvdlp commented on #1003
That's parasitic drag, not airspeed though. But if you prefer not I can just make the effect.

[2018-05-13 13:38] gilbertohasnofb commented on #1003
Apologies, misread that. But that makes the effect even less pronounced I suppose.

[2018-05-13 13:39] gilbertohasnofb commented on #1009
I am talking about minuscule ultra detailed imperfections, modelling doesn't work here at all.

[2018-05-13 16:15] wlbragg commented on #798
They have to be separated to their own space. If you look at the shuttle you'd be surprised how much you can cram in a space and how small some of these textures can be yet still look good. The switches in particular could be half the size and still be plenty big and of high enough resolution to look good. The breakers size could be reduce a little and still look good. You could get most of the ro

[2018-05-13 16:45] wlbragg commented on #1003
If parasitic buildup indeed does affect drag as much as you say it might. I can envision this scenario. At a few different point in the development process for both the j3 and 172 hydro, with the smaller engine, escape from the water was iffy depending on wind speed and overall weight. I can see where a small amount of extra drag could have a substantial influence, especially when on that edge.
@g

[2018-05-13 16:49] wlbragg commented on #958
2nd works.

[2018-05-13 16:52] gilbertohasnofb commented on #1003
Well if you want to do that go ahead, in particular if anyone can come up with concrete values. IMO anything which is unquantifiable is just hogging our system, regardless of being light on resources or not, and a few lines here can end up making a large chunk in a project that lasts for a long time. But this is just my view and I leave it totally to you guys.

[2018-05-13 17:26] wlbragg commented on #1003
I agree.

It wouldn't hurt to get a few more FDM people's input here on the worth of modeling or accounting for these small influences. Another way to look at it is, several small influences to the drag in the FDM can turn into a big influence.
Personally I am inclined to go for authenticity. It is not quantifiable alone or at least in combination with other factors, then I say leave it out. But i

[2018-05-13 18:49] wlbragg commented on #798
@gilbertohasnofb here is the first pass at interior.png. This is going to be the tough one to separate as the doors are of a substantial size.
Also see #1104 for the current mapping of everything on that sheet.
![aoint](https://user-images.githubusercontent.com/11069680/39970618-3d0961a4-56b4-11e8-8053-79e79aa1c064.png)

[2018-05-13 18:50] wlbragg commented on #1104
Current mapping of everything on interior.png. If you need me to decipher any of the mappings, let me know. We may have to add another texture sheet? Although there is plenty of white space with better organization and some of the large textures such as carpet and chassis I'm sure could be reworked to gain space back.
![int1](https://user-images.githubusercontent.com/11069680/39970620-3f95a9fa-56b

[2018-05-13 18:55] wlbragg commented on #1104
We have room on panel.png that we could potentially more something from interior.png over to if we need to.

[2018-05-13 19:05] gilbertohasnofb commented on #1104
@wlbragg Ok, I think we need to talk. Separating the interior will be an absolutely nightmare for me, given all the liveries and the number of objects involved... I just don't think it's worth just for the light map, in particular given the discussion we had [here](https://github.com/c172p-team/c172p-detailed/issues/438) and the fact that we already have the flashlight implemented. I also don't th

[2018-05-13 19:07] gilbertohasnofb commented on #798
@wlbragg why is it so dark? Could we tweak it a bit to add more contrast? Also, a couple of things: the metal panel in the back of the interior is missing from the map, and there are a couple of weird artifacts here and there, most of which I can clean except for the ones in the seats which look quite problematic.

[2018-05-13 19:44] gilbertohasnofb commented on #1104
@wlbragg Alternatively, here is one idea: let's model only the roof lamp which is anyway the only thing that comes from factory to the model P. If we position this light source (which has two modes, red and white) exactly in the centre of the ceiling in between the two seats, then the lightmap will invariably be symmetrical on the doors and pilot and copilot seats. This way we can get away without

[2018-05-13 19:46] gilbertohasnofb commented on #1104
The only thing I would need from you is to map the copilot seat as a 'reflected' version of the pilot seat, is that doable in Blender? Then when creating the AO map and light maps you will need to select only one seat and only one door as not to count both on the final result.

[2018-05-13 19:48] wlbragg commented on #1104
@gilbertohasnofb that's fine! I can't say as I blame you. If it was just the one texture sheet this really wouldn't be that big of an ordeal. But to make that change throughout the entire livery, well, I get it!
No problem from me.
With that said I think we are doing enough with panel.png and panel_parts.png that we can get at least a couple of the light maps we want. The one that will probably be

[2018-05-13 19:49] wlbragg commented on #1104
@gilbertohasnofb  we posted at the same time and I think we are indeed on the same page.

[2018-05-13 19:49] gilbertohasnofb commented on #1069
@wlbragg given the size of the seats they might end up influencing the AO and light maps so I guess we also need to tackle this before baking new ones. Do you think you could take a look at it? Basically removing the headrest and making the back bit a bit taller would already suffice (note in the photos above how the seat goes as high as the glareshield, more or less). We could also make the seats

[2018-05-13 19:51] gilbertohasnofb commented on #1104
Fantastic. So I will start with the clean up of `panel_parts` and `fuselage`, please do take a look at my comment concerning the headrests and my comment above about flipping the mapping of the copilot seats. Once that's done we can move back to AO maps and then finally light maps.

[2018-05-13 19:52] wlbragg commented on #798
@gilbertohasnofb I noticed the darkness, I will investigate that. The imperfections in the seat are probably multi-objects mapped to them, I'll investigate that as well.

Hum, let me see what I did with it!

[2018-05-13 19:59] wlbragg commented on #1069
@gilbertohasnofb
Yeah, I think it is all doable.

[2018-05-13 19:59] wlbragg commented on #1104
Yes, please do.

Yeah, should work.

I'm looking to see what you mean, I'll report back as soon as I have a look.

[2018-05-13 20:02] wlbragg commented on #1104
I see what your saying, should be able to do that.

[2018-05-13 20:15] wlbragg commented on #1100
Sure you don't want me to also model it in the mesh? It's not a big deal. I can even animate it so we have a working "glove box".

[2018-05-13 20:38] wlbragg commented on #1069
Because were doing this I want to get this part correct. Please examine this comparison and describe you impression of seat height, size, seat mounting frames height and size.

![seats1](https://user-images.githubusercontent.com/11069680/39971592-76975ade-56c3-11e8-8afe-5455f18a481e.jpg)

[2018-05-13 20:46] gilbertohasnofb commented on #1069
Great photo and angle!

* seat frames in the floor should be a tiny bit taller
* seat cushion should have an angle (front part pointing a bit upwards), otherwise thickness is good
* seat cushion needs to be moved upwards (by making the mounting frame taller)
* back support part should be quite taller, nearly reaching the glareshield height
* back side of back support model should be flatter than t

[2018-05-13 20:58] wlbragg commented on #1069
Did you mean to say "FATTER" instead of "flatter"? Or are you talking about the shape?

[2018-05-13 21:00] gilbertohasnofb commented on #1069
I meant flatter, but it's just a small detail. Right now our seat is curved on the back side of the backrest while in the photo it's pretty much flat, but that's a veeery low priority thing.

[2018-05-13 21:10] wlbragg commented on #1069
OK, I see you said "back support" as in back rest, I missed that, gotcha!

[2018-05-13 21:11] gilbertohasnofb commented on #1069
Apologies for the broken English, for the second message I did look in a dictionary in order to make sure we were understanding each other :smiley:

[2018-05-13 21:25] gftg85 opened #1106 "VOR Needle behavior change"
Hi,

Pull request #1066 changed the behavior of the needles of the VORs.

Before the pull request was applied, the needles moved entirely to the left and to the right (with an angle), just like the picture below:

![fgfs-screen-009-crop](https://user-images.githubusercontent.com/5084383/39971863-0fb4a7e2-56da-11e8-8d25-2355b19c37ba.png)

After the pull request, the needles still work, but they onl

[2018-05-13 21:46] gilbertohasnofb commented on #1104
@wlbragg I am ready to push `panel_parts`, now I will work on `fuselage`.

Ok, the panel_parts and fuselage textures are done for 4X-CHV livery. Note that:

* due to the symmetry of the light map, I did not bother with the door and window handle
* I found some more unused textures which freed even more space.
* the breakers and the avionics switch were mapped to `/Models/Interior/Panel/Buttons/bre

[2018-05-13 21:48] gilbertohasnofb commented on #1106
@wlbragg can you urgently take a look at this since @onox is preparing a release? this is an ultra serious bug!

[2018-05-13 21:49] gilbertohasnofb commented on #958
@onox there is a release stopping bug reported https://github.com/c172p-team/c172p-detailed/issues/1106 and we must fix it urgently, please hold back if you were preparing a release today.

[2018-05-13 22:02] wlbragg commented on #1069
@gilbertohasnofb
What do you thing, I pushed it so you can see it live.
![st2](https://user-images.githubusercontent.com/11069680/39972192-701578b0-56cf-11e8-9e20-6192d9b4dddd.jpg)
![st1](https://user-images.githubusercontent.com/11069680/39972193-7035e9ba-56cf-11e8-9347-ac5d13689fe4.jpg)

[2018-05-13 22:02] gilbertohasnofb commented on #1104
I'm done with `fuselage.png` as well, here are the new textures:

![image](https://user-images.githubusercontent.com/5700795/39972194-bc9fb81c-5701-11e8-8d04-37104ce2ea5c.png)

Let me know if anything is unclear.

[2018-05-13 22:03] gftg85 commented on #1106
FYI: I didn't mention in the bug report, but this new behavior can also be seen in the glide slope needle.

[2018-05-13 22:05] gilbertohasnofb commented on #1069
That would be great. Just do a git pull before as I pushed two commits. And we really need to tackle https://github.com/c172p-team/c172p-detailed/issues/1106 still today as that is breaking the release. I would suggest stopping everything and going for that one on a clean branch. I can test it if we manage to fix in the next hour or so but tomorrow I will have a very early and busy day :sob:

[2018-05-13 22:06] gilbertohasnofb commented on #1106
@gftg85 Really appreciate the report, many thanks for spotting this before the release.

[2018-05-13 22:06] wlbragg commented on #1106
@gilbertohasnofb just noticed this, looking at it now.

[2018-05-13 22:13] gilbertohasnofb commented on #1100
@wlbragg I am pushing a new `panel_parts` adding now a texture for the black plastic lock of this pocket, see:

![image](https://user-images.githubusercontent.com/5700795/39972252-2d1e4472-5703-11e8-8b62-0d7d2908c89c.png)

so do a git pull before continuing with anything else on that branch

[2018-05-13 22:25] gilbertohasnofb commented on #1106
@wlbragg I will test your PR but first I need to understand how to reproduce the bug in order to see if it was fixed. @gftg85 could you describe to me how you can reproduce this? I tried tuning in to a VOR station and playing around with the radial button and also flying around but they behaved as expected to me.

[2018-05-13 22:26] wlbragg commented on #1106
Van you give me a frequency and ICAO you used to get them to move?

[2018-05-13 22:35] wlbragg commented on #1069
@gilbertohasnofb

I will fix that.

I can change that.

Should be able to. I'll look at that also.

[2018-05-13 22:38] gilbertohasnofb commented on #1069
Great!

Needs to do the same for all the pilot, copilot and walker models

[2018-05-13 22:43] gftg85 commented on #1106
That's what I did, as well, but the behavior was different.

I didn't think it was a problem on my system, because I tried with older commit IDs and it worked as before, but maybe it is indeed my system that is broken?  (I'll try the fix, too)

To reproduce it, I open flightgear with the airport set to PHMK.  On the radio panel, I set NAV1 frequency to 114.8 (HNL) and the radial to 42 degrees.

[2018-05-13 22:52] wlbragg commented on #1106
@gilbertohasnofb I think it is still incorrect. I have to look at the original to figure this out. Please give me a few.

[2018-05-13 23:04] gilbertohasnofb commented on #1106
I just tried that and they behave as normally. I took off and flew around a bit, the needles moved a bit as expected but not the whole instrument. Are you sure you are using the current `master` branch in your test? Is there something else you might be missing that is needed for the bug? Some aircraft option perhaps? It's really weird though as if this was caused by lifting the panel then I should

[2018-05-13 23:05] gilbertohasnofb commented on #1106
@wlbragg did you try his instructions? What did you see?

[2018-05-13 23:06] gftg85 commented on #1106
Wait, maybe I did not express myself clearly...  I didn't mean that the whole instrument moves (maybe the third picture gave the impression that I was complaining about it, sorry).

Just look at the two first pictures in the bug report...  Only the needle movement is weird.

[2018-05-13 23:08] gftg85 commented on #1106
I tried the pull request #1107 but it didn't fix the problem.  :(

[2018-05-13 23:09] gilbertohasnofb commented on #1106
I see now... the needle should be fixed on top at the north position and move only in the bottom part, thus having a shape like `/` or `|` or `\`. Your last pictures confused me a lot, I don't understand why you posted them, but let's ignore that. I will remove them from the post if that's all right.

@wlbragg did you get what's the issue? it's the rotation pivot point of the needle only.

[2018-05-13 23:10] wlbragg commented on #1106
@gilbertohasnofb @gftg85
He was correct in seeing an error, I failed to offset the needles properly.
Should be corrected in the last commit.

[2018-05-13 23:10] gilbertohasnofb commented on #1106
@wlbragg basically the centre of the needle rotation is still on the original position which is now near the centre of the gauge, which is why it's pivoting in an unproper way.

[2018-05-13 23:13] gilbertohasnofb commented on #1106
@gftg85 could you please confirm the PR solves it for you? It's all good on my side now.

[2018-05-13 23:52] wlbragg commented on #1069
@gilbertohasnofb I may have spoke too soon. This looks like it could be a nightmare. I will be really disappointed if we can't change our interior, like new or different seats, because of a pilot model that we don't even control. This is one of the main reason I absolutely hate using shared resources.
This human model system is somewhat complex, i had no idea. I'm still looking at the code and con

[2018-05-14 00:00] gilbertohasnofb commented on #1069
I think it's the same model for the pilot and walker, but I am not familiar with how they work. I also hate using these shared resourced, someone had once proposed improving these models but it's 4 years later and it never happened, since it's much more annoying to fix something in FGData than just here in our repo. Same could be said about our instruments: had they not being made local we would n

[2018-05-14 00:04] gilbertohasnofb commented on #1069
@wlbragg See: https://github.com/viktorradnai/flightgear-ask21/issues/140

Perhaps it would be great to have a model without the hat and sunglasses as well (that outift look _very_ much made for a glider).

[2018-05-14 00:05] wlbragg commented on #1069
@gilbertohasnofb It's not as bad As I anticipated. It looks like there is one offset number to move everything around. Resizing though may be another story. We may have to live with the head poking through the wing!

[2018-05-14 00:07] gilbertohasnofb commented on #1069
No problems, we have lived with that for quite some time already. Let's hope those new models would arrive one day, they look so much better as well...

I am off for today. Do check the new textures I pushed and see what you think of them and let me know if something is unclear. They might give you a bit of work re-UV-mapping everything but hopefully not too much.

[2018-05-14 00:10] gftg85 commented on #1106
Thank you!

The problem is fixed with the new commit (I checked from master).

[2018-05-14 00:11] gilbertohasnofb commented on #1106
@gftg85 That's great to know! Thanks again for the report and please do let us know every time you see something behaving wrongly :smile:

[2018-05-14 05:53] wlbragg commented on #1104
@gilbertohasnofb it looks like we were both fooled. The breakers are mapped to their own texture sheet called breakers.png. I can remap them to the new ones you created and see wht they look like?

[2018-05-14 09:06] gilbertohasnofb commented on #1069
I think I did bring this up once many years ago and I suspect the reason is that animating the model involves a lot of work and fine tuning (e.g. the hands must be at the yoke all times, the foot should move together with the pedals) and nobody took this job up. But frankly, given how ugly these models are, I would wait a tiny bit more and see if the models get replaced before investing a lot of t

[2018-05-14 09:06] gilbertohasnofb commented on #1104
@wlbragg Fantastic, I will check it in the evening.

[2018-05-14 17:16] wlbragg commented on #798
Final panel.png AO map?
I notice it looks darker, but I have added more objects such as seats flooring, firewalls, etc., which may account for it getting darker?
I figure you can adjust in Gimp if needed?
![aopanel](https://user-images.githubusercontent.com/11069680/40012479-707576ec-5770-11e8-844f-1da2e39c1dbe.png)

[2018-05-14 17:18] gilbertohasnofb commented on #798
@wlbragg The problem is that what I am interested the most is in having a natural looking shadow from the AO map in the pedestal, and if the pedestal is nearly completely black then there is not much use to me. Would it be too much trouble to try doing this again but removing some of the interior objects? That influences the pedestal the most will be the panel and the glareshield (in case the bott

[2018-05-14 17:28] wlbragg commented on #798
I found the correct setting to adjust, These are all low resolution. Choose your option or anything in between these and I can bake a high res final.
![aopanel-75](https://user-images.githubusercontent.com/11069680/40013035-179c9a9e-5772-11e8-8ee8-a973b6e6b6eb.png)
![aopanel-5](https://user-images.githubusercontent.com/11069680/40013044-1a143818-5772-11e8-8dd5-abb1eebb627b.png)
![aopanel-05](https

[2018-05-14 17:31] gilbertohasnofb commented on #798
If it's not too much trouble, could you send me both no 1 and no 2 from your last post?

[2018-05-14 17:52] wlbragg commented on #1104
This part too.
![map](https://user-images.githubusercontent.com/11069680/40014268-b573a9bc-5775-11e8-8d34-43d7138b3132.jpg)

[2018-05-14 17:53] gilbertohasnofb commented on #1104
Ok, I will push a change in a minute. But can you tell me if this texture here (green arrow) is being used at all?

![image](https://user-images.githubusercontent.com/5700795/40014303-1ae61ed8-57a8-11e8-9e15-4c723a9ddf9a.png)

[2018-05-14 17:57] wlbragg commented on #1104
Yes it is. No hurry, I'll be gone for awhile.

[2018-05-14 18:03] gilbertohasnofb commented on #1104
What is using that? The primer?

Ok, I am pushing the fixed texture now, here is the texture for the illumination knob:

![image](https://user-images.githubusercontent.com/5700795/40014804-6edbae08-57a9-11e8-83d7-e07deffd7ca3.png)

And one more thing, I changed my mind about what @legoboyvdlp wrote, I think the side part of the pedestal could do with a re-UV-mapping, it looks messy and will influe

[2018-05-14 20:42] wlbragg commented on #1104
Yes

Thank you for the new texture!

I'll re-map the pedestal at the same time as I re-map the throttle and light_control, actually I am doing that now..

[2018-05-14 20:49] wlbragg commented on #798
I was baking this "hi-resolution" ao map while I was away. We will have to do it again after i re-map the pedestal, but for now this gives you yet another test for contrast.
Just so you know. The two you are requesting are distance setting of 1. and .75.
This one below is at .875. As soon as I remap the pedestal I will bake you another one or two "final" versions. In the mean time, please decide w

[2018-05-14 20:52] wlbragg commented on #798
@gilbertohasnofb keep in mind, it looks like the higher resolution is baking darker than the three examples above when you request what setting to use..

[2018-05-14 21:30] gilbertohasnofb commented on #798
@wlbragg Yes, the last one is definitely too dark. Could you try two different values lower than .875 so that we can try to get something like the first and second ones from your previous post?

[2018-05-14 21:42] wlbragg commented on #1104
@gilbertohasnofb this stuff should all be finished and I should be ready to make the final AO bakes.

[2018-05-14 21:44] gilbertohasnofb commented on #1104
Looks really good!

[2018-05-14 21:45] gilbertohasnofb commented on #1100
Two comments:

![fg](https://user-images.githubusercontent.com/5700795/40025066-64d910ca-57c8-11e8-963b-528c0324ff96.jpg)

1) isn't the pocket door a bit too thin?
2) where id the texture to the pocket come from? I would think it's best to map it to a new texture.

[2018-05-14 21:46] gilbertohasnofb commented on #1100
So that it can also show up in the AOmap (then when you bake the `panel_parts` just remember to open the pocket)

[2018-05-14 22:05] wlbragg commented on #1100
I actually mapped it to the Radio Stack plate (behind the radio stack). I did that because that texture space is really irrelevant for maps of any kind because it is covered (for the most part) by the radios. Also the pocket (glove box) is not included in any effect because you can't have shadows moving across it anytime it is closed or it may not look right. There is no way to tell it to only sho

[2018-05-14 22:06] wlbragg commented on #1100
So you want to us an AO map for the interior of the box?

[2018-05-14 22:08] gilbertohasnofb commented on #1100
Yep, so that the bottom part is a bit lighter than the walls, and the walls will have a diagonal shadow like this:

![image](https://user-images.githubusercontent.com/5700795/40026055-bff723a4-57cb-11e8-9ab3-0d8c5eaff3e7.png)

[2018-05-14 22:10] gilbertohasnofb commented on #1100
I will make a texture for you. Would this be fine?

![image](https://user-images.githubusercontent.com/5700795/40026122-fd340e44-57cb-11e8-80d6-ac69b2a9d3e8.png)

I will add to `panel.png`

[2018-05-14 22:13] gilbertohasnofb commented on #1100
BTW I just think the pocket door should be thicker but it looks like it doesn't have those bits on the side, see this one from a C182:

![](https://www.picclickimg.com/d/l400/pict/321719749975_/Cessna-182-Glove-Box-Door.jpg)

[2018-05-14 23:03] gilbertohasnofb commented on #1104
@wlbragg you missed the texture for the glareshield vent

[2018-05-15 06:04] onox commented on #958
@wlbragg @gilbertohasnofb I've shorten the the release notes a bit here in preparation for updating `NEWS.md`.

[2018-05-15 06:26] onox opened #1108 "Gather a list of features and bugs we fixed in 2018.3"
We should gather a list of all the new features, major changes, and bugs we fixed. Please create a list (use \* to create bullet points) here.

**Features**:

* Improved 3D models and textures of all levers, toggles, seats, magneto keys, EGT gauge and attitude indicator
* New recess casings to all panel instruments
* Improved labels of panel texture
* Added 3D models to cockpit:
    - Alternate st

[2018-05-15 09:53] legoboyvdlp commented on #958
Awesome!

[2018-05-15 10:19] gilbertohasnofb commented on #958
Thanks to you all, in particular for saint @wlbragg and all his patience :rofl:

:tada: :tada: :tada:

[2018-05-15 11:40] stuartbuchanan commented on #958
Great.  I'm away this so it will be Monday before I get the chance to check
it in.

On Tue, May 15, 2018 at 11:19 AM, Gilberto Agostinho <
notifications@github.com> wrote:

[2018-05-15 13:36] wkitty42 commented on #958
On 05/15/2018 07:40 AM, stuartbuchanan wrote:

ummm... the FG 2018.2 release branching is in three days, isn't it... i think
the team is aiming to get this into the 2018.2.1 release... or am i missing
something?

just asking...

[2018-05-15 14:26] gilbertohasnofb commented on #798
These look excellent, thank you so much. When you have a chance please do bake me the interior one as well and then we will be done with this!

[2018-05-15 19:12] gilbertohasnofb commented on #958
Yes, we intended to get this release merged before the 2018.2.1 release. @stuartbuchanan is there anyone else who could take care of merging this aircraft to FGData in time?

[2018-05-15 19:51] gilbertohasnofb commented on #798
@wlbragg Also, could I ask you for a mega favour? Could you bake me another AO map for panel_parts but including the glareshield this time? This texture is actually 1024 x 1024, only interior and panel are 2048 x 2048 by the way.

[2018-05-15 19:55] gilbertohasnofb commented on #798
And these are the results so far:

![fg-2](https://user-images.githubusercontent.com/5700795/40080090-d72b8b08-5881-11e8-9738-dbb1d77b61d6.jpg)
![fg-3](https://user-images.githubusercontent.com/5700795/40080091-d7655b4e-5881-11e8-9bbf-e36803e06efb.jpg)

Here is a before and after of a lighter livery (which was done just as a test and is not pushed, as agreed I will work only on the default one unt

[2018-05-15 20:03] gilbertohasnofb commented on #798
Here is a before and after of the black panel, the difference is also huge:

![fg-0](https://user-images.githubusercontent.com/5700795/40080576-4b27ee92-5883-11e8-86f2-c6407b81b70c.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/40080598-5457ba1a-5883-11e8-9587-5901bd8d11c1.jpg)

[2018-05-15 20:15] gilbertohasnofb commented on #798
Sorry but one more shot, the pedestal is looking so good now!

![fg-3](https://user-images.githubusercontent.com/5700795/40081121-fa8aed34-5884-11e8-9388-ca4ed2f180f7.jpg)

@wlbragg I found a white line in between the pedestal and the back panel behind the pedals, could you check what is causing that?

![fg-2](https://user-images.githubusercontent.com/5700795/40081150-0bf9318e-5885-11e8-803e-08c38

[2018-05-15 21:43] gilbertohasnofb commented on #798
Sorry, two more shots. I think this is looking _really_ good!

![fg-0](https://user-images.githubusercontent.com/5700795/40085105-4f1f78a4-5891-11e8-801b-7e27debab5fd.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/40085106-4f3f8eaa-5891-11e8-8384-be7ef630a371.jpg)

[2018-05-16 09:56] stuartbuchanan commented on #958
Sorry - hadn't realized that timing wouldn't work.

I'd suggest trying Torsten, Richard or James.

-Stuart

On Tue, May 15, 2018 at 8:12 PM, Gilberto Agostinho <
notifications@github.com> wrote:

[2018-05-16 10:04] gilbertohasnofb commented on #958
@stuartbuchanan Thanks for the info, I just wrote the dev list.

[2018-05-16 19:16] wlbragg commented on #1100
@gilbertohasnofb I'm back. I thought you already did this texture but after pulling I see you haven't, Yes, by all means I map it.

[2018-05-16 19:39] wlbragg commented on #798
@gilbertohasnofb

Yes looks great.

You are aware that will be corrected when you update liveries, right?

Could you bake me another AO map for panel_parts but including the glareshield this time?

Even though you did it manually I am baking everything at least one more time. I'm almost done. Why am I baking them again you may ask, I cleaned a bunch of stuff up and made the maps a bit more useful.

[2018-05-16 20:11] wlbragg commented on #798
@gilbertohasnofb these two small items are why am am baking yet another panel_parts.png AO, every run I discover more issues that really should be dealt with in time to make this easier and to improve the visual.
These two object textures could be improved and the ao would be so much better because the visible undersides would be darker. In this instance we can get away with it because I think the

[2018-05-16 20:33] wlbragg commented on #798
@gilbertohasnofb  the window handle might be worth it. The door handle I'm not so sure about as far as baking the ao map is concerned. reason being, you almost need to make the AO map for the handle by hand as it is going to make black because it is hidden from light when closed. You will want to make the AO in the shadow areas only for in the open state so it looks right when open, when closed th

[2018-05-16 21:15] wlbragg commented on #798
@gilbertohasnofb here is panel_parts.png at .5. I am baking the one more at .25. It should be done in 30 minutes or so.

[2018-05-16 21:19] wlbragg commented on #798
Oops, still forgot the glare shield vent in the main blend and the AO blends.

[2018-05-16 22:27] wlbragg commented on #798
panel_parts.png at .5
![aopanelparts 5](https://user-images.githubusercontent.com/11069680/40147210-73f34406-592e-11e8-8c06-7756657ad837.png)

[2018-05-16 22:33] gilbertohasnofb commented on #958
Thanks @onox for some reason my original email didn't go through, I resent it now and hopefully it will arrive this time.

[2018-05-16 22:33] gilbertohasnofb commented on #1100
@wlbragg great, I will take care of this tomorrow then

[2018-05-16 22:43] gilbertohasnofb commented on #798
Yep, I am aware of that, I jsut informed that to avoid anyone being confused at the screenshots.

Great, I will take a look at this tomorrow and incorporate whatever changes might be useful. Really appreciate all the work you are doing!

Thansk for fixing the arm rests and about the glare shield I have manually created an 'AO map' myself which is looking pretty decent.

I've clean everything manua

[2018-05-16 22:45] gilbertohasnofb commented on #798
So here is my plan for tomorrow:

* inspect if the window handle and door handle are worth to be broken into two textures which you would need to re-UV-map and re-bake panel_parts
* work on `interior.png` and add the AO map to it
* merge your new AO maps to the current ones in `panel` and `panel_parts` in case they change something
* once all is good and we agree that the result is fine I will the

[2018-05-16 23:13] wlbragg commented on #798
@gilbertohasnofb Yep, here is the last panel_parts at .25
![aopanel 25](https://user-images.githubusercontent.com/11069680/40148668-d2cf54e6-5934-11e8-99b5-004f6d86ee7e.png)

[2018-05-16 23:30] gilbertohasnofb commented on #1100
Just pushed a texture to `panel.png`, this is the layout (hopefully it won't be too confusing):

![image](https://user-images.githubusercontent.com/5700795/40149013-094ec69e-5969-11e8-8a1f-17481332b1f0.png)

[2018-05-16 23:33] gilbertohasnofb commented on #798
@wlbragg Ok, so I pushed everything. The window handle has been duplicated and needs re-uv-map, the door handle was an overkill and I left it alone. I added the AO map to `interior` and I improved the seat texture (less leathery, more uniform). `panel` and `panel_parts` have had a minor updated to the AO map using parts of what you created above. There is a new texture for the glove compartment (s

[2018-05-17 03:30] wlbragg commented on #798
Ah, I didn't realize panel_parts was 1024X, will do.

Good thanks, should be fall finished by tomorrow late.

[2018-05-17 03:31] wlbragg commented on #1100
@gilbertohasnofb looks good, thanks.

[2018-05-17 17:10] onox commented on #798
@gilbertohasnofb It looks like the new vintage livery doesn't have the AO map yet?

[2018-05-17 17:12] gilbertohasnofb commented on #798
@onox only the default livery has the AO map so far (I posted a couple of shots of ZS-MDF but I did not push those). It's too much work to alter things on all liveries at the same time, so @wlbragg and I agreed to work only on 4X-CHV and once we agreed that all looks good I will then apply the same to all other liveries.

[2018-05-17 18:44] gilbertohasnofb commented on #958
@onox are you following the discussion on the list about how to tackle these merges of our repo into FGData? I am not very knowledgeable about these things so it would be ideal if you can keep an eye on the discussion over there

[2018-05-17 19:02] wlbragg commented on #798
@gilbertohasnofb that is the ElevatorTrimPos mapped to a blank white area.

[2018-05-17 20:14] wlbragg commented on #798
Sorry, it's something I moved recently because I noticed it mapped somewhere else odd. I see it in Blender but don't think to remember in Gimp it wouldn't even be there at all.

Thing look really good overall.

I wasn't 100% satisfied with the window latches. I don't like the stripes from the edge mapping so I moved the edge mapping a little, just enough to remove those stripes.

With that I think

[2018-05-17 20:35] gilbertohasnofb commented on #798
No problems! Let's just always try to remember to keep communication between textures and 3D model, and I'm always happy to create new ones as well so no need to duplicate anything :smile: :+1:

Thanks for fixing that! I did notice it but I forgot to remind you about that.

Great, I will try to get this done maybe still today. Do check my reports about some bugs/issues on the PR page.

Yes it does

[2018-05-17 22:07] gilbertohasnofb commented on #798
All liveries are pushed now! :smile:

[2018-05-17 23:54] gilbertohasnofb opened #1109 "Improve trim wheel"
Our trim wheel model could do with some improvements. In particular, the details around the trim are have spherical shapes:

![](https://user-images.githubusercontent.com/5700795/39957515-24d70f8c-55ec-11e8-995b-0a1e552d3091.png)

While in our model they are rather cubic:

![fg](https://user-images.githubusercontent.com/5700795/40207650-903510ea-5a2d-11e8-8d2e-4b276a0908f2.jpg)

[2018-05-17 23:59] gilbertohasnofb commented on #438
@wlbragg shall we attempt to tackle this one next? As we discussed, we currently have lights on the instruments and the flashlight so all we need to add is a central dome flood light. It will be on the ceiling in between the pilot and copilots seat so that we can exploit the symmetry on duplicate items (doors, seats, etc.).

Question: do we need one map per panel livery? And if we do need that is

[2018-05-18 00:05] gilbertohasnofb commented on #438
Also, if we are going to implement this then perhaps we should consider making that little panel on the ceiling a full 3d object instead of using just a texture. And if you'd be up for that let's not use my texture as reference but let's search for some photographs. We'd basically need a speaker and a dome light element:

![](https://www.forever-sunset.com/puiku/foreversunset/interior-dome-light-n

[2018-05-18 00:14] gilbertohasnofb opened #1110 "Add sunvisors above the pilot and copilot seats"
We could add sunvisors above the pilot and copilot seats:

![](https://www.inflightpilottraining.com/wp-content/uploads/2015/06/Cessna-172-Interior-Inflight-Pilot-Training.jpg)

They could be adjusted using click and drag, so that their position can be adjusted to any angle like in the c182s. Actually we could even use that model as a base but the 172p should have non-transparent sunvisors.

[2018-05-18 03:04] wlbragg commented on #438
@gilbertohasnofb  sounds like a good "next" project. Absolutely I would like to see an actual photo of our make and model aircraft if anyone can find it. The light map should be relatively easy at this point as I have the mesh setup pretty well to create it I think.

[2018-05-18 05:30] wlbragg commented on #438
@gilbertohasnofb  sounds like a good "next" project. I would like to see an actual photo of our make and model aircraft showing this if anyone can find it. The light map should be relatively easy at this point as I have the mesh setup pretty well to create it I think.

[2018-05-18 06:28] tonghuix commented on #1109
I think the round balls should more far away from each other.

[2018-05-18 06:43] onox commented on #958
How they want to automate it is not really my concern. I just try to create a release branch in time with a predictable name (`release/2018.1`, `release/2018.2`, etc.)

Like @zakalawe said, removing the data requires another download, so doing a git checkout of the release branch and then rsyncing it might be easier.

[2018-05-18 08:10] wlbragg commented on #1109
OK, I decided to do it tonight before I called it quits for the night. If you actually count the knobs you'll see that it is one off from the photo. It's going to have to be close enough. I did all the practicing my little old heart cold take. :smile:
![trim](https://user-images.githubusercontent.com/11069680/40223533-037c3252-5a49-11e8-8f16-5f4127250895.jpg)

[2018-05-18 08:19] wlbragg commented on #1109
I gotta say, I thought after I looked at the first pass that it indeed looked like they were too many knobs. But after counting that first one's knobs it is actually 9 or 10. The photo has the same, so I am not so sure it was any more or less accurate than the final version. Looking closely at the design of the wheel, I think part of the deception is the disk itself, It's a bit thinner and has a r

[2018-05-18 09:53] legoboyvdlp commented on #438
Hi,
When I made the logo light for the IDG-A32X I just made one lightmap effect and it worked for each livery.
- J

[2018-05-18 09:56] legoboyvdlp commented on #1109
Don't kick the bucket just yet, you are invaluable to the c172p 🤣
Nice work as always!

[2018-05-18 13:31] D-ECHO commented on #1069
I haven't had any progress on these models unfortunately. A major problem is getting them into the correct position, I think there can be something done using armatures but I have never used this

[2018-05-18 13:58] gilbertohasnofb commented on #1069
That's a pity :disappointed:

[2018-05-18 14:01] gilbertohasnofb commented on #1109
@wlbragg I think you last screenshot above looks amazing, let's use that layout! I think that _looks_ better and closer to reality than just counting the knobs. Our whole model is not that precise concerning sizes and thickness so invariably we will run into these sort of things. My vote is to use your work from the screenie above.

As for the texture, I will take care of that later today.

[2018-05-18 14:02] gilbertohasnofb commented on #438
@wlbragg Great! Do you know how to proceed with this?

@legoboyvdlp Good info, a single light map would be ideal. I just hope they can look good on both the dark and light panels and interiors.

[2018-05-18 18:19] wlbragg commented on #1109
Well gang, I got on my computer today for the first time only to discover overnight my Linux distro decided to loose its network capability so I had to boot up on my Windows partition, YUCK! I realized I hadn't booted into Windows in over two years. So I am going to be incapacitated until I either fix my Linux install or reinstall it. I guess I must have lost a file or two to corruption, only thin

[2018-05-18 21:46] gilbertohasnofb commented on #1109
@wlbragg Oh that sucks, sorry for the issues you are having! I am also on Linux and I boot to Windows very seldom. Good luck fixing it and take your time, we are not in a rush with anything here.

[2018-05-18 22:13] gilbertohasnofb commented on #1109
I pushed a new texture for the trim to all panel_parts, see:

![image](https://user-images.githubusercontent.com/5700795/40260131-f43f9286-5af0-11e8-80a1-02341fc4c254.png)

And by the way, where is this part of the microphone mapped to? I can't find it in panel_parts

![image](https://user-images.githubusercontent.com/5700795/40260144-0910f6a0-5af1-11e8-9ab0-7136c31b1e5e.png)

[2018-05-18 22:16] gilbertohasnofb commented on #1023
A couple more issues about the carb heater:

* it should be smaller
* it's corners should be rounder (see the photos of OH-CTL in the main post above)
* it should have its sides UV-mapped as well (marked in green below)

![image](https://user-images.githubusercontent.com/5700795/40260245-7f4604be-5af1-11e8-85ec-eafe2dcc8831.png)

[2018-05-18 22:20] gilbertohasnofb opened #1111 "Improve toggle 3D models"
When viewed a bit sideways (e.g. from the copilot seat) the toggles do not look too good, see:

![image](https://user-images.githubusercontent.com/5700795/40260281-a599f030-5af1-11e8-9c16-1f6ea0878ce8.png)

It's as if they are missing part of the model. This is how they look in RL:

![image](https://user-images.githubusercontent.com/5700795/40260332-f1877eb8-5af1-11e8-99b2-198ad7890e0a.png)

[2018-05-18 22:28] gilbertohasnofb commented on #438
@wlbragg could we also have a second light map which would improve the gauge illumination effect? Look how awesome this looks here:

![](http://imgproc.airliners.net/photos/airliners/7/2/2/2154227.jpg?v=v40)

[2018-05-18 22:28] gilbertohasnofb commented on #438
This is how the cockpit would look with the red flood light (it should toggle white/red):

![](http://imgproc.airliners.net/photos/airliners/3/0/8/1980803.jpg?v=v40)

[2018-05-18 22:30] gilbertohasnofb commented on #438
![](https://c7.alamy.com/comp/C1WET6/night-vfr-flight-in-a-small-plane-cessna-172-over-luxembourg-town-C1WET6.jpg)

![](https://lionair.nl/wp-content/uploads/2018/02/darkcockpit2018.jpg)

This sort of effect. It's hard to find good photos so we will need to use our good judgment, but they shouldn't be too bright.

[2018-05-18 22:32] gilbertohasnofb commented on #1109
It could and if that's it then it's all fine with me, I just would like some confirmation.

[2018-05-18 22:33] legoboyvdlp commented on #438
Wllbragg,
Frankly, I'm not sure if this will work woth Blender's Internal Renderer (which also is becoming obsolete in the new blender 2.8 fwiw, so FlightGear development must be on 2.79 to continue to use the materials!), but to get the lighting right, you would could probably install filmic lighting to blender. This allows you to have more realistic lighting by increasing the dynamic range to a