[2019-03-25 20:00] wlbragg commented on #1199
I'm not saying there might not be other issues. But I have thoroughly been through this one and already hit it myself.
That white blank screen is cause when the view repositioning code tries to use a property that doesn't exist.
This is the way I save the default user data the first time, after that if the flag is set then it never saves the original "default config" data again. I added more data

[2019-03-25 20:10] wlbragg commented on #1199
I actually think I like the second approach better and it is less likely to screw up. I'm going to try it that way and delete some of the cached data but not all and see if it works.

[2019-03-25 20:16] wlbragg commented on #1199
That worked well, now what happened to you can't happen, ever and it removed the need for a new property.

[2019-03-25 23:06] gilbertohasnofb commented on #1263
@wlbragg do you have any suspicion of what might be causing this?

[2019-03-25 23:35] wlbragg commented on #1263
No, that is as far as I got. I'd have to start from that bit of knowledge and just keep running it and observing properties I guess.

[2019-03-25 23:49] gilbertohasnofb commented on #1199
Emptying the cache did the trick, but I found another bug, here is how to reproduce it:

* start in the default view
* now move the seat anywhere using the Alt plus keys, say raise it a bit
* at this point, pressing `Q` resets back to the default view and pressing `q` goes back to your setting
* cool, so after pressing `q`, move the seat a bit more upwards. Press `Q` and `q` and confirm that the u

[2019-03-26 01:58] wlbragg commented on #1199
@gilbertohasnofb I found the issue, good catch. But i have a question on how exactly to proceed.

What is happening is when you use alt+movement-key you add or subtract .005 from the previous saved user property axis. However if you have moved using the Q key you are starting from a new position but are still adding or subtraction .005 to the original user saved setting for that axis, instead of s

[2019-03-26 02:19] wlbragg commented on #1199
@gilbertohasnofb OK this is fixed and pushed.

[2019-03-26 06:21] wlbragg commented on #202
@onox
OK, I think I have part of this figured out, but I have a couple questions.

Are these the proper place to set the total limits for for and frost?
I want a max value for /environment/aircraft-effects/fog-level of 1.6
and a max /environment/aircraft-effects/frost-level of 1.
[code]

I don't understand this following code block because I see no heat/cabin-air-temp-degc property in the tree, on

[2019-03-26 09:11] legoboyvdlp commented on #202
That probably means it's an actuator, sensor, or other component like that. JSBSIM works if you just refer to the directory but I prefer to use <output> for those.

[2019-03-26 12:25] gilbertohasnofb commented on #1199
@wlbragg works perfectly now, thanks for the hard work! :clap:

[2019-03-26 12:25] gilbertohasnofb commented on #1199
such a cool feature, really

[2019-03-26 13:12] legoboyvdlp commented on #1199
It worked well when I tried it!

However, I thought the rate of fog / frosting might have been too fast - it only took about 30 seconds to get maximum frosting at -2 degC? When I applied max heat and 10% airflow it went very rapidly to full fogging.

[2019-03-26 15:28] wlbragg commented on #202
Ah, thanks @legoboyvdlp I wondered about that. Yes, I think that is the case.

[2019-03-26 19:24] wlbragg commented on #202
@legoboyvdlp I moved this discussion here as it is a more appropriate location.
Can you elaborate more on a couple comments, such as...

I need the context behind this. What did you do to cause this high rate of fog increase? Is it when you turned on the heat or air?

This is an effect that is not supposed to happen, It is supposed to reduce the fogging rapidly.

I think I am going to have to stud

[2019-03-26 19:42] wlbragg opened #1265 "Potential bug in timer logic for various timers and/or listeners"
I thought I better bring this up as a potential issue since this is the second time I ran into this. While testing fog and frost, I was relocating to a new airport to refresh my memory about how fast or slow environmental temps and humidity settled and how that was affecting the fog and frost creation.
Using the Airport relocation feature in the sim I got a seg fault and noticed some familiar erro

[2019-03-26 19:45] wkitty42 commented on #1265
On 3/26/19 3:42 PM, wlbragg wrote:

i think you meant nasal instead of js??

was the craft's engine running? if not, that timer shouldn't be running, should it??

[2019-03-26 19:48] wlbragg commented on #202
@onox, I see you already have the heat and air vents accounted for in the logic, in a much more advanced way than I did. So I obviously didn't totally understand you explanation of what I need to do. I am studying it again with this new understanding and maybe it will make more sense to me.

[2019-03-26 21:59] wlbragg commented on #1265
Maybe it was and that is why it appeared to happen intermittently. I'll test for that and see if that is this issue with any of them.

[2019-03-26 22:08] wlbragg commented on #202
After looking at this again, i think we need to talk about some of the logic. I don't think I can fix the issues I have with it without totally understanding the code that introduces the heat and air vent. As you say @onox it only calculates temperature being introduced into the cabin and in that case it increases the temp differential from outside and thus you get dew or moisture. That does make

[2019-03-26 22:26] legoboyvdlp commented on #202
I need to observe it more, but after about thirty to forty seconds of taking off with full power and mixture at M02 deg AT KBNA. I think it was below dew point if that's relevant.

After leaning to peak EGT and setting heat to full, then air to about 20% I then got rapid fogging increase.

[2019-03-26 22:28] legoboyvdlp commented on #1265
See:

Starting timers from a fdm initialized listener at http://wiki.flightgear.org/Nasal_Loops

Your mention of re-initing makes this suspect this is the case.

[2019-03-26 22:37] wlbragg commented on #202
Hum, this isn't getting any easier the more I understand how this code is working. I think we need to remove all four air vent code blocks from adding to the heat calculation and re-factor it to remove moisture instead.

[2019-03-26 22:38] wlbragg commented on #202
The basic logic of RPM and temp are already there, we just need to use it to remove moisture VS add heat.

[2019-03-26 22:39] wlbragg commented on #202
Effectively it would reverse the effect @legoboyvdlp indicated of the heat and air vent rapidly increasing fog, when it should in fact rapidly be decreasing fog.

[2019-03-27 08:31] legoboyvdlp commented on #202
Apparently using a heater in cold, dry climates may result in fogging, while using air conditioning in warm, wet climates can cause fogging.

To solve fogging, when it's due to cold, dry air outside:

Then, turn the AC on, which will pull the moisture from the air as it passes over the cooling coils.
Finally, turn off the recirculation button so colder, dryer air is brought into the car.
If possib

[2019-03-27 08:34] legoboyvdlp commented on #202
Another article:

Related: Why Do Only Some of My Car's Windows Get Condensation on Them?

"In its simplest form, it's too much water in the air, and it condenses on the glass," Hoppe said. "It condenses on the inside because the outside is colder, and when it's colder outside, that lowers the relative humidity point.

"It's like when you see your breath when it's cold outside. Your breath general

[2019-03-27 17:06] wlbragg commented on #202
Thank you @legoboyvdlp it finally sunk in. That missing piece for me is that the defrost in a car activates the air conditioning. I always new that a heavier load was caused by turning on the defrost n a car and I never new exactly why. It's the air conditioning!
OK, I apologize to @onox because I think he has this right. We have no air conditioning in the c172p thus we have to rely on the other m

[2019-03-27 17:22] wlbragg commented on #202
@onox @legoboyvdlp @gilbertohasnofb
To be clear...

    1) Implementing air vents to decrease fog/frost on the windscreen
    2) Warm air should eliminate fogging on windows

2 I think is not an issue.
1 I think is actually addressed in the code where we account for the heat and air vents.
You should be able to effectively decrease fog in a dry cold climate by using the air vent without the heat o

[2019-03-31 17:06] wlbragg commented on #1265
@legoboyvdlp Yes that could be the case.

Also

I just did some quick settimer and setlistener searches in our files.

[code]

[code]

[code]

<nasal>
            <script>
                var listeners = std.Vector.new();

                listeners.append(setlistener("/engines/active-engine/running", func (node) {
                    if (node.getBoolValue()) {
                        setprop("/con

[2019-03-31 17:06] wlbragg commented on #1265
Stating maketimers...
[code]

[2019-03-31 17:09] wlbragg commented on #1265
Settimer...
[code]

[2019-03-31 17:09] wlbragg commented on #1265
setlisteners...
[code]

[2019-03-31 17:17] wlbragg commented on #1265
This error is accounted for...
[code]

This is the error I am now getting that I can't account for. I'm seeing it after re-init's but with various different amounts of "too few function args"?

211.76 [ALRT]:nasal      Nasal runtime error: too few function args (have 0 need 24)
  211.76 [ALRT]:nasal        at
Segmentation fault

[2019-03-31 18:01] #1263 closed

[2019-03-31 18:10] wlbragg commented on #1265
Can anyone else verify something for me?
Using the master branch, startup with the default gear and then to an airport relocation to
Harrison SkyRanch 9V3 It's already there in the default search list. See if you get and nasal errors or segfault.

[2019-03-31 19:02] wlbragg commented on #1265
If it does segfault or you get some errors try adding
[code]
to engines.nas

[2019-03-31 22:53] gilbertohasnofb commented on #1265
@wlbragg I loaded the sim, started the engine, changed the airport via the menu inside the sim, everything went fine and the engine continued to be on, I turned it off and back on, all working normal. Checked my `~/.fgfs/fgfs.log` file and found no such Nasal errors that you mentioned. I am running FG 2018.3.1 and the current master of our aircraft. Let me know if you want me to test anything spec

[2019-04-01 00:22] wlbragg commented on #1265
Is that the last stable release? Can anyone try this with the new 2019.1.1 release candidate?

[2019-04-01 01:33] wlbragg commented on #1265
I don't trust anything i am seeing at this point. My hydo variants are acting so buggy I can't even use them. Can someone else please verify that the floats and amphibian are working correctly on the water and over land. That you don't notice any glaring bug in them. Things like switching between default, float, amphibian and if float and amphibian work correctly over land as well as water. Does y

[2019-04-01 01:35] wlbragg commented on #1265
@gilbertohasnofb

Try changing airports through the GUI a few times in a row.

[2019-04-01 01:47] wlbragg commented on #1265
I'm also having trouble starting at an airport that also has a seaport nearby and using the "Go now" button. When it reloads at the seaport after the re-init the default gear is selected instead of the float variant that was selected.
I'm also second guess if this https://github.com/c172p-team/c172p/commit/62eef41b8629532d65cde40ffd6ab2b691a29b53 should actually be
[code]

[2019-04-01 02:44] wlbragg commented on #1265
I am so totally frustrated I am about to call it quits. I don't know if it is 2019.1.1 (next) in my case and a fairly recent build of FGFS or what. Nothing that does a re-init is working correctly. Mooring, airport relocation, tutorials. Not only in the c172p but also the j3cub. I am at my wits end. Until I get some kind of verification that this is not just me, I am stuck. If it is me then I need

[2019-04-01 18:50] wlbragg commented on #1265
My float and amphibian is pretty well broken as well, in master.

[2019-04-01 19:07] wlbragg commented on #1265
Best I can tell is the fdm/jsbsim/hydro/active-norm is not setting to 0 when it should be. I have tried tracing the issue but can't find it.
My system is so messed up I can't even get to a stable point to start troubleshooting any of this.

[2019-04-01 20:39] legoboyvdlp commented on #1265
Let me try it tomorrow and see, I'm using self-compiled next.

[2019-04-01 20:45] wlbragg commented on #1265
Thanks @legoboyvdlp

[2019-04-02 13:14] legoboyvdlp commented on #1265
It initially seemed fine after I hit "Go Now", but then I noticed something odd...

![image](https://user-images.githubusercontent.com/10434911/55405162-5ea38f00-5551-11e9-888d-46b47bbd28e8.png)

Wake does **not** stop after I takeoff:
![image](https://user-images.githubusercontent.com/10434911/55405267-98749580-5551-11e9-9e74-8de566238209.png)

But the hydronamics seem to be fine?

[2019-04-02 18:15] wlbragg commented on #1265
Oh, no. It's not just me. I guess I am going to have to do some git bisecting and see what happened.
@legoboyvdlp I think I narrowed down why the effect doesn't shut off and that is because ``` fdm/jsbsim/hydro/active-norm ``` never goes to 0 unless```  fdm/jsbsim/ground/solid=0 ``` Where ground solid is part of the equation but it wasn't the only determining factor. It also checks
[code]
which I

[2019-04-02 18:32] wlbragg commented on #1265
I think I isolated the gear not changing because ``` <path>/fdm/jsbsim/bushkit</path> ```
has been removed from the saved aircraft data. After adding that line back in then my problem is that the float works when relocating to the seaport but not the amphibious.

[2019-04-02 18:36] wlbragg commented on #1265
But when I do start my relocation to seaport with the float VS the amphibian I get a segfault a good percentage of the time.

[2019-04-02 19:13] wlbragg commented on #1265
I'm really getting concerned here. I keep confusing new work with what is in master. Here is what is concerning to me. This is master that appears to be broke in a few ways. This does not contain any new work, or very little. Nothing I think that would account for any of this.
Now to confirm my suspicion I went all the way back to e806c5a433569c34b527d9fb9226dbea0080f73b during the time we added t

[2019-04-02 19:42] wlbragg commented on #1265
Another thing I am banging my head against the wall over. I can relocate with the floats selected and start out floating (if I don't happen to get a segfault) but not with the amphibious. If I try to do a relocation to seaport with the amphibious selected, it starts out sunk and doesn't float. But if I start with the floats and then after the relocation I switch to the amphibious it works. I can't

[2019-04-02 20:25] legoboyvdlp commented on #1265
Maybe you could push the fix for the particles so we are using an equivalent branch?

[2019-04-02 22:05] legoboyvdlp commented on #1265
Just to note the aircraft seemed to float fine, after 40 knots I definitely noticed the step and some bouncing. The only bug I noticed was the aircraft going back to default gear after reinit and the spray not turning off after takeoff both of which are due to the missing property in the set file?

I didn't see the other things whether they be no floating, nasal errors, segment faults or other thi

[2019-04-02 22:57] wlbragg commented on #1265
Unfortunately not. Start the sim, switch to amphibian, "go now" to seaport and go to external view. Are you floating on the floats or are they sunk?

Now try the same exact thing with the floats instead of amphibian.
Start the sim, switch to floats, not amphibian, "go now" to seaport and go to external view. Are you floating on the floats or are they sunk?

In both cases the wake effect doesn't tu

[2019-04-03 08:37] legoboyvdlp commented on #1265
Regardless it would be good to get it into master to be sure that we're both seeing the same things (ie seeing the bad bugs if we see a problem, not the "good" bugs 😀 )

I'll try and do it locally anyway

[2019-04-03 17:29] wlbragg opened #1267 "Missing saved data and bug in conditional logic"
The property ``` fdm/jsbsim/bushkit ``` needs to be persistent for seaport relocation to work properly.

The conditional that sets ``` floats-enabled-norm ``` was easily misidentified so was changed to a more readable style, but incorrectly.
This issue also fixes that.

[2019-04-04 10:04] legoboyvdlp commented on #1265
With floats:
I get a FlightGear crash a few seconds after hitting "Go Now". I didn't see any segfaults or anything in the log - last message is `
  252.94 [INFO]:flight     c:\users\redpa\documents\flightgear\fg-from-scratch\flightgear-git\src\fdm\jsbsim\jsbsim.cxx:577:64: GEAR_CONTACT: 2.91667 seconds: COCKPIT_TOP 1
  253.37 [INFO]:flight     c:\users\redpa\documents\flightgear\fg-from-scratch\fl

[2019-04-04 10:18] legoboyvdlp commented on #1265
Hitting "go now" with amphibian works.
But I'm not floating.

![image](https://user-images.githubusercontent.com/10434911/55548083-9e41b680-56ca-11e9-963b-51b128bae991.png)

I got stuck there - when I hit ctrl + u particles are enabled

![image](https://user-images.githubusercontent.com/10434911/55548186-d77a2680-56ca-11e9-97d6-b5d597cd68ef.png)

So floats doesn't work at all - hitting "go now" wi

[2019-04-04 10:22] legoboyvdlp commented on #1265
So to summarize:

- starting on runway and hitting GO NOW causes a crash with floats
- "                                                               " breaks amphibian floats but no crash
- starting directly on the water (using the checkbox in aircraft options) works with floats but something is odd
- starting directly on water with amphibians breaks floats but no crash

[2019-04-04 20:10] wlbragg commented on #1265
I actually think that is relatively normal, although I don't remember it being this consistent. In fact, I remember struggling with the decision to turn off "Allow damage" before doing the relocation. I wouldn't have been surprised at all if I had turned it off in the code prior to re-init. I will check history to see if that had ever been done and somehow got regressed. Our damage code could stan

[2019-04-04 22:08] legoboyvdlp commented on #1265
Do you have a state of both the aircraft and FlightGear when you know it worked? I'm prepared to spend a few hours tomorrow bisecting if it will help...

[2019-04-04 22:09] legoboyvdlp commented on #1265
A crash as in FlightGear exiting but with no console output - sorry for the confusion :grinning:

[2019-04-04 22:36] wlbragg commented on #1265
No, as in damage to the aircraft.

Yes, you can merge 1267.

I think the fgfs version that breaks this is 2019..x
I think we will find 2018.3.x possibly working. That is the bisect we need to determine when it broke, fgfs versions and then at commit level, not aircraft.

[2019-04-05 03:59] wlbragg commented on #1265
Reminder to myself, change float and amphibious selection capable condition to not on the water VS not over the water.

[2019-04-05 07:42] legoboyvdlp commented on #1265
I meant as in FlightGear exiting - there was sometimes damage to the aircraft after re-initing but I definitely got a FlightGear crash wiht flaots. But then restarting I didn't get it... because it put me on the water runway directly (maybe before nasal was initialized?)

[2019-04-05 15:52] wlbragg commented on #1265
Ah, good information. Yes I hadn't noticed if I crashed as much starting on the water. When your talking about starting on the water I assume you mean you check the box in the GUI that lets you start on the water during the next startup if there is a seaport near that location?

[2019-04-05 22:09] legoboyvdlp commented on #1265
Yeah

It then automatically put me on water next start at PHTO without toggling it

With floats it worked on the second launch, amphibian didn't (sunken).

And regardless after hitting GO NOW on the first launch floats segfaulted (I assume, I don't see any log error, it just exits) and amphibian was sunken.

[2019-04-06 12:49] gilbertohasnofb commented on #1265
@wlbragg @legoboyvdlp Apologies for not participating in the discussion during these last days, I had to finish an important work for my uni and had no time for anything else. Where are we standing on the issue with the floats, are they still broken, and do we still get all those error messages in the log? And have we managed to narrow down what might be causing it? As I mentioned before, I am run

[2019-04-07 03:50] wlbragg commented on #1265
@gilbertohasnofb yes it is still broken. No we really haven't narrowed anything down yet. I am pretty sure this is a symptom of core changes to FGFS or JSBSim. It requires a newer version of FGFS to show up. I need to rebuild with the latest to see if maybe it magically goes away. We need to verify if it is broken on the newest release candidate.
There are three overall issues best we can tell.

1

[2019-04-07 20:29] gilbertohasnofb commented on #1265
@wlbragg Thank you so much for the concise summary of the issues, I had missed a lot of the discussion so far. So, have the devs been warned about these issues? They look pretty major to me!

@legoboyvdlp Can you confirm you are also running 2019.1 and you also see the issues that @wlbragg is seeing?

[2019-04-07 21:12] wlbragg commented on #202
@onox I did mess with it but after reviewing it further and @legoboyvdlp great article about how the air conditioning plays a part in the defrost of a car window. I don't think it is necessary anymore. The c172p has no defrost mode (ie: air conditioner). So if the heat and air slider knobs are adding air and/or heat appropriately to the frost/fog code (which it does earlier in the code), then tech

[2019-04-07 21:39] wlbragg commented on #961
I don't think this there is really anything to do here. Did we or did we not determine the c172p has these vents in the dash, regardless, I think the fog frost system as written simulates the air introduction to the cabin by using the sliders. The fog/frost texture simulates there being vents where air comes into the cabin at those two locations.
So as the fog/frost clears, it clears first at thos

[2019-04-07 23:01] legoboyvdlp commented on #1265
I can see them all, yes, I am running a self compiled next about a week out of date.

[2019-04-08 17:30] wlbragg commented on #1265
HELP
Someone needs to walk me through this.
If any property or equation contributing to the product portion of this function is 0 then the active-norm has to be 0, correct?
[code]
That is the bottom line issue with the floats as best I can tell. active-norm is still containing a positive value even when a contributing input to the product is at 0. In other words I am not seeing any issue with the

[2019-04-08 17:35] wlbragg commented on #1265
Something else I noticed in the process is this timer, is this timer "safe" should we replace it with start-stop and should we maybe also use a listener to activate it so it only runs when needed? I don't think it is necessarily a heavy lift, but this stuff all adds up.
[code]

[2019-04-08 17:39] wlbragg commented on #1265
OK, the issue with the amphibious model not initializing correctly in the water is that `` hydro/active-norm ``` is at 0.

[2019-04-08 17:58] wlbragg commented on #1265
@dany93
Something else I just noticed, these are now being flagged in jsbsim warnings as single input products. We really should clean this stuff up. It would make reading the log a bit easier.
[code]

[2019-04-08 18:01] wlbragg commented on #1265
A couple more
[code]

[2019-04-08 18:15] wlbragg commented on #1265
OK, when starting out in amphibious bushkit is equal to 0. That is the issue.

[2019-04-08 19:25] wlbragg commented on #1265
It was being reset to 0. That was the aircraft data fix not included in this branch. So I included it in this branch and it still doesn't float.
Observation: ``` hydro/active-norm ``` is positive even when ``` hydro/buoyancy-lbs ``` and ``` hydro/planing-lift-lbs``` are both 0. Can anyone explain this?
[code]

[2019-04-08 19:51] wkitty42 commented on #1265
is this a bug here? less than for both -100 and 100? or does the order in which they are listed matter?

[2019-04-08 20:01] wkitty42 commented on #1265
On 4/8/19 1:58 PM, wlbragg wrote:

might want to check and see if these product tables are somehow being missed as
valid structures or if they are no longer valid structures and a new format
should be being used for product tables...

[2019-04-08 20:13] wlbragg commented on #1265
Technically no, that's what I questioned about the floats-enabled-norm property see: https://github.com/c172p-team/c172p/issues/1265#issuecomment-478408906
The order of the property VS value matters. I think it is a throwback for an old issue of > being a pipe VS a greater than? So you swap the two comparisons around, instead of...
bar > foo you write it foo < bar

[2019-04-08 20:31] wlbragg commented on #1265
I agree with the exception of the issue of the floats and amphibian working (floating) when starting with the floats, but not working (floating) when starting with the amphibious? that is really a strange deal. They both work one way and neither work the other and both ways start and run the same code?

[2019-04-08 21:47] dany93 commented on #1265
These have been fixed and merged into master
See https://github.com/c172p-team/c172p/issues/1241#issuecomment-442501496 and https://github.com/c172p-team/c172p/pull/1242/commits/5105fe16a752c1cd4de7de09fe6b9b130cbe8f44

Also (same commit) for

[2019-04-08 22:38] wkitty42 commented on #1265
On 4/8/19 4:13 PM, wlbragg wrote:

ok... i probably would have flipped the positive one over and use gt mainly for
ordering consistency...

eg:
    <lt>
       <value>-100.0</value>
       <property>hydro/float/roll-deg</property>
    </lt>
    <gt>
      <value>100.0</value>
      <property>hydro/float/roll-deg</property>
    </gt>

[2019-04-08 22:50] legoboyvdlp commented on #1265
Wouldn't be floating point error by any chance or anything like that?

[2019-04-09 02:20] wlbragg commented on #1265
Sorry @dany93 I should have looked in master.

[2019-04-09 03:45] wlbragg commented on #1265
@legoboyvdlp I don't think so I think we would see it in the property.

[2019-04-09 03:48] wlbragg commented on #1265
I just finished updating to the most current next 2019.2.0 and it's still broken. I asked on the dev list if anyone can explain why that function is not producing zero when it should. I am at a dead end here. This si a core problem as best I can tell and It seems like it is something in JSBSim.

[2019-04-09 13:10] legoboyvdlp commented on #1265
ok - the spray depends on
`/fdm/jsbsim/hydro/spray-wake-speed-kt-actual` being greater than six knots, correct?

That comes from

`<fcs_function name="hydro/spray-wake-speed-kt">
            <function>
                <product>
                    <not>
                        <property>/fdm/jsbsim/ground/solid</property>
                    </not>
                    <gt>

[2019-04-09 13:12] legoboyvdlp commented on #1265
Sorry - the formatting messed up, and I have no idea how to fix it.

But I think its probably that one of the <lt> is evaluating to true when it shouldn't or vice versa.

[2019-04-09 16:03] legoboyvdlp commented on #1265
thanks :+1:

Yeah, I use the web interface.

[2019-04-09 16:19] dany93 commented on #1265
I made a few tests. I don't understand more but here is what I got.
I don't know if it can give a clue.

PHNL, starting at runway.

1rst launching:
I switch to "Floats", then "Go Now". It spawns close to the mooring, as expected.
- Floats:
`hydro/active-norm = 0.52` (floats are half sunk)
`floats/enabled-norm=1`
`buoyancy-lbs=4000` (close to, for a 2195 Gross Weight) ??
- Amphibious:
`hydro/active

[2019-04-09 18:00] wlbragg commented on #1265
@legoboyvdlp even that doesn't work. This is a product, planing lift libs and buoyancy are both zero and they are an input in the form of a sum. If any single input is 0 then the function has to evaluate to 0.
.1*2*0=0
We're effectively getting
.1*2*0=.0123

The function is returning a value when the product has a 0 component input. It shouldn't be doing this.

We can prove the roll-deg aren't the

[2019-04-09 18:14] wlbragg commented on #1265
I found the culprit, it is ``` hydro/planing-lift-lbs ``` remove it and the sum from the ``` hydro/active-norm ``` function and everything is working correctly. I noticed the same type of thing you may have noticed @dany93 and that was that planning-lift-lbs was flickering between a value and 0.
Now to find out the why.
I don't think this has anything to do with the nasal errors and segfaults, but

[2019-04-09 18:17] wlbragg commented on #1265
FYI: the active-norm function as far as I know is a on-off switch. It does not contain any value that is used in any way other than  0 = off and  > 0 = on.

[2019-04-09 18:21] wlbragg commented on #1265
I tried removing the sum thinking that maybe the jsbsim sum member was faulty or broken, but then even the floats failed. Until I removed the planing-lift-lbs property.  I still don't know why planing-lift-lbs behaves differently on the float variant VS the amphibious?

[2019-04-09 18:23] wlbragg commented on #1265
This function is the next step in figuring this out I guess.
[code]

[2019-04-09 18:31] legoboyvdlp commented on #1265
Ok - sorry.

Though, regardless, is this a problem or not?
Notice the different order of the <lt>

```<lt> <value>-100.0</value> <property>hydro/float/roll-deg</property> </lt> <lt> <property>hydro/float/roll-deg</property> <value>100.0</value> </lt>```

[2019-04-09 18:41] wlbragg commented on #1265
No, I have ruled out that type of logic as being the issue by using GE and LE instead of LE and LE. I even tried it with EQ's inside of OR.

[2019-04-09 19:13] wlbragg commented on #1265
Even though I have made progress on this error I am still banging my head against this. I am having a really hard time debugging when 50 percent or more of the time I segfault from this...
[code]

[2019-04-09 20:04] wlbragg commented on #1265
This is the latest one...
[code]
Can anyone extrapolate what functions these might be referring to based on the args needed?

[2019-04-09 20:12] wlbragg commented on #1265
@legoboyvdlp @gilbertohasnofb @dany93 @onox
Should we cut a release with the removal of hydro/planing-lift-lbs and the sum from the hydro/active-norm function and the outstanding https://github.com/c172p-team/c172p/pull/1268 PR. These at the least even though we don't have a total fix for the float issue. But removing hydro/planing-lift-lbs at least gets it working again.

As far as I am concerned

[2019-04-09 21:43] onox commented on #1265
@wlbragg Do these segfaults only get triggered when you use the airport relocation feature of FG?

[2019-04-10 03:15] wlbragg commented on #1265
So far as I know they are on any re-init, airport relocation, mooring relocation. tutorials, etc.

[2019-04-10 12:12] #1267 closed

[2019-04-10 12:45] #946 closed

[2019-04-10 23:32] wlbragg commented on #1265
I've been trying to test my theory as to how wide spread this may be and I need to know what aircrafts might be more complex with various nasal systems running through the use of timers.

[2019-04-12 13:59] dany93 commented on #1265
**One cause of segmentation fault and / or nasal error messages**:
(although probably not the main issue, but it can add to confusion)

Very often for me, the aircraft opens with **Amphibious** and "**160 hp engine" checked**.
**Relocating** (e.g. Go Now) with this gives different error messages and crash like:
In file /home/dany/FG/github/c172p/Systems/mooring-jsbsim.xml: line 91
      Property m

[2019-04-12 15:06] dany93 commented on #1265
I'm worried by
[code]

the value of which
`hydro/active-norm`
is around 0.0125 or  0.0113 (instead of 1 expected),
with a weird value for hydro/buoyancy-lbs about 4700 for a Gross Weight 2300.

- Test Nr 1:
I changed the `<value>` factor from 0.001 for 0.1
It floats, accelerates and can takeoff.
Difficult to control in flight, it wants to yaw leftwards when above water, with wake which subsists.

[2019-04-12 15:38] wlbragg commented on #1265
Aircraft spawns close to the mooring, but always sunk, as usually... But it launches.

Thank @dany93 I'm pressed for time today so I will finish reading your very helpful analysis and running some of my own test based on what you discovered.

First though I want to make sure you understand that I think the culprit for the ``` hydro/active-norm ``` issue (which is the floats sinking and the particl

[2019-04-12 17:47] legoboyvdlp commented on #1265
![image](https://user-images.githubusercontent.com/10434911/56056154-4e5e9180-5d53-11e9-882a-608e6b860ec1.png)

I started in the air and bounced once or twice

then this happened :(
![image](https://user-images.githubusercontent.com/10434911/56056188-5d454400-5d53-11e9-8350-a703a92fcb59.png)

Something certainly is wonky with hydronamics.

[2019-04-12 17:51] legoboyvdlp commented on #1265
Ok --
Getting all these errors on initialization - I imagine because it is moving me from PHTO runway to the water. And of course, I am sunken with broken wings.

[code]

[2019-04-12 17:55] legoboyvdlp commented on #1265
More clues.

The segfault is related to hydronamics. Disabling automatic spawn at seaport and choosing to spawn on the runway at PHTO does not produce a segfault over 3-4 tests.

But, the prop and gear are broken after re-init at PHTO.
![image](https://user-images.githubusercontent.com/10434911/56056592-8adebd00-5d54-11e9-8943-78c46182e93e.png)

When I repair I get this for a few seconds, then bac

[2019-04-12 19:33] wkitty42 commented on #1265
richard sent me an archive of changes he made to the c172p concerning timers and
some timers starting other timers... he kinda figured out the problems being
seen by wlbragg... so i asked him if the changes were available so you guys
could look at them and maybe follow them to fix the craft... i was surprised to
find he sent me the archive... anyway, i have it here if you want to look it
over... i

[2019-04-12 19:58] wlbragg commented on #1265
@wkitty42 Yeah, were can we see them?

[2019-04-12 20:18] onox commented on #1265
@Zaretto could you attach the patches here?

[2019-04-13 01:22] Zaretto commented on #1265
[Nasal.zip](https://github.com/c172p-team/c172p/files/3075605/Nasal.zip)

[2019-04-13 16:57] onox commented on #1265
@wlbragg ^^

[2019-04-13 22:13] wlbragg commented on #1265
Oops cell phone!

[2019-04-14 19:52] Zaretto commented on #1265
As posted onto the dev list (for reference here)

I've got some startup relocation handling in the F-14 related to carrier
ops; so I tested mine and it worked fine; however the C172 kept crashing
FG on a tutorial re-init.

I think the problem that we're seeing here on the C-172 is related to
memory corruption within FG (or at least the problems I had were) as the
Nasal pointers were all somewhat s

[2019-04-17 14:54] wlbragg commented on #1265
@Zaretto

Richard, I'm going through it now and get the general gist of what your doing.

In electrical.nas, is this something you'd like us to keep and see in master?
[code]

[2019-04-17 15:01] wlbragg commented on #1265
@Zaretto

[code]
You completely removed this, are you trying to tell us we need to rework this?

[2019-04-17 15:05] wlbragg commented on #1265
@gilbertohasnofb  @legoboyvdlp
in kr87.nas this listener has been commented out all along, anyone care if I remove it?
``` #setlistener("/sim/signals/fdm-initialized", func { timer_update() } ); ```

[2019-04-17 15:17] legoboyvdlp commented on #1265
Not that I know of, should be fine!

[2019-04-17 15:23] wlbragg commented on #1265
@Zaretto

I'm a bit concerned about this?
[code]
1) Is this something you specifically changed or maybe you have an older version?
2) the reason they are set VS using get is it was throwing an error if the preset was never initialized. James said he was going to add all the missing presets at init so it would work correctly, but this was the safest way to insure setting them without error. I don't

[2019-04-17 15:29] wlbragg commented on #1265
@Zaretto
I assume you meant remove the ``` setlistener("/sim/signals/fdm-initialized", func ``` only?
[code]

[2019-04-17 15:42] wlbragg commented on #1265
@Zaretto

Richard, you sir are a genius and I can't thank you enough for highlighting the issues and making this easy for me!

It Works like a charm again and also fixed the amphibious JSBSim function derived property not working correctly. Must have been blowing out of the code without a segfault or warning of any kind even when it appeared to work without nasal error.

I am still really curious

[2019-04-17 16:08] Zaretto commented on #1265
it didn't seem the sort of thing that should be done on every init/reinit. So the removal was really a hint that a better approach would be required, such as a listener on callsign for example:

e.g. something like
[code]

[2019-04-17 16:10] Zaretto commented on #1265
...

I didn't change those; I was using the C172 that is in fgdata.

[2019-04-17 16:11] Zaretto commented on #1265
...

I just took it all out as a quick hack; probably just moving the listeners to module level will do the trick

[2019-04-17 16:13] Zaretto commented on #1265
Thank you;

Possibly related to the changes to the subsystems; or something else that possibly actually never worked right but just didn't show up except via a segfault.

I had a good look through the core changes and I really couldn't see anything that looked suspicious in itself.

[2019-04-17 16:16] Zaretto commented on #1265
that's the right way to overload / override a base function in controls; so yes it should stay like that.

I'd probably change the flapsDown variable to be something like `originalControlsFlapsDown` but that;s a minor point as it's still almost obvious what the line flapsDown(v) does; but it could be confusing inside the method code when reading it. not important though.

[2019-04-17 16:45] wlbragg commented on #1265
@gilbertohasnofb  @legoboyvdlp  @Zaretto
I spoke a bit to soon that this fixed the JSBSim  ``` floats-enabled-norm ``` property issue. It is not fixed. I just happened to get lucky and the amphibious loaded correctly once. But the particle effect was still broken as in it didn't shut of after leaving the water which clued me into it still being broken. On next load the amphibious still sunk. I hav

[2019-04-17 17:09] wlbragg commented on #1265
I looked at it some more and it is going to take some time to figure out what broke and why. I am convinced it is the contributing property of ``` planing-lift-lbs ``` that is not working as it used to. Why and what else it is affecting, I don't know, but it is used in other hydro functions. But removing it from the ``` floats-enabled-norm ``` at least gets the hydro portion to function without ob

[2019-04-17 20:31] legoboyvdlp commented on #1265
I think we should, better to have it at least working than waiting till it's perfect!

[2019-04-17 20:34] Zaretto commented on #1265
@wlbragg

raise another ticket with the details and I'll have a look at that if you like.

I'd be inclined to get master working first even if it takes a temporary, short term, transient, less than ideal solution. Code that works is always better than code that's broke.

[2019-04-18 03:48] wlbragg opened #1270 "Floats excluded from allowing tie downs"
@legoboyvdlp @gilbertohasnofb
The tiedowns-can-have property limits certain gear undercarriages from being able to use the tie downs. Anyone know why the bushkit 3 (floats) is not allowed to have tie-downs? I understand no chocks for greater than 2, but the tie-downs should work on all aircraft variants, yes?

Also, I have seen instances where a high wind can cause issues with the tie-downs or usi

[2019-04-18 08:54] legoboyvdlp commented on #1270
Probably it assumes that it should be using the mooring instead of tie-downs?

[2019-04-18 10:03] gilbertohasnofb commented on #1270
Floats are only available on water, so what would the tie downs be attached
to? Amphibian has them since it can operate on land.

On Thu, 18 Apr 2019, 09:54 Jonathan Redpath, <notifications@github.com>
wrote:

[2019-04-18 10:44] legoboyvdlp commented on #1270
Yeah, exactly - the floats should use mooring, not tie downs I think.

[2019-04-18 19:57] wlbragg commented on #1270
Not tied down in the water, tie downs would be attached to the same thing as always, that doesn't change because there is a float undercarriage. I never really thought about the fact that the float may not be on a tarmac, only on the water. But, there is no adverse affect to make the option available if the owner of the aircraft wanted to work on the float undercarriage at the airport and have the

[2019-04-18 21:25] legoboyvdlp commented on #1270
Here's a picture of some tie downs - according to the page I found this on it uses small anchors.

http://www.pilotfriend.com/training/flight_training/fxd_wing/images4/26.jpg

Maybe if hydro system is active it could use anchors and swap to regular tie downs if it goes to asphalt? Notice this is distinct from mooring to an anchored buoy (the mooring system we already have).

[2019-04-18 21:44] gilbertohasnofb commented on #1270
I find that confusing. I would rather do the following:

* if hydro is active, we grey out tie downs and allow anchor
* if hydro is inactive, we grey out anchor and allow tie downs

owner of the aircraft wanted to work on the float undercarriage at the
airport and have the aircraft ties down just in case? I think the option
should still be there?

I don't see much benefit at all, since you can't d

[2019-04-19 04:14] wlbragg commented on #1270
I have to admit, I really like the idea of being able to anchor the float/amphibious to a shore line mooring anchor when near the shore line. I may add it to the Cub and you guys can look at it and see if you like the way I implement it. I already figured out one way for sure to do this. Either manually with a button that says something like, "Set shoreline anchor" and when you hit that button it

[2019-04-23 19:36] onox commented on #1265
@Zaretto Are you using the c172p from fgdata?

[2019-04-24 07:39] Zaretto commented on #1265
Originally I was using the fgdata version; but now I've pulled this one,

[2019-04-26 04:16] #1260 closed

[2019-04-26 08:37] legoboyvdlp opened #1271 "Bug: "does not have the requested state 'takeoff'""
Every so often when I start on the runway with the launcher I get this error message:

![image](https://user-images.githubusercontent.com/10434911/56794785-d25e5200-6806-11e9-8e77-f257eaf132b7.png)

I just left my state at the "default state" option.

I thought we added state support a while back though?

[2019-05-03 10:11] #202 closed

[2019-05-03 10:11] #910 closed

[2019-05-03 10:11] #1199 closed

[2019-05-03 10:11] #961 closed

[2019-05-03 16:50] wlbragg commented on #650
This never was totally addressed in #1208
I still want to investigate the possibility of adding it, which I think we can.

[2019-05-03 21:24] legoboyvdlp commented on #1143
I think we'll keep this open, I'm not yet happy with the shading. But I don't think I'll have the time to do any more work unfortunately until this summer - probably July and August.

[2019-05-09 10:36] #1265 closed

[2019-05-09 18:23] #1212 closed

[2019-05-09 20:17] legoboyvdlp commented on #1196
I think we should close this issue and make a new one for 2019.1 unless @onox can edit the title?

[2019-05-09 20:21] gilbertohasnofb commented on #1196
@legoboyvdlp No need for @onox, super @gilbertohasnofb can change titles at will too! :rofl:

[2019-05-10 04:09] wlbragg commented on #1196
@gilbertohasnofb I think I have everything. Feel free to edit!

[2019-05-10 11:30] gilbertohasnofb commented on #1196
@wlbragg Looks good. @legoboyvdlp @dany93 can you confirm you all new features included here? If so, I will make the new release later tonight.

[2019-05-10 12:54] dany93 commented on #1196
Confirmed, all new features(just a few for me).

Thank you, @onox and @gilbertohasnofb,
And thank you, @wlbragg for the huge and difficult work you did.

[2019-05-10 15:34] gilbertohasnofb commented on #1196
All right, I will start preparing the release now.

[2019-05-10 15:54] #1196 closed

[2019-05-10 15:55] gilbertohasnofb opened #1273 "Gather a list of features and bugs we fixed in 2020.1"
We should gather a list of all the new features, major changes, and bugs we fixed. Please create a list (use \* to create bullet points) here.

**Features:**

* new sounds for rolling and tire screeching on both paves and gravel surfaces
* replaced the KX165 with the KX165A radio which supports 8.33 frequencies
* new mooring locations
* `f` shortcut now toggles flashlight

**Fixes:**

* fixed xy-p

[2019-05-10 16:02] gilbertohasnofb commented on #1196
@wlbragg @dany93 @legoboyvdlp @onox Done! We have a new release :smile: Congratulations to you all for the hard work, this aircraft gets more and more impressive as time goes by. We have no standing PRs and we seem to have fixed all major bugs, as well as added a bunch of new exciting features.

@onox It was really fun preparing the release, and I hope I did this right. You might want to double ch

[2019-05-10 20:23] wlbragg commented on #1196
@gilbertohasnofb thank you for cutting the release, I was dreading that part, but you seemed to have no issues with it, I'm thankful for that and it was a hug relief for me to have that done. Thank you! I'll ping them on the dev list and see if they will take it from here.

@everyone
Ditto from me, thank you to all that help get this to this stage. I've got so many projects I am wanting to put tim

[2019-05-10 22:42] gilbertohasnofb commented on #1196
Well, thanks to @onox 's wonderfully detailed instructions, making a release is actually quite easy. One just needs to make sure that all `2019.1` and `2019.2-git` tags and commit comments are correct, there were many that needed to be changed.

[2019-05-10 22:43] gilbertohasnofb commented on #1196
And I am happy to make the next releases as well, even if I am busy. It took me just a handful of minutes.

[2019-05-11 20:59] onox commented on #1196
@gilbertohasnofb Thanks for doing this release! :smile: Everything looks alright from the Github web interface. I only deleted the extraneous `*` in front of `Fixes:` in the release notes (but this was a typo in the instructions on the wiki - fixed it there as well).

[2019-05-11 21:06] onox commented on #1196
@gilbertohasnofb One more thing: I've moved any open issues with a 2019.1 features/release milestone to the future features/release milestone, and closed the 2019.1 milestones.

[2019-05-11 22:19] gilbertohasnofb commented on #1196
@onox Yeah, I forgot about moving the opened issues to a new milestone. I will remember to do that next time. Thanks for taking a look at this!

[2019-05-16 12:57] legoboyvdlp opened #1274 "Nasal error in tiedowns"
@wlbragg @gilbertohasnofb

`Nasal runtime error: No such member: end_point
  139.56 [ALRT]:nasal        at C:/Users/redpa/Documents/FlightGear/Custom Aircraft/c172p/Nasal/tiedowns.nas, line 112
  139.56 [ALRT]:nasal        called from: C:/Users/redpa/Documents/FlightGear/Custom Aircraft/c172p/Nasal/tiedowns.nas, line 93
  139.57 [ALRT]:nasal        called from: C:/Users/redpa/Documents/FlightGear/

[2019-05-16 14:12] legoboyvdlp opened #1275 "Add 8.33 khz support"
The KX165A radio has support for 8.33 khz.
Add support for 8.33, in order to allow our aircraft to be used in Europe.
Documentation:
http://antena.fe.uni-lj.si/literaturgithub/Razno/Avionika/Kx155/Kx155a.pdf

While we are at it, we might as well simulate all the other functions of the KX165A.

@wlbragg I wonder if you could edit the 3D of the instrument to closer match the KX165A?
https://vimeo.co

[2019-05-16 14:13] legoboyvdlp commented on #1275
Marked as high priority since Stuart would like this in the release seemingly.

[2019-05-16 14:23] gilbertohasnofb commented on #1275
@legoboyvdlp The image you posted is of a KX 165A, our model is the KX 165. See:

![image](https://user-images.githubusercontent.com/5700795/57861433-7d52a200-77ee-11e9-9c86-26f3709ad3b8.png)

So no need to do anything about the 3d model.

[2019-05-16 14:28] legoboyvdlp commented on #1275
In that case we will not be able to have 8.33 radio if the model does not change, since the KX165 does not have 8.33.

[2019-05-16 14:39] gilbertohasnofb commented on #1275
Perhaps for now we can just implement the 8.33 Hz support anyway even if this specific model does not have this feature. Then in the future we can revamp the 3D model and the textures.

[2019-05-16 14:42] legoboyvdlp commented on #1275
Fair enough - let me push what I have.

In order to allow the user to switch between 25khz and 8.33, is it fine to make shift-clicking the khz knob to toggle that (as in the real aircraft)? Notice that you can no longer use shift to increase the frequency by 0.1 mhz.
Or will we simply always have 8.33 on?

[2019-05-16 14:53] gilbertohasnofb commented on #1275
@legoboyvdlp I think having it always on might be annoying for people flying in regions where they use 25 kHz steps only. I think the shift + clicking sounds like a good solution, particularly if this is how you can toggle it in the real aircraft. I would also set the default to 8.33 Hz, so that anyone not knowing about the shift + click thing can still fly anywhere in the world. Sounds good?

@wl

[2019-05-16 14:55] legoboyvdlp commented on #1275
Sure, can do.
I'm having one problem though - my bindings aren't working for some unexplained reason. It decreases but doesn't increase. I am recording a gif to show what I mean:

`<binding>
                <command>property-adjust</command>
                <property>/instrumentation/comm[0]/frequencies/standby-mhz</property>
                <factor>0.005</factor>
                <min>0.0</min>

[2019-05-16 14:58] legoboyvdlp commented on #1275
![test](https://user-images.githubusercontent.com/10434911/57864203-606c9d80-77f3-11e9-9cdd-1b382c6d4421.gif)

[2019-05-16 14:59] gilbertohasnofb commented on #1275
That's weird, I don't know why this is happening. I might have some time to take a look at it in the evening in case you don't figure it out until then.

[2019-05-16 15:12] legoboyvdlp commented on #1275
Thanks!
I pushed to branch Issue-1275.

[2019-05-16 16:54] wlbragg commented on #1274
@legoboyvdlp @gilbertohasnofb
I am getting it as well. This was a nasal file that was changed in https://github.com/c172p-team/c172p/pull/1269/commits/a552abb7f526dd9622091c741977ad4ee49f3094
All I did was to remove four set listeners out of a setlistener for FDM-init. Putting it back fixed the error. So I guess we put it back. I verified the only code casing the segfaults was in the light-manager

[2019-05-16 17:02] wlbragg commented on #1275
It all sounds good to me!

[2019-05-16 18:57] wlbragg commented on #1255
@legoboyvdlp  @gilbertohasnofb

Hum, I just tried to verify the increase in load time by having these two model loading tag pairs and it had literally no time difference if I commented out the amphibious model loading of the GPS. I would appreciate it if someone would help verify this. Just comment out the block that loads the model at a different offset for the amphibious version and see if you s

[2019-05-16 19:12] gilbertohasnofb commented on #1255
@wlbragg I think these things do not tend to be linear. If your CPU or GPU or memory is not struggling, you won't see a big difference, but if you are near the limit of your machine then this can really cap your performance. Also, keep in mind that we are always adding stuff to this project and the aircraft is becoming heavier and larger as time goes by, so we should avoid duplicates at all costs.

[2019-05-16 19:12] gilbertohasnofb commented on #1275
Did you manage to solve the issue you previously reported?

[2019-05-16 19:16] wlbragg commented on #1255
I agree, but these are loaded conditionally and I am seeing no difference.
I went back in history to see how it was loaded and translated before but couldn't find it. Do you know how to load it once and then conditionally translate it? I'll figure it out eventually, but if you know how it would save me some time.

[2019-05-16 19:18] gilbertohasnofb commented on #1275
@legoboyvdlp also, would you mind using aliases for the radio properties to keep the code consistent in that file? The aliases are declared on the very top of the file.

[2019-05-16 19:22] gilbertohasnofb commented on #1255
I don't remember how it was done before but wouldn't a translate animation solve this? The object is loaded once and the translation would get as condition whether a bushkit is being used?

[2019-05-16 19:32] wlbragg commented on #1255
Yeah, that is what I thought. A translate needs a property to apply to the factor, I think. So I would need to make a filter to drive a new property to a value of 1 if condition is bushkit = 4 (amphibious).
Then the translate would use that property to shift the y axis .1. I already determined that is the approximate shift needed.

[2019-05-16 19:46] legoboyvdlp commented on #1275
No, I didn't manage to solve the issue, and I am unable to use aliases, since for some reason the <and> logic doesn't seem to work with aliases. If anyone can figure out how to use aliases with <and> logic, feel free to commit it :)

[2019-05-16 19:48] gilbertohasnofb commented on #1275
I will try to take a look at this asap if nobody else beats me to it, but I am super busy in these next days, I'm presenting a paper on a conference and I still a lot of work to do on it (wish I was coding!).

[2019-05-16 19:49] gilbertohasnofb commented on #1255
do you need a filter though? Don't translate animations accept conditions? If not, then go for it

[2019-05-16 19:56] wlbragg commented on #1255
I tried it briefly and it didn't appear to work. I'll take more time with it and make sure.

[2019-05-16 20:07] wkitty42 commented on #1275
really? how comes the KX165 image shows "pull 25k" if it doesn't switch between 25k and something else? there's only the two, 25k and 8.33, right?

[2019-05-16 21:22] gilbertohasnofb commented on #1275
@wkitty42 nice catch. Yeah, I think you are right. @legoboyvdlp what made you think that our model did not allow 8.33 Hz intervals for the COMM radios?

[2019-05-16 21:24] gilbertohasnofb commented on #1255
Maybe it doesn't. The wiki says that nearly all animations accept conditionals, but doesn't state which don't accept them. Nor do the conditional docs in FGData. So if you are sure you did not make a typo and the code still doesn't work then don't spend too much time with it and move on to the filter solution.

[2019-05-17 00:05] legoboyvdlp commented on #1275
That, I presume is because it used to be 50K and 25K; every source I have seen says explicitly only the 165A model has it, our model is the 165TSO. Something else to support the 165TSO not having 8.33 is it only having a 2-decimal point display.

The funny thing is the 165A still says to pull for 25K when you actually pull for 8.33k!

[2019-05-17 00:16] legoboyvdlp commented on #1275
https://www.google.com/url?sa=t&source=web&rct=j&url=http://www.monticellofc.org/aircraft/king%2520kx155%2520guide.pdf&ved=2ahUKEwjIgYSRpKHiAhVnUxUIHawEACYQFjAAegQIBBAB&usg=AOvVaw1fyMvuXjjUomvcwl-SEHKI

So it seems the 165A has the option for both from factory and can be retrofitted for 8.33 - the ordinary 165 cannot. Sorry about the confusion.

Regardless it's very clear the ordinary 165 doesn't

[2019-05-17 00:40] gilbertohasnofb commented on #1275
So I think you are right, @legoboyvdlp. Let's just add the 8.33 support for the moment even if this is not the correct thing with our radio model and then @wlbragg and I can work on the new model in the near future, after the release. Sorry I still did not have a chance to check your code :cry:

[2019-05-17 03:39] wlbragg commented on #1275
Did you guys see this on the dev list?

So for our stock kx155 it should be as easy as setting the property
"eight-point-three" to "true" in
your instrumentation.xml.

[2019-05-17 07:27] legoboyvdlp commented on #1275
Yes, and I verified it works; nevertheless I just need to update the bindings of the knob to update in 0.05 increments, not 0.25.

(Yes, I know it's 0.0083 khz and not 0.05... however thats exactly how it should be, the radio code translates 0.05 to 0.0083, 0.05 was chosen to make life easier for pilots!)

I've done that; however there is an extremely odd bug - I posted a gif above.

[2019-05-17 10:22] dany93 commented on #1275
Weird: by observing `/instrumentation/com/frequencies`, after a decreasing sequence, it increases by two steps, then it stops increasing. Also, it seems to depend on the frequency we start from.

Can it be that it refuses to increase if on some particular frequencies?

[2019-05-17 10:44] gilbertohasnofb commented on #1275
I think this post here explains well what lego is talking about: https://developer.x-plane.com/article/8-33-khz-radios-for-users-and-authors/

[2019-05-17 10:48] dany93 commented on #1275
Yes, this one too, easy to read by looking at the table.
http://www.lightaircraftassociation.co.uk/2013/Magazine/May/radio.pdf

[2019-05-17 11:09] legoboyvdlp commented on #1275
Well, one thing of note is that some frequencies do not even exist - it should e.g. skip from 123.015 to 132.025.
Maybe we need some form of a controller (nasal or jsbsim) to make it work properly?

[2019-05-17 11:14] dany93 commented on #1275
@dany93 wrote

It can reach a 25 kHz step frequency from above (by decreasing), but not from below.

[2019-05-17 11:20] gilbertohasnofb commented on #1275
@legoboyvdlp what confuses me is that the article I post talk about radios with 6 digits representing numbers with 7 digits. Our radio has 5 digits only. With intervals of 0.025, it's easy and there are unique representations to each frequency:

true frequency -> shown frequency
120.025 -> 120.02
120.050 -> 120.05
120.075 -> 120.07
120.100 -> 120.10

But for intervals smaller than 0.10, there will

[2019-05-17 11:25] gilbertohasnofb commented on #1275
From https://www.caa.co.uk/General-aviation/Aircraft-ownership-and-maintenance/8-33-kHz-radios/ :

That is, things like 120.000, 120.005, 120.010, ... But our radio only has five digits.

[2019-05-17 11:34] gilbertohasnofb commented on #1275
@legoboyvdlp this one is clear. It works by mapping some frequencies twice when you have six digits. See that pdf @dany93 posted, it has a table that explains that.

[2019-05-17 13:48] legoboyvdlp commented on #1275
I think it would be easier to make a whole new radio 3D that has the proper six digit display - I'm willing to do that but I need texture work and I'm sure other people would do it better.

As for the question of what frequencies it shows: it does it something like this:

where bold is 25khz, and italic is 8.33 khz
Possible channels = **00**, _05, 10, 15,_ **25**, 30, 35, 40, **50**, 55, 60, 65, *

[2019-05-17 14:14] gilbertohasnofb commented on #1275
I think so. It's super confusing, really... but that seems to be correct according to that pdf.

But then we run into a more fundamental issue: both models of the KX 165 have only 5 digits. So does this mean that this model is not any longer compatible with the EU standards and thus cannot be used in Europe? Otherwise I can't see how it would handle the 8.33 Hz frequencies.

[2019-05-17 15:01] legoboyvdlp commented on #1275
The KX165A has six digits:
![image](https://user-images.githubusercontent.com/10434911/57937029-0d5f1d00-78bd-11e9-8877-920b810edeb5.png)

[2019-05-17 15:17] gilbertohasnofb commented on #1275
Great. I thought it didn't because of the second image posted in the initial issue report, but I think that one is wrong. In that case we definitely need to change the model, but I am not sure we can do it in time for the release, I am ultra busy in the next days... should we maybe hold off with the 8.33 Hz support?

[2019-05-17 15:41] legoboyvdlp commented on #1275
Oops - missed that; that's a 155A, not a 165A in the first post. sorry about that!

That's definitely fine by me; I don't think VATSIM requires it yet although I may be wrong.

[2019-05-17 15:42] wlbragg commented on #1275
The 7 digit frequency is tabled to be 6 digits, so that should be all we need to be concerned about. Although I really don't know how detailed the inner workings of our simulated radio needs to be setup . As in, are any of the addons that use radio support expecting the 7digit frequency output or the 6 digit table representing the 7 digit freq?

I think trying to adapt our radio means you see

and

[2019-05-17 15:43] gilbertohasnofb commented on #1275
Cool, so let's make this a high priority and work on it soon. I will prepare the textures as soon as I can, I will try to do it next week. @wlbragg The model will require very little changes, I think

[2019-05-17 15:46] gilbertohasnofb commented on #1275
@wlbragg Just to make it clear, the examples above are tables from 6 to 5 digits (I am not counting the decimal point, obviously). So 6 digits is enough for unique representation of any frequency multiple of 5Hz or 8.33Hz or 25Hz, but 5 digits has a bottom limit of 10 Hz. Anyway, the solution is to upgrade our radio model, should be easy.

[2019-05-17 16:04] #1274 closed

[2019-05-18 10:56] legoboyvdlp commented on #1275
Here's a model of the 165A - however, it does need a texture.

![image](https://user-images.githubusercontent.com/10434911/57968546-ea3b7880-7963-11e9-8454-2f7897379a40.png)

Gilberto, once I uv-map it, would you be able / willing to texture it? I'm not much good at that bit 😃

[2019-05-18 16:38] gilbertohasnofb commented on #1275
@legoboyvdlp that looks nice! I will work on the texture asap, I will try to find some time to do it still today.

Let me suggest the opposite: let me first create the texture and then you map it, it will be much easier for such simple object.

[2019-05-18 20:59] gilbertohasnofb commented on #1275
@legoboyvdlp texture is ready. I added the CH sign as well as the vertical orange line, and I added the white buttons separately. Should be straightforward to map. I use the dimensions from the photo you used before stretched above the previous texture.

![image](https://user-images.githubusercontent.com/5700795/57974924-2f899580-79b8-11e9-93fc-a13f64fd4445.png)

[2019-05-18 21:02] gilbertohasnofb commented on #1275
pushed to branch `Issue-1275`

[2019-05-20 08:10] #1255 closed

[2019-05-20 09:57] legoboyvdlp commented on #1275
![image](https://user-images.githubusercontent.com/10434911/58013194-023f0380-7aee-11e9-8fbb-54b1a6b3d7c0.png)

I'll be away all day today but I'll try and animate it once I get home or tomorrow.

[2019-05-20 10:06] gilbertohasnofb commented on #1275
That looks really good, lego! Thank you so much for taking this task up, and no rush concerning the animation.

Once you open a PR, I will test it and merge it. I also want to see how the colour of the new texture will look like in the radio stack, I think I might need to tweak the other radio instruments in order to match the colours better. But I will do that only after the PR is opened.

[2019-05-20 12:40] wlbragg commented on #1275
Excellent guys!

[2019-05-20 16:19] wkitty42 commented on #1275
i'm guessing this one and the one about loading the GPS once and using translation to move it will both be added to fgdata pretty quickly so they will be available for the new release?

[2019-05-20 16:43] legoboyvdlp commented on #1275
I don't know if this will be ready for the new release.

The other bugfixes have been requested to be merged already.

[2019-05-20 21:44] wkitty42 commented on #1275
On 5/20/19 12:43 PM, Jonathan Redpath wrote:

ok :)

[2019-05-22 13:04] legoboyvdlp commented on #1275
![image](https://user-images.githubusercontent.com/10434911/58176531-630b3f00-7c9a-11e9-94d1-d2f4c6b22e39.png)

I'll need to edit the materials I think to match the old one?

Regardless here it is in the sim:
![image](https://user-images.githubusercontent.com/10434911/58176571-774f3c00-7c9a-11e9-80d5-56035c2d39bf.png)

[2019-05-22 13:07] legoboyvdlp commented on #1275
One other thing - I think the lightmaps might need to be regenerated unfortunately for the instrument @wlbragg

[2019-05-22 13:26] legoboyvdlp commented on #1275
And it works!

![image](https://user-images.githubusercontent.com/10434911/58178067-5fc58280-7c9d-11e9-8912-860d59868f95.png)

There is still, unfortunately an issue with the bindings and 8.33; wondering if its the <resolution>  tag. Regardless, I need to make a nasal controller in order to skip some frequencies, so I can hopefully resolve it then.

[2019-05-22 14:55] legoboyvdlp commented on #1275
@gilbertohasnofb @wlbragg

I just pushed the top KX165 (COMM 1). I wonder if you could test functionality and also effects before I add the second 165 below it? Thanks!

[2019-05-22 15:19] wlbragg commented on #1275
That looks great, I'll test it here in a a little bit.

Considering the shape and the knobs are close to the same, it looks like it would be pretty close. But we can do new maps for it if needed.

Are we planning on making the two different radios optional?
I feel like we should.

[2019-05-22 15:43] legoboyvdlp commented on #1275
I didn't plan on that, actually. They are that similar; is it really needed (considering it also adds load time, etc)? (Well, to be fair, they are only 20 KB - but still 😀 )

[2019-05-22 16:42] wlbragg commented on #1275
I don't know. I guess it matters weather we want to still want to be representative of the aircraft at its origin date. It may matter to those that want the default radio of the time. Personally I lean towards both. Unless someone convinced me that this new radio came stock in this model, I would want to leave the option. Load time is not relevant in my calculation. @gilbertohasnofb your thoughts?

[2019-05-22 17:13] wlbragg commented on #1275
@legoboyvdlp nitpicking here...

The texture for these knobs could stand some improvement?
![dials](https://user-images.githubusercontent.com/11069680/58194221-90e88780-7c8a-11e9-958d-89e21be4bbdf.jpg)

It shouldn't be to much trouble to add the rod or extend the plastic to not allow for a blank gap when pulling for ident.
![rod](https://user-images.githubusercontent.com/11069680/58194252-a6f64800

[2019-05-22 17:21] wlbragg commented on #1275
@legoboyvdlp when you are all done here would you please push the blend file to dev/blender/instruments/
I would prefer to work out of it if I am doing the glass and any light map changes.

[2019-05-22 17:26] wlbragg commented on #1275
This new radio uses the same model name, kx165?

[2019-05-22 17:45] wlbragg commented on #1275
What is the line for?
![line](https://user-images.githubusercontent.com/11069680/58196241-7d8beb00-7c8f-11e9-8c77-e2681072d0e0.jpg)

[2019-05-22 18:19] legoboyvdlp commented on #1275
It is done. The line is a separator between the NAV and COM radios. The NAV only has 50hz spacing and

[2019-05-22 18:23] legoboyvdlp commented on #1275
Indeed, it's a variant of it, the A-model, but I should probably rename the file to reflect that

As for the blend file, sure. I'll upload it later tomorrow after I fix the knob.

Certainly, that would be great if you could do the glass and lightmapping :)

For the texture I'm not much good at that, sorry. I'll try moving it about and scaling it a little in the uvmap and see if that makes it any b

[2019-05-22 18:35] wlbragg commented on #1275
Oh, is that how they have the comm digits spaced in the real radio, with all that space to the right? See: https://github.com/c172p-team/c172p/issues/1275#issuecomment-493486293 is that a photo of the RL radio?
If it is or even if that is what we are modeling, regardless, I think we need to change the texture of the screen to not show the difference in color between the digit cutouts and the rest

[2019-05-22 20:28] legoboyvdlp commented on #1275
The extra space on the right is accurate to the real one.

Yeah, the colour difference needs fixed, will try tomorrow!

Thanks :smiley:

[2019-05-23 00:07] gilbertohasnofb commented on #1275
This radio has a single display for all readouts, so that's a separator. The glass effect should take that into consideration

Yep, this is a small variant.

I think it's really an overkill to have both. Sure, the 165A is not teh stock model, but it's such a minor departure. Approach 1 is to simulate a million different configurations and have all stock options available. That's cool, but confusin

[2019-05-23 00:25] wlbragg commented on #1275
But if this is a deal breaker for any of you, I reluctantly accept one more checkbox in our aircraft menu.

I can go either way, I just want to do the right thing. If it has all the old freq capability and the new, then I guess it is good enough.

[2019-05-23 00:28] gilbertohasnofb commented on #1275
@wlbragg I think in the case of the digital vs analog clock, it has a substantial different quality to each gauge. But 165A seems to have all features of the original 165 plus some more.

[2019-05-25 08:52] legoboyvdlp commented on #1275
I'll be away for the weekend and unfortunately probably wont have a chance to do this until Tuesday.

[2019-05-25 15:00] giomasce opened #1278 "Cannot change throttle position with generic protocol"
I tried to implement the Arduino generic protocol as indicated in http://wiki.flightgear.org/Howto:Use_Arduino_with_FlightGear, but it does not work. In particular, I cannot change the throttle lever position in the C172 (it works for other planes). I believe that the problem is that the `/controls/engines/engine/throttle` is continuously rewritten by some other code for the C172. I believe that f

[2019-05-25 15:47] wlbragg commented on #1275
Have a nice weekend!

[2019-05-25 16:11] dany93 commented on #1278
There is nothing to fix, that's normal.

The c172p has two possible engines (one at a time) for 160 and 180 hp.

Probably not, your code is too restrictive. `/controls/engines/engine/throttle` can not work on every FG aircraft because it controls only the first engine[0].

I've never done this. I only use the Joysticks code, please look at it and see the` fgdata/nasal/controls.nas`. (line 68 on my

[2019-05-25 20:15] giomasce commented on #1278
Yes, my code only controls the first engine, but on any aircraft it is enough to change `/controls/engines/engine[X]/throttle` to set throttle for engine X. I believe it would be nice if C172 followed the same pattern. Thanks for the workaround, anyway.

[2019-05-25 20:41] dany93 commented on #1278
That's not a workaround. Usual joysticks (almost every joystick) control the engine(s) by this property. Joysticks with several throttle levers are minority.

For the c172p, people does not need to know or wonder if they have to use the engine [0] or [1].

[2019-05-26 07:27] giomasce commented on #1278
Ok, thanks.

[2019-05-27 15:44] gilbertohasnofb commented on #1275
@legoboyvdlp @wlbragg sorry for the delay, I added an extra texture to be mapped around the knobs, see:

![image](https://user-images.githubusercontent.com/5700795/58429703-a3096200-809e-11e9-9ce6-9d8bca48202d.png)

[2019-05-27 15:54] gilbertohasnofb commented on #1134
@wlbragg I managed to create the audio calls. They are far from perfect, particularly since the RL ones are recorded with human voices and I had to use a synthesiser to do the same. But they are acceptable and better than nothing. Check the files `Sounds/gear-up` and `Sounds/gear-down` on branch `Issue-1134` and let me know what you think.

[2019-05-27 16:37] wlbragg commented on #1275
@gilbertohasnofb thank you!

[2019-05-27 20:39] gilbertohasnofb opened #1279 "Improve the KR87"
@ pfefferCode reported these potential bugs in the adf radio KR 87:

1. The rotating knobs seem to rotate the anticlockwise (wrong direction), clicking on it.

2. ~The standby frequency is not displayed after a click on "FRQ"-Button (always 200 is shown).~ user says issue disappeared

3. If on the right display the time is shown, the knob should directly change the active frequency, see: <https://

[2019-05-27 20:40] gilbertohasnofb commented on #1279
As reported in the dev-list. I did not have the time to try to reproduce it yet.

[2019-05-27 22:11] pfefferCode commented on #1279
I retried, and can only reproduce some:
2. und 5. seems to be ok now. I do not know, how I ran into these problems.

But I have another one in the ADF panel:
6. Long pressing the "SET/RST"-Button should change to count-down mode (see page 43 in https://www.bendixking.com/en/~/media/bendixking/files/006-18110-0000_5-kr-87-pilot-guide.pdf ). Is that implemented?

[2019-05-29 08:03] legoboyvdlp commented on #1275
Update to the knobs and screen:
![image](https://user-images.githubusercontent.com/10434911/58540106-9bf26900-81f0-11e9-8107-448f01a803dd.png)

That was the best I could do with the mapping sorry - the zebra stripes are slightly wider at the top and bottom than they are elsewhere.

I think it just needs the glass effect now. I thought I added it, but obviously not!

[2019-05-29 08:13] legoboyvdlp commented on #1275
As a matter of fact, it may be better to keep my implementation in nasal, since we have to support both 8.33 and 25khz which is rather more difficult to do purely in XML. Is that ok?

[2019-05-29 10:54] gilbertohasnofb commented on #1275
@legoboyvdlp Looks really good, lego! How is the functionality so far? Have you implemented that `CH xx` readout as well? I am fine with Nasal, I think some more complex instruments do use it, although it's of course better to use XML whenever possible. Are you sure this is too complex to do in XML? Can't we reuse the original KX165 code?

Concerning the UV mapping, perhaps @wlbragg could help us

[2019-05-29 11:19] legoboyvdlp commented on #1275
I haven't implemented the channel button or nav mode button yet. I think if this is finished in time it could go into the release, so I didn't want to waste time. In terms of functionality, everything else works.
Sure, that's fine :)

Yes, it is too complex to do in XML

[2019-05-29 16:57] wlbragg commented on #1275
I'm still not completely understanding what all is being changed here?

Before we did this, we didn't have the capability for 8.33 at all, even though the radio panel said it could? So I am confused from the start what radio we actually had modeled. Because of that label as well as the channel selector label (no button though, not even a dummy) it appears this is a different radio than in the pict

[2019-05-29 17:02] wlbragg commented on #1275
@legoboyvdlp
Then your referring to this?

"eight-point-three" to "true" in
your instrumentation.xml.

[2019-05-29 17:03] wlbragg commented on #1275
I'll do the glass panels and any uv mapping touch-up when all finished with both radios.

[2019-05-29 17:54] wlbragg commented on #1275
I just noticed the last two of the three digits after decimal are switching at either 25 increments (25khz mode) or 05 increments at (8.33 mode). I didn't notice it earlier.

[2019-05-29 18:19] gilbertohasnofb commented on #1275
The old model was for the KX165, this is a new model KX165A. The former does NOT support 8.33 Hz since it lacks the necessary third decimal digit. So we are creating a whole new model.

The KX165 does NOT have 8.33 capability. I don't think the radio panel says it does, but regardless, we need the model `A` in order to have a realistic instrument that can do that.

The old one had pull for 25K, no

[2019-05-29 18:20] gilbertohasnofb commented on #1275
@legoboyvdlp I just read something troubling in this pdf you posted here https://github.com/c172p-team/c172p/issues/1275#issuecomment-493273662:

How do you interpret this? It doesn't look to me that the 165A has a mode switch between 25 or 8.33, it seems that the radio is installed either in one or the other.

[2019-05-29 19:48] wlbragg commented on #1275
Yeah, but what am I missing, why is there a

below the Comm Frequency Select Knobs while the 8.33 version has “PULL
8.33K”.

at all? What is it if you don't pull it?

[2019-05-29 19:51] wlbragg commented on #1275
Is this supposed to mean...
The 25 Khz version is 8.33k until you pull for 25KHz
The 8.33K version is 25KHz until you pull for 8.33K?

[2019-05-29 19:59] wlbragg commented on #1275
@gilbertohasnofb

I was refering to our old radio texture, it clearly had the verbage and channel switch (label, no button).
![radio](https://user-images.githubusercontent.com/11069680/58587157-4636b480-8222-11e9-848d-476a69d7e087.jpg)

Who did this original radio and texture and why is the 8.33 label included?

[2019-05-29 20:00] wlbragg commented on #1275
Am I confused because this texture is the new texture on the old radio?

[2019-05-29 20:04] wlbragg commented on #1275
OK, that is my confusion, in old pictures the texture doesn't have any of this verbiage, sorry for the noise.

[2019-05-29 20:18] gilbertohasnofb commented on #1275
Yep, that's because we are replacing the whole model and I overwrote the texture. We decided not to keep the old KX165 which is why I went ahead and overwrote it.

This is what that quote I posted here is confusing me: https://github.com/c172p-team/c172p/issues/1275#issuecomment-497052658

Do these radios have two modes AT ALL or they come with a single mode from factory? Read it careful, it doesn

[2019-05-29 20:20] gilbertohasnofb commented on #1275
I just read Henning's email in the dev-list:

So that implies that the option 1 above is correct and we are doing this correctly. Apologies for my noise this time, that quote is really weirdly phrased. All fine, let's just fix the textures, add glass effect, and continue implementing the functionality of this model.

@wlbragg I think that @legoboyvdlp is done with the model, so perhaps you can fix

[2019-05-29 20:26] wlbragg commented on #1275
We're doing both radios though and the second radio is not done. The glass actually resides in the main c172p.ac and I need the second radio in its final position before doing the glass. Also I noticed the top radio is extruding out farther then the original, the second radio is still in the original position. They need to be in final positions. The fact that the top one extrude out approximately

[2019-05-29 20:57] wlbragg commented on #1275
I suppose, I would rather @legoboyvdlp finish both as I don't know exactly what he has and hasn't done or what steps he needs to take with the XML.

[2019-05-29 21:06] gilbertohasnofb commented on #1275
Not a problem then.

[2019-05-29 21:55] legoboyvdlp commented on #1275
To clarify,
The radio has both 25k and 8.33. You pull the comm khz knob to get 8.33. You only get two decimal points with 25K and three with 8.33. This is according to the KX165A installation guide and pilot guide and a video I found.

[2019-05-29 22:01] gilbertohasnofb commented on #1275
Fantastic info, lego. Thanks for the clarification and apologies for adding to the confusion, it's all clear now. Let me know if I can help with anything else other than testing.

[2019-05-29 22:02] legoboyvdlp commented on #1275
I need to fix a bug where when I reset to 25K it should go to the closest 25K channel. Just a note here to remind myself :)

[2019-05-29 22:56] wkitty42 commented on #1275
On 5/29/19 2:20 PM, Gilberto Agostinho wrote:

i'm interpreting it as you have... there's two models of the KX165A... one for
europe and one for elsewhere...

[2019-05-29 22:59] wkitty42 commented on #1275
On 5/29/19 3:51 PM, wlbragg wrote:

that's possible... one model that defaults to 25KHz that can be switched to 8.33
by pulling the knob... the other model that defaults to 8.33 and can be switched
to 25K...

wonder if anyone at bendix can provide the answer? they have responded to my
queries in the past...

[2019-05-29 23:02] wkitty42 commented on #1275
On 5/29/19 4:18 PM, Gilberto Agostinho wrote:

i remember reading that in the manual once upon a moon...

agreed...

interesting...

i'll be quiet now ;)

[2019-05-29 23:04] gilbertohasnofb commented on #1275
@wkitty42 it was a mistake of mine, @legoboyvdlp has seen a video of the operation and we also got someone with RL experience in the mailing list confirming that this model has both 25 and 8.33 support, so it's all clear now.

[2019-05-29 23:13] wkitty42 commented on #1275
yes, i just caught up with all of that... glad to see it is worked out and in progress :smile_cat:

[2019-05-30 01:56] wlbragg commented on #1275
We are going to see this visually then? Because right now it still shows three decimals regardless of mode, but it does change the steps. I noticed however that even in the 25KHz mode the frequencies currently do not match the original 25KHz radio.
You must not be finished with the code?

[2019-05-30 08:58] legoboyvdlp commented on #1275
Ok - yes, I see what you mean - and I think I was in error
looking again at the video:
https://vimeo.com/177075004

it does show three digits all the time.
sorry about that!

I'll be fixing the frequencies so they round to the nearest 0.0025 now.

[2019-05-30 09:16] legoboyvdlp commented on #1275
@wlbragg 25KHZ frequencies should be fixed now.

[2019-05-30 09:25] legoboyvdlp commented on #1275
How's this for the model?
![image](https://user-images.githubusercontent.com/10434911/58623152-3de38580-82c5-11e9-8dfd-62c1ddb6c8f8.png)

Anything else I was supposed to do? If not, then I'll go ahead and add the second radio.

[2019-05-30 16:10] wlbragg commented on #1275
@legoboyvdlp looks good!

[2019-05-30 18:02] wlbragg commented on #1275
Tested the frequency selector and I confirm it is working correctly, nice job.
What is the channel button supposed to do when operable?

[2019-05-30 18:12] wlbragg commented on #1275
@legoboyvdlp would it be a real bitch to move the digits down even if ever so slightly?
I know the real radio has them really close to the top, but if we could move it even slightly I think it would look better. If it is a real pain, I understand a resounding "no"! :smile:
![radio](https://user-images.githubusercontent.com/11069680/58653988-8c504e80-82dc-11e9-9584-746580420472.jpg)

[2019-05-30 18:22] gilbertohasnofb commented on #1275
@wlbragg I think we should reproduce the model as it is in RL!

@legoboyvdlp I noticed in the image above that all digits `1` have some weird artifacts above them:

![image](https://user-images.githubusercontent.com/5700795/58654542-0a7a1880-8310-11e9-8cb7-1f4987941d10.png)

[2019-05-30 18:29] wlbragg commented on #1275
I agree, but there is a little room for interpretation there even so. I'm not talking abut much movement, thus the pain to gain ratio.

Maybe the "weird artifacts" being cleaned up will help.

Looking straight on it doesn't seem so bad, but looking down on the radio, it really looks bad as if it is clipped almost.

[2019-05-30 18:37] wlbragg commented on #1275
Notice the top of divider line is even with the top of the digits.
![radio](https://user-images.githubusercontent.com/11069680/58655387-9c1d6200-82df-11e9-83d1-f84e7c3f0c44.jpg)

Still everything is close to the top, but because the face is glass all the way to over the logo, there is room to make this aesthetically a little more pleasing. Again, maybe it is just adjusting the mapping ever so slig

[2019-05-30 18:57] wlbragg commented on #1275
The mapping isn't off enough that is should be causing this issue, but it could be adjusted slightly. Unfortunately the adjustment to make it not "bleed-over" to the top, actually moves the digit up on the display. Oh, well. @legoboyvdlp  when your all done with this top radio, before you duplicate it to the second radio, if there is still this bleeding over, one of us needs to go ahead and adjust

[2019-05-30 19:04] wlbragg commented on #1275
This is the mapping and it is not bad, I don't see any reason it should be clipping like it is.
There is room to move the bottom row of digits a hair higher which will fix this "bleed-over".

![radio](https://user-images.githubusercontent.com/11069680/58657392-ca04a580-82e3-11e9-99f0-1dc5521488bf.jpg)

[2019-05-30 19:09] wlbragg commented on #1275
Hum, looking at the artifacts, it appears to be the "one" digit only that is affected.

[2019-05-30 19:14] wlbragg commented on #1275
And maybe the "2" digit as well, they are both digits that when actively mapped have the "8" digits close above them. I moved the mapped box horizontally, (all boxes are mapped over the "0" initially), over two the "1" digit and the "2" digit and it is not overlapping into the "8" digit above. So still no real reason it should be doing this. Moving the 8's up slightly may fix this as well.

[2019-05-30 22:05] gilbertohasnofb commented on #1275
* Ok, I took care of that and I am going to push it shortly. Obviously the negative sign, those two 8s, the periods, and the `CH` labels will need to be re-UV-mapped since they have all been raised, ok, @legoboyvdlp ?

* Also, lego, I noticed that the RL instrument has a white contour around it. I added it to the texture but it will require a very precise UV-mapping, There is just a single line of

[2019-05-30 22:08] gilbertohasnofb commented on #1275
About the extended functionality, we can clearly see that this equipment can display _many_ more pieces of information than the regular KX165 using the image below (I bumped the contrast of the display of a photograph in which the radio is off, so we can see _all_ segments of _all_ readouts. We might want to make space for all of them already now to avoid more pain later):

![image](https://user-i

[2019-05-30 22:57] legoboyvdlp commented on #1275
Oh dear - implementing all those is not going to be very fun!

Yes, I agree that we should do the basic radio first. The channel button is for storing up to 32 radio channels. One problem with that is - is it fine to save 32 properties across sessions? I really don't see any other way to do it. Hopefully it won't cause problems to save such a large number of properties.

As for the knob, sure - I

[2019-05-30 23:26] gilbertohasnofb commented on #1275
Yep... but for the moment, let's just focus on the basic functionality.

Is that really such a high number? Do you think it might affect performance or load times?

I am not familiar with these methods. @wlbragg opinions?

[2019-05-31 03:47] wlbragg commented on #1275
I think we can do with out a huge overhead.

Only because everything else is consistent with texttranslate I might be hesitant to change it. If I were to change it to something else I think I would use canvas, but that is a whole other can of worms and a massive amount of work.
@legoboyvdlp do you know of an example for something like these radios that is using osgtext?

I did make a tool to help

[2019-05-31 03:50] wlbragg commented on #1275
@legoboyvdlp if there is anything with the radio you need help with, don't hesitate to ask. Even if it is just something you don't feel like doing. I think we need to put the extra effort into this radio as it will probably be adopted by many other aircraft in the future.

[2019-05-31 08:09] wkitty42 commented on #1275
On 5/30/19 6:08 PM, Gilberto Agostinho wrote:

FWIW: the same display board might be used for several different devices... i've
seen that before in other non-aircraft equipment... can't think of any examples,
though... it was several years back when i saw it and used one to replace another...

[2019-05-31 10:32] legoboyvdlp commented on #1275
Yes, the KX165 as best I remember can save 32 different channels. I don't know how it would affect performance or load times as I don't have any experience with aircraft-data

There's my transponder in the IDG-A32X.
I think osgTEXT cannot be dimmed, which indeed would be a dealbreaker. So yes, I think you are right - sorry, I forgot that it could not be dimmed.

As for canvas it really isn't that

[2019-05-31 11:28] gilbertohasnofb commented on #1275
That's a good point. Also, maybe some features of this equipment are available only for certain airplanes (e.g. perhaps you need to hook certain instruments that we don't have into the KX165A in order to have certain types of information displayed). We need to check it in detail later on.

[2019-05-31 11:30] gilbertohasnofb commented on #1275
I found the pilot's guide, I think it's not as bad as we initially thought, though a bit complex. Basically the NAV radio can take OBS information and also display how far off-course one is. See p. 33 of the manual:
[006-18110-0000_5-KX-165A-Pilot-Guide.pdf](https://github.com/c172p-team/c172p/files/3241063/006-18110-0000_5-KX-165A-Pilot-Guide.pdf)

(again, just adding the resource here, let's not

[2019-05-31 15:56] legoboyvdlp commented on #1275
Thanks!

[2019-05-31 16:28] wlbragg commented on #1275
@legoboyvdlp
[code]

"tool" may have been an overstatement. :smile:

[2019-05-31 16:33] legoboyvdlp commented on #1275
Thanks :)

[2019-05-31 16:38] legoboyvdlp commented on #1275
How's this for the digits / spacer / spacing / vertical stretching / white contour?

![image](https://user-images.githubusercontent.com/10434911/58720711-d3b50880-83ca-11e9-849e-2fe0f4c9b72e.png)

I still need to do the volume knobs and sides / top of the radio.

[2019-05-31 16:42] gilbertohasnofb commented on #1275
Looks good, lego, but it seems that the white contour is touching going all the way to the extremities, whereas in the RL radio there is still a very thin dark band outside the white contour in the front face:

![image](https://user-images.githubusercontent.com/5700795/58720846-327a8200-83cb-11e9-8ddd-c52ccd13c450.png)

Digits look good.

About the complex behaviour, this video here is excellent:

[2019-05-31 16:44] legoboyvdlp commented on #1275
Volume knobs mapped:
![image](https://user-images.githubusercontent.com/10434911/58721043-bcc2e600-83cb-11e9-8ea4-1df81cc22a51.png)

Ok - thanks!

[2019-05-31 16:53] legoboyvdlp commented on #1275
Ok - I'll push what I have; I think I've done everything; hopefully the text-translate doesn't need re-mapped!

[2019-05-31 17:01] legoboyvdlp commented on #1275
Ok - the uv-mapping of the knobs needs adjusted a little and for some reason the digits are still a different colour. Maybe some effect is applied to the digits, and not to the screen object.

[2019-05-31 17:07] gilbertohasnofb commented on #1275
That's all right then. It's just that from the image you posted I get the impression the white touches the sides. not a big deal frankly, but I will try to adjust the texture a bit (no need to re-UV-map, I will just shrink the contour by one pixel).

[2019-05-31 17:44] gilbertohasnofb commented on #1275
Ok, I just pushed the new texture, @legoboyvdlp make sure you pull before doing any more work. I think I covered all possible readouts but do let me know if I missed anything in the future, when we implement the other functionalities.

![image](https://user-images.githubusercontent.com/5700795/58724290-1cbd8a80-83d4-11e9-96df-f9bf346970bc.png)

[2019-05-31 17:55] legoboyvdlp commented on #1275
Ok - thanks 😃

[2019-05-31 18:00] gilbertohasnofb commented on #1275
sorry lego, I pushed one more commit, improving the knob textures

[2019-05-31 19:09] wkitty42 commented on #1275
the only thing i see in the texture is that the LED segments for FLAG looks to be slightly narrower than the ones for the digits... maybe a pixel or two... it isn't that big a deal, though... i know you have spent quite some time working on this and it looks very good as it is :)

[2019-05-31 19:13] gilbertohasnofb commented on #1275
@wkitty42 thanks! I might try adjusting it at some point, but I would like to see it in the sim first and then make adjustments, so this will be in the far future when implementing things. I think you might be right concerning the thickness, but the photos also show that the numbers are smaller than the FLAG readouts (which will decrease their relative size). Let's see, but I appreciate the feedba

[2019-05-31 19:42] wkitty42 commented on #1275
:+1: :100:

[2019-06-03 09:09] legoboyvdlp commented on #1275
Was there anything I was meant to do? Should I uv-map this stuff now and just hide it till its implemented?

[2019-06-03 12:34] gilbertohasnofb commented on #1275
@legoboyvdlp The only thing I would suggest now is to use [this](https://github.com/c172p-team/c172p/issues/1275#issuecomment-497503286) reference image when positioning the digits so that we have space for the other readouts when we implement that. But other than that, I guess from the model point of view that's it. Once you are happy with the digits placement and with the knobs, @wlbragg said he

[2019-06-03 14:22] legoboyvdlp commented on #1275
Ok - that's fine then.

@wlbragg I'll place the second radio today and then its ready for you to do that :)

As for that, yes, comm and nav both work... well I'll check them anyway. The rounding does work and it displays properly.

[2019-06-03 15:11] gilbertohasnofb commented on #1275
Cool, so I think we are ready for @wlbragg. Let me know if there is any more need to modify the textures, otherwise we can open a PR when wlbragg is one and then I will test it thoroughly. @legoboyvdlp thanks for the excellent work so far!

[2019-06-03 16:56] wlbragg commented on #1275
I should I should be able to get to it tonight.

[2019-06-03 19:50] legoboyvdlp commented on #1275
Thanks. I'll add the second radio right now, so please pull before you start work ;)

[2019-06-03 20:02] legoboyvdlp commented on #1275
Testing then pushing second radio.

[2019-06-03 20:25] legoboyvdlp commented on #1275
Ok - pushing now. Just going to do one last functionality test to be sure though.

I noticed that many 172P's have this older style radio. If we were going to have an option of radios, I'd simulate that but I think its not unreasonable to upgrade to the 165A especially since its now required in Europe.

http://www.airmart.com/sites/default/files/styles/slideshow-full/public/Panel%20N52421.jpg?itok

[2019-06-03 21:07] gilbertohasnofb commented on #1275
Yep, the old radio is not legal in Europe any longer. They are so similar in functionality that I suggested we just use the 165A from now on, and I think we all agreed that's reasonable.

[2019-06-03 21:49] legoboyvdlp commented on #1275
(just to clarify there is an even older version. I don't think it's a digital but a manual display. I quite like those old fashioned radios etc, the 165A is close enough to the 165 but if we wanted another option I thought it would be nice to have the (even) older one :stuck_out_tongue:

Regardless let's finish this one first :laughing:

I tested and confirmed nav radio is working as expected; so

[2019-06-03 22:03] gilbertohasnofb commented on #1275
All right, so @wlbragg I guess this is all yours. Ping me when it's ready for testing or if you need anything else.

[2019-06-04 12:01] pfefferCode commented on #1279
and another one:
Turning the inner knob should not overflow to the hundrets of kHz, see:

Source: Pilot's Guide on KR 87, p. 42.

[2019-06-04 13:09] gilbertohasnofb commented on #1279
@pfefferCode Thanks. I still did not have the time to check these. Perhaps @legoboyvdlp or @wlbragg would be interested in taking a look as well. I have updated the first post as to include the new bugs you found as well as cross the ones you can't reproduce any longer.

[2019-06-05 05:33] wlbragg commented on #1275
@gilbertohasnofb I pushed the glass. @legoboyvdlp I corrected the NAVknob knob animation that was off centered. You must have transposed a number as the reported Blender coords worked fine. But there is another issue I wasn't able to correct. The COMknobKHZ for both radios is hot and changes the numeric freq, but it isn't animating the knob model. The MHZ is working correctly.
Note, I think I stat

[2019-06-05 10:01] legoboyvdlp commented on #1275
Hi,
Thanks! I'll see if I can fix that knob... giving it a bang with a hammer maybe? :stuck_out_tongue:

[2019-06-05 12:49] gilbertohasnofb commented on #1275
@wlbragg @legoboyvdlp great, many thanks! Do let me know when this issue with the animation is fixed, then we can open a PR and I will test and merge this.

[2019-06-05 14:28] pfefferCode commented on #1275
I just found the 8.33kHz implementation in ka165A.nas:
<https://github.com/c172p-team/c172p/commit/63cd7bfab47de8aa521b36c879198cef259ad363>
And there is an implementation in a cxx file:
<https://sourceforge.net/p/flightgear/flightgear/ci/next/tree/src/Instrumentation/commradio.cxx#l552>

I think, it is not good to have the same functionionality implemented twice.

Best regards,
   Pfeffer.

[2019-06-05 16:33] gilbertohasnofb commented on #1275
@pfefferCode Thanks for that @legoboyvdlp @wlbragg could you please take a look and see if this overlaps with your work and, if so, adapt it?  We definitely do not want to duplicate any code, and if the functionality has been implemented elsewhere we should definitely make use of that.

[2019-06-05 16:43] legoboyvdlp commented on #1275
I asked for the information required to use that method and did not receive an answer. Therefore, I continued with my own method.

[2019-06-05 16:53] gilbertohasnofb commented on #1275
@legoboyvdlp no need to explain yourself, lego, these things happen. What really frustrates me is a strong reaction from people who are not the ones who potentially lost time or work on a separate solution to a given problem. Anyway, you are doing an excellent job here :smile: let's just try to solve this and reuse as much code as possible, even if it means refactoring a lot of what we have done s

[2019-06-05 17:32] wkitty42 commented on #1275
i haven't seen one either...

it did make it to the list... i just quoted it back over there... the only thing i can think of is RL getting in the way and the message was missed...

that is/was the best thing to do in light of the circumstances...

[2019-06-05 17:36] wlbragg commented on #1275
@legoboyvdlp no worries! If we can get the information needed, then great, if not, we have an implementation that is working now! Well, almost. :smile:

[2019-06-08 14:25] legoboyvdlp commented on #1275
Anyone know how to round to the nearest multiple of 4 in Nasal?

[2019-06-08 14:30] gilbertohasnofb commented on #1275
From the wiki, I see that the `round` function can take an optional precision argument `p` as in `math.round(x[, p])`. I am not sure whether `p` is an `int` with the number of decimal point of whether `p` can take values such as `0.25`. Maybe give it a try, otherwise you will probably need to implement the function yourself. It's basically a one liner where you multiply your value by four, then fl

[2019-06-08 14:41] gilbertohasnofb commented on #1275
@legoboyvdlp if you want to round to the nearest 0.25 frequency, then you need to use round in the second step of my last phrase, not floor. Floor will obviously 'round down'. In other words:
[code]

[2019-06-08 15:00] legoboyvdlp commented on #1275
Hi,
Thank you!
So far I managed to round up. However I'll try to implement using your method.

[2019-06-08 15:03] legoboyvdlp commented on #1275
So would this be it?

`if (getprop("/instrumentation/comm[0]/channel-mode-selector") == 0) {
		var remainder = math.round(4 * getprop("/instrumentation/comm[0]/channel-mode-selector")) / 4;
		setprop("instrumentation/comm[0]/frequencies/standby-channel", remainder);
	}`

[2019-06-08 15:12] dany93 commented on #1275
Sorry if my suggestion is the result of misunderstanding, but:
Can 'modulo' be useful?
[code]

[2019-06-08 15:15] legoboyvdlp commented on #1275
Hi,
Thanks dany. That gives the remainder, right? But that will only allow me to round up (my old soloution which didn't work anyway for another reason).

[2019-06-08 15:21] legoboyvdlp commented on #1275
I think this is ready just as soon as I make one last change - could someone please test (especially the rounding to be 100% sure)?
Thank you!

[2019-06-08 15:22] wlbragg commented on #1275
Did you ever get the knob to animate correctly?

[2019-06-08 15:23] legoboyvdlp commented on #1275
Yep, I did - the issue was that property-adjust doesn't work correctly with just <factor> and <increase> / <decrease>.

[2019-06-08 16:10] gilbertohasnofb commented on #1275
@wlbragg is the glass applied already? @legoboyvdlp is the PR ready to be merged if all tests are fine?

[2019-06-08 16:14] gilbertohasnofb commented on #1275
@legoboyvdlp I am sure the formula needs to be `math.round(4.0 * frequency) / 4.0` and _not_ `math.round(4.0 / frequency) * 4.0. See this test in Python which works as expected:

[code]

But this doesn't work:

[code]

[2019-06-08 16:19] gilbertohasnofb commented on #1275
Also, if you are using the same function four times, declare it separately so that it can be reused. Something like:

[code]

[2019-06-08 16:29] legoboyvdlp commented on #1275
`math.round(4.0 * frequency) / 4.0`

The problem with that is, if you multiply by four you always get an integer, the closest integer.
Then, when I multiply by four its an integer.

I think what is happening is you are using frequencies, I am using channels instead - which is always an integer.

And yep, I converted everything to spaces... I hope!

[2019-06-08 16:31] legoboyvdlp commented on #1275
The pull request is ready to be merged after testing and glass is applied.

[2019-06-08 16:33] gilbertohasnofb commented on #1275
Yep, I misunderstood what you wanted to do. Since one of the spacings we are using is 25 kHz, when you wrote that you wanted to '[...] round to the nearest multiple of 4 in Nasal' I got confused.

TLDR; you are right, I am wrong.

Nevertheless, consider declaring that as a separate function since you used it at least four times. Or better yet, have you checked what that optional `p` argument does

[2019-06-08 16:35] gilbertohasnofb commented on #1275
@wlbragg ping me when the glass is applied, no rush though.

[2019-06-08 16:36] legoboyvdlp commented on #1275
You mean math.round(x, 4)?

Is the "nearest four" always going to be the nearest multiple of four?
so would it round e.g. 347 to 348 since thats the closest multiple of four?

I think the glass is already applied.

[2019-06-08 16:41] wkitty42 commented on #1275
On 6/8/19 10:30 AM, Gilberto Agostinho wrote:

FWIW: my understanding of "precision" is the number of digits to the right of
the decimal point...

eg: math.round(x,5) will give x.yyyyy whereas math.round(x,2) will give x.yy

[2019-06-08 16:42] gilbertohasnofb commented on #1275
I think @wkitty42 is right. Once @wlbragg confirms everything is done from his side I will test this.

[2019-06-08 20:36] wlbragg commented on #1275
Did I not push the glass yet? I think it is already done in...
https://github.com/c172p-team/c172p/pull/1280/commits/f2abd960276da5963b28935a031185622d50f1c5

[2019-06-08 21:08] gilbertohasnofb commented on #1275
Sorry I must have missed your message when you pushed that commit. I will test the PR shortly and merge it if all is looking good.

[2019-06-08 22:54] gilbertohasnofb commented on #1275
I am having issues with my FlightGear installation and I can't test this right now. I get an error message `FGPropertyValue::GetValue() The property propulsion/tank[0]/density-lbs_per_gal does not exist.` and then my sim crashes. My FGData is up-to-date, but since I use Saiarcot's PPA I depend on his builds, and the latest build apparently does conflict with some of the newest features of FlightGe

[2019-06-09 01:10] wlbragg commented on #1275
@gilbertohasnofb I will look at it tonight.

[2019-06-09 08:43] legoboyvdlp commented on #1275
Just to note I thought it would show the three decimal places, only it increments by 025? May be worth checking that on Vimeo on the video showing the testing of a KX165A. I can't right now but will when I can.

[2019-06-09 11:05] gilbertohasnofb commented on #1275
@legoboyvdlp I don't think that's correct, lego. Also, your comment here https://github.com/c172p-team/c172p/issues/1275#issuecomment-493459945 has an issue with the digits of the 8.33 kHz mode too: the addition is of 0.0083, not 0.083. These are the correct behaviours. First, the 8.33:

[code]

Then the 25 kHz:

[code]

[2019-06-09 11:10] gilbertohasnofb commented on #1275
@legoboyvdlp see what I had previously quotes from the pdf you posted here https://github.com/c172p-team/c172p/issues/1275#issuecomment-493273662:

[2019-06-09 14:13] legoboyvdlp commented on #1275
Ok, thanks!

[2019-06-09 18:37] legoboyvdlp commented on #1275
@gilbertohasnofb
https://vimeo.com/177075004
I think the 165A is different?

[2019-06-09 20:49] gilbertohasnofb commented on #1275
@legoboyvdlp you are right, I simply assumed it would behave as the KX155A, and surprisingly that is not correct. I updated my comments above as to not cause any confusion, so @wlbragg the testing checklist is correct now.

@legoboyvdlp So the digits should be:

in 8.33 kHz mode:
[code]

in 25 kHz mode:
[code]

can you confirm?

[2019-06-09 22:02] pfefferCode commented on #1275
Where is the difference to K155A? Does the K155A show 118.200?

Am 9. Juni 2019 22:49:24 MESZ schrieb Gilberto Agostinho <notifications@github.com>:

--
Robert Arnold

[2019-06-09 22:06] gilbertohasnofb commented on #1275
Concerning only the display of frequencies, from what we could figure out with videos and manuals the only difference is that the KX165A display three decimal digits in both modes (8.33 and 25 kHz) while the KX155A displays two decimal digits on 25 kHz mode and three decimal digits in 8.33 kHz mode. So the only difference is that frequencies such as 118.025 and 118.075 are displayed as 118.02 and

[2019-06-10 01:22] wlbragg commented on #1275
@legoboyvdlp two things so far.

No NAV volume on the bottom radio? Also the one on the top wobbles just a tiny it. I can get the center and change it before I merge if you have any trouble with it.

There is a very faint red/orange line to the left of all the 7's. It's not totally noticeable, but distinct enough that maybe if not difficult to correct?

![rad](https://user-images.githubusercontent

[2019-06-10 09:11] legoboyvdlp commented on #1275
For the seven, I'm afraid I have no idea how to correct.

Ok - thanks; I'll fix that animation and add the missing knob.

[2019-06-10 09:23] legoboyvdlp commented on #1275
Ok - I see why it's doing it, going to edit the texture to fix it.

[2019-06-10 11:30] gilbertohasnofb commented on #1275
@legoboyvdlp please don't do this to textures again. First, I have GIMP files that I upload to the other repository, so if you manually edit a png they get out of sync. Either edit the xcf files in that repo, export the png, and push both or tell me about it and I will be happy to do it for you. Secondly, I think you did not pull before editing that texture and you have undone some work I did (I h

[2019-06-10 11:38] gilbertohasnofb commented on #1275
@wlbragg Also, I think the knobs need to be re-UV-mapped. From some angles they look really good, but as you rotate them they look weird. See my purple circles in the image you posted, they all should look like the knob with the red arrow (just to make it clear, I suspect all four knobs need fixing, the one with the red arrow just happens to be in a position which it looks good in that screenshot)

[2019-06-10 22:29] legoboyvdlp commented on #1275
Thanks Gilberto. What other repository is the one you mean? I never heard of such a repository - shouldn't the xcfs be in the dev folder with the blender files or the blender files in the other repository? Regardless thanks for letting me know :smiley:

[2019-06-10 22:30] legoboyvdlp commented on #1275
Also is it just me or is the screen colour reverted again? It seems to be different to the LEDs.

[2019-06-10 22:35] gilbertohasnofb commented on #1275
@legoboyvdlp

https://github.com/gilbertohasnofb/c172p-detailed-liveries and it's mentioned in the description of this repo here :smile:

Nope, they are far too big to be kept in this repo.

Nope, I broke that. Sorry but since you have been altering the png directly and not telling me about it, my xcf files got out of sync, and every time I made a modification I 'overwrote' your modification. With

[2019-06-10 22:38] gilbertohasnofb commented on #1275
@legoboyvdlp done, please pull and test

[2019-06-11 08:04] legoboyvdlp commented on #1275
Ok, thank you!

[2019-06-11 18:18] wlbragg commented on #1275
@legoboyvdlp @gilbertohasnofb
Just testing now and I noticed on the 8.33 radio you go from .090 to .000 VS .090 to .095. Both ways up and down, is that correct?

So far the radio looks great, I still need to look at the knob UV mappings and see if there is room for improvement.

As far as the lighting, it all looks good with the exception of a slight problem with the light maps.
![rad](https://use

[2019-06-11 19:03] gilbertohasnofb commented on #1275
Yes, that is correct. here is a whole cycle of 100 kHz to show which ones should be skipped:

[code]

Well, the model is different than the KX165 so this is expected. Would it be possible for you to re-generate the light maps for this radio? Moving it by trial and error is a pain and won't look as good...

[2019-06-11 19:22] wlbragg commented on #1275
Sorry I should have looked, that is really weird though that they had to skip and map things the way they did. Must be some freq. that are not meant to be  available to joe-blow common guy.
I remember when into sIde-band we used to "peek-and-tweak" our radios to get the in between and extra channels, some of which I remember were civil defense or military.

Let me see if I can refresh my memory. I

[2019-06-11 19:59] gilbertohasnofb commented on #1275
That's not the reason. You have to remember that we are talking about the frequencies displayed to the pilot, _not_ the actual frequencies the device is tuning in. The frequencies it tunes in are in equal steps of either 25 kHz or 8.33 kHz. The reasoning behind the system was that it's easier for pilots to dial in multiples of five than it is to tune to something like `118.0917`, avoiding potentia

[2019-06-11 20:23] pfefferCode commented on #1275
Am 11.06.2019 um 21:59 schrieb Gilberto Agostinho:

I was thinking about that too. And I guess that there are more
differences between 25 kHz and 8.33 kHz spacing than just the
frequencies. For example, it might be necessary to cut off frequencies
from the spoken voices in the 8.33 kHz spacing that are above 4.16 kHz
whereas they are allowed in 25 kHz spacing. That might be the reason why
8.33 kHz

[2019-06-11 20:40] gilbertohasnofb commented on #1275
@legoboyvdlp @wlbragg can you guys please make sure that the true frequencies and the displayed frequencies are correct according to that table?

[2019-06-11 21:37] legoboyvdlp commented on #1275
Sure, can do tomorrow.

[2019-06-12 11:21] legoboyvdlp commented on #1275
I can confirm it matches the table - so just the effects to fix and its done! Thanks for all the help especially with the texturing gilberto 😃

[2019-06-12 17:09] gilbertohasnofb commented on #1275
@legoboyvdlp Fantastic! So @wlbragg I think we are only missing the lightmap and then this is ready to be merged

My pleasure, and this was an easy texturing job since I used a lot of the old texture as base. You did wonderfully with the model and the programming :clap:

[2019-06-12 22:54] wlbragg commented on #1275
@gilbertohasnofb @legoboyvdlp I am done with the light maps. I remapped the knobs and changed all center points of all the knobs. So the animations all need to be checked again.
I think the UV mapping is slightly better. It took considerably longer than I anticipated to remap them as I tried a couple different methods and opted for the final version. If you want it any cleaner or finer grain for t

[2019-06-12 23:00] legoboyvdlp commented on #1275
Yeah, Stuart asked for it specifically for the release after the last release was merged so it's probably best to.

Thanks! I will check the animations as soon as I can :smiley:

[2019-06-12 23:56] gilbertohasnofb commented on #1275
@legoboyvdlp no pressure but please check and merge this as soon as you can if we are to add this to the release. We can cherry pick the commits into the release branch after the merge and then we can notify Stuart

[2019-06-13 00:01] legoboyvdlp commented on #1275
Sure, will do within 12 hours.

Are you happy if I go ahead and merge then? I think you've both checked functionality and I have as well, so to be absolutely sure I am free to merge once I check the animations?

[2019-06-13 00:10] gilbertohasnofb commented on #1275
Yes, please merge if you are happy with @wlbragg's work on the animations and light maps. He has checked your previous work so we should be fine. Unfortunately I am not able to test it at all since my installation is broken (our aircraft requires features that are not available in the FG version from the PPA and compiling FG is an absolute pain over here).  So check the light maps, animations, and

[2019-06-13 10:17] legoboyvdlp commented on #1275
All looks good - merging now!

I must say the ADF instrument sure doesn't look as good as the 165 does now... maybe there is another project there 😛

[2019-06-13 10:18] #1275 closed

[2019-06-13 11:36] gilbertohasnofb commented on #1275
Great, thanks once again, @legoboyvdlp ! Fantastic work. I will cherry pick the commits into the release branch in one hour, just need to finish something here first.

That's a good idea, I would love to have a consistent radio stack. Would you open a new issue for that? Then I will work on the ADF texture as my next project :smile:

[2019-06-13 12:46] gilbertohasnofb commented on #1275
@onox I really need your help adding these fixes to the 2019.1 release branch. I tried cherry-picking each of the 25 commits of the PR https://github.com/c172p-team/c172p/pull/1280 one by one but that is not working, I suspect that's because there are some merge commits there and it's all a bit messy. I then tried merging the `master` branch into the `release/2019.1` branch, which works fine, but

[2019-06-13 13:28] wlbragg commented on #1275
@gilbertohasnofb what happened when you tried them one-by-one?

[2019-06-13 13:33] wlbragg commented on #1275
Something like...

hint: after resolving the conflicts, mark the corrected paths
hint: with 'git add <paths>' or 'git rm <paths>'
hint: and commit the result with 'git commit'

[2019-06-13 13:35] gilbertohasnofb commented on #1275
There were several errors, some like the one you mention above, others mentioning that cherry-picking merge commits require some different options I am not familiar with. I sent @onox an email as well asking him to come over and give us a hand when possible.

[2019-06-13 13:48] wlbragg commented on #1275
I don't understand why we have conflicts with the very first commit to the radio branch that we're trying to add to the release?
Did you try fixing the conflicts in order, cherry-pick, go to next commit, do same?

If so, what, then you hit...

Or did you not try to fix the conflicts and simply moved to the next commit in the list?

[2019-06-13 13:50] wlbragg commented on #1275
I'm going to be gone for awhile, if @onox isn't on this by the time I get back I may try on my local to walk through them, fixing conflicts as I go, and see if I get anywhere. I won't push anything and make it worse, Just see if  i can get it done locally, or get hung up where you did.

[2019-06-13 15:09] legoboyvdlp commented on #1275
I've edited this one: https://github.com/c172p-team/c172p/issues/1279 (so as to include the bugs that need correcting :) )

[2019-06-13 15:22] legoboyvdlp commented on #1279
Right - there are two variants here. I need a bit of help -

![image](https://user-images.githubusercontent.com/10434911/59445339-64420e80-8df7-11e9-92cf-4bc8d241421a.png)

or
![image](https://user-images.githubusercontent.com/10434911/59445370-72902a80-8df7-11e9-9966-b2fb1aa2b3c8.png)

We have the second one. I am not sure, I think the top one is the "Silver Crown Plus"?

Anyone any idea what the

[2019-06-13 16:03] gilbertohasnofb commented on #1279
Visually, the differences are minimal:

![image](https://user-images.githubusercontent.com/5700795/59448415-fe588580-8dfc-11e9-99cf-6d93865c98f0.png)

From the point of view of operation, I can't find any information about the differences. From what I gather, they are absolutely the same. Bendix apparently released a 'silver crown' line for all their radios. I would not bother too much with that.

[2019-06-13 16:04] gilbertohasnofb commented on #1275
The main issue is that I can't test things locally with my broken installation of FG, so solving conflicts manually is really too risky. This should be trivial to be done with git since we want all the commits from that PR branch into the release branch, but for some reason this is not being that easy.

[2019-06-13 16:56] wlbragg commented on #1275
Hum, way over my head, as soon as I get to a .png I get stuck. It recognizes that the .png changed but won't commit it after approving the conflict.

[2019-06-13 18:26] gilbertohasnofb commented on #1275
I don't think the issue is the type of file, apparently the issue is how cherry-pick handles merges. We can add this to the list of good reasons why we should always pull first before doing and pushing any work :smile_cat:

[2019-06-13 21:01] legoboyvdlp commented on #1275
Can't you just make a new release without cherry picking? Push directly?

[2019-06-13 21:03] legoboyvdlp commented on #1279
Ok - one is the plus, one isn't. I'll try and find the differences of the plus... Thanks!

I asked Josh but his pipers have an ancient ADF... even older than this with a mechanical display!

[2019-06-13 21:53] gilbertohasnofb commented on #1275
That would require rebasing the master which is a no-no. This is because there is a commit where the version number has changed from `2019.1` to `2019.2-git`. So unfortunately it's not that easy.

[2019-06-14 06:56] onox commented on #1275
@c172p-team/developers Going to backport this 8.33 feature to the release branch.

@legoboyvdlp Do you happen to work on multiple computers?

[2019-06-14 07:47] onox commented on #1275
I do not yet understand how to fix conflicting binary files, so I made a backup of kx165.png, removed the commits that only touched that file and then restored the backup with a new commit:

[code]

Now cherry-pick the commits without that other merge commit to the release branch:

[code]

[2019-06-14 07:53] onox commented on #1275
@legoboyvdlp Please check everything works OK in the release branch. Then @stuartbuchanan can merge it back to fgdata.

[2019-06-14 12:47] gilbertohasnofb commented on #1275
@onox First of all, thank you so much for solving this pickle. The important thing about the png is that the one on the release branch matches the one in the `master`, and I did check it and it does.

@legoboyvdlp Please make a final check of the release branch when you have a chance, then we can notify Stuart.

[2019-06-14 15:11] wlbragg commented on #1275
@gilbertohasnofb @onox I don't really even understand how you get conflicting binary data and why you can't simply pass the binary without change like you can any other data. That is where I hung up trying to do this. I was left in a position to do some manipulation to the files in history out of the ordinary flow of the commit process, I take it that is what @onox basically ended up doing anyway.

[2019-06-14 17:06] legoboyvdlp commented on #1275
No, I think the conflict was introduced because gilberto edited the texture file, and I also did (unaware of the repository that the texture files were in. Sorry about that!

Thanks for fixing!

[2019-06-14 17:59] gilbertohasnofb commented on #1275
Let's just try to keep others informed when we are pushing something into a branch, ok? Particularly if others are working with us (if we are doing a feature alone, no problems, of course). Then absolutely always do a git pull before doing any work. And if you realise that someone pushed something and you have new work, then stash it, reset the branch, pull the change by the other person, then rea

[2019-06-14 18:00] gilbertohasnofb commented on #1275
@legoboyvdlp Could you please write the list that we are ready? Just point them to https://github.com/c172p-team/c172p/tree/release/2019.1

[2019-06-14 18:24] legoboyvdlp opened #1281 "Setlistener errors reported in 2019.2"
Hi,
Next is now giving these errors:

`ERROR: Cannot add listener to tied property /sim[0]/current-view[0]/view-number[0]
  ...
   93.22 [POPU]:nasal      ERROR: Cannot add listener to tied property /sim[0]/current-view[0]/view-number[0]
   93.22 [POPU]:nasal      ERROR: Cannot add listener to tied property /sim[0]/current-view[0]/view-number[0]
...
   97.45 [POPU]:nasal      ERROR: Cannot add lis

[2019-06-14 18:27] legoboyvdlp commented on #1275
The screen is the wrong colour again, I'm going to fix it now and cherry-pick.

[2019-06-14 18:38] gilbertohasnofb commented on #1275
@legoboyvdlp are you sure? The file in our master matches the one in the release branch. Unless we merged the PR with the wrong png file, but we checked it a million times.

[2019-06-14 18:38] gilbertohasnofb commented on #1275
release: https://github.com/c172p-team/c172p/blob/release/2019.1/Models/Interior/Panel/Instruments/kx165/kx165.png
master: https://github.com/c172p-team/c172p/blob/master/Models/Interior/Panel/Instruments/kx165/kx165.png

[2019-06-14 18:41] legoboyvdlp commented on #1275
Yes, I am sure - the LEDs are much darker.

I am now cloning the texture repository - so it looks like it might be several hours even with --depth=1...

[2019-06-14 19:08] wlbragg commented on #1281
That is some new debug I think Richard introduced, I know nothing more about it or if it is an issue for us.

[2019-06-14 19:09] gilbertohasnofb commented on #1275
Did you figure it out? I see you wrote the list

[2019-06-14 20:00] legoboyvdlp commented on #1275
Sorry, I forgot to write here.

It was the interior radiance and transparency effects - I added the LEDs but omitted to add the screen object.

[2019-06-14 20:05] gilbertohasnofb commented on #1275
And so, just to confirm, you added the fix to both the release branch as well as the master? Or was the master already fine? Regardless, thanks for the quick fix.

[2019-06-14 20:06] legoboyvdlp commented on #1275
Yep, I fixed on both release and master. No problem!

[2019-06-14 20:14] gilbertohasnofb commented on #1275
Great work once again, @legoboyvdlp

@onox thank you so much for fixing the release

[2019-06-19 10:26] legoboyvdlp opened #1282 "Invalid OSGText axis alignment causing error"
Hi,
Julian Smith has fixed the "ignoring unknown axis-alignment'yx-plane" error, as well as some path errors in textures (which I have never seen). I'll be commiting this shortly. Should this go to the release branch also?

Please test and merge.

[2019-06-19 10:35] legoboyvdlp commented on #1003
Any reason why we are using grain and grain-magnification instead of ALS's built-in dirt support?

http://wiki.flightgear.org/Howto:Add_effects_to_an_aircraft#Dirt

Just checking if there is a reason before I switch to the new way of doing dirt.

[2019-06-19 15:19] wlbragg commented on #1003
Nope I didn't know the other existed. If you think it is a better fit, go for it. Verify that using canvas is not more overhead than the ALS dirt which is incredibly cheep. Also note the ALS examples for dirt that I ever used never had any custom textures created for our specific aircraft needs. Meaning if they looked bad it was probably because of the art.

[2019-06-19 15:27] legoboyvdlp commented on #1003
It's not using Canvas - its using the ALS dirt effect as opposed to the grain effect which is currently being used. The Vostok-1 is the only one using the ALS dirt effect (which is relativitely newer) that I know of so far. There may well be others?

[2019-06-19 15:45] wlbragg commented on #1003
Sorry @legoboyvdlp my mistake. I read it wrong.  I wonder why the ALS Dirt effect isn't added to ALS Technical notes http://wiki.flightgear.org/ALS_technical_notes#The_grain_texture that is where I always turn for reference. I knew there was a dirt effect but only saw the "grain" and assumed it on in the same. Yes, we should use dirt effect.
Good catch !

[2019-06-19 16:05] #1282 closed

[2019-06-19 19:14] legoboyvdlp commented on #1003
@gilbertohasnofb @wlbragg  I was wondering if either of you would have time to make any artwork?

As far as I see, the dirt has to be on the same texture as the aircraft (that is, unlike the grain texture it isn't going to be spread across the aircraft).

If we want just plain dirt, then it needs to be in the red channel, while alternatively if we also want oil etc (e.g. stains behind the exhaust

[2019-06-19 21:39] wlbragg commented on #1003
I think you mean it has to be in the same location as the object to be textured is on the original texture sheet. But this will be a new texture sheet with dirt on the red channel and a different channel for a different substance.  Same as the normals map! If @gilbertohasnofb can do the textures even as a regular texture, I think I can get them to the correct channels.

[2019-06-19 22:15] legoboyvdlp commented on #1003
Yep, that's exactly right - basically a light map for dirt :smiley: dirt-map?

[2019-06-27 20:38] wlbragg opened #1284 "Segfault when lowering amphibious gear on land"
Segfault is caused when you lower and then raise the amphibious gear on land.

[2019-06-27 20:46] wlbragg commented on #1284
I stumbled on to this while working on the J3Cub. I think what was happening is when the gear extended there is a brief jump in gear forces all at once at the end of gear-pos-norm. The logic that checks the ground cover for friction factor calculations for "pontoon only, no gear" didn't like that sudden jump and was causing a segfault. It only happened in a code block that was using one contact pr

[2019-07-17 19:18] wlbragg opened #1286 "Turn coordinator gyros breaker not hooked up"
I noticed while adding the turn coordinator gauge to the pa18 that the breaker for it was not operational.
I think all it requires is a logic statwment as follows...
[code]

[2019-07-17 21:45] #1286 closed

[2019-07-26 22:18] wlbragg commented on #1284
I found a much better way to fix this. I will push changes as soon as I get it fixed.

[2019-07-27 04:46] wlbragg commented on #1284
This is also an extension of the original issue.
If you broke amphibious landing gear you would cause a simulator crash. The PR completely eliminates the issue as well as adding some ascetically pleasing gear control effect where the gear selector knob is functional but does nothing if the pontoon is broken. If damaged, it still works as it should. If broken, the gear is retracted as if the gear s

[2019-08-01 15:39] #1284 closed

[2019-08-01 17:19] wlbragg opened #1290 "Amphibious gear switch should not triger repair timer while pontoon damaged"
I missed this in my rush to get this in 2019.1. This fixes the behavior but there is still an issue that the amphibious gear trigger a repair when they are switched when not damaged. So if say a wing is damaged and you raised or retract the gear, it gets repaired. I can't find the trigger here. I looked at the "repairing" flag but don't see that triggering a repair, only a delay on all damages and

[2019-08-01 17:34] #1290 closed

[2019-08-01 18:02] wlbragg opened #1292 "Assertain if the gear damage coeff need to match the gear coeff and fix"
See https://github.com/c172p-team/c172p/pull/1289#issuecomment-516582789 and https://github.com/c172p-team/c172p/pull/1289#issuecomment-517371539

[2019-08-01 18:08] wlbragg opened #1293 "Amphibious gear deploy switch triggers a repair"
The amphibious gear trigger a repair when they are switched when not damaged. So if say a wing is damaged and you raised or retract the gear, it gets repaired. I can't find the trigger. I looked at the "repairing" flag but don't see that triggering a repair, only a delay on all damages and tiedown support.

[2019-08-02 05:10] #1293 closed

[2019-08-02 05:11] wlbragg opened #1295 "Left out initialization of new traversing property"
Left out initialization of new traversing property. This is known to cause issues on some systems.

[2019-08-02 05:14] #1295 closed

[2019-08-02 17:04] dany93 commented on #1292
I've done a few tests **with the Default gear**, by restoring the coefficients in `c172p-damage.xml`
nose 3600 / 1200
main 5400 / 1800
(same as those in the FDM)

At these quick tests (to be checked more carefully, by me and someone else) I think that the coefficients can be restored in the damage file, to be consistent.
- The gears break reasonably on hard landings, not the wings.
- I could break

[2019-08-02 20:01] wlbragg commented on #1292
Yes, I don't know why we opted to do that, I think it was for realism as in you probably wouldn't or couldn't fix your aircraft with the engine running or while in the air.
I remember conceding to that because it could be circumvented by cycling the "Allow Damage" choice.

Thanks for testing the coeff in the damage file. I'll do the same and see if I get similar findings.

[2019-08-13 16:23] dany93 opened #1297 "Strong pitch oscillations at rest, Brakes "ON", with pure crosswind"
Connected to:
- this remark by @algefean https://github.com/c172p-team/c172p/issues/1130#issuecomment-399561812
- this one, https://github.com/c172p-team/c172p/issues/1130#issuecomment-403204924
 and
- this issue (description, investigation and circumventing solution) in JSBSim https://github.com/JSBSim-Team/jsbsim/issues/89

Very rare, we were the first ones to notice it. It happens with a pure c

[2019-08-14 04:20] wlbragg commented on #1297
Great, I think I have seen this in the j3cub. I had no idea what was causing it as it so rarely happened, but when it did it was very strong. It makes sense that the cub also exhibited this issue.
Can this be tested by introducing a crosswind to my version of the c172p or the j3cub before and after the fix is applied?

[2019-08-14 08:37] dany93 commented on #1297
Easy to test in the simulator.

You have both versions ready for the c172p (before and after this PR).
You have to add the code in the J3Cub FDM (both CLadot and Cmadot).

Aircraft at rest on the runway, **brakes "ON"**. Even with the engine stopped. Just set a crosswind accurately perpendicular to the aircraft.

Example:
KSFO, runway 10L.
The wind direction is in true heading (not magnetic).
- Re

[2019-08-15 09:43] bcoconni commented on #1297
@dany93 wrote:

I would like to mitigate that statement because it is quite inaccurate.

As I have shown in https://github.com/JSBSim-Team/jsbsim/issues/89#issuecomment-473670031, the computation of aerodynamic forces **must not use** the total velocity that includes the span-wise velocity. I explained that this was not conforming to the laws of physics (namely the good old Kutta-Jukowsky theorem)

[2019-08-15 10:22] dany93 commented on #1297
Sorry @bcoconni for my misunderstanding, and thank you this additional information.
And thank you once more for having investigated and found a solution to avoid this behavior.

If I understand well, changing this in [aeromatics](http://jsbsim.sourceforge.net/aeromatic2.html) would be the best way.

[2019-08-15 10:45] bcoconni commented on #1297
No need to apologize as there was no offense taken :smiley:. I just wanted to set the facts straight so that aircraft modellers know they have potentially something to fix in their model and they must not wait for a JSBSim fix that will never happen anyway.

Correct and I guess this should be documented somewhere as well. Not everyone uses aeromatic to start their model. Another topic to my (quite

[2019-08-15 15:22] wlbragg commented on #1297
I read the related issue in the jsb project, interesting, thank you all for digging into this and resolving the issue.

[2019-08-15 15:23] wlbragg commented on #1297
@dany93  I will try to get this tested and merged later tonight.

[2019-08-30 16:30] wlbragg opened #1299 "Amphibious gear breakers always visible"
I really don't know how this slipped through the cracks. It was obvious when you were in default gear configuration.

I am really annoyed I didn't see this when we had the chance to get it in 2019.1.

Even after all this time I am still not sure when and where we are allowed to backport bug fixes?

[2019-08-30 16:35] #1299 closed

[2019-08-30 16:38] gilbertohasnofb commented on #1299
Me neither, though normally we stipulate a final date for the merge into FGData and that is long gone; but at the same time, it seems the release is super delayed. Do you know when the next release will be out? The website still only has the 2018.3 as the latest version. Maybe we could try sending a personal message to Stuart asking for this, particularly since this fix is only 4 lines long? But o

[2019-08-30 16:51] #1297 closed

[2019-08-30 17:17] wlbragg commented on #1299
@gilbertohasnofb thank you for merging, I'll contact Stuart and see what he says.

[2019-10-16 16:22] wlbragg opened #1301 "Re-examine autopilot VS property rule use"
While working on the AirCrane, I refreshed my memory on using autopilot VS property rules and after examining some of the code for the c172p I noticed a few issues that we should address in order to leave a good base or road map for others using the c172p as the defacto "how to" when designing their own code.

Examples...
control-lock and yoke-cord should probably be moved to prop rule VS autopilo

[2019-10-22 15:50] wlbragg opened #1302 "Upgrade KAP-140 to new version"
@WoodSTokk brought it to my attention, we have a newly refactored KAP-140 that is fully functional. We should consider replacing the existing KAP 140 with this newer version.

[2019-10-27 10:59] gilbertohasnofb commented on #1302
The refactored instrument has had only its code changed or is there any cosmetic or functional changes too? If it's only code, this might be as easy as just coping those files into our project, right?

[2019-10-27 20:07] callahanp commented on #1302
will this KAP140 refrain from continuously moving up the trim until you are
in a full power nose up almost a stall in the c172?

On Sun, Oct 27, 2019 at 6:59 AM Gilberto Agostinho <notifications@github.com>
wrote:

[2019-10-28 15:01] wlbragg commented on #1302
I haven't looked at any of it, I think either way it's probably going to be a relatively straight forward swap.
@callahanp I hope it resolves any and all of the quirks the existing one has. I also had the original put me into an unrecoverable turn. Maybe I never understood the cause and it was indeed a stall.

[2019-10-28 15:49] gilbertohasnofb commented on #1302
If someone opens a PR I am happy to test it and merge it

[2019-11-04 17:13] D-ECHO opened #1303 "Engine quitting at idle"
I'm not entirely sure about this one as I have never flown a 172 IRL, but I think the engine should not just quit when reducing the throttle to idle?

[2019-11-04 17:56] dany93 commented on #1303
I don't understand....
It does not, the engine does not stop  when reducing the throttle to idle???

Did you check the mixture?

[2019-11-04 17:58] D-ECHO commented on #1303
mixture full, not in a 0g state vor similar...

------------------------------------------------------------------------
Gesendet mit der Telekom Mail App
<https://kommunikationsdienste.t-online.de/redirects/email_app_android_sendmail_footer>

--- Original-Nachricht ---
Von: dany93
Betreff: Re: [c172p-team/c172p] Engine quitting at idle (#1303)
Datum: 04.11.2019, 18:56 Uhr
An: c172p-team/c172p
Cc:

[2019-11-04 18:29] gilbertohasnofb commented on #1303
@D-ECHO could you try to explain better to us how to reproduce this? What was the weather? Also did you check if you have fuel contamination on?

[2019-11-04 20:33] onox commented on #1292
That was indeed as far as I remember. But you can probably still turn off damage and then turn it on again.

[2019-11-05 15:00] #1303 closed

[2019-11-05 15:40] gilbertohasnofb commented on #1303
Great! Happy to hear it was just that :smile:

[2019-11-13 17:32] wlbragg commented on #1303
Carb ice rears its ugly head. What too much realism? :smile:

[2019-11-13 17:36] wlbragg opened #1304 "Typo in avionics.nas"
I found a typo in avionics.nas line 166 (semicolon). I can't believe that nasal error has been there all this time and no one noticed.

I also noticed my local copy did not have it and is showing it as a "new" change, to add the semicolon over what I pulled from the repo (master,branch). Meaning it wasn't me that introduced it?

[2019-11-14 11:15] #1304 closed

[2019-11-14 11:18] gilbertohasnofb commented on #1304
It doesn't matter who introduced now that we fixed it, but it seems the semicolon was introduced by this commit of yours: https://github.com/c172p-team/c172p/commit/1c8ff816d7c8a24a2c4fb77084a7f3c38771f42d

[2019-11-14 18:44] wlbragg commented on #1304
I agree.

Thanks for tracking it down. I was really curious how I had a clean copy without the simicolon, yet master and release branch had it. I must have fixed it locally without realizing it was pushed to repo.

Thanks for merging. I'll backport and notify mailing list.

[2019-11-14 20:31] gilbertohasnofb commented on #1304
No worries, thanks for spotting the typo and fixing it!

[2019-11-16 11:06] wlbragg commented on #1304
@zakalawe this is finished and backported into https://github.com/c172p-team/c172p/tree/release/2019.1
Commit Id 300023cbde836286f2c5e3b5940680dabf095682

[2019-11-27 16:50] zakalawe commented on #1304
@wlbragg thanks, just merged this to the FGData 2019.1 branch.

[2019-12-21 19:04] slawekmikula opened #1307 "Compositor - disable shadow does not hide reflection model ?"
When using new (experimental) compositor branch of the Flightgear project there is some issues with shadows. When using compositor the shadow is calculated differently. In this situation when aircraft have some shadow technique created there is an issue with this, because the shadow objects are opaque. Normally (e.g. cessna 182) it can be disabled by entering the aircraft options and select to dis

[2019-12-22 06:45] wlbragg commented on #1307
@slawekmikula
I'm  not sure what it is your seeing with the glass. I'll set up a compositor version of the c172p and see what I get and if I can figure out what is causing the issue. I assume the shadow your referring to is the exterior shadow which of course has nothing to do with the windows.

Are you getting the dark glass regardless of whether you disable the shadow or not?

If nothing else ma

[2019-12-22 07:27] wlbragg commented on #1307
@slawekmikula
I fired it up in my compositor build and I think it's the normal map that is causing part of the exterior issue also the glass reflection. Notice the color of the wheels. I didn't have time to check the log for sure. The interior glass reflections could be the rest of the interior issues, as in the effect is not ported yet. Again, I didn't look at the logs yet. But for now, if you co

[2019-12-22 08:43] slawekmikula commented on #1307
Thanks for commenting. Understood. It is not a showstopper for me, but I've reported it in any case. Maybe combining to disable this effects along with option to disable shadows or add another option would be the case. Anyway, it's only here for future reference.

Logs:
27.54 [ALRT]:input      can't find "Compositor/Effects/shadow-vol.eff"
29.89 [ALRT]:input      can't find "Compositor/Effects/ext

[2019-12-22 19:21] wlbragg commented on #1307
@slawekmikula
I created a compositor test branch that we can use to start configuring the c172p to work with the compositor.
So far I made the following changes that gets us to a point we can at least fly the aircraft.
Full path to the aircraft folder to all the local effect definitions, ie;
any effect that starts with Effect/interior... or Effect/exterior... becomes
Aircraft/c172p/Models/Effect/i

[2019-12-22 19:56] wlbragg commented on #1307
![c127p-comp](https://user-images.githubusercontent.com/11069680/71326618-e73cd380-24c2-11ea-9d87-371d85de613b.jpg)

[2019-12-22 23:00] slawekmikula commented on #1307
Thanks for this work. I'll check it on my HW (intel and nvidia 840M). As for shader/effects sorry, but this is beyond my paygrade (i'm working on other things in FG in free time). But maybe someone could take this issue as a starting point.

[2019-12-22 23:11] slawekmikula commented on #1307
So far so good :) Thanks. On my HW it works OK right now.

[2019-12-23 16:49] wkitty42 commented on #1307
remember, too, that Compositor isn't complete and is missing some parts... there's some more updates in the pipeline that are waiting for one of the T's to review and set for merging... then there's some eff and frag supposedly in the pipe behind them once the updates are in...

i do remember something about craft specific effs and frags not being found right now... you can check with Icecode on d

[2019-12-28 02:08] Juanvvc opened #1308 "Overhaul of the webpanels"
Hi,

The current webpanel shows instrument, but they are not actionable.

I'm working on an overhaul of the webpanels. The objective is being able to control instruments and operate radios from an iPad or Android devices using a mouse or a touch screen.

This is the current state of my proposal for the webpanel:

![Annotation 2019-12-28 022947](https://user-images.githubusercontent.com/684228/7153

[2019-12-28 02:39] Juanvvc commented on #1308
This issue is a duplicated of #695, with added interactivity.

[2020-01-04 20:41] wlbragg opened #1309 "Add screeching and skidding sounds to tires"
I added skidding logic and visual effects to the tires awhile back. It would be nice to also add the sound effects. If one of our many audio artists could come up with a screeching on pavement and skidding on dirt sound, I would be more than happy to do the coding involved to apply it to the aircraft.

The current logic handles skidding of each individual left and right tire. So you potentially ha

[2020-01-06 18:07] gilbertohasnofb commented on #1309
@wlbragg I will work on this as soon as I can. I am currently travelling but should be able to take a look at this in a week or two.

I think that pitch only would not be able to make up the difference in sound between different surfaces. I would suggest using different audio files for each one of those. Do you need only asphalt and dirt or are there other types of surfaces, ice for instance? Can

[2020-01-06 18:08] gilbertohasnofb commented on #1308
@Juanvvc thanks for this work! Once you open a PR I will gladly do some testing.

[2020-01-06 18:55] wlbragg commented on #1309
@gilbertohasnofb
I don't know for sure how detailed I can test for surfaces without causing overhead I don't want to cause. I may have to settle with a surface hardness condition VS type.
But the main ones would be
pavement/concrete
dirt
grass
ice
mud,  thinking tundra/marsh?

[2020-01-11 04:45] tonghuix opened #1310 "Feature request: detailed aileron, flaps and empennage"
After the flight training, I relized that our exterial 3D model is not such accuracy as a real Cessna 172. So I take some photos.

## Ailerons

Cessna 172's ailerons are *differential-type but Frise-effect aileron*, ref [here](http://aeronotes.weebly.com/uploads/2/5/3/7/25370889/6457099.jpg?243), and also [Chapter 6 in PHAK (Pilot's Handbook of Aeronautical Knowledge)](https://www.faa.gov/regulati

[2020-01-11 05:47] wlbragg commented on #1310
@tonghuix
Nice detailed reference material, thanks for providing it. Now all we need is someone with the time and drive to implement all of it :smile:

[2020-01-11 08:05] gilbertohasnofb commented on #1309
@wlbragg I am thinking about this a bit more and I am not sure I understand the need for different sounds for different surfaces.

* Don't you need hard and grippy surfaces (pavement, concrete, asphalt, etc.) in order to have tires screeching at all?
* If not, wouldn't the sound of a screeching in dirt be a simple combination of a very soft screech plus some gravel sound, both of which we already

[2020-01-11 08:37] wlbragg commented on #1309
Yes.

We have that sound?

I was mainly interested in asphalt/concrete screech so you could more easily tell when your wheels locked up without actually seeing them. You would have a totally different sound on dirt and actually it would happen easier because you have less friction so you would skid much easier. I don't think it would be a screech at all, more like a gravely dragging sound. Any oth

[2020-01-11 09:42] gilbertohasnofb commented on #1309
@wlbragg Done, check the new branch `Issue-1309`. I added four new sounds:

* rolling tires on asphalt. Should be looped and on all the time when tires are in contact with the ground and when the surface is hard
* rolling tires on gravel. Should be looped and on all the time when tires are in contact with the ground and when the surface is soft/gravel/etc.
* tires screeching on asphalt. Can be loo

[2020-01-11 19:10] wlbragg commented on #1309
@gilbertohasnofb There is a "squeal" sound associated with a squeal.wav that we don't even have in the sound files.
[code]
The Cessna337 has one and it appears to be a short touchdown squeal. Any idea if that was removed intentionally?

[2020-01-12 00:33] wlbragg commented on #1309
Also, one of the sound files is not working.
[code]

[2020-01-12 01:52] wlbragg commented on #1309
@gilbertohasnofb I fixed the format on the sound files so no need for you to. I guess they have to be 16 bit VS 32 bit.

[2020-01-12 04:53] wlbragg commented on #1309
@gilbertohasnofb Something else I noticed while working on this. When looking at the log while doing the sounds I noticed an error on loading the procedural lights activating bulb glow for the gear-ctrl for the amphibious.
[code]
It's simply a path issue and I just added the entire path. I was surprised that this wan't noticed by anyone before. I hope it's OK to add it to this issue VS making a ne

[2020-01-12 11:14] gilbertohasnofb commented on #1309
There are sounds in FGDATA which are available to all aircrafts, and I think the squeal sound comes from there. I really think we already had that sound implemented, which was audible sometimes when landing, or am I imagining things?

Great!

I will keep an eye out for a suitable sound source.

My pleasure! Just two ideas about this:

* I think the effect should be subtle but definitely audible, f

[2020-01-12 17:17] wlbragg commented on #1309
OK, hold off merging until I ping you again. I need to check the original squeal sound and see if it was picking up the sound file from fgdata, I never thought about that possibility.

[2020-01-12 23:32] wlbragg commented on #1309
@gilbertohasnofb you were right, it was using fgdata sound file so I put it back to original. Let me know what you think about the volume of the new pavement and dirt sounds VS the original "rumble" sound. Between the rumble and the engine sound they drowned out the new tire sounds. Do we need to adjust the volumes of these three competing sounds, tire, rumble, engine?

[2020-01-13 18:35] #1309 closed

[2020-01-13 18:37] gilbertohasnofb commented on #1273
I've updated the title to 2020.1 since it's been ages since we last had a release!

[2020-02-03 00:15] wkitty42 opened #1312 "cannot add listener to tied property"
FG 2019.2.0
i'm seeing the following when i roll over these items and the tool tip pops up... i'm not trying to activate them... only rolling the mouse over them...
[code]
maybe these are related to #1281? i dunno... if there's a way to combine the two reports, i don't have a problem with that... these are the only ones i'm seeing and only when i roll over them... i'm in mid-flight when i saw them

[2020-02-03 00:18] wkitty42 opened #1313 "failing to load effects files"
FG 2019.2.0
i'm NOT using the compositor... don't recall seeing these before...
[code]
c172p commit 4cc48b6c7ae2ac47369ebd22ebbd0722cf47d9f2
FG build info:
[code]

[2020-02-03 04:02] wlbragg commented on #1313
We just fixed that a couple commits ago.
https://github.com/c172p-team/c172p/commit/f0922212d050882e7df70716ae2ae3d8861d41ee

[2020-02-03 04:08] wlbragg commented on #1312
They are harmless, it it the same issue. But I find it interesting you may have identified what causes them so keep this issue for sure because it points to a cause. It is related to tooltip maybe, those properties look like generic code base, like something a tooltip may invoke. Would be good to report that to dev list and see if we can get some answers,

[2020-02-03 13:24] wkitty42 commented on #1313
i did update after submitting my flashlight patch when i noticed i was behind like 6 commits... have not tested again, though... if already fixed, i'll close this issue...

[time passes]

yes, seems to be fixed or at least no longer reported in the console :smile_cat:

[2020-02-03 13:24] #1313 closed

[2020-02-03 13:28] wkitty42 commented on #1312
perhaps @Zaretto knows something about it? i think that's the right person... tagging them here to see before posting to the dev list...

[2020-02-10 15:25] Juanvvc commented on #1308
I'm still working on this feature. Right now, not only most instruments and radios can be controlled from a touch screen (iPad or Android), but also light switches and flaps.

The stopper for everything to work as intended is the autopilot. I guess the reason the c172p doesn't have an autopilot dialog is because the interface to talk to the KAP140 is annoying, to say the less:

- button inputs are

[2020-02-10 19:36] gilbertohasnofb commented on #1308
@Juanvvc Do you want to open a PR with your work even though the AP is not implemented?

[2020-02-11 12:05] Juanvvc commented on #1308
Yes, in a couple of days, after some additional testing.

Thanks!

[2020-02-11 22:14] gilbertohasnofb commented on #1302
@Juanvvc this might interest you

[2020-02-12 18:34] wlbragg commented on #1302
I started looking at this today and it isn't as straight forward as I hope for.

1) Our effects definitions are complex and so require some configuring. I'm mostly done setting materials, light maps probably will work as the layout looks close to the same.

2) No model animation, if we want buttons and knobs animated we have to do it ourselves.

3) Electrical and System setup would be last on my l

[2020-02-12 18:40] wlbragg commented on #1302
![fgfs-20200212183554](https://user-images.githubusercontent.com/11069680/74365997-c42cf280-4d94-11ea-971b-3c61dde56fbf.png)

[2020-02-12 18:51] wlbragg commented on #1302
I'm tempted to hook up Systems for everyone to test and make sure it is what we want and enough of an improvement to justify the time.

[2020-02-12 19:11] gilbertohasnofb commented on #1302
@wlbragg Sounds good to me. As soon as the port gets a green light, I will take care of the textures and match them with all others. Let's first make sure that all functionality is still there and then we can worry about textures and effects. Once you create a branch and you have a functional instrument, let me know and I can test it.

[2020-02-12 19:17] legoboyvdlp commented on #1302
in a full power nose up almost a stall in the c172?

Surely it should use elevator, and give a visual indicator to trim?

Or does the 172 have the optional pitch trim servo?

[2020-02-12 19:24] wlbragg commented on #1302
@legoboyvdlp I don't know the answer to either of your questions. I'll hook it up best I can and see where it takes me, there are several options dependent on the aircraft systems.

[2020-02-12 20:23] wlbragg commented on #1302
I'm having some issues hooking this up and I guess the provided zip in not up to date. So this may be a show stopper. There is a lot of configuring if you include effects, animation and just hooking it up.
There are some very strange alias paths that have me puzzled.
[code]
This is just for resetting the KAP upon power being shut off, but those paths don't look correct. If anyone gets a chance to

[2020-02-12 20:52] wlbragg commented on #1302
@gilbertohasnofb I did a simple flood-fill on the base texture to match our existing interior equipment better. That may be all that is needed as far as texture are concerned, unless we want to change dial textures and other items. Anyway, we can do all that later. I just wanted to let you know I changed it.

[2020-02-12 21:09] gilbertohasnofb commented on #1302
@wlbragg sounds good. Once we have a working branch I will take a closer look at it and see if it needs any improvements

[2020-02-13 17:51] wlbragg commented on #1302
Well, looks like I have to redo some of this. I mistakenly used the zip file from the forum post for the source and needed to instead use the files out of the fgaddon PA28. That model is animated. @WoodSTokk sent me a PM walk through of what is needed. I'm going to try to do that right now and see where it lands.

[2020-02-13 20:11] wlbragg commented on #1302
I've updated the files according to @WoodSTokk recommendations and still no-joy. I've notified @WoodSTokk to take a look at this branch. May be something simple I missed.

[2020-02-13 20:20] wlbragg commented on #1302
@WoodSTokk best I can tell
[code]
is not changing or registering.

[2020-02-13 21:41] wlbragg commented on #1302
@gilbertohasnofb
This is now ready to test.

[2020-02-14 00:10] gilbertohasnofb commented on #1302
@wlbragg I will take a look at this in the next days. @legoboyvdlp could you also give us a hand with testing?

[2020-02-14 17:07] gilbertohasnofb commented on #1302
@wlbragg I did a quick test but I am not being able to use the autopilot at all. The AP button doesn't seem to do anything, nor ARM; I can change between barometric pressure to altitude in the display, but I can't seem to be able to enable the autopilot. Also, the knob is animating as far as I can tell. I am sure I am in the correct branch. As a note, I never really used the autopilot before so I

[2020-02-14 17:08] gilbertohasnofb commented on #1302
@Juanvvc could you maybe help us test this as well?

[2020-02-14 17:20] legoboyvdlp commented on #1302
Did you hold down the AP button long enough?

Wlbragg, I don't think you have the latest files from the PA28 as pitch is still running away upon autopilot initialization.

[2020-02-14 19:04] wkitty42 commented on #1302
On 2/14/20 12:07 PM, Gilberto Agostinho wrote:

when i first started using the KAP 140, i had ot get a manual from somewhere...
not sure where that was, though... see if you can find 006-18034-0000_3.pdf on
the net somewhere... that's the one i have in my KAP-140 folder... if you cannot
find it, i can place it up somewhere...

i'm unable to test anything right now... shouldn't even be reading mail

[2020-02-14 19:56] wlbragg commented on #1302
Yeah I incorporated the latest round from @WoodSTokk via a PM. In fact I redid the entire code base even though I already manually had made the changes, I used what Sascha provided right out of the PA28.

I noticed the same thing, i thought it might just be my lack of familiarity with it.

I think Sascha is still testing as well, maybe there will be some more changes coming from him.

[2020-02-14 20:07] wlbragg commented on #1302
I'm not convinced we just need to relearn how to use the thing. But I give you it is very dangerous.

I'm able to get it to fly heading bug and VS but it is a fine line between correct power settings and failure.

[2020-02-14 20:11] wlbragg commented on #1302
Almost like maybe pid controllers need adjusting. I simply don't know enough about any of it.

[2020-02-14 22:09] reiszner commented on #1302
In the set.xml file the generic-autopilot-herper will be overwritten, but the KAP 140 need this helper.
Anyway, i found out that the KAP 140 needs only the vertical speed.
So please add the following filter to the kap140-autopilot.xml
[code]
        <filter>
                <name>vertical speed fpm</name>
                <debug>false</debug>
                <type>gain</type>
                <input

[2020-02-14 23:02] reiszner commented on #1302
It doesn't matter if the C172p has a electrical pitch trim or not.
The KAP 140 has no command channel to the pitch trim.
It can only show 'PT UP' or 'PT DOWN'. It is on pilot decision if he/she trims the airplane.
If you have a electrical trim motor, you will have a rocker switch on the yoke, but that has nothing to do with the KAP 140.

[2020-02-15 04:24] wlbragg commented on #1302
@reiszner  Thanks Sascha!

Any testers, FYI:
https://bkx.bendixking.com/downloads/006-18034-0000_3.pdf

[2020-02-15 21:11] wlbragg commented on #1302
I'm still having difficulties with VS  mode, but it may simply be pilot error. Still learning how to use it per the documentation.

@reiszner gave me another change I pushed earlier.

[2020-02-15 21:21] reiszner commented on #1302
Today, my C172p is also oscilating up/down.
I have changed the 'Vertical Speed (VS) Mode' fiter with
[code]
Now its fly good. But i test mostly in standard condition (noon/29,92/calm).
I found also that on ALT mode, the AP ride around the altitude.
I think this come from the delayed VSI, because also the VSI shows newer 0.
It is always a little bit above or bellow zero, but never on zero.

[2020-02-15 21:26] gilbertohasnofb commented on #1302
Probably not, is this a new feature? I remember it requiring just a click in the past. But as long as it matches the real instrument, then let's go for it

[2020-02-15 21:30] wlbragg commented on #1302
Pushed that last change
[code]
Td was already changed to 0.5

[2020-02-15 21:31] reiszner commented on #1302
To engage the KAP 140, hold the AP button at least 0.25 seconds.
To disengae a shor klick is enough.

Will the C172p feature a AP disconnect and a CWS button on the yoke?

[2020-02-15 21:33] wlbragg commented on #1302
Only if they have those features installed in real life?

[2020-02-15 21:35] reiszner commented on #1302
Dont know. The KAP 140 feature it.
I'm now on MP around LCRA for testing.

[2020-02-15 22:01] wlbragg commented on #1302
I actually had good results just now with hdg and vs mode. I was able to get it setup on the bug and achieve a climb rate according to the AP. Leveled off at 3000 by setting VS to 0.

Something I have noticed though, I don't seem to be able to get the AP on until I move the dial, than the AP switch works?

[2020-02-15 22:03] wlbragg commented on #1302
A continuous bit of oscillation on the yaw axis. Pitch is stable.

[2020-02-15 23:00] reiszner commented on #1302
Found out that the AP want move the controls faster, but the servos are too slow.
I have set the servos from 0.05 to 0.1 (line 619 and 660).

And for me it looks like the AP has a different behavior if i restart the sim or reload only the AP in the sim.
Will test further …

[2020-02-16 04:47] wlbragg commented on #1302
looks like the axis in on the upper left corner instead on the upper center

I need conformation on this from others as this is how it was always setup as far as I know?

[2020-02-16 04:56] wlbragg commented on #1302
I'm certain I cannot activate the AP using the AP button until I have either pressed the BARO button or adjust the altitude with either knob. Holding the AP button down for any length of time doesn't work.

We need to add tooltips to all the buttons and knobs.

[2020-02-16 10:26] legoboyvdlp commented on #1302
The 1982 POH shows no electric trim control whatsoever or controls on the yoke bar possibly PTT. Of course, it has a legacy Navomatic 300 autopilot, perhaps a KAP140 refit would modify the yoke but right now I don't see any evidence of that, certainly not in photos.

[2020-02-16 10:29] legoboyvdlp commented on #1302
![image](https://user-images.githubusercontent.com/10434911/74603051-23497a80-50a7-11ea-8869-05446e13ac8e.png)

This one has some form of control - probably a PTT given the visible cord under the yoke, agreed?

Also shows nicely the refit KX165A :)

[2020-02-16 10:30] legoboyvdlp commented on #1302
Is that image working on your side?

[2020-02-16 10:31] legoboyvdlp commented on #1302
https://www.pilotsofamerica.com/community/proxy.php?image=http%3A%2F%2Fwww.teamandras.com%2Ftemp%2F2015%2FAuto_Pilot_Trim_Disc_Button.jpg&hash=6a11ace776f718f24a28ae2f558e00fc

https://www.pilotsofamerica.com/community/threads/question-re-autopilot-circuit-breaker.87998/

According to this, the red button is a momentary disconnect while the PTT switch is up the back, behind the yoke.

[2020-02-16 11:11] reiszner commented on #1302
The KAP 140 need a BARO setting first, before it can be used.
After power up, the baro setting is flashing. The pilot must set the baro (with theknobs) or confirm the 29,92 by pressing BARO.
If you want set hPa, press and hold the BARO button for at least 3 seconds.

Press AP for at least a quarter of a second (only possible if BARO is set).

[2020-02-16 18:05] bitwisetech commented on #1302
@wlbragg
  Those alii:  In the xml the ../../.. refer to the number of levels back _in the xml_ to regress in order to find the alias.  In kap140-autosave.xml, at the top,  the config file is specified as an include so, stepping back through the tags in both the autopilot and config file you get to the place where the  desired signal is aliased according to whichever kap140/stec is in use.

Also:

[2020-02-16 18:34] wlbragg commented on #1302
@bitwisetech thanks for the information. As per indicated our PM we already changed
https://github.com/c172p-team/c172p/commit/0159e5121c83e31a5b41e18204bba74d0fb0ab23

[2020-02-16 18:41] bitwisetech commented on #1302
baro setting:
  c172p-set.xml # 715   baro-tied can be set to true in order to avoid having to set baro pressure manually.

[2020-02-16 18:50] reiszner commented on #1302
Correct, but than you mast also edit the config so that the setting point to 'altimeter[0]' (not 1).
But i think the altimeter in the C172p doesn't output the baro-setting. So the KAP 140 doesn't receive a baro setting. Therefor i decided to untie the setting.

[2020-02-17 00:31] Juanvvc commented on #1308
I've created a new branch with the proposal for the interactive Phi panels. I still want to test everything on several devices (iPad and Android), and it is not ready for your consideration yet.

If you want to test how it is works right now, run FlightGear with "--httpd=8080" and visit <http://localhost:8080/aircraft-dir/webpanel>

You can control all instruments, switches and levers, and run thr

[2020-02-17 07:28] reiszner commented on #1308
Hi Juanvvc,

The new KAP 140 runs without nasal. It works only on proprules and you can find all values in the property tree. There is also a dialog for the KAP 140 where you can look what every button set or reset.
Will be nice if you take a second look.

[2020-02-17 10:34] Juanvvc commented on #1308
Thanks! Yes, I'll check again in the next few days.

[2020-02-17 22:44] gilbertohasnofb commented on #1308
@Juanvvc I just tried testing this, but when I visit the webpanel page I get an error:

![image](https://user-images.githubusercontent.com/5700795/74690452-16c43f80-51d7-11ea-8006-4cd3c9e1bc8c.png)

[2020-02-18 12:16] Juanvvc commented on #1308
Ah, I always forget that using the right case is important if you are running FlightGear in OSX or Linux. The right URL is <http://localhost:8080/aircraft-dir/WebPanel>.

If the last URL does not work, check if <http://localhost:8080> shows the main FlightGear Phi panel: maps, properties, checklists, snapshot... If you see another page not related to FlightGear, then you have another service using

[2020-02-18 14:38] gilbertohasnofb commented on #1308
@Juanvvc great, the correct capitalisation fixed the issue. I tested it and it works super well, besides being such a cool feature! Must be nice to fly with these instruments in a screen and have a large monitor for the outside view. Here are a couple of things I ran into;

* When I first loaded the full panel, I get a pop-up error message `error while reading 'instruments/levers.json': Not Found`

[2020-02-18 23:32] Juanvvc commented on #1308
Thanks for testing!

That was another capitalization error, but this time inside the code. Fixed.

Just be aware of a nasty feature of FlightGear's web server (nasty for developers, not users): it instructs the browser to cache resources for a long time (days!) This means that you probably won't be able to see the new version unless you clean up your browser's cache. It should be also possible to

[2020-02-19 00:32] Juanvvc commented on #1308
BTW, you can use not only another screen. Instead of "localhost" enter the IP address of your computer and you can see the panel on your mobile phone, tablet, laptop...

My current set-up is like this, with the panel on an external iPad:

![IMG_20200219_012556](https://user-images.githubusercontent.com/684228/74790314-86a9f700-52b7-11ea-850c-8a53527eb0be.jpg)

The mobile phone also shows the map a

[2020-02-21 17:23] gilbertohasnofb commented on #1308
Thanks for all the fixes and explanations.

About the levers, I had meant in the full panel, but now I understand they were already implemented but not showing up due to the capitalisation issue.

Maybe the maintainer of Phi can give us a hand with that?

Yes resizing my browser to a different shape solved it. Would it not be better if the radio height adjusted to the current window? I understand

[2020-02-21 17:24] gilbertohasnofb commented on #1308
BTW, let me know if you need more tests from me.

[2020-02-21 22:48] Juanvvc commented on #1302
I'm trying to fly with autopilot, but it is definitely a challenge to use!

Reading the manual is definitely mandatory. And you must be always ready to disengage the autopilot and fix the mess you are in.

[2020-02-26 15:11] wlbragg commented on #1302
That was the same conclusion I came to, wasn't sure if my issues were self caused or real issues. That was without reading the manual, ha!

[2020-02-27 18:05] ikashraf opened #1316 "FDM: Trimming with JSBSim trim routine"
The JSBSim model for c172p does not seem to trim except for on ground.

[2020-02-27 18:30] wlbragg commented on #1316
Could you please explain in detail what your issue is? What trimming? What is the procedure you expect to be available?

[2020-02-27 19:24] ikashraf commented on #1316
I want to reposition the aircraft model in a cruise flight configuration ([mid air and wings level](https://en.wikipedia.org/wiki/Cessna_172#/media/File:Cessna_172S_Skyhawk_SP,_Private_JP6817606.jpg)), for my research on flight controllers.

By trimming I mean to find the necessary inputs (throttle lever setting, aileron deflection, elevator deflection, rudder deflection, flap deflection, trim tab

[2020-02-27 23:07] dany93 commented on #1316
I don't understand what you are meaning.

The c172p can be trimmed in air.
One example (among an infinite number of possibilities):
160hp engine version, default load (pilot alone) 1700 ft, no flaps.
107 kts (Internal properties, velocities/airspeed-kt)
2304 rpm
aileron trim 0.019
elevator trim 0.101
rudder trim 0.02
Allows flying for about 1 mn or more with no action on joystick controls, very sl

[2020-02-28 15:40] wlbragg commented on #1316
Are you trying to do this under the FlightGear program or JSBSim standalone?
If in FlightGear, this is done, as @dany93 has indicated. You can pass startup switch settings through the launcher to achieve the trim at startup. There is at least one example of a startup state in the "states" folder I believe. It is on ground, but gives you the basics of the format to achieve what you want it in air.

[2020-02-28 20:49] wlbragg commented on #1316
The state solution is something we will eventually implement. There are plans to have startup states such as.
Cold and Dark
Parked Running
Ready for Taxi
Ready for Takeoff
Cruise
Approach
You get the idea.

[2020-03-01 00:14] Juanvvc commented on #1302
I have tested the autopilot for about two hours. My impressions:

- The real KAP140, according to the documentation, only engages "if all the logical conditions met". These conditions doesn't seem to be documented and our KAP140 engages always no matter what. This often creates problems. Maybe we can define our own conditions to prevent engaging the AP if we know it won't work correctly for sure.

[2020-03-01 05:20] wlbragg commented on #1302
I already fixed those two spots in a prior commit, you must not have updated to the most current version?

[2020-03-01 17:58] Juanvvc commented on #1302
Unless I misunderstood the file reiszner was referring to, the current code in git sets 0.05 in both lines:

- https://github.com/c172p-team/c172p/blob/Issue-1302/Systems/kap140-autopilot.xml#L619
- https://github.com/c172p-team/c172p/blob/Issue-1302/Systems/kap140-autopilot.xml#L660

I believe you fixed the vertical oscillations in similar way during a previous commit, but this is different.

[2020-03-02 09:48] ikashraf commented on #1316
I am trying to do it under the JSBSIm standalone. I will try the example, and let you guys no. thanks for your quick replies!

[2020-03-02 23:30] Juanvvc commented on #1302
I've being testing the AP (after the previous change in lines 619 and 660) and I think I'm getting the feeling of it. I can perform complete flights in ROL, HDG and NAV modes from just after take-off to just after landing and it feels right.

After trying 4 or 5 landings, I feel the APR mode is not following the GS and it descends too fast. It is a feeling and I'm not sure yet. Too many things to

[2020-03-03 09:12] dany93 commented on #1302
@Juanvvc wrote:

I noticed this too some time ago, wondering if it was me, my system or or my FG version. After a few tests, this is not only the c172p. I also had this with the DR400 JSBSim. Not only the instrument animation, but, if I remember well, even the Internal property. Tried at least at KSFO (NDB ADF 379 MHz).

[2020-03-03 09:15] gilbertohasnofb commented on #1302
@Juanvvc I just tested the ADF and it works, but it has a potential bug: after setting the frequency, I had to press the ADF button (first one in its radio module), which cycles between ADF and ANT modes. Firing up FlightGear has it working from start (since the aircraft saves the state of the instrument). So maybe the default value is wrong? @wlbragg you know more about states and initialisation,

[2020-03-03 09:17] gilbertohasnofb commented on #1302
@dany93 I missed your message as I was typing mine. Does the DR400 uses the same ADF module as we do in its radio stack?

[2020-03-03 11:03] dany93 commented on #1302
The DR400 JSBSim (from the french PAF team, Patten's hangar) uses the KR87 TSO, same as the c172p.

Trying to understand the needle animation, I see, in ki227_228.xml (lines 138-139)
[code]
that I don't understand.

But it is not a c172p issue.

At KSFO, ADF 379 kHz.
The needle is obviously animated by the Internal prop: (for c172p and DR400)
`/instrumentation/adf/indicated-bearing-deg`
**which, o

[2020-03-03 11:08] gilbertohasnofb commented on #1302
@dany93 could you try with a different ADF? I tried at SBST with the ADF at 375 kHz and the ADF/ANT switch does show a change. I found this explanation of the ANT mode from a forum:

When I tested, the ANT did displace the needle and going back to ADF did bring it to the correct bearing.

[2020-03-03 14:32] dany93 commented on #1302
You are right. It works in ADF mode at SBST (375 and 360 kHz).
I believed having seen it working a few years ago (!!) at KSFO, but it doesn't.
Anyway, it is not a c172p issue.

[2020-03-03 14:49] gilbertohasnofb commented on #1302
But the fact that the ADF is neither at ADF nor at ANT when I loaded up by the first time is an issue we can try to address, or at least figure out why is that. It really sounds to me as an initialisation problem, since after the first time I clicked in the ADF button the problem was solved (as I enable save state between sessions). @wlbragg Could it be that the file saving this info doesn't have

[2020-03-03 15:16] wkitty42 commented on #1302
On 3/2/20 6:30 PM, Juan Vera del Campo wrote:

question: does the glidescope path follow the GS or is it set to a fixed angle
(-3 degrees)?

the reason i ask is turning on the glidescope path may allow us to see if the GS
is being followed properly or not...

[2020-03-03 15:42] wlbragg commented on #1302
What property is being set for ADF to work and be persistent?

In System/instrumentation.xml there is
[code]
and in c172p-set.xml
[code]
There is an entry in avionics.nas for persistence, but I don't know if that is the property in question.
[code]
So Yes, I guess we need to set the ADF/ANT property to a value in the set file?

[2020-03-03 15:46] gilbertohasnofb commented on #1302
@wlbragg thanks for taking a look at this! Yeah, that would probably solve this. And we definitely want it set to ADF by default.

[2020-03-03 15:57] wlbragg commented on #1302
We/I can add it to this issue and PR before merging and closing. I need to verify the property that needs set.

[2020-03-03 16:13] gilbertohasnofb commented on #1302
@wlbragg if you could do it, I'd be happy to test and merge the PR

[2020-03-05 19:58] #1258 closed

[2020-03-22 15:30] gilbertohasnofb commented on #1273
@wlbragg @legoboyvdlp @dany93 @wkitty42 @Juanvvc I've seen some emails about a new release in the mailing list, does anyone know when this is going to happen? I've been swamped by emails lately and I have not been reading them very closely. But if there are plans for a new release we should ask for a merge into FGData right?

[2020-03-22 16:11] legoboyvdlp commented on #1273
As ever, if there’s other bug-fixes on the branches (I’ve seen at least one for JSBsim already included), **or anything else (eg the C172P),** they can still go into 2018.3.6 or whatever - now the infrastructure is running again, making builds is not hard. (If there’s a fix ready to go, I there is also time to get it into 2018.3.5, in principle, but I’m planning to press the button really quite so

[2020-03-22 16:33] dany93 commented on #1273
@gilbertohasnofb
Yes. James is planning to do an updated "stable" LTS release 2018.3.5.

[This thread.](https://sourceforge.net/p/flightgear/mailman/flightgear-devel/?viewmonth=202003&viewday=22). [Flightgear-devel] Releases, see the **first message by James , 2020-03-22 11:36:03**
**James turner** wrote (excerpts)

[2020-03-22 16:40] gilbertohasnofb commented on #1273
Ok, are there any last minute fixes we need to do? And can you guys help me out filling the list of features and bugs we fixed?

Finally, why is this new version of the stable release called 2018.3.5??

[2020-03-22 16:47] dany93 commented on #1273
I think this is because 2019.1.1, which still is the official release in "Download Central", had bugs, and 2019.2 was only in SourceForge. To get rid of this confusion, but I don't know why 2019.2 could not be the stable release.

[2020-03-23 13:11] gilbertohasnofb commented on #1273
Thanks for the info, Dany. I still find it super messy but that's possibly just me :smile:

As for our release, can I go ahead and prepare it? Does anyone still need to finish anything? If so, let me know asap so that we can get this merged into FGDATA.

[2020-03-23 17:22] wkitty42 commented on #1273
i cannot think of anything that's stopping us... if all the recent work is complete, i'd say let's get it in...

[2020-03-23 19:54] #1273 closed

[2020-03-23 19:54] gilbertohasnofb opened #1319 "Gather a list of features and bugs we fixed in 2020.2"
We should gather a list of all the new features, major changes, and bugs we fixed. Please create a list (use \* to create bullet points) here.

**Features:**

* TODO

**Fixes:**

* TODO

Do not forget to update `NEWS.md` before creating the release. See https://github.com/c172p-team/c172p-detailed/wiki/Release-process-and-versioning

[2020-03-23 19:55] gilbertohasnofb commented on #1273
Version 2020.1 has been released, writing @stuartbuchanan now. Thanks all for the contributions!

[2020-03-23 21:09] legoboyvdlp commented on #1273
Great :)

[2020-03-24 04:00] wlbragg commented on #1273
Thanks guys, I've been mostly unavailable as of late!

[2020-03-24 12:02] gilbertohasnofb commented on #1273
No worries, @wlbragg. I hope you are all healthy and safe in these scary times.

[2020-04-01 21:20] gilbertohasnofb opened #1320 "Performance at low temperatures"
This has been reported by @stuartbuchanan

[2020-04-01 21:20] gilbertohasnofb commented on #1320
@dany93 do you think you could take a look at this at some point?

[2020-04-01 21:22] gilbertohasnofb commented on #662
@stuartbuchanan wrote me in an email:

@wlbragg @legoboyvdlp @dany93 @onox @Juanvvc @wkitty42 Does anyone know about the state of the canvas version of the Garmin 196? I think last time I checked it was not functional or was less functional than the non-canvas version, which is what we used.

[2020-04-02 12:26] wkitty42 commented on #662
On 4/1/20 5:23 PM, Gilberto Agostinho wrote:

i have no clue on the state of the canvas version... i'm not sure if there is
any slow down with the current one or not... i've only gotten it out and powered
it on for a play a couple of times... since i generally run a debug build of FG,
everything is slower than normal... sorry...

[2020-04-02 13:48] stuartbuchanan commented on #662
Hi Folks,

What would the impact be of removing the 196 completely?

Do we think anyone actually uses it in the simulator?  It's a very old
piece of technology, and I suspect that people just use a moving map
instead if they want a GPS.

-Stuart

[2020-04-02 14:17] gilbertohasnofb commented on #662
I think there are some people using it, there are a couple of hits when I search the forum for "c172p gps" or "172 gps" or similar things. But if the impact in performance is so big, that might be something to be considered. Stuart, is the impact only on load times or also in the performance in the sim without engabling the GPS?

[2020-04-03 16:33] dany93 commented on #1320
I've done tests.
Weight = close to 2400 lbs.
Air temperature  = -4°C at sea level. Decreasing with altitude at -2° / 1000 ft, also changing dew point vs altitude.
Keeping very stable conditions is not easy, my more accurate way is measuring the altitude change in 1 or 2 mn (with the stopwatch).

**At 120 KIAS** airspeed, I find 750 to 850 ft/mn climb speed. But, at full thrust, the engine is at ov

[2020-04-05 01:43] wlbragg commented on #662
Yes, I would want to know the answer to that question as well.

It's been so long since we looked at using the Canvas GPS I don't remember why it wasn't used initially. Seems to me it wasn't complete or maybe waiting on some canvas helpers that were not yet created?

Is there any working "canvas" 196 to use as a guide for hooking it up?

[2020-04-06 10:57] stuartbuchanan commented on #662
Hi Folks,

On my system I perhaps see a 1fps drop as well as the load time impact.
But that's with a fairly big graphics card (GTX 1660).  It would be worth
testing with other systems as well I think.

I've no idea if there's an alternative 196 implementation.

Unfortunately there's no simple way to make it completely optional without
creating a new -set.xml file and a new model file. :(

-Stuart

[2020-04-06 18:47] wlbragg commented on #662
Right, I had to do that with the FG1000 in the J3Cub as you can't remove the overhead without completely removing include commands.
I suppose we could make one more .set that includes the GPS as is and remove it from all the other variants. Basically make the GPS equipped aircraft a variant?
What is the overhead, nasal? What about on-demand nasal loading, would that be possible?

[2020-04-06 19:24] gilbertohasnofb commented on #662
@wlbragg I think using multiple set files is a good choice, from what I could see in the forum a few people (though not many) use the GPS, so it would be a pity for those users to lose functionality. But the difference in performance might be really welcomed by the majority of users, so I think this is worth it.

[2020-05-04 06:59] camileck opened #1321 "FGAddon version - Unable to control c172 after take off in amphibious tutorial"
Hello, I have initially described the issue there: https://forum.flightgear.org/viewtopic.php?f=25&t=37372 but posting it here as well as per forum member advice. So I can control aircraft when on the water without any problems but as soon as I take off it seems that slip indicator takes only 2 positions - max right or max left and it is impossible to counteract on it with rudder as it immediately

[2020-05-04 08:29] dany93 commented on #1321
Hello @camileck

I don't see this behavior. Flying over the water, the slip ball reaction is normal, like over the ground.
This brutal slip ball movements happen only when the floats touch the water. Which is normal.
Do you see this when touching the water, or very close (less than about 2 meters high), or also at higher height above the water?

In the forum, you write 'when in amphibious tutorial

[2020-05-04 17:00] wlbragg commented on #1321
Sorry I didn't see your post on the forum. I just tried it and it worked fine here as well. I am using the most current version of FlightGear next (a couple days old). I know it also works in "stable".
What your describing sounds similar to other buggy actions caused by an internal FG core issue of 2019.? versions.
What version of FG are you running?
What operating system?
Next step after we verif

[2020-05-04 17:04] wlbragg commented on #1321
What you describe is that "some" variable is being changed when the aircraft is over water. That is true, there is at least one variable we monitor to know when the aircraft is over water.
The problem is it sounds like that variable is triggering an action of another variable that it is not supposed to. That sounds like memory corruption. That is the 2019.x (garbage collector issue?) bug that I me

[2020-05-04 17:41] camileck commented on #1321
Thank you for your answers. I use 2019.1.1 on Ubuntu 16.04. So the version seems to be the root cause here!

[2020-05-04 17:41] #1321 closed

[2020-05-07 03:47] wlbragg opened #1322 "Ignition switch fails when using the xml animation "Start""
I'm not sure what changed or why but the issue is if you use the interior view keyed ignition to start the aircraft it fails if you mouse over the "start" hot spot without first clicking on mag 1 and 2 .I don't think this used to be this way and I don't know that we changed any of the code in Models/Interior/Panel/Instruments/magneto-switch/magneto-switch.xml to cause this behavior.
Auto start sti

[2020-05-07 11:34] gilbertohasnofb commented on #1322
@wlbragg yes, I can reproduce this. But I suspect this bug has always been present. Neither `magneto-switch.xml` nor FGDATA's `controls.nas` have changed in the last 2 years. I think we just did not realise it before, probably because using the `s` shortcut is so handy, or because by doing the proper pre-flight checks the magnetos would be at BOTH before ignition, or because we would use the mouse

[2020-05-07 17:45] wlbragg commented on #1322
@gilbertohasnofb yeah, looking at the start pick code above it's a simple matter of setting mag = 2 when  the "start" pick is used.
I'll make the change if you want to test an merge to master and I guess pick it to current version and then we can notify Stuart on the list to see if he wants to pick it anywhere.

[2020-05-07 18:56] gilbertohasnofb commented on #1322
Yeah sure, open a PR and I will merge it. Do you think this is serious enough to bother Stuart with another cherry-pick? I guess probably yes if users use the mouse to turn the aircraft on.

[2020-05-08 11:46] #1322 closed

[2020-05-28 16:00] tigert opened #1324 "OH-CTL livery minor updates.."
(or slightly more than minor..) - the old bird got new feathers. If someone wants to work on this, I can possibly take detailed photos.

Quite a change, I must say :)

https://www.facebook.com/689997963/posts/10158155082204280/?substory_index=27

[2020-05-30 11:39] gilbertohasnofb commented on #1324
@tigert thanks for the photos! That's quite a change in the livery, and I must say I liked the older red one better. But I will add this one too as soon as I have some time (I'll probably rename the older one something like `OH-CTL (old)` in the livery selection menu.

I'm posting those photos here for my own reference, just in case they get taken down from Facebook:

![image](https://user-images.

[2020-06-07 03:23] wlbragg opened #1325 "Repairing flag set to true during "Go to Airport" relocation"
There is a bug where the flag /fdm/jsbsim/damage/repairing is set to true during a GUI instigated airport relocation.
What that does is set the property /controls/gear/brake-parking to true. This requires a cycling of the "Repair" function or bush gear change or manually setting the repairing flag to false.
The function that is responsible for repairing flag to be set to true is in Systems/ground-

[2020-06-07 04:30] wlbragg commented on #1325
I tested making the change to have the c172p-set.xml an abbreviated version of a set file like all the other set files. They all include c172p-main.
There were two properties specifically that were a potential issue the old way...
fdm/jsbsim/bushkit
controls/engines/active-engine
Both of these properties values are dependent on which variant your in.
The old way they both are set to default load a

[2020-06-07 04:33] wlbragg commented on #1325
Two other notable issues duing an airport relocation. If your in an exterior view when you do the relocation it messes up that view on reload and puts you interior looking at the pilot seat.

Also on airport reload the gear are not picking up the  correct z-index setting.

[2020-06-08 17:10] gilbertohasnofb commented on #1325
Thanks for catching this bug!

If you solved the issue, do open a PR and I'll merge it.

As for the other two issues, are those fixable from our side? I always thought that the airport relocation option was quite buggy in FG in general...

[2020-06-08 20:16] wlbragg commented on #1325
@zakalawe has been working on getting the bugs out of it for awhile now and I think issue 3 may be fixable on our side. It's the variants VS saved data flow that is at issue. It may be a matter of totally understanding the difference between the two and programming accordingly.

Issue 2 I think is something new and I need to make sure it is a bug with other aircraft and not just the c172p. It is m

[2020-07-14 15:51] wkitty42 opened #1326 "KX165A COM2 problems - tuning and selecting 8.33khz and 25khz"
holding shift and clicking on the middle knob of the tuner knobs doesn't always switch between 8.33k and 25k... sometimes i have to do it a 2nd time... this happens on both COM1 and COM2...

on COM2, i can rotate the middle knob of the tuner knobs with my mouse but the khz numbers do not change with each movement of the knob in either mode...

i was going to test something being discussed on the d

[2020-07-14 16:18] wkitty42 commented on #1326
NVM - i wasn't rotating the knobs far enough... i'm still not sure about the clicking of the middle knob but that might also have been due to all the logging i have going on when in debug mode in gdb...

sorry for the noise...

[2020-07-14 16:24] gilbertohasnofb commented on #1326
@wkitty42 no worries, thanks for the report anyway!

[2020-07-14 16:52] callahanp commented on #1326
I noticed the same thing recently under gdb.
One of the knobs wouldn't respond at all to click/drag.
could change the mhz, but not the khz.  And only on com1  Com2 worked fine.

On Tue, Jul 14, 2020 at 12:24 PM Gilberto Agostinho <
notifications@github.com> wrote:

[2020-07-15 09:50] dany93 commented on #1326
One issue might come from a `<repeatable>true</repeatable>` tag when shift-clicking on the central button, to toggle from 8.33 to 25 kHz. If I observe it well (zooming and highlighting by Ctrl-C helps), a long click makes it pull and push quickly, permanently. Which can be confusing if one presses the mouse button a bit too long.

[2020-07-18 14:55] wkitty42 commented on #1326
if this is working like many languages, then yes... zero is false and non-zero is true...

[2020-07-18 15:08] dany93 commented on #1326
Despite `<repeatable>0</repeatable>`, a held shift-click makes the 25 / 8.33 pull and push button toggling several times per second.
I tried  `<repeatable>false</repeatable>`, same effect.

I also tried replacing it for `<shift-repeat>` = 0, or 10, or 1000, no change.

[2020-07-28 10:38] okroth opened #1327 "CG of wing tanks too far outboard"
in the c172p.xml file, the CG position of tank 0 and 1 seem to be wrong. The y-position shall be 112" outboard, whereas in reality the tanks are, according to the parts catalogue, positioned between WS38.38 and WS65.125. That would result in a y-position near 51.8 inches.
On top the x position is given with 56" aft of firewall, but the POH indicates 48" on page 6-9.
The capacity is given with 185l

[2020-07-28 13:28] dany93 commented on #1327
Thank you @okroth, I'm looking at this.

[2020-07-28 16:19] wlbragg commented on #1327
@dany93  let me know what you come up with including the feeder tanks. I'll merge any changes if you feel a need to adjust.
Thank you @okroth for reporting this.

[2020-07-28 17:34] dany93 commented on #1327
Thank you @wlbragg.
The feeder tanks (3 and 4) should give no noticeable effect.
For the rest (main tanks) it's not so simple, I think I will appreciate your help, depending on the solution and options we choose.

[2020-07-28 22:37] wlbragg commented on #1327
How come, isn't it just a matter of changing the position in the "fuel" section of c172p.xml?

Looking at them briefly in the code. What the coded position should be is the center of the tank on the x and y, I don't know about the z position, that should either be the bottom of the tank or the center as well. I did a rough measurement of where the center of the "modeled" tank would likely be and i

[2020-07-28 22:50] wlbragg commented on #1327
If we changed the fuel center position in the code to the below numbers, (see the cursor position in the Blender image), I think it would be close enough. Certainly way closer to what it should be.
![tank2](https://user-images.githubusercontent.com/11069680/88730024-c0025080-d0fa-11ea-87a0-9d889a48579a.jpg)

[2020-07-29 14:15] okroth commented on #1327
I just found in the POH, page 6-10 (or page 1-4), that for the C172P there are four tank options:
1. standard tanks 40gal
2. long range tanks 50gal
3. Integral tanks 62gal
4. Integral  tanks, partially (up to a mark) filled: 42gal.
So one may assume that your C172P has integral tanks. And these are a little bit different to those of the C172R in that they start at WS23.65. This puts their CG near

[2020-07-29 16:20] wlbragg commented on #1327
That would be about here then...
![tank3](https://user-images.githubusercontent.com/11069680/88825586-5ed78d00-d18d-11ea-98d3-4b8e009fcd79.jpg)

[2020-07-29 16:42] dany93 commented on #1327
@okroth
Yes, I found it yesterday when trying to understand this.
BTW, thank you too for having searched and giving us all the details, calculated values. All the more that I never could find the Y location for the wing tanks.

What you are giving in your last message is for the 160 hp.
For the 180 hp, I only found total capacity 56 gal, usable 53 gal (p. 1-5, 2-11, 6-12).

The 2 x 129 lbs (43 gal

[2020-07-29 18:40] wlbragg commented on #1327
This is the current setting unless were changing it elsewhere that I don't know about.

[code]

Why do you think the Z is OK, shouldn't that be in the wing and not a few feet above it as it is now?

I have no problem making a system file to manage the fuel tank change to engine change. I know I did it for the J3Cub/PA-18 switch, but that was one center tank to two wing tanks. I'll have to review h

[2020-07-30 11:39] wkitty42 commented on #1327
it would seem to be more proper to be located in the wing, yes... especially if the FDM engine takes the location and weight into account... not to mention the raised CoG with the tanks being higher than the wing... how high off the ground is the center of the leading edge?

[2020-07-30 11:49] okroth commented on #1327
POH, page 6-10 gives a cabin height of 48", which is pretty much the distance from cabin floor to mid of wing height.

[2020-07-30 12:32] wkitty42 commented on #1327
that would work in with where is 0,0,0 and is there an offset that comes into affect... but that's more 3D detail stuff that i haven't picked up (yet)...

[2020-07-30 12:34] dany93 commented on #1327
I was trying to make that clear once more. The axis locations are a nightmare in FG...

The Blender and FDM axes are different.
The Blender Z axis is close to the propeller axis (Blender about 0.05 m higher than propeller). Easy to see in Blender.
The propeller axis is at Z = 26.6 in the FDM.
The Blender and propeller axes are tilted by about 3°.

Difficult to be accurate, but I think that the Ble

[2020-07-30 14:22] dany93 commented on #1327
![c172-Blender-FDM-axes](https://user-images.githubusercontent.com/11994061/88934382-da663680-d280-11ea-9b57-392ed5b676ce.jpg)

[2020-07-30 15:45] wlbragg commented on #1327
@dany93 why then when we determine an animation and need the center coordinates can we take the numbers directly from blender without taking into account the model position z against the blender z? I have never dealt with this conversion as long as I have been doing this. Not on any aircraft. Not even the zposition of the wheels for WOW, all the gear change outs and the ground softness routines I

[2020-07-30 16:04] wlbragg commented on #1327
@gilbertohasnofb @legoboyvdlp we could use some input here when you get a chance! I'd like some more input.

@dany93 I'll admit the original zpositions for the wheels are a bitch to tune, maybe that is why. If so then anyone that makes a model and doesn't position it with the wheels sitting on the Blender Z is a fool and are making nothing but trouble for all those that follow.

Why "belly" and no

[2020-07-30 16:13] wlbragg commented on #1327
OK, stepped back and tried to grasp this, your propeller axis is key here 26.6".
But what about CG at 36.5, why are you using propeller axis for reference and not CG?
You got me totally confused. I desperately need a refresher course in FDM design, well actually I need a 101 course as I have never had any instruction.
Also AERORP and VRP how do they apply here if at all?

[2020-07-30 19:26] okroth commented on #1327
The propeller axis is fixed in the plane's coordinate system, CG not. Consume fuel and the z-coordinate of the CG goes down (slightly). CG position is only nice for the FDM as the forces from accelerations (gravitational included) refer to this. The z-coordinate of the empty-weight CG may actually be too high; the Cessna POHs show a location slightly below the propeller axis, whereas the C172P mod

[2020-07-31 08:46] okroth commented on #1327
Found some data about CG positions in a report about three crash tests conducted at the NASA LaRC:
https://core.ac.uk/download/pdf/42700089.pdf
Vertical CG is 48"+/-2 inch above ground.

[2020-07-31 15:51] dany93 commented on #1327
@okroth wrote
`VRP is used to compute back from the CG coordinates the additional masses and torques from loads.`
I believed it was to make the 3D and FDM axes match? Only for the view.
http://wiki.flightgear.org/JSBSim_Aerodynamics#Metrics

[2020-07-31 15:57] dany93 commented on #1327
@wlbragg
My mood is here https://github.com/c172p-team/c172p/issues/1327#issuecomment-666337130
`The axis locations are a nightmare in FG...`
Don't worry, I do not take it the wrong way, and I would like being able to answer your questions. But I am almost as you, and you did many more animations than I did.

`Why "belly" and not wheel bottom?`

I don't know how it came.
The logical would be, in t

[2020-07-31 16:08] legoboyvdlp commented on #1327
Really not sure here -- so there are different axises?

In any case moving the tanks on the x and y should be fine?

[2020-07-31 17:36] okroth commented on #1327
**@dany93**:
I meant, there are additional masses (pilot, baggage) defined in the vehicle coordinate system which need to be set in relation to the empty aircraft CoG. The 3D model is adjusted in the Models/c172p.xml.

**@legoboyvdlp** :
The x-position is given in the POH, so that's safe,
The y-position can be computed using the maintenance manual for the WS positions. That should be safe enough.

[2020-07-31 18:27] wlbragg commented on #1327
OK, I defer the positions to the two of you to determine. I really dislike it when we have to get into these types of offsets. I am willing however to write any code we need to dynamically switch the load positions if necessary as soon as it is determined what direction to go.

So the Y axis should be a one to one match with Blender tank coordinates (even though there really is no modeled tank), X

[2020-07-31 21:07] dany93 commented on #1327
@okroth wrote
`Found some data about CG positions in a report about three crash tests conducted at the NASA LaRC:`
https://core.ac.uk/download/pdf/42700089.pdf
Seems [this video](https://www.youtube.com/watch?v=O1yWkbJuqkE#t=420) (C172 from 7 mn)

Your criteria
 `the Cessna POHs show a location slightly below the propeller axis`
is much easier to apply.
And the aerodynamics justification that you

[2020-08-01 08:40] okroth commented on #1327
The tests were made July 2015: https://www.youtube.com/watch?v=FsRwlr7RDkk

[2020-08-01 09:24] gilbertohasnofb commented on #1327
Sorry team, I've been a bit busy these days. I just took a look at the whole discussion but I am not sure I would have any relevant input to give, FDM is one of those areas I am very uncomfortable with. But I'm happy to test and give feedback on any PRs, as well as review code and merge. Or did you have something more specific in mind @wlbragg?

[2020-08-01 13:44] dany93 commented on #1327
I'm not far from being ready to propose commits.
For a few values, we still have to make decisions.

To summarize: (according to my current understanding)

- **Empty CG: Z = 26 or 34** inches?

- Fuel tanks [0] and [1] (main tanks)
160 hp and 180 hp
X = 48 inches, Y = +/-44, **Z = 50 to 55?** (less than 59.4).
For X, I've seen 46 inches (160 hp POH p.6.4, 180hp p.6.5).
From 180 hp p.6-12 (moment),

[2020-08-01 15:10] gilbertohasnofb commented on #1327
I think the question is how perceptible the difference in the FDM would be. If we are talking of a barely perceptible difference, it might be worth to generalise the different engines using a single value as you propose.

[2020-08-01 16:22] wkitty42 commented on #1327
i agree with that single value generalization for now...

a future feature could be to have tank size selection with the different engine selections...

[2020-08-01 17:22] wlbragg commented on #1327
I'm leaning the opposite way, I think a few pounds is a few pounds and should be accounted for, same with position. I don't know how perceptible it will be but I guess it will change the CG. We do it for the gears and oil weight and accuracy is top order in my opinion. I'm willing to do the code.

[2020-08-01 17:29] wlbragg commented on #1327
I suppose if we wanted to simplify this somewhat we could use on tank type on one engine and a different type on the other. Maybe something like...

Integral: 68 lbs

on the 180 and

on the 160.

[2020-08-01 17:31] wlbragg commented on #1327
What exactly is Integral, Is it a different configuration or just a different size?