[2016-08-07 16:52] wlbragg commented on #738
I just asked Thorsten that question.

[2016-08-07 16:58] #801 closed

[2016-08-07 16:59] #36 closed

[2016-08-07 17:07] #606 closed

[2016-08-07 17:20] onox commented on #811
This code should use the `UpdateLoop` instead of the raw `settimer()` calls. See `TiedownPositionUpdater` in `Nasal/tiedowns.nas` for an example.

[2016-08-07 17:22] wlbragg commented on #802
From what I could tell the fully extended object (the default position) is appx. 3.41in or 8.66cm.

[2016-08-07 17:26] gilbertohasnofb commented on #809
@onox @wlbragg which one do you prefer?

![fg-0](https://cloud.githubusercontent.com/assets/5700795/17464024/c54dc388-5cd4-11e6-8665-b44b18a0baf5.jpg)

![fg-1](https://cloud.githubusercontent.com/assets/5700795/17464025/c54edd7c-5cd4-11e6-920b-1755b9ae17d7.jpg)

The current splash1 shows the panel of the OH-CTL

[2016-08-07 17:30] gilbertohasnofb commented on #802
So that's quite shorter than the schematic above suggests. But are we reading this schematic correctly? It sounds crazy that our levers are currently less than 50% of the size they should be :scream:

[2016-08-07 17:33] gilbertohasnofb commented on #802
Or here is a thought: maybe the schematic is in cm, not in. And 8.7 is aprox. 8.66. Maybe Heiko was wrong about the size, I will mention this to him.

[2016-08-07 17:34] wlbragg commented on #802
That is what I was thinking, because they don't look that short.

[2016-08-07 17:36] gilbertohasnofb commented on #809
I just updated the images above, it is nicer to show the shadows in the cockpit!

[2016-08-07 17:39] wlbragg commented on #809
I like the top one.

[2016-08-07 17:40] gilbertohasnofb commented on #809
:+1:

[2016-08-07 17:40] wlbragg commented on #809
The new yokes make it look like a whole new aircraft.

[2016-08-07 17:41] gilbertohasnofb commented on #809
I also prefer the top one, so I will go ahead and make the PR

Oh, you flatter me :blush:

[2016-08-07 17:45] HHS81 commented on #802
@gilbertohasnofb
@wlbragg
The user who posted the image in a forum cleary stated that it is in inch:
[http://www.mycockpit.org/forums/showthread.php?t=24503&p=130775&viewfull=1#post130775](http://www.mycockpit.org/forums/showthread.php?t=24503&p=130775&viewfull=1#post130775)

[2016-08-07 17:47] gilbertohasnofb commented on #802
@HHS81 But couldn't he have made a mistake? It's really hard to believe our levers are only 39% of the size that they should be!

[2016-08-07 17:47] wlbragg commented on #738
Thorsten said he will see if he can check for surface being up, but it will probably be limit it to regular flight (not inverted), that might prove to be too expensive for the amount of gain.

[2016-08-07 17:48] gilbertohasnofb commented on #738
Great!

Sounds reasonable.

[2016-08-07 17:51] gilbertohasnofb commented on #802
8.7 in would be the same as 22 cm, which is reaaaally long. I am absolutely convinced the user was mistaken about the units.

[2016-08-07 18:06] HHS81 commented on #802
hä?
the 2,74inch part is the visibile part when throttle is **full in** and **includes** the metal thing behind (not the knob alone).
2.74.inch = about 7cm
the 5.95inch part is the rod. 5.95inch = about 15cm
I can't tell you if he made a mistake.

But on the C182S the size of the throttle knob fits it perfect, without any change! Just the rod is too short! :smile:

[2016-08-07 18:07] HHS81 commented on #802
Btw.: the drawings shows not the throttle but mixture and prop lever

[2016-08-07 18:15] HHS81 commented on #802
Second: travel way must not be full

[2016-08-07 18:16] gilbertohasnofb commented on #802
@HHS81 Sorry but there is something wrong. That 2.75 <unknown units> correspond only to the red part which you hold, correct? If that would be inches, it would be about 7 cm as you say. Now please look at this and tell me if you think the red part is really 7 cm long in the image below, or rather 2.75:

![](https://www.aopa.org/-/media/images/legacy/aopa/home/news/all/2015/february/0209_training_t

[2016-08-07 18:16] HHS81 commented on #802
[http://www.aircraftspruce.com/catalog/appages/a750.php](http://www.aircraftspruce.com/catalog/appages/a750.php)
Travel: 3-3/8"

[2016-08-07 18:18] HHS81 commented on #802
@gilbertohasnofb not, not the red part alone. The black part on the panel as well.

[2016-08-07 18:19] #809 closed

[2016-08-07 18:21] HHS81 commented on #802
@gilbertohasnofb
@wlbragg
You can use this as reference: http://www.aircraftspruce.com/catalog/graphics/acscontorls-s.jpg

[2016-08-07 18:23] gilbertohasnofb commented on #802
Oh, I see!

So that's 8.75 cm, which is reasonable with what we have here I think

[2016-08-07 18:24] gilbertohasnofb commented on #802
Thanks Heiko! :smile:

[2016-08-07 18:25] gilbertohasnofb commented on #803
@onox So should we prepare a release in our repo in the next days? After that we can then ask Stuart for merging it into FGDATA.

[2016-08-07 18:26] HHS81 commented on #802
http://www.mcfarlaneaviation.com/pdfDocuments/MC600InstallationInstructions.pdf

[2016-08-07 18:29] gilbertohasnofb commented on #802
@HHS81 Really appreciate it
@wlbragg so do you think we could check again, particularly if the travel lenght of the tube (which enters the panel) is 8.75 cm

[2016-08-07 20:32] onox commented on #803
@gilbertohasnofb Are you able to add some shared objects from #725?

[2016-08-07 20:35] gilbertohasnofb commented on #803
@onox I can try having a look at it. Is there anything else we need to tackle for this release?

[2016-08-07 20:43] onox commented on #803
Not that I know.

It seems #725 is a duplicate of #717. You can close one of them as a duplicate (and remove the milestone).

[2016-08-07 20:44] gilbertohasnofb commented on #725
Duplicate of https://github.com/Juanvvc/c172p-detailed/issues/717

[2016-08-07 20:44] #725 closed

[2016-08-07 20:45] gilbertohasnofb commented on #803
:+1:

[2016-08-07 20:49] gilbertohasnofb commented on #45
Duplicate of https://github.com/Juanvvc/c172p-detailed/issues/81

[2016-08-07 20:49] #45 closed

[2016-08-07 20:49] onox commented on #803
How many days do we have left before they the core devs do their thing? I want to take a look at https://github.com/Juanvvc/c172p-detailed/issues/360#issuecomment-163194042 on tuesday or wednesday evening.

[2016-08-07 20:50] gilbertohasnofb commented on #81
From #45 (closed as duplicate, but copying the description here):

[2016-08-07 20:52] gilbertohasnofb commented on #803
Well, Torsten wrote this yesterday:

So there should be time. I will write Stuart right now and ask if we can have a merge by around the end of next week (12th of August), what do you say?

[2016-08-07 20:54] gilbertohasnofb commented on #408
@onox can you think of any way to make the Failure Manager display only the `active-engine` as opposed to `engine[0]` or `engine[1]`? I can't find any mention of the failure manager in our code, so is it safe to assume this is all done automatically by the sim itself? If that's the case, I suppose there would be not much we can do to fix this, right?

[2016-08-07 20:54] onox commented on #803
That's fine.

[2016-08-07 20:55] gilbertohasnofb commented on #803
So I will drop him an e-mail to let him know immediately about our intentions, this should avoid any problems like last time.

[2016-08-07 20:59] gilbertohasnofb commented on #803
Ok, so according to [this page](http://wiki.flightgear.org/Release_plan) the release is still being done on the 17th, so I think this proposal for the 12th should be fine. I will keep everyone posted here once I get an answer from Stuart.

[2016-08-07 21:07] onox commented on #360
@gilbertohasnofb If I have a list of 3-tuples (x,y,z) (by printing 3 values to the console repeatedly), how can I create a colored picture like in https://github.com/Juanvvc/c172p-detailed/issues/360#issuecomment-162232764? With `splot f(x,y) with pm3d` in gnuplot?

[2016-08-07 21:12] gilbertohasnofb commented on #360
I used:

[code]

The first two define the range, the next the resolution of the map, the next forces the view from the top (so even though this is a 3D map, it will look like 2D with the other dimension being only colour and not colour _and_ z-axis)

[2016-08-07 21:15] onox commented on #408
I think you would have to override and fix the "System Failures" dialog. Currently it simply iterates over the `/engines/engine[i]` properties.

[2016-08-07 21:17] gilbertohasnofb commented on #408
What do you mean by overriding it?

[2016-08-07 21:22] onox commented on #408
That you copy and modify the code, and make the button in the menu activate your dialog instead of FG's System Dialog.

[2016-08-07 21:24] onox commented on #360
And how should `f(x,y)` be defined? I will probably have something like:

[code]

I rarely use gnuplot.

[2016-08-07 21:25] onox commented on #803
#782 is another one that could be fixable.

[2016-08-07 21:41] gilbertohasnofb commented on #360
I would probably save the values in a file such as `test.dat`, without commas or anything in between them:

[code]

Then I would use: `splot "test.dat" using 1:2:3 with pm3d`

You might need to use before `set dgrid3d <value>,<value>`, such as `set dgrid3d 30,30`. This will give the resolution for the 3D map (the higher the value of the grid, the higher the resolution)

[2016-08-07 21:43] gilbertohasnofb commented on #408
Ok, that's clear and easy

I don't get how this would be done. How can I hijack FG's interface so it open my Failure Manager instead of its own?

[2016-08-07 22:37] gilbertohasnofb opened #814 "Fix repair button in the aircraft menu"
Fix repair button in the aircraft menu.

[2016-08-07 22:37] gilbertohasnofb commented on #814
It seems I broke it with the conditionals I added today, I will fix it by tomorrow

[2016-08-07 23:48] gilbertohasnofb commented on #408
@onox I am off for today, but if you can explain to me how I would get a custom dialog to be activated via FG's gui I can try to tackle this before our deadline.

[2016-08-08 07:24] wlbragg commented on #738
Thorsten pushed the fix for this so it should be good to go.

[2016-08-08 18:54] gilbertohasnofb commented on #135
@Juanvvc could you please confirm if you still see this issue or not, so that we could maybe close this?

[2016-08-08 19:21] #814 closed

[2016-08-08 20:30] onox commented on #738
@wlbragg Can you confirm that Thorsten's fix fixes this issue?

[2016-08-08 20:40] onox commented on #776
@wkitty42 Is it just the 'cough' sound or other sounds as well? (Please give a list of the sounds which are clipped in that case)

[2016-08-08 21:16] wkitty42 commented on #738
On 08/08/2016 04:30 PM, onox wrote:

i think i can... i just went and tested it with a CATII at St. Bart's at
noonish... i was able to see the splashes on the top of the wing (finally) and
none on the bottom like it was when i first reported it... we'll let someone
else confirm it as well, if you like...

i do like the water cloud that moves back behind the craft when the engine
speeds up and slow

[2016-08-08 21:26] wkitty42 commented on #776
On 08/08/2016 04:40 PM, onox wrote:

TBH i don't know... i can't say that i've ever heard the engine coughing at all
but i've seen the notice on the console... i don't know if the clipping report
is for just the one sound or all of them added together...

i'm guessing that the sound is coughing.wav from FGDATA... i don't find a
specific one in our sounds directory... i just went and played the one

[2016-08-08 21:31] onox commented on #776
The coughing sound is heard when the engine starts.

[2016-08-08 21:32] #717 closed

[2016-08-08 21:36] onox commented on #803
@gilbertohasnofb Could you do #782 and perhaps #770?

[2016-08-09 01:38] wlbragg commented on #738
I guess we'll have to take @wkitty42 word for it. :smile:,  am not ready to pull a new fgdata.

[2016-08-09 03:35] #738 closed

[2016-08-09 18:50] wkitty42 commented on #776
i'll try looking again... since i'm ensuring the craft is updated every time i update my fgfs, it may be fixed already...

[2016-08-10 08:09] gilbertohasnofb commented on #803
@onox I am not familiar with any of those. Maybe I could take a look at #770  but I know nothing about #782. Also, I am having some troubles with my connection since 2 days ago, so I am completely offline at home... O2 is coming to fix it today, so hopefully tonight I will be back online to do some work, but if I am not around you all know what happened, in which case someone should write Stuart b

[2016-08-10 08:11] gilbertohasnofb commented on #776
The cough is also heard when the oil level is just above critical I believe.

@wkitty42 just to make it clear, do you still see those error messages? I don't see them here at all.

[2016-08-10 08:18] gilbertohasnofb commented on #759
We have to remember about adding these to the `NEWS.md`, and I also would suggest someone (possibly me) to write about the new ground equipment feature (including the fact that the walker can climb the ladder), new battery feature, and also explain the radio stack illumination behaviour on the FAQ on the wiki. Also there might be a need to fix any mention of the autostart function, now that we don

[2016-08-10 08:35] gilbertohasnofb commented on #408
@onox would you know the answer for this? If it's something not too complicated I might be able to get it done before our deadline tomorrow.

[2016-08-10 08:40] gilbertohasnofb commented on #447
@tigert I have been looking at photographs of several Cessna 172's, particularly older models such as ours here, and I am yet to find one with a dual-unit altimeter. I understand this is handy, particularly if you are flying the plane in a place which would normally use mbar instead of inHg, but if this dual unit instrument is not a factory instrument then I am inclined to vote not to add it.

One

[2016-08-10 08:47] gilbertohasnofb commented on #401
Does anyone have any idea what causes this issue? I tried looking at those xml files but can't see anything obvious, the pick animations seem similarly implemented in the ADF radio as the VOR/NAV radios.

[2016-08-10 09:21] tigert commented on #447
Yeah, I think it is not common because most planes are located in either inHg or hectopascal areas and relatively few fly within both regions.

But altimeters, like other "steam gauges" do not last forever, and they get replaced when they wear and break, so you could install one with dual scale just as fine, if you needed it - for example if you regularly fly to a country where the other units are

[2016-08-10 09:23] tigert commented on #447
I believer the altimeter image is this:

http://koti.kapsi.fi/tigert/altimeter.jpg

[2016-08-10 12:24] gilbertohasnofb commented on #447
I still don't like the idea of using one of those altimeters in our plane, as I said I haven't seen a single photograph of an older 172 having one of these (and of course I mean contemporary photographs, meaning that even if they got replaced, the owners replaced with the original instruments).

I really believe the best solution is to select the unit in the aircraft menu (just like you can select

[2016-08-10 17:46] wkitty42 commented on #776
On 08/10/2016 04:11 AM, Gilberto Agostinho wrote:

how do i check that?

i have to wait until the devs fix the NaturalEarth compilation failure... i'll
test it as soon as that happens and i can build fgfs and all its tools again :(

[2016-08-10 17:48] gilbertohasnofb opened #819 "Volume knobs of Kx-165 radio turn too little"
The volume knobs of the Kx-165 radio turn too little, see in the image below how the left knob is turned the whole way to the right:

![](http://capitalavionics.com/wp-content/uploads/2012/07/KX-165.jpg)

While this is the max position of ours:

![fg](https://cloud.githubusercontent.com/assets/5700795/17564325/6389177c-5f33-11e6-8302-ebd62f092eda.jpg)

Also note how the ADF volume knob has full ro

[2016-08-10 18:46] gilbertohasnofb commented on #170
@wlbragg reading the conversation, I do not understand what was the problem implementing this. Also, on my 1920x1080 resolution monitor, the popups are already quite above the centre, see:

![fg](https://cloud.githubusercontent.com/assets/5700795/17566415/85163fd4-5f3b-11e6-946e-4c9d28072f34.jpg)

This behaviour above looks quite good to me.

[2016-08-10 20:35] wlbragg commented on #170
It was only the menu item GUI dialogs I was referring to. Not the tips. Like when you open a dialog, it wold be nice to have it not in the center of tne screen. Or even maybe persistent to the last opened position.

[2016-08-10 20:53] gilbertohasnofb commented on #170
@wlbragg oh I see, I read the word popup and I got confused. I personally don't fell the dialogs bother because I can only open them on purpose and wanting to change something, so I feel that being in the centre of the screen isn't bad at all. If the popups were having that behaviour that would be something else as I don't want annoying warnings over the gauges while I am flying.

So from my side

[2016-08-10 21:15] gilbertohasnofb commented on #6
I spoke with Heiko about this issue and what could be done to improve a bit the situation, given that the pilot seat is arguably the worst looking viewpoint in our craft due to this issue here. I had thought that maybe deforming a bit the nose could solve things, but Heiko suggested something smarter: apparently our external model is actually quite fine when it comes to the proportions, the proble

[2016-08-10 21:16] gilbertohasnofb commented on #6
(in case you guys don't even remember what this issue was about -- given how long this discussion went already -- please see https://github.com/Juanvvc/c172p-detailed/issues/6#issuecomment-135665750 )

[2016-08-11 00:29] #770 closed

[2016-08-11 00:38] #401 closed

[2016-08-11 00:41] #819 closed

[2016-08-11 02:22] onox commented on #6
How many centimeters did you raise the panel?

[2016-08-11 05:14] #30 closed

[2016-08-11 05:15] #403 closed

[2016-08-11 10:12] gilbertohasnofb commented on #6
I honestly don't know, how can I figure that out? I just selected a bunch of objects, pressed `g` and dragged them a bit upward trying not to move too much sideways.

[2016-08-11 11:17] onox commented on #6
If you press g and then x, or y, or z, you can lock the translation to that particular axis. You can also type numbers instead of using the mouse.

[2016-08-11 11:18] onox commented on #6
Same with scale and rotation.

[2016-08-11 11:22] gilbertohasnofb commented on #6
Oh, that's handy to know!

[2016-08-11 11:23] gilbertohasnofb commented on #6
I just checked and it looks the offset I did in the Z-axis was of 0.03901. Does that number make sense to you?

[2016-08-11 11:37] onox commented on #360
@gilbertohasnofb Could you work on implementing your solution? I don't think there's enough time to properly model the carburetor like I described in https://github.com/Juanvvc/c172p-detailed/issues/360#issuecomment-163194042

[2016-08-11 11:52] onox commented on #803
@gilbertohasnofb Can you do #360? (Your solution) I would like to fix #118

[2016-08-11 11:53] onox commented on #6
No, but I didn't know if you used number or just moved the panel manually to make it match visually with photo's.

[2016-08-11 12:17] gilbertohasnofb commented on #6
Yes, I just moved the panel manually until it matched visually. And the z position of the panel went from 0.0 to 0.03901, to I guess I moved it upwards some 3.9 cm.

[2016-08-11 12:19] gilbertohasnofb commented on #803
@onox sure, I will do it today. I think that solution will be simple enough to be easily implemented and then later easily removed when you or anyone else properly models the carburettor. As for #118, that's great you are fixing it! Remember to also take a look from the outside, as the glass looks bad both from the cockpit and from the exterior in this region where it connects to the wing.

[2016-08-11 14:57] gilbertohasnofb commented on #803
Stuart just wrote me:

I would strongly suggest we try to finish all the last minute work + review it by tonight, so that we have plenty of time for the release.

[2016-08-11 20:20] wlbragg commented on #6
Sorry for not being much help here in this round of updates, I am most defiantly "under the weather" :sob: . Just wanted you both to know.

[2016-08-11 20:24] gilbertohasnofb commented on #6
@wlbragg no problems at all! Concerning this issue here, we are not tackling it for the release tomorrow, it would be too much work anyway. But if at some time in the future you feel like giving a shot I would gladly help with whatever I can (like the tedious changes to the xml files :smile: ). Get better soon!

[2016-08-12 09:29] onox commented on #118
I started working on the glass in the morning, but I found the leading edge to be quite crappy, so before I could properly fix the glass, I have been trying to smooth the leading edge first. I used a subdivision modifier in Blender, and now it looks like this (look at the leading edge):

![c172p-leading-edge](https://cloud.githubusercontent.com/assets/3361585/17618229/b73867a0-607e-11e6-94cc-6b16c

[2016-08-12 12:57] gilbertohasnofb commented on #118
@onox the leading edge looks _much_ better! :+1: Maybe it could be even shorter a bit, see:

![](http://www.cruik.org/blog/ventubes/ventube-in.jpg)

As for the weird rectangles, I can't see what you mean in that picture.

Absolutely agree, that should probably be better and having time to test and fix bugs is really fundamental. So since these changes can be quite big, let's move this to 2016.4.

[2016-08-12 13:00] wkitty42 commented on #776
ok, finally got fixed fgfs sources and can test...

removed tie-downs and chocks, used autostart and took off from St. Barts (TFFJ) using the big engine (180HP??)... am at an altitude of 5000 feet, throttle is set to 88%, mixture at 91%, airspeed is 120 kts... headed to Miami (KMIA)... almost an eight hour flight... i'm still seeing tons and gobs and gobs and tons of

Sound volume too large for 'c

[2016-08-12 13:03] gilbertohasnofb commented on #776
@wkitty42 is it relevant that the flight was 8h? I.e. does this error appear after hours of flying ro does it appear as soon as you load the sim? It would be great if there was a way of reproducing it in a _muuuch_ shorter flight :wink:

[2016-08-12 13:22] gilbertohasnofb commented on #776
I tried making a flight with the 180 HP, and I even induced some coughing on the engine using low oil levels but I see no errors

@wkitty42 BTW can you please post a picture of your settings in the dialog File > Sound Configuration just out of curiosity?

[2016-08-12 13:39] gilbertohasnofb opened #827 "Changing engines output error message"
When changing between the 160 HP and 180 HP engines, I get the following error:

`Failed to execute command dialog-close`

This is because I had added the following bit of code binded to the engine change:

[code]

That is, if you change from the 160 to 180 HP and the oil dialog of the 160 HP was opened, it was force closed, and vice-versa. This is necessary because each engine has its own dialog,

[2016-08-12 13:41] gilbertohasnofb commented on #827
Also, I just realized that the change of landing gear configuration does NOT close an opened oil dialog of the other type of engine. So this should be unified with whatever solution is applied to the issue above.

If there is no way of  having a conditional detect if a dialog is opened or not we have two solutions:

- live with the console error messages, which is inelegant
- cross the fingers tha

[2016-08-12 14:28] wkitty42 commented on #776
On 08/12/2016 09:03 AM, Gilberto Agostinho wrote:

no, i was just saying... that's all...

it could start while i'm on the ground... i've not looked because i've been too
busy taking off :lol:

i don't understand why you guys can't reproduce it... i'm using the master
branch of the craft and that's pretty much all i ever use... i'll stop the
flight and start again and see if i can reproduce the pr

[2016-08-12 14:33] gilbertohasnofb commented on #776
A-ha! So that's not visible on the alert mode (which I believe is the default). Ok, so in debug mode I get a trillion million messages, and indeed I am able to see these as soon as I start the engine:

[code]

@onox it looks like indeed our volumes are a bit messed up. Should we try fixing this or since we are happy with the resulting sound we can just live with the clipping (FG is basically takin

[2016-08-12 14:35] gilbertohasnofb commented on #776
@wkitty42 thanks for the patience and for the tests and reports, by the way. Sometimes little things make something not be reproducible in other computers, and it's maddening when we are seeing something that others don't :smile:

[2016-08-12 14:39] gilbertohasnofb commented on #827
I found a solution: I can simply open the dialog before immediately closing it! If the dialog was already opened, asking it to be opened again causes no issues. If it was closed, then it solves the error message. And given that this is done simultaneously, the user don't see the dialog opening then closing in the screen :smile:

[2016-08-12 14:50] wkitty42 commented on #776
On 08/12/2016 09:22 AM, Gilberto Agostinho wrote:

i have full oil and full clean fuel...

my sound device is "Built-in Audio Analog Surround 4.1".

Master volume is at 50%-60%.

all others are "enabled" (Xed) and set to 75%.

turning each down and back up does not affect the console reporting of the
coughing being clipped.

OH!! OH!! OH!!

turning off (unXing) the Master does stop the reporting o

[2016-08-12 15:00] wkitty42 commented on #776
On 08/12/2016 10:33 AM, Gilberto Agostinho wrote:

YESSSS!!! that's what i was just coming back to report that i see it as soon as
i start to crank the engine...

personally, i'd fix them but for the next release... no way to try to fix this
now this close to tagging a release version to go with 2016.3...

FWIW: i didn't realize that some of these messages don't show up in other
logging modes... i

[2016-08-12 15:02] wkitty42 commented on #776
On 08/12/2016 10:35 AM, Gilberto Agostinho wrote:

not a problem... all i can do is to report what i see and try to give as much
detail as i can... some things, like my logging level, just don't come to
mind... especially when they're my default :wink: but, yes, i do try as best as
i can to describe what i'm seeing :smile:

[2016-08-12 15:26] HHS81 commented on #6
@wlbragg I think you can raise the panel a bit higher: http://www.stevedold.com/aviation/172_panel.jpg
You can also slightly increase the thickness of the glareshield.
And this: https://fsxtimes.files.wordpress.com/2014/01/14-0104_brian-mcmullan-c172m.jpg gives you also some hints.

[2016-08-12 17:11] onox commented on #776
You can try to modify the `<offset>` parameter for the 3 sounds in `c172-sound.xml`. For example if you see this:

[code]

Then you add 1.1143 - 1.0 = 0.1143 to the offset of the sound. So `engstart` needs an additional 0.1143, `crank` needs 0.2143, and `cough` needs 0.0143.

Modify lines 27, 53, and 73.

[2016-08-12 17:19] onox commented on #776
@gilbertohasnofb You want to fix this for 2016.3 or 2016.4?

[2016-08-12 17:21] gilbertohasnofb commented on #776
I would rather fix this for 2016.4.

[2016-08-12 17:21] onox commented on #776
Ok.

[2016-08-12 17:21] #827 closed

[2016-08-12 17:23] onox commented on #759
@gilbertohasnofb Any last things to add to the list of features/bugs?

[2016-08-12 17:26] gilbertohasnofb commented on #759
I don't think so, I think the list is complete. But I just realized that https://github.com/Juanvvc/c172p-detailed/issues/761 is quite a relevant issue to tackle before the release and it seems no one took care of it... :sob: Is the new release moving to Rio de Janeiro for sure? Apparently the whole scenery development of that airport has stalled for one reason or another, and I am not sure what h

[2016-08-12 17:27] gilbertohasnofb commented on #759
@onox do you know where the scenery files are stored on FGDATA? We could check their repo to see if the default scenery tiles have been replaced

[2016-08-12 17:28] onox commented on #761
The core devs want to switch to a new airport every 3 months.

[2016-08-12 17:31] gilbertohasnofb commented on #761
I don't understand why you changed this to 2017.1. As far as I know, the airports selected are:

- 2016.1: San Francisco
- 2016.2: Barcelona
- 2016.3: Rio de Janeiro
- 2016.4: undecided
- 2017.1: undecided

[2016-08-12 17:32] onox commented on #759
The only thing I have seen are some commits that mention "SBRJ". Maybe they moved the scenery to a separate repository.

[2016-08-12 17:34] gilbertohasnofb commented on #759
Yes, I see ![the same here](https://sourceforge.net/p/flightgear/fgdata/ci/4c108ce653c7d407ebee2830b90ba59c650b2477/). So what shall we do? Should we keep Barcelona and worry about this for the next release?

[2016-08-12 17:34] onox commented on #759
Image doesn't work.

[2016-08-12 17:35] gilbertohasnofb commented on #759
sorry, there was an `!`, it's actually a link

[2016-08-12 17:39] onox commented on #759
To be honest I don't really care about the tutorials. So if they want to change the airport, they should send in patches to update the tutorials. I'm not gonna do it :stuck_out_tongue_winking_eye: Gets boring real fast.

[2016-08-12 17:40] gilbertohasnofb commented on #759
So in that case, let's prepare this release. I will then inform Stuart and update the wiki page today.

[2016-08-12 17:41] onox commented on #759
I'll update `NEWS.md` in a minute.

[2016-08-12 17:57] onox commented on #759
[2016.3 released](https://github.com/Juanvvc/c172p-detailed/releases/tag/version%2F2016.3)

[2016-08-12 17:57] #759 closed

[2016-08-12 17:58] onox opened #829 "Gather a list of features and bugs we fixed in 2016.4"
We should gather a list of all the new features, major changes, and bugs we fixed. Please create a list (use \* to create bullet points) here.

- Improvements to the oil management (better function, oil now changes CG and weight of the plane, etc.)
- New ALS external view navigation, taxi and landing lights
- Added fire extinguisher and ELT models
- Bug fix for flashlight effect not illuminating t

[2016-08-12 18:01] onox commented on #761
You can set it to `2016.4 release` milestone if you enjoy updating all those tutorials :stuck_out_tongue_winking_eye:

[2016-08-12 18:02] #803 closed

[2016-08-12 18:03] onox commented on #803
[Release](https://github.com/Juanvvc/c172p-detailed/releases) and branch [`release/2016.3`](https://github.com/Juanvvc/c172p-detailed/tree/release/2016.3)has been created.

[2016-08-12 18:06] gilbertohasnofb commented on #761
Actually who often "enjoys" doing this is @dg-505 </sarcasm> :wink:

[2016-08-12 18:07] gilbertohasnofb commented on #759
Great, so I will write Stuart and add some new info to the wiki. Thanks a lot, @onox!

[2016-08-12 18:11] onox commented on #759
:+1:

[2016-08-12 18:33] gilbertohasnofb opened #830 "Use ladders in the pre-flight check tutorial"
We now have static objects, including ladders, which can be activated in the Ground Equipment dialog. This ladder can be climber by the walker, making it easier to click on the fuel tank caps to add/remove fuel. This could be added to the pre-flight check tutorial.

[2016-08-12 18:33] gilbertohasnofb commented on #830
@dg-505 would you like to implement this?

[2016-08-12 18:34] gilbertohasnofb opened #831 "Autostart should recharge battery"
Autostart should recharge battery

[2016-08-12 18:36] gilbertohasnofb commented on #831
@onox I just found this blunder, the autostart does not recharge the battery, and when it fails it complains about this being a too high altitude airport (given that that's the only reason it knows for failing to start!). A fix is trivial and I can do it now, would you like to incorporate this in the release? Sorry for figuring it out 10 seconds after you prepared the release, but it literally jus

[2016-08-12 18:43] gilbertohasnofb commented on #81
Apparently the https://github.com/Harald67/c150/ has a better priming implementation than ours, though I haven't had the time to check it myself. Just posting this here so I or someone else can check it in the future.

[2016-08-12 20:16] dg-505 commented on #830
I really *would like* to, just like the C182S tutorials which you mentioned, but at the moment I have no real chance to use FG (or any other sim, game, ...) due to some serious problems with my laptop...

I'm sorry:disappointed:

[2016-08-12 20:18] gilbertohasnofb commented on #830
@dg-505 I am sorry to hear about your laptop :crying_cat_face: but look, there is no rush, even if it takes a long time. If this issue will be opened then we would welcome a fix :smile:

[2016-08-12 20:21] dg-505 commented on #830
Well, I suspect it will result in needing a complete new computer... And that isn't an easy choice.

[2016-08-12 20:22] gilbertohasnofb commented on #830
Really? Oh man, that sucks :sob: Good luck over there, and let us know when you are back with FG running!

[2016-08-12 20:24] dg-505 commented on #830
Thanks :sunglasses: I will let you know :smile:

[2016-08-13 09:32] gilbertohasnofb commented on #118
@onox I also think our wings are maybe to thin, take a look at this picture:

![screenshot from 2016-08-13 11 16 54](https://cloud.githubusercontent.com/assets/5700795/17642496/62d4359c-6149-11e6-9f7e-d8365c51af43.png)

Notice how the bottom side of the wing goes almost all the way down to the window (see red line), and in green I marked how I believe our current 3D model looks like. Now take a lo

[2016-08-15 10:34] gilbertohasnofb opened #833 "Delay luggage dialog binding"
Delay the luggage dialog which is automatically opened when clicking on the luggage door, so that the door fully opens before the dialog is presented to the user.

---

Original post:

[2016-08-15 11:40] jarlarntzen commented on #446
I'm considering doing som modeling/retopo on c172, mostly the windscreen and sides and although I quite competent in Blender I have a few pretty basic issues:

1. Should I export all layers in the blend to .ac?
2. How can I properly test the exported .ac wrt appearance and functionality to ensure it is still working correctly?
3. Instruments are missing from my .ac when viewed in fgviewer. Is this

[2016-08-15 12:27] wkitty42 commented on #833
On 08/15/2016 06:34 AM, Gilberto Agostinho wrote:

wouldn't you use maketimer to open the dialog after the timer runs out?

[2016-08-15 12:38] gilbertohasnofb commented on #833
You are right, I could use a `<script>` block in the xml and use Nasal for that, but I was still wondering if there was not a way of doing it without Nasal. Maybe there is an xml solution to this, and if not maybe it would be interesting to ask this features to the devs, as it may have some more uses as well.

[2016-08-15 15:42] onox commented on #446
Glass is handled in #118. If you can fix the wing as well then I don't mind you take over the issue. You could split the front part of the wing (the leading edge) to be a separate object.

[2016-08-15 15:43] onox commented on #446
Instruments are in separate files.

[2016-08-15 15:44] onox commented on #446
You can choose the layers? Isn't it simply a matter of choosing the .ac format in the export menu?

[2016-08-15 15:47] #831 closed

[2016-08-15 15:52] onox commented on #833
`maketimer()` runs repeatedly, unless you`singleShot` to true. See http://wiki.flightgear.org/Nasal_library#maketimer.28.29

[2016-08-15 16:17] wkitty42 commented on #833
@gilbertohasnofb yeah, sorry... i forgot that maketimer is nasal stuff... i'm not currently aware of any other way to have some sort of timer, though... but even after 1.5years, i'm still a newbie to fgfs ;)

[2016-08-15 16:19] gilbertohasnofb commented on #833
Ok, thanks guys.

[2016-08-15 17:15] gilbertohasnofb commented on #621
Maybe we could also create a dipstick model which becomes visible when the oil cap is opened:

![](https://www.wagaero.com/media/catalog/category/I-944-300.png)

[2016-08-15 17:29] gilbertohasnofb opened #834 "Add fire extinguisher"
Currently our plane is flying illegally as we are missing the mandatory fire extinguisher! :scream: We could also maybe add a beacon locator to the plane if those are common to the 172. Below are the models from the c150:

![fg-1](https://cloud.githubusercontent.com/assets/5700795/17672747/32f6e226-631e-11e6-831c-4db07425fd60.jpg)

![fg-0](https://cloud.githubusercontent.com/assets/5700795/1767275

[2016-08-16 00:02] jarlarntzen commented on #446
Hi, again. What I'm really trying to ask is:
What's a recommended way to load and test the c172p-detailed?
I've been struggling with loading the aircraft model using:
[code]
This just defaults it to the built-in c172.

Loading the .ac file works though and loads the right model into FGFS but this is not a true test since I'm not getting any instruments in the panel.
[code]
How do you go about load

[2016-08-16 00:23] gilbertohasnofb commented on #446
Could it be that you are having a typo in the first command You wrote `c172pa-set.xml` but our set file is actually called `c172p-set.xml`. Maybe FG is then loading the default aircraft, which happens to also be the c172p.

I believe the best way would be to clone the repo, create a branch for your tests and modifications, then replace the .ac model in that branch, then finally load this aircraft

[2016-08-16 09:20] jarlarntzen commented on #446
@gilbertohasnofb Thanks. I'll try your suggestions. BTW: my xml is actuall called `c172pa-set.xml`. I was just kinda hoping there would be a nice way to test the aircraft in CLI.
Is this how you all perform testing the aircraft?

[2016-08-16 09:32] onox commented on #446
The aircraft folder should be named "c172p", not "c172p-detailed". You can start fgfs with `--fg-aircraft=path/to/a/folder/containing/all/aircraft`. That should override the default c172p. No need to mess with `--prop`.

You can also add all these commands to a file called `.fgfsrc` in your home folder.

[2016-08-16 09:38] jarlarntzen commented on #446
@onox Thanks! I'll try that too. I think I'll document this on the wiki if it works well on my system.

[2016-08-16 10:19] dany93 commented on #446
No.
The aircraft folder name must be "c172p" (you have to rename your downloaded one I think).
The file (under the "c172p" folder) named (by default in our aircraft) "c172p-set.xml" serves to launch the aircraft from fgfs. Same as every aircraft from FG, the xxx-set.xml is the first read by FG.
In command line, that should be something like (under Linux, fgfs git version)
`./run_fgfs.sh --airport=

[2016-08-16 14:57] jarlarntzen commented on #446
@dany93 Thanks!

This explains quite a lot. Spent 2 hrs testing with my folder dutifully named `c172p-detailed`. I really didn't expect the folder name to be the root cause for the missing instruments et al. Too bad. I'll test your suggestions later (possibly tomorrow). Thanks again 😄

[2016-08-16 16:22] wkitty42 commented on #446
On 08/15/2016 08:02 PM, Jarl Arntzen wrote:

i'm late to this after losing the 5 volt line in our firewall's power supply
yesterday... it is actually very simple to load other craft... just put them in
your own custom craft directory and add that to the fg-aircraft path like so...

--fg-aircraft=/home/myuser/flightgear-dev/fgaddon;/home/myuser/myflightgear/Aircraft

then FGFS will look in fgdata a

[2016-08-17 11:19] jarlarntzen commented on #446
1. @wkitty42 @onox @dany93 Thanks, all. This worked. --airport=KSFO --fg-aircraft=/path/to/Folder --aircraft=c172p .
Maybe I can do something with the dependency on folder name to be exactly "c172p".
2. @wlbragg Thanks. I wont touch the object names at all and will carefully make sure any replaced objects keep their name. Currently I'm just looking at the opportunities for the months ahead.
3. I t

[2016-08-17 15:01] gilbertohasnofb commented on #776
I am fixing this now, I am going to push it very soon

I think you meant subtract (since the sound is already clipping, adding to an offset makes it worse). But yes, I get the idea :+1:

[2016-08-17 16:33] onox commented on #446
1. Make sure all objects that you want to export are visible (click the eye in the outline view)

2. Make sure paths of textures are relative, not absolute

3. File > Export > AC3D (.ac)

[2016-08-17 16:33] onox commented on #446
Do you have a recent 2.7x version of Blender?

[2016-08-17 16:36] jarlarntzen commented on #446
@onox I'm on Blender 2.76 at the moment.
Regarding layers/objects to export: I suppose all layers/objects should be exported now, including the landing light cone etc.

[2016-08-17 16:47] onox commented on #776
Yes, sorry, meant subtracting.

[2016-08-17 16:48] #776 closed

[2016-08-17 16:50] onox commented on #446
Yes, those cones are needed for Rembrandt AFAIK.

[2016-08-17 16:54] jarlarntzen commented on #446
@onox Thanks. Nice to know. I just found it strange to see the BeaconOffX and strobe objects placed in the center of the cockpit but I'm just assuming they will be correctly placed at run-time.

[2016-08-18 03:29] wlbragg commented on #446
Yes.
Also, it's been awhile since I have worked on that blend so I just checked it out to refresh my memory. There is only one object that is not being used, just leave it hidden. When you export, everything that is not hidden gets exported using File/Export/ac.

Another heads-up, when and if you start on redesigning the wings. We have a damage model on this aircraft that simulates damage to the w

[2016-08-18 08:09] onox commented on #446
Deduplicating the wings is handled in #592. Basically the wings should be split into an inner part (what you see when the outer parts are invisible after a big crash) and an outer part (one for the left and one for the right side). Per wing side, there is 1 for when the wing is OK, 1 for wing damaged, and 1 for wing collapsed. For the "broken" state, you simply hide all possible outer parts in the

[2016-08-18 19:05] gilbertohasnofb commented on #834
@Juanvvc @tigert maybe one of you is familiar with the questions I wrote above?

[2016-08-18 19:07] gilbertohasnofb commented on #833
I updated this issue description, title, labels, etc.

[2016-08-19 03:44] wlbragg commented on #834
Would it fit attached to the seat back, on the side between the two.

[2016-08-19 08:20] Juanvvc commented on #834
If I recall correctly, the fire extinguisher in my c172 was under the pilot's seat, but it was a very long time ago!

Regarding the ELT/distress beacon, it was in the luggage compartment with a simple switch somewhere in the panel to switch it on and off. It has to be always on and there is no reason to switch it off, even if the aircraft is parked.

[2016-08-19 18:37] HHS81 commented on #438
@wlbragg: I just read that you want to write a tutorial about using the lightmap on the wiki.
I hope you are aware of that there is already a tutoral: http://wiki.flightgear.org/Howto:Lightmap, which needs to be updated.
And I noticed some things you want to write I don't agree with, sorry! :smile:

This as an example:

No, you don't need! The important thing is to uncheck "Clear" in the Baking Me

[2016-08-19 18:59] gilbertohasnofb commented on #438
@wlbragg by the way, I can't wait to implement these on the c172p here, but I think we should first wait for the possible modifications to the panel position which we spoke about, and which may affect the lightmap. What do you think?

[2016-08-19 19:36] gilbertohasnofb commented on #834
@Juanvvc Thanks for the info!

So about the fire extinguisher, I suppose there is not a fixed place for it, since you had it at one place (under the pilot's seat), the the picture I posted above had it between the seats, and this picture below show it under the co-pilot's seat. So I will just see where it fits best and where it doesn't conflict with any variant.

![](http://southshore.com/~jaj/int

[2016-08-19 20:24] wlbragg commented on #438
@HHS81 I am a complete amateur at this stuff, (first time I ever used it). I not only hate documenting things, I hate even more using the wiki format and when I am unsure about all the options (as in baking in stages using different textures). So PLEASE feel free to edit that wiki anyway you see fit. I am only doing it out of a sense of obligation to the community. There are way more experienced p

[2016-08-19 20:36] wlbragg commented on #438
Don't be sorry, correct is correct and wrong is wrong.

[2016-08-20 06:17] wlbragg commented on #438
Yes, we talked about this before and I am in agreement, we need to wait until we have as close to the final cockpit layout as possible.

[2016-08-20 06:55] wlbragg commented on #438
@HHS81, sorry for continuing on in this thread (even thought I guess it still applies loosely). When you get a chance could you please take a look at these questions and try to clarify.
https://forum.flightgear.org/viewtopic.php?f=47&t=30211#p292801

[2016-08-20 08:10] gilbertohasnofb commented on #438
Ok, I didn't remember if we spoke about it or not, sorry! And just one question: would we need to make one lightmap for each individual cockpit livery or are these techniques dynamic (in the sense you can just tell them which areas to illuminate, and they'd take care of whatever texture is there)?

[2016-08-20 16:00] wlbragg commented on #438
Yes, one map would work for all the liveries.

[2016-08-20 19:00] gilbertohasnofb commented on #438
Great! :smile:

[2016-08-27 18:01] jarlarntzen commented on #446
Hi, all.
I've done a few things lately:

1.  **Comparing sources**
Collected and compared exterior diagrams and "blueprints" of C172 from the following:
 1. 1981 POH
 2. 1968-72 Service Manual
 3. 1972 Service Manual
 4. Cessna 172 Skyhawk Blueprint at drawingdatabase.com
All blueprints are mostly consistent and overlap nicely apart from possible errors during scanning of the sources and some slig

[2016-09-01 14:16] gilbertohasnofb commented on #446
@jarlarntzen Thanks for the detailed work :+1:

Maybe @wlbragg has the answer for that? Also this could possibly be related to https://github.com/Juanvvc/c172p-detailed/issues/6#issuecomment-239006965

[2016-09-01 16:08] dany93 commented on #446
Maybe I don't understand well the issue, but wouldn't be just a matter of setting the z-position in the FDM for the main gears and offsetting the associated animation to recover the wheel contact on the ground in the view?
_(it would be too simple...)_ Although I can't find again where the z-position is set vs the gear kit. :confused:

[2016-09-01 18:16] HHS81 commented on #446
@jarlarntzen
Since I am the original author of the 3d-exterior model, I think I can explain some things:

Better take a look at the companies which produces tires for aircraft. They have listed the right sizes for each aircraft. If the aircraft will get a higher MTOW the size of tires will change. So there might be a difference between a 1977 and a 1981 Cessna 172. Goodyear has some good documents

[2016-09-01 20:20] jarlarntzen commented on #446
Also, BTW. The reason for the difficulties with lining up the Skyhawk Blueprint is due to the projection axes not being level to the ground. The blue, vertical axis is at a straight angle with the horizontal axis and the top projection is looking straight down along with it, not straight towards the ground.

The same is the case with the parallel purple lines: Notice how, in the sideways view, the

[2016-09-01 21:04] HHS81 commented on #446
That's common with modern blueprints. The frontview and the top view shows the aircraft in level, the sideview the aircraft on ground. Usually with MTOW

[2016-09-02 04:32] wlbragg commented on #446
I might be able to help with this. We would need to talk about which instruments specifically and the details of the rotation/translations. While we are at something like this, we should take the opportunity to zero out any pitch, yaw and roll as to match the interior cockpit positions. We need to do this to allow for all the ALS lighting and shadow effects to work properly on these objects. We ne

[2016-09-04 00:13] jarlarntzen commented on #446
BTW 2: [View all my sources for c172 blueprints and specs](https://www.dropbox.com/sh/s4t4fbu8uzywbpf/AABZcmk-jC8kmsRwXW98JmFqa?dl=0) In the SVG all blueprints are aligned to the 1977 Service Manual one.

@HHS81 Thanks for clarifying regarding the blueprint axes.
With regards to wheel size, I'm referring to page 8 of the c172 1977 service manual.
![cessna-172-service-manual-77-page_8](https://clou

[2016-09-04 10:24] dany93 commented on #446
And it would give more room to pitch the aircraft up at landing, holding it close to stall. Currrently, touching the ground with the tail happens easily enough.

[2016-09-07 16:53] onox commented on #446
In `Models/c172p.xml` I see the following:

[code]

So if you rotate the model in Blender, you should modify/remove the `<offsets>` in the XML file as needed. Just mentioning it in case you didn't know about it.

If you are putting multiple instruments together in one `.blend` file, you could group textures together in order to minimize the number of textures. I noticed that there are some small i

[2016-09-10 14:44] dany93 opened #838 ""Start with engine running" does not work: Nasal errors"
When I launch the simulator with "Start with engine running" **checked**, the engine is not running and I get Nasal errors (only when checked).

[code]

I get this with the C172P embedded in the current FG 2016.4.0 Pack version and the C172P 95260d7 github version (both from10 sept 2016).

The "Autostart" works well.

[2016-09-10 15:26] gilbertohasnofb commented on #838
I will take a look at this today, as I am probably the one that caused it :smile:

[2016-09-10 16:26] gilbertohasnofb commented on #838
Bug confirmed, investigating the issue.

[2016-09-10 17:09] onox commented on #838
I cannot reproduce this. Do I need to enable/disable certain settings besides "Start with engine running"?

[2016-09-10 17:23] onox commented on #838
I can reproduce it now, was in wrong branch.

[2016-09-10 18:24] #360 closed

[2016-09-10 22:21] #838 closed

[2016-09-11 13:20] gilbertohasnofb commented on #399
@wlbragg sorry to bother you again with the forum, but I just came across this: https://forum.flightgear.org/viewtopic.php?f=37&t=30381

Maybe the user is experiencing something related to this issue here (that is, the "giant" shadow he sees from the cockpit is simply the shadow at a fixed distance from the aircraft). If this theory is correct, a screenshot from outside would make the matters clea

[2016-09-11 16:19] wkitty42 commented on #399
has Thorsten been asked about looking at it (yet)?

[2016-09-11 19:03] wlbragg commented on #399
I asked for a little clarification and also informed the user about the shadow off switch.

I know he is aware of it. I really don't remember the details, has to do with re-init. It might be worth looking at it with fresh eyes and see if we can catch it in our code, but it seems like it has to do with order of operation in re-init, it may be different that startup, in which case it would probably

[2016-09-12 11:52] gilbertohasnofb commented on #399
@wlbragg About that forum thread, there is one more possible explanation why this user is the single one having issues: is he taking off by himself or is he using the "position aircraft in air" option? Because if he is doing the latter, there is nothing new to it.

[2016-09-19 16:32] wlbragg commented on #747
I guess I am not sure what the issue is. I ran a test to see what the clock is doing and it did what I expected it to do. What am I missing?
It appeared to take my local computer time and calculates the time at the chosen location based on my local time (my computer time). What is it others are expecting it to do?

[2016-09-19 17:12] wkitty42 commented on #747
there were times that i expected the clock and day/night to mimic my locale no matter where i am in the world... that way i could easily tell when it was time to go to bed or eat dinner or something else while a long flight was ongoing... other times, meh, let's see the dark over there while it is light here... my thing, such as it is, is to see the clock with the right time for where i am instead

[2016-09-19 18:05] gilbertohasnofb commented on #747
Well, right now the clock in the aircraft should matter FG's local time which is done by this filter:
[code]

So the clock should never show system time nor utf time, it should simply reflect the local FG time. If anyone is seeing anything different, please report how to reproduce it.

[2016-09-19 19:06] wkitty42 commented on #747
i'm maybe 50 miles as the crow flies from KRDU... current local time is 14:53EDT (UTC-0400)... that's 18:53UTC... the clock in the craft is reading 1:53... the ENVIRONMENT->Time is reading 13:53... both of them are one hour off and should be reading 2:53/14:53...  apparently neither the sim nor the craft are taking daylight saving into account at the proper times of the year...

NOTE: i am not usi

[2016-09-19 19:10] gilbertohasnofb commented on #747
If the aircraft clock matches the local time in the sim, then there is no bug from our side. Daylight savings should be implemented in the sim side, not ours. @wkitty42 If you are interested in this feature, would you consider to bring it in the mailing list? I personally don't care much, but it would be much nicer if FG took care of daylight savings automatically.

[2016-09-19 19:14] wkitty42 commented on #747
@gilbertohasnofb agreed on the craft clock matching the sim local time... i will bring this up on the dev list for the sim side to handle it...

as for the report, i'm not sure if it is complete... i've read the topic on the forum and i'm not sure that what has been explained has been fully and clearly explained... it makes my head hurt every time i have to start coding or working with time stuffs

[2016-09-19 19:18] gilbertohasnofb commented on #747
@wkitty42 thanks for writing the devs!

I am not sure either and I can't reproduce here, the clock shows what it's supposed to, i.e. _sim_ local time. Unless someone finds a way for me to reproduce this, then I don't really know what to do.

Same here. And if you have time and interest, check this out: https://www.youtube.com/watch?v=uW6QqcmCfm8

[2016-09-19 19:19] gilbertohasnofb commented on #747
@wlbragg by the way, I like Thorsten's suggestion of letting the user adjust the clock. Would you be up to add some dial or button to the clock model so we can add a "user offset" property to the time?

[2016-09-19 19:46] gilbertohasnofb commented on #747
Just one more thing: I am for keeping this issue closed (as it is now) unless one of us can reproduce the bug mentioned by the user.

[2016-09-19 19:48] wlbragg commented on #747
Yeah, maybe that is the best way to deal with this. OK on keeping it closed, if you want to start a new issue for adding a time set knob, that would be helpful.

[2016-09-21 15:11] gilbertohasnofb commented on #834
Hmm, I tried tackling this by myself but unfortunately the fire extinguisher and the beacon locator are part of the c150 main model file and are not external `.ac` files. Would anyone be willing to give me a hand to create two individual `.ac` files for them?

[2016-09-21 16:31] wkitty42 commented on #834
On 09/21/2016 11:11 AM, Gilberto Agostinho wrote:

can you select them in that .ac file and export them as individual ones to use
elsewhere? i don't know blender well enough to know if that can be done or not...

[2016-09-21 16:44] gilbertohasnofb commented on #834
@wkitty42 That's the thing, I don't know Blender very well either. Also, those objects use texture files that include several other textures, so the UV-mapping should be redone. So this is why I am asking for some help.

[2016-09-21 17:02] wlbragg commented on #834
I can help you. Where is the source you want separated?

[2016-09-21 17:07] gilbertohasnofb commented on #834
It's the `.ac` model of the c150 which you can find at https://github.com/Harald67/c150/. I isolated the necessary textures for the fire extinguisher and for the beacon, you can find it here:

![fire-extenguisher](https://cloud.githubusercontent.com/assets/5700795/18720992/9787aa86-802e-11e6-8be9-d5ae6d4f6137.png)

Would you be able then to extract those two models from the `c150.ac` file, put the

[2016-09-21 17:08] gilbertohasnofb commented on #834
@wlbragg  Also, please create a `bug-834` branch and work on it, so that I can pick up from where you stop. Thank you so much for the hand! :smile:

[2016-09-21 17:20] wlbragg commented on #834
Yes, I jumped the gun and grabbed the elt from fgaddon c150. I also pushed it to elt branch. I'll delete elt branch and follow your instructions, thanks for the details.

[2016-09-21 17:22] gilbertohasnofb commented on #834
No problems, you can do it your way as well, just let me know how. It would only be good to have both the extinguisher and ELT in the same branch and same folder, as to use that same png above.

[2016-09-21 17:24] wlbragg commented on #834
:+1:

[2016-09-21 18:11] wlbragg commented on #834
Pushed to bug-834.  Let me know if you need anything else.

[2016-09-21 20:48] gilbertohasnofb commented on #834
@wlbragg thank you so much, I will work on it today

[2016-09-21 21:05] gilbertohasnofb commented on #834
@wlbragg there is a small problem, you kept  both the fire extinguisher and the ELT in the same `.ac` model. This way I can't position them freely in the cockpit :cry: Would it be too much trouble to break them down into two `.ac` files, but keeping them in that same folder and using just a single `.png` texture? So the directory would look like this:

[code]

Or something like that. What do you t

[2016-09-21 21:54] wlbragg commented on #834
:+1:

[2016-09-21 22:06] wlbragg commented on #834
Pushed, I didn't re-position them, they are both in their original locations in the blend.

[2016-09-21 22:07] gilbertohasnofb commented on #834
Great, thanks a lot! :smile_cat:

No problems at all.

[2016-09-22 21:37] gilbertohasnofb opened #840 "Improve pitot tube cover logic"
Given the number of issues we are having with people having a dead AIS and (I guess) no pitot tube cover on, I think we must rethink our code concerning it. If the serviceable property is ever set to `false`, then we must ensure that the pitot tube cover is on by any cost as to allow the user to diagnose the issue.

Apparently the issues are happening when people install newer versions of our airc

[2016-09-22 21:37] gilbertohasnofb commented on #840
@onox @wlbragg what you guys think?

[2016-09-22 23:16] onox commented on #840
Where is the `serviceable` of the airspeed-indicator being set? Was this happening only in old code? I can only find `systems/asi/pitot-serviceable` being set in `Systems/indicated-airspeed.xml`.

So in other words: this purely a migration issue?

[2016-09-22 23:20] onox commented on #840
Why doesn't FG delete the data files when it initializes itself? (it does seem to create a new preferences file when upgrading to a new version)

[2016-09-23 15:01] #834 closed

[2016-09-24 19:31] gilbertohasnofb commented on #840
@onox my bad, I am closing this. I completely forgot we have already removed the `serviceable` from our new pitot tube cover code. Sorry about the confusion.

[2016-09-24 19:31] #840 closed

[2016-09-24 19:55] onox commented on #840
No problem.

[2016-09-26 18:14] wlbragg opened #842 "Pedal animation may be reversed"
See
https://forum.flightgear.org/viewtopic.php?f=4&t=30531
and
https://forum.flightgear.org/viewtopic.php?f=24&t=30467

[2016-09-26 18:33] gilbertohasnofb commented on #842
When moving the rudder to the righthand side using the mouse (`Ctrl` + mouse to the right), I see:

- right pedal rudder moves forward, left moves backwards (for both the pilot and copilot seats)
- the nose wheel moves to the right
- the rudder surface moves to the left

As far as I know, this is all correct and how it should be. I also tested using the `0` key which should move the rudder to the

[2016-09-26 19:12] wlbragg commented on #842
I assumed it was the physical pedal in the aircraft.
I didn't test it myself until just now and I am in agreement with you, there is no issue unless the right pedal is supposed to move forward when you yaw or roll left.

[2016-09-26 19:14] wlbragg commented on #842
The same behavior is observed when using e.g. CH-rudder pedals.

They are saying that the right pedal should move forward when rudder to left.

[2016-09-26 19:17] wlbragg commented on #842
An extremely quick search shows this
![rudped](https://cloud.githubusercontent.com/assets/11069680/18848427/f129e036-83f3-11e6-9775-3191967e26e9.png)

[2016-09-26 19:36] gilbertohasnofb commented on #842
Ok, so some issues here: first, if the user means the 3D rudder pedals when writing GUI-rudders then there is some confusion, as GUI stands for graphic user interface is used for referring to dialogs, menus, etc., so that's why I didn't understand him/her. If that's the case, then it's all clear now.

This is incorrect and our plane's behaviour is correct. Right rudder means pushing the right peda

[2016-09-26 19:38] gilbertohasnofb commented on #842
Sorry, but re-reading the user post he indeed has a problem, but I can't reproduce it here. See:

For me, the left pedal moves _forwards_ as expected when pressing '0'. So there is something wrong with his installation I believe...

[2016-09-26 19:40] gilbertohasnofb commented on #842
Or: on the 10th of May I fixed this issue here https://github.com/Juanvvc/c172p-detailed/issues/752 and according to the dates the bug was fixed before 2016.2. So if the user is using 2016.1 or earlier, then the bug is still there, but the solution is simply to upgrade FG or download the newest version of our aircraft.

Could you please confirm it with the user if that's the case so we can close t

[2016-09-26 19:48] wlbragg commented on #842
No, re-read.

That is the correct behavior!

[2016-09-26 19:50] wkitty42 commented on #842
On 09/26/2016 03:40 PM, Gilberto Agostinho wrote:

i remember this being fixed... my reading of the OPs forum post is that if the
right pedal goes forward, the left one should go back the same amount... if the
left one goes forward, the right one should go back the same amount... in other
words, they are connected like a pushme-pullyou... i haven't looked at the
pedals in the sim, though... i'm to

[2016-09-26 19:51] wlbragg commented on #842
They do!

[2016-09-26 19:59] wlbragg commented on #842
Oops, I think I see it now,

Left moves back (as in closer to the pilot) not back as in towards the nose of the aircraft.

Yes, I think they have an old version. I'll pass it on.

[2016-09-26 20:33] gilbertohasnofb commented on #842
:+1:

I think it's all clear then:

- the user is indeed seeing a problem
- our plane seems to be fine (i.e. we can't reproduce the report)
- the theory is that the user either has an older version of our plane/FG or (very unlikely) there is something else causing the issue

[2016-09-28 01:20] wlbragg commented on #842
Determined to be an old version that was not yet updated.

[2016-09-28 01:20] #842 closed

[2016-09-28 09:37] gilbertohasnofb commented on #842
:+1:

[2016-10-07 10:00] gilbertohasnofb opened #844 "Improve dynamic stability and dampening"
These are excerpts from a discussion in the forum, from: https://forum.flightgear.org/viewtopic.php?f=49&t=30604

edroberts1943 writes:

edroberts1943 writes:

it0uchpods writes:

D-EKEW writes:

This last comment seems particularly interesting IMO.

[2016-10-07 10:01] gilbertohasnofb commented on #844
@wkitty42 thanks for replying back to that user, maybe you want to let him know about this newly opened issue

@onox @dany93 what do you guys think?

[2016-10-07 10:33] Juanvvc commented on #844
I have had the same impression with the c172p since the first time I tested FlightGear: the real aircraft is much more stable than the simulation. Anyway, I also agree a bit with curt and the problem maybe not in FligthGear itself, but lacking a force-feedback joystick.

In a real aircraft you must apply a considerable amount of force to move the yoke. Since we can move a joystick in a PC without

[2016-10-07 12:19] gilbertohasnofb commented on #844
:+1:

[2016-10-07 13:21] dany93 commented on #844
Not disturbing for me.
I have posted [a response](https://forum.flightgear.org/viewtopic.php?f=49&t=30604&p=296215#p296215). Suggestions to "fiddle" with two FDM parameters.

@gilbertohasnofb @Juanvvc , did you check that the extra500 (kind of) force-feedback gives a improvement?

[2016-10-09 12:48] onox commented on #844
I think this is what @Juanvvc is referring to: http://wiki.flightgear.org/Extra_EA-500/pitch_control

[2016-10-09 16:22] dany93 commented on #844
Yes, I've read this.

These assertions seem wrong. Something that I don't understand?

As the function of trim is to reduce the pilot force to zero, on most models trimming is completely useless.

With the usual mode and a joystick, correct trimming enables you let go of the joystick (at neutral assuming it has springs) and have the aircraft fly horizontally, straight and levelled. No force exerte

[2016-10-10 20:54] wlbragg opened #845 "Possible incorrect extra weight for 180hp engine"
Where did this value come from, and is the extra weight added for the 180 hp or the total weight of the 180hp?

[code]

Everything I have been reading points to approx 30 lb of extra weight between the two, 150 - 180?

[2016-10-10 21:06] wlbragg commented on #845
Lycolm
Lycoming O-360 = 258lb
Lycoming O-320 = 244 lb
Continental IO-360 = 294 lb

Lycoming O-320 to a Continental IO-360 = 294 - 244 = 50lb at best?

[2016-10-10 22:32] dany93 commented on #845
It comes from the weight difference between 180 hp and 160hp **aircraft** empty weight.
Not from the engines.
Refs:
Cessna 172P Skyhawk 160hp (1982 POH)
Cessna 172S 552SP POH 180hp (8 july 1998

**c172p.xml FDM file** line 59
`        <emptywt unit="LBS"> 1500 </emptywt>`
(I don't know or don't remember where it comes from, I think it was in the original FDM)
1467 lb may have been better, I read t

[2016-10-10 22:37] wlbragg commented on #845
OK, thanks!

[2016-10-10 22:37] #845 closed

[2016-10-10 22:56] onox commented on #845
See https://github.com/Juanvvc/c172p-detailed/issues/273#issuecomment-113833227.

[2016-10-20 13:01] gilbertohasnofb opened #846 "Interior sounds"
Some Cessna aircraft have sounds in the cockpit which we currently don't have, but I am not sure those apply to our models. For instance, I was looking for Youtube videos of the start up procedures of the 172 and 182 models and I have noticed that toggling the avionic switch causes a constant high pitched sound to be present in the cockpit (it never goes away). I have synthesized this sound for th

[2016-10-20 18:23] wlbragg commented on #846
Could you post a link to the video?

Ever?

Not something I want to listen to constantly. I would think that is either a stall indicator that should go away or maybe feedback to the recording?

[2016-10-20 18:44] gilbertohasnofb commented on #846
Well, I also don't really _want_ to listen to a loud aircraft engine for hours, but that's one of the side effects of flying a Cessna in both RL and simulation :wink: :stuck_out_tongue_closed_eyes: But seriously speaking, I believe that sound comes from the cooling fans of the avionics, and indeed it is a constant but very soft sound (much softer than the engine).

As for the video, unfortunately

[2016-10-20 21:48] gilbertohasnofb commented on #387
@onox @wlbragg @Juanvvc @all-others

sorry for using this space, but there is a discussion going on in the mailing list regarding our plane, about MP and console alerts. I am not familiar with MP at all, so maybe someone else can take a look at it?

[2016-10-21 04:34] wlbragg commented on #846
OK, I agree that might be avionics fans of some sort, but very subtle. I think the one you created is currently too loud or harsh. But I get the idea and think it is reasonable to try and add the appropriate sound.

[2016-10-21 08:17] tigert commented on #846
It is the avionics bay cooling fan indeed.

[2016-10-21 08:19] tigert commented on #846
No wait, it is not. It is a gyro, and I think the turn coordinator, since I think that one is electric.

[2016-10-21 08:25] tigert commented on #846
There *is* a fan in the radio bay but it is pretty quiet (unless the bearings are about to die ;)), cannot hear it with headsets on anyway.

The panel has half of the critical gyros powered by vacuum system, and the other half electric, so in case either system fails, you can still stay alive in clouds, even though it takes more effort and concentration. Usually directional gyro is electric and ar

[2016-10-21 08:37] tigert commented on #846
https://youtu.be/BTpWlPL9zUE

Pretty clear it is the directional gyro if you mean the sound at around two mins when they turn on master?

[2016-10-21 20:29] gilbertohasnofb commented on #846
@wlbragg

Well, I think we can't say that a sound file is too loud or too soft, it has to be put in context. So I think that all it's needed is to make sure it is much softer in comparison with the other sounds, such as the engine. I will give this a try soon and then create a testing branch, but I still want to find out if there are any other sounds to be created from the cockpit. I think once we

[2016-10-25 12:16] dany93 opened #847 "Error in oil consumption effect on aircraft weight"
When I looked for giving a response to @wlbragg's question https://github.com/Juanvvc/c172p-detailed/issues/845 about the extra weight for 180 hp version, I was temporarily confused.
By checking the empty weight (no fuel, no pilot) in "Equipment > Fuel and Payload", I discovered that the values were different from the ones entered in the empty 160 hp FDM (1512 lbs instead of 1500 lbs in the FDM) o

[2016-10-25 12:55] gilbertohasnofb commented on #847
Hmm, so shouldn't we make the engines weight 12 pounds less so that everything is fine? That would be the easier fix. For instance, you write that our 160 hp 1512 lbs instead of the 1500 lbs according to the POH. So if we make the engine weight 1488 lbs, that would be the weight without oil, and once in the sim it would weight between 1488 and 1500 (the latter if the oil is full). If so this looks

[2016-10-25 12:55] gilbertohasnofb commented on #847
@dany93 nice catch by the way! Sharp eyes :smile:

[2016-10-25 13:39] dany93 commented on #847
That's an easy fix, but what I don't like is for the ones who will try to understand where the "Empty weight" values come from. Their first search will be in the POH's.
That a bit tweaky. Some comments can help, but doing this for such a particular point as the oil is weird.

How much would the error be if the consumed oil was not taken into account?

[2016-10-25 13:42] dany93 commented on #847
However, if you prefer, as the oil is the only such point in the POH, why not ???
With comments in the FDM in front of the empty weight.

[2016-10-25 13:58] gilbertohasnofb commented on #847
@dany93 I would say we do the easy fix as well as adding comments to explain that the "empty" weight given by the POH does consider full oil level.

Also, we need to do a bit of maths here: the engines actually do have different oil capacities. So if a 160hp engine weights 1500 lbs WITH full oil (7 quarts), how much exactly should it weight without oil? Same for the 180hp, engine weights 1642 lbs

[2016-10-25 14:01] dany93 commented on #847
Yes for the +12 lbs and +14 lbs for 160 hp and 180 hp, I had forgotten this (re-eddited my previous post when you wrote).

[2016-10-25 14:03] gilbertohasnofb commented on #847
Thanks, Dany! So in that case I believe this is what we need to use:

160hp with oil: 1500 lbs
160hp without oil: 1488 lbs
180hp with oil: 1642 lbs
180hp without oil: 1628 lbs
difference without oil: 140 lbs

So I can take a look at the xml files and fix this today.

[2016-10-25 16:13] gilbertohasnofb commented on #847
@dany93 is the weight of the 180 hp engine defined only via this single line below from `bushkit.xml`?:

[code]

Or is there some other file I should change? I changed the default engine value in the `c172p.xml` file and the 180hp in the `bushkit.xml` file.

[2016-10-25 16:14] gilbertohasnofb commented on #847
If that's the single file, then I am done and ready to push and create a PR.

[2016-10-25 16:18] gilbertohasnofb commented on #847
By the way, lines 17-23 in `c172p.xml` are:

[code]

Is this true? I am quite sure we can use "s" to start the 180hp.

[2016-10-25 16:41] dany93 commented on #847
`Is this true? I am quite sure we can use "s" to start the 180hp.`
I totally ignore what it means, why this is here.

[2016-10-25 16:53] dany93 commented on #847
`Or is there some other file I should change? I changed the default engine value in the c172p.xml file and the 180hp in the bushkit.xml file.`
It's a bit old in my memory, but I think that it is enough.
You can check the result in "Fuel and payload", with no fuel, no pilot, with the 160 hp and 180 hp engines. You should find 1500 lbs and 1642 lbs (with full oil).

[2016-10-25 17:51] gilbertohasnofb commented on #847
@dany93 thanks for all the replies.

It's strange, because I just tested it again and that statement really doesn't make any sense. I will remove that comment from that file as I think it refers to some prior implementation

Yes, of course! I tested it and it works like a charm, I tested for both engines both with full and empty oil levels, it's all good. I am pushing the PR in 5 min.

[2016-10-25 18:22] #847 closed

[2016-10-26 16:01] wlbragg opened #849 "First tutorial "Preflight" bug"
See https://forum.flightgear.org/viewtopic.php?f=25&t=30813&p=297493#p297493

Basically I think the trouble is when the tutorial exits the aircraft it does so in the cockpit view and it appears you cannot interact with the external items when in cockpit view.
Verified.

[2016-10-26 21:17] gilbertohasnofb commented on #849
I think @onox and I had a discussion once about the cockpit view and we decided that it was more realistic to forbid the user to click on objects outside the cockpit. It also helped to remove some of the yellow contours that appear with Ctrl+C, and it looked cleaner. I would not be very happy in reverting that, I would rather ask that we take a look on how the tutorials work and try to change the

[2016-10-27 06:56] wlbragg commented on #849
I think that may be all that is needed.

It actually says it is still in the cockpit view when you leave the cockpit, even though it does look like a walker view.

[2016-10-27 09:12] gilbertohasnofb commented on #849
Every view has a parameter that says if it is internal or external, and this value is output as a boolean via the property `/sim/current-view/internal`. Look for instance this declaration the file `c172p-views.xml`:

[code]

And I see now that the walker view, defined at `FGDATA/Aircraft/Generic/Human/Include/walker-include.xml`, does not have this line about internal type:

[code]

And nor does t

[2016-10-28 07:52] gilbertohasnofb commented on #849
Hmm, I just tested the walker in the sim but that's not the reason of the problem, the walker is not recognized as an internal view.

[2016-10-28 07:58] gilbertohasnofb commented on #849
I tested the tutorial and this is the reason for this bug: the tutorial does not use the walker, it does use the cockpit view all the time, including when the views are outside! So either we find a way around this by using different views or we will have to revert that commit that makes external objects non clickeable from the cockpit (pitot tube cover, tie-downs, oil level, chocks, etc.)

@onox @

[2016-10-28 07:59] gilbertohasnofb commented on #849
@wlbragg if you can, please reply to that thread in the forum letting those users know the bug has been confirmed and that we will work of a solution soon

[2016-10-28 11:11] dg-505 commented on #849
Thanks for letting me know. I'll take a look when I'm home from work today.

[2016-10-28 17:11] wlbragg commented on #849
👍

[2016-10-28 20:39] gilbertohasnofb commented on #849
@dg-505 great, thanks a lot! Let me know if I can be of any help

[2016-10-30 12:34] alwelsh opened #850 "Taxiing Tutorial - Engine not running"
When starting the taxiing tutorial the dialog says the engine is started and running.  However, it isn't and it will not start using the procedure learnt in the engine start tutorial - comes up with an "Engine Flooded" message.  As an alternative I tried the pre-positioned in the air option but again the engine was not running!

[2016-10-30 18:15] onox commented on #850
Hi @alwelsh,

Thanks for the report. I have a few questions:

1. Which version of FG are you using exactly?
2. How did you start the taxiing tutorial? Did you just load FG and then immediately start the tutorial or did you try to start it while in/after another tutorial?
3. Could you make a screenshot of the "Aircraft Options" window (accessible via the Cessna 172P menu).

Currently I cannot repro

[2016-10-31 07:06] alwelsh commented on #850
Hi,

Thanks for the reply.  To answer your questions, I was using FG 2016.2.1 when I encountered the problem.  I started the taxiing tutorial after I had done the pre-flight and engine start ones.  However, following advice from the FG forum, I have now downloaded the 2016.3.1 version and the problem seems to have gone away!  I will limit my engine priming a bit and, hopefully, that will solve my

[2016-10-31 08:01] gilbertohasnofb commented on #850
Glad to hear the problem has gone away!

[2016-10-31 08:01] #850 closed

[2016-11-02 15:33] dany93 opened #851 "Oil consumption on aircraft weight and CG: subtract consumed oil weight"
Following https://github.com/Juanvvc/c172p-detailed/issues/847 and my remark https://github.com/Juanvvc/c172p-detailed/issues/847#issuecomment-256036968, I have changed the way oil weight management is done, to merely **subtract** the **consumed oil** from the "Basic Empty Weight" at the engine location.

dany93 Branch: [consumed-oil-weight](https://github.com/dany93/c172p-detailed/tree/consumed-o

[2016-11-02 21:55] gilbertohasnofb commented on #851
@dany93 I believe your approach sounds better, so I have no problems in it replacing the previous solution :smile:

As for your comments/questions above:

1 - I don't understand what you mean, but I haven't changed any x/y/z parameters, only the total weight. See: https://github.com/Juanvvc/c172p-detailed/pull/848/files

2 - gosh, thanks for catching this! I must have introduced this without reali

[2016-11-02 23:18] dany93 commented on #851
Hi @gilbertohasnofb ,

1 - You did not _change parameters_, you [added these lines](https://github.com/Juanvvc/c172p-detailed/commit/6963a18981caf118d5cba525bb734b1fc14e0b6a) to take in to account the oil quantity.

3 -See [my comment in your merge request](https://github.com/Juanvvc/c172p-detailed/pull/852#issuecomment-258028083)

[2016-11-03 06:21] wlbragg commented on #851
How much oil has to be consumed in pounds before the engine fails?
I know we manage fuel because it can fluctuate enough to effect the aircraft. But the oil? Your oil level typically will be stable within less than a pound or two. Why are we going through this much effort on the weight side of it?

[2016-11-03 10:11] dany93 commented on #851
@wlbragg
+1
That was exactly my opinion in https://github.com/Juanvvc/c172p-detailed/issues/847#issue-185099773 and https://github.com/Juanvvc/c172p-detailed/issues/847#issuecomment-256036968

[2016-11-03 10:33] dany93 commented on #851
@gilbertohasnofb
You've gone too fast with [your PR](https://github.com/Juanvvc/c172p-detailed/pull/852#issue-186931418). You've changed the same files as I did.
My code, aside from the weight effect, fixes (almost?) all of the bugs on oil content vs the engine.
As you seem to agree with it, would you mind if we merged it first? Then, we will observe which bugs subsist  (if any) and possibly fix t

[2016-11-03 22:30] gilbertohasnofb commented on #851
No problems Dany, let's do it that way! Since your code solves the issues with the oil function, I think all that will be left for me to do is to remove those bindings from the gui dialog which are setting the oil level to 7 quarts whenever one enables/disables carb icing and oil management. So I will redo that later.

I will take a look at this while testing your branch, but if your code is makin

[2016-11-07 21:55] gilbertohasnofb commented on #851
Closed via https://github.com/Juanvvc/c172p-detailed/pull/853 and https://github.com/Juanvvc/c172p-detailed/pull/854

[2016-11-07 21:55] #851 closed

[2016-11-08 07:34] wkitty42 opened #855 "2016.4.1 is fast approaching"
in less than 10 days, 2016.4.1 should be released... is the craft is well enough shape to be branched for it? i thought i'd mention it so maybe we can get a leg up and not be rushed like we've seen in the past ;)

now that the oil thing is completed, if we could go ahead and branch ahead of the rush, i think that would be a GoodThing<tm>

[2016-11-08 10:05] gilbertohasnofb commented on #855
@wkitty42 thanks for the heads up, I was not aware the next release will be so soon! But are you sure about it? Given that 2016.3 was released more than a month late, is 2016.4 still going to follow the original schedule?

@onox @wlbragg @dany93 @Juanvvc @dg-505 and all others, what do we still _really_ need to do before the release? For instance, I think we should really solve this one here https

[2016-11-08 11:08] wkitty42 commented on #855
On 11/08/2016 05:05 AM, Gilberto Agostinho wrote:

i think the schedule of every three months is still adhered to... at least, i/we
can only look at the wiki to see...

   http://wiki.flightgear.org/Release_plan

i did also post something about being less than ten days away from release to
the dev list where james said he was traveling for the next week or two... that
mainly to point it out so tha

[2016-11-08 11:49] onox commented on #855
#124 is also interesting. It could by implemented by collecting "damage" points (just a counter that you increase) if the RPM is higher than 2700. The more above 2700 RPM, the more points you collect. Once you reach a certain threshold, the engine can be considered "damaged". For example, if you fly at 2750 RPM, you get very little damage and it will take a long time to destroy the engine. 3000 RP

[2016-11-08 11:50] onox commented on #855
Is @jarlarntzen still working on the 3D model?

[2016-11-08 13:01] gilbertohasnofb commented on #855
@onox The engine damage would be really interesting IMO! I like your idea of how to implement this. I think we could do as you say and have possibly an exponential curve, and then if the value is under a threshold value (something low) the engine is considered perfect, and then starting at the threshold the engine can start losing power or showing other problems (coughing for instance). We could a

[2016-11-08 13:07] gilbertohasnofb commented on #829
@wlbragg can you please tell me if the description "improvements to the ALS external view taxi and landing lights" is satisfactory for the work you did in that PR some time ago? If not, can you improve the description by editing onox's post?

[2016-11-08 22:35] gilbertohasnofb opened #856 "State support in the C172P"
State support for our plane is being discussed in the mailing list: https://sourceforge.net/p/flightgear/mailman/message/35478527/

@onox @wlbragg or whomever is comfortable with the subject, could you please check this thread out?

[2016-11-09 20:03] gilbertohasnofb commented on #855
I just read in the dev list a message by Torsten asking what still needs to be done before the release next week, so I suppose version 2016.4 will be shipped in the expected date indeed. In that case:

- @onox maybe it would be better to leave this work on the engine for after the release, as not to rush things and introduce unwanted effects, what do you think?
- @dg-505 can you let us know about

[2016-11-09 20:49] onox commented on #855
It would indeed be better to move it to the next milestone.

[2016-11-09 20:53] gilbertohasnofb commented on #855
:+1:

[2016-11-09 21:00] onox commented on #855
I have moved most of the issues to the next milestones.

[2016-11-09 21:15] onox commented on #856
I think we need to be able to set properties at the very least and maybe also have Nasal scripting. Furthermore, we need to be able to specify the (internal) state of the JSBSim FDM and its systems, including intermediate properties (used as input for other JSBSim components in a system).

Basically what we want is to be able to take a snapshot of all the properties that we're interested in, Nasal

[2016-11-09 21:24] wlbragg commented on #856
Yes, agreed.

See https://sourceforge.net/p/flightgear/mailman/message/35481658/ for the starting point.

I am not aware of or familiar with "modify the example -state.xml files". I just looked at the State folder, this is the first I have seen of it.

[2016-11-10 02:02] wkitty42 commented on #855
On 11/09/2016 03:49 PM, onox wrote:

agreed... time is too short... i'm even wondering about some recent changes to
the sim being completed enough to not cause problems with the new release... i
won't even mention anything about determining EoL versions if the sim ;)

[2016-11-10 02:09] wkitty42 commented on #856
On 11/09/2016 04:15 PM, onox wrote:

i think this is very close to what is sought... the goal being to regain startup
options like "in air at 10 miles on final"... in this case the craft should be
set to the normal properties that one would have when flying in at that point in
time...

the complication with this craft comes from the two different engines and
selecting which one is active in this s

[2016-11-10 03:07] wlbragg commented on #829
I edited onox's post to more accurately describe the "addition" of the ALS exterior lights, thanks.

[2016-11-10 03:15] wlbragg commented on #855
I really like @onox point system idea for engine damage and also @gilbertohasnofb hotspot idea at the engine cowling (wherever the engine access opening is).

Another indicator of damage to the engine is more "white" smoke.

[2016-11-10 09:44] gilbertohasnofb commented on #855
@wlbragg the smoke idea is great! So we could work on this very soon, let's just get this release done and then we move on. (Stuart told me he can merge our release branch to FGDATA either on Saturday 2000 UTC or on Monday).

[2016-11-10 18:07] dg-505 commented on #849
I'm on it. Turned out to be a little bit more difficult as expected :roll_eyes:
I think I'll get it finished this evening

[2016-11-10 19:27] dg-505 commented on #849
Fixed in #858

[2016-11-12 19:37] #849 closed

[2016-11-12 19:39] onox commented on #761
Lets close this issue with a "wontfix" until someone volunteers and creates a PR?

[2016-11-12 19:42] onox commented on #855
Anything to add to #829 or can I create the release?

[2016-11-12 20:02] onox commented on #855
I have released 2016.4. [`release/2016.4`](https://github.com/Juanvvc/c172p-detailed/tree/release/2016.4) branch has been created.

[2016-11-12 20:03] onox opened #859 "Gather a list of features and bugs we fixed in 2017.1"
We should gather a list of all the new features, major changes, and bugs we fixed. Please create a list (use \* to create bullet points) here.

* Control surfaces can be checked for free movement during preflight inspection
* The opening of the baggage dialog was delayed as to wait for the animation of the baggage door
* Cleaning up the Aircraft Options dialog
* Improvements to the Ground Equipmen

[2016-11-12 20:03] #829 closed

[2016-11-12 20:03] #855 closed

[2016-11-12 20:38] gilbertohasnofb commented on #855
👍 I will write Stuart then!

[2016-11-12 20:41] gilbertohasnofb commented on #761
Agreed.

[2016-11-12 21:31] wlbragg commented on #761
Good luck with that!

[2016-11-12 23:21] wkitty42 commented on #761
On 11/12/2016 02:39 PM, onox wrote:

i've thought, several times, to suggest bringing back the old tutorials so they
are all available... then each one, if it can, would transfer the craft to the
proper location/airport where they take place... this way the tutorials don't
need to be updated for every new release and they should function properly...
the key is if the tutorial code can move the cra

[2016-11-14 10:32] gilbertohasnofb opened #860 "small 3D issues with the external fuselage"
These are a couple of minor 3D issues that we currently have with our external fuselage:

- While testing the tutorials, the camera angle for removing the tie-down in the tail of the plane on the preflight tutorial shows a possible problem with the 3D model, see:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/20261406/e8d43086-aa5d-11e6-94ce-d644011e802b.png)

On the left s

[2016-11-14 10:36] gilbertohasnofb commented on #761
@wkitty42 I don't think  I understand what you mean, but I believe the issue is as follows: people would like to have tutorials in the default tile, which changes with every release. If we don't change the location of the tutorials, the problem is that some users without terrasync will be sent to the ocean (!) but at the same time changing the tutorials every 3 months is _really_ annoying. Also tu

[2016-11-14 12:56] gilbertohasnofb opened #861 "Preflight control surfaces check"
I would like to implement control surfaces check for the preflight. My idea is quite simple: during the preflight, if one click on the ailerons, elevators and rudder they would move up and down a single time, as if the pilot is testing them. This is just eye candy of course, but it's quite a neat feature I have seen in other simulators. The question is how can this be done. I ran into two problems

[2016-11-14 12:57] gilbertohasnofb commented on #861
See 1:05 for an example of what I am trying to do: https://www.youtube.com/watch?v=1OAwy-1ZlKo

[2016-11-14 13:24] gilbertohasnofb commented on #861
Another option would be after the user clicks on a surface, the mouse controls it while the button is held. Maybe this is even less feasible than what I proposed above, I am just brainstorming here...

[2016-11-14 13:59] dany93 commented on #861
control/flight/aileron
control/flight/elevator
control/flight/rudder

[2016-11-14 14:13] gilbertohasnofb commented on #861
Fantastic, Dany! The `interpolate` command works like a charm!

As for the `/control/flight/<surface>` properties, I am just thinking if a joystick would not override them during the interpolation, but I will test that.

[2016-11-14 14:18] dany93 commented on #861
`<time>` or `<rate>` in xml
property-interpolate

http://wiki.flightgear.org/Bindings

[2016-11-14 14:19] dany93 commented on #861
I think the joystick will be quiet if one do not move it.
The last one speaking wins.

[2016-11-14 14:20] gilbertohasnofb commented on #861
:+1: thanks a lot!

[2016-11-14 16:51] wkitty42 commented on #761
On 11/14/2016 05:36 AM, Gilberto Agostinho wrote:

i fully agree that having to change the tutorials or write new ones for each new
airport is annoying as hell... my proposal is to stop doing that and provide the
existing (and possibly older) tutorials but just have them teleport to the
proper airport they are/were written for...

granted, users without terrasync may end up in the drink but we sho

[2016-11-14 16:55] wkitty42 commented on #861
On 11/14/2016 07:56 AM, Gilberto Agostinho wrote:

why click on the control surface? why not just have the user wiggle their
joystick, mouse or use the proper keys on the keyboard? just make sure they are
in the outside view where they can see them move...

just 2 cents ;)

[2016-11-14 17:32] gilbertohasnofb commented on #861
Because in RL you don't have access to the yoke while doing the preflight inspection and you have to literally force the control surfaces up and down with your bare hands. Look, what I am working on will not be obligatory in the sense that it won't punish the user for not doing it -- it's just eye candy as it actually won't do anything, it's just activating animations! -- but it will feel nice for

[2016-11-14 17:35] gilbertohasnofb commented on #761
But isn't this exactly what we are currently doing already? Our tutorials are still based in Barcelona, and that's two versions old! But if you mean something else, I am really lost here, sorry...

[2016-11-14 18:50] dany93 commented on #861
@gilbertohasnofb wrote

Isn't it by the `slider` command, like c172p.xml in Models?
lines 2968 - 2983,
[code]

[2016-11-14 18:58] gilbertohasnofb commented on #861
@dany93 I decided to go through the route of just clicking for a brief automatic surface check, see:

https://youtu.be/ieVGiAv0ntI

(the video doesn't show my mouse clicking on the surfaces)

I will push a PR soon for testing, just checking some few things still

[2016-11-14 19:00] gilbertohasnofb commented on #861
Also, in the video above, when I check the aileron surface you will notice that the front wheel moves, but this is only because I have only my mouse here and so I have auto coordination on, and so any aileron input == rudder input as well.

[2016-11-14 19:26] wkitty42 commented on #761
no, i guess we're on the same page... i was thinking there were previous tutorials from before Barcelona... ones with flights over other areas...

[2016-11-14 19:27] wkitty42 commented on #861
@gilbertohasnofb

ohhhh!!! right... stupid me... i don't know what i was thinking of :laughing:

[2016-11-14 19:30] gilbertohasnofb commented on #861
:smile_cat:

[2016-11-15 20:17] #833 closed

[2016-11-15 20:40] #861 closed

[2016-11-15 20:45] #830 closed

[2016-11-15 20:45] gilbertohasnofb commented on #830
Joined into https://github.com/Juanvvc/c172p-detailed/issues/830

[2016-11-15 20:49] gilbertohasnofb commented on #587
@dg-505 I have update the description of this issue, so there are now three things concerning the tutorial, all of which we can work under a single issue and then create a single PR, is that fine with you?

About the control surfaces conditions, what about listening to these conditions on the moment the tutorial moves to those specific checks:

left aileron condition: `/controls/flight/aileron` eq

[2016-11-15 20:52] gilbertohasnofb commented on #124
@onox do you want to work on this? I had proposed to help with a dialog, similar to what I did for the oil and water contamination. What do you think?

[2016-11-15 22:24] onox commented on #124
I have been rather busy with university and other things, so can't promise to work on it. You could start by searching for some sound that is heard when the engine is starting to get damaged. (Lowered RPM?)

What we could do is create some interpolation table in XML that tells how much points you get for a certain RPM.

Furthermore, I think we should lower the RPM a certain amount depending on how

[2016-11-15 22:29] onox commented on #124
Btw, I notice that I can no longer enable the tiedowns by clicking them in external view. I can still enable them via the Aircraft Options dialog.

[2016-11-15 22:34] onox commented on #124
It seems @dg-505 accidentally removed `<not>` around `<property>/sim/current-view/internal</property>` when he simplified the expressions as I suggested (see 85a42173f0db40282f653ada481f16379ce4a107).

[2016-11-15 22:37] onox commented on #124
I'm fixing it in the release branch.

[2016-11-15 22:43] onox commented on #124
Fixed in https://github.com/Juanvvc/c172p-detailed/tree/release/2016.4

[2016-11-15 22:53] onox commented on #124
Also cherry-picked to `master`.

[2016-11-16 07:19] dg-505 commented on #124
Oups, sorryy  😞

[2016-11-16 09:21] tigert opened #864 "setting throttle via properties gets immediately reset."
So I was playing with an Arduino the other day, and wired a potentiometer to adjust the throttle via the example here:

  http://wiki.flightgear.org/Howto:Use_Arduino_with_FlightGear

However, it did not work with the C172p, and I think some of the Nasal logic we do the more complex stuff with seems to interfere and resets the value.

You can view the issue without an arduino by going to the brows

[2016-11-16 09:23] tigert commented on #864
I guess we should either document a correct property to adjust. or avoid resetting the controls properties from code?

[2016-11-16 09:26] gilbertohasnofb commented on #124
No problems at all

:+1:

Sounds good.

Agreed. I will open a new issue for it and take a look at it soon. I propose the following:

- [ ] "save state of aircraft between sessions" (this would take care of fuel, battery, switches, etc.)
- [ ] "enable complex engine procedures and failures" (oil management, carb icing, engine damage, fuel contamination)

What od you think? "Enable complex engine pr

[2016-11-16 09:28] dg-505 commented on #587
@gilbertohasnofb about your points in the description:

* Unfortunately I still didn't find a way how to solve this problem... I also experience this with the tutorials of the DHC-6 Twin Otter

* The tutorial doesn't make use of the walker but maybe I find a way to incorporate these in the tutorials though it might be just  eye-candy

* While the idea of your last post is good, the implementation

[2016-11-16 09:34] tigert commented on #846
The POH has this info - http://ilwg.cap.gov/wp-content/uploads/2016/02/C172P_IM-82.pdf for example, page 7-33 states in VACUUM SYSTEM AND INSTRUMENTS that Attitude Indicator and Directional Indicator (directional gyro) are vacuum operated.

On page 7-25 in the electrical diagram you have the Turn Coordinator that gets power directly from the primary bus (BAT switch). It of course gets its power th

[2016-11-16 09:46] dg-505 commented on #124
IIRC the label with the registration on the panel shows your multiplayer callsign* which is in most times different to the ID of the livery. I can understand that some users want to see their mp callsign on the panel while others don't. Hence I see the purpose behind this option.

*Correct me if I'm wrong here

[2016-11-16 09:58] gilbertohasnofb commented on #124
Yeah, I get that, but the thing is those liveries do have a "hard coded" registration and so does some of their panel textures (e.g. default livery 4X-CHV)). Having 2 registrations in the panel (one referring to the texture, one to the MP callsign) does look horrible IMO, but then again I have zero interest in MP.

As for the * in your message above, the panel sign actually shows the registration

[2016-11-16 10:01] gilbertohasnofb commented on #846
@tigert Thanks a lot for the info!! I need to find some time to really go through this issue, to read all these references and to look at a lot of videos to hear these sounds. I really appreciate your help with these explanations/references!

[2016-11-16 10:09] gilbertohasnofb commented on #587
No problems, if we ever think of something we can then improve it.

I see. I believe that the fuel level is normally checked visually during the preflight inspection and not only via the gauge in the cockpit (correct me if I am wrong), so the ladder would be a cool addition. We could then "fake" the walker climbing the stairs: the camera in the tutorial would stop in front of the wing, a ladder wo

[2016-11-16 10:09] gilbertohasnofb commented on #587
@dg-505 I am also thinking about implementing a control lock for the yoke, so this would also be part of the tutorial (it need to be removed when in the cabin)

[2016-11-16 10:11] gilbertohasnofb opened #865 "Create control wheel lock"
Create and implement control wheel lock:

![](http://www.cessna150.net/Assets/Photos/inside_photos/controllock.JPG)

[2016-11-16 10:12] gilbertohasnofb commented on #865
Volunteers for the 3D model? I can work on texture + XML.

[2016-11-16 10:46] onox commented on #864
Aren't we using engine number 2? So that would be
/controls/engines/engine[2]/throttle?

On Wed, Nov 16, 2016 at 10:23 AM, Tuomas Kuosmanen <notifications@github.com

[2016-11-16 10:47] onox commented on #864
Oh, we're actually using some other property:
/controls/engines/current-engine/throttle

On Wed, Nov 16, 2016 at 11:46 AM, Denk Padje <denkpadje@gmail.com> wrote:

[2016-11-16 10:49] onox commented on #124
"Enable complex engine procedures and failures" is good too :+1:

On Wed, Nov 16, 2016 at 10:58 AM, Gilberto Agostinho <
notifications@github.com> wrote:

[2016-11-16 10:56] gilbertohasnofb commented on #124
@onox what about the shadow, can I just remove that option as well?

[2016-11-16 11:02] gilbertohasnofb opened #866 "Improve aircraft dialog"
Improve aircraft dialog by removing unnecessary options or by grouping similar features into a single toggle:

- "save state of aircraft between sessions" (this would take care of fuel, battery, switches, etc.)
- "enable complex engine procedures and failures" (oil management, carb icing, engine damage, fuel contamination)
- possibly remove "enable shadow" option as shadow is automatically activat

[2016-11-16 11:02] gilbertohasnofb commented on #124
Please see https://github.com/Juanvvc/c172p-detailed/issues/866

[2016-11-16 11:56] dg-505 commented on #587
I was thinking about exactly something like this +1

Correct, thanks for the reminder

That's a good idea, imo more elegant than the nasal stuff I suggested

[2016-11-16 11:59] dg-505 commented on #587
I already had that idea, too, as this item is available in the checklist, though it's not activated.
That would be a really nice feature

[2016-11-16 13:27] gilbertohasnofb commented on #587
@dg-505 great, so:

Would you do this in the same PR that will tackle these tutorials so we don't need to open a new issue and another PR for that? Remember to also initialize the property as `false` in the `-set.xml` file.

How familiar are you with 3D modelling? Would you be able to (and of course would you be interested in) give me a hand with this? I am rubbish at 3D modelling, but I would be

[2016-11-16 13:28] gilbertohasnofb opened #867 "Improve Ground Equipment dialog"
Improve Ground Equipment dialog:

- add recharge battery button for when the Power Unit is connected
- add fuel adjustment when the portable fuel tank is on toggled

[2016-11-16 13:37] gilbertohasnofb commented on #300
I just got a message from a guy from South Africa telling me his airclub just bought the real ZS-MDF :smiley:

https://fgflights.blogspot.de/2015/04/bodensee.html?showComment=1479303066443

[2016-11-16 14:15] dg-505 commented on #587
Well, with all the points together, I guess that the next tutorial PR will be a bit bigger..... ;)

Actually I consider myself to be quite capable. At least I have been with AC3D but this is only for windows and currently I'm trying

[2016-11-16 14:30] gilbertohasnofb commented on #587
Not a problem I suppose, as they are all related!

Great, so in that case we could create a new branch `bug-865` and work together there before making a PR. I will create a texture for the lock right away.

[2016-11-16 14:31] gilbertohasnofb commented on #865
@dg-505 let's continue our talk about the lock over here

[2016-11-16 14:57] gilbertohasnofb commented on #865
I created the texture, what do you think?

![control-lock](https://cloud.githubusercontent.com/assets/5700795/20351871/35238afa-ac15-11e6-9e97-a304340683ad.png)

[2016-11-16 15:10] dg-505 commented on #865
I think when it comes to textures (and screenshots) you're really a magician  😆

[2016-11-16 15:22] gilbertohasnofb commented on #865
Thanks a lot, Jonathan! I really appreciate it :smiley:

[2016-11-16 15:30] gilbertohasnofb commented on #865
Here is one more idea: let's have two identical models of the lock, one positioned at the yoke, another in the pocket on the left side of the cockpit where the checklist is. So when the lock is on the yoke, clicking on it will remove it and put it on the pocket, and clicking on the lock on the pocket will put it back to the yoke. This was done by A2A, see the following video at 6:06 https://www.yo

[2016-11-16 17:33] onox commented on #124
I think we can remove that one as well.

[2016-11-16 17:38] onox commented on #124
Would you prefer removing the "show registration in panel" checkbutton and remove it in the cockpit panel as well? This way it is never visible in the cockpit panel, but it is on the fuselage if the user chooses one of the custom callsign liveries.

[2016-11-16 17:40] onox commented on #124
...or display it in the cockpit panel as well if the livery is one of the custom callsign liveries.

[2016-11-16 17:52] onox commented on #124
(I have updated my previous question because it was a bit confusing)

[2016-11-16 17:54] gilbertohasnofb commented on #124
@onox the current behaviour is: the registration shows in the fuselage only in if the user selects the liveries "Custom Callsign 1" or "Custom Callsign 2". When those are selected, the aircraft dialog option for showing callsign in the panel is automatically enabled, and when selecting any other livery it becomes disabled. The checkbox is used only in the case when the user is flying one of the no

[2016-11-16 17:58] onox commented on #124
I do MP, but I find it useless and ugly too.

[2016-11-16 18:00] onox commented on #124
Perhaps we could just remove the checkbutton but leave the ability to override in the code and see how many users complain on the forums.

[2016-11-16 18:00] gilbertohasnofb commented on #124
So in that case, do you think many people use this feature? I don't want to dictate how people should play with the toy we create, but I also don't like useless or ugly stuff.

Let's do that, it would be easy to revert the commit if ever necessary. I will fix it in the already opened PR (there are two PR opened in case you'd have time to take a look at them)

[2016-11-16 18:03] onox commented on #124
I don't know. It's kinda difficult to look in other's cockpits on MP :stuck_out_tongue_winking_eye: I see people rarely using the custom callsign liveries though. That of course doesn't tell us anything about whether a user has ticked that "show registration on panel" checkbutton.

We can decide to just remove the checkbutton and see if a Make The C172P Great Again movement arises on the forum.

[2016-11-16 18:05] gilbertohasnofb commented on #124
:laughing: sounds good! I also noticed that the callsigns are not persistent among sessions, so I am fixing that together. I will push the commits to https://github.com/Juanvvc/c172p-detailed/pull/869 very soon

[2016-11-16 18:17] onox commented on #124
About the callsigns: do we want to sneak in some code that randomizes the callsign if it is "callsign"? New users with the callsign "callsign" will prevent other new users from using MP (because there can be only one user called "callsign").

I had already highlighted this problem on the mailing list, but there was no response from a core dev saying "I'm gonna fix this!".

This is of course very s

[2016-11-16 18:19] onox commented on #124
@gilbertohasnofb There's a message on the mailing list about splash screens called "Hangar thumbnails, screenshots, splash-screens":

I prefer the splash screens to look clean (minus the http:// url at the top). Description and authors are already visible in the launcher.

[2016-11-16 18:21] gilbertohasnofb commented on #124
Yep, I think that's a good idea! But I just realized that we are using `/sim/model/immat` and not `/sim/multiplay/callsign`, which explains why my sim was showing a blank callsign instead of "callsign". How do you want to solve this? Should this function set both properties to the same value? And wouldn't you like to make this commit yourself to the PR I linked above, since this is solely your wor

[2016-11-16 18:46] gilbertohasnofb commented on #860
The post above has been edited.

@wlbragg would you maybe be interested in taking a look at this issue? These should be quite minor fixes I suppose.

[2016-11-16 18:52] onox commented on #124
The multiplayer system uses `/sim/multiplay/callsign` so that needs to be randomized. It could in addition set `/sim/model/immat` as well.

[2016-11-16 18:54] onox commented on #124
Although it may be better to leave it blank (empty string) to save space in the MP packets.

[2016-11-16 20:09] #866 closed

[2016-11-16 20:26] #867 closed

[2016-11-17 00:28] wlbragg commented on #865
I suppose I can create the model in Blender. Has anyone else volunteered yet?

Great ideas!

[2016-11-17 00:31] wlbragg commented on #860
Yep, I'll look at it when I do the control wheel lock.

[2016-11-17 00:57] gilbertohasnofb commented on #865
@wlbragg if I understood correctly @dg-505 had volunteered to model this, am I right Jonathan?

[2016-11-17 00:58] gilbertohasnofb commented on #860
👍 Thanks! Let me know if I can help somehow

[2016-11-17 03:13] wkitty42 commented on #124
On 11/16/2016 01:19 PM, onox wrote:

but they are not visible if users start via their own command line without any
sort of launcher at all... automatically rendering them in the splash screen
still allows for recognition if such is desired...

2 centavos

[2016-11-17 05:18] dg-505 commented on #865
At least can give it a try. I think such a small piece can be a good way to learn Blender...

[2016-11-17 05:25] wlbragg commented on #865
:+1:

[2016-11-17 10:58] gilbertohasnofb commented on #124
I am all for removing that ugly url, it has always bothered me.

I personally can live without that. But if you guys want, we can add an "About" dialog to the c172p menu with some info about the project, the team, the aircraft, links, etc..

[2016-11-17 11:57] onox commented on #124
I would rather see the authors in an "About" dialog than on a splash screen.

[2016-11-17 15:20] gilbertohasnofb commented on #124
:+1: I will open an issue for that and I can work on it later

[2016-11-17 15:21] gilbertohasnofb opened #870 "Create "About" dialog in the C172P menu"
Create "About" dialog in the C172P menu with information about our project, list of collaborator, etc.

[2016-11-17 15:21] gilbertohasnofb commented on #124
See: https://github.com/Juanvvc/c172p-detailed/issues/870

[2016-11-17 19:57] onox commented on #865
Here is a bunch of keys I find useful in Blender:

`t` to show panel on the left (it contains a combobox called "Set Origin")
`n` to show panel on the right (it contains 3D cursor)
`shift`+`c` to set 3D cursor to 0,0,0
`shift`+`s` -> `Cursor to Selected`
`1`, `3`, `7` (+ `shift` optionally) to show front/right/top side
`alt`+`home` to move view to 3D cursor (especially useful if you first do `shif

[2016-11-17 20:21] zakalawe commented on #856
Following up one Denk's comments. Exposing JSBsim internal state, or Nasal timers, is not possible, it's much too complicated. What we can do is run a 'trimming phase' (indeed, JSBsim already does) so things like heaters can stabilise. How much complexity is needed for that, is precisely the question we need to answer.

For example I could run the system for 5 (simulated) seconds (so 600 time step

[2016-11-17 22:28] gilbertohasnofb opened #872 "Fire extinguisher not affected by shadows:"
Fire extinguisher not affected by shadows:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/20410464/728ba9dc-ad1d-11e6-9927-d81a82afd38c.png)

![fgfs-screen-002](https://cloud.githubusercontent.com/assets/5700795/20410465/7290e7d0-ad1d-11e6-91b4-099d3f289e8d.png)

[2016-11-17 22:33] gilbertohasnofb commented on #872
I suspect the same is true for the other fire extinguisher (used by some of the bush variations), the two baggages and the ELT in the back of the cabin.

@wlbragg do you think you could take a look at this, or tell me how to fix this? I thought the shadow cube would be enabled similarly to the irradiance effect by using ...

[code]

... but that is not the case apparently.

[2016-11-17 22:41] #870 closed

[2016-11-17 23:40] onox commented on #856
Is the number of time steps / seconds configurable? And per system or globally? A trimming phase does indeed sound workable.

[2016-11-18 04:29] wlbragg commented on #872
I don't mind fixing it (I actually did and created a bug-872 branch) except I can't seem to push. My credentials keep failing, yet I can change them in my account?

So. I think all it needs is to change
./../../../Effects/interior/c172p-interior-radiance
to
./../../../Effects/interior/c172p-interior
The first uses the white cube and no shadow, the latter uses the shadow cube. Beware, testing and t

[2016-11-18 04:31] wlbragg commented on #872
I finally got it to push....

[2016-11-18 08:30] gilbertohasnofb commented on #872
That would be great. Do we have an open issue for that?

[2016-11-18 15:31] zakalawe commented on #856
That's all to be decided! I will raise the proposal on the mailing list, but I need to check with the FDM folks, since they already have a trimming phase internally. My guess is we want to run a 'system trim' immediately after the FDM trim is complete (so basic motion properties are stable, airpseed, etc).

I will also make some experiments how fast we can run this. Current idea would be to run a

[2016-11-18 16:47] wlbragg commented on #872
Yes, absolute position for instruments in individual .ac files #790

[2016-11-18 19:19] gilbertohasnofb commented on #431
I will close this issue as a duplicate of https://github.com/Juanvvc/c172p-detailed/issues/430 and add the information there, as both are about more or less the same problem

[2016-11-18 19:22] #431 closed

[2016-11-18 19:24] gilbertohasnofb commented on #430
The post above has been edited, as there are 3 problematic areas all of which involve the UV mapping of the fuselage.

For whomever plans to fix this: please be careful not to think that the issue is fixed by testing a single livery. The tail and nose issues are more evident with the OH-CTL while the bottom back is more clearly seen with the N35799, but after a fix please do take a quick look on t

[2016-11-18 19:28] gilbertohasnofb commented on #118
One more thing about our wings which could be tackled in this same issue, I believe the Cessna 172 has a very small "inverted winglets", seee:

![](http://www.premieraerostore.com/content/images/thumbs/0000572_cwt-cessna-wingtips-with-landing-lights.jpeg)

![](https://upload.wikimedia.org/wikipedia/commons/c/c0/Cessna_172_D-EVLB.jpg)

![](https://img.planespotters.net/photo/266000/original/ph-lfa-

[2016-11-18 19:32] gilbertohasnofb commented on #737
For the windshield it could also be nice to have some scratches that could be more illuminated depending on the angle, similar to the frost effect. Maybe Thorsten could be interested on that :smile:

[2016-11-18 19:39] dg-505 commented on #865
@onox thank you, that is very helpfull

Here's the current progress:
![control-lock blend](https://cloud.githubusercontent.com/assets/12293276/20443858/07a77404-adcf-11e6-81c2-20301fc2cf7c.png)

Any thoughts? :smirk:

[2016-11-18 19:41] gilbertohasnofb commented on #865
@dg-505 that looks _really_ good :smile: But are you including the yoke mount just as reference or do you plan to somehow rework the yoke model as well?

[2016-11-18 19:43] dg-505 commented on #865
Hehe, no, the mount is only there as reference :wink:

[2016-11-18 19:47] dg-505 commented on #865
Well, I could cut this hole into the mount and the yoke rod where the control lock gets sticked in...

[2016-11-18 19:48] gilbertohasnofb commented on #865
Yes, please do that, it would look good.

[2016-11-18 19:48] dg-505 commented on #865
Roger :+1:

[2016-11-18 21:28] dg-505 commented on #865
See #874 for the 3D models

[2016-11-19 01:02] onox commented on #737
For scratches you need a certain layer (red/blue/green) in the glass mask of the interior glass. You could take a look at the F-14/F-15/F-16, one of those has that feature.

[2016-11-19 06:24] wlbragg opened #875 "More realistic bush wheels and tires"
The bush tire and rim are not realistic. The tire should be a slick and the rim should be closer to the size of the default tire and could stand a better texture appropriate to a bush tire.

@gilbertohasnofb if you want to research the look of a bush tire and rim and make the texture, I'll apply it and fix the rim size. Or I can also research it and provide a picture for reference.

[2016-11-19 10:22] gilbertohasnofb commented on #875
:+1: This weekend I will be quite busy though, but I can work on it very soon. As for the picture, do you mean something more like this?

![](http://memberfiles.freewebs.com/38/32/79753238/photos/undefined/DSC_0033%20(2).JPG)

[2016-11-19 10:23] gilbertohasnofb commented on #737
I will take a look at this soon, thanks @onox

[2016-11-19 11:50] wlbragg commented on #875
Yep!

[2016-11-19 17:33] wkitty42 commented on #118
i thought those inverted winglets were addons? that's what i seem to recall from previous research a long while back when i was looking at suggesting winglets be added... i never did make that suggestion because of the addon results... i do know that they affect the efficiency of the craft by reducing vortex drag from the wing tips... not sure how the FDM would be told they exist on the craft so t

[2016-11-19 18:05] wlbragg commented on #118
I'm not an FDM guy but I think it should be doable in the FDM with some adjusting of coefficient's, same as we do for gear changes.

[2016-11-19 18:06] gilbertohasnofb commented on #118
I am not sure those are really addons, I don't remember seeing a picture of a Cessna 172P without them. @wkitty42 could you please try to find this out?

[2016-11-19 23:05] gilbertohasnofb opened #876 "Update reflection shader"
change reflection shader to the one with real fresnel effect

See: https://github.com/HHS81/c182s/issues/152

[2016-11-20 01:17] wkitty42 commented on #118
On 11/19/2016 01:06 PM, Gilberto Agostinho wrote:

i will try but i don't know that i can duplicate the research i did a year ago
when i first got involved with the project...

[time passes]

here's some links i found on a quick uncle google search for "cessna 172p
winglets" (without the quotes)...

http://www.diva-portal.se/smash/get/diva2:751994/FULLTEXT01.pdf

here's one that says that the C172

[2016-11-20 05:52] wlbragg commented on #876
Our original reflect settings
![fgfs-screen-004](https://cloud.githubusercontent.com/assets/11069680/20460726/f451a9d0-aeb2-11e6-9001-c75bd40f79c2.png)
Same new reflect settings and effect as c182s
![fgfs-screen-002](https://cloud.githubusercontent.com/assets/11069680/20460727/fa680634-aeb2-11e6-81fc-bed30fa83550.png)

[2016-11-20 09:36] gilbertohasnofb commented on #876
It looks fine but I am not too sure if that was an improvement or not. The whole livery looks much brighter while the horizontal surfaces are not reflecting more light. See for instance these two images by Heiko (please open them side by side and switch between them to see the differences):

![](https://cloud.githubusercontent.com/assets/12649375/19746924/ed5c61c0-9bd8-11e6-870f-f62144969922.jpg)

[2016-11-20 09:49] gilbertohasnofb commented on #118
Well, as I said I never seen a 172 P without those inverted winglets on its wings and until you wrote about it I just assumed it is a factory design. Also, I find it a bit hard to believe that such an addon would be so widespread that virtually _every_ photograph shows them! Would really nearly all owners buy and install such a thing?

As for your links:

- the first is a theoretical study on the

[2016-11-20 13:17] gilbertohasnofb commented on #118
I have searched for images of the Cessna 172P in a databse of aviation photographs (www.airliners.net) and _absolutely all_ Model P have these drooped wings, e.g.:

![](http://cdn-www.airliners.net/photos/airliners/5/7/8/2816875.jpg?v=v40)
![](http://cdn-www.airliners.net/photos/airliners/1/2/4/4006421.jpg?v=v4c2774ca075)
![](http://cdn-www.airliners.net/photos/airliners/1/0/2/3983201.jpg?v=v4e761

[2016-11-21 20:42] HHS81 commented on #876
@wlbragg  the trick is to set `<fresnel-factor>1.0</fresnel-factor>`to a higher value than 0. I set the value to 1.0 in the example above.

[2016-11-22 12:01] wlbragg commented on #876
@HHS81 in what branch and file name are you using the new reflection settings?

[2016-11-22 13:19] wlbragg commented on #876
OK I figured it out, is this better :laughing:
![fgfs-screen-006](https://cloud.githubusercontent.com/assets/11069680/20525214/07d7d808-b084-11e6-9f24-f9ca4d5403da.jpg)

[2016-11-22 13:22] gilbertohasnofb commented on #876
@wlbragg It's difficult to say with this picture above given the green uniform colour, but is this effect applied similarly to the c182? I notice there how the wings and horizontal stabilizers are reflecting the blue from the sky while the rest of the fuselage is not, and in the picture above seems quite uniform. But I guess I need to wait and see it applied to a livery.

[2016-11-22 14:08] wlbragg commented on #876
@gilbertohasnofb the above image was actually an accident, but it did show a major increase in reflectivity.

Below is as far as I have gotten with the effect. I think I need to wait for the wiki to be updated or more instruction from @HHS81

![fgfs-screen-007](https://cloud.githubusercontent.com/assets/11069680/20526589/4ecd8d10-b08a-11e6-9183-b13d3be21296.png)
![fgfs-screen-010](https://cloud.gi

[2016-11-22 20:51] HHS81 commented on #876
@wlbragg I  need to look into your .eff-file to see what's wrong

[2016-11-23 01:05] wlbragg commented on #876
After fiddling with the reflection values for an hour or so I managed to get something a little more plausible. However as of right now the fresnel-factor doesn't seem to be doing anything.

![fgfs-screen-003](https://cloud.githubusercontent.com/assets/11069680/20548123/5b9ccfb8-b0e6-11e6-862e-c96417bf4b41.png)

[2016-11-23 01:05] wlbragg commented on #876
@HHS81 please see bug-876 branch.

[2016-11-23 18:05] HHS81 commented on #876
@wlbragg
![c172prefltype1](https://cloud.githubusercontent.com/assets/12649375/20573326/89da62d6-b1af-11e6-8665-7c47b8db7e40.jpg)
![c172prefltype1 2](https://cloud.githubusercontent.com/assets/12649375/20573339/94368034-b1af-11e6-8460-8801ee721e67.jpg)
![c172prefltype2](https://cloud.githubusercontent.com/assets/12649375/20573356/9f831718-b1af-11e6-8157-97526033be65.jpg)
![c172prefltype2 2](https:

[2016-11-23 18:10] HHS81 commented on #876
@wlbragg
There are two new tags inside the eff-files:
	`<reflection-fresnel-factor type="float">1</reflection-fresnel-factor>`
and
	`<reflection-type type="int">2</reflection-type>`

The first controls the fresnel-effect. The higher the value, the stronger the effect.
The second controls the type of how the reflection color is applied.

By adding `<use>/sim/rendering/fresnel-factor</use>` and `<us

[2016-11-23 18:31] HHS81 commented on #876
@wlbragg

It is a map of greyvalues set to transparency. So you can control the reflection per pixel (unfortunately not per livery)

[2016-11-23 18:38] gilbertohasnofb commented on #876
That looks really cool! But we have to be careful adjusting the intensity of the effect, as we don't want our poor Cessna looking like this:

![](https://img.planespotters.net/photo/421000/original/n881aa-american-airlines-boeing-727-223a_PlanespottersNet_421801.jpg)

[2016-11-23 19:59] gilbertohasnofb opened #878 "Create new thumbnails"
Create three thumbnails with filenams `thumbnail-exterior.jpg`, `thumbnail-ground.jpg` and `thumbnail-panel.jpg` using the recommendations by @zakalawe

[2016-11-23 20:02] zakalawe commented on #878
Thank you for looking at this, I can promise you will do a better job than me :)

[2016-11-23 20:51] gilbertohasnofb commented on #878
@zakalawe My pleasure, James. And sorry if I sounded harsh, I was not aware those were just for testing purposes 😄

[2016-11-23 23:49] wlbragg commented on #876
@gilbertohasnofb did you look closely at the last image I posted? I actually like it better than the 4 with the new effect applied. A couple of the new effect ones have way to much green reflection on the top of the wing.
Take a close up look at the last image I posted. I think it should also still work with the livery as I don't think it is using any of the new effect.

[2016-11-24 06:12] HHS81 commented on #876
@ wlbragg you adjust the strength of the reflections and the strength of the fresnel effect. Especially the fresnel effect had been added to allow more realistic reflections. That does not mean you can not overdo any of this.

[2016-11-24 09:27] gilbertohasnofb commented on #876
@wlbragg Yes, I have seen that one as well. I have the feeling that all these images (the four by Heiko and the one you posted before) show too much reflections. This is what a 172 looks like under RL light:

![](http://www.m0a.com/wordpress/wp-content/uploads/2009/01/cessna-172-flying-m0a.jpg)

Notice that the fuselage has little to none reflection, the only parts that reflect something are the o

[2016-11-24 12:06] HHS81 commented on #876
As I said: the new Code makes it better. It allows that the shallow angles have this reflections more than other. This is what is called Fresnel Effect. But you have to adjust the strength of the effect and the overall reflections by yourself. I have overdone it to showcase

[2016-11-24 19:11] wlbragg commented on #876
Thanks @HHS81  I'll work on it, haven't had the time yet. I understood this issue to be too little reflection when it appears it is simply not the wanted reflection. So I think I have it in my head now what is needed and how to do it, thanks to your support and @gilbertohasnofb 's explanations.

[2016-11-26 00:03] HHS81 commented on #876
@gilbertohasnofb and @wlbragg
I found a bit more time today.
X-Plane 11 uses now [PBR.](https://www.marmoset.co/posts/basic-theory-of-physically-based-rendering/)
We don't have this yet, it is much different to Rembrand or ALS.

But the shader update by Throsten and me allows now one important part: fresnel.
I had overdone the effects here as an example to show that it is working.

More realistic

[2016-11-26 18:58] dg-505 commented on #878
Two suggestions: :wink:
![thumbnail-panel](https://cloud.githubusercontent.com/assets/12293276/20642571/7aba6638-b412-11e6-82a1-06de8cdbc0b5.jpg)
![thumbnail-ground](https://cloud.githubusercontent.com/assets/12293276/20642572/7abaafbc-b412-11e6-8c33-a6ddfdf3f52c.jpg)

[2016-11-27 19:59] gilbertohasnofb commented on #878
@dg-505 I like the first picture a lot, those planes in the ground are really cool, but there are some things about it I don't like (which are not your fault!): the hands of the model do not fit the yoke, the GPS is untexturized, the walker model is quite bad in my opinion. I will give this issue a go and then we see, is that fine? If you or other people in the project want to come up with picture

[2016-11-27 20:20] gilbertohasnofb opened #879 "UV-map the non-Canvas version of Garmin GPS"
In https://github.com/Juanvvc/c172p-detailed/issues/662, we spoke about porting the Garming GPS to Canvas (we currently even have a folder `Models/Interior/Panel/garmin196` for this porting). But while we don't get that done (and that would be a lot of work, I believe), we are stuck with the non-Canvas version which is functional but has some bug and problems (see https://github.com/Juanvvc/c172p-

[2016-11-27 20:41] gilbertohasnofb commented on #878
@zakalawe @onox @wlbragg @Juanvvc @dany93 @dg-505 @everyone else, what about these ones?

cockpit:
![172-cockpit](https://cloud.githubusercontent.com/assets/5700795/20651666/9babe22c-b4e9-11e6-8607-e4039f2d06e4.jpg)

external view:
![172-external](https://cloud.githubusercontent.com/assets/5700795/20651667/9bac683c-b4e9-11e6-8dcd-d17de2659f56.jpg)

external view2:
![172-external2](https://cloud.gi

[2016-11-27 22:27] dany93 commented on #878
Fine

[2016-11-27 23:08] wkitty42 commented on #878
that always struck me weird, too... then i figured out it was a wide FOV shot taken from "close" in...

[2016-11-27 23:34] wlbragg commented on #878
:+1:

[2016-11-28 00:27] gilbertohasnofb commented on #878
@dany93 @wkitty42 really? That's my favourite shot ever of our plane! :broken_heart:

[2016-11-28 00:28] gilbertohasnofb commented on #878
But I am fine changing it if you guys want, just please suggest something else then (a screenshot from the wiki, forum or taken by yourselves). Just please use some high quality visual settings: use ALS, use advanced weather, no fps counter in the corner, no menu bar on top, etc.

[2016-11-28 00:41] wkitty42 commented on #878
@gilbertohasnofb nonononono... i'm not saying to remove it... it is just the perspective... especially on a standard aspect screen... on a wide screen, i imagine it looks different/better? i dunno but i'm not against it at all... i only tossed out a comment... nothing more...

FWIW: i almost bought, on black friday, a set of 25inch flat screens to replace this Samsung SyncMaster 900p... it'll happ

[2016-11-28 05:38] onox commented on #878
@gilbertohasnofb Your screenshots look fine to me. The "variant default gear" looks like you just altered the left/right position of the camera.

[2016-11-28 05:51] onox commented on #876
Is there a PR or branch that has this code?

[2016-11-28 09:28] dany93 commented on #878
Like @wkitty42. Not so important, particularly if you @gilbertohasnofb  like so much. :smile:

[2016-11-28 11:40] gilbertohasnofb commented on #878
Ok, thanks guys :smile_cat:

That's correct. In a lot of screenshots I also play with the "focal length" by zooming in/out combined with coming closer/farther from the aircraft. That one is "distorted" because it's like an image with a wide angle lens, and I think that's what makes the composition interesting.

[2016-11-28 20:08] gilbertohasnofb opened #880 "Create IFR view"
Create IFR view:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/20684060/b713c88e-b5ae-11e6-91ec-9d604c35bedb.png)

[2016-11-28 20:09] gilbertohasnofb commented on #880
What do you guys think about this? Add an extra view so that if the user wants to fly fully IFR s/he can simply use that view instead of having to set it on their own.

[2016-11-28 20:10] gilbertohasnofb opened #881 "Add cowl plugs and/or engine covers"
~~What about adding cabin and engine covers to the aircraft? See:~~

We could add cowl plugs to our aircraft as part of securing it:

![](https://www.shop.kennoncovers.com/images/Cessna177B_CowlPlugs.jpg)

Alternatively we could also have the option of a full engine cover, but that might be completely unecessary:

![](http://cdn3.volusion.com/ugavy.szapz/v/vspfiles/photos/CoversCessna172-9.jpg?144

[2016-11-28 20:41] onox commented on #880
What do you mean exactly? Do you just want to a have a view (camera) that is more in the center and lower? I don't think any pilot in RL is gonna fly like that. 😮

[2016-11-28 20:43] onox commented on #880
But perhaps we can do the following: sometimes pilots fly with special glasses so that they cannot look outside (only at instruments in cockpit) (instructor still can). Don't know if we can use ALS glass effect for that.

[2016-11-28 20:52] gilbertohasnofb commented on #880
Yep :smile:

Surely no pilot would fly from that angle, in RL they use this for IFR training:

![](http://www.langleyflyingschool.com/Photos/People%20and%20Places/2009/Sukhmani%20009.jpg)

But having a view of the panel from that angle I proposed is quite a common feature in other sims as an aid for training: it's not suppose to be a realistic physical point of view, it's just there to make you no

[2016-11-28 21:15] onox commented on #880
It's not like you're completely blindfolded. You can still the instruments, but you cannot see through the windows because of some special coating / foil on the glass.

But your solution is much easier to achieve, so let's go with that.

[2016-11-28 21:27] gilbertohasnofb commented on #880
I never seen that before! I am only familiar with the blindfold helmet

:+1:

[2016-11-28 21:27] gilbertohasnofb commented on #880
Reminder to myself: test view on both 4:3 and 16:9 ratios of resolution

[2016-11-28 21:30] onox commented on #880
Yeah, I cannot really find any references to it anymore via Google. Google only shows those blindfold helmets or glasses, which cover part of the view.

[2016-11-29 14:58] gilbertohasnofb commented on #875
@wlbragg I had a look at this issue, an I am not sure this is only a matter of texturing. It seems to me that the rim is too large and the "inner circle" of the tire is too small. Also, I came across some images of 172s in bush configuration, and the rim does look quite similar to ours:

![](http://www.bushair.co.za/Bush%20pilots%20flyin%202008/3D-101taxi.jpg)

![](http://www.john2031.com/alaska_b

[2016-11-29 17:40] gilbertohasnofb opened #882 "Update authors list"
Update authors list in the README and set files

[2016-11-29 19:40] dg-505 commented on #865
Should be closed via #874

[2016-11-29 19:46] #865 closed

[2016-11-29 19:58] dg-505 commented on #859
* Add a control lock

[2016-11-29 20:19] gilbertohasnofb commented on #859
@dg-505 you can now edit posts as well, and to keep things easier we always edit @onox 's post above instead of writing features in a bunch of messages. But no worries, I edited the first post and added this feature there :+1:

[2016-11-29 21:36] onox opened #884 "Aircraft does not balloon in ground effect"
Some months ago I was trying to fly and land without a yoke (so only trim wheel, rudder, and throttle) using [this video](https://www.youtube.com/watch?v=yqPFfTRn5So). The aircraft does not really strongly balloon in ground effect (see the end of the video when they land).

@Juanvvc @dany93 @tigert Don't know how much it depends on the atmospheric conditions, but should the effect be increased a b

[2016-11-29 21:40] gilbertohasnofb commented on #884
@onox I had seen this video before and I was planning to try the same :smile:

[2016-11-29 21:41] onox commented on #864
@tigert I answered your question in my previous comment. Hopefully that fixes the issue for you. Going to close this issue, but you can always reopen it if you want (or comment if you need permissions for reopening).

[2016-11-29 21:41] #864 closed

[2016-11-29 21:44] onox commented on #884
Flying the approach is very nice, but I just always end up with 1 or 2 broken gears 😅

[2016-11-30 02:18] wlbragg commented on #875
Yes, I planned on resizing the rim.

[2016-11-30 02:27] wlbragg commented on #880
I'm not necessarily suggesting not using @gilbertohasnofb approach. But it would be really cool to have a GUI choice to use IFR training visor/helmet. Wouldn't a visor model placed in front of the pilot view actually be very simple to make and select animate through a GUI choice?
I'll volunteer to make the visor/helmet, or maybe @dg-505 would like to try practice his Blender skills?

[2016-11-30 05:35] dg-505 commented on #880
Having such a visor would be really a unique feature of this aircraft 😆

I can give it a try, but it will take some time because I'm planning to update the titorials next. So Wayne, feel free to start modelling :wink:

[2016-11-30 09:39] gilbertohasnofb commented on #761
A bit off topic but still about tutorials, please check this bug report out: https://forum.flightgear.org/viewtopic.php?f=25&t=31135

Can anyone reproduce it?

[2016-11-30 09:39] gilbertohasnofb commented on #875
@wlbragg :+1: If modelling alone doesn't cut it, then just let me know about what you'd need to be done with the textures, ok?

[2016-11-30 09:49] gilbertohasnofb commented on #880
Well, let me put it this way: a visor is just a tool you use to accomplish the same as I propose. Simulating a visor might seem like the "real" approach, but I think we are missing some important points here. Flying in a sim is definitely not the same as flying in RL. In RL, you are constantly moving your point of view (please check the head movements of this 172 pilot here https://www.youtube.com

[2016-11-30 11:21] gilbertohasnofb commented on #798
@wlbragg Perhaps this could be of some help: https://www.youtube.com/watch?v=UbhiZGCAo0Q

(though I tried it myself and failed miserably, when I open our dev files the layout of Blender is completely different than what is the default... :sob: )

[2016-11-30 11:23] gilbertohasnofb commented on #881
Perhaps adding the cabin cover would be too much and would lead to problems (doors opening for instance), but we could add the two elements from the very first picture: engine cover and the aluminium window sun protector. Those should be fairly easy I suppose.

[2016-11-30 15:46] gilbertohasnofb opened #885 "Display of the ADF timer is broken"
Display of the ADF timer is broken, as reported @vainiovano :

[2016-11-30 16:43] gilbertohasnofb commented on #885
As @vainiovano correctly pointed out, the pausing of the display while the sim is paused is due to the fact that it is controlled by a Nasal script. On line 177, the update function uses the following to update itself:

`settimer( func { me.update() }, 0.1 );`

...but the problem is settimer also pauses when the sim pauses. This behaviour is present in virtually all other things which are controll

[2016-11-30 18:12] dany93 commented on #884
I tried it. Amusing.
With no training, there is a large risk of touching with the nose wheel first, which is of course very bad. And if you succeed at first touch, the rebound gladly does the rest.
Nevertheless, the pitch can be controlled easily enough with the elevator trim. I had a very nice soft touch like that. Hitting 1 and 7 on my keyboard to avoid touching my JS :smile:

Yes, easily. I pre

[2016-11-30 18:16] onox commented on #884
Shouldn't the last value:

[code]

remain 1.0 (after multiplication)? Now it becomes 1.10.

[2016-11-30 18:16] onox commented on #884
Second column I'm talking about.

[2016-11-30 18:18] dany93 commented on #884
Yes, you are right.
It was too easy.
We need to recalculate all the table.

[2016-12-01 13:32] mflas commented on #880
My vote would be to add a view like @gilbertohasnofb proposed. It's what I use for instrument flying in Other Simulators[tm]. Usability wise I really prefer that approach to some kind of foggles / blocking windows. When flying IFR in the simulator, you really need most of the monitor real estate to go to rendering instruments. It's much more important in IFR flying to be able to precisely read eve

[2016-12-01 13:36] algefaen commented on #880
Bah, that was me commenting from the wrong account. (=

[2016-12-01 18:43] wlbragg commented on #880
No insisting here. Continue with your idea @gilbertohasnofb. Maybe down the road if I feel energetic I might attempt to make a visor/helmet as shown in the picture just to see if it would work. "IF" it did, and worked well, it would be a unique accessory.

[2016-12-01 19:01] wlbragg commented on #884
Do we have a set of keyboard commands for trim, may be nice to have to practice the training of landing without use of yoke.

[2016-12-01 19:18] gilbertohasnofb commented on #880
In that case, I will go ahead and implement this soon and then you can think about the visor in the future, is that fine?

[2016-12-01 19:40] wlbragg commented on #884
When starting on final using the Internal Launcher the aircraft starts with engine off. Have we missed something? I used start with engine running and at least it starts the engine but with no forward momentum, thus you start to stall.
I tried this yoke-less landing several times and I get the same results, broken gear. But I am not convinced that with trim applied at the right time you could succ

[2016-12-01 20:13] dg-505 commented on #884
There's `Home`/`Numpad 7` for nose down, and `End`/`Numpad 1` for nose up.

Anyhow, for the Twin Otter I added `F5` and `F6` for aileron trim left/right, and `F7` resp. `F8` for rudder trim left/right

[2016-12-01 20:31] wkitty42 commented on #884
On 12/01/2016 02:40 PM, wlbragg wrote:

this is what the new startup states the sim devs are working on are for... in
our case, if one choses to start in air, the startup state xml or section in the
xml would init everything as needed and have JSBSim up and operational so that
there is proper forward motion with the desired altitude, heading and slope
angles needed... this is something that has ju

[2016-12-01 20:47] wlbragg commented on #884
OK, I guess I didn't realize the "on approach" startup was broken.
See further comments on State support in the C172P #856.

[2016-12-01 20:54] wlbragg commented on #856
Now that state support aircraft side is being improved, there needs to be a dev discussion on whether a GUI launcher state choice can be supported. It might be easier for the aircraft to set a state choice in the launcher, or more accurately, the launcher detecting a state choice in the aircraft parameters or code. With robust state support aircraft side, a simple hook to a predefined method of se

[2016-12-01 21:03] wlbragg commented on #856
For example, aircraft side a simple xml block could set the available state choices for this aircraft in the GUI launcher.

For example,
[code]
It could be limitless, to be decided by the aircraft developer/s.

[2016-12-01 22:04] zakalawe commented on #856
I would prefer it /not/ be limitless, to be honest. The goal of this is to improve the end-user experience. Exposing different *configurations* such as a 180HP engine or Bush wheels is a job for the variant system, with multiple -set.xml files. The state system is for different states of the same aircraft, which the launcher can auto-select based on the user's desired start position.

[2016-12-02 04:26] wlbragg commented on #856
@zakalawe understood, my exuberance got the best of me.

[2016-12-02 14:29] gilbertohasnofb commented on #885
Closed via https://github.com/c172p-team/c172p-detailed/pull/886

[2016-12-02 14:29] #885 closed

[2016-12-02 15:45] dany93 commented on #884
I tried again several times the "without the yoke" landing (and turns with rudder only).
I succeeded about 1 out of 2 or 2 out of 3 times. :grimacing:
Full flaps.
Throttle at idle preferably, but the throttle can be used to control the descent rate if we are short.

Throttle at idle, 1000 to 1500 ft height, starting from elevator trim = 0 gives about 85 kt descent velocity. Using 1 and 7 numeric p

[2016-12-02 16:08] dany93 commented on #884
I have made a spreadsheet to calculate the `Change_in_lift_due_to_ground_effect` table.
Any values (by +10%, +15% increase _from the current table_ at 0 ft height) can be quickly applied.
If someone is curious to try...

I can upload the spreadsheet and give a link, or give one or two calculated tables in this thread.
Putting the numbers in a good shape is longer than calculating the values. Altho

[2016-12-02 23:01] wkitty42 commented on #856
@zakalawe since this craft has multiple configurations but only one -set file how can one select a variant configuration in the --launcher for use with the different states?
are you saying that this craft has to ""revert back"" to multiple -set files for the different configurations for use with the states?
the guys did an awful lot of work to combine and get rid of multiple -set files to make it

[2016-12-02 23:41] zakalawe commented on #856
Well unfortunately combing into a single set file was the wrong thing to do - multiple set files are the supported and correct way to handle configurations. It's entirely normal and recommended to share most of the -set.xml between variants by include a 'common' XML file, most aircraft which have variants do this. No duplication is needed.

Changing configuration at runtime is handled in the same

[2016-12-03 08:43] onox commented on #884
You could put the new tables in a comment here.

[2016-12-03 14:17] dany93 commented on #884
Initial (current) values:
[code]

Max factor (for `h_b-mac-ft = 0`): 1.1
[code]

Max factor (for `h_b-mac-ft = 0`): 1.15
[code]
Max factor (for `h_b-mac-ft = 0`): 1.2
[code]
Max factor (for `h_b-mac-ft = 0`): 1.3
[code]

[2016-12-03 14:43] onox commented on #884
Cool, I'll try some of those tables.

I think the video mentioned 65 kts as the approach speed?

[2016-12-03 15:02] dany93 commented on #884
I don't know for the video.
POH says Airspeed -- 60-70 KIAS (flaps DOWN).
This value of 85 kts that I gave was just an indication as a start at descent with default elevator trim.

[2016-12-03 23:14] HHS81 commented on #876
And this:
[code]

Will lead to this:
![shader](https://cloud.githubusercontent.com/assets/12649375/20862836/55aac67c-b9b6-11e6-960d-12e1be1b209f.jpg)
You can see the subtile reflections on the side of the engine cowling, but not on the door

[2016-12-04 05:50] wlbragg commented on #856
@zakalawe,  looking at the examples in state I need some clarification to proceed.
In approach-overlay.xml you have

[code]
yet in cruise-overlay.xml you have
[code]
Were these two independent examples that you happed to throw in there for reference? I don't get the correlation between the two unless it is really supposed to be
[code]
in each configuration file?

In the <overlay> section I assume

[2016-12-04 09:46] gilbertohasnofb commented on #876
@HHS81 That is absolutely fantastic, Heiko! :open_mouth: This behaviour of the reflections looks incredibly realistic!

@onox

I don't think so

[2016-12-04 14:45] tigert commented on #884
Note that they came in fast, and thats why it floated excessively. Try approaching at 70 ot 75 kts and see how it goes. This (with yoke operational) is the most usual way to break a Skyhawk in landing whrn you bounce and instinctively push yoke when it bounces, resulting in a collapsed gear. So it is not totally unrealistic. I can try to fly it tonight and see how it feels with current fdm.

Also

[2016-12-04 14:46] tigert commented on #884
65 is quite ideal flare speed, then it floats a lot less.

[2016-12-04 14:47] tigert commented on #884
Also check the short field technique on the POH for the no float procedure

[2016-12-04 17:48] onox commented on #876
I have created PR #889 which applies @HHS81's fresnel settings from above. @wlbragg I have removed your commit if you don't mind. From the comments in this thread I got the impression that it didn't correctly use the new fresnel effect.

[2016-12-04 21:28] zakalawe commented on #856
It's two independent examples, both with two names.

And the overlay represents any properties (not just FDM) you want to customise in the state.

--state=climb will activate the state named 'climb'

Note from some discussions with Torsten R and others, I am expecting that simply setting properties will not be sufficient for in-air starts. What I am planning to do, is add a 'simulator-trim' phase

[2016-12-05 00:42] wlbragg commented on #856
OK, I tried that first but it didn't appear to do anything. All I was trying to do was set flaps or anything simple so I could confirm I was activating the state code.

So I should be able to do something like below
[code]
Initialize it like this
--state=approach
and I should start up with the properties listed in the overlay set to those values accordingly?

[2016-12-05 09:18] #880 closed

[2016-12-05 09:37] zakalawe commented on #856
Correct, that should work.

[2016-12-05 15:45] wkitty42 opened #890 "How to bind button to C172p knobs and levers"
dropping this here so that is it not missed...

https://forum.flightgear.org/viewtopic.php?f=24&t=31175

[2016-12-05 17:54] HHS81 opened #891 "Rendering bug with reflect-shader on ponton"
This is because the effect for the pontons inherits from the `bumpspec-fuselage.eff`. This has a normalmap enabled, which makes use of the normalmap `fuselage-normal.png` for the fuselage.

The ponton doesn't have an own normalmap  , nor it is mapped to the normalmap `fuselage-normal.png` of the fuselage.

So the .eff-file can't find it and as resultat we got a strange rendering:
[https://cloud.gi

[2016-12-06 18:31] wlbragg commented on #856
@zakalawe
How does this work with saved aircraft data( /sim/aircraft-data) or does it?
Does this system set the saved state properties prior to /sim/signals/fdm-initialized being true or exactly when does it set the var in the overlay?

I have bypassed any of our nasal code (initialized on /sim/signals/fdm-initialized) affecting any of the saved state parameters I set up, yet I don't see any of th

[2016-12-06 18:34] wlbragg commented on #856
For what it is worth, if I set --state=0 I do get a warning that there is no stage=0 and when I call it correctly (--state=approach) I don't get any feedback so I think I am hitting the switch.

[2016-12-06 18:40] zakalawe commented on #856
It doesn't (yet!) do anything special with /sim/aircraft-data, which is not a part of the code I've ever touched. The overlay (state) properties are set 'really early', before the FDM is inited, so the rest of the code should simply see it as a differet -set.xml.

All this is modulo any bugs that might exist of course!

What might be needed is to make /sim/aircraft-data aware of states, in case pa

[2016-12-06 19:09] wlbragg commented on #856
That is my issue, I have bypassed /sim/aircraft-data from loading and changing any variable.

We save any parameters we want to load at fdminit by pointing to them in the -set file in the xml branch aircraft-data.
[code]
We can then load them after fdminit
[code]
We can catch that and load it when we choose to, so that in not a problem.

We also have a feature to allow a whole slew of saved switch

[2016-12-06 19:09] gilbertohasnofb commented on #890
Hmm, I don't have a joystick any longer to test this, but I would suppose that if the OP can use Nasal to map the buttons, then he should be able to map a button to toggle a certain property. So then it's just up to him/her to get a list of the properties being used for those switches/toggles (one can take a look at `/Models/c172p.xml` to find which properties are mapped to which objects in the co

[2016-12-06 23:50] dany93 commented on #890
Gilberto is right.
 I see:

[code]

[2016-12-07 00:13] wkitty42 commented on #890
ok but i'm not sure how to express this back to the OP on the forums... i don't know how they are doing the mapping... i figured they were using the mapping options in the sim where you can set the buttons to what you want... i don't know... i didn't want them to get discouraged about the craft which is why i posted their message here with the link...

[2016-12-07 08:23] gilbertohasnofb commented on #890
@wkitty42 I don't understand what you are saying.

You can point him to this page, for instance

[2016-12-07 08:23] gilbertohasnofb commented on #890
@wkitty42 I don't understand what you are saying.

You can point him to this page, for instance

Neither do we, but if he is able to use Nasal to assign buttons then what @dany93 and I wrote should be trivial

Why would they get discouraged with our answer? I really can't see what you mean.

[2016-12-07 09:54] dany93 commented on #890
He tried using the sim mapping options (Joystick Configuration)

 but he is looking for more, particular options.

He seems to know how to map a joystick if he has the binding

It is not an issue of nasal or not. Even if someone knows how to write bindings in a JS config file, the most difficult can be to find the bindings (properties, instruction lines) for a particular aircraft. Even worst if he

[2016-12-07 11:30] wkitty42 commented on #890
On 12/07/2016 03:23 AM, Gilberto Agostinho wrote:

thank you... i started to do that and thought of how much an issue to this craft
this really is... but based on your reply and my having some sleep, i will do
exactly that now :)

[2016-12-07 12:33] dany93 commented on #890
Yes, we should have responded directly [in the US forum](https://forum.flightgear.org/viewtopic.php?f=24&t=31175).
I have given the link.

[2016-12-14 17:48] wlbragg commented on #856
After working into this a but farther, I am still unclear about a few things, but I do have a startup condition that starts the aircraft running, with flaps at 1, x-miles out on approach, that when un-paused will almost be on a stable approach. But I doubt that what all I did is the intended method to use.
1) The load() command we use in c172p.nas appears to be executed by default somewhere in the

[2016-12-14 18:12] wlbragg commented on #856
Pushed to state-overlay-test.
Use
--vc=100
--state=approach
in launcher or command line.

[2016-12-14 20:37] onox commented on #856
What would make `/controls/engines/active-engine` a path?

[2016-12-14 21:07] wlbragg commented on #856
It has the same name as a path in the tree, I guess? I think it is a something that wasn't accounted for in the c++ code when parsing the /sim/state/overlay tree
[code]

[2016-12-15 01:26] wlbragg commented on #856
Now I am not so sure where the fault lies in the way active-engine is looked at.
In the property tree it looks like the following
[code]
So it is picking up the stand alone parameter active-engine=value (int) as the second entry in the active-engine array,
ie:
active-engine[0] = path
active-engine[1] = value

Where as we really want active-engine[1] to be active-engine[0] or not part of an array a

[2016-12-15 08:42] zakalawe commented on #856
Wlbragg, thanks for your work on this. I would suggest you take a pause now, because I suspect that once I fix / understand the core aircraft-data issue, we will be able to dispense with the your manual overlay work-around in c172.nas, and I don't want you to waste effort.

[2016-12-15 11:30] onox commented on #856
In the property tree it looks like the following

If I am in the `master` branch and open the property browser, then `/controls/engines/active-engine` is a an int. And there is no `active-engine[1]`. So you're confusing me 😟

[2016-12-15 17:21] wlbragg commented on #856
@zakalawe will do, let us know when thing need to proceed.

@onox

Interesting, then it is more than likely caused by the state overlay code.
But now your confusing me, I don't have a `/controls/engines/active-engine` (int) in master?
Here it is in the state overlay branch (does the same think on the j3cub).
![screenshot - 12152016 - 11 03 06 am](https://cloud.githubusercontent.com/assets/11069680

[2016-12-15 22:36] onox commented on #856
This is what I have:

![fgfs-screen-017](https://cloud.githubusercontent.com/assets/3361585/21244745/47868d16-c31f-11e6-96c4-77a7b9917e6d.png)

[2016-12-17 06:38] wlbragg commented on #856
OK folks, I think I have a much better understanding of this and how to use it. First let me say in the context of this issue we will be using a few standard state flags linked to the launcher predefined agreed upon states. Like approach, parking, etc. We will piggyback on the state that the launcher sets up and adjust our overlays to make the aircraft behave accordingly at startup.
Now with that

[2016-12-17 21:15] wlbragg commented on #856
https://sourceforge.net/p/flightgear/flightgear/ci/next/tree/src/Main/options.cxx#l1602
For reference.

[2016-12-19 01:15] wlbragg commented on #856
Added more states to play around with and test things.
approach, parking, hanger, water and cruise.
Interesting stuff going on behind the scenes though.

Variables using the flags in the QT launcher are either "On final..." or "Parking".
Combining them with their counterparts of -state=parking or --state=approach gives you what you might expect from those combinations.

Now the weird stuff.

QT la

[2016-12-19 01:29] wlbragg commented on #856
Now it is pretty much a waiting game. Waiting for James to dig into the underlying c++ code and making it do what we want.

[2016-12-20 16:54] wlbragg commented on #856
@onox or @gilbertohasnofb

[code]
What is this used for? It's in c172p-set.xml

[2016-12-20 18:01] onox commented on #856
`/sim/model/variant` is defined in the [multiplayer protocol](http://wiki.flightgear.org/Multiplayer_protocol). See a7c2796

[2016-12-20 18:02] onox commented on #856
So to answer your question: so we could use `/sim/multiplay/generic/int[9]` for something else.

[2016-12-22 21:41] wlbragg opened #892 "Create variants for startup options"
Please see the latest version of J3Cub and the way I did the QT launcher variants. You can now start the aircraft in a predefined configuration and still have the flexibility to change the configuration on the fly.
If we choose to do this I would suggest we come up with a list of the best, smallest list to showcase the available configurations and limit the amount of variants.

[2017-01-04 01:28] wlbragg commented on #891
Also see #507

[2017-01-04 02:56] wlbragg opened #894 "Preload damaged model mesh and gear or equipment changes where slow to load."
We talked about adding damage model objects to the main model to speed up model rendering under a damage condition.While experimenting with the same thing in the J3Cub I discovered that this really doesn't help, the first time you see the damage event it still pauses. Also the pause when changing interior to exterior view and equipment changes can be sped up using a technique I discovered.
While i

[2017-01-04 11:13] #507 closed

[2017-01-04 11:13] #891 closed

[2017-01-04 15:45] wlbragg commented on #875
I'm looking at this now. I wonder if we shouldn't eliminate one of the bush wheel sizes? If agreed I would like to get a consensus of what size the only bush wheel should be?

[2017-01-04 15:54] wlbragg commented on #875
I suppose for ease of modification it would be to keep the 36", the ones we use with skis.
It's not a requirement to eliminate a size, actually in the long run it would be more work removing the code than to resize another set of wheel. It's something I have been thinking about for awhile. Maybe users like having the choice of two sizes?

[2017-01-04 18:04] wlbragg commented on #875
36" wheels finished, comments?
![wheels](https://cloud.githubusercontent.com/assets/11069680/21653257/d50c5958-d275-11e6-84f4-c878976b7d7a.jpg)

[2017-01-04 21:58] gilbertohasnofb commented on #875
It's not a requirement to eliminate a size, actually in the long run it would be more work removing the code than to resize another set of wheel. It's something I have been thinking about for awhile. Maybe users like having the choice of two sizes?

I would actually vote for the smaller bush tires, but I would rather keep them both if that would be possible. Are these modifications too much work?

[2017-01-05 04:27] wlbragg commented on #875
OK, not like the tires immediately above, more like the tires in the first image on this page. Although with a different texture it might look closer to the one above.
This is about as good as I can get it. Still need to do 26" and then the damage model wheels for both 26" and 36".
I'm good with keeping both 26" and 36", a little more work, but not really when you take into consideration where all

[2017-01-05 08:52] gilbertohasnofb commented on #875
@wlbragg I think it looks good :+1:

Ok then! :smile:

[2017-01-05 17:02] wlbragg commented on #875
Cool, I actually just noticed something about the images we're using to model these tires. The two Piper pictures immediately above show more of a slick balloon tire where the first image of a "like" aircraft use a meatier, flatter profile, treaded tire, more like what I finally managed to model. So I think we are good to go.
I'll try to get the rest done next week, I'm fighting a time squeeze wit

[2017-01-05 18:55] wlbragg commented on #875
26" are finished. Please check them out and if they are OK I can move onto the damaged models for both 26 and 36 wheels.
![bush26a](https://cloud.githubusercontent.com/assets/11069680/21693270/e62eb674-d345-11e6-8a7e-2898fee24bfc.jpg)
![bush26b](https://cloud.githubusercontent.com/assets/11069680/21693271/e6341420-d345-11e6-8cd1-4a6bdeafb0f9.jpg)

[2017-01-05 19:00] gilbertohasnofb commented on #875
@wlbragg Looking really good!

[2017-01-05 21:14] onox commented on #875
Looks better 👍 Could the color made a bit darker perhaps? The tires have always been a bit too grey. If I use the color picker in gimp I get something like 33, 46, 43 (RGB) instead of 20, 20, 20 for the photo's in https://github.com/c172p-team/c172p-detailed/issues/875#issuecomment-263592576

[2017-01-05 21:15] gilbertohasnofb commented on #875
Sure, I can correct that in the same branch (@wlbragg did you push your working branch yet?). But that will also affect all other tires, of course.

[2017-01-05 21:19] onox commented on #875
@wlbragg Not sure if there's a need for it, but do you think it would be nice to add bump mapping to the tires like the p51d does it?

[2017-01-05 21:33] onox commented on #875
You'll get something like this:

Enabled:
![fgfs-screen-019](https://cloud.githubusercontent.com/assets/3361585/21698362/e7f7cddc-d396-11e6-80e4-f8957464884b.png)
Disabled:
![fgfs-screen-020](https://cloud.githubusercontent.com/assets/3361585/21698363/e7fab146-d396-11e6-8fed-dd15d7de2d9e.png)

[2017-01-05 22:21] wlbragg commented on #875
Yes, I pushes the damage blend. It uses the same texture as the main blend fuselage.png I think it is.

Yes, we already do, or did, but it will need to be checked (I forgot about it).
![fuselage-normal](https://cloud.githubusercontent.com/assets/11069680/21699791/f26f74e2-d362-11e6-8618-e373c58fd2c5.png)

[2017-01-05 22:24] wlbragg commented on #875
If we darken them maybe we could also add some lighting and reflection.

[2017-01-05 22:32] wlbragg commented on #875
Branch https://github.com/c172p-team/c172p-detailed/tree/bug-875

[2017-01-05 22:50] gilbertohasnofb commented on #875
@wlbragg Ok, so I will try to darken the texture a bit. I am travelling now but once I am back home on Sunday I will take a look at it.

[2017-01-05 22:50] gilbertohasnofb commented on #875
do you mean on hardcoded on the textures or as some sort of effect? If the former, then I can do that as well

[2017-01-05 22:52] wlbragg commented on #875
No, I meant effects, not the texture itself.

[2017-01-06 11:20] wlbragg commented on #875
It's already applies through bumpspec.eff. Maybe I need to look at the lighting settings in blender after you darken the texture.

[2017-01-06 16:46] onox opened #895 "3D model optimizations"
I've been reading the mailing list a bit, and it seems we should apply some optimizations.

1. We can start with #592. So you get something like this:

    ![fgfs-wings](https://cloud.githubusercontent.com/assets/3361585/21724858/3f94d63a-d436-11e6-823d-f6b3c4616245.png)

   All the objects can be in the same `c172p.blend` file and same textures can be used.

    I can do all the XML stuff in `Mod

[2017-01-06 16:53] onox commented on #894
@wlbragg See #895

[2017-01-06 22:55] gilbertohasnofb commented on #895
About 2., I am all for it but I am just a bit afraid of doing this now and later having to rework these textures because of model changes. I would much rather wait for the main issues involving 3D model to be solved before attacking this, as there is potential of UV map changes. @wlbragg what do you think?

Yeah, I think Rembrandt is a dead horse but it seems that a large group of people still use

[2017-01-07 00:02] onox commented on #895
For us it would not mean much; we can just drop a little bit of code. Currently we don't really support Rembrandt anyway. It's mostly the fact that having 3 render engines in FG and tons of effect files and shaders make it easy for aircraft developers to make mistakes (using a wrong effect for particular object for example). FG should really make a decision, clean things up, and focus on one engin

[2017-01-07 05:08] wlbragg commented on #895
Yeah, you make a good point. @gilbertohasnofb refresh my memory on the model issues we need to correct, maybe I can tackle all of this together at the same time.

[2017-01-07 08:27] gilbertohasnofb commented on #895
@onox :+1: about Rembrandt

Quite a lot, I believe. Not only in size, but also in shape. Deforming a 182 into a 172 wouldn't be a practical way of going through things I think.

@wlbragg

It's mainly the nose of the aircraft and the wings. Basically we need thicker wings, reshape the nose a bit and raise the cockpit. These are perhaps all of them, and they of course vary in degree of relevance (an

[2017-01-08 14:00] HHS81 commented on #895
@onox

That's no good idea, because one side will be the mirror of the other side. (mirroed texts, numbers, liveries etc....

A very lot!

[2017-01-08 15:17] onox commented on #895
Obviously it only applies where you don't have numbers or asymmetrical liveries.

I'm just highlighting a possible technique to reduce the amount of space on a texture that is wasted.

[2017-01-08 15:27] HHS81 commented on #895
@onox  But that's what we have with the fuselage. And this technique doesn't apply to objects who needs different lightmaps.

[2017-01-10 04:01] wlbragg opened #896 "Add condition to "sound" logic to eliminate sound during loading."
I asked this question on the dev list and have a possible way to eliminate the really harsh sounds from firing during the loading screen.
I tried some of it on the J3Cub and it appears to work OK except I don't like what I had to do to the "in-transit" mode sounds (i.e. flaps) and the wind (non-conditional sound).

For the looped sounds with conditionals it was relatively easy
[code]

For flaps th

[2017-01-10 04:06] wlbragg commented on #896
There is also a sound/enalble-disable property (I can't remember the exact property), but it appeared to not be active until after fdm_init and that was too late.

[2017-01-10 10:13] gilbertohasnofb commented on #875
Ok all, so I modified the textures of the tires to make them look darker and I pushed it to branch `bug-875`, so @wlbragg please do a `git pull` before continuing. here is how it's looking now:

![fg-3](https://cloud.githubusercontent.com/assets/5700795/21802178/f3d27896-d724-11e6-990c-087a8b504e0f.jpg)

I think this is much better.

And by the way, @wlbragg, I noticed that the UV map of the bush

[2017-01-10 10:16] gilbertohasnofb commented on #896
I don't like those sounds in the loading screen either, for instance the sound of the door banging or the flap sounds, but I think this is something that should be done by the devs directly in the FG code and not be up to aircraft developers to hack their way around the issues in the sim. Well, that's my 2 cents.

[2017-01-10 11:58] wkitty42 commented on #896
On 01/10/2017 05:16 AM, Gilberto Agostinho wrote:

i agree completely... these sounds come during the sim and FDM start up
sequence... likely when the craft is dropped onto the terrain surface from
whatever height the sim starts it at... you should hear the 777 and/or 757 when
they hit the terrain and their tires screech ;)

so anyway, yeah, i agree that the devs need to turn off the sounds and on

[2017-01-10 13:00] onox commented on #896
I agree it should be fixed in FG.

[2017-01-10 13:04] zakalawe commented on #896
I think myself or Erik could look at fixing this in the main code, could you detail what the switching criteria might be? I.e what's the earliest time sounds should be played? During Nasal init maybe?

It would probably be useful to have a discussion on the developer list to check other aircraft developers agree.

[2017-01-10 13:06] gilbertohasnofb commented on #896
@zakalawe What about ignoring any sound events that happen while the loading screen is still being shown?

[2017-01-10 14:55] wlbragg commented on #896
I posted this on the dev list, hopefully it can be taken care of in the main code. Thanks James!

[2017-01-10 15:00] wlbragg commented on #894
We should probably close this and go with the optimization ideas, hopefully they will be enough to speed things up. This could remain a fall-back for damage models if they still lag upon loading.
FYI: in the J3Cub this did seem effective in speeding of everything, except livery change over. Maybe a more limited use could be tolerable.

[2017-01-10 15:08] wlbragg commented on #875
@gilbertohasnofb you are showing the old bush tires, not the new ones? So does that apply after changing to the new bush tires?
I'm not sure I am following the issue.
I see that the yellow is no longer uniform around the entire rim, is that what your looking at?
But it is with rims and tires that are no longer being used, so does it still do that with the new bush tires?

[2017-01-10 15:19] gilbertohasnofb commented on #875
Oh, I am so sorry for the confusion! It seems my first tests were done in the master branch, and only later I went to `bug-875`. Please ignore it as everything I wrote about it above, as it is looking perfect now:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/21811591/8626d8b0-d750-11e6-877e-9ddf270f9f65.png)

So if you think the tire colour (not the pink, but the black on

[2017-01-10 16:05] wlbragg commented on #875
Yes, I think we're good. Now I need to do the damage models.

@onox, you think I should go ahead and bring the damage gear models over to the main blend/.ac. I question doing this as my testing clearly shows and was somewhat verified that the act of switching views, interior to exterior, or forward view to side view (down the wing), or undamaged to damaged, is what is causing the delay. Supposedly

[2017-01-10 21:42] onox commented on #875
What causes the delay when you damage your gear? Is it the loading of the .ac file (`Models/Effects/damage/c172p-damage.ac`)? Or the textures? The .ac file uses the same .png files as the main `c172p.ac` file: `fuselage.png`, `lights.png`, and `wing.png`. So texture change should not be it?

[2017-01-10 21:56] onox commented on #875
@wlbragg `c172p-damage.ac` also contains the many damaged/broken wings. Maybe we should start with #592 by forgetting about the damaged/broken wings, splitting up the regular wing into 3 parts, and then make damaged variants of the outer parts?

[2017-01-10 22:02] onox commented on #875
@gilbertohasnofb I noticed btw that ground equipment cannot be hidden after you have enabled them. Can you reproduce it?

[2017-01-10 22:10] gilbertohasnofb commented on #875
No I can't, I can toggle them on and off, no problems. Are there any more steps to reproduce this?

[2017-01-10 22:12] onox commented on #875
No

[2017-01-10 22:13] onox commented on #875
I just open ground equipment and enable something. When I try to disable it, the object remains visible.

[2017-01-10 22:13] gilbertohasnofb commented on #875
Hmm, I see no problems here using the ground equipment dialog to enable/disable them. Can anyone else try to reproduce this? @wlbragg ?

[2017-01-10 22:27] onox commented on #895
About point 3: we can drop `LandingLightCone`, `TaxiLightCone`, `navlight_left`, `navlight_right`, `ZHI_cent`, `landinglight` (replace it with ALS procedural light), `taxilight` (replace it with ALS procedural light).

`Exhaust` should be made single sided (uncheck Double Sided on the Data tab in Blender), add an inner layer (enable Backface Culling under Shading (press n key).

`PitotTube` should

[2017-01-10 22:57] wlbragg commented on #875
I get the same thing as @onox, once I enable something in ground equipment I can't disable it. I am in bug-875

[2017-01-10 23:10] wlbragg commented on #875
According to everything I have seen, heard and tested it is the loading of the texture. Emilian suggested it is the texture that unloads and loads on demand and is causing all the delay. The .ac mesh is loaded using the model/path statement regardless of a conditional call. I think I can verify that in the Shuttle, J3Cub and the c172p. It is the texture. But, even that isn't straight forward. In t

[2017-01-10 23:15] wlbragg commented on #875
From my testing with the pre-loading, putting the .ac's together doesn't change anything, unless possibly the texture sheet loading would be handled differently in that case. Or unless I had other variables I didn't account for or take into consideration. I guess we need to test that with a few controlled tests.

[2017-01-12 18:30] wlbragg commented on #896
Taken care of in the source code, yeah. Thanks James!

[2017-01-12 18:30] #896 closed

[2017-01-12 18:55] gilbertohasnofb commented on #896
Thank you all for bringing this up and fixing it :+1:

[2017-01-15 21:05] algefaen opened #897 "Real aircraft feedback"
Hi! This is not a bug report, more a place to gather feedback from real c172 flying.

Last summer I said I would get access to our club's c172p and do some investigation for this project. Unfortunately Shit Happened[tm] and I didn't get my PPL done before the club had already sold their c172p. We still have a c172n and a c172sp G1000 though - both of which I intend to fly a lot this spring.

I had

[2017-01-15 21:13] algefaen commented on #846
In my cockpit video (last video of https://goo.gl/photos/pqfDvnnNjDW7Vff29) you can hear an electric gyro starting at 4:40 and being shut off at the end of the video. (I'm like 99% sure it's a gyro.) (:

The sound is pretty quiet compared to avionics fans - our c172sp has two fans, and they are a lot louder.

[2017-01-15 21:30] gilbertohasnofb commented on #846
@algefaen Thanks a lot for the material, this is a great! I will take a look at the sounds later

[2017-01-15 23:54] wlbragg commented on #897
Really nice, good stuff, thank you!

[2017-01-19 22:59] tigert commented on #897
Yeah,  This is exactly why it's so awesome to have an open source flight simulator project. Because of folks like us. Different backgrounds and ideas working together. Happy to have you around :-) Welcome!

The OH-CTL livery and some interior stuff has its reference on our club's Cessna 172M. Some pics of the real thing: http://mik.1g.fi/kuvat/Kerhon+kalusto/OH-CTL/ - and the float version is not

[2017-01-21 18:00] wlbragg commented on #895
This needs to be verified. I remember setting the glass up like it is because it was the only way we could get all the effects we have and also see exterior rain (falling rain). I don't remember all the nuance, but I do remember butting heads with it.

Yes, any surface that we may ever want to apply a lightmap to needs to be in its own uv space.

[2017-01-25 13:42] gilbertohasnofb commented on #761
@onox wrote:

I think we forgot to do that, so I am closing this now. Also, there is a conversation going on in the dev-list about these airport changes, it seems a lot of people lost enthusiasm with it.

[2017-01-25 13:42] #761 closed

[2017-01-25 20:00] wkitty42 commented on #761
On 01/25/2017 08:42 AM, Gilberto Agostinho wrote:

the main complaint, such as it is, is mainly like "i'm working on this airport
over here instead of one of those presented because i want to present this one
in one of the next polls."

maybe they could do a once a year, airport change in the YYYY.1 release and then
keep it there until the next YYYY.1 release... i'll suggest this on the list...

[2017-01-26 09:09] gilbertohasnofb commented on #761
I honestly don't see the point of changing the default airport, be it every 3 months, be it every 3 years.

I know a lot of people think like this but I don't get this argument, who uses the default airport anyway? I personally guess that most people select where they want to fly as oppose to simply letting the sim take them for a single location. Also, developing an airport which is not a default

[2017-01-26 12:41] wkitty42 commented on #761
On 01/26/2017 04:09 AM, Gilberto Agostinho wrote:

i do, for one... especially when testing stuff in the sim... i'm always popping
in at KSFO since it was the default forever... then i check the same stuff again
by starting in each of the new default airports we've had...

i can understand that... now, to play devil's advocate and use your argument...

[devil's advocate]

i don't get this argument

[2017-01-26 12:51] gilbertohasnofb commented on #761
But if it's for testing then why does it matter if you are in SF or Barcelona or Tokyo?

That's not correct. First of all, you can download it from a second computer (e.g. at your work, university, friend's or family houses, in a cyber cafe, etc.). You can also buy FlightGear from the [official store](http://store.flightgear.org/) and have it delivered home, if your internet is too slow to downloa

[2017-01-27 11:36] wkitty42 commented on #761
On 01/26/2017 07:51 AM, Gilberto Agostinho wrote:

because some problems can show in some places and not others... consider flying
around paris, france, compared to san francisco... or atlanta compared to
dallas-ft. worth...

i'm not gonna argue this... this isn't even the proper venue for it ;)

[2017-01-27 12:08] gilbertohasnofb commented on #761
But then how rotating a default airport every 3 months would help? To truly troubleshoot something that may be related to location, you must select a different one while testing. If a problem appears in 2016.4 but not in 2016.3, it could be because of the different default airport, but much more likely it will be for one of the many other differences between these versions.

Fine by me :+1:

[2017-01-27 20:23] wlbragg commented on #761
I wish we had someone that would commit to changing the location of the tutorial every cycle. Is it really that hard code wise or is there considerable text that needs to be re-worded? If I knew this "new airport" cycling was going to stay consistent and continue on infinitum, i would consider taking a closer look at the tutorials and figuring out a way to automate as much of the changes as possib

[2017-01-27 20:26] wlbragg commented on #761
Also, as long as we continue to change the default airports, it is important to make the flagship tutorials match that airport.

[2017-01-27 21:46] gilbertohasnofb commented on #761
I don't know exactly how much, @dg-505 would you care to give your opinion since you have been handling those?

Yeah, that would be a solution, but a) so far no one volunteered to that and b) IMO the project would be better if this person would work on some of the issues or implement new features

By the way, Stuart just wrote in the list:

Now that would be an ideal solution in order to keep the

[2017-01-28 11:32] gilbertohasnofb commented on #761
Maybe I am misunderstanding something, but the tile would _not_ be shipped with the aircraft, it would be included in FGDATA. That is, FG would have two "default" sceneries: a _de facto_ default which rotates every three months and gives the name to the release, and a fixed one (Barcelona looks great!) which can be used for anything that needs a fixed scenery, such as the tutorials.

[2017-01-28 11:49] dg-505 commented on #761
Sounds great :+1:

[2017-01-30 20:46] gilbertohasnofb commented on #761
@dg-505 do you happen to know what is the size of the Barcelona tile? The discussion seems to have died in the dev-list, so I was thinking that if the tile is not particularly large it could be used as one more argument as to add it in addition to the default airport tile which will keep rotating at each version.

[2017-02-08 20:56] wlbragg commented on #851
I have a question regarding the oil system and rather than add a new issue I figured I could just ask here.

I noticed a comment in the code

Does the c172p have a "low oil" kill switch? I'd be really surprised if that were true. If not, why would low oil cause the engine to cough? Typically an engine wouldn't do anything from low oil except over heat and then eventually seize up. This probably wo

[2017-02-09 13:33] gilbertohasnofb commented on #851
Yes, see `/Systems/engine.xml`. The value is set to `4.92`. It also has a "cough switch" in the same file, for when the oil is just above `4.92` (or when the fuel is contaminated).

According to the POH. the critical oil level for both types of engine is 5 quarts, which is why I used the value I mentioned above.

So you are saying an engine about to expire due to low oil would not cough? Should we

[2017-02-09 19:24] wlbragg commented on #851
I have an electrical generator that has a built in low oil kill switch. When the oil gets below a certain level the engine ignition is actually shut off. There is a float in the crankcase that controls this action. That is what I meant by a "kill switch". It is a physical switch inside the crankcase. So if the c172p actually has this device then a sputtering could be a symptom of the oil dropping

[2017-02-09 20:49] gilbertohasnofb commented on #851
@wlbragg from the other thread:

I read it as "minimum oil quantity for safe operation of the engine", i.e. anything lower and you might need to buy a new engine for your aircraft. But as I said, the 172's POH state on page 4-6 "do not operate with less than five quarts. Fill to seven quarts for extended flight".

I see now, we have been speaking about two different things. I meant that we have a

[2017-02-09 21:13] wlbragg commented on #851
That is kind of what I figured.

OK, so if the engine oil drops to the level where the engine fails it is usually very abrupt. I actually had this happen on a small engine this past year. It leaked all it's oil out before I realized it and got so hot it virtually seized up, suddenly. I really can't say with any certainty if there was any noticeable change in rpm before that happened. But I can't i

[2017-02-09 21:27] gilbertohasnofb commented on #851
:+1: I will work on it

I think a filter could do the trick, I will see if I manage to code this. Or do you have some ideas on how to implement it?

[2017-02-09 21:43] wlbragg commented on #851
Nope, go for it, I just want to steal it for the Cub when it's finished. :rofl:

[2017-02-09 21:46] gilbertohasnofb commented on #851
:laughing: :+1:

[2017-02-10 00:18] gilbertohasnofb commented on #851
@wlbragg sorry for the mess but I worked on the oil in the same branch as the carb icing, this is because all these engine functions are related so it's way easier for me to keep track of what is going on

[2017-02-10 05:34] #894 closed

[2017-02-12 22:26] kentrosaur opened #899 "Magnetos switch to both when toggling walker outside"
1.) start up fgfs with c172p, start going through checklists note magnetos are set to off
2.) toggle walker ouside ( complete exterior checklist if desired )
3.) toggle walker inside, note magnetos are now set to both

This is bad, as if you perturb the prop on exterior check, the engine may start.  I'm not sure if it's the re-entry or exit which changes the magneto state.

[2017-02-12 22:34] kentrosaur opened #900 "radios still receive asos when avionics are switched off"
1.) start c172p
2.) turn on master and avionics
3.) tune com1 or com2 to local ASOS station and toggle com1/2 to headset or speaker
4.) listen to metar
5.) turn off avionics, metar continues to broadcast
6.) turn off master, continue to hear broadcast

Variation, test nav1/2:
1 + 2 above, 3.) set nav1 or 2 to a nearby beacon.  4) hear morse code  repeat 5 but note that the morse code is not on the

[2017-02-12 23:00] gilbertohasnofb commented on #899
@kentrosaur verified, nice catch. To anyone trying to reproduce and solve this issue, it has one caveat: just having magentos off and toggling the walker via the menu does not cause the problem to appear; neither does going through the pre-flight checklist and toggling the walker via the checklist itself. The only way I could reproduce it is by going through the pre-flight checklist, then when rea

[2017-02-12 23:01] gilbertohasnofb commented on #900
@kentrosaur is this a c172p specific issue or do you see it in other aircraft as well (i.e. a general FG bug)?

[2017-02-12 23:21] gilbertohasnofb commented on #900
@kentrosaur reproduced. Actually, ignore the previous question, this is clearly an issue with the radio itself. Apparently those toggles are not checking if electricity is reaching the radio (if avionics are on, if master is on, if circuit breakers are in place, etc.).

Actually, the radio has a lot of other issues. For instance, when you toggle COM1/2 to off from headset or speaker, you can see t

[2017-02-13 19:16] gilbertohasnofb commented on #859
@onox I totally forgot about the date of the new release; Torsten just wrote in the dev list:

Should we contact Stuart as soon as possible for a merge? If so, let's try to solve that carb icing PR as fast as we can, as I would be happy to have that merged in the `master`

[2017-02-13 20:13] onox commented on #859
Yeah, we should merge soon.

[2017-02-13 20:18] gilbertohasnofb commented on #859
@onox I just wrote Stuart a message, let's hope he can merge a release before Friday.

[2017-02-13 20:30] onox commented on #859
Argh, I meant to say we should create a release soon.

[2017-02-13 20:52] gilbertohasnofb commented on #859
@onox we can try to merge those PRs still today and then prepare the release. So that when Stuart replies, we will already have everything ready

[2017-02-13 23:46] gilbertohasnofb commented on #859
I updated the list with the new carburettor stuff; if you guys do merge https://github.com/c172p-team/c172p-detailed/pull/889 please do not forget to update the list above

[2017-02-14 00:11] gilbertohasnofb commented on #587
@dg-505 when you would have a chance, would you like to update the checklist as well as the pre-flight tutorial as to include the yoke control lock? Right now, the checklist has the item for the control lock, but it is not clickeable:

![fgfs-screen-001](https://cloud.githubusercontent.com/assets/5700795/22909058/20070cf4-f252-11e6-8e8b-d9b527a98589.png)

The tutorial also skips over it. If you ta

[2017-02-14 05:27] dg-505 commented on #587
Yes, I will do that today evening. And if there's still time left after that I will work on the other tutorial steps that we've talked about.

[2017-02-14 10:47] gilbertohasnofb commented on #587
@dg-505 Great, thanks a lot! I should be online during most of the day, so just let me know if you need some help (with testing, for instance)

[2017-02-14 12:01] gilbertohasnofb opened #902 "Review fuel contamination system"
It seems that the fuel contamination system has stopped to work and this needs to be investigated. E.g.: if you manually set the property `/consumables/fuel/tank[0]/water-contamination` to a value > `0.0` then open the fuel sump GUI dialog under the window and take a sample, that property is reset to `0.0` and the sample will be blue (i.e. no water contamination).

[2017-02-14 12:52] gilbertohasnofb commented on #902
Ok, I figured out what is going on. Basically the gui dialog shows the amount of water _in the tank_ rather than the amount of water _in the sample taken_. I am improving the system and will push it soon.

[2017-02-14 14:52] #902 closed

[2017-02-14 14:52] #875 closed

[2017-02-14 16:50] dg-505 commented on #587
I'm home, so let's go!
Here's what I have to do:
1. Control lock (checklist and tutorial) --> high priority!
2. Flight surface checks (checklist and tutorial)
3. Fuel capacity and contamination checks (tutorial), like you suggested:

Was that all or did I forget something? :wink:

[2017-02-14 16:53] gilbertohasnofb commented on #587
@dg-505 I think that's basically it, in particular the numbers 1 to 3. The "faking" of the walker climbing would be neat but if you find some difficulties implementing it then I would suggest not worrying about it at this time and having a look at it at some other time after the release.

I should be around the whole day so just let me know if I can help with anything.

[2017-02-14 17:57] dg-505 commented on #587
[New branch](https://github.com/c172p-team/c172p-detailed/tree/bug-587-preflight-tutorial) and [pull request](https://github.com/c172p-team/c172p-detailed/pull/905) created! :grin:

[2017-02-14 17:58] gilbertohasnofb commented on #587
Great! I will take a look at it now :smile:

[2017-02-15 16:14] gilbertohasnofb commented on #859
@onox I think we need to prepare the release. The only thing missing is the checklists https://github.com/c172p-team/c172p-detailed/pull/905 but I am not sure @dg-505 is around today. So we have three options: 1) if he is around he could try to finish that as soon as possible, 2) if he is not around then we can either create the release without that PR or 3) merge it and then he can work on those

[2017-02-15 17:55] dg-505 commented on #859
Well, because of missing time today I'm just "read-only"...
So my suggestion is to merge the PR if there is nothing terribly wrong.

[2017-02-15 18:34] gilbertohasnofb commented on #859
:+1: I might take a look at it myself and add a commit or two there, let me see here, else I will just merge it and we speak about it some other time

[2017-02-15 19:23] gilbertohasnofb commented on #859
@dg-505 actually I am lacking a bit of time today, so I will just merge your PR and we can work on those improvements on a later date. I will open an issue for them.

[2017-02-15 19:27] gilbertohasnofb opened #906 "Improvements to the tutorials and checklists"
Work on several improvements to the tutorials and checklists:

- all the securing elements can be forced even if "securing aircraft" is false, which is a bit messy (e.g. if your "securing aircraft" is false, you can still add a pitot tube cover via the checklist but then can't remove it by clicking on it. similar stuff for tie-downs, chocks, etc). So better is to deactivated the [>] buttons if tha

[2017-02-15 19:28] gilbertohasnofb commented on #906
@dg-505 we also have this opened https://github.com/c172p-team/c172p-detailed/issues/587 and the only item left is to incorporate the static objects, then we can close that issue

[2017-02-15 19:32] gilbertohasnofb commented on #859
My mistake, Stuart wrote that he is able to do it until 2200 GMT _tomorrow_ evening... sorry guys. Anyway tomorrow I am travelling the whole day and I won't be back home before that time, so @onox could you please communicate with Stuart about the release? You should have received a copy of the e-mail I wrote him on the 13 February.

[2017-02-15 19:33] onox commented on #859
I've received the e-mail you've send to him.

[2017-02-15 19:34] gilbertohasnofb commented on #859
Did you not get his reply? It looks to me he included you and @wlbragg in that e-mail as well. Anyway, just saying that if  we get this release done only tomorrow then I won't be around to help, that's all.

[2017-02-15 19:35] onox commented on #859
Yes, I meant I got the whole conversation.

[2017-02-15 19:36] onox commented on #859
I'll merge the remaining PR as well. Don't see any changes to the reflection shader in fgdata.

[2017-02-15 19:38] gilbertohasnofb commented on #859
Sounds good to me.

[2017-02-15 19:39] gilbertohasnofb commented on #859
Don't forget to add it to this list here

[2017-02-15 19:39] onox commented on #859
I will.

[2017-02-15 20:00] onox commented on #900
@kentrosaur Could you test branch `bug-900`? Comm 0/1, DME, and transponder should now be serviceable depending on electrical output.

[2017-02-15 20:09] onox commented on #587
@gilbertohasnofb @dg-505 Can this issue be closed? The corresponding PR has been merged.

@dg-505 If you add "Fixes #<number>" in the description of a PR then Github will link the PR to that issue, closing it automatically when the PR gets merged.

[2017-02-15 20:10] gilbertohasnofb commented on #587
@onox there are still some stuff left to be done with the tutorials and checklists, but I created a new https://github.com/c172p-team/c172p-detailed/issues/906 for those specific issues, so this here can be closed

[2017-02-15 20:10] #587 closed

[2017-02-15 20:11] gilbertohasnofb commented on #587
Closed via https://github.com/c172p-team/c172p-detailed/pull/905

[2017-02-15 20:11] #876 closed

[2017-02-15 20:13] onox commented on #872
Corresponding PR was merged. Closing issue.

[2017-02-15 20:13] #872 closed

[2017-02-16 18:47] #900 closed

[2017-02-16 19:04] onox commented on #859
Version 2017.1 has been released. Branch [`release/2017.1`](https://github.com/c172p-team/c172p-detailed/tree/release/2017.1) has been created.

[2017-02-16 19:05] #859 closed

[2017-02-16 19:06] onox opened #908 "Gather a list of features and bugs we fixed in 2018.1"
We should gather a list of all the new features, major changes, and bugs we fixed. Please create a list (use \* to create bullet points) here.

* New images for the new splash screen and thumbnails system
* FDM improvements:
    - Fixed deflection angles of ailerons and roll moment due to ailerons
    - Added spiraling propwash effect (requiring right rudder at full throttle, low airspeed)
    - M

[2017-02-16 22:53] gilbertohasnofb commented on #859
@onox Great, thanks a lot for handling everything :tada: Has Stuart been notified about the release?

[2017-02-16 22:54] gilbertohasnofb commented on #859
It's also great to see so many improvements made in this release, thank you all for all the hard work :smile:

[2017-02-16 23:38] kentrosaur commented on #900
Just got a chance to check this and it works, thanks!

[2017-02-17 00:19] onox commented on #859
I've notified him via e-mail. Doesn't he have a Github account? Thank *you* and @wlbragg 😄

[2017-02-17 00:26] onox commented on #900
Good to hear 👍

[2017-02-17 10:53] gilbertohasnofb commented on #859
I don't know, perhaps we should ask him.

[2017-02-17 11:09] gilbertohasnofb opened #909 "Engine possibly too powerful"
Stuart wrote in a private e-mail about a potential bug with the aircraft's engine:

I can confirm I can reproduce these, and actually this bug does not involve the autopilot at all: simply take off with fair weather at full throttle and manually hold a climb rate of around 500 fpm and the speed will increase _very_ fast.

[2017-02-17 11:12] gilbertohasnofb commented on #909
@dany93 could you help me figuring out what is going on?

[2017-02-17 11:18] dg-505 commented on #909
What's the weight of the aircraft when you see these values? I think that would be important to know. At the same climb rate and with the same engine, having no pax and low fuel will of course result in a faster airspeed than climbing at MTOM... :wink:
Also: how do different weights effect the airspeed at a certain climb rate?

[2017-02-17 11:35] gilbertohasnofb commented on #909
- full tank + pilot only = ~140 kts @ 500 fpm
- full tank + pilot + 3 pax (max weight) = ~130 kts @ 500 fpm

I agree with Stuart, these figures do look very high

[2017-02-17 14:27] Juanvvc commented on #909
If a remember correctly, in real life, hot day, sea level, full tank, 3 pax... the C172 can't climb @ 500 fpm with a speed of 140 knots.

If have checked the procedures we used in our aircraft to take-off. Full throttle, flaps 0, rotation 60KIAS, first climbing 70KIAS. After 500AGL, continue climbing at 80 KIAS. This usually involved setting the throttle to ~80% above 500AGL.  In our airport (LERS

[2017-02-17 16:08] dany93 commented on #909
**POH** C172p 1982, 160 hp: (p. 92 - 93 - 94 /357 PDF)
2400 lbs
POH Rate of climb is about **600 - 700 fpm** at **75 - 76 KIAS**, between SL and 2000 ft.

**My tests**: (2400 lbs,, flaps 0, between SL and about 3000 ft))

1 - Full throttle
124 KIAS, 750 fpm but at **3055 RM** Engine. Over-regime.
(3200 RPM from Stuart still worst)
76 KIAS : 620 - 850 fpm at 2800 - 2900 RPM. Still over-regime, but

[2017-02-17 19:59] gilbertohasnofb commented on #909
@dany93 does the PR sate at which RPM are those values?

[2017-02-17 21:54] wlbragg opened #910 "Fog or frost potentially not working"
Could someone else verify this. I can't seem to get any fog or frost to generate. Maybe a hint as to a good METAR might help?

[2017-02-17 22:57] stuartbuchanan commented on #909
Hi Guys,

I'd expect that the POH rate of climb is done at full throttle.

Certainly IRL my climbs are all done at full throttle, and I'd expect that Cessna would list the best possible climb rate in their POH, which would be at full throttle.

I haven't run a test yet, but it might be interesting to run a test at full throttle and straight-and-level flight.  In my experience, you shouldn't be abl

[2017-02-18 07:55] wlbragg commented on #910
Here is where I am at so far. I added this system to the Cub and that didn't appear to work. . I wanted to make sure it was the Cub implementation and not something else. So I tested the C172P system and I also couldn't generate fog or ice. I went bake to the Cub and was working on stuff while flying for over an hour with the window open and a temp of around -4 C. Eventually I did develop frost, s

[2017-02-18 08:13] wlbragg commented on #910
Well this is strange, suddenly it appears that I am now getting fog and frost, and enough of both I don't think the cabin heat can keep up (this is in the Cub). So I guess this is working. I have to quit for the night, I would still really like to test the c172p tomorrow and make sure it is working before closing. In the meantime, any tips on setting up the environment to facilitate testing this s

[2017-02-18 09:27] onox commented on #910
If you're flying with open windows, it's hard to get warm air in the cabin. For fog you need cold windshield + warm air IIRC.

[2017-02-18 09:39] onox commented on #910
You need to look at `/fdm/jsbsim/heat/surface-dewpoint-diff` (which is equal to `/fdm/jsbsim/heat/cabin-dewpoint-degc` - `/fdm/jsbsim/heat/surface-temp-degc`). It needs to be positive for fog to develop.

[2017-02-18 09:55] onox commented on #910
Relative humidity is also important. Go to a place where it's humid, not necessarily cold. Add some pax to add additional humidity.

[2017-02-18 15:40] dany93 commented on #909
@gilbertohasnofb wrote:

No. For the rate of climb, just "Full Throttle".

But @Juanvvc wrote:

@stuartbuchanan wrote:

Your opinion @Juanvvc ?

And the (fixed) propeller pitch is a choice, compromise between high climb rate and high cruise velocity. Not necessarily the same for every aircraft.

Notice that the cruise values are in accordance with those from the POH.

Also, I think that these valu

[2017-02-18 15:46] wlbragg commented on #910
There is one area I am concerned with. It relates to the warning to turn the heat down to reduce the fogging. I get the principle that adding "moist" heat into the cockpit increases the temperature diff between the inside and the outside. The only issue I have is in the case of a vent and heat being blown out the vent close to or on the surface of the window. That is how we remove fogging in a veh

[2017-02-18 16:15] wlbragg commented on #910
The heating of the glass reduces the ability of condensation to form. For condensation you need moist air and cold surfaces. So when introducing hot air into the cabin there would be a tug-a-war between temperature gradient between air and glass (fogging) and the rate at which the glass heated to match the interior air temp (remove fogging).

[2017-02-18 16:34] onox commented on #910
I did not model the adjustable defroster outlets because they don't exist in the 3D model. Do we need to paint one of the R/G/B layers in the ALS glass mask? (so that you see the fog disappearing where the defroster outlets are)

[2017-02-18 16:35] onox commented on #910
See figure 7-8 on page 7-31 in the POH.

[2017-02-18 16:44] wlbragg commented on #910
Yes that was always a goal.

Something else, the property /fdm/jsbsim/heat/cabin-air-temp-degc, we initialize that property at 0.0 when in reality it appears it should initially be set at whatever the outside temp is at startup?

[2017-02-18 16:49] wlbragg commented on #910
If that is the interior cabin temperature, at startup, it needs to start at the interior temperature equalized with the outside temperature, not at 0C. Otherwise we are constantly fighting an interior temp that starts at 0C.

[2017-02-18 17:48] wlbragg commented on #910
Back to my original concern...

Besides that, I guess you also have the interior glass temperature increase as the cabin temp increases, but at a slow, defined rate. That leads to another equalization issue. Don't we need to also have the glass temperature start out equal to the outside air temp?

You have two integrators

[code]

and

[code]

Don't both those properties have to start out at the s