[2018-05-18 22:36] legoboyvdlp commented on #1109
Since wlbragg isn't here to check in Blender, you could test by modifying that part of the texture in gimp - eg painting it black. If the microphone changes colour then it is correct ;)

[2018-05-18 22:40] gilbertohasnofb commented on #438
@legoboyvdlp I think filmic lighting is an absolute overkill for this. We are generating a map only, not a rendered result of a scene. It's of course up to @wlbragg what he wants to do but personally I don't think this is worth the trouble.

And thanks for the info about the multiple channels, that does make sense. It would be really cool to be able to simulate the effects above! :smile:

[2018-05-18 22:41] gilbertohasnofb commented on #1109
I know, I was just frankly lazy to do that :laughing: But I just tested and indeed that's the texture, so it's all good.

[2018-05-19 03:07] wlbragg commented on #438
I would agree if I knew what this filmic was. After doing the Shuttle light maps I have no doubt how nice a visual we can pull off with the standard multi-channel light maps. @gilbertohasnofb yes we will probably use a 3 channel light map, one for dome red, one for dome white, and one for the instrument recess lights. After seeing those images of the instrument recess lighting, I am exited to star

[2018-05-19 03:08] wlbragg commented on #438
@legoboyvdlp why?

[2018-05-19 04:10] wlbragg commented on #1023
@gilbertohasnofb Couple things,

The chrome circle needs to be a tiny bit smaller.

![knob](https://user-images.githubusercontent.com/11069680/40264686-87c9dcd4-5aef-11e8-8a60-3c4661cb7911.jpg)

The base I think doesn't look anything like in the video. In the video it's just a small ring similar to the throttle base. Also it is mapped wrong,iIt really needs its own base texture.

![knob1](https://

[2018-05-19 04:48] wlbragg commented on #1109
@onox thanks, tried it.
Turns out I have everything I need to continue work under Windows. It's just a bit slower and not as well organized. So I can still do some work until I get motivated enough to sort out my Linux distro.

[2018-05-19 07:57] legoboyvdlp commented on #438
Filmic lighting is a tool that calculates the dynamic range of the light properly. Therefore, it corrects the brightness of the light and allows you to use accurate intensity values. It should therefore improve the lightmap quality. But as Blender Renderer is not as advanced or realistic as Cycles and our materials are set up with Blender Renderer it would possibly not work well if at all.

I can

[2018-05-19 10:41] gilbertohasnofb commented on #1023
@wlbragg i will work on those

[2018-05-19 11:04] legoboyvdlp commented on #438
![image](https://user-images.githubusercontent.com/10434911/40267912-a51e3786-5b5c-11e8-9aac-85bced989b81.png)

![image](https://user-images.githubusercontent.com/10434911/40267915-afa10594-5b5c-11e8-8d03-7fb659ea939a.png)

We can see there is a subtle difference. Which would you guess looks better?

[2018-05-19 11:33] gilbertohasnofb commented on #438
@legoboyvdlp The first shots on each set are completely overexposed. But anyway I am not arguing that filmic doesn't produce good (or even better) results -- it really does! My point is that I think this is an overkill because filmic is rather used to render results out of Blender and into the world (e.g. animation, rendering for magazines, etc.). We are just generating maps which will then intera

[2018-05-19 13:54] HHS81 commented on #438
@legoboyvdlp @gilbertohasnofb @wlbragg
Filmic lighting Tool doesn't work with baking -the tool is useless for rendering lightmaps here.
I used Blender Cycles for the light maps on the c182s. You can set much more realistic materials which influences the baked output in a positive way. And Blender Cycles is much,  much faster. You can decided using GPU or CPU for processing, which ever is faster.

[2018-05-19 14:44] gilbertohasnofb commented on #1023
@wlbragg new textures are pushed.

I already rounded the corners and textured the edges.

Yes please, do improve that model if you can. And map it to this:
![image](https://user-images.githubusercontent.com/5700795/40269793-c25f208a-5b7a-11e8-8d8c-37791b8b0674.png)

[2018-05-19 14:47] gilbertohasnofb commented on #1023
Also, note that the carb heat needs a new UV-map as enlarging the texture had side effects on its inner walls:

![image](https://user-images.githubusercontent.com/5700795/40269881-eabe65b2-5b7b-11e8-84b3-9a9ecba14e9a.png)

[2018-05-19 15:50] wlbragg commented on #438
@legoboyvdlp only because I already have the base blend from doing the AO maps, I'm going to to try to generate the light maps from that blend as it is separated in a way I can control for baking mirrored object. I don't want to take the time to learn about this other technique right now but, I have no problem getting you a copy of the final blend I am going to use for the light map and you would

[2018-05-19 15:57] legoboyvdlp commented on #438
Ah, ok - apologies for the confusion!

[2018-05-19 16:08] wlbragg commented on #1023
@gilbertohasnofb yep, already one step ahead here. I needed it slightly reduced to get a better visual when resizing and rounding the corners. It actually was doing the opposite in that case, I couldn't reduce the chrome area as the back-plate was picking up the chrome texture so I was reducing the size of the knob but not the chrome circle.

I hesitated to mention it as I knew things like this re

[2018-05-19 16:14] gilbertohasnofb commented on #1023
Great!

No worries about that, it's really not that much work. But do always mention things that you spot and I am happy to improve them in all liveries. It's of course easier to fix many things at once since these texture files can bog the size of the git repository but this is not the end of the planet either and for me fixes come first to anything else :smile:

[2018-05-19 19:40] wlbragg commented on #438
First little taste, just setting the initial code and lights up. This is the panel only without any adjustment to intensity, position, color, etc.

![pnl1](https://user-images.githubusercontent.com/11069680/40272435-778d157e-5b72-11e8-9d89-a4b161dbebb4.jpg)
![pnl2](https://user-images.githubusercontent.com/11069680/40272436-79491ade-5b72-11e8-8195-4aa1638b1a2d.jpg)

[2018-05-20 06:15] wlbragg commented on #438
Here is the next test. I added in the AI. Looks like there is going to be a bit more to this than expected. For example, the AI uv-mapping had to be redone. Originally it is poorly mapped for lightmap implementation. There are multiple objects mapped to the same uv space. Not only that but in the case of the AI, would you believe there is four different textured being used. Lightmaps were not on a

[2018-05-20 06:42] wlbragg commented on #438
These are all using the same rgb value we use for the instrument lights.
1) instruments on
2) instruments off
3) instruments off flashlight (white)
4) instruments on flashlight (white)
5) instruments on flashlight (red)
6) instruments on flashlight (white) below
7) instruments on, higher intensity on "panel" lightmap only, flashlight (white) below

![test2](https://user-images.githubusercontent.co

[2018-05-20 08:34] legoboyvdlp commented on #438
It looks impressive :) :+1:

[2018-05-20 20:48] wlbragg commented on #438
@legoboyvdlp @gilbertohasnofb what I find interesting is how all three lighting schemes work well together. I guess from my standpoint I need to know where to go from here. Have we seen enough "proof of concept" to continue?

We may have a couple different approaches we can take here. Because we already can light individual objects such as all the parts to an instrument, think panel and instrument

[2018-05-21 08:39] legoboyvdlp commented on #438
If you lit up the panel around the instruments would that be sufficient, using the same light object in Blender? Looking at the pictures posted it looks like there is an overall red glow from the panel light combined with a bright yellowish illumination on the instruments themselves.

[2018-05-21 18:16] wlbragg commented on #438
I'm not understanding the question. That is what I am doing. Are you saying the light needs to extend farther out away from the recesses and onto more of the flat panel"

Keep in mind colors can be changed, this is an early test for demonstrating our options,

What I am trying to say is we have the option to do any portions we want with a new lightmap and could potentially not include the instrume

[2018-05-21 18:19] wlbragg commented on #438
@gilbertohasnofb  again, just testing for options. That is question I need answered though, and that is how these lights are turned on, exactly where all the lights are located, where do they cast their light?

[2018-05-21 18:41] gilbertohasnofb commented on #438
Nope, as far as I understand they are one single thing. The light around the outside edges of a gauge (what you call recessed lightning) is just a side effect of the little lamps that illuminate the gauges themselves, so they are controlled using the same knob (PANEL LT knob under the throttle).

The model P has basically three types of light by default: 1) PANEL LT, which is what illuminates the

[2018-05-21 18:45] gilbertohasnofb commented on #438
@wlbragg open this photo and click on it for a hi-res image: https://www.flickr.com/photos/cialowicz/7694840618

I think this shows well how there are small lamps illuminating the gauges

[2018-05-21 19:46] wlbragg commented on #438
@gilbertohasnofb yeah, that is a good picture, it even has the dome (red) lighting in it it appears.

Oh, well then that changes thing a little bit. When we bake a lightmap we are baking a potential shadow permanently on an object, look at the AI lightmap version or animation. See the shadow that is created on the left, it is fixed and will rotate with the object that it baked from if that object

[2018-05-21 20:29] legoboyvdlp commented on #438
Yes - essentially. You made the glow caused by the instrument light - the flood light should then iluminate the flat part of the panel. But it seems you already know that now 😀

[2018-05-21 20:43] gilbertohasnofb commented on #438
I did realize that. At first I thought that it looked incredible, but then you do realize that the shadow doesn't move. We can fix that during the bake or also using GIMP if necessary.

Great. And yes, I also noticed the compass, we need to include it.

I think these lights should be completely yellow, see the photos starting with: https://github.com/c172p-team/c172p-detailed/issues/438#issuecomme

[2018-05-22 03:43] wlbragg commented on #438
@gilbertohasnofb

Yes, that is part of the point I am making, we have a great deal of flexibility here!

So @gilbertohasnofb, to make thing easier would you be willing to go through the instruments with me and any of them that have multiple textures combine then into one sheet? If so, we need to do this smart as in once we identify a multi-texture instrument, we need to look at it in Blender and m

[2018-05-22 07:43] onox commented on #1023
I'm afraid that isn't going to help much. The checkout of the `dev/` is only 60 MiB. The Git history is still over 1 GiB.

What we could do though, is use BFG to delete the .blend blobs.

[2018-05-22 10:50] gilbertohasnofb commented on #1023
@onox the history of the textures is potentially quite large as well, I believe.

[2018-05-22 10:57] gilbertohasnofb commented on #438
I went through all instrument folders and here are the ones with multiple textures:

[code]

The ones marked with a single `*` mean that though they use multiple texture they are part of the radio panel which has its own illumination already and so we don't need to bother with them. There is also the GPS which has no illumination and that's fine. The kr87-adf is marked with a `**` because it actua

[2018-05-22 11:41] wlbragg commented on #438
@gilbertohasnofb I'm pretty sure the only requirement is that both sides be power of two. I will try to verify that later tonight. My free time is limited today.

[2018-05-22 11:52] gilbertohasnofb commented on #438
Ok, do confirm that to me before I start gluing them together. The issue is that if a gauge has a main texture of let's say 256 x 256 and uses a small 64 x 64 one for the needle, I would need to either lower the resolution of the original gauge texture so that I can cram the needle in the original 256 x 256 or I would need to use the highly unoptimized 256 x 512 ratio which would be mostly blank.

[2018-05-22 19:25] HHS81 commented on #438
@gilbertohasnofb

No

Yes

Yes.
It don't need to be square, it can be rectangular. But each side must be use powers of two.

[2018-05-22 19:34] gilbertohasnofb commented on #438
@HHS81 really appreciate the info!

@wlbragg I will start working on this tonight.

[2018-05-22 19:41] HHS81 commented on #438
@gilbertohasnofb The mainpanel texture of the C182S is 1024 x 2048. In theory you could use even sizes of non-powers of two. But then it will be converted on the fly, which may cost system ressources....

[2018-05-22 22:26] gilbertohasnofb commented on #438
@wlbragg done and pushed. If you need help finding yourself around these textures just let me know but it should be fairly self understanding.

[2018-05-23 08:50] legoboyvdlp opened #1112 "P-factor may be too excessive"
Hi there,
I noticed that XDraconian made a complaint about the new c172p FDM with the RC version,

Well, personally, I think the propwash is a bit too strong, but that's just the feeling I get. I imagine this is because he is using auto-coordinated mouse control.

it0uchpods as well, told me that the p-factor was far too much, and the engine seems "weak". Well, I have a hard time sometimes to main

[2018-05-23 08:57] algefaen commented on #1112
At takeoff you have to have a considerable amount of right rudder in the real thing, especially if you're doing a short field take-off and climb at Vx. Not saying that we have the exact right parameters today, but ... flying a real c172 with an auto-coordinated mouse would be really hard.

[2018-05-23 09:58] tonghuix commented on #1112
Yes, I agree with the p-factor is too strong. To experience and reproduce this 'effect':

1. Set no wind
2. RPM 2000 or less
3. Level off at a low altitude, and well trimmed.
4. Release the joystick, at least release rudder pedal

Now you will feel the plane has a little bit RIGHT turning tendency, yes RIGHT direction not left! Very little left rudder could compensate it easily.

I also feel the p

[2018-05-23 10:03] dany93 commented on #1112
Thanks @algefaen for your indications and feedback (I miss that).
At implementing this feature, I asked for opinions and feedback on this effect IRL and the simulation. I was particularly worried for beginners. All the more that the evaluation is mainly based on pilot's feeling, personal memory (not quantitative).
See https://github.com/c172p-team/c172p-detailed/issues/947#issuecomment-361001283,

[2018-05-23 10:10] tonghuix commented on #1112
@dany93 agree with you!

Well I prefer realistic, for beginner who only using mouse, it is suggest that coordinate with keyboard [NUM 0] and [ENTER] as rudder.

[2018-05-23 10:14] gilbertohasnofb commented on #1112
Yes, that's the question.

I am a bit surprised, 40% does sound like a lot. But then again I have an impressive one single hour under my belt on a 152 so I can't really comment on that. We really need experienced pilots for this. Also, we could consider taking a look on how strong the P-factor is on other sims. Does anyone have access to X-Plane or FSX?

The problem with mouse is that it's very ea

[2018-05-23 10:19] dany93 commented on #1112
@tonghuix wrote:

I realized it just yesterday. A pity that no one else noticed that before the stable FG release. The slight rightwards roll tendency is due to (my fault, sorry) I forgot to restore the aileron trim after restoring the previous value for aileron efficiency. I have to commit a fix.

The need for right rudder at climbing with full throttle is well known and common. I've even seen th

[2018-05-23 10:24] tonghuix opened #1113 "FDM: fix right turning tendency"
Now you will feel the plane has a little bit RIGHT turning tendency, yes RIGHT direction not left! Very little left rudder could compensate it easily.

As #1112 mentioned.

[2018-05-23 14:10] legoboyvdlp commented on #1112
Hi,
Josh reports:

I asked him about rudder trim, perhaps his flying club has extensive rudder trim applied

[2018-05-23 16:01] it0uchpods commented on #1112
Even with neutral rudder trim, all I had to do to cancel P factor at ~2200RPM was to just rest my root a little harder on the pedal. Mostly right.

In the FG one, I have to twist my joystick 20-30% (0.2-0.3 in /controls/flight/rudder) to achieve the same effect.

This is on the latest master, and a few times back.

Kind Regards,
JOsh

[2018-05-23 16:05] it0uchpods commented on #1112
Yep, exactly. Only a slight input is needed, nothing like 20-30% in my experience. I can't exactly confirm since of course, at home I am using a joystick, not a real plane, but this is what it seems like for me. I remember as only some slight pressure.

Josh

[2018-05-23 16:22] dany93 commented on #1112
@it0uchpods wrote,

Thank you, Josh.

I checked.
180 hp, default load.
Climbing, full throttle, rudder (pedals) for keeping the slip ball centered.
Values from flight/controls in the Internal Properties
60 kt: rudder about 0.2,
80 kt: .rudder about 0.1 to 0.14.

[2018-05-23 16:26] wlbragg commented on #1112
Speaking of "Rudder Trim Set" isn't that a feature (dialog) we want to add? Would that allow users to gain some control over this?

[2018-05-23 16:37] dany93 commented on #1112
@it0uchpods wrote

Ah... I understood at climbing...

As I wrote, the current version needs its aileron preset trim to be corrected (from 0.044 to 0.02). But that does not change the rudder trim.
If the aileron trim is correct (0.02),
I can fly at cruise velocity (about 2300 - 2400 RPM, 110 - 120 kt) with released commands, **slip ball centered**. I've preset the aileron and rudder trim for these

[2018-05-23 16:43] it0uchpods commented on #1112
Hi @wlbragg, thanks nice to hear from you!
I agree, it could be subjective, my joystick axis is rather sensitive, and not very precise, hence why I can only give a range.

By slight pressure, I was talking about the real pedal, (I was flying mostly PA28, but flew the C172P a few times before my medical problem started). For the sim I was refering to the input amount on the rudder property, which a

[2018-05-23 16:51] dany93 commented on #1112
@wlbragg wrote:

Thank you, @wlbragg, that's my feeling too.

That would be perfect, but the real C172 does not not have them... What to do?
Aileron trim is the more important. I have trim settings for the three axes on my JS, very comfortable. All the more with joysticks, of which the springs have more returning effect than RL commands.

[2018-05-23 16:53] tonghuix commented on #1112
No one test 160hp ?!

Right roll / yaw tendency is more obvious at 160 hp. Is it caused by 'weak' engine power?

[2018-05-23 16:56] it0uchpods commented on #1112
@dany93 add it, but make the dialog option greyed out when the aircraft is moving. (<enable> tag)

Kind Regards,
Josh

[2018-05-23 16:59] it0uchpods commented on #1112
@tonghuix @dany93 I was using the 160hp, didn't not mention that, sorry.

[2018-05-23 16:59] dany93 commented on #1112
Good idea. Like that, it comes to a ground setting.

[2018-05-23 17:06] tonghuix commented on #1112
I remember the real c172 has a fixed rudder trim at the tail of the rudder, engineer could twist it on ground.

[2018-05-23 19:53] wlbragg commented on #1112
I know we go for realism but  you could add a checkbox in the dialog, something like "developer mode" or "allow access while in the air" so it could be used to tune the aircraft live while in flight? Either that or maybe a few common  preset choices that cover the ranges were discussing hear.

[2018-05-23 21:16] it0uchpods commented on #1112
Honestly I'd rather leave it not, to minimize cheating. If you want that, I would add an optional "add-on" kit of some kind that allows control from the cockpit, rather than adding a cheat.

Best Regards,
Josh

[2018-05-23 21:49] wlbragg commented on #1112
At the very least then I would have a inactive slider unless on the ground and three radio buttons labeled something like...
Authentic
Sim Optimized
Custom

"Custom" contains the slider setting.

My whole point being I feel we need to hint to the user that this is a subjective setting and there are some difference of opinion on how this should be set in a simulator VS real life.

I could live excl

[2018-05-23 22:01] gilbertohasnofb commented on #1112
@wlbragg I am very much against the idea to be honest. There is nothing 'developer-like' in tuning the aircraft in the air, developers (i.e. us) can very well set properties manually when developing.

@dany93 sorry to bump my question but would something like this be possible in FG? Then we could have a toggle enable/disable the P-factor, similarly with what we do with the complex engine managemen

[2018-05-23 22:03] it0uchpods commented on #1112
That is possible, yes, but I don't think it's a good idea...

[2018-05-23 22:04] gilbertohasnofb commented on #1112
@it0uchpods care to say why? @dany93 showed some fear about beginners and so do I, and other sims have handled it in the way I describe.

[2018-05-23 22:09] wlbragg commented on #1112
That is basically the same thing I am talking about, It could just as well be a checkbox choice in the Rudder Trim GUI along with the trim slider that is only available on the ground. So you would have the mechanics "Rudder Trim" GUI and in that GUI you have a slider (only available while on the ground) and also include the option to turn off the P-factor entirely. @dany93 , is it as easy as a pro

[2018-05-23 22:20] dany93 commented on #1112
@gilbertohasnofb wrote

Sorry for not still having responded, but I wished to to do some tests before. However, responding to the other questions ate my time. I did not forget your question.

Cancelling the spiraling propwash effect as an option (I say it again: this is not p-factor) is easy in the FDM. Although I'd like someone to do the option box. Before, I would like to check that the aircraft

[2018-05-23 22:29] dany93 commented on #1112
I've edited my previous message when you wrote. I think you will find the response for the property.

[2018-05-23 22:35] gilbertohasnofb commented on #1112
@dany93 Sorry but I don't understand, you pasted the code of a function but I don't understand what property should I use. I tried searching for `aero/function/qbar-propwash-psf` but I can't find it!

[2018-05-23 23:04] wlbragg commented on #1112
I guess I am a bit confused then.
All I really need to know is if the spiraling prop wash can be canceled, or at the least toned down, with a rudder trim tab adjustment and if that is a realistic option? Also, if that adequately addresses the users issue.
If so then that is all we really need to do, yes?

If not, then I do see your point that removing the spw is effectively the same type of option

[2018-05-23 23:09] wlbragg commented on #1112
@gilbertohasnofb
I think we can create a function that just cancel out the aero/coefficient/Cnspw property by overriding it to 0 wherever the GUI option is set to "No SPW effect" There is actually a couple different methods we could employ to achieve that. I guess @dany93 can let us know if he just needs the GUI bool property to use an he can decide how he want's to implement it in the FDM?

[2018-05-23 23:10] gilbertohasnofb commented on #1112
@wlbragg as far as I know most aircraft do need a bit of rudder input during take off. Also, as some pointed out, the amount of rudder input does change throughout the take off as the speed increases. My proposal is to have a toggle which would dumb down the aircraft and remove some of these complex FDM effects. On top of that we could also add a menu option to change the rudder trim tab, though a

[2018-05-23 23:13] wlbragg commented on #1112
Another reason for a couple "standard" radio button choices which will override the slider.

My point also being, if we could get away with a rudder trim tab setting that effectively " dumb down the aircraft and remove some of these complex FDM effect" you would have no need for it in the main GUI, but I do see how you think it fits better in that location than in the Rudder Trim Tab GUI. So I am

[2018-05-23 23:17] gilbertohasnofb commented on #1112
@wlbragg first, I don't think we can find an option to rule them all. But even if that's possible, a beginner would have to figure out what this 'rudder trim dialog' stuff is then find what option gives them the result they want. An ON/OFF toggle on the other hand in the aircraft menu is possibly much more trivial.

Anyway, it's my two cents. Since you and @dany93 are the ones actually implementin

[2018-05-24 03:53] it0uchpods commented on #1112
@gilbertohasnofb
Sorry for not responding, because, unlike removing a feature, or a cheat, you are talking about removing a component of the aerodynamics. Won't that contradict the point of a detailed project if you can just yank the realism out? It doesn't take much effort to stop it (in the real plane, at least), so I don't think it's a good solution. Things like MFSX default C172 have crappy FD

[2018-05-24 06:56] tonghuix commented on #1112
I agree with @it0uchpods , removing a component of the aerodynamics is a stupid idea, even a optional toggle at GUI dialog.

What the issue concern about is IMPROVE the realistic, not DECREASE it. So what we should do is just reduce p-factor or/and propwash. For none-joystick player, or joystick not detected, we could give them an option, or give them a suggestion that they could play it in *Game*

[2018-05-24 09:21] algefaen commented on #1112
If you want an unrealistic arcade mode setting it might be better to set the propwash, p-factor and maybe also torque components constant values that are adjusted to counteract the default right rudder trim setting.

Personally I don't like the idea of rudder trim sliders, adjusting the rudder trim tab is not something you do regularly. Power users can tweak it through the property dialogs already

[2018-05-24 09:32] algefaen commented on #1113
For the record, if you're gliding (turn off the engine), you should see a slight right turn, since the airplane is rigged to counter propwash/torque/etc.. Please do these "is the plane flying straight" tweaks at cruise settings (2300 RPM might be a good setting for this).

[2018-05-24 09:48] gilbertohasnofb commented on #1112
Ok guys, this is starting to rub me the wrong way. First, I am taking a deep dislike to some of the language used here. Second, the amount of messages posted lately is just extremely large. This is not a forum, this is a repository where we are attempting to develop an aircraft. If we have to go through piles of messages then we are losing development time. We welcome feedback but please do not co

[2018-05-24 11:51] it0uchpods commented on #1112
I apologies if I said anything which offended you, that was not my intention.

If you do add such a thing, as long as this option is not enabled by default, I don't really have a problem with it.

I agree with @algefaen, you should have this toggle disable few other advanced FDM features then also, not just one thing. I'd do a toggle called "Advanced FDM" or something, because then when checked (1

[2018-05-24 13:48] dany93 commented on #1112
My idea for canceling (or decreasing) the spiraling propwash effect:

What I would prefer is a factor added in the FDM code.
This factor would be = 1 for the full effect, = 0 for no effect at all. Or an intermediate value for a weak effect. Below, it is `<property>spiral-propwash-coeff</property>`
_(unless you would find a shorter name, self-explaining)_
Set by an option with two possibilities.
[c

[2018-05-24 17:32] gilbertohasnofb commented on #1112
@wlbragg I don't have enough knowledge about FDM to make an informed decision here, I was simply reacting to @dany93 's concern with a suggestion of how other simulators handled that. One other possible idea which might be feasible (or not) is to have an welcome dialog added to our aircraft when FG fires up for the first time (which can be detected via that xml we use to save properties at aircraf

[2018-05-24 17:34] gilbertohasnofb commented on #1112
@dany93 You can create a new branch and open a PR which can tackle all these FDM issues. We can also use that very branch to implement any dialogs that might be related, such as my proposition above.

[2018-05-24 17:55] tonghuix commented on #1112
Does this option switch could change after the first choose?

[2018-05-24 17:58] gilbertohasnofb commented on #1112
@tonghuix As I wrote in the dialog:

This idea would just set up the aircraft as either basic or advanced. You can then do whatever you want using the Aircraft Options dialog if you change your mind later.

[2018-05-24 18:15] tonghuix commented on #1112
I do like what @gilbertohasnofb proposed, I am eager to see it implemented.

[2018-05-25 05:38] wlbragg commented on #1104
@gilbertohasnofb I guess I got distracted and wanted to make sure this was corrected. I think it is as I have the glare shield vent in my local version that will eventually be pushed to the PR and we also have accounted for it in the AO maps.. But in all honesty, I don't remember what this was about. If it was the AO map or something else, as in it wasn't mapped on the aircraft glare shield?
I jus

[2018-05-25 06:44] onox commented on #1112
We should indeed keep the GUI's clean and simple.

Do you see this as a one-time initialization script (if (realism_advanced) then enable advanced FDM) or as a setting that continuously controls/drives several properties (advanced_fdm_enabled = realism_advanced)?

I have a slight preference for having a realism slider (beginner, advanced, expert) that controls several aspects (FDM, procedures, dam

[2018-05-25 06:49] onox commented on #1113
@dany93 This issue should fix the aileron trim thingy you forgot to put back in the FDM?

[2018-05-25 07:17] wlbragg commented on #1113
@onox, yes we can use this as the catalyst if @dany93 wants to open a PR and refference this issue. It was already stated that the issue is indeed "the thingy he forgot to put back into the FDM!" 😄 @gilbertohasnofb suggested @dany93 open an issue and PR to correct it but it looks like @tonghuix beat everyone to it.

[2018-05-25 07:33] wlbragg commented on #1113
@tonghuix are you indicating you want to close this issue and let @dany93 fix it by correcting his omission?
If so I am saying almost the same thing as his correcting his mistake will automatically close this issue if we attach the PR to this issue.

[2018-05-25 07:42] tonghuix commented on #1113
@wlbragg agree, but I hope when merging his PR let this issue automatically close.

[2018-05-25 09:28] dany93 commented on #1113
I will open an issue and a PR next as @gilbertohasnofb asked, please just let me some time.
It will include the aileron trim correction (which is a small detail), and, more importantly, propose a start code for canceling or decreasing the spiraling propwash.

[2018-05-25 09:39] gilbertohasnofb commented on #1112
Yes, we can just have a property `first-time-startup` whhich we can check on startup; if `true` then open dialog else don't open it. This property can then be set to false when the dialog is closed, thus avoiding the dialog to be summoned again in future launches. So this would be a one shot thing.

My idea was to allow people unfamiliar with FG's menus to have it on screen two big buttons with si

[2018-05-25 09:40] gilbertohasnofb commented on #1113
@dany93 No rush, Dany, that sounds great. Take your time with this issue.

[2018-05-25 09:44] gilbertohasnofb commented on #1104
@wlbragg I think what I meant is that you had missed to UV-map it, nothing to do with AO map. But I think that has already been fixed so let's move on. The AO map work is done as far as I am concerned.

[2018-05-25 09:45] gilbertohasnofb commented on #1112
And by the way, @dany93, this is what xDraconian wrote on the dev list:

As the aircraft increases in speed, you may find that you need more or less right-rudder (mainly due to torque + wind forces, raising the tail in a tail-dragger also introduces gyroscopic forces).

As the nose wheel leaves the pavement you lose the directional control that was being provided by the left-deflected tire.
P-fact

[2018-05-25 12:10] it0uchpods commented on #1112
If saving with aircraft-data, I'd do it from nasal, not just adding from -set file. This way the setting can be preserved even in FG crashes/is closed improperly. I did this in my ACCONFIG system and it seemed to wok well.

Josh

[2018-05-25 13:02] dany93 opened #1114 "Create a Welcome easy-FDM for beginners."
Follows https://github.com/c172p-team/c172p-detailed/issues/1112#issuecomment-392001045
and https://github.com/c172p-team/c172p-detailed/issues/1113#issue-325643076
particularly
https://github.com/c172p-team/c172p-detailed/issues/1112#issuecomment-391721130
https://github.com/c172p-team/c172p-detailed/issues/1112#issuecomment-391528826
https://github.com/c172p-team/c172p-detailed/issues/1112#issue

[2018-05-25 13:21] edward-dauvergne commented on #1114
I strongly suggest that you discuss this on the FlightGear mailing list!  I think you'll find not much support for this idea within the community.  I remember such suggestions being dismissed before.  I can't find all such discussions (due to the loss of the Gmane archive), but one I remember is:

- https://www.mail-archive.com/flightgear-devel@lists.sourceforge.net/msg19727.html

I personally thi

[2018-05-25 13:21] tonghuix commented on #1112
I checked out release/2016.1 (yes two years before release) and try,  that FDM is pretty good, but pitch is a little bit sensitive somehow, others almost perfect

[2018-05-25 14:09] dany93 commented on #1114
This does not close the subject.
It will contain a tuning factor which (I hope, please, @wlbragg ?) will allow experienced pilots to tune it by themselves and propose a value. Hopefully, if enough pilots participate, we can have a correct value.
From here or from the mailing list (which shouldn't be the best place)

I'm not sure I will find better support from the mailing list (in addition to poll

[2018-05-25 14:15] edward-dauvergne commented on #1114
Is this FDM change listed as a feature for any of the releases here?  I've always used a little rudder, but all of a sudden I now need a lot.  I suggest discussing on the mailing list where you will find a lot of real pilots who have trained in Cessnas.

[2018-05-25 14:21] tonghuix commented on #1114
@dany93 I tested 2016.1 and 2017.1 for FDM, feedback could see #1112

[2018-05-25 14:45] dany93 commented on #1114
@tonghuix
Given the importance that it takes, I'm asking for real-pilots feedback. Are you?

In addition, in [this message](https://github.com/c172p-team/c172p-detailed/issues/1112#issuecomment-391291575) you seem to ignore the importance (existence?) of the spiraling propwash effect. Whereas I've read several times that it is more important than the p-factor (particularly for tricycles).
In [this

[2018-05-25 15:04] dany93 commented on #1114
@edward-dauvergne wrote

I'm surprised by this suggestion. I thought that there is enough on the mailing list with the core development.

This feature has been committed on[ 9 Feb 2018](https://github.com/c172p-team/c172p-detailed/commit/eccd4b017237dcacbe5155552d833a552e98f9fe).
I understand that everyone has his own occupations, but, the c172p being the FG flagship, I regret that so many real pi

[2018-05-25 15:23] dany93 commented on #1114
@wlbragg
I'm not sure how it works with the options, but I hope, if possible, that the `aero/coefficient/spiral-propwash-coeff` can be manually set in the Properties (in sim). It would enable real pilots who accept testing and give some time to easily try any value (more likely between 0 and 1). Hopefully, this feedback should help converging to a consensus based on reliable opinions.

[2018-05-25 16:10] wkitty42 commented on #1114
On 05/25/2018 11:04 AM, dany93 wrote:

FWIW: this repo, the FG forums and the FG dev mailing list have poor visibility
to real c172p pilots... only those that know about FG would see the requests IF
they even visit any of those three places... we all know there's a lot of FG
users that have never been by the forums, much less this repo or the dev mailing
list...

[2018-05-25 17:13] wlbragg commented on #1114
@dany93 yes, it would be controls/flight/aero/coefficient/spiral-propwash-coeff and it should be accessible.

[2018-05-25 18:26] dany93 commented on #1114
Good. Thank you
But I'd say `fdm/jsbsim/aero/coefficient/spiral-propwash-coeff`
This is not a control.

[2018-05-25 18:40] edward-dauvergne commented on #1114
I'm bizarrely surprised that you are surprised!  Lots of aircraft development questions belong on that list.  Especially important FDM developments.  And we are talking about a new "game-like" feature that some core developers may strongly object to, as they have in the past.

The [original C172P](http://wiki.flightgear.org/index.php?title=Cessna_172P&oldid=64944) was created largely by [David Meg

[2018-05-25 18:42] onox commented on #1114
Yes. See the "spiraling propwash effect" in https://github.com/c172p-team/c172p-detailed/releases/tag/version%2F2018.1. Merged to FGDATA by @stuartbuchanan.

[2018-05-25 18:43] tonghuix commented on #1114
@dany93 sorry that in #1112 , i missed your question that I am *not a real* pilot. But I had a experience that fly a real C172R in a event 12 years ago. And I know some friends who are real pilot, asked them helping test, see #1060

[2018-05-25 18:47] onox commented on #1114
Also see the [comment](https://github.com/c172p-team/c172p-detailed/issues/947#issuecomment-360999442) by @tigert.

that James suggested and I also elaborated on of having a copy of the
git repository mirrored at SourceForge and the aircraft removed from
FGData.  I.e. equivalent to fork #36, as there are currently 35 forks
of the repository on GitHub, but used as a read-only mirror hosted
alongsid

[2018-05-25 18:50] tonghuix commented on #1114
Yes I agree @onox , the SF is too old to adopting for 'modern' open source product development.

[2018-05-25 18:54] wlbragg commented on #1114
@dany93  sorry, I didn't actually go into the code, I was looking at the diff and picked up the wrong tags, yes it is...
fdm/jsbsim/aero/coefficient/spiral-propwash-coeff
[code]
Answer remains the same, yes that should be accessible.

[2018-05-25 19:00] wkitty42 commented on #1114
On 05/25/2018 02:47 PM, onox wrote:

SF is under totally new management and is no longer doing those nasty things
that the previous management group(s) did...

[2018-05-25 19:01] onox commented on #1114
I know, but here in NL we say trust comes by foot and leaves on a horse :stuck_out_tongue:

[2018-05-25 19:07] wkitty42 commented on #1114
On 05/25/2018 03:01 PM, onox wrote:

hahaha, yeah... several NL'ers have told me the same over the last 30+ years...
the thing is, it has been several years since SF was returned to ""proper""
activities... one cannot (re)gain their trust if one doesn't use SF's
services... they offer a whole lot more than repositories (in several formats)
and issue tracking... github and gitlab don't even come cl

[2018-05-25 19:31] onox commented on #1114
Well, personally I don't like any of the two solutions. I prefer 100 % realistic FDM (that includes complex procedures on) and maybe have an automatic takeoff option (just like we have an autostart) instead.

[2018-05-25 19:41] wlbragg commented on #1114
😄

[2018-05-25 20:02] tonghuix commented on #1114
@onox I agree you, but if 100 % realistic FDM not mouse-friendly, a runner up solution also acceptable.

[2018-05-25 20:04] onox commented on #1114
I use the mouse (without auto coordination)

[2018-05-25 20:48] edward-dauvergne commented on #1114
Should this be a separate issue?  This needs some structural organisation on this side.  But it will benefit all parties.

Just FYI, I have (or had) accounts with Gna!, Savannah, Google Code, Gitorious, Bitbucket, GitHub, GitLab and SourceForge!  I may have forgotten some earlier ones that no longer exist.  I find such discussions so 1990s ;)  They all have their benefits and disadvantages - but I

[2018-05-25 20:56] legoboyvdlp commented on #1114
FYI, I also use the mouse. Apart from needing a fair bit of rudder input which is hard to control at the same time as the aileron, I have been able to fly this aircraft for the first time - before it was unflyable as the pitch was far too sensitive! So I think it has improved already...

[2018-05-25 20:58] onox commented on #1114
Yes, please open a new issue. What kind of organization are you talking about?

[2018-05-25 21:02] #1113 closed

[2018-05-25 21:02] #1114 closed

[2018-05-25 21:54] edward-dauvergne opened #1116 "Syncing with the FlightGear core."
Carry on from @onox's https://github.com/c172p-team/c172p-detailed/issues/1114#issuecomment-392185601, with back referencing:

that James suggested and I also elaborated on of having a copy of the
git repository mirrored at SourceForge and the aircraft removed from
FGData. I.e. equivalent to fork #36, as there are currently 35 forks
of the repository on GitHub, but used as a read-only mirror hoste

[2018-05-25 22:32] dany93 commented on #1114
@wlbragg wrote

My error on the aileron trim had an obvious effect in flight, rather at moderate or high speed. A rightwards rolling effect. I think that the yawing effect was negligible.
The yawing effect when rolling before takeoff (when the spiral propwash effect is important) is very secondary, IMO negligible. I think, impossible to sense compared with the spiral propwash.

[2018-05-25 22:48] dany93 commented on #1114
For everyone who wish to test, even in its current version (before @wlbragg's options), you can tune the spiraling propwash effect in sim by setting a value in the Internal properties
`fdm/jsbsim/aero/coefficient/spiral-propwash-coeff`
at 1 per default. Every value (0.8 = 80%) is possible.
If you find a value which better fits your preference.... Please, pilots!

[2018-05-26 19:25] gilbertohasnofb opened #1117 "Rename project to c172p (remove the -detailed part)"
Perhaps we should consider renaming this project to simple `c172p` (remove the `-detailed` part) as this has long become the default c172p and it is one less thing to think when making a sync with FGData. If that's approved then we would also have to update a couple of .xml and .md files.

@onox what do you think?

[2018-05-26 19:47] edward-dauvergne commented on #1114
I was just wondering - could it be that the propwash is correct but the P-factor has been previously set too high as a way to compensate for the lack of propwash in older versions of the aircraft?

[2018-05-27 06:34] onox commented on #1117
I'll rename the project.

[2018-05-27 06:39] #1117 closed

[2018-05-27 10:19] dany93 commented on #1112
@edward-dauvergne
Thank you for your suggestion.

At my knowledge (I looked down to 2010) the propeller file never had p_factor in it. I think it comes to a zero value.

Impossible to blame David Megginson for this. Today and after so many years,  with the improvements of FG, we are more and more demanding, but Megginson did it, it became the FG flagship and a reference, his contribution was huge.

[2018-05-27 10:28] dany93 commented on #1112
On 26 may 2018, xDraconian wrote on the FGDevel mail list:

[2018-05-27 19:46] tonghuix commented on #1112
I find a video by MzeroA Flight https://www.youtube.com/watch?v=SxtHyhoBHjk

This weekend I asked a friend who is a *real* pilot and trained using 172R years ago, for testing this aircraft. He felt default propwash far too much, then I set it to 0.8 and he felt it okay but still too much. I set 0.5 he felt it okay but the P-factor not real at this point.

He also give some scenarios for testing th

[2018-05-28 09:47] dany93 commented on #1112
@tonghuix

On your video, the torque explanation is wrong. It primarily gives a roll effect. The yawing is a secondary effect. And the yawing is not only due to the torque.

Scenerios for testing:
1. Wrong. Not due to the torque alone.

2. "maintain and cruise at RPM 2200 ~ 2300, keep right rudder all the time":  have you seen or done this ?????
3. OK
4. Wrong.

You posted interesting videos (alth

[2018-05-28 16:12] onox commented on #1112
If there are more pilots that can confirm this, that would be great. Then we may indeed need to reduce the propwash factor.

[2018-05-28 16:18] onox commented on #1112
@tigert @wezzer @Juanvvc Are you guys able to give the new c172p a few minutes of your time and help us to determine what should be done with the propwash factor? (Press / to open the properties window and then modify `/fdm/jsbsim/aero/coefficient/spiral-propwash-coeff`)

[2018-05-28 19:31] wlbragg commented on #438
@gilbertohasnofb
Look closely at on of the instruments in this picture. If you had to guess where the illumination bulb in the instrument was located, where would you say it was?
The small bump on all the panel recesses does not appear to be the location of the bulb that lights the instruments up?
You can see the bumps on the picture as well.

You can also see the light in the instrument does not

[2018-05-28 20:33] gilbertohasnofb commented on #438
I think it clearly comes from the top of the gauges, look at the light reflections on the glass of the AI, altimeter and VSI for instance, those really give a good idea. I agree that it doesn't look like the light comes from those bumps at all.

I think this is because if the light comes from the top of the gauges, it doesn't have a way of reflecting at the panel. Look at this cross section:

![im

[2018-05-28 20:38] gilbertohasnofb commented on #438
Actually, looking at some photos I think the light source is behind the glass of the gauge on top of it. This doesn't change much for us, but anyway:

![image](https://user-images.githubusercontent.com/5700795/40628855-62ca3f14-62bf-11e8-8360-0f92396fc32a.png)

So my guess is that the light source points to the instrument but a lot of light leaks and illuminates the ring around it. And no light ma

[2018-05-28 21:00] gilbertohasnofb commented on #1112
@dany93 As I told you before I have nearly no hours under my belt (1 hour in a Cessna 152 to be more exact) and I am only giving my opinion here since you asked for it in our email exchanges. I personally felt that setting that coefficient to `0.5` made the aircraft handle much better and much more similar to what I experienced in other sims, particularly during the take off roll. With `1.0` and `

[2018-05-28 22:09] wlbragg commented on #438
@gilbertohasnofb  I agree, OK I think I know what to do here then. I am making some great progress, should have something to show in a day or so. It's looking really good.

[2018-05-28 22:29] dany93 commented on #1112
I hope that I can send this message because I have an Internet failure (very slow and almost no e-mail).

FGDevel are ready for a point release  2018.2.2.
In case I cannot connect, I agree for spiral-propwash-coeff = 0.5.
Anyway, I think that everyone will feel it better.

[2018-05-28 23:33] gilbertohasnofb commented on #1112
@dany93 I agree with you, if we don't get any feedback then we can just set it to `0.5` for the time being and then tweak it in the future in case we get some better feedback.

@onox Do you know when is the 2018.2.2 planned to be released? Since Dany is having internet issues I am opening a PR with the fix in a few minutes so that we can merge this ASAP and make a new release. Once that's done cou

[2018-05-28 23:46] gilbertohasnofb commented on #1116
@onox @wlbragg What do you guys think about the best route for future syncs?

[2018-05-29 04:19] wlbragg commented on #438
@gilbertohasnofb then I guess I'll have to give you a preview. There are still several issues with some of the instruments such as glare and shadows that need cleaned up as well as a few other things I noticed that could stand to be cleaned up.

But I think this gives you a good idea of where I'm at.

![lm](https://user-images.githubusercontent.com/11069680/40637884-7f18ca6a-62cd-11e8-93ec-75c1e87

[2018-05-29 06:53] dany93 commented on #1112
_My Internet connection is restored (I hope it will hold on). Probably the thunderstorms._

Thank you @gilbertohasnofb for having done [this PR](https://github.com/c172p-team/c172p/pull/1118).

I had a look at the PR (origin/Issue-1112 branch) code and tested the aircraft, that's OK.

On 28 May 2018,

James Turner wrote:

_________________________

_______________________________

Edward d'Auvergn

[2018-05-29 09:12] #1112 closed

[2018-05-29 09:13] onox commented on #1112
We sure do have tags, but not for every of FG's bug fix releases.

I'll backport the fixes to the `release/2018.2` branch.

[2018-05-29 09:28] onox commented on #1116
That's not really automated. I prefer something like creating a [webhook](https://developer.github.com/webhooks/) which can send a HTTP POST to some URL.

[2018-05-29 09:30] dany93 commented on #1112
Do we have to send a message to FGDevel mailing list for this in our 2018.2 tag?

[2018-05-29 10:22] wkitty42 commented on #1112
On 05/29/2018 05:13 AM, onox wrote:

not sure that's what he's talking about... i think it is just another playful(?)
poke at having the team push their updates to fgdata as well as this dev repo ;)

sounds like a plan to me :)

--
  NOTE: No off-list assistance is given without prior approval.
        *Please keep mailing list traffic on the list unless*
        *a signed and pre-paid contract is

[2018-05-29 11:56] edward-dauvergne commented on #1112
For having a fully automated setup that you push to yourselves (i.e. a git mirror on SourceForge), you'll probably need to coordinate with Torsten on the mailing list on how to do this.  Maybe his script should scan for tags, decreasing the version number until a matching tag is found.  Or maybe he would auto-create any missing tags from your release branch.  You'll have to discuss the details wit

[2018-05-29 12:02] gilbertohasnofb commented on #1116
@onox would you be able to set that up then?

[2018-05-29 12:05] gilbertohasnofb commented on #1112
@onox The emphasis of @edward-dauvergne was on the _push_ bit, not on the _tag_ (I also misread it the first time). He is basically saying the same as what was discussed before in the list. And as I replied in the dev-list, we are considering that but we have been buried in work during these last days.

If that is the case I would suggest that the poking stops. I am fed up of the attitude we are r

[2018-05-29 12:16] edward-dauvergne commented on #1116
The idea of the git mirror is really to provide the c172p team with the simplest possible path to self-control.  You simply set up a remote called say 'sf', and run 'git push sf', and 'git push sf --tags' (for those with a SourceForge (SF) account).

For a webhook, that probably won't work as you need a true SF account to push to a SF repository (just as with a GitHub repository).  That is similar

[2018-05-29 12:21] edward-dauvergne commented on #1116
I forgot to mention, the alternative suggestion of granting team members FGData commit access and then you manually synchronise the FGData Aircraft/c172p/ directory with this git repository is a lot more work than syncing a git mirror.  That is what @stuartbuchanan normally has to do for you for each release.

[2018-05-29 12:32] edward-dauvergne commented on #1112
@gilbertohasnofb All we see on the list are requests for merges/synchronisation very, very close to the release date and then the inevitable complaints from the c172p team about the human faults inherent in this process (that requires waiting for Stuart to synchronise the aircraft for you, or asking others if he is not available at that time, and that Torsten notices that this hasn't happened yet

[2018-05-29 12:38] edward-dauvergne commented on #1116
Another way to set the git alias would be:

[code]

This of course only works on GNU/Linux and Mac OS X operating systems.  MS Windows scripting would require quite a different command.

[2018-05-29 12:38] gilbertohasnofb commented on #1112
@edward-dauvergne This is not the place to discuss this, please do not spam our repository repeating this same thing over and over again. I already pointed out that we are absolutely aware of this issue and we are discussing possible solutions among ourselves. Since you agree that this is not practical for the 2018.2.x point versions then please spare us from your comments such as 'Pity they don't

[2018-05-29 12:51] wezzer commented on #1112
Sorry I don't currently have a computer for running FlightGear, and it has been too many years since my last C172 flight, so unfortunately can't help with this. But I've been following the project all the time and I really like how the project develops continuously. Good job!

[2018-05-29 14:56] wkitty42 commented on #1112
On 05/29/2018 08:05 AM, Gilberto Agostinho wrote:

ummm... what attitude? i read it as comrades/friends having fun and joking with
each other... being part of the group(s)... nothing ""attitude-ish"" about it...

PS: where'd the part of my comment about "fun" go? why was it chopped out to
make my comment read negatively instead of jocularly?

PPS: this is close to what has come up previously about

[2018-05-29 15:03] wkitty42 commented on #1112
edward is just trying to help and explain some things to make the process
easier... there's no negativity...

i do agree that this issue is the wrong place, though... it should have been
over in the "Syncing with the FlightGear core. (#1116)" issue... maybe they can
be moved over to the proper issue?

anyway, that's all i have to say about it in here...

[2018-05-29 16:24] wlbragg commented on #1116
@gilbertohasnofb wrote

Unfortunately I have little experience with any of this technology so I have to defer to @onox. My only feedback is it should be as simple to understand as it is to activate otherwise it will still be in the domain of one person. Also we have a really good system of checks and balances going here. I really don't envision anyone other than @onox pushing the final button when

[2018-05-29 23:50] wlbragg commented on #438
@gilbertohasnofb the initial implementation is pushed. I am aware that the the mag compass (and float version) is not correct. I'm still working on that. The rest is ready for testing and critique.

Please test the instruments without the lighting for correct function as it's possible that the re-mapping could have caused some issues. Hopefully not.

[2018-05-30 10:04] legoboyvdlp commented on #438
Wlbragg, if you get wierd artifacts when baking that is quite often due to mesh problems, but not always.
Common issues include,

Let me know if you need any more help!
As always great work 😃

[2018-05-30 10:48] gilbertohasnofb commented on #1112
@wkitty42 I don't think you are aware of all the conversations that have been going here, in the list and privately and the sort of attitude that our team has been facing lately. I would just say that we should leave this here.

[2018-05-30 15:46] wlbragg commented on #438
@gilbertohasnofb no problem, have a good trip!

[2018-05-30 17:50] legoboyvdlp commented on #438
@wlbragg
![image](https://user-images.githubusercontent.com/10434911/40737979-3544db7c-643a-11e8-80a2-ec4eaa1aa071.png)

Instrument lighting on, electrical power off. Note the yellow ring on the tachometer? Also visible in one of your screenshots.

[2018-05-30 18:06] wlbragg commented on #438
@legoboyvdlp what is that ring supposed to be? I saw that but have no idea what it is.

Here is the latest generation with some adjustments to light source position. I moved the lights so the glare isn't on the recessed rings as before. After closer examination of the photo that glare is on the instruments and not on the recessed panel ring. I also fixed the mag-compass, it required making the lig

[2018-05-30 18:36] wlbragg commented on #438
@legoboyvdlp

We're going to have to do some custom light map trickery to the AI I think. The two things you point out I think are shadows coming from somewhere, at least the flat spot you circled is, and it is moving with the AH which technically it shouldn't be. The spots, I have yet to identify where they are coming from.

[2018-05-30 20:27] legoboyvdlp commented on #438
Also, why is the AI illuminated much more than the rest of the instruments? I take it that is intentional?

[2018-05-30 20:41] wlbragg commented on #438
@legoboyvdlp

No, unintentional. I'm just about to push some fixes. Just finishing up some testing.

[2018-05-30 20:50] wlbragg commented on #438
Here are the corrections so far.

![lm--d](https://user-images.githubusercontent.com/11069680/40746835-19b2110e-6421-11e8-9578-9a01ee735477.jpg)

![lm--n](https://user-images.githubusercontent.com/11069680/40746838-1aad350c-6421-11e8-8583-4826608d3434.jpg)

[2018-05-30 21:23] wlbragg commented on #438
One more correction to the AI, I got rid of the fading at the bottom of it. I think we are to the nit picking stages, I hope.
Such as, the adjustment knobs, I see some room for improvement with some if not all of these. It will probably be easiest to do those manually once we identify what it is we want to do to them.

[2018-05-30 21:28] legoboyvdlp commented on #438
The yellow ring now seems to be black. Otherwise, looks good. The VOR instruments also have a black ring around them where the instrument is hardly lit at all

[2018-05-31 12:22] callahanp commented on #438
In the pics, it looks like you are using a single source of light.

I bought a KI225 ADF indicator to take apart.

At least on the KI225, there are actually two lamps. They're in the
circular depressions at the top of the light diffuser.

The diffuser is actually two pieces of plexiglass, cut vertically on a
diagonal.  The outer piece, the one with the aircraft symbol is thin at the
top and thicke

[2018-05-31 12:41] callahanp commented on #438
Here's a screenshot of a model of the knob on the KI225.  It's based on
measurements from the actual knob.  You can view the model without an
account.  The model is public so you can use it and export in a variety of
formats if you have an account.  Onshape accounts are free for hobbyists
like me.

https://cad.onshape.com/documents/649fedc00a80647c8b25499d/w/0b349d55a9026ac4e6b3b9be/e/3d82ac64ea51

[2018-05-31 16:36] wlbragg commented on #438
@callahanp
Thanks for the detailed description.

@legoboyvdlp

Yeah and I am not entirely sure what to do about this as the area that was yellow and now black was mapped separately and to a minuscule part of the texture. I may have to have @gilbertohasnofb modify the texture.

That is actually correct in so much as that part of the ring is concave and not flat.

OK, I'll see what I can do, thanks

[2018-05-31 16:58] wlbragg commented on #438
After closer comparison of the ADF I think All it needs is for the dial to be enlarged. There is the bright white background but I don't intend to model that. Most of that is the viewing angle I think.

You think all the instruments appear to be to dim? Should we try to match this reference image more precisely or use our own aesthetic adjustment?

The VOR's are dim and I can't tell if that is the

[2018-05-31 17:13] wlbragg commented on #438
Personally I think our radio stack digit colors are to orange if your using this image as a comparison. But I assume we went with that color originally for a reason, I would be interested to see what image comparison we used to justify that color and see any of the instruments in that image and what they looked like. It is really difficult to know how much distortion we are getting from these imag

[2018-05-31 19:27] wlbragg commented on #438
This is with an overall intensity increase of the lights.
Notice a glaring omission, all the compass lettering is not lit up.
![test](https://user-images.githubusercontent.com/11069680/40803512-6f24bc14-64de-11e8-866a-5f8cff763ca3.jpg)

With some material animation lighting to the compasses lettering  on only the vor's and ADF.
![testbl](https://user-images.githubusercontent.com/11069680/40803618-

[2018-05-31 19:35] wlbragg commented on #438
My impression is as @callahanp indicated, some of these instruments have different lighting schemes. Even the two VOR's in the photo appear to have different light applications. The ADF is well lit over the entir3e face yet other instrument's aren't . I think we have quite a bit of latitude as to what how we implement our lighting. I think we need a consensus before I proceed much farther.
Not I e

[2018-05-31 19:48] gilbertohasnofb commented on #438
@wlbragg A couple of comments. Let me start off by saying how good this looks, man this is a great job! Now a couple of points:

* I think that the max intensity can be as strong as in your image https://github.com/c172p-team/c172p/issues/438#issuecomment-393649529 -- do remember that just like RL we can adjust the brightness ourselves.
* about the colour, photos in dark environments are notorious

[2018-05-31 20:57] legoboyvdlp commented on #438
Comment on the fuel and oil: in your reference the light is on the bottom of the dial, while in your screenshot it is on the top. Also the ammeter is not lit by the instrument lighting in the reference.

The clock should also have more even lighting all around it, including the hole in the panel as for the other instruments, not just at the top of the clock as it currently is.

Thanks,
Jonathan

[2018-05-31 21:02] gilbertohasnofb commented on #438
@legoboyvdlp You are right about the oil, but the anmeter seems to be faulty in that photo, see this one:

![](https://camo.githubusercontent.com/7a8de3b8e163e21b56054bb26926407591846b95/687474703a2f2f696d6770726f632e6169726c696e6572732e6e65742f70686f746f732f6169726c696e6572732f332f302f382f313938303830332e6a70673f763d763430)

And we certainly want it illuminated

[2018-05-31 22:43] legoboyvdlp commented on #438
Ah, ok - thanks!

[2018-06-01 00:39] callahanp commented on #438
I was wondering how well the physical setup with the split diffuser worked
on the KI225.  The picture of the real instruments shows the effect really
well and it's impressive.  I'd be willing to bet that all the bendix king
indicators have a similar arrangement.  I'm guessing that the other
instruments have some kind of eyebrow light behind the panel cover.  The
lighting might be outside the actua

[2018-06-01 04:08] wlbragg commented on #438
@gilbertohasnofb

Right, sounds good.

I'll take your word for it! Just thought I would mention it.

We can fix that by custom editing the rings that rotate. I already did that to the AI. We can make it consistent. Also we should be able to correct the issue of..

by making those rings brighter over the entire ring.

Actually, doing what I said above and possibly using your suggested transparent l

[2018-06-01 11:29] legoboyvdlp opened #1119 "Missing property /engines/active-engine/damage_allowed"
![image](https://user-images.githubusercontent.com/10434911/40838721-64745bc6-6597-11e8-8528-99e2dea30ef9.png)

I could not reproduce, but I added some code to engine.nas, which the reporting user tested and confirmed that it works.

I will open a branch and PR shortly.

[2018-06-03 14:18] onox commented on #1119
I can't read the text in the screenshot. Can you upload a screenshot in which the text is readable?

[2018-06-03 14:59] onox commented on #1116
@edward-dauvergne I don't think we need committer access to anything on SF. Wouldn't it be easier if Torsten modifies that release script you're talking about to just use the Github API and then do a git shallow clone and then rsync the content to fgdata?

You can get a list of branches and their commit sha's at https://api.github.com/repos/c172p-team/c172p/branches

Additionally there is https://

[2018-06-03 15:13] onox commented on #1116
If you want, I can write a shell/python script that does all this (JSON fetch, sha compare, shallow clone, rsync, commit) and then post it here.

[2018-06-03 15:48] wkitty42 commented on #1119
On 06/03/2018 10:18 AM, onox wrote:

that was my problem, too... i just didn't say anything because i thought it had
already been handled and applied...

[2018-06-03 18:59] legoboyvdlp commented on #1119
No, that is what the reporter on Discord sent me. But, it is the proprrty which I mentioned that is missing.

[2018-06-03 20:16] wlbragg commented on #438
@gilbertohasnofb I just discovered the liveries are using two different versions of the AI textures. So I need you to make the second version that we got rid of. I'm not sure how you want to proceed.
Here is what is needed and where we are at.
There used to be AI1.png and AI2.png that you turned into AI.png.
We also need the original AI1-2.png and AI2-2.png turned into AI2.png.
I will rename the n

[2018-06-03 20:49] wlbragg commented on #438
@onox there is the following in the livery code, I don't understand how this works as there is no entry in the livery portion of Models/c172p.xml
[code]
And how are you supposed to switch between AI1 and AI2?

I added test textures to the AI model directory as I described to @gilbertohasnofb and all I am getting is AI2 texture on all liveries? Not only that but I don't see anywhere that these live

[2018-06-03 21:13] wlbragg commented on #438
Been working on the dome lighting, where is the switch supposed to be?

![dome](https://user-images.githubusercontent.com/11069680/40891315-fc9463f8-6748-11e8-8b74-062e4e0a4e67.jpg)

[2018-06-03 21:52] HHS81 commented on #438
@wlbragg
Nice! :+1:

The domelight switch is on the ceiling as far I can remember from some images.

[2018-06-04 07:05] edward-dauvergne commented on #1116
I can say now that that would be a no-op with the core FG team.  For example this is along the same lines as Thorsten Brehm's arguments about the [original proposal to split FGData aircraft into git submodules](https://sourceforge.net/p/flightgear/mailman/message/28246493/), specifically these paragraphs:

very beginning of FlightGear. Meanwhile, many aircraft developers have
joined and left the p

[2018-06-04 07:29] onox commented on #1116
Where am I arguing that the c172p should be removed? I just said there's a way to automate the steps that Stuart is doing manually.

[2018-06-04 07:42] edward-dauvergne commented on #1116
Oh, I thought you meant that Torsten's script does this for the release bundle, not for the permanent FGData repository sync.  Then maybe that should be asked on the mailing list.  I have a feeling thought that Stuart needs to perform a number of manual steps and checks to make sure that the sync is correct and has not included too much.  The sync involves the next branch and then again manual bac

[2018-06-04 08:44] dany93 commented on #1116
Sorry to interfere in this subject, but I read in the FGDevel mail list that Torsten has pushed a 2018.2.2 version.
I'm worried about the c172p propwash fix which was ready for being included since 29 May 2018. (master and release/2018.2).

https://github.com/c172p-team/c172p/blob/release/2018.2/c172p-set.xml
c172p-set.xml,;line 1054
`<spiral-propwash-coeff type="double">0.5</spiral-propwash-coeff

[2018-06-04 08:53] edward-dauvergne commented on #1116
It's not interfering, as this problematic situation is exactly what this issue is here to address and solve.  The change is [obviously not in the release](https://sourceforge.net/p/flightgear/fgdata/ci/5b4515f36b3a0a6df33ab4a0f16c77ba802f6826/log/).  With a git repository mirror on SF that the c172p-team pushes to (or a team member manually merges to FGData), Torsten does not need to be aware that

[2018-06-04 09:37] dany93 commented on #1116
This issue is for the mid-term.

The c172p fix is for now.

On 28 May 2018 in the FGDevel mail list, @edward-dauvergne  wrote:

You were the first asking for a fix ("a bug") and you often post in this repository.
I believed that you were aware that a fix had been pushed.

What can be done?

[2018-06-04 09:44] edward-dauvergne commented on #1116
[Cross-posting again](https://sourceforge.net/p/flightgear/mailman/message/36334015/), I was on holiday so I could not help you get the fix into the repository in time for the automated 2018.2.2 release.  In this case, an email to the FG mailing list would have helped.  However the time span of less than a week (29th of May to 4th of June) is generally not enough time for core developers to react.

[2018-06-05 05:36] wlbragg commented on #438
@HHS81 thanks.

Anyone know if the hobbs meter is illuminated?

[2018-06-05 11:18] wkitty42 commented on #438
On 06/05/2018 01:36 AM, wlbragg wrote:

all of the ones i've seen are not... in fact, you have to know specifically
where they are to even take a reading from them... none of the ones i've seen
are in aircraft, though... mostly tractors, forklifts and construction equipment
but they are all the same... two wires to provide power for the internal clock
mechanism which rotates the numbers based on m

[2018-06-05 16:46] algefaen commented on #1114
Hi @dany93, I'm planning to take our club's 172N+O-360 for a trip this weekend. I suggested I could record the movement of the ball while climbing / descending at various airspeeds, without touching the rudder. Do you have any other suggestions for useful data I could try to gather? (Note that weather is always unpredictable and might make the data less useful or force me to cancel the flight, I c

[2018-06-06 08:54] dany93 commented on #1114
Hi @algefaen that's very kind of you!

First of all, do not take any risk, do not let any thinking make yourself distracted from the piloting.

If you can, observe the full amplitude of the rudder when still on the ground, in order to memorize it and to try having an idea of your relative action later.

Please pilot as you think you should do.  When everything goes well, if you can briefly observe

[2018-06-06 16:01] wlbragg commented on #438
@gilbertohasnofb I'm wondering what key stroke if any we should use for the overhead lights, I thought of the d/D for "dome" light. However when I set it up the lowercase d key refuses to be captured by the keyboard xml logic. It is captured by the property tree event handler ( I can see when it it pressed) but the xml is not executing the event and changing the property. The uppercase D (shift +

[2018-06-06 16:37] wlbragg commented on #1023
@onox

So is this something we would do periodically?

[2018-06-06 16:40] wlbragg commented on #1023
@gilbertohasnofb I remapped the carb heat base as discussed. I was looking over your notes in this issue and went ahead and retopologized the primer base. To really get the effect we want I think it needs a new "chrome" texture as in the picture. The current dark texture won't allow us to see any of the 3D relief work.

[2018-06-06 16:55] wlbragg commented on #1111
New toggle switch ...
![primbase](https://user-images.githubusercontent.com/11069680/41053220-8f81753c-6980-11e8-8e05-66751bc89cf6.jpg)

[2018-06-06 17:15] legoboyvdlp commented on #438
I think lowercase d might be used by the walker. Only thing I can think of.

[2018-06-07 15:02] gilbertohasnofb commented on #1023
@wlbragg I am back from my trip, sorry for the silence during this last week :smile:

This is looking really great, these last commits are excellent. I will add a chrome texture for the primer base. I think the handle of the primer could also do with some small tweaks on its 3D model, see:

![](https://user-images.githubusercontent.com/423703/37675452-3db04c04-2cb0-11e8-8836-b2ee6e94988f.png)

[2018-06-07 15:04] gilbertohasnofb commented on #1111
@wlbragg I also think we need to move all of our toggles a tiny bit backwards,  looking at that photo you can see that the half which is 'in' almost doesn't stick out of the panel at all.

[2018-06-07 15:09] gilbertohasnofb commented on #438
@wlbragg I can't tell you enough how impressive your work on this issue has been, these results are really quite something!

And I thought I had corrected their xml file to make use of the better one (blue and black). The only reason we had two is that thevirtualfer was using the brown one for his interior livery, but I think that we should stick to a single one and use the black and blue. Do you

[2018-06-07 15:13] gilbertohasnofb commented on #438
Also, some nitpicking:

![image](https://user-images.githubusercontent.com/5700795/41108857-879cfc18-6a6d-11e8-88df-49cab6bbd7f0.png)

* the radio stack should also get slightly red with the dome light, right? It feels it is not illuminated at all
* same for the GPS
* there are some glitches in the yoke base and in the corner of the yoke
* all other arrows show that there is a 'mark' left by the n

[2018-06-07 15:16] gilbertohasnofb commented on #438
Finally, have we found a solution for those two issues I had brought up?:

* the North in all gauges were brighter even after they rotate (e.g. VOR, ADF, HI)
* the lights should be barely visible during daylight. We could somehow use a multiplier to this effect which takes into consideration the angle of the sun above the horizon, so that if the sun is above let's say 15 degrees the effect is set

[2018-06-07 19:52] wlbragg commented on #438
@gilbertohasnofb I don't know if your officially back but I have missed you! As always thanks you for the feedback.

You are right the radio stack and the GPS are currently not included in the light maps but will be.

We use the F key, I thought the D for dome was obvious, what about O for overhead, is it being used for anything? Although I think that is a standard for towing.

We need to document

[2018-06-07 20:07] legoboyvdlp commented on #438
One thing I noticed: the yoke doesn't seem to be lit much in the references, except perhaps the top face:

![image](https://user-images.githubusercontent.com/10434911/41123392-6e19bca8-6a96-11e8-8cdd-b00322e834fd.png)

red = what should be lit, blue = what should not be lit.

Also, the real radio gauge is not lit much:
![image](https://user-images.githubusercontent.com/10434911/41123430-88c83192-6

[2018-06-07 21:05] HHS81 commented on #438
That the Instrument panel and not the Radio panel is Lit up could be due to reflections of the pilot in front of. But is hard to tell...

[2018-06-08 14:34] gilbertohasnofb commented on #1023
@wlbragg Done, I am pushing it. There is a texture to be applied radially on the base of primer (the strip) and there is another one which is to be applied where the base meets the lever. If this doesn't make sense give me a shout:

![image](https://user-images.githubusercontent.com/5700795/41163713-5791a8b0-6b31-11e8-99b2-15327f934dc0.png)

[2018-06-08 14:35] gilbertohasnofb commented on #1023
Also, I only pushed it to the 4X-CHV livery as we might need to do a lot of work on the `panel_part` texture. Once we are done with everything I will sync all textures of all liveries.

[2018-06-08 23:45] onox commented on #1023
No, the blobs are just deleted once. After that you have to make sure to not check in any new .blend files.

[2018-06-09 04:01] wlbragg commented on #438
@gilbertohasnofb

You did, after I reexamined what was there I realized that they all were using the black/blue version. I had a naming  issue with the texture file I had to resolve to get the black/blue to be the chosen texture, all is well and correct now. It's your call on the other blue/brown texture that I combined to match the black/blue you did, we can keep it in the AI folder in case other

[2018-06-09 07:45] wlbragg commented on #438
@gilbertohasnofb here is a little bit bigger challenge for you. I decided to modify what we already had for the dome light and ceiling speaker. It is "loosely" based on some images of a c172 dome and speaker configuration. To do it right our entire ceiling would have to be retopologized. I'm obviously not prepared to do that so I did this compromise. It is obviously not an exact replication by any

[2018-06-09 08:30] wlbragg commented on #438
Added GPS, ceiling speaker to light map effect. GPS lm_gps.png needs "final editing" to cleanup some artifacts.

[2018-06-09 12:40] gilbertohasnofb commented on #438
I don't think it's worth it, the other AI is ugly and nearly all cockpit photos show the model P using the black and blue AI that I created. Let's just keep that one.

No worries. We can of course manually change the lightmap using GIMP afterwards, but to be honest that is not a big deal at all. But what I find strange is that that piece is not illuminated at all given that it should receive some

[2018-06-09 12:41] gilbertohasnofb commented on #438
Just one more thing: I think we should add 3D switches to your new ceiling model as to make them clickable instead of relying on a texture for that. Would it be too much trouble to add that?

[2018-06-09 13:55] wlbragg commented on #438
Yeah, just hadn't got there yet. I wasn't sure of what type of switch/es to use? One or two? Mechanical function, ie: two switches, or one three way like a slider switch that slides back and forth or a toggle like one of the light panel switches or a toggle like the avionics?
Go ahead an add the switch/es textures and I'll make whatever is appropriate.

[2018-06-09 15:06] legoboyvdlp commented on #438
@wlbragg
From what tigert posted back in 2016,

White roof light - like on your car, you don't really use this much in flight as you want to preserve your night vision. This is more like to lit the cabin when you enter and exit the plane and such - but of course you can turn it on in flight too. **It has the sldier switch as in the above photo**, and the light is that white plexiglass panel.

[2018-06-09 15:08] legoboyvdlp commented on #438
We can see the slider:
![image](https://user-images.githubusercontent.com/10434911/41193050-57b13f76-6bff-11e8-9da0-5e47ff594e9f.png)

I wish @tigert 's gallery was still online :(

[2018-06-09 15:14] gilbertohasnofb commented on #438
@legoboyvdlp Thanks for all the info, that's super helpful. As for tigert's gallery, I did save most of those photos on my computer (my neurosis tends to pay off in the long run) since he authorized us to use them as we wished. But he had no photos of the ceiling of the cockpit.

[2018-06-09 15:29] legoboyvdlp opened #1122 "Improve Avionics Switch and Autopilot Circuit Breaker"
![image](https://user-images.githubusercontent.com/10434911/41193248-6c3d2a84-6c01-11e8-891d-e5aa6118aa86.png)

Our current switch and breakers look like this:

![image](https://user-images.githubusercontent.com/10434911/41193271-a917b9ce-6c01-11e8-82ba-6dd94cb04d45.png)

The part which could stand improvement is

![image](https://user-images.githubusercontent.com/10434911/41193274-bbfeec74-6c01-1

[2018-06-09 15:37] dany93 commented on #438
@legoboyvdlp wrote:

These photos? [c172p-interior-photos.zip](https://www.dropbox.com/s/5bc75x87l8ezan2/c172p-interior-photos.zip?dl=0)

[2018-06-09 15:41] legoboyvdlp commented on #1023
Image of the throttle lever:
![image](https://user-images.githubusercontent.com/10434911/41193225-36355de4-6c01-11e8-8c89-e4e23808e600.png)

[2018-06-09 15:49] legoboyvdlp commented on #438
Very good, thanks!

[2018-06-09 16:15] wlbragg commented on #438
I am still not clear about the "white" dome light switches or the possible panel rheostat for the red lamp. The picture of the ceiling fixture looks like 2 switches and then there is a white object on the white dome plastic that could possibly be a switch. Are the two dark ones (circled by @legoboyvdlp ) maybe am "On" and a "rheostat" for the red lamp and the white object on the white lamps plasti

[2018-06-09 16:16] wlbragg commented on #438
@gilbertohasnofb
I need some work on the kma20...
![kma20](https://user-images.githubusercontent.com/11069680/41193752-84517858-6bd6-11e8-898e-89a243f53b3d.jpg)

[2018-06-09 16:38] legoboyvdlp commented on #438
Wlbragg, it seems to me that it is single toggle switch which I circled for the dome, and the red light does seem to be on the instrument panel knob.

@gilbertohasnofb asked a question on aviation stackexchange I think a while back so he would know more

[2018-06-09 17:04] wlbragg commented on #438
@gilbertohasnofb
One more, the toggle switch and its base are not mapped, I need a small metallic texture to map them to.

![dme](https://user-images.githubusercontent.com/11069680/41194204-510ee5aa-6bdd-11e8-9dc2-87d5e9d33793.jpg)

[2018-06-09 18:50] wlbragg commented on #438
Here is the dome lights with the radio stack and the GPS.

![fgfs-screen-014](https://user-images.githubusercontent.com/11069680/41195055-1652c9d6-6bec-11e8-8262-b67db5d1379e.png)

![fgfs-screen-015](https://user-images.githubusercontent.com/11069680/41195056-1670af46-6bec-11e8-89a5-6e125a562fe8.png)

[2018-06-09 20:05] legoboyvdlp commented on #438
The compass seemed to have been missed out:
![image](https://user-images.githubusercontent.com/10434911/41195620-e38f0c8e-6c28-11e8-9aaf-c6c78e209e5f.png)

[2018-06-09 20:10] callahanp commented on #438
The black ring in question is there in the KI225.  Its actually several
rings of black material  at 90 degrees to the plane of the dial.  Part of
the top of the ring is actually white, but you never look at one of these
from that angle unless its on your repair bench.
There is a Compass rose assembly, with White points not red.  There are
small points at 45, 90, 135, 180, 225,270 and 315 start and

[2018-06-09 20:41] wlbragg commented on #438
@legoboyvdlp the compass has all the effects applied. It is at the limit of the red lamp but you can see the red glow slightly, you can see the white lamp effect on it more pronounced as it is covering a larger area. This last picture doesn't have the panel light on, maybe that is why you think it doesn't have the effect applied?

[2018-06-09 23:18] gilbertohasnofb commented on #438
@wlbragg Wow, I just tested it in the sim for the first time and I just can't believe how good this looks! I am absolutely astonished... you are a magician.

As for the textures that you were asking me, I will work on all that and push soon.

About the lights knobs and switches, it seems that they work like this (using tigert's information as well as the POH and the feedback we got in https://avia

[2018-06-09 23:29] gilbertohasnofb commented on #438
@wlbragg I know you said not to bother with artifacts but I just wanted to list some of them here together with other issues I found. In particular, I would disable the throttle, mixture and carb heat levers when baking the panel light map (though they need their own light maps as well) since their shadows remain fixed and break immersion IMO. I also found an issue with the AIS, the texture is wro

[2018-06-09 23:31] gilbertohasnofb commented on #438
@wlbragg Oh, one more thing but very low priority at the moment: I think we need to make the red ad white dome lamps bright when they are on. Do you think we could achieve that by hacking the light map using GIMP once we are done and make those areas veeery bright?

[2018-06-10 00:45] gilbertohasnofb commented on #438
@wlbragg kma20, dme and overhead panel are done and pushed. The overhead panel still need some work though, would you be able to bake me an AO map for the panel_parts so that I can apply it to the overhead only?

Here is how the texture looks like:

![image](https://user-images.githubusercontent.com/5700795/41197256-583255e8-6c4f-11e8-9ccc-357cb622a260.png)

A should be used for the on/off toggle

[2018-06-10 03:32] callahanp commented on #1111
I wish I could get shots like that straight on with a small ruler in the
picture.
This one is good for the view from the side, but straight on would be good
for grabbing measurements.

I've been looking at pics and estimating, based on positioning a straight
line through the instruments to the lower panel, but accurate positioning
is problematic

On Sat, Jun 9, 2018 at 11:20 AM Jonathan Redpath <n

[2018-06-10 20:45] wlbragg commented on #438
@gilbertohasnofb

Yeah, me too. I was really worried early on that this may not come out as nice as it is, especially for the amount of work involved, but I am pleasantly surprised. It's all about organization, fortunately, this project was not too far off from the start which made things somewhat easier. It helps to know going into a project what effects your going to apply later on down the line

[2018-06-10 20:52] wlbragg commented on #438
@callahanp thank you again for the details. I don't know if you have looked at any of the instruments meshes we are using, but you'll find they are very simple mesh wise. I don't envision going into great detail mechanically with any of them and that has to do more with the overhead of such complexity on the sim. But we certainly want to "fake" it well enough that it looks and acts like the real t

[2018-06-11 00:27] wlbragg commented on #438
@gilbertohasnofb  I hope you can get what you need from this. I still need to add the switches though which will change the AO some. But this is what they are looking like with a few different settings.
![lm_panel-partsao](https://user-images.githubusercontent.com/11069680/41208048-24e3ae0e-6ce4-11e8-8201-0c59c2a1211b.png)
![lm_panel-partsao1](https://user-images.githubusercontent.com/11069680/412

[2018-06-11 06:59] gilbertohasnofb commented on #438
It also seems a bit odd to me but it looks like that's how it works. Let's implement this this way and later on we can modify the behaviour if any pilots report this being wrong.

I don't think it will have an ON/OFF toggle, just like the panel light and the radio lights do not have such toggle. From what I understood, you simply twist the knob and that light will turn on (intensity proportional t

[2018-06-11 07:09] gilbertohasnofb commented on #1122
@legoboyvdlp The disposition and look of the circuit breakers vary wildly from aircraft to aircraft, with each of my reference photos of the model P having a different layout. We did use some specific reference for the breakers but I can't remember where from. But I am fine with the current autopilot breaker.

That would look prettier, though if you look closely the hole is represented in the text

[2018-06-11 07:13] gilbertohasnofb commented on #1111
@wlbragg I just had a look on what we have in our working branch but the toggles are still not fixed, see:

![fg](https://user-images.githubusercontent.com/5700795/41217203-0f750eb2-6d4f-11e8-91eb-53ca8b5c2e3c.jpg)

1) the green mark shows that the toggles are still sticking out too much. They should stick out perhaps half or even a third of that

2) the ON position is not symmetrical to the OFF p

[2018-06-11 07:30] legoboyvdlp commented on #1122
It might be rather difficult to do it without issues, but if it is possible it would be nice :)

[2018-06-11 08:31] wlbragg commented on #438
@gilbertohasnofb

That can't be right because now anytime you adjust the radio intensity you will turn on the red light?

NOTE: I pushed some fairly major changes to the panel instruments. Let me try to explain what I did.
First I combined and remapped the dme and ki266. I got really tired of having to take extra steps to make the light map work for those two separates instrument parts. This requi

[2018-06-11 09:02] gilbertohasnofb commented on #438
Yeah, I'm a bit confused by this as well in particular since the wording in the POH couldn't be worse and less clear...:

[code]

But reading tigert's original comment has shed some light on the issue (pun intended):

So here is my newest theory:

* RADIO LT knob controls the radio readout lights and AP button lights exactly as we have implemented
* RADIO LT also controls the intensity of the red

[2018-06-11 18:17] wlbragg commented on #438
Oh, no, this is a disaster on my end. I was tired last night and in a hurry to get thing committed and pushed because I had done so much and the commit as getting enormous. Some how a git stash failed when I tried to pick up your ao work. Only a small portion of the intended commits got committed and put me in a state that lost a entire day (or two) worth of major work.
I am sick to my stomach!
@o

[2018-06-11 18:21] gilbertohasnofb commented on #438
:sob: :sob: :sob:

[2018-06-11 18:34] wlbragg commented on #438
I think were OK, it was in the git stash list. I'm trying to restore it and fix it now.
time passes...
I have it on my local git so I think I will be able to fix this.

[2018-06-11 18:36] gilbertohasnofb commented on #438
Oh fantastic, I was scared there for a second. Please do copy the correct files to a neutral folder outside your git folder before doing anything else just to ensure they are back up.

[2018-06-11 18:52] wlbragg commented on #438
No, not the right one, I was hopeful, It was an older stash. I'm screwed. I just don't know enough about git. I need a pro to have any hope!

[2018-06-11 19:02] wlbragg commented on #438
:broken_heart:

[2018-06-11 19:53] wlbragg commented on #438
@gilbertohasnofb please forgive me if my tone comes through as short and terse. I am ready to move on and not dwell on this, it's gone and I want to move forward.
I'll take a deep breath and allow you to do your texturing magic and I will concentrate on the mesh. I only did any of the texturing work yesterday because I wasn't sure if you had the time to deal with it and I was on a roll with the me

[2018-06-11 20:59] wlbragg commented on #438
DEM and KI266, I made a single texture sheet 512x512 out of
display.png
dme-background.png
ki266.png
dme.png
This was necessary because the dme portion had no background to cat a shadow on and the ki266 needed 6 files for the lm effect because of all the textures.

kap140
![kap140](https://user-images.githubusercontent.com/11069680/41256140-5c94114a-6d8e-11e8-85a3-b1aea797bc65.png)
The mapping was

[2018-06-11 21:03] gilbertohasnofb commented on #438
Oh man, I really feel for you, I really do. But it's great you are so set into moving forward, let's just keep working!

I totally understand it. If you ever need to do this that is fine, but later I will need to recreate your modifications in the xcf file. But that's all good.

Gotcha.

I will do that for you.

What image? I see no green or purple or blue in the image above. Did you forget to upl

[2018-06-11 21:04] wlbragg commented on #438
@gilbertohasnofb One thing I need to fix is that last commit I pushed to interior-updates, do you know the best way to back it out? I would leave it but the description doesn't match the commit.

[2018-06-11 21:05] wlbragg commented on #438
You must be hallucinating, I can see it, NOW!

[2018-06-11 21:12] gilbertohasnofb commented on #438
Haha I certainly must have been hallucinating, it's all very colourful now :smile:

I think you need to use `git rebase` in order to change a commit message, but I never did that myself. @onox are you familiar with this?

[2018-06-11 21:53] onox commented on #438
You want to remove the "Save lm blend, radio stack..." commit?

[2018-06-11 21:54] onox commented on #438
Or just modify the commit message?

[2018-06-11 21:57] wlbragg commented on #438
@onox  I want to remove it!

[2018-06-11 21:58] onox commented on #438
And do you want to keep the changes of that commit in your stage or really completely throw away all the work you did in that commit?

[2018-06-11 22:00] wlbragg commented on #438
I can get rid of it, It's nothing.

[2018-06-11 22:01] onox commented on #438
Then you can do `git reset --hard HEAD~1`. (`--soft` to put the changes in your stage)

[2018-06-11 22:01] onox commented on #438
I'm assuming your `git status` is empty at the moment.

[2018-06-11 22:03] wlbragg commented on #438
Thanks!

@onox let me ask your opinion, here is what I think I did.

I think I committed a major amount of work and then amended that commit with a small stash I had restored. Is that original commit before the amendment gone? That was all local.

[2018-06-11 22:06] onox commented on #438
Normally it's gone if you amend the last commit, but you might find remnants in the .git folder via `git fsck`.

[2018-06-11 22:10] wlbragg commented on #438
It can be, I actually had the lm.blend and one of the instruments (vac.blend) open in blender in their last know states so I quickly saved them so as not to lose any of that progress.
I can get my local to the state I need it to be for your instruction, thanks.

I have a bunch  of
dangling blob 73005346a5f72b50eda05eb67a629767201094b0
dangling blob 2204eb8bcfa2f5f204e926aeb0bc4dd4b666a0f3
dangling

[2018-06-11 22:11] wlbragg commented on #438
Best way to access any of that?

[2018-06-11 22:12] onox commented on #438
`git log -p the-commit-id`.

[2018-06-11 22:12] wlbragg commented on #438
What if I just want to modify the commit message, that actually would be better.

[2018-06-11 22:14] onox commented on #438
If you just want to modify the message of the last commit you can do `git commit --amend` (assuming your stage is empty)

[2018-06-11 22:44] gilbertohasnofb commented on #438
@wlbragg I am starting to work on those textures but I won't be pushing anything until you give me green light, ok?

[2018-06-11 22:47] gilbertohasnofb commented on #438
And one more thing, I think the fuel and oil rectangular gauges should also be a bit recessed right?

[2018-06-11 23:14] gilbertohasnofb commented on #438
I am done with the textures but I will wait for you to confirm I can push. I decided to add a dark metallic texture to all gauges which should be mapped to the recessing part. Here is the full list:

AI: updated the black square in the bottom left corner to a dark grey metallic texture
alt: added a square to the bottom right corner
asi: bottom right corner
BatteryGauge: top right corner (note the

[2018-06-11 23:18] gilbertohasnofb commented on #438
And I spotted one small thing that you missed: the background of the ADF gauge should be UV-mapped to that dark metallic texture written `ADF` on it, just like before. Right now the background is fully black.

[2018-06-11 23:24] wlbragg commented on #438
Yeah go ahead and prepare those as well.

Yeah as soon as I clear my last commit you can push.  I'll do that now so I have your textures to start working again.

[2018-06-11 23:33] wlbragg commented on #438
OK @gilbertohasnofb it's ready for you to push.

[2018-06-11 23:35] wlbragg commented on #438
Oh, and thanks!

[2018-06-11 23:44] gilbertohasnofb commented on #438
Done and pushed. Notice that I had to rename the AI texture from `AI1.png` to `AI.png` in the file `AI.ac` as I deleted those two older textures (for some reason they reappeared again). Also I merged all textures of kap140 into a single one, there is no need for 3 textures with so much empty space, but that will require some more UV-mapping. Please do test if everything looks fine with the branch

[2018-06-11 23:51] wlbragg commented on #438
From what I just checked it all looks good. I'll let you know if there needs to be any more changes, thank you!

[2018-06-12 07:03] wlbragg commented on #438
Here is the first row of instruments with the recessed case. Hopefully you can judge its effectiveness from this image.

![fgfs-screen-001](https://user-images.githubusercontent.com/11069680/41274840-79d5c70c-6de4-11e8-83ad-66a4bf8df11d.png)

[2018-06-12 09:21] gilbertohasnofb commented on #438
It is such a subtle difference but it looks so much better in my opinion. I think this is totally worth the trouble!

[2018-06-12 11:54] wlbragg commented on #438
Yes, my thoughts exactly. It's subtle but it makes the difference between being finished and unfinished. I used a material setting that the AI was using this time around and I don't think I like it as well as the first round I made. You can't see the face shine like I remember from the first ones I did. The material setting is the only difference so I think I will change that as it was more effect

[2018-06-12 20:06] legoboyvdlp commented on #438
Its working now :)

Anyway, I noticed fized shadows on the switches below the yoke as well, which looks strange when you move them. Other than that, outstanding work. :+1:

[2018-06-12 22:33] wlbragg commented on #438
Grrrrr, almost everything you both mentioned I had already addressed before my screw-up. I was so excited to get it posted as I had accounted for most of those issues on my own and it was looking really good with all that stuff corrected.
I am now in the process of finishing the recessed cases, then I need to make the overhead switches and logic. Finally I will go through all our defect and artifa

[2018-06-12 22:37] gilbertohasnofb commented on #438
No rush, mate! We will get back there and once we have the final results I am sure you will quickly forget about the lost work.

I realized that that wasn't necessary for the light map, but I also know from conversations with Heiko that minimizing the number of texture files will always improve performance, which is why I decided to merge all those three textures into one. If it's too much trouble

[2018-06-13 01:52] wlbragg commented on #438
I did, only the digits are separate. I'll take another look at them and if I can figure it out easy enough I try it. It's one of those textranslates and I hate messing with those.

[2018-06-13 01:54] wlbragg commented on #438
The knobs are supposed to have shadows but not on the top, they should be underneath. I'll take a look at it.

[2018-06-13 02:03] wlbragg commented on #438
Hum, it is mapped to it...
![adf](https://user-images.githubusercontent.com/11069680/41326330-1d0f19ba-6e84-11e8-92e8-8e82ce5dd7e1.png)

[2018-06-13 07:06] wlbragg commented on #438
OK gang, what you see is pretty much the finished product. I think there is some light intensity modifications still needed. I still have the overhead light switches and code logic to do. More than likely you all notice some touch-up work needed on the light maps.
Shoot, I forgot to mention in the commit message that there was a regression correction to both vor's, they both had regressed to the b

[2018-06-13 07:16] wlbragg commented on #438
Some bugs I already noticed..
Both VOR's and the HI not bright enough in the light map.
Some inconsistency in some of the recessed case lighting.
Possible color issue on the TC's ball tube.
The youks could stand some tough-up.
GPS button face needs cleaned up again.

[2018-06-13 08:58] dany93 commented on #438
Once more, thumbs up for your work. I'm impressed...

I never understood what the issue is with this slip-ball tube, but there has been for a long time an issue with it. I tried to make it _less bad_ but with a very partial effect (my poor knowledge of Blender and the textures). Its transparency is sometimes approximate, it can seem dirty, the ball disappears from particular view angles...
See pic

[2018-06-13 09:31] gilbertohasnofb commented on #438
@wlbragg If you don't think this is worth it I am happy to remove the digits from the main texture and re-add the digits one.

I should have phrased it differently: it is mapped but not properly as it should have the ADF text to it. It should look like this:

![](https://www.picclickimg.com/d/l400/pict/381742138427_/Cessna-ARC-IN-346A-ADF-Indicator-pn-40980-1000.jpg)

and:

![image](https://user-i

[2018-06-13 17:06] wlbragg commented on #438
Oh, I saw that and wondered why the text was there and not mapped.

[2018-06-13 19:57] wlbragg commented on #438
[code]

[2018-06-13 20:05] wlbragg commented on #438
One more thing, I don't like the intensity of the panel recesses day or night. @gilbertohasnofb you've brought this up for daytime, I don't like it at night either. I would like to see it softened ever so slightly at night. What I would really like is to have it delayed by a half step on increasing in intensity as the instrument lights are turned up. I'm just not sure of how I am going to do this.

[2018-06-13 20:27] wlbragg commented on #438
Oh, almost forgot. Somethings been bugging me for a long time. Did you ever notice some of the instruments you could see in the dark yet others you couldn't. Well there is an argument against pooled or shared resources. It was really quite simple to correct, yet has a bug impact at night. For the first time ever, when your in the dark, your really in the dark. You loose power and you don't get to

[2018-06-13 20:47] wlbragg commented on #438
@gilbertohasnofb
I looked at that again and now why I didn't want to do it. There are approximately 5X5 digits mapped to that strip which wouldn't be an issue if all I had to do was to move the mapping. But because we're going from a 256X64 texture to a 512X512 the proportions of the mappings are off and each one not only has to be moved put also sized. Way more than I want to do to get rid of an

[2018-06-13 22:31] wlbragg commented on #438
I'm working on the gps, almost done but I can't get any of the gps "text" objects to submit to a material animation controlled by the instrument lights. They refuse to be affected by it and glow as if their rgb emit values are always 1.
Any ideas as to what may be the issue?

Also I don't or can't get the material effect code to behave the same way as the radio stack does. Specifically where when

[2018-06-14 01:31] wlbragg commented on #438
OK, some more confusion on the red dome light. Does that light (and the white dome light) tie into either the master alt and batt switch an/or the avionics toggle. The reason I ask,especially about the "avionics" toggle is this. If we tie it into the batt and alt switch then it is as all other electrical circuitry, which I think is correct. However, if we don't tie it to the avionics, then in theo

[2018-06-14 02:17] wlbragg commented on #438
Someone did something strange in the electrical circuitry with the aircond, anyone remember using it for something?

[2018-06-14 03:07] wlbragg commented on #438
Anyone care if I use the spot reserved for the air conditioning for the cabin light breaker? Can we use the same breaker for both lights being on the same circuitry?
![breaker](https://user-images.githubusercontent.com/11069680/41389390-3a0ec48e-6f56-11e8-8572-3f6f664cb2a1.jpg)

[2018-06-14 04:27] wlbragg commented on #438
I went ahead and added the dome lights breaker. It is using the empty Air Cond slot. I didn't check to see how the labels are created, @gilbertohasnofb maybe you can take care of that?

Also I added the dome switches and slider. They need some more texturing for their bases. The red light switch needs something similar to the white switch base and the slider needs a simulated slot for the knob or

[2018-06-14 04:33] wlbragg commented on #438
The electrical logic is all done. For now the only keyboard access is Shift+d (D). It toggles through
1 = red
2 = white
3 = both red and white
4 = off

Here is the lighting with both lights on at the same time, something we hadn't seen yet.

![fgfs-screen-008](https://user-images.githubusercontent.com/11069680/41391734-1038e3e0-6f62-11e8-95e8-e3180385fe49.png)

Including the Panel lighting.

![fgf

[2018-06-14 06:06] wlbragg commented on #438
@gilbertohasnofb

Why did you name it to only AI instead of AI1? All the liveries refer to it as AI1 and the Blender files were as well. I think that is why I am getting the (harmless) errors in the log file

[code]

[2018-06-14 12:42] wkitty42 commented on #438
On 06/13/2018 09:31 PM, wlbragg wrote:

think about the dome light in your car... i have a '79 Toyota Celica... the dome
light is in the ceiling... it has a slide switch to set the light off all the
time, on all the time or on when a door is open... apparently it is tied
directly to the battery since it works any time with or without keys or other
switches being turned on...

i haven't seen anyone

[2018-06-14 12:44] wkitty42 commented on #438
On 06/13/2018 11:08 PM, wlbragg wrote:

i failed to include the breaker in my previous... it adds another hop right
after the BATT... BUT it is possible there is no breaker for the lights... i
don't recall if there was a fuse for my dome light in my Celica or not...

[2018-06-14 14:07] wlbragg commented on #438
Thanks @wkitty42 I would hope there is a bit of a difference between a cars electrical systems and an aircraft. I was hoping for something a little more definitive. Maybe we can get a current pilots opinion on this. I hate guessing, my guess is that it is tied in to the alt and batt and also has a fuse.

[2018-06-14 15:23] gilbertohasnofb commented on #438
Hmm. How would you like to proceed? If you'd like I can simply try to improve the light map of the yokes using GIMP once it's in the final stage as a major rework of the texture sheet sounds very scary.

Hmm, I think you are wrongly thinking that the GPS is connected to the aircraft somehow. This model is not, this is a handheld model and it shouldn't be connected to the electrical system nor any

[2018-06-14 15:43] gilbertohasnofb commented on #438
@wlbragg about the slider and toggle for the dome lights, I am the one that inverted the texture.... :sob: I will push a fix but that means that you might need to reposition them a bit to match the new texture. What do you think, should I go ahead and do that?

Also, this might shed some light on the electric part of it. I found a thread about courtesy lights, which are two lamps under the wings a

[2018-06-14 16:36] HHS81 commented on #438
@gilbertohasnofb  i would sag very like the c182s

[2018-06-14 16:39] dany93 commented on #1116
If I understand well (I hope, please check...)

James will merge this change.

[2018-06-14 17:44] algefaen commented on #1114
Hi, when climing at 60kts it feels like I have to use a lot more right rudder in the real plane than in flightgear... Even with the propwash coefficient set to 1.0. Maybe the propwash is ok but that we ought to have more p-factor.

During the take-off-roll, the initial need for a large input (as you noted) doesn't seem to be that necessary, maybe there's more inertia and friction in the real world

[2018-06-14 18:52] legoboyvdlp commented on #438
@wlbragg
Hi,
I have the POH of the 1982 172P here, and this is what it says:

![image](https://user-images.githubusercontent.com/10434911/41431418-be384352-700a-11e8-8723-9994c5b9591a.png)
![image](https://user-images.githubusercontent.com/10434911/41431424-c6a2498e-700a-11e8-8e88-75b3e5cb5899.png)

So what I gather is that:
**Red Lamp**
- red light and post light (which we can assume is not insta

[2018-06-14 19:07] legoboyvdlp opened #1123 "Enhance Electrical System"
While this probably ties in with an earlier issue, it would be good to actually simulate the electrical buses etc, and connect the various circuit breakers to the appropriate bus. The electrical system is quite simple. I'll post the relevant POH below.

[2018-06-14 19:09] legoboyvdlp commented on #1123
![image](https://user-images.githubusercontent.com/10434911/41432767-d853c474-700e-11e8-947e-fd258eba03ce.png)

**Avionics Bus:**

![image](https://user-images.githubusercontent.com/10434911/41432665-9ee6911c-700e-11e8-9529-e4e0e8f79333.png)

![image](https://user-images.githubusercontent.com/10434911/41432694-b1b2adee-700e-11e8-93ce-d13fd40f3041.png)

[2018-06-14 19:11] legoboyvdlp commented on #1123
![image](https://user-images.githubusercontent.com/10434911/41432822-00708c6c-700f-11e8-9524-da897c77e32b.png)

![image](https://user-images.githubusercontent.com/10434911/41432839-0e0e3950-700f-11e8-9ba2-432836440921.png)

![image](https://user-images.githubusercontent.com/10434911/41432851-1819da44-700f-11e8-91cf-a8445a40405b.png)

[2018-06-14 19:22] legoboyvdlp opened #1124 "Add Digital Clock"
![image](https://user-images.githubusercontent.com/10434911/41433445-eb537de2-7010-11e8-9bdc-2f3746d3ece7.png)

![image](https://user-images.githubusercontent.com/10434911/41433353-8eef1d18-7010-11e8-862c-71c9119476b4.png)

![image](https://user-images.githubusercontent.com/10434911/41433343-8677e7e6-7010-11e8-9df2-a9f2d0e77bed.png)

The POH of the C172P that I have has a description of a digital

[2018-06-14 19:30] legoboyvdlp opened #1125 "Add Ground Service Plug (electrical system)"
- merge with #1123

[2018-06-14 19:31] legoboyvdlp commented on #1123
**Ground Service Plug (electrical system)**
This is an external power unit, an optional addition.
This will involve adding a placard to the aircraft:
![image](https://user-images.githubusercontent.com/10434911/41433646-77e846b6-7011-11e8-8724-748fc7bbdbba.png)

adding a 3D model to the cowling:

![image](https://user-images.githubusercontent.com/10434911/41433682-92533592-7011-11e8-91a7-9739dbdef4

[2018-06-14 19:38] callahanp commented on #1114
Could the aircraft be responding to a change in position of the control
surfaces as if they had zero mass, or as if the forces on them did not
exist?  I'm not saying that the flight model is wrong in any given control
position, just that the response of the aircraft to a change in a control
input is never instantaneous.  You have to actually move the surfaces from
one position to another and that

[2018-06-14 20:31] #1125 closed

[2018-06-14 20:42] wlbragg commented on #1124
@legoboyvdlp thanks for the detail, we have this in the works somewhere, we're going to use canvas for it. I started on it but got distracted on other stuff. You might search the issues for a duplicate of this?

[2018-06-14 20:47] wlbragg commented on #438
@gilbertohasnofb

Already done, looks much better.
I think I pushed the red already, will push the white later.

Looks like dome lights are ties to the buss and breakers...
![dome](https://user-images.githubusercontent.com/11069680/41437485-33fb1202-6fea-11e8-983c-532709adc21c.jpg)

I will comment on all your other information later this afternoon.

[2018-06-14 20:51] wlbragg commented on #438
That is exactly how I guessed it to be, other than i used the wrong fuse. I'll change that of course.

[2018-06-14 20:58] wlbragg commented on #438
The GPS I tied to the Avionics. Certainly could be wrong! However, in a case such as this there may be more than one be way to skin a cat. I could very well envision a pilot adding this equipment "permanently" and tying it into the aircrafts electrical circuitry. With that said, if it is trully hand held and what, "battery operated" I will make that change. I would like to try to get some more inf

[2018-06-14 21:05] wlbragg commented on #1114
@algefaen thank you so much for this detail, we really want to make this simulation match the real thing as closely as possible. You input here is of immense value to us, thanks again!

[2018-06-14 22:49] gilbertohasnofb commented on #1124
Do we? I don't recall that. What we recently spoke about using Canvas for was regarding the thermometer, not digital clock.

[2018-06-14 22:51] gilbertohasnofb commented on #1123
@legoboyvdlp thank you so much for the screenshots of the concerning passages, these help immensely!

[2018-06-14 22:56] gilbertohasnofb commented on #438
@wlbragg yep, I just tested them in the sim and they look so much better, particularly the red. Thank you so much!

Oh man, I don't think this is really possible, again this is a handheld battery operated device.

I had sent you the link to the original owners manual, here is the link again (from Garmin's own website): www.garmin.com.ua/manuals/air/GPSMAP196_PilotsGuide.pdf

They define it as a `p

[2018-06-14 23:08] gilbertohasnofb commented on #438
@wlbragg Actually nevermind the last comment on my post above, I did manage to make it look good using only textures, I am pushing it in a second

[2018-06-15 03:50] wlbragg commented on #1124
Oh, ya, your right. My brain is turning to mush. I confused the two.

As far as replacing it, I would be against that idea. But as an option, I would be totally for it!

[2018-06-15 04:02] wlbragg commented on #438
@gilbertohasnofb by all means, do what you think is the correct fix for this. It is nothing on my end to reposition any of that mesh. With that said, I'll review what you did and adjust accordingly.

GPS

No problem, I'll remove the tying to the avionics and turn it into a stand alone as before. I'll also review the documentation you suggest and see if i can figure out how the night mode is suppos

[2018-06-15 04:46] wlbragg commented on #438
@gilbertohasnofb absolutely, well add them.

[2018-06-15 08:22] wlbragg commented on #438
—Allows you to connect the unit to the electrical
system using the bare wires.

@gilbertohasnofb from page 108, (actually pg 100) of the GPS Pilots Guide, under optional accessories. It looks to me this can easily be hooked up to the electrical system. I need to keep reading though to see exactly what this is. I was thinking maybe the lighter port, but "bare wires" lead me to believe it is or can

[2018-06-15 09:27] wlbragg commented on #438
GPS is now standalone with "night mode". On button toggles On/Night Mode/Off

[2018-06-15 09:36] legoboyvdlp commented on #438
@wlbragg there is an accessory available here which connects it to the lighter:
![image](https://user-images.githubusercontent.com/10434911/41461483-be293a9c-7087-11e8-9b77-9df71c4449d6.png)

But as you say, you can connect it with bare wires:

![image](https://user-images.githubusercontent.com/10434911/41461529-ddfc84be-7087-11e8-815d-4f1591319507.png)
It says _Hard wire your Garmin GPS to a DC p

[2018-06-15 13:36] gilbertohasnofb commented on #1124
@wlbragg I agree. All aircrafts of the model P seem to come with an analog clock on the left side of the AIS just like we have in ours. Some owners seem to add an extra clock in particular as to use a chronometer for navigation. The absolute majority of all photos I have of cockpits of the model P only show the analog clock. OH-CTL is one exception with an old style chronometer:

![image](https://

[2018-06-15 13:41] gilbertohasnofb commented on #438
Yes, you are absolutely correct that using a cable is an option, I did not read the whole manual, I just look for the batteries part in the very first pages and once I found that quote and the diagrams showing the battery compartment I thought that was it. So in the end it's up to you, but for the sake of simplicity we could just have a battery operated GPS as 1) that would not require any changes

[2018-06-15 14:15] gilbertohasnofb commented on #1100
@wlbragg Here is an idea: what if we put the GPS model inside the glove box when it's not being used? And then clicking on it while inside the glove box would add it to the panel and clicking back in the empty glove box space would put it back there? (that is, the interior of the glove box would be a large click spot). Just an idea of making use of the new feature :smile:

[2018-06-15 15:05] wlbragg commented on #1100
Yes, great idea! Now we actually get to use our glove box.

[2018-06-15 15:08] wlbragg commented on #1100
I can copy only the shell as a new model and use that for inside the glove box.

[2018-06-15 15:11] gilbertohasnofb commented on #1100
@wlbragg Great! I think this sounds like a fun feature :smile:

That sounds like the best approach. The question is how to put the GPS back in the glove box, as I don't think that should be done by clicking on the gps itself in the panel but rather in the empty space in the glove box somehow.

[2018-06-15 15:16] wlbragg commented on #1100
What about a we make the interior shell of the glove box an object.
We also make the model of the GPS and another copy of the interior shell of the glove box another separate object. Then we can use, or toggle, a select animation on the two different models with their ow tool tips, one saying something like "Clik to mount GPS" and the other saying "Click to put away GPS".

[2018-06-15 15:18] gilbertohasnofb commented on #1100
That sounds excellent!

[2018-06-15 15:19] wlbragg commented on #1100
If you are understanding and want to write the animation I can do the modeling. We just need to know the name of the two objects, how about GPSMount and GPSUnmount?

[2018-06-15 15:20] wlbragg commented on #1100
It's simple enough I can do the code if you have no time.

[2018-06-15 15:21] gilbertohasnofb commented on #1100
Sure, I can deal with the animation, that should be just a few lines of xml. Could you please let me know once the two objects are pushed to the branch?

[2018-06-15 15:21] gilbertohasnofb commented on #1100
I will leave in around 1 hour so if we have this done soon I can do it straight away or I can code that later in the evening. But also feel free to do the code, I don't mind either way :smiley:

[2018-06-15 15:28] wlbragg commented on #1100
The empty glovebox is already called "glovebox", so it will be glovebox object to close and I'll name the gps+glovebox shell gloveboxfull

[2018-06-15 15:53] wkitty42 commented on #438
On 06/15/2018 04:22 AM, wlbragg wrote:

the hand-held GPS i use in my truck (GARMIN NUVI) uses the lighter socket for
power... if could easily be used in an aircraft...

if a device has bare wires, one can, in real life, put a lighter plug on it for
use in a lighter socket...

if a device has a lighter plug, one can, in real life, remove that plug...

with bare wires, one can connect the wires dir

[2018-06-15 15:58] gilbertohasnofb commented on #1100
@wlbragg Hmm, the thing is that I don't feel comfortable pushing a code before I can test it, so I would need the `gloveboxfull` object to make sure all is right. Else there is the danger we need to do a `rebase` and that's always unpleasant.

[2018-06-15 16:16] wlbragg commented on #1100
I'll go ahead and do the code. I just finished with the modeling. It's only a few lines, two select animations. If your around in a couple minutes you can check it out.

[2018-06-15 16:18] wlbragg commented on #1100
Well actually a little more complicated as we have to tie in the real GPS display logic.

[2018-06-15 16:21] gilbertohasnofb commented on #1100
I think we just need to make sure that whenever we click on the `glovebox` object, the GPS is set to OFF before being hidden away and replaced by the gps model inside the box. That GPS model could be a second object which has no screen and whose buttons do not work, since it will be inside the box and we don't want those clickspots and everything.

[2018-06-15 16:29] gilbertohasnofb commented on #1100
Let me think about that, I will see if I find a simple subtle sound which
could also be used for the control lock. We could also have a sound for the
checklists, a bit like the sound of flickering pages on a book. I will see
what I can come up later

On Fri, 15 Jun 2018, 17:24 wlbragg, <notifications@github.com> wrote:

[2018-06-15 16:37] wkitty42 commented on #1100
On 06/15/2018 12:29 PM, Gilberto Agostinho wrote:

record the thump sound heard when easily tossing a cell phone into an empty
glove box in a car... it should be "close enough" ;)

as above, use the click of the knob of the car glove box when opening it and the
thump click sound when one closes the glove box... they should also be "good
enough" :)

that might be cool...

[2018-06-15 20:23] legoboyvdlp commented on #35
Close after merge of #1103?

[2018-06-16 17:33] gilbertohasnofb commented on #1100
@wlbragg I love what you did with the GPS. I will work on the sounds.

[2018-06-16 17:34] gilbertohasnofb commented on #35
I think the instrument lights are still way too strong during the day. The dome lights are very faint which looks good. If we improve that then we could add this issue to the list of fixed stuff on that PR.

![fg](https://user-images.githubusercontent.com/5700795/41500987-bd7c5b26-7193-11e8-8282-e2d3f396dffc.jpg)

 @wlbragg would you consider that idea I floated of somehow lowering the intensity o

[2018-06-16 17:36] gilbertohasnofb opened #1126 "Small sound improvements"
Add sounds to:

* clicking on the checklist
* glove box open/close
* GPS mount/dismount
* control lock on/off

[2018-06-16 18:29] wlbragg commented on #35
Yeah, absolutely, I think i even know what property to use.

[2018-06-16 18:32] gilbertohasnofb commented on #35
Excellent, thank you!

[2018-06-16 18:50] wlbragg commented on #35
I think your going to like this, pushing now. Let me know if you think it needs adjusting.

[2018-06-17 10:39] dany93 commented on #1114
Thank you @algefaen for this report.

The P-factor is an issue, more than I thought. After my tests, it seems  that it has almost no effect in FG, whatever the set value in the propeller file. I'm waiting for confirmation (or not) of this by other users. Hopefully... Unfortunately, it seems that this feature is almost ignored by the aircraft developers.
I'm in contact with the JSBSim-Team.
https:/

[2018-06-18 17:37] wlbragg commented on #438
@gilbertohasnofb @legoboyvdlp the more I think about it the more I realize we need to try to keep our discussion in the thread where appropriate. It makes it hard to see the commits in the pr thread when we discuss other issues that don't pertain to the mechanics PR specifically. I'm thinking of @onox when he has to try to decipher things or reviewing commits. Also for us when we are trying to see

[2018-06-18 17:41] gilbertohasnofb commented on #438
You're right but sometimes it's difficult to say if something belongs to a PR discussio or not, and often the topic evolves slowly into something else. But in principle sure. Also do note that you can have a view of the commits only from oldest to newest: https://github.com/c172p-team/c172p/pull/1103/commits

If you manage to fix it by moving the UV-mapping without breaking some of the interior li

[2018-06-18 17:46] wlbragg commented on #438
Sorry, that was more thinking out loud than anything. Looking at the texture I can move it to a spot right above the AO area for the shadow it creates and make use of the AO on the bottom of the armrest. It will be out of the seat shadow as well.

[2018-06-18 17:57] gilbertohasnofb commented on #438
Sounds good. Try that and I can test it here on all liveries.

[2018-06-18 18:40] wlbragg commented on #438
@gilbertohasnofb I need you to move the logo and image down on the texture.
![egt](https://user-images.githubusercontent.com/11069680/41555390-2b46b038-72fd-11e8-9e14-e9fb1391da9a.jpg)

[2018-06-18 18:52] gilbertohasnofb commented on #438
@wlbragg Ok I moved it down, just pull it on your side.

As for the arm rests they look better without shadow but they have some weird UV-map now (pink below). Also their colour seems to have changed a bit? They used to match the door (green below):

![fg-1](https://user-images.githubusercontent.com/5700795/41555887-f8e3c818-7330-11e8-8a00-ab90630685bc.jpg)

Also, one of the liveries got a problem

[2018-06-18 19:38] wlbragg commented on #438
Thanks

The weird (pink) stripes are because of mapping angle. Below note how the top portion (where your arm would rest)  the part that looks (pink and striped) is because the angle of the mapping face isn't able to pick up but a sliver of texture. I mapped it that way because its shape fit the shape on the texture better.

![ar1](https://user-images.githubusercontent.com/11069680/41557575-bb3d4d

[2018-06-18 19:47] wlbragg commented on #438
Here is a mapping that should eliminate that pink striped portion.

![ar4](https://user-images.githubusercontent.com/11069680/41558459-83b09a00-7306-11e8-883b-9808a3975c97.jpg)

![ar5](https://user-images.githubusercontent.com/11069680/41558463-855d55e6-7306-11e8-969f-41743efb8e88.jpg)

[2018-06-18 21:57] gilbertohasnofb commented on #438
@wlbragg I love the new EGT but you missed the rotation animation of that knob.

What if we do this: I add a new texture to the bottom corner of `panel_parts.png` for all liveries as such:

![image](https://user-images.githubusercontent.com/5700795/41564486-d768fa9a-734a-11e8-8c8d-948e26be7188.png)

And then you would map it as follows, with green being the top part and purple the side part:

![im

[2018-06-19 00:32] wlbragg commented on #438
@gilbertohasnofb yeah, that will work.

[2018-06-19 00:38] wlbragg commented on #438
@gilbertohasnofb

I don't understand, it works on my computer. I redid the center point numbers also so it is in alignment as well. I didn't change the knob model name or touch the animation other than the counterpoints for rotation. The mesh change I made was to separate the front faceplate (the half sized one) to its own mesh so I could change the material effects and make it visible or distingu

[2018-06-19 00:51] gilbertohasnofb commented on #438
@wlbragg I mean the knob object, texture and object. It should rotate just like the heading knobs on a VOR for instance. Right now the knob doesn't rotate at all.

I also noticed that the gear lever gauge from the amphibian is not affected by the lightmaps. I don't think it should have a post light but it should be affected by the red and white flood ones.

I am pushing now the new textures for th

[2018-06-19 00:54] gilbertohasnofb opened #1127 "Improve EGT gauge"
Improve EGT gauge as to match the reference below:

![](https://user-images.githubusercontent.com/10434911/41548869-0d32a808-731c-11e8-8d62-911addbf2e4f.png)

[2018-06-19 03:17] wlbragg commented on #438
@gilbertohasnofb I need some metal texture for the toggle switch and the hex nuts. Also the Recessed case texture square and if you can come up with a better knob switch texture or at least move what is already there to make room for the recessed case texture.

![gear](https://user-images.githubusercontent.com/11069680/41574043-6369342a-7345-11e8-961c-d099e87527f9.jpg)

[2018-06-19 10:58] gilbertohasnofb commented on #438
@wlbragg I am pretty sure this model of landing gear is not recessed, see:

![image](https://user-images.githubusercontent.com/5700795/41593416-debbc85a-73b7-11e8-97e1-128b7a143ffb.png)

Compare it to the tachometer or VSI and see how it is not recessed at all. Would you mind reverting that?

I am adding now some metallic textures that you need.

[2018-06-19 11:05] gilbertohasnofb commented on #438
@wlbragg Given that we do not need the recess, I did not alter the bottom left corner. I did add three metallic bits and it is already pushed, do see if that suits you.

[2018-06-19 11:31] legoboyvdlp commented on #1124
![image](https://user-images.githubusercontent.com/10434911/41594794-885a34c4-73bc-11e8-92d1-6aee1d1c489a.png)

A first attempt. That's just an import to c172p.blend -> its in a seperate .blend, so it doesn't get overwritten or anything.

The buttons need scaled in.

[2018-06-19 11:40] legoboyvdlp commented on #1124
put it in the wrong hole!!!
![image](https://user-images.githubusercontent.com/10434911/41595234-f4b0de9c-73bd-11e8-86d4-bac6083feba3.png)

[2018-06-19 11:47] legoboyvdlp commented on #1124
In FlightGear:
![image](https://user-images.githubusercontent.com/10434911/41595472-d0f1ab7a-73be-11e8-8aa6-d048ad3024e3.png)
![image](https://user-images.githubusercontent.com/10434911/41595481-d7311958-73be-11e8-80f9-eb8b02fc6bcb.png)

As I said, I'll need to scale the buttons.

@gilbertohasnofb would you be able to create a texture for this instrument?

[2018-06-19 11:57] legoboyvdlp commented on #1124
This image might help:

https://upload.wikimedia.org/wikipedia/commons/a/ab/Old_C172_cockpit_%28F-GVAY%29_%2814375138039%29.jpg

[2018-06-19 13:32] gilbertohasnofb commented on #1124
@legoboyvdlp I thought we had agreed not to replace the default clock, as the model P comes only with a regular analog clock and many of them do not sport a digital clock and stopwatch.

[2018-06-19 14:21] legoboyvdlp commented on #1124
I understood it was agreed that it would be "nice to have" as an option?

[2018-06-19 15:13] gilbertohasnofb commented on #1124
But I thought it would not be a replacement of the default clock but rather added somewhere else in the panel, just like the OH-CTL did with that analog chronometer. But with that said, now that I think about we hardly have any space left for such things since we have so many bells and whistles already. Maybe the only way forward would be to allow the user to replace the default clock, but I am no

[2018-06-19 15:14] gilbertohasnofb commented on #1124
@legoboyvdlp have you ever seen any model P with a digital clock? Perhaps try looking at http://www.airliners.net/search?keywords=172p+cockpit&sortBy=dateAccepted&sortOrder=desc&perPage=36&display=detail

[2018-06-19 15:32] gilbertohasnofb commented on #1124
@legoboyvdlp Forget my last comments, I did find a couple of photos of a replaced clock, e.g.:

![](http://imgproc.airliners.net/photos/airliners/2/4/9/2532942.jpg?v=v40)

I will create the texture. We can then add an option to the Aircraft Options dialog:

`[X] Digital clock`

[2018-06-19 15:52] callahanp commented on #1114
I know someone who built his own:

https://www.mycessnasim.info/
https://www.facebook.com/mycessnasim/videos/699826833510517/

On Sun, Jun 17, 2018 at 7:21 AM dany93 <notifications@github.com> wrote:

[2018-06-19 15:56] callahanp commented on #1114
Can you tell me more about inertia and damping in the real aircraft?
How about inertia and damping in our simulated C172P?
What are the considerations?

On Sun, Jun 17, 2018 at 7:21 AM dany93 <notifications@github.com> wrote:

[2018-06-19 16:45] legoboyvdlp commented on #1124
Thanks! :)

Another option is to use the space on the right panel (where some 172s have the EGT and carb temp instruments -> last one would be good to add maybe if we can find some with it - info is in the POH), but that would mean cutting a hole.

[2018-06-19 18:06] gilbertohasnofb commented on #1124
that would be a headache, and that corner is busy with the GPS and amphibian gear. Let's just make an option in the menu, is that all right with you? This is also nice since all photos I say had the digital clock replacing the analogue one.

And here are the textures:

![clock-digital](https://user-images.githubusercontent.com/5700795/41615703-dc0fc6e2-73f3-11e8-907c-5d314e33d314.png)

![digits](h

[2018-06-19 18:42] legoboyvdlp commented on #1124
Awesome job!

[2018-06-19 18:48] gilbertohasnofb commented on #1124
@legoboyvdlp Remember that you will also need a lightmap for this clock

[2018-06-19 19:44] legoboyvdlp commented on #1124
Just a backlight, and the effect of the dome light / flood light - not the post light. So just 3/4 😛

[2018-06-20 00:07] algefaen opened #1128 "Best power too rich of peak EGT"
Hi! I might be entirely wrong, but it seems like our Cessna has a wrong "best power" lean settings compared to the Lycoming manuals. From their charts it looks we should get "max power" at about 130F rich of peak EGT, while my experiments in the sim give me max power at around 250F rich of peak EGT. The sim also seems to be losing power faster than my (anecdotal) real life experience of leaning th

[2018-06-20 03:40] wlbragg commented on #438
@gilbertohasnofb a couple more things. Since were not going to use a case to hold it in, I'd like to add the screws (4). Can you copy the screw texture from panel-parts and duplicate it 4 times and add it to the gear.png texture?
Also do you think you can make the "Gear Advisory" texture? You may have to put it where the gear switch is now and mover that texture elsewhere.
And maybe one more thing

[2018-06-20 09:09] legoboyvdlp commented on #1124
![image](https://user-images.githubusercontent.com/10434911/41647995-a2c3cf88-746f-11e8-8cf0-578e2b354436.png)

![image](https://user-images.githubusercontent.com/10434911/41648814-dfee4dd2-7471-11e8-88d8-2d43f15ed838.png)

@onox I started this off from master and not interior-updates. What do I do to start it off from interior-updates, rebase it? And is it ok to pull-request into interior-updates

[2018-06-20 09:14] legoboyvdlp commented on #1124
It will be just three files, a texture, a .xml, and a .ac. I'm going to try and use OSGtext to make the display...

[2018-06-20 09:22] wlbragg commented on #438
@gilbertohasnofb One more thing if you will please, the "red" lamp switch on the overhead panel is now a three position switch. So if you can extend the texture "slot" .008 and move it .004 to center it. I already changed the animation and mesh position.

[2018-06-20 09:36] wlbragg commented on #438
The integral lighting and switch logic is finished, ready for testing.

[2018-06-20 09:42] dany93 commented on #1128
Hi @algefaen,
I totally ignore how these "best power" and EGT are calculated by JSBSim.
Influence of bsfc? [JSBSim Engines](http://wiki.flightgear.org/JSBSim_Engines)

Also, I have zero knowledge of this IRL.

[2018-06-20 10:55] wkitty42 commented on #1128
On 06/19/2018 08:07 PM, algefaen wrote:

FWIW: JSBSim has just been updated in FG (on 2018 06 19)...

for a real fun time, call 8675309... errr... oops... update, build, and run FG
from next and the latest c172p from this repo ;)

[2018-06-20 12:32] legoboyvdlp commented on #438
@wlbragg
There is no OFF position for the red / post light slider switch, the positions are BOTH, POST, and OFF 😉

[2018-06-20 12:33] dany93 commented on #1128
@algefaen
At which altitude?
I don't understand how to read the EGT graduations on the instrument. I guess temperature differences? From which reference?

Have you observed the
`engines/active-engine/egt-degf`?
or (same values)
`fdm/jsbsim/propulsion/engine[1]/egt-degF`?
(engine1] or [0])

[2018-06-20 12:42] legoboyvdlp commented on #1124
Hi there,
@wlbragg I have opened a pull request. What I would need you to do is make the dome light / flood light affect the digital clock. Also, I'm not sure if I added the integral light in correctly, can you check that?

But I'll need @onox 's help to cleanup all the merge commits 😩

Also, I didn't connect the clock to the electrical system, I will need help as how to do that.

 I hope I got al

[2018-06-20 14:30] dany93 opened #1130 "P-factor (propeller effect)"
I'm proposing a P-factor value which (hopefully) will be closer to reality. The previous one was much too weak, almost unnoticeable.

The P-factor is a propeller effect which makes the aircraft steer or yaw leftwards with AoA at high RPM (or steer with any apparent-wind misorientation). It adds to others such as the spiraling propwash effect, although on tricycles the spiral propwash effect is pre

[2018-06-20 14:44] gilbertohasnofb commented on #1124
@legoboyvdlp maybe next time we should all implement one feature at a time if they conflict with others. It's messy to depend on an open PR in order to create a new branch and it would have been easier to just wait a bit longer. Although @onox might know some better ways.

[2018-06-20 14:45] gilbertohasnofb commented on #1128
Someone could also test the c182s and see if the issue is also present there.

[2018-06-20 14:58] dany93 commented on #1114
P-factor issue solved with the JSBSim-team.
Implementation in https://github.com/c172p-team/c172p/issues/1130

[2018-06-20 15:07] gilbertohasnofb commented on #438
@wlbragg I will work on the gear lever texture but I will hold fire on the overhead panel.

[2018-06-20 15:08] gilbertohasnofb commented on #438
until you clarify with lego what he wrote above

[2018-06-20 15:12] algefaen commented on #1128
I tried at 5k and 10k MSL. Looking at  `engines/engine/egt-degf` and `engines/engine/thrust_lb`. (Or `engine[1]` for the 180HP, I guess this is equivalent to looking at `active-engine`. Procedure: Trim out for full throttle flight. Lean to find and write down peak egt (it's pretty easy). Then enrichen to find the maximum thrust_lb and note down the egt-degf again. For me the egt-degf was around 25

[2018-06-20 15:17] algefaen commented on #1130
I noticed that when setting the p_factor to 60, going full throttle with brakes on pushes the nose so much down (for some reason?) that it breaks the nose wheel. I think that's a bit of a showstopper. )=

[2018-06-20 15:25] gilbertohasnofb commented on #438
@wlbragg gear texture is pushed

[2018-06-20 16:01] wlbragg commented on #438
Thanks @legoboyvdlp, of course your right. It was late last night when I was working on that and I was really tired. Yes, it is "Both", "Post" and "Off", I'll change the logic.
@gilbertohasnofb , did I ask if you would mind making the labels on that panel? If not would you mind making the labels?

[2018-06-20 16:07] wlbragg commented on #438
Only so I don't find myself changing it again. From the pilot seat, turning around to the right and slightly behind yourself and looking at that overhead panel. Should you reach up with your right hand and push the switches to the left (starboard) it would the order start with Off/Post/Both and the white dome would start with Off/On? So the switch moves from off "port" to working "starboard"?

[2018-06-20 16:08] legoboyvdlp commented on #438
Checking the POH now.

[2018-06-20 16:10] legoboyvdlp commented on #438
@wlbragg
![image](https://user-images.githubusercontent.com/10434911/41670574-93a8b742-74ac-11e8-9ca1-88f58ab29b63.png)

It would seem that I was incorrect the first time - I apologize, I actually meant to write FLOOD, POST, or BOTH. But between the chair and the keyboard that turned into BOTH, POST, OFF 😂

[2018-06-20 16:11] legoboyvdlp commented on #438
![image](https://user-images.githubusercontent.com/10434911/41670697-e7284e0a-74ac-11e8-9fa8-609577f365a9.png)

![image](https://user-images.githubusercontent.com/10434911/41670686-de2966e0-74ac-11e8-968c-fa7b7454f894.png)

[2018-06-20 16:14] legoboyvdlp commented on #438
@wlbragg
![image](https://user-images.githubusercontent.com/10434911/41670884-6b86f692-74ad-11e8-9003-257346d90bfd.png)

[2018-06-20 16:18] wlbragg commented on #438
I agree, If you don't actually look at that darn POH at the time that you are doing the work, your memory is going to fail at some point. I thin k it is just a fact of life.
I just got in the sim and checked the visual and I think I just posted the opposite of where I originally made the switch start position. It is...
White dome light = starboard Off, port On
Post/Red light = starboard Flood, mid

[2018-06-20 16:19] wlbragg commented on #438
Does the above sound right or should it be reversed?

[2018-06-20 16:21] wlbragg commented on #438
@gilbertohasnofb  @legoboyvdlp
I hope we agree to leave the switches in their current locations and also leave the white dome light slider as even though it isn't shown that way in the image we have seen other panel overheads that have it that way?

[2018-06-20 16:21] legoboyvdlp commented on #438
With the red arrow pointing towards the front, I may be wrong, but I think this is:
![image](https://user-images.githubusercontent.com/10434911/41671231-63e25840-74ae-11e8-9556-0d34a00c790a.png)

Yes - that's fine by me!

[2018-06-20 16:24] wlbragg commented on #438
I'm sure (well, at least I think I am) about the post/both/flood. My question at this point is really if the white dome lamp off position corresponds with flood?

[2018-06-20 16:28] legoboyvdlp commented on #438
As it says to push the switch to the right, if you can imagine you are looking up at that panel, (hold your monitor above your head if it helps 😂 ), I think it does?

[2018-06-20 16:29] wlbragg commented on #438
OK, I think we got it!

[2018-06-20 16:34] wlbragg commented on #438
For clarity this is the way I have the switch assignments...
![panel](https://user-images.githubusercontent.com/11069680/41671830-e5a09ba2-747d-11e8-8a59-d6e188d25f0c.png)

[2018-06-20 16:40] wlbragg commented on #438
Wow, this is a stickler. If you assume when you are looking at that switch from the pilot seat that that switch is ahead of you, the way I have the "ON/Off" is wrong. If you assume the switch is behind you the way I have it is correct. If the switch is even with you then your screwed because left and right becomes forward and backwards and we know that isn't correct.

In our sim the two different

[2018-06-20 16:53] wkitty42 commented on #1130
On 06/20/2018 11:17 AM, algefaen wrote:

you can't strengthen the nose wheel gear in the damage code? that'll also allow
for slightly harder landings but maybe the gear has been too weak anyway? i've
seen it break on taxiways just by driving over the center line... that was a
while ago, though...

[2018-06-20 17:09] algefaen commented on #1130
It's not just the leg breaking too easily, the nose is really pulled down a lot, it's very close to a prop strike. I found a reference video: https://www.youtube.com/watch?v=aqggWcd-uMg - you'll see that the nose is pulled down a little bit, maybe a bit less than before doing the p_factor mod. Nowhere near as much as with the mod.

[2018-06-20 17:37] dany93 commented on #1130
I've found the reason: too low damping on the **main** gears, which gave huge oscillations.
Now, I'm out of time, I'll go on later.
I'll also increase the nose gear spring coefficient.

[2018-06-20 18:00] wlbragg commented on #438
OK, we'll do it as you suggest, but only because you were the one responsible for getting us this far in the first place :laughing:
Actually the one thing that truly convinces me in my own special way is that I would think the default would be  "post" and dome white "off" and that the switch positions for that would be at the same starting position. So what you suggest seems the most appropriate.

[2018-06-20 21:07] legoboyvdlp commented on #438
You would need to ask Cessna :ROFL:
Looking at the references you posted, the POST / FLOOD / BOTH is the closest to the dome light in the first image, the other two overheads don't have any post lights, just the flood light.

[2018-06-20 21:37] wlbragg commented on #438
Yes? Commits...
01b18fe6 ("Refactor dome lighting keyboard and switch animation logic, rename nasal based lighting logic file", 2018-06-20)
e5aa8b55 ("Correct overhead post/red lamp logic", 2018-06-20)

Makes sense.

I want to keep it as we already did the work and we do see it as an option, but I will default it to a reasonable value. Do we want default to be full on and you can dim it if you wan

[2018-06-20 21:43] gilbertohasnofb commented on #438
@wlbragg Thanks for all explanations, most of it is clear now :smile:

I think the default value should be fully bright. But this slider should also be saved between flights when save state is enabled.

About the positions and number of toggles, agreed let's keep what we've already got. But the slider for POST-BOTH-FLOOD, that slider is definitely a 2 position slider at the moment, not three. Also

[2018-06-20 21:53] wlbragg commented on #438
I forgot about the label, thanks for the reminder.

Are you sure your using the correct one? The one nere the red lamp is the three way that needs to read Post/Both/Flood The one near the white lamp is dome white light only as well as its slider.

[2018-06-20 21:55] wlbragg commented on #438
Yes That is a little different than the image @legoboyvdlp posted, I am assuming it would have to be done the way I did it. We could put all three, two switches and one slider together near the white light switch, But I think the way it is now is also a correct version for that model.

[2018-06-20 22:00] gilbertohasnofb commented on #438
Both toggles are two positions only, unless I am missing something obvious. I tried clicking, click and drag and mouse wheel, I just get positions 0 and 1 in the red toggle.

[2018-06-20 22:04] wlbragg commented on #438
On the red lamp switch in the tool tip I get "Lighting Mode:0, 1 or 2" Clicking steps through 0-1-2 in that direction only. The mouse scroll wheel does the same but will do it in both directions. What the heck?

[2018-06-20 22:06] wlbragg commented on #438
Look starting at 896 in /Models/c172p.xml, you should see
[code]

[2018-06-20 22:07] wlbragg commented on #438
Note: the tool tip is messed up I forgot to change it but that is not affecting the workings of the switch.

[2018-06-20 22:16] wlbragg commented on #438
The logic on the panel for the two rheostats Panel and radio is also correct as far as @legoboyvdlp and I concluded.

The Shift+d shortcut key I took liberty with. Because we have F for flashlight and L for radio and integral instrument lighting I did the following with Shift+d. It is fairly intuitive and lets you set those lights on with the keyboard in any combination you can do with the switche

[2018-06-20 22:18] wlbragg commented on #438
I am ready to push the amphibious landing gear changes. Anyone mind?

[2018-06-20 22:19] gilbertohasnofb commented on #438
Hmm, using a 6 step shortcut looks like a bit too much in my opinion. I would use `D` only for the dome light on/off and the rest I would leave them to be without shortcuts. This is because they involve a lot of stuff, such as knob position and everything. A shortcut for me should work as a simple toggle and doesn't work for more complex things. My 2 cents.

[2018-06-20 23:04] gilbertohasnofb commented on #438
I just tested it again and it still doesn't work. Also I noticed there is no sound for that toggle (the white dome light toggle does have sound).

My code looks exactly like yours:

[code]

If I click, it moves from 0 to 1, but not from 1 to 2. If I middle click it moves from 1 to 0. Mouse wheel can be used between 0 and 1. I never ever see a 2.

[2018-06-20 23:05] gilbertohasnofb commented on #438
And just to be clear, I am not talking only about the tooltips but I can tell you that the toggle object never moves to the third position

[2018-06-20 23:06] gilbertohasnofb commented on #438
I will leave that to you. I still find it a bit too much but nothing worth discussing too much about I suppose. You implemented it (and everything else!) so have it the way you think is the best :smile:

[2018-06-20 23:29] wlbragg commented on #438
@gilbertohasnofb
I'm not sure what the issue is then.
See http://24.255.158.126:7075/video.mp4
I'll let you know after I fix the tool tip and remap to whatever you do to the texture. You can pull again at that point and try it again. If it still doesn't work maybe you can check your log and also I would like to know if there are others that it either works or doesn't?

I'm thinking maybe we can ch

[2018-06-20 23:35] gilbertohasnofb commented on #438
@wlbragg yeah, I definitely cannot do what you do in the video. I will take another look at it tomorrow, perhaps I can spot what's wrong then.

But would turning the red light turn off the post light on all instruments? Same question for dome and instrument lights. Else it will then become of little use. Maybe what you want is:

0: post light only
1: both (post + red)
2: post only + dome

And the

[2018-06-20 23:52] wlbragg commented on #438
Looking at it from that perspective I agree. I was thinking you either use the post or red light or white dome.

I see a common use case for post and red dome while your flying, as in you want to take a quick look at a map or something, and yes your not going to turn of the post light.

I don't see a use case for post and white, but maybe if your in the aircraft at night checking out stuff and wan

[2018-06-21 06:06] wlbragg commented on #438
@gilbertohasnofb

[snip]
And actually our wings already have textures for them:

We currently are calling these objects sump ports and we have hot spots over them, I think we will have to figure out where those sump ports actually are and move the hortspots accordingly.

[2018-06-21 09:59] dany93 commented on #1130
Done.
- Nose gear: increased spring coefficient and damping,
- Main gear: increased damping.

[2018-06-21 11:35] legoboyvdlp commented on #438
These videos might help:

https://www.youtube.com/watch?v=BhnRL_H_M6s

![image](https://user-images.githubusercontent.com/10434911/41716810-947f2018-754f-11e8-80d2-86538e0c4586.png)

https://youtu.be/dqCqHlAn3b0?t=542

[2018-06-21 15:00] wlbragg commented on #438
@legoboyvdlp the flashlight error is due to me renaming flashlight.nas to interior-lighting.nas. Looking at your PR your still using flashlight.nas and it's not finding it?

The switched are waiting on a texture change from @gilbertohasnofb

Thanks for the sump port location.

[2018-06-21 15:11] wlbragg commented on #438
@gilbertohasnofb the courtesy lighting is installed except for any possible texture changes. When you get some time please test and give me any impressions, ie: to much light, not enough, coverage area, etc.

I tried to modify the landing and taxi lights into one that dynamically changed the lighting area and intensity. While it did work it was a little quirky. So I decided to go a different route

[2018-06-21 15:20] wlbragg commented on #438
@gilbertohasnofb should we move the sumport hot spot over to the port texture closest to the wing? Do we want to make a 3d mesh for it as we did prior? I'm not sure we should as it may just be that plat that you remove when you want to drain it.
One thought was, make the plate and screws and animate it's removal on activating the "Drain sump pump"? It may not be worth the trouble though, one becau

[2018-06-21 15:48] legoboyvdlp commented on #438
Are you sure you remove anything? I think the sump port is like a drain valve where the "needle" of the fuel jar pushes in the valve, draining fuel, I don't see any plates to remove in the videos, but maybe I missed it.

[2018-06-21 15:49] legoboyvdlp commented on #438
No - I have interior-lighting.nas on my local copy 😕

[2018-06-21 16:07] dany93 commented on #1114
@callahanp wrote:

No.
I've made a few attempts to calculate the moments of inertia for some aircraft. Once, I found almost exactly the values set in FG, I think those from aeromatic. Probably by a good contribution of luck. But in general my opinion was that the calculated values were very approximative because of the evaluations on weight distributions.
Those evaluations make the calculations qu

[2018-06-21 16:49] gilbertohasnofb commented on #438
The thing is that you don't want to suddenly switch off the instrument lights while cycling. As I said, if the knob is off then the shortcut will activate only the dome light anyway.

What I meant to say is that if the knob is at 0% then you get all other combinations, but I did not mean to incorporate it in the code. IMO those three options I named would solve everything and then it's up to the p

[2018-06-21 16:58] gilbertohasnofb commented on #438
@wlbragg I am getting this error:

[code]

The courtesy lights look great! I love your solution, simple and effective. It's a pity ALS lights are fake and flicker when you rotate the view though, but I guess there is nothing to be done regarding that :cry:

I also noticed that the landing lights are not matching the lamp object itself, which I noticed you are now making white in the dark, see:

![

[2018-06-21 17:02] gilbertohasnofb commented on #438
@wlbragg I solved the issue with the toggle, for some reason I had to delete the file in the `aircraft-data` folder to make it work. But I now wonder what you want me to change in the overhead texture, it seems to me all 'holes' are matching the toggles.

I plan to start fixing the lightmaps manually now, can I start that?

Also, don't forget to change the minimum setting in the intensity slider f

[2018-06-21 17:05] gilbertohasnofb commented on #438
Sorry for spamming guys. @legoboyvdlp since you are super efficient finding stuff in the POH, would you be able to tell me the page or post me the shot of the passage in which the POH talks about the fuel sumps? I believe we have more than one per wing plus at least two under the belly.

[2018-06-21 17:16] dany93 commented on #1128
I checked and found values close to yours.

A calculation can be found in JSBSim Flight Dynamics Model, [FGPiston.cpp](http://jsbsim.sourceforge.net/JSBSim/FGPiston_8cpp_source.html)
lines 817 -
`FGPiston::doEGT`
(hard to understand...)

[2018-06-21 17:20] gilbertohasnofb commented on #438
@wlbragg I just took a look at the light map and there is very little to manually fix, thank you so much for fixing most of the things through Blender!

I did find a bunch of issues though:

- white dome light default is currently 0%, perhaps make it full bright 100%
- courtesy lights should not be controlled by the dome slider, it should be always full on if dome light switch is on (regardless of

[2018-06-21 18:02] gilbertohasnofb commented on #438
@wlbragg I pushed the manually corrected lightmaps, that should fix nearly all problems I spotted. But I can't find the trim texture for the love of god, where is it mapped to?? The problem is that the trim rotates, and so does it shadow (particularly problematic from the copilot view), so the effect should be fairly uniform on it. Other than that I think the lightmaps are basically done.

[2018-06-21 20:45] wlbragg commented on #438
OK, Let me push a fix for multiple issues here. I already noticed the big ones and have since corrected those (part of the gear control not disappearing and the error).
I'll push a fix for everything above here shortly, except the landing and taxi light issue. I'll explain that later and consult.

Nothing, I just thought that was interesting that this particular brand of gear control came in other

[2018-06-21 21:11] wlbragg commented on #438
@gilbertohasnofb I pushed all the corrections and the beginning of a couple procedural glare lights (white dome light is finished). I'll do red and maybe courtesy.

Yes

@legoboyvdlp my flashlight is working as expectedwith no errors. @gilbertohasnofb can you confirm?

[2018-06-21 21:14] wlbragg commented on #438
Yeah, it's been like that for awhile. It is because you can't get the procedural lights too close to the object or they cut into it and look like crap. So we either don't have the white lamp glow or live with it at some angles. Even if you don't include the white lamps, when you look at angles you see the procedural lights are not against the light like they should be.

[2018-06-21 21:16] wlbragg commented on #438
Oh, for now I did move the sump pump hot spots butting up to the fuselage body which covers the are in the picture @legoboyvdlp  supplied.

[2018-06-21 21:19] wlbragg commented on #438
To reaffirm, I did activate a crude Gear Advisory system. Nothing fancy, it simply alerts you when your airspeed drops below 80 I think is what I set it to. That number is adjustable according to the documentation, so maybe someday we would want to give a GUI option to change that speed.

[2018-06-21 22:13] gilbertohasnofb commented on #438
I see. I did find the photo interesting, it's all identical components but in a different layout.

:smile: :+1:

So please disable the lamp glow, it looks weird like this. I think it was looking better before, don't you think? The light coming from the lamp looks good anyway so we don't necessary to make the lamp itself bright.

Sounds good.

What does the gear advisory system do? Just light up th

[2018-06-21 22:14] gilbertohasnofb commented on #438
@legoboyvdlp many thanks! I will take a look at it soon

[2018-06-21 23:01] gilbertohasnofb commented on #438
@wlbragg I pushed the new texture and normal map but I added it only to 4X-CHV. Since most wings are fully white this shouldn't be a problem, so make this object livery _independent_, ok?

[2018-06-22 04:33] wlbragg commented on #438
Yes, except the real thing also does a voice advisory.

Not on my system, maybe you need to clear the aircraft saved data again?

[2018-06-22 17:14] gilbertohasnofb commented on #438
Do you have a clip of how does it sound? Would a simple audio clip help implementing that or is this voice thing more complex including many sentences? If it's just a single audio file I may be able to come up with something (at least some computer generated call or record a friend with suitable voice speaking it out loud for me)

What if I am using the shortcuts just to cycle through in order to

[2018-06-22 17:28] gilbertohasnofb commented on #438
@wlbragg I will retract my previous comment about the shortcut, I tried it in the sim and it is looking behaving well. Also I can confirm that courtesy lights are not affect by the horizontal slider any longer, thanks for the fix.

Now a couple of other things I found:

* I see you modified the lightning knob 3D model, but I think you made the metallic cylindrical part too long now. I also think t

[2018-06-22 17:33] gilbertohasnofb opened #1133 "GPS antenna should be up by default"
GPS antenna should be up by default, preferably in the 45 degrees position. When inside the glove pocket, it should be fully retracted.

[2018-06-22 17:34] wkitty42 commented on #438
On 06/22/2018 01:14 PM, Gilberto Agostinho wrote:

or just use the existing speech interface and let it do the talking?? AFAIK, you
only need to send it the text to say... maybe selecting a specific voice is
possible... i thikn i understand the sound/speech stuff has the ability to add
more speech buffers for specific tasks like this...

--
  NOTE: No off-list assistance is given without prior app

[2018-06-22 17:37] gilbertohasnofb opened #1134 "Improve gear lever and gear animation"
Using [this video](https://www.youtube.com/watch?v=kb47XXUiCKc) as reference, we can improve the gear lever:

* improve animations of retracting/extending landing gears
* make gear retractions/extension slightly offset for the left and right pontoons
* add mechanical sound for the retraction/extension of gears
* add voice call outs

[2018-06-22 17:38] gilbertohasnofb commented on #1134
@wlbragg perhaps let's tackle this after we finish that PR, as it is already massive as it is. For the sounds I would need some help figuring out if those two call outs are the only ones or if there is anything else this equipment says

[2018-06-22 17:41] gilbertohasnofb commented on #1134
One more reference: https://www.wipaire.com/wipline-floats/laser-gear-advisory/

[2018-06-22 17:56] wlbragg commented on #438
No, haven't been able to find one.

Yeah I think so, I need to review it again and see if I can figure out what it might say. The other thing is I was reading about the "upgrade" version and it was complex in message. I don't know for a fact that the version we have has voice, or tone or nothing at all. But I would be surprised it it didn't at least have a tone when activated. Unfortunately I have

[2018-06-22 17:56] gilbertohasnofb commented on #1134
From https://www.ntsb.gov/about/employment/_layouts/ntsb.aviation/brief2.aspx?ev_id=20100801X90445&ntsbno=ERA10LA390&akey=1

But I believe this also requires the 'laser gear advisory' system as in the video I posted in the issue description this button never lights up.

[2018-06-22 18:00] gilbertohasnofb commented on #1134
Wipaire states:

and is available for retrofit on Wipline-equipped aircraft.

But then again, our aircraft could have had the amphibian pontoon system installed prior to the laser gear advisory being included.

[2018-06-22 18:00] wlbragg commented on #438
@gilbertohasnofb if you haven't pulled what I pushed 40 minutes ago, make sure you pull that. That commit cleaned everything up and re-factored the naming convention to be consistent and logical

[2018-06-22 18:03] wlbragg commented on #438
FYI, I think it is the filters and/or eff changes that get cached in a way that causes issues. I wasn't having these cache issues until I started working in those areas.

[2018-06-22 18:05] wlbragg commented on #438
No, didn't touch it, at least not recently. It may be the angle of that picture that makes it look short. It couldn't be that short or you couldn't get your fingers on it.

[2018-06-22 18:16] gilbertohasnofb commented on #438
That could work but I think I will try the audio clips route as I would also like to add some other effects to the voice calls (they are very lo-fi and noisy in RL). Creating two audio clips would be a better way of getting a closer result to the reality. Heck I might even write them and ask if I can use a sample directly of their product.

Anyway, all discussion about this should now go to https:

[2018-06-22 18:19] gilbertohasnofb commented on #438
@wlbragg sorry for bringing this up again but we do need to check why the NAV2 and COM2 are dimmer when lights are at 0%. I suspect this is something that happened when the blender and ac files have been edited and thus there is no diff to see what went wrong. Do you think you could compare the blender and ac files from the `master` with the ones in our branch and see if you spot what could have w

[2018-06-22 18:23] gilbertohasnofb commented on #1134
Just in case, here is a video explaining the Laser Gear Advisory:

https://www.youtube.com/watch?v=UN1kSOEHWKk

[2018-06-22 18:34] wlbragg commented on #438
Yes, much better.

Yes, I asked the question as the POH did state it was the engine cluster and compass. @legoboyvdlp pointed out that he has never seen a picture that didn't have them all with integral lighting. After looking closely at several  pictures I noticed that most if not all instruments did indeed appear to have integral lighting. Look at the vors and adf in some of the RL images. They

[2018-06-22 18:35] wlbragg commented on #438
I'll see if I can make it match a little better.

[2018-06-22 18:41] gilbertohasnofb commented on #438
Are you sure about this thing about integral lightning? This photo for instance looks to use only post light to me:

![](https://user-images.githubusercontent.com/11069680/40627070-4302e718-6282-11e8-97dc-50f074067334.jpg)

Are you not mistaking the overexposition of some instruments for integral lightning? Look at the AI, all white lines are looking very normal to me, look at the AIS and the ligh

[2018-06-22 18:46] gilbertohasnofb commented on #438
This might also help a bit with some of the questions we are raising: https://www.youtube.com/watch?v=77YENkk-ywE

[2018-06-22 18:51] gilbertohasnofb commented on #438
From the POH:

then later

Now bare with me. Could it be that they are calling post lights ANY instrument light, be them integral lightning or not? Because the first phrase above clearly says that the engine instrument cluster will have integral lights ONLY IF post lights are installed AND this would be controlled by the RADIO LT knob. But later it states that post lights (possibly for all instrum

[2018-06-22 18:53] wlbragg commented on #1134
It does light up in our version and I am pretty sure it has some kind of audible. The older advisory is based on airspeed, I read that somewhere. It is pilot adjustable, as in the pilot can set the airspeed at which they want the advisory, read that also.

The new upgrade if the "laser" version and it is based on land cover type. Its advisory lamp not only has the orange advisory, but also has a b

[2018-06-22 18:57] gilbertohasnofb commented on #1134
So what you are suggesting is that it lights up when below a certain speed like 80 knots, just that. And then the system has two call outs like what I found above, correct? That is simple enough.

So once we are over with the mega PR we can work on this. Do you agree with all the rest I proposed in the main post? I will update it with what you wrote above.

[2018-06-22 18:58] wlbragg commented on #438
I think we have it correct with the possible exception of how many of the instruments actually have integral lighting.

I read the above as this...

The engine instrument cluster, radio equipment, and magnetic compass have integral lightning and operate independently of post or flood lightning (if post lights are installed).

[2018-06-22 19:00] gilbertohasnofb commented on #438
Hmm but you are shifting the parenthesis. That makes a world of difference. But you might be right, I already ranted a million times about how badly written this POH is sometimes...

But looking at that photo, would you say that any of those instruments have integral lights? If so where do I see it?

[2018-06-22 19:02] wlbragg commented on #438
Yes, that is the key to me. Look at the compass ring of the vor as and adf, those are most definitely back lit.

[2018-06-22 19:07] wlbragg commented on #1134
Yes

I think so.

[2018-06-22 19:09] gilbertohasnofb commented on #438
@wlbragg I don't think they are backlit, look at the ring of the recessed bit, they seem to be illuminated from there. This is the same ADF model and frankly it doesn't look like this thing can be backlit:

![](https://www.picclickimg.com/d/w1600/pict/381742138427_/Cessna-ARC-IN-346A-ADF-Indicator-pn-40980-1000.jpg)

![](https://www.picclickimg.com/d/w1600/pict/323298601663_/Cessna-ADF-Indicator.j

[2018-06-22 19:11] wlbragg commented on #438
It's possible they are not backlit, but that they have multiple post lights that give that appearance. The rest of the gauges don't appear to have any back lighting in the image I am looking at, even the ones the POH calls out. I need to look at more images.

[2018-06-22 19:24] wlbragg commented on #438
@gilbertohasnofb
It's also possible that the integral lighting is simple turned off in any of these images.

Regarding the landing and taxi lights. I want to try something before we abandon the lamp illumination. I have an idea that might improve these light.
I say this because even without the lamp illumination a really don't like those procedurals the way they are sticking out away from the wing

[2018-06-22 19:30] gilbertohasnofb commented on #438
@wlbragg please forgive my insistence but I think I am nearing down with some good sources. I believe we can safely use RL aircraft as reference in particular since the POH has sometimes confusing terminology, confusing phrasing and talks about a lot of option acessories ('if installed', etc.)

These videos are all from model P's:

* [video 1](https://www.youtube.com/watch?v=ixlUbsEyvL8&t=390) at

[2018-06-22 19:34] gilbertohasnofb commented on #438
Personally I would do the following:

* using video 1, I would only have integral light applied to the oil temp and pressure gauges. I would actually use the same channel as the post lights for that since it looks fairly yellow/orangey
* remove everything else from integral light
* post lights would still affect all other instruments
* apply back light to the transponder digits

My 2 cents.

[2018-06-22 19:43] gilbertohasnofb commented on #438
Or alternatively here is one more option:

* given how much these integral lights vary from model to model and how little they illuminate and how confusing the POH is, we could get rid of them altogether and wait for some proper pilot's expertise on this. I bet there is a model P out there with no integral light and only post lights, so maybe we can just forget all this, remove it from everything

[2018-06-22 19:45] wlbragg commented on #438
@gilbertohasnofb I'll thoroughly review all you posts and information (may not be until tomorrow). I trust your judgment and will make the appropriate changes.  :+1:

[2018-06-22 19:46] algefaen commented on #1130
Hehe, nope, still very strange. If I'm on the ground and have a gentle crosswind from the left and give full power, it lifts the nose gear entirely off the ground and rests against the tail. If the crosswind is from the right, it pushes the nose to the ground, and even managed to lift one of the main gears. It seemed to cause some weird slipping effect in the air as well. This P-factor-effect of c

[2018-06-22 19:47] gilbertohasnofb commented on #438
I really appreciate that, thanks for taking the time with my gigantic posts. Today I had a lot of free time which is why I went research-crazy. Do let me know what you think and where you disagree, I feel we are narrowing down to a proper solution (even if involving a bit of guesswork).

[2018-06-22 20:21] algefaen commented on #1130
I hacked JSBSim to remove the vertical component of p-factor. It's no longer affected by tiny crosswinds and is much more stable on the ground, and while the climbing and in slow-flight I think it requires an appropriate amount of right rudder. I wouldn't want to apply that hack though... There must be something wrong with the logic in JSBSim that either makes the vertical component during high Ao

[2018-06-22 20:22] wkitty42 commented on #1130
On 06/22/2018 03:46 PM, algefaen wrote:

are you using the new JSBSim code that's just been imported into FG next (aka
2018.3.0) or no?

[2018-06-22 20:22] algefaen commented on #1130
I'm off on vacation for a couple of weeks by the way, flying and skydiving in the mountains. ^_^ ... don't expect much testing from me for a while.

[2018-06-22 20:24] algefaen commented on #1130
@wkitty42, yes, flightgear next 6d83e6.

[2018-06-22 20:33] algefaen commented on #1081
@legoboyvdlp / @wlbragg : I bring [gifts](https://www.youtube.com/watch?v=Dr8JmF81MKI ). (Although this is a 172N, not P, I don't think it matters much.) ... So I think we're pretty close today. (=

[2018-06-22 20:36] gilbertohasnofb commented on #1081
@algefaen That's excellent, thank you so much!!

[2018-06-22 21:43] dany93 commented on #1130
Looking at the JSBSim calculation, I knew that the P-factor exaggerates the crosswind contribution but I didn't know that is was so much.
I hope that the JSBSim team can solve that.

[2018-06-23 09:53] bcoconni commented on #1130
@dany93

It does not come as a surprise to me since the P-factor effect in JSBSim is using the tangent of the angle which, as we all know, is infinite when then angle is equal to 90°. I guess we can use the sinus of the angle instead but I would prefer to discuss the details on the JSBSim project page if you don't mind (to keep the log of our discussions in the right place).

Could you please fill

[2018-06-23 10:21] dany93 commented on #1130
Thank you @bcoconni for your attention.
Of course, I intended to fill a new issue in the JSBSim project but I was taking time to think about it, in order to understand the code calculation (as much as I can) and, if possible, bring propositions to help.

[2018-06-23 15:15] dany93 commented on #1130
Done.
[P-factor: strong pitch moment with aircraft stopped in crosswind #78](https://github.com/JSBSim-Team/jsbsim/issues/78#issue-335100403)

[2018-06-23 16:18] legoboyvdlp commented on #438
Hi,
I'm still getting `Cannot find Nasal script 'Nasal/flashlight.nas' for module 'c172p'.`
Anyone else with this error?

[2018-06-23 17:03] wlbragg commented on #438
@gilbertohasnofb I reviewed the videos and it is pretty clear that the one is showing the oil and tachometer.

A few things here to consider..,

@legoboyvdlp did point out that "some other simulator" did have integral on all the instruments. I can't find the reference at the moment, only the picture. I'm not one to let someone else's project influence me much, so I personally don't give this much

[2018-06-23 17:05] wlbragg commented on #438
@legoboyvdlp that has to be you. I'm not seeing it.

[2018-06-23 17:42] wlbragg commented on #438
This whole side issue, users with model shader settings below 2, leave us with another issue. They will have only radio dimmer for any lighting we give them, the instrument lighting know will be dead. Unless we want to write some extra logic to route any integral lighting back to the panel dial if model shader is < 2?

[2018-06-23 18:29] wlbragg commented on #438
@gilbertohasnofb I found the issue with the KI165 lighting difference. You clue as to different .ac settings was the only thing to go on. I found the commit that caused it but didn't see anything in it out of the ordinary so I compared at the .ac files. For some as of yet unknown reason the KI165-2 blend was exporting it wrong. I manually edited the lighting settings in the .ac file and imported t

[2018-06-23 20:38] wlbragg commented on #438
@gilbertohasnofb here is an even better shot at that radio knob. I'll try to duplicate this.

![radio](https://user-images.githubusercontent.com/11069680/41813409-6a7c3d8e-76fb-11e8-8fc6-29e095c373cf.jpg)

[2018-06-24 04:30] wlbragg commented on #438
@gilbertohasnofb I added a hotspot for the white dome slider switch and I think it works as you suggested now. It's much easier to manipulate.

[2018-06-24 05:07] wlbragg commented on #741
Who wants to do the system? Graphics are almost ready.

![altstaticsrcknob](https://user-images.githubusercontent.com/11069680/41816137-879874ea-7742-11e8-9943-97e24d2f20d9.jpg)

[2018-06-24 05:13] wlbragg commented on #741
@gilbertohasnofb not sure how or more like "where" to put this?

![altstaticsrcknob2](https://user-images.githubusercontent.com/11069680/41816164-5c107326-7743-11e8-9046-52b846375999.jpg)

[2018-06-24 06:07] wlbragg commented on #929
@gilbertohasnofb more artwork needed!

![key](https://user-images.githubusercontent.com/11069680/41816435-e6080718-774a-11e8-81c7-a960098fab98.jpg)

![key2](https://user-images.githubusercontent.com/11069680/41816437-ea5aca08-774a-11e8-8da5-7d61039859e9.jpg)

[2018-06-24 06:46] wlbragg commented on #1052
@gilbertohasnofb I went ahead and did this.

[2018-06-24 07:11] wlbragg commented on #1052
@onox, I did it in the animation, I couldn't get the enable to work correctly, It was like they were fighting each other. I don't see where this is going to be changed anywhere else and besides that this is a mechanical system. If you did change the electrical through breakers or whatever, it wouldn't change the switches. So in this case I think it is more appropriate to do it in the animation.

[2018-06-24 07:40] onox commented on #1052
They shouldn't be if you use `<enable>`.

The breakers have nothing to do with it. Ideally all the logic (model [1]) that modifies the state of the mechanical system should be together in 1 unit/file. And the animations (view [1]) simply reflect the current state.

[1] https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller

[2018-06-24 08:13] wlbragg commented on #1052
Are you supposed to use a condition tag inside of the enable tag?

[2018-06-24 11:44] onox commented on #1052
Yeah I think so. In my experience with other models, when you use `<and>` or `<not>` for example you need a condition tag.

[2018-06-24 13:17] okroth commented on #741
vertically same height as radio dimmer
horizontally half way between throttle and mixture

[2018-06-24 13:59] gilbertohasnofb commented on #741
![image](https://user-images.githubusercontent.com/5700795/41819829-30e60a90-77bf-11e8-893e-d5494f96e2ec.png)

@wlbragg I will fix the textures later, just put the knob in the correct position and I will fix the rest

[2018-06-24 17:08] gilbertohasnofb commented on #929
I will work on this today

[2018-06-24 17:08] gilbertohasnofb commented on #1126
Yes, they are in that mega PR since the reason I started working on those were the new glove box and GPS mount/dismount features implemented there.

[2018-06-24 17:10] gilbertohasnofb commented on #741
Maybe let's just work on the 3D object and textures and leave the system for some other PR, this is already way more massive than it should be. I really want that mammoth getting merged asap. Would that be fine with you?

What sounds?

[2018-06-24 17:15] gilbertohasnofb commented on #438
I will make a better texture for that and add it to `panel_parts`. Also, would it be too much work to improve the chrome cylinder face a tiny bit? Something like this:

![image](https://user-images.githubusercontent.com/5700795/41821550-4e978ecc-77da-11e8-8a96-c48f0c23428e.png)

Maybe some other time, this PR is massive. Let's first just focus in making the interior pretty. Agreed?

Great, thanks!

[2018-06-24 17:36] gilbertohasnofb commented on #438
Great, thank you so much.

No other simulator has a model P as far as I know. The default aircraft in FSX and X-Plane are both more modern versions of the 172 (I believe they are both model SP), and most addons are also more modern than ours. Carenado made a model N for FSX if I am not mistaken but it's an old addon and far less detailed than ours. I would take any info from those with _many_ grai

[2018-06-24 17:42] gilbertohasnofb commented on #741
@wlbragg Do let me know once you have the knob in the correct place and I will fix the panel textures, ok?

[2018-06-24 18:06] gilbertohasnofb commented on #929
Done.

[2018-06-24 18:10] wlbragg commented on #1126
I'm fine with getting this "massive" PR closed up and starting a new one for the rest of the miscellaneous related issues. I have one more push to make and I will freeze there barring any cleanup needed.

[2018-06-24 18:12] gilbertohasnofb commented on #741
Done the texture for the knob, see:

![image](https://user-images.githubusercontent.com/5700795/41822111-941e266a-77e2-11e8-83cb-db1a351760fb.png)

Will fix the panel once you have the position of the knob defined.

[2018-06-24 18:14] gilbertohasnofb commented on #1126
Agreed, but I think we need to solve all things that we touched. This means solving those questions about the lights and solving the 3D knob position and textures for the static knob. Then we would merge this and move on into improving the other levers in a new PR together with whatever is left, how is that for you?

[2018-06-24 18:15] gilbertohasnofb commented on #741
@wlbragg just one thing, this is only applied to 4X-CHV for now. If you like the textures I will sync it to all other liveries so you can make it livery dependent. Also, that new courtesy light has been applied to all textures and so it can also be made livery dependent.

[2018-06-24 18:16] gilbertohasnofb commented on #438
@wlbragg Don't forget to make the transponder digits backlit as well

[2018-06-24 18:16] wlbragg commented on #741
Sure, but only if we can get this PR cleaned up, finalized  and merge asap so I can continue.
I don't even have to push this model yet if you would rather wait for the system to go along with it.

I think everything else is appropriate for the PR (new key, master bat and alt logic, radio and panel light mesh edits).

So I will freeze after one more push of some miscellaneous stuff I have. Then we

[2018-06-24 18:17] gilbertohasnofb commented on #741
I pushed it already.

[2018-06-24 18:17] wlbragg commented on #741
It is in place, you want me to push it then with my last commits or take a picture or both?

[2018-06-24 18:18] gilbertohasnofb commented on #741
Just pull my last commits and push whatever you have. I will take a look at the sim later today and work from there.

[2018-06-24 18:21] wlbragg commented on #741
OK, I'm going to freeze after that push until we merge this PR.

[2018-06-24 18:58] gilbertohasnofb commented on #741
By freeze you mean feature freeze, right? As we still need to fix some stuff:

* sync all textures among different liveries
* fix panel textures due to new alt static knob
* UV-map this knob
* decide and implement a solution for the integral lights dilema
* make the transponder backlit
* possibly other bug fixes

[2018-06-25 18:00] gilbertohasnofb commented on #438
@wlbragg I just found some very interesting information. This is from the POH of the model N, which is just a few years older than the model P and are very similar except for the different engine and some minor changes:

My emphasis in bold. So this means that the model N has the following controls:

* RADIO LT controls integral light of radio and engine cluster (oil and tachometer only)
* PANEL L

[2018-06-25 18:09] onox commented on #438
If I set the red light to BOTH, the instrument lights are turned off. Is that how it's supposed to work?

If I set the instrument lighting to 0 %. The oil pressure/temp indicator, RPM and EGT are still fully illuminated.

How many positions should the red flood light have? 2 (POST and BOTH)? I can't toggle it by clicking on it continuously like the white dome light.

@wlbragg Would it be better to

[2018-06-25 18:21] onox commented on #438
If you don't have to do much work or add much extra code to support it, then you could support it, but otherwise don't bother.

I notice btw that the landing light effect doesn't work unless I set the landclass slider to fairly high (5-7 / 7). Is that something that can be easily fixed?

I run FG on a 5 yo Intel potato (with ALS + model max + everything else min)

[2018-06-25 19:47] wlbragg commented on #438
@gilbertohasnofb

Basically this is already done! The idea being the mag compass doesn't have a post light so any lighting has to be integral. So if our mag compass is lit then it is due to some form of integral lighting. Your right, In our case it is semantics because we are using a light map for it same as we do for the post lighting.

@onox

No, unless the radio knob is at 0. Also make sure you

[2018-06-25 19:48] wlbragg commented on #438
@onox

Post/Both/Flood
It's working correctly as far as I can tell.
First try clearing your cache, we keep running into this.

[2018-06-25 19:56] wlbragg commented on #438
@onox

I've tried it both ways and it works best for me the way I have it now. Maybe your talking about something I am not aware of. Are you sure vert VS hor are view dependent?

They way it is working out now is that any integral lighting that is still available is going to be accessible to the user with lower shader settings so decided not to do bother.
Also there is a video out there of a pilot

[2018-06-25 20:52] gilbertohasnofb commented on #438
@wlbragg a couple of things:

* the shortcut is now not turning off the post light on state 0, can you see if you can reproduce that?
* please don't kill me but what do you think about reconsidering the max intensity for the post lighting? Perhaps what we currently have at 70% could be the value for fully bright.

Yep, but the model N have the compass associated to the PANEL LT, not RADIO LT. But

[2018-06-25 23:47] wlbragg commented on #438
There is no off on the post lights unless "red is on. It's either post/both/red. The only way to turn off post is with intensity and if I set that to 0 on the last state switch then it won't remember the setting anymore because the check is for if intensity = 0 change intensity.
That is how I had it but I failed to notice I was setting intensity to 0 thus negating the intensity check.
So you eithe

[2018-06-25 23:58] wlbragg commented on #438
There are two other outstanding issues that do come to mind, but I wouldn't let them stop me from merging this PR.
1) the GPS text that you can see if you cycle through the pages without the power on. It's a bug I need to look into. Nothing I did, I guess it has always been there, as far as I know.
2) the hover tip on the trim wheel, I need to know how to format it appropriately.

[2018-06-26 13:16] gilbertohasnofb commented on #438
Of course, my bad.

I really like what you pushed now, it feels really good. And as you say, any other combination is reachable manually as this is just a practical shortcut. I think this is done. :clap:

You lowered the white dome to 85%, not the post lights (i.e. intrument lights). I think the dome looks better at 85% so let's leave it there, but I would also like to ask you to consider lowering

[2018-06-26 14:59] gilbertohasnofb commented on #1133
@wlbragg I pushed a fix for this

[2018-06-26 15:01] gilbertohasnofb commented on #1100
@wlbragg I noticed that as soon as you click on the pocket lock to open it, the lock goes super dark. This is particularly noticeable on dusk. What can be causing that? See:

![fg-0](https://user-images.githubusercontent.com/5700795/41921140-17897770-795a-11e8-9f41-379444a3703a.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/41921141-17bc4b46-795a-11e8-98ee-b80008a4dc2b.jpg)

[2018-06-26 15:02] gilbertohasnofb commented on #1097
@legoboyvdlp Would you perhaps be interested in this issue once you are back from holidays?

[2018-06-26 15:08] wlbragg commented on #438
Oops, helps if you pay attention when you read something.

OK, exactly which part, or overall, as there are three components to the post lighting...
panel = the light on the panel recesses
instruments = brightness of each instrument
glare = the glare on each instrument
I have no mechanism to change them all together, I have to change each section individually.
Don't worry about difficulty, if we n

[2018-06-26 15:12] wlbragg commented on #1133
Great, thanks!

[2018-06-26 15:18] wlbragg commented on #1100
I'm pushing a fix for this, let me know if it actually fixes it. It has to be removed from the shadow effect as it is rotated. I think that is the only fix, so no shadow on it now.

[2018-06-26 15:24] wlbragg commented on #438
@gilbertohasnofb
I'm going to be gone this morning for a few hours. I'll do this last fix when I return.

[2018-06-26 15:27] gilbertohasnofb commented on #438
@wlbragg I am mainly concerned with the panel recesses illumination, but its difficult to judge just one component since I see all of them mixed in the sim. But I felt that setting the knob to around 70-75% gave a good look in the sim for what I imagine would be max brightness in RL. Try it in the sim and set this value and see what you think. And I wouldn't touch the red or white lights any longe

[2018-06-26 15:28] gilbertohasnofb commented on #1100
Yes that solves the problem. And lack of shadow in such a small object isn't a problem IMO. Thanks for the fix!

[2018-06-26 15:29] wlbragg commented on #438
Right, but I remember a discussion about leaving it a bit brighter then ideal, because the user has control over it?

[2018-06-26 15:30] wlbragg commented on #438
OK, let me fiddle with it now that you clarified and see if I can find the magic spot for all of it.

[2018-06-26 15:38] gilbertohasnofb commented on #1077
I just pushed a fix for this. It turns out the knobs were being rotated with a factor of `0.25` applied to their animation, and so one had to compensate the wrapping value as well from `360` to four times it, i.e. `1440`

[2018-06-26 15:39] gilbertohasnofb commented on #438
Yes, and I would still use a lower value than that. I started to think that our current 100% looks waaay too bright even considering that the pilot might set it down. So IMO around 70% for max brightness would look more like RL and I would still use half of that on my flights. See what you think.

[2018-06-26 16:00] wlbragg commented on #438
@gilbertohasnofb OK, try that!

[2018-06-26 17:13] gilbertohasnofb commented on #363
@onox @wlbragg @dany93 Is this something we can realistically tackle on our side or is this part of FG's buggy reset and position in the air features that don't work very well?

[2018-06-26 17:32] wlbragg commented on #363
I would need to test it now and see where we are at. There has been some recent work done to the in air reset. So it is quite possible the in air reset works better already.
I'll test the state of the system as it currently stands.

[2018-06-26 17:34] wlbragg commented on #363
By the way this goes hand-in-hand with the states work and maybe should be addressed then

[2018-06-26 19:29] wkitty42 commented on #438
On 06/26/2018 11:29 AM, wlbragg wrote:

i was going to write something about this... thanks for the lead...

on my system, a lot of the pics are dark... my system's CRT monitor is
calibrated and the brightness is full up... in-sim in use the F10->View->ALS
Filter Settings and turn up the Normal brightness to about 2/3rds to get
comparable to out-the-window views in my area...

when i use the curre

[2018-06-26 19:31] wkitty42 commented on #438
On 06/26/2018 11:40 AM, Gilberto Agostinho wrote:

how can i test this and see what we currently have? i can update my repo... i'm
guessing there's a certain branch that needs to be checked out and then simply
load the sim??

[2018-06-26 19:41] wlbragg commented on #438
@wkitty42 check out
**https://github.com/c172p-team/c172p/tree/interior-updates**

[2018-06-26 19:43] wkitty42 commented on #438
@wlbragg thanks... so i just need to check out "Interior-updates"... cool...

[2018-06-26 22:05] gilbertohasnofb commented on #438
While I sympathize with that in the end we are trying to simulate the real thing to the best of our ability. Of course judging brightness from photographs is tough but we can try our best to match what we feel is a reasonable simulation of reality. Many people say that lights in GA planes tend to be quite bad and that you cannot see much in the night. I have a feeling that the current post lights

[2018-06-26 22:10] gilbertohasnofb commented on #438
Just to be clear, I was talking of 70% of what we had before @wlbragg's last commit, which has dimmed the lights. So basically what we currently have now is looking perfect to me.

@wlbragg I spotted one more thing: the autostart function is correctly setting the PANEL LT knob to a good value if the knob == 0 and if time == dark, but it is not making sure that the toggle on the overhead panel is s

[2018-06-27 01:53] wlbragg commented on #438
@gilbertohasnofb

We want it to default to "both" or "post"?

[2018-06-27 10:16] dany93 commented on #363
As far as for the gear functioning, I've not changed my mind since[ this message](https://github.com/c172p-team/c172p/issues/363#issuecomment-118097079).

[2018-06-27 12:01] wlbragg commented on #438
@gilbertohasnofb I tried it set to both and it didn't feel right. Don't we more or less use autostart to get into an immediate flight configuration. Setting it to both leaves you in a state that requires you to make an adjustment and turn the red light off before you take off. It just didn't feel right, that is why I changed it to only post. I think users will discover the red soon enough.

[2018-06-27 13:33] onox commented on #438
@wlbragg Use %.2f

What I do is: I turn my head 90 degrees to the right, then 60 degrees up. The sliders look vertical, but the mouse cursor requires horizontal dragging.

[2018-06-27 13:36] onox commented on #438
@wlbragg

When I say illuminated, I meant like the emission of the textures is 100 %. It doesn't look like it's being illuminated by a physical light in the cockpit.

[2018-06-27 13:37] onox commented on #438
The other problems with the post lights being turned off have been fixed by clearing the aircraft-data file.

[2018-06-27 14:44] gilbertohasnofb commented on #438
@wlbragg Autostart is for newbies so BOTH sounds right to me.

@onox I used `%3.2f` and it looks fine, is that all right with you?

[2018-06-27 16:22] callahanp commented on #741
I'd like to help in a small way after you determine what commit the freeze
is on.

Let me know if there's a simpler way than the following to get your frozen
version.

-Pat
To obtain and use the frozen C172P from :
1. git-clone your repository to my local machine.
2. set the clone to the freeze commit or branch.
3. Copy the clone to new directory ~/Downloads/Aircraft/C172P
4. copy the clone to dir

[2018-06-27 16:43] gilbertohasnofb commented on #741
@callahanp Hi Pat, when I spoke of 'freeze' I just meant that @wlbragg and I should stop adding new features to that PR as it is gigantic already but I did not mean a 'feature freeze' as in a release or anything like that. The branch behind that PR is where we introduced the alt static air knob (therefore it is still not our `master` branch). If the work you want to do involves developing this sys

[2018-06-27 17:10] wkitty42 commented on #741
On 06/27/2018 12:22 PM, Pat Callahan wrote:

neither of these steps needs to be done at all... just clone the repo into your
~/Downloads/Aircraft directory if that's where you fly your custom craft from...
if you store your custom craft elsewhere, just clone into there... there's no
problem flying from the actual repo on your local system... the craft doesn't
write anything to the directory it is

[2018-06-27 20:37] legoboyvdlp commented on #1042
Hi,
It seems that on my system the sound is bugged. If I pause and unpause the sound changes, the engine volume reduces and wind volume increases. So perhaps the gyroscope is audible after you unpause. Regardless, I think this can be closed as I couldn't reproduce it. If you like I can try once more?

[2018-06-27 20:40] legoboyvdlp commented on #1097
What would it involve?

I'll be back fully on Monday. :wink:

[2018-06-27 21:29] gilbertohasnofb commented on #1097
I believe it's just xml editing. Change the airport icao, runway numbers, frequencies for ATIS, park positions, check that the tutorial text is coherent with the current tutorials, etc. I think it shouldn't be too difficult though I never touched the tutorials myself.

[2018-06-27 21:31] gilbertohasnofb commented on #1042
My system has the same issue so I suspect this is a FG problem. But do check if you can reproduce the gyroscope problem immediately after loading without pausing at all. If not, then I guess that's all we can do about that.

Please do. Thanks!

[2018-06-27 23:05] wlbragg commented on #438
@onox

I assume your talking about this below? That is the correct behavior, only those two instruments have integral lighting controlled by the "radio" lighting knob. All the others have no integral lighting, only post lighting and they are controlled by the panel lighting knob. The single exception being the mag-compass. It technically has integral lighting but is controlled by the "panel"  ligh

[2018-06-27 23:22] onox commented on #438
@wlbragg Are we talking about the same thing? I meant the sliders on the ceiling. It's just that the direction of dragging with your mouse on your desk changes from left/right to up/down. That's all.

[2018-06-27 23:33] onox commented on #438
So for example, for the red flood light, in `Models/c172p.xml` on line 926 you change "horizontal" to "vertical" and on line 932 you change the factor to -1.

[2018-06-28 01:50] wlbragg commented on #438
Yeah. that is because It's not a light map effect, it is a material animation. It is supposed to be integral lighting as opposed to post lighting.

I'll try that and the factor sign changes and see if it works any better for me. So far everything I tried just didn't work the way I expected it to as in I didn't get any overall improvement in drag functionality, I actually had dismissed dragging alt

[2018-06-28 12:02] gilbertohasnofb commented on #13
@wlbragg another option is to hardcode the effect directly on the gauge textures: http://wiki.flightgear.org/Howto:Glass_reflection_effect_for_instruments

But I still would prefer a very subtle true effect.

[2018-06-28 13:52] gilbertohasnofb commented on #438
@wlbragg I just made one more test with the current branch, things are looking pretty good. I really love how the shortcut and autostart are behaving now, and I tried testing for all sorts of cases (knob at 0%, knob > 0%, several flood light switch positions) and all works super well. The illumination level of the gauges is really good now and the daylight effect is wonderful. We are almost there

[2018-06-28 13:58] gilbertohasnofb commented on #438
@wlbragg @onox I tested onox's suggestions above and the overhead works a million times better. Now the click and drag works very well for the red light toggle and white dome slider and the mouse wheel scroll is in the right direction. I pushed the modifications, do test if it's all good with you.

[2018-06-28 15:08] wlbragg commented on #438
Yes, I should be able to take care of that this afternoon.

Nope, not as far as I am concerned! The GPS issue is something that an be dealt with later. I don't think anyone will stumble across it without trying.

[2018-06-28 16:51] wlbragg commented on #438
Yes it does, thank you. I don't know why I couldn't get it to work that way when I tried to fix it.

The only thing I noticed is the White Dome Light switch is only using a pick animation instead of the slider like the post/both/red and the white intensity slider do. Do we need to make it consistent and turn the white dome light switch into a vertical slider the same as the other two? Or do we lea

[2018-06-28 16:56] gilbertohasnofb commented on #438
I think it should be consistent.

[2018-06-28 17:54] wlbragg commented on #438
@gilbertohasnofb OK I am done with everything I know about.

[2018-06-28 17:59] gilbertohasnofb commented on #438
Great, I will test it later tonight and merge it if all looks good.

[2018-06-28 20:23] gilbertohasnofb commented on #438
@wlbragg I just tested it and everything looks wonderful. I just have one question before merging: I have the impression that the post and red lights do not change between 80% and 100%. Have you somehow capped their max to 80%? Because if so, what I meant was to use the old brightness level of around 75% and set that to 100%, but still allowing a liner increase between 0.0 and 1.0 (i.e. just scale

[2018-06-28 21:00] wlbragg commented on #438
Problem is the daylight factor caused me to loose the ability to control this directly, the hi and low without re-factoring the code.
Right now I have to multiply a factor greater than 1 to the 0-1 day/night factor to achieve the desired results in the daylight. That causes the hi end to be much to bright, so yes I cap it. I would have to add a table to modify that high end VS capping it.
Is it th

[2018-06-28 21:18] gilbertohasnofb commented on #438
It's not critical but at the same time I don't think it's good practise to have a knob turning until 100% when actually it stops at 80%. But I do see your point. What would you yourself like to do? Do you think this is something you could accomplish without wasting too much of your time?

[2018-06-28 21:21] wlbragg commented on #438
@gilbertohasnofb actually, looking at it just now and trying the most simple fix (which didn't work). It's may be a chore. I can't look at it in-depth until tonight. Give me until then to make a decision.

[2018-06-28 22:07] gilbertohasnofb commented on #438
No problems, let me know what you think. Another (inelegant) solution is to
decouple the knob position and light property and use an intermediate
property for the knob which will use the light scaled by 1.25 (1/0.8). But
that's one unecessary filter.

On Thu, 28 Jun 2018, 23:21 wlbragg, <notifications@github.com> wrote:

[2018-06-29 04:37] wlbragg commented on #13
I don't mind looking at the feasibility of this, but I am a bit confused as to exactly what technique to look at.
It will make a difference as to how this fits with the rest of the effects definitions depending on the technique used.
So do we know exactly what technique were wanting to test or try?

[2018-06-29 04:47] wlbragg commented on #741
@callahanp as soon as @gilbertohasnofb merges the "Interior updates and upgrades" PR #1103 You can pull and update your master branch if you already have one or clone master from https://github.com/c172p-team/c172p if you don't. @wkitty42 outlined where and how you can store this clone.
Then you can and start working on this system.
When ready we can guide you in the steps you need to take both to

[2018-06-29 16:56] #1042 closed

[2018-06-29 16:56] legoboyvdlp commented on #1042
Seems to be away.

[2018-06-29 17:09] legoboyvdlp commented on #438
If you give me a few hours, presuming no issues arise, I'll be able to get the digital clock finished ;)

[2018-06-29 20:38] gilbertohasnofb commented on #438
@wlbragg I tested the branch and everything looks good, we are ready to merge. But I think I will take a look at @legoboyvdlp's PR now, merge it first so that we can handle its lightmap before merging it. Is that fine with you? Could you create the new digital clock's lightmap once that is merged?

[2018-06-29 20:38] gilbertohasnofb commented on #1042
Thanks for the info!

[2018-06-29 20:48] gilbertohasnofb commented on #438
@wlbragg I think lego's digital clock is still missing some important features and I don't see why we should delay merging our PR. I am just waiting for his reply and then I will merge it since everything is looking excellent. Then he can work on the digital clock based on the new `master` and we can work at the same time at the other issues, since they won't conflict at all. Sounds good to you?