[2018-03-01 18:02] wlbragg commented on #987
Here is another reference photo. It looks like it is forward like ours is.
http://www.pilotweb.aero/polopoly_fs/1.4802343!/image/image.jpg_gen/derivatives/landscape_630/image.jpg

[2018-03-01 18:04] wlbragg commented on #987
https://i.ytimg.com/vi/mIjcptMq45A/maxresdefault.jpg

[2018-03-01 18:06] wlbragg commented on #987
It almost looks like our bracing bottom should be moved closer to the pilot or towards the aft of the aircraft.
I can still move the GPS to the right a bit more to clear the cross bracing.

[2018-03-01 19:21] wlbragg commented on #987
I don't necessarily want to make a new issue out of this regarding the compass so I will post it here for now.

I set the position to absolute by adjusting the .ac, created a blend also.
The code I think maybe was wrong. s the compass supposed to be included in the electrical system for lighting?

[code]
I'm not sure the emission setting was working in the pick animation.

It for sure is here by m

[2018-03-01 21:59] wlbragg commented on #987
Good idea, will do!

Let me take a closer look, it looks like there is coding for liveries with the GPS. Maybe it's just a matter of selecting it. I'm currently looking at getting the flashlight and shadow working with it. Unfortunately, it requires making it local or adding the effect to fgdata. I'll need to consult on this.

I actually already did it and pushed it to the PR.

[2018-03-02 06:19] wlbragg commented on #987
@gilbertohasnofb
I positioned the GPS like you suggested. It obviously doesn't have the angle shown in the picture thus you can't see where the mount would be. You think this is good? Or do you want more of an extreme angle. If we leave it like this then it works for copilot also. If we make it more extreme then we should add a rotation animation to rotate it to face the copilot when in that view.

[2018-03-02 18:25] gilbertohasnofb opened #993 "AI wake code is outputting some warnings"
The following warnings have been introduced by the AI wake PR and are output to the log:

[code]

[2018-03-02 18:26] gilbertohasnofb commented on #993
@bcoconni I have opened a new issue for this so that we don't forget to fix it. Let me know if you want to submit a PR yourself.

[2018-03-02 22:53] bcoconni commented on #993
@gilbertohasnofb
As per your request, I submitted a new PR #994 to remove the warnings you mentioned above.

[2018-03-02 23:09] #993 closed

[2018-03-02 23:22] gilbertohasnofb commented on #993
@bcoconni Thanks a lot, really appreciate it!

[2018-03-03 05:41] wlbragg commented on #987
I really wish we could add the shadow effect to the 196, but this is so complicated I don't feel warm and fuzzy about moving all the code and resources to the c172p local repository, especially as we are pushing for a canvas implementation for it. But that really sucks not to have the shadow, it just bugs the heck out of me.

Anyway... :smile:
![fgfs-screen-009](https://user-images.githubuserconte

[2018-03-03 12:23] gilbertohasnofb commented on #987
I agree about the shadow, it would be nice but it doesn't make sense if there is so much complication. At least with the black GPS this should be less noticeable anyway.And by the way, this screenshot above is looking great! I love the new mount, looks really fantastic -- where is the texture coming from? Did you use something from panel parts? Looks amazing.

As for the antenna, I am indeed talki

[2018-03-03 17:53] wlbragg commented on #987
There were two textures available, the one you pushed to `Models/Interior/Panel/garmin196` which I used first, and there was also one in `/home/wayne/FGFS/install/flightgear/fgdata/Aircraft/Instruments-3d/GPSmap196/gpsmap196.png` which I think is what I am using now.

Do you have a preference? Yours could stand more contrast, the fgdata one could stand some smoothing.

Your push
![coque1](https://

[2018-03-03 18:25] gilbertohasnofb commented on #987
@wlbragg You are very polite in the way you put it, which I appreciate, but let's be frank: the texture from FGData is a thousand times better than what I had come up with, so let's please use the better one! Would you care to delete mine from the branch you are doing these modifications then?

But my question was rather about the texture of the GPS mount, are you using some texture from `panel_pa

[2018-03-03 18:51] wlbragg commented on #987
Yes, I'm using this (only the bottom part), not the circle.
![mount](https://user-images.githubusercontent.com/11069680/36938032-68188ede-1ee1-11e8-981d-333da62c9fcd.png)

[2018-03-03 18:55] gilbertohasnofb commented on #987
Very smart, it looks great!

[2018-03-03 19:00] wlbragg commented on #987
You might think, but there really isn't much of a difference when seen in the sim in most lighting conditions, especially at a distance. Up close the one you like better is kind of ugly.
If you ever felt really ambitious you could use the best from both textures.

![fgfs-screen-010](https://user-images.githubusercontent.com/11069680/36938123-ac87f1e4-1ee2-11e8-80d9-31255f33174f.png)
![fgfs-screen-

[2018-03-03 19:32] tonghuix commented on #985
haha, I think it should be a 1982 C172P...

[2018-03-03 19:34] wkitty42 commented on #985
ummm... i thought our light was on the wing? that's where i remember it from back when we were getting 2016 stuff ready...

[2018-03-03 19:36] legoboyvdlp commented on #985
It is on the wing. The 1982 model P moved the real life light to the wing, but I thought ours was a 1981 model, with the nose landing light.

[2018-03-03 19:41] gilbertohasnofb commented on #985
@legoboyvdlp where did you find this information? I think we should dig on this a bit further. Depending on the differences between a model P from 1981 and 1982, perhaps the easiest "fix" would be to change the year instead of the model, what do you think @wlbragg ?

[2018-03-03 19:43] gilbertohasnofb commented on #985
`c172p.xml` states 1982 but `c172p-set.xml` states 1981, and the latter is what is shown on FG Run. I will reopen this and fix this in a new PR.

[2018-03-03 19:44] wlbragg commented on #985
I have no clue. But I would oppose any attempt to move that light, that wold be a real headache. I guess if it turns out we have to make a choice I would chose to make the aircraft the year that had the light in the wing. So long as the rest of the airframe is compatible.

[2018-03-03 21:27] gilbertohasnofb commented on #987
@wlbragg could you please try this texture here?:

![coque](https://user-images.githubusercontent.com/5700795/36939467-7fb835e2-1f29-11e8-8803-4ef135c54a3d.png)

I used the FGData as basis for a new one, adding more detail and grain to it which should help when zoomed in. I pushed this texture to the c172p-Textures repository but you would need to manually add it to your working branch as I don't

[2018-03-04 05:35] wlbragg commented on #987
@gilbertohasnofb the new texture looks really good, thanks for doing that. By the way, so far the only way I could get the texture to be used was to name it coque.png and let the .ac use it. You are supposed to be able to use a texture for it like a livery, but I was not able to do so. I figure it doesn't matter as we have no reason or need to change it at will.

Here is where it is at, I think it

[2018-03-04 11:50] gilbertohasnofb commented on #987
@wlbragg Happy you like it! I also think it looks very good now :smile:

Oh, I remember running into something like this. But as you said, it doesn't really matter as we just need one single texture for the GPS.

I don't see any problem with this, and this way we have more control over the GPS. It's all nice and fun to have shared resources at FGData so that everyone can use it, but for anything c

[2018-03-04 15:06] #985 closed

[2018-03-04 17:34] gilbertohasnofb commented on #987
I see.

What would be the advantage of moving the cube relative to each object instead of moving the object itself?

Super naive comment which is certainly wrong, but isn't it a matter of simply adding the coordinates of the cube and the object? Example, if an object is at [0, -1, 0] then adding that to the cube will subtract one of its y-axis, effectively lowering it by 1 unit and therefore being

[2018-03-04 17:44] wlbragg commented on #785
The command line option should set the radio regardless of power or anything else. It should be done directly to the corresponding property that controls the frequency.

The only things that we do that should have any affect on it is our save switch state which can be bypassed and the aircraft saved data list in the set file which does not include it.

However the aircraft saved data also is done

[2018-03-04 17:50] wlbragg commented on #987
Because many of the instruments have some fairly complex animations that are all based on the origins of 0,0,0 and you have to account for all of that on every object you move. I had to do it for the compass, which when I figured it out wasn't that difficult, still it took some effort.

Yeah, that is what I though. But I am getting far closer results if I subtract the offset. Unless it is because

[2018-03-04 18:02] wlbragg commented on #987
Actually, it doesn't seem like the scale should change if your moving the cube to the correct position.

[2018-03-04 18:05] gilbertohasnofb commented on #987
That's weird, subtracting should take the cube away from the object.

[2018-03-04 18:13] wlbragg commented on #987
Actually, I just did some tests and it looks like I am not changing anything no matter the coordinates I am using. I'm getting the default cube shadow placement. Almost like I am using the wrong effect definition file which I don't think is possible. I'm going to continue to have to investigate this, until I can get the shadow displacing, something is wrong.

[2018-03-04 18:39] wlbragg commented on #987
I think I may have found my problem. I had a second effect definition floating around. Still the coordinate positioning in not behaving as I expect it to..

[2018-03-04 19:01] it0uchpods commented on #603
Update:
Roll Axis completely refactored:
* New PID tuning
* Much more stable heading control
* NAV, APR, and REV new tuning, much more stable.
* Still using same inputs like @HHS81 said to preserve realism.

It has passed my autopilot torture test.

Working on the Pitch Axis now.

Kind Regards,
Josh

[2018-03-04 19:28] wlbragg commented on #987
OK here is what worked for the GPS, anyone care to explain, I'm all ears!

Cube Center (offset from 0 / 0 / 0)
0.45732 / 0.0 /0.1825

GPS offset from 0 / 0 / 0
-0.305 / 0.26584 / 0.0566

Adding GPS offset to Cube offset
0.15232 / 0.26584 / 0.2391

Subtracting GPS offset from Cube offset
0.76232 / -0.26584 / 0.1259

This is what lined the shadow up correctly
0.76232 / 0.0 / 0.1259

I really don't u

[2018-03-04 19:31] gilbertohasnofb commented on #987
Gosh, that's weird... to it's x1 + x2, y1 + 0, and z1 - z2, what a mess! A question: is isn't the cube centred at [0, 0, 0]?

[2018-03-04 20:09] wlbragg commented on #987
It gets weirder!
To get the Left Yoke correct

Cube   0.45732  0.0      0.1825

GPS   -0.305    0.26584  0.0566
+      0.15232  0.26584  0.2391
-      0.76232 -0.26584  0.1259
LYoke -0.36    -0.219   -0.130
+      0.09732 -0.219    0.0525
-      0.81732  0.219   -0.130
       0.81732  0.219    0.3125

[2018-03-04 20:14] wlbragg commented on #987
It gets weirder
To get the Left Yoke shadow correct

Original Cube Center (offset from 0 / 0 / 0)
(this is what the main cube for the absolute positioned objects in the cockpit is positioned to)
0.45732 / 0.0 / 0.1825

Left Yoke offset from 0 / 0 / 0
-0.36 / -0.219 / -0.130

Adding Left Yoke offset to Original Cube offset
0.09732 / -0.219 / 0.0525

Subtracting Left Yoke offset from Original Cube o

[2018-03-04 20:33] gilbertohasnofb commented on #987
@wlbragg We could perhaps ask Thorsten for some advice, he has a very keen eye for these sort of things!

[2018-03-04 20:34] wlbragg commented on #987
I'm PM'ing him now...

[2018-03-04 20:35] gilbertohasnofb commented on #987
But with all said, this video you posted looks stunning, the shadow effect is so immersive!

[2018-03-04 20:42] wlbragg commented on #987
I know, can you imagine with all the gauges shadowed. I am hesitant to continue to much farther though because if we redo (move) the cockpit dash, even using relative positioning, then all the cube effect files have to be recalculated too. So I may have to switch to the dash repositioning first to save on duplicating math problems.

[2018-03-04 22:10] it0uchpods commented on #980
This can be closed.

[2018-03-04 22:12] #980 closed

[2018-03-04 22:15] gilbertohasnofb commented on #987
That sounds wise. I don't think we should touch the positions of any internal object until that is done as that will very likely mess up all positions in the cockpit!

[2018-03-05 03:50] wlbragg commented on #958
I added
* Cutout holes for wheel in fairings
* New exterior door handles

[2018-03-05 03:51] wlbragg commented on #958
I guess it's time to go inside and see if we cant move the panel.

[2018-03-05 05:50] onox commented on #603
Does the NAV mode depend on the heading bug? In the AP when you click on NAV, "HDG" starts blinking and you need to set the heading bug for correct operation of NAV mode.

[2018-03-05 05:52] it0uchpods commented on #603
Yes it does @onox

Kind Regards,
Josh

[2018-03-05 06:12] onox commented on #603
@wlbragg Could you ask (Torsten I think) on the mailing list what the purpose/state of new-navradio is? Should we switch from navradio to it?

[2018-03-05 13:00] gilbertohasnofb commented on #958
:+1: :+1: :+1:

[2018-03-05 13:02] gilbertohasnofb commented on #986
@wlbragg I spoke to Heiko and he is quite busy at the moment as well as having some issues with his computer, so I think we need to figure out on our own how to fix this. Unfortunately these tips are an essential part of the liveries and for me the rework of the outer model isn't completely finished while this is opened :cry: Do you know any other 3D modellers that we could ask for help?

[2018-03-05 14:29] legoboyvdlp commented on #986
CaptB on the FlightGear forums is an excellent 3D modeller, and may be willing to help. He is currently occupied with the IDG-A32X, however.

[2018-03-05 14:49] wlbragg commented on #986
Thank @legoboyvdlp I think this is not going to be needed.

@gilbertohasnofb I feel really stupid right now. I took another look at this and see the problem, totally missed it the first time around. I think I can fix this. All that is wrong is the tips are basically mirrored the wrong way?

[2018-03-05 16:25] wlbragg commented on #986
Yeah I see what happened. We do have one issue though I am not sure how to rectify.

The default livery, I don't think the original picture was correct either. According to the texture and the way it is laid out, I don't see how you get that mapping. I think it was already broke. I think I can get close with the rest of the liveries but the default is not ever going to be able to map as it was bef

[2018-03-05 16:32] gilbertohasnofb commented on #986
@wlbragg the default livery was not broken, it was looking good in the first picture I posted here in this issue. But if something needs adjustment texture-wise, I will be happy to do that.

[2018-03-05 16:37] wlbragg commented on #986
@gilbertohasnofb can you find me a picture of the original default livery, maybe even the real life aircraft? I need to see the top, bottom and end of the wing.

[2018-03-05 16:39] wlbragg commented on #986
Look a little closer at the "good" image of the default livery. Look at the very forward end. According to this livery that tip was never supposed to look like that.
![wingtip](https://user-images.githubusercontent.com/11069680/36987225-787ff74a-2061-11e8-80e2-ac24c84766ae.png)

[2018-03-05 16:46] gilbertohasnofb commented on #986
![4x-chv-1](https://user-images.githubusercontent.com/5700795/36987633-ba39b5da-2094-11e8-8c4c-23a7b5fbf36a.jpg)
![4x-chv-2](https://user-images.githubusercontent.com/5700795/36987634-ba661eae-2094-11e8-841f-96126ea4726a.jpg)

[2018-03-05 16:46] gilbertohasnofb commented on #986
I know it doesn't show the angle you wanted but perhaps this might help.

[2018-03-05 16:52] wlbragg commented on #986
I was right there is not supposed to be any blue at the front end of the wing tip. Also one of the pinstripes is supposed to be blue.

[2018-03-05 16:54] wlbragg commented on #986
![tip1](https://user-images.githubusercontent.com/11069680/36988107-914a1024-2063-11e8-9834-c7cc0d39e586.png)
![tip2](https://user-images.githubusercontent.com/11069680/36988112-927dd8b8-2063-11e8-8455-48b475cfc456.png)

[2018-03-05 16:55] gilbertohasnofb commented on #986
:+1:

Nice catch! The first photograph doesn't show it well but the second makes it very obvious.

So let me know once the UV-map is fixed from your side and I will then work on the texture of the default livery. Just let me know once you have it pushed somewhere, ok? I might have time still tonight to work on this.

Can't believe we are this close to be done with the external model! :smile:

[2018-03-05 17:06] wlbragg commented on #986
It doesn't show where the dividing line is from blue on the top of the wing to white on the bottom, any suggestions?
 ![tip](https://user-images.githubusercontent.com/11069680/36988630-f1155c74-2064-11e8-89dc-4f46156b7070.png)

[2018-03-05 17:07] gilbertohasnofb commented on #986
Something in between the middle and bottom ones, see:

![](https://cdn.jetphotos.com/full/6/47067_1459285778.jpg)

[2018-03-05 18:08] wlbragg commented on #986
Just pushed the changes. I think the only thing you need to deal with is the default livery stripes and get rid of the blue block near the stripes.

[2018-03-05 18:10] wlbragg commented on #986
Maybe this will help. As far as I know this is the only thing that needs changed.
![tipends](https://user-images.githubusercontent.com/11069680/36991698-1c760f2c-206e-11e8-9a31-08d45f341e73.png)

[2018-03-05 18:14] wlbragg commented on #986
Oh, and OH-CTL texture may need the wing tip end adjusted if you want it rounded towards the leading edge. The wing mesh shape changed enough I couldn't do anything more for it.

[2018-03-05 18:24] wlbragg commented on #986
There is one thing bugging me still. if I move the Nav lights down would you fix the offset in the code?
![screenshot_2018-03-05_12-17-34](https://user-images.githubusercontent.com/11069680/36992315-255c4064-2070-11e8-9c17-d29ee8dcb929.png)

[2018-03-05 19:08] gilbertohasnofb commented on #986
@wlbragg no problems, I will work on the texture adjustments. Those should be fairly easy.

What code, the procedural lights one? I can try taking a look at that but I have no idea how that works as I did not implement that myself.

[2018-03-05 19:09] gilbertohasnofb commented on #986
But the lights do look much better in the last shot!

[2018-03-05 19:12] wlbragg commented on #986
If your OK with me moving the lights, I'll take care of the code. I think it looks better too. Only thing that might be an issue is some of the liveries have the nav light casing colored to match its position on the wing (see OH-CTL texture). That may have to change?

[2018-03-05 19:14] gilbertohasnofb commented on #986
Please move the lights first and then I will take a look at the liveries, making sure the lights match the livery in colour.

[2018-03-05 19:40] gilbertohasnofb commented on #987
@wlbragg Now the GPS is local to our repo, would it be possible to have a different default position for its antenna, namely 45 degrees upwards like in your shot here?:

![](https://user-images.githubusercontent.com/11069680/36942542-60f2fac8-1f3a-11e8-99e3-6d2d77abac2e.png)

[2018-03-05 20:09] wlbragg commented on #986
Done!

[2018-03-06 19:16] #949 closed

[2018-03-07 03:05] it0uchpods commented on #603
Update:
Having some trouble with Pitch Axis, especially since elevator does not directly influence pressure rate (as it is calculated currently), therefore, the feedback loop has a rather long delay, making the pitch control not very good in bad weather and in my torture tests. Further, the derivative filter calculating pressure rate now is noisy, and rather unreliable.

I'm going through the Bend

[2018-03-07 10:13] dany93 commented on #603
Hi Joshua,

Are you meaning that it can it be due to the time filter? (lines 674 - 689)
[code]

[2018-03-07 14:46] it0uchpods commented on #603
Hi @dany93,
Nope, that is all fine.

When you pull up on the yoke, it does not influence pressure rate (or vertical speed) directly. It influences pitch degree and pitch rate. Since pressure rate is not directly a result of pulling on the yoke (especially in poor weather), the control loop is very difficult to get right.

I have gotten it stable now, and after some testing, I will make the first p

[2018-03-07 18:52] onox commented on #603
If you have a noisy signal, you could try to route the signal through a [low pass filter](http://wiki.flightgear.org/Autopilot_Configuration_Reference#First_order_low_pass_filter_.3Cexponential.3E).

[2018-03-07 18:55] it0uchpods commented on #603
I have a second order low pass filter on it currently, this seemed to get most of them gone.

Kind Regards,
Josh

[2018-03-07 19:23] HHS81 commented on #603
https://www.pprune.org/archive/index.php/t-295247.html

According to this our KAP140 behaved like the real one.  So now?

[2018-03-07 19:27] HHS81 commented on #603
https://www.euroga.org/forums/maintenance-avionics/7460-kap-140-can-be-dangerous-when-it-starts-a-turn-while-climbing

And even this I experienced with our KAP140 in flightgear

[2018-03-07 19:36] it0uchpods commented on #603
It still does both of those things.

Kind Regards,
Josh

[2018-03-07 19:46] it0uchpods commented on #603
According to the pprune you linked and the manual, the KAP140 has an internal acceleratometer for pitch axis. This makes much more sense for controlling pitch. Anyone know more about this sensor, and exactly what it measures, and what range is used?

Kind Regards,
Josh

[2018-03-07 20:09] it0uchpods commented on #603
Seems it has a limit of 1.4G and 0.7G maximum as measured on the accelerometer, so I'm going to make the pitch control based on pressure rate to acceleration, as it seems the real one works that way.

Kind Regards,
Josh

[2018-03-08 11:43] legoboyvdlp commented on #603
@it0uchpods
After that test I promised, I noted the following issues:
`severe pitch bouncing upon autopilot engage`
`vertical speed doesn't seem to maintain it very accurately, e.g. maintaining 900fpm when 1000fpm selected`

Roll, HDG work very well. If anything they may be too accurate and precise.
And just like in real life it does not level off very accurately (+-50 feet IRL?)
![image](https://

[2018-03-08 11:57] legoboyvdlp commented on #603
video https://www.dropbox.com/s/etmuqtxgorucntt/2018-03-08%2011-54-04.mp4?dl=0

[2018-03-08 14:54] it0uchpods commented on #603
Hi
Thanks for the test. I'll try to reproduce the NAV problem and let you know.

About the pitch, I actually noticed that a few hours after I asked you to test it, and I corrected that. Please try the latest one.

Kind Regards,
Josh

[2018-03-08 14:57] it0uchpods commented on #603
Also,
The heading bug will maintain heading within 2 degrees if the selected which is what it claims

Kind Regards,
Josh

[2018-03-08 17:19] gilbertohasnofb opened #999 "Elevator surface should not move while trimming on the ground"
The elevator trim tab will affects the position of the elevator only if there is enough air flow, i.e. it depends on the airspeed. So while on the ground there should no movement to the elevator surface due to trimming, but in-flight the animation of the elevator should get affected. In order to achieve that one would have to limit the max position change of the elevator surface as being proportio

[2018-03-08 17:21] gilbertohasnofb opened #1000 "Improve ground objects"
Improve ground objects

1) the hose is not properly connected to the aircraft
2) the textures of the cones and the fuel tank are quite bad, the latter being particularly low res
3) the ladder could also use some texturing
4) we could attempt to add the reflection effect to them, as to match the look of the aircraft

![fg-1](https://user-images.githubusercontent.com/5700795/37165663-183c2b6a-22f5-1

[2018-03-08 17:21] gilbertohasnofb commented on #1000
@wlbragg we could consider working on this in the future, but there is absolutely no rush in tackling this.

[2018-03-08 18:11] wlbragg commented on #910
@onox
We received a reply a week or two ago, sorry I am just now forwarding this.

From: Bertrand Coconnier <bcoconni@gm...> - 2018-02-24 18:28:44
--
Hi,  During its initialization, <integrator> uses whatever value is in the <input> property has its initial value. Have you tried to initialize the property heat/cabin-air-transfer-total during the initialization process ? In order to work, this must

[2018-03-08 18:20] dany93 commented on #999
The https://github.com/c172p-team/c172p-detailed/pull/992 issue has too many messages and github hides many of them.
Particularly, this important (and difficult to write)  one has become almost impossible to reach from within the discussion, even from [its hyperlink](https://github.com/c172p-team/c172p-detailed/pull/992#issuecomment-370158266). As I don't want it to be lost, I make a second copy o

[2018-03-08 18:48] gilbertohasnofb commented on #999
@dany93 Thank you _so_ much for the message above, it's always disheartening to open an old thread with over 150 messages of which only a few might be relevant. I really appreciate it.

[2018-03-08 19:11] dany93 commented on #999
Some messages linked to this subject:
https://github.com/c172p-team/c172p-detailed/pull/992#issuecomment-371109188

https://github.com/c172p-team/c172p-detailed/pull/992#issuecomment-369549067
https://github.com/c172p-team/c172p-detailed/pull/992#issuecomment-369551181
https://github.com/c172p-team/c172p-detailed/pull/992#issuecomment-369557362
https://github.com/c172p-team/c172p-detailed/pull/992

[2018-03-09 04:28] mathieugouin opened #1001 "Missing tooltips / hovered information"
The following Equipments / Items are missing tooltips information.  (not sure the right term: the text that is displayed when mouse hover).

I find it really helps to understand the aircraft.  Also, it helps when in low light condition (ex: evening, night flying).

# KMA-20 (Audio panel)
* Marker selection

# KX-165 (NAV/COM)
* Swap button
* Frequency knob
* NAV: Pull/Ident: display both volume (a

[2018-03-09 04:32] mathieugouin commented on #1001
I plan on working on this issue and propose a pull request when ready.

[2018-03-09 08:05] gilbertohasnofb commented on #1001
@mathieugouin That's great, Mathieu. Looking forward to your PR!

[2018-03-09 19:10] onox commented on #910
The problem is AW may initialize for a long time after everything else (including the FDM) has been loaded.

[2018-03-10 00:45] gilbertohasnofb commented on #621
@wlbragg this could be an interesting one to tackle in the current or some of the next mesh PRs. How complicated do you reckon this one would be?

[2018-03-10 07:49] wlbragg commented on #621
Not too hard I don't think. Could you post a picture backed out aways so I can see where to place the oil access door on the fuselage.

[2018-03-10 10:37] #259 closed

[2018-03-10 10:37] #622 closed

[2018-03-10 10:37] #879 closed

[2018-03-10 10:37] #986 closed

[2018-03-10 10:37] #987 closed

[2018-03-10 10:55] gilbertohasnofb commented on #621
You could use the normal map as reference, though it seems to me the oil door is a bit too close to the window in the map:

![fg](https://user-images.githubusercontent.com/5700795/37241340-791bf90a-244f-11e8-892e-f4ba009821a9.jpg)

Here are a couple of reference shots of the OH-CTL:

![_dsc8029](https://user-images.githubusercontent.com/5700795/37241343-8a2da46e-244f-11e8-905c-453d0d726e07.jpg)
![

[2018-03-10 11:56] onox commented on #737
Added ALS effect in PR #973

[2018-03-10 11:56] #737 closed

[2018-03-10 11:58] gilbertohasnofb commented on #737
@onox shouldn't this be left opened since that PR only implemented the effect but not the logic behind it?

[2018-03-10 11:59] onox opened #1003 "Make fuselage and wings dirty"
ALS effect added in issue #737

The wings, leading edge, fuselage, and tail can be made dirty (splashed bugs and dirt) separately. See https://github.com/c172p-team/c172p-detailed/pull/973#issuecomment-367163370

[2018-03-10 12:00] onox commented on #737
Yes, but because @wlbragg already used branch `issue-737` for the massive work on the mesh, a new issue and branch name would be better.

[2018-03-10 12:06] gilbertohasnofb commented on #958
@wlbragg I added some new stuff to the list in relation to the work done in that last PR, could you please take a look I did not forget anything?

[2018-03-10 12:06] onox commented on #1003
This issue can be picked up by first time contributors. It's 1 to 4 numbers (properties) that need to get a realistic value. Logic can be written in Nasal or a JSBSim system. Feel free to ask any questions you might have.

[2018-03-10 12:09] onox commented on #1003
Thanks @gilbertohasnofb, better label.

[2018-03-10 12:15] gilbertohasnofb commented on #623
@onox reading through this I think this is a `won't fix`, do you agree we can close it?

[2018-03-10 12:18] gilbertohasnofb commented on #216
@wlbragg would you like to give a shot at the nose shape and window shapes? This one, together with the oil cap model we've been discussion, and we would have closed all external 3D model issues, I believe.

[2018-03-10 12:27] onox commented on #362
@stuartbuchanan I think you need multiple sound elements each with an `<equals>` condition. But it's a lot of code for something that is supposed to be simple.

I see this a lot with cockpit switches/knobs/dials in FG. Most cockpits have similar types (2-state switches, 3-state switches, n-state knobs, continuous dials, etc.) but a lot of code is needed to provide tooltips, sounds, and smooth anim

[2018-03-10 12:39] onox commented on #544
Baggage compartment door can only be opened on ground, but could be left opened while the aircraft is taxiing or taking off.

[2018-03-10 12:52] gilbertohasnofb commented on #544
@onox great idea, and this is another good bug for beginners.

[2018-03-10 12:59] onox commented on #623
Do we want to keep the current behavior as described in https://github.com/c172p-team/c172p-detailed/issues/623#issuecomment-170646786 ?

[2018-03-10 13:06] gilbertohasnofb commented on #623
Yes, I think that the current behaviour is fine. In RL we don't have such finesse with the levers, particularly in such old aircrafts, so there is no such thing as consistency of adjusting the mixture at values around 1%.

[2018-03-10 13:07] onox commented on #544
I think this could be implemented with a badly PID controller. The pilot provides a "force" as well as the wind, this is then used to compute the maximum open position of a door. This is then used as a set point that is fed to the PID controller. The controller provides a smooth animation to the set point (the maximum position). If badly tuned then it should oscillate a bit, simulating the pilot f

[2018-03-10 13:12] onox commented on #623
Okay, let's close it then.

[2018-03-10 13:12] #623 closed

[2018-03-10 13:34] gilbertohasnofb commented on #1000
Ok, I started working on this and here is what I did so far:

* new textures for everything but the power unit
* fixed the power unit cable not properly touching the aircraft fuselage

![fg-0](https://user-images.githubusercontent.com/5700795/37242835-ad443aea-2467-11e8-94e7-5e81063347ca.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/37242836-ad6401ae-2467-11e8-8435-b2291c47b4c2.jp

[2018-03-10 13:34] gilbertohasnofb commented on #1000
the branch is called `issue-1000`

[2018-03-10 15:33] wkitty42 commented on #544
On 03/10/2018 07:39 AM, onox wrote:

instead of setting a speed, how about tracking the wind speed and slamming the
door shut with a nice loud bang which will get the pilot's attention :evilgrin:

[2018-03-10 17:27] gilbertohasnofb commented on #626
@onox @wlbragg I have just pushed new commits to branch `bug-626`. I have repositioned the thermometer (it was floating above the copilot's seat), made some improvements to its texture and added a new texture to the thermometer folder with all 10 digits as well as negative, dot and degree signs (which are needed for the temperature), as well as a F and C letters. I also tested that the function mo

[2018-03-10 17:37] wlbragg commented on #216
That was a pretty major fix, but I am glad we did it. That back window resolution has always bothered me. I managed to round it a bit more while I was doing the side. There is more that could be done to the bottom edge and bottom sides but pain to gain isn't really worth it, at least for me. I discovered several stay faces in both rear side window frames. We're talking maybe as many as 6-8 on each

[2018-03-10 17:44] onox commented on #626
@gilbertohasnofb I think you need to split `window_base` into several objects. (And delete `sphere7` which doesn't seem to be visible). Then you can use the [textranslate](http://wiki.flightgear.org/Animations#Textranslate) animation for each of the digits.

[2018-03-10 17:46] onox commented on #626
Why don't you give it a try? It's a separate model (not the main mesh) so you cannot really mess things up.

[2018-03-10 17:53] onox commented on #626
You can select `window_base` and then do subdivide with 6 cuts, then select some edges and press x and choose "Disolve Eges". Then split the objects (select the 4 vertices of a digit, then press p and choose "Selection").

Maybe @wlbragg knows some better techniques.

[2018-03-10 17:54] gilbertohasnofb commented on #626
@onox thanks for all the info, I will give this a shot.

[2018-03-10 17:56] gilbertohasnofb commented on #216
@wlbragg if the windows are too much trouble then I totally understand it. But if I understand you correctly, you seem to think that we tackled the nose but I don't think we did. This is how our nose looks like right now:

![fg](https://user-images.githubusercontent.com/5700795/37245138-b5096812-248b-11e8-929c-77ac2a92730c.jpg)

And now look at this post by @thevirtualfer here https://github.com/c

[2018-03-10 17:59] gilbertohasnofb commented on #216
Summary of what needs to be done on this issue:

* inlets should be more outwards to the edges
* inlets should be carved a bit more before the air intake billboards
* cone needs to be enlarged, in particular its diameter
* fuselage hole where the cone mounts needs to be circular, not that terrible shape it has right now
- the cone should not be touching the fuselage, there should be a black cylind

[2018-03-10 18:24] wlbragg commented on #216
To avoid miscommunication here, I just finished the glass and the rear window frame, it's done.
My point is, you can always do more (like more resolution as in rounding the window frame), I'm not prepared to do that now. So as far as the side window frame is concerned as it relates to this issue, that part is finished even though it was an afterthought added to this "nose" issue, which is what I s

[2018-03-10 18:25] wlbragg commented on #216
P.S. I'll keep in mind your last bullet points while I am working on it.

[2018-03-10 18:28] wlbragg commented on #216
One other reason of major importance here for my reluctance to get to far into this. If we start messing with the shape of the fuselage mesh you start affecting the UV layouts and the liveries. I know this are well enough to know this is going to be a major headache to re-UV-map this. That has been an ongoing theme for me during all of this work.

[2018-03-10 18:35] gilbertohasnofb commented on #216
@wlbragg I was hoping that we could deform the current nose into a better shape so that it would not affect (too much) the UV-mapping, but I understand if you don't feel like tackling this. In that case, we should make sure to leave this issue opened after the new PR gets merged.

[2018-03-10 18:44] wlbragg commented on #626
Sounds about right considering I have been doing this exact step repeatedly over the last couple weeks, subdivide repeatedly and then clean up the mess.

I haven't looked at the model itself yet. @gilbertohasnofb if you get stuck let me know and I can help you with with it. OH, and there is an indoor/outdoor panel thermometer I hooked up in the j3cub you might be able to use for coding reference.

[2018-03-10 19:09] gilbertohasnofb commented on #626
thanks, I will take a look at that!

[2018-03-10 20:10] gilbertohasnofb commented on #626
@onox I believe this will involve not only creating the digit objects, but also UV-mapping. I am sorry but UV-mapping in Blender is beyond what I am capable of, and learning it will take quite a while.

If someone wants to create these objects for the digits, we need 33 of them:

* digits 0 through 9 in the first decimal place after the dot
* digits 0 through 9 in the units place
* digits 0 throug

[2018-03-10 20:39] onox commented on #626
You don't really need 10 objects for 1 digit. Just 1 rectangular object (a quad) and then you use a textranslate animation to shift the correct digit (from the texture) onto the object.

[2018-03-10 21:23] wlbragg commented on #216
Here is my first pass in converting this. It is now all one piece and I reshaped almost everything. In Blender it looks like the openings are huge but in the sim, not so much.
![screenshot_2018-03-10_15-22-36](https://user-images.githubusercontent.com/11069680/37246853-f79cfcbc-2476-11e8-9766-618dc0a66ead.jpg)

![fgfs-screen-003](https://user-images.githubusercontent.com/11069680/37246836-860a3722

[2018-03-10 21:25] wlbragg commented on #216
Either our prop hub and spinner are too small or I got the hight about right. The width on the other hand is a different story. Needs to extend quite a bit out towards the edges.

[2018-03-10 22:20] wlbragg commented on #216
@gilbertohasnofb
FYI: I already took a quick look at a couple liveries and either what I already pushed is messed up or the new stuff you haven't seen is. Just letting you know I am aware of the UV mapping issues and I will address that after I get the dimensions the way we want it.

[2018-03-10 22:23] wlbragg commented on #216
@gilbertohasnofb
You think these openings are big enough?
![fgfs-screen-007](https://user-images.githubusercontent.com/11069680/37247368-550c201e-247f-11e8-8ca9-7d8b14834eea.jpg)

[2018-03-10 23:14] gilbertohasnofb commented on #626
I see, thanks a lot. I will see if I manage this. But the UV-mapping in Blender kills me, I just have no earthly clue on how to do that...

[2018-03-11 01:58] mathieugouin commented on #1001
Note to myself: DME done.

[2018-03-11 04:50] wlbragg commented on #626
@gilbertohasnofb Just looking at this and I need to ask a couple questions.
Why do we need to subdivide the display face? If your doing a text-translate you don't necessarily have to divide it do you? Can't we simply UV map the digits to where they need to go and text-translate from there when the display changes? Unless it is because you want a distinct line between the digits. If so, do you want

[2018-03-11 10:15] wlbragg commented on #216
@gilbertohasnofb
This is about as good as I am going to get this. I am aware of several livery issues that I can't fix. Unfortunately I think your going to have to fix the livery themselves.
To point out a few things I noticed and why I can't fix it...
![liv](https://user-images.githubusercontent.com/11069680/37252094-5a1bf40c-24e9-11e8-8b45-827e8237b6e5.jpg)
These areas in red and green are the a

[2018-03-11 11:35] gilbertohasnofb commented on #216
@wlbragg The nose is looking so much better already!

No problems, as soon as we 'freeze' the nose mesh I will fix those myself.

The new mesh looks much much better, but I do have some points to show to you:

1) I think the propeller blades should move a bit forward as well, they seem to be coming half from the spinner and half from behind it. Also, would it be possible to add a cylinder connecti

[2018-03-11 11:40] gilbertohasnofb commented on #626
Possibly the reason to all those questions is that I am incompetent :wink:

I was using our radios as reference to how digits work, e.g. the KX165, and the digits are separated objects which are then mapped separated using textranslate. I never used textranslate before so I wouldn't know if what you propose above is doable. As for using Canvas, sure we could do that but that's beyond my area. If s

[2018-03-11 16:06] wlbragg commented on #216
I was planning on adding the cylinder last night but totally forgot about it and the prop moving forward, duuu, totally overlooked that detail as well. I'm glad your looking closely at this stuff. I suppose the blur disc should move sightly too.

[2018-03-11 17:59] wlbragg commented on #216
OK, check this out. I made a new spinner from scratch so I could be sure it was consistently proportional, slightly rounded the tip instead of such a drastic point. Move the prop and blur, added a shaft and fixed the rotation animation so it doesn't wobble so much.

This is a part of the textures that needs some love. It's really ugly, it was flat broken because of the way it was UV mapped but sho

[2018-03-11 18:01] wlbragg commented on #216
See if this was corrected, I never saw it but may have fixed it by making a new spinner.

[2018-03-11 18:09] gilbertohasnofb commented on #216
@wlbragg Thanks again for yet more fixes! I really like the new spinner :smile:

Not really, that was the mapping of the fuselage behind the spinner and so it is still there.

Also, this bit here still has a bit of a weird mesh:

![image](https://user-images.githubusercontent.com/5700795/37256764-21a9a4ac-2557-11e8-9fe2-e54303bd21d8.png)

As for the textures, thanks for pointing all this out to me

[2018-03-11 18:14] gilbertohasnofb commented on #216
One more thing: the side walls of the air intake should be in the colour of the livery, not in this mettalic colour. So all red in the image below should actually be fuselage colour:

![image](https://user-images.githubusercontent.com/5700795/37256802-b93ea948-2557-11e8-8e02-0e0add89aea6.png)

See:

![](https://user-images.githubusercontent.com/5700795/37245157-f9bf341e-248b-11e8-858a-7e0ae076bf2b

[2018-03-11 18:42] wlbragg commented on #216
OK, good idea because this is another area that needs texture work and this is the alternative. Your suggestion will make it much easier to map this stuff.
![map](https://user-images.githubusercontent.com/11069680/37257065-fa2d5f38-2531-11e8-9fe9-0e6e934124ec.jpg)

[2018-03-11 18:43] wlbragg commented on #216
You want to post a scale texture here that I can use to map it too and when I am all finished you can add the textures to the branch/pr?

[2018-03-11 18:44] wlbragg commented on #626
My thought on doing part of this in canvas is only for the digital display itself, it would be a lot less steps than trying to get the text-translation mappings, everything else would be the same.  @onox, any comments, suggestions.

[2018-03-11 18:47] wlbragg commented on #216
I suggest putting it her, might as well use this space closer to the radi-box.

![map2](https://user-images.githubusercontent.com/11069680/37257117-af516af8-2532-11e8-871f-f71688ee3c99.jpg)

[2018-03-11 18:51] wlbragg commented on #216
![map2](https://user-images.githubusercontent.com/11069680/37257164-5673afee-2533-11e8-954b-744bc022dc53.jpg)

[2018-03-11 18:53] wlbragg commented on #216
Obviously, put it wherever you want, I am still in Shuttle mode where my texture space got to be a premium.

[2018-03-11 19:10] wlbragg commented on #626
@gilbertohasnofb

Not trying to convince you here, just want to educate you as to how simple it can be to get the digital display in canvas VS texttranslate.

This is all that is required to update the temp display.

First the nasal control the display...
[code]

and in temperature.xml same object we were going to texttranslate on (more or less).
[code]

I think everything else is going to be pret

[2018-03-11 19:11] wlbragg commented on #626
I do still want to get @onox's opinion.

[2018-03-11 19:17] gilbertohasnofb commented on #216
You are right, there are better places for that texture. So try this, I used the position you last proposed just above:

![fuselage](https://user-images.githubusercontent.com/5700795/37257415-cc3727a6-2560-11e8-9490-385bf6563b9e.png)

[2018-03-11 20:08] wlbragg commented on #216
OK, I think I'm done.
![map](https://user-images.githubusercontent.com/11069680/37257945-f8afd83c-253d-11e8-9eff-b7f17bdccd99.jpg)

[2018-03-11 20:16] wlbragg commented on #216
The mesh around the air ducts is really a mess and chopped up, thus why you were seeing such bad lines in the light reflection. I tried to make some cuts to alleviate some of the issues but I don't know how effective it was. I think it is somewhat better, probably not much more can be done without major refactoring.

[2018-03-11 20:19] gilbertohasnofb commented on #216
@wlbragg It is definitely looking much better! My only comments are:

1) that cylinder added to the spinner is not 'entering' the fuselage, there is some space in between, which is slightly noticeable from some angles. Would it be too much trouble to extended it a bit more?

2) this UV-mapping issue is still present, is this fixeable or is it not worth the trouble?:

![](https://user-images.github

[2018-03-11 20:26] mathieugouin commented on #1001
Note to myself: NAV/COM1 done.

[2018-03-11 20:34] wlbragg commented on #216
Oops, missed that, done.

I'm not seeing anything that would cause this in the blend. Also I don't see it in the sim. How are you positioning in the sim to get that angle?
I recalculated the normals, see if that fixed it?
Also what is odd is that the entire face should be the color of the fuselage, not the dark gray. So the triangle is correct, the rest of it is what is wrong.

[2018-03-11 20:42] gilbertohasnofb commented on #216
I am moving the cockpit camera around to inspect stuff, and this is the view from "inside" the spinner, though it is also visible from outside from a specific angle. The best livery to spot this is PT-IAO because of its colours, but the problem is with all liveries:

![fg-0](https://user-images.githubusercontent.com/5700795/37258237-b3cbdebc-256c-11e8-96d8-4bb76c640824.jpg)
![fg-1](https://user-im

[2018-03-11 20:57] wlbragg commented on #216
OK, I'm seeing it also, let me investigate and see exactly what this is.

[2018-03-11 21:56] wlbragg commented on #216
I did a whole bunch more editing of the nose requiring a complete remapping of it. I'm in the process of mapping it now. :weary:

[2018-03-11 22:29] wlbragg commented on #216
All yours! The default livery is all lined up (as far as I know), The rest of them are pretty darn close. Way closer than they were. The issue behind the spinner is fixed, that is what led to me doing even more to the nose. I am actually much happier with it, I think you'll notice a big difference.

[2018-03-11 22:33] gilbertohasnofb commented on #216
Everything in the nose and spinner are looking wonderful, thank you so much! I did notice though that those white squares have been re-introduced at some point, on both sides of the cockpit:

![fgfs-screen-001](https://user-images.githubusercontent.com/5700795/37259260-ed44daea-257b-11e8-8675-2761eb2648b4.png)

I will wait for this and then we can freeze any UV-mapping in the nose/spinner. I don't

[2018-03-11 22:40] wlbragg commented on #216
Oops, yep, forgot to move the faces for those when I remapped, let me do that, it'll take a second.

[2018-03-11 22:47] wlbragg commented on #216
Done.

[2018-03-11 22:55] gilbertohasnofb commented on #216
The UV-mapping of the sides of the fuselage close to the nose got messed up:

![fg-0](https://user-images.githubusercontent.com/5700795/37259495-04a7b34e-257f-11e8-9987-4ef9bf544569.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/37259496-04d0ed5e-257f-11e8-9967-c34db629d2d2.jpg)

I don't mean to be picky or anything, it's just that if I start to work on all liveries (26 in total) I

[2018-03-11 23:58] wlbragg commented on #216
OK, the hinges must have been messed up for awhile now as I didn't touch those. I unfortunately screwed up the mapping below the windows when I tried to fix the light colored anomalies right below the windows. I had Blender in the wrong mode and it move all the connecting vertices, I didn't notice but I should have.
Try again!

[2018-03-12 00:07] gilbertohasnofb commented on #216
Ok, just tested and I am still seeing some issues, sorry...

![fg-0](https://user-images.githubusercontent.com/5700795/37260291-53a9d90e-2589-11e8-95fa-dc13d88636f7.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/37260292-53c866ee-2589-11e8-89b1-8fb240ccf243.jpg)
![fg-2](https://user-images.githubusercontent.com/5700795/37260293-53e6f960-2589-11e8-9672-8f6c75e6a72f.jpg)

I am headin

[2018-03-12 00:18] wlbragg commented on #216
Wow, the door handle in that livery may have been that way since I made them and we just never noticed. The problem is, in the default livery you have room to play with when lining them up. but not in other liveries. So even though I had them working for the default, not so for some of the detailed liveries. I wish whoever made the hinges would have just included them in the fuselage mesh VS a sep

[2018-03-12 00:19] gilbertohasnofb commented on #216
Sounds great, I will check it tomorrow then. Many thanks and good night!

[2018-03-12 00:20] wlbragg commented on #216
I'll be gone all day tomorrow as well, After tonight I won't be back on it until late tomorrow afternoon or evening.

[2018-03-12 00:20] wlbragg commented on #216
Good night!

[2018-03-12 01:08] mathieugouin commented on #1001
Note to myself: NAV/COM2 done.

[2018-03-12 01:24] mathieugouin opened #1005 "DME Hold Mode not working from NAV2"
Steps to reproduce:
* Set both NAV1 & NAV2 frequencies to different nearby VOR/DME, ILS/DME, etc...
* Set DME selector switch to NAV1, confirm NAV1 distance
* Set DME selector switch to HOLD, confirm same NAV1 distance
* Set DME selector switch to NAV2, confirm NAV2 distance
* Set DME selector switch to HOLD, NAV1 distance is shown, but should be NAV2

Test case:
* Set both NAV1 & NAV2 frequencies

[2018-03-12 01:25] mathieugouin commented on #1005
I can try to work on this one.

[2018-03-12 06:31] wlbragg commented on #621
Oil door and compartment is created. "OilCap" object is the new "hot-click-spot". Please heck the logic in Models/c172p.xml for the oil management. I removed the select for the hot-spot as it really doesn't apply anymore and used OilCap for the pick. Could use a new "yellow" texture for the OilCap in panel-parts.png.
![oil](https://user-images.githubusercontent.com/11069680/37268652-fcb0db28-2594-

[2018-03-12 06:31] wlbragg commented on #621
Did you want the vent?
![vent](https://user-images.githubusercontent.com/11069680/37268679-161b800e-2595-11e8-8cc5-51c08f269107.jpg)

[2018-03-12 11:24] legoboyvdlp commented on #621
@gilbertohasnofb would you have any idea incidentally about the cable going into the oil cap? It wouldn't be the external heater by any chance?

If it is, I suppose I have to fix the external heater 3D model 😩

[2018-03-12 11:25] legoboyvdlp commented on #621
This shows me I might have to keep working on the engine damage... merging it may become more and more difficult as it goes on :P

[2018-03-12 13:30] gilbertohasnofb commented on #621
I really don't know, but these photos were taken by @tigert so perhaps he would know about it. But please careful on tweaking anything related to the ground equipment at the moment as I am reworking their textures on the branch `issue-1000`. So if you decide to change anything, could you please wait for that branch to be merged? At the moment I am just waiting for @wlbragg to improve the UV-map of

[2018-03-12 13:32] gilbertohasnofb commented on #621
@wlbragg Yes I do. And I also would add that "handle" that is just above this vent, as I've seen that in most photos of the 172P. You could just UV-map them to the fuselage colour just beneath them. Would that be fine?

[2018-03-12 13:38] gilbertohasnofb commented on #621
@wlbragg About the oil cap, that looks truly wonderful! What branch is that, as I don't see it in the new mesh PR? I see you modelled a cap for the oil tank, which is super cool. But then please make a separate object, so that when you click on it after opening the oil tank door the cap will disappear and the dipstick will appear, what do you think? Concerning the textures, please do not map them

[2018-03-12 15:57] gilbertohasnofb commented on #621
I just realized the dipstick is actually part of the cap itself!

![](https://i.pinimg.com/originals/81/1d/da/811dda52a73c1166c574f448c4ea9218.jpg)

So one click to open the oil door, another click to lift the cap showing the dipstick, which would then open the menu. The hotspot for the cap+dipstick needs a condition that the oil door must be opened and the hotspot of the door needs the condition

[2018-03-12 16:25] gilbertohasnofb commented on #621
@wlbragg when I am ready to push, there will be some new textures to map to the oil door and the dipstick. A is the interior of the oil door, B is the top (cap) of the dipstick, C is the sides of the cap and D is the stick itself:

![image](https://user-images.githubusercontent.com/5700795/37296154-fc8c7d64-2611-11e8-9f2a-77fdb93a90e0.png)

I am using this image as reference: https://github.com/c1

[2018-03-13 02:36] wlbragg commented on #621
I assume you found the oil cap work in the current PR. I thought maybe I forgot to push it, but I did.

I actually used a copy of the fuel cap. I'll modify it to look more like our examples, especially now that I have a texture for it. The cap already includes the dipstick, I ran out of time last night so I didn't get the animation for the dipstick and cap finished.  Nice job on all the new textur

[2018-03-13 03:39] wlbragg commented on #621
@gilbertohasnofb when you get a chance could you add a red texture for the "Fuel Caps" like you did for the Oil Cap. Currently the Fuel Caps are mapped to a switch texture on panel-parts.png, I want to map them like the oil cap to fuselage.png. Don't push it until I am finished tonight and give you the OK.

[2018-03-13 06:24] wlbragg commented on #621
@gilbertohasnofb
Logic and mapping of the OilCap is finished. I added some extra logic trying to account for all contingencies.
The logic is as follows, feel free to change anything as you see fit.

Click to open or close oil door.
Only allow clicking Oil Cap if door is open and same conditions as before apply, only on ground with engine off.
Clicking the closed Oil Cap opens dialog and shows dips

[2018-03-13 07:09] wlbragg commented on #621
Well I didn't get completely finished. I still have the vent and the exhaust pipe whole to deal with. I think I found a solution for the exhaust pipe hole but it is going to take a bit of work to make it look good.

This should give you an idea as to what it is I am trying to do.
![fgfs-screen-001](https://user-images.githubusercontent.com/11069680/37327252-819fb79a-2663-11e8-96a6-f7b6436f9bfc.png

[2018-03-14 00:22] onox commented on #621
@wlbragg Maybe you can also model the cold air door on the right side of the aircraft? I think it's the red door in the lower left corner of https://github.com/c172p-team/c172p-detailed/issues/621#issuecomment-372205987

[2018-03-14 00:23] onox commented on #1001
@mathieugouin You can create a checklist in comments on Github:

- [ ] Not done yet
- [x] Done

[2018-03-14 00:27] onox commented on #626
@wlbragg Let's do canvas!

[2018-03-14 00:29] onox commented on #626
But please put unindent the braces, you're using Thorsten indentation style :stuck_out_tongue:

[2018-03-14 00:30] onox commented on #626
And use `maketimer` instead of `settimer`.

[2018-03-14 00:31] gilbertohasnofb commented on #621
@onox I thought the cold air would enter through that little hood I circled in the image on that comment.

[2018-03-14 00:48] onox commented on #621
Uhh, I don't know, I just know there should be a little door on the right side of the aircraft.

[2018-03-14 00:50] onox commented on #621
But I thought it was actually a little door that could be opened. Don't have the POH here atm.

[2018-03-14 00:54] gilbertohasnofb commented on #621
@onox I don't have it with me either, but I am quite sure the hood is where enters for the vents, and this has been modelled by @wlbragg in the newest PR we are working on. See for instance this photo of a Cessna 150:

![](http://www.flyingstart.ca/FlightTraining/preflight/cabinair.jpg)

[2018-03-14 00:58] wlbragg commented on #621
I didn't do a "Cabin Air Vent", only the small port above and to the left (see green circle).
![vent](https://user-images.githubusercontent.com/11069680/37377590-d29a27b2-26f8-11e8-9242-c5c1db784244.jpg)

[2018-03-14 01:12] gilbertohasnofb commented on #621
My mistake, the photo above is too low-res and I mistook it. Indeed the cabin air vent is that little door that can be opened. Here is a better resolution image of OH-CTL:

![image](https://user-images.githubusercontent.com/5700795/37377921-c579b350-2724-11e8-8e48-d1be3286eeed.png)

[2018-03-14 01:59] wlbragg commented on #621
So you think that air vent opens with the cabin air slider knob, that is what adjusts the air volume, depends on how open the vent is?

[2018-03-14 02:04] gilbertohasnofb commented on #621
Yes, I think that's how it works. We could ask some of the RL pilots if they can confirm this. @tigert @Juanvvc @algefaen @okroth

[2018-03-14 02:04] wlbragg commented on #621
Well, I'm going to do this right. I just noticed the bottom door hinges are up too high, I am going to move them down, Then I will model the "cabin air vent". I'd like to confirm that the vent is opened by the air vent slider in the cabin, that makes sense to me.

[2018-03-14 07:38] okroth commented on #621
It's the cabin vent knob, that when pulled out, opens the cabin vent door. The more you pull it, the more the door opens and directs air into the cabin ventilation ducts.
BTW. The cabin heat mixes in air that has been heated by streaming around the exhaust muffler. But you will unlikely see some action outside the plane :-)

[2018-03-14 12:38] wlbragg commented on #621
Air vent is finished.

Still left to do,  fuel cap animations.

[2018-03-14 20:17] wlbragg commented on #736
I would like to add a relief (normals map) to the new cabin air vent, like the oil access door has.

[2018-03-14 20:26] wlbragg commented on #961
@onox, do you mean actually model in Blender defroster outlets? Is this then a different issue that #202

[2018-03-14 20:41] gilbertohasnofb commented on #736
I will try to do that then.

[2018-03-14 21:02] gilbertohasnofb commented on #736
@wlbragg done, please do a git pull on that branch of the PR. This is how it looks:

![fgfs-screen-001](https://user-images.githubusercontent.com/5700795/37430743-fcd88f5a-27ca-11e8-847f-297eb0546181.png)

[2018-03-14 21:11] onox commented on #961
I think I just meant the modeling, but it can be done in #202 as well. This issue looks a bit like a duplicate.

[2018-03-14 21:12] onox commented on #202
(From #961) See https://github.com/c172p-team/c172p-detailed/issues/910#issuecomment-280856815

[2018-03-14 22:04] wlbragg commented on #961
I may be able to model the outlets when I do the panel work (raising the panel).

[2018-03-14 22:12] wlbragg commented on #736
Nice, it makes these cuts that normally would blend it really pop!

[2018-03-15 01:22] it0uchpods commented on #603
Update:
I had some more time to work on this earlier today, did some new calculations with my scripts, going to test and adjust the data in tomorrow, hopefully have a working version.

I'll let you know when that is there, if you could test it, and let me know if I missed anything? I tried to recreate some of the KAP140's quirkiness, so let me know what you think.

Keep in mind: I did no touch any

[2018-03-15 01:31] wlbragg commented on #603
Thanks Josh!

[2018-03-15 02:55] mathieugouin commented on #1001
Thanks! sorry about the spam...

[2018-03-15 13:16] gilbertohasnofb commented on #736
I am about to push some modifications to the normal maps. I have added normal maps to:

* both air intakes on the side of the nose
* engine air intake below the nose
* interior of oil door
* dipstick screws
* fuel sump below the wings
* some more details below the wings

[2018-03-15 16:50] wlbragg commented on #600
Here are a couple videos showing the finished product.
https://www.dropbox.com/s/xw3tv0z4pdw9slw/2018-03-15%2011-40-35.mkv?dl=1
https://www.dropbox.com/s/wq7sprpz4a60n2q/2018-03-15%2011-44-52.mkv?dl=1

[2018-03-15 17:12] gilbertohasnofb commented on #600
That is looking good, but I have the impression the pedals need to be raised a tiny bit in particular when comparing with the photos above. But it's also hard to tell from the videos.

[2018-03-15 17:20] wlbragg commented on #600
I'll check it out and if I agree I'll move them up.

[2018-03-15 17:50] legoboyvdlp opened #1008 "Light cones of the landing light"
![image](https://user-images.githubusercontent.com/10434911/37481293-49f63bc6-2879-11e8-934d-fcfa2510f3e5.png)
I'm not sure, but at this attitude, should the landing light illuminate the ground?

[2018-03-15 18:00] legoboyvdlp commented on #1008
The best video really are these two:
https://youtu.be/zYFy7jGjg4g?t=91
https://youtu.be/eHeglw46mz0?t=70

I was merely making an uninformed guess, but perhaps I am wrong.

This is just a issue report, if someone with actual experience or actual data on the angles that the real light shines could confirm or correct me ;)

[2018-03-15 18:03] legoboyvdlp commented on #1008
What didn't seem right to me was that looking roughly from where the ground is illuminated, the landing light is not shining directly onto the ground (judging by the size of the actual light)
![image](https://user-images.githubusercontent.com/10434911/37482042-3009e300-287b-11e8-865e-e52ea23105b5.png)

[2018-03-15 18:07] gilbertohasnofb commented on #1008
I think those aircraft in those two videos have a nose landing gear, but I could be wrong. Anyway, given that ALS lights are not true light effects but rather shader magic, what we have might be a limitation that will be difficult to be improved. But perhaps @wlbragg would know better.

[2018-03-15 18:52] wlbragg commented on #1008
I think I see what your saying and that is the light is illuminating the runway too far out away from the aircraft, right? In the video it looks like the light doesn't really hit the runway where you can see it until after the flair and touchdown.

We could potential adjust our light to better match that. We should get some more advice from pilots as to how to adjust the lights. This would apply t

[2018-03-15 19:51] onox commented on #603
Do you know about `<state-machine>`? See `Systems/control-lock.xml`. It has a `<branch>` where you define the property tree location of the Finite State Machine (FSM). In this aircraft that's `/aircraft/fsm/control-lock` for the control lock. In this tree FG exposes the current state, but also the `elapsed-time-msec`. You can use this in the `<condition>` in a `<transition>` to define when to move

[2018-03-15 19:57] it0uchpods commented on #603
@onox I do, that can be moved over. I'll look into it more when I get to that part.

Kind Regards,
Josh

[2018-03-15 22:04] gilbertohasnofb opened #1009 "Add normal map to interior"
Add normal map to the interior of the aircraft, e.g. add texture to the panel material, leather seats, walls, etc.

[2018-03-16 00:38] mathieugouin commented on #1001
- [ ] KMA-20 (Audio panel)
- [x] KX-165 (NAV/COM 1)
- [x] KX-165 (NAV/COM 2)
- [ ] KR-87 (ADF)
- [x] KI-266 (DME)
- [ ] KAP-140 (Autopilot)

[2018-03-16 01:11] gilbertohasnofb opened #1010 "Internal glass is too sharp in the corners"
Internal glass is too sharp in the corners, is it missing some smoothness?

![fg-0](https://user-images.githubusercontent.com/5700795/37498550-e8bb49ee-28b6-11e8-9087-aeae16bdac71.jpg)

From the outside, the glass looks really good:

![fg-1](https://user-images.githubusercontent.com/5700795/37498556-ecf6dbe0-28b6-11e8-82e2-8619d0d7bf8a.jpg)
![fg-2](https://user-images.githubusercontent.com/5700795

[2018-03-16 01:22] #1005 closed

[2018-03-16 01:43] onox opened #1011 "Migrate to 2017.2 MP protocol"
In the 2017.2 MP protocol we have about access to about 90 booleans, 40 generic floats, and 80 short ints.

We should make a list of all the properties that are transmitted as integers, but are actually used like boolean (on/off). We could use a JSBSim `<switch>` instead of FG's autopilot/property-rule XML to control the booleans.

See http://wiki.flightgear.org/Multiplayer_protocol#Properties_Pac

[2018-03-16 06:59] wlbragg commented on #958
@gilbertohasnofb

Added...
    * Nose mesh retopologize
    * Added rudder pedal push rod model
    * Added sump port models
    * Added animated cabin air vent
    * Added engine compartment vent
    * Added wing vent holes
    * Improved bumpspec modeling
    * New cowling handhold

Feel free to reword any of it.

[2018-03-16 14:22] wlbragg commented on #1010
I fixed this and as a byproduct we got am ever so slightly improvement to the rain on glass effect overall.

![glass1](https://user-images.githubusercontent.com/11069680/37525695-8cb0e132-28fb-11e8-886e-dceec94dc0c5.jpg)
![glass2](https://user-images.githubusercontent.com/11069680/37525699-8de257c0-28fb-11e8-9e97-65b052e34547.jpg)

[2018-03-16 14:32] tonghuix opened #1012 "Fatal exception: /position/altitude-agl-m dose not exist."
Tested using flightgear 2018.2 and 2018.1. Then I try to checkout release/2018.1, release/2017.1, same result.

Note that I just delete c172p in FGDATA, if not it will always load default c172 from FGDATA. So I try to replace FGDATA's c172p with this repo. It works fine!.

So I believe it should be some hard-coded path point to FGDATA.

![](https://img.vim-cn.com/b2/3c4af80e3ac6c9a410d1b08ccee0310

[2018-03-16 14:34] wlbragg commented on #1010
FYI: the issue was the front windshield interior glass layer was divided into two sections, the sides and the front. Even though the edges lined up precisely it left a hard edge. What I did was to duplicate the outside layer that is one piece and flip the normals accordingly. That fixed the front glass.
The rear sloping glass also was attached to the front glass so it was getting the effects of th

[2018-03-16 14:39] wlbragg commented on #1010
Oh, no, I think I messed up the entire commit and push, I am seeing the old file and effects. even in the pictures. I have to sort this out so please beware something is amiss here and not to point out the obvious...

[2018-03-16 15:13] wlbragg commented on #1010
After further review, I don't care for our reflection maps. They are nice as in they were done using blender so they are proportionally sound but they are also using Blender's rendering VS FlightGear's so we are not getting anywhere near true reflections. I think someone needs to redo them using screen shots from within the sim in the "squarest" resolution you can achieve. I think we would be bett

[2018-03-16 15:43] wlbragg commented on #1012
So I believe it should be some hard-coded path point to FGDATA.

I'm not totally following this.

That property is created by a filter in the system file located at c172p/Systems/ground-effects.xml and your implying that when trying to load the repo version at a path other than fgdata it looks for the missing fgdata file that you've deleted.

First, I use both the fgdata version and the repo with

[2018-03-16 15:49] wlbragg commented on #600
I did move these up, are they good now?

[2018-03-16 16:04] tonghuix commented on #1012
May be the path name? My cloned repo is under c172p-detailed directory.

[2018-03-16 16:24] wlbragg commented on #1000
I pushed the new mapping.

[2018-03-16 16:29] wlbragg commented on #1012
Maybe, I am using simply "c172p" no -directory.

[2018-03-16 16:59] wlbragg commented on #1011
So we can simply change any of the int's to bool where appropriate?

I'm not quite following this one. Aren't we using switch in this manner already? Can you direct me to a situation where we are not?

[2018-03-16 19:00] onox commented on #1011
I meant some of the `<filter>`'s in `Systems/ground-effects.xml`.

[2018-03-16 19:03] onox commented on #1011
Yes, but many of the XML files for the effects have to be changed. In those files we have a `<condition>` with a `<greater-than>` (for example) in it. That `<greater-than>` can then be removed.

[2018-03-16 19:09] onox commented on #1011
If we use a JSBSim `<output>` property (in `Systems/c172p-ground-effects`), then we can use/alias that property in `<multiplayer><generic>` and in the flight recorder. And we don't need those filters in `Systems/ground-effects.xml` anymore then.

[2018-03-16 20:36] gilbertohasnofb commented on #600
Yes, they look good now!

[2018-03-16 22:04] gilbertohasnofb commented on #1010
Your fix looks good.

[2018-03-16 22:06] gilbertohasnofb commented on #958
I added:

* Improvements to the front glass
* Improved ground equipment

[2018-03-17 00:35] wkitty42 commented on #1012
On 03/16/2018 10:32 AM, Tong Hui wrote:

it should not if you have your paths listed in fg-aircraft properly... maybe try
reversing their order? i have both here and can easily choose between them... if
i can do it, other folks can, too...

--
  NOTE: No off-list assistance is given without prior approval.
        *Please keep mailing list traffic on the list unless*
        *a signed and pre-paid

[2018-03-17 00:41] wkitty42 commented on #1012
On 03/16/2018 12:04 PM, Tong Hui wrote:

that is definitely wrong... it must be c172p which is why it must also reside in
a different directory than FGData/Aircraft...

--
  NOTE: No off-list assistance is given without prior approval.
        *Please keep mailing list traffic on the list unless*
        *a signed and pre-paid contract is in effect with us.*

[2018-03-17 06:17] tonghuix commented on #1012
Thank you all above!

It seems my fault that I should change the directory name to *c172p* to avoid the path problem.

[2018-03-17 06:17] #1012 closed

[2018-03-17 09:32] dany93 commented on #1012
For the _aircraft folder_ itself, its name _must_ be _c172p_.
This issue is common, it comes from github which sends it with the 'repository-name' at 'Download'.

Independently, you can put it in a folder for which you can freely choose the name ('My-aircraft' , 'C172P-detailed',...). After that, you have to set this folder name and path in the launcher or in the command line (`--fg-aircraft=....`

[2018-03-17 11:04] #1000 closed

[2018-03-17 12:43] gilbertohasnofb opened #1013 "Wing shading should match cockpit at their intersection"
The part of the wings which is 'inside' the cockpit should match the colour of the rest of the cockpit walls, but at the moment they are lighter. In the image below, the red and green areas should all have the same shading:

![fg-0](https://user-images.githubusercontent.com/5700795/37555548-bd3d8cc0-29e0-11e8-8486-3564d0e521ba.jpg)

Possibly related to https://github.com/c172p-team/c172p-detailed/

[2018-03-17 14:54] gilbertohasnofb opened #1014 "Implement fuselage imperfections"
Implement fuselage imperfections. My first attempt using the normal maps did not work as they were affecting both the specular light channel (low angle reflections which is what we want) as well as the diffuse light channel (which is what we _don't_ want to be affected). I spoke to Thorsten about how to tackle this and he gave me some ideas which we could try to implement, I will write more on thi

[2018-03-17 14:55] gilbertohasnofb commented on #1014
@wlbragg do you think you might be able to give me a hand with this after we finish working with the external 3D model? I can gladly create the maps necessary for the fuselage bumps but the implementation part might be a little bit too much for me. I am just waiting for a follow up from Thorsten and then I will post here his instructions on how we could attempt to tackle this using a reflection ma

[2018-03-17 16:52] legoboyvdlp opened #1015 "Gyroscope sound can be heard outside the aircraft"
Playing the sound only while inside (or perhaps, near the aircraft?) would help?

Can still here the gyro from over here:
![image](https://user-images.githubusercontent.com/10434911/37557912-8858f88c-2a03-11e8-8b88-3a02e5f81d4b.png)

[2018-03-17 17:02] gilbertohasnofb commented on #1015
@onox I can reproduce it, but I don't understand why is this the case since the gyro sound has these lines:

[code]

Do you have some advice?

[2018-03-17 17:03] legoboyvdlp commented on #1015
Perhaps it is because I zoomed out, not adjusting the max distance.

[2018-03-17 17:06] gilbertohasnofb commented on #1015
I tried adjusting the distance and I didn't hear any difference

[2018-03-17 17:08] legoboyvdlp commented on #1015
the sound can be heard up to 100m away, (adjusting it in view > view position)

[2018-03-17 17:16] wkitty42 commented on #1015
On 03/17/2018 01:02 PM, Gilberto Agostinho wrote:

what is that 5.0? meters?? that's 15 feet and much too far away ;)

[2018-03-17 18:26] wlbragg commented on #1013
Actually all the effects and everything are identical, the only difference is the texture the mesh is mapped to.
I can try mapping the these objects to the interior texture instead of the wing texture. They are a special case as they are wing parts with interior effects.

[2018-03-17 18:33] gilbertohasnofb commented on #1013
We could try that. Try mapping them to the same texture as those green side walls, this way they should match (at least more or less) for every single livery

[2018-03-17 18:50] wlbragg commented on #1013
I think this is going to help.
![temp](https://user-images.githubusercontent.com/11069680/37558931-11bbf724-29ea-11e8-99aa-4338ac04e4d9.jpg)

[2018-03-17 18:51] gilbertohasnofb commented on #1013
Yes, this looks really good!

[2018-03-17 19:16] gilbertohasnofb commented on #1014
Here is what Thorsten wrote me:

So once the gigantic mesh PR is over we could consider playing with this before moving to the cockpit improvements, since those will certainly take a long time. What do you think @wlbragg ?

[2018-03-18 00:21] onox commented on #1015
@legoboyvdlp Did you zoom out with Shift + x? Or with the mouse scroll wheel (in the Helicopter View)

[2018-03-18 00:28] onox commented on #1015
Can it be reproduced by not messing with the view position, but only with the distance using mouse scroll wheel?

[2018-03-18 00:32] onox commented on #1015
IIRC `<max-dist>5.0</max-dist>` should be the distance where volume is 0, but I'm not 100 % sure about that.

[2018-03-18 00:49] legoboyvdlp commented on #1015
I zoomed with shift x, then adjusted view position manually woth the dialog on my second test.

[2018-03-18 13:00] gilbertohasnofb commented on #1015
@onox in Helicopter View, using the mouse scroll wheel, I got as far as 150m from the aircraft and I still listen to the sound

@wkitty42 I agree that those values might need some tweaking, but first it is needed to figure out why the max distance is broken. Once that is fixed then I will gladly tweak things around.

[2018-03-18 13:05] gilbertohasnofb commented on #1015
According to the wiki:

So I am quite puzzled why this isn't working for the gyro sound.

[2018-03-18 13:15] gilbertohasnofb commented on #1015
Ok, I somehow figured it out, but the sound implementation in FG does look buggy:

* if a sound is of type `<type>avionics</type>` then it is not affected by the max-distance
* when the `<max-dist>` was set to `5.0` it would simply cut off at that point. When setting it to `50.0` it smoothly lowers its volume and it's barely audible from the outside view. I will use this value as the result is qui

[2018-03-18 14:13] wkitty42 commented on #1015
On 03/18/2018 09:00 AM, Gilberto Agostinho wrote:

i'm starting to wonder if the zoom stuff is just visual only and not actually
positioning your body... what happens if you use the walker and walk around...
that would probably be the better test... especially is the zoom is only a
visual thing like using binoculars...

[2018-03-18 14:31] gilbertohasnofb commented on #1015
I don't think the zoom is the problem but rather how sounds are implemented. I get the same results whether I change the distance to a sound source with an internal camera, walker or external camera

[2018-03-18 14:55] wkitty42 commented on #1015
On 03/18/2018 10:31 AM, Gilberto Agostinho wrote:

ok... my thinking was that zooming was keeping the body in one place and using a
set of binoculars to zoom in or out of the view... with the body still in place,
the distance doesn't change... that's why i suggested using the walker... i
don't understand the camera stuff other than it being a body's position and then
binocing the view to make it l

[2018-03-18 15:09] gilbertohasnofb commented on #1015
@wkitty42 in the helicopter camera and with the mouse in the standard mode (i.e. clicks toggle hotspots) then the mouse wheel becomes distance. If you change the mouse mode to the viewing mode (in which moving the mouse causes the camera to move around) then the mouse wheel is zoom. In any other view the mouse wheel is set to zoom, not distance.

[2018-03-18 21:57] wkitty42 opened #1017 "ALT output jumps between 11% and 13% throttle."
I'm testing the `bug-1015` branch but I don't think it matters for this. Anyway, while playing around running the engine up and down listening for the gyro whine, I realized that with the throttle at 13% I have ""good"" AMP output on the gauge. If I drop the throttle one level (PgDn) it drops to 11% and the AMP reading drops below 0 (zero) on the left half of the gauge. This is with the battery sw

[2018-03-18 22:04] #216 closed

[2018-03-18 22:04] #600 closed

[2018-03-18 22:04] #621 closed

[2018-03-18 22:04] #736 closed

[2018-03-18 22:04] #1010 closed

[2018-03-18 22:04] #1013 closed

[2018-03-18 22:17] gilbertohasnofb commented on #1017
Good catch, I really don't know why this is happening. @dany93 @onox ?

Just two comments on what you wrote:

Certainly it is not related, that branch only touches the sound xml file.

In relation to the engine, I believe the battery is only used by the starter when starting the engine. Once it is running, turning off your battery won't do anything to the engine even if that is at idle. But someon

[2018-03-18 22:20] gilbertohasnofb commented on #1014
@wlbragg so what do you think, does this make sense to you? I can create the map that can be used for the effect (I have one created with Perlin noise which is what I was using with the normal map and it was looking very decent). The only question is what type of map do you need: just a greyscale map or does it need to be anything special?

[2018-03-18 22:35] gilbertohasnofb commented on #319
Small note for when this gets tackled: the new fuel sumps are not touching the bottom part of the broken wing model. They need to be translated upwards by a small amount.

[2018-03-18 22:42] wkitty42 commented on #1017
yeah, even in a car, you can disconnect the battery IF the alternator is good and outputting the proper voltage... that's actually how we (TINW) test that our alternator is working when we're having electrical problems :laughing:  if the alternator isn't putting out enough power, the engine will die... if it is working properly, you won't even notice a change when the battery is disconnected...

[2018-03-18 23:05] legoboyvdlp commented on #771
I also noticed this last night, flying in the dark, but I remembered seeing a bug report about it, and thought it had been brought up by wlbragg suring his mesh fixes and might have been fixed already... was a little wrong ;)

[2018-03-18 23:06] gilbertohasnofb commented on #771
@legoboyvdlp thanks for the info. Have you observed this with other propeller aircraft? I barely fly anything else these days (heck, I barely fly at all!)

[2018-03-18 23:12] legoboyvdlp commented on #771
I know the feeling :grinning:
I actually haven't, but I haven't been particularly looking out for it.

[2018-03-18 23:12] gilbertohasnofb commented on #771
Thanks. I will post a question about this in the forum.

[2018-03-18 23:16] legoboyvdlp commented on #881
Please ping me if you are working on this, as it would be good to actually model the effects of the cover on the engine temperatures, in the oil and engine system.

[2018-03-18 23:17] dany93 commented on #1017
It is somewhat different from a car.
In a car, the spark transient high voltage is given, anciently by  a DC voltage breaker and a coil, currently by an electronic circuit. The DC voltage (12 V) can be due to the battery or the alternator with rectifying diodes.

At my knowledge:
In an aircraft engine, the plug spark is triggered by a magneto (two magnetos per sparking plug for security). You do n

[2018-03-18 23:18] legoboyvdlp commented on #736
@wlbragg @gilbertohasnofb
One last thing, if you soom in on the door handle, it appears to have smoothing issues. I think this is the best place to report this, but if necessary I shall create a new issue.

[2018-03-18 23:20] gilbertohasnofb commented on #771
Here is a link: https://forum.flightgear.org/viewtopic.php?f=4&t=33962

And I could _not_ reproduce this in a quick test with the c182s

[2018-03-18 23:21] legoboyvdlp commented on #1017
I believe there was an issue about the ammeter and how the gauge needs to be proeprly simulated at some previous point?

[2018-03-18 23:22] legoboyvdlp commented on #771
FWIW, I observed the bug from the cockpit, using real time at about dusk, real weather (quite stormy).

[2018-03-18 23:22] gilbertohasnofb commented on #736
I don't see it and can't reproduce it lego, can you post a screenshot?

[2018-03-18 23:24] legoboyvdlp commented on #736
On the last screenshot published by you.

But actually, it seems to be just the fuselage reflections causing a few strange angles to appear, not a mesh issue.

[2018-03-18 23:25] legoboyvdlp commented on #621
Should this air vent add drag, or is the effect too miniscule to notice?

[2018-03-18 23:27] gilbertohasnofb commented on #736
I think that's not the door handle but the mechanism that rotates the door. And if that's what you are talking about then it doesn't have any mesh or smoothing issues, it's just the light in that shot

[2018-03-18 23:28] gilbertohasnofb commented on #621
I would guess so. @dany93 ?

[2018-03-18 23:31] legoboyvdlp commented on #736
Sorry.... my brain doesn't work properly at this late hour :) Yes, it is the hinge, not the handle...

[2018-03-18 23:33] gilbertohasnofb commented on #771
@wlbragg I think this has to do with our 3D model, I tried a couple of other propeller aircraft and none had this issue. Could we compare our propeller to the c182s or c152? Those do not get red.

And by the way, our propeller disk could do with some improvement. Would it be possible to have the front of the disk mapped to a different texture than the back? And could the front disk depend on liver

[2018-03-19 01:07] onox commented on #1017
Yes, #37 and #38

[2018-03-19 08:50] gilbertohasnofb commented on #1017
@onox So should this be closed as a duplicate and we add the information to those other issues?

[2018-03-19 08:55] algefaen commented on #1017
@dany93 is correct, when the engine is running you don't need battery or alternator at all, since the spark plugs get their power from the magnetos. I've had a total electrical failure when my alternator died and battery drained in-flight, so I'm very happy that this is the case. (=

I'm not 100% sure what would happen if you have low alternator output and turn the battery switch off, sounds like

[2018-03-19 12:12] okroth commented on #621
It may be negligible.

quick estimation: size is 5 by 8 cm, cw=1, speed v=100kt =50m/s:

F = 0.05m * 0.08m * 0.5 * 1.22kg/m3 * v*v * 1 = 6.1N

--
Oliver

Am 19.03.2018 um 00:25 schrieb Jonathan Redpath:

[2018-03-19 16:33] wkitty42 commented on #1017
On 03/19/2018 04:56 AM, algefaen wrote:

yes, i kinda did forget about this aspect with my comments about the engine
still running with the throttle at zero... later i realized that's like a car so
it should have been at it lowest idle which it was so that part is good... what
i was really looking at was with the engine throttled up, the ALT output
remained the same a tick over the zero line... it

[2018-03-19 16:36] legoboyvdlp commented on #621
6.1N is the equivilent of 610 grams, if I remember right... not really that much.

[2018-03-19 17:37] legoboyvdlp opened #1020 "Engine Oil Capacity"
![image](https://user-images.githubusercontent.com/10434911/37612099-21b3dba2-2b9c-11e8-878c-f99786a5cde2.png)

According to this, should I leave the oil capacity as it is, or add another quart?

[2018-03-19 17:55] onox commented on #1017
@gilbertohasnofb Yes

[2018-03-19 17:57] gilbertohasnofb commented on #37
Related 'kind of' duplicate: https://github.com/c172p-team/c172p-detailed/issues/1017

I am copying the relevant information on the description of this issue here.

[2018-03-19 17:57] #1017 closed

[2018-03-20 00:49] wlbragg commented on #1014
I don't know...
How did you apply the previous attempt?
What did that map look like?

[2018-03-20 00:56] gilbertohasnofb commented on #1014
Previously I used a normal map, which is RGB. But as Thorsten correctly pointed out, a normal map will affect both types of reflection and we want only specular reflections (shallow angle reflections).

Do you understand how exactly to implement this or do you know any other aircraft with similar implementation? In theory, I think we could just use a greyscale texture for the map since we just nee

[2018-03-20 01:05] gilbertohasnofb commented on #1014
I was hoping something like this would suffice:

![fuselage_imperfections_map](https://user-images.githubusercontent.com/5700795/37630145-bb82b468-2bda-11e8-89ea-e7c0bbd0bfda.png)

But the question is then how to implement this.

[2018-03-20 01:08] wlbragg commented on #1014
OK, after re-reading this, then I think we should replace the current reflection map with this and adjust. That would be in bumpspec.eff the current cube is
Aircraft/Generic/Effects/CubeMaps/buildings/N.png, etc...

[2018-03-20 01:10] wlbragg commented on #1014
Now we have a couple choices I think, use just this map?. Or add this noise to a copy of the current map?

[2018-03-20 01:11] gilbertohasnofb commented on #1014
I don't think we want to replace that cube map as this map I created above is not 'what' will be reflect but rather the amount of reflection at shallow angles. We want to keep both effects if that makes sense.

[2018-03-20 01:12] gilbertohasnofb commented on #1014
Look in particular the two shots of the wing on the before/after section of this comment here: https://github.com/c172p-team/c172p-detailed/pull/1004#issuecomment-373548406

The bumpiness only affects how each part of the wing will reflect, but the content of the reflection is still `fgdata/Aircraft/Generic/Effects/CubeMaps/buildings/U.png`, which is the sky texture

[2018-03-20 01:14] gilbertohasnofb commented on #1014
What if we define a new effect `spec.eff` based on `bumpspec.eff` but without the normal stuff? Could both effects then be applied to the fuselage, wings and tail?

[2018-03-20 01:16] wlbragg commented on #1014
Yeah but there is a  mechanism for each effect, I don't know that you have an option for a third map on top of it all?

I'm not sure I follow you, You can't apply two separate effects to one object.

Or are you saying we lose the normals map?

[2018-03-20 01:16] #1014 closed

[2018-03-20 01:17] wlbragg commented on #1014
Oops, got carried away with the mouse click.

[2018-03-20 01:20] wlbragg commented on #1014
You have this
[code]
and this
[code]
It sounds like he is talking about doing this with the reflection cube. The only way I envision this is by modifying that cube.

[2018-03-20 01:21] wlbragg commented on #1014
And the adjustment to the reflection cube that he is referring to is this...
[code]

[2018-03-20 01:24] wlbragg commented on #1014
I don't don't know enough about it, you may have to ask for specifics of exactly how to implement this.

[2018-03-20 01:26] gilbertohasnofb commented on #1014
No, I wasn't sure if more than one effect could be applied.

I see. I am really ignorant on how effects work in FG so this is a tough one.

But I am not sure how that would achieve similar results as in those images I previously posted. I will make some experiments with these effects and report my results here.

[2018-03-20 01:28] wlbragg commented on #1014
I may be totally off base here but can you overlay this on top of the reflection map we currently use with is 6 of these types of images.
![d](https://user-images.githubusercontent.com/11069680/37630674-e5c00d9c-2bb3-11e8-8d2f-b86a790884ee.png)

[2018-03-20 01:29] gilbertohasnofb commented on #1014
That would not work either, as the bumps should have fixed coordinates in relation to the fuselage, while the world cubemap rotates as the aircraft changes its position.

[2018-03-20 01:31] wlbragg commented on #1014
OK, yeah this is beyond my knowledge base.

[2018-03-20 12:59] gilbertohasnofb commented on #1014
@wlbragg Just found in http://wiki.flightgear.org/Howto:Use_the_normal_map_effect_in_aircraft that the alpha channel in a normal map controls the specular reflections. I will experiment with that.

[2018-03-20 14:02] tonghuix opened #1021 "Add movement and sound for Primer"
First, I consider it as a *low-priority* enhancement.

 Please see the video from 1:36 about priming the engine, in real world primer not just 'In' and 'Out' two state, it also has a process from out to in, and also a 'lock' progress.

https://www.youtube.com/watch?v=HcomtC_DSlc

To enhance the reality, I suggest add a movement for primer and sound as well.

[2018-03-20 15:03] wkitty42 commented on #1021
On 03/20/2018 10:02 AM, Tong Hui wrote:

it is the little ones that make the big differences ;)

ummm... your primer in the c172p doesn't move in and out when you click on it?
mine does... i don't know if there's any sound associated with it, though... i
haven't looked either... just surprised that your primer apparently doesn't move...

[2018-03-20 15:12] gilbertohasnofb commented on #1021
@ tonghuix c

I like this, thanks for the idea.

I think he meant a smooth animation between its range. At the moment, clicking on the primer just toggles it in/out.

@wlbragg @onox what do you guys think about the following change to our primer:

* the primer becomes a true lever that can be clicked and dragged, not only toggled
* the user must click and drag it in and out to fill the fuel chambe

[2018-03-20 15:13] gilbertohasnofb commented on #1021
Tiny bit related to https://github.com/c172p-team/c172p-detailed/issues/81 but not a duplicate: this issue here deals with animation and user interaction, that other deals with the primer implementation itself and how it affects the engine.

[2018-03-20 16:13] wlbragg commented on #1014
Ah, OK then, so you do technically combine your noise image with the normals map but in the alpha channel.
I did the four channel lightmap for the shuttle so I do have limited experience manipulating the channels. I remember it wasn't the most intuitive thing I have ever done though, especially the alpha channel as your results (final image) ends up with a degree of transparency (alpha).
Let me kn

[2018-03-20 16:26] gilbertohasnofb commented on #1014
I am used to working with alpha channels as a separate map as I did a couple of textures like this for Oolite (an amazing open source version of Elite). Anyway, I did a preliminary test but things didn't go too well: the alpha channel simply dictates how reflective a surface is, and that's not what we want. Bumps are not less reflective, they just reflect light from a different angle. So basically

[2018-03-20 18:11] wkitty42 commented on #1021
On 03/20/2018 11:12 AM, Gilberto Agostinho wrote:

ahhh... my bad... i've never really paid any attention other than having to
click it six times or so... that's always been painful... have thought it would
be nicer to click once, see it slide out and slide back in with a full stroke...
click it again and watch it go...

i thin it sounds ok but think about needing space to drag the thing out and t

[2018-03-20 18:20] legoboyvdlp commented on #1021
It would seem by the video it is just a lever like the throttle: it should probably just stay there?

[2018-03-20 18:25] gilbertohasnofb commented on #1021
I don't ever drop my mouse going from idle to full throttle, perhaps you need a larger mousepad :wink: In any case, people can always use autostart.

Yes, just like in the real aircraft.

[2018-03-20 18:33] tonghuix commented on #1021
And...the texture of primer also need updated.

![111](https://user-images.githubusercontent.com/423703/37675452-3db04c04-2cb0-11e8-8836-b2ee6e94988f.png)

A picture from Jeppsen Private Pilot Manual.

[2018-03-20 18:46] wlbragg commented on #1014
That does sound like what you want to get your distortion?

[2018-03-20 18:52] gilbertohasnofb commented on #1014
Yes, I want to simulate the distortions of the fuselage. Our aircraft looks like a perfectly flat board when reflecting light at a low angle, but in reality GA aircraft are full of imperfections. This is what X-Plane 11 simulates and that's what I am trying to achieve. Look at the reflections below, see how they are all irregular, a bit like reflections on water. That's because the fuselage is all

[2018-03-20 18:52] gilbertohasnofb commented on #1021
@tonghuix I will open a new issue for that, as that's a 3D model + texture thing. All our levers could do with some improvements.

[2018-03-20 18:54] legoboyvdlp opened #1022 "Glass (again)"
![image](https://user-images.githubusercontent.com/10434911/37676565-2e465c1c-2c70-11e8-87fd-436db1333172.png)

[2018-03-20 18:56] gilbertohasnofb opened #1023 "Improve 3D model and texture of all levers"
Improve 3D model and texture of all levers (including throttle, mixture, primer and carb heat):

![aad](https://user-images.githubusercontent.com/5700795/37676517-05ba8ff2-2c70-11e8-8243-0320a506e516.jpg)

![aaf](https://user-images.githubusercontent.com/5700795/37676518-05e4c1fa-2c70-11e8-9b65-f646c65e2e60.jpg)

![aag](https://user-images.githubusercontent.com/5700795/37676519-05ff85a8-2c70-11e8-

[2018-03-20 18:57] gilbertohasnofb commented on #1021
See https://github.com/c172p-team/c172p-detailed/issues/1023

[2018-03-20 18:57] gilbertohasnofb commented on #1022
What's wrong with that? Just some reflection distorted by the glass, isn't it?

[2018-03-20 18:59] legoboyvdlp commented on #1022
I'm a little concerned about the jagged lines. What exactly is it reflecting there? But perhaps the new reflection cubemap might reduce the severity of those lines?

[2018-03-20 19:00] gilbertohasnofb commented on #1022
Some random image that is not a true reflection of the world outside.

I don't think that's worth it to be honest. @wlbragg?

[2018-03-20 19:44] wlbragg commented on #1022
I don't remember exactly where I pointed it out, but I am not totally happy with the reflection cubes we  are using, Problem is I don't know that we  an "easily" improve upon them. They are Blender generated and are reflecting what you see in Blenders Model view, not real life. Because of the way models were historically put together they also don't contain any of the instruments. So the reflectio

[2018-03-20 19:58] wlbragg commented on #592
@onox, I was starting to take a look at this and I realized that by adding a leading edge addition to this that we now have even more models to deal with.
We created the leading edge for the dirt effect so we could customize that edge differently from the rest of the wing, which in theory is a good idea as it should get dirtier quicker. How much customization, I don't really know. Minimum it would

[2018-03-20 20:02] wlbragg commented on #592
If we retain the leading edge as being separate in the damage models can I combine the leading edge together with the rest of it's wing part, or do I leave it distinct as all the effects still apply to the parts and would have to be modified accordingly? I think we have to leave it separate, correct?

[2018-03-20 23:09] gilbertohasnofb commented on #1022
Are you sure about that? I took a look at them and they seemed to be using FG textures and everything. There are a bunch of cube maps in that FGDATA folder, but all of them look equally bad. :cry:

[2018-03-21 01:10] wlbragg commented on #1022
No. you right @gilbertohasnofb I was looking at the backup colored maps, specifically the red one...
![red_nx](https://user-images.githubusercontent.com/11069680/37690666-7f55424e-2c7a-11e8-9dc5-a7fa1d687692.png)
However the ones were using do appear to be rendered from in the sim.
![reflection_nx](https://user-images.githubusercontent.com/11069680/37690676-9133f686-2c7a-11e8-9fb7-04dbb595a26a.png

[2018-03-21 01:18] wlbragg commented on #1022
Although they do appear to be too dark in my opinion. I think we may be loosing some detail. Also why the gray windows VS white? This was the original grayscale version that wasn't proportionally correct.
![grayscale_nx](https://user-images.githubusercontent.com/11069680/37690876-ced2036a-2c7b-11e8-9d4d-c96e5a3e0496.png)

[2018-03-21 01:29] wlbragg commented on #1022
The first image are the old wrong proportioned gray scale versions..
![fgfs-screen-006](https://user-images.githubusercontent.com/11069680/37691045-1d9ecbbc-2c7d-11e8-9294-f9772e747921.png)
![fgfs-screen-007](https://user-images.githubusercontent.com/11069680/37691054-295a782a-2c7d-11e8-9438-37f9ded0d5e4.png)
These are what we are using now...
![fgfs-screen-004](https://user-images.githubuserconte

[2018-03-22 15:43] wlbragg commented on #319
@gilbertohasnofb
I seem to have misplaced your texture for the wing ribbing for the end of the broken wing model. Any chance I can get you to add it to the wing.png "default" texture? Somewhere over on the right I suppose would be the best location. I also vaguely remember it having a green color I didn't think looked right, but I don't completely remember. Maybe it was supposed to be that color a

[2018-03-22 18:03] wlbragg commented on #592
@onox, we are using many "damage" strobe objects and translating them the same as we do the original strobe1 and strobe2 objects. There is no reason to do this as far as I can tell. Can't we simply use a condition on the original two strobes to translate them where we want them for each damage or non-damage condition?
For example...
[code]
becomes
[code]

We lose the following four objects in the

[2018-03-22 19:43] wlbragg commented on #592
Thanks!

[2018-03-22 19:56] wlbragg commented on #592
Hum, that's actually an interesting concept, your rotating the lights, I'm trying to translate them by selecting a different translate position based on a condition. It doesn't appear to work this way. I think I need to use a property that changes the position through one translate animation VS conditioning to use set translations. That is basically what your doing except using a rotation animatio

[2018-03-22 21:08] wlbragg commented on #592
@onox
I have another issue. I was going to model any wings broken with a jagged edge, both with two jagged edges. That doesn't fit with the above layout as we would technically have to have 3 center models, left jagged, right jagged, both jagged.
Thoughts anyone?
Another option is to break them off cleanly using @gilbertohasnofb rib texture in the ends to help add a higher level of realism.

[2018-03-23 16:35] wlbragg commented on #319
Please make it as close to this outline as possible, obviously only on the default texture.

![tex](https://user-images.githubusercontent.com/11069680/37841630-23785db0-2e8e-11e8-804d-ddd9afd501b1.jpg)

[2018-03-23 16:39] gilbertohasnofb commented on #319
@wlbragg Ok! But would you be able to send me a 1024 x 1024 or 2048 x 2048 image with the UV-mapping position such as above? Because if the resolution matches what we use for the textures, I can superimpose it while creating a new texture and then the placement will already be perfect.

[2018-03-23 16:47] wlbragg commented on #319
@gilbertohasnofb can you just scale that, crop the black border and it should scale to either.That is what I would have do and will if you still need me to.

[2018-03-23 16:48] wlbragg commented on #319
If you try that and it doesn't work then I can try something else.

[2018-03-23 16:49] wlbragg commented on #592
I went with the third option, it works fine.

I do have a very difficult problem however, I can't get the landing/taxi light cover to export correctly. By that I mean it crashes the sim when a select animation makes it visible.
Here is what I think I know...

It is a straight copy appended from the main blend which brings over it material and texture mapping settings, I think.

It like all the oth

[2018-03-23 16:57] wlbragg commented on #592
Wow, I am such a dummy, I figured it out. I accidentally left the glass material joined with a another object using none compatible settings, duuu!

[2018-03-23 16:59] gilbertohasnofb commented on #319
Sure, I can do that, it's just that if you send me in native resolution then it's easier to be precise very precise. I think Blender exports that automatically, since that's how paintkits are created. But no problems, I can just scale it myself.

[2018-03-23 17:00] wlbragg commented on #319
I can try that I just don't know if it will export the mapping!. I was going to try that anyway, let me see if it does.

[2018-03-23 17:04] gilbertohasnofb commented on #319
When I did the textures for the c182s, Heiko gave me a bunch of png files looking like this:

![](https://raw.githubusercontent.com/HHS81/c182s/40b92cdcf2b5749614913e5119b2e4f2e7537722/Models/PanelTexturing-MainPanel.png)

[2018-03-23 17:05] gilbertohasnofb commented on #319
or ![](https://raw.githubusercontent.com/HHS81/c182s/40b92cdcf2b5749614913e5119b2e4f2e7537722/Models/PanelTexturing-Controls.png)

[2018-03-23 17:07] wlbragg commented on #319
I could be wrong but that looks like Sketchup.

It's not saving the uv-mapping and I don't know how. I can't even get it to show both mappings at the same time and I used to know how to do that. What I gave you was a Gimp with two layers super imposed. It doesn't have to be perfect I can easily resize, we just need the proportions to be consistent so the round holes remain round.

[2018-03-23 17:09] gilbertohasnofb commented on #319
Yeah, no worries then, I just thought it was something Blender did automatically. Let's now waste time with this, I can easily scale and match the image you posted above.

[2018-03-23 17:37] wlbragg commented on #592
Spoke too soon, while that could have been the issue, It wasn't. I completely started from scratch and as soon as I try to import or assign an object with the settings we typically use for glass, it crashes the sim. I don't why, but I am done waisting my time on this. If someone else can figure this out I will leave the landinglightcover_D object in the Blend.
The way I look at it, where the wing

[2018-03-23 18:25] wlbragg commented on #592
Here is the first look at the new damage models. You can see my solution for the landinglightcover object. I am choosing to have it shatter and fly away and while it is at it it brakes the landing and taxi light bulbs.
![dmg1](https://user-images.githubusercontent.com/11069680/37847071-90deed9c-2e9d-11e8-983a-f3283f2b0788.jpg)
![dmg](https://user-images.githubusercontent.com/11069680/37847080-96ab

[2018-03-23 19:30] onox commented on #592
Yes, if you can change the animations so that you can reuse objects, then you should do that.

[2018-03-23 19:36] onox commented on #592
@wlbragg So I need to enable `landinglightcover_D` in the blend file and then export the ac file and then FG should crash?

[2018-03-23 19:39] onox commented on #592
A third option is to extend the undamaged center section with two separate rib and jagged edges and call those two pieces when appropriate, left_jag, right_jag or both of them. That way the center section can still be on all the time making things much simpler.

My original idea was the second option (so you cleanly cut the outer parts of the wings), but maybe the third option is okay too (as long

[2018-03-23 19:47] #959 closed

[2018-03-23 19:47] #1015 closed

[2018-03-24 05:50] wlbragg commented on #592
@onox

then FG should crash?

Yes, it has been pushed now so you can do that if you want to try to figure out why it is crashing FG. However I am happy with the solution of simply not using the cover as it would probably have broken in any of the damage events where we want to use it. But if you can get it to work I think it would be really cool for me to break the glass and leave part of it where

[2018-03-24 06:24] wlbragg commented on #319
@gilbertohasnofb the easiest thing to do was to use the fast prop object from the c182s and map it to the new texture you provided using our material settings. I was worried that using the texture from the c182s would darken up our prop too much. By using our material settings I think it worked out really well. I like it.
One thing I didn't test for was the red or yellow coloring as I don't think

[2018-03-24 06:29] wlbragg commented on #592
After testing a bit more I see we do allow lights after damaging the wings. If we do away with that concept and consider the electrical system for the lights broken when there is wing damage, then we are pretty much done with this issue once we condition the lights to no longer work.
I think that is the easiest thing to do and I see no reason to go through the effort of having to re-factor the lig

[2018-03-24 14:34] dany93 commented on #592
@wlbragg wrote:

I've done some tests, got these situations and observations.

**Properties:**
`/fdm/jsbsim/wing-damage/left-wing=.... , right-wing=....` (0, 0.12,  0.3, 1=broken=gone)

Flyable and still controllable with:
- a single wing at 0.12 (not more),
- both wings at 0.3.

**3D model remarks:** as seen from the exterior.

**Results**

Left wing | Right wing | Left 3D | Right 3D | Remark |
-

[2018-03-24 16:12] gilbertohasnofb commented on #319
@wlbragg First, sorry for my super slow replies, I have been ultra busy these last days.

As for the prop disk, it looks really good. Did you make them livery dependant? This way I can tweak them for each different front prop.

I removed the white and red part of the disk in the texture I pushed to this branch since our default 4X-CHV has a fully black propeller. For other liveries, I will create

[2018-03-24 16:15] gilbertohasnofb commented on #1022
@wlbragg I think the reason we are using grey scale cockpit maps is because we have many different liveries for the cockpit but a single map, and back in the day we decided that a BW map would fit better with all of them. I still think that's an all right decision as the reflection is rarely that noticeable (in the sense of being able to really see cockpit parts and other things in the reflected i

[2018-03-24 16:19] gilbertohasnofb commented on #319
@wlbragg Take a look at this picture, it's the only good one I found of a 172 with a broken wing. The interior of the wing is simply some grey metal, so the textures I will push will be super simple metallic ones.

![](https://media2.fdncms.com/boiseweekly/imager/cessna-172-crashed-approximately-one-mile-southeast-of-silver-city/u/original/2658552/1338214655-cessna.jpg)

[2018-03-24 16:24] gilbertohasnofb commented on #319
done and pushed

[2018-03-24 16:44] wlbragg commented on #1022
@gilbertohasnofb

I'm not questioning that, I agree.

Now my only "potential" issue is the gray scale maps we are using now. They have a gray (or darker) window area that I think should really be white? The area that is window is actually gray in color and I don't think that is right.

Also, as a whole they appear to be a little darker than the original "gray scale" ones we used to use. Those we r

[2018-03-24 16:48] gilbertohasnofb commented on #1022
I see, I will take a look at that.

[2018-03-24 17:18] wlbragg commented on #319
@gilbertohasnofb

As far as livery dependent is concerned for the Propeller.Fast object. We have to set up a new livery logic for that texture. I have no problem doing that but it would be helpful to have at least one of the alternate livery prop textures for testing purposes.

[2018-03-24 17:29] wlbragg commented on #319
Also the rib texture is on a livery dependent texture so it unfortunately needs to run through the liveries. In order to remove it from the liveries I would have to make it a different object than the damaged (broken saw edged) object and that would require having another object to manipulate in the damage code and also require you to move the texture to a different texture sheet that is not liver

[2018-03-24 17:39] wlbragg commented on #319
Not true, it's now set up and shouldn't be a problem to add a livery dependent fastprop when needed.

[2018-03-24 17:40] gilbertohasnofb commented on #319
no problems, I will do that. Give me a sec.

I am already pushing a testing one for you!

[2018-03-24 17:46] wlbragg commented on #319
I'm ready to push all my corrections, let me know when your done so I can pull your final stuff. I think I am all done except the new OH-CTL prop livery which I am adding now and will be included when I push.

[2018-03-24 17:48] wlbragg commented on #319
Nice, OH-CTL works fine, looks good.

[2018-03-24 17:49] gilbertohasnofb commented on #319
Done. I pushed the broken wing texture to all wing textures, see my comments in the PR. Also, please take a look at my comment https://github.com/c172p-team/c172p-detailed/pull/1019#issuecomment-375905883

[2018-03-24 17:50] gilbertohasnofb commented on #1022
@wlbragg done, reflection maps should have a white background, could you please confirm if that improves the issue?

[2018-03-24 17:59] wlbragg commented on #592
Thanks @dany93 I think I'll have to override the damage system and set the damage properties by hand to really test these. I can't confirm your findings without getting the condition which as you know is really difficult to achieve.

[2018-03-24 17:59] wlbragg commented on #319
That's included in the last push.

[2018-03-24 18:43] dany93 commented on #592
I believed having seen 0.3 and 1, however I'm wondering is it can happen. Based on my spirit when I did it.

[2018-03-24 20:28] wlbragg commented on #319
OK, I decided to get fancy and add the holes to the ribbing itself. This is really cool. I hope we don't cause people to want to crackup just to see the model! :smile:
![rib1](https://user-images.githubusercontent.com/11069680/37868638-f45942a2-2f77-11e8-8791-0eef58732d87.jpg)
![rib2](https://user-images.githubusercontent.com/11069680/37868639-f6537f14-2f77-11e8-882a-de1bc7e97b6c.jpg)
![rib3](http

[2018-03-24 20:50] onox commented on #592
I noticed when both wings are damaged (bended upwards), the green ALS light moves with it (correct), but the red ALS light moves above where it should be (not correct).

[2018-03-24 20:53] onox commented on #592
When the wings are broken, the sides of the wings (where they are damaged) is grey/purple and reflective. I don't see the green unpainted interior of the wing. Isn't that what we wanted?

[2018-03-24 21:01] onox commented on #319
Looks better! :smile:

[2018-03-24 21:08] onox commented on #592
@wlbragg You can test this by commenting lines 388 to 390 in the -set.xml file (you disable `Systems/damage.xml`). Then you adjust `/sim/models/c172p/damage` by setting the value to 0 (ok), 1 (broken), 2 (damaged).

[2018-03-24 21:10] onox commented on #592
I can fix this in an hour and migrate it to 2017.2 protocol as well.

[2018-03-24 21:10] onox commented on #592
Gonna do the migration in a different PR.

[2018-03-24 22:48] gilbertohasnofb commented on #319
Looks amazing!!

[2018-03-25 09:40] dany93 commented on #592
Tests: wing animations vs property values, OK.
(done at rest, by setting manually the prop values)
Independently, every configuration and combinations (each wing at 0, 0.12, 0.3, 1) ==> 3D match the property values.
As the property values matched the flight stresses in my previous tests above, that should be OK.

_Your  ribbings with holes which appear when a wing is broken are amazing!_

[2018-03-25 16:20] wkitty42 commented on #319
i don't remember but do we also damage the wing if we have, say, a wing strike on take off? like i've done many many times before i figured out my fast method of getting the AP turned on to go wings level and maintain my climb against the p-factor and side winds :smile_cat:

it'd probably be too complicated to have another set of wing halves or to have another part of the wings for, say, the outer

[2018-03-25 18:35] wlbragg commented on #319
Yes, same damage can occur if you strike the wing on the ground as the force damage.

I thought about possibly adding some tail damage. I have not seen any images though of tail strike damage. I also don't know how common of an event that might be, not that any of this is.

[2018-03-25 20:08] #779 closed

[2018-03-25 20:08] #1021 closed

[2018-03-25 20:29] wlbragg commented on #771
I told you when we switch to the c182s material settings and now their propblur model that I thought the issue corrected itself.

You said no. Well I just tried your weather settings and the time of day at the location you suggested and got the same results you did. But guess what, I get the same thing with the c182s!

In my case it corrected it in conditions where it was readily apparent before t

[2018-03-25 20:33] wlbragg commented on #771
Now I am not saying that I can't try a few things such as the ambient settings in Blender (I'm experimenting with that now).

[2018-03-25 20:34] wlbragg commented on #771
This is the same results with the c182s as I get with the c172p.
![fgfs-screen-005](https://user-images.githubusercontent.com/11069680/37879666-f825ebb8-3041-11e8-81c6-e95297df7fb7.png)

[2018-03-25 20:56] wlbragg commented on #771
@gilbertohasnofb

Please try this .ac and let me know what you think. If you think it works for our issue, make sure it works in all other lighting typical lighting conditions.
https://www.dropbox.com/s/5k1a83btrrc3bls/c172p.ac?dl=1

[2018-03-25 21:15] gilbertohasnofb commented on #771
I just did the same test and all aircraft seems to be affected somehow. Apologies for the misinformation, I must have messed up my prior test with the c182s. Both c182s and c150 get the yellow -> red -> black propeller colour transition at sunset time:

![fg-0](https://user-images.githubusercontent.com/5700795/37880019-d9a1e632-3079-11e8-959d-4d7377128948.jpg)
![fg-1](https://user-images.githubuse

[2018-03-25 21:19] gilbertohasnofb commented on #771
@wlbragg This ac model you sent me seems to solve 99% of the problem (just a hint of red is left, nearly imperceptible). But the wing edge seems to have some issues now:

![fgfs-screen-001](https://user-images.githubusercontent.com/5700795/37880057-75b7062e-307a-11e8-97c6-437db9fec098.png)

[2018-03-25 21:26] wlbragg commented on #771
What branch did you stick that .ac into  to test it?

[2018-03-25 21:28] gilbertohasnofb commented on #771
Oh, I inserted it in the master, sorry

[2018-03-25 21:37] wlbragg commented on #771
Before I forget, something that would be really cool if we can locate it is engine sounds from the 180 hp equipped aircraft. I wonder how different the sound would be?
I am assuming these sounds are from a 160 hp aircraft?

OK, back to the lighting. What I changed is the rgb values in the .ac file, line 19
[code]
I set them to from 1.0000 1.0000 1.0000 to 0.0000 0.0000 0.0000. You can mess with it

[2018-03-25 21:41] gilbertohasnofb commented on #771
I am also assuming that's a 160hp. If we ever find a source for the 180hp, I would definitely use it. But I suspect that the main difference is the higher rpm at same throttle settings, and that's compensated in volume and pitch of the sounds (engine sound pitch and volume varies with RPM). In the end, the difference would not be too big I think.

Exactly.

I think these are working well.

Let's k

[2018-03-25 21:45] wlbragg commented on #771
OK, I'll add it to the open PR and as far as I am concerned that PR is finished. We may want to let @onox review it and merge it.

[2018-03-26 04:33] tigert commented on #319
On tail strike there is the tiedown hook that gets scraped, and on a harder strike it might break off, causing scraping to the underside of the fuselage under the tail and maybe rudder. If the hook is there it protects the fuselage from scrape marks.

[2018-03-26 04:34] tigert commented on #319
well, it's a metal loop, nit exactly a "hook" but you know what I mean :)

[2018-03-26 05:43] wlbragg commented on #319
OK, yeah we actually have the loop and we also simulate the tail scrap. Although we need to make a better particle effect for it.

[2018-03-26 14:06] legoboyvdlp commented on #1022
@wlbragg

![image](https://user-images.githubusercontent.com/10434911/37911164-3691db12-3107-11e8-870a-7a9c9c31eaa1.png)

Is that line meant to be half green and half white on the back window?

[2018-03-26 14:07] legoboyvdlp commented on #1022
Also, at the rudder:
![image](https://user-images.githubusercontent.com/10434911/37911236-6beaa35c-3107-11e8-9bab-9f4b7470ff53.png)

A bit of a mistmatch there

[2018-03-26 14:08] legoboyvdlp opened #1025 "Instruments black from exterior"
![image](https://user-images.githubusercontent.com/10434911/37911301-96b58462-3107-11e8-8416-b651bc281e74.png)

[2018-03-26 14:10] legoboyvdlp opened #1026 "Some objects are clickable from the exterior"
![image](https://user-images.githubusercontent.com/10434911/37911354-b86217d8-3107-11e8-8a5a-cfd5b9151f26.png)

This is just a "nice-to-have" thing, but it would be nice if the air vent and window handles, at least, didn't work from the outside, unless the door is open. If you agree, could I add that to the animation?

[2018-03-26 14:11] legoboyvdlp opened #1027 "Improve 3D model of the top of the nose on the left side"
The 3D model of the top of the nose has a strange shape on the left side and is a bit buggy, see:

![image](https://user-images.githubusercontent.com/10434911/37911424-ef21018a-3107-11e8-8879-82e0ec14d3f4.png)

[2018-03-26 14:15] gilbertohasnofb commented on #1027
The rudder is not mistmatching in my opinion, you are comparing a deflected rudder with the back tip of the fuselage. They will never match like that.

The bottom image is a known issue though, but there isn't much I can do via textures, that's a 3D model problem which I thought of letting go. It affects only a single livery and is quite minor (though a tiny bit annoying). If @wlbragg agrees that

[2018-03-26 14:16] gilbertohasnofb commented on #1025
Lego, what zoom and distance are you? The instruments go black on purpose if you are very distant, in order to improve performance. I suspect the image above was taken at very far distance + a lot of zoom. Could you please tell us how to reproduce it?

[2018-03-26 14:26] legoboyvdlp commented on #1025
Hmm... I was in helicopter mode, and using the X-key as usual.
I merely went to helicopter mode and zoomed in.

Actually, how do you change the view disctance without actually using the dialog (which is quite hard to do )

[2018-03-26 14:27] legoboyvdlp commented on #1027
Right :)

[2018-03-26 14:28] gilbertohasnofb commented on #1025
In the regular mouse mode, use the scroll wheel while in helicopter view.

I will test this again later today to see if all is fine but I thought all instruments would show normally at the default distance in the helicopter view.

[2018-03-26 16:53] wkitty42 commented on #1026
On 03/26/2018 10:10 AM, Jonathan Redpath wrote:

if it can easily be fixed in the animation, i would say "sure! do it."
especially if it adds to the realism factor :)

just my 2 centavos, of course...

[2018-03-26 19:01] wkitty42 commented on #906
this is the first issue i find when looking back for tutorial related stuff... is it possible to have the tutorials check for starting with the craft in a crashed condition and display a message that they may need to download the scenery for that area before trying to run that tutorial again? this from a recent topic on the forum where someone was trying the tutorials at LEBL but was transferred t

[2018-03-26 21:13] gilbertohasnofb commented on #1022
No, but that's a livery mistake. I will fix that.

[2018-03-26 21:17] gilbertohasnofb commented on #1025
@legoboyvdlp This bug is invalid. This is the default distance and only changing the zoom:

![fg-0](https://user-images.githubusercontent.com/5700795/37933510-574edaf8-3143-11e8-95d3-0f63a5aa62d1.jpg)

You need to be over 30m away in order for the instruments to turn black. This is 30m and 35m away and really zoomed in:

![fg-1](https://user-images.githubusercontent.com/5700795/37933518-626e6390-3

[2018-03-26 21:17] #1025 closed

[2018-03-26 21:20] gilbertohasnofb commented on #1027
Confirmed, the matching in the rudder is actually pretty good:

![fg](https://user-images.githubusercontent.com/5700795/37933675-cfb32e9a-3143-11e8-8d83-42fafcfaeab8.jpg)

@wlbragg it's up to you if you want to take a look at that place on the left side of the nose or not. If not, do close this as won't fix.

[2018-03-26 21:24] gilbertohasnofb commented on #906
The issue is the rotation of default airport at every 3 months, it takes a lot of manpower to change all tutorials and people just lost interest in keeping up with that. The error message sounds fine, but to be honest that could just be implemented by the devs themselves for ANY crashed aircraft on ANY scenery. My 2 cents.

[2018-03-26 21:51] gilbertohasnofb commented on #1022
@legoboyvdlp I fixed this in the opened damage model PR branch `refactor-damage-model`

[2018-03-27 01:08] wkitty42 commented on #906
On 03/26/2018 05:24 PM, Gilberto Agostinho wrote:

exactly and that's what i tried to explain to them...

interesting... i don't know how that could be done without invoking some sort of
preconditions about a tutorial but hey, i'm behind it if someone wants to
present it on the dev list :)

i'll put it in the jar along with my donation :) :) :)

[2018-03-27 02:02] wlbragg commented on #1027
I'll take a look and report back.

[2018-03-27 02:30] wlbragg commented on #1027
I was able to clean it up. I'll push it with some of the other corrections here in a bit.

[2018-03-27 03:36] onox commented on #1011
Hey @dany93, I noticed on the [FG forums](https://forum.flightgear.org/viewtopic.php?f=4&t=28279&p=329936) you mentioned the P-51D. I've worked on it for a while in my [repostory](https://github.com/onox/p51d).

[2018-03-27 09:28] gilbertohasnofb commented on #906
I am just saying that I don't think we should implement this on the aircraft side. Why should every aircraft developer bother in checking if the scenery exists or not? Why doesn't the sim alert them? That should be trivial from the side of the FG devs.

[2018-03-27 09:29] gilbertohasnofb commented on #1027
@wlbragg Great, I will check that later. Many, many thanks!

[2018-03-27 09:30] gilbertohasnofb commented on #1027
I renamed and rephrased this issue for future reference, as well as removed the references to the rudder.

[2018-03-27 09:48] gilbertohasnofb commented on #1027
@legoboyvdlp I just noticed some yellow spots inside the air intake in your screenshot, what is that? Is it from some hotspot or is it some other bug I did not realise so far?

[2018-03-27 10:16] dany93 commented on #1011
Yes, I had seen that (I don't remember how and when).

As the aircraft had serious issues in Nov. 2015 (did not open, engine did not start), I wished to ask and propose a few changes to Hal (among them, one Autostart from efel). I wondered why he did not react. That's when I learned (and announced in the US forum) that Hal V. Engel had passed away.

Since then, I've make it a bit milder at takeoff

[2018-03-27 14:52] legoboyvdlp commented on #1027
That's the hotspots appearing through the cowling, as far as I know.

[2018-03-27 14:53] gilbertohasnofb commented on #1027
@legoboyvdlp Great, thanks for the info. So in that case the current PR will solve everything concerning this issue :+1:

[2018-03-27 16:29] wkitty42 commented on #906
On 03/27/2018 05:28 AM, Gilberto Agostinho wrote:

i have no problem with that... it is one of those "six for one, half dozen for
another" things :)

[2018-03-27 17:32] legoboyvdlp commented on #1027
ZS-MDF:
![image](https://user-images.githubusercontent.com/10434911/37984086-310d8ccc-31ed-11e8-9519-0d5fd51c2ab2.png)

[2018-03-27 17:33] legoboyvdlp commented on #1027
![image](https://user-images.githubusercontent.com/10434911/37984105-43d9686c-31ed-11e8-96ae-a607464d548f.png)

[2018-03-27 17:36] onox commented on #1011
They already are. Stuart merged the changes back to fgaddon.

[2018-03-27 17:39] gilbertohasnofb commented on #1027
@legoboyvdlp Thanks for the second image, that's really appreciated! That said, there is little we can do to improve this issue: the top bit of the nose is a separate object and it goes all the way to the bottom part of the side of the cockpit glass (where you marked in red on the left in the image above). The matching of the 'shading' layer is not matching there in GIMP, and though I tried to imp

[2018-03-27 17:43] legoboyvdlp commented on #1027
Actually, now that I think of it, the line looks realistic: in real life, your lines will never be perfect :)
As for the rest of it, no problem, just alerting you to it.

[2018-03-27 17:43] legoboyvdlp commented on #1022
Further problem:
![image](https://user-images.githubusercontent.com/10434911/37984644-b4f34e36-31ee-11e8-8bba-a5d977c649d4.png)

[2018-03-27 17:43] gilbertohasnofb opened #1029 "wing mapping on CAP livery is broken"
The UV-mapping  of the top side of the wings of the CAP livery is utterly broken since we added the wing edge object and remapped the wing. There are two possible solutions to this, both with negative sides:

* attempt to re-UV-map the top of the wings, risking to affect the other liveries, all of which look fine
* remove the CAP livery and leave things as they are. This also means that anyone att

[2018-03-27 17:44] gilbertohasnofb commented on #1027
That's good, thanks! I might try to manually improve that shading issue once again (by the way, the back of the fuselage suffers from the same issue, though I was able to improve it a tiny bit in the last PRs).

[2018-03-27 17:46] gilbertohasnofb commented on #1022
Looks to me that the ice formation is mapped just frontally and so it looks terrible on the sides.

@legoboyvdlp turn off that HUD and fly this beauty using its own instruments!! :rofl:

[2018-03-27 17:58] wlbragg commented on #1029
I'm looking now.

[2018-03-27 18:08] wlbragg commented on #1029
I think it is fixable without major stress. I'm attempting it now.

[2018-03-27 18:21] wlbragg commented on #1029
As I start to work on this I see I can get it really close but maybe not perfect at a couple spots without messing up either another livery or maybe the normals map again. I'll make the adjustments I know I can make without affecting either and see where it takes us.
I have a feeling to make it perfect might require small adjustments that would require major mapping adjustments.
If I had seen this

[2018-03-27 18:27] onox commented on #1022
We should totally ban the HUD :stuck_out_tongue_winking_eye:

[2018-03-27 19:31] wlbragg commented on #1029
Done as much as I dare. It has only one issues that I know of. Because the style of the flaps changed, the livery is no longer valid. I think that would be and accurate description of what happened. So the underside of the flaps where they extend into the wing farther than originally is not mapped properly. @gilbertohasnofb maybe you can do something with the livery to fix this last issue?

[2018-03-27 19:39] wlbragg commented on #1022
Can we verify the ice is not working on any sides? Also be aware of the fact that the front windshield is one piece and so if the side of the front windshield has ice then the side is also included in the effect. This may have to do with the effects switch used to distinguished between the two different angles of glass. The more horizontal VS vertical glass.

We need to revisit this whole fog, rai

[2018-03-27 20:18] wlbragg commented on #1029
Cap livery...
![cap1](https://user-images.githubusercontent.com/11069680/37992693-0ddc08f2-31d2-11e8-8d66-2a16e8c9809b.jpg)
![cap2](https://user-images.githubusercontent.com/11069680/37992695-0efd7270-31d2-11e8-86aa-8eff261fba4b.jpg)
![cap3](https://user-images.githubusercontent.com/11069680/37992696-1011ea10-31d2-11e8-81d3-15fdd30e99e7.jpg)

[2018-03-27 23:42] gilbertohasnofb commented on #1029
Looks really good, going to test it now.

[2018-03-27 23:42] gilbertohasnofb commented on #1022
Someone please make a PR for the main FG project removing that thing! :rofl:

[2018-03-27 23:49] gilbertohasnofb commented on #1022
@wlbragg Sorry for my ignorance, but how can I force the ice to appear on the glass?

But it does look the modifications to the glass made the effects a bit strange, the rain also looks distorted on the sides:

![fg](https://user-images.githubusercontent.com/5700795/38000884-ba7bddae-3221-11e8-9edf-616a08a2cdb7.jpg)

[2018-03-28 00:00] wlbragg commented on #1022
Yes, that is a fact and there is no good solution to correct that.
The reason is we have two modes to do the rain in the effect
[code]
and
[code]
Mode 1 is for more horizontal glass faces and mode 2 is for the vertical glass faces.
Because our front window is one object now we can only assign mode 1. We used to assign mode 2 to the side objects. We still assign mode 2 to the door and aback seat si

[2018-03-28 00:14] wlbragg commented on #1029
This shows why the flaps mapping doesn't work anymore. I think if you edited the flaps outside corners in only the CAPS livery you might be able to fix it, but it certainly will be more of a hack than fixing the problem.
![cap4](https://user-images.githubusercontent.com/11069680/38001484-a8424936-31f2-11e8-8b5a-2bdfc8433b0d.jpg)

[2018-03-28 00:25] gilbertohasnofb commented on #1029
I don't think that is worth the pain nor the hack. This is just a legacy livery anyway and it's a miracle any of these still work after all our modifications. All others look fine, so I personally consider this problem solved.

[2018-03-28 00:30] wlbragg commented on #1022
@gilbertohasnofb
I just started from KEQA, I had the aircraft stared up and sitting on the runway at startup. It was sitting there for a little while and the I ctrl+U up to maybe 10-12 thousand feet. I opened the heater slider all the way for a minute or two, then opened the air slider all the way and it started to show the ice pretty quickly. I then shut both sliders and paused the simulation.
![

[2018-03-28 00:32] gilbertohasnofb commented on #1022
@wlbragg I see, thanks for the detailed post above.

What would be the side effect of doing that? Would that reinstate the issue of the glass looking a bit weird in the cockpit, which is what we had before?

[2018-03-28 00:33] gilbertohasnofb commented on #1022
Meaning, would it look again like this? https://github.com/c172p-team/c172p-detailed/issues/1010

[2018-03-28 00:33] wlbragg commented on #1022
Yes!

[2018-03-28 00:36] gilbertohasnofb commented on #1022
Hmm, so we have to choose between pretty glass vs pretty effects. What would be your preference? I am really unsure myself. The effects do not look good, but those are visible on 1% of flights while the front glass is always there. On the other, the divided glass does not look that bad and one can argue that that's totally acceptable in order to have the effects working well. What would you pick?

[2018-03-28 00:41] wlbragg commented on #1022
Here it is as before
![fgfs-screen-009](https://user-images.githubusercontent.com/11069680/38002279-dc857b24-31f6-11e8-8063-63a559dff773.png)
![fgfs-screen-010](https://user-images.githubusercontent.com/11069680/38002283-de8410e8-31f6-11e8-9c45-fa9f0e4dc2e8.png)

[2018-03-28 00:43] gilbertohasnofb commented on #1022
The effect certainly looks better, but the glass does look a bit worse. We need a choice: what would you pick?

[2018-03-28 00:45] wlbragg commented on #1022
For completeness, here it is now.
![fgfs-screen-014](https://user-images.githubusercontent.com/11069680/38002341-436debd2-31f7-11e8-8fb2-a4cc2c5257c7.png)
![fgfs-screen-013](https://user-images.githubusercontent.com/11069680/38002338-4017c5ac-31f7-11e8-92e6-52287a9e9cb1.png)

I guess with the hard edge? I would like @onox and @legoboyvdlp to weight in!

[2018-03-28 00:47] gilbertohasnofb commented on #1022
Thanks for the images. Yes, the effects do look terrible right now and the hard edge is not that much worse than we have, so I am fine reverting the glass into separate pieces. Let's see what others say.

[2018-03-28 09:10] dany93 commented on #1022
I know that people use it, at least on other aircraft (to see their controls or the heading). I sometimes happen to be glad to find it, would it be only to find the direction of my starting airport. Cheating, yes... But during tests, cheating often is useful (like Ctrl-U, etc...).
Anyway, it only appears if you ask for it. Otherwise I don't see how it can be annoying.

With the UFO, it is essentia

[2018-03-28 10:11] legoboyvdlp commented on #1022
I'm happy for the glass to be reverted if it solves the effects.

[2018-03-28 14:08] dany93 commented on #1022
In this case, if you are as much an expert in image processing as in sound processing (and patient) that might be the solution  :wink:

Sometimes, they also are here to show the GPS coordinates.

Thank you for your tolerance!   :smile:

I thought of sending an image, just for you, with the HUD and the sky alone, without one of these ugly dashboards, but I don't want to pollute the Internet. Only a

[2018-03-28 15:09] wkitty42 commented on #1022
On 03/28/2018 10:08 AM, dany93 wrote:

you mean like flying around and hitting the 'c' key to toggle off the whole
craft and cockpit dash stuff so it looks like you're just floating along in the
air but with somewhat louder engine noise?  i've done that... i've even flown
entire flights without the craft or cockpit showing at all :) :) :)

but yeah, please leave the HUD alone... i definitely use i

[2018-03-28 15:12] gilbertohasnofb commented on #1022
@dany93 Challenge accepted. His is @legoboyvdlp's screenshot before:

![](https://user-images.githubusercontent.com/10434911/37676565-2e465c1c-2c70-11e8-87fd-436db1333172.png)

And here is after:

![image](https://user-images.githubusercontent.com/5700795/38038392-bd1c8460-32a2-11e8-8b92-e23abb5af667.png)

Much better isn't it? :rofl:

[2018-03-28 15:43] legoboyvdlp opened #1030 "Improvements to the top of the vertical stabilizer"
Hi there,
A few more problems:
![image](https://user-images.githubusercontent.com/10434911/38039940-4e18cafc-32a6-11e8-9b63-175b623f4765.png)

Here we see that there are some strange lines on the top of the vertical stabalizer, with the N35799 livery.

OH-CTL was the other livery which I tested, which also presents the error:
![image](https://user-images.githubusercontent.com/10434911/38040225-eab

[2018-03-28 15:46] legoboyvdlp opened #1031 "Model the strobe light"
I noticed that we have a navigation light in the 3D model, but no strobe light model:
![image](https://user-images.githubusercontent.com/10434911/38040491-8a5651aa-32a7-11e8-9aa8-d76301fbf7c8.png)

as compared to

![image](https://user-images.githubusercontent.com/10434911/38040483-83dc6058-32a7-11e8-9686-bb68dfd84ba3.png)

The procedural light should also be moved to match the model's new positio

[2018-03-28 16:09] wlbragg commented on #1030
Good catch on the tail light. I don't think it is even UV mapped at this point.

[2018-03-28 18:27] wlbragg commented on #1030
There is tons of minor modeling upgrades (major ones too) that one could do on this aircraft. So if people want to identify these potential upgrades and make TODO issues for them go ahead. If someone else wants to do any of this remodeling, go for it.

All I did was to separate the current tail light and UV map it same as the other nav lights are. That is really all I am interested in doing.

@gil

[2018-03-28 19:41] gilbertohasnofb commented on #1022
It took me nearly 30 minutes to retouch @legoboyvdlp's image above for the joke, so someone please post a "hahaha" so that I don't feel that bad, please. :wink:

[2018-03-28 19:41] gilbertohasnofb commented on #1030
@wlbragg sure, I will work on it right now.

[2018-03-28 19:52] gilbertohasnofb commented on #1031
@wlbragg Lego is right, the strobe should also be there, all 172P photos I find show it

![](http://imgproc.airliners.net/photos/airliners/5/2/9/4763925.jpg?v=v4c6c51cca0a)

[2018-03-28 19:52] gilbertohasnofb commented on #1031
@legoboyvdlp :rofl:

[2018-03-28 19:54] wlbragg commented on #1022
I was expecting it the other way around, for you to only leave the hud and get rid of the ugly panels!

[2018-03-28 19:57] gilbertohasnofb commented on #1022
@wlbragg There we go;

![image](https://user-images.githubusercontent.com/5700795/38052957-a9a0bd84-32ca-11e8-8192-7a171f70c2bd.png)

And this one only took 30 seconds!

[2018-03-28 20:35] wlbragg commented on #1031
You guys are killing me! OK, I agree, I realized that awhile back as I was repositioning the nav light that there was no strobe on it.
Can we live with something like this?
![strobe](https://user-images.githubusercontent.com/11069680/38054354-58414ebe-329c-11e8-93ae-1ad7f012249b.jpg)
If so we could use a better texture for the strobe part.
This is all I did to map this
![strobe1](https://user-imag

[2018-03-28 20:38] wlbragg commented on #1031
The bulb would be something like the purple area.
![strobe3](https://user-images.githubusercontent.com/11069680/38054963-08ed912c-329e-11e8-9381-0771ecfa0adf.jpg)

[2018-03-28 20:38] gilbertohasnofb commented on #1031
Apologies for being pushy!

Absolutely, that looks good. I will make the texture now and merge that PR!

[2018-03-28 20:39] gilbertohasnofb commented on #1031
The second option for the light texture looks fine with me. Just push the model and I will work on it straight away.

[2018-03-28 20:59] wlbragg commented on #1031
I have to step out for about 30 minutes. I pushed the models but didn't have time to inspect. Also I noticed the starboard side looks like some normals (bump mapping) is in the way? The mapping is where it should be so you can at least work on that if you want. I'll investigate the bump mapping effect when I return.

[2018-03-28 23:47] #319 closed

[2018-03-28 23:47] #592 closed

[2018-03-28 23:47] #895 closed

[2018-03-28 23:47] #1027 closed

[2018-03-28 23:47] #1029 closed

[2018-03-28 23:47] #1031 closed

[2018-03-28 23:52] gilbertohasnofb commented on #1020
@legoboyvdlp what you measure is the oil in the sump. The extra 1 quart is inside the engine at all times. So I would say that we have it correct already. If you agree I will close this as invalid.

[2018-03-28 23:53] gilbertohasnofb commented on #958
@wlbragg Would you help me add stuff from the last PR? I am not sure I know everything you did to the damage model, so perhaps I am not the right person to write these.

[2018-03-29 00:08] wlbragg commented on #958
Yeah, I'll see if I can finish the list.

[2018-03-29 00:17] #1020 closed

[2018-03-29 02:06] wlbragg commented on #958
I added the following...
* Model strobe light bulbs on NAV light casings
* Model rudder NAV light
* Re-factor damage models to match model improvements
* Optimize damage system to use less models
* Model ribs to show through broken wing
* Add two sided prop blur to livery system

[2018-03-29 05:10] tonghuix opened #1033 "Idea: Update new splash screen images"
Thanks to the exterior changes recently, the plane has improved a lot! So I suggest we could update splash screen images.

I suggest we could make a community event at FG forum, let every try new plane and upload their screenshot for a vote.  Vote for the most welcomed screenshots for next release.

[2018-03-29 06:32] onox commented on #1033
Duplicate of #967

[2018-03-29 06:32] #1033 closed

[2018-03-29 06:43] onox commented on #1001
Hey @mathieugouin, are you able to add the last remaining bits so we can close this issue? :smiley:

[2018-03-29 08:56] gilbertohasnofb commented on #1030
I just renamed this since now that light is textured but the suggested improvements to the 3D model have not been done. As @wlbragg I think we are both fine with the current state of the outside model (we need to find a point to stop and move on to other things) and now we plan to tackle the interior. But nevertheless we leave this opened sos that in the future these can still be considered.

[2018-03-29 08:58] gilbertohasnofb commented on #771
@wlbragg Can you confirm we merged that fix for this issue already and therefore we can close this?

[2018-03-29 12:41] legoboyvdlp commented on #1030
I've been learning Blender. I'm not too confident, but perhaps after the interior work, I might be able to have a go. I will not promise that I can do it. But if I can, I will.

[2018-03-29 13:13] wkitty42 commented on #1022
On 03/28/2018 11:12 AM, Gilberto Agostinho wrote:

hahaha

:)

--
  NOTE: No off-list assistance is given without prior approval.
        *Please keep mailing list traffic on the list unless*
        *a signed and pre-paid contract is in effect with us.*

[2018-03-29 15:17] wlbragg commented on #771
Yes, this is done. Except, every time we push a modification to the Blend we have to manually change the RGB value of the FastProp material setting to 0's. I of course forgot to do that after my last Blend edit and .ac change. If there is a way to set the RGB value to 0 in the blend itself, this would be much easier. I would imaging there is but I don't know how yet.
I just pushed a new branch to

[2018-03-29 15:25] wlbragg commented on #771
I figured it out. It will always stay set to 0, 0, 0 now unless someone changes it.

[2018-03-29 16:18] wlbragg opened #1035 "Tutorials"
I am seeing more and more new users starting FlightGear and trying to run the tutorials and basically breaking their setup. As far as I can tell it is always because they have a week to non-existent Internet connection.
We really need to match the tutorials to the current release scenery or they need to quit changing airports or they need to make the changes to the tutorials to match the new airpo

[2018-03-29 16:38] dany93 commented on #1035
Probably very tricky...

I'm wondering if it would not be better for the FG pack to come back to the old system with the same airport (it was KSFO, but no matter which one), used in the tutorials, and add a second new airport, changing with the version. Everybody would be happy and things would be more simple.

[2018-03-29 17:06] wlbragg commented on #1035
The argument might only be the size of the pack having two scenery chunks?

[2018-03-29 18:19] wkitty42 commented on #1035
i'm wondering if we might should have two airports... the changing default one, which i think is an excellent idea, and a static one like KSFO... then all tutorials can be written around the static airport... it means a larger download to include the static airport back in the installer, though...

either way, these discussions should probably be in the forum or the dev list... better there than h

[2018-03-29 18:51] wkitty42 commented on #1035
On 03/29/2018 02:23 PM, wlbragg wrote:

i read his suggestion as dropping all of the changing default airport stuff and
going completely back to just having KSFO only...

my thought was to combine the two and have (for example) KSFO all the time but
the default airport would still change every release to showcase that airport...
KSFO would be there mainly for the tutorials so they don't have to be

[2018-03-29 18:56] wlbragg commented on #1035
OK, that is how I read @dany93's maybe it is different that what your suggesting.

What your suggesting would be the easiest all around and it would get new users two locations to fly in right off the bat. Those that have a hard time downloading scenery would have a better experience with two areas to fly in.

It just depends on the size of the distro and if the project is willing to add to it I g

[2018-03-29 18:58] it0uchpods commented on #603
No, I'm not dead. I've been away from home getting medical treatment. Work will resume when I return.

J

[2018-03-29 21:17] dany93 commented on #1035
@wkitty42 wrote:

If you read [my message](https://github.com/c172p-team/c172p-detailed/issues/1035#issuecomment-377295857) down to the end you wil see that it is the same idea.

@dany93 wrote

[2018-03-29 21:50] wkitty42 commented on #1035
On 03/29/2018 05:17 PM, dany93 wrote:

FWIW: i did read it... i just missed that or didn't understand what you were
trying to say... sorry...

[2018-03-30 07:25] onox opened #1037 "Aircraft doesn't slow down fast enough on the water"
The aircraft would unrealistically continue to glide on the water past the point where it should really start to slow down.

[2018-03-30 10:37] dany93 commented on #1037
In https://github.com/c172p-team/c172p-detailed/pull/1034#issuecomment-377450086 @wlbragg wrote:

Are you sure?

Couldn't it work by applying a non-linear drag coefficient vs speed? A non-linear drag can be realistic because the floats have two regimes: low speed, high drag, when they are plunged, partly sunk in the water, and then, above a speed value, they begin to lift and glide, giving low dra

[2018-03-30 16:15] wlbragg commented on #1037
If I understand your question correctly, no I am not sure.

I thought it should, but this is something I did for the Cub a while back and I struggled getting the correct numbers to make it work.

The problem I remember encountering was you can only use this non-linear drag coefficient vs speed on landing, not on take off as it would be reversed. The property implementing the drag-tweak-force appli

[2018-03-30 16:19] wlbragg opened #1038 "Water rudders do not have enough influence on turning behavior"
This issue deals with the turning force and radius of the aircraft when on water with and without the rudders down.

With the rudders down we should effectively be able to turn sharply in the water at lower speeds, we can't do that now.
We should also be able to easily control the direction of the aircraft, really at any end of the speed scale other than the most extreme, especially with rudders d

[2018-03-30 16:29] wlbragg commented on #1038
@dany93 How to we achieve this?

[2018-03-30 16:42] dany93 commented on #1038
I would look at c172p-hydrodynamics.xml, lines 676 - 690,
and change the `<value>-0.025`
[code]

[2018-03-30 17:47] gilbertohasnofb commented on #1022
Thanks guys :smile:

[2018-03-30 17:52] gilbertohasnofb commented on #603
Hope all is fine with you Josh. Take care of yourself.

[2018-03-30 17:57] gilbertohasnofb commented on #1035
I think it's really a good idea to add an extra scenery tile which we (and all other developers) can use for tutorials or testing purposes. This idea of rotating the default scenery was really not well thought in my opinion, and the amount of work it creates for us is really unnecessary.

150 Mb is not that much, but we could also consider a smaller tile (I suspect the tile with KSFO will be large

[2018-03-30 18:54] wlbragg commented on #1035
I agree! To me this is the simplest fix for the immediate problem. The sim could use a scenery check however and warn the user why their aircraft is crashing.

[2018-03-30 19:56] #771 closed

[2018-03-30 20:53] legoboyvdlp opened #1040 "Seaplane should have an anchor"
I feel the seaplane should have a way to stop the aircraft fully. Perhaps on water, the parking brake could toggle an anchor? I believe one of Dave Culp's aircaft, perhaps the Clipper? has this simulated.

[2018-03-30 20:54] legoboyvdlp commented on #1035
The British field at Shoreham is very well modelled FWIW, if you'd like to include that one?

[2018-03-30 21:44] gilbertohasnofb commented on #1035
@legoboyvdlp Shoreham does look nice. Do you know if it's close to the centre of the tile? My TerraMaster isn't working for some reason. Also, those hangars do need some texturing, are you familiar who created or who maintain those models? I would gladly make some generic hangar textures for it if necessary.

[2018-03-30 21:48] legoboyvdlp commented on #1035
I picked a random model from EGKA on scenery.flightgear.org, it appears Vic Marriot is the author:
https://scenery.flightgear.org/app.php?c=Models&a=view&id=1307

[2018-03-30 21:57] legoboyvdlp commented on #1035
Unfortunately not:
![image](https://user-images.githubusercontent.com/10434911/38155125-c7d6f5da-346d-11e8-9e0d-44d7b68039fa.png)

[2018-03-30 22:21] gilbertohasnofb commented on #1035
@legoboyvdlp Hawaii would be a good option indeed. Could you please check for me how many tiles are needed for the whole island?

[2018-03-30 22:28] legoboyvdlp commented on #1035
@gilbertohasnofb please check my update above

[2018-03-31 03:02] wlbragg commented on #1035
I still like Hawaii. Surely with all the tourism there are private operators flying c172's out of a paved ATC supported airport on one of the islands.

[2018-03-31 10:53] legoboyvdlp commented on #1035
Kona Airport apparently had a Cessna fly out of it, at least once, unfortunately:
http://www.hawaiinewsnow.com/story/8529161/a-closer-look-at-the-cessna-172

[2018-03-31 11:17] legoboyvdlp commented on #1035
![fgfs-screen-283](https://user-images.githubusercontent.com/10434911/38162640-d022bbce-34dc-11e8-93ea-01bcc10eac26.png)

![fgfs-screen-284](https://user-images.githubusercontent.com/10434911/38162671-7b4d429e-34dd-11e8-86ac-c2266a6b6cc8.png)

I need to work on centreline, but I made it 😛

[2018-03-31 12:21] gilbertohasnofb commented on #1035
PHKO does look nice indeed. It seems it is located exactly on a border between two tiles, but the second one is 99% water, so I don't see why not include both. If all here agree then we could bring this up to the devs, as well as the idea of having an automatic popup message when a user loads into a scenery they don't have.

[2018-03-31 12:42] gilbertohasnofb commented on #1037
Being super petty, but juts pointing it out: you are referring to the c172p as c182p a couple of times. Including in the title and description of your last youtube video testing the water landing :wink: `</petty-annoying-comment>`

[2018-03-31 12:56] legoboyvdlp commented on #1035
Sure. That sounds fine!

[2018-03-31 15:48] wkitty42 commented on #1035
On 03/31/2018 08:21 AM, Gilberto Agostinho wrote:

personally, i don't have an opinion but i do want to point out that the original
problem, while caused by lack of scenery, was the user's craft was in a crashed
state due to our damage modeling... granted, it was in the drink but the gear
was broken and i think maybe even a wing... i'd have to go back on the forum and
find his linked video again..

[2018-03-31 15:51] gilbertohasnofb commented on #1035
@wkitty42 Yes, dealing with a missing scenery tile is a must from the side of the devs, but as a default aircraft it would be great if we would be able to offer the tutorials to everyone, even those with bad connection that don't use TerraSync. So I think both things can be addressed.

[2018-03-31 15:58] wkitty42 commented on #1035
On 03/31/2018 11:51 AM, Gilberto Agostinho wrote:

yes, i fully understand that... especially since it is they that make FG log "no
scenery beneath craft" when you out fly the scenery engine's loading
capability... not just terrasync... yes, i have outflown the scenery loader in
the UFO :)

agreed... how about, instead of some place large like Hawaii, a smaller, out of
the way, place... Diego Garc

[2018-03-31 16:55] wlbragg commented on #1037
@gilbertohasnofb
Thank you, I guess it was getting late here. :face_with_head_bandage:

[2018-04-01 09:03] wkitty42 commented on #1035
On 03/31/2018 03:24 PM, Gilberto Agostinho wrote:

i don't know why... all that's needed is a nice clear airport that large and
small craft can operate from... DG doesn't (currently) look like a military base
and besides, what does it really matter? it is a small area to package, there's
rarely any other craft around, and we're talking about doing this only for the
tutorials...

FWIW: do the tutor

[2018-04-01 10:04] gilbertohasnofb commented on #1035
It matters because we care for realism. We have thousands for airports to chose from so there is no need to go with a military base in the middle of the ocean.

No idea, I don't run MP. If you'd like to test that then just open a new issue if any problem is found.

[2018-04-01 10:29] wkitty42 commented on #1035
On 04/01/2018 06:04 AM, Gilberto Agostinho wrote:

wow... realism is the rebuttal? yeah, ok... whatever...

that's funny because you know i generally don't do MP, either :lol:

[2018-04-01 10:39] gilbertohasnofb commented on #1035
@wkitty42 You are a pain today, aren't you? Please do take a chill pill.

If you look at the discussion above between all others, we all agree that the choice of airport should be a place suitable for GA aircraft but that still has ATIS for one of the tutorials. People make proposals and some of those get rejected, I don't see why you are taking this so personally. Your proposal does not fit with

[2018-04-01 15:08] wkitty42 commented on #1035
On 04/01/2018 06:39 AM, Gilberto Agostinho wrote:

please do not project what's happening with you onto me...

i made a suggestion, a valid suggestion... you are the only one here who has
shot it down... the funny thing is that we (TINW) are not the ones to make this
decision... you coming back at me like this makes that even funnier...

have a April Fool's Day!

[2018-04-01 17:44] mathieugouin commented on #1001
Hello @onox sorry, it takes me more time than expected.

I'm struggling with combining 2 information into a single tooltip for the NAV volume knob.  It relates to https://github.com/c172p-team/c172p-detailed/pull/990.

I was hoping to combine the volume & the pull/push state into one tooltip to help see if the knob is pulled or not.

It works partially, but it is not updated live.  When I adjust t

[2018-04-01 18:25] wlbragg commented on #1035
At the risk of offending anyone unintentionally, I agree with @gilbertohasnofb, we don't need to resort to "that" military base not with all the other choices available to us. Plus it's not that interesting of an area IMO.
@wkitty42 I understand the thought process that may have brought you to that suggestion though. There has to be other airports that would be better choices. I think a "travel de

[2018-04-01 18:48] mathieugouin opened #1041 "Continuous error messages in multiplayer mode"
# Steps:
* Enable multiplayer
[code]

* Start FG from the command:
`fgfs`

# Issue
The following message is repeatedly output in the console (at the same multiplayer rate, 1Hz in my example)

[code]

However, the multiplayer mode seems to work: I was able to see other a/c.

[2018-04-01 19:01] wlbragg commented on #1035
Does the tile that PHOG sit on include any of Thorsten's volcano work on it?
How much space would that tile and the tile to the immediate NE take?
That has the added bonus of a lot of space to explore.
Does it have ATIS services?
I would want to see a small push to update any selected airport as much as possible.

Then again if we were to use two tiles the PHNL would probably be a better choice.

[2018-04-01 19:38] wlbragg commented on #1001
Guessing here...
The property that automatically will be refreshed is
[code]
What if you do a second
[code]

[2018-04-01 19:43] legoboyvdlp commented on #1041
I was wondering if you are trying to use the old FlightGear MP Protocol introduced in 2017.2? Without it enabled in the multiplayer menu, you may get this type of error.

[2018-04-01 19:45] legoboyvdlp commented on #1035
I know for a fact that the two or three volcanoes on the Big Island are present but I have never tested near PHOG for volcanoes.

[2018-04-01 20:04] wlbragg commented on #1035
Then I would vote PHKO.

[2018-04-01 20:10] gilbertohasnofb commented on #1035
@wlbragg I think PHOG is a good choice, the scenery is very beautiful, the airport has an asphalt runway and ATIS. Also, I think that taking the tile to the N of PHOG would be fine as it would consume very little more space.

[2018-04-01 20:26] gilbertohasnofb commented on #1035
For comparison. This is PHOG:

![fg-0](https://user-images.githubusercontent.com/5700795/38177108-32161f12-35f3-11e8-91ae-83b82a677c79.jpg)
![fg-1](https://user-images.githubusercontent.com/5700795/38177109-32434622-35f3-11e8-8454-7bce8c4b5e9d.jpg)
![fg-2](https://user-images.githubusercontent.com/5700795/38177111-3265ca8a-35f3-11e8-83a4-583879fb9c43.jpg)
![fg-4](https://user-images.githubusercont

[2018-04-01 20:51] wlbragg commented on #1035
Same here. My first choice was PHOG because of the immediate area around it and I liked the airport layout the best. But I also like the idea of having the bonus of a default tile that had volcanoes and interesting features.

Beings this is is for the tutorials I resend my original vote and choose PHOG, main reason being because of the airport layout.

[2018-04-01 21:24] gilbertohasnofb commented on #1035
@wlbragg Great, I am also tending more towards PHOG due to the airport as well as the beautiful hills you can see from the ruway. @legoboyvdlp what's your view?

[2018-04-01 22:45] legoboyvdlp commented on #1035
PHOG's screenshots look beautiful: I vote there.

[2018-04-02 00:59] gilbertohasnofb commented on #1035
@legoboyvdlp Great, thanks. Tomorrow I will write an e-mail to the dev-list, let's hope they will like the idea and consider start including these tiles from the next release on.

[2018-04-02 13:21] gilbertohasnofb commented on #1035
@legoboyvdlp Could you please do me a favour before I write the list? Would you be able to tell me the name of those two tiles that we want using TerraMaster, i.e. the one with PHOG and the one just to its north? The names are coordinates such as `n010w40`.

[2018-04-02 15:52] gilbertohasnofb commented on #1035
@legoboyvdlp Nevermind, I managed to solve my problem with Java and I can now run TerraMaster myself. Those two tiles are `w157n20` and `w157n21` and their size combined is 19.4 MB.

[2018-04-02 16:09] gilbertohasnofb commented on #1035
Just wrote the list, I will report back here. Let's cross our fingers for PHOG!

![fg-0](https://user-images.githubusercontent.com/5700795/38203843-768e84d6-3698-11e8-9c8b-b74ed35ae3d8.jpg)

![fg-1](https://user-images.githubusercontent.com/5700795/38203844-76ae1b7a-3698-11e8-9d03-dc230e89aaed.jpg)

@legoboyvdlp I remember that you used to deal with airport layouts. I noticed that the taxiways at

[2018-04-02 16:36] onox commented on #1041
Yeah, this is most likely caused by using the old MP protocol. Set the compatibility to 2017+ in the Multiplayer Settings window and the messages should disappear.

[2018-04-02 16:36] #1041 closed

[2018-04-02 16:37] legoboyvdlp commented on #1035
I certainly can ;)
Although, I will check first in the X-Plane Gateway to see what the layout there is like.

[2018-04-02 16:38] gilbertohasnofb commented on #1035
@legoboyvdlp really appreciate that, lego. If the layout is not available at the X-Plane Gateway then it might be better for you to wait for the reply to our request, so that you don't end up working on an airport that they might reject to add (though that would still be one more nice airport for FG :smile: ). Let me know if I can be of any help.

[2018-04-02 17:09] legoboyvdlp commented on #1035
@gilbertohasnofb
![image](https://user-images.githubusercontent.com/10434911/38206044-d13af092-36a0-11e8-824d-01729f3d2e0b.png)

The only potential problem is the use of polygon objects, which genapts850 does not support as asphalt. I think the taxiways are all taxiways, though. They can be converted, though the best soloution is to develop genapts1000 :)

[2018-04-02 17:11] gilbertohasnofb commented on #1035
That looks really good! I am a complete noob when it comes to airport development, so what steps do we need to do in order to incorporate this airport from the XP gateway into FG? Second, what do you mean by developing genapts1000, is that a texture code? Let me know as I might be able to help with that.

[2018-04-02 17:32] legoboyvdlp commented on #1035
Genapts is the program that takes a .dat file and actually generates the airport. It isn't really anything to do with textures.

I believe wlbragg is experienced with scenery generation?

[2018-04-02 17:38] gilbertohasnofb commented on #1035
I see, apologies for my noobness. Let's see what the devs reply and then we can see what can be done regarding that.

@wlbragg is that so? :smile:

[2018-04-02 18:01] legoboyvdlp commented on #1035
He made some awesome Ohio and Kansas scenery :)

[2018-04-02 18:25] gilbertohasnofb commented on #1035
Of course, those sceneries are among the best ones I've ever used!

[2018-04-02 18:46] legoboyvdlp opened #1042 "Gyroscope can still be heard"
![fgfs-screen-288](https://user-images.githubusercontent.com/10434911/38210165-848f5252-36ae-11e8-90bb-5088a19b0257.png)

From this angle, at a distance from 30 meters, the gyroscope is heard clearly, while the engine is extremely quiet. At 25 meters, the sound is normal.

[2018-04-02 23:20] wlbragg commented on #1035
It's been awhile since I did anything with scenery. Lets see what the dev's say and if it is a go and we need to generate that airport we can.

I know of at least two way to attempt to generate it.

f something in the x-plane gateway format doesn't work for us we can probably dummy it down in WED or Taxidraw, (can't remember if Taxidraw is the correct nanethe name)?

[2018-04-02 23:38] wkitty42 commented on #1035
On 04/02/2018 12:09 PM, Gilberto Agostinho wrote:

nice post on the list +1

[2018-04-03 00:35] mathieugouin commented on #1001
Thanks for the tip, I will try that!  Very good idea.  I will let you know.

[2018-04-03 01:26] mathieugouin commented on #1001
I tried and it's not working...

I don't know if this can be an issue, but I'm using a knob with a custom shift-action.

[2018-04-03 03:21] tonghuix opened #1043 "Texture of digital in AP is not clear"
See picture below.

![fgfs-screen-417](https://user-images.githubusercontent.com/423703/38227515-284ed61a-3731-11e8-8501-0c9bdf35fa0e.png)

[2018-04-03 03:40] mathieugouin commented on #1041
Thank you very much!  That was the issue.

[2018-04-03 13:30] wlbragg commented on #1001
@mathieugouin is it one animation then or are there two separate animations?
Can you post the entire bit of code here?

[2018-04-03 20:55] legoboyvdlp commented on #1043
Appears to be a possible lack of  transparency in the image?

[2018-04-03 23:00] mathieugouin commented on #1001
Yes, It is done in a single animation.

Refer to my work in progress branch:
https://github.com/mathieugouin/c172p-detailed/blob/issue-1001/Models/Interior/Panel/Instruments/kx165/kx165-1.xml

[2018-04-04 00:43] mathieugouin commented on #1001
Here is the hovered portion that is not working (commented out).  I tried to implement

[code]

[2018-04-04 02:27] tonghuix commented on #1043
I tested c182s, the AP's texture is perfect, so maybe we could 'steal' texture file from c182s?

[2018-04-04 08:11] gilbertohasnofb commented on #1035
@wkitty42 Thanks! Appreciate that.

@wlbragg Let's see what we hear from then and then we can think of any improvements to that airport.

[2018-04-04 14:32] gilbertohasnofb commented on #1026
@AmaluSusan Hi there, and welcome to this repo. I believe @legoboyvdlp is already working on this issue in the PR https://github.com/c172p-team/c172p-detailed/pull/1036. But we certainly would welcome help with any of the other opened issues, just do check first (like you did) if anyone is already working on it.

[2018-04-04 18:17] wlbragg commented on #1035
Really good idea seems how we are almost done upgrading the hydro system.

If someone could locate the apt.dat for only that airport and either post it here or a link to it so i can easily extract obtain it, I would be willing to take a look.

[2018-04-04 19:15] legoboyvdlp commented on #1035
What is the irradiance to do with? 🤔
About the apt.dat, here it is:
[PHOG.txt](https://github.com/c172p-team/c172p-detailed/files/1877289/PHOG.txt)

Please resave as a .dat file, I could not upload a .txt.

[2018-04-04 19:24] wlbragg commented on #1035
Hu, what? :laughing:

[2018-04-04 19:24] legoboyvdlp commented on #1035
@wlbragg I'm not understanding you. This is the apt.dat file for PHOG.

[2018-04-04 19:51] wlbragg commented on #1035
Well now, that is because I copied and pated the wrong copy. But I updated it and it should be correct. However I just looked and I was incapable of even updating my own post.

[2018-04-04 19:52] wlbragg commented on #1035
Thank you for the link. I'll check it later tonight.

[2018-04-04 21:42] gilbertohasnofb commented on #1035
just hold your horses for a tiny bit, Thorsten just wrote a message on the list asking us to consider another airport closer to his new volcanoes. Let's make some tests over there first and then see.

[2018-04-04 22:06] gilbertohasnofb commented on #1042
@legoboyvdlp can you always reproduce this? I certainly can't, the gyro is extremely soft at that distance and unheardable if the engine is on. With the engine off, I can perceive it but extremely soft. At around 40m it disappears completely.

I think I need more info on how to reproduce this.

[2018-04-04 22:11] gilbertohasnofb commented on #1035
Thorsten is proposing PHLI:

![fg-1](https://user-images.githubusercontent.com/5700795/38337392-fd027138-385c-11e8-9571-bcf02a96a902.jpg)
![fg-2](https://user-images.githubusercontent.com/5700795/38337393-fd219cde-385c-11e8-9f3f-8f6586b6cd73.jpg)
![fg-3](https://user-images.githubusercontent.com/5700795/38337395-fd3c66e0-385c-11e8-81f2-c35985899ff4.jpg)
![fg-4](https://user-images.githubuserconten

[2018-04-04 23:46] legoboyvdlp commented on #1042
Did you try at that specific angle? I'll attemp to reproduce.

[2018-04-04 23:46] wlbragg commented on #214
I think the current PR covers this topic and will close it out.

[2018-04-04 23:47] legoboyvdlp commented on #1035
I'm happy enough, although I do not like the scenery bugs - not a good first impression. Otherwise, it looks fine.

[2018-04-04 23:49] wlbragg commented on #586
Are we finished with this issue? I's like to either close it out or make a decision on what is needed to close it out.

[2018-04-05 00:18] wlbragg commented on #307
Part of this issue is fixed. That is the landing on floats on a hard surface without damaging them.
https://www.dropbox.com/s/enrm3ujh0rhqah7/2018-04-04%2019-07-29.mkv?dl=1
Sorry for the quality. I need to reboot and free up some resources but don't want to take the time.
Let to do is the transition from water to land.

[2018-04-05 00:43] wlbragg commented on #1035
Me neither, that is really disappointing. But everything else is better.

I have a possible solution or proposition though. I wonder if we can get that island patched and inserted into TerraGear. I might be able to generate it myself and do some touch up, including the scenery bugs. Let me ask on the dev list about the possibilities for something like that.

[2018-04-05 01:02] wlbragg commented on #1035
I posted the question to Torsten, we'll see what he has to say about it.

[2018-04-05 04:04] wlbragg commented on #1040
Somewhat related is the mooring option for seaplanes. I added that system just now and next I will add a mooring line and/or anchor.

[2018-04-05 04:40] tonghuix opened #1045 "Cannot see text in GPS screen"
I believe that is caused by the black background color and black front color.

![fgfs-screen-430](https://user-images.githubusercontent.com/423703/38347502-76433426-38ce-11e8-967b-68d5371d2297.png)

[2018-04-05 04:41] tonghuix commented on #1045
...And also other page has strange background texture, sorry no screenshot for that.

[2018-04-05 08:20] legoboyvdlp commented on #1040
Thank you ;)

[2018-04-05 08:29] okroth opened #1046 "Wire antenna from tail fin to cabin roof"
are you sure that the C172P has that type of antenna?
As far as I know, the C172P uses the King KR-87 ADF receiver, and the antenna for this is a complex antenna (KA44 or KA44B) assembled from the two orthogonal ferrite beads for the magnetic part and a small amplified antenna for the electric reference. The KR-87 does not use a wire antenna for the phase reference.

So there shouldn't be a wire a

[2018-04-05 10:26] tonghuix opened #1047 "Is the pitch too sensitive?"
Very little yoke movement (I believe only 5~10 millimeter) at pitch axis would cause head up and down very rapidly and abruptly, and it also cause VSI change huge amount, from ±500 to ±1000, does it real?

I also test Cessna 337, CAP10B and DR400, these aircraft use jsbsim as well, but doesn't experience this problem.

And c182s has the same problem too, but not so obvious and making me dizziness.

[2018-04-05 14:37] okroth commented on #1047
Where is your CG? What you  describe sounds like pitch instability that occurs if the center of gravity is moved backwards. Usually the CG needs to be near of 25% of wing chord.
If you have high load in the baggage compartment, it could create such a behaviour.

[2018-04-05 14:47] okroth commented on #999
Ahem,
actually the trim tab balances the hinge moment of the elevator - sufficient air flow given. Both forces are proportional to speed squared; just with too low speed the balance weight of the elevator dominates.
In reality, the elevator is not the mixed signal of yoke pitch and trim as it is in the C172 flight model, or any RC airplane model. The elevator is linked directly to the yoke; only w

[2018-04-05 14:52] okroth commented on #979
Oil pressure decrease with rising temperature as the oil's viscosity becomes smaller; it just flows better though all those tiny holes and the oil pump build up less pressure.
Also the oil's capacity to lubricate decreases with smaller viscosity; exceeding the red line will not stop the engine running due to low oil pressure but because the metal-metal friction damages the pistons.

[2018-04-05 15:08] wlbragg commented on #979
I've experienced this in a Briggs & Stratton engine before. It is running along (for all appearances running fine) and suddenly it just seized up. It does have a distinct metallic sound though right as it is going through it's last few strokes.
In this instance I ran it dry of oil.

Now, as far as starting back up. No, not by itself, however after short amount of air cooling you potentially could

[2018-04-05 15:25] tonghuix commented on #1047
@okroth thank you for providing a explanation!

However, I checked the fuel and payload dialog, my CG is 40.95 inch shown in the dialog. And I checked POH, the CG is in Normal Category.

Here is my weight and balance detail:

Pilot: 180 lb
Fuel: 40 Gallons / 240.8 lb
Gross Weight: 1887 lb

[2018-04-05 15:47] wkitty42 commented on #1035
On 04/04/2018 06:11 PM, Gilberto Agostinho wrote:

and water falls... IIRC, they are specifically the ones shown in "Jurassic
Park"... i think the area is known as the Wailing Wall and the waterfalls are
supposed to be like if the wall was crying ;)

[2018-04-05 16:07] wlbragg commented on #1035
Anyone look at PHTO, I'm trying to find out exactly where any active volcanoes or waterfalls are. This island looks interesting. Kilauea volcano is on this island (flying there now to get some photos of it).
Around the airport...
![phto1](https://user-images.githubusercontent.com/11069680/38377760-6702b9da-38c1-11e8-9276-26862eb55d33.jpg)
![phto2](https://user-images.githubusercontent.com/11069680

[2018-04-05 16:18] okroth commented on #1047
40.95 is only 0.45 inch behind the 25% chord, and pretty OK.
Did you open the property tree viewer and watch the elevator inputs?
In the JBSIM flight model, the elevator is "filtered" using a kinematic component, which lets the yoke travel with minimum 0.15s from full pull to full push.
That could introduce a pilot induced oscillation, as it takes some time after control input to create an effect.

[2018-04-05 16:33] wlbragg commented on #1035
For reference
![grid](https://user-images.githubusercontent.com/11069680/38379057-2d0f53d8-38c5-11e8-8436-b196f049b54d.jpg)

[2018-04-05 16:44] wlbragg commented on #1045
Yeah, that really got messed up. I could have sworn it was working correctly. Well have to dig into this.

[2018-04-05 16:45] wlbragg commented on #1045
Does it just look like the background that is broken and not the GPS logic itself?

[2018-04-05 17:20] gilbertohasnofb commented on #1035
PHTO looks great, lovely scenery and it is on the same tile as the volcano. The only thing is that the airport lacks GA static aircraft, tower and buildings (except for a single horrendous building) but I suppose we could manually add that.

![fg-1](https://user-images.githubusercontent.com/5700795/38381174-dc80834a-38fd-11e8-922d-5df119a7ec56.jpg)
![fg-2](https://user-images.githubusercontent.com

[2018-04-05 17:26] wlbragg commented on #1045
@gilbertohasnofb
I posted on the PR what I did to fix it. I am at a loss and don't really care as long as it is correct now.

[2018-04-05 17:34] gilbertohasnofb commented on #1046
I think @okroth might have a point, nearly 100% of the 172P in http://www.airliners.net/search?keywords=172p show no such wire antenna.

[2018-04-05 17:40] wlbragg commented on #1035
I flew to the volcano, short flight, no activity however and not very spectacular as it was not a cone type as I expected. I don't know if that is purely a random event or what?

[2018-04-05 17:42] wlbragg commented on #1035
It's not as scenic as Thorsten's suggestion and if we can get that bug in the scenery fixed I think that would still be my vote. Especially after seeing this volcano and its lack of excitement. :cry:

[2018-04-05 17:50] gilbertohasnofb commented on #1042
I will try again. How sensitive to the angle is the problem? But frankly, there is no angle definition in the sound xml so this looks like a FG bug and not specific to this aircraft.

[2018-04-05 18:43] wkitty42 commented on #1035
the Wailing Wall waterfalls are out of PHLI on heading 305... but you fly out of PHLI, turn to heading 305 and level off at 2500ASL... you fly for maybe 2 to 2.5 minutes and the valley appears before you coming out of the fog/mist... keep flying... you'll see a river/stream coming out of the valley to flowing to your right and behind you... you can follow it up the valley if you like but at this a

[2018-04-05 19:39] wlbragg commented on #1035
@wkitty42 thanks for the tips. I didn't actually select Kilauea so the sliders never popped up. I think I would have done that GUI differently, not very intuitive. I'll have to go check them out again now that I know how to activate them.

[2018-04-05 19:47] wkitty42 commented on #1035
OK... i restarted the sim and spawned in at PHTO in the Terminal parking spot... i hovered up and was able to see smoke from the larger caldera streaming into the air like a smoke stack... 216.5 degrees heading... flight time @120kts is 11 or so minutes... you have to cross a ridge that's about 4000ASL... the vents and calderas are on the other side right in front of you... it is a 10 minute fligh

[2018-04-05 20:38] wlbragg commented on #1035
Yes, completely reverse my last comments, they are worth the flight time to see them.
![vol1](https://user-images.githubusercontent.com/11069680/38390563-506f950a-38e7-11e8-93e8-3090c08a0267.jpg)
![vol2](https://user-images.githubusercontent.com/11069680/38390564-509fc8a6-38e7-11e8-9fb4-9c0cf96a4a90.jpg)
![vol3](https://user-images.githubusercontent.com/11069680/38390571-545b0320-38e7-11e8-9861-aa

[2018-04-05 21:51] wkitty42 commented on #1045
On 04/05/2018 01:22 PM, Gilberto Agostinho wrote:

ummm... we can't view a pic on your system ;) ;) ;)

it is ok, though... i've done similar dozens of times over the years :lol:

[2018-04-05 22:01] wkitty42 commented on #1035
On 04/05/2018 04:38 PM, wlbragg wrote:

those pics look great!

i have a question, though... why does the spinning prop look like it is centered
in your eye line out the cockpit window instead of being centered to the right a
bit and being more in line with the engine and the central dash area? especially
with the windshield bracing in place... it looks like it is in only this one
view... i need t

[2018-04-05 22:41] gilbertohasnofb commented on #1045
That was a GitHub problem with the drag and drop, but I fixed that within 1 second of my post :smile:

[2018-04-05 22:52] wkitty42 commented on #1045
oh! yeah, the email copies i get don't get updated like that :lol:

[2018-04-05 23:05] gilbertohasnofb commented on #1035
@wlbragg I am fine with whatever one of these options. The main thing behind having a fixed tile is to implement tutorials and so, as I said before, I do not care too much for having volcanoes or not there (they won't be used in the tutorial I suppose). But I would be happy to have a nice looking scenery, in particular in a place that Thorsten has put a lot of effort. So basically any of these opt

[2018-04-05 23:07] gilbertohasnofb commented on #1045
Yeah, forgot you do not use the GitHub interface! I find it so much better than answering by e-mail, makes the whole thread so much clearer and also adds these little reactions of :+1: :-1: :heart: :smile: or :tada: when a full reply would be not necessary.

[2018-04-05 23:33] wkitty42 commented on #1045
On 04/05/2018 07:07 PM, Gilberto Agostinho wrote:

well, i do sometimes but i do emails first... then my firefox stuff which starts
off with my admin/support duties in another forum... i think my swinging by
github is the 3rd or 4th thing in the list... that mainly to review postings and
possibly look back but mostly just to clear them and mark them as read... i hate
the interface because it is a

[2018-04-06 00:15] #1043 closed

[2018-04-06 00:36] onox commented on #1046
The wire antenna could be disabled in `Models/c172p.xml` (if it's a separate object in the 3D model) with a comment that the KR-87 ADF uses a "complex antenna (KA44 or KA44B) assembled from the two orthogonal ferrite beads for the magnetic part and a small amplified antenna for the electric reference".

Is the current 3D model missing the antenna's that @okroth mentioned?

[2018-04-06 00:51] mathieugouin commented on #1001
Would it be easier if I push to my branch for you to test?  Let me know.  Thanks.

[2018-04-06 03:52] wlbragg commented on #1035
Good question, I never noticed that before.

[2018-04-06 05:05] wlbragg commented on #1001
No this will work. I'm just really overloaded at the moment. Hopefully I can take a few minutes here in the next day or two to see if I can help you figure it out.

In the meantime...

Is this shift-action binding something new that was added by the devs?

If so I wonder if they need to add or activate a firing for it to the tool-tip code, if that makes sense? Because there are two separate action

[2018-04-06 07:28] wkitty42 commented on #1001
On 04/06/2018 01:05 AM, wlbragg wrote:

has anyone looked at how the airbus does it? i know that josh's craft have knobs
that rotate, push in and pull out... rotating sets a numerical interface...
pushing the knob in switches to something else and rotating then sets that
something else's numerical interface... pulling the button out sets to a third
item and spinning the knob sets the 3rd item's nu

[2018-04-06 07:49] tonghuix commented on #1047
@okroth Thank you again!

After change the c172p.xml file, the pitch not such sensitive, but when console property tree with elevator input from -0.01 to +0.01, the head still up and down still, but not quickly and abruptly.

And I also notice that when stay at ground (speed zero) with no air flow to elevator, the plane also head up and down but only response with full yoke, I found this when runn

[2018-04-06 08:45] tonghuix commented on #1035
I tested PHTO, it is okay then, but not perfect as PHOG.

[2018-04-06 08:51] okroth commented on #1047
Was the engine running?
The C172P flight model has prop wash implemented that effects pitch moment due to elevator deflection.

[2018-04-06 09:55] legoboyvdlp commented on #1035
I prefer PHOG the best, so far, but if volcanoes is an issue, PHTO or PHLI are fine.

[2018-04-06 09:56] legoboyvdlp commented on #1046
This seems to be the antenna mentioned:
![image](https://user-images.githubusercontent.com/10434911/38415355-27e58048-3989-11e8-86af-c921d77c74c6.png)

But as noted, this aircraft has **both** of the antennas?

[2018-04-06 10:13] tonghuix commented on #1047
@okroth oh yes, engine running at ground. But I wonder the prop wash shouldn't effect the plane such obviouse.

[2018-04-06 11:06] gilbertohasnofb commented on #1046
@legoboyvdlp I see at least three things that could be antennas in the image above, plus the wire connecting the tail to the wings.

[2018-04-06 11:34] gilbertohasnofb commented on #1042
@legoboyvdlp I just tried again, 30m and attempting to get as close to that angle but I hear no problems. I can't hear the gyro with the engine on from any angle close to that (nor any other angle for that matter).

[2018-04-06 13:34] wlbragg commented on #1046
Some more reference.
https://www.youtube.com/watch?v=AC6_vgGRHLo

I read a description of the ADF antenna being in two parts, one part, the wire on top and the other part on the belly.

This may be a difficult thing to pin down. For one antennas design could change slightly over time for the same piece of equipment.

[2018-04-06 13:55] wlbragg commented on #1042
@legoboyvdlp @gilbertohasnofb
I'm not hearing it either at any angle.

[2018-04-06 13:58] #1045 closed

[2018-04-06 14:01] gilbertohasnofb commented on #1042
@legoboyvdlp please do check if you can reproduce this again and try to narrow down the steps to get there.

[2018-04-06 15:24] dany93 commented on #1035
@wkitty42 wrote:

I don't agree. There is no parallax error.
The eye line is above the artificial horizon and compass (see the yoke axis). And it falls leftward from the spinning prop axis. Correct IMO.

[2018-04-06 15:26] okroth commented on #1046
Nice video. Unfortunately it misses the ADF antenna.
Regarding the KR-87 and the way it uses the antenna, that works different to the way ADF is taught to flight students. In the two orthogonal coils the received magnetic field of the radio signal induces voltages that differ based on the direction between antenna axis and radio transmitter. As opposite directions deliver the same voltage pairs, t

[2018-04-06 15:37] tonghuix commented on #1046
See this video, jump to 5:17 directly, it shows every antenna which installed on c172.
https://www.youtube.com/watch?v=bhwM91QE66s

[2018-04-06 15:45] okroth commented on #1047
The flight model uses the /propulsion/engine/prop-induced-velocity_fps property as airspeed for the elevator and rudder, not the airplane's speed. This may be over-estimating the actual value at the tail as we have a cabin in between that slows down the airstream.

[2018-04-06 16:12] okroth commented on #1046
And it says at 6:48, the ADF sense and loop antennas may be a combined unit, what the KA-44B is.
The KA-44B is specific to the KR-87.

[2018-04-06 16:13] tonghuix commented on #1047
I do believe the pitch still too sensitive, does anyone have experience that fly a real Cessna 172?

[2018-04-06 16:39] okroth commented on #1047
In reality the plane is flown with force not travel feedback.
When cruising with 100kts, an elevator displacement of 8° up is sufficient to pitch the plane by 6° nose up. This results in a triple as high CL giving 3g vertical acceleration.
The 8° are achieved by moving the yoke only by 28mm.
The resulting force from the elevator's hinge moment, however, is in the 400N range (about 40kg).
Usually o

[2018-04-06 17:01] dany93 commented on #1047
Thank you, @okroth for your detailed and very interesting explanations!

[2018-04-06 17:10] dany93 commented on #1047
@tonghuix
Is your joystick accurate enough? Sometimes, the potentiometers are worn and they become noisy, particularly close to the neutral, (not with Hall effect JS).
To get an idea about this, try by controlling with the mouse (which, of course, doesn't have this issue).

[2018-04-06 17:41] wkitty42 commented on #1035
On 04/06/2018 11:24 AM, dany93 wrote:

i didn't say there was a parallax error... i'm also not looking at up and down
but left and right... it just looks to me like the prop circle is set left of
craft center when in the internal view...

i'm trying to pull an update now so i can try to view it better than from a
picture... it may be a FOV illusion... that FOV looks larger than the default
FOV tha

[2018-04-06 17:45] wkitty42 commented on #1046
On 04/06/2018 11:26 AM, okroth wrote:

ok, so the real question is "does our c172p have a KR-87 installed?"... IIRC,
our craft is based on a certain RL craft that has additional liveries applied to
it... otherwise it is the same as the specific RL c172p... again, IIRC...

[2018-04-06 18:29] wkitty42 commented on #1035
that doesn't recenter me... it only allows me to move my view around... i need to be able to return to my initial view so i can see things properly... like CTRL-X returns you to the initial default FOV... something like maybe CTRL-V to return to initial view would be highly welcomed... OCD is bad... really bad when it takes 10 minutes to finally get recentered exactly as you were when you started

[2018-04-06 18:29] wkitty42 commented on #1035
and now i'm sitting here trying to get the radios to show their numbers and to get the AP turned on :(

[2018-04-06 18:36] gilbertohasnofb commented on #1035
Left clicking in mouse view mode (not regular mouse mode nor mouse control mode) does make your view look forward again, super useful when looking around the cockpit. It will not translate your view point back to the original position though, just the panning.

[2018-04-06 18:51] wkitty42 commented on #1035
oh, damn... i need to use my military left, eh? :rofl:  i hate using my mouse for anything other than clicking buttons on the dash... flying and viewing are too confusing but oh well... sorry for more noise... i am using the github interface now, though :smile_cat:

now, if i can just figure out how to get the damage repair to flip the craft back over after a crash... urgh...

[2018-04-06 18:55] wlbragg commented on #1035
crash... urgh...

CTRL+U and then land again.

[2018-04-06 19:26] wkitty42 commented on #1035
hahaha, yeah, that might work but... i'll just open another issue for it... damage repair should fix everything... including flipping the craft upright on its wheels... IMHO, of course :)

[2018-04-06 19:31] wkitty42 opened #1049 "damage repair should fix everything, including flipping a crashed craft back onto its landing gear"
i've crashed a few times with damage on and complex procedures and failures on... when i click the damage repair option, everything is apparently fixed and a tool tip pops up that says the battery is fully charged but the craft is still upside down or otherwise not on its gear...

damage repair should fix everything including flipping the craft back over onto its gear... this flipping over is what

[2018-04-06 19:38] gilbertohasnofb commented on #1049
This is a duplicate of https://github.com/c172p-team/c172p-detailed/issues/308

[2018-04-06 19:38] #1049 closed

[2018-04-06 19:40] wkitty42 opened #1050 "Repair option is available even with damage turned off"
in the aircraft options, the repair button is still available and working even when damage is turned off...

![20180406-c172p-repair-available-without-damage-option-01](https://user-images.githubusercontent.com/4641713/38440885-d4cb575c-39b0-11e8-8f91-1135f6ec935b.jpg)

[2018-04-06 19:41] wkitty42 commented on #1049
durn it :(  ok...

[2018-04-06 19:43] wkitty42 commented on #308
geez, i reported this one, too :smiley_cat:
hard to believe that we've had this bug for almost 3 years :crying_cat_face:

[2018-04-06 19:55] gilbertohasnofb commented on #1050
If anyone implements this, please make sure that disabling damage will also fix the aircraft, else disabling damage with a broken aircraft will result in an unfixable airplane.

[2018-04-06 20:32] wkitty42 commented on #1050
yes, yes, yes! this! i forgot to mention it :)

[2018-04-06 20:37] wkitty42 commented on #308
i thought CTRL-U just flung you up higher than you currently are by 1000 feet each time you hit it... i would expect that an upside down crashed craft would remain upside down and that you might possibly be able to flip it back over by maybe diving and recovering that way... that's not something that many new users can do... i keep trying to just let go of everything and hope the craft will right

[2018-04-06 21:18] okroth commented on #1046
Models/c172p.xml defines a model named kr87 that refers to Interior/Panel/Instruments/kr87-adf/kr87.xml which defines the King KR-87.
To me this looks like the KR-87 is installed

[2018-04-06 21:31] onox commented on #1035
Use Shift + q.

[2018-04-06 22:38] okroth opened #1052 "BAT and ALT master switches should be interlocked"
When you switch ON the ALT master switch, the BAT is switched as well
When you switch OFF the BAT, the ALT is switched off too.
There are small tabs at the backside of the red rockers that move the other rocker accordingly.
Reason is to avoid that the alternator is on the electric network without the buffering battery.
![ces_s-1994-1-1a](https://user-images.githubusercontent.com/10168496/38447101-

[2018-04-06 22:46] wkitty42 commented on #1046
by jove, i think you're right :smile_cat:

![20180406-c172p-kr-87-tso-01](https://user-images.githubusercontent.com/4641713/38447337-be15ee9a-39ca-11e8-8242-5abe93d32b23.jpg)

[2018-04-06 22:46] gilbertohasnofb commented on #1052
So let me see if I understand what you are suggesting:
* switching the alternator ON will also switch the battery ON if the latter was OFF
* switching the battery ON will not affect the alternator state
* switching the alternator OFF will not affect the battery state
* switching the battery OFF will switch the alternator OFF as well if the later was ON

Is that correct?

[2018-04-06 22:49] wkitty42 commented on #1035
SHIFT-Q? can't say that i've seen that one listed in the in-sim help...
[time passes]
whoa! that's nice!! thanks for the clue :smile_cat:

[2018-04-06 22:51] wkitty42 commented on #308
i've asked on the dev list about this... the first response, from jsb, suggests to set roll and pitch to zero... do you think that will do it? i've still more messages to read over there so there may be more answers... if so, i'll comment them here...

[2018-04-07 03:03] wlbragg commented on #308
@wkitty42

FYI, it appears to be as easy as roll and pitch to 0. I tested it and I think that is pretty much all it will take. Although we are going to have to have a check to not do this if it's not needed.

[2018-04-07 06:25] tonghuix commented on #308
Have you try MIG-15, it has a Full Reset button at the menu, and set everything back in 1 second!

[2018-04-07 06:29] tonghuix commented on #1052
@gilbertohasnofb I think you are correct.

[2018-04-07 06:56] tonghuix commented on #1047
@okroth thank you very much!
@dany93 yes, my stick using Hall effect JS (T16000M), very very accuracy, that's why I found this question, because very small 'vibration' will cause a huge and rapidly movement on the aircraft.

Now what I have done is set a larger range of 'dead zone' near neutral, and train myself to adopt this! At least now I can fly a rectangle course in ±200 ft. well still need m

[2018-04-07 07:32] okroth commented on #1052
Yes,

that is the correct behaviour

[2018-04-07 10:27] gilbertohasnofb commented on #308
Possibly just check if the either the roll or pitch is above 90 degrees. If so, then the aircraft is certainly flipped. Anything less than that and it should be a slope.

[2018-04-07 10:30] gilbertohasnofb commented on #1052
Great, thank you so much.

@AmaluSusan you were looking for an issue to tackle, would you be interested in this one?

Also, we have just added a [CONTRIBUTING.md](https://github.com/c172p-team/c172p-detailed/blob/master/CONTRIBUTING.md) file to our repo detailing our preferences of style and how to contribute.

[2018-04-07 11:36] AmaluSusan commented on #1052
Yeah I’m interested.

[2018-04-07 11:41] gilbertohasnofb commented on #1052
Great, give me or @onox a shout if you need any help. Looking forward to your PR.

[2018-04-07 12:37] tonghuix commented on #1047
Hi, I suggest we could make the plane response pitch input not such active and fast especially in low air speed.

I found it is very odd that the pitch become more sensitive at low air speed (lower than 75kt), and less sensitive at high air speed (faster than 85kt).

[2018-04-07 15:40] wkitty42 commented on #308
i understand what you're saying about being on a slope, @gilbertohasnofb ... the problem is when you're flipped over but leaning against crates or a tree or another craft... i haven't looked at the numbers to see what they are when one ends up in this condition, though... i guess i/we need to find them and run some tests... there's so many properties in the sim, i'm not sure even where to start lo

[2018-04-07 15:43] gilbertohasnofb commented on #308
@wkitty42 I haven't tested in the sim either, but I assume that roll go from -180 degrees to 180 degrees and the same for pitch, in which case it should be trivial to detect if the plane is upside down.

[2018-04-07 15:51] wkitty42 commented on #308
ok... i'm concerned that we may be canted at an angle and not completely upside down... possibly we flipped and flopped and bounced around (you know how crazy the sim can get with bounces) and we may end up against another object upright but with the wing or nose or tail on the object and the other end on the ground... mostly i find myself upside down but those static crates at that one airport ha

[2018-04-07 16:00] dany93 commented on #308
Anyway, if an angle is not inside about +/- 45 deg after "Repair", we can assume that the aircraft is not in a comfortable situation.  :grimacing:

[2018-04-07 16:32] wlbragg commented on #1052
Looks like you can see the tab on the alt switch in the shot above. The logic you describe would be achievable with that "single" tab, (not that we need this visual for the sim as it is so small).

This is interesting as normally, in a car,  the alternator is wired to the battery through the regulator. The is no method to isolate either one nor to turn off either one. Any idea why there is this op

[2018-04-07 18:06] wkitty42 commented on #308
that's an idea, @dany93 ... check the angle after the repair and then flip if needed... i thikn i'd go for something a bit less than 45 degrees, though... it isn't very often that you'll find your craft on a slope that's larger than maybe 15 degrees... possibly 20 but that's going to be a sticky airport anyway :)

[2018-04-07 18:26] gilbertohasnofb commented on #1052
@wlbragg I don't think I can see the tab in the image above, but as you write it's too small to bother to model anyway.

I've seen at least one airclub checklist for the model P requiring you to have only the battery on while starting the engine, and then turning the alternator on only a bit later once the engine is running and stable. Also, I think you need to turn off the battery if you want to

[2018-04-07 19:52] mathieugouin commented on #1001
Ok, some history here :)

The shift action was added by me through another issue (https://github.com/c172p-team/c172p-detailed/issues/949).  See also discussion in the pull request (https://github.com/c172p-team/c172p-detailed/pull/990)

I will try your idea about "faking" the volume update.

[2018-04-07 20:15] wlbragg commented on #1001
@wkitty42
While you may be right and they may have an example of what it is that @mathieugouin is trying to do, it is specific to the help context only and not really about the action or implementation of the animation. He's literally trying to have a single help context binding take update data from two separate actions in the same animation code block.

I would ask on the dev list about this. It

[2018-04-08 12:09] okroth commented on #1052
If your engine fails, the alternator does not provide power, but needs current to feed the electromagnet in the rotor winding. This is approx 1.5 ... 2.5A which you would like to save with a 12.5Ah battery...
The alternator is never connected via the regulator, only six diodes are between the stator winding and the alternator relay. The regulator regulates the current in the rotor winding and such

[2018-04-08 12:44] gilbertohasnofb commented on #928
@wlbragg if our request to have a fixed scenery tile available in all versions then this issue can be closed and we can open a new one for moving the tutorials once and for all for whatever airport will be decided.

[2018-04-08 12:48] gilbertohasnofb opened #1054 "Create tutorials for float variants"
It would be nice to have a take off and a landing tutorials for the float variants.

[2018-04-08 12:49] gilbertohasnofb commented on #1054
Note: we are in the process of deciding a fixed scenery tile for the tutorials, so please do not work on this before that has been decided. This tile will likely be in Hawaii and so these two tutorials can take place somewhere in the sea close to the selected airport.

[2018-04-08 14:32] dany93 commented on #1047
I don't find this.
At low airspeed, throttle it up makes it more sensitive, but we need at worst same elevator amplitudes at high regime low airspeed, and more elevator amplitude at low regime. Never less elevator amplitude at lower speeds.

At idle aiming at stall in horizontal flight (without flaps), I need 80 - 90% elevator up just before stall.

@okroth, could you try it and give your opinion

[2018-04-08 15:34] wkitty42 commented on #928
:+1:

[2018-04-08 15:43] wkitty42 commented on #1054
excellent idea... i remember playing around with the amphibious craft and getting it up onto the land... i was playing in the KRDU area and flying over to Jordan Lake to land there and ""camp"" on the shore :)

FWIW: Jordan Lake is west of KRDU... it is the result of flood protection plan started back in 1947, IIRC... we used to go swimming there all the time but life moves on :smile_cat:

[2018-04-08 15:53] tonghuix commented on #1047
Yes, I also use nearly full displacements at low speed, but the sensitively not triggered by displacements also by small movement.

[2018-04-08 16:14] wlbragg commented on #1054
@gilbertohasnofb FYI: the mooring code I'm implementing gives you the option to automatically start at a mooring location if in the float or amphibian configuration. With that comes a list of historical (and some custom) mooring locations that you will start up in if close to that location. We can add a mooring location near whatever the final runway selection is for some consistency. It may fit n

[2018-04-08 17:44] wlbragg commented on #1035
I bumped the question about fixing PHLI and getting a firm conformation on doing this at all.
But there is no reason we can't decide on the backup airport right now.
PHTO or PHOG.
I vote PHTO.

@gilbertohasnofb

I will commit to making this happen, with your help (textures), at whatever location is selected. But hopefully we can get some other contributors working on the airport models. It's very